Schemas7/ap_aged_analysis_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd. -->
<!-- 
     Schema for the AP Aged Trial Balance Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="APAgedTrialBalanceReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="APAgedTrialBalanceReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportAsOf" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportAsOf" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SuppliersOnHold" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SuppliersOnHold" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeZeroBalanceSuppliers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeZeroBalanceSuppliers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeUnapprovedInvoice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeUnapprovedInvoice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeRetainedInvoices" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeRetainedInvoices" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrencyValues" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CurrencyValues" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConvertToLocalValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ConvertToLocalValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgeingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AgeingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TagFile" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateOnReport" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_DateOnReport" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FollowUpDateFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_FollowUpDateFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FollowUpDateFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrencyFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CurrencyFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrencyFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectedYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectedMonth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WithholdingTaxFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_WithholdingTaxFlag" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GroupItems">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GroupItem" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Group" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SequenceDescription" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SupplierItem" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SupplierHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupShortName" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupAddr1" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupAddr2" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupAddr3" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupAddr3Loc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupAddr4" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupAddr5" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupPostalCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupAddGpsLat" minOccurs="0"/>
													<xsd:element name="SupAddGpsLong" minOccurs="0"/>
													<xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MerchGlCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="FreightGlCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="UserField1" type="xsd:string" minOccurs="0"/>
													<xsd:element name="UserField2" type="xsd:string" minOccurs="0"/>
													<xsd:element name="FirstPurchDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LastPurchDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupplierClass" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
													<xsd:element name="APSBRN_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TBLCUR_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TermsCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TBLAPT_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Contact" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupplierOnHold" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_SupplierOnHold" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Report_SequencingFormula" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Report_SequencingFormula_Aged" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Invoices" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="InvoiceHeader" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
																<xsd:element name="APSBRN_Description" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																<xsd:element name="JournalDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceDueDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="OrigInvValue" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_OrigInvValue" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceStatus" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_InvoiceStatus" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceTotalCurrent" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_InvoiceTotalCurrent" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceTotalPrev1" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_InvoiceTotalPrev1" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceTotalPrev2" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_InvoiceTotalPrev2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceBeforePrev2" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_InvoiceBeforePrev2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvalidCurrencyMsg" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_InvalidCurrencyMsg" type="xsd:string" minOccurs="0"/>
																<xsd:element name="RegisteredInvoice" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_RegisteredInvoice" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Report_InvoiceDate" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Transactions" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="TransactionDetail" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_Type" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Date" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TransactionAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TransactionAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvoiceTotalCurrent" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_InvoiceTotalCurrent" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvoiceTotalPrev1" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_InvoiceTotalPrev1" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvoiceTotalPrev2" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_InvoiceTotalPrev2" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvoiceBeforePrev2" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_InvoiceBeforePrev2" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="InvoiceTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="InvoiceBalance" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_InvoiceBalance" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SupplierTotals" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="InvoiceBalance" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_InvoiceBalance" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ForCurrInvBal" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_ForCurrInvBal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalCurrent" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_TotalCurrent" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalPrev1" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_TotalPrev1" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalPrev2" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_TotalPrev2" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalBeforePrev2" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_TotalBeforePrev2" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalRegisteredInvoices" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_TotalRegisteredInvoices" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="GroupTotals" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GroupTotal" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TotalsGroup" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceCurrency" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceBalance" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_InvoiceBalance" type="xsd:string" minOccurs="0"/>
													<xsd:element name="RegInvoiceCurrency" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalRegisteredInvoices" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_TotalRegisteredInvoices" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="GroupSummary" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="RegisteredInvoices" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_RegisteredInvoices" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchActivityDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InvoicesReceived" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_InvoicesReceived" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DebitNotes" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_DebitNotes" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CreditNotes" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_CreditNotes" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Adjustments" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_Adjustments" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Disbursements" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_Disbursements" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Revaluations" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_Revaluations" type="xsd:string" minOccurs="0"/>
										<xsd:element name="WithholdingTax" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_WithholdingTax" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ControlBalance" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_ControlBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TotalActivity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_TotalActivity" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CompanyTotals">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LastAPJournal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LastChkRegister" type="xsd:string" minOccurs="0"/>
							<xsd:element name="APBalanceFWD" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_APBalanceFWD" type="xsd:string" minOccurs="0"/>
							<xsd:element name="APBalanceFwdDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdInvoices" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MtdInvoices" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdDebits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MtdDebits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdCredits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MtdCredits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdAdjustments" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MtdAdjustments" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdDisbursements" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MtdDisbursements" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdRevaluations" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MtdRevaluations" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdWithholdingTax" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MtdWithholdingTax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdErrorCor" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MtdErrorCor" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ControlBalance" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_ControlBalance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandTotalCurrent" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GrandTotalCurrent" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandTotalPrev1" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GrandTotalPrev1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandTotalPrev2" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GrandTotalPrev2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandTotalBeforePrev2" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GrandTotalBeforePrev2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandTotalControl" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GrandTotalControl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandTotalRegisteredInvoices" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GrandTotalRegisteredInvoices" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApEndingBalance" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_ApEndingBalance" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
