Schemas7/ap_tax_distribution_report_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the AP Tax Dsitribution Business Object Out
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="APTaxDistributionReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="APTaxDistributionReport">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Q_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DeleteFile" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DeleteFile" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoiceDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoiceDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_InvoiceDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JournalFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JournalFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JournalFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TaxCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TaxCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_TaxCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PeriodFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PeriodFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PeriodFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_YearFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Tax">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Purchases" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Journals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Journal" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="JournalHeader" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="JnlMonth" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_JnlMonth" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="JnlYear" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_Journal" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="JnlDate" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="Suppliers" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="SupplierDetail" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="Invoices" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="InvoiceDetails" minOccurs="0" maxOccurs="unbounded">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="Entry" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Edited_Entry" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Translated_TransactionType" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="InvoiceValue" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="Edited_InvoiceValue" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="TaxValue" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="Edited_TaxValue" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="DiscountValue" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="Edited_DiscountValue" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="Edited_TaxableAmount" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Analysis" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element name="Details" minOccurs="0" maxOccurs="unbounded">
                                                          <xsd:complexType>
                                                            <xsd:sequence>
                                                              <xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="AnalysisAmount" type="xsd:double" minOccurs="0"/>
                                                              <xsd:element name="TaxablePortion" type="xsd:double" minOccurs="0"/>
                                                              <xsd:element name="Edited_TaxablePortion" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
                                                              <xsd:element name="Edited_TaxableAmount" type="xsd:string" minOccurs="0"/>
                                                            </xsd:sequence>
                                                          </xsd:complexType>
                                                        </xsd:element>
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="JournalTotal" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="TotalInvoiceValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TotalInvoiceValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TotalDiscountValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TotalDiscountValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TotalTaxableAmount" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TotalTaxableAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TotalTaxValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TotalTaxValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxTotal" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ADMTAX_Description" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="CurTaxRate" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="TotalTaxableAmount" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_TotalTaxableAmount" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CompanyTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="JournalTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TotalInvoiceValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalInvoiceValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalDiscountValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalDiscountValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxableAmount" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalTaxableAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalTaxValue" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="TaxCodeTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TotalTaxableAmount" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalTaxableAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalCalculatedTaxAmount" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalCalculatedTaxAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalInBalanceIndicator" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxCodes" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ADMTAX_Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurTaxRate" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="CodeTotals" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="TotalTaxableAmount" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TotalTaxableAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TotalCalculatedTaxAmount" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TotalCalculatedTaxAmount" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
