Schemas7/APSQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Accounts Payable Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AccountsPayableOptions">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="General">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SuppAmendJnlsReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PermEntReqAp" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AskNotPerDetDistrEnt" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConsolInvByMthDue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValidateSuppClass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValidateGeogArea" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ContraInvByBranch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CashProjPeriodDays" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CheckPrintReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PayRelDefExchRate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PayRelApplyToOsInvBal" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Tax">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ApTaxDistrMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SecondTierTaxReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SecondTierTaxDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SecondTierTaxCalcOnTax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DisbTaxOverMultGlAccs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefTaxCodeApInvPost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefQstCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowTaxForForeignSupp" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SuppDefTaxCodeReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqTaxAmForSettleDisc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CalcTaxUsingHistRates" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefTaxCodeApSettDisc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqQstAmForSettDisc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefQstCodeSettDisc" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="History">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MthsRetZeroBalInv" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetExpJnls" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetPayCycle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetTaxDistrAp" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPerRetExpDistr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPerRetDisbDistr" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Numbering">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SupplierNumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextSupplierNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PayRunNumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextPayRunNum" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Integration">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ApLinkedToCb" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="UserDefined">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DescSupplierUdf1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescSupplierUdf2" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PeriodCurrentYear">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ApcurrDatePeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrDatePeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApcurrFlagPeriod13" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PeriodPreviousYear">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ApPrevDatePeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevDatePeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApPrevFlagPeriod13" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CurrentMonth">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ApCurrentYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApCurrentMonth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AccPeriodsPerYear" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Information" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ApNextExpJnlPrevYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApNextExpJnlCurrYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApNextPayRegPrevYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApNextPayRegCurrYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApNextContraNumber" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GRN">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GrnVariance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MaxPermGrnVariance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IgnoreRndVarLessThan" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AutoVouchering">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AutoVoucherNumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextAutoVoucherNum" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
