Schemas7/APSQ94.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the AP Payment Register Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CheckRegister">
    <xsd:annotation>
      <xsd:documentation>This sequence is used to indicate the check register selection. The default is A and the other valid options are R and S.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;R=Range;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="PayMonthSelection" minOccurs="0"/>
        <xsd:element ref="PayYearSelection" minOccurs="0"/>
        <xsd:element ref="CheckRegister" minOccurs="0"/>
        <xsd:element ref="SupplierSelection" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MonthSelection" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This sequence is used to indicate the month for the period selection.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;01=01;02=02;03=03;04=04;05=05;06=06;07=07;08=08;09=09;10=10;11=11;12=12;13=13;"/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReconcileReestablishedChecks" minOccurs="0"/>
        <xsd:element ref="PaymentRun" minOccurs="0"/>
        <xsd:element ref="CashBookJournalNo" minOccurs="0"/>
        <xsd:element ref="MonthSelection" minOccurs="0"/>
        <xsd:element ref="YearSelection" minOccurs="0"/>
        <xsd:element ref="UseDateFilter" minOccurs="0"/>
        <xsd:element ref="Reprint" minOccurs="0"/>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReconcileReestablishedChecks">
    <xsd:annotation>
      <xsd:documentation>This sequence is used to indicate whether to reconcile re-established void checks.The default is Y and the other valid option is N.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Reprint">
    <xsd:annotation>
      <xsd:documentation>This sequence is used to indicate the reprint journal report option.The default is N and the other valid option is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>This is the style sheet to be applied.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="YearSelection" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This sequence is used to indicate the year for the period selection.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;"/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PayMonthSelection">
    <xsd:annotation>
      <xsd:documentation>This sequence is used to indicate the pay month selection. The default is A and the other valid options are R and S.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PayYearSelection">
    <xsd:annotation>
      <xsd:documentation>This sequence is used to indicate the check register selection. The default is A and the other valid option is S.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SupplierSelection">
    <xsd:annotation>
      <xsd:documentation>This sequence is used to indicate the check register selection. The default is A and the other valid options are R and S.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UseDateFilter">
    <xsd:annotation>
      <xsd:documentation>This filter is used to indicate whether to use the year and month selection filters. The default is N and the other valid value is Y.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PaymentRun" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element is used to indicate the payment run number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CashBookJournalNo" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element is used to indicate the cash book journal number if Accounts payable is linked to cashbook. This element is however only used for internal syspro use as it is needed for another program and will never be populated by the business object standalone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
