Schemas7/APSQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for Supplier Query Business Object Out
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ApQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Supplier">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EnquiryDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierTypeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Contact" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OnHold" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DiscPct" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TermsCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TBLAPT_Description" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
							<xsd:element name="APSBNK_Description" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TBLCUR_Description" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="APSBRN_Description" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierClass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierClassDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Area" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AreaDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvDiscCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvDiscCodeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LineDiscCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LineDiscCodeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NationalityDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefaultChequeDay" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BankAccount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BankBranch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxRegnNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupAddr1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupAddr2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupAddr3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupAddr3Loc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupAddr4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupAddr5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupPostalCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupAddGpsLat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupAddGpsLong" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LanguageCodeSup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RemitName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RemitAddr1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RemitAddr2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RemitAddr3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RemitAddr3Loc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RemitAddr4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RemitAddr5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RemitPostalCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RemitGpsLat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RemitGpsLong" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LanguageCodeRem" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UserField1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UserField2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PurchOrdAllowed" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Contracts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FirstPurchDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LastPurchDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MinPoVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_MinPoVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MinPoMass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_MinPoMass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MinPoVolume" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_MinPoVolume" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PoDefaultDoc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MerchGlCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FreightGlCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Email" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FaxContact" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EdiFax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EdiTypeFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EdiReceiverCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FaxRemitFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FaxRemitDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FaxRemitNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FaxRemitContact" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrentBalance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_CurrentBalance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdMerchVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_MtdMerchVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdFreightVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_MtdFreightVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdOtherVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_MtdOtherVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdDsbVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_MtdDsbVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdTaxVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdTax2Val" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YtdMerchVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_YtdMerchVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YtdFreightVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_YtdFreightVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YtdOtherVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_YtdOtherVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YtdDsbVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_YtdDsbVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YtdTaxVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YtdTax2Val" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PyrMerchVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_PyrMerchVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PyrFreightVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_PyrFreightVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PyrOtherVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_PyrOtherVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PyrDsbVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_PyrDsbVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MonthlyPurchases" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="PurchValMth1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchValMth2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchValMth3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchValMth4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchValMth5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchValMth6" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchValMth7" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchValMth8" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchValMth9" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchValMth10" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchValMth11" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchValMth12" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LastChequeDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LastChequeVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LastCheque" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LastChequeBank" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LastChequeBankDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateSuppAdded" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ManagementNotes" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="DateLastModified" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FollowUpDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="IsFollowUpDateDue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Image" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomForm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Invoices" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="InvoiceDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
													<xsd:element name="JournalDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DiscountDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OrigInvValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OrigDiscValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MthInvBal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceStatus" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceStatusDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PaymGrossValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PaymDiscValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceYear" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceMonth" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ConvRate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MulDiv" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MulDivDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EntryNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BaseCurrencyValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ForeignToLocalConversion" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Payments" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="PaymentDetail" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="EntryNumber" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="JournalDate" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="PaymentReference" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TrnValue" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TrnType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TrnTypeDescription" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="PostValue" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="PostCurrency" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="PostConvRate" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="PostMulDiv" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="PostMulDivDescription" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="RegisteredInvoices" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="RegisteredInvoiceDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EntryDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DiscountDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DiscountValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DiscActiveFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ExchRateAtEntry" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MulDiv" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MulDivDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AuthorisingPerson" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DateInvoiceSent" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DateApprOrPurg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="FollowUpDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Department" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvRegnStatus" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvRegnStatusDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceModified" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DateLastModified" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ReasonForChange" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvAppliedToLct" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EntryNumber" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CashProjection" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="PastDue" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NumberofInvoices" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Current" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NumberofInvoices" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Age1" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NumberofInvoices" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element name="DaysFrom" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DaysTo" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Age2" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NumberofInvoices" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DaysFrom" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DaysTo" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="AgeOver" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NumberofInvoices" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DaysOver" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Totals" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NumberofInvoices" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Unapproved" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NumberofInvoices" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="GoodsReceivedNotes" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="GRNDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="Grn" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GrnSource" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="JournalEntry" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OrigReceiptDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyReceived" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DeliveryNote" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CurGrnValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MatchedValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GrnMatchedFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MVersion" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MRelease" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Receipts" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="ReceiptDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PurchaseOrderLin" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyReceived" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PriceReceived" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OrigPurchPrcFor" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AddReference" type="xsd:string" minOccurs="0"/>
													<xsd:element name="JnlDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PoDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LineDueDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DateReceived" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ScrapAndReject" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="ScrapAndRejectDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ScrapRejectFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ScrapRejectDescrip" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ScrapRejectQty" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DocumentNum" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PoDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="RejectCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Grn" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OrigLineDueDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ScrapRejectDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
