Schemas7/APSQLBOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the AP 1099 Label Print Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="AP1099LabelPrintReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AP1099LabelPrintReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LabelSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LabelSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LabelsToPrint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tax1099Year" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Tax1099Year" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MinimumYTDPayment" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MinimumYTDPayment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierClassSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierClassSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierClassSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BankSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BankSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BankSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GeographicAreaSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GeographicAreaSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GeographicAreaSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BranchSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrencySelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CurrencySelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrencySelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFormatSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierFormatSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFormatSelectionFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AP1099Label" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AP1099LabelDetails" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_SupplierType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BankID" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BankDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddress1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddress2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddress3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SuppAddr3Loc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddress4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddress5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupAddGpsLat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupAddGpsLong" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShortName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContactName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Area" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UserDefined" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateOfLabelPrint" type="xsd:string" minOccurs="0"/>
										<xsd:element name="YtdMerchVal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_YtdMerchVal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PrevYtdMerchVal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_PrevYtdMerchVal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddress1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddress2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddress3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyLoc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddress4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddress5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyPostalCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyGpsLat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyGpsLong" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyRegistrationNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PayeReference" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceAddress1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceAddress2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceAddress3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemitAddr3Loc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceAddress4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceAddress5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittancePostalCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemitGpsLat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemitGpsLong" type="xsd:string" minOccurs="0"/>
										<xsd:element name="YtdAmount1099" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_YtdAmount1099" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PrevAmount1099" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_PrevAmount1099" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Message1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Message2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Message3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Message4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Message5" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
