Schemas7/APSQCIOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the AP Contra Invoice Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="APContraInvoicesReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="APContraInvoicesReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MonthSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MonthSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CheckRegisterFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CheckRegisterFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="APContraInvoices">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="APContraInvoicesHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RegisterNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlMonth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlYear" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BankDescription" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="APContraInvoicesDetails" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="APContraInvoicesDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LedgerCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ExchangeRate" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
