Schemas7/APSQ11.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the AP Journal Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="BranchSelection">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the branch selection.The default is A and the other valid options are R and S.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=ApBranch;A=All;S=Single;"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="R"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="JournalNumberSelection" minOccurs="0"/>
				<xsd:element ref="BranchSelection" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JournalNumberSelection">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the journal number selection.The default is A and the other valid options are R and S.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="R"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MonthSelection">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the month for the period selection.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;01=01;02=02;03=03;04=04;05=05;06=06;07=07;08=08;09=09;10=10;11=11;12=12;13=13;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="01"/>
				<xsd:enumeration value="02"/>
				<xsd:enumeration value="03"/>
				<xsd:enumeration value="04"/>
				<xsd:enumeration value="05"/>
				<xsd:enumeration value="06"/>
				<xsd:enumeration value="07"/>
				<xsd:enumeration value="08"/>
				<xsd:enumeration value="09"/>
				<xsd:enumeration value="10"/>
				<xsd:enumeration value="11"/>
				<xsd:enumeration value="12"/>
				<xsd:enumeration value="13"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ReprintJournalReport" minOccurs="0"/>
				<xsd:element ref="MonthSelection" minOccurs="0"/>
				<xsd:element ref="YearSelection" minOccurs="0"/>
				<xsd:element ref="XslStylesheet" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PrintJournalSummary">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the print summary journal page option.The default is Y and the other valid option is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option" minOccurs="0"/>
				<xsd:element ref="Filter" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReprintJournalReport">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the reprint journal report option.The default is N and the other valid option is Y.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="XslStylesheet" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This is the style sheet to be applied.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="YearSelection" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the year for the period selection.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
