Schemas7/APSQ71OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the AP Purchase Analysis Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="APPurchaseAnalysis" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="APPurchaseAnalysis">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PurchaseHistorySelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PurchaseHistorySelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MinPurchaseAmount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Edited_MinPurchaseAmount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaxPurchaseAmount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Edited_MaxPurchaseAmount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeOtherValuesInAboveRange" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeOtherValuesInAboveRange" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MinFreightPercentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Edited_MinFreightPercentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaxFreightPercentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Edited_MaxFreightPercentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintSupplierPurchaseHistory" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintSupplierPurchaseHistory" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoicesAnalyzedByBranch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_InvoicesAnalyzedByBranch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Mtd_Inv_Msg" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AnalyzeFromDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorSecurityAccessControl" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Suppliers" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SupplierHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="APSMST_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierOnHoldMessage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Shortname" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ApAnalysisDetail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="MTDAnalysis" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SupplierClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="APSBRN_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Merchandise" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Merchandise" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Freight" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Freight" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Other" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Other" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Tax" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Tax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxRelief" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TaxRelief" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Total" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Total" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesMerch" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesMerch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesFrt" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesFrt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesOther" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesOther" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="YTDAnalysis" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SupplierClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="APSBRN_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Merchandise" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Merchandise" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Freight" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Freight" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Other" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Other" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Tax" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Tax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxRelief" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TaxRelief" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Total" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Total" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesMerch" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesMerch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesFrt" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesFrt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesOther" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesOther" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PYRAnalysis" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SupplierClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="APSBRN_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Merchandise" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Merchandise" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Freight" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Freight" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Other" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Other" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Total" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Total" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesMerch" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesMerch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesFrt" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesFrt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesOther" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesOther" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="MTDValuesPerBranch" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="MTDBranches" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="MTDBranch" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="APSBRN_Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Merchandise" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_Merchandise" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CreditorsControlMessage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TemporaryVendorsTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="YTDTemporaryVendorTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Merchandise" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Merchandise" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Freight" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Freight" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Other" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Other" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Tax" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Tax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Total" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Total" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesMerch" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesMerch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesFrt" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesFrt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesOther" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesOther" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PYRTemporaryVendorTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Merchandise" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Merchandise" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Freight" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Freight" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Other" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Other" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Total" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Total" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesMerch" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesMerch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesFrt" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesFrt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesOther" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesOther" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="PurchaseAnalysisTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="MTDPurchaseAnalysisTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Merchandise" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Merchandise" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Freight" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Freight" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Other" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Other" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Tax" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Tax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxRelief" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TaxRelief" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Total" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Total" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesMerch" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesMerch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesFrt" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesFrt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesOther" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesOther" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="YTDPurchaseAnalysisTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Merchandise" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Merchandise" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Freight" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Freight" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Other" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Other" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Tax" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Tax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxRelief" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TaxRelief" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Total" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Total" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesMerch" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesMerch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesFrt" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesFrt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesOther" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesOther" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PYRPurchaseAnalysisTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Merchandise" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Merchandise" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Freight" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Freight" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Other" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Other" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Total" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Total" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesMerch" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesMerch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesFrt" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesFrt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchasesOther" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PurchasesOther" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
