Schemas7/APSQ30OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema List for the AP Release Schedule Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="APReleaseScheduleReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="APReleaseScheduleReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextPaymentDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeCreditInvoiceBalance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeCreditInvoiceBalance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierClassSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierClassSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierClassSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BranchSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchSelectionFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SupplierItems">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SupplierItem" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SupplierHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SupplierDetails" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SupplierDetail" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
																<xsd:element name="BranchDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceBalance" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_InvoiceBalance" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DiscountAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_DiscountAmount" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceNet" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_InvoiceNet" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DiscountDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ResultingDiscountDays" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ResultingDueDays" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SupplierTotals" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TotalInvoiceBalance" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_TotalInvoiceBalance" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalDiscountAmount" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_TotalDiscountAmount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalInvoiceNet" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_TotalInvoiceNet" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SupplierCredits" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CreditInvoiceBalance" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_CreditInvoiceBalance" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CreditDiscountAmount" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_CreditDiscountAmount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CreditInvoiceNet" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_CreditInvoiceNet" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SupplierItemsTotal">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PastDueInvoices" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_PastDueInvoices" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DueInvoices" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_DueInvoices" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DiscountInvoices" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_DiscountInvoices" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalGrossScheduled" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_TotalGrossScheduled" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DiscountsAvailable" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_DiscountsAvailable" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalNetScheduled" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_TotalNetScheduledTo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CreditsAvailable" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CreditsAvailable" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DiscountsOnCredit" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_DiscountsOnCredit" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
