Schemas7/APSQQSOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the AP Second Tier Tax Business Object Out
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="APSecondTierTax" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="APSecondTierTax">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DeleteDistributionFile" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DeleteDistributionFile" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JnlDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JnlDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JnlDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JournalFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JournalFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JournalFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JnlMonthFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JnlMonthFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JnlMonthFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JnlYearFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JnlYearFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JnlYearFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="JournalDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="JournalDetail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="JournalHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JnlDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JnlMonth" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JnlYear" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="JournalLines" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="JournalLine" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_TransactionType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="InvoiceValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_InvoiceValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="InvoiceDisc" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_InvoiceDisc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxableAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAmount" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DistributionLines" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxableAmount" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="JournalTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="InvoiceValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_InvoiceValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="InvoiceDisc" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_InvoiceDisc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TaxableAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Amount" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportJournalTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SecondTierDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Amount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Code" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Taxable_Amount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Rate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Calculated" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_InvoiceValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceDisc" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_InvoiceDisc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_TaxableAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_TaxAmount" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DistributionTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TaxCodes" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TaxCode" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ADMTAX_Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurTaxRate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Edited_CurTaxRate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxableAmountTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxableAmountTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AmountTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AmountTotal" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="TaxCodeTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TaxableAmountTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TaxableAmountTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AmountTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_AmountTotal" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
