Schemas7/APSQ53OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the AP Disbursement Distribution Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="APDisbursementDistributionReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="APDisbursementDistributionReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CurrentGLMonth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrentGLYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EntrySelectionBy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_EntrySelectionBy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReprintDistributionOption" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReprintDisOption" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReprintSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReprintSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerMonthSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LedMthSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerMonthSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerYearSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LedYearSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerYearSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerEntriesGroupSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LedEntGrpSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerEntriesGroupSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerJournalSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LedJnlSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerJournalSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerCodeSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LedCodeSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerCodeSelectionFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="EntriesItem">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="EntriesGroupHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LedgerMonth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LedgerMonth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LedgerYear" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlGroupNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlJournal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlJnlGroup" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlJournalEnNoDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LedgerCodes" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LedgerCode" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="LedgerCodeHeader" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="LedgerCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="LedgerDescription" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Suppliers" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Supplier" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="SupplierHeader" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="TransactionDetails" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="TransactionDetail" minOccurs="0" maxOccurs="unbounded">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="TransactionCode" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Translated_TransCode" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="ChequeRegisterNo" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Date" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="PaymentReference" minOccurs="0"/>
																									<xsd:element name="Debit" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="EditedDebit" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Credit" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="EditedCredit" type="xsd:string" minOccurs="0"/>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="SupplierTotal" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Debit" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="EditedDebit" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="Credit" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="EditedCredit" type="xsd:string" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="LedgerTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Debit" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedDebit" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Credit" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedCredit" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="TransactionDetails" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="LedgerCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="LedgerDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Debit" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedDebit" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Credit" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedCredit" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DistributionTotal" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Debit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedDebit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Credit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedCredit" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ReportTotal" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AccountsPayableDebit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedAccountsPayableDebit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AccountsPayableCredit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedAccountsPayableCredit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DiscountsTakenDebit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedDiscountsTakenDebit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DiscountsTakenCredit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedDiscountsTakenCredit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CashDebit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedCashDebit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CashCredit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedCashCredit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="WithholdingTaxDebit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedWithholdingTaxDebit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="WithholdingTaxCredit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedWithholdingTaxCredit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TotalDebit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedTotalDebit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TotalCredit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedTotalCredit" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
