Schemas7/ar_collector_run_report_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     This is an example XSD-OUT instance to demonstrate
     use of the Collector Run Business Object Query
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="ARCollectorRunQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ARCollectorRunQuery">
    <xsd:complexType>
      <xsd:sequence minOccurs="0">
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCaptured" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeCaptured" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCancelled" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeCancelled" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePaymentInProcess" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePaymentInProcess" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeVerified" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeVerified" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClosed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeClosed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePDChecks" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePDChecks" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclInvoiceAttachedToPD" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_InclInvoiceAttachedToPD" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CollectorRunNoFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CollectorRunNoFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CollectorRunNoFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BankFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BankFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BankFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SalespersonFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrencyFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CurrencyFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrencyFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CollectorRuns">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CollectorRun" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CollectorRunHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CollectorRunNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PaymentCollector" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PaymentCollectorName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateCollected" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReceiptDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Status" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BankDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BatchCashTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_BatchCashTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BatchCheckTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_BatchCheckTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BatchOtherTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_BatchOtherTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BatchPDCheckTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_BatchPDCheckTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BatchTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_BatchTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GeographicArea" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GeographicAreaDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalespersonName" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="CollectorRunDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="LineNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PaymentCollector" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PaymentCollectorName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateCollected" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReceiptDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="InvoiceNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="InvoiceAmount" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_InvoiceAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CashTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CashTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CheckTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CheckTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OtherTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_OtherTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GeographicArea" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GeographicAreaDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalespersonName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PDChecks" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="PDCheck" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CollectorRunNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CustomerName" minOccurs="0"/>
                                <xsd:element name="AvailableDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Check" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_Amount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Narration" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Invoices" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Invoice" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="CollectorRunNumber" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Check" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="AvailableDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Invoice_Id" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_Amount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Allocation" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
