Schemas7/ar_invoice_register_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the AR Invoice Register Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ARInvoiceRegisterReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NewPagePerRegister" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_NewPagePerRegister" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HighlightMissingInvoices" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_HighlightMissingInvoices" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MonthSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RegisterNumberSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_RegNumSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RegisterNumberSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BranchSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchSelectionFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="RegisterEntries" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RegisterEntriesHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="RegisterNo" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PostingFinancialMonth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PostingFinancialYear" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PostingGLMonth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PostingGLYr" type="xsd:string" minOccurs="0"/>
										<xsd:element name="EntryMsg" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TransactionProcessing" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="TransactionProcessingDetails" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TransactionProcessingDetail" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="RegisterNo" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_DocumentType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Date" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CustomerNo" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CustomerPurchaseOrder" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DuplicateMsg" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ForeignCurrency" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="MerchandiseAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedMerchandiseAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="FreightAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedFreightAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="MiscCharges" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedMiscCharges" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedTaxAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TotalAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedTotalAmount" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="InvoiceNo" type="xsd:double" minOccurs="0"/>
																<xsd:element name="MissingMsg" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FromInvoiceNo" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ToInvoiceNo" type="xsd:string" minOccurs="0"/>
																<xsd:element name="LocalCurrency" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="MerchandiseAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedMerchandiseAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="FreightAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedFreightAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="MiscCharges" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedMiscCharges" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedTaxAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TotalAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedTotalAmount" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="MissingMsg" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="TransactionProcessingTotals" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TotalMsg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LocalCurrencyTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="RegisterNo" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MerchandiseAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMerchandiseAmount" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FreightAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedFreightAmount" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MiscCharges" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMiscCharges" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TaxAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedTaxAmount" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TotalRegisterAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedTotalRegisterAmount" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="ForeignCurrencyTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="RegisterNo" type="xsd:double" minOccurs="0"/>
																<xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MerchandiseAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMerchandiseAmount" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FreightAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedFreightAmount" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MiscCharges" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMiscCharges" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TaxAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedTaxAmount" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TotalRegisterAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedTotalRegisterAmount" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="RegisterEntriesTotal" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RegisterTotalsMsg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MerchandiseAmountTotal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedMerchandiseAmountTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FreightAmountTotal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedFreightAmountTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MiscChargesTotal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedMiscChargesTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxAmountTotal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedTaxAmountTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportTotal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedReportTotal" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="NoOfInvMsg" type="xsd:string" minOccurs="0"/>
				<xsd:element name="NoofInvoices" type="xsd:string" minOccurs="0"/>
				<xsd:element name="InProcRegMsg" type="xsd:string" minOccurs="0"/>
				<xsd:element name="InProcReg" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LocalCurrencyTotal"/>
</xsd:schema>
