Schemas7/ar_list_of_customer_details.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
  Schema for the List of Customer Details Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BranchSelection">
    <xsd:annotation>
      <xsd:documentation>This is the Branch Selection filter to indicate which Branch to select. The default value is "A", the other valid value is "S".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=SalBranch;A=All;S=Single;"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CreditLimitSelection">
    <xsd:annotation>
      <xsd:documentation>This is the Credit Limit Selection filter to indicate which Credit Limit to select. The default value is "A", the other valid values are "R" and "S".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CurrencySelection">
    <xsd:annotation>
      <xsd:documentation>This is the Currency Selection filter to indicate which currency to select. The default value is "A", the other valid value is "S".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=TblCurrency;A=All;S=Single;"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CustomerClassSelection">
    <xsd:annotation>
      <xsd:documentation>This is the Customer Class Selection filter to indicate which customer class to select. The default value is "A", the other valid value is "S".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=TblCustomerClass;A=All;S=Single;"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CustomerSelection">
    <xsd:annotation>
      <xsd:documentation>This is the customer selection filter to indicate which customer number to select. The default value is "A", the other valid values are "R" and "S".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=ArCustomer;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ExtraFields">
    <xsd:annotation>
      <xsd:documentation>This is the Extra fields selection to include Extra fields. The Default value is "N", the other valid value is "Y".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CustomerSelection" minOccurs="0"/>
        <xsd:element ref="CustomerClassSelection" minOccurs="0"/>
        <xsd:element ref="GeographicAreaSelection" minOccurs="0"/>
        <xsd:element ref="BranchSelection" minOccurs="0"/>
        <xsd:element ref="SalespersonSelection" minOccurs="0"/>
        <xsd:element ref="LineDiscountCodeSelection" minOccurs="0"/>
        <xsd:element ref="TermsSelection" minOccurs="0"/>
        <xsd:element ref="ProductCategorySelection" minOccurs="0"/>
        <xsd:element ref="InvoiceDiscountCodeSelection" minOccurs="0"/>
        <xsd:element ref="CurrencySelection" minOccurs="0"/>
        <xsd:element ref="CreditLimitSelection" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GeographicAreaSelection">
    <xsd:annotation>
      <xsd:documentation>This is the Geographic Area Selection filter to indicate which Geographic Area to select. The default value is "A", the other valid value is "S".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=SalArea;A=All;S=Single;"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InterestExemptionStatusSelection">
    <xsd:annotation>
      <xsd:documentation>This is the Interest Exemption Status selection to include the Interest Exemption Status. The default value is "A", the other valid values are "E" and "N".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;E=Exempt;N=Non-exempt"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="E"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="InvoiceDiscountCodeSelection">
    <xsd:annotation>
      <xsd:documentation>This is the Invoice Discount Code Selection filter to indicate which Invoice Discount code to select. The default value is "A", the other valid value is "S".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=TblSoDiscount;A=All;S=Single;"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LineDiscountCodeSelection">
    <xsd:annotation>
      <xsd:documentation>This is the Line Discount Code Selection filter to indicate which Line Discount Code to select. The default value is "A", the other valid value is "S".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=TblSoDiscount;A=All;S=Single;"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportSequence" minOccurs="0"/>
        <xsd:element ref="PriceCode" minOccurs="0"/>
        <xsd:element ref="PriceProductmatrix" minOccurs="0"/>
        <xsd:element ref="ExtraFields" minOccurs="0"/>
        <xsd:element ref="InterestExemptionStatusSelection" minOccurs="0"/>
        <xsd:element ref="TaxExemptionSelection" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PriceProductmatrix">
    <xsd:annotation>
      <xsd:documentation>This is the Price/Product matrix selection to include data from the Price/Product matrix. The Default value is "N", the other valid value is "Y".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ProductCategorySelection">
    <xsd:annotation>
      <xsd:documentation>This is the Product Category Selection filter to indicate which Product Category to select. The default value is "A", the other valid value is "S".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;S=Single;key=true"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option" minOccurs="0"/>
        <xsd:element ref="Filter" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportSequence">
    <xsd:annotation>
      <xsd:documentation>This is the report sequence to indicate the order in which the report will be sorted. The default value is "CU" and the other valid options are "SN","BR","CC","GA" and "SP".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;CU=Customer;SN=Short name;BR=Branch;CC=Customer class;GA=Geographic area;SP=Salesperson;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="CU"/>
        <xsd:enumeration value="SN"/>
        <xsd:enumeration value="BR"/>
        <xsd:enumeration value="CC"/>
        <xsd:enumeration value="GA"/>
        <xsd:enumeration value="SP"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalespersonSelection">
    <xsd:annotation>
      <xsd:documentation>This is the Salesperson Selection filter to indicate which Salesperson number to select. The default value is "A", the other valid value is "S".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=SalSalesperson;A=All;S=Single;"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TaxExemptionSelection">
    <xsd:annotation>
      <xsd:documentation>This is the Tax Exemption Status selection to include the Tax Exemption Status. The default value is "A", the other valid values are "E" and "N".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;E=Exempt;N=Non-exempt;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="E"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TermsSelection">
    <xsd:annotation>
      <xsd:documentation>This is the Terms Selection filter to indicate which terms to select. The default value is "A", the other valid value is "S".</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=TblArTerms;A=All;S=Single;"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PriceCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is used to indicate the Price Code selection. It is spaces when product category selection filter type is A. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;key=true;"/>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
