Schemas7/ARSQIP.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--
     Schema for AR Stock Codes Purchased Query Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="Customer">
    <xsd:annotation>
      <xsd:documentation>This is the customer account code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FromDate" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation>The date from which transactions are required</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncludeCurrentPrice" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include the current product price with the returned information (N - No, Y - Yes)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Customer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MaxNumber">
    <xsd:annotation>
      <xsd:documentation>The maximum number of entries to return (enter a value between 0 and 99999999 where 0 / blank returns all records)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType mixed="false">
      <xsd:all>
        <xsd:element ref="FromDate" minOccurs="0"/>
        <xsd:element ref="MaxNumber" minOccurs="0"/>
        <xsd:element ref="IncludeCurrentPrice" minOccurs="0"/>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Option" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>This is the XSL Stylesheet used to render the XML</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
