Schemas7/ARSQRY.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for Customer Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Customer">
		<xsd:annotation>
			<xsd:documentation>The customer for which the statement is required</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:complexType mixed="false">
			<xsd:all>
				<xsd:element ref="Customer"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:complexType mixed="false">
			<xsd:all minOccurs="0">
				<xsd:element ref="MultiMediaImageType" minOccurs="0"/>
				<xsd:element ref="IncludeFutures" minOccurs="0"/>
				<xsd:element ref="IncludeInvoices" minOccurs="0"/>
				<xsd:element ref="IncludeTransactions" minOccurs="0"/>
				<xsd:element ref="IncludeCheckPayments" minOccurs="0"/>
				<xsd:element ref="IncludePostDated" minOccurs="0"/>
				<xsd:element ref="IncludeZeroBalances" minOccurs="0"/>
				<xsd:element ref="IncludeCustomForms" minOccurs="0"/>
				<xsd:element ref="AsOfPeriod" minOccurs="0"/>
				<xsd:element name="AgeingOption" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Indicates the ageing option that should be used for the run of the program. If no ageing option is used then the default ageing option for the company will be used. Valid ageing options are S - By Statement or A - By aged statement or I - By invoice date or D - By invoice due date.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
							<xsd:enumeration value="S"/>
							<xsd:enumeration value="A"/>
							<xsd:enumeration value="I"/>
							<xsd:enumeration value="D"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="AgeColumn1" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The value supplied will be used for the first column of ageing. If no value is supplied then the ageing value against the customers default statement format will be used.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="AgeColumn2" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The value supplied will be used for the second column of ageing. If no value is supplied then the ageing value against the customers default statement format will be used.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="AgeColumn3" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The value supplied will be used for the third column of ageing. If no value is supplied then the ageing value against the customers default statement format will be used.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="AgeColumn4" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The value supplied will be used for the fourth column of ageing. If no value is supplied then the ageing value against the customers default statement format will be used.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="AgeColumn5" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The value supplied will be used for the fifth column of ageing. If no value is supplied then the ageing value against the customers default statement format will be used.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="AgeColumn6" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The value supplied will be used for the sixth column of ageing. If no value is supplied then the ageing value against the customers default statement format will be used.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="AgeColumn7" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The value supplied will be used for the seventh column of ageing. If no value is supplied then the ageing value against the customers default statement format will be used.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="XslStylesheet" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Indicates what style sheet should be used.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MultiMediaImageType" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Image type to retrieve (for example: GIF, JPG)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncludeFutures" default="N">
		<xsd:annotation>
			<xsd:documentation>Do you wish to include future invoices ? (Y - Yes, N - No))</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeTransactions" default="Y">
		<xsd:annotation>
			<xsd:documentation>Do you wish to include invoice transaction details ? (Y - Yes, N - No))</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeInvoices" default="Y">
		<xsd:annotation>
			<xsd:documentation>Do you wish to include invoics ? (Y - Yes, N - No))</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeCheckPayments" default="Y">
		<xsd:annotation>
			<xsd:documentation>Do you wish to include check payment details ? (Y - Yes, N - No))</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludePostDated" default="Y">
		<xsd:annotation>
			<xsd:documentation>Do you wish to include post dated check details ? (Y - Yes, N - No))</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeCustomForms" default="N">
		<xsd:annotation>
			<xsd:documentation>Do you wish to include fields from custom forms ? (N - No, Y - Yes,). Default is N - No.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeZeroBalances" default="N">
		<xsd:annotation>
			<xsd:documentation>Do you wish to include invoices with a zero balance ? (Y - Yes, N - No))</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AsOfPeriod" default="C">
		<xsd:annotation>
			<xsd:documentation>This element specifies the period from which to return data (C - current period backwards, P - the previous period backwards, 2 -  previous period two backwards). If this element is not provided the default is C.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>The root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Key"/>
				<xsd:element ref="Option" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
