Schemas7/ARSQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Accounts Receivable Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AccountsReceivableOptions">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="General">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CustAmendJnlsReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvoiceAgeingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefFinChgTerms" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefCustBrowseToOpBr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BankDepSlipReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForeignCurrSalesReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PermEntriesReprtReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConsolBrFwdCust" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValidateCustClass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowBranchOverwrite" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TermsDiscount">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TrmsDiscInclTax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TrmsDiscInclFrt" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TrmsDiscInclOthChg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CalcTrmsDiscForCrDrNotes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrtCrDrNotesForDisc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowMultInvPerCrDrNote" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Tax">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DefSalesTaxCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqTaxPortionAdjDisc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefTaxCodeArAdjDisc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DisbTaxPortionGlTaxCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefSalesGSTCode" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="History">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RetainPayDet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PurgeCustMoveBy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AveNoDaysToPayCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MaxNoCustMoveRecs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetZeroInv" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetCashJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetPayHist" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetSlsTrnSumm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetSlsTrnDet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetDiscCrNote" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetDiscDrNote" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPerRetSlsDistr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPerRetPayDistr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetArPayRunNum" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Numbering">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InvNumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowDupInv" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextInvNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextCrNoteNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextDrNoteNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextDiscCrNoteNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextDiscDrNoteNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustNumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextCustNum" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Integration">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LinkARToCB" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowOpOrideARPay" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConsolidatedPayments" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="UserDefined">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DescCustUdf1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescCustUdf2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomFormFilter1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomFormFilter2" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PeriodCurrentYear">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ArCurrDatePeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrDatePeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrFlagPeriod13" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PeriodPreviousYear">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ArPrevDatePeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevDatePeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArPrevFlagPeriod13" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CurrentMonth">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ArCurrentYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArCurrentMonth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AccPeriodsPerYear" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Information" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ArNextCshJnlPrevYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArNextCshJnlCurrYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArNextInvRegPrevYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArNextInvRegCurrYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArNextContraNumber" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PaymentRun">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PaymentsBySalesperson"/>
							<xsd:element name="PaymentsByGeographicArea"/>
							<xsd:element name="CollectorRequired"/>
							<xsd:element name="AuthorizationRequired"/>
							<xsd:element name="AllocateInvoiceToPDCheck"/>
							<xsd:element name="PDCheckStatusRequired"/>
							<xsd:element name="PaymentRunNumMethod"/>
							<xsd:element name="NextPaymentRunNum"/>
							<xsd:element name="CollectionRunNumMethod"/>
							<xsd:element name="NextCollectionRunNum"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ArNextContraNumber"/>
	<xsd:element name="DefSalesGSTCode"/>
</xsd:schema>
