Schemas7/ARSQ85OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the AR Customer Movements Business Object Out
-->
<xsd:schema id="ARCustomerMovements" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ARCustomerMovements">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportSequence_HeaderDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportSequence_HeaderDescrip" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportSequence_PageHeader" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportSequence_SeqHeader" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportSequence_Totals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SummaryReport" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SummaryReport" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubTotalsRequired" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SubTotalsRequired" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProfitDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ProfitDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NewPagePerCustomer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_NewPagePerCustomer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShowZeroInvoiceBalance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ShowZeroInvoiceBalance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CustomerFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalespersonFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SalespersonFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalespersonFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_DateFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OrderTypeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_OrderTypeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OrderTypeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GeographicAreaFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Sequence1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Sequence1Header" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Sequence1Indicator" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ARSMST_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerOnHold" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SALPRD_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GeographicArea" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SALARE_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
										<xsd:element name="APSMST_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierOnHold" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_SupplierOnHold" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Report_SortingSeqSUCU" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Report_KeySequence" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Report_SortSequence1" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Sequence2" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Sequence2Header" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Sequence2Indicator" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ARSMST_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CustomerOnHold" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SALPRD_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Report_KeyDetail" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Report_KeyDetailDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Report_Key2Sequence" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Sequence3" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Sequence3Header" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ARSMST_Description" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Report_KeyDetail3" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Report_KeyDetailDescription3" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="InvoiceDetails" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="InvoiceDetail" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ARSMST_Description" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Date" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SALBRN_Description" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SALSLS_Description" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="GeographicArea" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SALARE_Description" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SALPRD_Description" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SaleAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_SaleAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Profit" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_Profit" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ProfitPercentage" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Edited_ProfitPercentage" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Report_Sorting" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Report_KeyDetail2" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Report_KeyDetailDescription2" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Sequence3Totals" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="QtyTotal" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SaleAmountTotal" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_SaleAmountTotal" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitTotal" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_ProfitTotal" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitPercentageTotal" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_ProfitPercentageTotal" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Sequence2Totals" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="QtyTotal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SaleAmountTotal" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_SaleAmountTotal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitTotal" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_ProfitTotal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitPercentageTotal" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_ProfitPercentageTotal" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Sequence1Totals" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="QtyTotal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SaleAmountTotal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_SaleAmountTotal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitTotal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_ProfitTotal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitPercentageTotal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_ProfitPercentageTotal" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CompanyTotals">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="QtyTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SaleAmountTotal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_SaleAmountTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProfitTotal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_ProfitTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProfitPercentageTotal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_ProfitPercentageTotal" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
