Schemas7/ARSQCS.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!--
     Schema for the Query AR Post Dated Check Status Report Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AvailableDates">
    <xsd:annotation>
      <xsd:documentation>Defines filter options for available dates (A - All, R - Range, S - Single). If no value is supplied, a default value of 'A' will be used. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CollectorRunNumber">
    <xsd:annotation>
      <xsd:documentation>Defines filter options for collector run (A - All, R - Range, S - Single). If no value is supplied, a default value of 'A' will be used. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Customer">
    <xsd:annotation>
      <xsd:documentation>Defines filter options for customers (A - All, R - Range, S - Single). If no value is supplied, a default value of 'A' will be used. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DepositBank">
    <xsd:annotation>
      <xsd:documentation>Defines filter options for deposit bank (A - All, R - Range, S - Single). If no value is supplied, a default value of 'A' will be used. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Customer" minOccurs="0"/>
        <xsd:element ref="DepositBank" minOccurs="0"/>
        <xsd:element ref="CollectorRunNumber" minOccurs="0"/>
        <xsd:element ref="AvailableDates" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IncludeBanked">
    <xsd:annotation>
      <xsd:documentation>Defines whether to include post dated checks with a status of banked (Y - Yes, N - No). If no value is passed, a value of "Y" will be assumed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeCaptured">
    <xsd:annotation>
      <xsd:documentation>Defines whether to include post dated checks with a status of captured (Y - Yes, N - No). If no value is passed, a value of "Y" will be assumed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeCleared">
    <xsd:annotation>
      <xsd:documentation>Defines whether to include post dated checks with a status of cleared (Y - Yes, N - No). If no value is passed, a value of "Y" will be assumed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeInvoiceDetail">
    <xsd:annotation>
      <xsd:documentation>Defines whether to include invoice detail (Y - Yes, N - No). If no value is passed, a value of "Y" will be assumed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeLinkedToCollector">
    <xsd:annotation>
      <xsd:documentation>Defines whether to include post dated checks linked to collector (Y - Yes, N - No). If no value is passed, a value of "Y" will be assumed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludePosted">
    <xsd:annotation>
      <xsd:documentation>Defines whether to include post dated checks with a status of posted (Y - Yes, N - No). If no value is passed, a value of "Y" will be assumed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeVoid">
    <xsd:annotation>
      <xsd:documentation>Defines whether to include post dated checks with a status of void (Y - Yes, N - No). If no value is passed, a value of "Y" will be assumed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="IncludeInvoiceDetail" minOccurs="0"/>
        <xsd:element ref="IncludeLinkedToCollector" minOccurs="0"/>
        <xsd:element ref="IncludeCaptured" minOccurs="0"/>
        <xsd:element ref="IncludeBanked" minOccurs="0"/>
        <xsd:element ref="IncludeCleared" minOccurs="0"/>
        <xsd:element ref="IncludeVoid" minOccurs="0"/>
        <xsd:element ref="IncludePosted" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option" minOccurs="0"/>
        <xsd:element ref="Filter" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
