Schemas7/ARSQSO.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the Accounts Receivable Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ReturnSchema" minOccurs="0"/>
				<xsd:element ref="IncludeInformationItems" minOccurs="0"/>
				<xsd:element ref="CompanyId" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReturnSchema">
		<xsd:annotation>
			<xsd:documentation>Indicates whether to print the XSD schema. No (N), Yes (Y). If no value is supplied then a default of 'N' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeInformationItems">
		<xsd:annotation>
			<xsd:documentation>Indicates whether to print the Information Only fields. No (N), Yes (Y). If no value is supplied then a default of 'N' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CompanyId">
		<xsd:annotation>
			<xsd:documentation>Indicates the company for which you want data returned. If no data is supplied, the current company will be assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
