Schemas7/ARSQLPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the AR Label Print Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="ARLabelPrintReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ARLabelPrintReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LabelSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LabelSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StartAtCustomerSN" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StartAtBranch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StartAtCustomerClass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StartAtGeographicArea" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StartAtSalesperson" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeSubAccounts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeSubAccounts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LabelsToPrint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CustomerSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BranchSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerClassSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CustomerClassSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerClassSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalespersonSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SalespersonSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalespersonSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GeographicAreaSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GeographicAreaSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GeographicAreaSelectionFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ARLabel" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ARLabelDetails" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MasterAccount" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StoreNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Salesman" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesmanName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PriceCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GeographicArea" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AreaName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxExemptionNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PriceCategoryTable" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShortName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddress1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddress2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddress3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddr3Loc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddress4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddress5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldPostalCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToGpsLat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToGpsLong" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToAddress1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToAddress2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToAddress3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToAddr3Loc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToAddress4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToAddress5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipPostalCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToGpsLat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToGpsLong" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContactName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ExtraTelephone" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FaxNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TelexNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Extension" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UserDefinedField1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UserDefinedField2" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_UserDefinedField2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LabelPrintDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ConstantMessage1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ConstantMessage2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ConstantMessage3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ConstantMessage4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ConstantMessage5" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
