Schemas7/ARSQMAOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the List of Multiple Ship Addresses Business Object Out
-->
<xsd:schema id="ARListofMultipleShipAddresses" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ARListofMultipleShipAddresses">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPagePerCustomer" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CustomerDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CustomerDetail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CustomerHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ARSMST_Name" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="AddressLineDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="AddressCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipToName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipToAddr1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipToAddr2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipToAddr3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipToAddr3Loc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipToAddr4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipToAddr5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipPostalCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipToGpsLat" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipToGpsLong" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
