Schemas7/ARSQ23OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema List for the AR Bank Deposit Slip Report Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="ARBankDepositSlipReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ARBankDepositSlipReport">
		<xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:double" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:double" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BankSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BankSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BankSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BankAccountNo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrencySelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CurrSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrencySelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_OperSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalNoSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LedJnlSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalNoSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MonthSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearSelection" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BankDepositSlipItems">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BankDepositSlipEntries" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BankDepositSlipHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BankDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BankaccountNo" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BankCurrency" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BankCurrencyDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PostingMonth" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PostingYear" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CBIntegrationOfPay" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CBIntegrationOfPayDesc" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="BankDepositSlip" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="BankDepositDetails" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="BankDepositDetail" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="DrawersName" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TransactionCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_TransCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="PaymentType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CustomerCurrency" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CustomerCurrencyDescription" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedAmount" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="BankDepositTotals" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="TotalChecks" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedTotalChecks" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TotalCash" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedTotalCash" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TotalDeposit" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedTotalDeposit" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="CashDetailsItem" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CashDetails" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CashDetail" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="BankAccountNo" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CustomerCurrency" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CustomerCurrencyDescription" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TransactionCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_TransCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="PaymentType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedAmount" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="CashDetailTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="TotalCashAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedTotalCashAmount" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="OtherDetailsItem" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="OtherDetails" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="OtherDetail" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="BankAccountNo" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CustomerCurrency" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CustomerCurrencyDescription" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TransactionCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_TransCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="PaymentType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedAmount" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="OtherDetailTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="TotalCashAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedTotalCashAmount" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
