Schemas7/ARSSPCDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the AR Product Class by Branch Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Branch">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the AR Branch. It is part of the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Department">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Department. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Description">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Product Class Description. It is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="HighProfitPct">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Highest Profit Percentage. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Description"/>
        <xsd:element ref="LowProfitPct" minOccurs="0"/>
        <xsd:element ref="HighProfitPct" minOccurs="0"/>
        <xsd:element ref="Department" minOccurs="0"/>
        <xsd:element ref="SalesBudget1" minOccurs="0"/>
        <xsd:element ref="SalesBudget2" minOccurs="0"/>
        <xsd:element ref="SalesBudget3" minOccurs="0"/>
        <xsd:element ref="SalesBudget4" minOccurs="0"/>
        <xsd:element ref="SalesBudget5" minOccurs="0"/>
        <xsd:element ref="SalesBudget6" minOccurs="0"/>
        <xsd:element ref="SalesBudget7" minOccurs="0"/>
        <xsd:element ref="SalesBudget8" minOccurs="0"/>
        <xsd:element ref="SalesBudget9" minOccurs="0"/>
        <xsd:element ref="SalesBudget10" minOccurs="0"/>
        <xsd:element ref="SalesBudget11" minOccurs="0"/>
        <xsd:element ref="SalesBudget12" minOccurs="0"/>
        <xsd:element ref="SalesBudget13" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Branch"/>
        <xsd:element ref="ProductClass"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LowProfitPct">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Lowest Profit Percentage. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ProductClass">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the AR Product Class. It is part of the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget1">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 1. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget10">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 10. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget11">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 11. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget12">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 12. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget13">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 13. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget2">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 2. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget3">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 3. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget4">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 4. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget5">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 5. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget6">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 6. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget7">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 7. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget8">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 8. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget9">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Sales Budget for Period 9. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SetupProductClass">
    <xsd:annotation>
      <xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
