Schemas7/ARSSSHDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2013 SYSPRO Ltd.-->
<!--  This is the schema for AR Sales History maintenance Business Object-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Customer" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the customer to be maintained.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>This element contains all the information to maintain a customer sales history.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Key"/>
				<xsd:element ref="SalesValMth1"/>
				<xsd:element ref="SalesValMth2"/>
				<xsd:element ref="SalesValMth3"/>
				<xsd:element ref="SalesValMth4"/>
				<xsd:element ref="SalesValMth5"/>
				<xsd:element ref="SalesValMth6"/>
				<xsd:element ref="SalesValMth7"/>
				<xsd:element ref="SalesValMth8"/>
				<xsd:element ref="SalesValMth9"/>
				<xsd:element ref="SalesValMth10"/>
				<xsd:element ref="SalesValMth11"/>
				<xsd:element ref="SalesValMth12"/>
				<xsd:element ref="SalesValMth13"/>
				<xsd:element ref="SalesValMth14"/>
				<xsd:element ref="SalesValMth15"/>
				<xsd:element ref="SalesValMth16"/>
				<xsd:element ref="SalesValMth17"/>
				<xsd:element ref="SalesValMth18"/>
				<xsd:element ref="SalesValMth19"/>
				<xsd:element ref="SalesValMth20"/>
				<xsd:element ref="SalesValMth21"/>
				<xsd:element ref="SalesValMth22"/>
				<xsd:element ref="SalesValMth23"/>
				<xsd:element ref="SalesValMth24"/>
				<xsd:element ref="SalesValMth25"/>
				<xsd:element ref="SalesValMth26"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:annotation>
			<xsd:documentation>This element contains the key information to maintain a customer sales history</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Customer"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SalesValMth1" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 1.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth2" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 2.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth3" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 3.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth4" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 4.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth5" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 5.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth6" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 6.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth7" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 7.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth8" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 8.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth9" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 9.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth10" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 10.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth11" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 11.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth12" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 12.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth13" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 13.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth14" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 14.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth15" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 15.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth16" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 16.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth17" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 17.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth18" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 18.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth19" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 19.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth20" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 20.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth21" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 21.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth22" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 22.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth23" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 23.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth24" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 24.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth25" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 25.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesValMth26" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element contains the value of the previous month sales 26.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SetupArSalesHistory">
		<xsd:annotation>
			<xsd:documentation>This is the root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Item"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
