Schemas7/ARSSPEDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Sample XML for the AR Permanent Entries Setup Program
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SetupArPermEntries">
		<xsd:annotation>
			<xsd:documentation>This is the root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Item">
					<xsd:annotation>
						<xsd:documentation>This element contains all the relevant information to maintain an AR Permanent Entry</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Key">
								<xsd:annotation>
									<xsd:documentation>This element contains the Key elements to maintain an AR Permanent Entry</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Reference">
											<xsd:annotation>
												<xsd:documentation>This element contains the Reference</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:whiteSpace value="preserve"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="ReleaseDay">
											<xsd:annotation>
												<xsd:documentation>This element contains the Release Day of the Month (Range 1 - 31)</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:whiteSpace value="preserve"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="Customer">
											<xsd:annotation>
												<xsd:documentation>This element contains the Customer number</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:whiteSpace value="preserve"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="InvoiceValue" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This element contains the Invoice amount</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="CostValue" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This element contains the Cost amount</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ProductClass">
								<xsd:annotation>
									<xsd:documentation>This element contains the Product Class</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="EntryDescription" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This element contains the Entry Description</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TaxCode" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This element enables you to assign a tax code to the permanent entry, representing the rate of tax applicable to the merchandise portion of the invoice amount. If tax is required by geographic area then the tax code for the geographic area held against the customer is used.  If a Tax Code is not required by the Tax System in use, then this element will not be processed.When using Descriptive Tax Codes, a descriptive tax code must be provided.
</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="GstCode" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>If your nationality code is defined as CAN, then you can enter the GST code to be assigned to the permanent entry representing the rate of tax applicable to the merchandise portion of the invoice amount. If a Gst Code is not required by the Tax System in use, then this element will not be processed.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Taxable" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>If your nationality code is defined as USA  and you require either tax by advanced geocodes or the AVP sales tax system then you can indicate that the merchandise portion of the invoice amount is taxable (Y - Yes, N - No. Default = N). If not, this element will not be processed.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="EntryType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This element contains the Entry Type (T - Temporary, P - Permanent, Default = P)</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TransferFreq" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This element contains the Frequency of transfer (1 - 12, every 1 to 12 months, Default = 1).  If EntryType = T, this element will default to 1.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ExpiryDate" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This element contains the Expiry date (CCYY-MM-DD). If blank, no expiry date. If EntryType = T, no expiry date.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NextPostPeriod">
								<xsd:annotation>
									<xsd:documentation>This element contains the Start or next porting date (MMDD). Alowable range is 9 years prior and 14 years post current year. If spaces, will default to current financial month and year. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
