Schemas7/ARSSSPDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the AR Salesperson Maintenance Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Branch">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Branch.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CommissionPct">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Commission Percentage.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This is the sub root node</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Name"/>
        <xsd:element ref="CommissionPct" minOccurs="0"/>
        <xsd:element ref="SalesBudget1" minOccurs="0"/>
        <xsd:element ref="SalesBudget2" minOccurs="0"/>
        <xsd:element ref="SalesBudget3" minOccurs="0"/>
        <xsd:element ref="SalesBudget4" minOccurs="0"/>
        <xsd:element ref="SalesBudget5" minOccurs="0"/>
        <xsd:element ref="SalesBudget6" minOccurs="0"/>
        <xsd:element ref="SalesBudget7" minOccurs="0"/>
        <xsd:element ref="SalesBudget8" minOccurs="0"/>
        <xsd:element ref="SalesBudget9" minOccurs="0"/>
        <xsd:element ref="SalesBudget10" minOccurs="0"/>
        <xsd:element ref="SalesBudget11" minOccurs="0"/>
        <xsd:element ref="SalesBudget12" minOccurs="0"/>
        <xsd:element ref="SalesBudget13" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This is the key node.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Branch"/>
        <xsd:element ref="Salesperson"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Name">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Name.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget1">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 1.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget10">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 10.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget11">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 11.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget12">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 12.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget13">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 13.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget2">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 2.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget3">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 3.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget4">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 4.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget5">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 5.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget6">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 6.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget7">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 7.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget8">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 8.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesBudget9">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Sales Budget 9.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Salesperson">
    <xsd:annotation>
      <xsd:documentation>This element is used to add update or delete the Salesperson.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SetupSalespersonMaintance">
    <xsd:annotation>
      <xsd:documentation>This is the main root node.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
