Schemas7/ARSSSPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the AR Salesperson Maintenance Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BOMQtyPerDecimals" type="xsd:byte"/>
  <xsd:element name="CompanyId" type="xsd:boolean"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="CssStyle">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DateFormat" type="xsd:byte"/>
  <xsd:element name="DecCharToUse" type="xsd:string"/>
  <xsd:element name="DecFormat" type="xsd:boolean"/>
  <xsd:element name="GlPrdPerYear" type="xsd:byte"/>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="NoOfDigits" type="xsd:byte"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorLocation">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="RecordsInvalid" type="xsd:boolean"/>
  <xsd:element name="RecordsRead" type="xsd:boolean"/>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="Role" type="xsd:byte"/>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="StatusOfItems">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="RecordsRead"/>
        <xsd:element ref="RecordsInvalid"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
        <xsd:element ref="NoOfDigits"/>
        <xsd:element ref="DecCharToUse"/>
        <xsd:element ref="BOMQtyPerDecimals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
  <xsd:element name="branch" type="xsd:byte"/>
  <xsd:element name="item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="key"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="branch"/>
        <xsd:element ref="salesperson"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="salesperson" type="xsd:short"/>
  <xsd:element name="setupsalespersonmaintance">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="item"/>
        <xsd:element ref="StatusOfItems"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
