Schemas7/ARSSCS.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the parameter file of the Customer Maintenance Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ApplyIfEntireDocumentValid" default="N">
		<xsd:annotation>
			<xsd:documentation>Specifies whether the entire document must be validated first before applying the function (N - apply function for each valid item, Y - all items must be valid before function is applied).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IgnoreWarnings" default="Y">
		<xsd:annotation>
			<xsd:documentation>Specifies if warnings are to be ignored (Y - if the warnings are to be ignored, N - warnings will be returned as errors in the XML returned, W - warnings will be returned as warnings).

An example of a warning is if a ledger code entered is not the correct type of account, it is okay to write the record away as such but you may want the warning supplied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="W"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ValidateOnly" default="N">
		<xsd:annotation>
			<xsd:documentation>Specifies whether to only validate the contents of the document. (N - validate and apply function, Y - only validate the document).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Parameters">
		<xsd:annotation>
			<xsd:documentation>This element contains the optional parameter elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="IgnoreWarnings" minOccurs="0"/>
				<xsd:element ref="ApplyIfEntireDocumentValid" minOccurs="0"/>
				<xsd:element ref="ValidateOnly" minOccurs="0"/>
				<xsd:element ref="UpdateFaxEmailOrders" minOccurs="0"/>
				<xsd:element ref="UpdateFaxEmailReprint" minOccurs="0"/>
				<xsd:element ref="ValidateTaxExemptionNo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SetupArCustomer">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Parameters" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UpdateFaxEmailOrders">
		<xsd:annotation>
			<xsd:documentation>This element is optional and defaults to 'N' if not supplied. Valid values are 'N' and 'Y'. If set to 'Y', the fax/email option against all active orders for the supplied customers will be updated to match the same option defined for the customer. This will only apply when changing the fax/email option on the customer.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=" "/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UpdateFaxEmailReprint">
		<xsd:annotation>
			<xsd:documentation>This element is optional and defaults to 'N' if not supplied. Valid values are 'N' and 'Y'. This is only applied if the element 'UpdateFaxEmailOrders' is set to 'Y', otherwise it is ignored. If set to 'Y', the fax/email option against all active invoice reprint data for the supplied customers will be updated to match the same option defined for the customer. This will only apply when changing the fax/email option on the customer.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=" "/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ValidateTaxExemptionNo">
		<xsd:annotation>
			<xsd:documentation>This element is optional and defaults to 'N' if not supplied. Valid values are 'N' and 'Y'. If set to 'Y', the EC vat tax exemption number will be validated.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=" "/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
