Schemas7/ARSSMBDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the AR Branch Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Branch" type="xsd:byte">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the AR Branch. It is the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BranchAddr0Build" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Address - Building. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BranchAddr1" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Address - Street. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BranchAddr2" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Address - City. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BranchAddr2Loc" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Address - Locality. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BranchAddr3" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Address - State. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BranchAddr3Country" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Address - Country. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BranchGpsLat" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Address - GPS Coordinates - Latitude. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BranchGpsLong" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Address - GPS Coordinates - Longditude. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BranchPostalCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Address - Postal Code. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CosCtlAcc" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the General Ledger - Branch Cost of Sales Control Account. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DepositAcc" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the General Ledger - Deposits revenue account (Counter sales). It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Description" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the AR Branch description. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FinChargeAcc" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the General Ledger - Sales finance charges. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FrtCosAcc" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the General Ledger - Cost of Sales Freight. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FrtSalesAcc" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the General Ledger - Sales Freight. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FstAcc">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the General Ledger - Federal sales tax (Canada only). It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Description"/>
        <xsd:element ref="BranchAddr0Build" minOccurs="0"/>
        <xsd:element ref="BranchAddr1" minOccurs="0"/>
        <xsd:element ref="BranchAddr2" minOccurs="0"/>
        <xsd:element ref="BranchAddr2Loc" minOccurs="0"/>
        <xsd:element ref="BranchAddr3" minOccurs="0"/>
        <xsd:element ref="BranchAddr3Country" minOccurs="0"/>
        <xsd:element ref="BranchPostalCode" minOccurs="0"/>
        <xsd:element ref="BranchGpsLat" minOccurs="0"/>
        <xsd:element ref="BranchGpsLong" minOccurs="0"/>
        <xsd:element name="LanguageCode" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Language Code. It is optional.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element ref="FrtCosAcc"/>
        <xsd:element ref="SalesCtlAcc"/>
        <xsd:element ref="CosCtlAcc"/>
        <xsd:element ref="FrtSalesAcc"/>
        <xsd:element ref="FinChargeAcc"/>
        <xsd:element ref="RoundingAcc"/>
        <xsd:element ref="SalesTaxAcc"/>
        <xsd:element ref="FstAcc" minOccurs="0"/>
        <xsd:element ref="DepositAcc"/>
        <xsd:element ref="PrefixNextInv" minOccurs="0"/>
        <xsd:element ref="NextInvoice" minOccurs="0"/>
        <xsd:element ref="NextCreditNote" minOccurs="0"/>
        <xsd:element ref="NextDebitNote" minOccurs="0"/>
        <xsd:element ref="PrefixNextSo" minOccurs="0"/>
        <xsd:element ref="NextSalesOrder" minOccurs="0"/>
        <xsd:element ref="NextSoCrNote" minOccurs="0"/>
        <xsd:element ref="NextSoDbNote" minOccurs="0"/>
        <xsd:element ref="NextDelNote" minOccurs="0"/>
        <xsd:element ref="PrefixNextRma" minOccurs="0"/>
        <xsd:element ref="NextRma" minOccurs="0"/>
        <xsd:element ref="NextCreditDisc" minOccurs="0"/>
        <xsd:element ref="NextDebitDisc" minOccurs="0"/>
        <xsd:element ref="QuotePrefix" minOccurs="0"/>
        <xsd:element ref="NextQuote" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Branch"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NextCreditDisc">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Next Credit note for discount. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="NextCreditNote">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Next Credit Note Number. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="NextDebitDisc">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Next Debit note for discount. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="NextDebitNote">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Next Debit Note Number. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="NextDelNote">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Next Delivery Note Number. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="NextInvoice">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Next Invoice Number. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="NextQuote">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Next Quotation Number. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="NextRma">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Next RMA Number. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="NextSalesOrder">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Next Sales Order Number. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="NextSoCrNote">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Next Sales Order Credit Note Number. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="NextSoDbNote">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Next Sales Order Debit Note Number. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="PrefixNextInv">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Prefix of the Next Invoice. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="PrefixNextRma">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Prefix of the Next RMA Number. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="PrefixNextSo">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Prefix of the Sales Order. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="QuotePrefix">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Prefix of the Next Quotation Number. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="RoundingAcc" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the General Ledger - Sales rounding error. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesCtlAcc" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the General Ledger - Branch AR Control Account. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesTaxAcc" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the General Ledger - Sales tax. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupBranch">
    <xsd:annotation>
      <xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
