Schemas7/ARSSMADOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for AR Multiple Ship to Addresses Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SetupArMultipleShipAddresses">
		<xsd:annotation>
			<xsd:documentation>This is the root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Item">
					<xsd:annotation>
						<xsd:documentation>This element contains all the relevant information to maintain a customer's multiple ship address line</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Key">
								<xsd:annotation>
									<xsd:documentation>This element contains the Key elements to maintain a multiple ship address</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Customer">
											<xsd:annotation>
												<xsd:documentation>This element contains the customer held against an address line. Maximum length 15 of type Alphanumeric</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:whiteSpace value="preserve"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="AddrCode">
											<xsd:annotation>
												<xsd:documentation>This element contains the address code held against an address line. Maximum length 5 of type Alphanumeric</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:whiteSpace value="preserve"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ShipToName">
								<xsd:annotation>
									<xsd:documentation>This element contains the name held against the address line. If not supplied defaults to the name held against the customer code. Maximum length 50 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ShipToAddr1">
								<xsd:annotation>
									<xsd:documentation>This element contains the address line one value. Maximum length 40 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ShipToAddr2">
								<xsd:annotation>
									<xsd:documentation>This element contains the address line 2 value. Maximum length 40 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ShipToAddr3">
								<xsd:annotation>
									<xsd:documentation>This element contains the address line 3 value. Maximum length 40 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ShipToAddr3Loc">
								<xsd:annotation>
									<xsd:documentation>This element contains the address line locality value. Maximum length 40 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ShipToAddr4">
								<xsd:annotation>
									<xsd:documentation>This element contains the address line 4 value. Maximum length 40 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ShipToAddr5">
								<xsd:annotation>
									<xsd:documentation>This element contains the address line 5 value. Maximum length 40 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ShipPostalCode">
								<xsd:annotation>
									<xsd:documentation>This element contains the postal or zip code for the address line. Maximum length 10 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ShipToGpsLat">
								<xsd:annotation>
									<xsd:documentation>This element contains the latitude for the address. Maximum length 2,6 of type Numeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ShipToGpsLong">
								<xsd:annotation>
									<xsd:documentation>This element contains the longitude for the address. Maximum length 3,6 of type Numeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Area">
								<xsd:annotation>
									<xsd:documentation>This element contains the geographical are for the address. If left empty will default to the area held in the against the customer code. Maximum length 10 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TaxCode">
								<xsd:annotation>
									<xsd:documentation>This element contains the tax code for when USA tax by advanced geocodes and USA AVP sales tax systems are selected. Maximum length 10 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="State">
								<xsd:annotation>
									<xsd:documentation>This element holds the state against the address. Applies to tax. Maximum length 2 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="CountyZip">
								<xsd:annotation>
									<xsd:documentation>This element holds the zip code against the address. Applies to tax. Maximum length 5 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="City">
								<xsd:annotation>
									<xsd:documentation>This element holds the city against the address. Applies to tax. Maximum length 3 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RouteCode">
								<xsd:annotation>
									<xsd:documentation>This element contains the route code held against the address line.. Maximum length 10 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RouteDistance">
								<xsd:annotation>
									<xsd:documentation>This element holds the distance or sequence for a route. Maximum length 4 of type Numeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Nationality">
								<xsd:annotation>
									<xsd:documentation>This element holds the nationality against the address. Maximum length 3 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DeliveryTerms">
								<xsd:annotation>
									<xsd:documentation>Default Intrastat Delivery Terms to be used against the address. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string"/>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ShippingLocation">
								<xsd:annotation>
									<xsd:documentation>Default Shipping Location to be used against address.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string"/>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="GeographicArea">
								<xsd:annotation>
									<xsd:documentation>This element contains the geographical are for the address. Maximum length 10 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TaxRegnNum">
								<xsd:annotation>
									<xsd:documentation>This element holds the tax registration number for the address. Maximum length 20 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="LanguageCode">
								<xsd:annotation>
									<xsd:documentation>This element holds the language code against the address. Maximum length 2 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="eSignature">
								<xsd:annotation>
									<xsd:documentation>GUID for eSignature</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
