Schemas7/ARSSPEOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Sample XML for the AR Permanent Entries Setup Program
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Customer" type="xsd:byte"/>
  <xsd:element name="RecordsInvalid" type="xsd:boolean"/>
  <xsd:element name="RecordsRead" type="xsd:boolean"/>
  <xsd:element name="Reference" type="xsd:string"/>
  <xsd:element name="ReleaseDay" type="xsd:byte"/>
  <xsd:element name="SetupArPermEntries">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="item"/>
        <xsd:element ref="StatusOfItems"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StatusOfItems">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="RecordsRead"/>
        <xsd:element ref="RecordsInvalid"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="key"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Reference"/>
        <xsd:element ref="ReleaseDay"/>
        <xsd:element ref="Customer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
