Schemas7/asset_disposal_tax_values_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Disposal Tax Values Shedule Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="AssetDisposalTaxValuesSchedule" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AssetDisposalTaxValuesSchedule">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Heading" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepreciationPeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FromPeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ToPeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetBranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetBranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetBranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GroupFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocationFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocationFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_LocationFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostCenterFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostCenterFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CostCenterFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TaxDisposalReportByGroup" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Groups" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GroupHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Group" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ASSGRP_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_GroupTotalHeading" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Subheading" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="GroupAssets" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="GroupAssetDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="GroupAsset" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Asset" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ASSMST_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AssetType" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ASSTYP_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PurchaseDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SoldDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OriginalCostValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_OriginalCostValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CapitalGainsValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CapitalGainsValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AccumulatedTaxAllowanceBf" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_AccumulatedTaxAllowanceBf" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxAllowanceThisMtd" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxAllowanceThisMtd" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxAllowanceThisYtd" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxAllowanceThisYtd" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="NetTaxValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_NetTaxValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="NetValueRealised" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_NetValueRealised" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CostOfDisposal" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CostOfDisposal" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxValueProfitLoss" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxValueProfitLoss" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CapitalGainsProfitLoss" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CapitalGainsProfitLoss" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="GroupsTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="GroupTotalDetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="OriginalCostValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_OriginalCostValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AccumulatedTaxAllowanceBf" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AccumulatedTaxAllowanceBf" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisMtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisMtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisYtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisYtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetTaxValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetTaxValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetValueRealised" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetValueRealised" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CostOfDisposal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CostOfDisposal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxValueProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxValueProfitLoss" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsProfitLoss" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TaxDisposalReportByBranch" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Branches" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="BranchHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ASSBRN_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_GroupTotalHeading" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Subheading" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="BranchAssets" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="BranchAssetDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="BranchAsset" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Asset" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ASSMST_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AssetType" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ASSTYP_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PurchaseDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SoldDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OriginalCostValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_OriginalCostValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CapitalGainsValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CapitalGainsValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AccumulatedTaxAllowanceBf" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_AccumulatedTaxAllowanceBf" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxAllowanceThisMtd" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxAllowanceThisMtd" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxAllowanceThisYtd" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxAllowanceThisYtd" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="NetTaxValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_NetTaxValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="NetValueRealised" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_NetValueRealised" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CostOfDisposal" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CostOfDisposal" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxValueProfitLoss" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxValueProfitLoss" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CapitalGainsProfitLoss" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CapitalGainsProfitLoss" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="BranchTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="BranchTotalDetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="OriginalCostValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_OriginalCostValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AccumulatedTaxAllowanceBf" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AccumulatedTaxAllowanceBf" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisMtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisMtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisYtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisYtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetTaxValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetTaxValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetValueRealised" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetValueRealised" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CostOfDisposal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CostOfDisposal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxValueProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxValueProfitLoss" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsProfitLoss" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TaxDisposalReportAssetGroupWithinLocation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Locations" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="LocationHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Location" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ASSLOC_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Group1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Subheading" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="LocationGroups" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="LocationGroupsHeader" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Group" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ASSGRP_Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_Group2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_GroupTotalHeading" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="LocationGroupAssetDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="LocationGroupAsset" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Asset" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ASSMST_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AssetType" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ASSTYP_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PurchaseDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SoldDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OriginalCostValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_OriginalCostValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CapitalGainsValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CapitalGainsValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AccumulatedTaxAllowanceBf" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_AccumulatedTaxAllowanceBf" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxAllowanceThisMtd" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxAllowanceThisMtd" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxAllowanceThisYtd" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxAllowanceThisYtd" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="NetTaxValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_NetTaxValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="NetValueRealised" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_NetValueRealised" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CostOfDisposal" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CostOfDisposal" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxValueProfitLoss" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxValueProfitLoss" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CapitalGainsProfitLoss" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CapitalGainsProfitLoss" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="LocationGroupTotalDetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="OriginalCostValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_OriginalCostValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AccumulatedTaxAllowanceBf" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AccumulatedTaxAllowanceBf" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisMtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisMtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisYtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisYtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetTaxValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetTaxValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetValueRealised" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetValueRealised" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CostOfDisposal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CostOfDisposal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxValueProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxValueProfitLoss" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsProfitLoss" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="LocationGroupTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="LocationTotalDetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="OriginalCostValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_OriginalCostValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AccumulatedTaxAllowanceBf" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AccumulatedTaxAllowanceBf" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisMtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisMtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisYtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisYtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetTaxValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetTaxValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetValueRealised" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetValueRealised" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CostOfDisposal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CostOfDisposal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxValueProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxValueProfitLoss" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsProfitLoss" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TaxDisposalReportCostCenterWithinBranch" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CostCenters" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CostCenterBranchHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ASSBRN_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Subheading" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="BranchCostCenters" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CostCentersHeader" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CostCenters" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ASSCCE_Description" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="BranchCostCentersAssetDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="BranchCostCenterAsset" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Asset" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ASSMST_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AssetType" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ASSTYP_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PurchaseDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SoldDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OriginalCostValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_OriginalCostValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CapitalGainsValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CapitalGainsValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AccumulatedTaxAllowanceBf" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_AccumulatedTaxAllowanceBf" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxAllowanceThisMtd" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxAllowanceThisMtd" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxAllowanceThisYtd" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxAllowanceThisYtd" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="NetTaxValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_NetTaxValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="NetValueRealised" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_NetValueRealised" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CostOfDisposal" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CostOfDisposal" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxValueProfitLoss" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_TaxValueProfitLoss" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CapitalGainsProfitLoss" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CapitalGainsProfitLoss" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="CostCenterTotalDetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="OriginalCostValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_OriginalCostValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AccumulatedTaxAllowanceBf" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AccumulatedTaxAllowanceBf" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisMtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisMtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisYtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisYtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetTaxValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetTaxValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetValueRealised" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetValueRealised" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CostOfDisposal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CostOfDisposal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxValueProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxValueProfitLoss" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsProfitLoss" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="BranchCostCentersTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="BranchCostCenterTotalDetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="OriginalCostValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_OriginalCostValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AccumulatedTaxAllowanceBf" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AccumulatedTaxAllowanceBf" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisMtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisMtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxAllowanceThisYtd" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxAllowanceThisYtd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetTaxValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetTaxValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetValueRealised" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetValueRealised" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CostOfDisposal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CostOfDisposal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxValueProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TaxValueProfitLoss" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGainsProfitLoss" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGainsProfitLoss" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="OriginalCostValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_OriginalCostValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapitalGainsValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CapitalGainsValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AccumulatedTaxAllowanceBf" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_AccumulatedTaxAllowanceBf" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TaxAllowanceThisMtd" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TaxAllowanceThisMtd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TaxAllowanceThisYtd" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TaxAllowanceThisYtd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NetTaxValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_NetTaxValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NetValueRealised" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_NetValueRealised" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostOfDisposal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CostOfDisposal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TaxValueProfitLoss" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TaxValueProfitLoss" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapitalGainsProfitLoss" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CapitalGainsProfitLoss" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
