Schemas7/asset_movement_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Viki (Syspro (Pty) Ltd) -->
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the Asset Movement REPORT Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="AssetMovementReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AssetMovementReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_RepSeqGrp1Name" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_RepSeqGrp2Name" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportOption" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportOption" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubAssets" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SubAssets" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportStatus" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FromPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ToYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ToPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AssetFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetGroupCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AssetGroupCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetGroupCodeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LocationFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetCostCenterFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AssetCostCenterFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetCostCenterFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementNumFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AgreementNumFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementNumFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AssetItems">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AssetItem" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AssetHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Asset" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Location" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ASSLOC_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AssetType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="RegistrationNum" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ChassisNum" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Engine" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AgreementNum" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BaseDepnDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BasePeriod" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PurchaseDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DateSold" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DisposalReason" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PartialDisposal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_PartialDisposal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AssetQty" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_AssetQty" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BaseAssetValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_BaseAssetValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BaseBookValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_BaseBookValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OriginalAssetValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_OriginalAssetValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InitialAllowPct" type="xsd:double" minOccurs="0"/>
													<xsd:element name="InvestAllowPct" type="xsd:double" minOccurs="0"/>
													<xsd:element name="ResidualValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_ResidualValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MinBookValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_MinBookValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DepreciationCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ASSDEP_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DepnType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_DepnType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VaryingDepnFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_VaryingDepnFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VaryingAnniversary" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_VaryingAnniversary" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BaseDepnPct" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StatGlCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ThruputAnnum" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_ThruputAnnum" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalPeriods" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalYears" type="xsd:double" minOccurs="0"/>
													<xsd:element name="RemainingPeriods" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ASSBRN_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GENMST_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AssetCostCenter" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ASSCCE_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AssetGroupCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ASSGRP_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MasterSub" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_MasterSub" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_MasterSubDisp" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MasterAsset" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MasterAssetDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AssetId" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CapexCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CapexLine" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CycleCount" type="xsd:string" minOccurs="0"/>
													<xsd:element name="RespUser" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AssetOwner" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ASSOWN_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Suspend" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_Suspend" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AssetStatus" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="AssetDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="OpeningValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_OpeningValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AdditionsValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_AdditionsValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="RevaluationsValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_RevaluationsValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DisposalsValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_DisposalsValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ChangesValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_ChangesValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InterCoInValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_InterCoInValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InterCoOutValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_InterCoOutValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AssetCountValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_AssetCountValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AssetSplitValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_AssetSplitValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InitialAllowVal" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_InitialAllowVal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ClosingValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_ClosingValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OpeningDepn" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_OpeningDepn" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OpeningDepnAdj" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_OpeningDepnAdj" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DepnThisPeriod" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_DepnThisPeriod" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DepnThisYtd" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_DepnThisYtd" type="xsd:string" minOccurs="0"/>
													<xsd:element name="RevaluationDepn" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_RevaluationDepn" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AdditionsDepn" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_AdditionsDepn" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AssetCountDepn" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_AssetCountDepn" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AssetSplitDepn" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_AssetSplitDepn" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DisposalDepn" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_DisposalDepn" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ClosingDepn" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_ClosingDepn" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NetAssetValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_NetAssetValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DisposalCost" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_DisposalCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SoldValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_SoldValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SoldPrLoss" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_SoldPrLoss" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvestAllowVal" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_InvestAllowVal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MasterSubTotals" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MasterSubTotalsOpeningValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsOpeningValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsAdditionsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsAdditionsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsRevaluationsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsRevaluationsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsDisposalsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsDisposalsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsChangesValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsChangesValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsInterCoInValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsInterCoInValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsInterCoOutValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsInterCoOutValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsAssetCountValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsAssetCountValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsAssetSplitValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsAssetSplitValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsInitialAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsInitialAllowVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsClosingValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsClosingValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsOpeningDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsOpeningDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsOpeningDepnAdj" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsOpeningDepnAdj" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsDepnThisPeriod" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsDepnThisPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsDepnThisYtd" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsDepnThisYtd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsRevaluationDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsRevaluationDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsAdditionsDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsAdditionsDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsAssetCountDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsAssetCountDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsAssetSplitDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsAssetSplitDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsDisposalDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsDisposalDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsClosingDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsClosingDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsNetAssetValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsNetAssetValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsDisposalCost" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsDisposalCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsSoldValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsSoldValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsSoldPrLoss" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsSoldPrLoss" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterSubTotalsInvestAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_MasterSubTotalsInvestAllowVal" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="LocationTotals" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LocationTotalsLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsOpeningValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsOpeningValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsAdditionsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsAdditionsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsRevaluationsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsRevaluationsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsDisposalsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsDisposalsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsChangesValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsChangesValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsInterCoInValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsInterCoInValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsInterCoOutValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsInterCoOutValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsAssetCountValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsAssetCountValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsAssetSplitValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsAssetSplitValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsInitialAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsInitialAllowVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsClosingValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsClosingValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsOpeningDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsOpeningDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsOpeningDepnAdj" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsOpeningDepnAdj" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsDepnThisPeriod" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsDepnThisPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsDepnThisYtd" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsDepnThisYtd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsRevaluationDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsRevaluationDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsAdditionsDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsAdditionsDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsAssetCountDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsAssetCountDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsAssetSplitDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsAssetSplitDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsDisposalDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsDisposalDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsClosingDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsClosingDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsNetAssetValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsNetAssetValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsDisposalCost" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsDisposalCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsSoldValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsSoldValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsSoldPrLoss" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsSoldPrLoss" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationTotalsInvestAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_LocationTotalsInvestAllowVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationGrpTotals" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LocationGrpTotalsLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsGroup" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsOpeningValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsOpeningValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsAdditionsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsAdditionsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsRevaluationsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsRevaluationsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsDisposalsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsDisposalsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsChangesValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsChangesValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsInterCoInValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsInterCoInValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsInterCoOutValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsInterCoOutValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsAssetCountValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsAssetCountValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsAssetSplitValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsAssetSplitValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsInitialAllowVal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsInitialAllowVal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsClosingValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsClosingValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsOpeningDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsOpeningDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsOpeningDepnAdj" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsOpeningDepnAdj" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsDepnThisPeriod" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsDepnThisPeriod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsDepnThisYtd" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsDepnThisYtd" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsRevaluationDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsRevaluationDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsAdditionsDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsAdditionsDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsAssetCountDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsAssetCountDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsAssetSplitDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsAssetSplitDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsDisposalDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsDisposalDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsClosingDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsClosingDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsNetAssetValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsNetAssetValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsDisposalCost" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsDisposalCost" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsSoldValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsSoldValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsSoldPrLoss" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsSoldPrLoss" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGrpTotalsInvestAllowVal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGrpTotalsInvestAllowVal" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LocationGlTotals" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LocationGlTotalsLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsGlCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsOpeningValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsOpeningValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsAdditionsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsAdditionsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsRevaluationsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsRevaluationsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsDisposalsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsDisposalsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsChangesValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsChangesValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsInterCoInValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsInterCoInValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsInterCoOutValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsInterCoOutValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsAssetCountValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsAssetCountValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsAssetSplitValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsAssetSplitValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsInitialAllowVal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsInitialAllowVal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsClosingValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsClosingValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsOpeningDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsOpeningDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsOpeningDepnAdj" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsOpeningDepnAdj" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsDepnThisPeriod" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsDepnThisPeriod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsDepnThisYtd" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsDepnThisYtd" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsRevaluationDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsRevaluationDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsAdditionsDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsAdditionsDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsAssetCountDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsAssetCountDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsAssetSplitDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsAssetSplitDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsDisposalDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsDisposalDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsClosingDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsClosingDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsNetAssetValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsNetAssetValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsDisposalCost" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsDisposalCost" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsSoldValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsSoldValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsSoldPrLoss" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsSoldPrLoss" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocationGlTotalsInvestAllowVal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_LocationGlTotalsInvestAllowVal" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GroupTotals" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GroupTotalsGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsOpeningValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsOpeningValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsAdditionsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsAdditionsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsRevaluationsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsRevaluationsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsDisposalsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsDisposalsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsChangesValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsChangesValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsInterCoInValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsInterCoInValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsInterCoOutValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsInterCoOutValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsAssetCountValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsAssetCountValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsAssetSplitValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsAssetSplitValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsInitialAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsInitialAllowVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsClosingValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsClosingValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsOpeningDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsOpeningDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsOpeningDepnAdj" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsOpeningDepnAdj" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsDepnThisPeriod" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsDepnThisPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsDepnThisYtd" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsDepnThisYtd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsRevaluationDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsRevaluationDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsAdditionsDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsAdditionsDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsAssetCountDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsAssetCountDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsAssetSplitDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsAssetSplitDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsDisposalDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsDisposalDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsClosingDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsClosingDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsNetAssetValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsNetAssetValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsDisposalCost" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsDisposalCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsSoldValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsSoldValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsSoldPrLoss" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsSoldPrLoss" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsInvestAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_GroupTotalsInvestAllowVal" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BranchTotals" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BranchTotalsBranch" type="xsd:double" minOccurs="0"/>
							<xsd:element name="BranchTotalsOpeningValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsOpeningValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsAdditionsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsAdditionsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsRevaluationsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsRevaluationsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsDisposalsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsDisposalsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsChangesValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsChangesValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsInterCoInValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsInterCoInValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsInterCoOutValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsInterCoOutValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsAssetCountValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsAssetCountValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsAssetSplitValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsAssetSplitValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsInitialAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsInitialAllowVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsClosingValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsClosingValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsOpeningDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsOpeningDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsOpeningDepnAdj" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsOpeningDepnAdj" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsDepnThisPeriod" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsDepnThisPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsDepnThisYtd" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsDepnThisYtd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsRevaluationDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsRevaluationDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsAdditionsDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsAdditionsDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsAssetCountDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsAssetCountDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsAssetSplitDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsAssetSplitDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsDisposalDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsDisposalDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsClosingDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsClosingDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsNetAssetValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsNetAssetValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsDisposalCost" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsDisposalCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsSoldValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsSoldValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsSoldPrLoss" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsSoldPrLoss" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsInvestAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_BranchTotalsInvestAllowVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchCcTotals" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BranchCcTotalsBranch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsCc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsOpeningValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsOpeningValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsAdditionsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsAdditionsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsRevaluationsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsRevaluationsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsDisposalsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsDisposalsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsChangesValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsChangesValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsInterCoInValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsInterCoInValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsInterCoOutValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsInterCoOutValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsAssetCountValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsAssetCountValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsAssetSplitValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsAssetSplitValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsInitialAllowVal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsInitialAllowVal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsClosingValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsClosingValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsOpeningDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsOpeningDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsOpeningDepnAdj" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsOpeningDepnAdj" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsDepnThisPeriod" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsDepnThisPeriod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsDepnThisYtd" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsDepnThisYtd" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsRevaluationDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsRevaluationDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsAdditionsDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsAdditionsDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsAssetCountDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsAssetCountDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsAssetSplitDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsAssetSplitDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsDisposalDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsDisposalDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsClosingDepn" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsClosingDepn" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsNetAssetValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsNetAssetValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsDisposalCost" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsDisposalCost" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsSoldValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsSoldValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsSoldPrLoss" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsSoldPrLoss" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchCcTotalsInvestAllowVal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_BranchCcTotalsInvestAllowVal" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AgreementTotals" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AgreementTotalsAgreementNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsOpeningValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsOpeningValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsAdditionsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsAdditionsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsRevaluationsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsRevaluationsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsDisposalsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsDisposalsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsChangesValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsChangesValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsInterCoInValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsInterCoInValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsInterCoOutValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsInterCoOutValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsAssetCountValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsAssetCountValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsAssetSplitValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsAssetSplitValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsInitialAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsInitialAllowVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsClosingValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsClosingValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsOpeningDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsOpeningDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsOpeningDepnAdj" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsOpeningDepnAdj" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsDepnThisPeriod" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsDepnThisPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsDepnThisYtd" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsDepnThisYtd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsRevaluationDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsRevaluationDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsAdditionsDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsAdditionsDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsAssetCountDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsAssetCountDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsAssetSplitDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsAssetSplitDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsDisposalDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsDisposalDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsClosingDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsClosingDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsNetAssetValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsNetAssetValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsDisposalCost" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsDisposalCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsSoldValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsSoldValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsSoldPrLoss" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsSoldPrLoss" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AgreementTotalsInvestAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_AgreementTotalsInvestAllowVal" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CompanyTotals">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyTotalsOpeningValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsOpeningValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsAdditionsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsAdditionsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsRevaluationsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsRevaluationsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsDisposalsValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsDisposalsValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsChangesValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsChangesValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsInterCoInValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsInterCoInValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsInterCoOutValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsInterCoOutValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsAssetCountValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsAssetCountValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsAssetSplitValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsAssetSplitValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsInitialAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsInitialAllowVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsClosingValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsClosingValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsOpeningDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsOpeningDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsOpeningDepnAdj" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsOpeningDepnAdj" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsDepnThisPeriod" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsDepnThisPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsDepnThisYtd" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsDepnThisYtd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsRevaluationDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsRevaluationDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsAdditionsDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsAdditionsDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsAssetCountDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsAssetCountDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsAssetSplitDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsAssetSplitDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsDisposalDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsDisposalDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsClosingDepn" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsClosingDepn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsNetAssetValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsNetAssetValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsDisposalCost" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsDisposalCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsSoldValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsSoldValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsSoldPrLoss" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsSoldPrLoss" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsInvestAllowVal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_CompanyTotalsInvestAllowVal" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
