Schemas7/asset_setup_options_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Register Setup Report
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AssetRegisterSetupReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BVDepreciationPostedToGlBy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BVDepreciationPostedToGlBy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubAssetsAllowed" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SubAssetsAllowed" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CalcDepreciationOnAdd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CalcDepreciationOnAdd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcBvResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcBvResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcTaxResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcTaxResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AmendmentJournalsReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AmendmentJournalsReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrentWeekNo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrentMonthNo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetNumberingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AssetNumberingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CapexNumberingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CapexNumberingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcAlt1ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcAlt1ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcAlt2ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcAlt2ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcAlt3ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcAlt3ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcAlt4ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcAlt4ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcAlt5ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcAlt5ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcAlt6ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcAlt6ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcAlt7ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcAlt7ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcAlt8ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcAlt8ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcAlt9ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcAlt9ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExcAlt10ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExcAlt10ResidFromDeprecCalc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DepnRoundingOption" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_DepnRoundingOption" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DepnRoundingFactor" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DepnRoundingUp" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_DepnRoundingUp" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BalancingFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncAssWithNoQtyChange" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncAssWithNoQtyChange" type="xsd:string" minOccurs="0"/>							
							<xsd:element name="YearSelec" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MonthSelec" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DistributionEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DisposedAssets" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BvEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CapexCompletedEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CapexOtherEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Transactions" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt1Entries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt2Entries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt3Entries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt4Entries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt5Entries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt6Entries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt7Entries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt8Entries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt9Entries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt10Entries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BvHistoryYears" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxHistoryYears" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt1HistoryYears" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt2HistoryYears" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt3HistoryYears" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt4HistoryYears" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt5HistoryYears" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt6HistoryYears" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt7HistoryYears" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt8HistoryYears" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt9HistoryYears" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt10HistoryYears" type="xsd:string" minOccurs="0"/>							
							<xsd:element name="AltValuation1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltValuation2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltValuation3" type="xsd:string" minOccurs="0"/>
														<xsd:element name="AltValuation4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltValuation5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltValuation6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltValuation7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltValuation8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltValuation9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltValuation10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateConvDef" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_DateConvDef" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BvDateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BvDateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxDateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_TaxDateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt1DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt1DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt2DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt2DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt3DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt3DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt4DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt4DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt5DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt5DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt6DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt6DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt7DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt7DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt8DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt8DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt9DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt9DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt10DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt10DateConvention" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxBasis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_TaxBasis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt1Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt1Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt2Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt2Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt3Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt3Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt4Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt4Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt5Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt5Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt6Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt6Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt7Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt7Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt8Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt8Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt9Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt9Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Alt10Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Alt10Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextAsset" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextCapex" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
