Schemas7/asset_distribution.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Assets GL Distribution Report Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Additions">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Changes">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CurrentGLMonth" type="xsd:short">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the current general ledger month.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurrentGLYear" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the current general ledger year.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Deletions">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Depreciation">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DepreciationAdjustment">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DepreciationAdjustmentEUL">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DepreciationOnAcquisition">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Disposals">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EntrySelectionBy">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate whether to reprint by entries group or journal.The default is J and the other valid value is E.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;J=GL journal;E=Entries group"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="J"/>
				<xsd:enumeration value="E"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LedgerMonthSelection" minOccurs="0"/>
				<xsd:element ref="LedgerYearSelection" minOccurs="0"/>
				<xsd:element ref="LedgerEntriesGroupSelection" minOccurs="0"/>
				<xsd:element ref="GlJournalSelection" minOccurs="0"/>
				<xsd:element ref="LedgerCodeSelection" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GlJournalSelection">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the ledger Journal selection.The default is A and the other valid value is S.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IntercoTransfersInOut">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection (intercompany transfer in/out).The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LedgerCodeSelection">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the ledger code selection.The default is A and the other valid values are R and S.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=GenMaster;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LedgerEntriesGroupSelection">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the ledger entries group selection.The default is A and the other valid value is S.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LedgerMonthSelection">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the ledger period selection.The default is A and the other valid value is S.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LedgerYearSelection">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the ledger year selection.The default is A and the other valid values is S.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;;A=All;S=Single;"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CurrentGLMonth" minOccurs="0"/>
				<xsd:element ref="CurrentGLYear" minOccurs="0"/>
				<xsd:element ref="ReportType" minOccurs="0"/>
				<xsd:element ref="EntrySelectionBy" minOccurs="0"/>
				<xsd:element ref="ReprintGLDistributionOption" minOccurs="0"/>
				<xsd:element ref="Depreciation" minOccurs="0"/>
				<xsd:element ref="DepreciationAdjustment" minOccurs="0"/>
				<xsd:element ref="DepreciationAdjustmentEUL" minOccurs="0"/>
				<xsd:element ref="DepreciationOnAcquisition" minOccurs="0"/>
				<xsd:element ref="Revaluations" minOccurs="0"/>
				<xsd:element ref="Transfers" minOccurs="0"/>
				<xsd:element ref="IntercoTransfersInOut" minOccurs="0"/>
				<xsd:element ref="Additions" minOccurs="0"/>
				<xsd:element ref="Disposals" minOccurs="0"/>
				<xsd:element ref="Deletions" minOccurs="0"/>
				<xsd:element ref="Changes" minOccurs="0"/>
				<xsd:element ref="RevaluationDepreciation" minOccurs="0"/>
				<xsd:element ref="InterCoTransfers" minOccurs="0"/>
				<xsd:element ref="ExistingAddition" minOccurs="0"/>
				<xsd:element ref="PartialDisposal" minOccurs="0"/>
				<xsd:element ref="AssetCountAdj" minOccurs="0"/>
				<xsd:element ref="AssetSplit" minOccurs="0"/>
				<xsd:element ref="DepreciationDisposal" minOccurs="0"/>
				<xsd:element ref="DepreciationPartialDisposal" minOccurs="0"/>
				<xsd:element ref="AdditionAssetCount" minOccurs="0"/>
				<xsd:element ref="DisposalAssetCount" minOccurs="0"/>
				<xsd:element ref="XslStylesheet" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
				<xsd:element ref="Filter"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReportType">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the report type.The default is D and the other valid value is S.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;D=Detail;S=Summary"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="S"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ReprintGLDistributionOption">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the whether to reprint the general ledger distribution report.The default is N and the other valid value is Y.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Revaluations">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Transfers">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="XslStylesheet">
		<xsd:annotation>
			<xsd:documentation>This is the style sheet to be applied</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="RevaluationDepreciation">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InterCoTransfers">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ExistingAddition">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PartialDisposal">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AssetCountAdj">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AssetSplit">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DepreciationDisposal">
		<xsd:annotation>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DepreciationPartialDisposal">
		<xsd:annotation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AdditionAssetCount">
		<xsd:annotation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DisposalAssetCount">
		<xsd:annotation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
			<xsd:documentation>This sequence is used to indicate the Asset entries selection.The default is Y and the other valid value is N.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
