Schemas7/asset_movement.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for Asset Movement Report Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AgreementNum">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of agreement numbers to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Asset">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of assets to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=AssetMaster;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AssetCostCenter">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of cost centers to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=AssetCostCenter;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AssetGroupCode">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of asset groups to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=AssetGroup;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Branch">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of asset branches to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=AssetBranch;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:annotation>
      <xsd:documentation>The parent filter element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Asset" minOccurs="0"/>
        <xsd:element ref="Branch" minOccurs="0"/>
        <xsd:element ref="AssetGroupCode" minOccurs="0"/>
        <xsd:element ref="Location" minOccurs="0"/>
        <xsd:element ref="AssetCostCenter" minOccurs="0"/>
        <xsd:element ref="AgreementNum" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Location">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of locations to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=AssetLocation;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:annotation>
      <xsd:documentation>The parent option element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportSequence" minOccurs="0"/>
        <xsd:element ref="ReportOption" minOccurs="0"/>
        <xsd:element ref="ReportType" minOccurs="0"/>
        <xsd:element ref="SubAssets" minOccurs="0"/>
        <xsd:element ref="ReportStatus" minOccurs="0"/>
        <xsd:element ref="FromPeriod" minOccurs="0"/>
        <xsd:element ref="ToYear" minOccurs="0"/>
        <xsd:element ref="ToPeriod" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>The parent query element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option" minOccurs="0"/>
        <xsd:element ref="Filter" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportOption">
    <xsd:annotation>
      <xsd:documentation>Defines the valuation option used to print the report. (H - Historical book value, O - Original book value, 1 - Alternate value 1, 2 - Alternate value 2, 3 - Alternate value 3, Alternate value 4, Alternate value 5, Alternate value 6, Alternate value 7, Alternate value 8, Alternate value 9, Alternate value 10</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;H=Historical;O=Original book value;T=Tax;1=Alternate value 1;2=Alternate value 2;3=Alternate value 3;4=Alternate value 4;5=Alternate value 5;6=Alternate value 6; 7=Alternate value 7;8=Alternate value 8;9=Alternate value 9;10=Alternate value 10"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="H"/>
        <xsd:enumeration value="O"/>
        <xsd:enumeration value="T"/>
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="2"/>
        <xsd:enumeration value="3"/>
        <xsd:enumeration value="4"/>
        <xsd:enumeration value="5"/>
        <xsd:enumeration value="6"/>
        <xsd:enumeration value="7"/>
        <xsd:enumeration value="8"/>
        <xsd:enumeration value="9"/>
        <xsd:enumeration value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReportSequence">
    <xsd:annotation>
      <xsd:documentation>Defines the sequence in which the report will be printed. (A - Asset code, G - Asset group within location, L - Ledger code within location, R - Asset group, B - Asset branch,C - Cost center within Branch, M - Agreement number). If no value is supplied a default of 'G' will be used. If a value of  'A' is passed there will be no  totalling.  If a value of "G" is passed, there will be totalling by group and location. If a value of "L" is passed, there will be totalling by Ledger code and location. If a value of "R" is passed, there will be totalling by asset group. If a value of "B" is passed, there will be totalling by asset branch. If a value of "C" is passed there will be totalling by cost center and branch. If a value of "M" is passed there will be totalling by Agreement number.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=Asset code;G=Group within location;L=Ledger code within location;R=Group;B=Branch;C=Cost center;M=Agreement no"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="G"/>
        <xsd:enumeration value="L"/>
        <xsd:enumeration value="R"/>
        <xsd:enumeration value="B"/>
        <xsd:enumeration value="C"/>
        <xsd:enumeration value="M"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReportType">
    <xsd:annotation>
      <xsd:documentation>Detail or Summary (D - Detail, S - Summary)</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;D=Detail;S=Summary"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubAssets">
    <xsd:annotation>
      <xsd:documentation>Defines whether sub-assets are to be printed under master assets. (Y - Yes, N - No) If no value is passed, a value of "Y" will be assumed.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReportStatus">
    <xsd:annotation>
      <xsd:documentation>Additions or Disposal or spaces. If this element is not supplied, the COM object will print either the movement or tax schedule.  (A - Additions, D - Disposal, Space - other).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=Additions;D=Disposal"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value=" "/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FromPeriod">
    <xsd:annotation>
      <xsd:documentation>The period number from which the report must be printed. This only applies to List of Additions and List of disposals. Should none be returned, period 1 is assumed.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;01=01;02=02;03=03;04=04;05=05;06=06;07=07;08=08;09=09;10=10;11=11;12=12;13=13"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="01"/>
        <xsd:enumeration value="02"/>
        <xsd:enumeration value="03"/>
        <xsd:enumeration value="04"/>
        <xsd:enumeration value="05"/>
        <xsd:enumeration value="06"/>
        <xsd:enumeration value="07"/>
        <xsd:enumeration value="08"/>
        <xsd:enumeration value="09"/>
        <xsd:enumeration value="10"/>
        <xsd:enumeration value="11"/>
        <xsd:enumeration value="12"/>
        <xsd:enumeration value="13"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ToPeriod">
    <xsd:annotation>
      <xsd:documentation>The period number to which the report must be printed.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;01=01;02=02;03=03;04=04;05=05;06=06;07=07;08=08;09=09;10=10;11=11;12=12;13=13"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="01"/>
        <xsd:enumeration value="02"/>
        <xsd:enumeration value="03"/>
        <xsd:enumeration value="04"/>
        <xsd:enumeration value="05"/>
        <xsd:enumeration value="06"/>
        <xsd:enumeration value="07"/>
        <xsd:enumeration value="08"/>
        <xsd:enumeration value="09"/>
        <xsd:enumeration value="10"/>
        <xsd:enumeration value="11"/>
        <xsd:enumeration value="12"/>
        <xsd:enumeration value="13"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ToYear" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The year number to which the report must be printed. If this is a List of Additions or List of Disposals, this will be ignored and current year will be assumed.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;"/>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
