Schemas7/ASSQCCOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Assets List of Cost Centers Business Object
-->
<xsd:schema id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CostCenterFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CostCenterFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CostCenterFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ListofCostCenters" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Branch" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BranchCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CostCenter" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CostCenterCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CostCenterDescription" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:string"/>
			<xsd:attribute name="CssStyle" type="xsd:string"/>
			<xsd:attribute name="DecFormat" type="xsd:string"/>
			<xsd:attribute name="DateFormat" type="xsd:string"/>
			<xsd:attribute name="Role" type="xsd:string"/>
			<xsd:attribute name="Version" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NewDataSet">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="Query"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
