Schemas7/ASSQAJ.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Amendment Journal Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Reprint" minOccurs="0"/>
        <xsd:element ref="PrintAdditions" minOccurs="0"/>
        <xsd:element ref="PrintChanges" minOccurs="0"/>
        <xsd:element ref="PrintDeletions" minOccurs="0"/>
        <xsd:element ref="DeleteJournalReport" minOccurs="0"/>
        <xsd:element ref="IncludeAssetMasterAmendmentJournals" minOccurs="0"/>
        <xsd:element ref="IncludeBranchAmendmentJournals" minOccurs="0"/>
        <xsd:element ref="IncludeCostCenterAmendmentJournals" minOccurs="0"/>
        <xsd:element ref="IncludeGroupAmendmentJournals" minOccurs="0"/>
        <xsd:element ref="IncludeLocationAmendmentJournals" minOccurs="0"/>
        <xsd:element name="IncludeDepreciationBookValueAmendmentJournals" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Indicates whether the amendment journals for Depreciation Book Value should be included after the report is run. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="IncludeDepreciationTaxAmendmentJournals" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Indicates whether the amendment journals for Depreciation Tax should be included after the report is run. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="IncludeDepreciationAltValueAmendmentJournals" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Indicates whether the amendment journals for Depreciation Alternate Values should be included after the report is run. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Reprint">
    <xsd:annotation>
      <xsd:documentation>Indicates whether  the amendment journal should be reprinted. (Y - Yes and N - No). If no value is supplied then a default of 'N' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintAdditions">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the Asset additions should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintChanges">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the Asset changes should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintDeletions">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the Asset deletions should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DeleteJournalReport">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the amendment journal should be deleted after the report is run. (Y - Yes and N - No). If no value is supplied then a default of 'N' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeAssetMasterAmendmentJournals">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the amendment journals for Asset masters should be included after the report is run. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeBranchAmendmentJournals">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the amendment journals for Branches should be included after the report is run. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeCostCenterAmendmentJournals">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the amendment journals for Cost centers should be included after the report is run. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeGroupAmendmentJournals">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the amendment journals for Groups should be included after the report is run. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeLocationAmendmentJournals">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the amendment journals for Locations should be included after the report is run. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>The stylesheet to be applied</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
