Schemas7/ASSQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Register Setup Query Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="AssetRegisterOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="General">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BookValDepPostedToGlCode" type="xsd:string" minOccurs="0" />
              <xsd:element name="SubAssetsAllowed" type="xsd:string" minOccurs="0" />
              <xsd:element name="OptionsOnAdditions" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssetAmendJnlsReq" type="xsd:string" minOccurs="0" />
              <xsd:element name="RoundingOptions" type="xsd:string" minOccurs="0" />
              <xsd:element name="RndOptionsNearestValue" type="xsd:string" minOccurs="0" />
              <xsd:element name="RndOptionsNearestUnit" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnBookVal" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnTaxVal" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnAltVal1" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnAltVal2" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnAltVal3" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnAltVal4" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnAltVal5" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnAltVal6" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnAltVal7" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnAltVal8" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnAltVal9" type="xsd:string" minOccurs="0" />
              <xsd:element name="ExclResidFromDepnAltVal10" type="xsd:string" minOccurs="0" />
              <xsd:element name="InclAssetWithNoQtyChg" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BasisDateConventions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BasisForDepnTaxVal" type="xsd:string" minOccurs="0" />
              <xsd:element name="BasisForDepnAltVal1" type="xsd:string" minOccurs="0" />
              <xsd:element name="BasisForDepnAltVal2" type="xsd:string" minOccurs="0" />
              <xsd:element name="BasisForDepnAltVal3" type="xsd:string" minOccurs="0" />
              <xsd:element name="BasisForDepnAltVal4" type="xsd:string" minOccurs="0" />
              <xsd:element name="BasisForDepnAltVal5" type="xsd:string" minOccurs="0" />
              <xsd:element name="BasisForDepnAltVal6" type="xsd:string" minOccurs="0" />
              <xsd:element name="BasisForDepnAltVal7" type="xsd:string" minOccurs="0" />
              <xsd:element name="BasisForDepnAltVal8" type="xsd:string" minOccurs="0" />
              <xsd:element name="BasisForDepnAltVal9" type="xsd:string" minOccurs="0" />
              <xsd:element name="BasisForDepnAltVal10" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvDefBy" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvBookVal" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvTaxVal" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvAltVal1" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvAltVal2" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvAltVal3" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvAltVal4" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvAltVal5" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvAltVal6" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvAltVal7" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvAltVal8" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvAltVal9" type="xsd:string" minOccurs="0" />
              <xsd:element name="DateConvAltVal10" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="History">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PerRetDistrEnt" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetDispAssets" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetTrans" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetCapex" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetCapexLines" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntBookVal" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntTaxVal" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntAltVal1" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntAltVal2" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntAltVal3" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntAltVal4" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntAltVal5" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntAltVal6" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntAltVal7" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntAltVal8" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntAltVal9" type="xsd:string" minOccurs="0" />
              <xsd:element name="PerRetEntAltVal10" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistBookVal" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistTaxVal" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistAltVal1" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistAltVal2" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistAltVal3" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistAltVal4" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistAltVal5" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistAltVal6" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistAltVal7" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistAltVal8" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistAltVal9" type="xsd:string" minOccurs="0" />
              <xsd:element name="YearsRetHistAltVal10" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PeriodCurrentYear">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AssCurrDatePeriod1" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod1" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod2" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod2" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod3" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod3" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod4" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod4" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod5" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod5" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod6" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod6" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod7" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod7" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod8" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod8" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod9" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod9" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod10" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod10" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod11" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod11" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod12" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod12" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrDatePeriod13" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrFlagPeriod13" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PeriodPreviousYear">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AssPrevDatePeriod1" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod1" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod2" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod2" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod3" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod3" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod4" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod4" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod5" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod5" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod6" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod6" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod7" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod7" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod8" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod8" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod9" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod9" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod10" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod10" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod11" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod11" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod12" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod12" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevDatePeriod13" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssPrevFlagPeriod13" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CurrentMonth">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AssTrnCurrentWeek" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssTrnCurrentMonth" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrentYear" type="xsd:string" minOccurs="0" />
              <xsd:element name="AssCurrentMonth" type="xsd:string" minOccurs="0" />
              <xsd:element name="AccPeriodsPerYear" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Numbering">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AssetNumMethod" type="xsd:string" minOccurs="0" />
              <xsd:element name="NextAssetsNum" type="xsd:string" minOccurs="0" />
              <xsd:element name="CapexNumMethod" type="xsd:string" minOccurs="0" />
              <xsd:element name="NextCapexNum" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="UserDefined">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DescAltVal1" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAltVal2" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAltVal3" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAltVal4" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAltVal5" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAltVal6" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAltVal7" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAltVal8" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAltVal9" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAltVal10" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Information">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AssNextDistReg" type="xsd:string" minOccurs="0" />
              <xsd:element name="LastDepnCalcPeriod" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
