Schemas7/ASSQL2.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2014 SYSPRO Ltd.--><!--     Schema List for the Asset List Of Depreciation Codes--><xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="CurrentFinancialMonth" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element is used to indicate the current financial month. </xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="CurrentFinancialYear" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element is used to indicate the current financial year.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="DepreciationCodeSelection">		<xsd:complexType>			<xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>		</xsd:complexType>	</xsd:element>	<xsd:element name="Filter">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="DepreciationCodeSelection" minOccurs="0"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="Option">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="CurrentFinancialMonth" minOccurs="0"/>				<xsd:element ref="CurrentFinancialYear" minOccurs="0"/>				<xsd:element ref="XslStylesheet" minOccurs="0"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="Query">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Option"/>				<xsd:element ref="Filter"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="XslStylesheet">		<xsd:annotation>			<xsd:documentation>This is the xml style sheet to be applied.</xsd:documentation>		</xsd:annotation>		<xsd:complexType/>	</xsd:element></xsd:schema>