Schemas7/ASSQDPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is a sample XSD instance to demonstrate
     the use of the Asset Depreciation Calculate Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DepreciationQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AssetCost" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AssetBookValue" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DepnPrevYear" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DepnThisYear" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DepnThisPeriod" type="xsd:string" minOccurs="0"/>
        <xsd:element name="YearToUse" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeclStraightFlag" type="xsd:string" minOccurs="0"/>
        <xsd:element name="HalfRule" type="xsd:string" minOccurs="0"/>
        <xsd:element name="StartDepnYear" type="xsd:string" minOccurs="0"/>
        <xsd:element name="StartDepnPeriod" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PurchaseYear" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PurchasePeriod" type="xsd:string" minOccurs="0"/>
        <xsd:element name="StartDepnDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PeriodsCalculated" type="xsd:string" minOccurs="0"/>
        <xsd:element name="LastDepnRateUsed" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DepreciationHistory" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
