Schemas7/ASSQCSOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Capex Management Summary Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CapexManagementSummaryReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClosed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeClosed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeDenied" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeDenied" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexItemFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CapexItemFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexItemFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetGroupCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetGroupCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetGroupCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetCostCenterFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetCostCenterFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetCostCenterFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CapexClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_YearFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PeriodFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PeriodFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PeriodFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CapexItems" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CapexItem" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CapexCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapexRef" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ASSBRN_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetCostCenter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ASSCCE_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ASSGRP_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapexClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ASSCLS_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ApprovalStatus" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ValueBudgeted" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ValueBudgeted" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ValueNotAuth" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ValueNotAuth" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ValueAuthUncomm" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ValueAuthUncomm" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ValueCommitted" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ValueCommitted" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ValueSpent" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ValueSpent" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ValueAvailable" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ValueAvailable" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorApproved" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateApproved" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StartPeriod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EndPeriod" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BranchTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BranchTotalsBranch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsBudget" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsBudget" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsNotAuth" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsNotAuth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsComm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsComm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsSpent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsSpent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsAvailable" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsCount" type="xsd:unsignedInt" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BranchCcTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BranchCcTotalsBranch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsCc" type="xsd:double" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsBudget" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsBudget" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsNotAuth" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsNotAuth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsComm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsComm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsSpent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsSpent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsAvailable" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsCount" type="xsd:double" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GroupTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GroupTotalsGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsBudget" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsBudget" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsNotAuth" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsNotAuth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsComm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsComm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsSpent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsSpent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsAvailable" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsCount" type="xsd:double" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ClassificationTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ClassificationTotalsClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsBudget" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsBudget" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsNotAuth" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsNotAuth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsComm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsComm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsSpent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsSpent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsAvailable" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsCount" type="xsd:double" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyTotalsBudget" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsBudget" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsNotAuth" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsNotAuth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsComm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsComm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsSpent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsSpent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsAvailable" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsCount" type="xsd:double" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
