Schemas7/ASSQAJOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Amendment Journal Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="AssetAmendmentJournalReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <xsd:element name="AssetAmendmentJournalReport">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintAdditions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintChanges" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintDeletions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DeleteJournalReport" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeAssetMasterAmendmentJournals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeBranchAmendmentJournals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCostCenterAmendmentJournals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeGroupAmendmentJournals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeLocationAmendmentJournals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="XslStylesheet" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Amendments">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Amendment" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ChangeFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetFileName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JnlDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JnlTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JnlLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Asset" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ASSMST_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ColumnName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BeforeAmendment" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AfterAmendment" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ADMOPR_Name" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="FileDeleted">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Delete" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TotalAdditions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalChanges" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalDeletions" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_Asset_Amendment_Journal_Report__Additions_" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Asset_Amendment_Journal_Report__Changes_" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Asset_Amendment_Journal_Report__Deletions_" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Asset_Amendment_Journal_Report" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Yes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_No" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Asset_Master" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Branch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Cost_Center" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Group" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Location" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
