Schemas7/ASSQPROUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Capex Projection Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CapexProjectionReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string"/>
							<xsd:element name="Language" type="xsd:string"/>
							<xsd:element name="DecFormat" type="xsd:string"/>
							<xsd:element name="DateFormat" type="xsd:string"/>
							<xsd:element name="Role" type="xsd:string"/>
							<xsd:element name="Version" type="xsd:string"/>
							<xsd:element name="CompanyId" type="xsd:string"/>
							<xsd:element name="CompanyName" type="xsd:string"/>
							<xsd:element name="OperatorCode" type="xsd:string"/>
							<xsd:element name="OperatorName" type="xsd:string"/>
							<xsd:element name="OperatorGroup" type="xsd:string"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string"/>
							<xsd:element name="OperatorLocation" type="xsd:string"/>
							<xsd:element name="LocalCurrency" type="xsd:string"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string"/>
							<xsd:element name="ReportDate" type="xsd:string"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
							<xsd:element name="SeparatorToUse" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportSequence" type="xsd:string"/>
							<xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Sequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_RepSeqAssBr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_RepSeqName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_RepSeqNameItem" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_RepSeqNamCC" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_RepSeqTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseItemFields" type="xsd:string"/>
							<xsd:element name="Translated_UseItemFields" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeNoLines" type="xsd:string"/>
							<xsd:element name="Translated_IncludeNoLines" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeClosed" type="xsd:string"/>
							<xsd:element name="Translated_IncludeClosed" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeDenied" type="xsd:string"/>
							<xsd:element name="Translated_IncludeDenied" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintLines" type="xsd:string"/>
							<xsd:element name="Translated_PrintLines" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CapexItemFilterType" type="xsd:string"/>
							<xsd:element name="Translated_CapexItemFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CapexItemFilterValue" type="xsd:string"/>
							<xsd:element name="CapexLineFilterType" type="xsd:string"/>
							<xsd:element name="Translated_CapexLineFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CapexLineFilterValue" type="xsd:string"/>
							<xsd:element name="BranchFilterType" type="xsd:string"/>
							<xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterValue" type="xsd:string"/>
							<xsd:element name="AssetGroupCodeFilterType" type="xsd:string"/>
							<xsd:element name="Translated_AssetGroupCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetGroupCodeFilterValue" type="xsd:string"/>
							<xsd:element name="AssetCostCenterFilterType" type="xsd:string"/>
							<xsd:element name="Translated_AssetCostCenterFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetCostCenterFilterValue" type="xsd:string"/>
							<xsd:element name="CapexClassFilterType" type="xsd:string"/>
							<xsd:element name="Translated_CapexClassFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CapexClassFilterValue" type="xsd:string"/>
							<xsd:element name="CapexTypeFilterType" type="xsd:string"/>
							<xsd:element name="Translated_CapexTypeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CapexTypeFilterValue" type="xsd:string"/>
							<xsd:element name="AssetCodeFilterType" type="xsd:string"/>
							<xsd:element name="Translated_AssetCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetCodeFilterValue" type="xsd:string"/>
							<xsd:element name="YearFilterType" type="xsd:string"/>
							<xsd:element name="Translated_YearFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearFilterValue" type="xsd:string"/>
							<xsd:element name="PeriodFilterType" type="xsd:string"/>
							<xsd:element name="Translated_PeriodFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodFilterValue" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CapexItems">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CapexItem" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CapexHeader" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CapexCode" type="xsd:string"/>
													<xsd:element name="Description" type="xsd:string"/>
													<xsd:element name="CapexRef" type="xsd:string"/>
													<xsd:element name="Branch" type="xsd:string"/>
													<xsd:element name="ASSBRN_Description" type="xsd:string"/>
													<xsd:element name="AssetCostCenter" type="xsd:string"/>
													<xsd:element name="ASSCCE_Description" type="xsd:string"/>
													<xsd:element name="AssetGroupCode" type="xsd:string"/>
													<xsd:element name="ASSGRP_Description" type="xsd:string"/>
													<xsd:element name="CapexClass" type="xsd:string"/>
													<xsd:element name="ASSCLS_Description" type="xsd:string"/>
													<xsd:element name="ApprovalStatus" type="xsd:string"/>
													<xsd:element name="Translated_ApprovalStatus" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ValueBudgeted" type="xsd:double"/>
													<xsd:element name="Edited_ValueBudgeted" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ValueNotAuth" type="xsd:double"/>
													<xsd:element name="Edited_ValueNotAuth" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ValueUncommitted" type="xsd:double"/>
													<xsd:element name="Edited_ValueUncommitted" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ValueCommitted" type="xsd:double"/>
													<xsd:element name="Edited_ValueCommitted" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ValueSpent" type="xsd:double"/>
													<xsd:element name="Edited_ValueSpent" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ValueAvailable" type="xsd:double"/>
													<xsd:element name="Edited_ValueAvailable" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Operator" type="xsd:string"/>
													<xsd:element name="SystemDate" type="xsd:string"/>
													<xsd:element name="OperatorApproved" type="xsd:string"/>
													<xsd:element name="DateApproved" type="xsd:string"/>
													<xsd:element name="StartPeriod" type="xsd:string"/>
													<xsd:element name="EndPeriod" type="xsd:string"/>
													<xsd:element name="CapexNextLine" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="CapexLines" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CapexLine" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CapexLineCapexCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineNumber" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineAsset" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineBranch" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ASSBRN_CapexLineDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineAssetCostCenter" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ASSCCE_CapexLineDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineAssetGroupCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ASSGRP_CapexLineDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ASSCTP_Description" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineReference" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineSystemDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineApprovalStatus" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_CapexLineApprovalStatus" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineOperator" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineOperApproved" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineDateApproved" type="xsd:string" minOccurs="0"/>
																<xsd:element name="LastRequisition" type="xsd:string" minOccurs="0"/>
																<xsd:element name="LastPurchaseOrder" type="xsd:string" minOccurs="0"/>
																<xsd:element name="LastJob" type="xsd:string" minOccurs="0"/>
																<xsd:element name="LastGrn" type="xsd:string" minOccurs="0"/>
																<xsd:element name="LastPartBilling" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Originator" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineStartPeriod" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
																<xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_UnitCost" type="xsd:string" minOccurs="0"/>
																<xsd:element name="AssetQty" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_AssetQty" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ExchangeRate" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_ExchangeRate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MulDiv" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Supplier2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="UnitCost2" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_UnitCost2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="AssetQty2" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_AssetQty2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Uom2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ExchangeRate2" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_ExchangeRate2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Currency2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MulDiv2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Supplier3" type="xsd:string" minOccurs="0"/>
																<xsd:element name="UnitCost3" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_UnitCost3" type="xsd:string" minOccurs="0"/>
																<xsd:element name="AssetQty3" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_AssetQty3" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Uom3" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ExchangeRate3" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_ExchangeRate3" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Currency3" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MulDiv3" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineValueNotAuth" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_CapexLineValueNotAuth" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineValueAuthUncomm" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_CapexLineValueAuthUncomm" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineValueCommitted" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_CapexLineValueCommitted" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineValueSpent" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_CapexLineValueSpent" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CapexLineValueTotal" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_CapexLineValueTotal" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="YearTotals" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="YearTotalsYear" type="xsd:string"/>
													<xsd:element name="Edited_YearTotalsYear" type="xsd:string" minOccurs="0"/>
													<xsd:element name="YearTotalsNotAuth" type="xsd:double"/>
													<xsd:element name="Edited_YearTotalsNotAuth" type="xsd:string" minOccurs="0"/>
													<xsd:element name="YearTotalsAuthUncomm" type="xsd:double"/>
													<xsd:element name="Edited_YearTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
													<xsd:element name="YearTotalsComm" type="xsd:double"/>
													<xsd:element name="Edited_YearTotalsComm" type="xsd:string" minOccurs="0"/>
													<xsd:element name="YearTotalsSpent" type="xsd:double"/>
													<xsd:element name="Edited_YearTotalsSpent" type="xsd:string" minOccurs="0"/>
													<xsd:element name="YearTotalsTotal" type="xsd:double"/>
													<xsd:element name="Edited_YearTotalsTotal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="YearTotalsCountLines" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="CapexItemTotals" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CapexItemTotalsCapexCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CapexItemTotalsNotAuth" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_CapexItemTotalsNotAuth" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CapexItemTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_CapexItemTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CapexItemTotalsComm" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_CapexItemTotalsComm" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CapexItemTotalsSpent" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_CapexItemTotalsSpent" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CapexItemTotalsTotal" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_CapexItemTotalsTotal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CapexItemTotalsCountLines" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BranchTotals" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BranchTotalsBranch" type="xsd:string"/>
							<xsd:element name="BranchTotalsBudget" type="xsd:double"/>
							<xsd:element name="Edited_BranchTotalsBudget" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsNotAuth" type="xsd:double"/>
							<xsd:element name="Edited_BranchTotalsNotAuth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsAuthUncomm" type="xsd:double"/>
							<xsd:element name="Edited_BranchTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsComm" type="xsd:double"/>
							<xsd:element name="Edited_BranchTotalsComm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsSpent" type="xsd:double"/>
							<xsd:element name="Edited_BranchTotalsSpent" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsTotal" type="xsd:double"/>
							<xsd:element name="Edited_BranchTotalsTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsAvailable" type="xsd:double"/>
							<xsd:element name="Edited_BranchTotalsAvailable" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchTotalsCountLines" type="xsd:double"/>
							<xsd:element name="BranchTotalsCountItems" type="xsd:double"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BranchCcTotals" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BranchCcTotalsBranch" type="xsd:string"/>
							<xsd:element name="BranchCcTotalsCc" type="xsd:string"/>
							<xsd:element name="Edited_BranchCcTotalsCc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchCcTotalsBudget" type="xsd:double"/>
							<xsd:element name="Edited_BranchCcTotalsBudget" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchCcTotalsNotAuth" type="xsd:double"/>
							<xsd:element name="Edited_BranchCcTotalsNotAuth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchCcTotalsAuthUncomm" type="xsd:double"/>
							<xsd:element name="Edited_BranchCcTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchCcTotalsComm" type="xsd:double"/>
							<xsd:element name="Edited_BranchCcTotalsComm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchCcTotalsSpent" type="xsd:double"/>
							<xsd:element name="Edited_BranchCcTotalsSpent" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchCcTotalsTotal" type="xsd:double"/>
							<xsd:element name="Edited_BranchCcTotalsTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchCcTotalsAvailable" type="xsd:double"/>
							<xsd:element name="Edited_BranchCcTotalsAvailable" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchCcTotalsCountLines" type="xsd:double"/>
							<xsd:element name="BranchCcTotalsCountItems" type="xsd:double"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GroupTotals" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GroupTotalsGroup" type="xsd:string"/>
							<xsd:element name="GroupTotalsBudget" type="xsd:double"/>
							<xsd:element name="Edited_GroupTotalsBudget" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsNotAuth" type="xsd:double"/>
							<xsd:element name="Edited_GroupTotalsNotAuth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsAuthUncomm" type="xsd:double"/>
							<xsd:element name="Edited_GroupTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsComm" type="xsd:double"/>
							<xsd:element name="Edited_GroupTotalsComm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsSpent" type="xsd:double"/>
							<xsd:element name="Edited_GroupTotalsSpent" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsTotal" type="xsd:double"/>
							<xsd:element name="Edited_GroupTotalsTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsAvailable" type="xsd:double"/>
							<xsd:element name="Edited_GroupTotalsAvailable" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupTotalsCountLines" type="xsd:double"/>
							<xsd:element name="GroupTotalsCountItems" type="xsd:double"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ClassificationTotals" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ClassificationTotalsClass" type="xsd:string"/>
							<xsd:element name="ClassificationTotalsBudget" type="xsd:double"/>
							<xsd:element name="Edited_ClassificationTotalsBudget" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ClassificationTotalsNotAuth" type="xsd:double"/>
							<xsd:element name="Edited_ClassificationTotalsNotAuth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ClassificationTotalsAuthUncomm" type="xsd:double"/>
							<xsd:element name="Edited_ClassificationTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ClassificationTotalsComm" type="xsd:double"/>
							<xsd:element name="Edited_ClassificationTotalsComm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ClassificationTotalsSpent" type="xsd:double"/>
							<xsd:element name="Edited_ClassificationTotalsSpent" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ClassificationTotalsTotal" type="xsd:double"/>
							<xsd:element name="Edited_ClassificationTotalsTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ClassificationTotalsAvailable" type="xsd:double"/>
							<xsd:element name="Edited_ClassificationTotalsAvailable" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ClassificationTotalsCountLines" type="xsd:string"/>
							<xsd:element name="ClassificationTotalsCountItems" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TypeTotals" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TypeTotalsType" type="xsd:string"/>
							<xsd:element name="TypeTotalsNotAuth" type="xsd:double"/>
							<xsd:element name="Edited_TypeTotalsNotAuth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TypeTotalsAuthUncomm" type="xsd:double"/>
							<xsd:element name="Edited_TypeTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TypeTotalsComm" type="xsd:double"/>
							<xsd:element name="Edited_TypeTotalsComm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TypeTotalsSpent" type="xsd:double"/>
							<xsd:element name="Edited_TypeTotalsSpent" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TypeTotalsTotal" type="xsd:double"/>
							<xsd:element name="Edited_TypeTotalsTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TypeTotalsCountLines" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="YearFinalTotals">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="YearFinalTotalsYear" type="xsd:string"/>
							<xsd:element name="YearFinalTotalsNotAuth" type="xsd:double"/>
							<xsd:element name="Edited_YearFinalTotalsNotAuth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearFinalTotalsAuthUncomm" type="xsd:double"/>
							<xsd:element name="Edited_YearFinalTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearFinalTotalsComm" type="xsd:double"/>
							<xsd:element name="Edited_YearFinalTotalsComm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearFinalTotalsSpent" type="xsd:double"/>
							<xsd:element name="Edited_YearFinalTotalsSpent" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearFinalTotalsTotal" type="xsd:double"/>
							<xsd:element name="Edited_YearFinalTotalsTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearFinalTotalsCountLines" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CompanyTotals">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyTotalsBudget" type="xsd:double"/>
							<xsd:element name="Edited_CompanyTotalsBudget" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsNotAuth" type="xsd:double"/>
							<xsd:element name="Edited_CompanyTotalsNotAuth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsAuthUncomm" type="xsd:double"/>
							<xsd:element name="Edited_CompanyTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsComm" type="xsd:double"/>
							<xsd:element name="Edited_CompanyTotalsComm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsSpent" type="xsd:double"/>
							<xsd:element name="Edited_CompanyTotalsSpent" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsTotal" type="xsd:double"/>
							<xsd:element name="Edited_CompanyTotalsTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsAvailable" type="xsd:double"/>
							<xsd:element name="Edited_CompanyTotalsAvailable" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalsCountLines" type="xsd:string"/>
							<xsd:element name="CompanyTotalsCountItems" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
