Schemas7/ASSQDL.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset List of Depreciation Adjustments Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Option">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="XslStylesheet" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Filter">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Period" minOccurs="0">
                <xsd:complexType>
                  <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Asset" minOccurs="0">
                <xsd:complexType>
                  <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
