Schemas7/ASSQL6OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Assets List of Master/Sub Assets Business Object
-->
<xsd:schema id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="QueryOptions" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AssetFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AssetFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssetFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ListofMasterSubAssets" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MasterAssetDetail" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="MasterDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="MasterAsset" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MasterDescription" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SubAssetDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SubAsset" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SubDescription" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:string"/>
			<xsd:attribute name="CssStyle" type="xsd:string"/>
			<xsd:attribute name="DecFormat" type="xsd:string"/>
			<xsd:attribute name="DateFormat" type="xsd:string"/>
			<xsd:attribute name="Role" type="xsd:string"/>
			<xsd:attribute name="Version" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NewDataSet">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="Query"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
