Schemas7/ASSQL2OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the List of Asset Depreciation Codes Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="ListOfAssetDepreciationCodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ListOfAssetDepreciationCodes">
		<xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CurrentFinancialMonth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrentFinancialYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DepreciationCodeSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DepreciationCodeSelectionFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DepreciationCodes">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DepreciationCode" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DepreciationCodeDetails" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="DepreciationCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DepreciationCodeDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DepreciationType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DepreciationTypeDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VaryingDepnFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VaryingDepnFlagDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VaryingAnniversary" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VaryingAnniversaryDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AnnualDepnPct" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StatGLCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ThruputEUL" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NoOfPeriodsEUL" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NoOfYearsEUL" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DepreciationPercentages" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="DepreciationPercentage" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="DepnYear" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="DepnPeriod" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="DepnPct" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
