Schemas7/ASSQFEOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the List of Asset Full Enquiry Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="AssetFullEnquiryListing" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AssetFullEnquiryListing">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AssetBook" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetBook" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PurchaseOption" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PurchaseOption" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AgreementSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AgreementSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_TransactionType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DeselectAllEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DeselectAllEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesDepreciation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesDepreciation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesDepreciationAdj" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesDepreciationAdj" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesDepreciationCatchup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesDepreciationCatchup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesAssetAdjustment" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesAssetAdjustment" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesRevaluations" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesRevaluations" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesRevaluationDepreciation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesRevaluationDepreciation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesInterCoTransfer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesInterCoTransfer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesInitialAddition" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesInitialAddition" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesExistingAddition" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesExistingAddition" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesFinalDisposal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesFinalDisposal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesPartialDisposal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesPartialDisposal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesAssetCountAdj" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesAssetCountAdj" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesAssetSplit" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesAssetSplit" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesChange" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesChange" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesDepreciationDisposal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesDepreciationDisposal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesDepreciationPartialDisposal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesDepreciationPartialDisposal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesInterCoIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesInterCoIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesInterCoOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesInterCoOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesTransfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesTransfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintEntriesDeletion" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintEntriesDeletion" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetGroupSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetGroupSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetGroupSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocationSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_LocationSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocationSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetTypeSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetTypeSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetTypeSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BranchSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetCostCenterSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetCostCenterSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetCostCenterSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EntriesYearSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_EntriesYearSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EntriesYearSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EntriesPeriodSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_EntriesPeriodSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EntriesPeriodSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AlternateCodeSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AlternateCodeSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AlternateCodeSelectionFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="AssetEntry">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AssetEntryHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Asset" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Location" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocationDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetTypeDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetCostCenter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CostCenterDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Price" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Price" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AgreementCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetOwner" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OwnerDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ResponsibleUser" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GLCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GLCodeDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NewCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NewCodeDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PurchaseDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SoldDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RegistrationNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChassisNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EngineNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AgreementNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FirstInstalDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LeasePeriod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInterest" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_TotalInterest" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MonthlyInstal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_MonthlyInstal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MtdPurchases" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_MtdPurchases" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MtdLabour" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_MtdLabour" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MtdRevenue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_MtdRevenue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="YtdPurchases" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_YtdPurchases" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="YtdLabour" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_YtdLabour" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="YtdRevenue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_YtdRevenue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="YtdInterestPaid" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_YtdInterestPaid" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="YtdInstallments" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_YtdInstallments" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumPurchases" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AccumPurchases" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumLabour" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AccumLabour" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumRevenue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AccumRevenue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumInterest" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AccumInterest" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumInstallments" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AccumInstallments" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalOutst" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalOutst" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InterestOutst" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_InterestOutst" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepositValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_DepositValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxPaid" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_TaxPaid" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NextTrnLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FinalInstallment" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_FinalInstallment" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccountType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepPrdMthSold" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepPrdYearSold" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GroupCodePrevMth" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PrevLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapexCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CycleCount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PrevBranch" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OriginalAssetQty" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_OriginalAssetQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetQty" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetStatus" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrigStartDepnDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrigStartPeriod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrigStartYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PurchasePeriod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PurchaseYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MasterAsset" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapexLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DisposedFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DisposalReason" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="AssetEntryDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="AssetEntryDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="EntryYear" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EntryMonth" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EntryType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_EntryType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EntryAmount" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_EntryAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EntryDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AssetDistRegNo" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AltCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AltCodeDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AssetCurrentValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_AssetCurrentValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AssetEntryOperator" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AssetEntryNarrative" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AssetCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_AssetCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EntryQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_EntryQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DepnYtd" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_DepnYtd" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DepnPrevYear" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_DepnPrevYear" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AccumDepn" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_AccumDepn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ResidualValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ResidualValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DepnCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DepnRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DepnStartDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ThruputEul" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ThruputEul" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RevalReserveToDate" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_RevalReserveToDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StatGlCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NumberOfPeriods" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NumberOfYears" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalPeriodsTd" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MinBookValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_MinBookValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Suspend" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Reason" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CompanyBefore" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CompanyAfter" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BranchAfter" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GroupAfter" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CostCenterAfter" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SoldValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_SoldValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DisposalCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_DisposalCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RecordCount" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="AssetTransactionDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="AssetTransactionDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TransactionAssetCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_TransactionType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionJournal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionEntryNo" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionEntryDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionInvoiceNo" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionInvoiceAmount" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TransactionInvAmt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionSupplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionExpenseCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionReference" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionBranch" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
