Schemas7/ASSQTL.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Assets List of Transfers Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="XslStylesheet" minOccurs="0"/>
			    <xsd:element name="ReportStatus"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
					<xsd:element name="Filter">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Period">
								<xsd:complexType>
									<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
									<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Asset">
								<xsd:complexType>
									<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
									<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
