Schemas7/ASSQCEOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Count Exception Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="AssetCountExceptionReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AssetCountExceptionReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LocationFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocationFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CountItemSelections" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CountItemSelections" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeExtractedNotCounted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeExtractedNotCounted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeCountedNotExtracted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeCountedNotExtracted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeVerifiedNotCounted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeVerifiedNotCounted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeCountedNotVerified" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeCountedNotVerified" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeDifferenceInBranch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeDifferenceInBranch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeDifferenceInLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeDifferenceInLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeDifferenceInIDCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeDifferenceInIDCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeDifferenceCountedVerifiedExtracted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeDifferenceCountedVerifiedExtracted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeNewIDCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeNewIDCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAssetsFoundInOtherLocations" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAssetsFoundInOtherLocations" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AssetCountExceptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AssetCountException" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ASSBRN_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Location" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ASSLOC_Location" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AssetCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ASSMST_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Group" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ASSGRP_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ASSTYP_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="IDCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Registration" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ChassisNum" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SavedQty" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_SavedQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyCaptured" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_QtyCaptured" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyVerified" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_QtyVerified" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ExtractedNotCounted" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="Translated_ExtractedNotCounted" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CountedNotExtracted" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="Translated_CountedNotExtracted" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VerifiedNotCounted" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_VerifiedNotCounted" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CountedNotVerified" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_CountedNotVerified" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DifferenceInBranch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DifferenceInLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DifferenceInIdCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DifferenceInCountVerifiedExtracted" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_DifferenceInCountVerifiedExtracted" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NewIdCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MasterAsset" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AssetInOtherCountLocations" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="AssetInOtherCountLocation" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ASSBRN_Description" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Location" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ASSLOC_Description" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
