Schemas7/ASSQSTOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the Capex Status Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CapexStatusReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Grp2Name" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseItemFields" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UseItemFields" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNoLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNoLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClosed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeClosed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeDenied" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeDenied" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexItemFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexItemFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CapexItemFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexLineFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexLineFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CapexLineFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetGroupCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetGroupCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetGroupCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetCostCenterFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetCostCenterFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetCostCenterFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CapexClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexTypeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexTypeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CapexTypeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AssetCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_YearFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PeriodFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PeriodFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PeriodFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CapexItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CapexItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CapexHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CapexCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexRef" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ASSBRN_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AssetCostCenter" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ASSCCE_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AssetGroupCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ASSGRP_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ASSCLS_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_GroupLevel1_Item" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_GroupLevel2_Item" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_GroupLevel3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Grp1Description_Item" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Grp1Name" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Grp2Description_Item" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ApprovalStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_ApprovalStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ValueBudgeted" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ValueBudgeted" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ValueUncommitted" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ValueUncommitted" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ValueCommitted" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ValueCommitted" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ValueSpent" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ValueSpent" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ValueAvailable" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ValueAvailable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OperatorApproved" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateApproved" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StartPeriod" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EndPeriod" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexNextLine" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="CapexLines" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CapexLine" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CapexLineCapexCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineAsset" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineBranch" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ASSBRN_CapexLineDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_GroupLevel1_Line" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_Grp1Description_Line" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineAssetCostCenter" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ASSCCE_CapexLineDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineAssetGroupCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ASSGRP_CapexLineDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ASSCTP_Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_GroupLevel2_Line" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_Grp2Description_Line" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineReference" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineSystemDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineApprovalStatus" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_CapexLineApprovalStatus" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineOperator" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineOperApproved" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineDateApproved" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastRequisition" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastPurchaseOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastJob" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastGrn" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastPartBilling" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Originator" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineStartPeriod" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_UnitCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetQty" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExchangeRate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MulDiv" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Supplier2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitCost2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_UnitCost2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetQty2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetQty2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Uom2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExchangeRate2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Currency2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MulDiv2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Supplier3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitCost3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_UnitCost3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetQty3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetQty3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Uom3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExchangeRate3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Currency3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MulDiv3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineValueNotAuth" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapexLineValueNotAuth" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineValueAuthUncomm" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapexLineValueAuthUncomm" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineValueCommitted" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapexLineValueCommitted" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineValueSpent" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapexLineValueSpent" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineValueTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapexLineValueTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PurchaseOrderItems" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="PurchaseOrderItem" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="PurchaseOrderCapexCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PurchaseOrderCapexLineNumber" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PurchaseOrderItemLine" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MStockCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MStockDes" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PurchaseOrderSupplier" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="APSMST_SupplierName" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MOutstandingQty" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_MOutstandingQty" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MOrderQty" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_MOrderQty" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MOrderUom" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MWarehouse" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MJob" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MPrice" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_MPrice" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MForeignPrice" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_MForeignPrice" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MPriceUom" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MValue" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_MValue" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MLatestDueDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MVersion" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MRelease" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MSupCatalogue" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="PurchaseOrderItemTotals" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="PurchaseOrderItemCount" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_PurchaseOrderItemCount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PurchaseOrderItemValue" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_PurchaseOrderItemValue" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="RequisitionItems" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="RequisitionItem" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="RequisitionItemCapexCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RequisitionItemCapexLineNumber" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Originator" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Requisition" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RequisitionItemLine" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RequisitionItemStockCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RequisitionItemStockDescription" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RequisitionItemWarehouse" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RequisitionItemSupplier" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="APSMST_RequisitionSupplierName" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OrderQty" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_OrderQty" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Price" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_Price" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OrderUom" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RequisitionItemDueDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RequisitionValue" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_RequisitionValue" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="RequisitionItemTotals" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="RequisitionItemCount" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_RequisitionItemCount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RequisitionItemValue" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_RequisitionItemValue" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="JobItems" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="JobItem" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="JobItemCapexCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobItemCapexLineNumber" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobDescription" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="HoldFlag" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Translated_HoldFlag" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="QtyToMake" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_QtyToMake" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="QtyManufactured" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_QtyManufactured" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="HierarchyFlag" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Translated_HierarchyFlag" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobItemStockCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobItemStockDescription" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobItemWarehouse" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobItemCustomer" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobItemCustomerName" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobStartDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobDeliveryDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobTenderDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ActCompleteDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobClassification" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Priority" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Complete" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Translated_Complete" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ConfirmedFlag" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Translated_ConfirmedFlag" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ExpLabour" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_ExpLabour" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ExpMaterial" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_ExpMaterial" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TotalQtyScrapped" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_TotalQtyScrapped" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EstSourceNum" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="AddLabPct" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="AddMatPct" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ProfitPct" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MatCostToDate1" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_MatCostToDate1" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="LabCostToDate1" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_LabCostToDate1" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="HrsBookToDate1" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_HrsBookToDate1" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MatValueIssues1" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_MatValueIssues1" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="LabValueIssues1" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_LabValueIssues1" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="MaterialBilled" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_MaterialBilled" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="LabourBilled" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_LabourBilled" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobItemValue" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_JobItemValue" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="WipCtlGlCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobItemVersion" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobItemRelease" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SellingPrice" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_SellingPrice" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="JobItemTotals" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="JobItemCount" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_JobItemCount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="JobItemValue" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_JobItemValue" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="CapexItemTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CapexItemTotalsCapexCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsNotAuth" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsNotAuth" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsComm" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsComm" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsSpent" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsSpent" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsCountLines" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsCountLines" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsCountPos" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsCountPos" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsValuePos" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsValuePos" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsCountReqs" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsCountReqs" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsValueReqs" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsValueReqs" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsCountJobs" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsCountJobs" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsValueJobs" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CapexItemTotalsValueJobs" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BranchTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BranchTotalsBranch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsBudget" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsBudget" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsNotAuth" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsNotAuth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsComm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsComm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsSpent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsSpent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsAvailable" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsCountLines" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsCountLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsCountItems" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsCountItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsCountPos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsCountPos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsValuePos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsValuePos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsCountReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsCountReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsValueReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsValueReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsCountJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsCountJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchTotalsValueJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchTotalsValueJobs" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BranchCcTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BranchCcTotalsBranch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsCc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsBudget" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsBudget" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsNotAuth" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsNotAuth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsComm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsComm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsSpent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsSpent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsAvailable" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsCountLines" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsCountLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsCountItems" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsCountItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsCountPos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsCountPos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsValuePos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsValuePos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsCountReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsCountReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsValueReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsValueReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsCountJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsCountJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchCcTotalsValueJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_BranchCcTotalsValueJobs" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GroupTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GroupTotalsGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsBudget" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsBudget" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsNotAuth" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsNotAuth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsComm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsComm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsSpent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsSpent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsAvailable" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsCountLines" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsCountLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsCountItems" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsCountItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsCountPos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsCountPos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsValuePos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsValuePos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsCountReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsCountReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsValueReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsValueReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsCountJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsCountJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GroupTotalsValueJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GroupTotalsValueJobs" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ClassificationTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ClassificationTotalsClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsBudget" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsBudget" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsNotAuth" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsNotAuth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsComm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsComm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsSpent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsSpent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsAvailable" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsCountLines" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsCountLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsCountItems" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsCountItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsCountPos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsCountPos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsValuePos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsValuePos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsCountReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsCountReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsValueReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsValueReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsCountJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsCountJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassificationTotalsValueJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ClassificationTotalsValueJobs" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TypeTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TypeTotalsType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsNotAuth" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsNotAuth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsComm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsComm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsSpent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsSpent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsCountLines" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsCountLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsCountPos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsCountPos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsValuePos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsValuePos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsCountReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsCountReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsValueReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsValueReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsCountJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsCountJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TypeTotalsValueJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TypeTotalsValueJobs" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyTotalsBudget" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsBudget" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsNotAuth" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsNotAuth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsAuthUncomm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsComm" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsComm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsSpent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsSpent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsAvailable" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsCountLines" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsCountLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsCountItems" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsCountItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsCountPos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsCountPos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsValuePos" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsValuePos" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsCountReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsCountReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsValueReqs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsValueReqs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsCountJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsCountJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalsValueJobs" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalsValueJobs" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
