Schemas7/ASSSGRDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the Asset Groups Setup Program
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AssetGroupCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the key to the Asset Group being maintained. This is mandatory. If this Asset Group is being added, it must not pre-exist. If this Asset Group is being changed or deleted, it must be a valid Syspro Asset Group.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DefDepCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value asset depreciation code of the Asset Group. This is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Description">
    <xsd:annotation>
      <xsd:documentation>This is the description of the Asset Group and is used primarily to identify the Asset Group. This is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>Mandatory element.This is the top element for all data required for the transaction. This element can occur multiple times as the business object caters for the posting additions, changes and deletions to Asset Groups.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Description"/>
        <xsd:element ref="WearDepCode"/>
        <xsd:element ref="DefDepCode"/>
        <xsd:element ref="MinBookValue" minOccurs="0"/>
        <xsd:element ref="MinTax" minOccurs="0"/>
        <xsd:element ref="MinAlt1" minOccurs="0"/>
        <xsd:element ref="MinAlt2" minOccurs="0"/>
        <xsd:element ref="MinAlt3" minOccurs="0"/>
        <xsd:element ref="MinAlt4" minOccurs="0"/>
        <xsd:element ref="MinAlt5" minOccurs="0"/>
        <xsd:element ref="MinAlt6" minOccurs="0"/>
        <xsd:element ref="MinAlt7" minOccurs="0"/>
        <xsd:element ref="MinAlt8" minOccurs="0"/>
        <xsd:element ref="MinAlt9" minOccurs="0"/>
        <xsd:element ref="MinAlt10" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This element contains the key information required to maintain a Asset Group.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="AssetGroupCode"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MinAlt1" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which each group of assets may depreciate for alternate valuation purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinAlt10" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which each group of assets may depreciate for alternate valuation purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinAlt2" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which each group of assets may depreciate for alternate valuation purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinAlt3" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which each group of assets may depreciate for alternate valuation purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinAlt4" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which each group of assets may depreciate for alternate valuation purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinAlt5" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which each group of assets may depreciate for alternate valuation purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinAlt6" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which each group of assets may depreciate for alternate valuation purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinAlt7" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which each group of assets may depreciate for alternate valuation purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinAlt8" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which each group of assets may depreciate for alternate valuation purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinAlt9" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which each group of assets may depreciate for alternate valuation purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinBookValue" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which the group of assets may depreciate.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinTax" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the minimum value to which each group of assets may depreciate for tax value purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupAssetGroups">
    <xsd:annotation>
      <xsd:documentation>This is the top element for all data required for Asset Group maintenance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="WearDepCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the tax asset depreciation code of the Asset Group. This is mandatory</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
