Schemas7/ASSSMEDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Mechanics Maintenance Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Mechanic">
		<xsd:annotation>
			<xsd:documentation>This is the key to the Asset Mechanic being maintained. This is mandatory. If this Asset Mechanic is being added, it must not pre-exist. If this Asset Mechanic is being changed or deleted, it must be a valid SYSPRO Asset Mechanic.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Description">
		<xsd:annotation>
			<xsd:documentation>This is the name of the Asset Mechanic and is used primarily to identify the Asset Mechanic. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MechanicRate" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This is the mechanic rate of the Asset Mechanic. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>Mandatory element.This is the top element for all data required for the transaction. This element can occur multiple times as the business object caters for the posting additions, changes and deletions to Asset Mechanic codes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Key"/>
				<xsd:element name="Description">
					<xsd:annotation>
						<xsd:documentation>This is the name of the Asset Mechanic and is used primarily to identify the Asset Mechanic. </xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="MechanicRate"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:annotation>
			<xsd:documentation>This element contains the key information required to maintain a Asset Mechanic.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Mechanic"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SetupAssetMechanics">
		<xsd:annotation>
			<xsd:documentation>This is the top element for all data required for Asset Mechanics maintenance. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Item" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
