Schemas7/ASSTDSDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Disposal Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PostAssetDisposal">
		<xsd:annotation>
			<xsd:documentation>This is the top element for all data required for Asset acqusition. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element name="Item" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Mandatory element.This is the top element for all data required for the transaction. This element can occur multiple times as the business object caters for the posting new acquisitions and additional acquisitions to assets.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="false">
						<xsd:sequence>
							<xsd:element ref="Asset"/>
							<xsd:element ref="AssetQty" minOccurs="0"/>
							<xsd:element ref="DisposalDate" minOccurs="0"/>
							<xsd:element ref="DisposalReason"/>
							<xsd:element ref="DisposalComments"/>
							<xsd:element ref="BvAssetCost"/>
							<xsd:element ref="BvSoldValue" minOccurs="0"/>
							<xsd:element ref="BvDisposalCost" minOccurs="0"/>
							<xsd:element ref="BvDepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="BvDepnThisYear" minOccurs="0"/>
							<xsd:element ref="BvAccumDepn" minOccurs="0"/>
							<xsd:element ref="BvCalcDepn" minOccurs="0"/>
							<xsd:element ref="TaxAssetCost"/>
							<xsd:element ref="TaxSoldValue" minOccurs="0"/>
							<xsd:element ref="TaxDisposalCost" minOccurs="0"/>
							<xsd:element ref="TaxDepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="TaxDepnThisYear" minOccurs="0"/>
							<xsd:element ref="TaxAccumDepn" minOccurs="0"/>
							<xsd:element ref="TaxCalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt1AssetCost"/>
							<xsd:element ref="Alt1SoldValue" minOccurs="0"/>
							<xsd:element ref="Alt1DisposalCost" minOccurs="0"/>
							<xsd:element ref="Alt1DepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="Alt1DepnThisYear" minOccurs="0"/>
							<xsd:element ref="Alt1AccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt1CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt2AssetCost"/>
							<xsd:element ref="Alt2SoldValue" minOccurs="0"/>
							<xsd:element ref="Alt2DisposalCost" minOccurs="0"/>
							<xsd:element ref="Alt2DepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="Alt2DepnThisYear" minOccurs="0"/>
							<xsd:element ref="Alt2AccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt2CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt3AssetCost"/>
							<xsd:element ref="Alt3SoldValue" minOccurs="0"/>
							<xsd:element ref="Alt3DisposalCost" minOccurs="0"/>
							<xsd:element ref="Alt3DepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="Alt3DepnThisYear" minOccurs="0"/>
							<xsd:element ref="Alt3AccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt3CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt4AssetCost"/>
							<xsd:element ref="Alt4SoldValue" minOccurs="0"/>
							<xsd:element ref="Alt4DisposalCost" minOccurs="0"/>
							<xsd:element ref="Alt4DepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="Alt4DepnThisYear" minOccurs="0"/>
							<xsd:element ref="Alt4AccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt4CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt5AssetCost"/>
							<xsd:element ref="Alt5SoldValue" minOccurs="0"/>
							<xsd:element ref="Alt5DisposalCost" minOccurs="0"/>
							<xsd:element ref="Alt5DepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="Alt5DepnThisYear" minOccurs="0"/>
							<xsd:element ref="Alt5AccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt5CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt6AssetCost"/>
							<xsd:element ref="Alt6SoldValue" minOccurs="0"/>
							<xsd:element ref="Alt6DisposalCost" minOccurs="0"/>
							<xsd:element ref="Alt6DepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="Alt6DepnThisYear" minOccurs="0"/>
							<xsd:element ref="Alt6AccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt6CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt7AssetCost"/>
							<xsd:element ref="Alt7SoldValue" minOccurs="0"/>
							<xsd:element ref="Alt7DisposalCost" minOccurs="0"/>
							<xsd:element ref="Alt7DepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="Alt7DepnThisYear" minOccurs="0"/>
							<xsd:element ref="Alt7AccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt7CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt8AssetCost"/>
							<xsd:element ref="Alt8SoldValue" minOccurs="0"/>
							<xsd:element ref="Alt8DisposalCost" minOccurs="0"/>
							<xsd:element ref="Alt8DepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="Alt8DepnThisYear" minOccurs="0"/>
							<xsd:element ref="Alt8AccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt8CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt9AssetCost"/>
							<xsd:element ref="Alt9SoldValue" minOccurs="0"/>
							<xsd:element ref="Alt9DisposalCost" minOccurs="0"/>
							<xsd:element ref="Alt9DepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="Alt9DepnThisYear" minOccurs="0"/>
							<xsd:element ref="Alt9AccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt9CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt10AssetCost"/>
							<xsd:element ref="Alt10SoldValue" minOccurs="0"/>
							<xsd:element ref="Alt10DisposalCost" minOccurs="0"/>
							<xsd:element ref="Alt10DepnThisPeriod" minOccurs="0"/>
							<xsd:element ref="Alt10DepnThisYear" minOccurs="0"/>
							<xsd:element ref="Alt10AccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt10CalcDepn" minOccurs="0"/>
							<xsd:element ref="eSignature" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Asset">
		<xsd:annotation>
			<xsd:documentation>This is the key to the asset being disposed. This is mandatory.The format is up to 15 characters, alphanumeric or numeric depending on a configuration option within SYSPRO.The asset  must pre-exist.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AssetQty">
		<xsd:annotation>
			<xsd:documentation>This is the disposal quantity for either disposal or partial disposal. In case of disposal, if it is not supplied, the asset quantity will be assumed. In case of partial disposal, if not supplied zero will be assumed. If however both quantity and disposal cost is zero, an error will occur.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DisposalDate">
		<xsd:annotation>
			<xsd:documentation>This is the disposal date and if supplied, must be within the current period. If not supplied, the business object will default to the current period date. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DisposalReason">
		<xsd:annotation>
			<xsd:documentation>This is the reason for disposal code and must pre-exist on asset reason table.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DisposalComments">
		<xsd:annotation>
			<xsd:documentation>This is a free-format comment that applies to this transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvAssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvSoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvDisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvDepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvDepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset that the user wishes to reverse, and can only be supplied by the user when performing a partial disposal for an asset with a basis of "P". Otherwise this element is ignored by the business object. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvCalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxAssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxSoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxDisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxDepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxDepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset that the user wishes to reverse, and can only be supplied by the user when performing a partial disposal for an asset with a basis of "P". Otherwise this element is ignored by the business object. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" or "L". Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxCalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1AssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1SoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1DisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1DepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1DepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset that the user wishes to reverse, and can only be supplied by the user when performing a partial disposal for an asset with a basis of "P". Otherwise this element is ignored by the business object. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1AccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" or "L". Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2AssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2SoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2DisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2DepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2DepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset that the user wishes to reverse, and can only be supplied by the user when performing a partial disposal for an asset with a basis of "P". Otherwise this element is ignored by the business object. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2AccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" or "L". Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3AssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3SoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3DisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3DepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3DepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset that the user wishes to reverse, and can only be supplied by the user when performing a partial disposal for an asset with a basis of "P". Otherwise this element is ignored by the business object. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3AccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" or "L". Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4AssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4SoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4DisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4DepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4DepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset, and can only be supplied by the user when performing a partial disposal. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4AccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" or "L". Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5AssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5SoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5DisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5DepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5DepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset that the user wishes to reverse, and can only be supplied by the user when performing a partial disposal for an asset with a basis of "P". Otherwise this element is ignored by the business object. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5AccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" or "L". Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6AssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6SoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6DisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6DepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6DepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset that the user wishes to reverse, and can only be supplied by the user when performing a partial disposal for an asset with a basis of "P". Otherwise this element is ignored by the business object. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6AccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" or "L". Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7AssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7SoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7DisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7DepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7DepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset that the user wishes to reverse, and can only be supplied by the user when performing a partial disposal for an asset with a basis of "P". Otherwise this element is ignored by the business object. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7AccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" or "L". Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8AssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8SoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8DisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8DepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8DepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset that the user wishes to reverse, and can only be supplied by the user when performing a partial disposal for an asset with a basis of "P". Otherwise this element is ignored by the business object. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8AccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" or "L". Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9AssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9SoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9DisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9DepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9DepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset that the user wishes to reverse, and can only be supplied by the user when performing a partial disposal for an asset with a basis of "P". Otherwise this element is ignored by the business object. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9AccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" or "L". Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10AssetCost">
		<xsd:annotation>
			<xsd:documentation>This is the asset cost for disposal. In the case of a partial disposal this will be the portion of the asset cost being disposed, or it can be zero, but if both qty and cost are zero an error will occur. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10SoldValue">
		<xsd:annotation>
			<xsd:documentation>This is the value for which the asset was sold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10DisposalCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of disposal of the asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10DepnThisPeriod">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation calculated for the period of disposal of an asset. It can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" and only then if depreciation calculation has not yet been performed for this period. Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10DepnThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for the current year of disposal of the asset that the user wishes to reverse, and can only be supplied by the user when performing a partial disposal for an asset with a basis of "P". Otherwise this element is ignored by the business object. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10AccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation accrued for years prior to the disposal of the asset, and can only be supplied by the user when performing a partial disposal on an asset with a basis of "P" or "L". Otherwise this element is ignored by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate disposal depreciation for this asset. If this is a partial disposal then "N" is a valid value, and the user can supply depreciation himself. If disposal, then the business object will automatically default to "Y" and all disposal depreciation will be calculated and suppled by the business object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="eSignature" type="xsd:string"/>
</xsd:schema>
