Schemas7/bom_advance_trial_kit_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the BOM Advanced Trial Kitting Report
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BomAdvanceTrialKit">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseSelectComponents" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseSelectComponents" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefinedAgainstWhControl" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DefinedAgainstWhControl" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeStockStandParts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeStockStandParts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNonStockStandParts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNonStockStandParts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeJobSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeJobSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSalesOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeSalesOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeQuote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeQuote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExplodeBoughtOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ExplodeBoughtOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNonStockParts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNonStockParts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseNonCurrenctRevRel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UseNonCurrenctRevRel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSupplyDueDays" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeSupplyDueDays" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NumberOfDays" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseLotExpireDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UseLotExpireDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseEBQ" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtyToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Edited_StockingQtyToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockGrossQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ParentWhSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Non-stockedSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NonStkRoute" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NonStkGrossQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NonStkQtyToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Edited_NonStkQtyToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobClassSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobStartDateSelect" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeConfirmJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobBalanceOutstand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobQtyToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Edited_JobQtyToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderSelect" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SoShipDateSelect" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SoCustomerSelect" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QuoteSelect" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QuoteShipDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QuoteCustSelect" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OfferSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclWherePropGreater" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BomAtkReports">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AtkHearderInfo" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RequiredDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Level" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StkDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GrossRequired" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_GrossRequired" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NetRequired" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_NetRequired" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyAvailable" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_QtAvailable" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyOnOrder" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_QtyOnOrder" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Shortage" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Shortage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LeadTime" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="PartCatergory" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_PartCatergory" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Ebq" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Ebq" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TypeFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ComponentDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DueDateComp" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Level" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceTypeDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceKey" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceKeyInfo" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceLine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateSourceRequired" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyRequiredSource" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyRequiredSource" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UomSource" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceDecimal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceParentStockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceParentRevision" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceParentRelease" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceRoute" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SourceNotional" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_SourceNotional" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GRN" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Quote" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AllocationLine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupDemDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplyQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_SupplyQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DemandQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_DemandQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ParentStockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ParentRevision" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ParentRelease" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AlternateCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AltQtyAvailable" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_AltQtyAvailable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AltUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AltWarehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NotionalInfo" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TypeFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NotionalPart" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SourceType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SourceTypeDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SourceKey" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyRequiredForSource" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_QtyRequiredForSource" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SourceParent" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ParentRevision" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ParentRelease" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DateRequirement" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="MadeInSubCompInfo" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CurrentQtyOnHand" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CurrentQtyOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExplodedQty" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExplodedQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Part" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Part" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GrossQtyRequired" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_GrossQtyRequired" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NetQtyRequired" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_NetQtyRequired" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyAvailable" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_QtyAvailable" minOccurs="0"/>
                    <xsd:element name="QtyOnOrder" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_QtyOnOrder" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_UnitCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrginalWh" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LeadTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Ebq" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Ebq" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompOnHold" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_CompOnHold" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Created" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HierarchicalJob" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MutliGradeCoProduct" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_MutliGradeCoProduct" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TypeFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AlternateCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AltQtyAvailable" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_AltQtyAvailable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AltUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AltWarehouse" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="BoughtOutItemsReport" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="NewPageOnChangeOfSupplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierInfo" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierOnHold" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BoughtOutComponents" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurrentQtyOnHand" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CurrentQtyOnHand" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExplodedQty" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExplodedQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GrossQtyRequired" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_GrossQtyRequired" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NetQtyRequired" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_NetQtyRequired" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyAvailable" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_QtyAvailable" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyOnOrder" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_QtyOnOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_UnitCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OrginalWh" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LeadTime" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Ebq" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_Ebq" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CompOnHold" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_CompOnHold" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Created" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="HierarchicalJob" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MutliGradeCoProduct" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_MutliGradeCoProduct" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TypeFlag" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AlternateCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AltQtyAvailable" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_AltQtyAvailable" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AltUom" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AltWarehouse" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="AccumlateReqReport" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="AtkStockInfo" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="RequiredDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StkDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GrossRequired" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_GrossRequired" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NetRequired" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_NetRequired" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyAvailable" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyAvailable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnOrder" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyOnOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LeadTime" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PartCatergory" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_PartCatergory" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Ebq" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Ebq" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShortageQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ShortageQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrigStockWarehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CompOnHold" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_CompOnHold" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Created" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="HierarchicalJob" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MutliGradeCoProduct" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_MutliGradeCoProduct" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TypeFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AlternateCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AltQtyAvailable" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AltQtyAvailable" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AltUom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AltWarehouse" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
