Schemas7/bom_list_of_structures_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the BOM list of Structures
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="BomPartsWithoutStructure" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BOMListOfStructures">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:double" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncludeMPSItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeMPSItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LevelOfStructure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_LevelOfStructure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ListFullNarrationLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ListFullNarrationLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReturnNarrationsInBlock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReturnNarrationsInBlock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeApprovedManufacturerList" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncApprovedManuList" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPagePerItem" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NewPagePerItem" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Routing" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintMUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ListOfStructures">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StructureDetail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TopLevelStockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DrawOfficeNum" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_PartCategory" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EconomicBatchQuantity" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_EconomicBatchQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PanSize" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_PanSize" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LeadTime" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Component" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SequenceKey" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Level" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ComponentStockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProduct" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QuantityPer" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QuantityPer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QuantityPerDec" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="FixedQtyPerFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_FixedQtyPerFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FixedQtyPer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_FixedQtyPer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StructureOnDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StructureOffDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ScrapQuantity" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ScrapQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ScrapPercentage" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ComponentType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RefDesignator" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AssemblyPlace" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ItemNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OperationOffset" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_PartCategory" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesOrderOptionFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_SalesOrderOptionFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesOrderPrintFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_SalesOrderPrintFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LeadTime" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="IncludeFromJob" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IncludeToJob" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CreateSubJob" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_CreateSubJob" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MaterialPerc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_MaterialPerc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LaborPerc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_LaborPerc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SubcontractPerc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_SubcontractPerc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Narrations" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="ApprovedManufacturers" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ManufacturerDetail" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="ManufacturerName" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PartNumber" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Preferred" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Translated_Preferred" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Status" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Translated_Status" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
