Schemas7/bom_trial_kitting_out.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncSalesOrderAlloc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncSalesOrderAlloc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncWipAlloc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncWipAlloc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncQtyInspection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncQtyInspection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExclOptCompSalesOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ExclOptCompSalesOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShowNegativeAlloc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ShowNegativeAlloc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeLotInfo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeLotInfo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UnitOfMeasure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintAlterStockOnShort" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintAlterStockOnShort" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ListFullNarrLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ListFullNarrLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintShortOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintShortOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Reports">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DetailReport" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ParentInfo" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:choice minOccurs="0" maxOccurs="unbounded">
                          <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyToProcess" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyToProcess" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOutstanding" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyToMake" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyToMake" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ComponentDetails" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Component" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Seq" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotalRequired" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TotalRequired" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="BinLocation" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyAvailable" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_QtyAvailable" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyAfterIssue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_QtyAfterIssue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Shortage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_Shortage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyOnOrder" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_QtyOnOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_PartCategory" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LeadTime" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LeadTime" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EBQ" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_EBQ" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Rev" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Rel" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Pan" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_Pan" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OriginalWarehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LotsInfo" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                                      <xsd:element name="Lot" minOccurs="0">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="LotNumber" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="BinLocation" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="LotAvailableQty" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_LotAvailableQty" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ExpireDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OnHold" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:choice>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="ScrapFactor" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ScrapFactor" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ScrapPerc" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ScrapPerc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AlterStockCodes" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                                      <xsd:element name="AlterInfo" minOccurs="0">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="StockDesc" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="AvailableQty" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_AvailableQty" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:choice>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="Narration" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="DrawingNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_PartCategory" type="xsd:string" minOccurs="0"/>
                        </xsd:choice>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SummaryReport" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ComponentInfo" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockDecription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockLongDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GrossRequirement" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_GrossRequirement" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyAvailable" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyAvailable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OnOrder" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_OnOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyRequired" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyRequired" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Category" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LeadTime" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_LeadTime" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EBQ" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_EBQ" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Rev" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Rel" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Pan" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Pan" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OriginalWarehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Shortage" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Shortage" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DrawingNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LotsInfo" minOccurs="0">
                            <xsd:complexType>
                              <xsd:choice minOccurs="0" maxOccurs="unbounded">
                                <xsd:element name="Lot" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="LotNumber" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="BinLocation" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="LotAvailableQty" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_LotAvailableQty" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ExpireDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OnHold" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:choice>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="CreatedPurchaseOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CreatedJob" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CreatedSCT" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CreatedRequisition" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
