Schemas7/BOMQ51OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the BOM Work Center Where-used Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="BOMWorkCenterWhereUsed" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BOMWorkCenterWhereUsed">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NewPageOnWorkCenter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NewPageOnWorkCenter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintMUM" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoutingFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoutingFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RoutingFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WorkCenterFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WorkCenterFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WorkCenterFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="WorkCenterItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WorkCenterHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="WorkCenter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BOMWRK_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CostCenter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProdUnitDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QueueTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_QueueTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProdUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_ProdUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SubContractFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_SubContractFlag" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Routing" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BOMROU_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Narration" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IMachine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IMaxProdUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_IMaxProdUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ElapsedTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_ElapsedTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MovementTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_MovementTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TimeCalcFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_TimeCalcFlag" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
