Schemas7/BOMQ65OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the BOM Inventory Cost Comparison Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="BomInventoryCostComparison" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BomInventoryCostComparison">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="UseBomCostsFromWarehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UseBomCostsFromWarehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PercentageVarianceSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PercentageVarianceSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PercentageVarianceFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodeCostsDetail">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodeDetail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockingUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_PartCategory" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BomMaterialCosts" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BomMaterialCosts" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BomLaborCosts" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BomLaborCosts" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BomOverheads" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BomOverheads" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BomTotalCosts" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BomTotalCosts" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BomSubContractCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BomSubContractCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AbcCumPreProd" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AbcCumPreProd" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AbcCumManuf" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AbcCumManuf" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InventoryCosts" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_InventoryCosts" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InventoryUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PercentageVariance" type="xsd:double" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_All" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Yes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_No" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Specific" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Made_in" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Bought_out" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Sub_contracted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Phantom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Planning_bill" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Kit_part" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Co_product" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_By_product" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Notional_part" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
