Schemas7/BOMQ09OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Bom Route Cards Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="BomRouteCardsReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BomRouteCardsReport">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StandardRoutingQuantityBasis" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StdRoutingQuantityBasis" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StandardRoutingPrintComponents" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StdRoutingPrintComponent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StandardRoutingPrintBulkIssueComponents" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StdRoutingPrintBulkIssue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StandardRoutingPrintListFullNarrationLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StdRoutingPrintListFullNar" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubContractReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SubContractRepSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubContractNarrationNumberOfLinesToPrint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintMUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PlannerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoutingFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RoutingFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoutingFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StandardRoutingReport">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BomStockHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BOMROU_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IncompleteImplosion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_IncompImplosion" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="BomStockDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="BomStockDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVBUY_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVPLN_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockingUnitOfMeasure" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EconomicBatchQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_EconomicBatchQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PanSize" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_PanSize" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MaterialCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_MaterialCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LabourCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_LabourCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OverHeads" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_OverHeads" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_TotalCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="InventoryUnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_InventoryUnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CostUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LeadTime" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DockToStock" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BomOperationsComponents" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="BomDetail" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="ReportSeqKey" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OperationComponentFlag" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Translated_OpComponentFlag" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="WorkCentre" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="BOMWRK_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Translated_BOMWRKDesc" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="WorkCentreRateIndicator" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Machine" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="BOMMCH_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QueueTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ElapsedTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="MovementTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SetUpTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_SetUpTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StartupTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_StartupTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="RunTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_RunTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TeardownTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_TeardownTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="WaitTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_WaitTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StartupQuantity" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_StartupQuantity" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SubContractFlag" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Translated_SubContractFlag" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SubOpUnitValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_SubOpUnitValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OperationYieldQuantity" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_OperationYieldQty" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OperationYieldPercentage" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_OpYieldPercentage" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EccConsumption" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SequenceNumber" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QuantityPer" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_QuantityPer" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="FixedQtyPerFlag" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Translated_FixedQtyPerFlag" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="FixedQtyPer" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_FixedQtyPer" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Translated_PartCategory" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="WarehouseToUse" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="LeadTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DockToStock" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ScrapQuantity" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_ScrapQuantity" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ScrapPercentage" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_ScrapPercentage" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OperationOffset" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OperationOffsetFlag" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Translated_OpOffsetFlag" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="BomNarration" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="BomOperationTotals" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="TotalQueueTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TotalElapsedTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TotalMovementTime" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TotalDaysToMakeParent" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TotalMessage" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Translated_TotalMessage" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SubContractRoutingReport">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncompleteImplosion" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncompImplosion" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubContractDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EconomicBatchQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_EconomicBatchQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockingUnitOfMeasure" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BOMROU_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SubContractSupplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="APSMST_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SubContractPoStockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SubContractLeadTime" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="SubContractQtyPer" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_SubContractQtyPer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NumberOfPieces" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_NumberOfPieces" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CostUnitOfMeasure" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_UnitCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SubContractDockToStock" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="SubContractOffSiteDays" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVBUY_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVPLN_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BomNarration" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
