Schemas7/BOMQECOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--Schema for BOM Oldest Revision/Release Query-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AvailQuantity" type="xsd:string"/>
  <xsd:element name="BomEccAvailable">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Items" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateReleased" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AvailQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LotAndSerial" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Lots" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LotQuantity" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Serials" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SerialNumber" minOccurs="0">
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:enumeration value="BH4567"/>
                                      <xsd:enumeration value="BH5678"/>
                                      <xsd:enumeration value="BH6789"/>
                                      <xsd:enumeration value="BH7890"/>
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SerialQuantity" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockUom" type="xsd:string"/>
</xsd:schema>
