Schemas7/BOMQA5.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for ABC Recoveries Estimate Report Business Object
-->

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="Query">
  <xsd:annotation>
   <xsd:documentation>This is the root element. You use the ABC Recoveries Estimate Report program to produce a what-if report of the estimated ABC recoveries based on the elements held against the stock item entered and the quantities of the product specified.

The report can be used to access the units likely to be recovered as a basis for rate setting. In addition, you can use the program to estimate appropriate recovery rates per element.

You will be unable to access this program if you have not implemented AB Costing (i.e. you selected No at the option: Activity based costing required (Bill of Materials Setup)).
. Maximum length 1 of type Alphanumeric</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Key">
     <xsd:annotation>
      <xsd:documentation>This element contains all the relevant information to query activity based cost stock code. Maximum length 1 of type Alphanumeric</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="StockCode">
        <xsd:annotation>
         <xsd:documentation>You use this field to indicate the stock code you want to add to the list.. Maximum length 30 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="Option">
     <xsd:annotation>
      <xsd:documentation>This element contains the query options available. Maximum length 1 of type Alphanumeric</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element default="S" name="ExplosionLevel">
        <xsd:annotation>
         <xsd:documentation>S - Single - Select this to print recovery details only for first level items within a structure that are detected in the import file.
M - Multi - Select this to print recovery details accumulated from all levels of a structure that are detected in the import file. 
. Maximum length 1 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
          <xsd:enumeration value="S" />
          <xsd:enumeration value="M" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element default="D" name="ReportType">
        <xsd:annotation>
         <xsd:documentation>This option enables you to indicate the type of report you want to generate. Maximum length 1 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
          <xsd:enumeration value="D" />
          <xsd:enumeration value="S" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Route">
        <xsd:annotation>
         <xsd:documentation>You use this field to select the specific route for which you want to print overhead recovery costs against an item. This enables you to establish the recovery costs of an item for a number of different routes.. Maximum length 2 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Version">
        <xsd:annotation>
         <xsd:documentation>You use this field to indicate the revision of and ECC-controlled stock code you want to add to the list.. Maximum length 5 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Release">
        <xsd:annotation>
         <xsd:documentation>You use this field to indicate the release of and ECC-controlled stock code you want to add to the list.. Maximum length 5 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Quantity">
        <xsd:annotation>
         <xsd:documentation>You use this field to indicate the quantity of the stock item for which you want to print a report estimating the expected overhead recoveries.. Maximum length 12,6 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>