Schemas7/BOMQA5OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the ABC Estimates Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ABCEstimatesQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExplosionLevel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Quantity" type="xsd:double" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReportDetail" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Elements" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Line" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                          <xsd:element name="Level" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CompQtyPer" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EBQ" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Element" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IncidentCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CalculationMethod" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DriverQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Rate" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ComponentValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ParentValue" type="xsd:double" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Estimates" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockDescriptions" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Quantity" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Line" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                          <xsd:element name="Element" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CalculatedMethod" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Rate" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="UnitQuantity" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ExtendedQuantity" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ExtendedValue" type="xsd:double" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReportSummary" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Line" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="Element" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RecoveryQuantity" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Rate" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="RecoveryValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="CalculationMethod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Narrations" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Narration" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CalculatedMethod" type="xsd:string"/>
  <xsd:element name="CalculationMethod" type="xsd:string"/>
  <xsd:element name="CompQtyPer" type="xsd:string"/>
  <xsd:element name="ComponentValue" type="xsd:string"/>
  <xsd:element name="Description" type="xsd:string"/>
  <xsd:element name="DriverQty" type="xsd:string"/>
  <xsd:element name="EBQ" type="xsd:string"/>
  <xsd:element name="Element" type="xsd:string"/>
  <xsd:element name="ExplosionLevel" type="xsd:string"/>
  <xsd:element name="ExtendedQuantity" type="xsd:string"/>
  <xsd:element name="ExtendedValue" type="xsd:string"/>
  <xsd:element name="IncidentCode" type="xsd:string"/>
  <xsd:element name="Level" type="xsd:string"/>
  <xsd:element name="Line">
    <xsd:complexType mixed="true"/>
  </xsd:element>
  <xsd:element name="ParentValue" type="xsd:string"/>
  <xsd:element name="Quantity" type="xsd:string"/>
  <xsd:element name="Rate" type="xsd:string"/>
  <xsd:element name="Route" type="xsd:string"/>
  <xsd:element name="Sequence" type="xsd:string"/>
  <xsd:element name="StockCode" type="xsd:string"/>
  <xsd:element name="StockDescription">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="StockDescriptions" type="xsd:string"/>
  <xsd:element name="UnitQuantity" type="xsd:string"/>
  <xsd:element name="Uom" type="xsd:string"/>
</xsd:schema>
