Schemas7/BOMQ60OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the BOM Parts Without Structure Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="BomPartsWithoutStructure" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BomPartsWithoutStructure">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncludeBoughtOutItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeBoughtOutItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCoProductsManufacturedViaNotionalPart" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeCoProductsManufacturedViaNotionalPart" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoutingFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoutingFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RoutingFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodeDetail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockingUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_PartCategory" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyOnHand" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_QtyOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyOnOrder" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_QtyOnOrder" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
