Schemas7/BOMQA6OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the BOM All levels ABC Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="BOMAllLevelsABCReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="BOMAllLevelsABCReport">
		<xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MPSItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_MPSItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_PrintManUMQuantites" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ABCAllLevelsDetailReport">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ParentItem" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PreProductionValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_PreProductionValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ManufacturingValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_ManufacturingValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_SalesValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="IncidenceTotal" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_IncidentTotal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ParentComponent" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ParentComponentFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_ParentCompFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ParentStockCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="UOM" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EBQ" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_EBQ" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Level" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyPer" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_QtyPer" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Elements" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="ElementDetails" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Element" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="IncidenceCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Edited_IncidenceCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CalcMethod" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Edited_CalcMethod" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="DriverQty" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_DriverQty" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Rate" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="CompValue" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_CompValue" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ParentValue" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_ParentValue" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ParentSummary" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Parent" type="xsd:string" minOccurs="0"/>
													<xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="UOM" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SummaryElements" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="SummaryElementDetails" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Element" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CalcMethod" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Edited_CalcMethod" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Edited_Quantity" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Edited_Value" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
