Schemas7/BOMQ83OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the BOM Costing Profile Query Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="BOMCostingProfile" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BOMCostingProfile">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:double" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RevRel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Routing" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QuantityToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Edited_QuantityToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostBasis" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CostBasis" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BaseCostType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BaseCostType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ComparativeCostType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ComparativeCostType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintManufacturingUMQnts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ValueHeading" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BaseCostValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ComparativeCostValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CostingProfile">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodeHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LongDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QuantityToMake" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_QuantityToMake" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EconomicBatchQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_EconomicBatchQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PanQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_PanQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_Value" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Value2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_Value2" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Level" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Component" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WorkCenter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CoProduct" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_PartCategory" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_TotalQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_TotalTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Source" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_Value" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SourceCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompSource" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_CompSource" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_CompValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompSourceCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CumulativeValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_CumulativeValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BaseCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_BaseCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ComparativeCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_ComparativeCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QuantityPer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_QuantityPer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MaterialPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_MaterialPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MaterialCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_MaterialCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MaterialCost2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_MaterialCost2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LaborPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_LaborPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LaborCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_LaborCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LaborCost2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_LaborCost2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SubcontractPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_SubcontractPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SubcontractCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_SubcontractCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SubcontractCost2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_SubcontractCost2" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
