Schemas7/BOMSECDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for BOM Employee Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Employee" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the key to the BOM Employee being maintained. This is mandatory. If this BOM Employee Code is being added, it must not pre-exist. If this BOM Employee Code is being changed or deleted, it must be a valid Syspro BOM Employee Code.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeActCost">
    <xsd:annotation>
      <xsd:documentation>This element indicates the employee's payroll code. This enables you to uniquely identify the employee.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="EmployeeRates">
    <xsd:annotation>
      <xsd:documentation>This is the top element for all the rates assigned against the employee. You are able to assign 6 rates to an employee. These rates enable you to post labor to a job at the actual employee labor rates instead of at the work center labor rates.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>Mandatory element.This is the top element for all data required for the transaction. This element can occur multiple times as the business object caters for the posting additions, changes and deletions to BOM Employees.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Name"/>
        <xsd:element ref="StdHrsPerMonth"/>
        <xsd:element ref="WorkCentre"/>
        <xsd:element ref="EmployeeActCost"/>
        <xsd:element ref="ShiftId"/>
        <xsd:element ref="Rates1"/>
        <xsd:element ref="Rates2"/>
        <xsd:element ref="Rates3"/>
        <xsd:element ref="Rates4"/>
        <xsd:element ref="Rates5"/>
        <xsd:element ref="Rates6"/>
        <xsd:element ref="Rates7"/>
         <xsd:element ref="Rates8"/> 
         <xsd:element ref="Rates9"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This element contains the key information required to maintain a BOM Employee.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Employee"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Name" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the name of the Employee linked to the BOM Employee Code. This assists you in verifying that the correct employee has been entered.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Rates1" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element indicates the rate of pay applicable to the rate indicator 1.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Rates2" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element indicates the rate of pay applicable to the rate indicator 2.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Rates3" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element indicates the rate of pay applicable to the rate indicator 3.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Rates4" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element indicates the rate of pay applicable to the rate indicator 4.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Rates5" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element indicates the rate of pay applicable to the rate indicator 5.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Rates6" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element indicates the rate of pay applicable to the rate indicator 6.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Rates7" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element indicates the rate of pay applicable to the rate indicator 7.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Rates8" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element indicates the rate of pay applicable to the rate indicator 8.</xsd:documentation>
    </xsd:annotation>
  </xsd:element><xsd:element name="Rates9" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element indicates the rate of pay applicable to the rate indicator 9.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupBomEmployee">
    <xsd:annotation>
      <xsd:documentation>This is the top element for all data required for BOM Employee maintenance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ShiftId">
    <xsd:annotation>
      <xsd:documentation>This element indicates the employee's shift id that is used within the Advanced Planning and Scheduling system</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="StdHrsPerMonth">
    <xsd:annotation>
      <xsd:documentation>This element indicate how much time is available for the employee per month. This is used in the employee efficiency calculation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="WorkCentre" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element indicates the work center to which the employee is assigned.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
