Schemas7/BOMSSNDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for Parameters used by BOM Narration Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Component">
    <xsd:annotation>
      <xsd:documentation>Component is an item used as part of the key in the process of creating and updating a narration in BOM structure and Estimate structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This element contains information to maintain a narration.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Narration" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="JobNumber">
    <xsd:annotation>
      <xsd:documentation>JobNumber is an item used as part of the key in the process of creating and updating a narration in WIP labor, WIP material and Job.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This element contains the key information required to maintain a narration.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Source"/>
        <xsd:element ref="JobNumber" minOccurs="0"/>
        <xsd:element ref="ParentPart" minOccurs="0"/>
        <xsd:element ref="Version" minOccurs="0"/>
        <xsd:element ref="Release" minOccurs="0"/>
        <xsd:element ref="Component" minOccurs="0"/>
        <xsd:element ref="Route" minOccurs="0"/>
        <xsd:element ref="Operation" minOccurs="0"/>
        <xsd:element ref="SequenceNum" minOccurs="0"/>
        <xsd:element ref="Warehouse" minOccurs="0"/>
        <xsd:element ref="Line" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Line">
    <xsd:annotation>
      <xsd:documentation>Line is an item used as part of the key in the process of creating and updating a narration in WIP material.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Narration">
    <xsd:annotation>
      <xsd:documentation>Narration is the text to be added as notes.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Operation">
    <xsd:annotation>
      <xsd:documentation>Operation is an item used as part of the key in the process of creating and updating a narration in BOM operation, Estimate operation and WIP labor.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ParentPart">
    <xsd:annotation>
      <xsd:documentation>ParentPart indicates the parent of the components of the structure you are maintaining.  ParentPart is used as part of the key to update or create a narration in Estimates operation, Estimates structure, BOM operation and BOM structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Release">
    <xsd:annotation>
      <xsd:documentation>Release indicates major design changes made to the parent (Release). Note: this field will be ignored if the component is not ECC controlled at a version or release level. This field can only be the current release which is reflected off the inventory master file in SYSPRO for the structure to be maintained. Another criteria is that there must be an engineering change order for the release.  Release is used as part of the key to create or update a narration in BOM operation, and BOM structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Version">
    <xsd:annotation>
      <xsd:documentation>Version indicates major design changes made to the parent (Version). Note: this field will be ignored if the component is not ECC controlled at a Version level. This field can only be the current version which is reflected off the inventory master file in SYSPRO for the structure to be maintained. Another criteria is that there must be an engineering change order for the version.  Version is used as part of the key to create or update a narration in BOM operation and BOM structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Route">
    <xsd:annotation>
      <xsd:documentation>The Route field is used only if you indicated that alternate routings are required (Bill of Materials Setup). The route field is used as part of the key when you want to create or update a narration in Estimates operations, Estimates structure, BOM operation and BOM structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SequenceNum">
    <xsd:annotation>
      <xsd:documentation>The SequenceNum field is used to indicate the sequence number for the component in relation to the parent stock code. This field will be used if you have indicated that structure sequencing is required (Bill of Materials Setup). SequenceNum is used as part of the key to create or update a narration in estimates structure and BOM structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SetupBomNarration">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Source">
    <xsd:annotation>
      <xsd:documentation>This element contains the source that the narration is to be added to. 
JOB - the narration is to be setup for a job.
The key for JOB is JobNumber. 
WIPMATERIAL - the narration is to be setup for WIP material.
The key is JobNumber, Component, Warehouse, Line
WIPLABOUR - the narration is to be setup for WIP labor.
The key  is JobNumber, Operation.
BOMSTRUCTURE - the narration is to be setup for BOM structure .  
The key  is ParentPart, Version, Release, Route, Sequence, Component.
BOMOPERATION - the narration is to be setup for BOM operations.
The key is Stock code (must be entered in the ParentPart of the xmlin)
Version, Release, Route, Operation.
ESTSTRUCTURE - the narration is to be setup for estimates structure . 
The key is ParentPart, Route, SequenceNum, Component.
ESTOPERATION - the narration is to be setup for estimates operations.   
The key is Stock code (must be entered in the ParentPart of the xmlin)
, Route, Operation.
</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:annotation>
      <xsd:documentation>Warehouse is an item used as part of the key in the process of creating and updating a narration in  WIP material.  It is the warehouse that the component uses.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
