Schemas7/BOMSRODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the BOM Routing Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ElapsedTime">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate whether the elapsed time of the operation must be dynamically calculated, or manually entered as a fixed number of days.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IMachine">
		<xsd:annotation>
			<xsd:documentation>You use this field for documentary purposes and to indicate the default machine for the operation during labor postings.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IMaxProdUnits">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the maximum number of productive units available in the work center that can be used on the operation. This value is used in the calculation of capacity required and elapsed time.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IMaxWorkOpertrs">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the maximum number of operators permitted to process the operation. This may not exceed the number of operators assigned to the work center.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IQuantity">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the unit to base the cost center's run time calculation on the time it takes to produce one unit of an item or block to base the cost center's run time calculation on a fixed block of time. Use this for stocking uom and when UseStockingQuantities is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IRunTime">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the time taken to produce one unit during full speed production. It forms part of elapsed time. Use this for stocking uom and when UseStockingQuantities is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ISetUpTime">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the time taken to ready a specific machine, process or work center for use. No usable items are produced during the setup period. It forms part of the operation elapsed time.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IStartupQty">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the quantity of product manufactured during the start up period and is deducted from the actual quantity to be manufactured when the run time is calculated. Use this for stocking uom and when UseStockingQuantities is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IStartupTime">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the time taken to gradually bring the specific machine, line or work center up to full production speed while producing usable product. It forms part of the operation elapsed time.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ITeardownTime">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the time taken to close down the specific machine, line or work center used in the operation after production is complete. It forms part of the elapsed time. Typically, no usable items are produced during the teardown period.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ITimeTaken">
		<xsd:annotation>
			<xsd:documentation>You use this field to calculate the unit run time when using block or rate method.Use this for stocking uom and when UseStockingQuantities is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IUnitCapacity">
		<xsd:annotation>
			<xsd:documentation>This field indicates the capacity required for the operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IWaitTime">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the amount of time between the end of the current operation and the availability of the product to be moved to the next work center. This forms part of elapsed time. Wait time is not included in the calculation of capacity required or in the costing calculations.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InspectionFlag" default="N">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the level of inspection required for the operation.
(N- No inspection, S- Sample inspection, F- Full inspection)
</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>This element contains information to maintain a BOM routing. NOTE: The information held within the key element is mandatory for all functions. Information held outside the key element is optional for Add/Update and is not required for Delete.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Key"/>
				<xsd:element ref="WorkCentre" minOccurs="0"/>
				<xsd:element ref="WcRateInd" minOccurs="0"/>
				<xsd:element ref="ISetUpTime" minOccurs="0"/>
				<xsd:element ref="IRunTime" minOccurs="0"/>
				<xsd:element name="IRunTimeEnt">
					<xsd:annotation>
						<xsd:documentation>You use this field to indicate the time taken to produce one unit during full speed production. It forms part of elapsed time. Use this for manufacturing uom and when UseStockingQuantities is N.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="IStartupTime" minOccurs="0"/>
				<xsd:element ref="ITeardownTime" minOccurs="0"/>
				<xsd:element ref="IWaitTime" minOccurs="0"/>
				<xsd:element ref="IStartupQty" minOccurs="0"/>
				<xsd:element name="IStartupQtyEnt">
					<xsd:annotation>
						<xsd:documentation>You use this field to indicate the quantity of product manufactured during the start up period and is deducted from the actual quantity to be manufactured when the run time is calculated. Use this for manufacturing uom and when UseStockingQuantities is N.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="IMachine" minOccurs="0"/>
				<xsd:element ref="IUnitCapacity" minOccurs="0"/>
				<xsd:element ref="IMaxWorkOpertrs" minOccurs="0"/>
				<xsd:element ref="IMaxProdUnits" minOccurs="0"/>
				<xsd:element ref="ITimeTaken" minOccurs="0"/>
				<xsd:element name="ITimeTakenEnt">
					<xsd:annotation>
						<xsd:documentation>You use this field to calculate the unit run time when using block or rate method. Use this for manufacturing uom and when UseStockingQuantities is N.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="IQuantity" minOccurs="0"/>
				<xsd:element name="IQuantityEnt">
					<xsd:annotation>
						<xsd:documentation>You use this field to indicate the unit to base the cost center's run time calculation on the time it takes to produce one unit of an item or block to base the cost center's run time calculation on a fixed block of time. Use this for manufacturing uom and when UseStockingQuantities is N.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="SubSupplier" minOccurs="0"/>
				<xsd:element ref="SubPoStockCode" minOccurs="0"/>
				<xsd:element ref="SubQtyPer" minOccurs="0"/>
				<xsd:element ref="SubOrderUom" minOccurs="0"/>
				<xsd:element ref="SubOpUnitValue" minOccurs="0"/>
				<xsd:element ref="SubPlanner" minOccurs="0"/>
				<xsd:element ref="SubBuyer" minOccurs="0"/>
				<xsd:element ref="SubLeadTime" minOccurs="0"/>
				<xsd:element ref="SubDockToStock" minOccurs="0"/>
				<xsd:element ref="SubOffsiteDays" minOccurs="0"/>
				<xsd:element ref="Milestone" minOccurs="0"/>
				<xsd:element ref="ElapsedTime" minOccurs="0"/>
				<xsd:element ref="MovementTime" minOccurs="0"/>
				<xsd:element ref="NarrationCode" minOccurs="0"/>
				<xsd:element ref="NumOfPieces" minOccurs="0"/>
				<xsd:element ref="InspectionFlag" minOccurs="0"/>
				<xsd:element ref="MinorSetup" minOccurs="0"/>
				<xsd:element ref="MinorSetupCode" minOccurs="0"/>
				<xsd:element ref="ToolSet" minOccurs="0"/>
				<xsd:element ref="ToolSetQty" minOccurs="0"/>
				<xsd:element ref="ToolConsumption" minOccurs="0"/>
				<xsd:element name="TransferQtyOrPct" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>You use this field to indicate the whether you are using a quantity or a percentage for the transfer quantity.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
							<xsd:enumeration value=""/>
							<xsd:enumeration value="Q"/>
							<xsd:enumeration value="P"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="TransferQtyPct" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This field indicates the transfer quantity or percentage depending on what you specified in the TransferQtyOrPct element. Use this for stocking uom and when UseStockingQuantities is Y.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="TransferQtyPctEnt">
					<xsd:annotation>
						<xsd:documentation>This field indicates the transfer quantity or percentage depending on what you specified in the TransferQtyOrPct element. Use this for manufacturing uom and when UseStockingQuantities is N.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="OperYieldPct" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This field indicates the operation scrap percentage.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="OperYieldQty" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This field indicates the operation scrap quantity. Use this for stocking uom and when UseStockingQuantities is Y.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="OperYieldQtyEnt">
					<xsd:annotation>
						<xsd:documentation>This field indicates the operation scrap quantity. Use this for manufacturing uom and when UseStockingQuantities is N.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="TimeCalcFlag" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:annotation>
			<xsd:documentation>This element contains the key information required to maintain a BOM routing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="StockCode"/>
				<xsd:element ref="Version" minOccurs="0"/>
				<xsd:element ref="Release" minOccurs="0"/>
				<xsd:element ref="Route" minOccurs="0"/>
				<xsd:element ref="Operation"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Milestone" default="Y">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate whether this is a milestone operation. This enables you to post labor to key operations and update all prior operations with labor postings. (Y -Yes, N -No)</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MinorSetup">
		<xsd:annotation>
			<xsd:documentation>You use this field for documentary purposes and is printed on the Despatch List in the Work in Progress and Requirements Planning modules. The entry made here cannot exceed the set-up time for the operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MinorSetupCode">
		<xsd:annotation>
			<xsd:documentation>You use this field for documentary purposes and is printed on the Despatch List in the Work in Progress and Requirements Planning modules.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MovementTime">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the time required for the operation to move between work centers. The entry made here is only used if you have not defined a movement matrix for the work center.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NarrationCode">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate a standard narration code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumOfPieces">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the number of pieces involved in the operation. This enables you to mark quantities in a measure that is meaningful to you.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Operation">
		<xsd:annotation>
			<xsd:documentation>You use this field to assign an operation to the parent stock code. If adding operations then the operation does not need to be supplied, they will just be added in the sequence supplied from the xml. If you enter an operation that already exists, and you are adding an operation, it will be inserted as a new operation. If you want to do multiple deletions to the same parent, you should delete the operations in reverse order i.e., if you want to delete operations 1, 3 and 5 you should start with 5, then delete 3 and then delete 1.  This is because the program resequences the operations when they are deleted, so if you delete operation 1, operation 2 will be renumbered as '1', so operation 3 will be the old operation 4, and operation 5 will have been operation 7 before you deleted operation 1 and 3. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Release">
		<xsd:annotation>
			<xsd:documentation>This field is used to indicate the release of the current operation. The only time any field will be valid is if it is the current release and it is maintained by an engineering change order.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Route">
		<xsd:annotation>
			<xsd:documentation>The Routing field is displayed only if you indicated that alternate routings are required (Bill of Materials Setup). This field enables you to select a specific routing for which you want to maintain operations, and is used for what-if purposes and within the Work in Progress module when creating a job.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SetupBomRouting">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Item" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StockCode">
		<xsd:annotation>
			<xsd:documentation>The Parent stock code  indicates which item you want to maintain operations for. A warning is displayed if the entered parent stock code is defined as a bought out item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubBuyer">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the buyer for this operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubDockToStock">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the number of days required for the inspection of the item. This is added to the offsite time to establish the elapsed time of the operation. The due date of the purchase order is set as the due date of the operation less the dock to stock time.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubLeadTime">
		<xsd:annotation>
			<xsd:documentation>You use this field to establish the date on which a purchase order should be raised to reserve capacity at the subcontractor.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubOffsiteDays">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the number of days that the component is off site. This is added to any dock to stock days to determine the elapsed time.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubOpUnitValue">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the subcontract value of the operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubOrderUom">
		<xsd:annotation>
			<xsd:documentation>This field is used for documentary purposes only.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubPlanner">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the planner for this operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubPoStockCode">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the notation that will be entered under the stock code when a purchase order is generated.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubQtyPer">
		<xsd:annotation>
			<xsd:documentation>This field is used for documentary purposes only and enables you to indicate the quantity of the purchased service required to make a single parent stock code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubSupplier">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the preferred supplier of the service. This defaults to the supplier assigned to work center.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TimeCalcFlag" default="Y">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate whether to calculate elapsed time or enter it manually. (Y- Yes, N -No)</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ToolConsumption">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the tool set consumption for the operation. This can be printed on your factory documentation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ToolSet">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the tool set number for the operation. This can be printed on your factory documentation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ToolSetQty">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the tool set quantity for the operation. The entry made here cannot exceed the quantity assigned to the tool set. This can be printed on your factory documentation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Version">
		<xsd:annotation>
			<xsd:documentation>This field is used to indicate the version of the current operation. The only time any field will be valid is if it is the current version and it is maintained by an engineering change order.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WcRateInd">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the work center rate applicable to this operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WorkCentre">
		<xsd:annotation>
			<xsd:documentation>You use this field to indicate the work center in which the operation must be performed. Depending on whether you specified an internal or subcontract work center, the fields that can be defined changes accordingly.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
