Schemas7/BOMSMMOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2014 SYSPRO Ltd.--><!--      Schema XML for the Work Center Move Matrix Maintenance Business Object--><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="RecordsInvalid" type="xsd:boolean"/>	<xsd:element name="RecordsRead" type="xsd:boolean"/>	<xsd:element name="StatusOfItems">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="RecordsRead"/>				<xsd:element ref="RecordsInvalid"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="item">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="key"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="key">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="thisworkcentre"/>				<xsd:element ref="nextworkcentre"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="nextworkcentre" type="xsd:string"/>	<xsd:element name="setupbomworkcentermovematrix">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="item"/>				<xsd:element ref="StatusOfItems"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="thisworkcentre" type="xsd:string"/></xsd:schema>