Schemas7/BOMSECOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for BOM Employee Setup Business Object
-->

<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Employee" type="xsd:string"/>
  <xsd:element name="RecordsInvalid" type="xsd:boolean"/>
  <xsd:element name="RecordsRead" type="xsd:boolean"/>
  <xsd:element name="StatusOfItems">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="RecordsRead"/>
        <xsd:element ref="RecordsInvalid"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="key"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Employee"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetupBomEmployee">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="item"/>
        <xsd:element ref="StatusOfItems"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
