Schemas7/BOMSMCDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2013 SYSPRO Ltd.-->
<!--
     Schema for the Machine Code Maintenance Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SetupBomMachine">
    <xsd:annotation>
      <xsd:documentation>The root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:annotation>
            <xsd:documentation>This element contains information to maintain a machine code. NOTE: The information held within the key element is mandatory for all functions. Information held outside the key element is optional for Add/Update and is not required for Delete.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="Key">
                <xsd:annotation>
                  <xsd:documentation>This element contains the key information required to maintain a machine code.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:all>
                    <xsd:element name="Machine">
                      <xsd:annotation>
                        <xsd:documentation>Machine specifies the machine code being maintained.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Description" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The description is the description of the work centre being maintained.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MtdStdHrsEarned" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>MtdStdHrsEarned is the month-to-date standard time used against the machine being maintained. NOTE this will be ignored when updating the machine. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="WorkCentre" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>WorkCentre is the work center which is defined against the machine being maintained.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ShiftId" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>ShiftId is the Shift id for use with APS.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="StdHrsPerMonth" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the standard time that is available for the machine per month. This is used in the machine efficiency calculation. The unit of measure on which your entry is based is extracted from the entry made at the option: Default description of time units in BOM Setup.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
