Schemas7/BOMSMADOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the Bom Element descriptor Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CalculationMethod">
    <xsd:annotation>
      <xsd:documentation>This indicates how the value of the ABC content calculation is based. Item-based(I) bases the calcuulation on individual items received into stock. Batch-based(B) bases the calculation on a batch of items received into stock. Single (S) bases the calculation on a single element of costs.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="I"/>
        <xsd:enumeration value="B"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Description" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the description of the Element Descriptor and is used primarily to identify the Element Descriptor Code. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Element" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation> This indicates the element descriptor code you are adding, changing or deleting.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ElementNar1">
    <xsd:annotation>
      <xsd:documentation>This is text to describe the elements of cost attributable to this element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ElementNar2">
    <xsd:annotation>
      <xsd:documentation>This is text to describe the elements of cost attributable to this element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ElementNar3">
    <xsd:annotation>
      <xsd:documentation>This is text to describe the elements of cost attributable to this element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ElementNar4">
    <xsd:annotation>
      <xsd:documentation>This is text to describe the elements of cost attributable to this element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ElementNar5">
    <xsd:annotation>
      <xsd:documentation>This is text to describe the elements of cost attributable to this element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ElementNar6">
    <xsd:annotation>
      <xsd:documentation>This is text to describe the elements of cost attributable to this element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ElementNar7">
    <xsd:annotation>
      <xsd:documentation>This is text to describe the elements of cost attributable to this element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ElementNar8">
    <xsd:annotation>
      <xsd:documentation>This is text to describe the elements of cost attributable to this element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="GlCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Indicate the account to which you want to post the recovery costs for this element. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GroupCode">
    <xsd:annotation>
      <xsd:documentation>This is a code used for analysis purposes, to accumulate recoveries of a number of elements for comparison to a pool of costs</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>Mandatory element.This is the top element for all data required for the transaction. This element can occur multiple times as the business object caters for the posting additions, changes and deletions to BOM ABC Element Descriptor.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="CalculationMethod"/>
        <xsd:element ref="Description"/>
        <xsd:element ref="GlCode"/>
        <xsd:element name="GlCodePassword">
          <xsd:annotation>
            <xsd:documentation>This element is for a GL code password if your GL code is password protected and you have selected Y against ValidateGLPassword in the parameters.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element ref="Rate"/>
        <xsd:element ref="GroupCode"/>
        <xsd:element ref="ElementNar1"/>
        <xsd:element ref="ElementNar2"/>
        <xsd:element ref="ElementNar3"/>
        <xsd:element ref="ElementNar4"/>
        <xsd:element ref="ElementNar5"/>
        <xsd:element ref="ElementNar6"/>
        <xsd:element ref="ElementNar7"/>
        <xsd:element ref="ElementNar8"/>
        <xsd:element ref="UserDef1"/>
        <xsd:element ref="UserDef2"/>
        <xsd:element ref="UserDef3"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This element contains the key information required to maintain a BOM ABC Element Descriptor.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Element"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Rate" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This Indicates the rate that must be applied to this element at the time of calculating the ABC costs. This can be a negative rate.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupAbcElementDescriptor">
    <xsd:annotation>
      <xsd:documentation>This is the top element for all data required for BOM ABC Element Descriptor Maintenance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UserDef1">
    <xsd:annotation>
      <xsd:documentation>Enter your own user-defined information against the element descriptor.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="UserDef2">
    <xsd:annotation>
      <xsd:documentation>Enter your own user-defined information against the element descriptor.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="UserDef3">
    <xsd:annotation>
      <xsd:documentation>Enter your own user-defined information against the element descriptor.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
