Schemas7/BOMSEC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for BOM Employee Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ApplyIfEntireDocumentValid" type="xsd:string"/>
  <xsd:element name="IgnoreWarnings" type="xsd:string"/>
  <xsd:element name="Parameters">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="IgnoreWarnings"/>
        <xsd:element ref="ApplyIfEntireDocumentValid"/>
        <xsd:element ref="ValidateOnly"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ValidateOnly" type="xsd:string"/>
  <xsd:element name="SetupBomEmployee">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Parameters"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
