Schemas7/BOMSTLDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2015 SYSPRO Ltd.--><!--     Schema for the BOM Tool Set Setup Business Object --><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="Description" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Tool Set Description. It is mandatory.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="Item">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Key"/>				<xsd:element ref="Description"/>				<xsd:element ref="NumAvailable"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="Key">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="ToolSet"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="NumAvailable" type="xsd:decimal">		<xsd:annotation>			<xsd:documentation>This element contains information about the Number of tool sets available. It is optional.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="SetupBOMToolSet">		<xsd:annotation>			<xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Item"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="ToolSet" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Tool Set. It is the key. It is mandatory.</xsd:documentation>		</xsd:annotation>	</xsd:element></xsd:schema>