Schemas7/BOMSCCDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Cost Center Maintenance Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SetupBomCostCentre">
		<xsd:annotation>
			<xsd:documentation>The root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element name="Item" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>This element contains information to maintain a Cost Center. NOTE: The information held within the key element is mandatory for all functions. Information held outside the key element is optional for Add/Update and is not required for Delete.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="false">
						<xsd:sequence maxOccurs="unbounded">
							<xsd:element name="Key">
								<xsd:annotation>
									<xsd:documentation>This element contains the key information required to maintain a cost Center.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType mixed="false">
									<xsd:all>
										<xsd:element name="CostCentre">
											<xsd:annotation>
												<xsd:documentation>Cost Center specifies the Cost Center being maintained.</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:whiteSpace value="preserve"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:all>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SubcontractFlag" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Specifies whether the cost center is a subcontract cost center. Y – Yes or N - No. subcontract  fields are loacted at the bottom of the file.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Description" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The description is the description of the cost centre being maintained. Applicable for both internal and subcontracted cost centers.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="UseEmployeeRate" default="N" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The Employee rate flag is defined against the cost centre for an internal cost centre. It is only used for an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value=""/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ProductClass" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The product class is defined against the cost centre for both internal and subcontracted cost centers.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="EtCalcMeth" default="U" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The calculation method for elapsed time the defined against the cost centre. . U-Unit  B-Block  R-Rate. It is only used for an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="U"/>
										<xsd:enumeration value="B"/>
										<xsd:enumeration value="R"/>
										<xsd:enumeration value=""/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TimeUom" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The Time UOM is the unit of measure used for time. It is only used for an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="CapacityUom" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The capacity UOM is the unit of measure used for capacity. It is only used for an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="UseOvertimeCap" default="N" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The use overtime capacity flag is defined against the cost center for an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value=""/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="OvertimeCapPct" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The overtime capacity percentage is defined against the cost center for an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SetUpRate1" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The setup rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RunTimeRate1" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The runtime rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FixOverRate1" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The fixed overhead rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="VarOverRate1" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The variable overhead rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StartupRate1" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The startup rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TeardownRate1" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The tear down rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SetUpRate2" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The setup rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RunTimeRate2" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The runtime rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FixOverRate2" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The fixed overhead rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="VarOverRate2" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The variable overhead rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StartupRate2" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The startup rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TeardownRate2" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The teardown rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SetUpRate3" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The setup rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RunTimeRate3" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The runtime rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FixOverRate3" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The fixed overhead rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="VarOverRate3" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The variable overhead rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StartupRate3" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The startup rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TeardownRate3" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The teardown rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SetUpRate4" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The setup rate is a rate defined against the cost center if you are using an internal cost center.cost</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RunTimeRate4" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The runtime rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FixOverRate4" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The fixed overhead rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="VarOverRate4" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The variable overhead rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StartupRate4" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The startup rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TeardownRate4" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The teardown rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SetUpRate5" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The setup rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RunTimeRate5" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The runtime rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FixOverRate5" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The fixed overhead rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="VarOverRate5" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The variable overhead rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StartupRate5" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The startup rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TeardownRate5" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The teardown rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SetUpRate6" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The setup rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RunTimeRate6" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The runtime rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FixOverRate6" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The fixed overhead rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="VarOverRate6" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The variable overheads rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StartupRate6" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The startup rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TeardownRate6" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The teardown rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SetUpRate7" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The setup rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RunTimeRate7" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The runtime rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FixOverRate7" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The fixed overhead rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="VarOverRate7" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The variable overhead rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StartupRate7" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The startup rate is a rate defined against the cost center if you are using an internal cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TeardownRate7" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The teardown rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SetUpRate8" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The setup rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RunTimeRate8" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The runtime rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FixOverRate8" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The fixed overhead rate is a rate defined against the cost center if you are using an internal cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="VarOverRate8" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The variable overhead rate is a rate defined against the cost center if you are using an internal cost center.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StartupRate8" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The startup rate is a rate defined against the cost center if you are using an internal cost center.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TeardownRate8" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The teardown rate is a rate defined against the cost center if you are using an internal cost center.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SetUpRate9" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The setup rate is a rate defined against the cost center if you are using an internal cost center.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RunTimeRate9" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The rumtime rate is a rate defined against the cost center if you are using an internal cost center.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FixOverRate9" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The fixed overhead rate is a rate defined against the cost center if you are using an internal cost center.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="VarOverRate9" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The variable overhead rate is a rate defined against the cost center if you are using an internal cost center.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StartupRate9" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The startup rate is a rate defined against the cost center if you are using an internal cost center.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TeardownRate9" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The teardown rate is a rate defined against the cost center if you are using an internal cost center.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RunTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The productive GL code for run time is defined against the cost centre for both internal and subcontracted cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SetupTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The productive GL code for setup time is defined against the cost centre for internal cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FixTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The productive GL code for fixed overhead time is defined against the cost centre for internal cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="VarTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The productive GL code for variable overhead time is defined against the cost centre for internal cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StartTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The productive GL code for start-up time is defined against the cost centre for internal cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TeardownTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The productive GL code for teardown time is defined against the cost centre for internal cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NonRunTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The non-productive GL code for run time is defined against the cost centre for internal cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NonSetupTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The non-productive GL code for setup time is defined against the cost centre for internal cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NonFixTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The non-productive GL code for fixed overhead time is defined against the cost centre for internal cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NonVarTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The non-productive GL code for variable overhead time is defined against the cost centre for internal cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NonStartTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The non-productive GL code for start-up time is defined against the cost centre for internal cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NonTearTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The non-productive GL code for teardown time is defined against the cost centre for internal cost centre's ONLY if GL integration is enabled for the module.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DefSubSupplier" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The default supplier for the subcontracted cost center. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DefSubPlanner" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The default planner for the subcontracted cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DefSubBuyer" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The default supplier for the subcontracted cost center.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
