Schemas7/BOMTSODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Bill of Material Setup Transaction Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BillOfMaterialOptions">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="General" minOccurs="0"/>
        <xsd:element ref="Sequencing" minOccurs="0"/>
        <xsd:element ref="ABCosting" minOccurs="0"/>
        <xsd:element ref="EngineeringChangeControl" minOccurs="0"/>
        <xsd:element ref="Numbering" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StructOnOffDateReq">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether structure on/off dates are required. (N - No, Y - Yes). If no value is supplied then the default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StructAmendJnlReq">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether structure ammendment journals are required. (N - No, Y - Yes). If no value is supplied then the default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StructNarrReq">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether the structure narrations are required. (N - No, Y - Yes). If no value is supplied then the default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StdNarrForOpsReq">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether the standard narrations for operations are required. (N - No, Y - Yes). If no value is supplied then the default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AltRoutingReq">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether the alternate routings are required. (N - No, Y - Yes). If no value is supplied then the default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CompInclByJobNo">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether component inclusion by job number is required. (N - No, Y - Yes). If no value is supplied then the default value of N will be assumed. If Cospac job numbering is set to M then this must be set to N.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SplitSubContrCosts">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether to split the subcontract operation costs from the material costs. (N - No, Y - Yes). If no value is supplied then the default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ProgScrapReq">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether progressive scrap is required. (N - No, Y - Yes). If no value is supplied then the default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UseFacCalForMoveTimes">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether to use the factory calendar when applying movement time to operation dates. (N - No, Y - Yes). If no value is supplied then the default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="WarnAboutCostImplosion">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether to warn about cost implosions not being completed. (Y - Yes, N - No). If no value is supplied then the default value of Y will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MaxDecInQtyPer">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the maximum number of decimal places to use in the quantity per.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:double">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="9"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefOpMoveTime">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the default movement operation movement time. This element is optional.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:double">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="9999999999"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefDescTimeUnits">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the default description of time units. This element is optional.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="General">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StructOnOffDateReq"/>
        <xsd:element ref="StructAmendJnlReq"/>
        <xsd:element ref="StructNarrReq"/>
        <xsd:element ref="StdNarrForOpsReq"/>
        <xsd:element ref="AltRoutingReq"/>
        <xsd:element ref="CompInclByJobNo"/>
        <xsd:element ref="SplitSubContrCosts"/>
        <xsd:element ref="ProgScrapReq"/>
        <xsd:element ref="UseFacCalForMoveTimes"/>
        <xsd:element ref="WarnAboutCostImplosion"/>
        <xsd:element ref="MaxDecInQtyPer"/>
        <xsd:element ref="DefOpMoveTime"/>
        <xsd:element ref="DefDescTimeUnits"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StructSeqReq">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether structure sequencing is required. (N - No, Y - Yes). If no value is supplied then the default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SeqKey">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates what the sequencing key should be. (A - Alphanumeric, N - Numeric). If no value is supplied then the default value of A will be assumed. This only applies if 'StructSeqReq' is set to Y.]]></xsd:documentation>
      <xsd:appinfo source="A=Alphanumeric;N=Numeric;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefSeqNum">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the default sequence number to use. This element is optional unless the 'SeqKey' is set to N, then this must be supplied as numeric. This only applies if 'StructSeqReq' is set to Y. This will be reset to zeros if 'StructSeqReq' is set to N.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Sequencing">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StructSeqReq"/>
        <xsd:element ref="SeqKey"/>
        <xsd:element ref="DefSeqNum"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AbCostingReq">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether Activity Based Costing is required.(N - No, Y - Yes, P - Yes but costs not updated). If no value is supplied then the default value of N will be assumed. If the inventory 'Cost Unit of Measure' option is in use, then this element may only contain N.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;P=Yes, but costs not updated;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="P"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DescAbcUdf1">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the description for the user defined field 1. This element is optional. Only applies if the inventory 'Cost Unit of Measure' option is not in use.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DescAbcUdf2">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the description for the user defined field 2. This element is optional. Only applies if the inventory 'Cost Unit of Measure' option is not in use.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DescAbcUdf3">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the description for the user defined field 3. This element is optional. Only applies if the inventory 'Cost Unit of Measure' option is not in use.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ABCosting">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="AbCostingReq"/>
        <xsd:element ref="DescAbcUdf1"/>
        <xsd:element ref="DescAbcUdf2"/>
        <xsd:element ref="DescAbcUdf3"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StructRoutingArch">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates how structure and routing arhiving is required. (N - Batch, Y - Immediate, P - Immediate (prompted)). If no value is supplied then the default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=Batch;Y=Immediate;P=Immediate (prompted);"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="P"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SetToCurrRevRel">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether to set Revision/Release, if it is displayed as dashes, to current rev/rel when archiving. (N - No, Y - Yes). If no value is supplied then the default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockControlLevel">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates the level of stock control to use. (L - Release, R - Revision, S - Stock code). If no value is supplied then the default value of L will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="L=Release;R=Revision;S=Stock code;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="L"/>
        <xsd:enumeration value="R"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="InitEcoStatus">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the initial user defined ECO status. This element is optional.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefEccUser">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the default ECC user code. This element is optional.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UdfRevision">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the revision user defined field. If no value is supplied then the default value of 'Revision' will be assumed.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UdfRelease">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the release user defined field.  If no value is supplied then the default value of 'Release' will be assumed.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UdfRev">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the rev user defined field. If no value is supplied then the default value of 'Rev' will be assumed.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UdfRel">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the rel user defined field. If no value is supplied then the default value of 'Rel' will be assumed.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="JobPromptRevRel">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates the prompt for revision/release in the job creation. (Y - Prompt for rev/rel with no default, D - Prompt for rev/rel (default to current), N - Assume current rev/rel at time of adding a job). If no value is supplied then the default value of Y will be assumed. Only applies if 'StockControlLevel' is not set to S.]]></xsd:documentation>
      <xsd:appinfo source="Y=Prompt for rev/rel with no default;D=Prompt for rev/rel (default to current);N=Assume current rev/rel at time of adding a job;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PoPromptRevRel">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates the prompt for revision/release in the purchase order maintenance. (Y - Prompt for rev/rel with no default, D - Prompt for rev/rel (default to current), N - Assume current rev/rel at time of adding an order). If no value is supplied then the default value of Y will be assumed. Only applies if 'StockControlLevel' is not set to S.]]></xsd:documentation>
      <xsd:appinfo source="Y=Prompt for rev/rel with no default;D=Prompt for rev/rel (default to current);N=Assume current rev/rel at time of adding an order;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="InvPromptRevRel">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates the prompt for revision/release in the inventory movements. (Y - Prompt for rev/rel with no default, D - Prompt for rev/rel (default to current), N - Assume current rev/rel at time of transaction). If no value is supplied then the default value of Y will be assumed. Only applies if 'StockControlLevel' is not set to S.]]></xsd:documentation>
      <xsd:appinfo source="Y=Prompt for rev/rel with no default;D=Prompt for rev/rel (default to current);N=Assume current rev/rel at time of transaction;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SoPromptRevRel">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates the prompt for revision/release in the sales order creation. (Y - Prompt for rev/rel with no default, D - Prompt for rev/rel (default to current), N - Assume current rev/rel at time of adding an order, L - Assume current rev/rel at time of shipping an order). If no value is supplied then the default value of Y will be assumed. Only applies if 'StockControlLevel' is not set to S.]]></xsd:documentation>
      <xsd:appinfo source="Y=Prompt for rev/rel with no default;D=Prompt for rev/rel (default to current);N=Assume current rev/rel at time of adding an order;L=Assume current rev/rel at time of shipping an order;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="L"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="EngineeringChangeControl">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StructRoutingArch"/>
        <xsd:element ref="SetToCurrRevRel"/>
        <xsd:element ref="StockControlLevel"/>
        <xsd:element ref="InitEcoStatus"/>
        <xsd:element ref="DefEccUser"/>
        <xsd:element ref="UdfRevision"/>
        <xsd:element ref="UdfRelease"/>
        <xsd:element ref="UdfRev"/>
        <xsd:element ref="UdfRel"/>
        <xsd:element name="RollUpEcoChanges">
          <xsd:annotation>
            <xsd:documentation><![CDATA[ Indicates when applying BOM changes whether to update the BOM'S of affected parent items with affected components which are not current on the parent BOM'S (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="AllowCosmeticChanges">
          <xsd:annotation>
            <xsd:documentation><![CDATA[ Indicates when applying BOM changes whether changes which are minor can be applied without needing to change the rev/rel of the item (Y - System automatically controls, N - No, M - Manual control by operator). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value="M"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="TrackRelease">
          <xsd:annotation>
            <xsd:documentation><![CDATA[ Indicates when stock control is at a revision level whether to track minor changes at a release level (Y - Yes, N - No). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="JobPromptRevRel"/>
        <xsd:element name="ApplyCurrAtJobCrt">
          <xsd:annotation>
            <xsd:documentation><![CDATA[ Indicates when a BOM component ECC consumption method is use current whether to apply the current at the point of job creation thus setting the revision and release meaning the ECC consumption method becomes specific. (Y - Yes, N - No). If no value is supplied then a default value of N will be assumed.
  ]]></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="DepleteOldestRevRel" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Indicates if you are allowed to set the BOM for an ECC controlled item to deplete the oldest Revision/Releases first. (Y - Allow deplete oldest Rev/Rels or N - do not allow deplete oldest Rev/Rels).</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value="N"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="AllowMultipleRevRel" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Indicates if you are allowed to issue from multiple Revision/Releases, when depleting from the oldest Revision/Release. Only applicable if the DepleteOldestRevRel element is 'Y'. (Y - allow multiple Revision/Releases or N - do not allow multiple Revision/Releases).</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value="N"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="PoPromptRevRel"/>
        <xsd:element ref="InvPromptRevRel"/>
        <xsd:element name="DepleteOldestRevRelBackflush" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Indicate if the oldest Revision/Release should be issued from for an ECC component during a Backflushing transaction. Only applicable if the DepleteOldestRevRev element is 'Y'. ('Y' - issue from oldest or 'N' - do not issue from oldest.)</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value="N"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="SoPromptRevRel"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EcoKeyType">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the engineering change order key type. (N - Numeric, A - Alpha). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="A=Alpha;N=Numeric;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="A"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ECONumMethod">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the engineering change of order numbering method.(M - Manual, A - Automatic). If no value is supplied then a default value of A will be assumed. This element only applies if 'EcoKeyType' is set to N. Can only be set to M if 'EcoKeyType' is set to A.]]></xsd:documentation>
      <xsd:appinfo source="M=Manual;A=Automatic;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="M"/>
        <xsd:enumeration value="A"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NextEcoNumber">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the next ECO number. This element only applies if 'ECONumMethod' is set to Alpha and 'EcoKeyType' is set to Numeric. If this is the first time the BOM setup is run, this field will default to 1.]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:double">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="999999999999999"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="RevKeyType">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the revision numbering key type. (N - Numeric, A - Alpha). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=Numeric;A=Alpha;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="A"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="RevNumMethod">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the revision numbering method. (A - Automatic, M - Manual). If no value is supplied then a default value of A will be assumed. This element only applies if 'RevKeyType' is set to N. Can only be set to M if 'RevKeyType' is set to A.]]></xsd:documentation>
      <xsd:appinfo source="A=Automatic;M=Manual;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="M"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="RelKeyType">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the release numbering key type. (N - Numeric, A - Aplha). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=Numeric;A=Alpha;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="A"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="RelNumMethod">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This is the release numbering method. (A - Automatic, M - Manual). If no value is supplied then a default value of A will be assumed. This element only applies if 'RelKeyType' is set to N. Can only be set to M if 'RelKeyType' is set to A.]]></xsd:documentation>
      <xsd:appinfo source="A=Automatic;M=Manual;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="M"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowNonSequentialEntries">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether to allow non-contiguous entries for revision and release. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncrementRelWithinRev">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Indicates whether to increment the release number within revision. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed. May only be set to Y if 'AllowNonSequentialEntries' is set to Y, else must be N.]]></xsd:documentation>
      <xsd:appinfo source="N=No;Y=Yes;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Numbering">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="EcoKeyType"/>
        <xsd:element ref="ECONumMethod"/>
        <xsd:element ref="NextEcoNumber"/>
        <xsd:element ref="RevKeyType"/>
        <xsd:element ref="RevNumMethod"/>
        <xsd:element ref="RelKeyType"/>
        <xsd:element ref="RelNumMethod"/>
        <xsd:element ref="AllowNonSequentialEntries"/>
        <xsd:element ref="IncrementRelWithinRev"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
