Schemas7/CFGQDAOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Product Configurator List of Configurations Business Object
-->
<xsd:schema id="ProductConfigListOfConfigurationsReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ProductConfigListOfConfigurationsReport">
		<xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IncludeAvailableForUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAvailableForUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeUnderDevelopment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeUnderDevelopment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeSalesOrders" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeSalesOrders" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeQuotations" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeQuotations" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeBOM" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeBOM" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeWIP" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeWIP" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeSelectionDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeSelectionDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeCriteriaDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeCriteriaDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeInvalidCriteriaDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeInvalidCriteriaDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeOptionsDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeOptionsDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeComponentCalculations" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeComponentCalculations" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeSelectionCriteriaDependencies" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeSelectionCriteriaDependencies" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeComponentDependencies" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeComponentDependencies" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValidateComponentDependencies" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ValidateComponentDependencies" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NewPagePerConfig" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_NewPagePerConfig" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConfigurationFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConfigurationFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ConfigurationFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AvailabilityDateFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AvailabilityDateFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AvailabilityDateFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EngineerFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EngineerFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_EngineerFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GroupItems">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProductConfigDetails" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ProductConfigHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Configuration" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AvailFromDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_AvailFromDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AvailToDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_AvailToDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Engineer" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CanUseForSO" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_CanUseForSO" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CanUseForQOT" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_CanUseForQOT" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CanUseForBOM" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_CanUseForBOM" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CanUseForWIP" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_CanUseForWIP" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Status" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_Status" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ParentType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_ParentType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Generate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_Generate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ParentCodePrefix" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Details" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="DetailType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelectionNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelectionNumberDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelectionDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelectionFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_SelectionFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelAssValCrit" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_SelAssValCrit" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelUseIncrements" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_SelUseIncrements" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GenerateParent" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_GenerateParent" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelAlphaNumeric" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_SelAlphaNumeric" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelStartInPar" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelLgtEntParent" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelUseBldParDe" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_SelUseBldParDe" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelSelDesType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_SelSelDesType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelStartInDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SelLgtEntryDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvSelectionNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvSelCriterion" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvCriShortDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CriterionNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CriterionDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CriShortDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MinValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_MinValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MaxValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_MaxValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ParentCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_ParentCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ParentDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OptionNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OptionDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OptionType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_OptionType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MinQuantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_MinQuantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MaxQuantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_MaxQuantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MinPer" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_MinPer" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MaxPer" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_MaxPer" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyPerDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OffsetType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Dependency" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_Dependency" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Component" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CompDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_CompDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MaterialType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_MaterialType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NonStocked" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_NonStocked" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SubContractOperationFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_SubContractOperationFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyPer" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_QtyPer" type="xsd:string" minOccurs="0"/>
													<xsd:element name="UseSelection" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_UseSelection" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DependencyDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ReqdSelection" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ReqdSelectionDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ReqdCriteria" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DependentComponent" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LinkType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_LinkType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OptionLinked" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LinkedLine" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Factor" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_Factor" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Message" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_Message" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Result" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Field1" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Operand1" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Field2" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Operand2" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Field3" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Operand3" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Field4" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Rounding" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NoDecimals" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
