Schemas7/CFGTFDOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Product Configurator Finish Details Phase posting parameters
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Commission">
    <xsd:annotation>
      <xsd:documentation>This element indicates the commission of the parent part. This element also indicates the commission of the list price when creating a stocked parent.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Description">
    <xsd:annotation>
      <xsd:documentation>This element indicates the description of the stocked code/non-stocked code. This element is output when a parent part is being created and you come from another phase. This element is also output when the source is T - test mode and indicates the description for the component stock code/non-stocked code and the operation work centre on completion of the configuration.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Line">
    <xsd:annotation>
      <xsd:documentation>This element indicates the selection line processed. This element also indicates the option line processed. This element also indicates the component/operation line which was selected.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LineValue">
    <xsd:annotation>
      <xsd:documentation>This element indicates the total value for the parent line when creating a sales order or quote and coming from another phase. This element also indicates the total value of the component/operation line when the source is test mode (T) on completion of the configuration.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Price">
    <xsd:annotation>
      <xsd:documentation>This element indicates the price of the parent which defaults to the accumulated line value of the components and operations selected. When the source is sales orders (S) and an existing stock code which does not have a bill of material is used and a contract price exists then this element will default to the contract price else this element defaults to the accumulated line value of the components and operations selected.  When the source is sales orders (S) and an existing stock code which has a bill of material is used, this element will default to the price set up within SYSPRO. This element also indicates the list price of the parent which defaults to the accumulated list price of the components selected as well as the accumulated line value of the operations selected.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PriceCode">
    <xsd:annotation>
      <xsd:documentation>When creating a new stocked parent this element indicates the list price code of the parent. This element also indicates the price code of a parent and is only output when an existing stocked parent which has a bill of material is being used and the source is sales orders (S) and the pricing method is simple or extended. If this element contains an '!' then the price is a contract price. This element also contains a '!' when an existing stocked parent which does not have a bill of material has a contract price and the source is sales orders (S) and the pricing method is simple or extended.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ProductClass">
    <xsd:annotation>
      <xsd:documentation>This element indicates the product class of the parent. This element is output when the source is sales orders (S) or quotes (Q) and you are coming from another phase. This element is also output when the source is T - test mode and indicates the product class of the component and operations on completion of the configuration.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Quantity">
    <xsd:annotation>
      <xsd:documentation>This element indicates the quantity of the parent required. This element is output when the source is sales orders (S), quotes (Q) or jobs (W) and when you are coming from another phase. This element is also output when the source is T - test mode and indicates the total component quantity required on completion of the configuration.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="QuantityUom">
    <xsd:annotation>
      <xsd:documentation>This element indicates the quantity unit of measure of the parent. This element is output when the source is sales orders (S), quotes (Q) or jobs (W) and when you are coming from another phase. This element is also output when the source is T - test mode and indicates the quantity unit of measure of the component on completion of the configuration.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>This element indicates the parent stock code/non-stocked code. This element is output when a parent part is being created and you come from another phase. This element is also output when the source is T - test mode and indicates the component stock code/non-stocked code on completion of the configuration. This element is also output when creating BOM operations and indicates the parent stock code of the operation on completion of the configuration. The format is either alphanumeric field or numeric field depending on the key configuration for stock codes within SYSPRO.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:annotation>
      <xsd:documentation>This element indicates the warehouse against the parent stock code. For non-stocked items this element will be '**'. This element is output when a parent part is being created and you come from another phase. This element is also output when the source is T - test mode and indicates the component warehouse on completion of the configuration.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This element indicates the key information for BOM/Estimate components and operations that were created/maintained.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="StockCode" minOccurs="0"/>
        <xsd:element name="ParentPart" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates the parent part of BOM/Estimate components created/maintained. The format is either alphanumeric or numeric depending on the key configuration for stock codes within SYSPRO.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Version" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates the version of the engineering change controlled BOM parent being created or maintained. The format is alphanumeric or numeric, depending on configuration for version within SYSPRO.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Release" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates the release of the engineering change controlled BOM parent being created or maintained. The format is alphanumeric or numeric, depending on configuration for release within SYSPRO.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="NonStockCode" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates the non-stocked parent for the estimate operation. The format is either alphanumeric field or numeric depending on the key configuration for stock codes within SYSPRO.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="Route"/>
        <xsd:element name="Operation" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates the BOM/estimate operation number for the parent stock code.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="SequenceNum" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates the sequence number of the BOM/estimate component against the parent stock code.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Component" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates the BOM/estimate component of the parent stock code. The format is either alphanumeric or numeric depending on the key configuration for stock codes within SYSPRO.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="postconfiguration">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:annotation>
            <xsd:documentation>This is the top element for all data output.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:sequence>
              <xsd:element ref="StockCode" minOccurs="0"/>
              <xsd:element ref="Description" minOccurs="0"/>
              <xsd:element ref="Warehouse" minOccurs="0"/>
              <xsd:element ref="Quantity" minOccurs="0"/>
              <xsd:element ref="QuantityUom" minOccurs="0"/>
              <xsd:element ref="Route" minOccurs="0"/>
              <xsd:element name="Date" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates the configuration date. This element is output when a parent part is being created and you come from another phase. The format is CCYY-MM-DD.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="UnitMass" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates the accumulated unit mass of the components selected which will be the unit mass of the parent created. When the source is sales orders (S) or quotes (Q) then this field will also be updated against the sales order/quotation . This field is only applicable when creating a new parent part or using an existing parent part.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="UnitVolume" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates the accumulated unit volume of the components selected which will be the unit volume of the parent created. When the source is sales orders (S) or quotes (Q) then this field will also be updated against the sales order/quotation. This field is only applicable when creating a new parent part or using an existing parent part.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element ref="ProductClass" minOccurs="0"/>
              <xsd:element name="FinishSalesQuoteParent" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds information pertaining to sales orders and quotes. This element is only output when the source is sales order (S) or quotes (Q) and coming from another phase.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element name="Cost" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This element indicates the cost of a non-stocked parent which defaults to the accumulated cost of the components and operations selected.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element ref="PriceCode" minOccurs="0"/>
                    <xsd:element ref="Price"/>
                    <xsd:element name="PriceUom">
                      <xsd:annotation>
                        <xsd:documentation>This element indicates the price unit of measure of the parent.</xsd:documentation>
                       </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element ref="Commission"/>
                    <xsd:element name="DiscountFlag" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If discount applies, this element indicates whether the discount value is unit or total for the parent part. Possible values are: U (Unit value) or V (Total value). This element will only be output when the source is sales orders (S) and you are using an existing stocked parent part which has a bill of material or when you are using an existing stocked parent which does not have a bill of material however has a contract price against it.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="U"/>
                          <xsd:enumeration value="V"/>
                          <xsd:enumeration value=""/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DiscountPctPlusLess" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If discount applies this element indicates whether the discount value should be added to or subtracted from the parent line value when using chain discount percentages. This element will only be output when the source is sales orders (S) and you are using an existing stocked parent part which has a bill of material or when you are using an existing stocked parent which does not have a bill of material however has a contract price against it.  Possible values are: L (Less) or P (Plus).</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="L"/>
                          <xsd:enumeration value="P"/>
                          <xsd:enumeration value=""/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DiscountValue" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If discount applies and the discount flag is U or V, then this element indicates the discount value for the parent. This element will only be output when the source is sales orders (S) and you are using an existing stocked parent part which has a bill of material or when you are using an existing stocked parent which does not have a bill of material however has a contract price against it.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DiscountPct1" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If discount applies, this element indicates the first discount percentage when using chain discount percentages. This element will only be output when the source is sales orders (S) and you are using an existing stocked parent part which has a bill of material or when you are using an existing stocked parent which does not have a bill of material however has a contract price against it.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DiscountPct2" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If discount applies, this element indicates the second discount percentage when using chain discount percentages. This element will only be output when the source is sales orders (S) and you are using an existing stocked parent part which has a bill of material or when you are using an existing stocked parent which does not have a bill of material however has a contract price against it.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DiscountPct3" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If discount applies, this element indicates the third discount percentage when using chain discount percentages. This element will only be output when the source is sales orders (S) and you are using an existing stocked parent part which has a bill of material or when you are using an existing stocked parent which does not have a bill of material however has a contract price against it.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TotalDiscountValue" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If discount applies, this element indicates the total discount value for the parent. This element will only be output when the source is sales orders (S) and you are using an existing stocked parent part which has a bill of material or when you are using an existing stocked parent which does not have a bill of material however has a contract price against it.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NetPrice" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This element indicates the net price for the parent and is only output when the line discount calculation method within SYSPRO is price and there is a discount. This element will also only be output when the source is sales orders (S) and you are using an existing stocked parent part which has a bill of material or when you are using an existing stocked parent which does not have a bill of material however has a contract price against it.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element ref="LineValue"/>
                    <xsd:element name="TariffCode" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>The tariff code is used in the EC VAT system to determine the tax rates to be used for items sold across EC borders.This is only applicable for orders placed where the SYSPRO option 'EC Vat system required' is selected. This is also only applicable when the source is 'S' - Sales orders and you are creating a new stocked parent. This element will default to the tariff code found against the stock code defaults.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SupplementaryUnitsFlag" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This indicates whether supplementary units apply to the Tariff code and is printed on the Supplementary Declaration .This is only applicable for orders placed where the SYSPRO option 'EC Vat system required' is selected. This is also only applicable when the source is 'S' - Sales orders and you are creating a new stocked parent. This element will default to the supplementary units flag found against the stock code defaults. Possible values are 'Y' or 'N'.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="Y"/>
                          <xsd:enumeration value="N"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="FinishListPriceDetails" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds list price information pertaining to a new stocked parent and will only be output when coming from another phase.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element ref="PriceCode"/>
                    <xsd:element ref="Price"/>
                    <xsd:element name="PriceBasis">
                      <xsd:annotation>
                        <xsd:documentation>This element indicates the price basis for the list price. Possible values are: S (Stocking unit of measure), O (other unit of measure) or A (Alternate unit of measure).</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="S"/>
                          <xsd:enumeration value="O"/>
                          <xsd:enumeration value="A"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element ref="Commission"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CreateBomEstJob" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates what you can create in addition to what will be created from the source of the configuration. This element is only output when a parent is being created and you come from another phase and the source is S - Sales orders or Q - Quotes or  W - WIP. The possible values are B - (Bom), J - (Job), E - (Estimates), A - (All ie Job and Bom), N - (None).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="B"/>
                    <xsd:enumeration value="J"/>
                    <xsd:enumeration value="E"/>
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="SelectionCriteriaProcessed" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates if any selection criteria were processed. This element is only output when the source of the configuration is test mode (T) and you are coming from another phase. Possible values are: Yes or No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Yes"/>
                    <xsd:enumeration value="No"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CompsOpersSelected" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates if any components or operations were selected. This element is only output when the source of the configuration is test mode (T) and you are coming from another phase. Possible values are: Yes or No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Yes"/>
                    <xsd:enumeration value="No"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="BomRouting" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds information pertaining to BOM operations. This element is only output when the source of the configuration is BOM parent (B) or BOM details (b) or estimate details (e) and you are creating a stocked parent or sales order (S)/quotes (Q) and you are creating a BOM or jobs (W) and you are creating a BOM, on completion of the configuration.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element ref="Key" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="BomStructure" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds information pertaining to BOM components. This element is only output when the source of the configuration is BOM parent (B) or BOM details (b) or estimate details (e) and you are creating a stocked parent or sales order (S)/quotes (Q) and you are creating a BOM or jobs (W) and you are creating a BOM, on completion of the configuration.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element ref="Key" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="QotRouting" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds information pertaining to estimate operations. This element is only output when the source of the configuration is estimate parent (E) or estimate details (e) or sales order (S)/quotes (Q) and you are creating an estimate, on completion of the configuration.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element ref="Key" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="QotStructure" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds information pertaining to estimate components. This element is only output when the source of the configuration is estimate parent (E) or estimate details (e) or sales order (S)/quotes (Q) and you are creating an estimate, on completion of the configuration.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element ref="Key" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="JobDetails" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds the job number when a job has been created. This element is only output when the source is sales orders (S) and a job has been created or the source is jobs (W), on completion of the configuration.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element name="Job">
                      <xsd:annotation>
                        <xsd:documentation>This element indicates the job that was created. The format is either alphanumeric or numeric depending on the key configuration within SYSPRO.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SubJobs" minOccurs="0" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:documentation>This element holds sub job numbers and is only output when creating sub jobs.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType mixed="false">
                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                          <xsd:element name="Job" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>This element indicates the sub job number. The format is either alphanumeric or numeric depending on the key configuration within SYSPRO.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SalesOrders" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds the sales order created/maintained. This element is only output when the source is sales orders (S) on completion of the configuration.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element name="SalesOrder">
                      <xsd:annotation>
                        <xsd:documentation>This element indicates the sales order number created/maintained. The format is either alphanumeric or numeric depending on the key configuration within SYSPRO.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="PostSalesOrdersSCT" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds the SCT created. This element is only output when the source is sales orders (S) on completion of the configuration.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SalesOrder">
                      <xsd:annotation>
                        <xsd:documentation>This element indicates the sales order number created. The format is either alphanumeric or numeric depending on the key configuration within SYSPRO.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Quotation" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds the quote created/maintained. This element is only output when the source of the configuration is quotes (Q) on completion of the configuration.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element name="Quote">
                      <xsd:annotation>
                        <xsd:documentation>This element indicates the quote created/maintained. The format is either alphanumeric or numeric depending on the key configuration within SYSPRO.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SelectionCriteria" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds information pertaining to selections processed. This element is only output when the source of the configuration is test mode (T) on completion of the configuration.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element name="Selection">
                      <xsd:annotation>
                        <xsd:documentation>This element holds information pertaining to selections processed. </xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType mixed="false">
                        <xsd:sequence>
                          <xsd:element ref="Line"/>
                          <xsd:element ref="Description"/>
                          <xsd:element name="CriteriaChosen">
                            <xsd:annotation>
                              <xsd:documentation>This element indicates the description of the criterion which was selected. If no criterion was selected for the selection, then the message {selection was skipped} will appear here.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Value" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>If there is a value against the criterion it will be indicated here, else this element will not be output.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Option" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element holds information pertaining to options processed. This element is only output when the source of the configuration is test mode (T) on completion of the configuration.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element ref="Line"/>
                    <xsd:element name="Operation" minOccurs="0" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:documentation>This element holds information pertaining to operations.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType mixed="false">
                        <xsd:sequence>
                          <xsd:element ref="Line"/>
                          <xsd:element name="WorkCenter">
                            <xsd:annotation>
                              <xsd:documentation>This element indicates the work centre against the operation line.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element ref="Description"/>
                          <xsd:element name="TotalTime">
                            <xsd:annotation>
                              <xsd:documentation>This element indicates the total time of the operation. If the operation is a subcontract operation then this element will contain the value 'subcontract' in it.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="TimeUom" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>This element indicates the time unit of measure of the operation and is only output for internal operations.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element ref="ProductClass"/>
                          <xsd:element ref="LineValue"/>
                          <xsd:element name="Type">
                            <xsd:annotation>
                              <xsd:documentation>This element indicates whether the operation type is mandatory, range or optional.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:whiteSpace value="preserve"/>
                                <xsd:enumeration value="Mandatory"/>
                                <xsd:enumeration value="Range"/>
                                <xsd:enumeration value="Optional"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Component" minOccurs="0" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:documentation>This element holds information pertaining to components.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType mixed="false">
                        <xsd:sequence>
                          <xsd:element ref="Line"/>
                          <xsd:element ref="StockCode"/>
                          <xsd:element ref="Description"/>
                          <xsd:element ref="Quantity"/>
                          <xsd:element ref="QuantityUom"/>
                          <xsd:element ref="ProductClass"/>
                          <xsd:element ref="Warehouse"/>
                          <xsd:element ref="LineValue"/>
                          <xsd:element name="MaterialType">
                            <xsd:annotation>
                              <xsd:documentation>This element indicates whether the material type is mandatory, range or optional.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:whiteSpace value="preserve"/>
                                <xsd:enumeration value="Mandatory"/>
                                <xsd:enumeration value="Range"/>
                                <xsd:enumeration value="Optional"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Configuration" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates that the configuration is complete. Possible value: 'Complete'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Complete"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CurrentConfigurationObject" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates the name of the current business object to be run.  Possible value is CFGTFD. This element is only output when you have come from another phase</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="CFGTFD"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Parameters" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This contains parameters. This element is only output when you have come from another phase.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element name="Function">
                      <xsd:annotation>
                        <xsd:documentation>Refers to the direction you are proceeding in the configuration. Possible values N - Next or P - Previous</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="N"/>
                          <xsd:enumeration value="P"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ConfigurationInstance">
                      <xsd:annotation>
                        <xsd:documentation>This element indicates the instance of the configuration you are running. It is indicated by a unique number returned after the start phase of processing.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
      <xsd:attribute name="Role" type="xsd:byte" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Route">
    <xsd:annotation>
      <xsd:documentation>This element indicate the route of the parent stock code. This element will be output when coming from another phase and the source is  - BOM parent (B) or BOM details (b) and a parent is being created or estimate details (e) and a stocked parent is being created. This element is also output when you are creating BOM/estimate operations or components. This element indicates the route of the parent stock code on completion of the configuration.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
