Schemas7/CMSQREOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Contact Management Query Reminder Business Object
     to return Outstanding Reminders for an Operator
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Activity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContactId"/>
				<xsd:element ref="StartDate"/>
				<xsd:element ref="StartTime"/>
				<xsd:element ref="StartTimeHhMm"/>
				<xsd:element ref="EndDate"/>
				<xsd:element ref="EndTime"/>
				<xsd:element ref="EndTimeHhMm"/>
				<xsd:element ref="FollowUpReqd"/>
				<xsd:element ref="FollowUpOper"/>
				<xsd:element ref="FollowUpDate"/>
				<xsd:element ref="FollowUpTime"/>
				<xsd:element ref="FollowUpTimeHhMm"/>
				<xsd:element ref="DueInMessage"/>
				<xsd:element ref="DueInThePast"/>
				<xsd:element ref="TaskStatus"/>
				<xsd:element ref="TaskStatusDescription"/>
				<xsd:element ref="TaskPctComplete"/>
				<xsd:element ref="TaskDueDate"/>
				<xsd:element ref="OwnerOper"/>
				<xsd:element ref="OwnerPrivacy"/>
				<xsd:element ref="ActivityType"/>
				<xsd:element ref="ActivityTypeDescription"/>
				<xsd:element ref="BodyFileName"/>
				<xsd:element ref="FollowUpFlag"/>
				<xsd:element ref="FollowUpFlagDescription"/>
				<xsd:element ref="Priority"/>
				<xsd:element ref="PriorityDescription"/>
				<xsd:element ref="Subject"/>
				<xsd:element ref="Location"/>
				<xsd:element ref="PartialBody"/>
				<xsd:element ref="Regarding"/>
				<xsd:element ref="UserField1"/>
				<xsd:element ref="UserField2"/>
				<xsd:element ref="UserField3"/>
				<xsd:element ref="Result"/>
				<xsd:element ref="Source"/>
				<xsd:element ref="AttachmentCount"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ActivityType" type="xsd:byte"/>
	<xsd:element name="ActivityTypeDescription" type="xsd:string"/>
	<xsd:element name="AttachmentCount" type="xsd:string"/>
	<xsd:element name="BodyFileName" type="xsd:string"/>
	<xsd:element name="ContactId" type="xsd:string"/>
	<xsd:element name="DueInMessage" type="xsd:string"/>
	<xsd:element name="DueInThePast" type="xsd:string"/>
	<xsd:element name="EndDate" type="xsd:date"/>
	<xsd:element name="EndTime" type="xsd:string"/>
	<xsd:element name="EndTimeHhMm" type="xsd:time"/>
	<xsd:element name="FollowUpDate" type="xsd:date"/>
	<xsd:element name="FollowUpFlag" type="xsd:byte"/>
	<xsd:element name="FollowUpFlagDescription" type="xsd:string"/>
	<xsd:element name="FollowUpOper" type="xsd:string"/>
	<xsd:element name="FollowUpReqd" type="xsd:string"/>
	<xsd:element name="FollowUpTime" type="xsd:string"/>
	<xsd:element name="FollowUpTimeHhMm" type="xsd:time"/>
	<xsd:element name="Location" type="xsd:string"/>
	<xsd:element name="NumberOfReminders" type="xsd:boolean"/>
	<xsd:element name="OwnerOper" type="xsd:string"/>
	<xsd:element name="OwnerPrivacy" type="xsd:string"/>
	<xsd:element name="PartialBody" type="xsd:string"/>
	<xsd:element name="Priority" type="xsd:byte"/>
	<xsd:element name="PriorityDescription" type="xsd:string"/>
	<xsd:element name="QueryReminder">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Activity"/>
				<xsd:element ref="SummaryInfo"/>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:byte" use="required"/>
			<xsd:attribute name="Language2" type="xsd:string" use="required"/>
			<xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
			<xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
			<xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
			<xsd:attribute name="Role" type="xsd:byte" use="required"/>
			<xsd:attribute name="Version" type="xsd:string" use="required"/>
			<xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UserField1" type="xsd:string"/>
	<xsd:element name="UserField2" type="xsd:string"/>
	<xsd:element name="UserField3" type="xsd:string"/>
	<xsd:element name="Regarding" type="xsd:string"/>
	<xsd:element name="Result">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Source" type="xsd:string"/>
	<xsd:element name="StartDate" type="xsd:date"/>
	<xsd:element name="StartTime" type="xsd:string"/>
	<xsd:element name="StartTimeHhMm" type="xsd:time"/>
	<xsd:element name="Subject" type="xsd:string"/>
	<xsd:element name="SummaryInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NumberOfReminders"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TaskDueDate">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="TaskPctComplete" type="xsd:byte"/>
	<xsd:element name="TaskStatus" type="xsd:byte"/>
	<xsd:element name="TaskStatusDescription">
		<xsd:complexType/>
	</xsd:element>
</xsd:schema>
