Schemas7/CMSQEM.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd. -->
<!-- 
     Schema for the Contact Query Email/Contact Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Email">
    <xsd:annotation>
      <xsd:documentation>The email address of contact that must be returned. The value must be in upper case and can occur multiple times.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="HELEN.KOPELOWITZ@BAYSIDE.COM"/>
        <xsd:enumeration value="JAMES.PADDINGTON@BAYSIDE.COM"/>
        <xsd:enumeration value="PETER@UNKNOWN.COM"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>Child Key Node</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Email" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>Root Query Element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
