Schemas7/CMSQDLOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!--
     Schema out for the Query Organization List Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="OrganizationItem" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="OrganizationType" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="OrganizationCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAccount.Branch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAccount.AccountType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAccount.Salesperson" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAccount.Name" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAccount.CreditLimit" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAccount.DateAccountAdded" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAccount.UserField2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactId" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmContact.FullName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmContact.JobTitle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmContact.LastContactDate" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmEmail.Work.Email" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmEmail.Assistant.Email" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmEmail.Manager.Email" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmEmail.Partner.Email" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmTelephone.Work.Number" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmTelephone.Work.Ext" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmTelephone.WorkFax.FaxNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmTelephone.Home.Number" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmTelephone.Mobile.Number" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmTelephone.Assistant.Number" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmTelephone.Assistant.Ext" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmTelephone.Manager.Number" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmTelephone.Manager.Ext" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmTelephone.Partner.Number" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmTelephone.Partner.Ext" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmUrl.Website.Url" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmUrl.Weathersite.Url" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmUrl.Maplocation.Url" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmDate.Birthday.Date" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmDate.AssistantBirthday.Date" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmDate.ManagerBirthday.Date" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmDate.PartnerBirthday.Date" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmAddress.WorkPhysical.Building" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.WorkPhysical.Street" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.WorkPhysical.City" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.WorkPhysical.Locality" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.WorkPhysical.State" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmAddress.WorkPhysical.Country" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmAddress.WorkPhysical.Zip" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.WorkPostal.Building" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.WorkPostal.Street" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.WorkPostal.City" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.WorkPostal.Locality" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmAddress.WorkPostal.State" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmAddress.WorkPostal.Country" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.WorkPostal.Zip" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CrmAddress.HomePhysical.Building" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePhysical.Street" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePhysical.City" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePhysical.Locality" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePhysical.State" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePhysical.Country" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePhysical.Zip" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePostal.Building" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePostal.Street" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePostal.City" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePostal.Locality" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePostal.State" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePostal.Country" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrmAddress.HomePostal.Zip" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArCustomer.Branch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArCustomer.Salesperson" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArCustomer.Name" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArCustomer.DateLastSale" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArCustomer.UserField2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArCustomerBal.CurrentBalance1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApSupplier.Branch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApSupplier.CurrentBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApSupplier.LastPurchDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApSupplier.SupplierName" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="Role" type="xsd:string" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
