Schemas7/CMSQROOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Contact Management Outlook Sync Query Business Object output XML
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AddressList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SingleAddress" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AddressType" type="xsd:string"/>
  <xsd:element name="AssistantName" type="xsd:string"/>
  <xsd:element name="Building" type="xsd:string"/>
  <xsd:element name="City" type="xsd:string"/>
  <xsd:element name="ClassificationInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Comment"/>
        <xsd:element ref="ContactStatus"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Comment" type="xsd:string"/>
  <xsd:element name="Contact">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ContactId"/>
        <xsd:element ref="Organizations"/>
        <xsd:element ref="PersonalInfo"/>
        <xsd:element ref="OrganizationInfo"/>
        <xsd:element ref="ClassificationInfo"/>
        <xsd:element ref="AddressList"/>
        <xsd:element ref="PhoneList"/>
        <xsd:element ref="EmailList"/>
        <xsd:element ref="DateList"/>
        <xsd:element ref="UrlList"/>
        <xsd:element ref="ContactImagePath"/>
        <xsd:element ref="ContactHistoryInfo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ContactDate" type="xsd:string"/>
  <xsd:element name="ContactHistoryInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CreatedDate"/>
        <xsd:element ref="CreatedTime"/>
        <xsd:element ref="LastChangedDate"/>
        <xsd:element ref="LastChangedTime"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ContactId" type="xsd:string"/>
  <xsd:element name="ContactImagePath">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ImagePath"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ContactQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Contact"/>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="Role" type="xsd:string" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ContactStatus" type="xsd:string"/>
  <xsd:element name="Country" type="xsd:string"/>
  <xsd:element name="CreatedDate" type="xsd:string"/>
  <xsd:element name="CreatedTime" type="xsd:string"/>
  <xsd:element name="DateList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SingleDate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DateOfBirth" type="xsd:string"/>
  <xsd:element name="DateType" type="xsd:string"/>
  <xsd:element name="Department">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Email" type="xsd:string"/>
  <xsd:element name="EmailList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SingleEmail" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EmailType" type="xsd:string"/>
  <xsd:element name="FirstName" type="xsd:string"/>
  <xsd:element name="FullName" type="xsd:string"/>
  <xsd:element name="Gender" type="xsd:string"/>
  <xsd:element name="GovernmentId" type="xsd:string"/>
  <xsd:element name="ImagePath">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="JobTitle" type="xsd:string"/>
  <xsd:element name="LastChangedDate" type="xsd:string"/>
  <xsd:element name="LastChangedTime" type="xsd:string"/>
  <xsd:element name="LastName" type="xsd:string"/>
  <xsd:element name="Locality" type="xsd:string"/>
  <xsd:element name="ManagerName">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MiddleName">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Office" type="xsd:string"/>
  <xsd:element name="Organization">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="OrganizationType"/>
        <xsd:element ref="OrganizationCode"/>
        <xsd:element ref="OrganizationName"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OrganizationCode" type="xsd:string"/>
  <xsd:element name="OrganizationInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="JobTitle"/>
        <xsd:element ref="Department"/>
        <xsd:element ref="Office"/>
        <xsd:element ref="ManagerName"/>
        <xsd:element ref="AssistantName"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OrganizationName" type="xsd:string"/>
  <xsd:element name="OrganizationType" type="xsd:string"/>
  <xsd:element name="Organizations">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Organization" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PartnerName" type="xsd:string"/>
  <xsd:element name="PersonalInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="FullName"/>
        <xsd:element ref="Title"/>
        <xsd:element ref="FirstName"/>
        <xsd:element ref="MiddleName"/>
        <xsd:element ref="LastName"/>
        <xsd:element ref="Suffix"/>
        <xsd:element ref="PreferredName"/>
        <xsd:element ref="PartnerName"/>
        <xsd:element ref="Gender"/>
        <xsd:element ref="DateOfBirth"/>
        <xsd:element ref="GovernmentId"/>
        <xsd:element ref="PreferredLanguage"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PhoneList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SinglePhone" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PhoneType" type="xsd:string"/>
  <xsd:element name="PreferredLanguage" type="xsd:string"/>
  <xsd:element name="PreferredName" type="xsd:string"/>
  <xsd:element name="SingleAddress">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="AddressType"/>
        <xsd:element ref="Building"/>
        <xsd:element ref="Street"/>
        <xsd:element ref="City"/>
        <xsd:element ref="Locality"/>
        <xsd:element ref="State"/>
        <xsd:element ref="Country"/>
        <xsd:element ref="Zip"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SingleDate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DateType"/>
        <xsd:element ref="ContactDate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SingleEmail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="EmailType"/>
        <xsd:element ref="Email"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SinglePhone">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="PhoneType"/>
        <xsd:element ref="Telephone"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SingleUrl">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="UrlType"/>
        <xsd:element ref="Url"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="State" type="xsd:string"/>
  <xsd:element name="Street" type="xsd:string"/>
  <xsd:element name="Suffix">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Telephone" type="xsd:string"/>
  <xsd:element name="Title">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Url" type="xsd:string"/>
  <xsd:element name="UrlList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SingleUrl"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UrlType" type="xsd:string"/>
  <xsd:element name="Zip" type="xsd:string"/>
</xsd:schema>
