Schemas7/CMSQAC.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2015 SYSPRO Ltd. --><!--      Schema for the Contact Account Query--><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="Account" type="xsd:byte"/>	<xsd:element name="Key">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Account"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="Query">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Key"/>			</xsd:sequence>			<xsd:attribute name="caption" type="xsd:string"/>		</xsd:complexType>	</xsd:element></xsd:schema>