Schemas7/CMSQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the Contact Management Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ContactManagementSetupOptions">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="Company">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Defaults">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CmsSetupWizard" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MultiMediaImageCat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WeatherUrl" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MapUrl" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactProperty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactCategory" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Contact">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ContactPropCaptionNone" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactPropCaptionRed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactPropCaptionBlue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactPropCaptionYellow" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactPropCaptionGreen" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactPropCaptionCyan" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactPropCaptionMagenta" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContactPropCaptionWhite" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ActivityFollowUp">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="FollowUpCaptionCleared" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FollowUpCaptionRedFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FollowUpCaptionBlueFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FollowUpCaptionYellowFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FollowUpCaptionGreenFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FollowUpCaptionCyanFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FollowUpCaptionMagentaFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FollowUpCaptionWhiteFlag" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ActivityChanges">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ActivityChangeSubject" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityChangeLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityChangeRegarding" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityChangeResult" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityChangeFollowUp" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityChangePriority" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ActivityCriteria">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ActivityCriteriaLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityCriteriaRegarding" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityCriteriaResult" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityCriteriaUserField1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityCriteriaUserField2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityCriteriaUserField3" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ActivityAttachment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="UserDefinedFolder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserDefinedLocation" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CopyDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PopUpCopyDetails" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChangeWorkPostalAddr" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChangeWorkPhysicalAddr" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChangeWorkTelNo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChangeWorkFaxNo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChangeWebsite" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChangeMapUrl" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChangeWeatherUrl" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="AccountUserFields">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AccountUserDefFieldDesc3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AccountUserDefFieldDesc4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AccountUserDefFieldDesc5" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ActivityUserFields">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ActivityUserDefFieldDesc1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityUserDefFieldDesc2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActivityUserDefFieldDesc3" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CalenderOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CalendarIncludeOption" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PurgeOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AllowContactPurge" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DeleteContactsNoActivityFor" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowActivityPurge" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DeleteActivitiesOlderThan" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowRuntimeSelection" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
