Schemas7/CMSQDL.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Query Organization List Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="FileName" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Pass organization list file name including file extension (no path).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MaxItemsToReturn" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Specify the maximum number of rows to return - default is all rows.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="String1" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Pass the value of the optional run time variable %String1</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="String2" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Pass the value of the optional run time variable %String2</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="String3" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Pass the value of the optional run time variable %String3</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="String4" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Pass the value of the optional run time variable %String4</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="String5" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Pass the value of the optional run time variable %String5</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="String6" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Pass the value of the optional run time variable %String6</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="String7" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Pass the value of the optional run time variable %String7</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="String8" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Pass the value of the optional run time variable %String8</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="String9" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Pass the value of the optional run time variable %String9</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Column" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Specify a collection of column names to be returned</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="FileName"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="MaxItemsToReturn" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RunTimeVariables">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="String1" minOccurs="0"/>
        <xsd:element ref="String2" minOccurs="0"/>
        <xsd:element ref="String3" minOccurs="0"/>
        <xsd:element ref="String4" minOccurs="0"/>
        <xsd:element ref="String5" minOccurs="0"/>
        <xsd:element ref="String6" minOccurs="0"/>
        <xsd:element ref="String7" minOccurs="0"/>
        <xsd:element ref="String8" minOccurs="0"/>
        <xsd:element ref="String9" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ColumnsToInclude">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Column" maxOccurs="999"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>This is the root node</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Option" minOccurs="0"/>
        <xsd:element ref="RunTimeVariables" minOccurs="0"/>
        <xsd:element ref="ColumnsToInclude"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
