Schemas7/CMSQRCOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Contact Management Query Business Object
     to return Contacts for a Customer, Supplier or Account
-->
<xsd:schema id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ContactListQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Key" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="KeyType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="KeyValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Contact" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ContactId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FullName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PreferredName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JobTitle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Department" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Office" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Territory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WorkEmail" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WorkTelephone" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WorkTelephoneExtn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WorkFaxNumber" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:string"/>
			<xsd:attribute name="Language2" type="xsd:string"/>
			<xsd:attribute name="CssStyle" type="xsd:string"/>
			<xsd:attribute name="DecFormat" type="xsd:string"/>
			<xsd:attribute name="DateFormat" type="xsd:string"/>
			<xsd:attribute name="Role" type="xsd:string"/>
			<xsd:attribute name="Version" type="xsd:string"/>
			<xsd:attribute name="OperatorPrimaryRole" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NewDataSet">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="ContactListQuery"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
