Schemas7/CMSQRE.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Contact Management Query Reminder Business Object
     to return Outstanding Reminders for an Operator
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AsOfDate" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Pass the client as-of date - defaults to the server date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AsOfTime" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Pass the client as-of time - defaults to the server time.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Operator" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeActivityList" default="Y">
		<xsd:annotation>
			<xsd:documentation>Set to Y to output details of each reminder. The default is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeSummaryInfo" default="Y">
		<xsd:annotation>
			<xsd:documentation>Set to Y to output summary information indicating the number of reminders.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AsOfDate" minOccurs="0"/>
				<xsd:element ref="AsOfTime" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Operator">
		<xsd:annotation>
			<xsd:documentation>Specify the operators for which the reminders are required. The default is for the currently logged-in operator.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="S">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="L"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Options">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IncludeActivityList" minOccurs="0"/>
				<xsd:element ref="IncludeSummaryInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QueryReminder">
		<xsd:annotation>
			<xsd:documentation>This is the root node</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Key" minOccurs="0"/>
				<xsd:element ref="Options" minOccurs="0"/>
				<xsd:element ref="Filter" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
