Schemas7/CMSSACDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Account Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Account" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Must contain the Account number when adding, updating or deleting accounts</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccountClass" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain the Account classification</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccountOnHold" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Indicates if the account should be placed on hold</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccountType" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Used to specify the type of account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddTelephone" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain an additional telephone number for the account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Area" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain the geographic area</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Branch" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The branch that the account belongs to</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="City">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="City1">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="CompanyTaxNumber">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Contact" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain a contact person name for the account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountyZip">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="CountyZip1">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="CreditCheckFlag" type="xsd:string"/>
	<xsd:element name="CreditLimit" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain the credit limit of the of the Account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Currency" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain a currency for the account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Customer" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Can contain the customer code of which the Account can be linked to</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateAccountAdded">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="DefaultOrdType">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="DeliveryTerms">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="DeliveryTermsC">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Email" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain an email address for the account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Fax" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain a fax number for the account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GstExemptFlag">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="GstExemptNum">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="GstLevel">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="InvDiscCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain the Invoice discount code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>This is the Item Node that can occur multiple times</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Key"/>
				<xsd:element ref="Name"/>
				<xsd:element ref="ShortName"/>
				<xsd:element ref="AccountOnHold"/>
				<xsd:element ref="AccountType"/>
				<xsd:element ref="Customer"/>
				<xsd:element ref="CreditLimit"/>
				<xsd:element ref="Salesperson"/>
				<xsd:element ref="Salesperson1"/>
				<xsd:element ref="Salesperson2"/>
				<xsd:element ref="Salesperson3"/>
				<xsd:element ref="AccountClass"/>
				<xsd:element ref="Branch"/>
				<xsd:element ref="TermsCode"/>
				<xsd:element ref="InvDiscCode"/>
				<xsd:element ref="Area"/>
				<xsd:element ref="LineDiscCode"/>
				<xsd:element ref="TaxStatus"/>
				<xsd:element ref="TaxExemptNumber"/>
				<xsd:element ref="SpecialInstrs"/>
				<xsd:element ref="PriceCategoryTable"/>
				<xsd:element ref="Contact"/>
				<xsd:element ref="Telephone"/>
				<xsd:element ref="AddTelephone"/>
				<xsd:element ref="Fax"/>
				<xsd:element ref="Telex"/>
				<xsd:element ref="TelephoneExtn"/>
				<xsd:element ref="Email"/>
				<xsd:element ref="Currency"/>
				<xsd:element ref="UserField1"/>
				<xsd:element ref="UserField2"/>
				<xsd:element ref="UserField3"/>
				<xsd:element ref="UserField4"/>
				<xsd:element ref="UserField5"/>
				<xsd:element ref="PriceCode"/>
				<xsd:element ref="GstExemptFlag"/>
				<xsd:element ref="GstExemptNum"/>
				<xsd:element ref="GstLevel"/>
				<xsd:element ref="ShippingInstrs"/>
				<xsd:element ref="StateCode"/>
				<xsd:element ref="DateAccountAdded"/>
				<xsd:element ref="Nationality"/>
				<xsd:element ref="SoldBuilding"/>
				<xsd:element ref="SoldStreet"/>
				<xsd:element ref="SoldCity"/>
				<xsd:element ref="SoldLocality"/>
				<xsd:element ref="SoldState"/>
				<xsd:element ref="SoldCountry"/>
				<xsd:element ref="SoldZip"/>
				<xsd:element ref="ShipBuilding"/>
				<xsd:element ref="ShipStreet"/>
				<xsd:element ref="ShipCity"/>
				<xsd:element ref="ShipLocality"/>
				<xsd:element ref="ShipState"/>
				<xsd:element ref="ShipCountry"/>
				<xsd:element ref="ShipZip"/>
				<xsd:element ref="State"/>
				<xsd:element ref="CountyZip"/>
				<xsd:element ref="City"/>
				<xsd:element ref="State1"/>
				<xsd:element ref="CountyZip1"/>
				<xsd:element ref="City1"/>
				<xsd:element ref="DefaultOrdType"/>
				<xsd:element ref="PoNumberMandatory"/>
				<xsd:element ref="CreditCheckFlag"/>
				<xsd:element ref="CompanyTaxNumber"/>
				<xsd:element ref="ShippingLocation"/>
				<xsd:element ref="DeliveryTerms"/>
				<xsd:element ref="TransactionNature"/>
				<xsd:element ref="DeliveryTermsC"/>
				<xsd:element ref="TransactionNatureC"/>
				<xsd:element ref="RouteCode"/>
				<xsd:element ref="SalesWarehouse"/>
				<xsd:element name="eSignature" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>If required, this element must contain a GUID, in the format {36303032-3330-3031-3038-32343463433}, for the eSignature system to accept the transaction as having been authenticated. It is up to the developer to have requested a password to protect the transaction. An example is that a GUID associated with the act of entering a valid password could be obtained. The GUID would then be passed to the eSignature system where it is stored.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:annotation>
			<xsd:documentation>This is the parent key node</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Account"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LineDiscCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain the Invoice line discount code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Can contain the name for the Account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Nationality">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="PoNumberMandatory" type="xsd:string"/>
	<xsd:element name="PriceCategoryTable" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain the price category table information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PriceCode">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="RouteCode">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="SalesWarehouse">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Salesperson" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain the salesperson responsible for this account.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Salesperson1" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Additional Salesperson</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Salesperson2" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Additional Salesperson</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Salesperson3" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Additional Salesperson</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SetupCmsAccount">
		<xsd:annotation>
			<xsd:documentation>This is the root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Item" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipBuilding">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ShipCity">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ShipCountry">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ShipLocality">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ShipState">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ShipStreet">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ShipZip">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ShippingInstrs">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ShortName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Can contain the short name for the the Account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SoldBuilding">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="SoldCity">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="SoldCountry">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="SoldLocality">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="SoldState">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="SoldStreet">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="SoldZip">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="SpecialInstrs" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain any special instructions for the account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="State">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="State1">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="StateCode">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="TaxExemptNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain the Tax Excempt Number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxStatus" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain the Tax Status</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Telephone" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain a telephone number for the account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneExtn" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain an extension number for the account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Telex" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain a telex number for the account</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TermsCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Should contain the Invoice Terms Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionNature">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="TransactionNatureC">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="UserField1" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Can be used for user defined data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UserField2" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Can be used for user defined data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UserField3" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Can be used for user defined data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UserField4" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Can be used for user defined data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UserField5" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Can be used for user defined data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShippingLocation" type="xsd:string"/>
</xsd:schema>
