Schemas7/CMSTCDOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for Contact Management Delete Contact Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostContact">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Contact">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ContactId" type="xsd:string"/>
                    <xsd:element name="Status" type="xsd:int"/>
                    <xsd:element name="Message" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StatusOfItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ItemsProcessed" type="xsd:byte"/>
              <xsd:element name="ItemsInvalid" type="xsd:byte"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
