Schemas7/CMSTOL.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the parameters used by the Contact Management Organisation Post Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PostList">
		<xsd:annotation>
			<xsd:documentation>Root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Parameters">
					<xsd:annotation>
						<xsd:documentation>This element contains the parameter element.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ActionType" default="A">
								<xsd:annotation>
									<xsd:documentation>This denotes the maintenance function against the entries. "A" = Add, "D" = Delete.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="A"/>
										<xsd:enumeration value="D"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ApplyIfEntireDocumentValid">
								<xsd:annotation>
									<xsd:documentation>Process xml only if it is ALL valid. "Y" = Yes, "N" = No </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
