Schemas7/COMQSQ.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Sample XML for the SYSPRO Health Checks
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DetailOrSummary" type="xsd:string"/>
  <xsd:element name="IncludeColumnCheck" type="xsd:string"/>
  <xsd:element name="IncludeIndexCheck" type="xsd:string"/>
  <xsd:element name="IncludeTableCheck" type="xsd:string"/>
  <xsd:element name="LockType" type="xsd:string"/>
  <xsd:element name="MaxItemsToReturn" type="xsd:string"/>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LockType"/>
        <xsd:element ref="DetailOrSummary"/>
        <xsd:element ref="MaxItemsToReturn"/>
        <xsd:element ref="IncludeTableCheck"/>
        <xsd:element ref="IncludeColumnCheck"/>
        <xsd:element ref="IncludeIndexCheck"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="QuerySqlHealth">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
