Schemas7/COMQIBOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Message Inbox Query Business Object
-->
<xsd:schema id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="MessageInbox">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Message" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Subject" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CreatedDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MessageStatus" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FromOperator" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FromName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActionDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActionTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReadDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProgramName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProgramLink" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string"/>
      <xsd:attribute name="CssStyle" type="xsd:string"/>
      <xsd:attribute name="DecFormat" type="xsd:string"/>
      <xsd:attribute name="DateFormat" type="xsd:string"/>
      <xsd:attribute name="Version" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NewDataSet">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="MessageInbox"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
