Schemas7/COMQCO.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for List of Companies Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Option">
		<xsd:annotation>
			<xsd:documentation>The list of options.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:all>
				<xsd:element ref="XslStylesheet" minOccurs="0"/>
				<xsd:element name="IncludeSystemInfo" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>When set to "Y" will return number of licenced users and number of concurrent SYSPRO users.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="N"/>
							<xsd:enumeration value="Y"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>The root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Option" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="XslStylesheet" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The XSL Stylesheet to be used.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
