Schemas7/COMQHC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Balance Check Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InventoryOnHandCheck" default="S">
    <xsd:annotation>
      <xsd:documentation>This check will look for any imbalances between the on hand quantity in the warehouse and the lots, multiple bins and FIFO buckets. The options available are ‘N’ – No, ‘S’ – Summary and ‘D’ – Detail. The default is ‘S’. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="S"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesQuantityCheck" default="S">
    <xsd:annotation>
      <xsd:documentation>This check will look for any imbalances between quantities on sales order detail lines (SorDetail) and the related ancilliary tables (SorDetailLot, SorDetailBin, SorDetailSer and MdnDetail). The options available are ‘N’ – No, ‘S’ – Summary and ‘D’ – Detail. The default is ‘S’. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="S"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesToInventoryCheck" default="S">
    <xsd:annotation>
      <xsd:documentation>This check will look for any imbalances between quantities on sales order detail lines (SorDetail) and inventory warehouse table.  The options available are ‘N’ – No, ‘S’ – Summary and ‘D’ – Detail. The default is ‘S’. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="S"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="GoodsInTransitCheck" default="S">
    <xsd:annotation>
      <xsd:documentation>This check will look for any imbalances on values and quantities between the Goods in Transit transactions, Goods in Transit Details and Goods in Transit header. It will also check for any imbalances between Goods in Transit and the Inventory warehouse table The options available are ‘N’ – No, ‘S’ – Summary and ‘D’ – Detail. The default is ‘S’. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="S"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SQLHealthCheck" default="S">
    <xsd:annotation>
      <xsd:documentation>This check will identify whether or not there are any problems with the SYSPRO database itself. The options are yet to be determined.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="S"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MaxItemsToReturn">
    <xsd:annotation>
      <xsd:documentation>If any of the checks are set to return detail information you can set the maximum number of entries to return here. If this is set to zero then all entries requiring attention are returned.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LockType" default="L">
    <xsd:annotation>
      <xsd:documentation>This is the type of locking you wish to apply in SQL when querying data in SYSPRO. The type of lock you select may improve the speed of the query but locking of the table is not recommended if used whilst operators are transacting.
The types of locking available are:
L – Acquire a shared lock on each row as it is processed. This is the default.
T – Acquire a shared lock on each table as it is processed (TABLOCK)
X – Exclusively lock the tables whilst processing (TABLOCKX)
</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="L"/>
        <xsd:enumeration value="T"/>
        <xsd:enumeration value="X"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>The Stylesheet to be applied</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="eSignature">
    <xsd:annotation>
      <xsd:documentation>GUID for eSignatures</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Options">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="InventoryOnHandCheck" minOccurs="0"/>
        <xsd:element ref="SalesQuantityCheck" minOccurs="0"/>
        <xsd:element ref="SalesToInventoryCheck" minOccurs="0"/>
        <xsd:element ref="GoodsInTransitCheck" minOccurs="0"/>
        <xsd:element ref="SQLHealthCheck" minOccurs="0"/>
        <xsd:element ref="MaxItemsToReturn" minOccurs="0"/>
        <xsd:element ref="LockType" minOccurs="0"/>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
        <xsd:element ref="eSignature" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Options" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
