Schemas7/COMQOA.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
    Sample XSD for the Operator Activities Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>Root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ExportFile"/>
        <xsd:element ref="ActivityConfiguration"/>
        <xsd:element ref="ShowXml"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ShowXml" type="xsd:string" default="Y">
    <xsd:annotation>
      <xsd:documentation>Default Y = Yes. N = No. when "Y", this will output an XML version of the ExportFile. Will only output the XML. Will not save the XML.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityConfiguration" type="xsd:string" default="R">
    <xsd:annotation>
      <xsd:documentation>Default R = Role. O = Operator. When "R", this will output Role based activities. When "O" will output Operator based activities.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ExportFile" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Tab delimited TXT file containing Activities configuration for a SYSPRO company. Can be imported into Excel.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
