Schemas7/COMQEROUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Error Message Query Business Object
-->
<xsd:schema id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TranslatedErrorMessages">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MessageDetails" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ErrorCode" type="xsd:string" minOccurs="0" />
              <xsd:element name="TranslatedMessage" type="xsd:string" minOccurs="0" />
              <xsd:element name="Parameter1" type="xsd:string" minOccurs="0" />
              <xsd:element name="Parameter2" type="xsd:string" minOccurs="0" />
              <xsd:element name="Parameter3" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string" />
      <xsd:attribute name="CssStyle" type="xsd:string" />
      <xsd:attribute name="DecFormat" type="xsd:string" />
      <xsd:attribute name="DateFormat" type="xsd:string" />
      <xsd:attribute name="Version" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NewDataSet">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="TranslatedErrorMessages" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>