Schemas7/COMQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!--  
     Sample XML for the Company Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CompanyOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Address" type="AddressType"/>
        <xsd:element name="General" type="GeneralType"/>
        <xsd:element name="Options" type="OptionsType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AddressType">
    <xsd:all>
      <xsd:element ref="CompReference"/>
      <xsd:element ref="CompAddrBuild"/>
      <xsd:element ref="CompAddrStreet"/>
      <xsd:element ref="CompAddrCity"/>
      <xsd:element ref="CompAddrLocality"/>
      <xsd:element ref="CompAddrState"/>
      <xsd:element ref="CompAddrCountry"/>
      <xsd:element ref="CompAddrZip"/>
      <xsd:element ref="CompAddrGeoLat"/>
      <xsd:element ref="CompAddrGeoLong"/>
      <xsd:element ref="DelAddrBuild"/>
      <xsd:element ref="DelAddrStreet"/>
      <xsd:element ref="DelAddrCity"/>
      <xsd:element ref="DelAddrLocality"/>
      <xsd:element ref="DelAddrState"/>
      <xsd:element ref="DelAddrCountry"/>
      <xsd:element ref="DelAddrZip"/>
      <xsd:element ref="DelAddrGeoLat"/>
      <xsd:element ref="DelAddrGeoLong"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="CompAccPer" type="xsd:string"/>
  <xsd:element name="CompAddrBuild" type="xsd:string"/>
  <xsd:element name="CompAddrCity" type="xsd:string"/>
  <xsd:element name="CompAddrCountry" type="xsd:string"/>
  <xsd:element name="CompAddrGeoLat" type="xsd:string"/>
  <xsd:element name="CompAddrGeoLong" type="xsd:string"/>
  <xsd:element name="CompAddrLocality" type="xsd:string"/>
  <xsd:element name="CompAddrState" type="xsd:string"/>
  <xsd:element name="CompAddrStreet" type="xsd:string"/>
  <xsd:element name="CompAddrZip" type="xsd:string"/>
  <xsd:element name="CompDefWH" type="xsd:string"/>
  <xsd:element name="CompanyCodePage" type="xsd:string"/>
  <xsd:element name="CompanyCurrency" type="xsd:string"/>
  <xsd:element name="CompanyCurrencyDescription" type="xsd:string"/>
  <xsd:element name="CompanyNationality" type="xsd:string"/>
  <xsd:element name="CompOverNatCode" type="xsd:string"/>
  <xsd:element name="CompReference" type="xsd:string"/>
  <xsd:element name="CompRegNum" type="xsd:string"/>
  <xsd:element name="CompValTaxReg" type="xsd:string"/>
  <xsd:element name="DateFormat" type="xsd:string"/>
  <xsd:element name="DelAddrBuild" type="xsd:string"/>
  <xsd:element name="DelAddrCity" type="xsd:string"/>
  <xsd:element name="DelAddrCountry" type="xsd:string"/>
  <xsd:element name="DelAddrGeoLat" type="xsd:string"/>
  <xsd:element name="DelAddrGeoLong" type="xsd:string"/>
  <xsd:element name="DelAddrLocality" type="xsd:string"/>
  <xsd:element name="DelAddrState" type="xsd:string"/>
  <xsd:element name="DelAddrStreet" type="xsd:string"/>
  <xsd:element name="DelAddrZip" type="xsd:string"/>
  <xsd:element name="EdtQtyDec" type="xsd:string"/>
  <xsd:element name="EmailMethod" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Method when emailing. M = Microsoft Outlook. V = Macro using VBScript client, O = Outlook using Outlook email. Options passed are used in IMPCFG as keyboard shortcuts.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmailOutgoing" type="xsd:string"/>
  <xsd:element name="EmailPass" type="xsd:string"/>
  <xsd:element name="EmailPort" type="xsd:string"/>
  <xsd:element name="EmailSmtp" type="xsd:string"/>
  <xsd:element name="EmailSsl" type="xsd:string"/>
  <xsd:element name="EmailUser" type="xsd:string"/>
  <xsd:complexType name="GeneralType">
    <xsd:all>
      <xsd:element ref="CompValTaxReg"/>
      <xsd:element ref="CompRegNum"/>
      <xsd:element ref="CompDefWH"/>
      <xsd:element ref="CompanyCurrency"/>
      <xsd:element ref="CompanyCurrencyDescription"/>
      <xsd:element ref="CompAccPer"/>
      <xsd:element ref="OverDateForm"/>
      <xsd:element ref="DateFormat"/>
      <xsd:element ref="LongDateForm"/>
      <xsd:element ref="ShortDateForm"/>
      <xsd:element ref="RepDateForm"/>
      <xsd:element ref="TestDate"/>
      <xsd:element ref="LongDateSample"/>
      <xsd:element ref="ShortDateSample"/>
      <xsd:element ref="RepDateSample"/>
      <xsd:element ref="CompOverNatCode"/>
      <xsd:element ref="CompanyNationality"/>
      <xsd:element ref="CompanyCodePage"/>
      <xsd:element ref="EmailMethod"/>
      <xsd:element ref="EmailSmtp"/>
      <xsd:element ref="EmailOutgoing"/>
      <xsd:element ref="EmailUser"/>
      <xsd:element ref="EmailPass"/>
      <xsd:element ref="EmailPort"/>
      <xsd:element ref="EmailSsl"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="LongDateForm" type="xsd:string"/>
  <xsd:element name="LongDateSample" type="xsd:string"/>
  <xsd:element name="MaxDecPrt" type="xsd:string"/>
  <xsd:element name="MinDecPrint" type="xsd:string"/>
  <xsd:element name="NumThouSep" type="xsd:string"/>
  <xsd:element name="NumThouSepChar" type="xsd:string"/>
  <xsd:element name="NumDecChar" type="xsd:string"/>
  <xsd:element name="OptClsPrvMnt" type="xsd:string"/>
  <xsd:element name="OptEditZip" type="xsd:string"/>
  <xsd:element name="OptJobBo" type="xsd:string"/>
  <xsd:element name="OptJobBoDisable" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Disable "Job Logging For Business Objects" option. Y = Disable, N = Do not disable. Not stored on file but configuration dependent on options that are stored on file.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OptJobLog" type="xsd:string"/>
  <xsd:element name="OptPrsMedKey" type="xsd:string"/>
  <xsd:element name="OptPrtOpr" type="xsd:string"/>
  <xsd:element name="OptPrtRep" type="xsd:string"/>
  <xsd:element name="OptSharedInvCus" type="xsd:string"/>
  <xsd:element name="OptSharedInvDisable" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Disable "Shared Inventory for Custom Forms" option. Y = Disable, N = Do not disable. Not stored on file but configuration dependent on options that are stored on file.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OptSharedInvMed" type="xsd:string"/>
  <xsd:complexType name="OptionsType">
    <xsd:all>
      <xsd:element ref="OptJobLog"/>
      <xsd:element ref="OptJobBo"/>
      <xsd:element ref="OptJobBoDisable"/>
      <xsd:element ref="OptPrtOpr"/>
      <xsd:element ref="OptPrtRep"/>
      <xsd:element ref="OptEditZip"/>
      <xsd:element ref="OptClsPrvMnt"/>
      <xsd:element ref="OptSharedInvCus"/>
      <xsd:element ref="OptSharedInvDisable"/>
      <xsd:element ref="OptSharedInvMed"/>
      <xsd:element ref="OptPrsMedKey"/>
      <xsd:element ref="TaxNumDec"/>
      <xsd:element ref="SharedGL"/>
      <xsd:element ref="SharedInv"/>
      <xsd:element ref="NumDecChar"/>
      <xsd:element ref="NumThouSep"/>
      <xsd:element ref="NumThouSepChar"/>
      <xsd:element ref="ValNumDec"/>
      <xsd:element ref="RepThouSep"/>
      <xsd:element ref="RepThouSepChar"/>
      <xsd:element ref="MinDecPrint"/>
      <xsd:element ref="EdtQtyDec"/>
      <xsd:element ref="MaxDecPrt"/>
      <xsd:element ref="Triang"/>
      <xsd:element ref="TriangPrtAud"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="OverDateForm" type="xsd:string"/>
  <xsd:element name="RepThouSep" type="xsd:string"/>
  <xsd:element name="RepThouSepChar" type="xsd:string"/>
  <xsd:element name="RepDateForm" type="xsd:string"/>
  <xsd:element name="RepDateSample" type="xsd:string"/>
  <xsd:element name="SharedGL" type="xsd:string"/>
  <xsd:element name="SharedInv" type="xsd:string"/>
  <xsd:element name="ShortDateForm" type="xsd:string"/>
  <xsd:element name="ShortDateSample" type="xsd:string"/>
  <xsd:element name="TaxNumDec" type="xsd:string"/>
  <xsd:element name="TestDate" type="xsd:string"/>
  <xsd:element name="TriangPrtAud" type="xsd:string"/>
  <xsd:element name="Triang" type="xsd:string"/>
  <xsd:element name="ValNumDec" type="xsd:string"/>
</xsd:schema>
