Schemas7/COMQFM.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for Custom Form Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>This is the root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element name="Key">
					<xsd:annotation>
						<xsd:documentation>List of Key information</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="false">
						<xsd:all>
							<xsd:element name="FormType">
								<xsd:annotation>
									<xsd:documentation>Select the form type for which you wish to have the custom form information returned. Valid options are all the custom form types as defined in standard SYSPRO which are listed in IMPCFM.IMP as well as any custom defined types. e.g. SUP - Supplier, CUS - Customer.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="KeyField" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Enter the value of the key field for the type of form for which you wish to have the custom form information returned.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="KeyFields" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>A collection of named key columns for a specific custom form type</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:all>
										<xsd:element name="StockCode" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The name of the key column for the custom form type</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:all>
								</xsd:complexType>
							</xsd:element>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
