Schemas7/COMQSROUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--  
     Schema for the SRS Document Print Pending archive business object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SRSDocArchive">
    <xsd:annotation>
      <xsd:documentation>This XML output will only be created when the business object is called with the "AC" file type.  All other File types will return a file.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="UniqueId">
          <xsd:annotation>
            <xsd:documentation>The unique Id for the pending archive control file entry</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ArchiveOper">
          <xsd:annotation>
            <xsd:documentation>The operator code for the operator that created the pending archive entry</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ArchiveDate">
          <xsd:annotation>
            <xsd:documentation>The date that the pending archive entry was created</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ArchiveTime">
          <xsd:annotation>
            <xsd:documentation>The time that the pending archive was created</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Folder">
          <xsd:annotation>
            <xsd:documentation>The full server side folder that contains the pending archive files</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Template">
          <xsd:annotation>
            <xsd:documentation>The name of the document template file with the Folder</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Schema">
          <xsd:annotation>
            <xsd:documentation>The name of the schema file withing the Folder</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DocumentType">
          <xsd:annotation>
            <xsd:documentation>The pending archive's document type e.g. "A/R Statement"</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ArchiveType">
          <xsd:annotation>
            <xsd:documentation>The type of archive document that must be created. 1 = RPT, 2 = PDF, 3 = RPT and PDF</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="XMLFiles">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="XMLFile" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>The names of each XML file within the pending archive folder.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
