Schemas7/COMQMMOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Query Multimedia Business Object
-->
<xsd:schema id="Query" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="Key">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="MultimediaFlag" type="xsd:string" minOccurs="0" />
              <xsd:element name="KeyField" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Object">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ObjectType" type="xsd:string" minOccurs="0" />
              <xsd:element name="Description" type="xsd:string" minOccurs="0" />
              <xsd:element name="ObjectText" type="xsd:string" minOccurs="0" />
              <xsd:element name="MultimediaObject" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>