Schemas7/COMQHCOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Health Check Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="HealthCheckQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="HealthCheckQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="InventoryOnHandCheck" type="xsd:string" />
              <xsd:element name="SalesQuantityCheck" type="xsd:string" />
              <xsd:element name="SalesToInventoryCheck" type="xsd:string" />
              <xsd:element name="SQLHealthCheck" type="xsd:string" />
              <xsd:element name="LockType" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="InventoryOnHandResult">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StartDate" type="xsd:date" />
              <xsd:element name="StartTime" type="xsd:time" />
              <xsd:element name="DetailInformation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RowsAffected" type="xsd:unsignedByte" />
                    <xsd:element maxOccurs="unbounded" name="Item">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" />
                          <xsd:element name="StockDescription" type="xsd:string" />
                          <xsd:element name="Warehouse" type="xsd:string" />
                          <xsd:element name="WarehouseDescription" type="xsd:string" />
                          <xsd:element name="WhsOnHand" type="xsd:string" />
                          <xsd:element name="WhsOnHandUnits" type="xsd:string" />
                          <xsd:element name="EditedWhsOnHand" type="xsd:string" />
                          <xsd:element name="BinOnHand" type="xsd:string" />
                          <xsd:element name="BinOnHandUnits" type="xsd:string" />
                          <xsd:element name="EditedBinOnHand" type="xsd:string" />
                          <xsd:element name="LotOnHand" type="xsd:string" />
                          <xsd:element name="LotOnHandUnits" type="xsd:string" />
                          <xsd:element name="EditedLotOnHand" type="xsd:string" />
                          <xsd:element name="FifoOnHand" type="xsd:string" />
                          <xsd:element name="FifoOnHandUnits" type="xsd:string" />
                          <xsd:element name="EditedFifoOnHand" type="xsd:string" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="EndDate" type="xsd:date" />
              <xsd:element name="EndTime" type="xsd:time" />
              <xsd:element name="CheckResult" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SalesQuantityResult">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StartDate" type="xsd:date" />
              <xsd:element name="StartTime" type="xsd:time" />
              <xsd:element name="EndDate" type="xsd:date" />
              <xsd:element name="EndTime" type="xsd:time" />
              <xsd:element name="CheckResult" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:unsignedByte" use="required" />
      <xsd:attribute name="Language2" type="xsd:string" use="required" />
      <xsd:attribute name="CssStyle" type="xsd:string" use="required" />
      <xsd:attribute name="DecFormat" type="xsd:unsignedByte" use="required" />
      <xsd:attribute name="DateFormat" type="xsd:unsignedByte" use="required" />
      <xsd:attribute name="Role" type="xsd:unsignedByte" use="required" />
      <xsd:attribute name="Version" type="xsd:string" use="required" />
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>