Schemas7/COMQCAOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Generic Calendar Query Business Object
-->
<xsd:schema id="NewDataSet" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Key">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SearchType" type="xsd:string"/>
              <xsd:element name="SearchFromYear" type="xsd:string"/>
              <xsd:element name="SearchFromMonth" type="xsd:string"/>
              <xsd:element name="SearchToYear" type="xsd:string"/>
              <xsd:element name="SearchToMonth" type="xsd:string"/>
              <xsd:element name="SearchSingleDay" type="xsd:string"/>
              <xsd:element name="WorkingDay" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CalendarResults" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Key">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SearchType" type="xsd:string"/>
                    <xsd:element name="SearchFromYear" type="xsd:string"/>
                    <xsd:element name="SearchFromMonth" type="xsd:string"/>
                    <xsd:element name="SearchToYear" type="xsd:string"/>
                    <xsd:element name="SearchToMonth" type="xsd:string"/>
                    <xsd:element name="SearchSingleDay" type="xsd:string"/>
                    <xsd:element name="WorkingDay" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Years" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Month" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="WorkingDay" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string"/>
      <xsd:attribute name="Language2" type="xsd:string"/>
      <xsd:attribute name="CssStyle" type="xsd:string"/>
      <xsd:attribute name="DecFormat" type="xsd:string"/>
      <xsd:attribute name="DateFormat" type="xsd:string"/>
      <xsd:attribute name="Role" type="xsd:string"/>
      <xsd:attribute name="Version" type="xsd:string"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NewDataSet">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="Query"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
