Schemas7/COMQFMOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the Custom Form Query Business Object.
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Key">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FormType"/>
							<xsd:element name="FormDescription"/>
							<xsd:element name="KeyField"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="KeyField" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Sequence"/>
							<xsd:element name="Column"/>
							<xsd:element name="Type"/>
							<xsd:element name="KeyType"/>
							<xsd:element name="Length"/>
							<xsd:element name="Decimals"/>
							<xsd:element name="Guid"/>
							<xsd:element name="Offset"/>
							<xsd:element name="DataType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Field" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Sequence"/>
							<xsd:element name="Name"/>
							<xsd:element name="Prompt"/>
							<xsd:element name="Column"/>
							<xsd:element name="Type"/>
							<xsd:element name="Length"/>
							<xsd:element name="Decimals"/>
							<xsd:element name="Default"/>
							<xsd:element name="AllowNull"/>
							<xsd:element name="ValidationType"/>
							<xsd:element name="Value"/>
							<xsd:element name="ValueNull"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MandatoryFields">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AnyMandatoryFields"/>
							<xsd:element name="AllFieldsValid"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" use="required"/>
			<xsd:attribute name="CssStyle" use="required"/>
			<xsd:attribute name="DecFormat" use="required"/>
			<xsd:attribute name="DateFormat" use="required"/>
			<xsd:attribute name="Role" use="required"/>
			<xsd:attribute name="Version" use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
