Schemas7/COMSOPDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2013 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the Operator Delete Business Object.
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="setupcomsop">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Item"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>This is the item tag.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Key"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:annotation>
			<xsd:documentation>This field contains the multi-part key upon which a setup method is performed. The fields that make up the key are OperatorCode and RecordType.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Operator"/>
				<xsd:element ref="RecordType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Operator" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Operator code. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecordType" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>RecordType. Intentionally left blank </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
