Schemas7/COMTRO.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2012 SYSPRO Ltd.--><!--     Schema for the Post Role Security Business Object--><xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">  <xsd:element name="ApplyIfEntireDocumentValid">    <xsd:annotation>      <xsd:documentation>When set to "Y" it will only post all the transactions if the entire xml document is valid. N - No, Y-Yes.</xsd:documentation>    </xsd:annotation>    <xsd:simpleType>      <xsd:restriction base="xsd:string">        <xsd:enumeration value="N"/>        <xsd:enumeration value="Y"/>      </xsd:restriction>    </xsd:simpleType>  </xsd:element>  <xsd:element name="Parameters">    <xsd:annotation>      <xsd:documentation>Parameter element</xsd:documentation>    </xsd:annotation>    <xsd:complexType>      <xsd:sequence>        <xsd:element ref="ApplyIfEntireDocumentValid" minOccurs="0"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:element name="PostRoles">    <xsd:annotation>      <xsd:documentation>This is the root elelment</xsd:documentation>    </xsd:annotation>    <xsd:complexType>      <xsd:sequence>        <xsd:element ref="Parameters"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element></xsd:schema>