Schemas7/COMTSODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!--  
     Sample XML for the Company Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CompanySetupOptions">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Address" minOccurs="0"/>
        <xsd:element ref="General" minOccurs="0"/>
        <xsd:element ref="Options" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Address">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CompReference"/>
        <xsd:element ref="CompAddrBuild"/>
        <xsd:element ref="CompAddrStreet"/>
        <xsd:element ref="CompAddrCity"/>
        <xsd:element ref="CompAddrLocality"/>
        <xsd:element ref="CompAddrState"/>
        <xsd:element ref="CompAddrCountry"/>
        <xsd:element ref="CompAddrZip"/>
        <xsd:element ref="CompAddrGeoLat"/>
        <xsd:element ref="CompAddrGeoLong"/>
        <xsd:element ref="DelAddrBuild"/>
        <xsd:element ref="DelAddrStreet"/>
        <xsd:element ref="DelAddrCity"/>
        <xsd:element ref="DelAddrLocality"/>
        <xsd:element ref="DelAddrState"/>
        <xsd:element ref="DelAddrCountry"/>
        <xsd:element ref="DelAddrZip"/>
        <xsd:element ref="DelAddrGeoLat"/>
        <xsd:element ref="DelAddrGeoLong"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CompAccPer" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Accounting Periods</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CanadianGst" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Federal sales tax system required [ Canada ]. Default N=No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TaxSystem" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Sales tax system in use.  Default N=No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompAddrBuild" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company Address Building</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompAddrCity" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company Address City</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompAddrCountry" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company Address Country</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompAddrGeoLat" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company Address Geographic Latitude</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompAddrGeoLong" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company Address Geographic Longitude</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompAddrLocality" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company Address Locality</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompAddrState" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company Address State</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompAddrStreet" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company Address Street</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompAddrZip" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company Address Zip/Postal Code</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompDefWH" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Default Warehouse</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompanyCurrency" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Local Currency</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompanyCurrencyDescription" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Local Currency Description</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompanyNationality" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Nationality Code</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompanyCodePage" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company specific bulk insert code page. Default = spaces</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompOverNatCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Override System Nationality Code. Default N=No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompReference" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company reference field</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompRegNum" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Company Registration Number</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CompValTaxReg" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Tax Registration Number</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateFormat" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Date Format</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DelAddrBuild" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Delivery Address Building</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DelAddrCity" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Delivery Address City</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DelAddrCountry" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Delivery Address Country</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DelAddrGeoLat" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Delivery Address Geographic Latitude</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DelAddrGeoLong" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Delivery Address Geographic Longitude</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DelAddrLocality" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Delivery Address Locality</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DelAddrState" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Delivery Address State</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DelAddrStreet" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Delivery Address Street</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DelAddrZip" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Delivery Address Zip/Postal Code</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EdtQtyDec" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Use decimals against stock
code when editing listview
quantities. Y - Yes. If spaces, then N=No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmailMethod" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Method When Emailing</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmailOutgoing" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Outgoing Email Address</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmailPass" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Email Password</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmailPort" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Server Port</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmailSmtp" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>SMTP Server IP Address</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmailSsl" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Use SSL</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmailUser" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>User Name</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="General">
    <xsd:complexType>
      <xsd:all>
        <xsd:element ref="CompValTaxReg"/>
        <xsd:element ref="CompRegNum"/>
        <xsd:element ref="CompDefWH"/>
        <xsd:element ref="CompanyCurrency"/>
        <xsd:element ref="CompanyCurrencyDescription"/>
        <xsd:element ref="CompAccPer"/>
        <xsd:element ref="CanadianGst"/>
        <xsd:element ref="TaxSystem"/>
        <xsd:element ref="OverDateForm"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="LongDateForm"/>
        <xsd:element ref="ShortDateForm"/>
        <xsd:element ref="RepDateForm"/>
        <xsd:element ref="CompOverNatCode"/>
        <xsd:element ref="CompanyNationality"/>
        <xsd:element ref="CompanyCodePage"/>
        <xsd:element ref="EmailMethod"/>
        <xsd:element ref="EmailSmtp"/>
        <xsd:element ref="EmailOutgoing"/>
        <xsd:element ref="EmailUser"/>
        <xsd:element ref="EmailPass"/>
        <xsd:element ref="EmailPort"/>
        <xsd:element ref="EmailSsl"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LongDateForm" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Long Date Format</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MaxDecPrt" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Number of decimals to print
for labour times (0-6).  If spaces, then zeroes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinDecPrint" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Minimum number of
decimals to print for
costs/prices.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NumThouSep" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Use 1000s separator. Y = yes, N = No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NumThouSepChar" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Character to use as 1000s separator</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NumDecChar" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Character to use as decimal point. Space means "."</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OptClsPrvMnt" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Close previous month at month end. If spaces, default N = No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OptEditZip" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Edit postal codes as 5-4. If spaces, default N = No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OptJobBo" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Output job logging for business objects. Default Y=Yes if OptJobLog = Y.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OptJobBoDisable" type="xsd:string"/>
  <xsd:element name="OptJobLog" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Jiob logging required. Default N=No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OptPrsMedKey" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Use presentationlength for multi-media key. If spaces, default N = No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OptPrtOpr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Print operator name on journal reports. If spaces, default N = No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OptPrtRep" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Print report options selected. If spaces, default N = No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OptSharedInvCus" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Custom forms to use Shared Inventory ID. If spaces, default N = No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OptShInvDisable" type="xsd:string"/>
  <xsd:element name="OptSharedInvMed" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Multimeida to use Shared Inventory ID. If spaces, default N = No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Options">
    <xsd:complexType>
      <xsd:all>
        <xsd:element ref="OptJobLog"/>
        <xsd:element ref="OptJobBo"/>
        <xsd:element ref="OptPrtOpr"/>
        <xsd:element ref="OptPrtRep"/>
        <xsd:element ref="OptEditZip"/>
        <xsd:element ref="OptClsPrvMnt"/>
        <xsd:element ref="OptSharedInvCus"/>
        <xsd:element ref="OptSharedInvMed"/>
        <xsd:element ref="OptPrsMedKey"/>
        <xsd:element ref="TaxNumDec"/>
        <xsd:element ref="SharedGL"/>
        <xsd:element ref="SharedInv"/>
        <xsd:element ref="NumDecChar"/>
        <xsd:element ref="NumThouSep"/>
        <xsd:element ref="NumThouSepChar"/>
        <xsd:element ref="ValNumDec"/>
        <xsd:element ref="RepThouSep"/>
        <xsd:element ref="RepThouSepChar"/>
        <xsd:element ref="MinDecPrint"/>
        <xsd:element ref="EdtQtyDec"/>
        <xsd:element ref="MaxDecPrt"/>
        <xsd:element ref="Triang"/>
        <xsd:element ref="TriangPrtAud"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OverDateForm" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Overwrite System Date Format. Default N=No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RepThouSep" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Use 1000 separators in
costs/prices. Y = yes, N = No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RepThouSepChar" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Character to use as
1000 separators in
printed costs/prices.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RepDateForm" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Report Date Format</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SharedGL" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Shared General Ledger company ID</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SharedInv" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Shared Inventory company ID</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ShortDateForm" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Short Date Format</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TaxNumDec" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Tax rate number of decimals.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TestDate" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Test Date</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TriangPrtAud" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Print triangulation audit
Y - Yes. If spaces, then N=No.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Triang" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Triangulation required
Y - Yes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ValNumDec" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Number of decimal places to
show after decimal character
when editing values
Default is 2 decimal places
'0' - show no decimal places.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
