Schemas7/COMTDDOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Sample XMLOUT for the SYSPRO Data Dictionary SQL Table Create
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Postdatadictionary">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Table" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RowCount">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="20000"/>
        <xsd:enumeration value="989"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Table">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="TableName"/>
        <xsd:element name="RowCount"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TableName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Sysprodb..DdsColumns"/>
        <xsd:enumeration value="Sysprodb..DdsForeignkeys"/>
        <xsd:enumeration value="Sysprodb..DdsIndexes"/>
        <xsd:enumeration value="Sysprodb..DdsTables"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
