Schemas7/COMTCYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Action"/>
  <xsd:element name="CompanySelection"/>
  <xsd:element name="CompanyValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ItemsProcessed"/>
  <xsd:complexType name="OptionsType">
    <xsd:sequence>
      <xsd:element ref="Action"/>
      <xsd:element ref="Reason"/>
      <xsd:element ref="CompanySelection"/>
      <xsd:element ref="CompanyValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PostCOMTCY">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Options" type="OptionsType"/>
        <xsd:element name="StatusOfItems" type="StatusOfItemsType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Reason"/>
  <xsd:complexType name="StatusOfItemsType">
    <xsd:sequence>
      <xsd:element ref="ItemsProcessed"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
