Schemas7/COMTSO.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Company Setup Transaction Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="IgnoreWarnings" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies if warnings are to be ignored (Y - if the warnings are to be ignored, N - warnings will be returned as errors in the XML returned, W - warnings will shown in the XML returned and the element will be updated).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="W"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ValidateOnly" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies whether to only validate the contents of the document. (N - validate and apply function if no errors, Y - only validate the document). Default N - (validate and apply function if no errors).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CompanyId">
    <xsd:annotation>
      <xsd:documentation>Indicates the company for which you want data returned. If no data is supplied, the current company will be assumed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Parameters">
    <xsd:annotation>
      <xsd:documentation>This contains the parameters</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:all>
        <xsd:element ref="IgnoreWarnings" minOccurs="0"/>
        <xsd:element ref="ValidateOnly" minOccurs="0"/>
        <xsd:element ref="CompanyId" minOccurs="0"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CompanySetupOptions">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Parameters"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
