Schemas7/COMTTOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--
     Schema for the COM Transaction Update Tickover Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="posttickover">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="Language" type="xsd:byte" use="required"/>
          <xsd:attribute name="Language2" type="xsd:string" use="required"/>
          <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
          <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
          <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
          <xsd:attribute name="Role" type="xsd:byte" use="required"/>
          <xsd:attribute name="Version" type="xsd:string" use="required"/>
          <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
