Schemas7/CSHQ25.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the CB Journal Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Bank">
    <xsd:annotation>
      <xsd:documentation>All,  Single Banks to be returned. FilterType options - A(All), (S)Single. Default to A(All).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
          </xsd:restriction>
				</xsd:simpleType>
      </xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
	</xsd:element>
  <xsd:element name="Filter">
		<xsd:complexType>
			<xsd:sequence>
        <xsd:element ref="Bank" minOccurs="0"/>
        <xsd:element ref="Journal" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
	<xsd:element name="Journal">
		<xsd:annotation>
      <xsd:documentation>All,  Single, Range of Journals to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
  </xsd:element>
	<xsd:element name="Option">
		<xsd:complexType>
      <xsd:sequence>
				<xsd:element ref="Reprint" minOccurs="0"/>
				<xsd:element ref="PostingPeriod" minOccurs="0"/>
				<xsd:element ref="PostingYear" minOccurs="0"/>
				<xsd:element ref="XslStyleSheet" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
  </xsd:element>
	<xsd:element name="PostingPeriod">
		<xsd:annotation>
			<xsd:documentation>Indicates for what posting period you want to print the journals. Only used for reprint.</xsd:documentation>		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PostingYear">
		<xsd:annotation>
			<xsd:documentation>Indicates for what posting year you want to reprint the journals. Only used for reprint. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
      <xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
      <xsd:sequence>
				<xsd:element ref="Option"/>
				<xsd:element ref="Filter"/>
			</xsd:sequence>
    </xsd:complexType>
  </xsd:element>
	<xsd:element name="Reprint">
		<xsd:annotation>
      <xsd:documentation>Indicates whether you want to reprint a document (N - No, Y - Yes) If no value is supplied then a default value of 'N' will be assumed.</xsd:documentation>
		</xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="XslStyleSheet">
		<xsd:complexType/>
  </xsd:element>
</xsd:schema>
