Schemas7/CSHQ40OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the Cash Book Consolidated Statement Business Object
-->
<xsd:schema id="CBConsolidatedStatement" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CBConsolidatedStatement">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ConsolidationMonth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ConsolidationMonth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StatementPeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StatementYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_TransactionType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HighlightMissingChecks" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_HighlightMissingChecks" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OnlyChecksForSelectedPeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OnlyChecksForSelectedPeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BankFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BankFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BankFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TransactionDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_TransactionDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TransactionDateFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Consolidated">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BankItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="APSBNK_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ForeignCurrencyRequired" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ForeignBank" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="Y"/>
                          <xsd:enumeration value="N"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Transactiontype_Check_Heading" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Transactiontype_Total_Heading" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Transactiontype_Value_Heading" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PostingMonth" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PostingYear" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Check" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TBLCUR_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransactionValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TransactionValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BankEquivalent" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_BankEquivalent" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Reconciled" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Reconciled" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReconciledMonth" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReconciledYear" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Narration" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MissingCheck" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MissingCheckFrom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MissingCheckTo" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="BankTotal" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TotalDeposits" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalDeposits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalWithdrawals" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalWithdrawals" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalBalance" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalCurrency" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
