Schemas7/CSHQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Cash Book Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CashBookOptions">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ForeignCurrCashBookReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PermEntReqCb" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AskNotPerDetDistrEntry" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DispBankBalInRecapScreen" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoBankReconOfDeposits" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="History">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MthsRetCbJnls" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetReconTrans" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetTaxDistrCb" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Tax">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TaxDistrMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxDistrReqFor" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefTaxCodeCshDep" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefTaxCodeCshWith" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CalcNotEquEnterTax" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PeriodCurrentYear">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CbCurrDatePeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrDatePeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrFlagPeriod13" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PeriodPreviousYear">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CbPrevDatePeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevDatePeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbPrevFlagPeriod13" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CurrentMonth">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CbCurrentYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurrentMonth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AccPeriodsPerYear" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Information">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CbNextJnlPrevYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbNextJnlCurrYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbNextJnlNextYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbNextPayRegPrevYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbNextPayRegCurrYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbNextPayRegNextYear" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
