Schemas7/CSHQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Cash Book Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CshTrnQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string"/>
							<xsd:element name="Language" type="xsd:string"/>
							<xsd:element name="DecFormat" type="xsd:string"/>
							<xsd:element name="DateFormat" type="xsd:string"/>
							<xsd:element name="Role" type="xsd:string"/>
							<xsd:element name="Version" type="xsd:string"/>
							<xsd:element name="CompanyId" type="xsd:string"/>
							<xsd:element name="CompanyName" type="xsd:string"/>
							<xsd:element name="OperatorCode" type="xsd:string"/>
							<xsd:element name="OperatorName" type="xsd:string"/>
							<xsd:element name="OperatorGroup" type="xsd:string"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string"/>
							<xsd:element name="OperatorLocation" type="xsd:string"/>
							<xsd:element name="ReportDate" type="xsd:string"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
							<xsd:element name="SeparatorToUse" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BankItem">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Bank" type="xsd:string"/>
							<xsd:element name="Description" type="xsd:string"/>
							<xsd:element name="AccountNumber" type="xsd:string"/>
							<xsd:element name="NextCheckNumber" type="xsd:string"/>
							<xsd:element name="ForeignBank" type="xsd:string"/>
							<xsd:element name="EFTGlobalSateNar" type="xsd:string"/>
							<xsd:element name="CshAccLedgerCode" type="xsd:string"/>
							<xsd:element name="CshAccLedgerCodeDesc" type="xsd:string"/>
							<xsd:element name="ExchVarLedgerCode" type="xsd:string"/>
							<xsd:element name="ExchVarLedgerCodeDesc" type="xsd:string"/>
							<xsd:element name="BnkChrgLedgerCode" type="xsd:string"/>
							<xsd:element name="BnkChrgLedgerCodeDesc" type="xsd:string"/>
							<xsd:element name="OutputEftPay" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PathLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="XmlPath" type="xsd:string" minOccurs="0"/>
							<xsd:element name="XmlOutputStructure" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbStmtBal1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbStmtBal2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbStmtBal3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbStmtBalLoc1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbStmtBalLoc2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbstmtBalLoc3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OutstDep1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OutstDep2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OutstDep3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OutstWith1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OutstWith2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OutstWith3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurBal1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurBal2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurBal3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurBalLoc1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurBalLoc2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbCurBalLoc3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbOpenBal1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbOpenBal2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbOpenBal3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllBalances" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="CurCbStmtBal" minOccurs="0"/>
										<xsd:element name="Edited_CurCbStmtBal" minOccurs="0"/>
										<xsd:element name="CurCbStmtBalLoc" minOccurs="0"/>
										<xsd:element name="Edited_CbStmtBalLoc" minOccurs="0"/>
										<xsd:element name="CurOutstDep" minOccurs="0"/>
										<xsd:element name="Edited_CurOutstDep" minOccurs="0"/>
										<xsd:element name="CurOutstWith" minOccurs="0"/>
										<xsd:element name="Edited_CurOutstWith" minOccurs="0"/>
										<xsd:element name="CurCbCurBal" minOccurs="0"/>
										<xsd:element name="Edited_CurCbCurBal" minOccurs="0"/>
										<xsd:element name="CurCbCurBalLoc" minOccurs="0"/>
										<xsd:element name="Edited_CurCbCurBalLoc" minOccurs="0"/>
										<xsd:element name="CurCbOpenBal" minOccurs="0"/>
										<xsd:element name="Edited_CurCbOpenBal" minOccurs="0"/>
										<xsd:element name="P1CbStmtBal" minOccurs="0"/>
										<xsd:element name="Edited_P1CbStmtBal" minOccurs="0"/>
										<xsd:element name="P1CbStmtBalLoc" minOccurs="0"/>
										<xsd:element name="Edited_P1CbStmtBalLoc" minOccurs="0"/>
										<xsd:element name="P1OutstDep" minOccurs="0"/>
										<xsd:element name="Edited_P1OutstDep" minOccurs="0"/>
										<xsd:element name="P1OutstWith" minOccurs="0"/>
										<xsd:element name="Edited_P1OutstWith" minOccurs="0"/>
										<xsd:element name="P1CbCurBal" minOccurs="0"/>
										<xsd:element name="Edited_P1CbCurBal" minOccurs="0"/>
										<xsd:element name="P1CbCurBalLoc" minOccurs="0"/>
										<xsd:element name="Edited_P1CbCurBalLoc" minOccurs="0"/>
										<xsd:element name="P1CbOpenBal" minOccurs="0"/>
										<xsd:element name="Edited_P1CbOpenBal" minOccurs="0"/>
										<xsd:element name="P2CbStmtBal" minOccurs="0"/>
										<xsd:element name="Edited_P2CbStmtBal" minOccurs="0"/>
										<xsd:element name="P2CbStmtBalLoc" minOccurs="0"/>
										<xsd:element name="Edited_P2CbStmtBalLoc" minOccurs="0"/>
										<xsd:element name="P2OutstDep" minOccurs="0"/>
										<xsd:element name="Edited_P2OutstDep" minOccurs="0"/>
										<xsd:element name="P2OutstWith" minOccurs="0"/>
										<xsd:element name="Edited_P2OutstWith" minOccurs="0"/>
										<xsd:element name="P2CbCurBal" minOccurs="0"/>
										<xsd:element name="Edited_P2CbCurBal" minOccurs="0"/>
										<xsd:element name="P2CbCurBalLoc" minOccurs="0"/>
										<xsd:element name="Edited_P2CbCurBalLoc" minOccurs="0"/>
										<xsd:element name="P2CbOpenBal" minOccurs="0"/>
										<xsd:element name="Edited_P2CbOpenBal" minOccurs="0"/>
										<xsd:element name="ForCbStmtBal"/>
										<xsd:element name="ForCbStmtBalLoc"/>
										<xsd:element name="ForOutstDep"/>
										<xsd:element name="ForOutstWith"/>
										<xsd:element name="ForCbCurBal"/>
										<xsd:element name="ForCbCurBalLoc"/>
										<xsd:element name="ForCbOpenBal"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Telephone" type="xsd:string"/>
							<xsd:element name="BankAccount" type="xsd:string"/>
							<xsd:element name="Currency" type="xsd:string"/>
							<xsd:element name="CurrencyDesc" type="xsd:string"/>
							<xsd:element name="CshTrnItem" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CbTrnYear" type="xsd:string"/>
										<xsd:element name="CbTrnMonth" type="xsd:string"/>
										<xsd:element name="CbTrnDate" type="xsd:string"/>
										<xsd:element name="CbTrnTime" type="xsd:string"/>
										<xsd:element name="TrnType" type="xsd:string"/>
										<xsd:element name="TrnTypeDescription" type="xsd:string"/>
										<xsd:element name="TrnReference" type="xsd:string"/>
										<xsd:element name="TrnValue" type="xsd:string"/>
										<xsd:element name="TrnDate" type="xsd:string"/>
										<xsd:element name="Narration" type="xsd:string"/>
										<xsd:element name="ReconciledFlag" type="xsd:string"/>
										<xsd:element name="ReconciledYear" type="xsd:string"/>
										<xsd:element name="ReconciledMonth" type="xsd:string"/>
										<xsd:element name="Cheque" type="xsd:string"/>
										<xsd:element name="ChequeType" type="xsd:string"/>
										<xsd:element name="ChequeTypeDescription" type="xsd:string"/>
										<xsd:element name="VoidFlag" type="xsd:string"/>
										<xsd:element name="BankCurrency" type="xsd:string"/>
										<xsd:element name="CurrencyValue" type="xsd:string"/>
										<xsd:element name="PostCurrency" type="xsd:string"/>
										<xsd:element name="TrnSource" type="xsd:string"/>
										<xsd:element name="Journal" type="xsd:string"/>
										<xsd:element name="ConvRate" type="xsd:string"/>
										<xsd:element name="MulDiv" type="xsd:string"/>
										<xsd:element name="AccountCur" type="xsd:string"/>
										<xsd:element name="AccConvRate" type="xsd:string"/>
										<xsd:element name="AccMulDiv" type="xsd:string"/>
										<xsd:element name="TriangCurrency" type="xsd:string"/>
										<xsd:element name="TriangRate" type="xsd:string"/>
										<xsd:element name="TriangMulDiv" type="xsd:string"/>
										<xsd:element name="LCurrencyValue" type="xsd:string"/>
										<xsd:element name="LPostCurrency" type="xsd:string"/>
										<xsd:element name="LConvRate" type="xsd:string"/>
										<xsd:element name="LMulDiv" type="xsd:string"/>
										<xsd:element name="LAccountCur" type="xsd:string"/>
										<xsd:element name="LAccConvRate" type="xsd:string"/>
										<xsd:element name="LAccMulDiv" type="xsd:string"/>
										<xsd:element name="LTriangCurrency" type="xsd:string"/>
										<xsd:element name="LTriangRate" type="xsd:string"/>
										<xsd:element name="LTriangMulDiv" type="xsd:string"/>
										<xsd:element name="EFTBeneficiary" type="xsd:string"/>
										<xsd:element name="EFTBatch" type="xsd:string"/>
										<xsd:element name="CbEFTStatus" type="xsd:string"/>
										<xsd:element name="ApTrnItem" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Supplier" type="xsd:string"/>
													<xsd:element name="Cheque" type="xsd:string"/>
													<xsd:element name="ChequeType" type="xsd:string"/>
													<xsd:element name="ChequeRegister" type="xsd:string"/>
													<xsd:element name="Invoice" type="xsd:string"/>
													<xsd:element name="InvoiceDate" type="xsd:string"/>
													<xsd:element name="Reference" type="xsd:string"/>
													<xsd:element name="InvoiceType" type="xsd:string"/>
													<xsd:element name="ChequeDate" type="xsd:string"/>
													<xsd:element name="NegChequeFlag" type="xsd:string"/>
													<xsd:element name="GrossValue" type="xsd:string"/>
													<xsd:element name="DiscountValue" type="xsd:string"/>
													<xsd:element name="NetValue" type="xsd:string"/>
													<xsd:element name="Currency" type="xsd:string"/>
													<xsd:element name="RateEntryTime" type="xsd:string"/>
													<xsd:element name="MulDiv" type="xsd:string"/>
													<xsd:element name="WithTaxValue" type="xsd:string"/>
													<xsd:element name="GrossLocValue" type="xsd:string"/>
													<xsd:element name="CurrencyValue" type="xsd:string"/>
													<xsd:element name="PostCurrency" type="xsd:string"/>
													<xsd:element name="PostConvRate" type="xsd:string"/>
													<xsd:element name="PostMulDiv" type="xsd:string"/>
													<xsd:element name="AccountCur" type="xsd:string"/>
													<xsd:element name="AccountConvRate" type="xsd:string"/>
													<xsd:element name="AccountMulDiv" type="xsd:string"/>
													<xsd:element name="TriangCurrency" type="xsd:string"/>
													<xsd:element name="TriangConvRate" type="xsd:string"/>
													<xsd:element name="TriangMulDiv" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ArTrnItem" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Customer" type="xsd:string"/>
													<xsd:element name="Name" type="xsd:string"/>
													<xsd:element name="Invoice" type="xsd:string"/>
													<xsd:element name="InvoiceDate" type="xsd:string"/>
													<xsd:element name="DocumentType" type="xsd:string"/>
													<xsd:element name="Branch" type="xsd:string"/>
													<xsd:element name="GrossPayment" type="xsd:string"/>
													<xsd:element name="GrossPaymentFor" type="xsd:string"/>
													<xsd:element name="DiscountAllowed" type="xsd:string"/>
													<xsd:element name="DiscountAllowedFor" type="xsd:string"/>
													<xsd:element name="NetPayment" type="xsd:string"/>
													<xsd:element name="NetPaymentFor" type="xsd:string"/>
													<xsd:element name="PayTaxAmtDisc" type="xsd:string"/>
													<xsd:element name="Journal" type="xsd:string"/>
													<xsd:element name="CurrencyValue" type="xsd:string"/>
													<xsd:element name="PostCurrency" type="xsd:string"/>
													<xsd:element name="PostConvRate" type="xsd:string"/>
													<xsd:element name="PostMulDiv" type="xsd:string"/>
													<xsd:element name="AccountCur" type="xsd:string"/>
													<xsd:element name="AccountConvRate" type="xsd:string"/>
													<xsd:element name="AccountMulDiv" type="xsd:string"/>
													<xsd:element name="TriangCurrency" type="xsd:string"/>
													<xsd:element name="TriangConvRate" type="xsd:string"/>
													<xsd:element name="TriangMulDiv" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BankNetValues">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Date" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TranDate" type="xsd:string"/>
													<xsd:element name="DepositValue">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string">
																	<xsd:attribute name="Height" type="xsd:anySimpleType"/>
																	<xsd:attribute name="Top" type="xsd:anySimpleType"/>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="WithValue">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string">
																	<xsd:attribute name="Height" type="xsd:anySimpleType"/>
																	<xsd:attribute name="Top" type="xsd:anySimpleType"/>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
