Schemas7/CSHQ41OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Cashbook Print Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="CashbookPrint" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CashbookPrint">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PrintOf" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintOf" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportSequenceHeader" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequenceHeader" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeFutureTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeFutureTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BankFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BankFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BankFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BankItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BankHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="APSBNK_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TBLCUR_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OpeningCashbookBalance" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_OpeningCashbookBalance" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Transactions" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TransactionItem" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="FutureTransaction" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnBank" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SortedDate" minOccurs="0"/>
                          <xsd:element name="TrnCbTime" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnCbMonth" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnCbYear" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnReference" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Narration" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PostingPeriodMonth" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PostingPeriodYear" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Cheque" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Reconciled" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReconciledPeriodMonth" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReconciledPeriodYear" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TrnValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CurrencyValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CurrencyValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GLDistributionEntries" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="GLEntry" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_Amount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Notation" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="GENMST_Description" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="BankFooter" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ClosingCashbookBalance" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ClosingCashbookBalance" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SelectedPeriodMonth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SelectedPeriodYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LastJournalNumber" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
