Schemas7/CSHTSODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Cash Book Setup Transaction Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CashBookOptions">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="General" minOccurs="0"/>
				<xsd:element ref="History" minOccurs="0"/>
				<xsd:element ref="Tax" minOccurs="0"/>
				<xsd:element ref="PeriodCurrentYear" minOccurs="0"/>
				<xsd:element ref="PeriodPreviousYear" minOccurs="0"/>
				<xsd:element ref="CurrentMonth" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ForeignCurrCashBookReq">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Indicates whether Foreign cash book currency is required. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="N=No;Y=Yes;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PermEntReqCb">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Indicates whether Permanent entries are required. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="N=No;Y=Yes;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AskNotPerDetDistrEntry">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Ask if additional references are required for individual ledger distributions in Cash Book per entry. (Y - Yes, N - No). If no value is supplied then a default value of Y will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DispBankBalInRecapScreen">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Indicates whether the bank balances in the deposits recap screen (CSHP10) should be displayed. (Y - Yes, N - No). If no value is supplied then a default value of Y will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="Y=Yes;N=No;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AutoBankReconOfDeposits">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Indicates whether the automatic bank reconciliation of deposits should include the matching of the date and/or reference. (V - Value only, R - Value date and reference, D - Value and date). If no value is supplied then a default value of V will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="V=Value only;R=Value, date and reference;D=Value and date"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="V"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="D"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="General">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ForeignCurrCashBookReq"/>
				<xsd:element ref="PermEntReqCb"/>
				<xsd:element ref="AskNotPerDetDistrEntry"/>
				<xsd:element ref="DispBankBalInRecapScreen"/>
				<xsd:element ref="AutoBankReconOfDeposits"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MthsRetCbJnls">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the number of months the cash book journals must be retained. If this number is not supplied, 1 will be assumed.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:double">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="99"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MthsRetReconTrans">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the number of months the cash book reconciled transaction must be retained. If this number is not supplied, 1 will be assumed.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:double">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="99"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MthsRetTaxDistrCb">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the number of months the cash book tax distribution details must be retained. The format is 2 characters, numeric. (99 implies retain indefinitely). If no value is supplied, 99 will be assumed. This element may only be displayed/changed when you enable the option EC VAT system required.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:double">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="99"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="History">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MthsRetCbJnls"/>
				<xsd:element ref="MthsRetReconTrans"/>
				<xsd:element ref="MthsRetTaxDistrCb"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TaxDistrMethod">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Indicates the output Tax distribution method. (N - Not required, D - Detail, S - Summary). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="N=Not required;D=Detail;S=Summary;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="S"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxDistrReqFor">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Indicates which transactions the Tax distribution is required for. (B - Both deposits and withdrawals, D - Deposits, W - Withdrawals). If no value is supplied then a default value of B will be assumed. This element is not required when 'TaxDistrMethod' is set to N.]]></xsd:documentation>
			<xsd:appinfo source="B=Both deposits and withdrawals;D=Deposits;W=Withdrawals;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="B"/>
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="W"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DefTaxCodeCshDep">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Indicates the default tax codes for deposit transactions. This element only needs to be entered if 'TaxDistrReqFor' contains either B or D. This element is not validated if 'TaxDistrMethod' is set to N.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DefTaxCodeCshWith">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Indicates the default tax codes for withdrawal transactions. This element only needs to be entered if 'TaxDistrReqFor' contains either B or W. This element is not validated if 'TaxDistrMethod' is set to N.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CalcNotEquEnterTax">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Indicates whether to display a warning or an error message if the calculated and entered tax amounts differ. (W - Warning, E - Error).  If no value is supplied then a default value of W will be  assumed.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Tax">
		<xsd:annotation>
			<xsd:documentation>When using Descriptive Tax Codes, a descriptive tax code must be provided.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TaxDistrMethod"/>
				<xsd:element ref="TaxDistrReqFor"/>
				<xsd:element ref="DefTaxCodeCshDep"/>
				<xsd:element ref="DefTaxCodeCshWith"/>
				<xsd:element ref="CalcNotEquEnterTax"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod1">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 1 month end date. This element is optional. The format is CCYY-MM-DD.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod1">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 1 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod2">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 2 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod1'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod2">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 2 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the previous period may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod3">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 3 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod2'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod3">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 3 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod4">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 4 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod3'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod4">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 4 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod5">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 5 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod4'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod5">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 5 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod6">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 6 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod5'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod6">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 6 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod7">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 7 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod6'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod7">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 7 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod8">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 8 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod7'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod8">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 8 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod9">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 9 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod8'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod9">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 9 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod10">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 10 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod9'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod10">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 10 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod11">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 11 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod10'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod11">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 11 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod12">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 12 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod11'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod12">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 12 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrDatePeriod13">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 13 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod12'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrFlagPeriod13">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the current period 13 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C unless this is the current period, then it will be set to O. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PeriodCurrentYear">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CbCurrDatePeriod1"/>
				<xsd:element ref="CbCurrFlagPeriod1"/>
				<xsd:element ref="CbCurrDatePeriod2"/>
				<xsd:element ref="CbCurrFlagPeriod2"/>
				<xsd:element ref="CbCurrDatePeriod3"/>
				<xsd:element ref="CbCurrFlagPeriod3"/>
				<xsd:element ref="CbCurrDatePeriod4"/>
				<xsd:element ref="CbCurrFlagPeriod4"/>
				<xsd:element ref="CbCurrDatePeriod5"/>
				<xsd:element ref="CbCurrFlagPeriod5"/>
				<xsd:element ref="CbCurrDatePeriod6"/>
				<xsd:element ref="CbCurrFlagPeriod6"/>
				<xsd:element ref="CbCurrDatePeriod7"/>
				<xsd:element ref="CbCurrFlagPeriod7"/>
				<xsd:element ref="CbCurrDatePeriod8"/>
				<xsd:element ref="CbCurrFlagPeriod8"/>
				<xsd:element ref="CbCurrDatePeriod9"/>
				<xsd:element ref="CbCurrFlagPeriod9"/>
				<xsd:element ref="CbCurrDatePeriod10"/>
				<xsd:element ref="CbCurrFlagPeriod10"/>
				<xsd:element ref="CbCurrDatePeriod11"/>
				<xsd:element ref="CbCurrFlagPeriod11"/>
				<xsd:element ref="CbCurrDatePeriod12"/>
				<xsd:element ref="CbCurrFlagPeriod12"/>
				<xsd:element ref="CbCurrDatePeriod13"/>
				<xsd:element ref="CbCurrFlagPeriod13"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod1">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 1 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbCurrDatePeriod13'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod1">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 1 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod2">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 2 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod1'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod2">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 2 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed. If the 'CbCurrentMonth' is modified this element will be reset to C. Only the current period and the two previous periods may be set to O.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod3">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 3 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod2'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod3">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 3 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod4">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 4 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod3'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod4">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 4 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod5">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 5 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod4'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod5">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 5 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod6">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 6 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod5'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod6">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 6 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod7">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 7 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod6'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod7">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 7 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod8">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 8 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod7'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod8">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 8 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod9">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 9 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod8'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod9">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 9 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod10">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 10 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod9'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod10">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 10 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod11">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 11 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod10'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod11">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 11 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod12">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 12 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod11'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod12">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 12 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevDatePeriod13">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 13 month end date. This element is optional. The format is CCYY-MM-DD. This date supplied may not precede 'CbPrevDatePeriod12'.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbPrevFlagPeriod13">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the previous period 13 status flag. (C - Closed, O - Open). If no value is supplied then the default value of C will be assumed.]]></xsd:documentation>
			<xsd:appinfo source="C=Closed;O=Open;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PeriodPreviousYear">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CbPrevDatePeriod1"/>
				<xsd:element ref="CbPrevFlagPeriod1"/>
				<xsd:element ref="CbPrevDatePeriod2"/>
				<xsd:element ref="CbPrevFlagPeriod2"/>
				<xsd:element ref="CbPrevDatePeriod3"/>
				<xsd:element ref="CbPrevFlagPeriod3"/>
				<xsd:element ref="CbPrevDatePeriod4"/>
				<xsd:element ref="CbPrevFlagPeriod4"/>
				<xsd:element ref="CbPrevDatePeriod5"/>
				<xsd:element ref="CbPrevFlagPeriod5"/>
				<xsd:element ref="CbPrevDatePeriod6"/>
				<xsd:element ref="CbPrevFlagPeriod6"/>
				<xsd:element ref="CbPrevDatePeriod7"/>
				<xsd:element ref="CbPrevFlagPeriod7"/>
				<xsd:element ref="CbPrevDatePeriod8"/>
				<xsd:element ref="CbPrevFlagPeriod8"/>
				<xsd:element ref="CbPrevDatePeriod9"/>
				<xsd:element ref="CbPrevFlagPeriod9"/>
				<xsd:element ref="CbPrevDatePeriod10"/>
				<xsd:element ref="CbPrevFlagPeriod10"/>
				<xsd:element ref="CbPrevDatePeriod11"/>
				<xsd:element ref="CbPrevFlagPeriod11"/>
				<xsd:element ref="CbPrevDatePeriod12"/>
				<xsd:element ref="CbPrevFlagPeriod12"/>
				<xsd:element ref="CbPrevDatePeriod13"/>
				<xsd:element ref="CbPrevFlagPeriod13"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CbCurrentYear">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the calendar year in which your current financial year ends. This element may only be altered if there are no records already in the Cash Book Journal Control file.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:double">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="9999"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CbCurrentMonth">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This is the calendar month in which your company is running in relation to the start of your financial year. This element may only be altered if there are no records already in the Cash Book Journal Control file.]]></xsd:documentation>
			<xsd:appinfo/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:double">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="99"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CurrentMonth">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CbCurrentYear"/>
				<xsd:element ref="CbCurrentMonth"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
