Schemas7/EFTPRX.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the EFT Payments
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="EftPayments" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="EftPayments">
    <xsd:complexType>
     <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="EftHeader" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EftBatch" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LastSequence" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ActionDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="OriginalRunDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ReRunDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PostCurrency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BankCurrency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EftXmlExtractType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EftGlobalRef" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CompanyAddressLine1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CompanyAddressLine2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CompanyAddressLine3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DeliveryAddressLine1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DeliveryAddressLine2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DeliveryAddressLine3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BankAccount" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EftDetails" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SupplierDetail" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="SupplierNumber" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupplierChName" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="TrnSource" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="CurrencyValue" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="PaymentValue" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="EftStatementRef" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="CreditLineCATS" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="CreditLineNED" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="EftEmail" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="BankBranch" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="BankAccount" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="EftBankAccType" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupAddr1" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupAddr2" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupAddr3" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupAddr4" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupAddr5" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupPostalCode" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupRemitName" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupRemitAddr1" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupRemitAddr2" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupRemitAddr3" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupRemitAddr4" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupRemitAddr5" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="SupRemitPostalCode" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="InvoiceLine" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="LineNumber" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CurrencyValue" type="xsd:double" minOccurs="0"/>
                        <xsd:element name="PaymentValue" type="xsd:double" minOccurs="0"/>
                        <xsd:element name="InvoiceType" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="TrnDate" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="EftNumber" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CheckRegister" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CashBookKey" type="xsd:string" minOccurs="0"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EftTotal" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TotalSuppliersPaid" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TotalCurrencyValue" type="xsd:double" minOccurs="0"/>
            <xsd:element name="TotalPaymentValue" type="xsd:double" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
     </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

