Schemas7/EFTQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the EFT Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="EftOptions">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="EftBenefAmendJnlsReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsExtrEftBatches" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsAuditOfExtrEftBatches" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsAuditOfVoidedEftEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsEftCshBeneficiaries" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="UserDefined">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ApSupplierEftUdf1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApSupplierEftUdf2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbBenefEftUdf1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbBenefEftUdf2" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Information">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LastEftBatchNum" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
