Schemas7/EFTQPDOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the EFT Completed Payments Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="EftCompletedPaymentsReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="EftCompletedPaymentsReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="EftBatchFilterType" type="xsd:string" minOccurs="0"/>
                                          <xsd:element name="Translated_EftBatchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EftBatchFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CompletedBatches" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompletedBatchHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="EftBatch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
										<xsd:element name="APSBNK_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ActionDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ADMOPR_Name" type="xsd:string" minOccurs="0"/>
										<xsd:element name="EftXmlLocation" type="xsd:string" minOccurs="0"/>
                                                            <xsd:element name="Translated_EftXmlLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="EftXmlFile" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastSequence" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Modules" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CompletedModule" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Module" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupplierDetails" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="SupplierDetail" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="SupplierHeader" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="ContactName" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierAddr1" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierAddr2" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierAddr3" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierAddr3Loc" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierAddr4" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierAddr5" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierPostalCode" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupAddGpsLat" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupAddGpsLong" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierRemittanceName" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierRemittanceAddr1" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierRemittanceAddr2" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierRemittanceAddr3" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierRemittanceAddr3Loc" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierRemittanceAddr4" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierRemittanceAddr5" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierRemittancePostalCode" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierRemittanceGpsLat" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierRemittanceGpsLong" type="xsd:string" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="SupplierInvoices" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="SupplierInvoice" minOccurs="0" maxOccurs="unbounded">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="EftNumber" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="CurrencyValue" type="xsd:double" minOccurs="0"/>
                                                                                                                                                      <xsd:element name="Edited_CurrencyValue" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="PostCurrency" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="PostingCurrencyDescription" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="PaymentValue" type="xsd:double" minOccurs="0"/>
                                                                                                                                                      <xsd:element name="Edited_PaymentValue" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="LocalCurrencyDescription" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="CheckRegister" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="CashBookKey" type="xsd:string" minOccurs="0"/>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="SupplierTotal" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="SupplierTotalCurrencyValue" type="xsd:double" minOccurs="0"/>
                                                                                                                                    <xsd:element name="Edited_SupplierTotalCurrencyValue" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierTotalPaymentValue" type="xsd:double" minOccurs="0"/>
                                                                                                                                    <xsd:element name="Edited_SupplierTotalPaymentValue" type="xsd:string" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="ModuleTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
                                                                                                <xsd:element name="Translated_ModuleTotal" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ModuleTotalCurrencyValue" type="xsd:double" minOccurs="0"/>
                                                                                                <xsd:element name="Edited_ModuleTotalCurrencyValue" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ModuleTotalPaymentValue" type="xsd:double" minOccurs="0"/>
                                                                                                <xsd:element name="Edited_ModuleTotalPaymentValue" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CompletedBatchTotal" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BatchTotalCurrencyValue" type="xsd:double" minOccurs="0"/>
                                                            <xsd:element name="Edited_BatchTotalCurrencyValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BatchTotalPaymentValue" type="xsd:double" minOccurs="0"/>
                                                            <xsd:element name="Edited_BatchTotalPaymentValue" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CompanyTotals" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
                                          <xsd:element name="Translated_GrandTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTotalCurrencyValue" type="xsd:double" minOccurs="0"/>
                                          <xsd:element name="Edited_CompanyTotalCurrencyValue" type="xsd:string" minOccurs="0"/>
  						      <xsd:element name="CompanyTotalPaymentValue" type="xsd:double" minOccurs="0"/>
                                          <xsd:element name="Edited_CompanyTotalPaymentValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
