Schemas7/EFTQNPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the EFT Pending Payments Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="EftPendingPaymentsReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="EftPendingPaymentsReport">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BankFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BankFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BankFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PendingBanks">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PendingBank" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PendingBankHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="APSBNK_Description" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Modules" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="PendingModule" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Module" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_Module" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ModuleDetails" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="ModuleDetail" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="CurrencyValue" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_CurrencyValue" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PostCurrency" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PostingCurrencyDescription" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PaymentValue" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_PaymentValue" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="LocalCurrencyDescription" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TrnDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EftNumber" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="CheckRegister" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="CashBookKey" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="ModuleTotal" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="ModuleTotalCurrencyValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_ModuleTotalCurrencyValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ModuleTotalPaymentValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_ModuleTotalPaymentValue" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PendingBankTotal" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="BankTotalCurrencyValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_BankTotalCurrencyValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BankTotalPaymentValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_BankTotalPaymentValue" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyTotalCurrencyValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalCurrencyValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalPaymentValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CompanyTotalPaymentValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
