Schemas7/EFTQAEOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the EFT Extract Journal Business Object
-->
<xsd:schema id="EftExtractJournalReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="EftExtractJournalReport">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EftBatchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_EftBatchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EftBatchFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BatchItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BatchHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="EftBatch" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="APSBNK_Description" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="BatchDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="BatchDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="EftRunDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EftRunTime" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ADMOPR_Name" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActionDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CurrencyValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CurrencyValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PostCurrency" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PostingCurrencyDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PaymentValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_PaymentValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LocalCurrencyDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LastSequence" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EftXmlLocation" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_EftXmlLocation" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EftXmlFile" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
