Schemas7/EFTQSL.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the EFT Payments Selected for Current Extract Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Bank" minOccurs="0"/>
				<xsd:element ref="XslStyleSheet" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Bank">
		<xsd:annotation>
			<xsd:documentation>Indicates for what bank you want to print the report. Only a single bank is allowed and it is mandatory. Bank code passed by another program.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="XslStyleSheet">
		<xsd:complexType/>
	</xsd:element>
</xsd:schema>
