Schemas7/EFTQAVOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the EFT Void Journal Business Object
-->
<xsd:schema id="EftVoidJournalReport" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="EftVoidJournalReport">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BankFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BankFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BankFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EftNumberFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_EftNumberFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EftNumberFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="VoidItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="VoidHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="APSBNK_Description" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="VoidDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="VoidDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="VoidEftHeader" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="EftNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="APSMST_Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="VoidDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProgramSource" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_ProgramSource" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ADMOPR_Name" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="VoidInvoices" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="VoidInvoice" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PaymentNumber" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CurrencyValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_CurrencyValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PostCurrency" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PostingCurrencyDescription" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PaymentValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_PaymentValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="LocalCurrencyDescription" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="VoidTotal" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TotalCurrencyValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TotalCurrencyValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotalPaymentValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_TotalPaymentValue" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
