Schemas7/EFTQAE.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the EFT Extract Journal Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="EftBatch" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EftBatch">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of EftBatches to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=EftBatchCtl;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Reprint" minOccurs="0"/>
        <xsd:element ref="XslStyleSheet" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Reprint">
    <xsd:annotation>
      <xsd:documentation>Indicates whether you want to reprint a document (N - No, Y - Yes) If no value is supplied then a default value of 'N' will be assumed.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yesl;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="XslStyleSheet" type="xsd:string"/>
</xsd:schema>
