Schemas7/EFTSMSDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd. -->
<!--
		This is the schema for EFT Cash Book Beneficiary Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SetupEftSuppliers">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="SupplierName"/>
        <xsd:element ref="Bank" minOccurs="0"/>
        <xsd:element ref="Currency" minOccurs="0"/>
        <xsd:element ref="BankAccount" minOccurs="0"/>
        <xsd:element ref="BankBranch" minOccurs="0"/>
        <xsd:element ref="EftBankAccType" minOccurs="0"/>
        <xsd:element ref="EftStatementRef" minOccurs="0"/>
        <xsd:element ref="SupAddr0Building" minOccurs="0"/>
        <xsd:element ref="SupAddr1" minOccurs="0"/>
        <xsd:element ref="SupAddr2" minOccurs="0"/>
        <xsd:element ref="SupAddr2Loc" minOccurs="0"/>
        <xsd:element ref="SupAddr3" minOccurs="0"/>
        <xsd:element ref="SupAddr3Country" minOccurs="0"/>
        <xsd:element ref="SupPostalCode" minOccurs="0"/>
        <xsd:element ref="SupAddGpsLat" minOccurs="0"/>
        <xsd:element ref="SupAddGpsLong" minOccurs="0"/>
        <xsd:element ref="Contact" minOccurs="0"/>
        <xsd:element ref="Telephone" minOccurs="0"/>
        <xsd:element ref="Fax" minOccurs="0"/>
        <xsd:element ref="TaxRegnNum" minOccurs="0"/>
        <xsd:element ref="EftUserField1" minOccurs="0"/>
        <xsd:element ref="EftUserField2" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This is the key element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Supplier"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Supplier">
    <xsd:annotation>
      <xsd:documentation>This is the key to the EFT supplier being maintained. This is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupplierName">
    <xsd:annotation>
      <xsd:documentation>This is the name of the EFT supplier and is used primarily to identify the supplier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Bank">
    <xsd:annotation>
      <xsd:documentation>Bank assigned to the EFT supplier and is used to integrate the Cash Book withdrawal to the EFT module.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Currency">
    <xsd:annotation>
      <xsd:documentation>Currency assigned to the EFT supplier. This is for notational purposes only.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BankAccount">
    <xsd:annotation>
      <xsd:documentation>This is the EFT supplier's bank account number.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BankBranch">
    <xsd:annotation>
      <xsd:documentation>This is the EFT supplier's bank branch code.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="EftBankAccType">
    <xsd:annotation>
      <xsd:documentation>Bank account type for the bank account number. This codes must conform with the relevant bank rules of where the account is held.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="EftStatementRef">
    <xsd:annotation>
      <xsd:documentation>This is the reference that will appear on the supplier's bank statement after an EFT payment has been processed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupAddr0Building">
    <xsd:annotation>
      <xsd:documentation>The name of the building that the address belongs to.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupAddr1">
    <xsd:annotation>
      <xsd:documentation>Address line 1 for the EFT supplier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupAddr2">
    <xsd:annotation>
      <xsd:documentation>Address line 2 for the EFT supplier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupAddr2Loc">
    <xsd:annotation>
      <xsd:documentation>Locality for address line 2.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupAddr3">
    <xsd:annotation>
      <xsd:documentation>Address line 3 for the EFT supplier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupAddr3Country">
    <xsd:annotation>
      <xsd:documentation>Country for address line 3.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupPostalCode">
    <xsd:annotation>
      <xsd:documentation>Postal/zip code for the address.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupAddGpsLat">
    <xsd:annotation>
      <xsd:documentation>This is the address Latitude.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupAddGpsLong">
    <xsd:annotation>
      <xsd:documentation>This is the address Longitude.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Contact">
    <xsd:annotation>
      <xsd:documentation>Contact name for the supplier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Telephone">
    <xsd:annotation>
      <xsd:documentation>Telephone number for the supplier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Fax">
    <xsd:annotation>
      <xsd:documentation>Fax number for the supplier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TaxRegnNum">
    <xsd:annotation>
      <xsd:documentation>Supplier's tax registration number.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="EftUserField1">
    <xsd:annotation>
      <xsd:documentation>This is a free format alphanumeric user defined field.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="EftUserField2">
    <xsd:annotation>
      <xsd:documentation>This is a free format numeric user defined field.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
