Schemas7/EFTTSODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the EFT Setup Transaction Posting Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="EftOptions">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="General" minOccurs="0"/>
				<xsd:element ref="UserDefined" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="EftBenefAmendJnlsReq">
<xsd:annotation>
<xsd:documentation>
<![CDATA[Indicates whether amendment journals are required for EFT cash book beneficiaries. (N - No, Y - Yes, A - Yes with additions). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
<xsd:appinfo source="N=No;Y=Yes;A=Yes with additions;" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="N" />
<xsd:enumeration value="Y" />
<xsd:enumeration value="A" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MthsExtrEftBatches">
<xsd:annotation>
<xsd:documentation>
<![CDATA[This is the number of months the extracted EFT batches must be retained. If this number is not supplied, 99 will be assumed.]]></xsd:documentation>
<xsd:appinfo source="" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:double">
<xsd:minInclusive value="1" />
<xsd:maxInclusive value="99" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MthsAuditOfExtrEftBatches">
<xsd:annotation>
<xsd:documentation>
<![CDATA[This is the number of months the audit of extracted EFT batches must be retained. If this number is not supplied, 99 will be assumed.]]></xsd:documentation>
<xsd:appinfo source="" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:double">
<xsd:minInclusive value="1" />
<xsd:maxInclusive value="99" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MthsAuditOfVoidedEftEntries">
<xsd:annotation>
<xsd:documentation>
<![CDATA[This is the number of months the audit of voided EFT entries must be retained. If this number is not supplied, 99 will be assumed.]]></xsd:documentation>
<xsd:appinfo source="" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:double">
<xsd:minInclusive value="1" />
<xsd:maxInclusive value="99" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MthsEftCshBeneficiaries">
<xsd:annotation>
<xsd:documentation>
<![CDATA[This is the number of months the cash book EFT beneficiaries must be retained. If this number is not supplied, 99 will be assumed.]]></xsd:documentation>
<xsd:appinfo source="" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:double">
<xsd:minInclusive value="1" />
<xsd:maxInclusive value="99" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="General">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="EftBenefAmendJnlsReq" />
<xsd:element ref="MthsExtrEftBatches" />
<xsd:element ref="MthsAuditOfExtrEftBatches" />
<xsd:element ref="MthsAuditOfVoidedEftEntries" />
<xsd:element ref="MthsEftCshBeneficiaries" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ApSupplierEftUdf1">
<xsd:annotation>
<xsd:documentation>
<![CDATA[This is the description for the accounts payable supplier EFT user defined field 1.]]></xsd:documentation>
<xsd:appinfo source="" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ApSupplierEftUdf2">
<xsd:annotation>
<xsd:documentation>
<![CDATA[This is the description for the accounts payable supplier EFT user defined field 2.]]></xsd:documentation>
<xsd:appinfo source="" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="CbBenefEftUdf1">
<xsd:annotation>
<xsd:documentation>
<![CDATA[This is the description for the cash book beneficiary EFT user defined field 1.]]></xsd:documentation>
<xsd:appinfo source="" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="CbBenefEftUdf2">
<xsd:annotation>
<xsd:documentation>
<![CDATA[This is the description for the cash book beneficiary EFT user defined field 2.]]></xsd:documentation>
<xsd:appinfo source="" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="UserDefined">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="ApSupplierEftUdf1" />
<xsd:element ref="ApSupplierEftUdf2" />
<xsd:element ref="CbBenefEftUdf1" />
<xsd:element ref="CbBenefEftUdf2" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
 
