Schemas7/GENQJM.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for the GL Journal Validation Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AlternateCurrencyJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the journal type selection.the default is Y and the other valid value is N. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AuditorsAdjustments">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the journal type selection.the default is Y and the other valid value is N. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LedgerPeriodSelection" minOccurs="0"/>
				<xsd:element ref="JournalNumberSelection" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InterCompanyJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the journal type selection.the default is Y and the other valid value is N. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="JournalNumberSelection">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate thejournal number selection. The dfault is A and the other valid value is R.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LedgerPeriodSelection">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the ledger period selection. the default is A and the other valid value is S. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LedgerYear" type="xsd:double">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the ledger year selection.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NormalJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the journal type selection.the default is Y and the other valid value is N. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LedgerYear" minOccurs="0"/>
				<xsd:element ref="NormalJournals" minOccurs="0"/>
				<xsd:element ref="ProvisionJournals" minOccurs="0"/>
				<xsd:element ref="UserDefinedJournals" minOccurs="0"/>
				<xsd:element ref="InterCompanyJournals" minOccurs="0"/>
				<xsd:element ref="PeriodEndAdjustments" minOccurs="0"/>
				<xsd:element ref="AuditorsAdjustments" minOccurs="0"/>
				<xsd:element ref="StatisticalJournals" minOccurs="0"/>
				<xsd:element ref="AlternateCurrencyJournals" minOccurs="0"/>
				<xsd:element ref="SubModuleJournals" minOccurs="0"/>
				<xsd:element ref="SubAPInvoiceJournals" minOccurs="0"/>
				<xsd:element ref="SubAPPaymentJournals" minOccurs="0"/>
				<xsd:element ref="SubARInvoiceJournals" minOccurs="0"/>
				<xsd:element ref="SubARCashJournals" minOccurs="0"/>
				<xsd:element ref="SubAssetJournals" minOccurs="0"/>
				<xsd:element ref="SubCashbookJournals" minOccurs="0"/>
				<xsd:element ref="SubGRNJournals" minOccurs="0"/>
				<xsd:element ref="SubInventoryJournals" minOccurs="0"/>
				<xsd:element ref="SubTPMJournals" minOccurs="0"/>
				<xsd:element ref="SubWIPLaborJournals" minOccurs="0"/>
				<xsd:element ref="SubWIPPartBillingJournals" minOccurs="0"/>
				<xsd:element ref="XslStylesheet" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PeriodEndAdjustments">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the journal type selection.the default is Y and the other valid value is N. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProvisionJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the journal type selection.the default is Y and the other valid value is N. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
				<xsd:element ref="Filter"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StatisticalJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the journal type selection.the default is Y and the other valid value is N. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubAPInvoiceJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the sub module journal type selection.the default is N and the other valid value is Y. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubAPPaymentJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the sub module journal type selection.the default is N and the other valid value is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubARCashJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the sub module journal type selection.the default is N and the other valid value is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubARInvoiceJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the sub module journal type selection.the default is N and the other valid value is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubAssetJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the sub module journal type selection.the default is N and the other valid value is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubCashbookJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the sub module journal type selection.the default is N and the other valid value is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubGRNJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the sub module journal type selection.the default is N and the other valid value is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubInventoryJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the sub module journal type selection.the default is N and the other valid value is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubModuleJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the journal type selection.the default is N and the other valid value is Y. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubTPMJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the sub module journal type selection.the default is N and the other valid value is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubWIPLaborJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the sub module journal type selection.the default is N and the other valid value is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubWIPPartBillingJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the sub module journal type selection.the default is N and the other valid value is Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UserDefinedJournals">
		<xsd:annotation>
			<xsd:documentation>This element is used to indicate the journal type selection.the default is Y and the other valid value is N. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="XslStylesheet">
		<xsd:annotation>
			<xsd:documentation>This is the style sheet t be applied.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
</xsd:schema>
