Schemas7/GENQJMOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the GL Journal Validation Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="GLJournalEntry" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="GLJournalEntry">
		<xsd:complexType>
      <xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOption">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LedgerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NormalJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProvisionJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UserDefinedJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InterCompanyJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodEndAdjustments" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AuditorsAdjustments" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StatisticalJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AlternateCurrencyJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubModuleJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubAPInvoiceJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubAPPaymentJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubARCashJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubAssetJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubCashbookJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubGRNJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubInventoryJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubTPMJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubWIPLaborJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubWIPPartBillingJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerPeriodSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerPeriodSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalNumberSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalNumberSelectionFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GLJournalItem">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GLJournalHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="JournalNumber" type="xsd:double" minOccurs="0"/>
										<xsd:element name="JournalDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LedgerPeriod" type="xsd:double" minOccurs="0"/>
										<xsd:element name="LedgerYear" type="xsd:double" minOccurs="0"/>
										<xsd:element name="JnlPostingType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="JnlStatus" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Source" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Notation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="GLJournalValidations" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GLJournalValidation" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="EntryErrorMsg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Validation" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LedgerCode" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
