Schemas7/GENQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!--
     Schema for the General Ledger Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LedgerQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GlCode" type="xsd:string"/>
        <xsd:element name="Description" type="xsd:string"/>
        <xsd:element name="Currency" type="xsd:string"/>
        <xsd:element name="CurrencyDesc" type="xsd:string" minOccurs="0"/>
        <xsd:element name="GlYear" type="xsd:string"/>
        <xsd:element name="GlPeriod" type="xsd:string"/>
        <xsd:element name="AccountType" type="xsd:string"/>
        <xsd:element name="AccountTypeDesc" type="xsd:string" minOccurs="0"/>
        <xsd:element name="GlGroup" type="xsd:string"/>
        <xsd:element name="GENGRP_Description" type="xsd:string"/>
        <xsd:element name="NumDetailCurYr" type="xsd:string"/>
        <xsd:element name="ControlAccFlag" type="xsd:string"/>
        <xsd:element name="AccOnHldFlag" type="xsd:string"/>
        <xsd:element name="FutureUncommitted" type="xsd:string" minOccurs="0"/>
        <xsd:element name="FutureCommitment" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PasswordInUse" type="xsd:string"/>
        <xsd:element name="PrevPerEndBal" type="xsd:string"/>
        <xsd:element name="PtdDrValue" type="xsd:string"/>
        <xsd:element name="PtdCrValue" type="xsd:string"/>
        <xsd:element name="CurrentBalance" type="xsd:string"/>
        <xsd:element name="CustomForm" type="xsd:string"/>
        <xsd:element name="BalancesAtPeriodEnd">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BeginYearBalance" type="xsd:string"/>
              <xsd:element name="Period1" type="xsd:string"/>
              <xsd:element name="Period2" type="xsd:string"/>
              <xsd:element name="Period3" type="xsd:string"/>
              <xsd:element name="Period4" type="xsd:string"/>
              <xsd:element name="Period5" type="xsd:string"/>
              <xsd:element name="Period6" type="xsd:string"/>
              <xsd:element name="Period7" type="xsd:string"/>
              <xsd:element name="Period8" type="xsd:string"/>
              <xsd:element name="Period9" type="xsd:string"/>
              <xsd:element name="Period10" type="xsd:string"/>
              <xsd:element name="Period11" type="xsd:string"/>
              <xsd:element name="Period12" type="xsd:string"/>
              <xsd:element name="Period13" type="xsd:string"/>
              <xsd:element name="Period14" type="xsd:string"/>
              <xsd:element name="Period15" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Budgets">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BudgetType" type="xsd:string"/>
              <xsd:element name="Period1" type="xsd:string"/>
              <xsd:element name="Period2" type="xsd:string"/>
              <xsd:element name="Period3" type="xsd:string"/>
              <xsd:element name="Period4" type="xsd:string"/>
              <xsd:element name="Period5" type="xsd:string"/>
              <xsd:element name="Period6" type="xsd:string"/>
              <xsd:element name="Period7" type="xsd:string"/>
              <xsd:element name="Period8" type="xsd:string"/>
              <xsd:element name="Period9" type="xsd:string"/>
              <xsd:element name="Period10" type="xsd:string"/>
              <xsd:element name="Period11" type="xsd:string"/>
              <xsd:element name="Period12" type="xsd:string"/>
              <xsd:element name="Period13" type="xsd:string"/>
              <xsd:element name="Period14" type="xsd:string"/>
              <xsd:element name="Period15" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Transactions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Item" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GlPeriod" type="xsd:string"/>
                    <xsd:element name="Source" type="xsd:string"/>
                    <xsd:element name="Journal" type="xsd:string"/>
                    <xsd:element name="JnlDate" type="xsd:string"/>
                    <xsd:element name="Reference" type="xsd:string"/>
                    <xsd:element name="EntryValue" type="xsd:string"/>
                    <xsd:element name="MaintainedFlag" type="xsd:string"/>
                    <xsd:element name="Comment" type="xsd:string"/>
                    <xsd:element name="OriginZoomKey" type="xsd:string"/>
                    <xsd:element name="Origin" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="NextPrevKey">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Forward" type="xsd:string"/>
              <xsd:element name="Back" type="xsd:string"/>
              <xsd:element name="NextKey">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Period" type="xsd:string"/>
                    <xsd:element name="Line" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="PrevKey">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Period" type="xsd:string"/>
                    <xsd:element name="Line" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
