Schemas7/GENQRAOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!--
     Schema for the GL Financial Ratios Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="FinancialRatios" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="DataSets">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DataSet" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DataSetHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Year" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BudgetType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BudgetDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Value" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_Value" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InventoryTurnoverTimes" minOccurs="0"/>
										<xsd:element name="Edited_InventoryTurnoverTimes" minOccurs="0"/>
										<xsd:element name="ReceivablesTurnoverTimes" minOccurs="0"/>
										<xsd:element name="Edited_ReceivablesTurnoverTimes" minOccurs="0"/>
										<xsd:element name="PayablesTurnoverTimes" minOccurs="0"/>
										<xsd:element name="Edited_PayablesTurnoverTimes" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Periods" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Period" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="PeriodNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_PeriodValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="YtdPeriodValue" minOccurs="0"/>
													<xsd:element name="Edited_YtdPeriodValue" minOccurs="0"/>
													<xsd:element name="InventoryTurnoverTimes" minOccurs="0"/>
													<xsd:element name="Edited_InventoryTurnoverTimes" minOccurs="0"/>
													<xsd:element name="ReceivablesTurnoverTimes" minOccurs="0"/>
													<xsd:element name="Edited_ReceivablesTurnoverTimes" minOccurs="0"/>
													<xsd:element name="PayablesTurnoverTimes" minOccurs="0"/>
													<xsd:element name="Edited_PayablesTurnoverTimes" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CurrentAssets">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CurrentAssetValue" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CurrentAssetsAccounts" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GlCodes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="GlCode" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GlCodeHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlCodeDescription" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="GlCodeValues" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CurrentLiabilities">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CurrentLiabilitiesValue" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CurrentLiabilityAccounts" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Inventory">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="InventoryValue" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="InventoryAccounts" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Sales">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SalesValue" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SalesAccounts" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Assets">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AssetValue" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AssetsAccounts" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Capital">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CapitalValue" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CapitalAccounts" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Profit">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ProfitValue" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ProfitFormula" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Revenue" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="RevenueValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="RevenueAccounts" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Expenses" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ExpenseValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ExpenseAccounts" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FinancialRatios">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IncludeCurrentRatio" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeCurrentRatio" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeQuickRatio" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeQuickRatio" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludePayablesTurnover" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludePayablesTurnover" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeReceivablesTurnover" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeReceivablesTurnover" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeInventoryTurnover" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeInventoryTurnover" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeNonCurrentAssetTurnover" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeNonCurrentAssetTurnover" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeTotalAssetTurnover" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeTotalAssetTurnover" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeLeverage" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeLeverage" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeGearing" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeGearing" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeNetProfitMargin" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeNetProfitMargin" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeReturnOnEquity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeReturnOnEquity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeReturnOnAssets" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeReturnOnAssets" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeDebtRatio" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeDebtRatio" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeDebtEquity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeDebtEquity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeFormulaDetail" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeFormulaDetail" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAccountDetail" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAccountDetail" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludePeriodDetail" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludePeriodDetail" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAllPeriodCurrBud" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAllPeriodCurrBud" minOccurs="0"/>
							<xsd:element name="IncludeCurrentBudget" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeCurrentBudget" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeNextBudget" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeNextBudget" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAlternateBudget1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAlternateBudget2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAlternateBudget3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAlternateBudget4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAlternateBudget5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAlternateBudget6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAlternateBudget7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeAlternateBudget8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlYearFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlYearFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GlYearFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPeriodFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPeriodFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GlPeriodFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlGroupFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlGroupFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GlGroupFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCodeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GlCodeFilterType" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="RatioAnalysis">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DaysPerPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ThisYear" minOccurs="0"/>
							<xsd:element name="Translated_ThisYear" minOccurs="0"/>
							<xsd:element name="NextYear" minOccurs="0"/>
							<xsd:element name="Translated_NextYear" minOccurs="0"/>
							<xsd:element name="AltBudDesc1" minOccurs="0"/>
							<xsd:element name="Translated_AltBudDesc1" minOccurs="0"/>
							<xsd:element name="AltBudDesc2" minOccurs="0"/>
							<xsd:element name="Translated_AltBudDesc2" minOccurs="0"/>
							<xsd:element name="AltBudDesc3" minOccurs="0"/>
							<xsd:element name="Translated_AltBudDesc3" minOccurs="0"/>
							<xsd:element name="AltBudDesc4" minOccurs="0"/>
							<xsd:element name="Translated_AltBudDesc4" minOccurs="0"/>
							<xsd:element name="AltBudDesc5" minOccurs="0"/>
							<xsd:element name="Translated_AltBudDesc5" minOccurs="0"/>
							<xsd:element name="AltBudDesc6" minOccurs="0"/>
							<xsd:element name="Translated_AltBudDesc6" minOccurs="0"/>
							<xsd:element name="AltBudDesc7" minOccurs="0"/>
							<xsd:element name="Translated_AltBudDesc7" minOccurs="0"/>
							<xsd:element name="AltBudDesc8" minOccurs="0"/>
							<xsd:element name="Translated_AltBudDesc8" minOccurs="0"/>
							<xsd:element name="CurrentRatio" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CurrentRatioValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="CurrentRatioFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="CurrentAssets" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element ref="CurrentLiabilities" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="QuickRatio" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="QuickRatioValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="QuickRatioFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="CurrentAssets" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element ref="CurrentLiabilities" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element ref="Inventory" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PayablesTurnover" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PayablesTurnoverValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="PayablesTurnoverFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="AccountsPayable" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="AccountsPayableValue" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="AccountsPayableAccounts" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Purchases" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="PurchasesValue" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="PurchasesAccounts" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ReceivablesTurnover" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ReceivablesTurnoverValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ReceivablesTurnoverFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="AccountsReceivable" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="AccountsReceivableValue" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="AccountsReceivableAccounts" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Sales" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="SalesValue" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="SalesAccounts" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="InventoryTurnover" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="InventoryTurnoverValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="InventoryTurnoverFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="Inventory" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element name="CostOfSales" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CostOfSalesValue" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="CostOfSalesAccounts" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NonCurrentAssetTurnover" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="NonCurrentAssetTurnoverValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="NonCurrentAssetTurnoverFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="Sales" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element name="NonCurrentAssets" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="NonCurrentAssetsValue" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="NonCurrentAssetsAccounts" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TotalAssetTurnover" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="TotalAssetTurnoverValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="TotalAssetTurnoverFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="Sales" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element ref="Assets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Leverage" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LeverageValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="LeverageFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="Assets" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element ref="Capital" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Gearing" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GearingValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="GearingFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="NonCurrentLiabilities" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="NonCurrentLiabilitiesValue" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="NonCurrentLiabilityAccounts" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element ref="Capital" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NetProfitMargin" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="NetProfitMarginValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="NetProfitMarginFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="Profit" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element ref="Sales" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ReturnOnAssets" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ReturnOnAssetsValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ReturnOnAssetsFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="Profit" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element ref="Assets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ReturnOnEquity" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ReturnOnEquityValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ReturnOnEquityFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="Profit" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element ref="Capital" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DebtRatio" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DebtRatioValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="DebtRatioFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Liabilities" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="LiabilitiesValue" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="LiabilityAccounts" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element ref="Assets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DebtEquityRatio" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DebtEquityRatioValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="DebtEquityRatioFormula" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="NonCurrentLiabilities" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="NonCurrentLiabilitiesValue" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="DataSets" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="NonCurrentLiabilitiyAccounts" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="GlCodes" minOccurs="0" maxOccurs="unbounded"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element ref="Capital" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
