Schemas7/GENQSI.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the General Ledger Integration Query Business Object.
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="IncludeInformationItems" type="xsd:string"/>
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ReturnSchema" minOccurs="0"/>
				<xsd:element ref="CompanyId" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReturnSchema" default="N">
		<xsd:annotation>
			<xsd:documentation>This element allows the user the option to output either XML or XSD.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CompanyId">
		<xsd:annotation>
			<xsd:documentation>Indicates the company for which you want data returned. If no data is supplied, the current company will be assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
