Schemas7/GENQZMOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the GL Journal Zoom Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LedgerQueryZoom">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GeneralLedgerJournal">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GlYear" type="xsd:string"/>
              <xsd:element name="GlJournal" type="xsd:string"/>
              <xsd:element name="JnlPostingType" type="xsd:string"/>
              <xsd:element name="JournalDate" type="xsd:string"/>
              <xsd:element name="Reference" type="xsd:string"/>
              <xsd:element name="Notation" type="xsd:string"/>
              <xsd:element name="GlPeriod" type="xsd:string"/>
              <xsd:element name="DebitAmount" type="xsd:string"/>
              <xsd:element name="CreditAmount" type="xsd:string"/>
              <xsd:element name="NumOfEntries" type="xsd:string"/>
              <xsd:element name="Source" type="xsd:string"/>
              <xsd:element name="JnlStatus" type="xsd:string"/>
              <xsd:element name="Currency"/>
              <xsd:element name="Operator" type="xsd:string"/>
              <xsd:element name="JnlPrintFlag" type="xsd:string"/>
              <xsd:element name="AuditorsPasswordInUse" type="xsd:string"/>
              <xsd:element name="GeneralLedgerJournalDetail" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GlCode" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="EntryDate" type="xsd:string"/>
                    <xsd:element name="Reference" type="xsd:string"/>
                    <xsd:element name="EntryValue" type="xsd:string"/>
                    <xsd:element name="EntryType" type="xsd:string"/>
                    <xsd:element name="Comment" type="xsd:string"/>
                    <xsd:element name="InterCompanyFlag" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
