Schemas7/GENQBGOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the GL Balancing GrnsQuery Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GlBalanceGrns">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="OperatorLocation" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GlYear" minOccurs="0"/>
              <xsd:element name="GlPeriod" minOccurs="0"/>
              <xsd:element name="ReportType" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" minOccurs="0"/>
              <xsd:element name="CheckNormalJournalEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckNormalJournalEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckUnpostedGlJournalEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckUnpostedGlJournalEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckUnpostedSubModuleEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckUnpostedSubModuleEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckGlTransactionToJournal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckGlTransactionToJournal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckGlJournalToSubModule" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckGlJournalToSubModule" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckDuplicatePostedGlTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckDuplicatePostedGlTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckDuplicateUnPostedGlTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckDuplicateUnPostedGlTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckApJournalToGrnMatched" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckApJournalToGrnMatched" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckInvJournalToGrnDetail" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckInvJournalToGrnDetail" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeZeroValueEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeZeroValueEntries" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BalancingEntries" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BalancingEntry" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="EntryIndicator" minOccurs="0"/>
                    <xsd:element name="Translated_EntryIndicator" minOccurs="0"/>
                    <xsd:element name="Company" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LedgerCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlYear" minOccurs="0"/>
                    <xsd:element name="GlPeriod" minOccurs="0"/>
                    <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlJournalNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JournalYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JournalMonth" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Entry" minOccurs="0"/>
                    <xsd:element name="SubEntry" minOccurs="0"/>
                    <xsd:element name="TransactionAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_TransactionAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JournalAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_JournalAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TranscationCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_TransactionCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JnlDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdditionalReference" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="GrnAdjValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_GrnAdjValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DistrValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_DistrValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EntryValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_EntryValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MatchedValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_MatchedValue" minOccurs="0"/>
                    <xsd:element name="ZoomSource" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EntryDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AddReference2" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="Origin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_Value" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="TrnValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_TrnValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Grn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GrnValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_GrnValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Balance" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Balance" minOccurs="0"/>
                    <xsd:element name="Difference" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Difference" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalEntry" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="EntryIndicator" minOccurs="0"/>
                    <xsd:element name="Translated_EntryIndicator" minOccurs="0"/>
                    <xsd:element name="GlIntegration" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_GlIntegration" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlControlTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_GlControlTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NormalJournalEntriesTotal" minOccurs="0"/>
                    <xsd:element name="Edited_NormalJournalEntriesTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnpostedGlJournalEntriesTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_UnpostedGlJournalEntriesTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnpostedApEntriesTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_UnpostedApEntriesTotal" minOccurs="0"/>
                    <xsd:element name="UnpostedGrnEntriesTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_UnpostedGrnEntriesTotal" minOccurs="0"/>
                    <xsd:element name="UnpostedInvEntriesTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_UnpostedInvEntriesTotal" minOccurs="0"/>
                    <xsd:element name="UnpostedSubModuleEntriesTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_UnpostedSubModuleEntriesTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlTransactionToJournalTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_GlTransactionToJournalTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlJournalToSubModuleTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_GlJournalToSubModuleTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DuplicatePostedGlTransactionsTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_DuplicatePostedGlTransactionsTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DuplicateUnPostedGlTransactionsTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_DuplicateUnPostedGlTransactionsTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ApJournalToGrnMatched" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ApJournalToGrnMatched" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvJournalToGrnDetail" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_InvJournalToGrnDetail" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReCalculatedFinalBalance" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ReCalculatedFinalBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GrnControlTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_GrnControlTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReCalculatedDifference" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ReCalculatedDifference" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
