Schemas7/GENQ08.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the GL List of Accounts Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Filter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GlGroup" minOccurs="0"/>
				<xsd:element ref="GlCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Sequence" minOccurs="0"/>
				<xsd:element ref="IncludeAssets" minOccurs="0"/>
				<xsd:element ref="IncludeLiabilities" minOccurs="0"/>
				<xsd:element ref="IncludeCapital" minOccurs="0"/>
				<xsd:element ref="IncludeRevenue" minOccurs="0"/>
				<xsd:element ref="IncludeExpenses" minOccurs="0"/>
				<xsd:element ref="IncludeStatistical" minOccurs="0"/>
				<xsd:element ref="IncludeTemplate" minOccurs="0"/>
				<xsd:element ref="XslStylesheet" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
				<xsd:element ref="Filter"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Sequence">
		<xsd:annotation>
			<xsd:documentation>Determines on what the values returned are sorted. (L - Ledger Code, D - Description, G - Group, 1 - Report Index 1, 2  - Report Index 2. If no value is supplied then a default value of 'L' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;L=Ledger Code;D=Description;G=Group;1=Report Index 1;2=Report Index 2"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="L"/>
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="G"/>
				<xsd:enumeration value="1"/>
				<xsd:enumeration value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAssets">
		<xsd:annotation>
			<xsd:documentation>Indicates whether data for Asset Accounts will be returned. (Y - Yes, N  - No. If no value is supplied then a default value of 'Y' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeCapital">
		<xsd:annotation>
			<xsd:documentation>Indicates whether data for Capital Accounts will be returned. (Y - Yes, N  - No. If no value is supplied then a default value of 'Y' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeLiabilities">
		<xsd:annotation>
			<xsd:documentation>Indicates whether data for Liability Accounts will be returned. (Y - Yes, N  - No. If no value is supplied then a default value of 'Y' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeRevenue">
		<xsd:annotation>
			<xsd:documentation>Indicates whether data for Revenue Accounts will be returned. (Y - Yes, N  - No. If no value is supplied then a default value of 'Y' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeExpenses">
		<xsd:annotation>
			<xsd:documentation>Indicates whether data for Expense Accounts will be returned. (Y - Yes, N  - No. If no value is supplied then a default value of 'Y' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeStatistical">
		<xsd:annotation>
			<xsd:documentation>Indicates whether data for Statistical Accounts will be returned. (Y - Yes, N  - No. If no value is supplied then a default value of 'Y' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeTemplate">
		<xsd:annotation>
			<xsd:documentation>Indicates whether data for Template Accounts will be returned. (Y - Yes, N  - No. If no value is supplied then a default value of 'Y' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlGroup">
		<xsd:annotation>
			<xsd:documentation>All,  Single selection of G/L Groups to be returned. FilterType options - A(All), (S)Single. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GlCode">
		<xsd:annotation>
			<xsd:documentation>All,  Single selection of G/L Codes to be returned. FilterType options - A(All), (R) Range, (S)Single. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;R=Range;S=Single"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="XslStylesheet">
		<xsd:annotation>
			<xsd:documentation>The style sheet to be applied</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
</xsd:schema>
