Schemas7/GENQ09OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the GL List of Budgets Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="GlListOfBudgets" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GlListOfBudgets">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BudgetSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BudgetSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportHeading" minOccurs="0"/>
              <xsd:element name="IncludeAssets" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeAssets" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeLiabilities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeLiabilities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCapital" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeCapital" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeRevenue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeRevenue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeExpenses" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeExpenses" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeStatistical" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeStatistical" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarnIfUndefined" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarnIfUndefined" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ZeroBudgets" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ZeroBudgets" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlGroupFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GlGroupFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlGroupFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GlCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlCodeFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BudgetItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BudgetDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccountType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_AccountType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Group" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GENGRP_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warning" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastModified" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlCodeTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_GlCodeTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="GroupTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GroupTotal" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Group" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GENGRP_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AssetGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="AssetGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGrandTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="LiabilityGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="LiabilityGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGrandTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="CapitalGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CapitalGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGrandTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="RevenueGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="RevenueGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGrandTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="ExpensesGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ExpensesGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGrandTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="ProfitGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ProfitGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGrandTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NoOfAccountsListed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BudgetPeriods" minOccurs="0"/>
              <xsd:element name="BudgetDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="AssetGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="LiabilityTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="LiabilityGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CapitalTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CapitalGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal3" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal7" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal15" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="RevenueTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RevenueGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal8" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ExpensesTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ExpensesGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal10" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ProfitTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ProfitGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
