Schemas7/GENQ60OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema List for the GL Global Tax Report Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="GLGlobalTaxReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="GLGlobalTaxReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TaxSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ECVATSystemRequired" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ECSubmissionYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ECSubmissionPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ECYearSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ECPeriodSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowTransactionPurge" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TransactionDateSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TransactionDateSelectionFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TaxReports">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FederalTaxReqd" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GST" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="APDetailedTaxReport" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="APJournals" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="APJournalItem" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="APJournalHeader" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="JournalNo" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="JournalInvoiceDetails" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="JournalInvoiceDetail" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="InvoiceNo" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="InvoiceType" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="InvoiceTypeDesc" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="InvoiceAmount" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="DiscountAmount" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="MerchandiseAmount" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="TaxAmount" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="QstAmount" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="TaxCodeDetails" minOccurs="0" maxOccurs="unbounded">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="TaxCodeDetail" minOccurs="0" maxOccurs="unbounded">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="GSTDistributionCode" type="xsd:string" minOccurs="0"/>
																												<xsd:element name="TaxDistributionCode" type="xsd:string" minOccurs="0"/>
																												<xsd:element name="GSTDistributionAmount" type="xsd:double" minOccurs="0"/>
																												<xsd:element name="TaxDistributionAmount" type="xsd:double" minOccurs="0"/>
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="APJournalItemTotals" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="TotalInvoiceAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="TotalDiscountAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="TotalMerchandiseAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="TotalTaxAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="TotalQstAmount" type="xsd:double" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="APCompanyTotals" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="APJournalsTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="TotalInvoiceAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="TotalDiscountAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="TotalMerchandiseAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="TotalTaxAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="TotalQstAmount" type="xsd:double" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="APTaxCodeTotals" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="APTaxCodeTotal" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="GSTCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="GSTCodeDesc" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxCodeDesc" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="GSTRate" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxRate" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TotalMerchandiseAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="TotalTaxAmount" type="xsd:double" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CBDetailedTaxReport" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="WithdrawalTax" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CBWithdrawalJournals" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CBWithdrawalJournalItem" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="CBWithdrawalJournalHeader" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="JournalNo" type="xsd:double" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="JournalWithdrawalBankDetails" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="JournalWithdrawalBankDetail" minOccurs="0" maxOccurs="unbounded">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="Entry" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Date" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="TrnAmount" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="TaxAmount" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="EntryType" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="ChequeNo" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="WithdrawalTaxCodeDetails" minOccurs="0" maxOccurs="unbounded">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="WithdrawalTaxCodeDetail" minOccurs="0" maxOccurs="unbounded">
																													<xsd:complexType>
																														<xsd:sequence>
																															<xsd:element name="GSTDistributionCode" type="xsd:string" minOccurs="0"/>
																															<xsd:element name="TaxDistributionCode" type="xsd:string" minOccurs="0"/>
																															<xsd:element name="GSTDistributionAmount" type="xsd:double" minOccurs="0"/>
																															<xsd:element name="TaxDistributionAmount" type="xsd:double" minOccurs="0"/>
																														</xsd:sequence>
																													</xsd:complexType>
																												</xsd:element>
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="CBWithdrawalJournalItemTotals" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="TotalTrnAmount" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="TotalTaxAmount" type="xsd:double" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="CBWithdrawalCompanyTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CBWithdrawalJournalsTotal" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="TotalTrnAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="TotalTaxAmount" type="xsd:double" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="CBWithdrawalTaxCodeTotals" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="CBWithdrawalTaxCodeTotal" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="GSTCode" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="GSTCodeDesc" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="TaxCodeDesc" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="GSTRate" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="TaxRate" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="TotalTrnAmount" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="TotalTaxAmount" type="xsd:double" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="DepositTax" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CBDepositJournals" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CBDepositJournalItem" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="CBDepositJournalHeader" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="JournalNo" type="xsd:double" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="JournalDepositBankDetails" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="JournalDepositBankDetail" minOccurs="0" maxOccurs="unbounded">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="Entry" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Date" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="TrnAmount" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="TaxAmount" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="EntryType" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="DepositTaxCodeDetails" minOccurs="0" maxOccurs="unbounded">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="DepositTaxCodeDetail" minOccurs="0" maxOccurs="unbounded">
																													<xsd:complexType>
																														<xsd:sequence>
																															<xsd:element name="GSTDistributionCode" type="xsd:string" minOccurs="0"/>
																															<xsd:element name="TaxDistributionCode" type="xsd:string" minOccurs="0"/>
																															<xsd:element name="GSTDistributionAmount" type="xsd:double" minOccurs="0"/>
																															<xsd:element name="TaxDistributionAmount" type="xsd:double" minOccurs="0"/>
																														</xsd:sequence>
																													</xsd:complexType>
																												</xsd:element>
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="CBDepositJournalItemTotals" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="TotalTrnAmount" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="TotalTaxAmount" type="xsd:double" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="CBDepositCompanyTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CBDepositJournalsTotal" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="TotalTrnAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="TotalTaxAmount" type="xsd:double" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="CBDepositTaxCodeTotals" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="CBDepositTaxCodeTotal" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="GSTCode" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="GSTCodeDesc" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="TaxCodeDesc" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="GSTRate" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="TaxRate" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="TotalTrnAmount" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="TotalTaxAmount" type="xsd:double" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SalesAnalysisDetailedTaxReport" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="InvoiceDetails" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="InvoiceDetail" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Year" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Month" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Register" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceNo" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Date" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CustomerNo" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TaxExemptNumber" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CashCredit" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TaxExemptORide" type="xsd:string" minOccurs="0"/>
																<xsd:element name="InvoiceAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="ExemptAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="NonExemptAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="TaxableValue" type="xsd:double" minOccurs="0"/>
																<xsd:element name="GSTCode" type="xsd:string" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Please note that this node does not get populated by the BO. Please refer to the matching node under SATaxCodeDetail.</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="TaxCode" type="xsd:string" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Please note that this node does not get populated by the BO. Please refer to the matching node under SATaxCodeDetail.</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="GSTAmount" type="xsd:double" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Please note that this node does not get populated by the BO. Please refer to the matching node under SATaxCodeDetail.</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="TaxAmount" type="xsd:double" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Please note that this node does not get populated by the BO. Please refer to the matching node under SATaxCodeDetail.</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="SATaxCodeDetails" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="SATaxCodeDetail" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="GSTCode" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="GSTAmount" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="TaxAmount" type="xsd:double" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SATaxCodeTotals" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SATaxCodeTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="GSTCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GSTCodeDesc" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TaxCodeDesc" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GSTRate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TaxRate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TotalMerchandiseAmount" type="xsd:double" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TaxSummaryTotals">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SummaryTaxCodes" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GSTCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GSTCodeDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxCodeDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GSTRate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxRate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OutputMerchandiseAmount" type="xsd:double" minOccurs="0"/>
										<xsd:element name="OutputTaxAmount" type="xsd:double" minOccurs="0"/>
										<xsd:element name="InputMerchandiseAmount" type="xsd:double" minOccurs="0"/>
										<xsd:element name="InputTaxAmount" type="xsd:double" minOccurs="0"/>
										<xsd:element name="ECTaxAmount" type="xsd:double" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SummaryTaxCodeTotal" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="TotalOutputMerchandiseAmount" type="xsd:double" minOccurs="0"/>
										<xsd:element name="TotalOutputTaxAmount" type="xsd:double" minOccurs="0"/>
										<xsd:element name="TotalInputMerchandiseAmount" type="xsd:double" minOccurs="0"/>
										<xsd:element name="TotalInputTaxAmount" type="xsd:double" minOccurs="0"/>
										<xsd:element name="TotalECTaxAmount" type="xsd:double" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
