Schemas7/GENQMG.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the GL Matched GRNs Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LedgerCode" minOccurs="0"/>
        <xsd:element ref="LedgerYear" minOccurs="0"/>
        <xsd:element ref="LedgerPeriod" minOccurs="0"/>
        <xsd:element ref="Supplier" minOccurs="0"/>
        <xsd:element ref="PurchaseOrder" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LedgerCode">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of Ledger Codes to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LedgerPeriod">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of Ledger Periods to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LedgerYear">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of Ledger Years to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ReportType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Indicates whether the report must be in detail(D)  or summary(S). If not element is supplied then a default value of D will be used.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="D"/>
              <xsd:enumeration value="S"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="NewPagePerLedger" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Used to indicate if a neweach ledger must be printed on a new page. Y - yes and N - no. If no value is passed then a default value of N will be used.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PurchaseOrder">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of Purchase Orders to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Supplier">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of Suppliers to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
