Schemas7/GENQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the General Ledger Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="GeneralLedgerOptions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DefaultBrowseSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RevOutProvJnls" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlobalTaxFileReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShowAccBalInGlCodeBrowse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PwdReqForIndivGlAccs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IntegFromSlAtGlCodeLevel" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AnalysisEntriesAssets" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AnalysisEntriesLiabilities" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AnalysisEntriesCapital" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AnalysisEntriesRevenue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AnalysisEntriesExpense" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Budget">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BudgetProcAtYearEnd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="VariableBudgetSpread" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ZeroiseGrpBudSpreads" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BudgetReqYePeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescAltBud1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescAltBud2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescAltBud3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescAltBud4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescAltBud5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescAltBud6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescAltBud7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescAltBud8" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="History">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="YrsRetSummHistOfBals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YrsRetDetTranHist" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPerRetPostedJnls" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPerRetExpRecJnls" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPeRetPostedGrpEnt" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Periods">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GlCurrDatePeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrDatePeriod14" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrFlagPeriod14" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevDatePeriod14" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrevFlagPeriod14" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Balances">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CurrBalAssets" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrBalLiabilities" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrBalCapital" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrBalRevenue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrBalExpenses" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Information">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GlNextJnlPrevYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlNextJnlCurrYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlNextJnlNextYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlNexAnalysisNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlOldestYearDet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlProvEntryFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlNextGrpPrevYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlNextGrpCurrYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlNextGrpNextYear" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CurrentPeriod">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GlCurrentYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCurrentMonth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AccPeriodsPerYear" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Commitments">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CommitmentsOffClearData" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CommitAccReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RequistionsRequired" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValidateBudgetUncomm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RetCompTransUncomm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AddToBudAtYearEndUncomm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PurchaseOrdersRequired" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValidateBudgetComm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RetCompTransComm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AddToBudAtYearEndComm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarnIfBudgetExceeded" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UnallocText" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Journals">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AuthJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AuthSubModJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LimitViewOfJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextJournalByPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearForFixJnlPerPrev1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerPrev14" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearForFixJnlPerCurr1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerCurr14" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearForFixJnlPerNext1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JnlForFixJnlPerNext14" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Structure">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GlStructureReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberOfSectionsReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SectionAnalysisReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BudgetAnalysisReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PurchCommitReq" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
