Schemas7/GENQGAOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the GL Analysis Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GLAnalysisQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Section">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Currency" type="xsd:string"/>
              <xsd:element name="Company" type="xsd:string"/>
              <xsd:element name="SectionNumber" type="xsd:string"/>
              <xsd:element name="SectionNumberDescription" type="xsd:string"/>
              <xsd:element name="SectionCode" type="xsd:string"/>
              <xsd:element name="ParentSectionCode" type="xsd:string"/>
              <xsd:element name="ParentSectionDescription" type="xsd:string"/>
              <xsd:element name="CurrentLedgerYear" type="xsd:string"/>
              <xsd:element name="CurrentLedgerPeriod" type="xsd:string"/>
              <xsd:element name="LedgerPeriodsInYear" type="xsd:string"/>
              <xsd:element name="BalancesAtPeriodEnd">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GlYear" type="xsd:string"/>
                    <xsd:element name="Asset">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="BeginYearBalance" type="xsd:string"/>
                          <xsd:element name="Period1" type="xsd:string"/>
                          <xsd:element name="Period2" type="xsd:string"/>
                          <xsd:element name="Period3" type="xsd:string"/>
                          <xsd:element name="Period4" type="xsd:string"/>
                          <xsd:element name="Period5" type="xsd:string"/>
                          <xsd:element name="Period6" type="xsd:string"/>
                          <xsd:element name="Period7" type="xsd:string"/>
                          <xsd:element name="Period8" type="xsd:string"/>
                          <xsd:element name="Period9" type="xsd:string"/>
                          <xsd:element name="Period10" type="xsd:string"/>
                          <xsd:element name="Period11" type="xsd:string"/>
                          <xsd:element name="Period12" type="xsd:string"/>
                          <xsd:element name="Period13" type="xsd:string"/>
                          <xsd:element name="Period14" type="xsd:string"/>
                          <xsd:element name="Period15" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Capital">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="BeginYearBalance" type="xsd:string"/>
                          <xsd:element name="Period1" type="xsd:string"/>
                          <xsd:element name="Period2" type="xsd:string"/>
                          <xsd:element name="Period3" type="xsd:string"/>
                          <xsd:element name="Period4" type="xsd:string"/>
                          <xsd:element name="Period5" type="xsd:string"/>
                          <xsd:element name="Period6" type="xsd:string"/>
                          <xsd:element name="Period7" type="xsd:string"/>
                          <xsd:element name="Period8" type="xsd:string"/>
                          <xsd:element name="Period9" type="xsd:string"/>
                          <xsd:element name="Period10" type="xsd:string"/>
                          <xsd:element name="Period11" type="xsd:string"/>
                          <xsd:element name="Period12" type="xsd:string"/>
                          <xsd:element name="Period13" type="xsd:string"/>
                          <xsd:element name="Period14" type="xsd:string"/>
                          <xsd:element name="Period15" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Liability">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="BeginYearBalance" type="xsd:string"/>
                          <xsd:element name="Period1" type="xsd:string"/>
                          <xsd:element name="Period2" type="xsd:string"/>
                          <xsd:element name="Period3" type="xsd:string"/>
                          <xsd:element name="Period4" type="xsd:string"/>
                          <xsd:element name="Period5" type="xsd:string"/>
                          <xsd:element name="Period6" type="xsd:string"/>
                          <xsd:element name="Period7" type="xsd:string"/>
                          <xsd:element name="Period8" type="xsd:string"/>
                          <xsd:element name="Period9" type="xsd:string"/>
                          <xsd:element name="Period10" type="xsd:string"/>
                          <xsd:element name="Period11" type="xsd:string"/>
                          <xsd:element name="Period12" type="xsd:string"/>
                          <xsd:element name="Period13" type="xsd:string"/>
                          <xsd:element name="Period14" type="xsd:string"/>
                          <xsd:element name="Period15" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Revenue">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="BeginYearBalance" type="xsd:string"/>
                          <xsd:element name="Period1" type="xsd:string"/>
                          <xsd:element name="Period2" type="xsd:string"/>
                          <xsd:element name="Period3" type="xsd:string"/>
                          <xsd:element name="Period4" type="xsd:string"/>
                          <xsd:element name="Period5" type="xsd:string"/>
                          <xsd:element name="Period6" type="xsd:string"/>
                          <xsd:element name="Period7" type="xsd:string"/>
                          <xsd:element name="Period8" type="xsd:string"/>
                          <xsd:element name="Period9" type="xsd:string"/>
                          <xsd:element name="Period10" type="xsd:string"/>
                          <xsd:element name="Period11" type="xsd:string"/>
                          <xsd:element name="Period12" type="xsd:string"/>
                          <xsd:element name="Period13" type="xsd:string"/>
                          <xsd:element name="Period14" type="xsd:string"/>
                          <xsd:element name="Period15" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Expense">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="BeginYearBalance" type="xsd:string"/>
                          <xsd:element name="Period1" type="xsd:string"/>
                          <xsd:element name="Period2" type="xsd:string"/>
                          <xsd:element name="Period3" type="xsd:string"/>
                          <xsd:element name="Period4" type="xsd:string"/>
                          <xsd:element name="Period5" type="xsd:string"/>
                          <xsd:element name="Period6" type="xsd:string"/>
                          <xsd:element name="Period7" type="xsd:string"/>
                          <xsd:element name="Period8" type="xsd:string"/>
                          <xsd:element name="Period9" type="xsd:string"/>
                          <xsd:element name="Period10" type="xsd:string"/>
                          <xsd:element name="Period11" type="xsd:string"/>
                          <xsd:element name="Period12" type="xsd:string"/>
                          <xsd:element name="Period13" type="xsd:string"/>
                          <xsd:element name="Period14" type="xsd:string"/>
                          <xsd:element name="Period15" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Budgets">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="BudgetType" type="xsd:string"/>
                    <xsd:element name="Asset">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Period1" type="xsd:string"/>
                          <xsd:element name="Period2" type="xsd:string"/>
                          <xsd:element name="Period3" type="xsd:string"/>
                          <xsd:element name="Period4" type="xsd:string"/>
                          <xsd:element name="Period5" type="xsd:string"/>
                          <xsd:element name="Period6" type="xsd:string"/>
                          <xsd:element name="Period7" type="xsd:string"/>
                          <xsd:element name="Period8" type="xsd:string"/>
                          <xsd:element name="Period9" type="xsd:string"/>
                          <xsd:element name="Period10" type="xsd:string"/>
                          <xsd:element name="Period11" type="xsd:string"/>
                          <xsd:element name="Period12" type="xsd:string"/>
                          <xsd:element name="Period13" type="xsd:string"/>
                          <xsd:element name="Period14" type="xsd:string"/>
                          <xsd:element name="Period15" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Capital">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Period1" type="xsd:string"/>
                          <xsd:element name="Period2" type="xsd:string"/>
                          <xsd:element name="Period3" type="xsd:string"/>
                          <xsd:element name="Period4" type="xsd:string"/>
                          <xsd:element name="Period5" type="xsd:string"/>
                          <xsd:element name="Period6" type="xsd:string"/>
                          <xsd:element name="Period7" type="xsd:string"/>
                          <xsd:element name="Period8" type="xsd:string"/>
                          <xsd:element name="Period9" type="xsd:string"/>
                          <xsd:element name="Period10" type="xsd:string"/>
                          <xsd:element name="Period11" type="xsd:string"/>
                          <xsd:element name="Period12" type="xsd:string"/>
                          <xsd:element name="Period13" type="xsd:string"/>
                          <xsd:element name="Period14" type="xsd:string"/>
                          <xsd:element name="Period15" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Liability">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Period1" type="xsd:string"/>
                          <xsd:element name="Period2" type="xsd:string"/>
                          <xsd:element name="Period3" type="xsd:string"/>
                          <xsd:element name="Period4" type="xsd:string"/>
                          <xsd:element name="Period5" type="xsd:string"/>
                          <xsd:element name="Period6" type="xsd:string"/>
                          <xsd:element name="Period7" type="xsd:string"/>
                          <xsd:element name="Period8" type="xsd:string"/>
                          <xsd:element name="Period9" type="xsd:string"/>
                          <xsd:element name="Period10" type="xsd:string"/>
                          <xsd:element name="Period11" type="xsd:string"/>
                          <xsd:element name="Period12" type="xsd:string"/>
                          <xsd:element name="Period13" type="xsd:string"/>
                          <xsd:element name="Period14" type="xsd:string"/>
                          <xsd:element name="Period15" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Revenue">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Period1" type="xsd:string"/>
                          <xsd:element name="Period2" type="xsd:string"/>
                          <xsd:element name="Period3" type="xsd:string"/>
                          <xsd:element name="Period4" type="xsd:string"/>
                          <xsd:element name="Period5" type="xsd:string"/>
                          <xsd:element name="Period6" type="xsd:string"/>
                          <xsd:element name="Period7" type="xsd:string"/>
                          <xsd:element name="Period8" type="xsd:string"/>
                          <xsd:element name="Period9" type="xsd:string"/>
                          <xsd:element name="Period10" type="xsd:string"/>
                          <xsd:element name="Period11" type="xsd:string"/>
                          <xsd:element name="Period12" type="xsd:string"/>
                          <xsd:element name="Period13" type="xsd:string"/>
                          <xsd:element name="Period14" type="xsd:string"/>
                          <xsd:element name="Period15" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Expense">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Period1" type="xsd:string"/>
                          <xsd:element name="Period2" type="xsd:string"/>
                          <xsd:element name="Period3" type="xsd:string"/>
                          <xsd:element name="Period4" type="xsd:string"/>
                          <xsd:element name="Period5" type="xsd:string"/>
                          <xsd:element name="Period6" type="xsd:string"/>
                          <xsd:element name="Period7" type="xsd:string"/>
                          <xsd:element name="Period8" type="xsd:string"/>
                          <xsd:element name="Period9" type="xsd:string"/>
                          <xsd:element name="Period10" type="xsd:string"/>
                          <xsd:element name="Period11" type="xsd:string"/>
                          <xsd:element name="Period12" type="xsd:string"/>
                          <xsd:element name="Period13" type="xsd:string"/>
                          <xsd:element name="Period14" type="xsd:string"/>
                          <xsd:element name="Period15" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
