Schemas7/GENQSIOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the GL Integration Query Business Object.
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Company">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
	</xsd:element>
	<xsd:element name="GlIntegrationQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GeneralLedger">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ApIntegrationLevel"/>
							<xsd:element name="CreateApGlJournal"/>
							<xsd:element name="PostApGlJournal"/>
							<xsd:element name="ForceCheckNo"/>
							<xsd:element name="ForceApGlAnalysis"/>
							<xsd:element name="ArIntegrationLevel"/>
							<xsd:element name="CreateArGlJournal"/>
							<xsd:element name="PostArGlJournal"/>
							<xsd:element name="ForceArGlAnalysis"/>
							<xsd:element name="CbIntegrationLevel"/>
							<xsd:element name="CreateCbGlJournal"/>
							<xsd:element name="PostCbGlJournal"/>
							<xsd:element name="ForceCbGlAnalysis"/>
							<xsd:element name="InvIntegrationLevel"/>
							<xsd:element name="CreateInvGlJournal"/>
							<xsd:element name="PostInvGlJournal"/>
							<xsd:element name="ForceInvGlAnalysis"/>
							<xsd:element name="AssIntegrationLevel"/>
							<xsd:element name="CreateAssGlJournal"/>
							<xsd:element name="PostAssGlJournal"/>
							<xsd:element name="ForceAssGlAnalysis"/>
							<xsd:element name="WipIntegrationLevel"/>
							<xsd:element name="CreateWipGlJournal"/>
							<xsd:element name="PostWipGlJournal"/>
							<xsd:element name="ForceWipGlAnalysis"/>
							<xsd:element name="ForcedBalanceControl"/>
							<xsd:element name="RetainedEarningsControl"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Payables">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ApDefMerchandiseControl"/>
							<xsd:element name="ApDefFreightControl"/>
							<xsd:element name="ApInputTaxControl"/>
							<xsd:element name="ApSetDiscTaxControl"/>
							<xsd:element name="ApEcVatAcquisitionControl"/>
							<xsd:element name="ApWithholdingTaxControl"/>
							<xsd:element name="ApDefaultQstControl"/>
							<xsd:element name="ApQstDiscountControl"/>
							<xsd:element name="ApContraSuspenseControl"/>
							<xsd:element name="ApTaxReliefControl"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Receivables">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ArExchRateVarControl"/>
							<xsd:element name="ArAdjValTaxControl"/>
							<xsd:element name="ArWithholdingTaxControl"/>
							<xsd:element name="ArContraSuspense"/>
							<xsd:element name="ArTaxReliefControl"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CashBook">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CbInterCompanyControl"/>
							<xsd:element name="CbTaxDepositControl"/>
							<xsd:element name="CbTaxWithdrawalControl"/>
							<xsd:element name="CbIntBankTrfSusControl"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Inventory">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InvNonStockedControl"/>
							<xsd:element name="InvCosAdjustmentControl"/>
							<xsd:element name="InvSubOperationsControl"/>
							<xsd:element name="InvGrnSuspenseControl"/>
							<xsd:element name="InvPurPrcVarControl"/>
							<xsd:element name="InvAbcCostVarControl"/>
							<xsd:element name="InvGitControl"/>
							<xsd:element name="InvDispNotInvControl"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Assets">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AssControl"/>
							<xsd:element name="AssProfLossControl"/>
							<xsd:element name="AssCapexProgressControl"/>
							<xsd:element name="AssRevResControl"/>
							<xsd:element name="AssClearingControl"/>
							<xsd:element name="AssDepreciationControl"/>
							<xsd:element name="AssAccDepreciationControl"/>
							<xsd:element name="AssIntCoClearingControl"/>
							<xsd:element name="AssProfLossIntCoControl"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Wip">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="WipControl"/>
							<xsd:element name="WipVarianceControl"/>
							<xsd:element name="WipAutoClearedVarControl"/>
							<xsd:element name="WipInspection"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TradePromotions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TpPromotionAccControl"/>
							<xsd:element name="TpPromotionExpControl"/>
							<xsd:element name="TpDedReceivableControl"/>
							<xsd:element name="TpDedResolutionControl"/>
							<xsd:element name="TpDedWriteOffControl"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
