Schemas7/GENSCODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd. -->
<!--
		This is the schema for GL Codes Maintenance Business Object 
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SetupGlCodes">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Item"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Key"/>
				<xsd:element ref="Description"/>
				<xsd:element ref="ReportIndex1" minOccurs="0"/>
				<xsd:element ref="ReportIndex2" minOccurs="0"/>
				<xsd:element ref="AccountType" minOccurs="0"/>
				<xsd:element ref="ExpenseType" minOccurs="0"/>
				<xsd:element ref="GlGroup" minOccurs="0"/>
				<xsd:element ref="BudgetMethod" minOccurs="0"/>
				<xsd:element ref="ControlAccFlag" minOccurs="0"/>
				<xsd:element ref="AccOnHldFlag" minOccurs="0"/>
				<xsd:element ref="TaxCode" minOccurs="0"/>
				<xsd:element ref="IntegrationMethod" minOccurs="0"/>
				<xsd:element ref="Tax2Code" minOccurs="0"/>
				<xsd:element ref="RevalCategory" minOccurs="0"/>
				<xsd:element ref="AltCurIndicator" minOccurs="0"/>
				<xsd:element ref="GlUnitOfMeasure" minOccurs="0"/>
				<xsd:element ref="BusinessProcessReq" minOccurs="0"/>
				<xsd:element ref="BusinessProcess1" minOccurs="0"/>
				<xsd:element ref="BusinessProcess2" minOccurs="0"/>
				<xsd:element ref="BusinessProcess3" minOccurs="0"/>
				<xsd:element ref="BusinessProcess4" minOccurs="0"/>
				<xsd:element ref="BusinessProcess5" minOccurs="0"/>
				<xsd:element ref="BusinessProcess6" minOccurs="0"/>
				<xsd:element ref="BusinessProcess7" minOccurs="0"/>
				<xsd:element ref="BusinessProcess8" minOccurs="0"/>
				<xsd:element ref="BusinessProcess9" minOccurs="0"/>
				<xsd:element ref="BusinessProcess10" minOccurs="0"/>
				<xsd:element ref="AnalysisRequired" minOccurs="0"/>
				<xsd:element ref="AnalysisCategory" minOccurs="0"/>
				<xsd:element ref="CurrentInd" minOccurs="0"/>
				<xsd:element ref="RetEarnsAccount" minOccurs="0"/>
				<xsd:element ref="TaxAccount" minOccurs="0"/>
				<xsd:element ref="InterestAccount" minOccurs="0"/>
				<xsd:element ref="PasswordReqd" minOccurs="0"/>
				<xsd:element ref="Password" minOccurs="0"/>
				<xsd:element ref="NewPassword" minOccurs="0"/>
				<xsd:element ref="DelPassword" minOccurs="0"/>
				<xsd:element ref="eSignature" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:annotation>
			<xsd:documentation>This is the key element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Company"/>
				<xsd:element ref="GlCode"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Company">
		<xsd:annotation>
			<xsd:documentation>Company code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlCode">
		<xsd:annotation>
			<xsd:documentation>GL code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Description">
		<xsd:annotation>
			<xsd:documentation>Ledger code description.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ReportIndex1">
		<xsd:annotation>
			<xsd:documentation>Report index 1</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ReportIndex2">
		<xsd:annotation>
			<xsd:documentation>Report index 2.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AccountType" default="A">
		<xsd:annotation>
			<xsd:documentation>Account type. Valid entries are A/C/E/L/R/S/T. If no value is entered, the default is an asset(A).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="L"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="T"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ExpenseType">
		<xsd:annotation>
			<xsd:documentation>Expense account code. Valid entries are M/F/O. If no expense code is entered, a default value is of M is assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlGroup">
		<xsd:annotation>
			<xsd:documentation>GL group.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BudgetMethod">
		<xsd:annotation>
			<xsd:documentation>Budget method. Valid entries are M/F/V/R. If no budget method entered, fixed method(F) is assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="V"/>
				<xsd:enumeration value="R"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ControlAccFlag">
		<xsd:annotation>
			<xsd:documentation>Control account flag.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AccOnHldFlag">
		<xsd:annotation>
			<xsd:documentation>Account on hold flag. Can be either "Y" or "N". If nothing is supplied a default of "N" is assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxCode">
		<xsd:annotation>
			<xsd:documentation>Tax code to be used as default during GL distribution in Cash Book deposits and withdrawals and AP invoice posting .
When using Descriptive Tax Codes, a descriptive tax code must be provided.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IntegrationMethod">
		<xsd:annotation>
			<xsd:documentation>Integration method. Valid entries are C/D/S.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="S"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Tax2Code">
		<xsd:annotation>
			<xsd:documentation>2nd Tax code to be used as default during ledger distribution in Cash Book deposits and withdrawals and AP invoice posting.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="RevalCategory">
		<xsd:annotation>
			<xsd:documentation>Revaluation category.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AltCurIndicator">
		<xsd:annotation>
			<xsd:documentation>Alternate currency Indicator.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlUnitOfMeasure">
		<xsd:annotation>
			<xsd:documentation>Unit of measure.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BusinessProcessReq">
		<xsd:annotation>
			<xsd:documentation>Business processes required flag. Valid entries are "Y/N". If nothing is entered, a "N" is assumed. If this value is changed to "N", the Business Process elements will be cleared.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BusinessProcess1">
		<xsd:annotation>
			<xsd:documentation>Type of business process for which posting is allowed. Business processes can be found in the PRG directory, in a file called IMPGLB.IMP or in a customized file called CUSGLB.IMP. You cannot define the same business process against a ledger code more than once.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BusinessProcess2">
		<xsd:annotation>
			<xsd:documentation>Type of business process for which posting is allowed. Business processes can be found in the PRG directory, in a file called IMPGLB.IMP or in a customized file called CUSGLB.IMP.  You cannot define the same business process against a ledger code more than once.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BusinessProcess3">
		<xsd:annotation>
			<xsd:documentation>Type of business process for which posting is allowed. Business processes can be found in the PRG directory, in a file called IMPGLB.IMP or in a customized file called CUSGLB.IMP.  You cannot define the same business process against a ledger code more than once.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BusinessProcess4">
		<xsd:annotation>
			<xsd:documentation>Type of business process for which posting is allowed. Business processes can be found in the PRG directory, in a file called IMPGLB.IMP or in a customized file called CUSGLB.IMP.  You cannot define the same business process against a ledger code more than once.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BusinessProcess5">
		<xsd:annotation>
			<xsd:documentation>Type of business process for which posting is allowed. Business processes can be found in the PRG directory, in a file called IMPGLB.IMP or in a customized file called CUSGLB.IMP.  You cannot define the same business process against a ledger code more than once.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BusinessProcess6">
		<xsd:annotation>
			<xsd:documentation>Type of business process for which posting is allowed. Business processes can be found in the PRG directory, in a file called IMPGLB.IMP or in a customized file called CUSGLB.IMP.  You cannot define the same business process against a ledger code more than once.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BusinessProcess7">
		<xsd:annotation>
			<xsd:documentation>Type of business process for which posting is allowed. Business processes can be found in the PRG directory, in a file called IMPGLB.IMP or in a customized file called CUSGLB.IMP.  You cannot define the same business process against a ledger code more than once.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BusinessProcess8">
		<xsd:annotation>
			<xsd:documentation>Type of business process for which posting is allowed. Business processes can be found in the PRG directory, in a file called IMPGLB.IMP or in a customized file called CUSGLB.IMP.  You cannot define the same business process against a ledger code more than once.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BusinessProcess9">
		<xsd:annotation>
			<xsd:documentation>Type of business process for which posting is allowed. Business processes can be found in the PRG directory, in a file called IMPGLB.IMP or in a customized file called CUSGLB.IMP.  You cannot define the same business process against a ledger code more than once.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BusinessProcess10">
		<xsd:annotation>
			<xsd:documentation>Type of business process for which posting is allowed. Business processes can be found in the PRG directory, in a file called IMPGLB.IMP or in a customized file called CUSGLB.IMP.  You cannot define the same business process against a ledger code more than once.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AnalysisRequired">
		<xsd:annotation>
			<xsd:documentation>Analysis required flag.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AnalysisCategory">
		<xsd:annotation>
			<xsd:documentation>Analysis category</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CurrentInd">
		<xsd:annotation>
			<xsd:documentation>Current indicator flag to indicate whether an asset or liability account is current or non-current. Valid entries are "C" or space indicating not current. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RetEarnsAccount">
		<xsd:annotation>
			<xsd:documentation>Retained Earnings Account for Revenue/Expense accounts.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxAccount">
		<xsd:annotation>
			<xsd:documentation>Tax expense account flag. Valid entries are "Y" and "N". If nothing is entered a default of "N" is assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InterestAccount">
		<xsd:annotation>
			<xsd:documentation>Interest Expense or Income account flag. Valid entries are "Y" and "N". If nothing is entered a default of "N" is assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PasswordReqd">
		<xsd:annotation>
			<xsd:documentation>Password required flag. If this is not entered a "N" will be assumed, and any password entered will be ignored.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Password">
		<xsd:annotation>
			<xsd:documentation>Password</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NewPassword">
		<xsd:annotation>
			<xsd:documentation>This password will replace the current password on condition the old password is correct.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelPassword">
		<xsd:annotation>
			<xsd:documentation>If this element is set to "Y" the password against the GL code will be cleared on condition the existing password was entered correctly.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="eSignature" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>GUID for eSignatures</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
