Schemas7/GENSBUDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the GL Budgets Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Budget1">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 1. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget10">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 10. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget11">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 11. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget12">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 12. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget13">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 13. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget2">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 2. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget3">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 3. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget4">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 4. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget5">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 5. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget6">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 6. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget7">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 7. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget8">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 8. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Budget9">
    <xsd:annotation>
      <xsd:documentation>This element is the budget for period 9. It is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BudgetNumber">
    <xsd:annotation>
      <xsd:documentation>This element refers to the number of the alternate budget being created, maintained or deleted. For budget types C or N it must be 0. For budget type A it can be any number between 1-8. It is part of the key and mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="0"/>
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="2"/>
        <xsd:enumeration value="3"/>
        <xsd:enumeration value="4"/>
        <xsd:enumeration value="5"/>
        <xsd:enumeration value="6"/>
        <xsd:enumeration value="7"/>
        <xsd:enumeration value="8"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BudgetType">
    <xsd:annotation>
      <xsd:documentation>This element contains information on the type of the budget. It can only be, either C - (Current year), N - (Next year) or A - (Alternate budget). It is part of the key and is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="C"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="GlCode">
    <xsd:annotation>
      <xsd:documentation>This element contains the general ledger code that the budget is to be assigned against. It is part of the key and mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="RevisionLevel" minOccurs="0"/>
        <xsd:element ref="Budget1" minOccurs="0"/>
        <xsd:element ref="Budget2" minOccurs="0"/>
        <xsd:element ref="Budget3" minOccurs="0"/>
        <xsd:element ref="Budget4" minOccurs="0"/>
        <xsd:element ref="Budget5" minOccurs="0"/>
        <xsd:element ref="Budget6" minOccurs="0"/>
        <xsd:element ref="Budget7" minOccurs="0"/>
        <xsd:element ref="Budget8" minOccurs="0"/>
        <xsd:element ref="Budget9" minOccurs="0"/>
        <xsd:element ref="Budget10" minOccurs="0"/>
        <xsd:element ref="Budget11" minOccurs="0"/>
        <xsd:element ref="Budget12" minOccurs="0"/>
        <xsd:element ref="Budget13" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="GlCode"/>
        <xsd:element ref="BudgetType"/>
        <xsd:element ref="BudgetNumber"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RevisionLevel">
    <xsd:annotation>
      <xsd:documentation>This element contains the revision level. It can only be edited if budget type is A.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SetupGlBudgets">
    <xsd:annotation>
      <xsd:documentation>This is the root element. It is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
