Schemas7/GENSHIDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--
     Schema for the GL History Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SetupGlHistory">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Item"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>Mandatory element.This is the top element for all data required for the transaction. This element can occur multiple times as the business object caters for the posting additions and changes to the GL Initial History.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Key"/>
				<xsd:element ref="Currency"/>
				<xsd:element ref="CurSelectionFlag"/>
				<xsd:element ref="BeginYearBalance"/>
				<xsd:element ref="ClosingBalPer1"/>
				<xsd:element ref="ClosingBalPer2"/>
				<xsd:element ref="ClosingBalPer3"/>
				<xsd:element ref="ClosingBalPer4"/>
				<xsd:element ref="ClosingBalPer5"/>
				<xsd:element ref="ClosingBalPer6"/>
				<xsd:element ref="ClosingBalPer7"/>
				<xsd:element ref="ClosingBalPer8"/>
				<xsd:element ref="ClosingBalPer9"/>
				<xsd:element ref="ClosingBalPer10"/>
				<xsd:element ref="ClosingBalPer11"/>
				<xsd:element ref="ClosingBalPer12"/>
				<xsd:element ref="ClosingBalPer13"/>
				<xsd:element ref="ClosingBalPer14"/>
				<xsd:element ref="ClosingBalPer15"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Company"/>
				<xsd:element ref="GlCode"/>
				<xsd:element ref="GlYear"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Company" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This forms part of the key and denotes the company ID.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This forms part of the GL history key and indicates the ledger code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GlYear" type="xsd:double">
		<xsd:annotation>
			<xsd:documentation>This forms part of the GL history key and indicates the ledger year. Only history for 10 years prior to the current year can be captured. Any current and future year history can also not be entered.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Currency" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates which currency the GL history is being catured for. If the currency selection flag is not 'S'(Single), the local currency will be entered and assumed as the starting point for 'A'(All) currencies.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurSelectionFlag">
		<xsd:annotation>
			<xsd:documentation>This flag indicates whether all or a single currency GL history is being captured (A - All, S - Single).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="S"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BeginYearBalance" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the beginning of the year balance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer1" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 1.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer2" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 2.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer3" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 3.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer4" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 4.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer5" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 5.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer6" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 6.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer7" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 7.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer8" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 8.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer9" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 9.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer10" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 10.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer11" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 11.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer12" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 12.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer13" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 13.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer14" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 14.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClosingBalPer15" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates the closing balance for period 15.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
