Schemas7/GENTSIDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the GL Integration Transaction Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="GeneralLedgerIntegration">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element name="Company" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the Company ID.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GeneralLedger" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ApIntegrationLevel">
								<xsd:annotation>
									<xsd:documentation><![CDATA[Indicates the Account Payable module integration level. (R - Not linked to GL - distribution report, S - Linked to GL in summary, D - Linked to GL in detail). If no value is supplied then a default value of R will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CreateApGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you require GL Journals to be created for Accounts Payable transactions. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PostApGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you required GL Journals to be posted for the Accounts Payable module. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ForceCheckNo">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you would like check numbers to be forced in the Accounts Payable Module. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ForceApGlAnalysis">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates how you would like GL Analysis to be forced for Accounts Payable transactions. (E - Transaction entry, G - GL journal entry). If no value is supplied then a default value of E will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ArIntegrationLevel">
								<xsd:annotation>
									<xsd:documentation><![CDATA[Indicates the Account Receivable module integration level. (N - Not linked to GL - no distribution report, R - Not linked to GL - distribution report, S - Linked to GL in summary, D - Linked to GL in detail). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CreateArGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you require GL Journals to be created for the Accounts Receivable transactions. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PostArGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you required GL Journals to be posted for the Accounts Receivable module. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ForceArGlAnalysis">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates how you would like GL Analysis to be forced for Accounts Receivable transactions. (E - Transaction entry, G - GL journal posting). If no value is supplied then a default value of E will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CbIntegrationLevel">
								<xsd:annotation>
									<xsd:documentation><![CDATA[Indicates the Cash Book module integration level. (R - Not linked to GL - distribution report, S - Linked to GL in summary, D - Linked to GL in detail). If no value is supplied then a default value of R will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CreateCbGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you require GL Journals to be created for the Cash Book transactions. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PostCbGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you required GL Journals to be posted for the Cash Book module. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ForceCbGlAnalysis">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates how you would like GL Analysis to be forced for Cash Book transactions. (E - Transaction entry, G - GL journal entry). If no value is supplied then a default value of E will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvIntegrationLevel">
								<xsd:annotation>
									<xsd:documentation><![CDATA[Indicates the Inventory module integration level. (N - Not linked to GL - no distribution report, R - Not linked to GL - distribution report, S - Linked to GL in summary, D - Linked to GL in detail). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CreateInvGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you require GL Journals to be created for the Inventory transactions. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PostInvGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you required GL Journals to be posted for the Inventory module. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ForceInvGlAnalysis">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates how you would like GL Analysis to be forced for Inventory transactions. (E - Transaction entry, G - GL journal entry). If no value is supplied then a default value of E will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AssIntegrationLevel">
								<xsd:annotation>
									<xsd:documentation><![CDATA[Indicates the Asset module integration level. (N - Not linked to GL - no distribution report, R - Not linked to GL - distribution report, S - Linked to GL in summary, D - Linked to GL in detail). If no value is supplied then a default value of R will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CreateAssGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you require GL Journals to be created for the Asset transactions. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PostAssGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you required GL Journals to be posted for the Asset module. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ForceAssGlAnalysis">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates how you would like GL Analysis to be forced for Asset transactions. (E - Transaction entry, G - GL journal entry). If no value is supplied then a default value of E will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="WipIntegrationLevel">
								<xsd:annotation>
									<xsd:documentation><![CDATA[Indicates the WIP module integration level. (N - Not linked to GL - no distribution report, R - Not linked to GL - distribution report, S - Linked to GL in summary, D - Linked to GL in detail). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CreateWipGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you require GL Journals to be created for the WIP transactions. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PostWipGlJournal">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates if you required GL Journals to be posted for the WIP module. (N - No, Y - Yes). If no value is supplied then a default value of N will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ForceWipGlAnalysis">
								<xsd:annotation>
									<xsd:documentation><![CDATA[This indicates how you would like GL Analysis to be forced for WIP transactions. (E - Transaction entry, G - GL journal entry). If no value is supplied then a default value of E will be assumed.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ForcedBalanceControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger account for the forced balance transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RetainedEarningsControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger account for the retained earnings transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Payables" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ApDefMerchandiseControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Payable default merchandise transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ApDefFreightControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Payable default freight transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ApInputTaxControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Payable input tax transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ApSetDiscTaxControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Payable settlement discount tax transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ApEcVatAcquisitionControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Payable EC VAT on Acquisition transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ApWithholdingTaxControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Payable withholding tax transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ApDefaultQstControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Payable default QST transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ApQstDiscountControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Payable QST discount transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ApContraSuspenseControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Payable contra suspense transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ApTaxReliefControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Payable Tax Relief/Recovery transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Receivables" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ArExchRateVarControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Receivable exchange rate variance transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ArAdjValTaxControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Receivable adjustment value for tax transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ArWithholdingTaxControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Receivable withholding tax transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ArContraSuspense" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Receivable contra suspense transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ArTaxReliefControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Accounts Receivable Tax Relief/Recovery transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CashBook" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CbInterCompanyControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Cash Book inter-company transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CbTaxDepositControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Cash Book tax on deposit transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CbTaxWithdrawalControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Cash Book tax on withdrawal transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CbIntBankTrfSusControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Cash Book inter bank transfer suspense transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Inventory" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InvNonStockedControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Inventory non-stocked transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvCosAdjustmentControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Inventory cost of goods sold adjustment transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvSubOperationsControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Inventory subcontract operations transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvGrnSuspenseControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Inventory GRN suspense transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvPurPrcVarControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Inventory purchase price variance transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvAbcCostVarControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Inventory ABC costing variance transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvGitControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Inventory goods in transit transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvDispNotInvControl" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Inventory dispatched but not invoiced transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Assets" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AssControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Assets transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AssProfLossControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Assets profit and loss transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AssCapexProgressControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Assets capex in progress transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AssRevResControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Assets revaluation reserve transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AssClearingControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Assets clearing transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AssDepreciationControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Assets depreciation transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AssAccDepreciationControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Assets accumulated depreciation transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AssIntCoClearingControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Assets inter company clearing transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AssProfLossIntCoControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Assets profit and loss inter company transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Wip" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="WipControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the WIP transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="WipVarianceControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the WIP variance transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="WipAutoClearedVarControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the WIP automatically cleared variance transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="WipInspection">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the WIP inspection transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TradePromotions" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TpPromotionAccControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Trade promotions promotion accrual transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TpPromotionExpControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Trade promotions promotion expense transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TpDedReceivableControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Trade promotions deduction receivable transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TpDedResolutionControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Trade promotions deduction resolution transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TpDedWriteOffControl">
								<xsd:annotation>
									<xsd:documentation><![CDATA[ This indicates the General Ledger control account for the Trade promotions deduction writeoff transactions to be posted to.]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
