Schemas7/GENTANOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2014 SYSPRO Ltd.--><!--     Schema for GL Analysis Business Object--><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">  <xsd:element name="postglanalysis">    <xsd:complexType>      <xsd:sequence>        <xsd:element name="Item">          <xsd:complexType>            <xsd:sequence>              <xsd:element name="Transaction">                <xsd:complexType>                  <xsd:sequence>                    <xsd:element name="Key">                      <xsd:complexType>                        <xsd:sequence>                          <xsd:element name="Company" type="xsd:boolean"/>                          <xsd:element name="GlYear" type="xsd:short"/>                          <xsd:element name="GlPeriod" type="xsd:byte"/>                          <xsd:element name="AnalysisEntry" type="xsd:short"/>                        </xsd:sequence>                      </xsd:complexType>                    </xsd:element>                    <xsd:element name="GlCode" type="xsd:string"/>                    <xsd:element name="TotalAmount" type="xsd:decimal"/>                  </xsd:sequence>                </xsd:complexType>              </xsd:element>            </xsd:sequence>          </xsd:complexType>        </xsd:element>        <xsd:element name="StatusOfItems">          <xsd:complexType>            <xsd:sequence>              <xsd:element name="EntriesProcessed" type="xsd:boolean"/>              <xsd:element name="EntriesInvalid">                <xsd:complexType/>              </xsd:element>            </xsd:sequence>          </xsd:complexType>        </xsd:element>      </xsd:sequence>    </xsd:complexType>  </xsd:element></xsd:schema>