Schemas7/gl_balance_receivables_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     AR Balancing Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="GlBalanceReceivables" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GlBalanceReceivables">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GlYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckNormalJournalEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckNormalJournalEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckUnpostedGlJournalEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckUnpostedGlJournalEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckUnpostedSubModuleEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckUnpostedSubModuleEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckGlTransactionToJournal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckGlTransactionToJournal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckGlJournalToSubModule" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckGlJournalToSubModule" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckDuplicatePostedGlTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckDuplicatePostedGlTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckDuplicateUnPostedGlTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CheckDuplicateUnPostedGlTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeZeroValueEntries" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeZeroValueEntries" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BalancingEntries">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BalancingEntry" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="EntryIndicator" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This is to indicate the different types of transactions
1   = GL Control
2   = Other journal entries
3   = Un-posted GL journal entries
4a = Un-posted sub-module registers 
4b = Un-posted sub-module payments
5   = GL transaction to journal
6   = GL journal to sub-module
7   = Duplicate posted GL transactions
8   = Duplicate un-posted GL transactions
9   = Recalculated final balances
</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Translated_EntryIndicator" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This is to indicate the different types of transactions
1   = GL Control
2   = Other journal entries
3   = Un-posted GL journal entries
4a = Un-posted sub-module registers 
4b = Un-posted sub-module payments
5   = GL transaction to journal
6   = GL journal to sub-module
7   = Duplicate posted GL transactions
8   = Duplicate un-posted GL transactions
9   = Recalculated final balances
</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="LedgerCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Company" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlPeriod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrnYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrnMonth" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EntryNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EntryDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Entry" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JournalNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JnlDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Origin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EntryValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_EntryValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AddReference2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Register" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SummaryLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Amount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MerchandiseValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_MerchandiseValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FreightValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_FreightValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OtherValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_OtherValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_TaxValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PmtAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_PmtAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Discount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Discount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Adjustment" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Adjustment" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BankDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlIntUpdated" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlIntYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlIntPeriod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlJournal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TransactionYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TransactionPeriod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RegisterNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JournalNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JournalAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_JournalAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TransactionAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_TransactionAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Balance" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Balance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ZoomSource" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TotalEntry">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="EntryIndicator" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is to indicate the different types of transactions
1   = GL Control
2   = Other journal entries
3   = Un-posted GL journal entries
4a = Un-posted sub-module registers 
4b = Un-posted sub-module payments
5   = GL transaction to journal
6   = GL journal to sub-module
7   = Duplicate posted GL transactions
8   = Duplicate un-posted GL transactions
9   = Recalculated final balances
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Translated_EntryIndicator" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is to indicate the different types of transactions
1   = GL Control
2   = Other journal entries
3   = Un-posted GL journal entries
4a = Un-posted sub-module registers 
4b = Un-posted sub-module payments
5   = GL transaction to journal
6   = GL journal to sub-module
7   = Duplicate posted GL transactions
8   = Duplicate un-posted GL transactions
9   = Recalculated final balances
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="GlIntegration" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GlIntegration" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlControlTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GlControlTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NormalJournalEntriesTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_NormalJournalEntriesTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnpostedGlJournalEntriesTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_UnpostedGlJournalEntriesTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArInvoiceTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ArInvoiceTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArPaymentsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ArPaymentsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnpostedSubModuleEntriesTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_UnpostedSubModuleEntriesTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlTransactionToJournalTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GlTransactionToJournalTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlJournalToSubModuleTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_GlJournalToSubModuleTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DuplicatePostedGlTransactionsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_DuplicatePostedGlTransactionsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DuplicateUnPostedGlTransactionsTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_DuplicateUnPostedGlTransactionsTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReCalculatedFinalBalance" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ReCalculatedFinalBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArControlTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ArControlTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReCalculatedDifference" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ReCalculatedDifference" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
