Schemas7/gl_integration_setup_options_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-20147 SYSPRO Ltd.-->
<!-- 
     Schema for the GL Integration Options Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="GLLedgIntegrationOptionsReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GLApIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GLApIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GLArSalesIntegr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GLArSalesIntegr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ARCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ARCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ARPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ARPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ARForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ARForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GLArPaymIntegr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GLArPaymIntegr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="APCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_APCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="APPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_APPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForceCheckNo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ForceCheckNo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="APForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_APForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GLCbIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GLCbIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CBCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CBCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CBPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CBPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CBForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CBForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GLInvIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GLInvIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_InvCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_InvPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_InvForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GLAssIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GLAssIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tranlated_AssCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AssPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AssForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GLWipLabIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GLWipLabIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GLWipIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GLWipIntegration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WIPCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_WIPCreateGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WIPPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_WIPPostGLJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WIPForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_WIPForceGLAnalysis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GLForcedBalAcc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlRetEarningsAcc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApMerchGLAcc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApFreightGLAcc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApInputTaxGLAcc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApSettlementDiscType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ApSettlementDiscType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApSettlementDisc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApEcVatAcquGLAcc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApWithTaxGLAcc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApWithTax2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApWithTax2Acc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApAdjTax2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApAdjTax2Acc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApContra" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApAVTax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArExchVar" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArAdjustValType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ArAdjustValType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArTaxAdjustVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArWithTax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ArContra" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbInterCo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbTaxDeposits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbTaxWithdr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CbIbkTrf" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvNonStock" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCostGoods" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvSubOps" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvGrnSuspense" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPpv" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvAbcVar" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvGit" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvDispNotInv" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssControl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssPrfLoss" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssPlOut" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssCapexWip" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssRevalRes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssClearing" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssDepr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssAccumDepr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WipControl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WipVariance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WipAutoClear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WipInspect" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TpAccrual" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TpExpense" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TpDedRec" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TpDedRes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TpDedWo" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
