Schemas7/gl_journal_report_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Tebogo (Syspro (Pty) Ltd) -->
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the GL Journal Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="GLJournalReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xsd:element name="GLJournalReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Type" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UpdatePrintedFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Year" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PeriodSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalNumberSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_JournalNumberSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FromJournalNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ToJournalNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AuthorizedJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AuthorizedJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintNormalJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintNormalJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintProvisionalJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintProvisionalJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintUserDefinedJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintUserDefinedJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintInterCompanyJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintInterCompanyJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintPeriodEndAdjustments" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintPeriodEndAdjustments" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintAuditorsAdjustments" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintAuditorsAdjustments" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintStatisticalJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintStatisticalJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintAlternateCurrencyJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintAlternateCurrencyJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintJournalsNotPosted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintJournalsNotPosted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintJournalsOnHold" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintJournalsOnHold" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintCancelledJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintCancelledJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintPostedJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintPostedJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintApInvoiceJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintApInvoiceJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintApPaymentJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintApPaymentJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintArCashJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintArCashJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintArInvoiceJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintArInvoiceJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintAssetJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintAssetJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintCashbookJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintCashbookJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintGrnJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintGrnJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintInventoryJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintInventoryJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintTpmJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintTpmJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintWipLaborJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintWipLaborJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintWipPartBillingJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintWipPartBillingJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeTemplateDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeTemplateDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StandardJournalSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_StandardJournalSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StandardFrom" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StandardTo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecurringJournalSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_RecurringJournalSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecurringFrom" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecurringTo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecurringAuthJournal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NewPagePerJournal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_NewPagePerJournal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalPeriodFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalPeriodFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalNumberFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalNumberFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StandardJournalFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StandardJournalFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecurringJournalFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecurringJournalFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SubModule" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="JournalHeader" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="JournalNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_JournalNumber" minOccurs="0"/>
							<xsd:element name="JournalDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_LedgerPeriod" minOccurs="0"/>
							<xsd:element name="LedgerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerPeriodYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalPostDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalStatus" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalSource" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Frequency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextPostingPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextPostingYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextPostingPeriodYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExpiryPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SourceCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Source" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalNotation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CapturedBy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CaptureByName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AuthorizedBy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AuthorizedByName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PostedBy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PostedByName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LastJournalCreated" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalDetailLine" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="EntryNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_EntryNumber" minOccurs="0"/>
										<xsd:element name="LedgerCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LedgerDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DetailLineReference" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DetailLineDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InterCompanyLine" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DebitCredit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedDebitAmount" type="xsd:string" minOccurs="0"/>
										<xsd:element name="EditedCreditAmount" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InterCompanyID" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InterCompanyDebit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InterCompanyCredit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AlternateCurrency" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LineType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TransferPercentage" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TargetDrGlCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TargetDebitDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TargetCrGlCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TargetCreditDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TemplateDetails" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TemplateDetail" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="TemplateEntryNumber" type="xsd:string" minOccurs="0"/>
																<xsd:element name="LedgerCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="LedgerDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedDebitTemplateAmount" type="xsd:string" minOccurs="0"/>
																<xsd:element name="EditedCreditTemplateAmount" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ZeroTransactionWarning" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BalanceWarning" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExpiryWarning" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalDebitTotal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedJournalDebitTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalCreditTotal" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedJournalCreditTotal" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
