Schemas7/gl_list_of_financial_reports_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the GL List of Financial Reports
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="GlFinancialReports" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xsd:element name="GlFinancialReports">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeReportOptionsDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeReportOptionsDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeRuntimePromptDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeRuntimePromptDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeColumnDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeColumnDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeDetailLinesDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeDetailLinesDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeHeaderDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeHeaderDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeFooterDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeFooterDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeMultiColumnHeadingsDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeMultiColumnHeadingsDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportCodeFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Report" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ReportCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ExtractFileName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CreateOrAppendToFile" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_CreateOrAppendToFile" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ReportOptions" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PrintHeadersAndFooters" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_PrintHeadersAndFooters" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NumericFormatting" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Rounding" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_Rounding" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_Decimals" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NegativeFormat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_NegativeFormat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ZeroShownAs" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_ZeroShownAs" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AccountSelectionByGroup" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_AccountSelectionByGroup" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RuntimeMaskRequired" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DefaultAccountSelectionMask" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_RuntimeMaskRequired" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MultipleSectionsRequired" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NumberofSections" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MultipleSectionAccSelection" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_MultipleSectionsRequired" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Section1Mask" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Section2Mask" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Section3Mask" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Section4Mask" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Section5Mask" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Section6Mask" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Section7Mask" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Section8Mask" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Section9Mask" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanySelection" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_CompanySelection" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AccountSelection" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_AccountSelection" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencySymbol" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TopMargin" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BottomMargin" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LineWidth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Indentation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PageLength" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="RuntimePrompts" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Variable" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="VariableName" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PromptText" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AllowBlank" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Columns" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Column" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ColumnDetails" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="ColumnNumber" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_Type" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Calculation1" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Calculation2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Calculation3" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ExpressAsPercentage" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_ExpressAsPercentage" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Format" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_Format" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Rounding" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_Rounding" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DecimalPlaces" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_DecimalPlaces" type="xsd:string" minOccurs="0"/>
																<xsd:element name="RecalculateAtTotalLevel" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_RecalculateAtTotalLevel" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Field" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FieldDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="PeriodSelection" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_PeriodSelection" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FromPeriod" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_FromPeriod" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ToPeriod" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_ToPeriod" type="xsd:string" minOccurs="0"/>
																<xsd:element name="PeriodNumber" type="xsd:string" minOccurs="0"/>
																<xsd:element name="PeriodVariable" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_PeriodNumber" type="xsd:string" minOccurs="0"/>
																<xsd:element name="BudgetYear" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_BudgetYear" type="xsd:string" minOccurs="0"/>
																<xsd:element name="LedgerYear" type="xsd:string" minOccurs="0"/>
																<xsd:element name="YearVariable" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_LedgerYear" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Print" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_Print" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Width" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Section" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TotalsOnly" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_TotalsOnly" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ShowCurrencySymbol" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_ShowCurrencySymbol" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ColumnType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_ColumnType" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="ColumnHeading" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Line1" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Line2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Format" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_Format" type="xsd:string" minOccurs="0"/>
																<xsd:element name="UnderlineCharacter" type="xsd:string" minOccurs="0"/>
																<xsd:element name="OverlineCharacter" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DetailLines" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DetailLineHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="LineNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_TotalType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="UnderlineCharacter" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OverlineCharacter" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SaveAnyTotals" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_SaveAnyTotals" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PrintOption" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_PrintOption" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PrintDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LineSkips" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_LineSkips" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SkipToLine" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CompanySelection" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_CompanySelection" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DetailCompanyId" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Accumulation" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VariableDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VariablePosition" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VariableRounding" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_VariableRounding" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VariableDecimals" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_VariableDecimals" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Group" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_Group" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PrintVariableOption" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PrintVariableLine" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_PrintVariableLine" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DetailLineType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_DetailLineType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LineType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_LineType" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="DetailLinesList" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TextEntry" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="TextLineSkips" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_TextLineSkips" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TextType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_TextType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="PrintPosition" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TextLine" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="TextLineNumber" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TextLineString" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="TotalLineEntry" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="TotalLineEntryDetails" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="FromColumn" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ToColumn" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="FromLevel" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Roll" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ToLevel" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Zero" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Position" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="UserNotationEntry" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="NotationDetails" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="NotationLineNumber" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Notation" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="CalculationData" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Calculations" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Calculation" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ExpressAsPercentage" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_ExpressAsPercentage" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CalculationRounding" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_CalculationRounding" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CalculationDecimals" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_CalculationDecimals" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="VariableLine" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="VariableLineDetails" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="PrintColumn" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="VariableVALnnn" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="AccountLineSection" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="AccountSection" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="SectionNumber" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="AccountSectionLineType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_AccountSectionLineType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="AccountAccumulation" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="AccountSectionGroup" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_AccountSectionGroup" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="AccountSectionDescription" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="DetailLinesDisplay" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="DetailDisplay" minOccurs="0" maxOccurs="unbounded">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="FromAccount" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="ToAccount" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="ListIndv" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="UseDesc" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="SavedTotals" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="TotalDetails" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="SaveColumn" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ToLevel" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Header" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StandardHeaderRequired" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_StandardHeaderRequired" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NumberOfHeaderLines" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BlankLinesBelowHeader" type="xsd:string" minOccurs="0"/>
										<xsd:element name="HeaderHeadings" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ReportHeadingOrText" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Line" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Position" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Footer" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FooterRequired" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_FooterRequired" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NumberOfFootingLines" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BlankLinesAboveFooter" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FooterLines" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ReportVariableOrText" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Line" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Position" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MultiColumnHeadings" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ExceptionMessage" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_ExceptionMessage" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MultiColumnHeadingList" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="MultiColumnHeadingLines" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="FromColumn" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ToColumn" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CentreYesOrNo" type="xsd:string" minOccurs="0"/>
																<xsd:element name="UnderlineCharacter" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
