Schemas7/gl_matched_grn_report_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the GL Matched GRNs Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="GLMatchedGrns" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="GLMatchedGrns">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportType" minOccurs="0"/>
							<xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NewPagePerLedger" minOccurs="0"/>
							<xsd:element name="Translated_NewPagePerLedger" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LedgerCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerCodeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerYearFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LedgerYearFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerYearFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerPeriodFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_LedgerPeriodFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LedgerPeriodFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PurchaseOrderFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PurchaseOrderFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PurchaseOrderFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Ledger">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LedgerHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LedgerCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LedgerDescription" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Year" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="YearHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Year" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Period" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="PeriodHeader" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Period" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_Period" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Grns" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Grn" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="GrnHeader" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="GrnNo" type="xsd:string" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="GrnDetails" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="GrnDetail" minOccurs="0" maxOccurs="unbounded">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="EntryNumber" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="ApJournal" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="SubEntryNumber" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="MatchedDate" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="MatchedValue" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="Edited_MatchedValue" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="GrnYear" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="GrnMonth" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="MatchedQty" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="Edited_MatchedQty" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="PurchaseOrderLin" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="SupCatalogueNum" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="QtyReceived" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="Edited_QtyReceived" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="QtyUom" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="Job" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="SubContractOp" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="DeliveryNote" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="SourceCode" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="OrigGrnValue" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="Edited_OrigGrnValue" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="CurGrnValue" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="Edited_CurGrnValue" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="StandardGrnValue" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="Edited_StandardGrnValue" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="OrigPurchaseValue" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="Edited_OrigPurchaseValue" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="CurrencyValue" type="xsd:double" minOccurs="0"/>
																									<xsd:element name="Edited_CurrencyValue" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="PostCurrency" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="ConvRate" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="MulDiv" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="AccountCur" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="AccConvRate" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="AccMulDiv" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="TriangCurrency" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="TriangRate" type="xsd:string" minOccurs="0"/>
																									<xsd:element name="TriangMulDiv" type="xsd:string" minOccurs="0"/>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="GrnTotal" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="GrnNo" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="ValueMatched" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="Edited_ValueMatched" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="ForeignValueMatched" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="Edited_ForeignValueMatched" type="xsd:string" minOccurs="0"/>
																						<xsd:element name="QtyMatched" type="xsd:double" minOccurs="0"/>
																						<xsd:element name="Edited_QtyMatched" type="xsd:string" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="PeriodTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="ValueMatched" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_ValueMatched" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QtyMatched" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_QtyMatched" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Translated_PeriodTotal" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="YearTotal" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ValueMatched" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_ValueMatched" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyMatched" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Edited_QtyMatched" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LedgerTotal" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ValueMatched" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_ValueMatched" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyMatched" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_QtyMatched" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ReportTotal">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ValueMatched" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_ValueMatched" type="xsd:string" minOccurs="0"/>
							<xsd:element name="QtyMatched" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Edited_QtyMatched" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
