Schemas7/IMPQSTOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     This is an example XML instance to demonstrate
     use of IMPQST Business Object for Xcelsius
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="StockCodePerformance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="StockCodePerformance">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TopBottomStockCodes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NumberOfStockCodes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BasedOnMeasure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclSubTotalsStockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclOrigPurchPrice" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclQtyOrdered" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclQtyReceived" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclRejectionQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclPriceReceived" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclOnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclAgeing" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclPurchRecCount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclReceiptCount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclPurchRejCount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclRejectionCount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclPurchaseOrderCount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclQtyVariance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclPriceVariance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclQtyInvoiced" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclQtyOutstanding" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclNetSlsValExTax" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclInvoiceCount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderAgeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderAgeFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCodeHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Summary" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SumQtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SumQtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AvgOrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AvgPriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AvgPurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SumPurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SumReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SumPurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SumRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SumRejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SumQtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AvgPriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AvgOnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AvgOrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SumQtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SumQtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SumNetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SumInvoiceCount" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Year1Year" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalQtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalQtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalOrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalPriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalPurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalPurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalPurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalRejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalOnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalQtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalPriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalOrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalQtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalQtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalNetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1TotalInvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period1InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period2InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period3InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period4InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period5InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period6InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period7InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period8InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period9InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period10InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period11InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year1Period12InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Year" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalQtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalQtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalOrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalPriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalPurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalPurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalPurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalRejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalOnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalQtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalPriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalOrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalQtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalQtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalNetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2TotalInvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period1InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period2InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period3InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period4InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period5InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period6InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period7InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period8InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period9InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period10InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period11InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year2Period12InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Year" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalQtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalQtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalOrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalPriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalPurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalPurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalPurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalRejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalOnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalQtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalPriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalOrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalQtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalQtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalNetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3TotalInvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period1InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period2InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period3InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period4InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period5InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period6InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period7InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period8InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period9InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period10InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period11InvoiceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12Number" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12QtyOrdered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12QtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12PriceReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12PurchaseOrderCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12PurchaseReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12ReceiptCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12PurchaseRejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12RejectionCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12RejectionQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12OnTimeInFullQuality" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12QtyVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12PriceVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12OrderAge" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12QtyInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12NetSlsValExTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Year3Period12InvoiceCount" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
