Schemas7/IMPQBGOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Cash Book Check Format Business Object
-->
<xsd:schema id="CashBookCheckFormatReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CashBookCheckFormatReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefaultFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DocumentReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_DocumentReq" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PrintFormat">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SelectedBank" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
										<xsd:element name="APSBNK_Description" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FormatOptions" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FormatType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FormatTypeDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_FormatTypeDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocumentsRequired" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_DocumentsRequired" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CheckPreferences" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="NoLinesOnCheck" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CheckAmtWordingStyle" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_CheckAmtWordingStyle" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LengthWordingPerLine" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NoDigitsLeftOfDecimal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyDenominationSymbol" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyDenomination" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyDecDenomination" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PrintDateFormat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_PrintDateFormat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PadPayeeNameOnCheck" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_PadPayeeNameOnCheck" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PadCharacterToBeUsed" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LengthOfPayeeNameInclPad" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UseCommaSepInAmount" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_UseCommaSepInAmount" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CheckDetail" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CoName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CoAddressLine1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CoAddressLine2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CoAddressLine3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddressLine1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddressLine2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddressLine3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddressLine4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddressLine5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierPostalZipCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CheckNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FullPaymentAmount" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_CheckWording" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CheckPrintPosition" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FullPaymentWording" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DigitsToLeftOfDecimal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DigitsToRightOfDecimal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyDenominationSymbol" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxRegistrationNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CoRegistrationNo" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="RemittancePreferences" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="NoOfLinesOnRemittance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FirstInvLineStartsOnRow" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastInvLineEndsOnRow" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StartColumnForRemitText" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PrintDateFormat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_PrintDateFormat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UseThousandSepInValues" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_UseThousandSepInValues" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BitmapForPrinting" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BitmapWidth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_BitmapWidth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BitmapFactor" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_BitmapFactor" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="RemittanceHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddressLine1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddressLine2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddressLine3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddressLine4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierAddressLine5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierPostalZipCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PageNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BankName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CoName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CoAddressLine1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CoAddressLine2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CoAddressLine3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ForeignCurrencyDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxRegistrationNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CoRegistrationNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceAddressLine1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceAddressLine2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceAddressLine3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceAddressLine4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceAddressLine5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittancePostalZipCode" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="RemittanceDetail" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InvoiceAmount" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="RemittanceTotals" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CheckNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceAdviceAmount" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RemittanceName" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="WordOptions" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="TemplateLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_TemplateLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TemplateName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateTemplateLastAnalysed" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TimeTemplateLastAnalysed" type="xsd:string" minOccurs="0"/>
										<xsd:element name="HeaderOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_HeaderOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DetailOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_DetailOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MaxNoOfDetailLines" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TotalOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_TotalOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AttachDocument" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_AttachDocument" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AttachmentLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_AttachmentLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AttachmentName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SuppressLeadingspacesInNumeric" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_SuppressLeadingspacesInNumeric" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SrsDocumentOptions" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SrsDocumentIndex" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
