Schemas7/IMPQWTOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the Withholding Tax Business Object Out
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="WithholdingTaxReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="WithholdingTaxReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeForeignSuppliers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeForeignSuppliers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeLocalSuppliers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeLocalSuppliers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeIndividualSuppliers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeIndividualSuppliers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeExpenseType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeExpenseType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearToPrint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubTotalsByBank" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SubTotalsByBank" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubTotalsByExpenseType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SubTotalsByExpenseType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintSupplierAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintSupplierAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutomaticCalculationOfWithholdingTax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BankFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BankFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BankFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_TaxCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxCodeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PeriodFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrencyFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CurrencyFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrencyFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WithholdingTaxTrn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_WithholdingTaxTrn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Heading" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Heading1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Heading2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Heading3" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="WithholdingTax">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="WithholdingTaxCheckDetails" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CheckDetailSuppliers" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CheckDetailSupplierHeader" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
																<xsd:element name="APSMST_Description" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address1" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address3" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address3Loc" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address4" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address5" type="xsd:string" minOccurs="0"/>
																<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SupAddGpsLat" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SupAddGpsLong" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TBLCUR_Description" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="CheckDetailInvoiceDetails" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CheckDetailInvoiceDetail" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="ChkSupplier" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkDescription" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkAddress1" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkAddress2" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkAddress3" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkAddress3Loc" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkAddress4" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkAddress5" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkPostalCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkSupAddGpsLat" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkSupAddGpsLong" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkCurrency" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkCurDescription" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="BankCount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="APSBNK_Description" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="CheckNumber" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ChkTaxCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TaxableAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxWithheld" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TaxWithheld" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="CheckDetailBankTotals" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CheckDetailBankTotal" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Bank_Supplier" minOccurs="0"/>
																			<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="APSBNK_Description" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TaxableAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxWithheld" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TaxWithheld" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="CheckDetailSupplierTotal" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
																<xsd:element name="APSMST_Description" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CheckDetailTotalTaxableAmount" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_CheckDetailTotalTaxableAmount" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CheckDetailTotalTaxWithheld" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_CheckDetailTotalTaxWithheld" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="WithholdingTaxInvoiceDetails" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="InvoiceDetailSuppliers" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="InvoiceDetailSupplierHeader" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
																<xsd:element name="APSMST_Description" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TaxIdNumber" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address1" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address2" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address3" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address3Loc" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address4" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Address5" type="xsd:string" minOccurs="0"/>
																<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SupAddGpsLat" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SupAddGpsLong" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TBLCUR_Description" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="InvoiceDetails" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="InvoiceDetail" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="InvSupplier" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvDescription" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvTaxIdNumber" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvAddress1" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvAddress2" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvAddress3" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvAddress3Loc" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvAddress4" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvAddress5" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvPostalCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvSupAddGpsLat" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvSupAddGpsLong" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvoiceNumber" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvoiceAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_InvoiceAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxWithheldAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TaxWithheldAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvTaxCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TBLCUR_Description" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="WithTaxExpenseType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_WithTaxExpenseType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="WithTaxSupplierType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_WithTaxSupplierType" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="InvoiceDetailExpTypeTotals" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="InvoiceDetailExpTypeTotal" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="ExpType_Supplier" minOccurs="0"/>
																			<xsd:element name="ExpenseType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_ExpenseType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="InvoiceAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_InvoiceAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TaxableAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxWithheld" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TaxWithheld" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="InvoiceDetailTotalsBySupplier" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="InvoiceDetailsTotalBySupplier" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="TotInvSupplier" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TotalInvoiceAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TotalInvoiceAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TotalTaxWithheld" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TotalTaxWithheld" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="WithholdingTaxSummaryReportBySupplier" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="WithholdingTaxSuppliers" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SupplierSummaryHeader" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
																<xsd:element name="APSMST_Description" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TBLCUR_Currency" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TaxIdNumber" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="SupplierSummaryTaxCodeDetails" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="SupplierSummaryTaxDetail" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="SS_Supplier" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SS_SupplierDescription" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SS_Currency" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SS_TaxIdNumber" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxRate" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TaxableAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxWithheld" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TaxWithheld" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="WithholdingTaxSummaryTaxByTaxCode" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SummaryTaxCodes" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SummaryTaxCodeDetails" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="SummaryTaxCodeDetail" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="ADMTAX_Description" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TaxRate" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="TotalInvoiceAmount" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TotalInvoiceAmount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="TotalTaxWithheld" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_TotalTaxWithheld" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
