Schemas7/IMPQIKOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the Key Information Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SetKeyInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Customers">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CusKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CusCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CusPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CusMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextCustomer" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Suppliers">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SupKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextSupplier" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StkKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StkCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StkPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StkMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextStockCode" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Serials">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SerKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SerCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SerPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ManSerialNoTracking" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ManSerialNoTrackPrefix" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ManSerialNoTrackSuffix" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Lots">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LotKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextLot" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotEqualToJob" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BuyingGroups">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BgrKeyType" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Assets">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AstKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AstCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AstPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AstMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextAsset" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CapexNumbers">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CpxKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CpxCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CpxPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CpxMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextCapex" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="EccEcoNumbers">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="EcoKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EcoMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextEco" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="EccRevision">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RevKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RevMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowNonSequentialEntries" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="EccRelease">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RelKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RelMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncrementRelWithinRev" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ArInvoices">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AriKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AriCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AriPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AriPrefixLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AriMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextInvoice" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextCreditNote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextDebitNote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextDiscCreditNote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextDiscDebitNote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowSameNumForDiffCust" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ApPaymentRun">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AprKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AprPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AprMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextPayRun" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GoodsInTransit">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GtrKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GtrCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GtrPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GtrPrefixLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GtrMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextGoodsInTransit" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SalesOrders">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SorKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SorCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SorPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SorPrefixLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SorMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextSalesOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextSorCreditNote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextSorDebitNote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSrcBranchForSCT" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderRelAutoInvNumbering" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrdNoToInvNo" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DeliveryNotes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DlyPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DlyPrefixLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DlyMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextDelNote" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DispatchNotes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DspKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DspCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DspPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DspMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextDispatchNote" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="RmaNumbers">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RmaKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RmaCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RmaPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RmaPrefixLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RmaMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextRmaNumber" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PurchaseOrders">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PorKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PorCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PorPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PorPrefixLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PorMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextPurchaseOrder" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GrnNumbers">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GrnKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GrnCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GrnPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GrnPrefixLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GrnMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextGrnNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AutoGrnForPoLine" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AutoGrnForPoLineRecAll" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AutoGrnForShipment" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckForDuplicateGrn" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Requisitions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReqKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReqCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReqPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReqMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextRequisition" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Quotations">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="QotKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QotCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QotPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QotPrefixLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QotMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextQuotation" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Jobs">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="JobKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobCase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobPrefixLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextJob" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="WipInspection">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WinKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WinPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WinPrefixLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WinMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextWipInspection" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ArPaymentRun">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ArrKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArrPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArrMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextArPayRun" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ArCollectionRun">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ArcKeyType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArcPresentationLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArcMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextArCollectionRun" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="AutoVouchering">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ApvMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NexttAutoVoucher" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TradePromotions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NextTpmReference" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="InventoryDocs">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NextStockRecDoc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextIssueDoc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextTrfOutDoc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextInspectionDoc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextRejectionDoc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextScrappedDoc" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="WipDocs">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NextKitIssueDoc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextWipInspDocNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextScrapDocNum" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="LoadPlanning">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LoadPlanMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextLoadReference" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="EdiTransmission">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NextTranReference" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string"/>
      <xsd:attribute name="Language2" type="xsd:string"/>
      <xsd:attribute name="CssStyle" type="xsd:string"/>
      <xsd:attribute name="DecFormat" type="xsd:string"/>
      <xsd:attribute name="DateFormat" type="xsd:string"/>
      <xsd:attribute name="Role" type="xsd:string"/>
      <xsd:attribute name="Version" type="xsd:string"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
