Schemas7/IMPQBTOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the AR Discount Credit/Debit Notes Format Business Object
-->
<xsd:schema id="ArDiscountCreditDebitNotesFormatReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ArDiscountCreditDebitNotesFormatReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PrintMethod" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PrintFormat">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Preferences" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FormatType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FormatTypeDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_FormatTypeDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TotalNoOfLines" type="xsd:string" minOccurs="0"/>
										<xsd:element name="HighestStartColumnAcrossPage" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_DateFormat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PositionOfFirstDetailLine" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PositionOfLastDetailLine" type="xsd:string" minOccurs="0"/>
										<xsd:element name="WordPrintingInUse" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_WordPrintingInUse" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContinuationMessage" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PrintPositionForMessage" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CreditNoteTitle" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DebitNoteTitle" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MultipleInvoicesPerNote" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_MultipleInvoicesPerNote" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FormatDetails" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TimeDocPrinted" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddressLine1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddressLine2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddressLine3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyTaxRegNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GstRegNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyRegNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerAddressLine1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerAddressLine2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerAddressLine3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerAddressLine4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerAddressLine5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerPostalZipCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToAddressLine1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToAddressLine2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToAddressLine3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToAddressLine4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShipToAddressLine5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocumentNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InvoiceNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PaymentDocType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DiscountValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxValueOnDiscount" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TotalDiscountValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TotalTaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TemplateLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_TemplateLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TemplateName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateTemplateLastAnalysed" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TimeTemplateLastAnalysed" type="xsd:string" minOccurs="0"/>
										<xsd:element name="HeaderOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_HeaderOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DetailOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_DetailOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MaxNoOfDetailLines" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TotalOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_TotalOption" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AttachDocument" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_AttachDocument" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AttachLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_AttachLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AttachName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SuppressLeadingspacesInNumeric" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_SuppressLeadingspacesInNumeric" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SrsDocumentIndex" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
