Schemas7/IMPQ26OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the List of Customers/ Stock Codes Cross Reference Report Business Object 
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="ListOfCustomerStockCodesXRef" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ListOfCustomerStockCodesXRef">
		<xsd:complexType>
      <xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NewPagePerCustomer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerSelectionFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CustomerEntry">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CustomerHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CustomerDetails" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CustomerDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LastPricePaid" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityPurchased" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PriceUom" type="xsd:string" minOccurs="0"/>
													<xsd:element name="FirstDiscPct" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SecondDiscPct" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ThirdDiscPct" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CommissionCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GrossProfitPct" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CustRetailPrice" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
