Schemas7/IMPQCROUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the AP Setup Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="APSetupReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:double" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:double" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CashProjectionPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PermanentEntriesReqd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConsolidateInvoicesAtMonthEnd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SuppAmendmentJournalsReqd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AskAddReferencePerDistEntry" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValidateSuppClassOnSuppMaster" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ContraInvoicesByBranch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CheckPrintRequirements" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IgnoreRoundingVarLessThanPerc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GRNVariance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MaximumVariancePermitted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxDistributionMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SecondTierTaxReqd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SecondTierTaxDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SecondTierForeign" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DisburseTaxAmountsOver" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefaultTaxCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowTaxEntryForForeignCurrSupp" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefaultTaxCodeReqd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SecondTierDefaultTaxCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RequestTaxAmtForSettlementDisc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SettlementDiscDefaultTaxCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefaultSecondTierCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RequestSecondTierAmount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HstCheckIssuedRecords" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HstZeroBalanceInvoices" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HstExpenseJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HstPaymentCycleDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HstTaxDistributionDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HstExpensesDistEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HstDisbursementDistEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SuppNumberingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PaymentRunNumberingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NewPaymentRun" type="xsd:string" minOccurs="0"/>
							<xsd:element name="APLinkedToCashBook" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescForUserDefField1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescForUserDefField2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoVoucherNumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextAutoVoucherNum" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
