Schemas7/IMPQTSOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
      Schema for the Tax Return Report Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="TaxAuditFile">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FinancialYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeMasterData" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeMasterData" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StartDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EndDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="XslStyleSheet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PeriodFilterType" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CompanyInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyRegistrationNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Building" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Street" type="xsd:string" minOccurs="0"/>
							<xsd:element name="City" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Locality" type="xsd:string" minOccurs="0"/>
							<xsd:element name="State" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Country" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GpsLat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GpsLong" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FinancialYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StartDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EndDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CreationDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SoftwareVersion" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SupplierInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SupplierMaster" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierShortName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Bank" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BankDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContactPerson" type="xsd:string" minOccurs="0"/>
										<xsd:element name="EMail" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrentBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_CurrentBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PeriodEndBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_PeriodEndBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastPurchaseDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FirstPurchaseDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="WithholdingTaxCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MTDTaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_MTDTaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="YTDTaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_YTDTaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxRegistrationNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BankAccountNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BankBranchName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DefaultTaxCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MtdTaxReliefVal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_MtdTaxReliefVal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="YtdTaxReliefVal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_YtdTaxReliefVal" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CustomerInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CustomerMaster" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ShortName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxStatus" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxExemptNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateLastSale" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateLastPay" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Contact" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AddTelephone" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GstExemptFlag" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GstExemptNum" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Email" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddr1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddr2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddr3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddr3Loc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddr4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddr5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldPostalCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToGpsLat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToGpsLong" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GLInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LedgerMaster" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Company" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AccountType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ExpenseType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PtdDrValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_PtdDrValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PtdCrValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_PtdCrValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrentBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_CurrentBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PrevPerEndBal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_PrevPerEndBal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrentInd" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TaxInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TaxCodeMaster" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurTaxRate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PrvTaxRate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxEffDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxIncExcl" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PurchaseInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PurchaseEntry" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TariffCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchaseOrderLin" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurGrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_CurGrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxRate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ForeignPrice" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_ForeignPrice" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyReceived" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_QtyReceived" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxRegNum" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InvoiceYear" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InvoiceMonth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InvoiceValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_InvoiceValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_TaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_CurrencyValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyTaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_CurrencyTaxValue" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SalesInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SalesEntry" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DetailLine" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_DetailLine" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NetSalesValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_NetSalesValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_TaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SoldToAddr5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyInvoiced" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_QtyInvoiced" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Price" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_Price" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TaxRate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TrnYear" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TrnMonth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_CurrencyValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrencyTaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_CurrencyTaxValue" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="LedgerInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LedgerEntry" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="JnlDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Source" type="xsd:string" minOccurs="0"/>
										<xsd:element name="EntryValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_EntryValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CrEntryValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_CrEntryValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DrEntryValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_DrEntryValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Origin" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PrevPerEndBal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_PrevPerEndBal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BeginYearBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_BeginYearBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MTDBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_MTDBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlYear" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlPeriod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlLine" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Line" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AuditFileSummary">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TotalPurchaseCount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalPurchaseAmount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_TotalPurchaseAmount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalPurchaseTaxAmount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_TotalPurchaseTaxAmount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalSalesCount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalSalesAmount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_TotalSalesAmount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalSalesTaxAmount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_TotalSalesTaxAmount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalLedgerCount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalLedgerCredit" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_TotalLedgerCredit" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalLedgerDebit" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_TotalLedgerDebit" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalLedgerBalance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_TotalLedgerBalance" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
