Schemas7/IMPQTXOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2013 SYSPRO Ltd.-->
<!--
     Schema for the Admin Tax Options Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="TaxOptions">
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="General"/>
				<xsd:element ref="Options"/>
				<xsd:element ref="WithholdingTax"/>
				<xsd:element ref="Intrastat" minOccurs="0"/>
				<xsd:element ref="USA3rdParty"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TaxSystem" type="xsd:string"/>
	<xsd:element name="CompTaxCodeFile" type="xsd:string"/>
	<xsd:element name="EcVatReq" type="xsd:string"/>
	<xsd:element name="CanGstReq" type="xsd:string"/>
	<xsd:element name="AusGstReq" type="xsd:string"/>
	<xsd:element name="SalesTaxIntGl" type="xsd:string"/>
	<xsd:element name="SalesTaxCalc" type="xsd:string"/>
	<xsd:element name="DiscInclTax" type="xsd:string"/>
	<xsd:element name="DiscMerLines" type="xsd:string"/>
	<xsd:element name="DiscFrtLines" type="xsd:string"/>
	<xsd:element name="DiscMiscLines" type="xsd:string"/>
	<xsd:element name="GstCalc" type="xsd:string"/>
	<xsd:element name="General">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TaxSystem"/>
				<xsd:element ref="CompTaxCodeFile"/>
				<xsd:element ref="EcVatReq"/>
				<xsd:element ref="CanGstReq"/>
				<xsd:element ref="AusGstReq"/>
				<xsd:element ref="SalesTaxIntGl"/>
				<xsd:element ref="SalesTaxCalc"/>
				<xsd:element ref="DiscInclTax"/>
				<xsd:element ref="DiscMerLines"/>
				<xsd:element ref="DiscFrtLines"/>
				<xsd:element ref="DiscMiscLines"/>
				<xsd:element ref="GstCalc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UpdateTaxFlag" type="xsd:string"/>
	<xsd:element name="InterfaceType" type="xsd:string"/>
	<xsd:element name="IdentificationType" type="xsd:string"/>
	<xsd:element name="UserCompanyId" type="xsd:string"/>
	<xsd:element name="UserDivision" type="xsd:string"/>
	<xsd:element name="LiveTaxCompany" type="xsd:string"/>
	<xsd:element name="DefaultShipFromStreet" type="xsd:string"/>
	<xsd:element name="DefaultShipFromCity" type="xsd:string"/>
	<xsd:element name="DefaultShipFromState" type="xsd:string"/>
	<xsd:element name="DefaultShipFromZip" type="xsd:string"/>
	<xsd:element name="UserParameters" type="xsd:string"/>
	<xsd:element name="USA3rdParty">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InterfaceType"/>
				<xsd:element name="BusinessObject" type="xsd:string"/>
				<xsd:element name="TaxSetup" type="xsd:string"/>
				<xsd:element ref="IdentificationType"/>
				<xsd:element ref="UserCompanyId"/>
				<xsd:element ref="UserDivision"/>
				<xsd:element ref="UpdateTaxFlag"/>
				<xsd:element ref="LiveTaxCompany"/>
				<xsd:element ref="DefaultShipFromStreet"/>
				<xsd:element ref="DefaultShipFromCity"/>
				<xsd:element ref="DefaultShipFromState"/>
				<xsd:element ref="DefaultShipFromZip"/>
				<xsd:element ref="UserParameters"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DefTaxMisc"/>
	<xsd:element name="DefTaxFrt"/>
	<xsd:element name="DefTaxNon"/>
	<xsd:element name="DefTaxCr"/>
	<xsd:element name="GlPerTaxRet" type="xsd:string"/>
	<xsd:element name="DescTaxCodes" type="xsd:string"/>
	<xsd:element name="TaxRndReq" type="xsd:string"/>
	<xsd:element name="RndTaxVal" type="xsd:string"/>
	<xsd:element name="RndInvVal" type="xsd:string"/>
	<xsd:element name="IncForInv" type="xsd:string"/>
	<xsd:element name="RndValues" type="xsd:string"/>
	<xsd:element name="InvRound" type="xsd:string"/>
	<xsd:element name="RndFactor"/>
	<xsd:element name="Options">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DefTaxMisc"/>
				<xsd:element ref="DefTaxFrt"/>
				<xsd:element ref="DefTaxNon"/>
				<xsd:element ref="DefTaxCr"/>
				<xsd:element ref="GlPerTaxRet"/>
				<xsd:element ref="DescTaxCodes"/>
				<xsd:element ref="TaxRndReq"/>
				<xsd:element ref="RndTaxVal"/>
				<xsd:element ref="RndInvVal"/>
				<xsd:element ref="IncForInv"/>
				<xsd:element ref="RndValues"/>
				<xsd:element ref="InvRound"/>
				<xsd:element ref="RndFactor"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="WithTaxReq" type="xsd:string"/>
	<xsd:element name="AutoCalcWithTax" type="xsd:string"/>
	<xsd:element name="WithholdingTax">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="WithTaxReq"/>
				<xsd:element ref="AutoCalcWithTax"/>
				<xsd:element ref="WithholdingTaxTrn"/>
				<xsd:element ref="WithholdingTaxForComp"/>
				<xsd:element ref="WithholdingTaxLocComp"/>
				<xsd:element ref="WithholdingTaxIndiComp"/>
				<xsd:element ref="WithholdingTaxAppProd"/>
				<xsd:element ref="WithholdingTaxCalcBasis"/>
				<xsd:element ref="WithholdingAmtTaxCalc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IntrInvNatr"/>
	<xsd:element name="IntrCrnNatr"/>
	<xsd:element name="IntrArrNatr"/>
	<xsd:element name="IntrInvDelt"/>
	<xsd:element name="IntrCrnDelt"/>
	<xsd:element name="IntrArrDelt"/>
	<xsd:element name="CaptureDelTermsNonEc"/>
	<xsd:element name="Intrastat">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IntrInvNatr"/>
				<xsd:element ref="IntrCrnNatr"/>
				<xsd:element ref="IntrArrNatr"/>
				<xsd:element ref="IntrInvDelt"/>
				<xsd:element ref="IntrCrnDelt"/>
				<xsd:element ref="IntrArrDelt"/>
				<xsd:element ref="CaptureDelTermsNonEc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="WithholdingTaxTrn" type="xsd:string"/>
	<xsd:element name="WithholdingTaxForComp" type="xsd:string"/>
	<xsd:element name="WithholdingTaxLocComp" type="xsd:string"/>
	<xsd:element name="WithholdingTaxIndiComp" type="xsd:string"/>
	<xsd:element name="WithholdingTaxAppProd" type="xsd:string"/>
	<xsd:element name="WithholdingTaxCalcBasis" type="xsd:string"/>
	<xsd:element name="WithholdingAmtTaxCalc" type="xsd:string"/>
</xsd:schema>
