Schemas7/IMPQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SalesOrderOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Company">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="General1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BranchToBeWarehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowNegQtys" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InsertSOAddText" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InsertDangerousText" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CalcInvDiscAfterLineDisc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GenerateCustDelPerf" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoiceRecapReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DisplayCostsQuickEntry" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DisplayCostProfitInTots" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CancelOpenOrdInv" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IgnoreInvSalesPerson" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FixShipAddr" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClearMultShipCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IgnoreWarnIfZeroCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BillingType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoDaySchedOrderAlloc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReturnItemWh" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseAssocMerchWh" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeInSCT" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DupCustPOValidation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DupCustPOAction" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="General2">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="OrderTypePrompt" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderTypeDef" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValidateOrderType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefAlternateKey" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AltKeyMandatory" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AltKeyDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustStkCodeAccs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderLinesAdded" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeBlanketSO" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderLinesChanged" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AddChgLinesOrdLevelDisc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderLinesCancelled" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OutputDetLinesCancWholeOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefSoBrowseSeq" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchAreaChange" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="General3">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BackOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BackOrdersNonStk" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BackOrderDecision" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowChg4From8" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplyRequest" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RequestInvOrdRel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UpdShipDateWithRelDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrdNoToInvNo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderDateMovedToInvDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AskReasonCodeForCredits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PromptDangerousGoods" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NotificationFrequency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShipViaUsage" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Details">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SupStkInterchangedReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CaptureSerialsOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SingleBomReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowQtyChgOptComp" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowChgStkDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PackagingOption" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PackagingTextPacks" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PackagingTextContaining" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PackagingTextItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SOShipInstrDefMsg" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReserveStockReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefShipStatus" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RequestLBSReserving" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderLinkReceipt" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SpecInstrPrompt" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserDefOrdLinePrompt" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DatesUsedSerialNoEntry" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TermsMargins">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CheckCreditLimit" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CheckInvTerms" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseCreditStatusForTerms" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApplyChkCurrentOrdersOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApplyChkWhenQtyMovedToShip" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExclFailedLinesWhenRel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeTaxOrdValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeTaxInvValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ResetStatusAfterInv" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CreditCheckOrdersToRel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CreditAuthReqdToRel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MarginCheck" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MinPricePercOverCostFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MinPricePercOverCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MinPricePercOverride" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Pricing">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PricingMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrcUpdReadyPrinting" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrcUpdHeldBackOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrcUpdBackOrdRel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrcUpdWarehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrcUpdRelInv" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrcUpdForwardNotAlloc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrcUpdCreditChkSusp" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyDiscPrcUpd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LineDiscCalc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BasisForContractPricing" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContractPrcPromptForExpired" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContractPrcUseLineDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContractPrcWarnIfNoContracts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContractPrcDecimals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeInDiscBreaks" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TaxUm">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DefUomOrdQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReqUomOrdQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UomConvTheoretical" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnitDiscCalc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowTaxChg" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseTaxForCreditNotes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReduceValByInclTax" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustTaxRegnFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustTaxRegnFlagSO" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefFrtGSTCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefMiscNonStkGSTCode" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Commission">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CommissionalValCalc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReqCodeForCodedPrices" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefCommissionCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CommissionCalc" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Numbering">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SalesOrderNumberMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextSalesOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextCreditNote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextDebitNote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSrcBranchForSCT" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GenerateDelNoteNumbers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextDelNote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderRelAutoInvNumbering" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowSameNumForDiffCust" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Printing">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="MaintSoAfterDelNotePrt" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OnLineDelNotes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OnLineInvoices" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OnLineOrdAck" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoiceReprintAllowed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SaveCustomFormForReprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrtDelNoteZeroShip" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlusLessWordReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InitialInvPrt" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CounterSales">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="InvoiceFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepositFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MiscellaneousChargeDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalDepositWording" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CreditCardStorageMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefPaymentCodeForChg" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PaymentCodeCashInOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DisplayChangeDue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Use1AsDefOrderQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChgOrdToCtrSaleWhenTakePay" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OnlyAllowDepositsForQtyOnBo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowCloseNoPayment" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChgPaymentCodeForCashInOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowForeignPaymentLocalCust" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShowPaymentsAsComments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShowDepositsAsComments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ListInvFormatsToPrt" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PaymentBlockWording">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PaymentBlockHeading" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CashDiscount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Adjustment" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OnAccount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPayment" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoiceAmount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChangeGiven" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TextAreaSize" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValueAreaSize" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DepositReceiptBlockWording">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReceiptBlockHeading" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepositAmount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PaidAs" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DepositAdjustmentBlockWording">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AdjustmentBlockHeading" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjustmentAmount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjustedBy" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DepositRefundBlockWording">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RefundBlockHeading" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AmountRefunded" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AmountNotRefunded" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RefundedBy" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="LoadPlanning">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LoadPlanningRequired" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CreateLoadsOnWorkDaysOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCounterSales" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BasisOfCalcLoadCapacity" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BasisOfAddingLoads" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoLoadsDays" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BasisOfLoadCalculation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllocOfLoadsInSoEntryDisp" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LoadNumbering" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextLoadReference" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StatusOfOrdersConfirmed" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="History">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="HistoryInMonths" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RetainReprintFor" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RetainDelPerfFor" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RetainOrdAnalysisFor" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RetainCompOrdsFor" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RetainCompDNFor" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DeleteComplLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArchiveComplOrds" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaxOrdsPerArchive" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
