Schemas7/IMPQG4.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2010 SYSPRO Ltd.--><!--     Schema for the Counter Sales Payments Interface Query Business Object--><xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="BranchSelection">		<xsd:annotation>			<xsd:documentation>This sequence is used to indicate the branch selection.The default is A and the other valid values are R and S.</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>		</xsd:complexType>	</xsd:element>	<xsd:element name="Filter">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="BranchSelection" minOccurs="0"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="Option">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="XslStyleSheet" minOccurs="0"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="Query">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Option"/>				<xsd:element ref="Filter"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="XslStyleSheet">		<xsd:annotation>			<xsd:documentation>This is the style sheet to be applied.</xsd:documentation>		</xsd:annotation>	</xsd:element></xsd:schema>