Schemas7/IMPQBR.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Label Format Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="FormatNo">
    <xsd:annotation>
      <xsd:documentation>Asset Label Format Number is used to select the format that the user wishes to print. If no default is supplied, a default of 0 will be used.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;0=0;1=1;2=2;3=3;4=4;5=5;6=6;7=7;8=8;9=9;A=A;B=B;C=C;D=D;E=E;F=F;G=G;H=H;I=I;J=J;K=K;L=L;M=M;N=N;O=O;P=P;Q=Q;R=R;S=S;T=T;U=U;V=V;W=W;X=X;Y=Y;Z=Z"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="0"/>
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="2"/>
        <xsd:enumeration value="3"/>
        <xsd:enumeration value="4"/>
        <xsd:enumeration value="5"/>
        <xsd:enumeration value="6"/>
        <xsd:enumeration value="7"/>
        <xsd:enumeration value="8"/>
        <xsd:enumeration value="9"/>
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="B"/>
        <xsd:enumeration value="C"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="E"/>
        <xsd:enumeration value="F"/>
        <xsd:enumeration value="G"/>
        <xsd:enumeration value="H"/>
        <xsd:enumeration value="I"/>
        <xsd:enumeration value="J"/>
        <xsd:enumeration value="K"/>
        <xsd:enumeration value="L"/>
        <xsd:enumeration value="M"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="O"/>
        <xsd:enumeration value="P"/>
        <xsd:enumeration value="Q"/>
        <xsd:enumeration value="R"/>
        <xsd:enumeration value="S"/>
        <xsd:enumeration value="T"/>
        <xsd:enumeration value="U"/>
        <xsd:enumeration value="V"/>
        <xsd:enumeration value="W"/>
        <xsd:enumeration value="X"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="Z"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="FormatNo" minOccurs="0"/>
        <xsd:element ref="XslStyleSheet" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="XslStyleSheet">
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
