Schemas7/IMPQ06OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the BOM List of Cost and Work Centers Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="Query" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ListInCostCenterSequence" type="xsd:string" minOccurs="0"/>
   	      <xsd:element name="Translated_ListInCostCenterSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPagePerCostCenter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NewPagePerCostCenter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ListSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ListSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostCenterSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CostCenterSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostCenterSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WorkCenterSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WorkCenterSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WorkCenterSelectionFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Sequence">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CenterHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CostCenter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CenterSubContract" type="xsd:string" minOccurs="0"/>
		    <xsd:element name="Translated_CenterSubContract" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Centers" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Center" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="WorkCenter" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WorkCenterTimeUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WorkCenterCapacityUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WorkCenterUtilizationPercentage" type="xsd:double" minOccurs="0"/>
  			              <xsd:element name="Edited_WorkCenterUtilizationPercentage" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WorkCenterConversionFlag" type="xsd:string" minOccurs="0"/>
			              <xsd:element name="Translated_WorkCenterConversionFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WorkCenterConversionFactor" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_WorkCenterConversionFactor" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SetUpRate1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_SetUpRate1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SetUpRate2" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_SetUpRate2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SetUpRate3" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_SetUpRate3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SetUpRate4" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_SetUpRate4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SetUpRate5" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_SetUpRate5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SetUpRate6" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_SetUpRate6" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SetUpRate7" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_SetUpRate7" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SetUpRate8" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_SetUpRate8" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SetUpRate9" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_SetUpRate9" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RunTimeRate1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_RunTimeRate1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RunTimeRate2" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_RunTimeRate2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RunTimeRate3" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_RunTimeRate3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RunTimeRate4" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_RunTimeRate4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RunTimeRate5" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_RunTimeRate5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RunTimeRate6" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_RunTimeRate6" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RunTimeRate7" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_RunTimeRate7" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RunTimeRate8" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_RunTimeRate8" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RunTimeRate9" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_RunTimeRate9" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FixOverRate1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_FixOverRate1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FixOverRate2" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_FixOverRate2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FixOverRate3" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_FixOverRate3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FixOverRate4" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_FixOverRate4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FixOverRate5" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_FixOverRate5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FixOverRate6" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_FixOverRate6" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FixOverRate7" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_FixOverRate7" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FixOverRate8" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_FixOverRate8" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FixOverRate9" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_FixOverRate9" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VarOverRate1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_VarOverRate1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VarOverRate2" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_VarOverRate2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VarOverRate3" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_VarOverRate3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VarOverRate4" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_VarOverRate4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VarOverRate5" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_VarOverRate5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VarOverRate6" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_VarOverRate6" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VarOverRate7" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_VarOverRate7" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VarOverRate8" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_VarOverRate8" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VarOverRate9" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_VarOverRate9" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StartupRate1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_StartupRate1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StartupRate2" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_StartupRate2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StartupRate3" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_StartupRate3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StartupRate4" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_StartupRate4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StartupRate5" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_StartupRate5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StartupRate6" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_StartupRate6" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StartupRate7" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_StartupRate7" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StartupRate8" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_StartupRate8" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StartupRate9" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_StartupRate9" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TeardownRate1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TeardownRate1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TeardownRate2" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TeardownRate2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TeardownRate3" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TeardownRate3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TeardownRate4" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TeardownRate4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TeardownRate5" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TeardownRate5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TeardownRate6" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TeardownRate6" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TeardownRate7" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TeardownRate7" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TeardownRate8" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TeardownRate8" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TeardownRate9" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TeardownRate9" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

