Schemas7/IMPSSCDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the SO Order Value Discounts Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ConvOrdUomFlag">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the ConvOrdUomFlag.
 Y - Yes, N - No, Will be spaces if Discount Type is not 'Q' and if OrderDiscLvl is not 'P' or 'D'</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Customer">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the customer. It is the key.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount11">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount11.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount110">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount110.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount111">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount111.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount112">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount112.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount113">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount113.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount114">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount114.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount115">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount115.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount116">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount116.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount117">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount117.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount118">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount118.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount119">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount119.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount12">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount12.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount120">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount120.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount121">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount121.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount122">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount122.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount123">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount123.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount124">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount124.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount125">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount125.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount126">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount126.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount127">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount127.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount128">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount128.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount129">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount129.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount13">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount13.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount130">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount130.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount14">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount14.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount15">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount15.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount16">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount16.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount17">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount17.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount18">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount18.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount19">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount19.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount21">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount21.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount210">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount210.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount211">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount211.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount212">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount212.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount213">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount213.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount214">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount214.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount215">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount215.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount216">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount216.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount217">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount217.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount218">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount218.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount219">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount219.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount22">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount22.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount220">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount220.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount221">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount221.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount222">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount222.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount223">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount223.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount224">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount224.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount225">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount225.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount226">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount226.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount227">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount227.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount228">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount228.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount229">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount229.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount23">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount23.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount230">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount230.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount24">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount24.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount25">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount25.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount26">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount26.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount27">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount27.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount28">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount28.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount29">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount29.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount31">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount31.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount310">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount310.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount311">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount311.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount312">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount312.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount313">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount313.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount314">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount314.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount315">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount315.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount316">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount316.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount317">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount317.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount318">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount318.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount319">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount319.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount32">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount32.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount320">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount320.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount321">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount321.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount322">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount322.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount323">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount323.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount324">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount324.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount325">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount325.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount326">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount326.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount327">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount327.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount328">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount328.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount329">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount329.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount33">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount33.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount330">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount330.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount34">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount34.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount35">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount35.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount36">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount36.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount37">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount37.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount38">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount38.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Discount39">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount39.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DiscountType">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Discount Type, its mandatory. V - Value, Q - Quantity.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This is the sub root node,  it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="OrderDiscLvl"/>
        <xsd:element ref="DiscountType"/>
        <xsd:element ref="Minimum1"/>
        <xsd:element ref="Minimum2"/>
        <xsd:element ref="Minimum3"/>
        <xsd:element ref="Minimum4"/>
        <xsd:element ref="Minimum5"/>
        <xsd:element ref="Minimum6"/>
        <xsd:element ref="Minimum7"/>
        <xsd:element ref="Minimum8"/>
        <xsd:element ref="Minimum9"/>
        <xsd:element ref="Minimum10"/>
        <xsd:element ref="Minimum11"/>
        <xsd:element ref="Minimum12"/>
        <xsd:element ref="Minimum13"/>
        <xsd:element ref="Minimum14"/>
        <xsd:element ref="Minimum15"/>
        <xsd:element ref="Minimum16"/>
        <xsd:element ref="Minimum17"/>
        <xsd:element ref="Minimum18"/>
        <xsd:element ref="Minimum19"/>
        <xsd:element ref="Minimum20"/>
        <xsd:element ref="Minimum21"/>
        <xsd:element ref="Minimum22"/>
        <xsd:element ref="Minimum23"/>
        <xsd:element ref="Minimum24"/>
        <xsd:element ref="Minimum25"/>
        <xsd:element ref="Minimum26"/>
        <xsd:element ref="Minimum27"/>
        <xsd:element ref="Minimum28"/>
        <xsd:element ref="Minimum29"/>
        <xsd:element ref="Minimum30"/>
        <xsd:element ref="Discount11"/>
        <xsd:element ref="Discount12"/>
        <xsd:element ref="Discount13"/>
        <xsd:element ref="Discount14"/>
        <xsd:element ref="Discount15"/>
        <xsd:element ref="Discount16"/>
        <xsd:element ref="Discount17"/>
        <xsd:element ref="Discount18"/>
        <xsd:element ref="Discount19"/>
        <xsd:element ref="Discount110"/>
        <xsd:element ref="Discount111"/>
        <xsd:element ref="Discount112"/>
        <xsd:element ref="Discount113"/>
        <xsd:element ref="Discount114"/>
        <xsd:element ref="Discount115"/>
        <xsd:element ref="Discount116"/>
        <xsd:element ref="Discount117"/>
        <xsd:element ref="Discount118"/>
        <xsd:element ref="Discount119"/>
        <xsd:element ref="Discount120"/>
        <xsd:element ref="Discount121"/>
        <xsd:element ref="Discount122"/>
        <xsd:element ref="Discount123"/>
        <xsd:element ref="Discount124"/>
        <xsd:element ref="Discount125"/>
        <xsd:element ref="Discount126"/>
        <xsd:element ref="Discount127"/>
        <xsd:element ref="Discount128"/>
        <xsd:element ref="Discount129"/>
        <xsd:element ref="Discount130"/>
        <xsd:element ref="Discount21"/>
        <xsd:element ref="Discount22"/>
        <xsd:element ref="Discount23"/>
        <xsd:element ref="Discount24"/>
        <xsd:element ref="Discount25"/>
        <xsd:element ref="Discount26"/>
        <xsd:element ref="Discount27"/>
        <xsd:element ref="Discount28"/>
        <xsd:element ref="Discount29"/>
        <xsd:element ref="Discount210"/>
        <xsd:element ref="Discount211"/>
        <xsd:element ref="Discount212"/>
        <xsd:element ref="Discount213"/>
        <xsd:element ref="Discount214"/>
        <xsd:element ref="Discount215"/>
        <xsd:element ref="Discount216"/>
        <xsd:element ref="Discount217"/>
        <xsd:element ref="Discount218"/>
        <xsd:element ref="Discount219"/>
        <xsd:element ref="Discount220"/>
        <xsd:element ref="Discount221"/>
        <xsd:element ref="Discount222"/>
        <xsd:element ref="Discount223"/>
        <xsd:element ref="Discount224"/>
        <xsd:element ref="Discount225"/>
        <xsd:element ref="Discount226"/>
        <xsd:element ref="Discount227"/>
        <xsd:element ref="Discount228"/>
        <xsd:element ref="Discount229"/>
        <xsd:element ref="Discount230"/>
        <xsd:element ref="Discount31"/>
        <xsd:element ref="Discount32"/>
        <xsd:element ref="Discount33"/>
        <xsd:element ref="Discount34"/>
        <xsd:element ref="Discount35"/>
        <xsd:element ref="Discount36"/>
        <xsd:element ref="Discount37"/>
        <xsd:element ref="Discount38"/>
        <xsd:element ref="Discount39"/>
        <xsd:element ref="Discount310"/>
        <xsd:element ref="Discount311"/>
        <xsd:element ref="Discount312"/>
        <xsd:element ref="Discount313"/>
        <xsd:element ref="Discount314"/>
        <xsd:element ref="Discount315"/>
        <xsd:element ref="Discount316"/>
        <xsd:element ref="Discount317"/>
        <xsd:element ref="Discount318"/>
        <xsd:element ref="Discount319"/>
        <xsd:element ref="Discount320"/>
        <xsd:element ref="Discount321"/>
        <xsd:element ref="Discount322"/>
        <xsd:element ref="Discount323"/>
        <xsd:element ref="Discount324"/>
        <xsd:element ref="Discount325"/>
        <xsd:element ref="Discount326"/>
        <xsd:element ref="Discount327"/>
        <xsd:element ref="Discount328"/>
        <xsd:element ref="Discount329"/>
        <xsd:element ref="Discount330"/>
        <xsd:element ref="ConvOrdUomFlag"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This is the key node.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Customer"/>
        <xsd:element ref="ProductClass"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Minimum1">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum1.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum10">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum10.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum11">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum11.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum12">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum12.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum13">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum13.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum14">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum14.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum15">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum15.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum16">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum16.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum17">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum17.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum18">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum18.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum19">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum19.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum2">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum2.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum20">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum20.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum21">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum21.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum22">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum22.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum23">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum23.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum24">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum24.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum25">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum25.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum26">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum26.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum27">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum27.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum28">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum28.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum29">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum29.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum3">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum3.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum30">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum30.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum4">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum4.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum5">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum5.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum6">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum6.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum7">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum7.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum8">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum8.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Minimum9">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Minimum9.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OrderDiscLvl">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the order discount level. It is mandatory. G - Global Capture (No key must be input).   C - Customer capture (only customer key must be input). P - Product class (Only Product class key must be input). D - Customer and product class. (Both keys must be input).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ProductClass">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the productclass. It is the key</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SetupSoOrderValueDiscounts">
    <xsd:annotation>
      <xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
