Schemas7/IMPSFTOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2014 SYSPRO Ltd.--><!--     Schema for the Admin Foreign Text Setup Business Object--><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">  <xsd:element name="AdmKeyField" type="xsd:hexBinary"/>  <xsd:element name="Item">    <xsd:complexType>      <xsd:sequence>        <xsd:element ref="Key"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:element name="Key">    <xsd:complexType>      <xsd:sequence>        <xsd:element ref="LanguageCode"/>        <xsd:element ref="TextTypeFlag"/>        <xsd:element ref="AdmKeyField"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:element name="LanguageCode" type="xsd:string"/>  <xsd:element name="RecordsInvalid" type="xsd:boolean"/>  <xsd:element name="RecordsRead" type="xsd:boolean"/>  <xsd:element name="StatusOfItems">    <xsd:complexType>      <xsd:sequence>        <xsd:element ref="RecordsRead"/>        <xsd:element ref="RecordsInvalid"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:element name="TextTypeFlag" type="xsd:string"/>  <xsd:element name="SetupForeignText">    <xsd:complexType>      <xsd:sequence>        <xsd:element ref="Item"/>        <xsd:element ref="StatusOfItems"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element></xsd:schema>