Schemas7/INTQ08OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the SYSPRO Interface List of Sites Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="InterfaceListOfSites" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="InterfaceListOfSites">
		<xsd:complexType>
      <xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SiteFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SiteFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SiteFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="LocalSiteDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LocalSiteHeader">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LocalSite" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocalSiteName" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SiteDetails" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SitesHeader">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Site" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SiteName" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ImportNextGroup" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ExportNextGroup" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InventoryMaster" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InventoryWarehouse" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InventoryJournal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GoodsInTransit" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CustomerMaster" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CustomerJournal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesTransactions" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Warehouses" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="WarehouseDetails" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Branches" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="BranchDetails" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
