Schemas7/inv_purchasing_work_sheet_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Purchasing Worksheet Business Object
-->
<xsd:schema id="InventoryPurchasingWorkSheet" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xsd:element name="InventoryPurchasingWorkSheet">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PartCategory" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyingRule" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BuyingRule" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AbcCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AbcCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CalculationSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CalculationSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CalculationCriteria" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CalculationCriteria" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeMPSItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeMPSItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeStatisticalParts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeStatisticalParts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportOptions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportOptions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Stock_code" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_total" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Warehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Continued" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PurchasingDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCodeHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LongDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AlternateSupplierCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AlternateStockCodes" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClassDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CUnitOfMeasure" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BuyingRule" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EconomicQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedEconomicQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PanSize" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedPanSize" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LeadTime" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Supersession" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Warehouses" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="WarehouseDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AltStockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AltSupplier" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="WarehouseName" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyOnHand" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="QtyOnHandUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedQtyOnHand" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyAllocated" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="QtyAllocatedUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedQtyAllocated" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyAllocatedWIP" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="QtyAllocatedWIPUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedQtyAllocatedWIP" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyOnOrder" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="QtyOnOrderUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedQtyOnOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyInTransit" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="QtyInTransitUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedQtyInTransit" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyFutureFree" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="QtyFutureFreeUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedQtyFutureFree" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyFreeUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedQtyFree" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FutureFreeStock" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MinimumQty" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="MinimumQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedMinimumQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MaximumQty" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="MaximumQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedMaximumQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SafetyStockQty" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SafetyStockQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSafetyStockQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ReOrderQty" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="ReOrderQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedReOrderQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedUnitCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastCostEntered" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedLastCostEntered" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty1Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty2Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty3Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty4Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty5Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty6Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty7Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty8Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty9Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty10Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty11Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesQty12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="SalesQty12Units" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSalesQty12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MtdQtySold" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="MtdQtySoldUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedMtdQtySold" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YtdQtySold" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="YtdQtySoldUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedYtdQtySold" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PrevYearQtySold" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="PrevYearQtySoldUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedPrevYearQtySold" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DateLastSale" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DateLastStockMove" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AbcCode" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="StockCodeTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TotalQtyOnHand" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalQtyOnHandUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalQtyOnHand" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalQtyAllocated" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalQtyAllocatedUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalQtyAllocated" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalQtyAllocatedWIP" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalQtyAllocatedWIPUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalQtyAllocatedWIP" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalQtyOnOrder" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalQtyOnOrderUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalQtyOnOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalQtyInTransit" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalQtyInTransitUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalQtyInTransit" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalQtyFutureFree" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalQtyFutureFreeUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalQtyFutureFree" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalQtyFreeUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalQtyFree" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FutureFreeStock" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalMinimumQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalMinimumQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalMinimumQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalMaximumQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalMaximumQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalMaximumQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSafetyStockQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSafetyStockQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSafetyStockQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalReOrderQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalReOrderQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalReOrderQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty1Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty2" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty2Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty3" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty3Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty4" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty4Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty5" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty5Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty6" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty6Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty6" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty7" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty7Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty7" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty8" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty8Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty8" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty9" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty9Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty9" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty10" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty10Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty10" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty11" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty11Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty11" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty12" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalSalesQty12Units" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalSalesQty12" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalMtdQtySold" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalMtdQtySoldUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalMtdQtySold" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalYtdQtySold" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalYtdQtySoldUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalYtdQtySold" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalPrevYearQtySold" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalPrevYearQtySoldUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalPrevYearQtySold" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
