Schemas7/inventory_journal_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Kim Fouce (Syspro (Pty) Ltd) -->
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Journal Query Business Object
-->
<xsd:schema id="InventoryJournalReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xsd:element name="InventoryJournalReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PrintSummaryJournal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintSummaryJournal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintNewPage" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintNewPage" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintMultipleBinTransfer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintMultipleBinTransfer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalPrintOptions" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_JournalPrintOptions" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MonthSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalNumberSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_JnlNumSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="JournalNumberSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehouseSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_WarehouseSelFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehouseSelectionFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchSelectionFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchSelectionFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="JournalEntries" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="JournalEntriesHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LedgerYear" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LedgerPeriod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_LedgerPeriod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
										<xsd:element name="JournalNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_JournalNo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
										<xsd:element name="JournalDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OperatorMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OperatorCode" minOccurs="0"/>
										<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CostingMethod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_CostingMethod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_MethodHeader" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FifoIndicator" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_FifoIndicator" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TransactionProcessing" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="TransactionProcessingDetails" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StockCodeDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StockingUM" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TransactionCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Translated_TransCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LotSerial" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Trn" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Tra" minOccurs="0"/>
													<xsd:element name="BinQty" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BinReference" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BinFrom" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BinLocationFrom" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BinTo" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BinLocationTo" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CostEntered" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedCostEntered" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StockedTrn" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Not populated by the BO. Element Trn is used instead.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="StockedCostEntered" type="xsd:double" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Not populated by the BO. Element CostEntered is used instead.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="NewWh" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Qty" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TransCost" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTransCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CostingUM" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TransValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTransValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NewStdCost" type="xsd:double" minOccurs="0"/>
													<xsd:element name="NewAveCost" type="xsd:double" minOccurs="0"/>
													<xsd:element name="NewLastCost" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedNewStdCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EditedNewAveCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EditedNewLastCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PreviousUnitCost" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedPreviousUnitCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PreviousQty" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CostBasis" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EnteredCost" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedEnteredCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="UnitBasis" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Basis" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Not populated by the BO.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="NotesMsg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GLMsg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GLCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LedgerCodeMsg" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Not populated by the BO.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="LedgerMsg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LedgerCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DebitLedgerMsg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DebitLedger" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CreditLedger" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Not populated by the BO.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="IssueLedgerMsg" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Not populated by the BO.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="IssueLedgerCode" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Not populated by the BO.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="IssueDebitLedgerMsg" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Not populated by the BO.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="IssueDebitLedger" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Not populated by the BO.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="StockedDebitLedger" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LedgSubContract" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SubcontractFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="RevMsg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="RevNotes" type="xsd:string" minOccurs="0"/>
													<xsd:element name="JobMsg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="JobNo" type="xsd:string" minOccurs="0"/>
													<xsd:element name="POMsg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PurchaseOrderNo" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BinMsg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="BinLocation" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ExceptionMsg" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Exception" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ExceptionDesc" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="EndOfJournalMsg" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="JournalEntriesTotal" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ModMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ModificationsTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="ModificationsTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedModificationsTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ModificationsTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="CostChangeMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CostChangeTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="CostChangeTrnsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedCostChangeTrnsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CostChangeTrnsQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="RecMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReceiptsTrnsProcesses" type="xsd:double" minOccurs="0"/>
										<xsd:element name="ReceiptsTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedReceiptsTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReceiptsTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="AdjMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AdjustmentsTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="AdjustmentsTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedAdjustmentsTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AdjustmentsTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="IssMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="IssuesTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="IssuesTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedIssuesTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="IssuesTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="GITExpMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GITExpenseTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="GITExpenseTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedGITExpenseTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GITExpenseTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="PhyStkMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PhysicalStockAdjTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="PhysicalStockAdjTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedPhysicalStockAdjTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PhysicalStockAdjTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="TrnInMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TransfersInTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="TransfersInTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedTransfersInTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TransfersInTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="TrnOutMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TransfersOutTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="TransfersOutTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedTransfersOutTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TransfersOutTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="DispMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DispatchesTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="DispatchesTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedDispatchesTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DispatchesTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="DispRevMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DispatchesReversedTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="DispatchesReversedTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedDispatchesReversedTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DispatchesReversedTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="ScrappedSuppMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ScrappedSupplierTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="ScrappedSupplierTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedScrappedSupplierTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ScrappedSupplierTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="WIPMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="WIPInspectionReceiptTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="WIPInspectionReceiptTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedWIPInspectionReceiptTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="WIPInspectionReceiptTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="ScrappedWIPMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ScrappedWIPInspectionTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="ScrappedWIPInspectionTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedScrappedWIPInspectionTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ScrappedWIPInspectionTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="ReworkedWIPMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReworkedWIPInspectionTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="ReworkedWIPInspectionTrnValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedReworkedWIPInspectionTrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReworkedWIPInspectionTrnQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="TotalMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TotalTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="StkMovMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockMovementTrnsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedStockMovementTrnsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CostGoodsSoldMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CostGoodsSoldAdjustment" type="xsd:string" minOccurs="0"/>
										<xsd:element name="EditedCostGoodsSoldAdjustment" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NonStockedMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NonStockedTrnsProcessed" type="xsd:double" minOccurs="0"/>
										<xsd:element name="NonStockedTrnsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedNonStockedTrnsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NonStockedTrnsQuantity" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValLostTotEntriesMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValLostTotalEntriesTrnsProcessed" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValLostTotalEntriesTrnsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedValLostTotalEntriesTrnsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValLostNonMerchandiseMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValLostNonMerchandiseTrnsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedValLostNonMerchandiseTrnsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="ValLostTransfersMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValLostTransfersTrnsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedValLostTransfersTrnsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValLostAveStdMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValLostAveStdCostingTrnsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedValLostAveStdCostingTrnsValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValLostFIFOMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValLostFIFOTrnsValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedValLostFIFOTrnsValue" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="InProcJnlDetectedMsg" type="xsd:string" minOccurs="0"/>
				<xsd:element name="InProcJnlMsg" type="xsd:string" minOccurs="0"/>
				<xsd:element name="InProcJnl" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
