Schemas7/INVQBLOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Balance Check Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="InvOnHandBalQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvOnHandBalQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DetailOrSummary" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaxItemsToReturn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RunDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RunTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LockType" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="HealthCheckResults">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RowsAffected" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhsOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhsOnHandUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedWhsOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BinOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BinOnHandUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedBinOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LotOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LotOnHandUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedLotOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FifoOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FifoOnHandUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedFifoOnHand" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
