Schemas7/INVQSROUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Stock Take Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="StockTakeDetail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Warehouse" type="xsd:string"/>
        <xsd:element name="Description" type="xsd:string"/>
        <xsd:element name="StockCodeDetail">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:element name="StockCode" type="xsd:string"/>
                <xsd:element name="Description" type="xsd:string"/>
                <xsd:element name="LongDesc" type="xsd:string"/>
                <xsd:element name="Reference" type="xsd:string"/>
                <xsd:element name="StockUom" type="xsd:string"/>
                <xsd:element name="CostUom" type="xsd:string"/>
                <xsd:element name="ProductClass" type="xsd:string"/>
                <xsd:element name="Supplier" type="xsd:string"/>
                <xsd:element name="Version" type="xsd:string"/>
                <xsd:element name="Release" type="xsd:string"/>
                <xsd:element name="Mass" type="xsd:string"/>
                <xsd:element name="Volume" type="xsd:decimal"/>
                <xsd:element name="OrigQtyOnHand" type="xsd:decimal"/>
                <xsd:element name="CapturedQty" type="xsd:decimal"/>
                <xsd:element name="VarianceQty" type="xsd:decimal"/>
                <xsd:element name="ExeptionLine" type="xsd:string"/>
                <xsd:element name="UnitCost" type="xsd:decimal"/>
                <xsd:element name="SavedValue" type="xsd:decimal"/>
                <xsd:element name="CapturedValue" type="xsd:decimal"/>
                <xsd:element name="VarianceValue" type="xsd:decimal"/>
                <xsd:element name="StockOnHold" type="xsd:string"/>
                <xsd:element name="BinDetail">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Bin" type="xsd:string"/>
                      <xsd:element name="Reference" type="xsd:string"/>
                      <xsd:element name="StockUom" type="xsd:string"/>
                      <xsd:element name="CostUom" type="xsd:string"/>
                      <xsd:element name="ProductClass" type="xsd:string"/>
                      <xsd:element name="Supplier" type="xsd:string"/>
                      <xsd:element name="Version" type="xsd:string"/>
                      <xsd:element name="Release" type="xsd:string"/>
                      <xsd:element name="Mass" type="xsd:string"/>
                      <xsd:element name="Volume" type="xsd:string"/>
                      <xsd:element name="OrigQtyOnHand" type="xsd:string"/>
                      <xsd:element name="CapturedQty" type="xsd:string"/>
                      <xsd:element name="VarianceQty" type="xsd:string"/>
                      <xsd:element name="ExeptionLine" type="xsd:string"/>
                      <xsd:element name="UnitCost" type="xsd:string"/>
                      <xsd:element name="SavedValue" type="xsd:string"/>
                      <xsd:element name="CapturedValue" type="xsd:string"/>
                      <xsd:element name="VarianceValue" type="xsd:string"/>
                      <xsd:element name="TicketDetail">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="TicketNum" type="xsd:string"/>
                            <xsd:element name="QtyCaptured" type="xsd:string"/>
                            <xsd:element name="TimesCaptured" type="xsd:string"/>
                            <xsd:element name="Uom" type="xsd:string"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="LotDetail">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="Lot" type="xsd:string"/>
                            <xsd:element name="SavedQty" type="xsd:string"/>
                            <xsd:element name="CapturedQty" type="xsd:string"/>
                            <xsd:element name="VarianceQty" type="xsd:string"/>
                            <xsd:element name="UnitCost" type="xsd:string"/>
                            <xsd:element name="SavedValue" type="xsd:string"/>
                            <xsd:element name="CapturedValue" type="xsd:string"/>
                            <xsd:element name="VarianceValue" type="xsd:string"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="SerialDetail">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="SerialItem">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="Serial" type="xsd:string"/>
                            <xsd:element name="SavedOnHand" type="xsd:string"/>
                            <xsd:element name="QtyCaptured" type="xsd:string"/>
                            <xsd:element name="VarianceQty" type="xsd:string"/>
                            <xsd:element name="Reference" type="xsd:string"/>
                            <xsd:element name="Lot" type="xsd:string"/>
                            <xsd:element name="Version" type="xsd:string"/>
                            <xsd:element name="Release" type="xsd:string"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
