Schemas7/INVQ9COUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Serial Tracking Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SerialTracking">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportTitle" type="xsd:string"/>
              <xsd:element name="Translated_ReportTitle" type="xsd:string"/>
              <xsd:element name="PrimarySeq" type="xsd:string"/>
              <xsd:element name="PrimarySeqDescription" type="xsd:string"/>
              <xsd:element name="SecondarySeq" type="xsd:string"/>
              <xsd:element name="SecondarySeqDescription" type="xsd:string"/>
              <xsd:element name="ReportType" type="xsd:string"/>
              <xsd:element name="Translated_ReportType" type="xsd:string"/>
              <xsd:element name="RevisionRelease" type="xsd:string"/>
              <xsd:element name="Translated_RevRel" type="xsd:string"/>
              <xsd:element name="PrintSubTotals" type="xsd:string"/>
              <xsd:element name="Translated_PrintSubTotals" type="xsd:string"/>
              <xsd:element name="PrintNewPageAfterSubTots" type="xsd:string"/>
              <xsd:element name="Translated_PrintNewPageAfterSubTots" type="xsd:string"/>
              <xsd:element name="IncludeWhValues" type="xsd:string"/>
              <xsd:element name="Translated_IncludeWhValues" type="xsd:string"/>
              <xsd:element name="IncludeZeroQtyOnhand" type="xsd:string"/>
              <xsd:element name="Translated_IncludeZeroQtyOnhand" type="xsd:string"/>
              <xsd:element name="PrintBatchSerials" type="xsd:string"/>
              <xsd:element name="Translated_PrintBatchSerials" type="xsd:string"/>
              <xsd:element name="ItemsInServiceOnly" type="xsd:string"/>
              <xsd:element name="Translated_ItemsInServiceOnly" type="xsd:string"/>
              <xsd:element name="ItemsOnLoanOnly" type="xsd:string"/>
              <xsd:element name="Translated_ItemsOnLoanOnly" type="xsd:string"/>
              <xsd:element name="ItemsAtServiceDepotOnly" type="xsd:string"/>
              <xsd:element name="Translated_ItemsAtServiceDepotOnly" type="xsd:string"/>
              <xsd:element name="ShowTransactionValues" type="xsd:string"/>
              <xsd:element name="Translation_ShowTransactionValues" type="xsd:string"/>
              <xsd:element name="ShowTransactionTotals" type="xsd:string"/>
              <xsd:element name="Translated_ShowTransactionTotals" type="xsd:string"/>
              <xsd:element name="IncludeSubsequentTransactions" type="xsd:string"/>
              <xsd:element name="Translation_IncludeSubsequentTransactions" type="xsd:string"/>
              <xsd:element name="StandardTransactionType" type="xsd:string"/>
              <xsd:element name="MiscTransactionType" type="xsd:string"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string"/>
              <xsd:element name="SerialNumberFilterType" type="xsd:string"/>
              <xsd:element name="Translated_SerialNumberFilterType" type="xsd:string"/>
              <xsd:element name="SerialNumberFilterValue" type="xsd:string"/>
              <xsd:element name="CustomerFilterType" type="xsd:string"/>
              <xsd:element name="Translated_CustomerFilterType" type="xsd:string"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string"/>
              <xsd:element name="LocationFilterType" type="xsd:string"/>
              <xsd:element name="Translated_LocationFilterType" type="xsd:string"/>
              <xsd:element name="LocationFilterValue" type="xsd:string"/>
              <xsd:element name="ExpiryDateFilterType" type="xsd:string"/>
              <xsd:element name="Translated_ExpiryDateFilterType" type="xsd:string"/>
              <xsd:element name="ExpiryDateFilterValue" type="xsd:string"/>
              <xsd:element name="ScrapDateFilterType" type="xsd:string"/>
              <xsd:element name="Translated_ScrapDateFilterType" type="xsd:string"/>
              <xsd:element name="ScrapDateFilterValue" type="xsd:string"/>
              <xsd:element name="DueDateFilterType" type="xsd:string"/>
              <xsd:element name="Translated_DueDateFilterType" type="xsd:string"/>
              <xsd:element name="DueDateFilterValue" type="xsd:string"/>
              <xsd:element name="TransactionTypeFilterType" type="xsd:string"/>
              <xsd:element name="Translated_TransactionTypeFilterType" type="xsd:string"/>
              <xsd:element name="TransactionTypeFilterValue" type="xsd:string"/>
              <xsd:element name="TransactionDateFilterType" type="xsd:string"/>
              <xsd:element name="Translated_TransactionDateFilterType" type="xsd:string"/>
              <xsd:element name="TransactionDateFilterValue" type="xsd:string"/>
              <xsd:element name="Translated_SubtotalDescription" type="xsd:string"/>
              <xsd:element name="Translated_PrintSubtotalDesc" type="xsd:string"/>
              <xsd:element name="Translated_NewPageDesc" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PrimarySeq" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SerialItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Serial" type="xsd:string"/>
                    <xsd:element name="Warehouse" type="xsd:string"/>
                    <xsd:element name="WhDescription" type="xsd:string"/>
                    <xsd:element name="StockCode" type="xsd:string"/>
                    <xsd:element name="StkDescription" type="xsd:string"/>
                    <xsd:element name="Revision" type="xsd:string"/>
                    <xsd:element name="Release" type="xsd:string"/>
                    <xsd:element name="Decimals" type="xsd:double"/>
                    <xsd:element name="ExpiryDate" type="xsd:string"/>
                    <xsd:element name="EditedExpiryDate" type="xsd:anySimpleType" minOccurs="0"/>
                    <xsd:element name="ScrapDate" type="xsd:string"/>
                    <xsd:element name="EditedScrapDate" type="xsd:anySimpleType" minOccurs="0"/>
                    <xsd:element name="QtyReceived" type="xsd:double"/>
                    <xsd:element name="QtyReceivedUnits" type="xsd:string"/>
                    <xsd:element name="EditedQtyReceived" type="xsd:string"/>
                    <xsd:element name="QtyOnHand" type="xsd:double"/>
                    <xsd:element name="QtyOnHandUnits" type="xsd:string"/>
                    <xsd:element name="EditedQtyOnHand" type="xsd:string"/>
                    <xsd:element name="QtyAvailable" type="xsd:double"/>
                    <xsd:element name="QtyAvailableUnits" type="xsd:string"/>
                    <xsd:element name="EditedQtyAvailable" type="xsd:string"/>
                    <xsd:element name="Location" type="xsd:string"/>
                    <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CurrentLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PreviousWh" type="xsd:string"/>
                    <xsd:element name="InService" type="xsd:string"/>
                    <xsd:element name="OnLoan" type="xsd:string"/>
                    <xsd:element name="AtServiceDepot" type="xsd:string"/>
                    <xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedDueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedUnitCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedTotalCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Group1" type="xsd:string"/>
                    <xsd:element name="SerialTransactions" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TransactionItem" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TransactionDate" type="xsd:string"/>
                                <xsd:element name="TransactionType" type="xsd:string"/>
                                <xsd:element name="Revision" type="xsd:string"/>
                                <xsd:element name="Release" type="xsd:string"/>
                                <xsd:element name="Reference" type="xsd:string"/>
                                <xsd:element name="JobPurchaseOrder" type="xsd:string"/>
                                <xsd:element name="CustomerSupplier" type="xsd:string"/>
                                <xsd:element name="CustSupplierDesc" type="xsd:string"/>
                                <xsd:element name="Quantity" type="xsd:double"/>
                                <xsd:element name="QuantityUnits" type="xsd:string"/>
                                <xsd:element name="EditedQuantity" type="xsd:string"/>
                                <xsd:element name="Value" type="xsd:double"/>
                                <xsd:element name="EditedValue" type="xsd:string"/>
                                <xsd:element name="Warehouse" type="xsd:string"/>
                                <xsd:element name="NewLocation" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NewExpiryDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Notation" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="TransactionTotals">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TotQuantity" type="xsd:double"/>
                                <xsd:element name="TotQuantityUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotQuantity" type="xsd:string"/>
                                <xsd:element name="TotValue" type="xsd:double"/>
                                <xsd:element name="EditedTotValue" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="PrimarySeqTotals" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SeqTransactionQty" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="SeqTransactionQtyUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSeqTransactionQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeqTransactionValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSeqTransactionValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeqQtyReceived" type="xsd:double"/>
                    <xsd:element name="SeqQtyReceivedUnits" type="xsd:string"/>
                    <xsd:element name="EditedSeqQtyReceived" type="xsd:string"/>
                    <xsd:element name="SeqQtyOnHand" type="xsd:double"/>
                    <xsd:element name="SeqQtyOnHandUnits" type="xsd:string"/>
                    <xsd:element name="EditedSeqQtyOnHand" type="xsd:string"/>
                    <xsd:element name="SeqQtyAvailable" type="xsd:double"/>
                    <xsd:element name="SeqQtyAvailableUnits" type="xsd:string"/>
                    <xsd:element name="EditedSeqQtyAvailable" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GrandTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GrandTransactionQty" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedGrandTransactionQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GrandTransactionValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedGrandTransactionValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GrandQtyReceived" type="xsd:double"/>
              <xsd:element name="EditedGrandQtyReceived" type="xsd:string"/>
              <xsd:element name="GrandQtyOnHand" type="xsd:double"/>
              <xsd:element name="EditedGrandQtyOnHand" type="xsd:string"/>
              <xsd:element name="GrandQtyAvailable" type="xsd:double"/>
              <xsd:element name="EditedGrandQtyAvailable" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
