Schemas7/INVQBGOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Goods in Transit Balance Check Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="GoodsInTransitBalQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GoodsInTransitBalQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DetailOrSummary" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaxItemsToReturn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RunDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RunTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LockType" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="HealthCheckResults">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RowsAffected" type="xsd:string" minOccurs="0" />
              <xsd:element name="DetailLinesAffected" type="xsd:string" minOccurs="0" />
              <xsd:element name="GtrReferencesAffected" type="xsd:string" minOccurs="0" />
              <xsd:element name="WarehousesAffected" type="xsd:string" minOccurs="0" />
              <xsd:element name="DetailLines" minOccurs="0" >
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="GtrReference" type="xsd:string" minOccurs="0" />
                          <xsd:element name="SourceWarehouse" type="xsd:string" minOccurs="0" />
                          <xsd:element name="SourceWhDesc" type="xsd:string" minOccurs="0" />
                          <xsd:element name="TargetWarehouse" type="xsd:string" minOccurs="0" />
                          <xsd:element name="TargetWhDesc" type="xsd:string" minOccurs="0" />
                          <xsd:element name="Line" type="xsd:string" minOccurs="0" />
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0" />
                          <xsd:element name="StkDescription" type="xsd:string" minOccurs="0" />
                          <xsd:element name="CurValueOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ClcValueOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="CurValueIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ClcValueIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="CurQuantityOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="CurQuantityOutUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedCurQuantityOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ClcQuantityOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ClcQuantityOutUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedClcQuantityOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="CurQuantityIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="CurQuantityInUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedCurQuantityIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ClcQuantityIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ClcQuantityInUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedClcQuantityIn" type="xsd:string" minOccurs="0" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="GtrReferences" minOccurs="0" >
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded" >
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="GtrReference" type="xsd:string" minOccurs="0" />
                          <xsd:element name="SourceWarehouse" type="xsd:string" minOccurs="0" />
                          <xsd:element name="SourceWhDesc" type="xsd:string" minOccurs="0" />
                          <xsd:element name="TargetWarehouse" type="xsd:string" minOccurs="0" />
                          <xsd:element name="TargetWhDesc" type="xsd:string" minOccurs="0" />
                          <xsd:element name="CurValueOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ClcValueOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="CurValueIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ClcValueIn" type="xsd:string" minOccurs="0" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Warehouses" minOccurs="0" >
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded" >
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0" />
                          <xsd:element name="StockDescription" type="xsd:string" minOccurs="0" />
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0" />
                          <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ActiveInTransit" type="xsd:string" minOccurs="0" />
                          <xsd:element name="InProcessTransit" type="xsd:string" minOccurs="0" />
                          <xsd:element name="WhsTransitValue" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ClcTransitValue" type="xsd:string" minOccurs="0" />
                          <xsd:element name="WhsInTransit" type="xsd:string" minOccurs="0" />
                          <xsd:element name="WhsInTransitUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedWhsInTransit" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ClcInTransit" type="xsd:string" minOccurs="0" />
                          <xsd:element name="ClcInTransitUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedClcInTransit" type="xsd:string" minOccurs="0" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>