Schemas7/INVQG3OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Goods In Transit Trial Balance Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GITTrialBalance">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="Language" type="xsd:byte"/>
              <xsd:element name="DecFormat" type="xsd:boolean"/>
              <xsd:element name="DateFormat" type="xsd:byte"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:boolean"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="OperatorLocation">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string"/>
              <xsd:element name="Translated_Sequence" type="xsd:string"/>
              <xsd:element name="TrialBalanceAsOf" type="xsd:string"/>
              <xsd:element name="Translated_TrialBalanceAsOf" type="xsd:string"/>
              <xsd:element name="ReportType" type="xsd:string"/>
              <xsd:element name="Translated_ReportType" type="xsd:string"/>
              <xsd:element name="IncludeCompletedGit" type="xsd:string"/>
              <xsd:element name="Translated_IncludeCompletedGit" type="xsd:string"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string"/>
              <xsd:element name="SourceWarehouseFilterType" type="xsd:string"/>
              <xsd:element name="Translated_SourceWarehouseFilterType" type="xsd:string"/>
              <xsd:element name="SourceWarehouseFilterValue" type="xsd:string"/>
              <xsd:element name="TargetWarehouseFilterType" type="xsd:string"/>
              <xsd:element name="Translated_TargetWarehouseFilterType" type="xsd:string"/>
              <xsd:element name="TargetWarehouseFilterValue" type="xsd:string"/>
              <xsd:element name="CurrentYear" type="xsd:string"/>
              <xsd:element name="CurrentPeriod" type="xsd:string"/>
              <xsd:element name="SelectedYear"/>
              <xsd:element name="SelectedPeriod"/>
              <xsd:element name="Translated_Group1Heading" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Warehouses">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WarehouseItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Warehouse">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="FG"/>
                          <xsd:enumeration value="N"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EditedWarehouse" type="xsd:string"/>
                    <xsd:element name="WarehouseDesc" type="xsd:string"/>
                    <xsd:element name="WhSourceTarget" type="xsd:string"/>
                    <xsd:element name="DetailWarehouses">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="DetailWarehouseItem" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DetailWarehouse">
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:enumeration value="N"/>
                                      <xsd:enumeration value="S"/>
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="EditedDetailWarehouse" type="xsd:string"/>
                                <xsd:element name="DetailWarehouseDesc" type="xsd:string"/>
                                <xsd:element name="DetailWhSourceTarget" type="xsd:string"/>
                                <xsd:element name="StockCodes">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="StockCodeItem" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="StockCode" type="xsd:hexBinary"/>
                                            <xsd:element name="StockCodeDesc" type="xsd:string"/>
                                            <xsd:element name="ProductClass" type="xsd:string"/>
                                            <xsd:element name="ProductClassDesc" type="xsd:string"/>
                                            <xsd:element name="Transactions">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="TransactionItem" maxOccurs="unbounded">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element name="DateCreated">
                                                          <xsd:simpleType>
                                                            <xsd:restriction base="xsd:string">
                                                              <xsd:enumeration value="01-02-2008"/>
                                                              <xsd:enumeration value="02-02-2008"/>
                                                              <xsd:enumeration value="03-02-2008"/>
                                                            </xsd:restriction>
                                                          </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="ControlAccount">
                                                          <xsd:simpleType>
                                                            <xsd:restriction base="xsd:int">
                                                              <xsd:enumeration value="300100"/>
                                                              <xsd:enumeration value="300400"/>
                                                              <xsd:enumeration value="300500"/>
                                                            </xsd:restriction>
                                                          </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="EntryType">
                                                          <xsd:simpleType>
                                                            <xsd:restriction base="xsd:string">
                                                              <xsd:enumeration value="SCT"/>
                                                              <xsd:enumeration value="IWT"/>
                                                            </xsd:restriction>
                                                          </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="EditedEntryType" type="xsd:string"/>
                                                        <xsd:element name="GtrReference">
                                                          <xsd:simpleType>
                                                            <xsd:restriction base="xsd:byte">
                                                              <xsd:enumeration value="000000007"/>
                                                              <xsd:enumeration value="000000008"/>
                                                              <xsd:enumeration value="000000009"/>
                                                            </xsd:restriction>
                                                          </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="GtrTransferValue"/>
                                                        <xsd:element name="EditedGtrTransferValue" type="xsd:string"/>
                                                        <xsd:element name="GtrReceivedValue">
                                                          <xsd:simpleType>
                                                            <xsd:restriction base="xsd:decimal">
                                                              <xsd:enumeration value="0.00"/>
                                                              <xsd:enumeration value="4068.00"/>
                                                            </xsd:restriction>
                                                          </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="EditedGtrReceivedValue" type="xsd:string"/>
                                                        <xsd:element name="GtrAdjustedToSourceValue" type="xsd:decimal"/>
                                                        <xsd:element name="EditedGtrAdjustedToSourceValue" type="xsd:string"/>
                                                        <xsd:element name="GtrInTransitValue">
                                                          <xsd:simpleType>
                                                            <xsd:restriction base="xsd:decimal">
                                                              <xsd:enumeration value="448.00"/>
                                                              <xsd:enumeration value="452.00"/>
                                                            </xsd:restriction>
                                                          </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="EditedGtrInTransitValue" type="xsd:string"/>
                                                        <xsd:element name="GtrCompVarianceValue">
                                                          <xsd:simpleType>
                                                            <xsd:restriction base="xsd:decimal">
                                                              <xsd:enumeration value="0.00"/>
                                                              <xsd:enumeration value="90.00"/>
                                                            </xsd:restriction>
                                                          </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="EditedGtrCompVarianceValue" type="xsd:string"/>
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="StockCodeTotal">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="StkTotalTransferValue"/>
                                                  <xsd:element name="EditedStkTotalTransferValue" type="xsd:string"/>
                                                  <xsd:element name="StkTotalReceivedValue" type="xsd:decimal"/>
                                                  <xsd:element name="EditedStkTotalReceivedValue" type="xsd:string"/>
                                                  <xsd:element name="StkTotalAdjustedToSourceValue" type="xsd:decimal"/>
                                                  <xsd:element name="EditedStkTotalAdjustedToSourceValue" type="xsd:string"/>
                                                  <xsd:element name="StkTotalInTransitValue" type="xsd:decimal"/>
                                                  <xsd:element name="EditedStkTotalInTransitValue" type="xsd:string"/>
                                                  <xsd:element name="StkTotalCompVarianceValue" type="xsd:decimal"/>
                                                  <xsd:element name="EditedStkTotalCompVarianceValue" type="xsd:string"/>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="DetailWhTotals">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="DetailWhTransferValue"/>
                                      <xsd:element name="EditedDetailWhTransferValue" type="xsd:string"/>
                                      <xsd:element name="DetailWhReceivedValue" type="xsd:decimal"/>
                                      <xsd:element name="EditedDetailWhReceivedValue" type="xsd:string"/>
                                      <xsd:element name="DetailWhAdjustedToSourceValue" type="xsd:decimal"/>
                                      <xsd:element name="EditedDetailWhAdjustedToSourceValue" type="xsd:string"/>
                                      <xsd:element name="DetailWhInTransitValue" type="xsd:decimal"/>
                                      <xsd:element name="EditedDetailWhInTransitValue" type="xsd:string"/>
                                      <xsd:element name="DetailWhCompVarianceValue" type="xsd:decimal"/>
                                      <xsd:element name="EditedDetailWhCompVarianceValue" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="WarehouseTotals">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SrcWhTransferValue" type="xsd:decimal"/>
                          <xsd:element name="EditedWarehouseTransferValue" type="xsd:string"/>
                          <xsd:element name="SrcWhReceivedValue" type="xsd:decimal"/>
                          <xsd:element name="EditedWarehouseReceivedValue" type="xsd:string"/>
                          <xsd:element name="SrcWhAdjustedToSourceValue" type="xsd:decimal"/>
                          <xsd:element name="EditedWarehouseAdjustedToSourceValue" type="xsd:string"/>
                          <xsd:element name="SrcWhInTransitValue" type="xsd:decimal"/>
                          <xsd:element name="EditedWarehouseInTransitValue" type="xsd:string"/>
                          <xsd:element name="SrcWhCompVarianceValue" type="xsd:decimal"/>
                          <xsd:element name="EditedWarehouseCompVarianceValue" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReportTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TotalTransferValue" type="xsd:decimal"/>
              <xsd:element name="EditedTotalTransferValue" type="xsd:string"/>
              <xsd:element name="TotalReceivedValue" type="xsd:decimal"/>
              <xsd:element name="EditedTotalReceivedValue"/>
              <xsd:element name="TotalAdjustedToSourceValue" type="xsd:decimal"/>
              <xsd:element name="EditedTotalAdjustedToSourceValue" type="xsd:string"/>
              <xsd:element name="TotalInTransitValue" type="xsd:decimal"/>
              <xsd:element name="EditedTotalInTransitValue" type="xsd:string"/>
              <xsd:element name="TotalWhCompVarianceValue" type="xsd:decimal"/>
              <xsd:element name="EditedTotalWhCompVarianceValue" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GITControlAccounts">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GitControlAccountItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GitControlAccount">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="300400"/>
                          <xsd:enumeration value="300500"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ControlAccountDescription" type="xsd:string"/>
                    <xsd:element name="TotalAmount">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:enumeration value="142518.68"/>
                          <xsd:enumeration value="2618.68"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EditedTotalAmount" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
