Schemas7/INVQGTOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Goods in Transit Query Business Object
-->
<xsd:schema id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="GoodsInTransitQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="GoodsInTransitItem" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GtrReference" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SourceWarehouse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SourceWarehouseDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TargetWarehouse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TargetWarehouseDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EntryType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EntryTypeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InitialValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValRecToDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateCreated" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TimeCreatedHh" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TimeCreatedMm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ControlAccount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Complete" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GoodsInTransitDetail" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Line" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GtrQuantity" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_GtrQuantity" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyReceived" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_QtyReceived" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OutstandingQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_OutstandingQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="InitialValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_InitialValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValueReceivedSrc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_ValueReceivedSrc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OutstandingValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_UnitCost" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CostUom" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ValueReceivedtgt" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Edited_ValueReceivedtgt" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TransactionDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ExpectedDueDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TransfDocNum" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TransferComplete" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ECCItem" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Release" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Area" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DeliveryNote" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Document" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TransactionItem" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Line" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Entry" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TransactionDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TransactionTypeDescrip" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvJournal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_Quantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SrcValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_SrcValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SrcUnitCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_SrcUnitCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TgtUnitCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_TgtUnitCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TgtValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_TgtValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PostingPeriod" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PostingYear" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvJnlEntry" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TransactionHh" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TransactionMm" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FifoBucketItem" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Line" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DateCreated" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyReceived" type="xsd:string" minOccurs="0"/>
													<xsd:element name="FifoCost" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DateLastReceipt" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Complete" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="LotTransferItem" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_Quantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyReceived" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_QtyReceived" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyOutstanding" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_QtyOutstanding" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Release" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Certificate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Complete" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SerialTransferItem" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Serial" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_Quantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyReceived" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_QtyReceived" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyOutstanding" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Edited_QtyOutstanding" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ScrapDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Complete" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:string"/>
			<xsd:attribute name="CssStyle" type="xsd:string"/>
			<xsd:attribute name="DecFormat" type="xsd:string"/>
			<xsd:attribute name="DateFormat" type="xsd:string"/>
			<xsd:attribute name="Role" type="xsd:string"/>
			<xsd:attribute name="Version" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NewDataSet">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GoodsInTransitQuery"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
