Schemas7/INVQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="InventoryOptions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FifoValuation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MultipleBins" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvAmendJnlsReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RoundWipAllocs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ABPercentageBreak" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BCPercentageBreak" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AcceptCostVarPerc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RejectImpRecCostVarExc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseFullGit" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSctDesciption" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GitUseAbsoluteDays" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CostingPerWh" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyWhBomCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CostingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DoNotCalcAveCostNegRec" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ActualCosting" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoDeplCostBuckets" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecordInvMmBySerialLot" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockOnHandAllowNeg" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DependentOnWarehouseList">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NegQtyInSelWhList" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DependentOnWhRange">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NegQtyInSelWh" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WhSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FromWarehouse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ToWarehouse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Options">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AgedInvValReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UpdLastCostIfStdCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclInvNmCostInLastCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SerialTrackReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SameSerialMultStockCodes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RetSerialInfoAfterNegRec" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyCostMultInvRec" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SuppStockCodeIchgReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MultBatchSerialRecAllowed" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowBlankListPrcCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValidateProdClass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowBackflushOfBoItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecordMoveForBinTrf" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowCreateBins" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyOpAccesCtlDestWh" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCostUomOtherThanStocked" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NegQtyOnHandInInvVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqLedgerCodes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DisallowSingleWhPerEnd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SetUpStockCodeDelOpts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintFifoJnls" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BalLotsMostRecFifoBucket" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseZeroCostBucketRets" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecalcCostFromFifoBalFunc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecalcCostFromFifoChgWhCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockTakeVariance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockTakeVarMaxPerm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UomDefault" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DefineOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReqLedgerCodesReceipts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqLedgerCodesAdjusts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqLedgerCodesIssues" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqLedgerCodesCostMods" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqLedgerCodesCostChgs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqLedgerCodesPhysical" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqLedgerCodesTransfers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="POReceipts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqLedgerCodesDebits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqLedgerCodesCredits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqLedgerCodesNonMerch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowChgGlCodeInBackflush" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DelOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DelStockCodeConfig" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DelStockCodeCustXref" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DelStockCodeSuppXref" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DelStockCodeEccDrawReg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DelStockCodeBillLandCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DelStockCodeTempSoPoDet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DelStockCodeOnHold" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="History">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SalesHistQtyIncl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetInvJnls" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetInvDocs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPerRetGitEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DayRetBucketsZeroQty" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PurgeMoveRecs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MaxNoRecsRet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RetLast12MthOpenStockBal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RetHistOfPrcChg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DaysRetPriceChgHist" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HistRetExprInMonths" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPriorYeDate1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPriorYeDate2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPriorYeDate3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPriorYeDate4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPriorYeDate5" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PeriodCurrentYear">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InvCurrDatePeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrDatePeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrFlagPeriod13" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PeriodPreviousYear">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InvPrevDatePeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevDatePeriod13" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvPrevFlagPeriod13" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="UserDefined">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DescStockCodeField1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescStockCodeField2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescStockCodeField3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescStockCodeField4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescStockCodeField5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescWhField1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescWhField2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescWhField3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescAltKey1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescAltKey2" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Documents">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DocSelReceipts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DocSelIssues" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DocSelTrfOut" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DocSelPoReceipts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DocSelInspections" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclInsItemsInDocReceipts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefDecimalsInAlign" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CurrentMonth">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InvCurrentYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvCurrentMonth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AccPeriodsPerYear" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Depletion">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AutoDeplLotsInSO" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoDeplLotsInPOS" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DeplRemFromDefBin" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoDeplLotsDate" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Browse">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MultBinBrowseDefSeq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DisplayPriceQtyInvBrowse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FilterStockCodesOpAccess" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefWhForDispQty" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefAtpPresentation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShowWhValsForMultComps" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Companies">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InvQueryCompanyCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvQueryCompanyName" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Numbering">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NextStockRecDoc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextIssueDoc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextTrfOutDoc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextInspectionDoc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextRejectionDoc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextScrappedDoc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeNumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextStockCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GitReference" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextGitReference" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ManSerialNoTracking" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ManSerialNoTrackPrefix" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ManSerialNoTrackSuffix" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowExistInNonStkTable" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Configurator">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DoNotPromptForPrice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AcceptZeroPrice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CreateJobForExistParent" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OverrideExistParentDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DoNotUpdWhCostExistParent" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CostsForBoItemsInBom" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseProductConfiguratorWeb" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductConfiguratorWebPath" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DontAllowSpacesInGenStk" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
