Schemas7/INVQ95OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Kardex Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvKardexQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress"/>
              <xsd:element name="OperatorLocation"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="OperatorPrimaryRole"/>
              <xsd:element name="NoOfDigits" type="xsd:string"/>
              <xsd:element name="DecCharToUse" type="xsd:string"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string"/>
              <xsd:element name="Translated_Sequence" type="xsd:string"/>
              <xsd:element name="Translated_SequenceTotal" type="xsd:string"/>
              <xsd:element name="PartCategory" type="xsd:string"/>
              <xsd:element name="Translated_PartCategory" type="xsd:string"/>
              <xsd:element name="PrintMovementDetails" type="xsd:string"/>
              <xsd:element name="Translated_PrintMovementDetails" type="xsd:string"/>
              <xsd:element name="PrintWhSummaryOnly" type="xsd:string"/>
              <xsd:element name="Translated_PrintWhSummaryOnly" type="xsd:string"/>
              <xsd:element name="PrintProductClassTotals" type="xsd:string"/>
              <xsd:element name="Translated_PrintProductClassTotals" type="xsd:string"/>
              <xsd:element name="PrintForSelectedPeriodOnly" type="xsd:string"/>
              <xsd:element name="Translated_PrintForSelectedPeriodOnly" type="xsd:string"/>
              <xsd:element name="PrintRevisionRelease" type="xsd:string"/>
              <xsd:element name="Translated_PrintRevisionRelease" type="xsd:string"/>
              <xsd:element name="MPSItems" type="xsd:string"/>
              <xsd:element name="Translated_MPSItems" type="xsd:string"/>
              <xsd:element name="StatisticalItems" type="xsd:string"/>
              <xsd:element name="Translated_StatisticalItems" type="xsd:string"/>
              <xsd:element name="LedgerMonth" type="xsd:string"/>
              <xsd:element name="LedgerYear" type="xsd:string"/>
              <xsd:element name="LedgerMonth_LedgerYear" type="xsd:string"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string"/>
              <xsd:element name="WarehouseFilterValue"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="StockCodeFilterValue"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="ProductClassFilterValue"/>
              <xsd:element name="SupplierFilterType" type="xsd:string"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string"/>
              <xsd:element name="SupplierFilterValue"/>
              <xsd:element name="BuyerFilterType" type="xsd:string"/>
              <xsd:element name="Translated_BuyerFilterType" type="xsd:string"/>
              <xsd:element name="BuyerFilterValue"/>
              <xsd:element name="CycleCountFilterType" type="xsd:string"/>
              <xsd:element name="Translated_CycleCountFilterType" type="xsd:string"/>
              <xsd:element name="CycleCountFilterValue" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SequenceItem" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodeItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="LongDesc" type="xsd:string"/>
                    <xsd:element name="StockUom" type="xsd:string"/>
                    <xsd:element name="CostUom" type="xsd:string"/>
                    <xsd:element name="Warehouse" type="xsd:string"/>
                    <xsd:element name="WarehouseDescription" type="xsd:string"/>
                    <xsd:element name="ProductClass" type="xsd:string"/>
                    <xsd:element name="ProductClassDescription" type="xsd:string"/>
                    <xsd:element name="Supplier" type="xsd:string"/>
                    <xsd:element name="SupplierName" type="xsd:string"/>
                    <xsd:element name="Decimals" type="xsd:string"/>
                    <xsd:element name="OnHoldFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OnHoldReason" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OnHoldReasonCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Movements">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="MovementItem" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TransactionType" type="xsd:string"/>
                                <xsd:element name="TransactionDate" type="xsd:string"/>
                                <xsd:element name="Reference" type="xsd:string"/>
                                <xsd:element name="Bin" type="xsd:string"/>
                                <xsd:element name="LotSerial"/>
                                <xsd:element name="QuantityIn" type="xsd:string"/>
                                <xsd:element name="QuantityInUnits" type="xsd:string"/>
                                <xsd:element name="EditedQuantityIn" type="xsd:string"/>
                                <xsd:element name="ValueIn" type="xsd:string"/>
                                <xsd:element name="EditedValueIn" type="xsd:string"/>
                                <xsd:element name="QuantityOut" type="xsd:string"/>
                                <xsd:element name="QuantityOutUnits" type="xsd:string"/>
                                <xsd:element name="EditedQuantityOut" type="xsd:string"/>
                                <xsd:element name="ValueOut" type="xsd:string"/>
                                <xsd:element name="EditedValueOut" type="xsd:string"/>
                                <xsd:element name="QtyBalance" type="xsd:string"/>
                                <xsd:element name="QtyBalanceUnits" type="xsd:string"/>
                                <xsd:element name="EditedQtyBalance" type="xsd:string"/>
                                <xsd:element name="ValueBalance" type="xsd:string"/>
                                <xsd:element name="EditedValueBalance" type="xsd:string"/>
                                <xsd:element name="InvCost" type="xsd:string"/>
                                <xsd:element name="EditedInvCost" type="xsd:string"/>
                                <xsd:element name="RevisionRelease" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="RevRelUserName" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="RevRel" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="MovementTotals">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="OSSubMovementType" type="xsd:string"/>
                          <xsd:element name="Translated_OSSubMovementType" type="xsd:string"/>
                          <xsd:element name="OSSubTotQuantityIn" type="xsd:string"/>
                          <xsd:element name="OSSubTotQuantityInUnits" type="xsd:string"/>
                          <xsd:element name="EditedOSSubTotQuantityIn" type="xsd:string"/>
                          <xsd:element name="OSSubValueIn" type="xsd:string"/>
                          <xsd:element name="EditedOSSubValueIn" type="xsd:string"/>
                          <xsd:element name="OSSubQuantityOut" type="xsd:string"/>
                          <xsd:element name="OSSubQuantityOutUnits" type="xsd:string"/>
                          <xsd:element name="EditedOSSubQuantityOut" type="xsd:string"/>
                          <xsd:element name="OSSubValueOut" type="xsd:string"/>
                          <xsd:element name="EditedOSSubValueOut" type="xsd:string"/>
                          <xsd:element name="OSSubQtyBalance" type="xsd:string"/>
                          <xsd:element name="OSSubQtyBalanceUnits" type="xsd:string"/>
                          <xsd:element name="EditedOSSubQtyBalance" type="xsd:string"/>
                          <xsd:element name="OSSubValueBalance" type="xsd:string"/>
                          <xsd:element name="EditedOSSubValueBalance" type="xsd:string"/>
                          <xsd:element name="OSSubInvCost" type="xsd:string"/>
                          <xsd:element name="EditedOSSubInvCost" type="xsd:string"/>
                          <xsd:element name="RcptSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_RcptSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RcptSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RcptSubTotQuantityInUnits" minOccurs="0"/>
                          <xsd:element name="EditedRcptSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RcptSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedRcptSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RcptSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RcptSubQuantityOutUnits" minOccurs="0"/>
                          <xsd:element name="EditedRcptSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RcptSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedRcptSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RcptSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RcptSubQtyBalanceUnits" minOccurs="0"/>
                          <xsd:element name="EditedRcptSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RcptSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedRcptSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RcptSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedRcptSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdjSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_AdjSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdjSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdjSubTotQuantityInUnits" minOccurs="0"/>
                          <xsd:element name="EditedAdjSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdjSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedAdjSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdjSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdjSubQuantityOutUnits" minOccurs="0"/>
                          <xsd:element name="EditedAdjSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdjSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedAdjSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdjSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdjSubQtyBalanceUnits" minOccurs="0"/>
                          <xsd:element name="EditedAdjSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdjSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedAdjSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AdjSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedAdjSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PhySubMovementType" minOccurs="0"/>
                          <xsd:element name="Translated_PhySubMovementType" minOccurs="0"/>
                          <xsd:element name="PhySubTotQuantityIn" minOccurs="0"/>
                          <xsd:element name="PhySubTotQuantityInUnits" minOccurs="0"/>
                          <xsd:element name="EditedPhySubTotQuantityIn" minOccurs="0"/>
                          <xsd:element name="PhySubValueIn" minOccurs="0"/>
                          <xsd:element name="EditedPhySubValueIn" minOccurs="0"/>
                          <xsd:element name="PhySubQuantityOut" minOccurs="0"/>
                          <xsd:element name="PhySubQuantityOutUnits" minOccurs="0"/>
                          <xsd:element name="EditedPhySubQuantityOut" minOccurs="0"/>
                          <xsd:element name="PhySubValueOut" minOccurs="0"/>
                          <xsd:element name="EditedPhySubValueOut" minOccurs="0"/>
                          <xsd:element name="PhySubQtyBalance" minOccurs="0"/>
                          <xsd:element name="PhySubQtyBalanceUnits" minOccurs="0"/>
                          <xsd:element name="EditedPhySubQtyBalance" minOccurs="0"/>
                          <xsd:element name="PhySubValueBalance" minOccurs="0"/>
                          <xsd:element name="EditedPhySubValueBalance" minOccurs="0"/>
                          <xsd:element name="PhySubInvCost" minOccurs="0"/>
                          <xsd:element name="EditedPhySubInvCost" minOccurs="0"/>
                          <xsd:element name="IssSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_IssSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IssSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IssSubTotQuantityInUnits" minOccurs="0"/>
                          <xsd:element name="EditedIssSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IssSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedIssSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IssSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IssSubQuantityOutUnits" minOccurs="0"/>
                          <xsd:element name="EditedIssSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IssSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedIssSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IssSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IssSubQtyBalanceUnits" minOccurs="0"/>
                          <xsd:element name="EditedIssSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IssSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedIssSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IssSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedIssSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_TrnSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnSubTotQuantityInUnits" minOccurs="0"/>
                          <xsd:element name="EditedTrnSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTrnSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnSubQuantityOutUnits" minOccurs="0"/>
                          <xsd:element name="EditedTrnSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTrnSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnSubQtyBalanceUnits" minOccurs="0"/>
                          <xsd:element name="EditedTrnSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTrnSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTrnSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ModSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_ModSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ModSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ModSubTotQuantityInUnits" minOccurs="0"/>
                          <xsd:element name="EditedModSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ModSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedModSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ModSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ModSubQuantityOutUnits" minOccurs="0"/>
                          <xsd:element name="EditedModSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ModSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedModSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ModSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ModSubQtyBalanceUnits" minOccurs="0"/>
                          <xsd:element name="EditedModSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ModSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedModSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ModSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedModSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ChgSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_ChgSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ChgSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ChgSubTotQuantityInUnits" minOccurs="0"/>
                          <xsd:element name="EditedChgSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ChgSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedChgSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ChgSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ChgSubQuantityOutUnits" minOccurs="0"/>
                          <xsd:element name="EditedChgSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ChgSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedChgSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ChgSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ChgSubQtyBalanceUnits" minOccurs="0"/>
                          <xsd:element name="EditedChgSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ChgSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedChgSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ChgSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedChgSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SaleSubMovementType" minOccurs="0"/>
                          <xsd:element name="Translated_SaleSubMovementType" minOccurs="0"/>
                          <xsd:element name="SaleSubTotQuantityIn" minOccurs="0"/>
                          <xsd:element name="SaleSubTotQuantityInUnits" minOccurs="0"/>
                          <xsd:element name="EditedSaleSubTotQuantityIn" minOccurs="0"/>
                          <xsd:element name="SaleSubValueIn" minOccurs="0"/>
                          <xsd:element name="EditedSaleSubValueIn" minOccurs="0"/>
                          <xsd:element name="SaleSubQuantityOut" minOccurs="0"/>
                          <xsd:element name="SaleSubQuantityOutUnits" minOccurs="0"/>
                          <xsd:element name="EditedSaleSubQuantityOut" minOccurs="0"/>
                          <xsd:element name="SaleSubValueOut" minOccurs="0"/>
                          <xsd:element name="EditedSaleSubValueOut" minOccurs="0"/>
                          <xsd:element name="SaleSubQtyBalance" minOccurs="0"/>
                          <xsd:element name="SaleSubQtyBalanceUnits" minOccurs="0"/>
                          <xsd:element name="EditedSaleSubQtyBalance" minOccurs="0"/>
                          <xsd:element name="SaleSubValueBalance" minOccurs="0"/>
                          <xsd:element name="EditedSaleSubValueBalance" minOccurs="0"/>
                          <xsd:element name="SaleSubInvCost" minOccurs="0"/>
                          <xsd:element name="EditedSaleSubInvCost" minOccurs="0"/>
                          <xsd:element name="DebSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_DebSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DebSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DebSubTotQuantityInUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDebSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DebSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDebSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DebSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DebSubQuantityOutUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDebSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DebSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDebSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DebSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DebSubQtyBalanceUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDebSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DebSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDebSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DebSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDebSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CredSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_CredSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CredSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CredSubTotQuantityInUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCredSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CredSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCredSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CredSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CredSubQuantityOutUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCredSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CredSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCredSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CredSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CredSubQtyBalanceUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCredSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CredSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCredSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CredSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCredSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_DispSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispSubTotQuantityInUnits" minOccurs="0"/>
                          <xsd:element name="EditedDispSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDispSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispSubQuantityOutUnits" minOccurs="0"/>
                          <xsd:element name="EditedDispSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDispSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispSubQtyBalanceUnits" minOccurs="0"/>
                          <xsd:element name="EditedDispSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDispSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDispSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoundSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_RoundSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoundSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoundSubTotQuantityInUnits" minOccurs="0"/>
                          <xsd:element name="EditedRoundSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoundSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedRoundSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoundSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoundSubQuantityOutUnits" minOccurs="0"/>
                          <xsd:element name="EditedRoundSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoundSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedRoundSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoundSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoundSubQtyBalanceUnits" minOccurs="0"/>
                          <xsd:element name="EditedRoundSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoundSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedRoundSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoundSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedRoundSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CloseSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_CloseSubMovementType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CloseSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CloseSubTotQuantityInUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCloseSubTotQuantityIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CloseSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCloseSubValueIn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CloseSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CloseSubQuantityOutUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCloseSubQuantityOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CloseSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCloseSubValueOut" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CloseSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CloseSubQtyBalanceUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCloseSubQtyBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CloseSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCloseSubValueBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CloseSubInvCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCloseSubInvCost" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SequenceTotals" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="OsTotMovementType" type="xsd:string"/>
                    <xsd:element name="Translated_OsTotMovementType" type="xsd:string"/>
                    <xsd:element name="OsTotQtyIn" type="xsd:string"/>
                    <xsd:element name="OsTotQtyInUnits" type="xsd:string"/>
                    <xsd:element name="EditedOsTotQtyIn" type="xsd:string"/>
                    <xsd:element name="OsTotValueIn" type="xsd:string"/>
                    <xsd:element name="EditedOsTotValueIn" type="xsd:string"/>
                    <xsd:element name="OsTotQtyOut" type="xsd:string"/>
                    <xsd:element name="OsTotQtyOutUnits" type="xsd:string"/>
                    <xsd:element name="EditedOsTotQtyOut" type="xsd:string"/>
                    <xsd:element name="OsTotValueOut" type="xsd:string"/>
                    <xsd:element name="EditedOsTotValueOut" type="xsd:string"/>
                    <xsd:element name="OsTotQtyBalance" type="xsd:string"/>
                    <xsd:element name="OsTotQtyBalanceUnits" type="xsd:string"/>
                    <xsd:element name="EditedOsTotQtyBalance" type="xsd:string"/>
                    <xsd:element name="OsTotValueBalance" type="xsd:string"/>
                    <xsd:element name="EditedOsTotValueBalance" type="xsd:string"/>
                    <xsd:element name="OsTotInvCost" type="xsd:string"/>
                    <xsd:element name="EditedOsTotInvCost" type="xsd:string"/>
                    <xsd:element name="RecTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_RecTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RecTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RecTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedRecTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RecTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedRecTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RecTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RecTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedRecTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RecTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedRecTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RecTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RecTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedRecTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RecTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedRecTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RecTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedRecTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdjTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_AdjTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdjTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdjTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedAdjTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdjTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedAdjTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdjTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdjTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedAdjTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdjTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedAdjTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdjTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdjTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedAdjTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdjTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedAdjTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AdjTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedAdjTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PhyTotMovementType" minOccurs="0"/>
                    <xsd:element name="Translated_PhyTotMovementType" minOccurs="0"/>
                    <xsd:element name="PhyTotQtyIn" minOccurs="0"/>
                    <xsd:element name="PhyTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedPhyTotQtyIn" minOccurs="0"/>
                    <xsd:element name="PhyTotValueIn" minOccurs="0"/>
                    <xsd:element name="EditedPhyTotValueIn" minOccurs="0"/>
                    <xsd:element name="PhyTotQtyOut" minOccurs="0"/>
                    <xsd:element name="PhyTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedPhyTotQtyOut" minOccurs="0"/>
                    <xsd:element name="PhyTotValueOut" minOccurs="0"/>
                    <xsd:element name="EditedPhyTotValueOut" minOccurs="0"/>
                    <xsd:element name="PhyTotQtyBalance" minOccurs="0"/>
                    <xsd:element name="PhyTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedPhyTotQtyBalance" minOccurs="0"/>
                    <xsd:element name="PhyTotValueBalance" minOccurs="0"/>
                    <xsd:element name="EditedPhyTotValueBalance" minOccurs="0"/>
                    <xsd:element name="PhyTotInvCost" minOccurs="0"/>
                    <xsd:element name="EditedPhyTotInvCost" minOccurs="0"/>
                    <xsd:element name="TrfTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_TrfTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrfTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrfTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedTrfTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrfTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTrfTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrfTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrfTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedTrfTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrfTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTrfTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrfTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrfTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedTrfTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrfTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTrfTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrfTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTrfTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChgTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_ChgTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChgTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChgTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedChgTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChgTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedChgTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChgTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChgTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedChgTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChgTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedChgTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChgTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChgTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedChgTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChgTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedChgTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ChgTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedChgTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_ModTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedModTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedModTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedModTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedModTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedModTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedModTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedModTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_IssTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedIssTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedIssTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedIssTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedIssTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedIssTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedIssTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedIssTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DebTotMovementType" minOccurs="0"/>
                    <xsd:element name="Translated_DebTotMovementType" minOccurs="0"/>
                    <xsd:element name="DebTotQtyIn" minOccurs="0"/>
                    <xsd:element name="DebTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedDebTotQtyIn" minOccurs="0"/>
                    <xsd:element name="DebTotValueIn" minOccurs="0"/>
                    <xsd:element name="EditedDebTotValueIn" minOccurs="0"/>
                    <xsd:element name="DebTotQtyOut" minOccurs="0"/>
                    <xsd:element name="DebTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedDebTotQtyOut" minOccurs="0"/>
                    <xsd:element name="DebTotValueOut" minOccurs="0"/>
                    <xsd:element name="EditedDebTotValueOut" minOccurs="0"/>
                    <xsd:element name="DebTotQtyBalance" minOccurs="0"/>
                    <xsd:element name="DebTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedDebTotQtyBalance" minOccurs="0"/>
                    <xsd:element name="DebTotValueBalance" minOccurs="0"/>
                    <xsd:element name="EditedDebTotValueBalance" minOccurs="0"/>
                    <xsd:element name="DebTotInvCost" minOccurs="0"/>
                    <xsd:element name="EditedDebTotInvCost" minOccurs="0"/>
                    <xsd:element name="SaleTotMovementType" minOccurs="0"/>
                    <xsd:element name="Translated_SaleTotMovementType" minOccurs="0"/>
                    <xsd:element name="SaleTotQtyIn" minOccurs="0"/>
                    <xsd:element name="SaleTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedSaleTotQtyIn" minOccurs="0"/>
                    <xsd:element name="SaleTotValueIn" minOccurs="0"/>
                    <xsd:element name="EditedSaleTotValueIn" minOccurs="0"/>
                    <xsd:element name="SaleTotQtyOut" minOccurs="0"/>
                    <xsd:element name="SaleTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedSaleTotQtyOut" minOccurs="0"/>
                    <xsd:element name="SaleTotValueOut" minOccurs="0"/>
                    <xsd:element name="EditedSaleTotValueOut" minOccurs="0"/>
                    <xsd:element name="SaleTotQtyBalance" minOccurs="0"/>
                    <xsd:element name="SaleTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedSaleTotQtyBalance" minOccurs="0"/>
                    <xsd:element name="SaleTotValueBalance" minOccurs="0"/>
                    <xsd:element name="EditedSaleTotValueBalance" minOccurs="0"/>
                    <xsd:element name="SaleTotInvCost" minOccurs="0"/>
                    <xsd:element name="EditedSaleTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CredTotMovementType" minOccurs="0"/>
                    <xsd:element name="Translated_CredTotMovementType" minOccurs="0"/>
                    <xsd:element name="CredTotQtyIn" minOccurs="0"/>
                    <xsd:element name="CredTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedCredTotQtyIn" minOccurs="0"/>
                    <xsd:element name="CredTotValueIn" minOccurs="0"/>
                    <xsd:element name="EditedCredTotValueIn" minOccurs="0"/>
                    <xsd:element name="CredTotQtyOut" minOccurs="0"/>
                    <xsd:element name="CredTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedCredTotQtyOut" minOccurs="0"/>
                    <xsd:element name="CredTotValueOut" minOccurs="0"/>
                    <xsd:element name="EditedCredTotValueOut" minOccurs="0"/>
                    <xsd:element name="CredTotQtyBalance" minOccurs="0"/>
                    <xsd:element name="CredTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedCredTotQtyBalance" minOccurs="0"/>
                    <xsd:element name="CredTotValueBalance" minOccurs="0"/>
                    <xsd:element name="EditedCredTotValueBalance" minOccurs="0"/>
                    <xsd:element name="CredTotInvCost" minOccurs="0"/>
                    <xsd:element name="EditedCredTotInvCost" minOccurs="0"/>
                    <xsd:element name="DisTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_DispTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedDispTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedDispTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedDispTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedDispTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedDispTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedDispTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedDispTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RndTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_RndTotMovementType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RndTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RndTotQtyInUnits" minOccurs="0"/>
                    <xsd:element name="EditedRndTotQtyIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RndTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedRndTotValueIn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RndTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RndTotQtyOutUnits" minOccurs="0"/>
                    <xsd:element name="EditedRndTotQtyOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RndTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedRndTotValueOut" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RndTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RndTotQtyBalanceUnits" minOccurs="0"/>
                    <xsd:element name="EditedRndTotQtyBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RndTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedRndTotValueBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RndTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedRndTotInvCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ClsTotMovementType" type="xsd:string"/>
                    <xsd:element name="Translated_ClsTotMovementType" type="xsd:string"/>
                    <xsd:element name="ClsTotQtyIn" type="xsd:string"/>
                    <xsd:element name="ClsTotQtyInUnits" type="xsd:string"/>
                    <xsd:element name="EditedClsTotQtyIn" type="xsd:string"/>
                    <xsd:element name="ClsTotValueIn" type="xsd:string"/>
                    <xsd:element name="EditedClsTotValueIn" type="xsd:string"/>
                    <xsd:element name="ClsTotQtyOut" type="xsd:string"/>
                    <xsd:element name="ClsTotQtyOutUnits" type="xsd:string"/>
                    <xsd:element name="EditedClsTotQtyOut" type="xsd:string"/>
                    <xsd:element name="ClsTotValueOut" type="xsd:string"/>
                    <xsd:element name="EditedClsTotValueOut" type="xsd:string"/>
                    <xsd:element name="ClsTotQtyBalance" type="xsd:string"/>
                    <xsd:element name="ClsTotQtyBalanceUnits" type="xsd:string"/>
                    <xsd:element name="EditedClsTotQtyBalance" type="xsd:string"/>
                    <xsd:element name="ClsTotValueBalance" type="xsd:string"/>
                    <xsd:element name="EditedClsTotValueBalance" type="xsd:string"/>
                    <xsd:element name="ClsTotInvCost" type="xsd:string"/>
                    <xsd:element name="EditedClsTotInvCost" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Warehouse" minOccurs="0"/>
              <xsd:element name="WhDescription" minOccurs="0"/>
              <xsd:element name="SequenceNumOfStkItems" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GrandTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="OSGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OSGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OSGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OSGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedOSGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OSGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedOSGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OSGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OSGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedOSGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OSGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedOSGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OSGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OSGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedOSGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OSGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedOSGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OSGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedOSGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RecGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RecGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RecGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RecGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedRecGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RecGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRecGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RecGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RecGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedRecGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RecGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRecGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RecGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RecGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedRecGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RecGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRecGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RecGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRecGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AdjGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedAdjGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedAdjGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedAdjGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedAdjGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedAdjGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedAdjGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdjGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedAdjGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PhyGrTotMovementType" minOccurs="0"/>
              <xsd:element name="Translated_PhyGrTotMovementType" minOccurs="0"/>
              <xsd:element name="PhyGrTotQtyIn" minOccurs="0"/>
              <xsd:element name="PhyGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedPhyGrTotQtyIn" minOccurs="0"/>
              <xsd:element name="PhyGrTotValueIn" minOccurs="0"/>
              <xsd:element name="EditedPhyGrTotValueIn" minOccurs="0"/>
              <xsd:element name="PhyGrTotQtyOut" minOccurs="0"/>
              <xsd:element name="PhyGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedPhyGrTotQtyOut" minOccurs="0"/>
              <xsd:element name="PhyGrTotValueOut" minOccurs="0"/>
              <xsd:element name="EditedPhyGrTotValueOut" minOccurs="0"/>
              <xsd:element name="PhyGrTotQtyBalance" minOccurs="0"/>
              <xsd:element name="PhyGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedPhyGrTotQtyBalance" minOccurs="0"/>
              <xsd:element name="PhyGrTotValueBalance" minOccurs="0"/>
              <xsd:element name="EditedPhyGrTotValueBalance" minOccurs="0"/>
              <xsd:element name="PhyGrTotInvCost" minOccurs="0"/>
              <xsd:element name="EditedPhyGrTotInvCost" minOccurs="0"/>
              <xsd:element name="TrnGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_TrnGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedTrnGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTrnGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedTrnGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTrnGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedTrnGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTrnGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTrnGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChgGrTotMovementType" minOccurs="0"/>
              <xsd:element name="Translated_ChgGrTotMovementType" minOccurs="0"/>
              <xsd:element name="ChgGrTotQtyIn" minOccurs="0"/>
              <xsd:element name="ChgGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedChgGrTotQtyIn" minOccurs="0"/>
              <xsd:element name="ChgGrTotValueIn" minOccurs="0"/>
              <xsd:element name="EditedChgGrTotValueIn" minOccurs="0"/>
              <xsd:element name="ChgGrTotQtyOut" minOccurs="0"/>
              <xsd:element name="ChgGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedChgGrTotQtyOut" minOccurs="0"/>
              <xsd:element name="ChgGrTotValueOut" minOccurs="0"/>
              <xsd:element name="EditedChgGrTotValueOut" minOccurs="0"/>
              <xsd:element name="ChgGrTotQtyBalance" minOccurs="0"/>
              <xsd:element name="ChgGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedChgGrTotQtyBalance" minOccurs="0"/>
              <xsd:element name="ChgGrTotValueBalance" minOccurs="0"/>
              <xsd:element name="EditedChgGrTotValueBalance" minOccurs="0"/>
              <xsd:element name="ChgGrTotInvCost" minOccurs="0"/>
              <xsd:element name="EditedChgGrTotInvCost" minOccurs="0"/>
              <xsd:element name="ModGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ModGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ModGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ModGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedModGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ModGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedModGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ModGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ModGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedModGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ModGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedModGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ModGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ModGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedModGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ModGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedModGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ModGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedModGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IssGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedIssGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedIssGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedIssGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedIssGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedIssGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedIssGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedIssGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DebGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedDebGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedDebGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedDebGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedDebGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedDebGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedDebGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedDebGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SaleGrTotMovementType" minOccurs="0"/>
              <xsd:element name="Translated_SaleGrTotMovementType" minOccurs="0"/>
              <xsd:element name="SaleGrTotQtyIn" minOccurs="0"/>
              <xsd:element name="SaleGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedSaleGrTotQtyIn" minOccurs="0"/>
              <xsd:element name="SaleGrTotValueIn" minOccurs="0"/>
              <xsd:element name="EditedSaleGrTotValueIn" minOccurs="0"/>
              <xsd:element name="SaleGrTotQtyOut" minOccurs="0"/>
              <xsd:element name="SaleGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedSaleGrTotQtyOut" minOccurs="0"/>
              <xsd:element name="SaleGrTotValueOut" minOccurs="0"/>
              <xsd:element name="EditedSaleGrTotValueOut" minOccurs="0"/>
              <xsd:element name="SaleGrTotQtyBalance" minOccurs="0"/>
              <xsd:element name="SaleGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedSaleGrTotQtyBalance" minOccurs="0"/>
              <xsd:element name="SaleGrTotValueBalance" minOccurs="0"/>
              <xsd:element name="EditedSaleGrTotValueBalance" minOccurs="0"/>
              <xsd:element name="SaleGrTotInvCost" minOccurs="0"/>
              <xsd:element name="EditedSaleGrTotInvCost" minOccurs="0"/>
              <xsd:element name="CredGrTotMovementType" minOccurs="0"/>
              <xsd:element name="Translated_CredGrTotMovementType" minOccurs="0"/>
              <xsd:element name="CredGrTotQtyIn" minOccurs="0"/>
              <xsd:element name="CredGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedCredGrTotQtyIn" minOccurs="0"/>
              <xsd:element name="CredGrTotValueIn" minOccurs="0"/>
              <xsd:element name="EditedCredGrTotValueIn" minOccurs="0"/>
              <xsd:element name="CredGrTotQtyOut" minOccurs="0"/>
              <xsd:element name="CredGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedCredGrTotQtyOut" minOccurs="0"/>
              <xsd:element name="CredGrTotValueOut" minOccurs="0"/>
              <xsd:element name="EditedCredGrTotValueOut" minOccurs="0"/>
              <xsd:element name="CredGrTotQtyBalance" minOccurs="0"/>
              <xsd:element name="CredGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedCredGrTotQtyBalance" minOccurs="0"/>
              <xsd:element name="CredGrTotValueBalance" minOccurs="0"/>
              <xsd:element name="EditedCredGrTotValueBalance" minOccurs="0"/>
              <xsd:element name="CredGrTotInvCost" minOccurs="0"/>
              <xsd:element name="EditedCredGrTotInvCost" minOccurs="0"/>
              <xsd:element name="DispGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DispGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedDispGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedDispGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedDispGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedDispGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedDispGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedDispGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedDispGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RoundGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedRoundGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRoundGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedRoundGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRoundGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedRoundGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRoundGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRoundGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CloseGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CloseGrTotMovementType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CloseGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CloseGrTotQtyInUnits" minOccurs="0"/>
              <xsd:element name="EditedCloseGrTotQtyIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CloseGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCloseGrTotValueIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CloseGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CloseGrTotQtyOutUnits" minOccurs="0"/>
              <xsd:element name="EditedCloseGrTotQtyOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CloseGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCloseGrTotValueOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CloseGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CloseGrTotQtyBalanceUnits" minOccurs="0"/>
              <xsd:element name="EditedCloseGrTotQtyBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CloseGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCloseGrTotValueBalance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CloseGrTotInvCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCloseGrTotInvCost" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="NumberOfStkItems" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
