Schemas7/INVQVEOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Valuation Summary Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvValuationQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValuationCostBasedOn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ValuationCostBasedOn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyCostingMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CompanyCostingMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockcodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockcodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockcodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActualCosting" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ActualCosting" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReturnWarehouseSummary" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReturnWarehouseSummary" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintZeroValueItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintZeroValueItems" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SummaryReport" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element name="SequenceKeyHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence minOccurs="0">
                    <xsd:element name="GroupingNum" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="SeqKey" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeqKeyDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceKeyDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence minOccurs="0">
                          <xsd:element name="GroupingNum2" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarehouseCostingMethod" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CurrentInventoryValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedCurrentInventoryValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PriorPeriod1InventoryValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedPriorPeriod1InventoryValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PriorPeriod2InventoryValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedPriorPeriod2InventoryValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="HashQuantityValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedHashQuantityValue" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SequenceKeyTotal" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence minOccurs="0">
                          <xsd:element name="CurrentInventoryTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedCurrentInventoryTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PriorPeriod1InventoryTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedPriorPeriod1InventoryTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PriorPeriod2InventoryTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedPriorPeriod2InventoryTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="HashQuantityValueTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedHashQuantityValueTotal" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CompanyTotal" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence minOccurs="0">
                    <xsd:element name="CompCurrentTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedCompCurrentTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompPriorPeriod1Total" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedCompPriorPeriod1Total" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompPriorPeriod2Total" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedCompPriorPeriod2Total" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompHashQuantityTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedCompHashQuantityTotal" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
