Schemas7/INVQ08OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Movement Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="InvMovementsQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvMovementsQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeWhDetails" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeWhDetails" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintMTDItemsOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintMTDItemsOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintSubTotals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintSubTotals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CalcFIFOUnitCosts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CalcFIFOUnitCosts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintMovementTotals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintMovementTotals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintSalesMovements" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintSalesMovements" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintInventoryMovements" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintInventoryMovements" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Receipts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Receipts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Adjustments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Adjustments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Issues" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Issues" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Physical" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Physical" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostChanges" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CostChanges" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostModifications" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CostModifications" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Transfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Transfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoAbcClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NoAbcClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MakeToOrderItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_MakeToOrderItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MPSItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_MPSItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StatisticalItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SalespersonFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CycleCountFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CycleCountFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CycleCountFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostingMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostingByWarehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CostHeading" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NumberOfItemsListed" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodeItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LongDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CycleCount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ListPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedListPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ListPriceCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MpsFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AbcClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MakeToOrderFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockOnHold" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_StockOnHold" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockOnHoldReason" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Transactions" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TransactionItem" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TransactionDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Transaction" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_Transaction" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MovementType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_MovementType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QuantityUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="InvoiceDispatch" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SaleAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedSaleAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CostAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedCostAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TrnValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTrnValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EnteredCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedEnteredCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NewCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedNewCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NewWarehouse" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="SalesTransactionTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TotQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotQuantityUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotSaleAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotSaleAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotCostAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotCostAmount" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="StkMovementTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ReceiptsQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ReceiptsQuantityUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedReceiptsQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ReceiptsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedReceiptsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AdjustmentsQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AdjustmentsQuantityUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedAdjustmentsQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AdjustmentsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedAdjustmentsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ChangesQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ChangesQuantityUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedChangesQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ChangesValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedChangesValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PhysicalQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PhysicalQuantityUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedPhysicalQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PhysicalValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedPhysicalValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="IssuesQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="IssuesQuantityUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedIssuesQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="IssuesValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedIssuesValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ModificationsQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ModificationsQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedModificationsQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ModificationsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedModificationsValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TransfersQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TransfersQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTransfersQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TransfersValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTransfersValue" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="StkWarehouseTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="WarehouseItem" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="WhDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DefaultBin" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OpeningStock" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OpeningStockUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedOpeningStock" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MtdReceipts" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MtdReceiptsUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedMtdReceipts" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MtdAdjustments" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MtdAdjustmentsUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedMtdAdjustments" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MtdTransfers" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MtdTransfersUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedMtdTransfers" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MtdSoldIssues" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MtdSoldIssuesUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedMtdSoldIssues" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ClosingStock" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ClosingStockUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedClosingStock" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyInTransit" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyInTransitUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedQtyInTransit" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedUnitCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="WarehouseValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedWarehouseValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AbcClass" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="WhTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TotOpeningStock" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotOpeningStockUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotOpeningStock" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotMtdReceipts" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotMtdReceiptsUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotMtdReceipts" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotMtdAdjustments" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotMtdAdjustmentsUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotMtdAdjustments" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotMtdTransfers" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotMtdTransfersUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotMtdTransfers" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotMtdSoldIssues" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotMtdSoldIssuesUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotMtdSoldIssues" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotClosingStock" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotClosingStockUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotClosingStock" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotQtyInTransit" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotQtyInTransitUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotQtyInTransit" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotWarehouseValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotWarehouseValue" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GrandTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NumberOfStkItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesMovementTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TotQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotQuantityUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTotQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotSale" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTotSale" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTotCost" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
