Schemas7/INVQ26OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Aged Inventory Valuation Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvAgedValuationQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
              <xsd:element name="NoOfDigits" type="xsd:string"/>
              <xsd:element name="DecCharToUse" type="xsd:string"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string"/>
              <xsd:element name="SequenceDescription" type="xsd:string"/>
              <xsd:element name="Translated_SequenceDescription" type="xsd:string"/>
              <xsd:element name="PrintPriorYears" type="xsd:string"/>
              <xsd:element name="ReportOption" type="xsd:string"/>
              <xsd:element name="Translated_ReportOption" type="xsd:string"/>
              <xsd:element name="IncludeZeroQtyOnHand" type="xsd:string"/>
              <xsd:element name="Translated_IncludeZeroQtyOnHand" type="xsd:string"/>
              <xsd:element name="IncludeLessThanZeroQtyOnHand" type="xsd:string"/>
              <xsd:element name="Translated_IncludeLessThanZeroQtyOnHand" type="xsd:string"/>
              <xsd:element name="IncludeValues" type="xsd:string"/>
              <xsd:element name="Translated_IncludeValues" type="xsd:string"/>
              <xsd:element name="ConsolidateWarehouses" type="xsd:string"/>
              <xsd:element name="Translated_ConsolidateWarehouses" type="xsd:string"/>
              <xsd:element name="Translated_ColHead1"/>
              <xsd:element name="Translated_ColHead2"/>
              <xsd:element name="IncludePercentage" type="xsd:string"/>
              <xsd:element name="Translated_IncludePercentage" type="xsd:string"/>
              <xsd:element name="PercentageCurrentYear" type="xsd:string"/>
              <xsd:element name="PercentagePreviousYear1" type="xsd:string"/>
              <xsd:element name="PercentagePreviousYear2" type="xsd:string"/>
              <xsd:element name="PercentagePreviousYear3" type="xsd:string"/>
              <xsd:element name="PercentagePreviousYear4" type="xsd:string"/>
              <xsd:element name="PercentagePreviousYear5" type="xsd:string"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string"/>
              <xsd:element name="Translated_SupplierFilterValue" type="xsd:string"/>
              <xsd:element name="SupplierFilterType" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="WhItemPeriods">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CurrentYear" type="xsd:string"/>
              <xsd:element name="Translated_CurrentYear" type="xsd:string"/>
              <xsd:element name="YearEnd1" type="xsd:string"/>
              <xsd:element name="YearEnd2" type="xsd:string"/>
              <xsd:element name="YearEnd3" type="xsd:string"/>
              <xsd:element name="YearEnd4" type="xsd:string"/>
              <xsd:element name="YearEnd5" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SequenceItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SequenceItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCodeItem">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Warehouse" type="xsd:string"/>
                          <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string"/>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="LongDesc" type="xsd:string"/>
                          <xsd:element name="ProductClass" type="xsd:string"/>
                          <xsd:element name="ProductClassDescription" type="xsd:string"/>
                          <xsd:element name="Supplier" type="xsd:string"/>
                          <xsd:element name="SupplierName" type="xsd:string"/>
                          <xsd:element name="StockUom" type="xsd:string"/>
                          <xsd:element name="CostUom" type="xsd:string"/>
                          <xsd:element name="Mass" type="xsd:string"/>
                          <xsd:element name="WarehouseItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Warehouse" type="xsd:string"/>
                                <xsd:element name="UnitCost" type="xsd:string"/>
                                <xsd:element name="EditedUnitCost" type="xsd:string"/>
                                <xsd:element name="TotalQuantity" type="xsd:string"/>
                                <xsd:element name="TotalQuantityUnits" type="xsd:string"/>
                                <xsd:element name="EditedTotalQuantity" type="xsd:string"/>
                                <xsd:element name="TotalValue" type="xsd:string"/>
                                <xsd:element name="EditedTotalValue" type="xsd:string"/>
                                <xsd:element name="TotalValuePerc" type="xsd:string"/>
                                <xsd:element name="EditedTotalValuePerc" type="xsd:string"/>
                                <xsd:element name="CurrentQuantity" type="xsd:string"/>
                                <xsd:element name="CurrentQuantityUnits" type="xsd:string"/>
                                <xsd:element name="EditedCurrentQuantity" type="xsd:string"/>
                                <xsd:element name="CurrentValue" type="xsd:string"/>
                                <xsd:element name="EditedCurrentValue" type="xsd:string"/>
                                <xsd:element name="CurrentValuePerc" type="xsd:string"/>
                                <xsd:element name="EditedCurrentValuePerc" type="xsd:string"/>
                                <xsd:element name="Quantity1" type="xsd:string"/>
                                <xsd:element name="QuantityUnits1" type="xsd:string"/>
                                <xsd:element name="EditedQuantity1" type="xsd:string"/>
                                <xsd:element name="Value1" type="xsd:string"/>
                                <xsd:element name="EditedValue1" type="xsd:string"/>
                                <xsd:element name="Value1Perc" type="xsd:string"/>
                                <xsd:element name="EditedValue1Perc" type="xsd:string"/>
                                <xsd:element name="Quantity2" type="xsd:string"/>
                                <xsd:element name="QuantityUnits2" type="xsd:string"/>
                                <xsd:element name="EditedQuantity2" type="xsd:string"/>
                                <xsd:element name="Value2" type="xsd:string"/>
                                <xsd:element name="EditedValue2" type="xsd:string"/>
                                <xsd:element name="Value2Perc" type="xsd:string"/>
                                <xsd:element name="EditedValue2Perc" type="xsd:string"/>
                                <xsd:element name="Quantity3" type="xsd:string"/>
                                <xsd:element name="QuantityUnits3" type="xsd:string"/>
                                <xsd:element name="EditedQuantity3" type="xsd:string"/>
                                <xsd:element name="Value3" type="xsd:string"/>
                                <xsd:element name="EditedValue3" type="xsd:string"/>
                                <xsd:element name="Value3Perc" type="xsd:string"/>
                                <xsd:element name="EditedValue3Perc" type="xsd:string"/>
                                <xsd:element name="Quantity4" type="xsd:string"/>
                                <xsd:element name="QuantityUnits4" type="xsd:string"/>
                                <xsd:element name="EditedQuantity4" type="xsd:string"/>
                                <xsd:element name="Value4" type="xsd:string"/>
                                <xsd:element name="EditedValue4" type="xsd:string"/>
                                <xsd:element name="Value4Perc" type="xsd:string"/>
                                <xsd:element name="EditedValue4Perc" type="xsd:string"/>
                                <xsd:element name="Quantity5" type="xsd:string"/>
                                <xsd:element name="QuantityUnits5" type="xsd:string"/>
                                <xsd:element name="EditedQuantity5" type="xsd:string"/>
                                <xsd:element name="Value5" type="xsd:string"/>
                                <xsd:element name="EditedValue5" type="xsd:string"/>
                                <xsd:element name="Value5Perc" type="xsd:string"/>
                                <xsd:element name="EditedValue5Perc" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SubTotalItem">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SubSequenceElement"/>
                          <xsd:element name="SubTotalQuantity" type="xsd:string"/>
                          <xsd:element name="SubTotalQuantityUnits" type="xsd:string"/>
                          <xsd:element name="EditedSubTotalQuantity" type="xsd:string"/>
                          <xsd:element name="SubTotalValue" type="xsd:string"/>
                          <xsd:element name="EditedSubTotalValue" type="xsd:string"/>
                          <xsd:element name="SubTotalValuePerc" type="xsd:string"/>
                          <xsd:element name="EditedSubTotalValuePerc" type="xsd:string"/>
                          <xsd:element name="SubCurrentQuantity" type="xsd:string"/>
                          <xsd:element name="SubCurrentQuantityUnits" type="xsd:string"/>
                          <xsd:element name="EditedSubCurrentQuantity" type="xsd:string"/>
                          <xsd:element name="SubCurrentValue" type="xsd:string"/>
                          <xsd:element name="EditedSubCurrentValue" type="xsd:string"/>
                          <xsd:element name="SubCurrentValuePerc" type="xsd:string"/>
                          <xsd:element name="EditedSubCurrentValuePerc" type="xsd:string"/>
                          <xsd:element name="SubQuantity1" type="xsd:string"/>
                          <xsd:element name="SubQuantityUnits1" type="xsd:string"/>
                          <xsd:element name="EditedSubQuantity1" type="xsd:string"/>
                          <xsd:element name="SubValue1" type="xsd:string"/>
                          <xsd:element name="EditedSubValue1" type="xsd:string"/>
                          <xsd:element name="SubValue1Perc" type="xsd:string"/>
                          <xsd:element name="EditedSubValue1Perc" type="xsd:string"/>
                          <xsd:element name="SubQuantity2" type="xsd:string"/>
                          <xsd:element name="SubQuantityUnits2" type="xsd:string"/>
                          <xsd:element name="EditedSubQuantity2" type="xsd:string"/>
                          <xsd:element name="SubValue2" type="xsd:string"/>
                          <xsd:element name="EditedSubValue2" type="xsd:string"/>
                          <xsd:element name="SubValue2Perc" type="xsd:string"/>
                          <xsd:element name="EditedSubValue2Perc" type="xsd:string"/>
                          <xsd:element name="SubQuantity3" type="xsd:string"/>
                          <xsd:element name="SubQuantityUnits3" type="xsd:string"/>
                          <xsd:element name="EditedSubQuantity3" type="xsd:string"/>
                          <xsd:element name="SubValue3" type="xsd:string"/>
                          <xsd:element name="EditedSubValue3" type="xsd:string"/>
                          <xsd:element name="SubValue3Perc" type="xsd:string"/>
                          <xsd:element name="EditedSubValue3Perc" type="xsd:string"/>
                          <xsd:element name="SubQuantity4" type="xsd:string"/>
                          <xsd:element name="SubQuantityUnits4" type="xsd:string"/>
                          <xsd:element name="EditedSubQuantity4" type="xsd:string"/>
                          <xsd:element name="SubValue4" type="xsd:string"/>
                          <xsd:element name="EditedSubValue4" type="xsd:string"/>
                          <xsd:element name="SubValue4Perc" type="xsd:string"/>
                          <xsd:element name="EditedSubValue4Perc" type="xsd:string"/>
                          <xsd:element name="SubQuantity5" type="xsd:string"/>
                          <xsd:element name="SubQuantityUnits5" type="xsd:string"/>
                          <xsd:element name="EditedSubQuantity5" type="xsd:string"/>
                          <xsd:element name="SubValue5" type="xsd:string"/>
                          <xsd:element name="EditedSubValue5" type="xsd:string"/>
                          <xsd:element name="SubValue5Perc" type="xsd:string"/>
                          <xsd:element name="EditedSubValue5Perc" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="GrandTotalItem">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GrandTotalQuantity" type="xsd:string"/>
                    <xsd:element name="GrandTotalQuantityUnits" type="xsd:string"/>
                    <xsd:element name="EditedGrandTotalQuantity" type="xsd:string"/>
                    <xsd:element name="GrandTotalValue" type="xsd:string"/>
                    <xsd:element name="EditedGrandTotalValue" type="xsd:string"/>
                    <xsd:element name="GrandTotalValuePerc" type="xsd:string"/>
                    <xsd:element name="EditedGrandTotalValuePerc" type="xsd:string"/>
                    <xsd:element name="GrandCurrentQuantity" type="xsd:string"/>
                    <xsd:element name="GrandCurrentQuantityUnits" type="xsd:string"/>
                    <xsd:element name="EditedGrandCurrentQuantity" type="xsd:string"/>
                    <xsd:element name="GrandCurrentValue" type="xsd:string"/>
                    <xsd:element name="EditedGrandCurrentValue" type="xsd:string"/>
                    <xsd:element name="GrandCurrentValuePerc" type="xsd:string"/>
                    <xsd:element name="EditedGrandCurrentValuePerc" type="xsd:string"/>
                    <xsd:element name="GrandQuantity1" type="xsd:string"/>
                    <xsd:element name="GrandQuantityUnits1" type="xsd:string"/>
                    <xsd:element name="EditedGrandQuantity1" type="xsd:string"/>
                    <xsd:element name="GrandValue1" type="xsd:string"/>
                    <xsd:element name="EditedGrandValue1" type="xsd:string"/>
                    <xsd:element name="GrandValue1Perc" type="xsd:string"/>
                    <xsd:element name="EditedGrandValue1Perc" type="xsd:string"/>
                    <xsd:element name="GrandQuantity2" type="xsd:string"/>
                    <xsd:element name="GrandQuantityUnits2" type="xsd:string"/>
                    <xsd:element name="EditedGrandQuantity2" type="xsd:string"/>
                    <xsd:element name="GrandValue2" type="xsd:string"/>
                    <xsd:element name="EditedGrandValue2" type="xsd:string"/>
                    <xsd:element name="GrandValue2Perc" type="xsd:string"/>
                    <xsd:element name="EditedGrandValue2Perc" type="xsd:string"/>
                    <xsd:element name="GrandQuantity3" type="xsd:string"/>
                    <xsd:element name="GrandQuantityUnits3" type="xsd:string"/>
                    <xsd:element name="EditedGrandQuantity3" type="xsd:string"/>
                    <xsd:element name="GrandValue3" type="xsd:string"/>
                    <xsd:element name="EditedGrandValue3" type="xsd:string"/>
                    <xsd:element name="GrandValue3Perc" type="xsd:string"/>
                    <xsd:element name="EditedGrandValue3Perc" type="xsd:string"/>
                    <xsd:element name="GrandQuantity4" type="xsd:string"/>
                    <xsd:element name="GrandQuantityUnits4" type="xsd:string"/>
                    <xsd:element name="EditedGrandQuantity4" type="xsd:string"/>
                    <xsd:element name="GrandValue4" type="xsd:string"/>
                    <xsd:element name="EditedGrandValue4" type="xsd:string"/>
                    <xsd:element name="GrandValue4Perc" type="xsd:string"/>
                    <xsd:element name="EditedGrandValue4Perc" type="xsd:string"/>
                    <xsd:element name="GrandQuantity5" type="xsd:string"/>
                    <xsd:element name="GrandQuantityUnits5" type="xsd:string"/>
                    <xsd:element name="EditedGrandQuantity5" type="xsd:string"/>
                    <xsd:element name="GrandValue5" type="xsd:string"/>
                    <xsd:element name="EditedGrandValue5" type="xsd:string"/>
                    <xsd:element name="GrandValue5Perc" type="xsd:string"/>
                    <xsd:element name="EditedGrandValue5Perc" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GrandWhTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GrandWhTotalItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GrandWhWarehouse" type="xsd:string"/>
                    <xsd:element name="GrandWhDescription" type="xsd:string"/>
                    <xsd:element name="GrandWhTotalQuantity" type="xsd:string"/>
                    <xsd:element name="GrandWhTotalQuantityUnits" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhTotalQuantity" type="xsd:string"/>
                    <xsd:element name="GrandWhTotalValuePerc" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhTotalValuePerc" type="xsd:string"/>
                    <xsd:element name="GrandWhCurrentQuantity" type="xsd:string"/>
                    <xsd:element name="GrandWhCurrentQuantityUnits" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhCurrentQuantity" type="xsd:string"/>
                    <xsd:element name="GrandWhCurrentValuePerc" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhCurrentValuePerc" type="xsd:string"/>
                    <xsd:element name="GrandWhQuantity1" type="xsd:string"/>
                    <xsd:element name="GrandWhQuantityUnits1" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhQuantity1" type="xsd:string"/>
                    <xsd:element name="GrandWhValue1Perc" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhValue1Perc" type="xsd:string"/>
                    <xsd:element name="GrandWhQuantity2" type="xsd:string"/>
                    <xsd:element name="GrandWhQuantityUnits2" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhQuantity2" type="xsd:string"/>
                    <xsd:element name="GrandWhValue2Perc" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhValue2Perc" type="xsd:string"/>
                    <xsd:element name="GrandWhQuantity3" type="xsd:string"/>
                    <xsd:element name="GrandWhQuantityUnits3" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhQuantity3" type="xsd:string"/>
                    <xsd:element name="GrandWhValue3Perc" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhValue3Perc" type="xsd:string"/>
                    <xsd:element name="GrandWhQuantity4" type="xsd:string"/>
                    <xsd:element name="GrandWhQuantityUnits4" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhQuantity4" type="xsd:string"/>
                    <xsd:element name="GrandWhValue4Perc" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhValue4Perc" type="xsd:string"/>
                    <xsd:element name="GrandWhQuantity5" type="xsd:string"/>
                    <xsd:element name="GrandWhQuantityUnits5" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhQuantity5" type="xsd:string"/>
                    <xsd:element name="GrandWhValue5Perc" type="xsd:string"/>
                    <xsd:element name="EditedGrandWhValue5Perc" type="xsd:string"/>
                    <xsd:element name="GrandWhTotValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedGrandWhTotValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GrandWhCurrentValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedGrandWhCurrentValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GrandWhValue1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedGrandWhValue1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GrandWhValue2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedGrandWhValue2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GrandWhValue3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedGrandWhValue3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GrandWhValue4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedGrandWhValue4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GrandWhValue5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedGrandWhValue5" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
