Schemas7/INVQBSOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory to Sales Balance Query Business Object
-->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" id="InvToSalesBalanceQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvToSalesBalanceQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DetailOrSummary" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaxItemsToReturn" type="xsd:string" minOccurs="0" />
              <xsd:element name="RunDate" type="xsd:string" minOccurs="0" />
              <xsd:element name="RunTime" type="xsd:string" minOccurs="0" />
              <xsd:element name="LockType" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="HealthCheckResults">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RowsAffected" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhsAlloc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhsAllocUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedWhsAlloc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SlsAlloc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SlsAllocUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSlsAlloc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhsBackOrd" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhsBackOrdUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedWhsBackOrd" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SlsBackOrd" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SlsBackOrdUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSlsBackOrd" type="xsd:string" />
                    <xsd:element name="WhsBinShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhsBinShipUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedWhsBinShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SlsBinShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SlsBinShipUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSlsBinShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhsLotShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhsLotShipUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedWhsLotShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SlsLotShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SlsLotShipUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSlsLotShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhsSerShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhsSerShipUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedWhsSerShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SlsSerShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SlsSerShipUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSlsSerShip" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>