Schemas7/INVQTS.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Stock Take Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Key">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Warehouse" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>This is the key element and is mandatory.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Option" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="ValueStockAt" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Value stoc return at stock code or warehouse. S-Stock code, W-Warehouse. Default is S-Stock code.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="OnlyShowExceptionLines" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Option to show exception lines ONLY. Y-Yes, N-No. Default is N-No.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="XslStylesheet" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The style sheet.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType/>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Filter" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="StockCode" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Stock code filter, A-All, R-Range, S-Single. Default is A-All.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BinLocation" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Bin filter, A-All, R-Range, S-Single. Default is A-All.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="UnitOfMeasure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Unit of measure filter, A-All, R-Range, S-Single, Default S-Single.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="S"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ProductClass" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Product class filter, A-All, R-Range, S-Single, Default is A-All.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
