Schemas7/INVQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="InvQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" minOccurs="0">
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="StockItem">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="StockCode" type="xsd:string"/>
							<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LongDesc" type="xsd:string"/>
							<xsd:element name="AlternateKey1" type="xsd:string"/>
							<xsd:element name="AlternateKey2" type="xsd:string"/>
							<xsd:element name="Version" type="xsd:string"/>
							<xsd:element name="Release" type="xsd:string"/>
							<xsd:element name="StockUom" type="xsd:string"/>
							<xsd:element name="ManufactureUom" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AlternateUom" type="xsd:string"/>
							<xsd:element name="ConvFactAltUom" type="xsd:string"/>
							<xsd:element name="ConvMulDiv" type="xsd:string"/>
							<xsd:element name="OtherUom" type="xsd:string"/>
							<xsd:element name="ConvFactOthUom" type="xsd:string"/>
							<xsd:element name="MulDiv" type="xsd:string"/>
							<xsd:element name="StockAndAltUm" type="xsd:string"/>
							<xsd:element name="PartCategory" type="xsd:string"/>
							<xsd:element name="PartCategoryDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Supplier" type="xsd:string"/>
							<xsd:element name="SupplierName" type="xsd:string"/>
							<xsd:element name="ProductClass" type="xsd:string"/>
							<xsd:element name="ProductClassDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Buyer" type="xsd:string"/>
							<xsd:element name="BuyerDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Planner" type="xsd:string"/>
							<xsd:element name="PlannerDesc" type="xsd:string"/>
							<xsd:element name="TraceableType" type="xsd:string"/>
							<xsd:element name="TraceableTypeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MpsFlag" type="xsd:string"/>
							<xsd:element name="MpsFlagDesc" type="xsd:string"/>
							<xsd:element name="SupercessionDate" type="xsd:string"/>
							<xsd:element name="ResourceCode" type="xsd:string"/>
							<xsd:element name="ResourceCodeDesc" type="xsd:string"/>
							<xsd:element name="ComponentCount" type="xsd:string"/>
							<xsd:element name="InclInStrValid" type="xsd:string"/>
							<xsd:element name="LabourCost" type="xsd:string"/>
							<xsd:element name="Edited_LabourCost" type="xsd:string"/>
							<xsd:element name="MaterialCost" type="xsd:string"/>
							<xsd:element name="Edited_MaterialCost" type="xsd:string"/>
							<xsd:element name="FixedOverhead" type="xsd:string"/>
							<xsd:element name="Edited_FixedOverhead" type="xsd:string"/>
							<xsd:element name="VariableOverhead" type="xsd:string"/>
							<xsd:element name="Edited_VariableOverhead" type="xsd:string"/>
							<xsd:element name="SubContractCost" type="xsd:string"/>
							<xsd:element name="Edited_SubContractCost" type="xsd:string"/>
							<xsd:element name="TotalCost" type="xsd:string"/>
							<xsd:element name="QuantityUnsigned" type="xsd:string"/>
							<xsd:element name="DrawOfficeNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Ebq" type="xsd:string"/>
							<xsd:element name="Edited_Ebq" type="xsd:string"/>
							<xsd:element name="DockToStock" type="xsd:string"/>
							<xsd:element name="ManufLeadTime" type="xsd:string"/>
							<xsd:element name="TariffCode" type="xsd:string"/>
							<xsd:element name="UserField1" type="xsd:string"/>
							<xsd:element name="UserField2" type="xsd:string"/>
							<xsd:element name="UserField3" type="xsd:string"/>
							<xsd:element name="UserField4" type="xsd:string"/>
							<xsd:element name="UserField5" type="xsd:string"/>
							<xsd:element name="LeadTime" type="xsd:string"/>
							<xsd:element name="WarehouseToUse" type="xsd:string"/>
							<xsd:element name="WarehouseToUseDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MinimumPricePctAboveCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_MinimumPricePctAboveCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GstTaxCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GstTaxDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GstIncludedInPrice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DemandTimeFenceInDays" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShelfLifeInDays" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MakeToOrderFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DistributionWarehouseToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DistributionWarehouseToUseDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CountryOfOrigin" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CountryOfOriginDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrossReqRule" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrossReqRuleDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EccUser" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EccUserDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BuyingRule" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BuyingRuleDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FixedTimeDaysForRuleC" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EbqPan" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PanSize" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_PanSize" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PercentageYield" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LowLevelCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WipCtlGlCode" type="xsd:anySimpleType" minOccurs="0"/>
							<xsd:element name="DateStockAdded" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AbcPreProd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_AbcPreProd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AbcManufacturing" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_AbcManufacturing" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AbcSales" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_AbcSales" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AbcCumPreProd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_AbcCumPreProd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AbcCumManuf" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_AbcCumManuf" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SpecificGravity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Edited_SpecificGravity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PriceBasis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Mass" type="xsd:string"/>
							<xsd:element name="Volume" type="xsd:string"/>
							<xsd:element name="PriceCategory" type="xsd:string"/>
							<xsd:element name="PriceMethod" type="xsd:string"/>
							<xsd:element name="CycleCount" type="xsd:string"/>
							<xsd:element name="TaxCode" type="xsd:string"/>
							<xsd:element name="TaxCodeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OtherTaxCode" type="xsd:string"/>
							<xsd:element name="OtherTaxCodeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ListPriceCode" type="xsd:string"/>
							<xsd:element name="SerialMethod" type="xsd:string"/>
							<xsd:element name="SerialMethodDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="KitType" type="xsd:string"/>
							<xsd:element name="KitTypeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BulkIssueFlag" type="xsd:string"/>
							<xsd:element name="BulkIssueFlagDesc" type="xsd:string"/>
							<xsd:element name="AbcClass" type="xsd:string"/>
							<xsd:element name="StockMovementReq" type="xsd:string"/>
							<xsd:element name="ClearingFlag" type="xsd:string"/>
							<xsd:element name="AbcAnalysisReq" type="xsd:string"/>
							<xsd:element name="AbcCostingReq" type="xsd:string"/>
							<xsd:element name="CostUom" type="xsd:string"/>
							<xsd:element name="SellingPrice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PriceBasis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PriceBasisDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockOnHold" type="xsd:string"/>
							<xsd:element name="StockOnHoldDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockOnHoldReason" type="xsd:string"/>
							<xsd:element name="StockOnHoldReasonDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BinItem" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyOnHand" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AvailableQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Note" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OnHold" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OnHoldReason" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LotItem" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LotJob" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DrawingNum" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DrawingNumDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Release" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyOnHand" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AvailableQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Note" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LotHoldFlag" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SerialItem" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Serial" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SerialDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SerialMethod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Location" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ServiceFlag" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LoadFlag" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ServiceDepotFlag" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyOnHand" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyAvailable" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyReceived" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyInTransitOut" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ScrapDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="EccItem" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Release" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyOnHand" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AvailableQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyOnOrder" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyInInspection" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyOnBackOrder" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyAllocated" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyAllocatedWip" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DepleteOldestWipQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyInTransit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyDispatched" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ApprovedManufactures" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AppManufacturer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ManPartNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PreferredFlag" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Status" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RevisionNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="EffectiveDate" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Narrations" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="InspectionText" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="PurchaseOrderAdditionalText" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesOrderAdditionalText" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="TechnicalInformation" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ForeignPrices" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ForeignPriceItem" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="StockCode" minOccurs="0"/>
													<xsd:element name="Currency" minOccurs="0"/>
													<xsd:element name="ForeignPrice" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="WarehouseItem" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Warehouse" type="xsd:string"/>
							<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
							<xsd:element name="QtyOnHand" type="xsd:string"/>
							<xsd:element name="AvailableQty" type="xsd:string"/>
							<xsd:element name="QtyOnOrder" type="xsd:string"/>
							<xsd:element name="QtyInInspection" type="xsd:string"/>
							<xsd:element name="MinimumQty" type="xsd:string"/>
							<xsd:element name="MaximumQty" type="xsd:string"/>
							<xsd:element name="QtyOnBackOrder" type="xsd:string"/>
							<xsd:element name="QtyAllocated" type="xsd:string"/>
							<xsd:element name="MtdQtyReceived" type="xsd:string"/>
							<xsd:element name="MtdQtyAdjusted" type="xsd:string"/>
							<xsd:element name="MtdQtyIssued" type="xsd:string"/>
							<xsd:element name="YtdQtySold" type="xsd:string"/>
							<xsd:element name="PrevYearQtySold" type="xsd:string"/>
							<xsd:element name="QtyInTransit" type="xsd:string"/>
							<xsd:element name="QtyAllocatedWip" type="xsd:string"/>
							<xsd:element name="WipQtyReserved" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MtdQtySold">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="Height" type="xsd:string" use="required"/>
											<xsd:attribute name="Top" type="xsd:string" use="required"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MtdQtyTrf" type="xsd:string"/>
							<xsd:element name="DateLastSale" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateLastCostChange" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateLastCostEntered" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UserField1" type="xsd:string"/>
							<xsd:element name="UserField2" type="xsd:string"/>
							<xsd:element name="UserField3" type="xsd:string"/>
							<xsd:element name="DefaultBin" type="xsd:string"/>
							<xsd:element name="UnitCost" type="xsd:string"/>
							<xsd:element name="FutureFree" type="xsd:string"/>
							<xsd:element name="QuantityDispatchNotInvoiced" type="xsd:string"/>
							<xsd:element name="Parameters" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SafetyStockLevel" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReOrderQuantity" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PalletQuantity" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DefaultBinLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ABCclassification" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RequisitionsInProgress" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LandedCostMultiplier" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Costs" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Method" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastCostEntered" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Current" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastNonMerchandise" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MTDValues" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="MTDSalesValue" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="YTDValues" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="YTDQtyIssued" type="xsd:string" minOccurs="0"/>
										<xsd:element name="YTDSalesValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="YTDUsageValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PySalesValue" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LastActivityDates" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DateLastStockMovement" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateOfLastPurchase" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateOfLastCount" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateWarehouseAdded" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SalesQtyByMonth" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SalesQty1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesQty2">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesQty3">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesQty4">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesQty5">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesQty6">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesQty7">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesQty8">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesQty9">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesQty10">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesQty11">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SalesQty12">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Height" type="xsd:string" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Movement" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="MovementTypeDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="EntryDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TrnYear" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TrnMonth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TrnQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TrnType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TrnTypeDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TrnTime" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AddReference" minOccurs="0">
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="JournalEntry" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Supplier" minOccurs="0"/>
										<xsd:element name="SupplierName" minOccurs="0"/>
										<xsd:element name="TrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesBin" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Area" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CostValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UnitPrice" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerPoNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NewWarehouse" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocTypeDesc" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="Type" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="WarehouseTotals" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="QtyOnHand" type="xsd:string"/>
							<xsd:element name="AvailableQty" type="xsd:string"/>
							<xsd:element name="QtyOnOrder" type="xsd:string"/>
							<xsd:element name="QtyInInspection" type="xsd:string"/>
							<xsd:element name="MinimumQty" type="xsd:string"/>
							<xsd:element name="MaximumQty" type="xsd:string"/>
							<xsd:element name="QtyOnBackOrder" type="xsd:string"/>
							<xsd:element name="QtyAllocated" type="xsd:string"/>
							<xsd:element name="MtdQtyReceived" type="xsd:string"/>
							<xsd:element name="MtdQtyAdjusted" type="xsd:string"/>
							<xsd:element name="MtdQtyIssued" type="xsd:string"/>
							<xsd:element name="MtdQtySold" type="xsd:string"/>
							<xsd:element name="YtdQtySold" type="xsd:string"/>
							<xsd:element name="PrevYearQtySold" type="xsd:string"/>
							<xsd:element name="QtyInTransit" type="xsd:string"/>
							<xsd:element name="QtyAllocatedWip" type="xsd:string"/>
							<xsd:element name="MtdQtyTrf" type="xsd:string"/>
							<xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot9" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot10" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot11" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesQtyTot12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Parameters" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SafetyStockLevel" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReOrderQuantity" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PalletQuantity" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DefaultBinLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ABCclassification" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RequisitionsInProgress" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LandedCostMultiplier" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Costs" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Method" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastCostEntered" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Current" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastNonMerchandise" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MTDValues" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="MTDSalesValue" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="YTDValues" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="YTDQtyIssued" type="xsd:string" minOccurs="0"/>
										<xsd:element name="YTDSalesValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="YTDUsageValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PySalesValue" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
