Schemas7/INVQ23OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Superseded/Clearing Stock Query Business Object
-->
<xsd:schema id="InvSupercededClearingQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvSupercededClearingQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClearingStock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSupersededStock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeStockOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoAbcClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeAlternateStockCodes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeOnHoldDetails" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupersessionDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProductClassDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CostUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Mass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AbcClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CycleCount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupercessionDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ClearingFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OnHoldStatus" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReasonCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OnHoldDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OnholdDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="OnHoldItem" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ItemType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Originator" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Requisition" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="JobDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="JobType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Priority" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MOrderUom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PurchaseOrderLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MOrderQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MOrderQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitQtyReqd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitQtyReqdUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ReqnStatus" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OrderQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OrderQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OrderUom" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="AlternateStockCodes" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="AlternateStockList" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="NoOfItemsListed" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_Yes" minOccurs="0"/>
              <xsd:element name="Text_No" minOccurs="0"/>
              <xsd:element name="Text_Range" minOccurs="0"/>
              <xsd:element name="Text_All" minOccurs="0"/>
              <xsd:element name="Text_Single" minOccurs="0"/>
              <xsd:element name="Text_Stock_code" minOccurs="0"/>
              <xsd:element name="Text_Stock_code_description" minOccurs="0"/>
              <xsd:element name="Text_Supplier" minOccurs="0"/>
              <xsd:element name="Text_Product_class" minOccurs="0"/>
              <xsd:element name="Text_User_file" minOccurs="0"/>
              <xsd:element name="Text_Normal" minOccurs="0"/>
              <xsd:element name="Text_Sub" minOccurs="0"/>
              <xsd:element name="Text_Master" minOccurs="0"/>
              <xsd:element name="Text____On_Partial_Hold___" minOccurs="0"/>
              <xsd:element name="Text____On_Full_Hold___" minOccurs="0"/>
              <xsd:element name="Text_Clearing" minOccurs="0"/>
              <xsd:element name="Text_Superseded_stock" minOccurs="0"/>
              <xsd:element name="Text_Clearing_stock" minOccurs="0"/>
              <xsd:element name="Text_Confirmed_into_a_purchase_order" minOccurs="0"/>
              <xsd:element name="Text_Cancelled" minOccurs="0"/>
              <xsd:element name="Text_Approved_and_ready_to_be_confirmed_into_a_purchase_order" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
