Schemas7/INVQ24OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Goods in Inspection Query Business Object
-->
<xsd:schema id="InventoryGoodsInInspection" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InventoryGoodsInInspection">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncludeNonStockedItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSerialNumbers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPagePerWarehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeRevisionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Warehouses">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Warehouse" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="WarehouseHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="WarehouseCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="StockCodes" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="StockCodeHeader" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeDescription" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="LongDescription" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="GRNs" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="GRN" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="GRNNumber" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="GRNDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PurchaseOrderLine" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Expiry" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OnSiteQty" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OnSiteQtyUnits" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OffSiteQty" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OffSiteQtyUnits" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RejectedQty" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RejectedQtyUnits" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="CommittedValue" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SerialNumbers" minOccurs="0" maxOccurs="unbounded">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="SerialItem" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element name="SerialNumber" type="xsd:string" minOccurs="0"/>
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="StockCodeTotals" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="StockCodeOnSiteQty" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeOnSiteQtyUnits" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeOffSiteQty" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeOffSiteQtyUnits" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeRejectedQty" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeRejectedQtyUnits" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="WarehouseTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="WarehouseCommittedValue" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CompanyTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CompanyCommittedValue" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_All" minOccurs="0"/>
              <xsd:element name="Text_Single" minOccurs="0"/>
              <xsd:element name="Text_Range" minOccurs="0"/>
              <xsd:element name="Text_Yes" minOccurs="0"/>
              <xsd:element name="Text_No" minOccurs="0"/>
              <xsd:element name="Text_Warehouse" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
