Schemas7/INVQATOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the ATP Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AtpQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="LongDesc" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="Release" type="xsd:string"/>
              <xsd:element name="StockUom" type="xsd:string"/>
              <xsd:element name="MakeToOrderFlag" type="xsd:string"/>
              <xsd:element name="Warehouse" type="xsd:string"/>
              <xsd:element name="WhDesc" type="xsd:string"/>
              <xsd:element name="RunDate" type="xsd:string"/>
              <xsd:element name="DtfFormula" type="xsd:string"/>
              <xsd:element name="DtfCalculation" type="xsd:string"/>
              <xsd:element name="TtfFormula" type="xsd:string"/>
              <xsd:element name="TtfCalculation" type="xsd:string"/>
              <xsd:element name="MtfFormula" type="xsd:string"/>
              <xsd:element name="MtfCalculation" type="xsd:string"/>
              <xsd:element name="PtfFormula" type="xsd:string"/>
              <xsd:element name="PtfCalculation" type="xsd:string"/>
              <xsd:element name="PhFormula" type="xsd:string"/>
              <xsd:element name="PhCalculation" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="AtpDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AtpLine" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Date" type="xsd:string"/>
                    <xsd:element name="Source" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="SourceKey" type="xsd:string"/>
                    <xsd:element name="SourceKeyLine" type="xsd:string"/>
                    <xsd:element name="SupplyQty" type="xsd:string"/>
                    <xsd:element name="DemandQty" type="xsd:string"/>
                    <xsd:element name="ProjOnHand" type="xsd:string"/>
                    <xsd:element name="AvailToPromise" type="xsd:string"/>
                    <xsd:element name="CumeAvailToPromise" type="xsd:string"/>
                    <xsd:element name="EccConsumption" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
