Schemas7/INVQ27OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Goods in Inspection Offsite Query Business Object
-->
<xsd:schema id="InventoryGoodsInInspectionOffsite" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InventoryGoodsInInspectionOffsite">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncludeNonStockedItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSerialNumbers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPagePerSupplier" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Supplier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SupplierHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SupplierCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierContact" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierTelephoneNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierFaxNumber" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="StockCode" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCodeHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCodeDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LongDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierCatalogue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="GRNs" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GRN" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GRNDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchaseOrderLine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Expiry" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OffSiteQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OffSiteQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DocumentItems" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DocumentItem" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Document" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="SerialNumbers" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="SerialItem" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="SerStockCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SerGRN" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SerialNumber" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SerDocument" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="StockCodeTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCodeOffSiteQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCodeOffSiteQtyUnits" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SupplierTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SupplierTotalValue" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_All" minOccurs="0"/>
              <xsd:element name="Text_cont_d" minOccurs="0"/>
              <xsd:element name="Text_Yes" minOccurs="0"/>
              <xsd:element name="Text_No" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
