Schemas7/INVSSIDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--This is the schema for Inventory Site Setup Business Object-->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="SetupInvSites">
  <xsd:annotation>
   <xsd:documentation>This is the root element</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Item">
     <xsd:annotation>
      <xsd:documentation>This is the top element for all data required for the transaction</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Key">
        <xsd:annotation>
         <xsd:documentation>This is the element that contains the key field for the transaction</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="SiteId">
           <xsd:annotation>
            <xsd:documentation>This element contains the Site ID for the transaction</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:whiteSpace value="preserve" />
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="SiteType">
        <xsd:annotation>
         <xsd:documentation>This element contains the Site Type for the transaction. The value must exist in the Site Type file</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Description">
        <xsd:annotation>
         <xsd:documentation>This element holds the description to the site id. This field is mandatory is a site ID is being added or updated</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="SiteIdParent">
        <xsd:annotation>
         <xsd:documentation>This element contains a reference to a parent site. If supplied it must be a valid Site ID</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="AllocResolveDays">
        <xsd:annotation>
         <xsd:documentation>This element contains the days before allocations is resolved to the warehouse</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>