Schemas7/INVS13DOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the Inventory Sales Quantity History Setup Program
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DateLastPurchase" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the date on which the item was last purchased</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateLastSale" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the date on which the item was last sold</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="SalesQty1" minOccurs="0"/>
        <xsd:element ref="SalesQty2" minOccurs="0"/>
        <xsd:element ref="SalesQty3" minOccurs="0"/>
        <xsd:element ref="SalesQty4" minOccurs="0"/>
        <xsd:element ref="SalesQty5" minOccurs="0"/>
        <xsd:element ref="SalesQty6" minOccurs="0"/>
        <xsd:element ref="SalesQty7" minOccurs="0"/>
        <xsd:element ref="SalesQty8" minOccurs="0"/>
        <xsd:element ref="SalesQty9" minOccurs="0"/>
        <xsd:element ref="SalesQty10" minOccurs="0"/>
        <xsd:element ref="SalesQty11" minOccurs="0"/>
        <xsd:element ref="SalesQty12" minOccurs="0"/>
        <xsd:element ref="DateLastSale" minOccurs="0"/>
        <xsd:element ref="DateLastPurchase" minOccurs="0"/>
        <xsd:element ref="YtdUsageValue" minOccurs="0"/>
        <xsd:element ref="YtdSalesValue" minOccurs="0"/>
        <xsd:element ref="PrevYtdSalesVal" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="Warehouse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PrevYtdSalesVal" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the sales value of the stock item for the previous year</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty1" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty10" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty11" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty12" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty2" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty3" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty4" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty5" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty6" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty7" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty8" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesQty9" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of the stock item sold in each of the last 12 months</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupSalesQuantityHistory">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is code of the stock item for which you want to maintain sales quantity history. This is mandatory</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Warehouse" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the warehouse for which you want to capture sales history for the selected stock item. This is mandatory</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="YtdSalesValue" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the annual sales value of the stock item</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="YtdUsageValue" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the annual usage value of the stock item</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
