Schemas7/INVSMPDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the Approved Manufacturer Part Number Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SetupManufPartNo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Item">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Key">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StockCode" type="xsd:hexBinary">
											<xsd:annotation>
												<xsd:documentation>Stock code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="AppManufacturer" type="xsd:string">
											<xsd:annotation>
												<xsd:documentation>Approved manufacturer code.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ManPartNumber" type="xsd:string">
											<xsd:annotation>
												<xsd:documentation>Manufacturer part number.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ManPartInfo1" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Notes</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ManPartInfo2" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Notes</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ManPartInfo3">
								<xsd:annotation>
									<xsd:documentation>Notes</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="ManPartInfo4">
								<xsd:annotation>
									<xsd:documentation>Notes</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="ManPartInfo5">
								<xsd:annotation>
									<xsd:documentation>Notes</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="ManPartInfo6">
								<xsd:annotation>
									<xsd:documentation>Notes</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="PreferredFlag" default="Y">
								<xsd:annotation>
									<xsd:documentation>Preferred flag</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Status">
								<xsd:annotation>
									<xsd:documentation>Revision number</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="I"/>
										<xsd:enumeration value="A"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RevisionNumber">
								<xsd:annotation>
									<xsd:documentation>Revision number</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="EffectiveDate" type="xsd:date">
								<xsd:annotation>
									<xsd:documentation>Effective Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
