Schemas7/INVSSPDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--This is the schema for Inventory Site Type Setup Business Object-->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="SetupInvSiteType">
  <xsd:annotation>
   <xsd:documentation>This is the root element</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Item">
     <xsd:annotation>
      <xsd:documentation>This is the top element for all data required for the transaction</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Key">
        <xsd:annotation>
         <xsd:documentation>This element contains the key information required to maintain a site type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="SiteType">
           <xsd:annotation>
            <xsd:documentation>This element contains the key field for a Site Type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:whiteSpace value="preserve" />
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="Description">
        <xsd:annotation>
         <xsd:documentation>This element contains the description held against the site type This element is mandatory.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="SiteTypeParent">
        <xsd:annotation>
         <xsd:documentation>This element contains the parent site type for the site type being maintained. This element must contain a valid site type is supplied. This element is optional.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>