Schemas7/INVSIQDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Quantity Discounts Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Currency" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Currency. It is the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This is the sub root node,  it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="PriceCode"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="Currency"/>
        <xsd:element ref="QtyBreak"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PriceCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Price Code. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="QtyBreak" type="xsd:byte">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Quantity Break. It is the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupInvQuantityDiscounts">
    <xsd:annotation>
      <xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockCode" type="xsd:hexBinary">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Stock code. It is the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
