Schemas7/INVT60.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the Stock Take Selection Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ApplyIfEntireDocumentValid" type="xsd:string"/>
	<xsd:element name="IgnoreWarnings" type="xsd:string"/>
	<xsd:element name="Parameters">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IgnoreWarnings"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PostSelectStockTake">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Parameters"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ValidateOnly" type="xsd:string"/>
</xsd:schema>
