Schemas7/INVTBGOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Goods in Transit Balance Post Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="PostGtrBalance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostGtrBalance">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ChangesApplied" minOccurs="0" >
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GtrChanges" minOccurs="0" >
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="GtrReference" type="xsd:string" minOccurs="0" />
                          <xsd:element name="SourceWarehouse" type="xsd:string" minOccurs="0" />
                          <xsd:element name="TargetWarehouse" type="xsd:string" minOccurs="0" />
                          <xsd:element name="Line" type="xsd:string" minOccurs="0" />
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0" />
                          <xsd:element name="OldValueOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="NewValueOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="OldValueIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="NewValueIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="OldQuantityOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="OldQuantityOutUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedOldQuantityOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="NewQuantityOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="NewQuantityOutUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedNewQuantityOut" type="xsd:string" minOccurs="0" />
                          <xsd:element name="OldQuantityIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="OldQuantityInUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedOldQuantityIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="NewQuantityIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="NewQuantityInUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedNewQuantityIn" type="xsd:string" minOccurs="0" />
                          <xsd:element name="TransactionDate" type="xsd:string" minOccurs="0" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="WhsChanges" minOccurs="0" >
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0" />
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0" />
                          <xsd:element name="OldTransitValue" type="xsd:string" minOccurs="0" />
                          <xsd:element name="NewTransitValue" type="xsd:string" minOccurs="0" />
                          <xsd:element name="OldInTransit" type="xsd:string" minOccurs="0" />
                          <xsd:element name="OldInTransitUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedOldInTransit" type="xsd:string" minOccurs="0" />
                          <xsd:element name="NewInTransit" type="xsd:string" minOccurs="0" />
                          <xsd:element name="NewInTransitUnits" type="xsd:string" minOccurs="0" />
                          <xsd:element name="EditedNewInTransit" type="xsd:string" minOccurs="0" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>