Schemas7/INVTBFDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for Inventory Backflushing Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Lot">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory for lot traceable stock items. You may supply multiple lots for lot traceable components, but only one lot will be accepted for the parent item. The format is either alphanumeric or numeric, depending on the key configuration setup for lot within SYSPRO.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PostInvBackflushing">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element name="Item" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>This is the top element for all data required for each parent item for the transaction.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:sequence>
              <xsd:element name="ParentJournal" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the journal number to which the transaction journal entry generated during the receipt of the parent item, will be added. It must be valid for the current posting period and warehouse and may not have been printed already. If not supplied a new journal will be created.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ComponentJournal" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the journal number to which the transaction journal entries generated when a component is being issued, will be added. It must be valid for the current posting period and warehouse and may not have been printed already. If not supplied a new journal will be created.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Warehouse" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the warehouse that the parent item will be receipted into. The warehouse will default to the default warehouse against the parent item or company warehouse, if not supplied.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element ref="StockCode"/>
              <xsd:element name="Version" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the revision level for the parent item. This element is mandatory if the parent item is ECC-controlled at revision or release level. The format is either numeric or alphanumeric depending on the Bill of Material setup option within SYSPRO.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Release" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the release level for the parent item. This element is mandatory if the parent item is ECC-controlled at release level. The format is either numeric or alphanumeric depending on the Bill of Material setup option within SYSPRO.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Quantity" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the quantity to receipt for the parent item. This element is mandatory if the parent stock item is not a unit-quantity type stock item. If it is and this element is supplied, the units and pieces elements must NOT be supplied.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="UnitOfMeasure" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If quantity was supplied in a unit of measure different to the stocking unit of measure, this element must indicate the alternate unit of measure.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Units" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If the parent stock item is a unit-quantity type stock item then the quantity of the transaction may be supplied as units and pieces. This element indicates the units to receipt for the parent item. Alternatively the quantity can be supplied as a decimal value in the element quantity.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Pieces" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If the parent stock item is a unit-quantity type stock item then the quantity of the transaction may be supplied as units and pieces. This element indicates the pieces to receipt for the parent item. Alternatively the quantity can be supplied as a decimal value in the element quantity.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="FifoBucket" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. If FIFO is installed and processing a negative receipt, a specific FIFO bucket may be specified. If a FIFO bucket is supplied when processing a positive receipt, it will be ignored.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element ref="Lot" minOccurs="0"/>
              <xsd:element name="LotConcession" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. However, if the element 'IgnoreWarnings' is set to 'N', it must be supplied for lot traceable parent items.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="LotExpiry" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the expiry date for the lot. This element is optional. If supplied it must contain a valid date in the format CCYY-MM-DD.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="UseSingleTypeABCElements" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is only valid if ABC costing is in use. If not supplied and ABC costing is required, it defaults to N. Valid values are N and Y.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Bins" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the top element for the set of bins affected by this transaction, if multiple bins is installed.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:all>
                    <xsd:element name="BinLocation">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the bin location of the parent stock being received. If processing a negative receipt, only one bin location may be supplied. Any others will be ignored.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BinQuantity" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This element is mandatory if the parent stock item is not a unit-quantity type stock item. If it is and this element is supplied, then the units and pieces elements must NOT be supplied. The total bin quantity must match the quantity specified for the transaction.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BinUnits" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If the parent stock item is a unit-quantity type stock item then the bin quantity may be supplied as units and pieces. This element indicates the units to be receipted for the bin. Alternatively the bin quantity can be supplied as a decimal value in the element BinQuantity.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BinPieces" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If the parent stock item is a unit-quantity type stock item then the bin quantity may be supplied as units and pieces. This element indicates the pieces to be receipted for the bin. Alternatively the bin quantity can be supplied as a decimal value in the element BinQuantity.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="Serials" minOccurs="0" maxOccurs="unbounded"/>
              <xsd:element name="SerialRange" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is used to specify a prefix and suffix or starting serial number for a range of new serial numbers to be generated. It is only valid when processing positive receipts for manual serialized stock items. It has two formats, depending on the serial key type. If serial numbers are alphanumeric, a prefix and a suffix need to be supplied. If serial numbers are numeric, a starting serial number is required.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:all>
                    <xsd:element name="SerialPrefix" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This element specifies the prefix to be used when generating a range of alphanumeric serial numbers. Prefix + suffix cannot exceed the size of the serial number key. Mandatory for alphanumeric serial numbers.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SerialSuffix" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This element specifies the suffix to be used when generating a range of alphanumeric serial numbers. The suffix element must be numeric. Prefix + suffix cannot exceed the size of the serial number key. Mandatory for alphanumeric serial numbers.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="StartSerialNumber" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This element specifies the starting serial number when generating a range of numeric serial numbers. Mandatory for numeric serial numbers.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element ref="SerialQuantity"/>
                    <xsd:element ref="SerialExpiryDate"/>
                    <xsd:element ref="SerialLocation"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="SerialAllocation" minOccurs="0"/>
              <xsd:element name="ApplyCostMultiplier" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates whether or not a cost multiplier must be applied to the cost of the receipt for the parent item. If not supplied it defaults to N. Valid values are N and Y.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CostMultiplier" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the cost multiplier to be applied to the cost of the receipt for the parent item and only takes effect if 'ApplyCostMultiplier' is set to Y and the cost multiplier against the warehouse is greater than 1.00. If you have not supplied a cost multiplier or a non-merchandise cost and the ApplyCostMultiplier element contains Y, then the warehouse cost multiplier is used.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NonMerchandiseCost" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains a non merchandise cost to be applied to the cost of the receipt for the parent item. This element is only applicable if the element 'ApplyCostMultiplier' is set to 'Y', but this element will be ignored if a cost multiplier has been supplied in the element CostMultiplier.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NonMerchandiseDistribution" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>This is the top element for the non-merchandise distribution.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:all>
                    <xsd:element name="NmReference">
                      <xsd:annotation>
                        <xsd:documentation>This indicates the reference for the distribution. This element is mandatory.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NmLedgerCode">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the ledger code to which the non-merchandise amount must be posted.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NmLedgerPassword" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If ledger codes require a password, this element must contain the relevant password for the specified ledger code.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NmAmount">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the non-merchandise amount to be posted to the corresponding ledger code.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Reference" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>A journal reference may be supplied which is printed on the journal report and stored on the inventory movement file.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Notation" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>A journal notation may be supplied which is printed on the journal report.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="LedgerCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the ledger code against which the merchandise amount of the transactions should be distributed. This element is ignored if the inventory setup option 'Request ledger codes for inventory transactions' is switched off.  If the ledger code is not supplied then the WIP control account is used.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PasswordForLedgerCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If ledger codes require a password, this element must contain the relevant password for the specified ledger code.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RouteToUse" default="0" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the route to use for the issue of the materials and operations. This element is only applicable if Alternate routing is required. If not supplied will default to 0.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RoutePassword" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>A valid password must be supplied if Alternate routing is required and the route supplied requires a password.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeSetUpTime" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates if you want to add the value of set-up time to your backflushing value. Possible values: Y (include set-up time value) or N (do not include set-up time value). If not supplied will default to N.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeStartUpTime" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates if you want to add the value of startup time to your backflushing value. Possible values: Y (include startup time value) or N (do not include startup time value). If not supplied will default to N.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeTearDownTime" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates if you want to add the value of teardown time to your backflushing value. Possible values: Y (include teardown time value) or N (do not include teardown time value). If not supplied will default to N.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Job" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is only applicable for lot traceable parent items. The job number supplied will not be validated.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ComponentDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>This is the top element for the set of lots and serials affected by this transaction for a specific component.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element ref="StockCode"/>
                    <xsd:element name="AllowUnderIssue" default="N" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This indicates how serialized and lot traceable components should be issued. Possible values: S (skip, indicates that the component should not be issued),  N (do not allow under issue, the quantities supplied for the serials and for the lots for the component must accumulate to the quantity required to be issued for the component. And the lots must have enough quantity on hand to satisfy the issue) or Y (allow under issue, only issue the accumulated quantity supplied and that is available for the lot, or the accumulated quantity supplied and that is available for the serials or what is required to be issued for the component - whichever quantity is the smallest of the three possibilities). If not supplied it defaults to N. </xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="N"/>
                          <xsd:enumeration value="Y"/>
                          <xsd:enumeration value="S"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LotAndSerial" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:documentation>This is the top element for the set of lots and serials affected by the issue transaction for the component.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType mixed="false">
                        <xsd:sequence>
                          <xsd:element ref="Lot" minOccurs="0"/>
                          <xsd:element name="LotQuantity" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>This indicates the quantity that must be issued from the lot for the component.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="LotFifoBucket" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>This indicates the fifo/actual costing bucket from which the component should be issued. This must be supplied if actual costing is switched on and auto depletion is off.</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element ref="Serials" minOccurs="0" maxOccurs="unbounded"/>
                          <xsd:element ref="SerialAllocation" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SerialAllocation">
    <xsd:annotation>
      <xsd:documentation>This element is used to specify a range of serial numbers to be allocated. It is only valid when processing manual serialized stock items.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:all>
        <xsd:element name="FromSerialNumber">
          <xsd:annotation>
            <xsd:documentation>This element specifies the starting serial number to be allocated when processing a manual serialized item. The format is either alphanumeric or numeric depending on the key configuration for serials within SYSPRO.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ToSerialNumber" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element specifies the ending serial number to be allocated when processing a manual serialized item. If this element is not supplied, serial numbers will be allocated starting at the FromSerialNumber until the specified quantity has been allocated. The format is either alphanumeric or numeric depending on the key configuration for serials within SYSPRO.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="SerialQuantity"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SerialExpiryDate">
    <xsd:annotation>
      <xsd:documentation>This element contains the expiry date of a new serial number or range of serial numbers being received into stock. The format is CCYY-MM-DD.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialLocation">
    <xsd:annotation>
      <xsd:documentation>This element contains the location of the serial number or range of serial numbers being received when processing a positive receipt.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialQuantity">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory and specifies the quantity to receive for the specified serial number. If within the 'Serials' group and manual serial, it can only be 1 or -1. If within the 'SerialRange' or 'SerialAllocation' group, it is the total quantity to be received for the specified range.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Serials">
    <xsd:annotation>
      <xsd:documentation>A set of serial numbers and relevant information must be supplied if stock item specified is serialized.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:all>
        <xsd:element name="SerialNumber">
          <xsd:annotation>
            <xsd:documentation>This indicates the serial number being received into stock for a parent item or the serial number to issue for a component. The format is either numeric or alphanumeric depending on the key configuration setup within SYSPRO.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="SerialQuantity"/>
        <xsd:element name="SerialFifoBucket" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This indicates the fifo/actual costing bucket from which the component should be issued. This must be supplied for a negative receipt if actual costing is switched on and auto depletion is off.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="SerialExpiryDate" minOccurs="0"/>
        <xsd:element ref="SerialLocation" minOccurs="0"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory and must contain a valid stock code. The stock code indicates either the parent item or the component for which you want to allocate serials or lots. The format is either alphanumeric or numeric, depending on the key configuration for stock code within SYSPRO.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
