Schemas7/INVTBLOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Balance Post Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="PostInvOnHandBalance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostInvOnHandBalance">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ChangesApplied">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Action" type="xsd:string" minOccurs="0" />
                    <xsd:element name="ActionDescription" type="xsd:string" minOccurs="0" />
                    <xsd:element name="OldQuantity" type="xsd:string" minOccurs="0" />
                    <xsd:element name="OldQuantityUnits" type="xsd:string" minOccurs="0" />
                    <xsd:element name="EditedOldQuantity" type="xsd:string" minOccurs="0" />
                    <xsd:element name="NewQuantity" type="xsd:string" minOccurs="0" />
                    <xsd:element name="NewQuantityUnits" type="xsd:string" minOccurs="0" />
                    <xsd:element name="EditedNewQuantity" type="xsd:string" minOccurs="0" />
                    <xsd:element name="VarQuantity" type="xsd:string" minOccurs="0" />
                    <xsd:element name="VarQuantityUnits" type="xsd:string" minOccurs="0" />
                    <xsd:element name="EditedVarQuantity" type="xsd:string" minOccurs="0" />
                    <xsd:element name="FifoBucket" type="xsd:string" minOccurs="0" />
                    <xsd:element name="OldCost" type="xsd:string" minOccurs="0" />
                    <xsd:element name="NewCost" type="xsd:string" minOccurs="0" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Key" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="JnlYear" type="xsd:string" minOccurs="0" />
              <xsd:element name="JnlMonth" type="xsd:string" minOccurs="0" />
              <xsd:element name="Journal" type="xsd:string" minOccurs="0" />
              <xsd:element name="EntryNumber" type="xsd:string" minOccurs="0" />
              <xsd:element name="Warehouse" type="xsd:string" minOccurs="0" />
              <xsd:element name="GlJournal" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GlYear" type="xsd:string" minOccurs="0" />
                    <xsd:element name="GlPeriod" type="xsd:string" minOccurs="0" />
                    <xsd:element name="GlJournal" type="xsd:string" minOccurs="0" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>