Schemas7/io_list_of_policies_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the IO Policies Query
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="IoListOfPolicies" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="IoListOfPolicies">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="UseSelectionSet" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UseSelectionSet" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SelectionSet" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePartTypeMadeIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePartTypeMadeIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePartTypeBoughtOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePartTypeBoughtOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePartTypeSubcontracted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePartTypeSubcontracted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePartTypeKitPart" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePartTypeKitPart" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeParttypeCoProduct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeParttypeCoProduct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeParttypeByProduct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeParttypeByProduct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeManuallyForecastItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeManuallyForecastItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeReplenishmentItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeReplenishmentItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeMasterProductionScheduledItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeMasterProductionScheduledItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeMakeToOrderItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeMakeToOrderItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClassItemsA" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeClassItemsA" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClassItemsB" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeClassItemsB" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClassItemsC" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeClassItemsC" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClassItemsD" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeClassItemsD" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNomovementClassItemsE" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNomovementClassItemsE" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeUnclassifiedItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeUnclassifiedItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AnalysisType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AnalysisType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ParetoLevel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ParetoLevel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RunDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNonCurrentPolicies" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNonCurrentPolicies" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PlannerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="IoPolicies">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SkuDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SkuInformation" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ReportKey" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockingUnitOfMeasure" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="APSMST_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SALPDS_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVPLN_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVBUY_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ParetoClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ManualForecast" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReplenishmentItem" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MpsItem" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MakeToOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_PartCategory" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IdNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CalendarUsed" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IOPFPR_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ForecastHorizon" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DefaultLeadTime" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarehouseMinimum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedWarehouseMinimum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarehouseMaximum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedWarehouseMaximum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarehouseSafety" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedWarehouseSafety" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SkuPolicies" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Policy" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="PolicyDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetServiceLevel" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ServiceLevelMeasure" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MaximumQtyCap" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedMaximumQtyCap" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PlannedOrderFreq" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PolicyType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FixedPolicyBase" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FixedMinQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedFixedMinQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FixedMinDays" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RiskAlgorithm" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RiskMinDaysCap" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LeadTimeVariance" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurrentPolicy" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EffectiveStartDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EffectiveEndDate" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
