Schemas7/io_list_of_policies.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the IO List of Policies Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AnalysisType" default="S">
    <xsd:annotation>
      <xsd:documentation>Select the pareto analysis type to check classifications: S-Sales, C-Current forecasts, D-Draft forecasts. Default -S.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;S=Sales;C=Current forecasts;D=Draft forecasts"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="S"/>
        <xsd:enumeration value="C"/>
        <xsd:enumeration value="D"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Buyer">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of Buyers to filter the items on. A - All; R - Range; S - Single. Default A - All</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=InvBuyer;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:annotation>
      <xsd:documentation>List of available filters</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:all>
        <xsd:element ref="StockCode" minOccurs="0"/>
        <xsd:element ref="Warehouse" minOccurs="0"/>
        <xsd:element ref="Planner" minOccurs="0"/>
        <xsd:element ref="Buyer" minOccurs="0"/>
        <xsd:element ref="Supplier" minOccurs="0"/>
        <xsd:element ref="ProductClass" minOccurs="0"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IncludeClassItemsA" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include A class items: Y-Yes, N-No, Default=Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeClassItemsB" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include B class items: Y-Yes, N-No, Default=Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeClassItemsC" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include C class items: Y-Yes, N-No, Default=Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeClassItemsD" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include D class items: Y-Yes, N-No, Default=Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeMakeToOrderItems" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include make to order items: Y-Yes, N-No Default=Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No;O=Only"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="O"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeManuallyForecastItems" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include manually forecast items: Y-Yes, N-No, Default=Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No;O=Only"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="O"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeMasterProductionScheduledItems" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include MPS items: Y-Yes, N-No. Default=Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No;O=Only"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="O"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeNoMovementClassItemsE" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include E class items (no movement) : Y-Yes, N-No, Default=Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeNonCurrentPolicies" default="N">
    <xsd:annotation>
      <xsd:documentation>Include policies which are not used in the levels modeling: Y-Yes, N-No, O-Only, Default=N</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No;O=Only"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="O"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludePartTypeBoughtOut" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include bought out items: Y-Yes, N-No, default = Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludePartTypeByProduct" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include by-products: Y-Yes, N-No, default = Y)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludePartTypeCoProduct" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include co-products: Y-Yes, N-No, default = Y)</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludePartTypeKitPart" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include kit type items: Y-Yes, N-No, default = Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludePartTypeMadeIn" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include made in items: Y-Yes, N-No, default = Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludePartTypeSubcontracted" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include subcontracted items: Y-Yes, N-No, default = Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeReplenishmentItems" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include replenishment items: Y-Yes, N-No,O-Only. Default=Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No;O=Only"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="O"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeUnclassifiedItems" default="Y">
    <xsd:annotation>
      <xsd:documentation>Include items not yes classified in pareto: Y-Yes, N-No. Default=Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:annotation>
      <xsd:documentation>List of available options</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:all>
        <xsd:element ref="UseSelectionSet" minOccurs="0"/>
        <xsd:element ref="SelectionSet" minOccurs="0"/>
        <xsd:element ref="IncludePartTypeMadeIn" minOccurs="0"/>
        <xsd:element ref="IncludePartTypeBoughtOut" minOccurs="0"/>
        <xsd:element ref="IncludePartTypeSubcontracted" minOccurs="0"/>
        <xsd:element ref="IncludePartTypeKitPart" minOccurs="0"/>
        <xsd:element ref="IncludePartTypeCoProduct" minOccurs="0"/>
        <xsd:element ref="IncludePartTypeByProduct" minOccurs="0"/>
        <xsd:element ref="IncludeClassItemsA" minOccurs="0"/>
        <xsd:element ref="IncludeClassItemsB" minOccurs="0"/>
        <xsd:element ref="IncludeClassItemsC" minOccurs="0"/>
        <xsd:element ref="IncludeClassItemsD" minOccurs="0"/>
        <xsd:element ref="IncludeNoMovementClassItemsE" minOccurs="0"/>
        <xsd:element ref="IncludeUnclassifiedItems" minOccurs="0"/>
        <xsd:element ref="AnalysisType" minOccurs="0"/>
        <xsd:element ref="ParetoLevel" minOccurs="0"/>
        <xsd:element ref="IncludeManuallyForecastItems" minOccurs="0"/>
        <xsd:element ref="IncludeReplenishmentItems" minOccurs="0"/>
        <xsd:element ref="IncludeMasterProductionScheduledItems" minOccurs="0"/>
        <xsd:element ref="IncludeMakeToOrderItems" minOccurs="0"/>
        <xsd:element ref="IncludeNonCurrentPolicies" minOccurs="0"/>
        <xsd:element ref="RunDate" minOccurs="0"/>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ParetoLevel" default="1">
    <xsd:annotation>
      <xsd:documentation>Select the pareto level to check classifications: 1-Stock code, 2-Warehouse, 3-Product class, 4-Supplier, 5-Planner, 6-Buyer. Default -1.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;1=Stock code;2=Warehouse;3=Product class;4=Supplier;5=Planner;6=Buyer"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="2"/>
        <xsd:enumeration value="3"/>
        <xsd:enumeration value="4"/>
        <xsd:enumeration value="5"/>
        <xsd:enumeration value="6"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Planner">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of Planners to filter the items on. A - All; R - Range; S - Single. Default A - All</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=InvPlanner;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ProductClass">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of Product Classes to filter the items on. A - All; R - Range; S - Single. Default A - All</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=SalProductClassDes;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>The root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Option" minOccurs="0"/>
        <xsd:element ref="Filter" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RunDate" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation>Enter a date to be used to calculate the forecasting periods to use. By entering a run date other than the current date you can view the policies which were effective at the time Default=systemdate</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse={date}"/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SelectionSet">
    <xsd:annotation>
      <xsd:documentation>If UseSelectionSet is Y then the selection set to use must be entered here.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=IopSelectionSet"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of stock codes to filter on. A - All; R - Range; S - Single. Default A - All</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=InvMaster;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Supplier">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of Suppliers to filter the items on. A - All; R - Range; S - Single. Default A - All</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=ApSupplier;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UseSelectionSet" default="N">
    <xsd:annotation>
      <xsd:documentation>Allows the user to filter the report against a specific selection set. Y-Yes, N-No. Default -N.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of Warehouses to filter the items on. A - All; R - Range; S - Single. Default A - All</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=InvWhControl;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>Style sheet to be applied</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
