Schemas7/IOPQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Optimization Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="InventoryOptimizationOptions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ForecastHorizon" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefForecastCalendar" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumStdDevForOutliers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeasProfileCorrCutOff" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetInvOptInfo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AmendJnlReqFamGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AmendJnlReqSelSets" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AmendJnlReqPolicySet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PostTrnToIoSales" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AggrFamAndGrpSales" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Algorithms1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DefForecastAlgorithm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumMthsForComp" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MeasureForComp" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumMthsForMean" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumMthsForMedian" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumMthsForMoveAve" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SmoothingCoefficient" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TrendCoefficient" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Algorithms2">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="WeightForPerFcMinus12" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WeightForPerFcMinus34" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WeightForPerFcMinus56" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WeightForPerFcMinus123" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WeightForPerFcMinus456" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WeightForPerFcMinus789" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WeightForPerFcMinus101112" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HoltWintAddOpts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HoltWintAddLevelCoeff" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HoltWintAddTrendCoeff" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HoltWintAddSeasCoeff" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HoltWintMultOpts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HoltWintMultLevelCoeff" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HoltWintMultTrendCoeff" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HoltWintMultSeasCoeff" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Modeling">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ForecastToUseInDemand" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyGrossReqRuleForDemand" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclDependantDemand" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyBatchRuleToCalcMax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodDaysToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ComparisonType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForecastToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MonthsToCompare" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MovingAverageMonths" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SnapshotMonths" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
