Schemas7/IOPQ24OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the List of Forecasts Query Business Object
-->
<xsd:schema id="ForecastListReport" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ForecastListReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="UseForecastingSet" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UseForecastingSet" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SetToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeItemsWithoutDraftForecasts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeItemsWithoutDraftForecasts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeItemsWithoutCurrentForecasts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeItemsWithoutCurrentForecasts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintPeriodsWithoutDraftsOrCurrentForecasts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintPeriodsWithoutDraftsOrCurrentForecasts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OnlyPrintDraftDiffersCurrentForecasts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PercentOfDraftDiffersCurrentForecast" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AnyPeriodWithinTheNextNumberOfMonths" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePartTypeMadeIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePartTypeMadeIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePartTypeBoughtOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePartTypeBoughtOut" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePartTypeSubcontracted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePartTypeSubcontracted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePartTypeKitPart" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePartTypeKitPart" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePartTypeCoProduct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePartTypeCoProduct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePartTypeByProduct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePartTypeByProduct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClassItemsA" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeClassItemsA" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClassItemsB" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeClassItemsB" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClassItemsC" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeClassItemsC" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeClassItemsD" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeClassItemsD" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNoMovementClassItemsE" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNoMovementClassItemsE" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeUnclassifiedItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeUnclassifiedItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AnalysisType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AnalysisType" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="ParetoLevel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ParetoLevel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeManuallyForecastItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeManuallyForecastItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeReplenishmentItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeReplenishmentItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeMasterProductionScheduledItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeMasterProductionScheduledItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeMakeToOrderItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeMakeToOrderItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PlannerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ForecastStockCodes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ForecastStockCode" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ForecastHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ReportKey" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockingUnitOfMeasure" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="APSMST_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SALPDS_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVPLN_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVBUY_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ParetoClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ManualForecast" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ForecastDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ForecastDetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Period" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FromDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ToDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurrentForecastQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedCurrentForecastQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurrentForecastCostValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedCurrentForecastCostValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurrentForecastSalesValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedCurrentForecastSalesValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurrentForecastGrossProfit" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedCurrentForecastGrossProfit" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DraftForecastQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedDraftForecastQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DraftForecastCostValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedDraftForecastCostValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DraftForecastSalesValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedDraftForecastSalesValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DraftForecastGrossProfit" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedDraftForecastGrossProfit" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ForeCastTotal" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TotalCurrentForecastQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalCurrentForecastQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalCurrentForecastCostValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalCurrentForecastCostValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalCurrentForecastSalesValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalCurrentForecastSalesValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalCurrentForecastGrossProfit" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalCurrentForecastGrossProfit" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalDraftForecastQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalDraftForecastQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalDraftForecastCostValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalDraftForecastCostValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalDraftForecastSalesValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalDraftForecastSalesValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalDraftForecastGrossProfit" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalDraftForecastGrossProfit" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyTotalCurrentForecastCostValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCompanyTotalCurrentForecastCostValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalCurrentForecastSalesValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCompanyTotalCurrentForecastSalesValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalCurrentForecastGrossProfit" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCompanyTotalCurrentForecastGrossProfit" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalDraftForecastCostValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCompanyTotalDraftForecastCostValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalDraftForecastSalesValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCompanyTotalDraftForecastSalesValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyTotalDraftForecastGrossProfit" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCompanyTotalDraftForecastGrossProfit" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
