Schemas7/IOPQ22OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the IO Forecast Accuracy Query Business Object
-->
<xsd:schema id="IoForecastAccuracyReview" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="IoForecastAccuracyReview">
		<xsd:complexType>
      <xsd:sequence>
				<xsd:element name="SystemInformation" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="UseSelectionSet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_UseSelectionSet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SetToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RunDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CalendarToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MonthsToCompare" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ComparisonType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ComparisonType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MovingAverageMonths" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForecastToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_FaForecastToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SnapshotMonths" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludePartTypeMadeIn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludePartTypeBoughtOut" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludePartTypeSubcontracted" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludePartTypeKitPart" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeParttypeCoProduct" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeParttypeByProduct" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludePartTypes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeClassItemsA" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeClassItemsB" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeClassItemsC" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeClassItemsD" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeNomovementClassItemsE" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeUnclassifiedItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ParetoClasses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AnalysisType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AnalysisType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ParetoLevel" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ParetoLevel" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeManuallyForecastItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeManuallyForecastItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeReplenishmentItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeReplenishmentItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeMasterProductionScheduledItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeMasterProductionScheduledItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeMakeToOrderItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeMakeToOrderItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReturnSkuAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReturnSkuAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReturnConAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReturnConAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReturnPclAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReturnPclAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReturnSupAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReturnSupAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReturnPlnAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReturnPlnAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReturnBuyAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReturnBuyAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReturnWhsAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReturnWhsAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReturnParetoAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReturnParetoAccuracy" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReturnValues" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReturnValues" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReturnPeriodDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReturnPeriodDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PlannerFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PlannerFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PlannerFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_BuyerFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IoForecastAccuracy" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Details" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReportKey" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReportDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
										<xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockingUnitOfMeasure" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProductClassDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PlannerName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BuyerName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ParetoClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ManualForecast" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReplenishmentItem" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MpsItem" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MakeToOrder" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
										<xsd:element name="IdNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Forecast" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Sales" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Hits" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CumulativeForecastError" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MeanAbsDeviation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MeanSquaredDeviation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MeanAbsPercentageError" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TrackingSignal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AbsCumulativeForecastError" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MeanAbsPercentageError2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PercentageError" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PercentageAccuracy" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AbsolutePercentageError" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Bias" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Mean" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Variance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StdDeviation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CoeffOfVariance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AverageHits" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AverageSales" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AverageForecast" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FromDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ToDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AccuracyForPeriod" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="PeriodNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodText" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodStart" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodEnd" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodForecast" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodSales" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodHits" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodAbsError" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodStatus" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodCumulativeForecastError" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodForecastError" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodAbsCumulativeForecastError" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodMeanAbsDeviation" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodMeanSquaredDeviation" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodMeanAbsPercentageError" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodMeanAbsPercentageError2" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodtrackingSignal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodErrorPercentage" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodAccuracyPercentage" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PeriodAbsErrorPercentage" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TranslatedText" minOccurs="0">
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="Text_Unclassified" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Totals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Past_due" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_January" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_February" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_March" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_April" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_May" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_June" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_July" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_August" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_September" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_October" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_November" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_December" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Onwards" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Period" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Week" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Made_in" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Bought_out" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Subcontract" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Kit_type" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Co_product" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_By_product" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Yes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_No" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Only" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_All" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Sales" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Draft_forecasts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Current_forecasts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Last" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Last_outside_lead" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Average" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Ave__outside_lead" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Quantity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Sales_value" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Cost_value" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Under" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Over" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Statistical" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Supplier" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Pareto" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Selection_Totals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Stock_code" nillable="true" minOccurs="0">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Text_Warehouse" nillable="true" minOccurs="0">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Text_Product_class" nillable="true" minOccurs="0">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Text_Planner" nillable="true" minOccurs="0">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Text_Buyer" nillable="true" minOccurs="0">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
