Schemas7/IOPQAJ.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Families and Groupings Amendment Journal Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DeleteJournalFile">
    <xsd:annotation>
      <xsd:documentation>Indicates whether  the Familes and Groupings amendment journal should be deleted after being printed. ( N - No and Y - Yes). If no value is supplied then a default of 'N' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Reprint"/>
        <xsd:element ref="PrintCollectionAdditions"/>
        <xsd:element ref="PrintCollectionChanges"/>
        <xsd:element ref="PrintCollectionDeletions"/>
        <xsd:element ref="PrintSKUAdditions"/>
        <xsd:element ref="PrintSKUDeletions"/>
        <xsd:element ref="DeleteJournalFile"/>
        <xsd:element ref="XslStylesheet"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PrintCollectionAdditions">
    <xsd:annotation>
      <xsd:documentation>Indicates whether  the Collection Structure additions should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintCollectionChanges">
    <xsd:annotation>
      <xsd:documentation>Indicates whether  the Collection Structure changes should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintCollectionDeletions">
    <xsd:annotation>
      <xsd:documentation>Indicates whether  the Collection Structure deletions should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintSKUAdditions">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the Stock keeping unit (SKU) additions should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintSKUDeletions">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the Stock keeping unit (SKU) deletions should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Reprint">
    <xsd:annotation>
      <xsd:documentation>Indicates whether  the amendment journal should be reprinted. (Y - Yes and N - No). If set to 'Y' then all entries already printed that match the other options will be printed. If no value is supplied then a default of 'N' will be used.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
