Schemas7/IOPS06DOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the  IO Selection Sets Maintenance Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AbcBase">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Analysis Base. It is mandatory. 1 - Sales Value, 2 - Gross Profit, 3 - Cost, 4 - Quantity, 5 - Hits</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AbcLevel">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the ABC level. It is mandatory. 1 - Sales value, 2 - Gross profit, 3 - Cost, 4 - Quantity.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AbcMonths">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Months. It is mandatory. 3, 6, 9, 12, 18, 24</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AbcType">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the ABC type. It is mandatory. S - Sales, D - Draft, C - Current forecast.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AdjustOutliers">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Adjust sales history for Outliers. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AnalyzeByEcc">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Analyze by Rev/Rel. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BatchForecasts">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Batch Forecasts. It is mandatory. Y - Yes, N - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BatchTarget">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Target for Results. It is mandatory. D - Create draft, L - Create live</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BuyerSel">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the buyer selection. It is mandatory. A - All, R - Range, S - Single, L - List</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Calendar">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the calendar to use. It is not mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeleteDraft">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the delete draft. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Description">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Selection set Description. It is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ForeAccCal">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Calendar to use. It is not mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ForeAccCompare">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Comparison type. P - Period on period, M - Moving average.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ForeAccMovePeriods">
    <xsd:annotation>
      <xsd:documentation>This element contains periods for moving average. It will be zero if ForeAccCompare is set to P.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ForeAccNoSnap">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the snapshot months. Only: 1, 2, 3, 4, 5, 6.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ForeAccPeriods">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the months to compare. Only: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ForeAccUse">
    <xsd:annotation>
      <xsd:documentation>This element contains information about  the forecast to use. L - Last, l - Last outside lead, A - Average, a - average outside lead.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ForecastAccuracy">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the ForecastAccuracy. It is mandatory. Y - Yes, N - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ForecastCompare">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the ForecastCompare. It is mandatory. Y - Yes, N - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ForecastCreate">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Spread per period. O - One forecast on first work day, o - One forecast on first day, S - Split over all working days, s - split over all days.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ForecastRef">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the reference. It is not mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="FreezeInLead">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Freeze within lead time. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="InactivateCur">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the inactivate current when no draft. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncBoughtOut">
    <xsd:annotation>
      <xsd:documentation>This element contains information about include bought out part types. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncByProd">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include byproduct part type. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncCoProd">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include coproduct part type. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncKit">
    <xsd:annotation>
      <xsd:documentation>This element contains information about include kit type part type. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncMadeIn">
    <xsd:annotation>
      <xsd:documentation>This element contains information about include made in part types. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncMps">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include Mps items. It is mandatory. 1 - Yes, 0 - No, 2 - Only</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncMto">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include Mto items. It is mandatory. 1 - Yes, 0 - No, 2 - Only</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncNoDraft">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the only include items with no draft. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncPrdNoFore">
    <xsd:annotation>
      <xsd:documentation>This element contains information about include periods with no forecasts It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncSubCon">
    <xsd:annotation>
      <xsd:documentation>This element contains information about include subcontract part type.  It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeAbcA">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include A Items. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeAbcB">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include B Items. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeAbcC">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include C Items. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeAbcD">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include D Items. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeAbcE">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include E Items. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeAbcNone">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include where no ABC class. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeAdjust">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Include Sales Adjustment. It is mandatory. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IoModelling">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Pareto analysis. It is mandatory. Y - Yes, N - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Description"/>
        <xsd:element ref="OptionsMaint"/>
        <xsd:element ref="UpdateLiveFore"/>
        <xsd:element ref="ManualForecasts"/>
        <xsd:element ref="BatchForecasts"/>
        <xsd:element ref="ParetoAnalysis"/>
        <xsd:element ref="ForecastAccuracy"/>
        <xsd:element ref="PolicySetting"/>
        <xsd:element ref="IoModelling"/>
        <xsd:element ref="ForecastCompare"/>
        <xsd:element ref="AbcBase"/>
        <xsd:element ref="AbcMonths"/>
        <xsd:element ref="ParetoBreakAb"/>
        <xsd:element ref="ParetoBreakBc"/>
        <xsd:element ref="ParetoBreakCd"/>
        <xsd:element ref="IncludeAdjust"/>
        <xsd:element ref="AnalyzeByEcc"/>
        <xsd:element ref="BatchTarget"/>
        <xsd:element ref="AdjustOutliers"/>
        <xsd:element ref="IncNoDraft"/>
        <xsd:element ref="ForecastCreate"/>
        <xsd:element ref="InactivateCur"/>
        <xsd:element ref="FreezeInLead"/>
        <xsd:element ref="DeleteDraft"/>
        <xsd:element ref="ForecastRef"/>
        <xsd:element ref="ForeAccCal"/>
        <xsd:element ref="ForeAccPeriods"/>
        <xsd:element ref="ForeAccCompare"/>
        <xsd:element ref="ForeAccMovePeriods"/>
        <xsd:element ref="ForeAccUse"/>
        <xsd:element ref="ForeAccNoSnap"/>
        <xsd:element ref="IncPrdNoFore"/>
        <xsd:element ref="OnlyIfDiff"/>
        <xsd:element ref="PercentDiff"/>
        <xsd:element ref="MonthsDiff"/>
        <xsd:element ref="Calendar"/>
        <xsd:element ref="IncMadeIn"/>
        <xsd:element ref="IncBoughtOut"/>
        <xsd:element ref="IncSubCon"/>
        <xsd:element ref="IncKit"/>
        <xsd:element ref="IncCoProd"/>
        <xsd:element ref="IncByProd"/>
        <xsd:element ref="IncludeAbcA"/>
        <xsd:element ref="IncludeAbcB"/>
        <xsd:element ref="IncludeAbcC"/>
        <xsd:element ref="IncludeAbcD"/>
        <xsd:element ref="IncludeAbcE"/>
        <xsd:element ref="IncludeAbcNone"/>
        <xsd:element ref="AbcType"/>
        <xsd:element ref="AbcLevel"/>
        <xsd:element ref="ManualForecast"/>
        <xsd:element ref="ReplenishItem"/>
        <xsd:element ref="IncMps"/>
        <xsd:element ref="IncMto"/>
        <xsd:element ref="WarehouseSel"/>
        <xsd:element name="WarehouseFrom">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the warehouse from.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="WarehouseTo">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the warehouse to.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="WarehouseList">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the warehouse list.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="StockSel"/>
        <xsd:element name="StockFrom">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Stock code from.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="StockTo">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Stock code to.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="StockList">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Stock code list.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="SupplierSel"/>
        <xsd:element name="SupplierFrom">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Supplier from.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="SupplierTo">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Supplier to.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="SupplierList">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Supplier List.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="ProdClassSel"/>
        <xsd:element name="ProdClassFrom">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Product class from.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ProdClassTo">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Product class to.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ProdClassList">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Product class list.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="PlannerSel"/>
        <xsd:element name="PlannerFrom">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Planner from.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PlannerTo">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Planner to.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PlannerList">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Planner list.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="BuyerSel"/>
        <xsd:element name="BuyerFrom">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the buyer from.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="BuyerTo">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the buyer to.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="BuyerList">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the buyer list.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SelectionSet"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ManualForecast">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include manually forecast items
. It is mandatory. 1 - Yes, 0 - No, 2 - Only</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ManualForecasts">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Manual Forecasts. It is mandatory. Y - Yes, N - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MonthsDiff">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Number of months to check the difference. It will be zero if OnlyIfDiff is set to 1.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OnlyIfDiff">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Only if draft different to current. 1 - Yes, 0 - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OptionsMaint">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Options Maint. It is mandatory. Y - Yes, N - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ParetoAnalysis">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the ParetoAnalysis. It is mandatory. Y - Yes, N - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ParetoBreakAb">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the A/B Percentage break. It is mandatory. Cannot be zero.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ParetoBreakBc">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the B/C Percentage break. It is mandatory. Cannot be zero.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ParetoBreakCd">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the C/D Percentage break. It is mandatory. Cannot be zero.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PercentDiff">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the percentage difference between draft and current. It will be zero if OnlyIfDiff is set to 1.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PlannerSel">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Planner selection. It is mandatory. A - All, R - Range, S - Single, L - List</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PolicySetting">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Policy Setting. It is mandatory. Y - Yes, N - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ProdClassSel">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Product class selection. It is mandatory. A - All, R - Range, S - Single, L - List</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReplenishItem">
    <xsd:annotation>
      <xsd:documentation>This element contains information about Include replenish items. It is mandatory. 1 - Yes, 0 - No, 2 - Only</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SelectionSet">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Selection Set. It is the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SetupIOSelectionSetsMaintenance">
    <xsd:annotation>
      <xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockSel">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Stock code selection. It is mandatory. A - All, R - Range, S - Single, L - List</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupplierSel">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Supplier selection. It is mandatory. A - All, R - Range, S - Single, L - List</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UpdateLiveFore">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Approved draft forecast. It is mandatory. Y - Yes, N - No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="WarehouseSel">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the warehouse selection. It is mandatory. A - All, R - Range, S - Single, L - List</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
