Schemas7/IOPS02OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the IO Stock Code Warehouse Options Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RecordsInvalid" type="xsd:boolean"/>
  <xsd:element name="RecordsRead" type="xsd:boolean"/>
  <xsd:element name="StatusOfItems">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="RecordsRead"/>
        <xsd:element ref="RecordsInvalid"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="key"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="stockcode"/>
        <xsd:element ref="version"/>
        <xsd:element ref="release"/>
        <xsd:element ref="warehouse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="release" type="xsd:byte"/>
  <xsd:element name="setupioselectionsetsmaintenance">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="item"/>
        <xsd:element ref="StatusOfItems"/>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
      <xsd:attribute name="Role" type="xsd:byte" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="stockcode" type="xsd:byte"/>
  <xsd:element name="version" type="xsd:byte"/>
  <xsd:element name="warehouse" type="xsd:hexBinary"/>
</xsd:schema>
