Schemas7/list_of_security_groups_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the List of Operator Groups Security Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SecurityGroupReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GroupFilterType" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The filter type specified in the input XML.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="R"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="L"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Translated_GroupFilterType" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The group selection from the input XML, if "A" then this will be the translated value for "All".</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ShowBrowseOnly" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The option to show programs with browse only access. Default value is "N" and the other valid value is "Y".</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Translated_ShowBrowseOnly" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The Browse only access translated value</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Group" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GroupCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The code for the operator group.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The name of the  operator group.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Administrator" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>System administrator flag 'Y' = Yes, 'N' = No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Translated_Administrator" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>System administrator translated value</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="StdMenuFlag" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Standard menu access flag. 'Y' - Standard menu allowed, 'N' - not allowed.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Translated_StdMenuFlag" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Standard menu access flag translated value.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="LogoutUsers" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Allowed to logout users flag. 'Y' = Yes, 'N' = No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Translated_LogoutUsers" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Allowed to logout users translated value.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Language" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Language code.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Program" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ModuleName" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>The Module name.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Name" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Program Name.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Program Description.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Type" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Program Type. 'Q' = Query, 'S' = Setup, 'T' = Transaction posting, 'R' = Retrieve, 'U' = Utility, 'C' = Component, Blank = None.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="Q"/>
                          <xsd:enumeration value="S"/>
                          <xsd:enumeration value="T"/>
                          <xsd:enumeration value="R"/>
                          <xsd:enumeration value="U"/>
                          <xsd:enumeration value="C"/>
                          <xsd:enumeration value=" "/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Translated_Type" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Program type translated value.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Access" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Program Access. 'A' = Allowed, 'D' = Denied, 'B' = Browse only.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="A"/>
                          <xsd:enumeration value="D"/>
                          <xsd:enumeration value="B"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Translated_Access" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Program Access translated value.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="JobLogging" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Job Logging required. 'Y' = Yes, 'N' = No.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="Y"/>
                          <xsd:enumeration value="N"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Translated_JobLogging" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Job logging required translated value.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RunFromMenu" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Program can be run from menu. 'Y' = Yes, 'N' = No.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="Y"/>
                          <xsd:enumeration value="N"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Translated_RunFromMenu" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Program can be run from menu translated value.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CanBeSecured" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Program can be secured. 'Y' = Yes, 'N' = No.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="Y"/>
                          <xsd:enumeration value="N"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Translated_CanBeSecured" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Program can be secured translated value.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
