Schemas7/list_of_budgets_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the GL List of Budgets Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="GlListOfBudgets" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GlListOfBudgets">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:double" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BudgetSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BudgetSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportHeading" minOccurs="0"/>
              <xsd:element name="IncludeAssets" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeAssets" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeLiabilities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeLiabilities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCapital" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeCapital" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeRevenue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeRevenue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeExpenses" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeExpenses" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeStatistical" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeStatistical" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarnIfUndefined" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarnIfUndefined" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ZeroBudgets" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ZeroBudgets" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlGroupFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GlGroupFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlGroupFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GlCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlCodeFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BudgetItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BudgetDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccountType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_AccountType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Group" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GENGRP_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warning" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastModified" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlCodeTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_GlCodeTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BudgetPeriod15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BudgetPeriod15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="GroupTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GroupTotal" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Group" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GENGRP_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AssetGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="AssetGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AssetGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AssetGroupTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="LiabilityGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="LiabilityGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LiabilityGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LiabilityGroupTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="CapitalGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CapitalGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapitalGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CapitalGroupTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="RevenueGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="RevenueGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevenueGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_RevenueGroupTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="ExpensesGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ExpensesGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpensesGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ExpensesGroupTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="ProfitGroupTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ProfitGroupTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal1" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal4" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal4" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal5" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal5" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal6" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal6" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal7" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal7" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal8" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal8" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal9" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal9" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal10" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal10" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal11" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal11" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal12" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal12" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal13" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal13" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal14" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal14" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitGroupTotal15" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitGroupTotal15" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NoOfAccountsListed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BudgetPeriods" minOccurs="0"/>
              <xsd:element name="BudgetDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssetTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="AssetGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AssetGroupTotal15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="LiabilityTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="LiabilityGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LiabilityGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LiabilityGroupTotal15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CapitalTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CapitalGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapitalGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CapitalGroupTotal15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="RevenueTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RevenueGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RevenueGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_RevenueGroupTotal15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ExpensesTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ExpensesGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpensesGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpensesGroupTotal15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ProfitTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ProfitGrandTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGrandTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal12" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal13" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal13" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal14" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal14" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitGroupTotal15" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitGroupTotal15" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
