Schemas7/lot_traceability_report_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Lot Traceability Report Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LotTraceabilityQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeZeroOnHand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_IncludeZeroOnHand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintNarrations" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_PrintNarrations" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArchivedLots" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_ArchivedLots" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeIssues" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_IncludeIssues" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSales" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_IncludeSales" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeAdjustments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_IncludeAdjustments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeTransfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_IncludeTransfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeReceipts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_IncludeReceipts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeBinTransfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_IncludeBinTransfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeExpiry" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_IncludeExpiry" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeDispatches" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_IncludeDispatches" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCostChanges" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_IncludeCostChanges" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_LotsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_LotFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BinFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BinFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_BinFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpiryDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpiryDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_ExpiryDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TransactionDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TransactionDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Tran_TransactionDateFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodeItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCodeDetails" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LongDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Lots" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="LotItem" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="LotDetails" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="LotJob" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DateCreated" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Tran_ExpiryDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DrawingNumber" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ArchiveFile" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OnHold" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Tran_OnHold" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ReasonForHold" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QuantityReceived" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="QuantityReceivedUnits" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedQuantityReceived" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QuantityOnHand" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="QuantityOnHandUnits" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedQuantityOnHand" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QuantityToShip" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="QuantityToShipUnits" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedQuantityToShip" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="LotTransactions" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence minOccurs="0">
                                      <xsd:element name="Transaction" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="TransactionDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Tran_TransactionType" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TransactionQuantity" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="TransactionQuantityUnits" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedTransactionQuantity" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TransactionValue" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_TransactionValue" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Tran_Source" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PurchaseOrderLin" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RMANumber" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RMALine" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Tran_DocumentType" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DispatchNote" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Certificate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ConcessionNum" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OldExpiryDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Tran_OldExpiryDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="NewExpiryDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Tran_NewExpiryDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="NewWarehouse" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Narration" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
