Schemas7/LOTQ31.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Lot Traceability Expired Stock Codes Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ArchivedLots">
    <xsd:annotation>
      <xsd:documentation>Archived lots. I=Include, E=Exclude, O=Only</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Bin">
    <xsd:annotation>
      <xsd:documentation>Bin(s) to use for report. A=All, R=Range, S=Single</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ExpiryDate">
    <xsd:annotation>
      <xsd:documentation>Expiry Date(s) to use for report. A=All, R=Range, S=Single</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StockCode" minOccurs="0"/>
        <xsd:element ref="Warehouse" minOccurs="0"/>
        <xsd:element ref="Lot" minOccurs="0"/>
        <xsd:element ref="Bin" minOccurs="0"/>
        <xsd:element ref="ExpiryDate" minOccurs="0"/>
        <xsd:element ref="TransactionDate" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IncludeAdjustments">
    <xsd:annotation>
      <xsd:documentation>Include transaction type Adjustments. Y=Yes, N=No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeBinTransfers">
    <xsd:annotation>
      <xsd:documentation>Include transaction type Bin Transfers. Y=Yes, N=No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeDispatches">
    <xsd:annotation>
      <xsd:documentation>Include transaction type Dispatches. Y=Yes, N=No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeCostChanges">
    <xsd:annotation>
      <xsd:documentation>Include transaction type Cost changes. Y=Yes, N=No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeExpiry">
    <xsd:annotation>
      <xsd:documentation>Include transaction type Expiry. Y=Yes, N=No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeIssues">
    <xsd:annotation>
      <xsd:documentation>Include transaction type Issues. Y=Yes, N=No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeReceipts">
    <xsd:annotation>
      <xsd:documentation>Include transaction type Receipts. Y=Yes, N=No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeSales">
    <xsd:annotation>
      <xsd:documentation>Include transaction type Sales. Y=Yes, N=No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeTransfers">
    <xsd:annotation>
      <xsd:documentation>Include transaction type Transfers. Y=Yes, N=No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeZeroOnHand">
    <xsd:annotation>
      <xsd:documentation>Include lots with zero quantity on hand. Y=Yes, N=No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Lot">
    <xsd:annotation>
      <xsd:documentation>Lot(s) to use for report. A=All, R=Range, S=Single</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LotsOnHold">
    <xsd:annotation>
      <xsd:documentation>Lots on hold. I=Include, E=Exclude, O=Only</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StkTopBottom" minOccurs="0"/>
        <xsd:element name="StkNumberTopBottom" minOccurs="0"/>
        <xsd:element name="StkBasedOnMeasure" minOccurs="0"/>
        <xsd:element ref="IncludeZeroOnHand" minOccurs="0"/>
        <xsd:element ref="PrintNarrations" minOccurs="0"/>
        <xsd:element ref="ArchivedLots" minOccurs="0"/>
        <xsd:element ref="IncludeIssues" minOccurs="0"/>
        <xsd:element ref="IncludeSales" minOccurs="0"/>
        <xsd:element ref="IncludeAdjustments" minOccurs="0"/>
        <xsd:element ref="IncludeTransfers" minOccurs="0"/>
        <xsd:element ref="IncludeReceipts" minOccurs="0"/>
        <xsd:element ref="IncludeBinTransfers" minOccurs="0"/>
        <xsd:element ref="IncludeExpiry" minOccurs="0"/>
        <xsd:element ref="IncludeDispatches" minOccurs="0"/>
        <xsd:element ref="IncludeCostChanges" minOccurs="0"/>
        <xsd:element ref="LotsOnHold" minOccurs="0"/>
        <xsd:element name="XslStylesheet" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>The stylesheet to be applied.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PrintNarrations">
    <xsd:annotation>
      <xsd:documentation>Print narrations against the lot. Y=Yes, N=No</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StkTopBottom">
    <xsd:annotation>
      <xsd:documentation>Top or bottom stock codes to print. T=Top, B=Bottom</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StkNumberTopBottom">
    <xsd:annotation>
      <xsd:documentation>This indicates the number of stock items to include on the report. Default -5.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StkBasedOnMeasure">
    <xsd:annotation>
      <xsd:documentation>This indicates which measure stock items will be sequenced in. QONH-QtyOnHand, QREC-OrigQtyReceived, QSHP-QtyToShip. Default -QONH.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="QONH"/>
        <xsd:enumeration value="QREC"/>
        <xsd:enumeration value="QSHP"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>Stock code(s) to use for report. A=All, R=Range, S=Single</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TransactionDate">
    <xsd:annotation>
      <xsd:documentation>Transaction Date(s) to use for report. A=All, R=Range, S=Single</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:annotation>
      <xsd:documentation>Warehouse(s) to use for report. A=All, R=Range, S=Single</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" type="xsd:string" use="optional"/>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
