Schemas7/LOTQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the Lot Traceability Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LotTraceabilityOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Company">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="General">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AutoLotNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextLotNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextLotArchiveNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ParentTraceIfCompTrace" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotNumEqualToJobNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SameLotMultStockCodes" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
