Schemas7/LOTQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Lot Traceability Query Business Object
-->
<xsd:schema id="NewDataSet" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LotQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="LotInfo" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotJob" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InspectionGoods" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipInspectionGoods" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotStatus" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InStock" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InInspect" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InWIPInspect" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InStockTake" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Reserved" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReserveType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Archived" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="LotDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="LotJob" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NextTrnLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrigQtyReceived" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyToShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyReserved" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CreationDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DrawOfficeNum" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastTrnDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ArchiveFileName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyInTransit" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LotHoldFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Note" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EccDummy" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Transactions" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TransDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TrnDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TrnType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TrnQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TrnValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DocType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Certificate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ConcessionNum" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="JobPurchOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PurchaseOrderLin" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Narration" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string"/>
      <xsd:attribute name="Language2" type="xsd:string"/>
      <xsd:attribute name="CssStyle" type="xsd:string"/>
      <xsd:attribute name="DecFormat" type="xsd:string"/>
      <xsd:attribute name="DateFormat" type="xsd:string"/>
      <xsd:attribute name="Role" type="xsd:string"/>
      <xsd:attribute name="Version" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NewDataSet">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LotQuery"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
