Schemas7/LOTQUD.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Lot Traceability Upstream downstream  Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation> Lot Traceablity Upstream Downstream Query</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Key">
					<xsd:annotation>
						<xsd:documentation>Lot detail key:Lot, Stockcode,Warehouse,Bin</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="LotNumber">
								<xsd:annotation>
									<xsd:documentation>The parent part lot number is to be entered here.</xsd:documentation>
								</xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
							</xsd:element>
							<xsd:element name="StockCode">
								<xsd:annotation>
									<xsd:documentation>This is the parent part stock code to be entered</xsd:documentation>
								</xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
							</xsd:element>
							<xsd:element name="SerialNumber">
								<xsd:annotation>
									<xsd:documentation>This is the serial number assosiated to the lot number and parent part entered.</xsd:documentation>
								</xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
							</xsd:element>
							<xsd:element name="Warehouse">
								<xsd:annotation>
									<xsd:documentation>Entered warehouse the parent part has been sold from</xsd:documentation>
								</xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
							</xsd:element>
							<xsd:element name="Bin">
								<xsd:annotation>
									<xsd:documentation>This is the Bin number assosiated to the lot number, stock code and warehouse Used if multiple bins are turned on.</xsd:documentation>
								</xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
							</xsd:element>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Option">
					<xsd:annotation>
						<xsd:documentation>Options to use for this query</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="SelectType" default="UD">
								<xsd:annotation>
									<xsd:documentation>Select U for upstream query.  Select D for downstream Query. Select UD for Both Queries</xsd:documentation>
								</xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="D"/>
										<xsd:enumeration value="U"/>
										<xsd:enumeration value="UD"/>
                  </xsd:restriction>
                </xsd:simpleType>
 					  	</xsd:element>
						</xsd:all>
				  </xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
