Schemas7/LOTQ31OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--    
     Schema for the Lot Traceability Expired Stock Codes Query Business Object
-->
<xsd:schema id="LotTraceabilityQuery" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LotTraceabilityQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StkTopBottom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StkTopBottom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StkNumberTopBottom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StkBasedOnMeasure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StkBasedOnMeasure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeZeroOnHand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeZeroOnHand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintNarrations" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintNarrations" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArchivedLots" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ArchivedLots" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeIssues" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeIssues" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSales" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeSales" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeAdjustments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeAdjustments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeTransfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeTransfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeReceipts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeReceipts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeBinTransfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeBinTransfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeExpiry" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeExpiry" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeDispatches" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeDispatches" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCostChanges" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeCostChanges" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_LotsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_LotFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BinFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BinFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BinFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpiryDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ExpiryDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpiryDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TransactionDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_TransactionDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TransactionDateFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Warehouses">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WarehouseItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="WarehouseDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_UnitCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QuantityReceived" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QuantityReceivedUnits" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QuantityOnHand" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QuantityOnHandUnits" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QuantityToShip" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QuantityToShipUnits" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="StockCountQuantity" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="StockCountQuantityUnits" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="LossToCompany" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_LossToCompany" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ValueShippedGoods" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_ValueShippedGoods" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="CurrentWarehouseValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_CurrentWarehouseValue" type="xsd:double" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Lots" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="YearPeriod" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="YearPeriodHeader" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Period" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_UnitCost" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="QuantityReceived" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="QuantityReceivedUnits" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="QuantityOnHand" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="QuantityOnHandUnits" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="QuantityToShip" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="QuantityToShipUnits" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="StockCountQuantity" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="StockCountQuantityUnits" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="LossToCompany" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_LossToCompany" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="ValueShippedGoods" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_ValueShippedGoods" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="CurrentWarehouseValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Edited_CurrentWarehouseValue" type="xsd:double" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="LotItem" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="LotDetails" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="LongDescription" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="LotJob" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DateCreated" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DrawingNumber" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ArchiveFile" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OnHold" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Translated_OnHold" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ReasonForHold" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Edited_UnitCost" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityReceived" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityReceivedUnits" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityOnHand" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityOnHandUnits" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityToShip" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityToShipUnits" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="StockCountQuantity" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="StockCountQuantityUnits" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="LossToCompany" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Edited_LossToCompany" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="ValueShippedGoods" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Edited_ValueShippedGoods" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="CurrentWarehouseValue" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Edited_CurrentWarehouseValue" type="xsd:double" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="LotTransactions" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="Transaction" minOccurs="0" maxOccurs="unbounded">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="TransactionDate" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Translated_TransactionType" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="TransactionQuantity" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="TransactionQuantityUnits" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="TransactionValue" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Edited_TransactionValue" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Translated_Source" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="PurchaseOrderLin" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="ConcessionNum" type="xsd:string" minOccurs="0"/>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="WhLotRemainder" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="WhLotRemainderDetails" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="LongDescription" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="LotJob" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DateCreated" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DrawingNumber" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ArchiveFile" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OnHold" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ReasonForHold" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Edited_UnitCost" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityReceived" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityReceivedUnits" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityOnHand" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityOnHandUnits" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityToShip" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="QuantityToShipUnits" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="StockCountQuantity" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="StockCountQuantityUnits" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="LossToCompany" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Edited_LossToCompany" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="ValueShippedGoods" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Edited_ValueShippedGoods" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="CurrentWarehouseValue" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Edited_CurrentWarehouseValue" type="xsd:double" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="WhLotRemLotTrans" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="WhLotTransaction" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="WarehouseRemainder" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_UnitCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="QuantityReceived" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="QuantityReceivedUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="QuantityOnHand" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="QuantityOnHandUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="QuantityToShip" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="QuantityToShipUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="StockCountQuantity" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="StockCountQuantityUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="LossToCompany" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_LossToCompany" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ValueShippedGoods" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_ValueShippedGoods" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="CurrentWarehouseValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_CurrenWarehouseValue" type="xsd:double" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
