Schemas7/LOTTSODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
    Schema for the Lot Traceability Setup Transaction Posting Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="LotTraceabilityOptions">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="General" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="AutoLotNum">
<xsd:annotation>
<xsd:documentation>
<![CDATA[Indicates Automatic lot numbering (N-No, Y-Yes) If no  value is supplied then a default value of N will be assumed]]></xsd:documentation>
<xsd:appinfo source="N=No;Y=Yes;" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y" />
<xsd:enumeration value="N" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="NextLotNum">
<xsd:annotation>
<xsd:documentation>
<![CDATA[What number must the system generate for your next lot.This field is 15 characters, numeric).]]></xsd:documentation>
<xsd:appinfo source="" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:double">
<xsd:minInclusive value="0" />
<xsd:maxInclusive value="999999999999999" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="NextLotArchiveNum">
<xsd:annotation>
<xsd:documentation>
<![CDATA[Number system must generate for your next archive of   lot records. This field is 3 characters, numeric]]></xsd:documentation>
<xsd:appinfo source="" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:double">
<xsd:minInclusive value="0" />
<xsd:maxInclusive value="999" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ParentTraceIfCompTrace">
<xsd:annotation>
<xsd:documentation>
<![CDATA[Parent traceable if component traceable (N-No, Y-Yes). If no value is supplied then a default value of N will be assumed]]></xsd:documentation>
<xsd:appinfo source="N=No;Y=Yes;" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y" />
<xsd:enumeration value="N" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="LotNumEqualToJobNum">
<xsd:annotation>
<xsd:documentation>
<![CDATA[Lot number equal to job number(N-No,Y-Yes). If no value is supplied then a default value of Y will be used]]></xsd:documentation>
<xsd:appinfo source="N=No;Y=Yes;" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y" />
<xsd:enumeration value="N" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SameLotMultStockCodes">
<xsd:annotation>
<xsd:documentation>
<![CDATA[Same lot to be used on multiple stock codes(N-No,Y-Yes)If no value is supplied then a default value of N will be used]]></xsd:documentation>
<xsd:appinfo source="N=No;Y=Yes;" /></xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y" />
<xsd:enumeration value="N" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="General">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="AutoLotNum" />
<xsd:element ref="NextLotNum" />
<xsd:element ref="NextLotArchiveNum" />
<xsd:element ref="ParentTraceIfCompTrace" />
<xsd:element ref="LotNumEqualToJobNum" />
<xsd:element ref="SameLotMultStockCodes" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
 
