Schemas7/mrp_supply_chain_action_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the MRP Supply Chain Action Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="MRPSupplyChainActionsReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="MRPSupplyChainActionsReport">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PrintPegging" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintPegging" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPgPerStkCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NewPgPerStkCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActionChange" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ActionChange" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActionDelay" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ActionDelay" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActionCancel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ActionCancel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActionNew" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ActionNew" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActionNone" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ActionNone" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeExcludedSalesOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeExcludedSalesOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExceptionLate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ExceptionLate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExceptionOverdue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ExceptionOverdue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExceptionNone" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ExceptionNone" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExcludeActionsLessThanDays" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MRPSupplyChainActionsDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TargetWarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_TargetWarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TargetWarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DueDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DueDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DueDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PlannerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannerFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="RuntimeSetupOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WarehousesIncluded" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WhIncHeader" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WhIncDetail" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConsolidateWarehouses" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ConsolidateWarehouses" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScheduleSupplyByDemand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SchSupplyByDemand" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockDetails" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodeHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="TargetWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UOM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SALPDS_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVBUY_Name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVPLN_Name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BuyingRule" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_BuyingRule" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EconomicBatchQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PANQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PotentialOverSupply" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_PotentialOverSupply" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyAvailable" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_QtyAvailable" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SuggestedCancelQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_SuggestedCancelQty" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="StockDetail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DemandDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_DemandDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SuggestedShipDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SuggestedDueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CurrentShipDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CurrentDueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_Quantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Number" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Reason" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Reason" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Reason2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Reason3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReasonDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="POSONumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="POSOLineNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_IncludeInMrp" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JobNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplyDemandDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OriginalLineNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PlanningParent" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GTRReference" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ParentStockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FinishedStockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QuotationNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QuotationLineNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UOM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Exception" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Exception" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Action" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Action" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
