Schemas7/mrp_master_production_schedule_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the MRP Master Production Schedule Query
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="MRPMasterProductionScheduleReport">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_ReportSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RunDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodLength" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberPeriods" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LimitPeriodsUpToSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_LimitPeriodsUpToSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodLimit" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseWarehouseDefinedInSetup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_UseWarehouseDefinedInSetup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConsolidateWarehouses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_ConsolidateWarehouses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockValueRequired" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_StockValueRequired" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NewPageForEachStockCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_NewPageForEachStockCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludePastDueForecasts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_IncludePastDueForecasts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeExcludedItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_IncludeExcludedItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeForwardOrders" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_IncludeForwardOrders" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrossRequirementsSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_GrossRequirementsSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ListNonCurrentRevisionRelease" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_ListNonCurrentRevisionRelease" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeMakeToOrderItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_IncludeMakeToOrderItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ATPNegativeInFirstPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_ATPNegativeInFirstPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProjAvailLessThanSafeWithinPTF" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_ProjAvailLessThanSafeWithinPTF" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProjAvailableLessSafetyWithinPH" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_ProjAvailableLessSafetyWithinPH" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PastDueBuildSchedule" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_PastDueBuildSchedule" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_BuyerFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PlannerFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PlannerFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tran_PlannerFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MRPProductionSchInfo">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="StockInfo" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Tran_PartCategory" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DemandTimeFence" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LeadTime" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QtyOnHand" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_QtyOnHand" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SafetyQty" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_SafetyQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MinimumQty" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_MinimumQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MaximumQty" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_MaximumQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Pan" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_Pan" type="xsd:string" minOccurs="0"/>
										<xsd:element name="EBQ" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_EBQ" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BuyingRule" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Tran_BuyingRule" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FixTimePeriod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GrossReqRule" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Tran_GrossReqRule" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PercentageYield" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Buyer_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Planner_Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SellingPrice" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_SellingPrice" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_UnitCost" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PeriodSummary" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SummaryDetail" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Period" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FromDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ToDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TimeFenceFlag" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Forecast" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_Forecast" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesOrders" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_SalesOrders" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CumDifferences" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_CumDifferences" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DependantDemand" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_DependantDemand" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TotalRequirements" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_TotalRequirements" type="xsd:string" minOccurs="0"/>
																<xsd:element name="BuildSchedule" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_BuildSchedule" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProjectedAvailable" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_ProjectedAvailable" type="xsd:string" minOccurs="0"/>
																<xsd:element name="AvailableToPromise" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_AvailableToPromise" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SuggestedBuildSched" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_SuggestedBuildSched" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesValueProjAv" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_SalesValueProjAv" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CostValueProjAv" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_CostValueProjAv" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="PeriodDetails" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="StockValues" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Forecast" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_Forecast" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CumDifference" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_CumDifference" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GrossRequirement" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_GrossRequirement" type="xsd:string" minOccurs="0"/>
																<xsd:element name="BuildSchedule" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_BuildSchedule" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProjectAvailable" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_ProjectAvailable" type="xsd:string" minOccurs="0"/>
																<xsd:element name="AvailableToPromise" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_AvailableToPromise" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SuggestedBuildSch" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_SuggestedBuildSch" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="DetailInfo" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="RequireDetails" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Requirement" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Trans_Requirement" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Source" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Line" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Quantity" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="Edited_Quantity" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Tran_IncludeInMrp" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Period" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FromDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ToDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TimeFence" type="xsd:string" minOccurs="0"/>
																<xsd:element name="TotalQty" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_TotalQty" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Forecast" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_Forecast" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CumDifference" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_CumDifference" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GrossRequirement" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_GrossRequirement" type="xsd:string" minOccurs="0"/>
																<xsd:element name="BuildSchedule" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_BuildSchedule" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProjectAvailable" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_ProjectAvailable" type="xsd:string" minOccurs="0"/>
																<xsd:element name="AvailableToPromise" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_AvailableToPromise" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SuggestedBuildSch" type="xsd:double" minOccurs="0"/>
																<xsd:element name="Edited_SuggestedBuildSch" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
