Schemas7/MRPQ49OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd. -->
<!-- 
     Schema for the MRP Material Requirements Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="MrpMaterialRequirements" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="MrpMaterialRequirements">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TimePeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_TimePeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NumberOfDays" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FirstDayOfWeek" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_FirstDayOfWeek" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNonStocked" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNonStocked" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePeggings" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePeggings" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MPSItemsActualDemandOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_MpsItemsActualDemand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrentRevRelOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CurrentRevRelOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SuggestSupplyItemsOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SuggestSupplyItemsOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LateSupplyItemsOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_LateSupplyItemsOnly" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConsolidatedRevRel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ConsolidateRevRel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeMPSForecasts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeMpsForecasts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeMPSSalesOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeMpsSalesOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PartCategory" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PlannerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="RuntimeSetupOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RequirementsCalculationDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConsolidateWarehouses" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ConsolidateWarehouses" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScheduleSupplyAccordingToDemand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ScheduleSupplyAccordingToDemand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AnySnapFilesUpd" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="MaterialRequirementsDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodeDetail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCodeItem" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ReportKey" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LongDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MinOrderQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_MinOrderQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MaxOrderQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_MaxOrderQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SALPRD_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVBUY_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MPS" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_MPS" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_PartCategory" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BatchingRule" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_BatchingRule" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BatchingQuantity" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_BatchingQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BatchingMinMaxOrder" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_BatchingMinMaxOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="APSMST_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVPLN_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Grr" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Grr" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Details" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="RecordType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_Pegging" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PeggingDmndDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_PeggingDmndDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PeggingQuantity" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_PeggingQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PeggingReason" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ReasonDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DemandSupply" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_DemandSupply" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OpLineNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="JobNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GTRReference" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="POSONumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="POSOLineNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RequisitionNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RequisitionLineNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SourceWarehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetWarehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SupplyDemandDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OriginalLineNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PlanningBillNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ParentStockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FinishedStockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TypeFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_TypeFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DateFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_DateFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FromDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ToDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PlanningTimeFence" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_PlanningTimeFence" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AvailableStock" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_AvailableStock" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PurchaseOrders" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_PurchaseOrders" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SuggQtyToOrder" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_SuggQtyToOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OutstandingDemand" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_OutstandingDemand" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QuotationNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QuotationVersion" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QuotationLineNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PlanningParent" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Result" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_Result" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_PeggingReason" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_PeggingReason2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_PeggingReason3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_PeggingReason4" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
