Schemas7/MRPQ25.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for MRP Master Production Schedule Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>The Root Element. Maximum length 1 of type Alphanumeric</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Option">
					<xsd:annotation>
						<xsd:documentation>This is the Parent Options Element. Maximum length 1 of type Alphanumeric</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportSelection" default="S">
								<xsd:annotation>
									<xsd:documentation>This indicates whether the report should be printed in detail or in summary. D - Detail or S - Summary. The default is (S) Summary This element is optional.. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="S"/>
										<xsd:enumeration value="D"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RunDate">
								<xsd:annotation>
									<xsd:documentation>You use this field to indicate a valid date from which printing must commence. This element is optional.. Maximum length 10 of type Date</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="PeriodLength">
								<xsd:annotation>
									<xsd:documentation>You use this field to indicate the number of days required in a period.. Maximum length 3 of type Numeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NumberPeriods">
								<xsd:annotation>
									<xsd:documentation>You use this field to indicate the maximum number of periods (in the range 1 to 98) required to be printed.. Maximum length 3 of type Numeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="LimitPeriodsUpToSelection" default="A">
								<xsd:annotation>
									<xsd:documentation>Add comments here. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="A"/>
										<xsd:enumeration value="S"/>
										<xsd:enumeration value="P"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="PeriodLimit">
								<xsd:annotation>
									<xsd:documentation>Add comments here. Maximum length 10 of type Date</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="UseWarehouseDefinedInSetup" default="N">
								<xsd:annotation>
									<xsd:documentation>Select this to use the warehouse selections made within the Requirements Planning Setup program.. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ConsolidateWarehouses" default="Y">
								<xsd:annotation>
									<xsd:documentation>Select this to consolidate the values of all warehouses selected, for each stock code. . Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StockValueRequired" default="N">
								<xsd:annotation>
									<xsd:documentation>Select this to show both the list and cost price of the stock and the list and cost value of the projected available for each period shown. This only applies if you selected to print a summary report.
. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NewPageForEachStockCode" default="Y">
								<xsd:annotation>
									<xsd:documentation>Select this to skip to a new page at the beginning of each stock code.. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludePastDueForecasts" default="N">
								<xsd:annotation>
									<xsd:documentation>Select this to include stock codes for which the forecasts are past the due date.. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element ref="IncludeExcludedItems"/>
							<xsd:element name="IncludeForwardOrders" default="N">
								<xsd:annotation>
									<xsd:documentation>Select this to include stock codes for Forward Orders in the review. Forward Orders are entered in the Sales Order Entry program and are customer orders that require stock allocations to be made at a future date.. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="GrossRequirementsSelection" default=" ">
								<xsd:annotation>
									<xsd:documentation>You use this field to indicate the gross requirements rule according to which you want to include stock items for selection.. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value=" "/>
										<xsd:enumeration value="H"/>
										<xsd:enumeration value="C"/>
										<xsd:enumeration value="A"/>
										<xsd:enumeration value="I"/>
										<xsd:enumeration value="S"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RevisionRelease">
								<xsd:annotation>
									<xsd:documentation>Add comments here. Maximum length 11 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ListNonCurrentRevisionRelease" default="N">
								<xsd:annotation>
									<xsd:documentation>Add comments here. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeMakeToOrderItems" default="Y">
								<xsd:annotation>
									<xsd:documentation>Y - Yes Select this to include the printing of stock codes defined as make-to-order items. N - No Select this to exclude stock codes defined as make-to-order items from being printed. O - Only Select this to only print stock codes defined as make-to-order items.. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="O"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ATPNegativeInFirstPeriod" default="N">
								<xsd:annotation>
									<xsd:documentation>Select this to print stock codes for which the available-to-promise is negative in period 1.. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ProjAvailLessThanSafeWithinPTF" default="N">
								<xsd:annotation>
									<xsd:documentation>Select this to print stock codes for which the projected available is below safety within the planning time fence.. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ProjAvailableLessSafetyWithinPH" default="N">
								<xsd:annotation>
									<xsd:documentation>Select this to print stock codes for which the projected available is below safety within the planning horizon.. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="PastDueBuildSchedule" default="N">
								<xsd:annotation>
									<xsd:documentation>Select this to print stock codes for which build schedules are past the due date.. Maximum length 1 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TmpMpsFile">
								<xsd:annotation>
									<xsd:documentation>The name and path of the temporary file holding the MPS calculations. Not used in COM.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="IncEccDepOldest" type="xsd:string" default="N">
								<xsd:annotation>
									<xsd:documentation>When the BOM setup option "Deplete oldest first" is switched on then when selecting this option any job allocations which are set to use the ECC consumption method deplete oldest will be included in the review as dependent demand.  Possible values Y or N. Default is N.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Filter">
					<xsd:annotation>
						<xsd:documentation>This is the Parent Element Filters. Maximum length 1 of type Alphanumeric</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Warehouse">
								<xsd:annotation>
									<xsd:documentation>Include Warehouse, (Filter type contains A=All, R=Range, S=Single, L=List). Maximum length 10 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:annotation>
											<xsd:documentation>A=All;L=List;R=Range;S=Single</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="L"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ProductClass">
								<xsd:annotation>
									<xsd:documentation>Include Product Class, (Filter type contains A=All, R=Range, S=Single, L=List). Maximum length 20 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:annotation>
											<xsd:documentation>A=All;L=List;R=Range;S=Single</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="L"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Buyer">
								<xsd:annotation>
									<xsd:documentation>Include Buyer, (Filter type contains A=All, R=Range, S=Single, L=List). Maximum length 20 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:annotation>
											<xsd:documentation>A=All;L=List;R=Range;S=Single</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="L"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="StockCode">
								<xsd:annotation>
									<xsd:documentation>Include Stock code, (Filter type contains A=All, R=Range, S=Single, L=List). Maximum length 30 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:annotation>
											<xsd:documentation>A=All;L=List;R=Range;S=Single</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="L"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Planner">
								<xsd:annotation>
									<xsd:documentation>Include Planner, (Filter type contains A=All, R=Range, S=Single, L=List). Maximum length 20 of type Alphanumeric</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:annotation>
											<xsd:documentation>A=All;L=List;R=Range;S=Single</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="L"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeExcludedItems" default="Y">
		<xsd:annotation>
			<xsd:documentation>Select this to include items that have been marked as Excluded from the MRP calculation. Y - Yes or N - No  (Default - Y).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
