Schemas7/MRPQ59OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the MRP Average Queue Times Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="MrpAverageQueueTimesQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="MrpAverageQueueTimesQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncludeSuggestedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeSuggestedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintStandardDeviation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintStandardDeviation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WorkCenterFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WorkCenterFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WorkCenterFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QueueDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QueueDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_QueueDateFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="AverageQueueTimes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="WorkCenter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NumberOfOperations" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_NumberOfOperations" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QueueTime" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_QueueTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalQueueTime" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_TotalQueueTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MinimumQueueTime" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_MinimumQueueTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MaximumQueueTime" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_MaximumQueueTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AverageQueueTime" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_AverageQueueTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StandardDeviation" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_StandardDeviation" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
