Schemas7/MRPQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the MRP Requirements Planning Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="RequirementsPlanningSetupOptions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DefPerSize" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefPerSizeNoOfDays" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefPerSizeFirstDayOfWeek" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefPrMethodPoReview" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclConfJobsInReview" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqPlnLoadLevelReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BrwStkCodReqFile" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDaysAfterStockArr" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General2">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MaxDecInResQtyPer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefTimePerLength" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForecastFreqAllow" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForecastVisibilityFactor" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForecastAmendJnlReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AmendJnlReqBuildSched" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Planning1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InclReqCalcStockOnHand" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcSafetyStock" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcPo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcConfJobs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcUnconfJobs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcJobsOnHold" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcFcasts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcSo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcQot" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcBuildSched" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcFwdOrd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcOrdInSusp" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcSct" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclReqCalcGit" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyGrossReqRulesIs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyGrossReqRulesHc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PerLenForRulesHc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyDtfRule" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SafetyStockTimeFenceRule" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Planning2">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OverrideBatchRuleWithA" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SchedAccordingToDemand" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SchedSpecificSupply" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclAllStockInReqFile" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RedQtyOnHandByAlloc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MakeProvForLotExpiry" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DoNotLockLiveFiles" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowAddReqUsers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SuppMrpNonCurrEccRevRel" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowMrpReschedGit" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclQuotPropGreatThan" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Scheduling">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AssignPriorityDatePriority" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssignPriorityJobQuote" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqPlnMaxGenQueueTime" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Warehouses">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="WhSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WhSelectionFrom" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WhSelectionTo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefineWhList" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConsolSelWhs" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="RequisitionUsers">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReqUserSel" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqUserSelFrom" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqUserSelTo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReqUserOption" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ForecastDepletion">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DepleteForecasts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExclForecastDeplGrrA" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExclForecastDeplGrrI" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExclForecastDeplNonMps" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExclForecastDeplNonStocked" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForecastDeplPeriodType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForecastPeriodLength" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowPastDueDepletion" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForecastPeriodLengthPrior" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DepleteForecastsByCustomer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowForecastDeplOutsidePer" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
