Schemas7/MRPQ62OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the MRP Build Schedule Actions Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="BuildScheduleActionsReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BuildScheduleActionsReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SerparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ChangesToInclude" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WhenSuggestedDateIsAfterOriginalDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewBuildSchedules" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="RuntimeSetupOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RequirementsCalculationDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehousesIncluded" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConsolidateWarehouses" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScheduleSupplyAccordingToDemand" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BuildScheduleActions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OutstQtyToMake" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_OutstQtyToMake" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SuggestedQty" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_SuggestedQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateRequired" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SuggestedDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActionMessage" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
