Schemas7/MRPQ61OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the MRP Sales Order Actions Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="MrpSalesOrderActionsQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="MrpSalesOrderActionsQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ChangesToInclude" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ChangesToInclude" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OnlyWhereSuggestedDateAfterOriginalDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_OnlyWhereSugDateAfterOrigDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeExcludedItems" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeExcludedItems" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="RunTimeSetupOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RequirementsCalculationDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehousesIncluded" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_WarehousesIncluded" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConsolidateWarehouses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ConsolidateWarehouses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ScheduleSupplyAccordingToDemand" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SchSupplyAccordingToDemand" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SalesOrderActions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LineNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StockingUom" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrentQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_CurrentQuantity" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SuggestedQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="Edited_SuggestedQuantity" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrentShipDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SuggestedShipDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_IncludeInMrp" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
