Schemas7/MRPQ77OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the MRP Dispatch List Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="DispatchList" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DispatchList">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OpCompletionOverdueByToday" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OpCompletionOverdueByToday" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OpStartOverdueByToday" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OpStartOverdueByToday" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OpStartedLateNotCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OpStartedLateNotCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSuggestedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeSuggestedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompletedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CompletedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnconfirmedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UnconfirmedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfNarrationLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReturnNotesInBlock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReturnNotesInBlock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPagePerOperation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NewPagePerOperation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPagePerDay" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NewPagePerDay" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperationActive" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OperationActive" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperationCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OperationCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperationPlannedForQueue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OperationPlannedForQueue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubTotalEachDay" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SubTotalEachDay" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CoProductSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CoProductSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostCenterFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CostCenterFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostCenterFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CostCenterFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WorkCenterFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WorkCenterFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WorkCenterFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WorkCenterFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="WorkCenters" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WorkCenter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMWRK_Description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostCenter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMCST_Description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubContractFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SubContractFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TimeUm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NormalTimeDay" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Edited_NoramlTimeDay" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DailyItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Jobs" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WIPMST_JobDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_WIPMST_JobDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WIPMST_StockDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StatusFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_StatusFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OpCompleteViaJob" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductDetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CoProduct" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="WIPCOP_Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CoProductLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CoProductUom" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ARSMST_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MilestoneFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="InspectionFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Priority" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobClassification" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PlannedStartDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PlannedFinishDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOutstanding" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedQtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReceivedDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProcessQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedProcessQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Pieces" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedPieces" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TimeRemaining" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_TimeRemaining" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Machine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MinorSetup" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ToolSet" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PreviousOperation" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_PreviousOperation" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NextOperation" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_NextOperation" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Move" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EstimatedValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedEstimatedValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedUnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Narration" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="NarrationNum" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NarrationDetail" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SubTotalPerDay" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Date" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Date" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalPerDay" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedTotalPerDay" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="WorkCenterTotal" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TotalTimeRemaining" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedTotalTimeRemaining" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalEstValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedTotalEstValue" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
