Schemas7/MRPSRSDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!--
     Schema for the MRP Resurce Setup Business Object 
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="QuantityPer" minOccurs="0"/>
        <xsd:element name="OffsetDays" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element contains the number of days before or after the due date of the finished product that the component is required. It is optional.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResourceParent" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This element contains information about the Resource Parent. It is the key. It is mandatory.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element ref="ResourceComponent"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="QuantityPer" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains the quantity of the resource component required for each resource parent code. Numeric 12.6. It is optional</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupMRPResourceStructure">
    <xsd:annotation>
      <xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ResourceComponent" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Resource Component. It is the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceParent">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Resource Parent. It is the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OffsetDays">
    <xsd:annotation>
      <xsd:documentation>This element contains the number of days before or after the due date of the finished product that the component is required. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
