Schemas7/MRPSRCDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2015 SYSPRO Ltd.--><!--     Schema for the MRP Resurce Setup Business Object --><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="ResourceDesc" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Resource Description. It is mandatory.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="Item">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Key"/>				<xsd:element ref="ResourceDesc"/>				<xsd:element ref="ResourceUom" minOccurs="0"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="Key">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="ResourceComponent"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="ResourceUom" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Resource unit of measure. It is optional.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="SetupMRPResource">		<xsd:annotation>			<xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Item"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="ResourceComponent" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Resource Component. It is the key. It is mandatory.</xsd:documentation>		</xsd:annotation>	</xsd:element></xsd:schema>