Schemas7/operator_program_list_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
    Sample XSDOUT for the Operator Audit Report Programs Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="QueryOptions"/>
        <xsd:element ref="Operator"/>
        <xsd:element ref="TranslatedText"/>
        <xsd:element ref="OperatorCount"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OperatorCount">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Count"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Count" type="xsd:string"/>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CssStyle" type="xsd:string"/>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="DecFormat" type="xsd:string"/>
  <xsd:element name="DateFormat" type="xsd:string"/>
  <xsd:element name="Role" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
  <xsd:element name="CompanyId" type="xsd:boolean"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
  <xsd:element name="OperatorLocation" type="xsd:string"/>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="GlPrdPerYear" type="xsd:string"/>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
  <xsd:element name="QueryOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ShowDetailMultiple" type="xsd:string"/>
        <xsd:element name="Translated_ShowDetailMultiple" type="xsd:string"/>
        <xsd:element name="ShowConflicts" type="xsd:string"/>
        <xsd:element name="Translated_ShowConflicts" type="xsd:string"/>
        <xsd:element name="IgnoreRoles" type="xsd:string"  />
        <xsd:element name="Translated_IgnoreRoles" type="xsd:string"/>
        <xsd:element name="IgnoreGroups" type="xsd:string" />
        <xsd:element name="Translated_IgnoreGroups" type="xsd:string" />
        <xsd:element name="ShowCmsInfo" type="xsd:string"/>
        <xsd:element name="Translated_ShowCmsInfo" type="xsd:string"/>
        <xsd:element name="OperatorSelection" type="xsd:string"/>
        <xsd:element name="Translated_OperatorSelection" type="xsd:string"/>
        <xsd:element name="OperatorFrom" type="xsd:string"/>
        <xsd:element name="OperatorTo" type="xsd:string"/>
        <xsd:element name="OperatorRoleSelection" type="xsd:string"/>
        <xsd:element name="Translated_OperatorRoleSelection" type="xsd:string"/>
        <xsd:element name="OperatorRoleFrom" type="xsd:string"/>
        <xsd:element name="OperatorRoleTo" type="xsd:string"/>
        <xsd:element name="OperatorGroupSelection" type="xsd:string"/>
        <xsd:element name="Translated_OperatorGroupSelection" type="xsd:string"/>
        <xsd:element name="OperatorGroupFrom" type="xsd:string"/>
        <xsd:element name="OperatorGroupTo" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Operator">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="OperCode" type="xsd:string"/>
        <xsd:element name="OperName" type="xsd:string"/>
        <xsd:element name="OperLastLogin" type="xsd:string"/>
        <xsd:element name="OperEmail" type="xsd:string"/>
        <xsd:element name="OperLocation" type="xsd:string"/>
        <xsd:element name="OperAdministrator" type="xsd:string"/>
        <xsd:element ref="OperatorRoles"/>
        <xsd:element ref="OperatorGroups"/>
        <xsd:element ref="Contact"/>
        <xsd:element ref="Programs" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OperatorRoles">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="OperRole" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OperRole">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Account Manager"/>
        <xsd:enumeration value="Financial Manager"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OperatorGroups">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="OperGroup" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OperGroup">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Accounts"/>
        <xsd:enumeration value="Credits"/>
        <xsd:enumeration value="Debits"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Contact">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ContactDepartment" type="xsd:string"/>
        <xsd:element name="ContactJobTitle" type="xsd:string"/>
        <xsd:element name="ContactOffice" type="xsd:string"/>
        <xsd:element name="ContactWorkPhone" type="xsd:string"/>
        <xsd:element name="ContactWorkExt" type="xsd:string"/>
        <xsd:element name="ManagerName" type="xsd:string"/>
        <xsd:element name="ManagerPhone" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Programs">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Program" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Program">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ProgName" type="xsd:string"/>
        <xsd:element name="ProgDescription" type="xsd:string"/>
        <xsd:element name="ProgSourceType" type="xsd:string"/>
        <xsd:element name="ProgSourceCode" type="xsd:string"/>
        <xsd:element name="ProgSourceDescription" type="xsd:string"/>
        <xsd:element ref="ProgSourceMultiple" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ConfProgName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ConfProgDesc" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ProgSourceMultiple">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MultipleType" type="xsd:string"/>
        <xsd:element name="MultipleCode" type="xsd:string"/>
        <xsd:element name="MultipleDescription" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Conflict">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ProgramDescription" type="xsd:string"/>
  <xsd:element name="ProgramName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="APSPSP"/>
        <xsd:enumeration value="ARSP60"/>
        <xsd:enumeration value="ARSP90"/>
        <xsd:enumeration value="ARSP92"/>
        <xsd:enumeration value="ARSPAD"/>
        <xsd:enumeration value="ARSPAP"/>
        <xsd:enumeration value="ARSPB1"/>
        <xsd:enumeration value="ARSPCS"/>
        <xsd:enumeration value="ARSPEN"/>
        <xsd:enumeration value="CMSP01"/>
        <xsd:enumeration value="CMSP10"/>
        <xsd:enumeration value="CMSP15"/>
        <xsd:enumeration value="CMSPEN"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ProgSourceType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Group"/>
        <xsd:enumeration value="Role"/>
        <xsd:enumeration value="Multiple"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ProgSourceCode" type="xsd:string"/>
  <xsd:element name="ProgSourceDescription" type="xsd:string"/>
  <xsd:element name="TranslatedText">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Text_All"/>
        <xsd:element ref="Text_List"/>
        <xsd:element ref="Text_Range"/>
        <xsd:element ref="Text_Single"/>
        <xsd:element ref="Text_Yes"/>
        <xsd:element ref="Text_No"/>
        <xsd:element ref="Text_Show_conflicts"/>
        <xsd:element ref="Text_Show_only_conflicts"/>
        <xsd:element ref="Text_Ignore_conflicts"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Text_All" type="xsd:string"/>
  <xsd:element name="Text_List" type="xsd:string"/>
  <xsd:element name="Text_Range" type="xsd:string"/>
  <xsd:element name="Text_Single" type="xsd:string"/>
  <xsd:element name="Text_Yes" type="xsd:string"/>
  <xsd:element name="Text_No" type="xsd:string"/>
  <xsd:element name="Text_Show_conflicts" type="xsd:string"/>
  <xsd:element name="Text_Show_only_conflicts" type="xsd:string"/>
  <xsd:element name="Text_Ignore_conflicts" type="xsd:string"/>
</xsd:schema>
