Schemas7/po_bpo_contract_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!--  Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the Blanket Purchase Order Contract Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="BlanketPorContracts" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="BlanketPorContracts">
		<xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" minOccurs="0"/>
							<xsd:element name="DecCharToUse" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ContractTypes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeContractTypeCall-OffSingle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeContractTypeCall-OffSingle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeContractTypeCall-OffMultiple" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeContractTypeCall-OffMultiple" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeContractTypeStandingOrder" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeContractTypeStandingOrder" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeContractTypeMonitoringOrder" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeContractTypeMonitoringOrder" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ContractStatus" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ContractStatus" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeContractSchedule" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeContractSchedule" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeTransactionDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeTransactionDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeActiveContractsOnly" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeActiveContractsOnly" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeContractsBasedOn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeContractsBasedOn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Variable" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Variable2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberOfDays" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberOfDeliveries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PercentageOfTotal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeLinesBasedOnPercOfTotContractQtyReceived" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeLinesBasedOnPercOfTotContractQtyReceived" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Percentage" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ExpiryDateList" minOccurs="0"/>
							<xsd:element name="IncludeCompletedTransactions" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeCompletedTransactions" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeOverReceipts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_IncludeOverReceipts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierClassFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_SupplierClassFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SupplierClassFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ContractFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ContractFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ContractFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExpiryDateFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExpiryDateFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ContractInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ContractHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Contract" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplierClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContractDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateLastDocumentPrinted" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OrderDueDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DeliveryWarehouse" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DeliveryWarehouseName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DeliveryAddress1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DeliveryAddress2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DeliveryAddress3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DeliveryAddress3Locality" minOccurs="0"/>
										<xsd:element name="DeliveryAddress4" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DeliveryAddress5" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PostalZipCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DeliveryGpsLat" minOccurs="0"/>
										<xsd:element name="DeliveryGpsLong" minOccurs="0"/>
										<xsd:element name="ContractType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_ContractType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrentContractStatus" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_CurrentContractStatus" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerPOrder" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ContractSchedule" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ScheduleItem" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ScheduleDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GeneratedPOrder" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ReleaseDate" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ContractDetailInformation" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ContractDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="LineNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="StockLongDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
													<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ContractQty" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedContractQty" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OrderedQty" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedOrderedQty" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ReceivedQty" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedReceivedQty" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Price" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedPrice" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OutstandingValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedOutstandingValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="OutstandingForeignValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedOutstandingForeignValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LastGRNNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LastReceiptedQty" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedLastReceiptedQty" type="xsd:string" minOccurs="0"/>
													<xsd:element name="LastReceiptDate" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ScheduleDateDetails" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ScheduleLines" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="ScheduleLine" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="SchContract" minOccurs="0"/>
																			<xsd:element name="SchContractLine" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchPurchaseOrder" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchPOrderLine" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SeqSchDateCount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SeqTrnDateCount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SeqTrnTimeCount" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchDate" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchTransactionDate" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchTransactionTime" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchGRN" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchQuantityOrdered" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedSchQuantityOrdered" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchQuantityReceived" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedSchQuantityReceived" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchOutstandingQty" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedSchOutstandingQty" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchType" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Translated_SchType" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="ScheduleDateTotal" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="LastScheduledDate" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchTotalQtyOrdered" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedSchTotalQtyOrdered" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchTotalQtyReceived" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedSchTotalQtyReceived" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="SchTotalOutstandingQty" type="xsd:double" minOccurs="0"/>
																			<xsd:element name="EditedSchTotalOutstandingQty" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Total" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TotalGrossOutstandingValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTotalGrossOutstandingValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalGrossOutstandingForeignVal" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTotalGrossOutstandingForeignVal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalFreightValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTotalFreightValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalFreightForeignValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTotalFreightForeignValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalMiscValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTotalMiscValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalMiscForeignValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTotalMiscForeignValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalNetOutstandingValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTotalNetOutstandingValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalNetOutstForeignValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTotalNetOutstForeignValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalContractQty" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTotalContractQty" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalOrderedQty" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTotalOrderedQty" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TotalReceivedQty" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedTotalReceivedQty" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GrandTotal" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GrandTotalContractQty" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedGrandTotalContractQty" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandTotalOrderedQty" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedGrandTotalOrderedQty" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandTotalReceivedQty" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedGrandTotalReceivedQty" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandGrossOutstandingValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedGrandGrossOutstandingValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandGrossOutstandingForeignValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedGrandGrossOutstandingForeignValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandFreightCharges" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedGrandFreightCharges" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandFreightForeignCharges" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedGrandFreightForeignCharges" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandMiscCharges" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedGrandMiscCharges" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandMiscForeignCharges" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedGrandMiscForeignCharges" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandNetOutstandingValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedGrandNetOutstandingValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrandNetOutstandingForeignValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedGrandNetOutstandingForeignValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalNumberOfOutstandingOrders" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedTotalNumberOfOutstandingOrders" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
