Schemas7/PORQ62OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Purchase Orders by Stock Code Business Object
-->
<xsd:schema id="Purchaseorderbystockcode" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Purchaseorderbystockcode">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintCatalogue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintCatalogue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RevisionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Continued" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodeDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCodeHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="StockLineDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedRevRel" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Catalogue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LatestDueDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LastReceiptDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Price" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PriceUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ForeignPrice" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedForeignPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockingUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="OrderQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedOrderQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReceivedQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ReceivedQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedReceivedQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OutstandingQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="OutstandingQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedOutstandingQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_IncludeInMrp" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="StockCodeTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TotalOutstanding" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalOutstandingUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalRec" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="TotalRecUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalRec" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ReportTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TotalOutstanding" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedTotalOutstanding" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalRec" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedTotalRec" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
