Schemas7/PORQLFOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the LCT Shipment Tracking Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" id="LCTShipmentTrackingReportQueryListing" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LCTShipmentTrackingReportQueryListing">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseXrefForExpectedMerchCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UseXrefForExpectedMerchCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseTotalQtyForActualMerchCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UseTotalQtyForActualMerchCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseExpectedElementValueWhenActualZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UseExpectedElementValueWhenActualZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="VesselFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_VesselFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="VesselFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReceiptDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReceiptDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReceiptDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShipmentReferenceFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ShipmentReferenceFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShipmentReferenceFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArchiveShipmentReferenceFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ArchiveShipmentReferenceFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArchiveShipmentReferenceFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Exchange_rate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrentInventoryUnitCost" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="VesselDetails" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Vessel" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="VesselName" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepartureDate" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EstArrivalDate" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Route" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RouteDescription" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Shipment" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="ShipmentReference" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ShipmentEntry" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence maxOccurs="unbounded">
                          <xsd:element name="StockCode" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="StockDescription" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="PurchaseOrder" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="PurchaseOrderLine" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Edited_Purchase_Order" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Currency" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="ExchRate" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MultiplyDivide" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="ForeignPrice" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedForeignPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Supplier" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ShipQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedShipQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyReceived" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyReceivedUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitOfMeasure" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Warehouse" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Bin" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SupplierCatalogueNumber" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="MerchandiseExpCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedMerchandiseExpCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MerchandiseActCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedMerchandiseActCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MerchandiseGRNValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedMerchandiseGRNValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ElementDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence maxOccurs="unbounded">
                                <xsd:element name="CostElement" minOccurs="0">
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="ExpectedCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedExpectedCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedActualCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GRNValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedGRNValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Invoiced" minOccurs="0">
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                  </xsd:simpleType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="ElementDetailTotals" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TotalExpectedCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedTotalExpectedCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotalActualCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedTotalActualCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotalGRNValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedTotalGRNValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CalculatedUnitCostExp" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedCalculatedUnitCostExp" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CalculatedUnitCostAct" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedCalculatedUnitCostAct" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CalculatedUnitCostGRN" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedCalculatedUnitCostGRN" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CalculatedUnitCostUm" minOccurs="0">
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="CurrentInventoryCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedCurrentInventoryCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurrentInventoryCostUm" minOccurs="0">
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                  </xsd:simpleType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ShipmentSubtotals" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence maxOccurs="unbounded">
                          <xsd:element name="SubtotalElements" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence maxOccurs="unbounded">
                                <xsd:element name="CostElement" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_CostElement" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExpectedCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedExpectedCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedActualCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GRNValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedGRNValue" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="SubtotalTotal" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ExpectedCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedExpectedCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedActualCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GRNValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedGRNValue" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
