Schemas7/PORQPOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the PO List of Purchase Orders Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PorQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PurchaseOrderItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PurchaseOrder" type="xsd:string"/>
              <xsd:element name="OrderStatus" type="xsd:string"/>
              <xsd:element name="Supplier" type="xsd:string"/>
              <xsd:element name="DeliveryName" type="xsd:string"/>
              <xsd:element name="OrderDueDate" type="xsd:string"/>
              <xsd:element name="MemoDate" type="xsd:string"/>
              <xsd:element name="MemoCode" type="xsd:string"/>
              <xsd:element name="OrderType" type="xsd:string"/>
              <xsd:element name="SupplierClass" type="xsd:string"/>
              <xsd:element name="Customer" type="xsd:string"/>
              <xsd:element name="CustomerPoNumber" type="xsd:string"/>
              <xsd:element name="PaymentTerms" type="xsd:string"/>
              <xsd:element name="ShippingInstrs" type="xsd:string"/>
              <xsd:element name="Currency" type="xsd:string"/>
              <xsd:element name="PrintCount" type="xsd:string"/>
              <xsd:element name="AmendedCount" type="xsd:string"/>
              <xsd:element name="ExchangeRate" type="xsd:string"/>
              <xsd:element name="Nationality" type="xsd:string"/>
              <xsd:element name="TermsCode" type="xsd:string"/>
              <xsd:element name="UserConfirmation" type="xsd:string"/>
              <xsd:element name="Buyer" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
