Schemas7/PORQ60OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Purchase Orders by Order Number Business Object
-->
<xsd:schema id="PurchaseOrdersByOrderNumber" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PurchaseOrdersByOrderNumber">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DateSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Transalted_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderStatus" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Transalted_OrderStatus" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintLineDueDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintLineDueDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintCatalogue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Transalted_PrintCatalogue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeLocalPurchaseOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeLocalPurchaseOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeImportPurchaseOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeImportPurchaseOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeOtherPurchaseOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeOtherPurchaseOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeZeroQtyOutstandingOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeZeroQtyOutstandingOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Transalted_RevisionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Transalted_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Transalted_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PurchaseOrderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Transalted_PurchaseOrderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PurchaseOrderFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrencyFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CurrencyFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrencyFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MemoCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_MemoCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MemoCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PurchaseOrders">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PurchaseOrder" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="OrderHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Name" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderDueDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateLastDocPrt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderEntryDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MemoDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MemoCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerPoNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Status" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Status" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StatusDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BuyerName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_IncludeInMrp" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="DetailLines" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="DetailLine" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StockDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OrderQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OrderQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedOrderQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ReceivedQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ReceivedQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedReceivedQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Price" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LatestDueDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Catalogue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OutstandingValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedOutstandingValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_IncludeInMrp" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PurchaseOrderTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="GrossOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedGrossOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GrossCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedGrossCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalOrderDiscountsOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalOrderDiscountsOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalOrderDiscountsCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalOrderDiscountsCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreightChargesOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedFreightChargesOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreightChargesCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedFreightChargesCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MiscChargesOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMiscChargesOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MiscChargesCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMiscChargesCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="HashOrderQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedHashOrderQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="HashReceivedQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedHashReceivedQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NetOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedNetOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NetCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedNetCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="HashTotalOfQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedHashTotalOfQuantities" type="xsd:string"/>
              <xsd:element name="HashTotalOfReceivedQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedHashTotalOfReceivedQuantities" type="xsd:string"/>
              <xsd:element name="GrossOutstandingValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedGrossOutstandingValue" type="xsd:string"/>
              <xsd:element name="GrossCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedGrossCurrentOutstandingValue" type="xsd:string"/>
              <xsd:element name="TotalOrderDiscountsOutstandingValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalOrderDiscountsOutstandingValue" type="xsd:string"/>
              <xsd:element name="TotalOrderDiscountsCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalOrderDiscountsCurrentOutstandingValue" type="xsd:string"/>
              <xsd:element name="FreightChargesOutstandingValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedFreightChargesOutstandingValue" type="xsd:string"/>
              <xsd:element name="FreightChargesCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedFreightChargesCurrentOutstandingValue" type="xsd:string"/>
              <xsd:element name="MiscChargesOutstandingValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedMiscChargesOutstandingValue" type="xsd:string"/>
              <xsd:element name="MiscChargesCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedMiscChargesCurrentOutstandingValue" type="xsd:string"/>
              <xsd:element name="CompanyNetOutstandingValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCompanyNetOutstandingValue" type="xsd:string"/>
              <xsd:element name="CompanyNetCurrentOutstandingValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedCompanyNetCurrentOutstandingValue" type="xsd:string"/>
              <xsd:element name="TotalNumberOutstandingOrders" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_None" minOccurs="0"/>
              <xsd:element name="Text_Entry" minOccurs="0"/>
              <xsd:element name="Text_Order_due" minOccurs="0"/>
              <xsd:element name="Text_Print" minOccurs="0"/>
              <xsd:element name="Text_Memo" minOccurs="0"/>
              <xsd:element name="Text_Detail" minOccurs="0"/>
              <xsd:element name="Text_Summary" minOccurs="0"/>
              <xsd:element name="Text_All" minOccurs="0"/>
              <xsd:element name="Text_Open" minOccurs="0"/>
              <xsd:element name="Text_Printed" minOccurs="0"/>
              <xsd:element name="Text_Yes" minOccurs="0"/>
              <xsd:element name="Text_No" minOccurs="0"/>
              <xsd:element name="Text_Single" minOccurs="0"/>
              <xsd:element name="Text_Not_on_file" minOccurs="0"/>
              <xsd:element name="Text_In_proc_" minOccurs="0"/>
              <xsd:element name="Text_Complete" minOccurs="0"/>
              <xsd:element name="Text_Entry_date" minOccurs="0"/>
              <xsd:element name="Text_Order_due_date" minOccurs="0"/>
              <xsd:element name="Text_Print_date" minOccurs="0"/>
              <xsd:element name="Text_Memo_date" minOccurs="0"/>
              <xsd:element name="Text_Line_due_date" minOccurs="0"/>
              <xsd:element name="Text_Line_due" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
