Schemas7/PORQ63OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Purchase Orders by Supplier Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="PurchaseOrderBySupplier" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PurchaseOrderBySupplier">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConvertToLocalValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ConvertToLocalValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BuyerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MemoDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_MemoDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MemoDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MemoCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_MemoCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MemoCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_MissingSuppNmae" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Continued" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Suppliers">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Supplier" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SupplierHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BuyerDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BuyerName" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="StockDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCodeHeader" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="LineDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DetailLine" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StkLineDesc" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="LatestDueDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="LastReceiptDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Price" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedPrice" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PriceUom" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ForeignPrice" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedForeignPrice" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OrderQty" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OrderQtyUnits" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedOrderQty" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QtyReceived" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QtyReceivedUnits" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedQtyReceived" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OutstandingQty" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OutstandingQtyUnits" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedOutstandingQty" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OrderUom" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OrderPrice" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedOrderPrice" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="OutstandingValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedOutstandingValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="StockCodeTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ReceivedQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ReceivedQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedOutstandingQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OutstandingQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OutstandingQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedReceivedQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="OutstandingValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedOutstandingValue" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SupplierTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Total" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotal" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CompanyTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="HashQtyReceived" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedHashQtyReceived" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQtyOutstanding" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedHashQtyOutstanding" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCompanyTotal" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
