Schemas7/PORQRUOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the List of Requisition Users Query Business Object
-->
<xsd:schema id="Query" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncludeAddRequisitions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeAddDetailInfo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeChangeDetailInfo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeApproveReq" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCreatePo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReqApprovalLevel" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="UserItem" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="UserCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AuthorityLevel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaxLineValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AuthWarehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextUser" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SoReviewFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaintainReqnFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Email" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CanAddReqn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CanAddReqnDetails" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CanChgReqnDetails" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CanApproveReqn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CanCreateOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaxApproveValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OnHoldFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ForwardToUser" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MandatoryChkReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RequisitionGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserToRouteToForPorderCreate" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_Yes" minOccurs="0"/>
              <xsd:element name="Text_No" minOccurs="0"/>
              <xsd:element name="Text_All" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
