Schemas7/PORQOVOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Purchase Order Valuation Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PurchaseOrderValues">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PurchaseOrder">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PurchaseOrder" type="xsd:string"/>
              <xsd:element name="Currency" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="Supplier" type="xsd:string"/>
              <xsd:element name="SupplierClass" type="xsd:string"/>
              <xsd:element name="Customer" type="xsd:string"/>
              <xsd:element name="CustomerPoNumber" type="xsd:string"/>
              <xsd:element name="LocalCurrency">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="OutstandingValues">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="NetMerchValue" type="xsd:string"/>
                          <xsd:element name="NetTotal" type="xsd:string"/>
                          <xsd:element name="NetFreightValue" type="xsd:string"/>
                          <xsd:element name="NetMiscValue" type="xsd:string"/>
                          <xsd:element name="GrossMerchValue" type="xsd:string"/>
                          <xsd:element name="GrossMerchTotal" type="xsd:string"/>
                          <xsd:element name="DiscMerchValue" type="xsd:string"/>
                          <xsd:element name="DiscountTotal" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="OriginalValues">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="NetMerchValue" type="xsd:string"/>
                          <xsd:element name="NetTotal" type="xsd:string"/>
                          <xsd:element name="NetFreightValue" type="xsd:string"/>
                          <xsd:element name="NetMiscValue" type="xsd:string"/>
                          <xsd:element name="GrossMerchValue" type="xsd:string"/>
                          <xsd:element name="GrossMerchTotal" type="xsd:string"/>
                          <xsd:element name="DiscMerchValue" type="xsd:string"/>
                          <xsd:element name="DiscountTotal" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="OrderCurrency">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="OutstandingValues">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="NetMerchValue" type="xsd:string"/>
                          <xsd:element name="NetTotal" type="xsd:string"/>
                          <xsd:element name="NetFreightValue" type="xsd:string"/>
                          <xsd:element name="NetMiscValue" type="xsd:string"/>
                          <xsd:element name="GrossMerchValue" type="xsd:string"/>
                          <xsd:element name="GrossMerchTotal" type="xsd:string"/>
                          <xsd:element name="DiscMerchValue" type="xsd:string"/>
                          <xsd:element name="DiscountTotal" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="OriginalValues">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="NetMerchValue" type="xsd:string"/>
                          <xsd:element name="NetTotal" type="xsd:string"/>
                          <xsd:element name="NetFreightValue" type="xsd:string"/>
                          <xsd:element name="NetMiscValue" type="xsd:string"/>
                          <xsd:element name="GrossMerchValue" type="xsd:string"/>
                          <xsd:element name="GrossMerchTotal" type="xsd:string"/>
                          <xsd:element name="DiscMerchValue" type="xsd:string"/>
                          <xsd:element name="DiscountTotal" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="MassToReceive" type="xsd:string"/>
              <xsd:element name="MassOnOrder" type="xsd:string"/>
              <xsd:element name="VolumeToReceive" type="xsd:string"/>
              <xsd:element name="VolumeOnOrder" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
