Schemas7/PORQRY.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for Purchase Order Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="IncludeCommentLines" default="Y">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include comment lines attached to the purchase order. Input Y/N. If anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeCompletedLines" default="Y">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include completed lines attached to the purchase order. Input Y/N.  If anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeFreightLines" default="Y">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include freight lines attached to the purchase order. Input Y/N . If anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeGrns" default="Y">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include Grn's attached to the purchase order. Input Y/N. If anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeHistory" default="Y">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include history attached to the purchase order.Input Y/N. If anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeLctDetails" default="N">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include Lct record attached to the purchase order. Input Y/N. If anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeMiscellaneousLines" default="Y">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include Miscellaneous lines against the purchase order. Input Y/N . If anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeNonStockedLines" default="Y">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include non-stocked lines attached to  the purchase order. Input Y/N , if anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeRequisitionDetails" default="N">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include requisition details for the purchase order. This option will be effective if requisition module is installed. Input Y/N , if anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeRequisitionRouting" default="N">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include requisition routing details. This option will be effective if requisitions are included. Input Y/N , if anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeSalesOrders" default="N">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include sales orders details created against the purchase order.  Input Y/N , if anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeStockedLines" default="Y">
		<xsd:annotation>
			<xsd:documentation>This element gives an option to include stocked lines attached to the purchase order. Input Y/N . If anything else is entered, an error message will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeCustomForms" default="N">
		<xsd:annotation>
			<xsd:documentation>Do you wish to include fields from custom forms ? (N - No, Y - Yes,). Default is N - No.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:annotation>
			<xsd:documentation>The list of keys </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:all>
				<xsd:element ref="PurchaseOrder"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:annotation>
			<xsd:documentation>The list of options</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:all>
				<xsd:element ref="IncludeStockedLines" minOccurs="0"/>
				<xsd:element ref="IncludeNonStockedLines" minOccurs="0"/>
				<xsd:element ref="IncludeFreightLines" minOccurs="0"/>
				<xsd:element ref="IncludeMiscellaneousLines" minOccurs="0"/>
				<xsd:element ref="IncludeCommentLines" minOccurs="0"/>
				<xsd:element ref="IncludeCompletedLines" minOccurs="0"/>
				<xsd:element ref="IncludeGrns" minOccurs="0"/>
				<xsd:element ref="IncludeHistory" minOccurs="0"/>
				<xsd:element ref="IncludeLctDetails" minOccurs="0"/>
				<xsd:element ref="IncludeRequisitionDetails" minOccurs="0"/>
				<xsd:element ref="IncludeRequisitionRouting" minOccurs="0"/>
				<xsd:element ref="IncludeSalesOrders" minOccurs="0"/>
				<xsd:element ref="IncludeCustomForms" minOccurs="0"/>
				<xsd:element ref="XslStylesheet" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PurchaseOrder">
		<xsd:annotation>
			<xsd:documentation>Enter the purchase order(key) on file. If the key (purchase order) is empty or if the purchase order is not valid. - error message will show.
</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>The root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Key"/>
				<xsd:element ref="Option" minOccurs="0"/>
				<xsd:element name="Filter" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The list of filters</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="LineNo" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Allows you to filter on Line Number</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" default="A">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="S"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" type="xsd:string"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="XslStylesheet" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Enter the name of the xsd Stylesheet to use</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
