Schemas7/PORQ64OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the Purchase Order Commitment Query Business Object
-->
<xsd:schema id="PurchaseOrderCommitment" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PurchaseOrderCommitment">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportProjectionDays" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProjectionDays1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedProjectionDays1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProjectionDays2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedProjectionDays2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProjectionDays3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedProjectionDays3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProjectionDays4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedProjectionDays4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProjectionDays5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedProjectionDays5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProjectionDays6" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedProjectionDays6" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProjectionDays7" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedProjectionDays7" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrencyValues" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CurrencyValues" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConvertToLocalValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ConvertToLocalValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ForeignCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PurchaseOrderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PurchaseOrderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PurchaseOrderFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Conversion_option" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Continued" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Suppliers">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Supplier" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SupplierHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="StockCodes" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCodeDetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PurchaseOrders" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="PurchaseOrderDetail" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PastDue" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedPastDue" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Commitment1" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedCommitment1" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Commitment2" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedCommitment2" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Commitment3" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedCommitment3" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Commitment4" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedCommitment4" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Commitment5" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedCommitment5" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Commitment6" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedCommitment6" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Commitment7" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedCommitment7" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="StockCodeTotals" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="StockCodeTotalPastDue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedStockCodeTotalPastDue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeTotalCommitment1" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedStockCodeTotalCommitment1" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeTotalCommitment2" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedStockCodeTotalCommitment2" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeTotalCommitment3" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedStockCodeTotalCommitment3" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeTotalCommitment4" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedStockCodeTotalCommitment4" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeTotalCommitment5" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedStockCodeTotalCommitment5" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeTotalCommitment6" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedStockCodeTotalCommitment6" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="StockCodeTotalCommitment7" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedStockCodeTotalCommitment7" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SupplierTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SupplierTotalPastDue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSupplierTotalPastDue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierTotalCommitment1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSupplierTotalCommitment1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierTotalCommitment2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSupplierTotalCommitment2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierTotalCommitment3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSupplierTotalCommitment3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierTotalCommitment4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSupplierTotalCommitment4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierTotalCommitment5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSupplierTotalCommitment5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierTotalCommitment6" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSupplierTotalCommitment6" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierTotalCommitment7" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSupplierTotalCommitment7" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CompanyTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CompanyTotalPastDue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCompanyTotalPastDue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTotalCommitment1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCompanyTotalCommitment1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTotalCommitment2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCompanyTotalCommitment2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTotalCommitment3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCompanyTotalCommitment3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTotalCommitment4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCompanyTotalCommitment4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTotalCommitment5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCompanyTotalCommitment5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTotalCommitment6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCompanyTotalCommitment6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTotalCommitment7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCompanyTotalCommitment7" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
