Schemas7/PORQ8BOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the LCT List of Elements Business Object
-->
<xsd:schema id="LCTListofElements" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LCTListofElements">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ElementFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ElementFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ElementFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ElementFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrencyFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CurrencyFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrencyFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CurrencyFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Elements">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Element" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ElementName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ApportionmentMethod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ApportionmentCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpCostRate" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="RateDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlLedgerCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MinimumCharge" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_MinimumCharge" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FixedCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_FixedCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Flag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_Flag" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_All" minOccurs="0"/>
              <xsd:element name="Text_Range" minOccurs="0"/>
              <xsd:element name="Text_Single" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
