Schemas7/PORQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for Purchase Order Query Business Object XML out
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PorDetail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SupplierClass" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CustomerPoNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SupplierAddr1" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SupplierAddr2" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SupplierAddr3" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SupplierAddr3Locality" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SupplierAddr4" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SupplierAddr5" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SupPostalCode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
        <xsd:element name="LocalSupplier" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeliveryName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeliveryAddr1" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeliveryAddr2" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeliveryAddr3" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeliveryAddr3Locality" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeliveryAddr4" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeliveryAddr5" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeliveryGpsLat" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeliveryGpsLong" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeliveryTerms" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ShippingLocation" type="xsd:string" minOccurs="0"/>
        <xsd:element name="OrderStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element name="OrderStatusDescription" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ExchangeRateFixedFlag" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PoExchangeRate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="BlanketPoContract" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ApInvoiceTerms" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ApInvoiceTermsDescription" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CompletedDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
        <xsd:element name="WarehouseDesc" minOccurs="0"/>
        <xsd:element name="OrderEntryDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="OrderDueDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="MemoDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="MemoCode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PaymentTerms" type="xsd:string" minOccurs="0"/>
        <xsd:element name="TaxStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ShippingInstrs" type="xsd:string" minOccurs="0"/>
        <xsd:element name="OrderDiscount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AmendedCount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DocumentFormat" type="xsd:string" minOccurs="0"/>
        <xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PurchaseOrderLine" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CommentLine" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PurchaseOrderLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineTypeDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NComment" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NCommentFromLin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FreightFLoc" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Merchandise" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineTypeDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockDes" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TraceableType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Mass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Volume" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReceiptIntoFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MWarehouseDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MOutstandingQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MOrderQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MReceivedQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MOrderUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MCompleteFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MJob" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscPct1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscPct2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscPct3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscValFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MForeignPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ForeignOrderValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MPriceUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MLatestDueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MSupCatalogue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MProductClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MProductClassDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockingUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDecimalsToPrt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MConvFactPrcUm" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MMulDivPrc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MTaxCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MTaxCodeDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MConvFactOrdUm" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MMulDivAlloc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MGlCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MGlCodeDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MOrigDueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MLctConfirmed" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MSubcontractOp" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MVersion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MRelease" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapexCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetCapexLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastReceipt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Ledger" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RequisitionLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RequisitionNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RequisitionUser" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Reschedule" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Rev" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SelectionCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MInspectionReqd" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InspectedReceived" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitVolume" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockAndAltUm" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SelectionType" type="xsd:string" minOccurs="0"/>
                    <xsd:sequence minOccurs="0">
                      <xsd:element name="LctDetail" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="Vessel" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="VesselName" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="DepartureDate" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="EstArrivalDate" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="ShipmentReference" type="xsd:string" minOccurs="0"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                    <xsd:element name="DefaultCostingMethod" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Default costing method for receipting</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DefaultPrice" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Default price for receipting</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DefaultPrum" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Default pricing unit of measure for receipting</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CostingMethodsAvailable" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Costing methods available for receipting</xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ManualMethodCode" minOccurs="0"/>
                          <xsd:element name="ManualMethodDesc" minOccurs="0"/>
                          <xsd:element name="ManualMethodPrice" minOccurs="0"/>
                          <xsd:element name="ManualMethodCostingPrum" minOccurs="0"/>
                          <xsd:element name="CurrentCostMethodCode" minOccurs="0"/>
                          <xsd:element name="CurrentCostMethodDescription" minOccurs="0"/>
                          <xsd:element name="CurrentCostMethodPrice" minOccurs="0"/>
                          <xsd:element name="CurrentCostCostingPrum" minOccurs="0"/>
                          <xsd:element name="TotalCostMethodCode" minOccurs="0"/>
                          <xsd:element name="TotalCostMethodDesc" minOccurs="0"/>
                          <xsd:element name="TotalCostMethodPrice" minOccurs="0"/>
                          <xsd:element name="TotalCostCostingPrum" minOccurs="0"/>
                          <xsd:element name="PurchasePriceMethodCode" minOccurs="0"/>
                          <xsd:element name="PurchasePriceMethodDesc" minOccurs="0"/>
                          <xsd:element name="PurchasePriceMethodPrice" minOccurs="0"/>
                          <xsd:element name="PurchasePriceCostinPrum" minOccurs="0"/>
                          <xsd:element name="PriceAtEntryMethodCode" minOccurs="0"/>
                          <xsd:element name="PriceAtEntryMethodDesc" minOccurs="0"/>
                          <xsd:element name="PriceAtEntryMethodPrice" minOccurs="0"/>
                          <xsd:element name="PriceAtEntryCostingPrum" minOccurs="0"/>
                          <xsd:element name="PriceTaxMethodCode" minOccurs="0"/>
                          <xsd:element name="PriceTaxMethodDesc" minOccurs="0"/>
                          <xsd:element name="PriceTaxMethodPrice" minOccurs="0"/>
                          <xsd:element name="PriceTaxCostingPrum" minOccurs="0"/>
                          <xsd:element name="CurrentPriceMethodCode" minOccurs="0"/>
                          <xsd:element name="CurrentPriceMethodDesc" minOccurs="0"/>
                          <xsd:element name="CurrentPriceMethodPrice" minOccurs="0"/>
                          <xsd:element name="CurrentPriceCostingPrum" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string"/>
      <xsd:attribute name="Language2" type="xsd:string"/>
      <xsd:attribute name="CssStyle" type="xsd:string"/>
      <xsd:attribute name="DecFormat" type="xsd:string"/>
      <xsd:attribute name="DateFormat" type="xsd:string"/>
      <xsd:attribute name="Role" type="xsd:string"/>
      <xsd:attribute name="Version" type="xsd:string"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
