Schemas7/PORQ70OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Supplier Performance Query Business Object
-->
<xsd:schema id="SupplierPerformanceReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SupplierPerformanceReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExcludeItemWithNoReceiptTransactions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ExclItemWithNoReceiptTrans" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeScrapRejectedNarrations" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_InclScrapRejectedNarr" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LastReceiptDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LastReceiptDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_LastReceiptDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DetailTransactionReceiptDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DetailTransactionReceiptDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DetailTranReceiptDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScrapRejectDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScrapRejectDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ScrapRejectDateFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SupplierItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SupplierItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OnHold" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_OnHold" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockCodeItems" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCodeItem" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SupCatalogueNum" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LeadTime" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Edited_LeadTime" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DemoLeadTime" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Edited_DemoLeadTime" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastPricePaid" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_LastPricePaid" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastPrcUom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastReceiptDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StockCodeDetails" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Grn" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PoDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="QtyReceived" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_QtyReceived" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OrigLineDueDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DocumentNum" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ScrapRejectDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ScrapRejectQty" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_ScrapRejectQty" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DateReceived" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OrigPurchPrcFor" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_OrigPurchPrcFor" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="OrigPurchPrice" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_OrigPurchPrice" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PriceUom" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PriceReceived" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_PriceReceived" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Variance" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="Edited_Variance" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Age" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="RejectCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ScrapRejectFlag" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ScrapRejectDesc" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Translated_ScrapRejectDesc" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Narration" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
