Schemas7/PORQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Purchase Order Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PurchaseOrderOptions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DefPriceMethodPo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseAltUomPOQty" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowMntCompPo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseAltDocPrice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RetainPoHdrWithoutLines" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclPONmCostInLastCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShipInstrDefMsg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LiableForScrap" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Options">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InsertPOAddText" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InsertDangerGdsTextInPO" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SetPoStatusAfterMaint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PlusLessReqPo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RestrictOrdToSingleWh" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowMntDelAddr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowMntExchRate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValidateBuyerPoCreated" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ManPoWhenBpoExists" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefaultTaxStatus" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="History">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MaintHistOfReceipts" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowIncomplShipArchive" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowAutoRemCompLines" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DelHistRecOrderPurge" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MaxRecToRetain" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetMatchedGrn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DaysRetCompPo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DaysRetReqLines" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DaysRetCompShipArch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DaysRetArchShip" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DaysRetGrnJnl" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DaysRetGrnPrVar" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DaysRetCompBpoContr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HistRetExprInMonths" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GRN">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GrnSuspReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrnNumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoGrnForPoLine" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoGrnForPoLineRecAll" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoGrnForShipment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CheckDuplGrnNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowNegRecGrnMatched" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Details">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DefFreightChgCurr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefMiscChgCurr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclFreightMiscInXml" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DaysEarlyLateSupply" type="xsd:string" minOccurs="0"/>
							<xsd:element name="QtyOverUnderPerc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AcceptCostPercVarExpCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AcceptCostPercVarWhCost" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Requisition">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReqNumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SendConfOfRecToOrig" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UpdCapexPoMaint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CheckMaxValueAtLevel" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CheckMaxValueAtTime" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MinCapexReqLnValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MinReqLnValueForRouting" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MandUserCode1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MandUserCode2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MandUserCode3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MandUserCode4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StoresRequisitions" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NarrNotMandatory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecordApprovals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApprovalLevelChecking" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RequisitionBudgetsReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RequisitionBudgetsLevel" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RequisitionBudgetsTerms" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="LCT">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AutoPromptBillNsLines" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclOtherCostsInLandedCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoPromptExchRate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseFixedExchRate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowZeroPriceLines" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclLandedCostInLastCost" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConvertQtyToStockedUom" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UpdatePoDueDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoSetSoRecQtyEqual" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoSetSoRecQtyLess" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AutoSetSoRecQtyGreater" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Numbering">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PONumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextPONum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextGrnNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextReqNum" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CurrentMonth">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PoCurrentYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PoCurrentMonth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AccPeriodsPerYear" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
