Schemas7/PORQ91OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!--  
     This is an example XML instance to demonstrate
     use of the Supplier Requisition List Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="RequisitionListReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RequisitionListReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PriceDetailsRequired" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PriceDetailsRequired" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintSupplierName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintSupplierName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SuppliersOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SuppliersOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeLineDetail" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeLineDetail" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeRoutingDetails" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeRoutingDetails" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeOperator" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeOperator" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNarrations" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNarrations" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeExceptionMessages" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeExceptionMessages" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ListOnlyNewRequisitions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ListOnlyNewRequisitions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNormalRequisitions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNormalRequisitions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeApprovedRequisitions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeApprovedRequisitions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCancelledRequisitions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeCancelledRequisitions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludePurchaseOrderCreatedRequisitions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludePurchaseOrderCreatedRequisitions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OriginatorFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OriginatorFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OriginatorFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HolderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_HolderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HolderFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CapexFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RequisitionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RequisitionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RequisitionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EntryDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_EntryDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EntryDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DueDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DueDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DueDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Continued" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Requisitions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RequisitionItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RequisitionDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Requisition" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RequisitionCount" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReqnStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReqnStatusDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReqnOnHoldFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReceiptFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Originator" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OriginatorName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CurrentHolder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CurrentHolderName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SequenceCount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReasonForReqn" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_IncludeInMrp" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateReqnRaised" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierOnHold" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_SupplierOnHold" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupCatalogueNum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Price" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DiscPct1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedDiscPct1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DiscPct2" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedDiscPct2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DiscPct3" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedDiscPct3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CurTaxRate" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedCurTaxRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NetValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedNetValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GENMST_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ARSMST_Name" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerPoNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexNum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SALPDS_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ConfirmedPoNum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ConfirmedPoLine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="HierHead" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Section1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Section2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Section3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Section4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SubOperationNum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RequisitionComment" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchaseOrderComment" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ExceptionMessage" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_ExceptionMessage" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RoutingInfo" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="RouteDetails" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="FromUser" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="FromUserName" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ToUserCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ToUserName" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="RouteNarrative" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CreationDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="RoutingOperator" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="RoutingUser" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ApprovingOperator" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PriceDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ReqNum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReqLine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LeadTime" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LastPaid" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateLastReceipt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ContractDetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Contract" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="FromDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ToDate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="NetValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedNetValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PriceUom" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PriceReference" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PackSize" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="MinOrderQty" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
