Schemas7/PORQINOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Goods in Inspection Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PorInspection">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="InspectionItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WarehouseItem">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Warehouse" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="StockCodeItem" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string"/>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="LongDesc" type="xsd:string"/>
                          <xsd:element name="StockUom" type="xsd:string"/>
                          <xsd:element name="SupCatalogueNum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GrnItem" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Grn" type="xsd:string"/>
                                <xsd:element name="GrnReceiptDate" type="xsd:string"/>
                                <xsd:element name="Supplier" type="xsd:string"/>
                                <xsd:element name="SupplierName" type="xsd:string"/>
                                <xsd:element name="Contact" type="xsd:string"/>
                                <xsd:element name="Telephone" type="xsd:string"/>
                                <xsd:element name="Fax" type="xsd:string"/>
                                <xsd:element name="OnHold" type="xsd:string"/>
                                <xsd:element name="PurchaseOrder" type="xsd:string"/>
                                <xsd:element name="PurchaseOrderLin" type="xsd:string"/>
                                <xsd:element name="SupDelNote" type="xsd:string"/>
                                <xsd:element name="Certificate" type="xsd:string"/>
                                <xsd:element name="Version" type="xsd:string"/>
                                <xsd:element name="Release" type="xsd:string"/>
                                <xsd:element name="Job" type="xsd:string"/>
                                <xsd:element name="InspNarration" type="xsd:string"/>
                                <xsd:element name="LctFlag" type="xsd:string"/>
                                <xsd:element name="Lot" type="xsd:string"/>
                                <xsd:element name="ExpiryDate" type="xsd:string"/>
                                <xsd:element name="QtyOnSite" type="xsd:string"/>
                                <xsd:element name="QtyOffSite" type="xsd:string"/>
                                <xsd:element name="CommittedValue" type="xsd:string"/>
                                <xsd:element name="QtyAdvised" type="xsd:string"/>
                                <xsd:element name="QtyInspected" type="xsd:string"/>
                                <xsd:element name="QtyCounted" type="xsd:string"/>
                                <xsd:element name="CountCompleted" type="xsd:string"/>
                                <xsd:element name="InspectionCompleted" type="xsd:string"/>
                                <xsd:element name="QtyAccepted" type="xsd:string"/>
                                <xsd:element name="QtyScrapped" type="xsd:string"/>
                                <xsd:element name="QtyRejected" type="xsd:string"/>
                                <xsd:element name="PoPrice" type="xsd:string"/>
                                <xsd:element name="PriceFactor" type="xsd:string"/>
                                <xsd:element name="PriceUom" type="xsd:string"/>
                                <xsd:element name="ConvFactPriceUom" type="xsd:string"/>
                                <xsd:element name="OrderFactor" type="xsd:string"/>
                                <xsd:element name="OrderUom" type="xsd:string"/>
                                <xsd:element name="ConvFactOrdUom" type="xsd:string"/>
                                <xsd:element name="DiscLPct1" type="xsd:string"/>
                                <xsd:element name="DiscLPct2" type="xsd:string"/>
                                <xsd:element name="DiscLPct3" type="xsd:string"/>
                                <xsd:element name="DiscLValFlag" type="xsd:string"/>
                                <xsd:element name="DiscLValue" type="xsd:string"/>
                                <xsd:element name="TransactionDetail" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="TrnType" type="xsd:string"/>
                                      <xsd:element name="TrnQty" type="xsd:string"/>
                                      <xsd:element name="DocumentNum" type="xsd:string"/>
                                      <xsd:element name="ConcessionNum" type="xsd:string"/>
                                      <xsd:element name="ReturnSupFlag" type="xsd:string"/>
                                      <xsd:element name="ReturnSupplier" type="xsd:string"/>
                                      <xsd:element name="RejectScrapCode" type="xsd:string"/>
                                      <xsd:element name="RejectNarration" type="xsd:string"/>
                                      <xsd:element name="ScrapGLCode" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="SerialItem" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Serial" type="xsd:string"/>
                                      <xsd:element name="Status" type="xsd:string"/>
                                      <xsd:element name="Quantity" type="xsd:string"/>
                                      <xsd:element name="Version" type="xsd:string"/>
                                      <xsd:element name="Release" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
