Schemas7/PORRPL.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--
     Schema for the Build Purchase Order Line Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="Build">
		<xsd:annotation>
			<xsd:documentation>This is the root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Parameters">
					<xsd:annotation>
						<xsd:documentation>This is the parent element</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PurchaseOrder">
								<xsd:annotation>
									<xsd:documentation>The purchase order number that the build must use to extract the required data</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="PurchaseOrderLine">
								<xsd:annotation>
									<xsd:documentation>The purchase line within the purchase order that the build must use to extract the requited data.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ReceiptQuantity" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>If you want a quantity in the stocking unit of measure provide this element with a quantity that you want calculated.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
