Schemas7/PORSCODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!--
     Schema for the LCT Element Maintenance Setup Business Object 
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Description" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Element Description. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Comment1"/>
        <xsd:element ref="Comment2" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Supplier"/>
        <xsd:element ref="CommentCode"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Supplier" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element ndicates the supplier code for which you are currently maintaining comment codes. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Comment2" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element indicates the text that you want to link to the second line of the comment code. It is optional. 50 characters accepted</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Comment1" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element indicates the text that you want to link to the first line of the comment code. It is mandatory. 50 characters accepted</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupPOSupplierComment">
    <xsd:annotation>
      <xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CommentCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element indicates the comment code to which you are assigning the text. It is mandatory. 10 characters accepted</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
