Schemas7/PORSCPDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2015 SYSPRO Ltd.--><!--     Schema for the PO Standard Comments Maintenance Setup Business Object --><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="Comment" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Comment. It is mandatory.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="Item">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Key"/>				<xsd:element ref="Comment"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="Key">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="CommentCode"/>				<xsd:element ref="Line"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="SetupCommentCode">		<xsd:annotation>			<xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Item"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="CommentCode" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Comment Code. It is part of the key. It is mandatory.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="Line" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Line Number. It is part of the key. It is mandatory. It currently can only be value '1'.</xsd:documentation>		</xsd:annotation>	</xsd:element></xsd:schema>