Schemas7/PORSL0DOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!--
     Schema for the LCT Calculation Code Maintenance Setup Business Object 
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Description" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Calculation Code Description. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Description"/>
        <xsd:element ref="Field11" minOccurs="0"/>
        <xsd:element ref="Field12" minOccurs="0"/>
        <xsd:element ref="Field13" minOccurs="0"/>
        <xsd:element ref="Field14" minOccurs="0"/>
        <xsd:element ref="Field15" minOccurs="0"/>
        <xsd:element ref="Operand11" minOccurs="0"/>
        <xsd:element ref="Operand12" minOccurs="0"/>
        <xsd:element ref="Operand13" minOccurs="0"/>
        <xsd:element ref="Operand14" minOccurs="0"/>
        <xsd:element ref="Operand15" minOccurs="0"/>
        <xsd:element ref="Field21" minOccurs="0"/>
        <xsd:element ref="Field22" minOccurs="0"/>
        <xsd:element ref="Field23" minOccurs="0"/>
        <xsd:element ref="Field24" minOccurs="0"/>
        <xsd:element ref="Field25" minOccurs="0"/>
        <xsd:element ref="Operand21" minOccurs="0"/>
        <xsd:element ref="Operand22" minOccurs="0"/>
        <xsd:element ref="Operand23" minOccurs="0"/>
        <xsd:element ref="Operand24" minOccurs="0"/>
        <xsd:element ref="Operand25" minOccurs="0"/>
        <xsd:element ref="Field31" minOccurs="0"/>
        <xsd:element ref="Field32" minOccurs="0"/>
        <xsd:element ref="Field33" minOccurs="0"/>
        <xsd:element ref="Field34" minOccurs="0"/>
        <xsd:element ref="Field35" minOccurs="0"/>
        <xsd:element ref="Operand31" minOccurs="0"/>
        <xsd:element ref="Operand32" minOccurs="0"/>
        <xsd:element ref="Operand33" minOccurs="0"/>
        <xsd:element ref="Operand34" minOccurs="0"/>
        <xsd:element ref="Operand35" minOccurs="0"/>
        <xsd:element ref="Field41" minOccurs="0"/>
        <xsd:element ref="Field42" minOccurs="0"/>
        <xsd:element ref="Field43" minOccurs="0"/>
        <xsd:element ref="Field44" minOccurs="0"/>
        <xsd:element ref="Field45" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CalcCode"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Field11" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 1st Field of the 1st calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field12" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 2nd Field of the 1st calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field13" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 3rd Field of the 1st calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field14" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 4th Field of the 1st calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field15" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 5th Field of the 1st calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand11" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 1st operand of the 1st calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand12" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 2nd operand of the 1st calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand13" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 3rd operand of the 1st calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand14" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 4th operand of the 1st calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand15" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 5th operand of the 1st calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field21" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 1st Field of the 2nd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field22" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 2nd Field of the 2nd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field23" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 3rd Field of the 2nd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field24" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 4th Field of the 2nd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field25" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 5th Field of the 2nd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand21" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 1st operand of the 2nd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand22" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 2nd operand of the 2nd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand23" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 3rd operand of the 2nd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand24" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 4th operand of the 2nd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand25" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 5th operand of the 2nd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field31" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 1st Field of the 3rd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field32" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 2nd Field of the 3rd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field33" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 3rd Field of the 3rd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field34" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 4th Field of the 3rd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field35" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 5th Field of the 3rd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand31" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 1st operand of the 3rd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand32" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 2nd operand of the 3rd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand33" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 3rd operand of the 3rd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand34" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 4th operand of the 3rd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Operand35" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 5th operand of the 3rd calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field41" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 1st Field of the 4th calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field42" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 2nd Field of the 4th calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field43" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 3rd Field of the 4th calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field44" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 4th Field of the 4th calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Field45" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the 5th Field of the 4th calculation. It is optional.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupLctCalculationCode">
    <xsd:annotation>
      <xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CalcCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Calculation Code. It is part of the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
