Schemas7/PORSSCDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2015 SYSPRO Ltd.--><!--     Schema for the PO Stock Code Comments Maintenance Setup Business Object --><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="Comment1" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the First Comment. it is optional.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="Comment2" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Second Comment. it is optional.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="Item">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Key"/>				<xsd:element ref="Comment1" minOccurs="0"/>				<xsd:element ref="Comment2" minOccurs="0"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="Key">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="StockCode"/>				<xsd:element ref="CommentCode"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="SetupStockCodeComment">		<xsd:annotation>			<xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Item"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="StockCode" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Stock Code. It is part of the key. It is mandatory.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="CommentCode" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Comment Code. It is part of the key. It is mandatory.</xsd:documentation>		</xsd:annotation>	</xsd:element></xsd:schema>