Schemas7/PORSM2DOC.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2015 SYSPRO Ltd.--><!--     Schema for the Requisition Capex Maintenance Setup Business Object --><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="CapexDescription" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Capex Number Description. It is optional.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="AuthorisingUser" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Authorising user. It is optional.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="Item">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Key"/>				<xsd:element ref="CapexDescription" minOccurs="0"/>				<xsd:element ref="AuthorisingUser" minOccurs="0"/>				<xsd:element ref="MaxValue" minOccurs="0"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="Key">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="CapexNum"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="MaxValue" type="xsd:double">		<xsd:annotation>			<xsd:documentation>This element contains information about the maximum value of the capex. It is optional.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="SetupRequisitionCapex">		<xsd:annotation>			<xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Item"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="CapexNum" type="xsd:string">		<xsd:annotation>			<xsd:documentation>This element contains information about the Capex Number. It is the key. It is mandatory.</xsd:documentation>		</xsd:annotation>	</xsd:element></xsd:schema>