Schemas7/PORTGRDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--
     Schema for PO Post GRN details Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DebitLedgerCode">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory and must contain a valid ledger code if integrated to General Ledger in detail or summary.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DebitLedgerPassword">
    <xsd:annotation>
      <xsd:documentation>This element is optional and must contain the password for the debit ledger code if that code is password-secured.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="GrnNumber">
    <xsd:annotation>
      <xsd:documentation>The GrnNumber element is mandatory if the 'AlwaysSupplyGrnNumbers' parameter is Y, or if GRN numbering is manual.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="GrnValue">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory and contains the value to be posted for the supplier specified.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This is the top element for all data required for the transaction</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:all>
        <xsd:element name="GrnNumber" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>The GrnNumber element is mandatory if the 'AlwaysSupplyGrnNumbers' parameter is Y, or GRN numbering is manual.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Supplier">
          <xsd:annotation>
            <xsd:documentation>This element is mandatory and must contain the supplier code to where the GrnValue will be posted.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="StockCode" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element is mandatory if posting GRN details for a purchase order receipt. If posting non-merchandise costs, this element is not required.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="StockDescription" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element contains the stock description to be saved for this GRN, if a stocked item is supplied. It will not change the stock description of the stock code. This element is optional.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Warehouse" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element contains a valid warehouse. If not supplied, the stock code supplied will be treated as a non-stocked item.
If posting non-merchandise costs, this element is not required.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="GrnValue">
          <xsd:annotation>
            <xsd:documentation>This element is mandatory and contains the value to be posted for the supplier specified.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="SupplierDeliveryNote" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element is optional and contains the supplier's delivery note.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="DebitLedgerCode">
          <xsd:annotation>
            <xsd:documentation>This element is mandatory and must contain a valid ledger code if integrated to General Ledger in detail or summary.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="DebitLedgerPassword" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element is optional and must contain the password for the debit ledger code if that code is password-secured.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="NmDescription" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element is mandatory if posting non-merchandise costs and contains the description posted against the GRN created.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="Reference" minOccurs="0"/>
        <xsd:element ref="WithholdingTaxExpenseType" minOccurs="0"/>
        <xsd:element ref="AnalysisEntry" minOccurs="0"/>
        <xsd:element name="AnalysisLineEntry" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>If IgnoreAnalysis is set to 'Y" this node and all it's elements are ignored. If you are suuplying your own AnalysisEntry Number ensure that you have set IgnoreAnalysis to "Y"</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AnalysisCode1" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an analysis code 1 for the analysis entry you are createing </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode2" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 2 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode3" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an analysis code 3 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode4" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 4 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode5" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 5 for the analysis entry you are createing</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="StartDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify a start date for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EndDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an end date for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EntryAmount" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You must specify and entry amount for the analysis entry you are creating. The entry amount entered here must be exclusive of tax.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Comment" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can enter a comment for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PurchaseOrder" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Purchase order can be entered for negative grn's to relate back to associated purchse order.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="PurchaseOrderLine" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Purchase order line can be entered for negative grn's to relate back to associated purchse order line. </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="eSignature" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>If required, this element must contain a GUID, for the eSignature system to accept the transaction as having been authenticated. The GUID format is in the format {36303032-3330-3031-3038-323434363433}, where the numbers can be replaced with any character. It is up to the developer to have requested a password to protect the transaction. An example is that a GUID associated with the act of entering a valid password could be obtained and presented.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PostGrnDetails">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Item" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if posting GRN details for a purchase order receipt. If posting non-merchandise costs, this element is not required.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockDescription">
    <xsd:annotation>
      <xsd:documentation>This element contains the stock description to be saved for this GRN, if a stocked item is supplied. It will not change the stock description of the stock code. This element is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Supplier">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory and must contain the supplier code to where the GrnValue will be posted.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupplierDeliveryNote">
    <xsd:annotation>
      <xsd:documentation>This element is optional and contains the supplier's delivery note.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:annotation>
      <xsd:documentation>This element contains a valid warehouse. If not supplied, the stock code supplied will be treated as a non-stocked item.
If posting non-merchandise costs, this element is not required.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NmDescription">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if posting non-merchandise costs and contains the description posted against the GRN created.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Reference">
    <xsd:annotation>
      <xsd:documentation>This element is optional and contains the GIT reference if called from the GIT Receipt with Apportionment program. It will be printed on the GRN Adjustment Journal.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="WithholdingTaxExpenseType">
    <xsd:annotation>
      <xsd:documentation>Only applies if withholding tax is in use. Expense type G = Goods, S = Service</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AnalysisEntry">
    <xsd:annotation>
      <xsd:documentation>If an analysis entry number has been assigned to this detail line, then use this element to store the analysis entry number. If Analysis Line entry is passed then that will overwrite and analysis number supplied in the AnalysisEntry element. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
