Schemas7/PORTSC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the PO Supplier Contract Posting Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="PostSupplierContract">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Parameters">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IgnoreWarnings" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates whether or not a transaction must be rejected if there are any warnings, such as a stock code on partial hold. If 'W' supplied, these errors will be reported as warnings. If it is not supplied, it defaults to 'N'. Valid values are 'N', 'W' and 'Y'.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ApplyIfEntireDocumentValid" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates whether to process entire document only if all items are valid. If set to 'N', each item is validated and rejected if in error or processed if correct. This is the fastest option. If set to 'Y', all items are validated and only processed if entire document is valid. Default is 'N'. Valid values are 'Y' and 'N'.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ValidateOnly" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates which processing phases are to be performed. If set to 'Y' all items are validated and an XML string is returned with the result of the validation. No updating will take place. If set to 'N', each item is validated and updating is performed based on setting of the element 'ApplyIfEntireDocumentValid'. Default is 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="UseSupplierStockCode" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates if you want to import supplier/stock code cross references using the supplier’s stock code (or catalogue number) instead of the SYSPRO stock code.   
If you select a Y for this option then you must ensure that the stock code listed in the import file contains the supplier’s stock code or catalogue number.
 
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
