Schemas7/PORTTRDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the Requisition transfer Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostRequisitionTransfer">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:annotation>
            <xsd:documentation>This is the top element for all data required for the transaction.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="User" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Requisition User authorised to transfer</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="UserPassword" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Requisition User password authorised to transfer (if required)</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="eSignature" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Password for e-signature</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="RequisitionTransfer" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>Transfer information</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Requisition">
                      <xsd:annotation>
                        <xsd:documentation>Requisition to be transferred</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RequisitionLine">
                      <xsd:annotation>
                        <xsd:documentation>Requisition line to be transferred</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SalesOrder" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Sales order for manual sales order numbering</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="StoresWarehouse" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Stores warehouse if not entered</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
