Schemas7/PORTORDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the Purchase Order Receipts Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ApplyCostMultiplier" default="N">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether or not a cost multiplier must be applied to the cost of the receipt. If not supplied it defaults to 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BinLocation">
    <xsd:annotation>
      <xsd:documentation>This element contains the bin location of the stock being received.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BinPieces">
    <xsd:annotation>
      <xsd:documentation>If the stock item is a unit-qty type stock item and bin quantity element is not supplied, the bin quantity must be supplied as units and pieces. At least one of these elements must be supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BinQuantity">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if stock item is not a unit-qty type stock item. If it is and this element is supplied, the units and pieces elements must NOT be supplied. The total bin quantity must match the quantity specified for the transaction and must be entered in the stocking unit of measure.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BinUnits">
    <xsd:annotation>
      <xsd:documentation>If the stock item is a unit-qty type stock item and bin quantity element is not supplied, the bin quantity must be supplied as units and pieces. At least one of these elements must be supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Bins">
    <xsd:annotation>
      <xsd:documentation>This is the top element for the set of bins affected by this transaction. Mandatory if multiple bins are installed.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="BinLocation"/>
        <xsd:element ref="BinQuantity" minOccurs="0"/>
        <xsd:element ref="BinUnits" minOccurs="0"/>
        <xsd:element ref="BinPieces" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Certificate">
    <xsd:annotation>
      <xsd:documentation>This element is optional and contains the certificate number.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ChangeSalesOrderStatus" default="N">
    <xsd:annotation>
      <xsd:documentation>This element is optional. If the Purchase Order is linked to a Sales Order, this element can be set to 'Y' if the Sales Order status needs to be changed from '2' (in backorder) to '3' (released backorder). If credit checking is required for the customer and it fails, the sales order may go into 'S' (suspense). Valid values are 'N' and 'Y'. Default is 'N'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Concession">
    <xsd:annotation>
      <xsd:documentation>This element is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CostBasis">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory and must specify which cost to use for the Purchase Order receipt. Valid values are:
C - Current warehouse cost
T - Total cost entered manually
M - Unit cost entered manually
P - Purchase price
X - Purchase price plus tax for a local supplier, Current Price for a foreign supplier</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CostMultiplier">
    <xsd:annotation>
      <xsd:documentation>This element contains the cost multiplier to be applied to the cost of the receipt and only takes effect if 'ApplyCostMultiplier' is set to 'Y' and the cost multiplier against the warehouse is greater than 1.00. If this is not supplied, the warehouse cost multiplier is used.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CountedQuantityComplete" default="N">
    <xsd:annotation>
      <xsd:documentation>This element is optional and indicates whether the quantity has been counted or not. Valid values are 'N' and 'Y'. Default is 'N'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CountryOfOrigin">
    <xsd:annotation>
      <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DebitLedgerCode">
    <xsd:annotation>
      <xsd:documentation>Only required if receiving a non-stocked item. If supplied overwrites the default ledger code specified in SYSPRO.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DeliveryDate">
    <xsd:annotation>
      <xsd:documentation>This element is optional and contains the delivery date of the receipt. Format must be CCYY-MM-DD. If not supplied it defaults to rundate.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DeliveryNote">
    <xsd:annotation>
      <xsd:documentation>This element is optional and contains the supplier's delivery note.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DeliveryTerms">
    <xsd:annotation>
      <xsd:documentation>This element is optional. It is only required if EC VAT system is required and the nationality of the supplier is a member of the EU..</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ShippingLocation">
    <xsd:annotation>
      <xsd:documentation>This element is optional. It is only required if EC VAT system is required and the nationality of the supplier is a member of the EU..</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="eSignature">
    <xsd:annotation>
      <xsd:documentation>If required, this element must contain a GUID, for the eSignature system to accept the transaction as having been authenticated. The GUID format is in the format {36303032-3330-3031-3038-323434363433}, where the numbers can be replaced with any character. It is up to the developer to have requested a password to protect the transaction. An example is that a GUID associated with the act of entering a valid password could be obtained and presented.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="GRNNumber">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if GRN matching is required and must contain a new GRN number, when processing a normal receipt or a receipt into inspection and GRN number is not automatic.
This element is always mandatory when processing a receipt into stock FROM inspection.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="GRNSource">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if GRN matching is switched on. Valid values are 1 to 5.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="2"/>
        <xsd:enumeration value="3"/>
        <xsd:enumeration value="4"/>
        <xsd:enumeration value="5"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncreaseSalesOrderQuantity" default="N">
    <xsd:annotation>
      <xsd:documentation>This element is optional. If the Purchase Order is linked to a Sales Order and the receipt quantity is greater than the order quantity, the order quantity will be increased to the receipt quantity, if this element is set to 'Y'. Valid values are 'N' and 'Y'. Default is 'N'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This is the top element for all data required for the transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Receipt" minOccurs="0"/>
        <xsd:element ref="ReceiptIntoInspection" minOccurs="0"/>
        <xsd:element ref="ReceiptFromInspection" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Journal">
    <xsd:annotation>
      <xsd:documentation>This is the journal number to which the transaction journal entries generated will be added. It must be valid for the specified posting period and warehouse and may not have been printed already. If not supplied, a new journal will be created.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LedgerCode">
    <xsd:annotation>
      <xsd:documentation>This element is optional. If supplied, it will overwrite the default ledger code defined in General Ledger Integration.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Lot">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if receiving a traceable item.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LotExpiryDate">
    <xsd:annotation>
      <xsd:documentation>This element is optional and contains the expiry date of the lot supplied, if processing a traceable item. Format must be CCYY-MM-DD.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ModeOfTransport">
    <xsd:annotation>
      <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Narration">
    <xsd:annotation>
      <xsd:documentation>This element is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NatureOfTransaction">
    <xsd:annotation>
      <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NmAmount">
    <xsd:annotation>
      <xsd:documentation>This element contains the non-merchandise amount to be posted to the corresponding ledger code. The total 'NmAmount' distributed must match the non-merchandise cost (either supplied or calculated).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NmLedgerCode">
    <xsd:annotation>
      <xsd:documentation>This element contains the ledger code to which the non-merchandise amount must be posted.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NmReference">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NmSupplier">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if GRN matching is switched on.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NonMerchandiseCost">
    <xsd:annotation>
      <xsd:documentation>This element contains a non merchandise cost to be applied and overrides the cost multiplier, if supplied. This only takes effect if 'ApplyCostMultiplier' is set to 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NonMerchandiseDistribution">
    <xsd:annotation>
      <xsd:documentation>This is the top element for the non-merchandise distribution.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="NmReference"/>
        <xsd:element ref="NmLedgerCode"/>
        <xsd:element ref="NmSupplier" minOccurs="0"/>
        <xsd:element ref="NmAmount"/>
        <xsd:element name="NmAnalysisEntry" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>If an analysis entry number has been assigned to this detail line, then use this element to store the analysis entry number. If Analysis Line entry is passed then that will overwrite and analysis number supplied in the AnalysisEntry element. </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="NmAnalysisLineEntry" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>If IgnoreAnalysis is set to 'Y" this node and all it's elements are ignored. If you are supplying your own AnalysisEntry Number ensure that you have set IgnoreAnalysis to "Y"</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AnalysisCode1" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an analysis code 1 for the analysis entry you are createing </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode2" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 2 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode3" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an analysis code 3 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode4" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 4 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode5" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 5 for the analysis entry you are createing</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="StartDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify a start date for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EndDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an end date for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EntryAmount" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You must specify and entry amount for the analysis entry you are creating.If the entry amount supplied does not agree with the calculated transaction value at runtime, the entry amount will be overwritten with the transaction value.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Comment" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can enter a comment for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DebitNmAnalysisEntry" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>If an analysis entry number has been assigned to this detail line, then use this element to store the analysis entry number. If Analysis Line entry is passed then that will overwrite and analysis number supplied in the AnalysisEntry element. </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DebitNmAnalysisLineEntry" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>If IgnoreAnalysis is set to 'Y" this node and all it's elements are ignored. If you are supplying your own AnalysisEntry Number ensure that you have set IgnoreAnalysis to "Y"</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AnalysisCode1" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an analysis code 1 for the analysis entry you are createing </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode2" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 2 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode3" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an analysis code 3 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode4" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 4 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode5" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 5 for the analysis entry you are createing</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="StartDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify a start date for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EndDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an end date for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EntryAmount" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You must specify and entry amount for the analysis entry you are creating.If the entry amount supplied does not agree with the calculated transaction value at runtime, the entry amount will be overwritten with the transaction value.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Comment" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can enter a comment for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Receipt">
    <xsd:annotation>
      <xsd:documentation>This is the top element for the set of data required for a normal purchase order line receipt. It can only be supplied once within each 'Item' instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Journal" minOccurs="0"/>
        <xsd:element ref="PurchaseOrder"/>
        <xsd:element ref="PurchaseOrderLine" minOccurs="0"/>
        <xsd:element ref="Warehouse" minOccurs="0"/>
        <xsd:element ref="StockCode" minOccurs="0"/>
        <xsd:element ref="Quantity" minOccurs="0"/>
        <xsd:element ref="UnitOfMeasure" minOccurs="0"/>
        <xsd:element ref="Units" minOccurs="0"/>
        <xsd:element ref="Pieces" minOccurs="0"/>
        <xsd:element ref="DeliveryNote" minOccurs="0"/>
        <xsd:element ref="Cost" minOccurs="0"/>
        <xsd:element ref="CostBasis"/>
        <xsd:element ref="SwitchOnGRNMatching" minOccurs="0"/>
        <xsd:element ref="GRNNumber" minOccurs="0"/>
        <xsd:element ref="Reference" minOccurs="0"/>
        <xsd:element ref="GRNSource" minOccurs="0"/>
        <xsd:element ref="UseSingleTypeABCElements" minOccurs="0"/>
        <xsd:element ref="Lot" minOccurs="0"/>
        <xsd:element ref="LotExpiryDate" minOccurs="0"/>
        <xsd:element ref="Certificate" minOccurs="0"/>
        <xsd:element ref="Concession" minOccurs="0"/>
        <xsd:element ref="Bins" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Serials" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="SerialRange" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="PurchaseOrderLineComplete" minOccurs="0"/>
        <xsd:element ref="IncreaseSalesOrderQuantity" minOccurs="0"/>
        <xsd:element ref="ChangeSalesOrderStatus" minOccurs="0"/>
        <xsd:element ref="ApplyCostMultiplier" minOccurs="0"/>
        <xsd:element ref="CostMultiplier" minOccurs="0"/>
        <xsd:element ref="NonMerchandiseCost" minOccurs="0"/>
        <xsd:element ref="NonMerchandiseDistribution" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Notation" minOccurs="0"/>
        <xsd:element ref="LedgerCode" minOccurs="0"/>
        <xsd:element ref="PasswordForLedgerCode" minOccurs="0"/>
        <xsd:element ref="DebitLedgerCode" minOccurs="0"/>
        <xsd:element ref="PasswordForDebitLedgerCode" minOccurs="0"/>
        <xsd:element ref="CountryOfOrigin" minOccurs="0"/>
        <xsd:element ref="DeliveryTerms" minOccurs="0"/>
        <xsd:element ref="ShippingLocation" minOccurs="0"/>
        <xsd:element ref="NatureOfTransaction" minOccurs="0"/>
        <xsd:element ref="ModeOfTransport" minOccurs="0"/>
        <xsd:element ref="TradersReference" minOccurs="0"/>
        <xsd:element ref="TariffCode" minOccurs="0"/>
        <xsd:element ref="UnitMass" minOccurs="0"/>
        <xsd:element ref="SupplementaryUnits" minOccurs="0"/>
        <xsd:element ref="SupplementaryUnitsFactor" minOccurs="0"/>
        <xsd:element name="AnalysisEntry" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>If an analysis entry number has been assigned to this detail line, then use this element to store the analysis entry number. If Analysis Line entry is passed then that will overwrite and analysis number supplied in the AnalysisEntry element. </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="AnalysisLineEntry" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>If IgnoreAnalysis is set to 'Y" this node and all it's elements are ignored. If you are supplying your own AnalysisEntry Number ensure that you have set IgnoreAnalysis to "Y"</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AnalysisCode1" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an analysis code 1 for the analysis entry you are createing </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode2" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 2 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode3" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an analysis code 3 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode4" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 4 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode5" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 5 for the analysis entry you are createing</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="StartDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify a start date for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EndDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an end date for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EntryAmount" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You must specify and entry amount for the analysis entry you are creating.If the entry amount supplied does not agree with the calculated transaction value at runtime, the entry amount will be overwritten with the transaction value.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Comment" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can enter a comment for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DebitAnalysisEntry" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>If an analysis entry number has been assigned to this detail line, then use this element to store the analysis entry number. If Analysis Line entry is passed then that will overwrite and analysis number supplied in the AnalysisEntry element. </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DebitAnalysisLineEntry" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>If IgnoreAnalysis is set to 'Y" this node and all it's elements are ignored. If you are supplying your own AnalysisEntry Number ensure that you have set IgnoreAnalysis to "Y"</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AnalysisCode1" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an analysis code 1 for the analysis entry you are createing </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode2" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 2 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode3" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an analysis code 3 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode4" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 4 for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnalysisCode5" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify and analysis code 5 for the analysis entry you are createing</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="StartDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify a start date for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EndDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can specify an end date for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EntryAmount" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You must specify and entry amount for the analysis entry you are creating.If the entry amount supplied does not agree with the calculated transaction value at runtime, the entry amount will be overwritten with the transaction value.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Comment" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You can enter a comment for the analysis entry you are creating</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ref="eSignature" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Notation">
    <xsd:annotation>
      <xsd:documentation>This element is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PasswordForDebitLedgerCode">
    <xsd:annotation>
      <xsd:documentation>If the debit ledger code requires a password, this element must contain the relevant password for the specified ledger code.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PasswordForLedgerCode">
    <xsd:annotation>
      <xsd:documentation>If the ledger code requires a password, this element must contain the relevant password for the specified ledger code.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Pieces">
    <xsd:annotation>
      <xsd:documentation>If stock code is a unit-qty type stock code and quantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied. None of the quantity fields may be negative.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PostPurchaseOrderReceipts">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Item" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PurchaseOrder">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory and contains the Purchase Order being received.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PurchaseOrderLine">
    <xsd:annotation>
      <xsd:documentation>This element contains the Purchase Order line being received. If this is not supplied, the 'Warehouse' and 'StockCode' elements must be given so that the correct Purchase Order line can be identified. If there is more than one line for the same warehouse/stock code, the earliest Purchase Order line will be received.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PurchaseOrderLineComplete">
    <xsd:annotation>
      <xsd:documentation>This element allows the purchase order line to be set to complete upon completion of the receipt. When set to a Y, the purchase order line will be marked as complete, regardless of the quantity remaining.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Quantity">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if stock code is not a unit-qty type stock code. If it is a unit-qty type stock code and this element is supplied, the units and pieces elements must NOT be supplied. It must not be negative.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReceiptIntoInspection">
    <xsd:annotation>
      <xsd:documentation>This is the top element for the set of data required for a purchase order line receipt into inspection. It can only be supplied once within each 'Item' instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Journal" minOccurs="0"/>
        <xsd:element ref="PurchaseOrder"/>
        <xsd:element ref="PurchaseOrderLine" minOccurs="0"/>
        <xsd:element ref="Warehouse" minOccurs="0"/>
        <xsd:element ref="StockCode" minOccurs="0"/>
        <xsd:element ref="Quantity" minOccurs="0"/>
        <xsd:element ref="UnitOfMeasure" minOccurs="0"/>
        <xsd:element ref="Units" minOccurs="0"/>
        <xsd:element ref="Pieces" minOccurs="0"/>
        <xsd:element ref="CountedQuantityComplete" minOccurs="0"/>
        <xsd:element ref="DeliveryNote" minOccurs="0"/>
        <xsd:element ref="DeliveryDate" minOccurs="0"/>
        <xsd:element ref="Certificate" minOccurs="0"/>
        <xsd:element ref="Narration" minOccurs="0"/>
        <xsd:element ref="SwitchOnGRNMatching" minOccurs="0"/>
        <xsd:element ref="GRNNumber" minOccurs="0"/>
        <xsd:element ref="Lot" minOccurs="0"/>
        <xsd:element ref="LotExpiryDate" minOccurs="0"/>
        <xsd:element ref="PurchaseOrderLineComplete" minOccurs="0"/>
        <xsd:element ref="Serials" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="SerialRange" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="eSignature" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReceiptFromInspection">
    <xsd:annotation>
      <xsd:documentation>This is the top element for the set of data required to receive a GRN into stock from Inspection. It can only be supplied once within each 'Item' instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Journal" minOccurs="0"/>
        <xsd:element ref="GRNNumber"/>
        <xsd:element ref="Quantity" minOccurs="0"/>
        <xsd:element ref="UnitOfMeasure" minOccurs="0"/>
        <xsd:element ref="Units" minOccurs="0"/>
        <xsd:element ref="Pieces" minOccurs="0"/>
        <xsd:element ref="DeliveryNote" minOccurs="0"/>
        <xsd:element ref="Concession" minOccurs="0"/>
        <xsd:element ref="Cost" minOccurs="0"/>
        <xsd:element ref="CostBasis"/>
        <xsd:element ref="Reference" minOccurs="0"/>
        <xsd:element ref="GRNSource" minOccurs="0"/>
        <xsd:element ref="UseSingleTypeABCElements" minOccurs="0"/>
        <xsd:element ref="Bins" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="SelectAvailableSerials" minOccurs="0"/>
        <xsd:element ref="Serials" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="IncreaseSalesOrderQuantity" minOccurs="0"/>
        <xsd:element ref="ChangeSalesOrderStatus" minOccurs="0"/>
        <xsd:element ref="ApplyCostMultiplier" minOccurs="0"/>
        <xsd:element ref="CostMultiplier" minOccurs="0"/>
        <xsd:element ref="NonMerchandiseCost" minOccurs="0"/>
        <xsd:element ref="NonMerchandiseDistribution" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Notation" minOccurs="0"/>
        <xsd:element ref="LedgerCode" minOccurs="0"/>
        <xsd:element ref="PasswordForLedgerCode" minOccurs="0"/>
        <xsd:element ref="DebitLedgerCode" minOccurs="0"/>
        <xsd:element ref="PasswordForDebitLedgerCode" minOccurs="0"/>
        <xsd:element ref="CountryOfOrigin" minOccurs="0"/>
        <xsd:element ref="DeliveryTerms" minOccurs="0"/>
        <xsd:element ref="ShippingLocation" minOccurs="0"/>
        <xsd:element ref="NatureOfTransaction" minOccurs="0"/>
        <xsd:element ref="ModeOfTransport" minOccurs="0"/>
        <xsd:element ref="TradersReference" minOccurs="0"/>
        <xsd:element ref="TariffCode" minOccurs="0"/>
        <xsd:element ref="UnitMass" minOccurs="0"/>
        <xsd:element ref="SupplementaryUnits" minOccurs="0"/>
        <xsd:element ref="SupplementaryUnitsFactor" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Reference">
    <xsd:annotation>
      <xsd:documentation>This element is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SelectAvailableSerials" default="N">
    <xsd:annotation>
      <xsd:documentation>This element is optional. Valid values are 'N' and 'Y'. Default is 'N'.
When accepting a serialized stock item into stock FROM inspection and this element is set to 'Y', the inspected serial numbers available for the stock item being processed are used until the quantity supplied is satisfied. The 'Serials' data group must not be supplied. This is only applicable to Manual serial items.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialExpiryDate">
    <xsd:annotation>
      <xsd:documentation>This element contains the expiry date of a new serial number or range of serial numbers being received into stock. Valid format is 'CCYY-MM-DD'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialLocation">
    <xsd:annotation>
      <xsd:documentation>This element contains the location of the serial number or range of serial numbers being received when processing a Purchase Order receipt.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialNumber">
    <xsd:annotation>
      <xsd:documentation>Serial number being received into stock.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialPrefix">
    <xsd:annotation>
      <xsd:documentation>This element specifies the prefix to be used when generating a range of ALPHANUMERIC serial numbers. Prefix + suffix cannot exceed the size of the serial number key which is 20 characters. Mandatory for ALPHANUMERIC serial numbers.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StartSerialNumber">
    <xsd:annotation>
      <xsd:documentation>This element specifies the starting serial number when generating a range of NUMERIC serial numbers. Mandatory for numeric serial numbers.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialQuantity">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory and specifies the quantity to receive for the specified serial number. If within the 'Serials' group and manual serial, it can only be 1. If within the 'SerialRange' group, it is the total quantity in the stocking unit of measure, to be received for the specified range.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialUnits">
    <xsd:annotation>
      <xsd:documentation>If stock code is a unit-qty type stock code and the SerialQuantity element is not supplied, the quantity of each serial must be supplied as units and pieces. At least one of these elements must be supplied. None of the quantity fields may be negative.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialPieces">
    <xsd:annotation>
      <xsd:documentation>If stock code is a unit-qty type stock code and the SerialQuantity element is not supplied, the quantity of each serial must be supplied as units and pieces. At least one of these elements must be supplied. None of the quantity fields may be negative.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialRange">
    <xsd:annotation>
      <xsd:documentation>This element is used to specify a prefix and suffix or starting serial number for a range of new serial numbers to be generated. It is only valid when processing receipts or receipts into inspection for manual serialized stock items. It has two formats, depending on the serial key type. If serial numbers are ALPHANUMERIC, a prefix and a suffix need to be supplied. If serial numbers are NUMERIC, a starting serial number is required.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="SerialPrefix" minOccurs="0"/>
        <xsd:element ref="SerialSuffix" minOccurs="0"/>
        <xsd:element ref="StartSerialNumber" minOccurs="0"/>
        <xsd:element ref="SerialQuantity"/>
        <xsd:element ref="SerialExpiryDate" minOccurs="0"/>
        <xsd:element ref="SerialLocation" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SerialSuffix">
    <xsd:annotation>
      <xsd:documentation>This element specifies the suffix to be used when generating a range of ALPHANUMERIC serial numbers. The suffix element must be numeric. Prefix + suffix cannot exceed the size of the serial number key which is 20 characters. Mandatory for ALPHANUMERIC serial numbers.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Serials">
    <xsd:annotation>
      <xsd:documentation>A set of serial numbers and relevant information must be supplied if stock item specified is serialized.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="SerialNumber"/>
        <xsd:element ref="SerialQuantity" minOccurs="0"/>
        <xsd:element ref="SerialUnits" minOccurs="0"/>
        <xsd:element ref="SerialPieces" minOccurs="0"/>
        <xsd:element ref="SerialExpiryDate" minOccurs="0"/>
        <xsd:element ref="SerialLocation" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>This element must be supplied if a 'PurchaseOrderLine' was not entered.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupplementaryUnits" default="N">
    <xsd:annotation>
      <xsd:documentation>This element is optional. It is only required if EC VAT system is required. Valid values are 'N' and 'Y'. Default </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupplementaryUnitsFactor">
    <xsd:annotation>
      <xsd:documentation>This will only be used if SupplementaryUnits is set to 'Y', and a SupplUnitcode is entered. If used, it is numeric, positive,  6 units and 6 decimals.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SwitchOnGRNMatching" default="N">
    <xsd:annotation>
      <xsd:documentation>This element is optional and indicates whether GRN matching must be switched on for a supplier, should it be switched off. However, if the parameter 'GRNMatchingAction' is set to 'R' and GRN matching is switched off, the transaction will reject. Valid values are 'N' and 'Y'. Default is 'N'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TariffCode">
    <xsd:annotation>
      <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TradersReference">
    <xsd:annotation>
      <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Cost">
    <xsd:annotation>
      <xsd:documentation>This element is optional and need only be supplied when 'CostBasis' is set to 'M' (manual cost) or 'T' (total cost). It contains the cost of the specified stock code and if it is specified as a total cost, the unit cost will be calculated.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UnitMass">
    <xsd:annotation>
      <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UnitOfMeasure">
    <xsd:annotation>
      <xsd:documentation>If quantity was supplied in a unit of measure different from the stocking unit of measure, this element may be supplied to indicate the alternate unit of measure.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Units">
    <xsd:annotation>
      <xsd:documentation>If stock code is a unit-qty type stock code and quantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied. None of the quantity fields may be negative.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UseSingleTypeABCElements" default="N">
    <xsd:annotation>
      <xsd:documentation>This element is only required if ABC costing is in use. If not supplied and ABC costing is required, it defaults to 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:annotation>
      <xsd:documentation>This element must be supplied if a 'PurchaseOrderLine' element is not entered.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
