Schemas7/PORTRODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the PO Reverse Receipts Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostPOReceiptsReverse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>This is the top element for the set of data required for reversing a receipt for a purchase order line. </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:sequence>
              <xsd:element name="Journal" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the journal number to which the transaction journal entries generated will be added. It must be valid for the specified posting period and warehouse and may not have been printed already. If not supplied, a new journal will be created.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PurchaseOrder">
                <xsd:annotation>
                  <xsd:documentation>This element is mandatory and contains the Purchase Order being reversed.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PurchaseOrderLine">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Purchase Order line being reversed, and is mandatory. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Quantity" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is mandatory if stock code is not a unit-qty type stock code. If it is a unit-qty type stock code and this element is supplied, the units and pieces elements must NOT be supplied. It must not be negative.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Units" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If stock code is a unit-qty type stock code and quantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied. None of the quantity fields may be negative.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Pieces" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If stock code is a unit-qty type stock code and quantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied. None of the quantity fields may be negative.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DeliveryNote" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional and contains the supplier's delivery note.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Cost" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional and need only be supplied when 'CostBasis' is set to 'M' (manual cost) or 'T' (total cost). It contains the cost of the specified stock code and if it is specified as a total cost, the unit cost will be calculated.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CostBasis">
                <xsd:annotation>
                  <xsd:documentation>This element is mandatory and must specify which cost to use for the Purchase Order receipt reversal. Valid values are:
C - Current warehouse cost
T - Total cost entered manually
M - Unit cost entered manually
P - Purchase price
X - Purchase price plus tax
G - Original GRN cost</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:length value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="GRNNumber">
                <xsd:annotation>
                  <xsd:documentation>This element is mandatory,and must contain the GRN of the receipt that is being reversed.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="GRNSource">
                <xsd:annotation>
                  <xsd:documentation>This element is mandatory if GRN matching is switched on. Valid values are 1 to 5.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="4"/>
                    <xsd:enumeration value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Lot" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is mandatory if reversing a traceable item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="BinLocation" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="FifoBucket" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is used if you wish to adjust to a specific fifo bucket. If left blank or removed the first available bucket will be automatically used.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Serials" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>A set of serial numbers and relevant information must be supplied if stock item specified is serialized.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element name="SerialNumber">
                      <xsd:annotation>
                        <xsd:documentation>Serial number being reversed from stock.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SerialQuantity" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This element is mandatory and specifies the quantity to reverse for the specified serial number. If within the 'Serials' group and manual serial, it can only be 1. If within the 'SerialRange' group, it is the total quantity in the stocking unit of measure, to be reversed for the specified range.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SerialUnits" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If stock code is a unit-qty type stock code and the SerialQuantity element is not supplied, the quantity of each serial must be supplied as units and pieces. At least one of these elements must be supplied. None of the quantity fields may be negative.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SerialPieces" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>If stock code is a unit-qty type stock code and the SerialQuantity element is not supplied, the quantity of each serial must be supplied as units and pieces. At least one of these elements must be supplied. None of the quantity fields may be negative.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SerialAllocation" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>This element is used to specify  a range of serial numbers to be allocated for reversal. It is only valid when processing reverse receipts  for manual serialized stock items. </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element name="FromSerialNumber">
                      <xsd:annotation>
                        <xsd:documentation>This element specifies the starting serial number to be allocated when processing negative receipts.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ToSerialNumber" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This element specifies the endingserial number to be allocated when processing negative receipts. If this element is not supplied, serial numbers will be allocated starting at the FromSerialNumber until the specified quantity has been allocated.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SerialQuantity">
                      <xsd:annotation>
                        <xsd:documentation>It is the total quantity to be received for the specified allocation.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="PurchaseOrderLineComplete" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element allows the purchase order line to be set to complete upon completion of the receipt reversal. When set to a Y, the purchase order line will be marked as complete, regardless of the quantity remaining.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ApplyCostMultiplier" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates whether or not a cost multiplier must be applied to the cost of the reverse-receipt. If not supplied it defaults to 'N'. Valid values are 'N' and 'Y'</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CostMultiplier" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the cost multiplier to be applied to the cost of the reverse-receipt and only takes effect if 'ApplyCostMultiplier' is set to 'Y' and the cost multiplier against the warehouse is greater than 1.00. If this is not supplied, the warehouse cost multiplier is used.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NonMerchandiseCost" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains a non merchandise cost to be applied and overrides the cost multiplier, if supplied. This only takes effect if 'ApplyCostMultiplier' is set to 'Y'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NonMerchandiseDistribution" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>This is the top element for the non-merchandise distribution.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element name="NmReference">
                      <xsd:annotation>
                        <xsd:documentation>This element is mandatory.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NmLedgerCode">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the ledger code to which the non-merchandise amount must be posted.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NmSupplier" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This element is mandatory if GRN matching is switched on.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NmAmount">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the non-merchandise amount to be posted to the corresponding ledger code. The total 'NmAmount' distributed must match the non-merchandise cost (either supplied or calculated).</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Notation" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="LedgerCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. If supplied, it will overwrite the default ledger code defined in General Ledger Integration.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PasswordForLedgerCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If the ledger code requires a password, this element must contain the relevant password for the specified ledger code.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DebitLedgerCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Only required if receiving a non-stocked item. If supplied overwrites the default ledger code specified in SYSPRO.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PasswordForDebitLedgerCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If the debit ledger code requires a password, this element must contain the relevant password for the specified ledger code.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CountryOfOrigin" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DeliveryTerms" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ShippingLocation" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. It is only required if EC VAT system is required and the nationality of the supplier is a member of the EU..</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NatureOfTransaction" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ModeOfTransport" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="TradersReference" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="TariffCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="UnitMass" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. It is only required if EC VAT system is required.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="SupplementaryUnits" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. It is only required if EC VAT system is required. Valid values are 'N' and 'Y'. Default is 'N'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="SupplementaryUnitsFactor" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This will only be used if SupplementaryUnits is set to 'Y', and a SupplUnitcode is entered. If used, it is numeric, positive,  6 units and 6 decimals.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="SwitchOnGRNMatching" default="N" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="UseSingleTypeABCElements" default="N" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
