Schemas7/PORTGR.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--
     Schema for PO Post GRN details Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AlwaysSupplyGrnNumbers" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether GRN numbers must be supplied or not, regardless of GRN numbering settings in SYSPRO. If set to 'N', the SYSPRO GRN numbering rules are followed and if GRN numbering is set to 'Manual', the GRN number must still be supplied. If set to 'Y', then 'GrnNumber' is mandatory.
Default value is 'Y'.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ApplyIfEntireDocumentValid">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether to process entire document only if all items are valid. If set to 'N', each item is validated and rejected if in error or processed if correct. This is the fastest option. If set to 'Y', all items are validated and only processed if entire document is valid. Default is 'Y'. Valid values are 'Y' and 'N'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CheckForDuplicateGrns" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether GRN number must be checked for duplicates.
However, if set to 'Y' and the SYSPRO setup option to check for duplicate GRNs is set to 'N', this parameter is ignored because there is no GRN duplicates file to check aganist.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IgnoreAnalysis" type="xsd:string"/>
  <xsd:element name="IgnoreWarnings">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether or not a transaction must be rejected if there are any warnings. If 'W' supplied, these errors will be reported as warnings. If it is not supplied, it defaults to 'N'. Valid values are 'N', 'W' and 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="W"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Parameters">
    <xsd:annotation>
      <xsd:documentation>This contains parameters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="PostingPeriod" minOccurs="0"/>
        <xsd:element ref="IgnoreWarnings" minOccurs="0"/>
        <xsd:element ref="ApplyIfEntireDocumentValid" minOccurs="0"/>
        <xsd:element ref="ValidateOnly" minOccurs="0"/>
        <xsd:element ref="AlwaysSupplyGrnNumbers" minOccurs="0"/>
        <xsd:element ref="CheckForDuplicateGrns" minOccurs="0"/>
        <xsd:element ref="NonStockedWhToUse" minOccurs="0"/>
        <xsd:element name="IgnoreAnalysis" default="Y" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>When adding or maintaining a journal you can specify whether the G/L analysis must be validated for the ledger code. Valid entires are 'Y' (Ingore G/L analysis) or 'N' (Validate G/L analysis). If no value is supplied then a default value of 'Y' will be used. If you are supplying your wn AnalysisEntry number ensure that you have set this flag to "Y" else the program will still validate the analysis.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value="N"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PostGrnDetails">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Parameters"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PostingPeriod">
    <xsd:annotation>
      <xsd:documentation>Period to which transactions must be posted. Valid values are 'C' for current period, 'P' for previous period and 'B' for before previous period (i.e. prior period 2).
If the Inventory module is not installed, transactions can only be posted to the current period.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="C"/>
        <xsd:enumeration value="P"/>
        <xsd:enumeration value="B"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ValidateOnly">
    <xsd:annotation>
      <xsd:documentation>This element indicates which processing phases are to be performed. If set to 'Y' all items are validated and an XML string is returned with the result of the validation. No updating will take place. If set to 'N', each item is validated and updating is performed based on setting of the element 'ApplyIfEntireDocumentValid'. Default is 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NonStockedWhToUse">
    <xsd:annotation>
      <xsd:documentation>This element should contain the warehouse code to use when posting adjustments for non-stocked items. If this is not supplied, the operator warehouse default will be used. If one is not available, the company warehouse default is used. If there is no default warehouse, transactions for non-stocked items will not be posted.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
