Schemas7/POSQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the POSQRY Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ProgramList">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Folder" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType mixed="true">
                  <xsd:sequence>
                    <xsd:element name="File" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                  </xsd:sequence>
                  <xsd:attribute name="Name" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="LicenseInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SysproUsers" type="xsd:string"/>
              <xsd:element name="PosUser" type="xsd:string"/>
              <xsd:element name="SysproModules">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Module">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Code" type="xsd:string" use="optional"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="PosModules" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="CompanyVersion" type="xsd:float"/>
              <xsd:element name="CompanyIssue" type="xsd:string"/>
              <xsd:element name="CompanyServicePack" type="xsd:string"/>
              <xsd:element name="TaxOptions">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TaxInvoiceRoundingReq" type="xsd:string"/>
                    <xsd:element name="TaxSystem" type="xsd:string"/>
                    <xsd:element name="EcTaxSystemRequired" type="xsd:string"/>
                    <xsd:element name="CanadianGstRequired" type="xsd:string"/>
                    <xsd:element name="AustralianGSTReuquired" type="xsd:string"/>
                    <xsd:element name="UsaThirdPartyTaxSystemRequired" type="xsd:string"/>
                    <xsd:element name="SalesTaxCalulation" type="xsd:string"/>
                    <xsd:element name="RoundingOptions" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="KeyTypes">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="KeyItem" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="KeyCode" type="xsd:string" use="optional"/>
                            <xsd:attribute name="KeyName" type="xsd:string" use="optional"/>
                            <xsd:attribute name="KeyLength" type="xsd:string" use="optional"/>
                            <xsd:attribute name="KeyCase" type="xsd:string" use="optional"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CompanyWideSettings">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="MultipleBins" type="xsd:string"/>
                    <xsd:element name="RequestOrderQtyUom" type="xsd:string"/>
                    <xsd:element name="CreditLimitCheck" type="xsd:string"/>
                    <xsd:element name="CreditLimitCheckInvoiceTerms" type="xsd:string"/>
                    <xsd:element name="CreditLimitUseCreditStatus" type="xsd:string"/>
                    <xsd:element name="CheckDuplicatePoNumbers" type="xsd:string"/>
                    <xsd:element name="NegativeStockOnHand" type="xsd:string"/>
                    <xsd:element name="LocalCurrency" type="xsd:string"/>
                    <xsd:element name="LocalCurrencyDescrip" type="xsd:string"/>
                    <xsd:element name="DateFormat" type="xsd:string"/>
                    <xsd:element name="SMTPServerIpAddress" type="xsd:string"/>
                    <xsd:element name="OutgoingEmailAddress" type="xsd:string"/>
                    <xsd:element name="UseSharedInventoryCompanyForCustomForms" type="xsd:string"/>
                    <xsd:element name="UseSharedInventoryCompanyForMultimedia" type="xsd:string"/>
                    <xsd:element name="SharedInventoryCompany" type="xsd:string"/>
                    <xsd:element name="DatabaseName" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Financial">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="AccountsReceivable">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="General">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ForeignCurrencySalesRequired" type="xsd:string"/>
                                <xsd:element name="PeriodEndDateOne" type="xsd:string"/>
                                <xsd:element name="PeriodEndDateTwo" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="UserDefined">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DescriptionForField1" type="xsd:string"/>
                                <xsd:element name="DescriptionForField2" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Numbering">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="InvoiceNumberingMethod" type="xsd:string"/>
                                <xsd:element name="DuplicateInvoiceNumbers" type="xsd:string"/>
                                <xsd:element name="NextInvoice" type="xsd:string"/>
                                <xsd:element name="NextCreditNote" type="xsd:string"/>
                                <xsd:element name="NextDebitNote" type="xsd:string"/>
                                <xsd:element name="NextDiscountCreditNote" type="xsd:string"/>
                                <xsd:element name="NextDiscountDebitNote" type="xsd:string"/>
                                <xsd:element name="CustomerNumberingMethod" type="xsd:string"/>
                                <xsd:element name="NextCustomerNumber" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Cashbook">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="General">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="PeriodEndDateOne" type="xsd:string"/>
                                <xsd:element name="PeriodEndDateTwo" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Distribution">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Inventory">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="General">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="UseFullGoodsInTransitTransfersFacility" type="xsd:string"/>
                                <xsd:element name="UseSalesOrderDescriptionForStockItemsOriginatingFromSct" type="xsd:string"/>
                                <xsd:element name="StockOnHandAllowedToGoNegative" type="xsd:string"/>
                                <xsd:element name="PeriodEndDateOne" type="xsd:string"/>
                                <xsd:element name="PeriodEndDateTwo" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Options">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="SameSerialToBeUsedForMultipleStockCodes" type="xsd:string"/>
                                <xsd:element name="MultipleBatchSerialReceiptsAllowed" type="xsd:string"/>
                                <xsd:element name="InventoryCostToBeHeldInAUnitOfMeasureOtherThanStocked" type="xsd:string"/>
                                <xsd:element name="UnitOfMeasure" type="xsd:string"/>
                                <xsd:element name="LedgerCodeOptions">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Receipts" type="xsd:string"/>
                                      <xsd:element name="Adjustments" type="xsd:string"/>
                                      <xsd:element name="Issues" type="xsd:string"/>
                                      <xsd:element name="CostModification" type="xsd:string"/>
                                      <xsd:element name="CostChanges" type="xsd:string"/>
                                      <xsd:element name="Physical" type="xsd:string"/>
                                      <xsd:element name="StockTransfers" type="xsd:string"/>
                                      <xsd:element name="PurchaseOrderReceipts" type="xsd:string"/>
                                      <xsd:element name="Debits" type="xsd:string"/>
                                      <xsd:element name="Credits" type="xsd:string"/>
                                      <xsd:element name="NonMerchandise" type="xsd:string"/>
                                      <xsd:element name="AllowChangeOfLedgerCodeInBackflushing" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="UserDefinded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DescForFieldsAgainstStockCodes1" type="xsd:string"/>
                                <xsd:element name="DescForFieldsAgainstStockCodes2" type="xsd:string"/>
                                <xsd:element name="DescForFieldsAgainstStockCodes3" type="xsd:string"/>
                                <xsd:element name="DescForFieldsAgainstStockCodes4" type="xsd:string"/>
                                <xsd:element name="DescForFieldsAgainstStockCodes5" type="xsd:string"/>
                                <xsd:element name="DescriptionsForFieldsAgainstWarehouses1" type="xsd:string"/>
                                <xsd:element name="DescriptionsForFieldsAgainstWarehouses2" type="xsd:string"/>
                                <xsd:element name="DescriptionsForFieldsAgainstWarehouses3" type="xsd:string"/>
                                <xsd:element name="DescriptionsForAlternateKeys1" type="xsd:string"/>
                                <xsd:element name="DescriptionsForAlternateKeys2" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Depletion">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ApplyAutomaticDepletionIn" type="xsd:string"/>
                                <xsd:element name="AutomaticDepletionOfLotsBy" type="xsd:string"/>
                                <xsd:element name="AutomaticDepletioninPOS" type="xsd:string"/>
                                <xsd:element name="NegativeOnHandDepleteRemainderFromDefaultBin" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Numbering">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="GoodsInTransitReference" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PurchaseOrders">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="General">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DefaultPricingMethodForPurchaseOrderEntry" type="xsd:string"/>
                                <xsd:element name="UseAlternateUnitOfMeasureForOrderQuantity" type="xsd:string"/>
                                <xsd:element name="AllowMaintenanceOfCompletedPurchaseOrders" type="xsd:string"/>
                                <xsd:element name="UseAlternateDocumentPrice" type="xsd:string"/>
                                <xsd:element name="RetainOrderWhenCreatedWithoutLines" type="xsd:string"/>
                                <xsd:element name="IncludeNonMerchandiseCostsInLastCost" type="xsd:string"/>
                                <xsd:element name="ShippingInstructions" type="xsd:string"/>
                                <xsd:element name="LiableToSupplierForScrappedItems" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Options">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="InsertPurchaseOrderAdditionalTextAutomatically" type="xsd:string"/>
                                <xsd:element name="InsertDangerousGoodsTextAutomatically" type="xsd:string"/>
                                <xsd:element name="SetOrderStatusToReadyToPrintAfterMaintenance" type="xsd:string"/>
                                <xsd:element name="PlusLessWordingRequiredOnPurchaseOrderPrint" type="xsd:string"/>
                                <xsd:element name="RestrictOrderToSingleWarehouseAndUseForDeliveryAddress" type="xsd:string"/>
                                <xsd:element name="AllowMaintenanceOfDeliveryAddress" type="xsd:string"/>
                                <xsd:element name="AllowEntryMaintenanceOfExchangeRate" type="xsd:string"/>
                                <xsd:element name="ValidateBuyerWhenPurchaseOrderCreated" type="xsd:string"/>
                                <xsd:element name="DefaultTaxStatus" type="xsd:string"/>
                                <xsd:element name="ManualEntryOfNormalPoLineWhenBpoContractExists" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Grn">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="GrnSuspenseSystemRequired" type="xsd:string"/>
                                <xsd:element name="GrnNumbering" type="xsd:string"/>
                                <xsd:element name="AutomaticForEachNewPOrderLine" type="xsd:string"/>
                                <xsd:element name="ForEachNewLineInReceiptAll" type="xsd:string"/>
                                <xsd:element name="AutomaticByShipment" type="xsd:string"/>
                                <xsd:element name="CheckForDuplicateGrns" type="xsd:string"/>
                                <xsd:element name="AllowNegativeReceiptWhenGrnMatched" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesOrders">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="General1">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="AllowNegativeQtyForSalesOrders" type="xsd:string"/>
                                <xsd:element name="InsertSalesOrderAdditionalTextAuto" type="xsd:string"/>
                                <xsd:element name="InsertDangerousGoodsTextAuto" type="xsd:string"/>
                                <xsd:element name="CalculateInvoiceDiscountAfterLineDisc" type="xsd:string"/>
                                <xsd:element name="DisplayCostAndGrossProfitInOrderTotals" type="xsd:string"/>
                                <xsd:element name="IgnoreWarningIfInvalidSalespersonOnCus" type="xsd:string"/>
                                <xsd:element name="FixShipAddressAtTimeOfOrderEntry" type="xsd:string"/>
                                <xsd:element name="IgnoreWarningIfItemHasZeroCostInSo" type="xsd:string"/>
                                <xsd:element name="ReturnableItemWarehouse" type="xsd:string"/>
                                <xsd:element name="UseAssociatedMerchandiseWarehouse" type="xsd:string"/>
                                <xsd:element name="IncludeInSupplyChainTransfer" type="xsd:string"/>
                                <xsd:element name="ValidationOfDuplicateCustomerPoNr" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="General2">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DefaultAlternateKey" type="xsd:string"/>
                                <xsd:element name="DescriptionForAlternateKey" type="xsd:string"/>
                                <xsd:element name="DefaultSalesOrderBrowsSequence" type="xsd:string"/>
                                <xsd:element name="OrderAnalysisReqdCancelling" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="General3">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="BackOrders" type="xsd:string"/>
                                <xsd:element name="AskReasonCodeWhenEnteringCreditNotes" type="xsd:string"/>
                                <xsd:element name="ShippingViaUsage" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Details">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CaptureSerialNumbersForOrders" type="xsd:string"/>
                                <xsd:element name="SingleLevelBillofMaterialsRequired" type="xsd:string"/>
                                <xsd:element name="AllowQtyChangesToOptionalComponents" type="xsd:string"/>
                                <xsd:element name="AllowChangeToDescriptionOfStockedItem" type="xsd:string"/>
                                <xsd:element name="PackagingOption" type="xsd:string"/>
                                <xsd:element name="Packages" type="xsd:string"/>
                                <xsd:element name="Containing" type="xsd:string"/>
                                <xsd:element name="Items" type="xsd:string"/>
                                <xsd:element name="ShippingInstructions" type="xsd:string"/>
                                <xsd:element name="SpecialInstructions" type="xsd:string"/>
                                <xsd:element name="UserDefinedPerLine" type="xsd:string"/>
                                <xsd:element name="DatesUsedinSerialNumberEntry" type="xsd:string"/>
                                <xsd:element name="ReservingStockRequired" type="xsd:string"/>
                                <xsd:element name="DefaultShipStatus" type="xsd:string"/>
                                <xsd:element name="RequestLotsBinsSerialsReserving" type="xsd:string"/>
                                <xsd:element name="OrderLinkedToReceipt" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="TermsMargins">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CheckCustomersCreditLimit" type="xsd:string"/>
                                <xsd:element name="UseCustomerCreditStatusforTermsCheck" type="xsd:string"/>
                                <xsd:element name="CreditCheckForOrdersThatAreToBeReleased" type="xsd:string"/>
                                <xsd:element name="CreditAuthorityNeededToReleaseOrdersInSuspenseManual" type="xsd:string"/>
                                <xsd:element name="MinimumPricePercentageAboveCost" type="xsd:string"/>
                                <xsd:element name="MinimumPricePercentageAboveCostValue" type="xsd:float"/>
                                <xsd:element name="MinimumPriceAboveCostMarginOveride" type="xsd:string"/>
                                <xsd:element name="ApplyCheckToCurrentOrdersOnly" type="xsd:string"/>
                                <xsd:element name="ApplyCheckWhenQuantityMovedToShip" type="xsd:string"/>
                                <xsd:element name="ExcludeAlLinesWhichFailCreditCheckWhenReleasing" type="xsd:string"/>
                                <xsd:element name="IncludeTaxInCustomerOrderValue" type="xsd:string"/>
                                <xsd:element name="ResetCreditStatusAfterInvoicing" type="xsd:string"/>
                                <xsd:element name="MarginCheckBasedOn" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="TaxUm">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DefaultUnitOfMeasureForOrderQuantity" type="xsd:string"/>
                                <xsd:element name="RequestUnitOfMeasureForOrderQuantity" type="xsd:string"/>
                                <xsd:element name="UnitOfMeasureConversionFactorsAreTheoretical" type="xsd:string"/>
                                <xsd:element name="UnitDiscountCalculatedOn" type="xsd:string"/>
                                <xsd:element name="AllowChangesToTaxCodeForStockedItems" type="xsd:string"/>
                                <xsd:element name="UseTaxCodeFromStockItemOrServiceChargeForCreditNotes" type="xsd:string"/>
                                <xsd:element name="ReduceSOValueByTaxAmountWhenTaxIsInclusive" type="xsd:string"/>
                                <xsd:element name="CustomersCompanyTaxRegistrationNumberMandatory" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="TradePromotions">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Options">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="AutomaticallySelectLinePromotions" type="xsd:string"/>
                                <xsd:element name="AutomaticallySelectGlobalPromotions" type="xsd:string"/>
                                <xsd:element name="ShipLineFreeGoodsIfFullQuantityAvailable" type="xsd:string"/>
                                <xsd:element name="ShipGlobalFreeGoodsIfFullQuantityAvailable" type="xsd:string"/>
                                <xsd:element name="CheckOrderForPromotionsOnLoadingInSalesOrderEntry" type="xsd:string"/>
                                <xsd:element name="AllowSelectionOfGlobalPromotionsFromEditInSalesOrderEntry" type="xsd:string"/>
                                <xsd:element name="ApplyOrderDiscountsForTradePromotionsCustomers" type="xsd:string"/>
                                <xsd:element name="InvoiceDiscounts">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="ExcludeFreeGoodsLines" type="xsd:string"/>
                                      <xsd:element name="ExcludeSingleQualifyingLines" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="MiscLineOptions">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="MiscellaneousCostZero" type="xsd:string"/>
                                      <xsd:element name="MaintainMiscellaneousLine" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Defaults">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Promotions">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="DeductionCode" type="xsd:string"/>
                                      <xsd:element name="OffInvoiceLineProductClass" type="xsd:string"/>
                                      <xsd:element name="OffInvoiceGlobalProductClass" type="xsd:string"/>
                                      <xsd:element name="FreeGoodsUseMerchandiseLineProductClass" type="xsd:string"/>
                                      <xsd:element name="OffInvoiceUseMerchandiseLineProductClass" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="DeductionResolutionCodes">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Normal" type="xsd:string"/>
                                      <xsd:element name="WriteOff" type="xsd:string"/>
                                      <xsd:element name="PromotionMatch" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="PromotionTax">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="TaxCode" type="xsd:string"/>
                                      <xsd:element name="UseMerchandiseLineTaxCode" type="xsd:string"/>
                                      <xsd:element name="GstCode" type="xsd:string"/>
                                      <xsd:element name="UseMerchandiseLineGstCode" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="DeductionsTax">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="TaxIncludedInDeductionsAndAccruels" type="xsd:string"/>
                                      <xsd:element name="TaxCode" type="xsd:string"/>
                                      <xsd:element name="GstCode" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SystemInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="Nationality" type="xsd:string"/>
              <xsd:element name="Site" type="xsd:string"/>
              <xsd:element name="Diagnostic" type="xsd:string"/>
              <xsd:element name="ProgramFolder" type="xsd:string"/>
              <xsd:element name="WorkFolder" type="xsd:string"/>
              <xsd:element name="MultimediaFolder" type="xsd:string"/>
              <xsd:element name="SysproPath" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="English" type="xsd:string" use="optional"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
