Schemas7/PREQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Factory Scheduling Options Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="FactorySchedulingOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Company">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyId" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Setup">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SchedulingLevel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PreactorVersion" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConfigFolder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConfigurationFile" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SchedulingGroupsRequired" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclJobClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclToolSets" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispSchedGroupErrors" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CoSpecAttributeDataMapping" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TimeUomForMappedData" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SuggSchedInReqPlanning" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseHardwareConfigKey" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Options">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BaseEarliestStartForJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclInSchedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UpdatePlannedDates" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApplyScheduledDates" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SchedulingHorizonReq" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SchedulingHorizonDays" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclInSchedJobsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclInSchedStockOnHand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclInSchedPurchaseOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclInSchedBulkIssue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclInSchedFloorStock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclInSchedSalesOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclInSchedForwardOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclInSchedOrdersInSusp" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Database">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SqlServer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DatabaseName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Username" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Password" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrustedConnection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Network" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NetworkServer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Port" type="xsd:string" minOccurs="0"/>
              <xsd:element name="License" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
