Schemas7/PRJQ20OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd. -->
<!-- 
     Schema for the P&C Progress Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="PCProgressQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PCProgressQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompletedContracts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CompletedContracts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompletedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CompletedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnconfirmedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UnconfirmedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintZeroValueHeads" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintZeroValueHeads" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContractFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContractFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ContractFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobClassificationFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobClassificationFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ResponsibilityCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ResponsibilityCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ResponsCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextReviewDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextReviewDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NextReviewDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextBillingDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextBillingDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NextBillingDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EstimatedContractCompletionDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EstimatedContractCompletionDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_EstContractCompDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobDeliveryDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobDeliveryDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobDeliveryDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobCompletionDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobCompletionDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobCompletionDateFilterType" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ProgressQuery">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ContractDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Contract" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ContractDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Responsibility" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EstimatedCompleteDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualCompleteDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NextReviewDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastReviewDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NextBillingDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JobDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="JobNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobClassification" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_JobStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobDeliveryDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActCompleteDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="HeadCosts" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Head" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="HeadDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesOriginal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_SalesOriginal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesAdjThisPeriod" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_SalesAdjThisPeriod" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesAdjThisYear" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_SalesAdjThisYear" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesAdjPriorYear" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_SalesAdjPriorYear" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="BillingsThisPeriod" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_BillingsThisPeriod" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="BillingsThisYear" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_BillingsThisYear" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="BillingsPriorYear" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_BillingsPriorYear" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="COSThisPeriod" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_COSThisPeriod" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="COSThisYear" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_COSThisYear" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="COSPriorYear" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_COSPriorYear" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CommittedPurMaterial" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CommittedPurMaterial" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CommittedPurSubcontract" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CommittedPurSubcontract" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CommittedWIP" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_CommittedWIP" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UncommittedMaterial" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_UncommittedMaterial" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UncommittedSubcontract" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_UncommittedSubcontract" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UncommittedLabor" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_UncommittedLabor" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MarginCostOriginal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_MarginCostOriginal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MarginPercentageOriginal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="HeadTotals" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Sales" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_Sales" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Billings" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_Billings" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="BalanceToBill" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_BalanceToBill" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="COS" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_COS" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Committed" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_Committed" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Uncommitted" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_Uncommitted" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Margin" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Edited_Margin" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Percentage" type="xsd:double" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="JobTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Sales" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_Sales" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Billings" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_Billings" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="BalanceToBill" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_BalanceToBill" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="COS" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_COS" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Committed" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_Committed" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Uncommitted" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_Uncommitted" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Margin" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_Margin" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Percentage" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="ProfitTaken" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitTaken" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProjectedProfit" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProjectedProfit" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProfitAvailable" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_ProfitAvailable" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ContractTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Sales" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Sales" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Billings" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Billings" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BalanceToBill" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_BalanceToBill" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="COS" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_COS" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Committed" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Committed" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Uncommitted" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Uncommitted" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Margin" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_Margin" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Percentage" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ProfitTaken" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ProfitTaken" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProjectedProfit" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ProjectedProfit" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProfitAvailable" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ProfitAvailable" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ReportTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Sales" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Sales" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Billings" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Billings" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BalanceToBill" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_BalanceToBill" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="COS" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_COS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Committed" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Committed" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Uncommitted" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Uncommitted" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Margin" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_Margin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Percentage" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ProfitTaken" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitTaken" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProjectedProfit" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProjectedProfit" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitAvailable" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ProfitAvailable" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
