Schemas7/PRJSHCDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2013 SYSPRO Ltd.-->
<!-- 
     Schema for the P&C Contract Maintenance Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SetupPrjContMaster">
    <xsd:annotation>
      <xsd:documentation>The root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:annotation>
            <xsd:documentation>This element contains information to maintain a contract. NOTE: The information held within the key element is mandatory for all functions. Information held outside the key element is optional for Add/Update and is not required for Delete.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="Key">
                <xsd:annotation>
                  <xsd:documentation>This element contains the key information required to maintain a contract.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:all>
                    <xsd:element name="Contract">
                      <xsd:annotation>
                        <xsd:documentation>Contract specifies the contract being maintained.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ContractDesc1">
                <xsd:annotation>
                  <xsd:documentation>The ContractDesc1 is the first description line of the contract being maintained. This is a mandatory field and must be entered in order for a contrract to be saved.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ContractDesc2" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The ContractDesc2 is the second description line of the contract being maintained. This is not a mandatory field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ContractDesc3" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The ContractDesc3 is the third description line of the contract being maintained. This is not a mandatory field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ContractDesc4" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The ContractDesc4 is the fourth description line of the contract being maintained. This is not a mandatory field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ContractDesc5" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The ContractDesc5 is the fith description line of the contract being maintained. This is not a mandatory field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Responsibility" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Responsibility is the responsibility code stored against the contract.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RespPerson" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>RespPerson is the name of the person responsible which is stored against the contract.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EstComplDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>EstComplDate is the date on which the contract is estimated to be completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NextReviewDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>NextReviewDate is the date on which the next review is due.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NextBillingDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>NextBillingDate is the date on which the next billing is due.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="LastReviewDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>LastReviewDate is the last date on that the contract was reviewed. It may not be later than next review date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ActualComplDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="HierarchyCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>HierarchyCode is used to specify a defualt hierarchy when using a contract. It is not a mandatory field but it must be a valid hierarchy code if it is entered.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Customer" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Customer is used to specify a defualt cusotmer when using a contract. It is not a mandatory field but it must be a valid customer if it is entered.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RetentionCustomer" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>RetentionCustomer is used to specify a retention cusotmer for the contract. It is not a mandatory field but it must be a valid customer if it is entered.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RetentionPct" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>RetentionPct is the percentage of retention to be applied.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PrgBillingMethod" default="M">
                <xsd:annotation>
                  <xsd:documentation>PrgBillingMethod specifies what billing method will be used for schedules created for the contract. (M - manual entry(no schedules used), F - Fixed day of the month, S - Series of fixed dates, P - Percentage of head/section complete, A - Percentage of anticipated costs, N - Percentage of ~notional value, C - Percentage of costs accumulated)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="M"/>
                    <xsd:enumeration value="F"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="C"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NotionalBillVal" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>NotionalBillVal is the notional value used when the notional value billing method is used. It is not mandatory unless the notional value billing method is being used.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepositRequired" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>DepositMethod is used to determine if you would like to be prompted for a deposit with each billing schedule or if you would like to have a default deposit value applied to each schedule. P - Prompt per schedule, C - Calculate per schedule.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepositProdClass" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>DepositProdClass is used as a default product class used for deposits against a contract/job. A default customer must first be entered before you enter the product class.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepositMethod" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>DepositMethod is used to determine if you would like to be prompted for a deposit with each billing schedule or if you would like to have a default deposit value applied to each schedule. P - Prompt per schedule, C - Calculate per schedule.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="C"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepositType" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>DepositType is used to determine whether or not the deposit will be a percentage or a value of the contract. P - Percentage, V - Value.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="V"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepositPercent" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>DepositPercent is the percentage of deposti to be applied.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RetentionRequired" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RetentionType" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="V"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RetentionMethod" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="C"/>
                    <xsd:enumeration value="A"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RetentionProdClass" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
