Schemas7/PRJSSHDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Standard Hierarchy Setup Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="SetupHierarchy">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:annotation>
            <xsd:documentation>This is the top element for all data required for the transaction.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Key">
                <xsd:annotation>
                  <xsd:documentation>This element contains the key information required to maintain a hierarchy.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="HierarchyType" default="L">
                      <xsd:annotation>
                        <xsd:documentation>This is the hierarchy type flag. Always set to L.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="L"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="HierarchyCode">
                      <xsd:annotation>
                        <xsd:documentation>This element is the standard hierachy code.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="HierHead">
                      <xsd:annotation>
                        <xsd:documentation>This element is the standard hierachy head. If you are maintaining the hierarchy code then this must be left blank.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Section1">
                      <xsd:annotation>
                        <xsd:documentation>This element is the standard hierachy section 1. If you are maintaining the head then this must be left blank.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Section2">
                      <xsd:annotation>
                        <xsd:documentation>This element is the standard hierachy section 2. If you are maintaining section1 then this must be left blank.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Section3">
                      <xsd:annotation>
                        <xsd:documentation>This element is the standard hierachy section 3. If you are maintaining section2 then this must be left blank.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Section4">
                      <xsd:annotation>
                        <xsd:documentation>This element is the standard hierachy section 4. If you are maintaining section3 then this must be left blank.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Description" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the description to appear against the standard hierarchy code/head/section.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="WipCtlGlCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the WIP control account held against that standard hierarchy code head/section.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="TrackCostsOnly" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to enable cost tracking ledger. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="WipCostTrkGlCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the WIP cost tracking ledger code held against that standard hierarchy code head/section. This field is mandatory if you have the trackin costs flag set to "Y".</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowStkTran" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that stocked allocations are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowNonTran" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that non-stocked allocations are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowLabTran" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that labour allocations are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowSubTran" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that subcontract operation allocations are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowSlsTran" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that sales transactions are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowPorTran" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that purchase orders transactions are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PctLimit" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the percentage threshhold to prevent the operator from posting the the head/section if the cost threshold is reached.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="replace"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
