Schemas7/PRJTJHDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the P&C Job Hierarchy Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostJobHierarchy">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="Item">
          <xsd:annotation>
            <xsd:documentation>This is the top element for all data required for the transaction.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="HierarchyType" default="J" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the hierarchy type flag. E - Estimate, J - Job</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="J"/>
                    <xsd:enumeration value="E"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="JobQuote">
                <xsd:annotation>
                  <xsd:documentation>This is the job number or quote number for which you are maintaining hierarchies. This is  mandatory. The format is alphanumeric or numeric depending on the configuration option within SYSPRO. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="QuoteLine" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the quote line if you are maintaining hierarchies for a quote.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="HierHead">
                <xsd:annotation>
                  <xsd:documentation>This element is the hierachy head.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Section1" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is the hierachy section 1. If you are maintaining the head then this must be left blank.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Section2" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is the hierachy section 2. If you are maintaining section1 then this must be left blank.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Section3" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is the standard hierachy section 3. If you are maintaining section2 then this must be left blank.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Section4" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is the standard hierachy section 4. If you are maintaining section3 then this must be left blank.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Description" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the description to appear against the hierarchy codes head/section.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnticipatedVal1" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the first anticipated value for the hierarchy head/section.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnticipatedVal2" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the second anticipated value for the hierarchy head/section.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AnticipatedVal3" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the second anticipated value for the hierarchy head/section.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="WipCtlGlCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the WIP control account held against that hierarchy code head/section.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="TrackCostsOnly" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to enable cost tracking ledger. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="WipCostTrkGlCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the WIP cost tracking ledger code held against that hierarchy code head/section. This field is mandatory if you have the trackin costs flag set to "Y".</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowStkTran" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that stocked allocations are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowNonTran" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that non-stocked allocations are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowLabTran" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that labour allocations are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowSubTran" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that subcontract operation allocations are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowSlsTran" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that sales transactions are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AllowPorTran" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This flag is to indicate  that purchase orders transactions are allowed to be associated with this hierachy. Y-Yes, N-No.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PctLimit">
                <xsd:annotation>
                  <xsd:documentation>This indicates the percentage  threshhold to prevent the operator from posting the head/section if the cost threshold is reached.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
