Schemas7/QOTQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the Quotations Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="QuotationsOptions">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="QuotationNumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NxtQuotationNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="QuotationVersioning" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PromptVersionIncrease" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:pattern value="Y"/>
										<xsd:pattern value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DefDescOffer1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefDescOffer2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefDescOffer3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefDescOffer4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefDescOffer5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefDescDefOffer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CostImplosionJobCreationUseRouteZero" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowChgQueryDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowChgExpiryDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefExpiryDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DaysBaseDateExpiryDate" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Pricing">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DefNonStProfitBasis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefNonStProfitPerc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefNonStProfitAllowChg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefAddLabProfitBasis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefAddLabProfitPerc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefAddLabProfitAllowChg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplySOLineDiscBreaks" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RecalcLineDiscBreaks" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefAddMatProfitBasis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefAddMatProfitPerc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefAddMatProfitAllowChg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CostToUseForQotImplosion" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
