Schemas7/QOTQ26OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Quotation List of Estimates Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="QuotationsListOfEstimatesReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="QuotationsListOfEstimatesReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="MaterialsAndOperations" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_MaterialsAndOperations" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EstimateRoute" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SequenceMaterialsByOperation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SequenceMaterialsByOperation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CostSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NonStockedFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NonStockedFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NonStockedFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GroupItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NonStockedItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="NonStockedHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="NonStockedParent" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RouteDescription" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="MaterialLaborDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="MaterialLabor" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Level" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ComponentOperation" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CompOperationFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CompOperDescFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TimeReqdQtyPer" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Edited_TimeReqdQtyPer" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ScrapQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Edited_ScrapQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ScrapQuantityFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ScrapQntValueFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ScrapPercentage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ScrapPercentageFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Category" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CategoryFlag" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_Category" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ComponentType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LeadTime" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Edited_UnitCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ParentPart" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
