Schemas7/QOTRQCOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the Quotations Retrieve Quotation Information Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BuildPoRequisitionDetails" type="xsd:string"/>
  <xsd:element name="CopyNotesToSalesOrder" type="xsd:string"/>
  <xsd:element name="CreateJobs" type="xsd:string"/>
  <xsd:element name="CreateSalesOrder" type="xsd:string"/>
  <xsd:element name="CustomerPoNumber">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Description" type="xsd:string"/>
  <xsd:element name="DetailLine">
    <xsd:complexType mixed="true">
      <xsd:sequence minOccurs="0">
        <xsd:element ref="Line"/>
        <xsd:element ref="LineType"/>
        <xsd:element ref="Stockcode"/>
        <xsd:element ref="Description"/>
        <xsd:element ref="LineShipDate"/>
        <xsd:element ref="Offer"/>
        <xsd:element ref="OfferQty"/>
        <xsd:element ref="OfferUnitPrice"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:complexType mixed="true">
      <xsd:sequence minOccurs="0">
        <xsd:element ref="Options"/>
        <xsd:element ref="DetailLine"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Line" type="xsd:string"/>
  <xsd:element name="LineShipDate" type="xsd:string"/>
  <xsd:element name="LineType" type="xsd:string"/>
  <xsd:element name="Offer" type="xsd:string"/>
  <xsd:element name="OfferQty" type="xsd:boolean"/>
  <xsd:element name="OfferSelection" type="xsd:string"/>
  <xsd:element name="OfferUnitPrice" type="xsd:string"/>
  <xsd:element name="Options">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Quotation"/>
        <xsd:element ref="OfferSelection"/>
        <xsd:element ref="CustomerPoNumber"/>
        <xsd:element ref="CreateSalesOrder"/>
        <xsd:element ref="CreateJobs"/>
        <xsd:element ref="SalesOrderType"/>
        <xsd:element ref="BuildPoRequisitionDetails"/>
        <xsd:element ref="CopyNotesToSalesOrder"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Quotation" type="xsd:string"/>
  <xsd:element name="QuotationDetails">
    <xsd:complexType>
      <xsd:sequence minOccurs="0">
        <xsd:element ref="Item"/>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="Role" type="xsd:string" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SalesOrderType">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Stockcode" type="xsd:string"/>
</xsd:schema>
