Schemas7/QOTTQCDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the Quotations Confirmation Post Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BuildPoRequisitionDetails">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether you want to build the suggested requisition or po information when you confirm a quotation.  Possible values: Y (Yes) or N (No). </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CopyNotesToSalesOrder">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether you want to copy quotation notes to a sales order when creating a sales order through quotation confirmation. Possible values: Y (Yes) or N (No). </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CreateJobs">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether you want to create jobs for non-stocked items when confirming a quotation.  Possible values: Y (Yes) or N (No). </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CreateSalesOrder">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether you want to a sales order when confirming a quotation.  Possible values: Y (Yes), N (No) or A (Append). </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="A"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CustomerPoNumber">
    <xsd:annotation>
      <xsd:documentation>This element indicates the customer purchase order number you will assign to the sales order when you confirm the quotation. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DetailLine">
    <xsd:annotation>
      <xsd:documentation> This element holds all the information for each detail line if you are posting in review mode</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:element ref="Line"/>
        <xsd:element ref="Offer"/>
        <xsd:element ref="LineShipDate"/>
        <xsd:element ref="Job"/>
        <xsd:element name="SubJobPrefix" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>If you have manual job numbering and you have selected to create jobs, enter the sub job prefix for any non-stocked made in components.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="SubJobSuffix" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>If you have manual job numbering and you have selected to create jobs, enter the sub job suffix for any non-stocked made in components.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="JobClassification" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This is the job classification for if you are creating jobs. If left blank, defaults will be used</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="WipLedgerCode" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This is the job WIP ledger code for if you are creating jobs. If left blank, defaults will be used</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This element contains the information to maintain a quote i.e. this element will indicate the start and end of a quotation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:element ref="Options"/>
        <xsd:element ref="DetailLine"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Line" type="xsd:byte">
    <xsd:annotation>
      <xsd:documentation>This is the line number of trhe quotation that you would like to confirm (if you have set the offer selection to review mode)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LineShipDate" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the line ship date if you would like to change it on quotation confirmation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Offer" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the offer number of trhe quotation that you would like to confirm (if you have set the offer selection to review mode)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OfferSelection">
    <xsd:annotation>
      <xsd:documentation>This element indicates the offers that you will be wanting to confirm. Possible values: 1 to 5, D (Default) or R(Review). </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="2"/>
        <xsd:enumeration value="3"/>
        <xsd:enumeration value="4"/>
        <xsd:enumeration value="5"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="R"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Options">
    <xsd:annotation>
      <xsd:documentation>This elements holds all the options to confirm a quotation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Quotation"/>
        <xsd:element ref="OfferSelection"/>
        <xsd:element ref="CustomerPoNumber"/>
        <xsd:element ref="CreateSalesOrder"/>
        <xsd:element ref="CreateJobs"/>
        <xsd:element ref="SalesOrder"/>
        <xsd:element ref="SalesOrderType"/>
        <xsd:element ref="BuildPoRequisitionDetails"/>
        <xsd:element ref="CopyNotesToSalesOrder"/>
        <xsd:element ref="ReasonCode"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Quotation" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element is for the quotation number you are going to confirm</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PostQuotationConfirmation">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SalesOrderType" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Enter the sales order type to be created when you confirm the quotation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ReasonCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Enter a reason code if you are setting a quotation to rejected.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Job" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is to enter a job number if your job numbering is set to manual.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SalesOrder">
    <xsd:annotation>
      <xsd:documentation>Enter the sales order number that you would like to create or append to when you will be confirming the quotation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string"/>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
