Schemas7/RMAQRL.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--  
     This is an example XML instance to demonstrate
     schema for the RMA List Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AlternateKey">
		<xsd:annotation>
			<xsd:documentation>Alternate key to be selected (FilterType of A - All, R - Range or S - Single alternate key, FilterValue contains the selected alternate key if FilterType is S or a range or list of alternate keys separated by commas)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Branch">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a specific Branch to be queried. A - All; R - Range; S - Single. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GeographicArea">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a specific Geographic Area to be queried. A - All; R - Range; S - Single. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomerClass">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a specific Customer Class to be queried. A - All; R - Range; S - Single. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Customer">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a specific Customer to be queried. A - All; R - Range; S - Single. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EntryDate">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a specific Entry Date/s to be queried. A - All; R - Range; S - Single. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RMANumber">
		<xsd:annotation>
			<xsd:documentation>This will determine the data pertaining to a specific RMA Number. A - All; R - Range; A - Single. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderType">
		<xsd:annotation>
			<xsd:documentation>Order type to be selected (FilterType of A - All, R - Range or S - Single order type, FilterValue  contains the selected order type if FilterType is S or a range or list of order types separated by commas).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RMAStatus">
		<xsd:annotation>
			<xsd:documentation>RMA status to be selected (FilterType of A - All, R - Range or S - Single order status, FilterValue contains the selected order status if FilterType is S or a range or list of order status separated by commas)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UserDefinedField">
		<xsd:annotation>
			<xsd:documentation>This will determine the data pertaining to a specific User Defined Field. A - All; R - Range; A - Single. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeClosed" type="xsd:string"/>
	<xsd:element name="IncludeInProcess" type="xsd:string"/>
	<xsd:element name="IncludeOpen" type="xsd:string"/>
	<xsd:element name="IncludeOpenWithCrossShipments" type="xsd:string"/>
	<xsd:element name="IncludePartiallyClosed" type="xsd:string"/>
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IncludeInProcess"/>
				<xsd:element ref="IncludeOpen"/>
				<xsd:element ref="IncludePartiallyClosed"/>
				<xsd:element ref="IncludeOpenWithCrossShipments"/>
				<xsd:element ref="IncludeClosed"/>
				<xsd:element ref="XslStylesheet"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>This is the root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option" minOccurs="0"/>
				<xsd:element ref="Filter" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="RMANumber"/>
				<xsd:element ref="Customer"/>
				<xsd:element ref="GeographicArea"/>
				<xsd:element ref="Branch"/>
				<xsd:element ref="CustomerClass"/>
				<xsd:element ref="EntryDate"/>
				<xsd:element ref="UserDefinedField"/>
				<xsd:element ref="OrderType"/>
				<xsd:element ref="AlternateKey"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="XslStylesheet" type="xsd:string"/>
</xsd:schema>
