Schemas7/RMAQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Rma Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="RmaSetupOptions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FixInHouse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DaysRetCompRma" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PromptForRevRelAtIssue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintRma" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProblemCodeMan" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PromptForSave" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Options">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CrossShipCrSo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CrossShipSerialNos" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MaxDayRetProd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RestockPerc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RestockProdCls" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PromptForRestock" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyRestockFeeDefCr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyRestockFeeDefInWarr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyRestockFeeDefOutWarr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyRestockFeeGenRet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyRestockFeeIncOrd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyRestockFeeIncShip" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplyRestockFeeShrtShip" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Defaults">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RmaDefWhCred" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaDefWhRep" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaDefWhComp" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaDefRecAction" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaDefInvTerms" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaDefNsUom" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaDefNsProdCls" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaDefLineType" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Numbering">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RmaNumMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaNextNo" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="UserDefined">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RmaUdfHdr" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaUdfHdrMand" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaUdfLine1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaUdfLine1Mand" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaUdfLine2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RmaUdfLine2Mand" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
