Schemas7/RMAQRLOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     This is an example XML instance to demonstrate
     schema for the RMA List Business Object
-->
<xsd:schema id="ListOfRmaQuery" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ListOfRmaQuery">
		<xsd:complexType>
      <xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IncludeOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InProcess" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Open" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PartiallyClosed" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OpenWithCrossShipment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Closed" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectedRma" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RMAFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectedCustomer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectedGeoArea" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GeoAreaFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectedBranch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectedCustomerClasses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerClassFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectedEnteredDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RMAEnteredDateFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectedUserfield" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UserfieldFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ListofRmas">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Rma" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="RmaNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UserField1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Area" type="xsd:string" minOccurs="0"/>
										<xsd:element name="EntryDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NextLine" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Status" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SpecialInstrs" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AlternateKey" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
