Schemas7/RMAQ70OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XMD instance to demonstrate
     use of the RMA Outstanding Authorizations REPORT Business Object
-->
<xsd:schema id="RMAOutstandingAuthorizations" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RMAOutstandingAuthorizations">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CrossShipments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CrossShipments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeDefectiveCredits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeDefectiveCredits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeDefectiveInWarranty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeDefectiveInWarranty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeDefectiveOutOfWarranty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeDefectiveOutOfWarranty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeIncorrectOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeIncorrectOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeIncorrectShipment" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeIncorrectShipment" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeShortShipment" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeShortShipment" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeGeneralReturns" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeGeneralReturns" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeInInspectionItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeInInspectionItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNarrationItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNarrationItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNoActionItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNoActionItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeProblemComments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeProblemComments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeActionComments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeActionComments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UserFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserDefinedName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UserDefinedName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RMANumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RMANumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RMANumberFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RMAProblemCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RMAProblemCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RMAProblemCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RMAIssueDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RMAIssueDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RMAIssueDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RMAReturnDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RMAReturnDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RMAReturnDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalRMAsListed" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="RMAs">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RMA" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RMAHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="RMANumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RMAStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RMADesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_RMADesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EntryDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UserDefined1" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="RMADetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="RMADetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="RMANumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StockDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LongDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="LineType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LineDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_LineDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AuthorizedQty" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="AuthorizedQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedAuthorizedQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ReceivedQty" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="ReceivedQtyUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedReceivedQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RmaUom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RmaAction" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RMAActionDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Translated_RMAActionDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProblemCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProblemDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CrossShipInd" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ProblemCommentText" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActionCommentText" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalRMAsListed" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalRMAsListed" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
