Schemas7/RMAQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the RMA Query Business Object
-->
<xsd:schema id="RMAQuery" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RMAQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncludeReceiptedLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCrossShipmentLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeExchangesLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeComments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeBins" minOccurs="0"/>
              <xsd:element name="IncludeLots" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSerials" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="RMAHeader">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RMANumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EntryDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Status" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerBranch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LastTransactDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserField1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Area" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SpecialInstrs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintedFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AlternateKey" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ServiceTicket" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MultiShipCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CustomerInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Contact" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TaxStatus" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TaxExemptNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Address1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Address2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Address3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Address4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Address5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShipPostalCode" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DetailLines">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DetailLine" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="LineInformation" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="RMALineNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AuthorizedQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AuthorizedQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IssueDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReceivedDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LineStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LIneType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PurchaseDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NonStFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RmaUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrigTax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UserField1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UserField2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProblemCode" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Comments" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ProblemComment" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CommentLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Commenttext" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ReceiptDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ReceivedDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReceivedQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReceivedQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Price" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Action" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RecSalesOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RepairSalesOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RecCreditNumber" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType/>
                          </xsd:element>
                          <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarrantyDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="InventoryUpdated" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Serial" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="CrossShipmentDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyCrossShipped" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyCrossShippedUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Price" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateCrossShipped" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
