Schemas7/RMASPRDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the RMA Problem Code Maintenance Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This is the sub root node,  it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="ProblemDesc"/>
        <xsd:element ref="ReStockPercent"/>
        <xsd:element ref="UseDefaultPct"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ProblemCode"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ProblemCode">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Problem code. It is the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ProblemDesc">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Problem Description. It is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReStockPercent">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Re-Stock percentage. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SetupRMAProblemCodeMaint">
    <xsd:annotation>
      <xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UseDefaultPct">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the use of the default restock percentage. 1 - Yes 0 - No (Default)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
