Schemas7/RMATRL.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the Add or Change RMA Line Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RmaLine">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Parameters">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IgnoreWarnings" type="xsd:string"/>
              <xsd:element name="ApplyIfEntireDocumentValid" type="xsd:string"/>
              <xsd:element name="ValidateOnly" type="xsd:string"/>
              <xsd:element name="ShipFromDefaultBin" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
