Schemas7/sa_sales_target_history_list_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for Sales Order History Target List Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SorSalesTargetHistory">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="SystemInformation" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string"/>
							<xsd:element name="DecCharToUse" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions" minOccurs="0">
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="TargetType" type="xsd:string"/>
							<xsd:element name="TargetTypeDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="KeyAreasDefined" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TargetDescription" type="xsd:string"/>
							<xsd:element name="MassMetric" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_MassMetric" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProfitMetric" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ProfitMetric" type="xsd:string" minOccurs="0"/>
							<xsd:element name="QuantityMetric" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_QuantityMetric" type="xsd:string" minOccurs="0"/>
							<xsd:element name="VolumeMetric" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_VolumeMetric" type="xsd:string" minOccurs="0"/>
							<xsd:element name="XslStyleSheet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PageAfterTotals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PageAfterTotals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TrnYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="totals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Key1FilterTag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Key1Desc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Key1FilterDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Key1FilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Key1FilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Key1FilterValue" minOccurs="0"/>
							<xsd:element name="Key2FilterTag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Key2Desc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Key2FilterDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Key2FilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Key2FilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Key2FilterValue" minOccurs="0"/>
							<xsd:element name="Key3FilterTag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Key3Desc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Key3FilterDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Key3FilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Key3FilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Key3FilterValue" minOccurs="0"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SalesTargetList" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="KeyArea_1" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="KeyAreaType" type="xsd:string"/>
										<xsd:element name="KeyAreaDesc" type="xsd:string"/>
										<xsd:element name="Translated_KeyAreaDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="KeyAreaValue" type="xsd:string"/>
										<xsd:element name="KeyAreaValueDesc" type="xsd:string"/>
										<xsd:element name="KeyArea_2" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="KeyAreaType" type="xsd:string"/>
													<xsd:element name="KeyAreaDesc" type="xsd:string"/>
													<xsd:element name="Translated_KeyAreaDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="KeyAreaValue" type="xsd:string"/>
													<xsd:element name="KeyAreaValueDesc" type="xsd:string"/>
													<xsd:element name="KeyArea_3" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="KeyAreaType" type="xsd:string"/>
																<xsd:element name="KeyAreaDesc" type="xsd:string"/>
																<xsd:element name="Translated_KeyAreaDesc" type="xsd:string" minOccurs="0"/>
																<xsd:element name="KeyAreaValue" type="xsd:string"/>
																<xsd:element name="KeyAreaValueDesc" type="xsd:string"/>
																<xsd:element name="SalesMonth01" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth01" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth02" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth02" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth03" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth03" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth04" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth04" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth05" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth05" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth06" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth06" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth07" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth07" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth08" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth08" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth09" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth09" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth10" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth10" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth11" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth11" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth12" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth12" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth13" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth13" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth01" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth01" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth02" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth02" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth03" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth03" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth04" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth04" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth05" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth05" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth06" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth06" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth07" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth07" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth08" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth08" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth09" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth09" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth10" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth10" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth11" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth11" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth12" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth12" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth13" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth13" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth01" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth01" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth02" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth02" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth03" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth03" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth04" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth04" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth05" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth05" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth06" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth06" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth07" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth07" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth08" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth08" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth09" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth09" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth10" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth10" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth11" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth11" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth12" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth12" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth13" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth13" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth01" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth01" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth02" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth02" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth03" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth03" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth04" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth04" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth05" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth05" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth06" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth06" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth07" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth07" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth08" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth08" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth09" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth09" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth10" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth10" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth11" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth11" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth12" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth12" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth13" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth13" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth01" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth01" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth02" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth02" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth03" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth03" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth04" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth04" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth05" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth05" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth06" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth06" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth07" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth07" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth08" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth08" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth09" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth09" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth10" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth10" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth11" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth11" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth12" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth12" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth13" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth13" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="KeyArea_2_Total" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="SalesMonth01" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth01" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth02" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth02" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth03" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth03" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth04" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth04" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth05" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth05" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth06" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth06" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth07" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth07" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth08" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth08" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth09" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth09" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth10" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth10" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth11" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth11" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth12" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth12" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SalesMonth13" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedSalesMonth13" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth01" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth01" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth02" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth02" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth03" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth03" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth04" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth04" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth05" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth05" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth06" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth06" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth07" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth07" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth08" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth08" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth09" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth09" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth10" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth10" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth11" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth11" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth12" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth12" type="xsd:string" minOccurs="0"/>
																<xsd:element name="VolumeMonth13" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedVolumeMonth13" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth01" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth01" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth02" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth02" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth03" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth03" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth04" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth04" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth05" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth05" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth06" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth06" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth07" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth07" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth08" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth08" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth09" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth09" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth10" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth10" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth11" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth11" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth12" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth12" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MassMonth13" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedMassMonth13" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth01" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth01" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth02" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth02" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth03" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth03" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth04" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth04" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth05" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth05" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth06" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth06" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth07" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth07" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth08" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth08" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth09" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth09" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth10" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth10" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth11" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth11" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth12" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth12" type="xsd:string" minOccurs="0"/>
																<xsd:element name="ProfitMonth13" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedProfitMonth13" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth01" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth01" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth02" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth02" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth03" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth03" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth04" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth04" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth05" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth05" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth06" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth06" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth07" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth07" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth08" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth08" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth09" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth09" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth10" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth10" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth11" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth11" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth12" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth12" type="xsd:string" minOccurs="0"/>
																<xsd:element name="QuantityMonth13" type="xsd:double" minOccurs="0"/>
																<xsd:element name="EditedQuantityMonth13" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="KeyArea_1_Total" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SalesMonth01" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth01" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth02" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth02" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth03" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth03" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth04" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth04" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth05" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth05" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth06" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth06" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth07" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth07" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth08" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth08" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth09" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth09" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth10" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth10" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth11" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth11" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth12" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth12" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesMonth13" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesMonth13" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth01" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth01" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth02" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth02" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth03" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth03" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth04" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth04" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth05" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth05" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth06" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth06" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth07" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth07" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth08" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth08" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth09" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth09" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth10" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth10" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth11" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth11" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth12" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth12" type="xsd:string" minOccurs="0"/>
													<xsd:element name="VolumeMonth13" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedVolumeMonth13" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth01" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth01" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth02" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth02" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth03" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth03" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth04" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth04" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth05" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth05" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth06" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth06" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth07" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth07" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth08" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth08" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth09" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth09" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth10" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth10" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth11" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth11" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth12" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth12" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MassMonth13" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedMassMonth13" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth01" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth01" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth02" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth02" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth03" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth03" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth04" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth04" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth05" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth05" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth06" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth06" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth07" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth07" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth08" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth08" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth09" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth09" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth10" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth10" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth11" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth11" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth12" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth12" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ProfitMonth13" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedProfitMonth13" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth01" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth01" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth02" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth02" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth03" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth03" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth04" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth04" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth05" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth05" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth06" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth06" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth07" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth07" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth08" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth08" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth09" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth09" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth10" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth10" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth11" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth11" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth12" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth12" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QuantityMonth13" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQuantityMonth13" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Company_Total" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SalesMonth01" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth01" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth02" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth02" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth03" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth03" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth04" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth04" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth05" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth05" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth06" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth06" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth07" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth07" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth08" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth08" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth09" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth09" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth10" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth10" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth11" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth11" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth12" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth12" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMonth13" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSalesMonth13" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth01" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth01" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth02" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth02" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth03" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth03" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth04" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth04" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth05" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth05" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth06" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth06" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth07" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth07" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth08" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth08" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth09" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth09" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth10" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth10" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth11" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth11" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth12" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth12" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VolumeMonth13" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedVolumeMonth13" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth01" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth01" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth02" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth02" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth03" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth03" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth04" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth04" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth05" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth05" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth06" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth06" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth07" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth07" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth08" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth08" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth09" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth09" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth10" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth10" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth11" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth11" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth12" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth12" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MassMonth13" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedMassMonth13" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth01" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth01" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth02" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth02" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth03" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth03" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth04" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth04" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth05" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth05" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth06" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth06" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth07" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth07" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth08" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth08" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth09" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth09" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth10" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth10" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth11" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth11" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth12" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth12" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProfitMonth13" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedProfitMonth13" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth01" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth01" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth02" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth02" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth03" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth03" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth04" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth04" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth05" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth05" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth06" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth06" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth07" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth07" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth08" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth08" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth09" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth09" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth10" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth10" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth11" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth11" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth12" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth12" type="xsd:string" minOccurs="0"/>
										<xsd:element name="QuantityMonth13" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedQuantityMonth13" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
