Schemas7/sa_sales_by_customer_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales by Customer Query Business Object
-->
<xsd:schema id="SalesByCustomerReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SalesByCustomerReport">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SalesBy" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AsOfPeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShowProfitPercentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintZeroTotals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DescendingSalesValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LastSaleOnOrBefore" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TagFile" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NumberOfCustomersToPrintFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NumberOfCustomersToPrintFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Group">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GroupHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceDesc" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Customer" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CustomerHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerClassDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Area" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AreaDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesPerson" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalespersonName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BranchDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateLastSale" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateLastPay" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MTDSales" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MTDProfitPerc" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="YTDSales" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="YTDProfitPerc" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="PrevYearSales" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="PrevYrProfitPerc" type="xsd:double" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="MTDSalesCurrent" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedMTDSalesCurrent" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValMth1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValMth1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValMth2" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValMth2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValMth3" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValMth3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValMth4" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValMth4" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValMth5" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValMth5" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValMth6" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValMth6" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValMth7" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValMth7" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValMth8" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValMth8" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValMth9" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValMth9" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValMth10" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValMth10" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValMth11" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValMth11" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Total" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedTotal" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="GroupTotal" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalCurrent" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalCurrent" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalMonth1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalMonth1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalMonth2" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalMonth2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalMonth3" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalMonth3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalMonth4" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalMonth4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalMonth5" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalMonth5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalMonth6" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalMonth6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalMonth7" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalMonth7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalMonth8" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalMonth8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalMonth9" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalMonth9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalMonth10" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalMonth10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTotalMonth11" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedSalesTotalMonth11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGroup" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedTotalGroup" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReportTotal">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TotalMTDSales" type="xsd:double" minOccurs="0"/>
              <xsd:element name="TotalMTDProfitPerc" type="xsd:double" minOccurs="0"/>
              <xsd:element name="TotalYTDSales" type="xsd:double" minOccurs="0"/>
              <xsd:element name="TotalYTDProfitPerc" type="xsd:double" minOccurs="0"/>
              <xsd:element name="TotalPrevYrSales" type="xsd:double" minOccurs="0"/>
              <xsd:element name="TotalPrevYrProfitPerc" type="xsd:double" minOccurs="0"/>
              <xsd:element name="TotalCurrent" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalCurrent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPrev1" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalPrev1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPrev2" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalPrev2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPrev3" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalPrev3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPrev4" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalPrev4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPrev5" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalPrev5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPrev6" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalPrev6" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPrev7" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalPrev7" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPrev8" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalPrev8" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPrev9" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalPrev9" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPrev10" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalPrev10" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalPrev11" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalPrev11" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalGroup" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalGroup" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_Current_period" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Previous_month_1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Previous_month_2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Branch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Salesperson" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Geographic_area" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Customer_class" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Customer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Customer_by_month" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Sales_by_customer_as_of" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Sales_by_customer_by_month_as_of" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_total" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_All" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Range" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Yes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_No" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
