Schemas7/SALQ75.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--  
     SALQ75  
     Sales Analysis Tax Report
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DateSelection">
    <xsd:annotation>
      <xsd:documentation>Date Selection
A - All (Default)
R - Range
S - Single          </xsd:documentation>
      <xsd:appinfo source="Screenitem=Y;browse={date};A=All;R=Range;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DateSelection" minOccurs="0"/>
        <xsd:element ref="TaxCodeSelection" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MonthToPrintEnd">
    <xsd:annotation>
      <xsd:documentation>Period to Print End
This indicates the financial period (within the financial year entered), for which the report must be printed.</xsd:documentation>
      <!-- TODO -->
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MonthToPrintStart" type="xsd:byte">
    <xsd:annotation>
      <xsd:documentation>Period to Print Start
This indicates the financial period (within the financial year entered), for which the report must be printed.
                 </xsd:documentation>
      <!-- TODO -->
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportSequence" minOccurs="0"/>
        <xsd:element ref="ReportType" minOccurs="0"/>
        <xsd:element ref="Reprint" minOccurs="0"/>
        <xsd:element ref="PeriodSelection" minOccurs="0"/>
        <xsd:element ref="MonthToPrintStart" minOccurs="0"/>
        <xsd:element ref="YearToPrintStart" minOccurs="0"/>
        <xsd:element ref="MonthToPrintEnd" minOccurs="0"/>
        <xsd:element ref="YearToPrintEnd" minOccurs="0"/>
        <xsd:element ref="ReportForEU" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PeriodSelection">
    <xsd:annotation>
      <xsd:appinfo source="Screenitem=Y;R=Range;S=Single"/>
      <xsd:documentation>Period Selection
R - Range
S - Single (Default)</xsd:documentation>
      <!-- TODO -->
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="R"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportSequence">
    <xsd:annotation>
      <xsd:documentation>Report Sequence           
I - Invoice Date (Default)
B - Branch                
G - Geographic area</xsd:documentation>
      <xsd:appinfo source="Screenitem=Y;I=Invoice Date;B=Branch;G=Geograpic Area"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="I"/>
        <xsd:enumeration value="B"/>
        <xsd:enumeration value="G"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReportType">
    <xsd:annotation>
      <xsd:documentation>Report Type          
S - Summary (Default)
D - Detailed             </xsd:documentation>
      <xsd:appinfo source="Screenitem=Y;S=Summary;D=Detailed"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="S"/>
        <xsd:enumeration value="D"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReportForEU">
    <xsd:annotation>
      <xsd:documentation>'Y' (Yes) if report is to include EU information - only used if EC VAT is in use for the company</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Reprint">
    <xsd:annotation>
      <xsd:documentation>Reprint         
N - No (Default)
Y - Yes </xsd:documentation>
      <xsd:appinfo source="Screenitem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TaxCodeSelection">
    <xsd:annotation>
      <xsd:documentation>Tax Selection
A - All (Default)
R - Range
S - Single                      </xsd:documentation>
      <xsd:appinfo source="Screenitem=Y;browse=AdmTax;A=All;R=Range;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="YearToPrintEnd">
    <xsd:annotation>
      <xsd:documentation>Year to Print End
This indicates the year for which the report must be printed.
C - Current (default)
P - Previous
or a 4-digit field indicating the current or previous AR financial year .</xsd:documentation>
      <!-- TODO -->
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="YearToPrintStart" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Year to Print Start
This indicates the year for which the report must be printed.
C - Current (default)
P - Previous 
or a 4-digit field indicating the current or previous AR financial year. </xsd:documentation>
      <!-- TODO -->
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
