Schemas7/SALQ79OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
      Schema for the Sales Analysis GST by Area Report
  -->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="SalesAnalysisGSTbyAreaReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SalesAnalysisGSTbyAreaReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MonthToPrint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearToPrint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SequenceList">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GeographicArea" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Summary" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DocumentDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DocumentTerms" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GSTRegistration" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GeographicArea" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GeographicAreaDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BranchDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DetailLines" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DetailLine" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QuantityUnits" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedQuantity" minOccurs="0"/>
                                      <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxStatus" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Translated_TaxStatus" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ForcedExempt" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxRate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTaxRate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTaxAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="SummaryTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="InvoiceAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedInvoiceAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExemptAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedExemptAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxableAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTaxableAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ZeroRated" minOccurs="0"/>
                                <xsd:element name="EditedZeroRated" minOccurs="0"/>
                                <xsd:element name="TotalTaxAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotalTaxAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SummaryTax" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="SummaryTaxDetail" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="SumCode" minOccurs="0"/>
                                            <xsd:element name="SumRate" minOccurs="0"/>
                                            <xsd:element name="EditedSumRate" minOccurs="0"/>
                                            <xsd:element name="TaxableTotal" minOccurs="0"/>
                                            <xsd:element name="EditedTaxableTotal" minOccurs="0"/>
                                            <xsd:element name="ExemptTotal" minOccurs="0"/>
                                            <xsd:element name="EditedExemptTotal" minOccurs="0"/>
                                            <xsd:element name="GSTTotal" minOccurs="0"/>
                                            <xsd:element name="EditedGSTTotal" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Area" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AreaDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_AreaDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AreaRecordCount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GeographicAreaTotal" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="GSTCodeDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="GeoTaxDetail" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="GSTCode" minOccurs="0"/>
                                      <xsd:element name="GSTRate" minOccurs="0"/>
                                      <xsd:element name="EditedGSTRate" minOccurs="0"/>
                                      <xsd:element name="GSTTaxable" minOccurs="0"/>
                                      <xsd:element name="EditedGSTTaxable" minOccurs="0"/>
                                      <xsd:element name="GSTExempt" minOccurs="0"/>
                                      <xsd:element name="EditedGSTExempt" minOccurs="0"/>
                                      <xsd:element name="GSTTotal" minOccurs="0"/>
                                      <xsd:element name="EditedGSTTotal" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="TotalExempt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalExempt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalTaxable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ZeroRated" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedZeroRated" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalInvoiced" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalGST" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTotalGST" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GSTSummary">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GSTCodesTable" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GSTCodeDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ReportTaxDetail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="GSTCode" minOccurs="0"/>
                                <xsd:element name="GSTRate" minOccurs="0"/>
                                <xsd:element name="EditedGSTRate" minOccurs="0"/>
                                <xsd:element name="GSTTaxable" minOccurs="0"/>
                                <xsd:element name="EditedGSTTaxable" minOccurs="0"/>
                                <xsd:element name="GSTExempt" minOccurs="0"/>
                                <xsd:element name="EditedGSTExempt" minOccurs="0"/>
                                <xsd:element name="GSTTotal" minOccurs="0"/>
                                <xsd:element name="EditedGSTTotal" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalExempt" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalExempt" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalTaxable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalTaxable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ZeroRated" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedZeroRated" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalInvoiced" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalInvoiced" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalGST" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalGST" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
