Schemas7/SALQ76OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the Sales Analysis EC Sales Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="SalesAnalysisECCSalesReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SalesAnalysisECSalesReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReportSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MonthEndPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YearEndPeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ServiceEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ServiceEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReprintSinglePeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ReprintSinglePeriod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReprintPeriodMonth" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReprintPeriodYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvoiceDateFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_InvoiceDateFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvoiceDateFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TariffCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_TariffCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TariffCodeFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CompanyDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyTaxRegistration" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodEnding" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AggregateList" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AggregateDetail" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CountryName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerTaxRegistration" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TotalValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedTotalValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TariffCode" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AggregateSummary" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SummaryCountryCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SummaryCountryName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SummaryCustomerTaxNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SummaryProcess" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SummaryValueOfGoods" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedSummaryValueOfGoods" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SummaryLinesCompleted" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SupplementaryDeclaration" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SupplementaryInfo" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SupplementaryKey" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SupplementaryDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TariffCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSalesValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DeliveryTerms" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ShippingLocation" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NatureOfTransaction" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NetMass" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedNetMass" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupplementaryUnits" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupplUnitCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupplUnitDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SupplFactor" type="xsd:double" minOccurs="0"/>
													<xsd:element name="SupplQuantity" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSupplQuantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="InvoiceQuantity" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedInvoiceQuantity" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CountryName" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ModeOfTransport" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CountryOfOriginCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CountryOfOriginName" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
													<xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SupplementarySummary" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SummaryTariffCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SummarySalesValue" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSummarySalesValue" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SummaryDeliveryTerms" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SummaryNatureOfTransaction" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SummaryNetMass" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSummaryNetMass" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SummaryCountryCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SummaryCountryName" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SummaryModeOfTransport" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SummaryNoOfMovements" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedSummaryNoOfMovements" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
