Schemas7/SALQ78OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the Sales Analysis GST Report Business Object 
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="SalesAnalysisGSTReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SalesAnalysisGSTReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MonthToPrint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearToPrint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintRegisterSummary" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintRegisterSummary" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SequenceList">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RegisterSummary" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Register" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Summary" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DocumentDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DocumentTerms" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GSTRegistration" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GeographicArea" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GeographicAreaDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BranchDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DetailLines" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DetailLine" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="Quantity" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="QuantityUnits" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Value" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxStatus" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Translated_TaxStatus" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ForcedExempt" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxRate" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedTaxRate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxAmount" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedTaxAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="SummaryTotals" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="SummaryTax" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="SummaryTaxDetail" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="SumCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SumRate" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="EditedSumRate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="GSTTotal" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="EditedGSTTotal" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="InvoiceAmount" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedInvoiceAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExemptAmount" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedExemptAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedTaxableAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ZeroRated" type="xsd:double" nillable="true" minOccurs="0"/>
                                <xsd:element name="EditedZeroRated" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TotalTaxAmount" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedTotalTaxAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="RegisterTotal" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_Source" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_TaxStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GSTCodes" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="GSTCodeDetails" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="GSTCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="CurrentRate" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedCurrentRate" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PreviousGSTBalance" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedPreviousGSTBalance" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedTaxableAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="GSTAmount" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedGSTAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EndingGSTBalance" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedEndingGSTBalance" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="TotalPreviousGSTBalance" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedTotalPreviousGSTBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalGSTAmount" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedTotalGSTAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalEndingGSTBalance" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedTotalEndingGSTBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxableBalance" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedTotalTaxableBalance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxableAmount" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedTotalTaxableAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxableEndingBalance" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedTotalTaxableEndingBalance" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GSTSummary">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GSTCodesTable" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GSTCodeDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="GSTCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GSTRate" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedGSTRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GSTExempt" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedGSTExempt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GSTTaxable" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedGSTTaxable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GSTTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedGSTTotal" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalExempt" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalExempt" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalTaxable" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalTaxable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ZeroRated" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedZeroRated" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalInvoiced" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalInvoiced" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalGST" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalGST" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
