Schemas7/SALQ77OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--  
     Schema for the Sales Analysis Advanced Sales Tax Business Object 
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Branch" type="xsd:string"/>
  <xsd:element name="CashOrCredit" type="xsd:string"/>
  <xsd:element name="City">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CityCode"/>
        <xsd:element ref="Description"/>
        <xsd:element ref="Details" minOccurs="0"/>
        <xsd:element ref="CityTotals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CityAmount" type="xsd:double"/>
  <xsd:element name="CityCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CityInvoiceAmount" type="xsd:double"/>
  <xsd:element name="CityNonTaxableAmount" type="xsd:double"/>
  <xsd:element name="CityTaxableAmount" type="xsd:double"/>
  <xsd:element name="CityTotalTaxAmount" type="xsd:double"/>
  <xsd:element name="CityTotals">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CityInvoiceAmount"/>
        <xsd:element name="EditedCityInvoiceAmount" type="xsd:string"/>
        <xsd:element ref="CityNonTaxableAmount"/>
        <xsd:element name="EditedCityNonTaxableAmount" type="xsd:string"/>
        <xsd:element ref="CityTaxableAmount"/>
        <xsd:element name="EditedCityTaxableAmount" type="xsd:string"/>
        <xsd:element ref="CityTotalTaxAmount"/>
        <xsd:element name="EditedCityTotalTaxAmount" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CompanyId" type="xsd:string"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="County">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CountyCode"/>
        <xsd:element ref="City"/>
        <xsd:element ref="CountyTotals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CountyAmount" type="xsd:double"/>
  <xsd:element name="CountyCode" type="xsd:string"/>
  <xsd:element name="CountyInvoiceAmount" type="xsd:double"/>
  <xsd:element name="CountyNonTaxableAmount" type="xsd:double"/>
  <xsd:element name="CountyTaxableAmount" type="xsd:double"/>
  <xsd:element name="CountyTotalTaxAmount" type="xsd:double"/>
  <xsd:element name="CountyTotals">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CountyInvoiceAmount"/>
        <xsd:element name="EditedCountyInvoiceAmount" type="xsd:string"/>
        <xsd:element ref="CountyNonTaxableAmount"/>
        <xsd:element name="EditedCountyNonTaxableAmount" type="xsd:string"/>
        <xsd:element ref="CountyTaxableAmount"/>
        <xsd:element name="EditedCountyTaxableAmount" type="xsd:string"/>
        <xsd:element ref="CountyTotalTaxAmount"/>
        <xsd:element name="EditedCountyTotalTaxAmount" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CssStyle" type="xsd:string"/>
  <xsd:element name="Customer" type="xsd:string"/>
  <xsd:element name="Date" type="xsd:string"/>
  <xsd:element name="DateFormat" type="xsd:string"/>
  <xsd:element name="DateSelection" type="xsd:string"/>
  <xsd:element name="DateSelectionForSummaryReport" type="xsd:string"/>
  <xsd:element name="DecFormat" type="xsd:string"/>
  <xsd:element name="Description" type="xsd:string"/>
  <xsd:element name="DetailLine">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Document"/>
        <xsd:element ref="Date"/>
        <xsd:element ref="DocumentType"/>
        <xsd:element ref="Customer"/>
        <xsd:element ref="Branch"/>
        <xsd:element ref="CashOrCredit"/>
        <xsd:element ref="TaxExemptFlag"/>
        <xsd:element name="TaxExemptNumber" type="xsd:string"/>
        <xsd:element ref="InvoiceAmount"/>
        <xsd:element name="EditedInvoiceAmount" type="xsd:string"/>
        <xsd:element ref="NonTaxableAmount"/>
        <xsd:element name="EditedNonTaxableAmount" type="xsd:string"/>
        <xsd:element ref="TaxableAmount"/>
        <xsd:element name="EditedTaxableAmount" type="xsd:string"/>
        <xsd:element ref="StateAmount"/>
        <xsd:element name="EditedStateAmount" type="xsd:string"/>
        <xsd:element ref="CountyAmount"/>
        <xsd:element name="EditedCountyAmount" type="xsd:string"/>
        <xsd:element ref="CityAmount"/>
        <xsd:element name="EditedCityAmount" type="xsd:string"/>
        <xsd:element ref="TotalTaxAmount"/>
        <xsd:element name="EditedTotalTaxAmount" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Details">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DetailLine" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Document" type="xsd:string"/>
  <xsd:element name="DocumentType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FromDate" type="xsd:string"/>
  <xsd:element name="FromPeriod" type="xsd:string"/>
  <xsd:element name="FromYear" type="xsd:string"/>
  <xsd:element name="GlPrdPerYear" type="xsd:string"/>
  <xsd:element name="InvoiceAmount" type="xsd:double"/>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="NonTaxableAmount" type="xsd:double"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorLocation" type="xsd:string"/>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
  <xsd:element name="PeriodSelection" type="xsd:string"/>
  <xsd:element name="QueryOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportType"/>
        <xsd:element name="Translated_ReportType" type="xsd:string"/>
        <xsd:element ref="DateSelectionForSummaryReport"/>
        <xsd:element name="Translated_DateSelectionForSummaryReport" type="xsd:string"/>
        <xsd:element ref="Reprint"/>
        <xsd:element name="Translated_Reprint" type="xsd:string"/>
        <xsd:element ref="PeriodSelection"/>
        <xsd:element name="Translated_PeriodSelection" type="xsd:string"/>
        <xsd:element ref="FromPeriod"/>
        <xsd:element ref="FromYear"/>
        <xsd:element ref="ToPeriod"/>
        <xsd:element ref="ToYear"/>
        <xsd:element ref="DateSelection"/>
        <xsd:element ref="FromDate"/>
        <xsd:element ref="ToDate"/>
        <xsd:element name="Translated_DateSelection" type="xsd:string"/>
        <xsd:element ref="StateSelection"/>
        <xsd:element name="Translated_StateSelection" type="xsd:string"/>
        <xsd:element ref="SingleState"/>
        <xsd:element name="Translated_County" type="xsd:string"/>
        <xsd:element name="Translated_City" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="ReportTotals">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="TotalInvoiceAmount"/>
        <xsd:element name="EditedTotalInvoiceAmount" type="xsd:string"/>
        <xsd:element ref="TotalNonTaxableAmount"/>
        <xsd:element name="EditedTotalNonTaxableAmount" type="xsd:string"/>
        <xsd:element ref="TotalTaxableAmount"/>
        <xsd:element name="EditedTotalTaxableAmount" type="xsd:string"/>
        <xsd:element ref="TotalCityAmount"/>
        <xsd:element name="EditedTotalCityAmount" type="xsd:string"/>
        <xsd:element ref="TotalCountyAmount"/>
        <xsd:element name="EditedTotalCountyAmount" type="xsd:string"/>
        <xsd:element ref="TotalStateAmount"/>
        <xsd:element name="EditedTotalStateAmount" type="xsd:string"/>
        <xsd:element ref="TotalTaxAmount"/>
        <xsd:element name="EditedTotalTaxAmount" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportType" type="xsd:string"/>
  <xsd:element name="Reprint" type="xsd:string"/>
  <xsd:element name="Role" type="xsd:string"/>
  <xsd:element name="SalesAnalysisAdvancedTaxQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="QueryOptions"/>
        <xsd:element ref="SalesTaxList"/>
        <xsd:element ref="ReportTotals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SalesTaxList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="State" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="SingleState" type="xsd:string"/>
  <xsd:element name="State">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StateCode" minOccurs="0"/>
        <xsd:element ref="County" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="StateTotals" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StateAmount" type="xsd:double"/>
  <xsd:element name="StateCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StateInvoiceAmount" type="xsd:double"/>
  <xsd:element name="StateNonTaxableAmount" type="xsd:double"/>
  <xsd:element name="StateSelection" type="xsd:string"/>
  <xsd:element name="StateTaxableAmount" type="xsd:double"/>
  <xsd:element name="StateTotalTaxAmount" type="xsd:double"/>
  <xsd:element name="StateTotals">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StateInvoiceAmount"/>
        <xsd:element name="EditedStateInvoiceAmount" type="xsd:string"/>
        <xsd:element ref="StateNonTaxableAmount"/>
        <xsd:element name="EditedStateNonTaxableAmount" type="xsd:string"/>
        <xsd:element ref="StateTaxableAmount"/>
        <xsd:element name="EditedStateTaxableAmount" type="xsd:string"/>
        <xsd:element ref="StateTotalTaxAmount"/>
        <xsd:element name="EditedStateTotalTaxAmount" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TaxExemptFlag">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TaxableAmount" type="xsd:double"/>
  <xsd:element name="ToDate" type="xsd:string"/>
  <xsd:element name="ToPeriod" type="xsd:string"/>
  <xsd:element name="ToYear" type="xsd:string"/>
  <xsd:element name="TotalCityAmount" type="xsd:double"/>
  <xsd:element name="TotalCountyAmount" type="xsd:double"/>
  <xsd:element name="TotalInvoiceAmount" type="xsd:double"/>
  <xsd:element name="TotalNonTaxableAmount" type="xsd:double"/>
  <xsd:element name="TotalStateAmount" type="xsd:double"/>
  <xsd:element name="TotalTaxAmount" type="xsd:double"/>
  <xsd:element name="TotalTaxableAmount" type="xsd:double"/>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
</xsd:schema>
