Schemas7/SALQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Analysis Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SalesAnalysisOptions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SlsHistUpdMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SABudgRepresents" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvHstWhenChgbud" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesTaxSummReq" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="HistorySetup">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RetDetSlsHist" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RetSummSlsHist" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RetArchSlsHist" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RetSummZoomInd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclMiscChgInHist" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DetKeyOptsSlsPerson" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DetKeyOptsBranch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DetKeyOptsOrdTyp" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DetKeyOptsCustCls" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DetKeyOptsGeoArea" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DetKeyOptsCust" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DetKeyOptsWh" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DetKeyOptsDept" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DetKeyOptsProdCls" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DetKeyOptsStockCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ClrDatForPrimKeyChg" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="History">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="YrsRetDetSlsHist" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YrsRetSummSlsHist" type="xsd:string" minOccurs="0"/>
							<xsd:element name="YrsRetArchSlsHist" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetComm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetTax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetGst" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MthsRetEcVat" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
