Schemas7/SALQ70OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--  
     Schema for the Sales Analysis Profitability Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SalesAnalysisProfitability">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Heading1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Heading2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Heading3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SequenceDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SequenceDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MonthToPrint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearToPrint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MonthYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeTPMValues" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeTPMValues" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoiceDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_InvoiceDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoiceDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoiceNumberFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_InvoiceNumberFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoiceNumberFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SalespersonFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SequenceItem" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SequenceHeader" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SequenceType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceKey" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceTypeDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_SequenceTypeDesc" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ProfitabilityItems" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ProfitabilityItem" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_StockDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockLongDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="InvoiceNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Detail1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RegisterNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Group1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Detail2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_CustomerName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BranchDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalespersonName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GeographicArea" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GeographicAreaDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_DocumentType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Quantity" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QuantityUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DiscountValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedDiscountValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedTaxValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedSalesValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CostValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedCostValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PercentProfit" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedPercentProfit" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MinimumMargin" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedMinimumMargin" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MarginVariance" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedMarginVariance" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ProfitabilityItemTotal" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="DiscountTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDiscountTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTaxTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSalesTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CostTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedCostTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PercentProfitTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedPercentProfitTotal" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReportTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RepDiscountTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRepDiscountTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RepTaxTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRepTaxTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RepSalesTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRepSalesTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RepCostTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRepCostTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RepPercentProfitTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRepPercentProfitTotal" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
