Schemas7/SALSSTDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the SA Sales Targets Setup Program
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SetupSalesTarget">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:annotation>
            <xsd:documentation>This element contains all the relevant information to maintain sales targets</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Key">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Key elements to maintain a sales targets</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SequenceType" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the summary code you wish to maintain.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Sequence1" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the first key (index) that must be used for this code. It is the primary key (index) under which the sales analysis summary records will be stored.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Sequence2" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the second key (index) that must be used for this code. It is the secondary key for the sales analysis summary records, providing Blank was not selected as the key for key area one.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Sequence3" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>This element contains third key (index) that must be used for this code. It is the third key for the sales analysis summary records.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TrnYear" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the posting year.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TrnMonth" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the posting month.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SalesValue" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the sales value.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="CostValue" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the cost value.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Quantity" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the quantity you want to spread over the months.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Mass" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the mass you want to spread over the months.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Volume" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the volume you want to spread over the months.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="DistributeMethod" default="R">
                <xsd:annotation>
                  <xsd:documentation>This element contains the distribution method options R, D, E and M. (R)Repeat amount for each month, (D)Divide amount using default spread and (E)Divide amount equally over months to distribute this amount into the monthly sales targets. (M) is to manually distribute the amount for the specified month. When adding values manually for the first time it will create all the records for the financial year and only write the values for the specified month. Default value is R.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="R"/>
                    <xsd:enumeration value="D"/>
                    <xsd:enumeration value="E"/>
                    <xsd:enumeration value="M"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
