Schemas7/SALSTNDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the SA Intrastat Nature of Tran Maintenance Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Description" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the description of the Transaction Nature. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This is the sub root node,  it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Description"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="TransactionNature"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetupSAIntrastatNatureTranMaint">
    <xsd:annotation>
      <xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TransactionNature" type="xsd:byte">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the Transaction Nature. It is the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
