Schemas7/SALSSTOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the SA Sales Targets Setup Program
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RecordsInvalid" type="xsd:string"/>
  <xsd:element name="RecordsRead" type="xsd:string"/>
  <xsd:element name="StatusOfItems">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="RecordsRead"/>
        <xsd:element ref="RecordsInvalid"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="key"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="sequencetype"/>
        <xsd:element ref="sequence1"/>
        <xsd:element ref="sequence2"/>
        <xsd:element ref="sequence3"/>
        <xsd:element ref="trnyear"/>
        <xsd:element ref="trnmonth"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="sequence1" type="xsd:string"/>
  <xsd:element name="sequence2" type="xsd:string"/>
  <xsd:element name="sequence3" type="xsd:string"/>
  <xsd:element name="sequencetype" type="xsd:string"/>
  <xsd:element name="setupsalestarget">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="item"/>
        <xsd:element ref="StatusOfItems"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="trnmonth" type="xsd:string"/>
  <xsd:element name="trnyear" type="xsd:string"/>
</xsd:schema>
