Schemas7/SALSSSDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the SA Sales Analysis Target Spreads Setup Program
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SetupSalesTargetSpreads">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:annotation>
            <xsd:documentation>This element contains all the relevant information to maintain sales targets spread sheet</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Key">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Key elements to maintain a sales targets spread sheet</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TargetType" default="S">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the target type you wish to maintain. (C) Customer, (P) Product class and (S) Sales history summary.  Default value is S.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="C"/>
                          <xsd:enumeration value="P"/>
                          <xsd:enumeration value="S"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TargetSumSeq" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This element contains the Sales history summary sequence type.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SalesSpread1" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 1.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread1" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 1.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread2" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 2.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread2" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 2.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread3" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 3.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread3" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 3.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread4" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 4.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread4" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 4.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread5" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 5.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread5" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 5.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread6" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 6.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread6" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 6.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread7" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 7.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread7" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 7.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread8" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 8.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread8" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 8.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread9" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 9.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread9" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 9.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread10" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 10.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread10" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 10.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread11" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 11.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread11" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 11.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread12" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 12.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread12" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 12.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SalesSpread13" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Sales targets % spread for month 13.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProfitSpread13" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Profit targets % spread for month 13.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
