Schemas7/SALSSSOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the SA Sales Analysis Target Spreads Setup Program
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RecordsInvalid" type="xsd:string"/>
  <xsd:element name="RecordsRead" type="xsd:string"/>
  <xsd:element name="StatusOfItems">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="RecordsRead"/>
        <xsd:element ref="RecordsInvalid"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="key"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="targettype"/>
        <xsd:element ref="targetsumseq"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="setupsalestargetspreads">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="item"/>
        <xsd:element ref="StatusOfItems"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="targetsumseq" type="xsd:string"/>
  <xsd:element name="targettype" type="xsd:string"/>
</xsd:schema>
