Schemas7/sample_ar_statement_document.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the AR Statement Document Printing Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Documents">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Document" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SystemInformation" minOccurs="0">
								<xsd:complexType>
									<xsd:all minOccurs="0">
										<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
										<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
									</xsd:all>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="HeaderData">
								<xsd:complexType>
									<xsd:all>
										<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddressOne" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddressTwo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddressThree" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyAddressLocality" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyLatitude" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyLongitude" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerName" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Name' Table='ArCustomer' Column='Name' Default='yes' Mandatory='yes' AlignmentValue='Customer name'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerAddressOne" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Address Line 1' Table='ArCustomer' Column='SoldToAddr1'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerAddressTwo" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Address Line 2' Table='ArCustomer' Column='SoldToAddr2'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerAddressThre" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Address Line 3' Table='ArCustomer' Column='SoldToAddr3'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerAddressFour" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Address Line 4' Table='ArCustomer' Column='SoldToAddr4'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerAddressFive" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Address Line 5' Table='ArCustomer' Column='SoldToAddr5'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerPostCode" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Postal Code' Table='ArCustomer' Column='SoldPostalCode'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerAddressLocality" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Address Line 5' Table='ArCustomer' Column='SoldToAddr5'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerLatitude" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Address Line 5' Table='ArCustomer' Column='SoldToAddr5'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerLongitude" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Address Line 5' Table='ArCustomer' Column='SoldToAddr5'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerAccntNumber" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Account Number' Table='ArCustomer' Column='Customer' Default ='yes' Mandatory='yes' AlignmentValue='Cust'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="SalesPersonNumber" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Sales Person Number' Table='ArCustomer' Column='Salesperson' Default='yes'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerShortName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GeographicArea" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UserDefined1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StatementDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="StatementDateCymd" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Statement Date' Table='ArCustomer' Column='DateLastSale' Default='yes' Mandatory='yes'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="InvoiceTerms" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Invoice Terms' Table='ArCustomer' Column='TermsCode'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CompanyRegNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchName" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Branch Name' Table='SalBranch' Column='Description' Default='yes'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="BranchAddressOne" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchAddressTwo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BranchAddressThree" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Currency" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Currency' Table='ArCustomer' Column='Currency' Default='yes'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CurrencyDesc" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Currency Description' Table='TblCurrency' Column='Description'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Contact" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Contact Name' Table='ArCustomer' Column='Contact'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CreditLimit" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Credit Limit'  Table='ArCustomer' Column='CreditLimit'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TaxExemptionNumber" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Tax Number' Table='ArCustomer' Column='TaxExemptNumber'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="FaxNumber" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Fax Number' Table='ArCustomer' Column='Fax'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerTaxNumber" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Company Tax Registration Number' Table='ArCustomer' Column='CompanyTaxNumber'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CustomerEmail" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>Description='Customer Email' Table='ArCustomer' Column='Email'</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
									</xsd:all>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DetailData" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DetailLine" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:choice>
													<xsd:element name="Month_to_date" minOccurs="0">
														<xsd:complexType>
															<xsd:all>
																<xsd:element name="DetNumberOfPayments" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetValuePayment" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetValueDiscount" type="xsd:string" minOccurs="0"/>
															</xsd:all>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Post_Dated_Check" minOccurs="0">
														<xsd:complexType>
															<xsd:all>
																<xsd:element name="DetCheqNumber" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetCheqDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetCheqAmount" type="xsd:string" minOccurs="0"/>
															</xsd:all>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Payment" minOccurs="0">
														<xsd:complexType>
															<xsd:all>
																<xsd:element name="DetPayReference" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetPayDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetPayAmount" type="xsd:string" minOccurs="0"/>
															</xsd:all>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Balance_Brought_Forward" minOccurs="0">
														<xsd:complexType>
															<xsd:all>
																<xsd:element name="DetBalanceFwd" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetBalFwdMsg" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetBalFwdMsgRemit" type="xsd:string" minOccurs="0"/>
															</xsd:all>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Transaction" minOccurs="0">
														<xsd:complexType>
															<xsd:all>
																<xsd:element name="DetTransInvoice" minOccurs="0"/>
																<xsd:element name="DetTransReference" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetTransTypeMsg" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetTransDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetTransDebit" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetTransCredit" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetTransDiscount" type="xsd:string" minOccurs="0"/>
															</xsd:all>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Invoice" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="DetInvoice" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvReference" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvTypeMsg" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvDebit" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvCredit" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvTerms" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvDiscount" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvBalance" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvSubAccount" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvSubAccAddrOne" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvSubAccAddrTwo" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvSubAccStore" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvSalesOrder" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvPODRef" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvDueDate" type="xsd:string" minOccurs="0"/>
																<xsd:element name="DetInvPayments" minOccurs="0">
																	<xsd:complexType>
																		<xsd:all>
																			<xsd:element name="DetInvPayInvoice" minOccurs="0"/>
																			<xsd:element name="DetInvPayReference" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="DetInvPayTypeMsg" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="DetInvPayDate" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="DetInvPayDebit" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="DetInvPayCredit" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="DetInvPayDiscount" type="xsd:string" minOccurs="0"/>
																		</xsd:all>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="CustomFormFields" minOccurs="0">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Prompt1" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value1" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt2" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value2" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt3" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value3" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt4" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value4" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt5" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value5" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt6" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value6" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt7" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value7" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt8" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value8" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt9" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value9" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt10" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value10" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt11" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value11" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt12" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value12" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt13" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value13" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt14" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value14" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt15" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value15" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt16" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value16" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt17" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value17" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt18" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value18" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt19" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value19" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Prompt20" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="Value20" type="xsd:string" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:choice>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TotalData">
								<xsd:complexType>
									<xsd:all>
										<xsd:element name="NumberOfDaysFixed" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingHeadOne" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingHeadTwo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingHeadThree" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingHeadFour" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingHeadFive" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingHeadSix" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustBalExclFutures" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingOne" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingTwo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingThree" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingFour" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingFive" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingSix" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AgeingSeven" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FuturesBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DiscountAvailable" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CreditBalance" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UnallocCheque" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UnavailCheque" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CurrBalLessCheque" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CustomerCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FinanceOne" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FinanceTwo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FinanceThree" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CreditStatusMsg" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SalesMessage" minOccurs="0"/>
									</xsd:all>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
