Schemas7/sample_requisitions_print_document.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!--
     Schema for the Requisitions Document Printing Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Documents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Document" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SystemInformation" minOccurs="0">
                <xsd:complexType>
                  <xsd:all minOccurs="0">
                    <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="HeaderData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressThree" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressLoc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressState" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressCountry" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressPost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressGpsLat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressGpsLon" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressThre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressFour" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressFive" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressLoc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressGpsLat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressGpsLon" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressThr" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressFou" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressFiv" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressLoc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressGpsLat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressGpsLon" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryPostCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Customer" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer' Table='ReqDetail' Column='Customer'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier' Table='ReqDetail' Column='Supplier'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ForeignXchgRate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxRegistrationNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyRegNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerPOrder" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer Purchase Order' Table='ReqDetail' Column='CustomerPoNumber'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RequisitionDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RequisitionDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Date Requisition raised' Table='ReqDetail' Column='DateReqnRaised'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RequisitionDueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RequisitionDueDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Requisition Due Date' Table='ReqDetail' Column='DueDate'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="POrderNumber" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Purchase Order Number' Table='PorMasterHdr' Column='PurchaseOrder'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="POrdMedia" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RequisitionStatus" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Requisition Status' Table='ReqDetail' Column='ReqnStatus'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupplierClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PaymentTerms" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Contact" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierTaxReg" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceTermsDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Requisition" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Requisition Number' Table='PorMasterDetail' Column='MRequisition' Default='yes' Mandatory='yes' AlignmentValue='Requisitio'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="UserCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ContinuationMsg" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DetailData" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DetailLine" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:choice>
                          <xsd:element name="General" minOccurs="0">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetOrigOrderQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockingUOM" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetWarehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSupplierCat" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetLocalPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPriceUOM" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetLineDiscount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetGrossAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSalesTax" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetNetAmountTaxIncl" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetGrossAmtForeign" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetNetAmtForeign" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetNetAmountLocal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInventoryUnitCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetLineDueDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTaxCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUnitFactor" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetMass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUnitVolume" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTariff" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetRequisition" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetRequisitionLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqOriginator" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqOriginatorName" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqReason" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqCapex" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqPord" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqPordLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqPordDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqBuyer" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqBuyerName" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqBuyerEMail" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqHolder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqHolderName" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqStartNotes" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqStartPOcom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqLineStatus" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStkLongDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStkDrawingNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStkVersion" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStkRelease" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetJob" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetLedger" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCatalogueXref" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSupplierDescXref" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSuppLongDescXref" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderLineOXref" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderLineWXref" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderLineEXref" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderLineRXref" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetProductClass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetProdClsDsc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetAltInv" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSalesOrder" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Notepad" minOccurs="0">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetNotepad" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Approved_Manufacturers" minOccurs="0">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="AppManufacturer" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AppManufacturerName" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AppManPartNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AppManPartStatus" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AppManPartRevisionNum" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AppEffectiveDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AppManPartPreferredFlag" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:choice>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="TotTaxableAmt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotTaxAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotHashQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotGrossAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotNetAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotLineDiscount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotOrderDiscount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotNetAmtInclTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotDocumentAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalDocumentAmtFor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotFreight" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotMiscCharges" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotForeignDiscount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotForeignFreight" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotForeignMisc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotForeignGross" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotForeignNetAmt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotForeignTaxAmt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotFrnNetAmtIncTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ForeignXchgRate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotPriceVariance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotPriceVarPerc" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
