Schemas7/sample_ar_discount_notes_document.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the AR Discount Notes Document Printing Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Documents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Document" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SystemInformation" minOccurs="0">
                <xsd:complexType>
                  <xsd:all minOccurs="0">
                    <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="HeaderData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PrintTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressThree" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyGstNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyRegNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer Number' Table='ArCustomer' Column='Customer' Default='yes' Mandatory='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerName" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer Name' Table='ArCustomer' Column='Name' Default='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerAddressOne" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Address Line 1' Table='ArCustomer' Column='SoldToAddr1'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerAddressTwo" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Address Line 2' Table='ArCustomer' Column='SoldToAddr2'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerAddressThree" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Address Line 3' Table='ArCustomer' Column='SoldToAddr3'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerAddressFour" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Address Line 4' Table='ArCustomer' Column='SoldToAddr4'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerAddressFive" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Address Line 5' Table='ArCustomer' Column='SoldToAddr5'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerPostCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Postal Code' Table='ArCustomer' Column='SoldPostalCode'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipAddressOne" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship Address 1' Table='ArCustomer' Column='ShipToAddr1'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipAddressTwo" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship Address 2' Table='ArCustomer' Column='ShipToAddr2'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipAddressThree" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship Address 3' Table='ArCustomer' Column='ShipToAddr3'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipAddressFour" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship Address 4' Table='ArCustomer' Column='ShipToAddr4'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipAddressFive" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship Address 5' Table='ArCustomer' Column='ShipToAddr5'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocumentType" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Document Type' Table='ArDiscDrCrHdr' Column='DocumentType' Default ='yes' Mandatory='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Discount Dr/Cr note number' Table='ArDiscDrCrHdr' Column='DiscDrCr' Default='yes' Mandatory='yes' AlignmentValue='999999'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="BranchName" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Branch Description' Table='SalBranch' Column='Description'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Currency' Table='TblCurrency' Column='Currency'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CurrencyDesc" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Currency Description' Table='TblCurrency' Column='Description'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SystemDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Payment Date' Table='ArDiscDrCrHdr' Column='PayDate' Default='yes' Mandatory='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="InvoiceNumber" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Invoice Number' Table='ArDiscDrCrHdr' Column='Invoice'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DiscountTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DiscountValue" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DetailData" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DetailLine" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:all>
                          <xsd:element name="DetailLine">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="ContMessage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPaymentDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInvoiceNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetDocType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetDiscountValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetDiscountTax" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:all>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="TotalDiscVal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalDiscTax" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
