Schemas7/sample_transfers_out_document.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the Transfers Out Document Printing Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Documents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Document" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SystemInformation" minOccurs="0">
                <xsd:complexType>
                  <xsd:all minOccurs="0">
                    <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="HeaderData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="TransferDocno" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Document Number' Table='InvDocument' Column='Document' Default='yes' Mandatory='yes' AlignmentValue='999999999'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SystemTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DestinationWh" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DestinationWhName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelAddOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelAddTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelAddThre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelAddFour" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelAddFive" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelPostal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelLoc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelGpsLat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelGpsLon" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseContact" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseFax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GoodInTransitRef" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Goods in Transit Reference' Table='InvDocument' Column='Reference'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SourceWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SourceWhName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InterWhLeadTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpectedRecDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReprintMessage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PagePerTransaction" minOccurs="0"/>
                    <xsd:element name="ContinuationMsg" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DetailData" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DetailLine" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="General">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetStockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockCodeDes" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockDescLong" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockUOM" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetProductClass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPosTranQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetNegTranQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranUnitCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranMass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranVolume" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranFromWh" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranReference" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetJournalNum" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetJournalNot" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetLedgerCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetBinLocation" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetLot" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTechSpec" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInspecText" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetDangerousGoodsText" minOccurs="0"/>
                                <xsd:element name="DetPOrderText" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTariffCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetLineNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetEccRevision" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetEccRelease" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SerialItems" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="SerialTracking" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:all>
                                            <xsd:element name="DetSerialNum" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DetSerialBQty" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DetSerialMessage" type="xsd:string" minOccurs="0"/>
                                          </xsd:all>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="TotalTranQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTranValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTranMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTranVolume" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ContinuationMsg" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
