Schemas7/sample_lines_quote_document.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the Quotation Multiple Line Document Printing Business Object
-->
<xsd:schema id="Documents" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Documents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Document" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SystemInformation" minOccurs="0">
                <xsd:complexType>
                  <xsd:all minOccurs="0">
                    <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="HeaderData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressThree" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Customer" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer' Table='QotMaster' Column='Customer' Default='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerName" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer name' Table='QotMaster' Column='CustomerName' Default='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerAddressThre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerAddressFour" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerAddressFive" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer postal code' Table='ArCustomer' Column='SoldPostalCode'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="QuoteMedia" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Contact" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Extension" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Telex" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Email" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Email' Table='ArCustomer' Column='Email'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerPurchOrder" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipCustomerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddressThree" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddressFour" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddressFive" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesPerson" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Sales person' Table='ArCustomer' Column='SalesPerson'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SalesPersonName" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Sales person name' Table='SalSalesPerson' Column='Name'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TenderDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Tender date' Table='QotMaster' Column='DateTenderReq'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TenderDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EnquiryDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Enquiry date' Table='QotMaster' Column='DateEnquiry'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="EnquiryDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship date' Table='QotMaster' Column='DateDeliveryReq' </xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpiryDateCymd" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FollowUpDateCymd" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FollowUpDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SystemDateCymd" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PrintTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipInstructions" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SpecInstructions" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QuotationNumber" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Quotation number' Table='QotMaster' Column='Quote' Default='yes' Mandatory='yes' AlignmentValue='Quote'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="QuotationIssue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Branch" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Branch code' Table='SalBranch' Column='Branch'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="BranchName" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Branch name' Table='SalBranch' Column='Description'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="BranchAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchAddressThree" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceTerms" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxExemption" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GSTRegNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyRegNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CurrencyDescript" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryTerms" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NatureOfTrans" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ModeOfTransport" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Process" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorQuote" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerComment" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AlternateKey" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QuotationDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Contract" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Classification" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QuotationVersion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CusCustomFieldOne" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Cus Custom Field One' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CusCustomFieldTwo" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Cus Custom Field Two' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CusCustomFieldThr" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Cus Custom Field Three' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CusCustomFieldFou" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Cus Custom Field Four' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CusCustomFieldFiv" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Cus Custom Field Five' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CusCustomFieldSix" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Cus Custom Field Six' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CusCustomFieldSev" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Cus Custom Field Seven' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CusCustomFieldEig" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Cus Custom Field Eig' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CusCustomFieldNin" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Cus Custom Field Nine' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CusCustomFieldTen" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Cus Custom Field Ten' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocCustomFieldOne" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Doc Custom Field One' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocCustomFieldTwo" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Doc Custom Field Two' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocCustomFieldThr" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Doc Custom Field Three' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocCustomFieldFou" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Doc Custom Field Four' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocCustomFieldFiv" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Doc Custom Field Five' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocCustomFieldSix" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Doc Custom Field Six' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocCustomFieldSev" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Doc Custom Field Sev' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocCustomFieldEig" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Doc Custom Field Eight' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocCustomFieldNin" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Doc Custom Field Nine' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocCustomFieldTen" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Doc Custom Field  Ten' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomFieldOne" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field One' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomFieldTwo" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field Two' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DetailData" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DetailLine" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Total_Sales_Tax" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TotalTaxData" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:all>
                                      <xsd:element name="SalesTaxOffer" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SalesTaxCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SalesTaxPercent" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="AmtTaxable" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SalesTaxAmount" type="xsd:string" minOccurs="0"/>
                                    </xsd:all>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Miscellaneous_Freight_charges" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DetMiscChargeLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetMiscChargeDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NonDetailOfferData" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:all>
                                      <xsd:element name="DetMiscOffer" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetMiscOffDesc" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetMiscChargeAmt" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetMiscChargeTaxAmt" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetMiscNetAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetMiscSalesTaxCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetMiscGSTPerc" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetMiscGSTCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetMiscGSTAmount" type="xsd:string" minOccurs="0"/>
                                    </xsd:all>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Comment" minOccurs="0">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetCommentLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCommentDescript" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetQuote" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Merchandise" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DetDetailLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStkCompIndent" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockLngDescript" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetWarehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockUnitMeasure" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetOtherUnitMeasure" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSalesTaxCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSalesTaxPercent" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetLineShipDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockUnitVol" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockUnitMass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCustStockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCustRetailPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetGSTCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPercMerch" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUserDefOne" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUserDefTwo" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUserDefThree" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUserDefFour" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUserDefFive" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetVersion" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetRelease" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetMerchLineUserDef" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCompMessage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StkCustomFieldOne" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StkCustomFieldTwo" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StkCustomFieldThr" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StkCustomFieldFou" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StkCustomFieldFiv" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StkCustomFieldSix" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StkCustomFieldSev" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StkCustomFieldEig" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StkCustomFieldNin" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StkCustomFieldTen" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCustomFieldOne" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCustomFieldTwo" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCustomFieldThr" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCustomFieldFou" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCustomFieldFiv" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCustomFieldSix" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCustomFieldSev" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCustomFieldEig" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCustomFieldNin" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetProductClass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetailOfferData" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:all>
                                      <xsd:element name="DetOffer" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetOfferDesc" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetOfferQuantity" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetOfferUnitMeasure" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetUnitPrice" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetPriceUnitMeasure" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetLineDiscPercent" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetSalesTaxLine" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetGrossAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetLineDiscAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetNetAfterDiscount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetNetInclTax" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetUnitFactor" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetLineMass" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetLineMassWhole" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetLineMassRemaind" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetLineVolume" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetLineCommCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetLineCommDesc" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetGrossProfitPerc" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetPricingQty" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetNetUnitPrice" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetUnitPriceInOrder" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetCustTotalRetail" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetPricingContract" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetGSTAmount" type="xsd:string" minOccurs="0"/>
                                    </xsd:all>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="ContinuationMsg" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipCustomerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddressThree" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddressFour" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddressFive" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalOffer1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantity1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMass1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalVolume1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGrossAmount1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmount1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalLineDiscount1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvDiscountAmt1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmtInclTax1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalSalesTax1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvoiceAmount1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvAmtExclTax1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalFreightAmount1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMiscChargesAmt1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCashDiscount1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvLessDisc1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCustRetail1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGSTOutAmount1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGSTAmount1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalOffer2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantity2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMass2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalVolume2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGrossAmount2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmount2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalLineDiscount2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvDiscountAmt2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmtInclTax2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalSalesTax2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvoiceAmount2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvAmtExclTax2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalFreightAmount2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMiscChargesAmt2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCashDiscount2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvLessDisc2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCustRetail2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGSTOutAmount2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGSTAmount2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalOffer3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantity3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMass3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalVolume3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGrossAmount3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmount3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalLineDiscount3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvDiscountAmt3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmtInclTax3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalSalesTax3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvoiceAmount3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvAmtExclTax3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalFreightAmount3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMiscChargesAmt3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCashDiscount3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvLessDisc3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCustRetail3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGSTOutAmount3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGSTAmount3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalOffer4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantity4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMass4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalVolume4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGrossAmount4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmount4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalLineDiscount4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvDiscountAmt4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmtInclTax4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalSalesTax4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvoiceAmount4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvAmtExclTax4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalFreightAmount4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMiscChargesAmt4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCashDiscount4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvLessDisc4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCustRetail4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGSTOutAmount4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGSTAmount4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalOffer5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantity5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMass5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalVolume5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGrossAmount5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmount5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalLineDiscount5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvDiscountAmt5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmtInclTax5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalSalesTax5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvoiceAmount5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvAmtExclTax5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalFreightAmount5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMiscChargesAmt5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCashDiscount5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvLessDisc5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCustRetail5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGSTOutAmount5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGSTAmount5" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
