Schemas7/so_perf_overview_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Performance Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Summary">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TotalQtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="TotalQtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="TotalNetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="TotalInvCount" type="xsd:double" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Detail">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Year1Year" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period1Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period1QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period1QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period1NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period1InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period2Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period2QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period2QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period2NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period2InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period3Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period3QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period3QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period3NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period3InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period4Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period4QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period4QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period4NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period4InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period5Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period5QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period5QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period5NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period5InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period6Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period6QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period6QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period6NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period6InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period7Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period7QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period7QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period7NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period7InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period8Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period8QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period8QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period8NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period8InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period9Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period9QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period9QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period9NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period9InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period10Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period10QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period10QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period10NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period10InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period11Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period11QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period11QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period11NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period11InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period12Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period12QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period12QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period12NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period12InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period13Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period13QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period13QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period13NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year1Period13InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Year" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period1Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period1QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period1QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period1NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period1InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period2Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period2QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period2QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period2NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period2InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period3Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period3QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period3QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period3NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period3InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period4Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period4QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period4QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period4NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period4InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period5Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period5QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period5QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period5NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period5InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period6Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period6QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period6QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period6NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period6InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period7Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period7QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period7QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period7NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period7InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period8Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period8QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period8QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period8NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period8InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period9Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period9QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period9QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period9NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period9InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period10Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period10QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period10QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period10NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period10InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period11Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period11QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period11QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period11NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period11InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period12Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period12QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period12QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period12NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period12InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period13Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period13QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period13QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period13NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year2Period13InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Year" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period1Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period1QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period1QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period1NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period1InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period2Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period2QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period2QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period2NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period2InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period3Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period3QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period3QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period3NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period3InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period4Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period4QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period4QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period4NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period4InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period5Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period5QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period5QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period5NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period5InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period6Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period6QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period6QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period6NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period6InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period7Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period7QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period7QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period7NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period7InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period8Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period8QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period8QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period8NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period8InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period9Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period9QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period9QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period9NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period9InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period10Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period10QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period10QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period10NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period10InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period11Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period11QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period11QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period11NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period11InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period12Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period12QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period12QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period12NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period12InvCount" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period13Number" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period13QtyInvoiced" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period13QtyOutstanding" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period13NetSlsValExTax" type="xsd:double" minOccurs="0"/>
				<xsd:element name="Year3Period13InvCount" type="xsd:double" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SalesOrderPerformance">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="Summary"/>
				<xsd:element ref="Detail"/>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>							
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DateSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclSubTotalsBranch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TopBottomBranches" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberBranches" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchesBasedOnMeasure" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclSubTotalsArea" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TopBottomAreas" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberAreas" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AreasBasedOnMeasure" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclSubTotalsOrderType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TopBottomOrderTypes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberOrderTypes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OrderTypesBasedOnMeasure" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclSubTotalsCustomerClass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TopBottomCustomerClasses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberCustomerClasses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerClassesBasedOnMeasure" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclSubTotalsSalesPerson" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TopBottomSalesPersons" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberSalesPersons" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesPersonsBasedOnMeasure" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclSubTotalsCustomer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TopBottomCustomers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberCustomers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomersBasedOnMeasure" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclSubTotalsStockCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TopBottomStockCodes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberStockCodes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodesBasedOnMeasure" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclSubTotalsProductClass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TopBottomProductClasses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberProductClasses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductClassesBasedOnMeasure" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InclSubTotalsWarehouse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TopBottomWarehouses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumberWarehouses" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehousesBasedOnMeasure" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectedDateFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectedDateFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TrnYearFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TrnYearFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TrnMonthFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TrnMonthFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AreaFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AreaFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OrderTypeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OrderTypeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerClassFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerClassFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesPersonFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesPersonFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Branches">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Branch" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BranchHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="BranchCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SALBRN_Description" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Summary" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element ref="Detail" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SalesPersons">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SalesPerson" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SalesPersonHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SalesPersonCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SALSLS_Description" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Summary" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element ref="Detail" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Customers">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Customer" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CustomerHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CustomerNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ARSMST_Description" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Summary" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element ref="Detail" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OrderTypes">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OrderType" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="OrderTypeHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TBLTYP_Description" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Summary" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element ref="Detail" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="StockCodes">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="StockCode" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StockCodeHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
													<xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Summary" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element ref="Detail" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Warehouses">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Warehouse" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="WarehouseHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
													<xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Summary" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element ref="Detail" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Areas">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Area" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AreaHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Area" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SALARE_Description" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Summary" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element ref="Detail" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ProductClasses">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProductClass" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ProductClassHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
													<xsd:element name="SALPDS_Description" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Summary" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element ref="Detail" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CustomerClasses">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CustomerClass" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CustomerClassHeader" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CustomerClass" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TBLARC_Description" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Summary" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element ref="Detail" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
