Schemas7/so_rma_outstanding_authorizations.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     Schema for the RMA Outstanding Authorizations Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CrossShipments">
    <xsd:annotation>
      <xsd:documentation>This determines if you want include cross shipments. I - Include; E - Exclude; O - Only. Default - I - Include.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;I=Include;E=Exclude;O=Only"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="I"/>
        <xsd:enumeration value="E"/>
        <xsd:enumeration value="O"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Customer">
    <xsd:annotation>
      <xsd:documentation>This will determine the data pertaining to a specific customer. A - All; R - Range; A - Single. Default A - All.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=ArCustomer;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:annotation>
      <xsd:documentation>This contains one or more filters to restrict the information returned.</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="User"/>
        <xsd:element ref="Customer"/>
        <xsd:element ref="RMANumber"/>
        <xsd:element ref="RMAProblemCode"/>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="RMAIssueDate"/>
        <xsd:element ref="RMAReturnDate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IncludeActionComments">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include the action comments on the report. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeDefectiveCredits">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include items that have been returned as defective credits. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeDefectiveInWarranty">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include items that have been returned as defective in warranty. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeDefectiveOutOfWarranty">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include items that have been returned as defective out of warranty. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeGeneralReturns">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include items that have been returned as general returns. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeInInspectionItems">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include items that are in inpection. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeIncorrectOrder">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include items that have been returned as incorrect orders. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeIncorrectShipment">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include items that have been returned as incorrectly shipped. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeNarrationItems">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include items that are narration items. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeNoActionItems">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include items that have no action specified. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeProblemComments">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include the problem comments on the report. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeShortShipment">
    <xsd:annotation>
      <xsd:documentation>This wil determine if you want to include items that have been returned as short shippeds. Y - Yes; No - No. Default Y - Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:annotation>
      <xsd:documentation>List of options</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportSequence"/>
        <xsd:element ref="CrossShipments"/>
        <xsd:element ref="IncludeDefectiveCredits"/>
        <xsd:element ref="IncludeDefectiveInWarranty"/>
        <xsd:element ref="IncludeDefectiveOutOfWarranty"/>
        <xsd:element ref="IncludeIncorrectOrder"/>
        <xsd:element ref="IncludeIncorrectShipment"/>
        <xsd:element ref="IncludeShortShipment"/>
        <xsd:element ref="IncludeGeneralReturns"/>
        <xsd:element ref="IncludeInInspectionItems"/>
        <xsd:element ref="IncludeNarrationItems"/>
        <xsd:element ref="IncludeNoActionItems"/>
        <xsd:element ref="IncludeProblemComments"/>
        <xsd:element ref="IncludeActionComments"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>This is the root node</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RMAIssueDate">
    <xsd:annotation>
      <xsd:documentation>You use this field to select outstanding authorizations for printing based on the issue date. A - All; R - Range; A - Single. Default A - All.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse={date};A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RMANumber">
    <xsd:annotation>
      <xsd:documentation>This will determine the data pertaining to a specific RMA number. A - All; R - Range; A - Single. Default A - All.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=RmaMaster;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RMAProblemCode">
    <xsd:annotation>
      <xsd:documentation>This will determine the data pertaining to a specific problem code. A - All; R - Range; A - Single. Default A - All.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=RmaProblemCodes;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RMAReturnDate">
    <xsd:annotation>
      <xsd:documentation>You use this field to select outstanding authorizations for printing based on the return date. A - All; R - Range; A - Single. Default A - All.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse={date};A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportSequence">
    <xsd:annotation>
      <xsd:documentation>This determines in which sequence the report will be returned. R - RMA; C - Customer Code. Default R - RMA.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;R=RMA number;C=Customer code"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="R"/>
        <xsd:enumeration value="C"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>This will determine the data pertaining to a specific stock code. A - All; R - Range; A - Single. Default A - All.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=InvMaster;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="User">
    <xsd:annotation>
      <xsd:documentation>This will determine the data pertaining to a specific user. A - All; R - Range; A - Single. Default A - All.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
