Schemas7/so_sales_contract_price_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the Sales Order Contract Pricing List Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="SOContractPricingList" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SOContractPricingList">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ContractTypes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FlatPrice" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CodedPrice" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QuantityDiscountBreaks" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ListPriceLessPercentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ListPriceLessChainDiscount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PriceCodeLessChainDiscount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MarkupCostByPercentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CodedLessUnitDiscountValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeMarkupListPrcPct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintGrossprofitPercentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseToUseForCosts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintContractsExpiringBefore" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPageOnChange" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StartDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StartDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyingGroupFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyingGroupFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContractFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ContractFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesPersonFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesPersonFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerClassFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PricingContracts">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SelectionType" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SelectionKey" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SelectionKeyDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BuyingGroup" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BuyingGroupDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockCodes" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockLongDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClassDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Cost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ListPrice" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedListPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PricingUnitOfMeasure" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockWarehouseMsg" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Contracts" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Contract" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StartDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EndDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PricingMethod" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PricingMethodDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ChainDiscount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ChainDiscount1" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ChainDiscount2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Percentage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PriceCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MarkupPercentage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ListPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Price" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PriceUom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DiscountValue" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedDiscountValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RoundedPrice" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedRoundedPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PricingMethodMessage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CurrencyMessage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QtyCurrencyMessage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CustomerRetailPrice" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedCustomerRetailPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GrossProfitPercentage" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="ContractUnitOfMeasure" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NegativePrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PriceCodeMessage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StockWarehouseMsg" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="QuantityDiscounts" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Quantity" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="QuantityUnits" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedQuantity" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QtyDiscountCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QtyCurrency" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QtyCurrencyDescription" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QtyDiscountPercentage" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="PriceCodeMessage" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QtyContractUnitOfMeasure" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QtyPrice" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedQtyPrice" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QtyRoundedPrice" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedQtyRoundedPrice" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="QtyGrossProfitPercentage" type="xsd:double" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_All" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Coded" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Coded_less_unit_discount_value" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Buying_groups" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Buying_group" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Customers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Customer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_None" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Start_date" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Expiry_date_before" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Expiry_date_after" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Flat_price" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_List_price_less_a_chain_discount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_List_price_less_a_percentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Mark_up_cost_by_a_percentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Negative_price" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Yes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_No" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Price_code_less_a_chain_discount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Quantity_discounted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Mark_up_cost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_List_price" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_List_price_less" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_List_price_less_chain" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Quantity_discount_breaks" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Code" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_less_chain" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_less_unit_discount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Price_code_not_on_file" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Not_stocked_in_selected_warehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Cost_price" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Local_Currency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Mark_up_list_price" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
