Schemas7/SORQLOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the SO Load Planning Sales Order Lines Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AvailableToShip">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:enumeration value="1.000000"/>
        <xsd:enumeration value="10.000000"/>
        <xsd:enumeration value="15.000000"/>
        <xsd:enumeration value="16.000000"/>
        <xsd:enumeration value="2.000000"/>
        <xsd:enumeration value="20.000000"/>
        <xsd:enumeration value="3.000000"/>
        <xsd:enumeration value="5.000000"/>
        <xsd:enumeration value="8.000000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BOMQtyPerDecimals" type="xsd:byte"/>
  <xsd:element name="BackOrderQuantity">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:enumeration value="0.000000"/>
        <xsd:enumeration value="14.000000"/>
        <xsd:enumeration value="20.000000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CompanyId" type="xsd:boolean"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="Complete" type="xsd:string"/>
  <xsd:element name="CompleteSalesOrderLine" type="xsd:string"/>
  <xsd:element name="CssStyle">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Customer">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="000000000000001"/>
        <xsd:enumeration value="000000000000002"/>
        <xsd:enumeration value="000000000000003"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CustomerName" type="xsd:string"/>
  <xsd:element name="DateFormat" type="xsd:byte"/>
  <xsd:element name="DecCharToUse" type="xsd:string"/>
  <xsd:element name="DecFormat" type="xsd:boolean"/>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrderType"/>
        <xsd:element ref="SalesOrderF"/>
        <xsd:element ref="SalesOrderT"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GlPrdPerYear" type="xsd:byte"/>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="LoadItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrder"/>
        <xsd:element ref="SalesOrderLine"/>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="StockDescription"/>
        <xsd:element ref="Warehouse"/>
        <xsd:element ref="Volume"/>
        <xsd:element ref="Mass"/>
        <xsd:element ref="TotalShippedQuantity"/>
        <xsd:element ref="AvailableToShip"/>
        <xsd:element ref="BackOrderQuantity"/>
        <xsd:element ref="QuantityToShip"/>
        <xsd:element ref="Status" minOccurs="0"/>
        <xsd:element ref="ShipDate" minOccurs="0"/>
        <xsd:element ref="Complete" minOccurs="0"/>
        <xsd:element ref="RequestDate" minOccurs="0"/>
        <xsd:element ref="Customer" minOccurs="0"/>
        <xsd:element ref="CustomerName"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LoadPlanningSalesOrderLinesQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="Options"/>
        <xsd:element ref="LoadItem" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="Mass">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:enumeration value="0.250000"/>
        <xsd:enumeration value="0.500000"/>
        <xsd:enumeration value="1.000000"/>
        <xsd:enumeration value="10.000000"/>
        <xsd:enumeration value="12.000000"/>
        <xsd:enumeration value="3.000000"/>
        <xsd:enumeration value="4.000000"/>
        <xsd:enumeration value="9.000000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NoOfDigits" type="xsd:byte"/>
  <xsd:element name="NumberOfDaysAfterToday" type="xsd:boolean"/>
  <xsd:element name="NumberOfDaysBeforeToday" type="xsd:boolean"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorLocation">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="NumberOfDaysBeforeToday"/>
        <xsd:element ref="NumberOfDaysAfterToday"/>
        <xsd:element ref="CompleteSalesOrderLine"/>
        <xsd:element ref="SalesOrderInSuspense"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Options">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="QuantityToShip">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:enumeration value="0.000000"/>
        <xsd:enumeration value="1.000000"/>
        <xsd:enumeration value="10.000000"/>
        <xsd:enumeration value="15.000000"/>
        <xsd:enumeration value="2.000000"/>
        <xsd:enumeration value="3.000000"/>
        <xsd:enumeration value="5.000000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="RequestDate" type="xsd:string"/>
  <xsd:element name="Role" type="xsd:byte"/>
  <xsd:element name="SalesOrder">
    <xsd:simpleType>
      <xsd:restriction base="xsd:short">
        <xsd:enumeration value="000000000000871"/>
        <xsd:enumeration value="000000000000872"/>
        <xsd:enumeration value="000000000000873"/>
        <xsd:enumeration value="000000000000890"/>
        <xsd:enumeration value="000000000000891"/>
        <xsd:enumeration value="000000000000892"/>
        <xsd:enumeration value="000000000000894"/>
        <xsd:enumeration value="000000000000896"/>
        <xsd:enumeration value="000000000000897"/>
        <xsd:enumeration value="000000000000899"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesOrderF">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SalesOrderInSuspense" type="xsd:string"/>
  <xsd:element name="SalesOrderLine">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="2"/>
        <xsd:enumeration value="3"/>
        <xsd:enumeration value="4"/>
        <xsd:enumeration value="5"/>
        <xsd:enumeration value="6"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesOrderT">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SalesOrderType" type="xsd:string"/>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="ShipDate" type="xsd:string"/>
  <xsd:element name="Status" type="xsd:string"/>
  <xsd:element name="StockCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:hexBinary">
        <xsd:enumeration value="A100"/>
        <xsd:enumeration value="A101"/>
        <xsd:enumeration value="A102"/>
        <xsd:enumeration value="A130"/>
        <xsd:enumeration value="A200"/>
        <xsd:enumeration value="A201"/>
        <xsd:enumeration value="A203"/>
        <xsd:enumeration value="A301"/>
        <xsd:enumeration value="A302"/>
        <xsd:enumeration value="A303"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockDescription" type="xsd:string"/>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
        <xsd:element ref="NoOfDigits"/>
        <xsd:element ref="DecCharToUse"/>
        <xsd:element ref="BOMQtyPerDecimals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TotalShippedQuantity">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:enumeration value="1.000000"/>
        <xsd:enumeration value="10.000000"/>
        <xsd:enumeration value="15.000000"/>
        <xsd:enumeration value="16.000000"/>
        <xsd:enumeration value="2.000000"/>
        <xsd:enumeration value="20.000000"/>
        <xsd:enumeration value="3.000000"/>
        <xsd:enumeration value="5.000000"/>
        <xsd:enumeration value="8.000000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
  <xsd:element name="Volume">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:enumeration value="0.000000"/>
        <xsd:enumeration value="0.300000"/>
        <xsd:enumeration value="0.340000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="E"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
