Schemas7/SORQBZOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XMLOUT instance to demonstrate
     use of the Sales Order Lines Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Customer" type="xsd:string"/>
  <xsd:element name="CustomerName" type="xsd:string"/>
  <xsd:element name="EditedMBackOrderQty" type="xsd:string"/>
  <xsd:element name="EditedMBackOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="EditedMOrderQty" type="xsd:string"/>
  <xsd:element name="EditedMOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="EditedMQtyDispatched" type="xsd:string"/>
  <xsd:element name="EditedMShipQty" type="xsd:string"/>
  <xsd:element name="EditedMStockQtyToShp" type="xsd:string"/>
  <xsd:element name="EditedNMscChargeQty" type="xsd:string"/>
  <xsd:element name="EditedQtyReserved" type="xsd:string"/>
  <xsd:element name="EditedQtyReservedShip" type="xsd:string"/>
  <xsd:element name="HOrderType" type="xsd:string"/>
  <xsd:element name="IsSCT" type="xsd:string"/>
  <xsd:element name="LineDiscount" type="xsd:string"/>
  <xsd:element name="LineType" type="xsd:string"/>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDescription" type="xsd:string"/>
  <xsd:element name="MBackOrderQty" type="xsd:string"/>
  <xsd:element name="MBackOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="MBackOrderQtyInStockingUmUnits" type="xsd:string"/>
  <xsd:element name="MBackOrderQtyUnits" type="xsd:string"/>
  <xsd:element name="MBin" type="xsd:string"/>
  <xsd:element name="MContract" type="xsd:string"/>
  <xsd:element name="MCustRequestDat" type="xsd:string"/>
  <xsd:element name="MHierarchyJob" type="xsd:string"/>
  <xsd:element name="MLineShipDate" type="xsd:string"/>
  <xsd:element name="MOrderQty" type="xsd:string"/>
  <xsd:element name="MOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="MOrderQtyInStockingUmUnits" type="xsd:string"/>
  <xsd:element name="MOrderQtyUnits" type="xsd:string"/>
  <xsd:element name="MOrderUom" type="xsd:string"/>
  <xsd:element name="MPrice" type="xsd:string"/>
  <xsd:element name="MPriceCode" type="xsd:string"/>
  <xsd:element name="MPriceUom" type="xsd:string"/>
  <xsd:element name="MProductClass" type="xsd:string"/>
  <xsd:element name="MProductClassDesc" type="xsd:string"/>
  <xsd:element name="MQtyDispatched" type="xsd:string"/>
  <xsd:element name="MQtyDispatchedUnits" type="xsd:string"/>
  <xsd:element name="MRelease" type="xsd:string"/>
  <xsd:element name="MShipQty" type="xsd:string"/>
  <xsd:element name="MShipQtyUnits" type="xsd:string"/>
  <xsd:element name="MStockCode" type="xsd:string"/>
  <xsd:element name="MStockDes" type="xsd:string"/>
  <xsd:element name="MStockQtyToShp" type="xsd:string"/>
  <xsd:element name="MStockQtyToShpUnits" type="xsd:string"/>
  <xsd:element name="MStockUnitMass" type="xsd:string"/>
  <xsd:element name="MStockUnitVol" type="xsd:string"/>
  <xsd:element name="MStockingUom" type="xsd:string"/>
  <xsd:element name="MTaxCode" type="xsd:string"/>
  <xsd:element name="MUnitCost" type="xsd:string"/>
  <xsd:element name="MUserDef" type="xsd:string"/>
  <xsd:element name="MVersion" type="xsd:string"/>
  <xsd:element name="MWarehouse" type="xsd:string"/>
  <xsd:element name="MWarehouseDesc" type="xsd:string"/>
  <xsd:element name="NComment" type="xsd:string"/>
  <xsd:element name="NMscChargeQty" type="xsd:string"/>
  <xsd:element name="NMscChargeQtyUnits" type="xsd:string"/>
  <xsd:element name="NMscChargeValue" type="xsd:string"/>
  <xsd:element name="NMscInvCharge" type="xsd:string"/>
  <xsd:element name="NMscProductCls" type="xsd:string"/>
  <xsd:element name="NMscTaxCode" type="xsd:string"/>
  <xsd:element name="NSrvChargeType" type="xsd:string"/>
  <xsd:element name="OrderCurrency" type="xsd:string"/>
  <xsd:element name="OrderLineValue" type="xsd:string"/>
  <xsd:element name="OutStandingValue" type="xsd:string"/>
  <xsd:element name="QtyReserved" type="xsd:string"/>
  <xsd:element name="QtyReservedShip" type="xsd:string"/>
  <xsd:element name="QtyReservedShipUnits" type="xsd:string"/>
  <xsd:element name="QtyReservedUnits" type="xsd:string"/>
  <xsd:element name="SalesOrder" type="xsd:string"/>
  <xsd:element name="SalesOrderLine">
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:element ref="SalesOrder" minOccurs="0"/>
        <xsd:element ref="Customer" minOccurs="0"/>
        <xsd:element ref="CustomerName" minOccurs="0"/>
        <xsd:element ref="LineType" minOccurs="0"/>
        <xsd:element ref="SalesOrderLine" minOccurs="0"/>
        <xsd:element ref="IsSCT" minOccurs="0"/>
        <xsd:element ref="SourceWarehouse" minOccurs="0"/>
        <xsd:element ref="SourceWarehouseDesc" minOccurs="0"/>
        <xsd:element ref="TargetWarehouse" minOccurs="0"/>
        <xsd:element ref="TargetWarehouseDesc" minOccurs="0"/>
        <xsd:element ref="MStockCode" minOccurs="0"/>
        <xsd:element ref="MStockDes" minOccurs="0"/>
        <xsd:element ref="MProductClass" minOccurs="0"/>
        <xsd:element ref="MProductClassDesc" minOccurs="0"/>
        <xsd:element ref="MWarehouse" minOccurs="0"/>
        <xsd:element ref="MWarehouseDesc" minOccurs="0"/>
        <xsd:element ref="MBin" minOccurs="0"/>
        <xsd:element ref="MOrderQty" minOccurs="0"/>
        <xsd:element ref="MOrderQtyUnits" minOccurs="0"/>
        <xsd:element ref="EditedMOrderQty" minOccurs="0"/>
        <xsd:element ref="MOrderQtyInStockingUm" minOccurs="0"/>
        <xsd:element ref="MOrderQtyInStockingUmUnits" minOccurs="0"/>
        <xsd:element ref="EditedMOrderQtyInStockingUm" minOccurs="0"/>
        <xsd:element ref="MShipQty" minOccurs="0"/>
        <xsd:element ref="MShipQtyUnits" minOccurs="0"/>
        <xsd:element ref="EditedMShipQty" minOccurs="0"/>
        <xsd:element ref="QtyReserved" minOccurs="0"/>
        <xsd:element ref="QtyReservedUnits" minOccurs="0"/>
        <xsd:element ref="EditedQtyReserved" minOccurs="0"/>
        <xsd:element ref="MStockQtyToShp" minOccurs="0"/>
        <xsd:element ref="MStockQtyToShpUnits" minOccurs="0"/>
        <xsd:element ref="EditedMStockQtyToShp" minOccurs="0"/>
        <xsd:element ref="QtyReservedShip" minOccurs="0"/>
        <xsd:element ref="QtyReservedShipUnits" minOccurs="0"/>
        <xsd:element ref="EditedQtyReservedShip" minOccurs="0"/>
        <xsd:element ref="MBackOrderQty" minOccurs="0"/>
        <xsd:element ref="MBackOrderQtyUnits" minOccurs="0"/>
        <xsd:element ref="EditedMBackOrderQty" minOccurs="0"/>
        <xsd:element ref="MBackOrderQtyInStockingUm" minOccurs="0"/>
        <xsd:element ref="MBackOrderQtyInStockingUmUnits" minOccurs="0"/>
        <xsd:element ref="EditedMBackOrderQtyInStockingUm" minOccurs="0"/>
        <xsd:element ref="MQtyDispatched" minOccurs="0"/>
        <xsd:element ref="MQtyDispatchedUnits" minOccurs="0"/>
        <xsd:element ref="EditedMQtyDispatched" minOccurs="0"/>
        <xsd:element ref="MOrderUom" minOccurs="0"/>
        <xsd:element ref="MStockingUom" minOccurs="0"/>
        <xsd:element ref="MPrice" minOccurs="0"/>
        <xsd:element ref="MUnitCost" minOccurs="0"/>
        <xsd:element ref="MPriceUom" minOccurs="0"/>
        <xsd:element ref="OrderLineValue" minOccurs="0"/>
        <xsd:element ref="MLineShipDate" minOccurs="0"/>
        <xsd:element ref="MCustRequestDat" minOccurs="0"/>
        <xsd:element ref="SalesOrder" minOccurs="0"/>
        <xsd:element ref="Customer" minOccurs="0"/>
        <xsd:element ref="CustomerName" minOccurs="0"/>
        <xsd:element ref="LineType" minOccurs="0"/>
        <xsd:element ref="SalesOrderLine" minOccurs="0"/>
        <xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IsSCT" minOccurs="0"/>
        <xsd:element ref="SourceWarehouse" minOccurs="0"/>
        <xsd:element ref="SourceWarehouseDesc" minOccurs="0"/>
        <xsd:element ref="TargetWarehouse" minOccurs="0"/>
        <xsd:element ref="TargetWarehouseDesc" minOccurs="0"/>
        <xsd:element ref="MStockCode" minOccurs="0"/>
        <xsd:element ref="MStockDes" minOccurs="0"/>
        <xsd:element ref="MProductClass" minOccurs="0"/>
        <xsd:element ref="MProductClassDesc" minOccurs="0"/>
        <xsd:element ref="MWarehouse" minOccurs="0"/>
        <xsd:element ref="MWarehouseDesc" minOccurs="0"/>
        <xsd:element ref="MBin" minOccurs="0"/>
        <xsd:element ref="MOrderQty" minOccurs="0"/>
        <xsd:element ref="MOrderQtyUnits" minOccurs="0"/>
        <xsd:element ref="EditedMOrderQty" minOccurs="0"/>
        <xsd:element ref="MOrderQtyInStockingUm" minOccurs="0"/>
        <xsd:element ref="MOrderQtyInStockingUmUnits" minOccurs="0"/>
        <xsd:element ref="EditedMOrderQtyInStockingUm" minOccurs="0"/>
        <xsd:element ref="MShipQty" minOccurs="0"/>
        <xsd:element ref="MShipQtyUnits" minOccurs="0"/>
        <xsd:element ref="EditedMShipQty" minOccurs="0"/>
        <xsd:element ref="QtyReserved" minOccurs="0"/>
        <xsd:element ref="QtyReservedUnits" minOccurs="0"/>
        <xsd:element ref="EditedQtyReserved" minOccurs="0"/>
        <xsd:element ref="MStockQtyToShp" minOccurs="0"/>
        <xsd:element ref="MStockQtyToShpUnits" minOccurs="0"/>
        <xsd:element ref="EditedMStockQtyToShp" minOccurs="0"/>
        <xsd:element ref="QtyReservedShip" minOccurs="0"/>
        <xsd:element ref="QtyReservedShipUnits" minOccurs="0"/>
        <xsd:element ref="EditedQtyReservedShip" minOccurs="0"/>
        <xsd:element ref="MBackOrderQty" minOccurs="0"/>
        <xsd:element ref="MBackOrderQtyUnits" minOccurs="0"/>
        <xsd:element ref="EditedMBackOrderQty" minOccurs="0"/>
        <xsd:element ref="MBackOrderQtyInStockingUm" minOccurs="0"/>
        <xsd:element ref="MBackOrderQtyInStockingUmUnits" minOccurs="0"/>
        <xsd:element ref="EditedMBackOrderQtyInStockingUm" minOccurs="0"/>
        <xsd:element ref="MQtyDispatched" minOccurs="0"/>
        <xsd:element ref="MQtyDispatchedUnits" minOccurs="0"/>
        <xsd:element ref="EditedMQtyDispatched" minOccurs="0"/>
        <xsd:element ref="MOrderUom" minOccurs="0"/>
        <xsd:element ref="MStockingUom" minOccurs="0"/>
        <xsd:element ref="MPrice" minOccurs="0"/>
        <xsd:element ref="MUnitCost" minOccurs="0"/>
        <xsd:element ref="MPriceUom" minOccurs="0"/>
        <xsd:element ref="OrderLineValue" minOccurs="0"/>
        <xsd:element ref="MLineShipDate" minOccurs="0"/>
        <xsd:element ref="MCustRequestDat" minOccurs="0"/>
        <xsd:element ref="MHierarchyJob" minOccurs="0"/>
        <xsd:element ref="MVersion" minOccurs="0"/>
        <xsd:element ref="MRelease" minOccurs="0"/>
        <xsd:element ref="MStockUnitMass" minOccurs="0"/>
        <xsd:element ref="MStockUnitVol" minOccurs="0"/>
        <xsd:element ref="MContract" minOccurs="0"/>
        <xsd:element ref="MTaxCode" minOccurs="0"/>
        <xsd:element ref="MPriceCode" minOccurs="0"/>
        <xsd:element ref="LineDiscount" minOccurs="0"/>
        <xsd:element ref="NMscProductCls" minOccurs="0"/>
        <xsd:element ref="NMscChargeValue" minOccurs="0"/>
        <xsd:element ref="NComment" minOccurs="0"/>
        <xsd:element ref="NMscTaxCode" minOccurs="0"/>
        <xsd:element ref="NMscChargeQty" minOccurs="0"/>
        <xsd:element ref="NMscChargeQtyUnits" minOccurs="0"/>
        <xsd:element ref="EditedNMscChargeQty" minOccurs="0"/>
        <xsd:element ref="NSrvChargeType" minOccurs="0"/>
        <xsd:element ref="NMscInvCharge" minOccurs="0"/>
        <xsd:element ref="MUserDef" minOccurs="0"/>
        <xsd:element ref="OrderCurrency" minOccurs="0"/>
        <xsd:element ref="LocalCurrency" minOccurs="0"/>
        <xsd:element ref="LocalCurrencyDescription" minOccurs="0"/>
        <xsd:element ref="HOrderType" minOccurs="0"/>
        <xsd:element ref="OutStandingValue" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SourceWarehouse" type="xsd:string"/>
  <xsd:element name="SourceWarehouseDesc" type="xsd:string"/>
  <xsd:element name="TargetWarehouse" type="xsd:string"/>
  <xsd:element name="TargetWarehouseDesc" type="xsd:string"/>
</xsd:schema>
