Schemas7/SORQS1OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Dispatch Notes Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DispatchNotesOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Company">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="General1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DispNumMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NxtDispNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApplyCredChkToDispNotes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DescDispUdf1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DescDispUdf2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AccPercToleranceDisp" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="General2">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="FrtChgProc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MiscChgProc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CommLnProc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefDateDispNote" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Options">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BasisForSOIncl" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OverDispAllow" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RetainOrgQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnderDispAllow" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseDispNoteToConfDel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AmendDispNotePrtReq" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintDispLnWithZeroDispQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ManRelToInv" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SaveCustomFrmForDispInv" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OnlnPrtOps" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvReprtAllow" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrtDispLnsOnInv" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CanDispNoteLinesCan" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseNonStkLedgerFrmBranch" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
