Schemas7/SORQCSOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the SO Counter Sales Payment Print Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Amount" type="xsd:string"/>
	<xsd:element name="AuthNumber" type="xsd:string"/>
	<xsd:element name="Balance" type="xsd:string"/>
	<xsd:element name="Branch" type="xsd:string"/>
	<xsd:element name="BranchName" type="xsd:string"/>
	<xsd:element name="CompanyId" type="xsd:string"/>
	<xsd:element name="CompanyName" type="xsd:string"/>
	<xsd:element name="Contact" type="xsd:string"/>
	<xsd:element name="CounterSalesPaymentInvoice">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SystemInformation" minOccurs="0"/>
				<xsd:element ref="Header"/>
				<xsd:element ref="Details"/>
				<xsd:element ref="Total"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CreditCardNumber" type="xsd:string"/>
	<xsd:element name="CssStyle">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Customer" type="xsd:string"/>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:element name="Details">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Line" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ExpiryDate" type="xsd:string"/>
	<xsd:element name="Header">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InvoiceNumber"/>
				<xsd:element ref="Customer"/>
				<xsd:element ref="Name"/>
				<xsd:element ref="Contact"/>
				<xsd:element ref="Telephone"/>
				<xsd:element ref="MasterAccount" minOccurs="0"/>
				<xsd:element ref="StoreNumber" minOccurs="0"/>
				<xsd:element ref="Balance"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InvoiceNumber" type="xsd:string"/>
	<xsd:element name="Line">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PaymentCode"/>
				<xsd:element ref="Description"/>
				<xsd:element ref="Amount"/>
				<xsd:element ref="Reference"/>
				<xsd:element ref="Notation"/>
				<xsd:element ref="CreditCardNumber" minOccurs="0"/>
				<xsd:element ref="StartDate" minOccurs="0"/>
				<xsd:element ref="ExpiryDate" minOccurs="0"/>
				<xsd:element ref="AuthNumber" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MasterAccount" type="xsd:string"/>
	<xsd:element name="Name" type="xsd:string"/>
	<xsd:element name="Notation" type="xsd:string"/>
	<xsd:element name="OperatorCode" type="xsd:string"/>
	<xsd:element name="OperatorGroup" type="xsd:string"/>
	<xsd:element name="OperatorName" type="xsd:string"/>
	<xsd:element name="PaymentCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Reference" type="xsd:string"/>
	<xsd:element name="ReportDate" type="xsd:string"/>
	<xsd:element name="SeparatorToUse" type="xsd:string"/>
	<xsd:element name="StartDate" type="xsd:string"/>
	<xsd:element name="StoreNumber" type="xsd:string"/>
	<xsd:element name="SystemInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CssStyle" minOccurs="0"/>
				<xsd:element ref="Version" minOccurs="0"/>
				<xsd:element ref="CompanyId" minOccurs="0"/>
				<xsd:element ref="CompanyName" minOccurs="0"/>
				<xsd:element ref="Branch" minOccurs="0"/>
				<xsd:element ref="BranchName" minOccurs="0"/>
				<xsd:element ref="OperatorCode" minOccurs="0"/>
				<xsd:element ref="OperatorName" minOccurs="0"/>
				<xsd:element ref="OperatorGroup" minOccurs="0"/>
				<xsd:element ref="ReportDate" minOccurs="0"/>
				<xsd:element ref="UseSeparatorOnReports" minOccurs="0"/>
				<xsd:element ref="SeparatorToUse" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Telephone" type="xsd:string"/>
	<xsd:element name="Total">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TotalPayment"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TotalPayment" type="xsd:string"/>
	<xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
	<xsd:element name="Version" type="xsd:string"/>
</xsd:schema>
