Schemas7/SORQBLOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Quantity Balance Check Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="SorLineQtyBalQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SorLineQtyBalQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DetailOrSummary" type="xsd:string" minOccurs="0" />
              <xsd:element name="MaxItemsToReturn" type="xsd:string" minOccurs="0" />
              <xsd:element name="RunDate" type="xsd:string" minOccurs="0" />
              <xsd:element name="RunTime" type="xsd:string" minOccurs="0" />
              <xsd:element name="LockType" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="HealthCheckResults">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RowsAffected" type="xsd:string" minOccurs="0" />
              <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0" />
                    <xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Customer" type="xsd:string" minOccurs="0" />
                    <xsd:element name="CustomerName" type="xsd:string" minOccurs="0" />
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0" />
                    <xsd:element name="StockDescription" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0" />
                    <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0" />
                    <xsd:element name="OrdShipQty" type="xsd:string" minOccurs="0" />
                    <xsd:element name="OrdShipQtyUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedOrdShipQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrdResvQty" type="xsd:string" minOccurs="0" />
                    <xsd:element name="OrdResvQtyUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedOrdResvQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BinShipQty" type="xsd:string" minOccurs="0" />
                    <xsd:element name="BinShipQtyUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedBinShipQty" type="xsd:string" minOccurs="0" />
                    <xsd:element name="BinResvQty" type="xsd:string" minOccurs="0" />
                    <xsd:element name="BinResvQtyUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedBinResvQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LotShipQty" type="xsd:string" minOccurs="0" />
                    <xsd:element name="LotShipQtyUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedLotShipQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LotResvQty" type="xsd:string" minOccurs="0" />
                    <xsd:element name="LotResvQtyUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedLotResvQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SerShipQty" type="xsd:string" minOccurs="0" />
                    <xsd:element name="SerShipQtyUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSerShipQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SerResvQty" type="xsd:string" minOccurs="0" />
                    <xsd:element name="SerResvQtyUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSerResvQty" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>