Schemas7/SORQC8.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the Outstanding Deposits Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Filter">
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="SalesOrder" minOccurs="0"/>
				<xsd:element ref="Customer" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:annotation>
			<xsd:documentation>The list of options</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="IncludeDetailLines" minOccurs="0"/>
				<xsd:element ref="IncludeFullyUtilizedDeposits" minOccurs="0"/>
				<xsd:element ref="ReturnNotesInBlock" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>The root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Option" minOccurs="0"/>
				<xsd:element ref="Filter" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SalesOrder">
		<xsd:annotation>
			<xsd:documentation>All, Range or single sales order separated by commas.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Customer">
		<xsd:annotation>
			<xsd:documentation>All, Range or single customer separated by commas.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeDetailLines" default="Y">
		<xsd:annotation>
			<xsd:documentation>Include counter sales deposit detail lines.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeFullyUtilizedDeposits" default="Y">
		<xsd:annotation>
			<xsd:documentation>Include fully utilized deposits.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ReturnNotesInBlock" default="N">
		<xsd:annotation>
			<xsd:documentation>Indicates whether notes should be returned combined in a block. (N - No and Y - Yes). If no value is supplied then a default value of 'N' will be used. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
