Schemas7/SORQLQOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the SO Load Planning Delivery Load Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BOMQtyPerDecimals" type="xsd:byte"/>
  <xsd:element name="CompanyId" type="xsd:boolean"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="CssStyle">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Customer">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="0000001"/>
        <xsd:enumeration value="0000002"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DateFormat" type="xsd:byte"/>
  <xsd:element name="DecCharToUse" type="xsd:string"/>
  <xsd:element name="DecFormat" type="xsd:boolean"/>
  <xsd:element name="DeliveryDate" type="xsd:string"/>
  <xsd:element name="DeliveryFrequency" type="xsd:boolean"/>
  <xsd:element name="DeliveryLoad" type="xsd:string"/>
  <xsd:element name="DeliveryLoadItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DeliveryDate"/>
        <xsd:element ref="DeliverySequence"/>
        <xsd:element ref="LoadReference"/>
        <xsd:element ref="Transport"/>
        <xsd:element ref="Driver"/>
        <xsd:element ref="MaximumVolume"/>
        <xsd:element ref="VolumeUsed"/>
        <xsd:element ref="VolumeFreePercent"/>
        <xsd:element ref="MaximumMass"/>
        <xsd:element ref="MassUsed"/>
        <xsd:element ref="MassFreePercent"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DeliveryRoute" type="xsd:string"/>
  <xsd:element name="DeliveryRouteDescription" type="xsd:string"/>
  <xsd:element name="DeliveryRouteItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DeliveryRoute"/>
        <xsd:element ref="DeliveryRouteDescription"/>
        <xsd:element ref="NextDeliveryDate"/>
        <xsd:element ref="NextDeliverySequence"/>
        <xsd:element ref="DeliveryFrequency"/>
        <xsd:element ref="NumberOfDeliveriesPerDay"/>
        <xsd:element ref="Limitingfactor"/>
        <xsd:element ref="TotalVolume"/>
        <xsd:element ref="TotalMass"/>
        <xsd:element ref="Transport"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DeliverySequence" type="xsd:byte"/>
  <xsd:element name="DispatchNoteLine">
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean">
        <xsd:enumeration value="0"/>
        <xsd:enumeration value="1"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DispatchNoteNumber" type="xsd:string"/>
  <xsd:element name="DistanceOrSequenceOnRoute">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="10"/>
        <xsd:enumeration value="50"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Driver" type="xsd:byte"/>
  <xsd:element name="GlPrdPerYear" type="xsd:byte"/>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DeliveryRoute"/>
        <xsd:element ref="DeliveryLoad"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="Limitingfactor" type="xsd:string"/>
  <xsd:element name="LoadPlanningDeliveryLoadQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="Options"/>
        <xsd:element ref="DeliveryRouteItem"/>
        <xsd:element ref="DeliveryLoadItem"/>
        <xsd:element ref="SalesOrdersLines"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LoadReference" type="xsd:string"/>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="MassFreePercent" type="xsd:decimal"/>
  <xsd:element name="MassUsed" type="xsd:decimal"/>
  <xsd:element name="MaximumMass" type="xsd:decimal"/>
  <xsd:element name="MaximumVolume" type="xsd:decimal"/>
  <xsd:element name="NextDeliveryDate" type="xsd:string"/>
  <xsd:element name="NextDeliverySequence" type="xsd:boolean"/>
  <xsd:element name="NoOfDigits" type="xsd:byte"/>
  <xsd:element name="NumberOfDeliveriesPerDay" type="xsd:boolean"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorLocation">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Options">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="Role" type="xsd:byte"/>
  <xsd:element name="SalesOrder">
    <xsd:simpleType>
      <xsd:restriction base="xsd:short">
        <xsd:enumeration value="000000000000871"/>
        <xsd:enumeration value="000000000000898"/>
        <xsd:enumeration value="000000000000902"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesOrderLine">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesOrderLineMass">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:enumeration value="20.000000"/>
        <xsd:enumeration value="220.000000"/>
        <xsd:enumeration value="5.000000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesOrderLineQuantityLoaded">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:enumeration value="2.00"/>
        <xsd:enumeration value="20.00"/>
        <xsd:enumeration value="5.00"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesOrderLineVolume">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:enumeration value="0.000000"/>
        <xsd:enumeration value="0.600000"/>
        <xsd:enumeration value="6.800000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesOrdersLine">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrder"/>
        <xsd:element ref="SalesOrderLine"/>
        <xsd:element ref="DispatchNoteNumber"/>
        <xsd:element ref="DispatchNoteLine"/>
        <xsd:element ref="SalesOrderLineVolume"/>
        <xsd:element ref="SalesOrderLineMass"/>
        <xsd:element ref="DistanceOrSequenceOnRoute"/>
        <xsd:element ref="Customer"/>
        <xsd:element ref="SalesOrderLineQuantityLoaded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SalesOrdersLines">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrdersLine" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
        <xsd:element ref="NoOfDigits"/>
        <xsd:element ref="DecCharToUse"/>
        <xsd:element ref="BOMQtyPerDecimals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TotalMass" type="xsd:decimal"/>
  <xsd:element name="TotalVolume" type="xsd:decimal"/>
  <xsd:element name="Transport" type="xsd:string"/>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
  <xsd:element name="VolumeFreePercent" type="xsd:decimal"/>
  <xsd:element name="VolumeUsed" type="xsd:decimal"/>
</xsd:schema>
