Schemas7/SORQLROUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--  
     Schema for the SO Load Planning Delivery Routes Query
-->

<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BOMQtyPerDecimals" type="xsd:byte"/>
  <xsd:element name="CompanyId" type="xsd:boolean"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="CssStyle">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DailyFrequency" type="xsd:boolean"/>
  <xsd:element name="DateFormat" type="xsd:byte"/>
  <xsd:element name="DecCharToUse" type="xsd:string"/>
  <xsd:element name="DecFormat" type="xsd:boolean"/>
  <xsd:element name="DeliveryDateFilterValueF">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliveryDateFilterValueT">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliveryRoute">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="East"/>
        <xsd:enumeration value="North"/>
        <xsd:enumeration value="South"/>
        <xsd:enumeration value="West"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DeliveryRouteDescription" type="xsd:string"/>
  <xsd:element name="DeliveryRouteFilterType" type="xsd:string"/>
  <xsd:element name="DeliveryRouteFilterValueF">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliveryRouteFilterValueT">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliverySequence">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="2"/>
        <xsd:enumeration value="3"/>
        <xsd:enumeration value="7"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DeliveryRouteFilterType"/>
        <xsd:element ref="DeliveryRouteFilterValueF"/>
        <xsd:element ref="DeliveryRouteFilterValueT"/>
        <xsd:element ref="TransportFilterType"/>
        <xsd:element ref="DeliveryDateFilterValueF"/>
        <xsd:element ref="DeliveryDateFilterValueT"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GlPrdPerYear" type="xsd:byte"/>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="Limitingfactor" type="xsd:string"/>
  <xsd:element name="LoadItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DeliveryRoute"/>
        <xsd:element ref="DeliveryRouteDescription"/>
        <xsd:element ref="NextOpenDeliveryDate"/>
        <xsd:element ref="NextDeliverySequence"/>
        <xsd:element ref="Volume"/>
        <xsd:element ref="Mass"/>
        <xsd:element ref="Limitingfactor"/>
        <xsd:element ref="DeliverySequence"/>
        <xsd:element ref="DailyFrequency"/>
        <xsd:element ref="Transport"/>
        <xsd:element ref="NextDeliveryDateWithCapacity"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LoadPlanningDeliveryLoadQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="Options"/>
        <xsd:element ref="LoadItem" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="Mass">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:enumeration value="1000.000000"/>
        <xsd:enumeration value="2000.000000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NextDeliveryDateWithCapacity">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="04/09/2014"/>
        <xsd:enumeration value="04/16/2014"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NextDeliverySequence">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NextOpenDeliveryDate">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="02/19/2014"/>
        <xsd:enumeration value="04/18/2014"/>
        <xsd:enumeration value="06/11/2014"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NoOfDigits" type="xsd:byte"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorLocation">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Options">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="Role" type="xsd:byte"/>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
        <xsd:element ref="NoOfDigits"/>
        <xsd:element ref="DecCharToUse"/>
        <xsd:element ref="BOMQtyPerDecimals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Transport">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Truck1"/>
        <xsd:enumeration value="Truck2"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TransportFilterType" type="xsd:string"/>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
  <xsd:element name="Volume">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:enumeration value="1000.000000"/>
        <xsd:enumeration value="2000.000000"/>
        <xsd:enumeration value="5000.000000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
