Schemas7/SORQIDOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     This is an example XMLOut instance to demonstrate
     the use of the Sales Order Invoice Documents Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="DocumentNumber" type="xsd:string"/>
  <xsd:element name="Field">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DocumentNumber" minOccurs="0"/>
        <xsd:element name="FormName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="FormPrompt" type="xsd:string" minOccurs="0"/>
        <xsd:element name="FormType" type="xsd:string" minOccurs="0"/>
        <xsd:element name="FormLength" type="xsd:string" minOccurs="0"/>
        <xsd:element name="FormDecimals" type="xsd:string" minOccurs="0"/>
        <xsd:element name="FormValue" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LineMscChargeTaxAmt" type="xsd:string"/>
  <xsd:element name="LineMscNetAmount" type="xsd:string"/>
  <xsd:element name="LineNumber" type="xsd:string"/>
  <xsd:element name="Lot" type="xsd:string"/>
  <xsd:element name="NComment" type="xsd:string"/>
  <xsd:element name="NMscChargeValue" type="xsd:string"/>
  <xsd:element name="NMscTaxCode">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="PromotionCode" type="xsd:string"/>
  <xsd:element name="SalesOrder" type="xsd:string"/>
  <xsd:element name="SalesOrderLine" type="xsd:string"/>
  <xsd:element name="SorSalesOrderInvoiceDocuments">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element ref="Version" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element ref="CompanyName" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SalesOrderInvoiceDocument" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="DocumentNumber" minOccurs="0"/>
              <xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Header" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element name="DocumentDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="CompanyName" minOccurs="0"/>
                    <xsd:element name="CompanyAddress1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddress2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddress3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddress3Loc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddress4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddress5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyPostalcode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyGpsLat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyGpsLong" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyRegNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SoldToAddr1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SoldToAddr2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SoldToAddr3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SoldToAddr3Loc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SoldToAddr4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SoldToAddr5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SoldPostalcode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SoldGpsLat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SoldGpsLong" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StateCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipCustomerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddress1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddress2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddress3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddress3Loc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddress4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipAddress5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipPostalcode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipGpsLat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShipGpsLong" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MultiShipCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MasterAccount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StoreNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalespersonName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerPoNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTaxNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReqShipDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PlannedDeliverDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualDeliveryDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EntInvoiceDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SystemTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShippingInstrs" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ShippingInstrsCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SpecialInstrs" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceCredited" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="SalesOrder" minOccurs="0"/>
                    <xsd:element name="DispatchNote" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DelNoteSuffix" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TypeDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CreditAuthority" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Area" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AreaDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchAddrBuilding" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchAddr1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchAddr2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchAddr2Loc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchAddr3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchAddr4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchPostalcode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchGpsLat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchGpsLon" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvTermsOverride" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceTermsDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryTerms" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryTermsDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TransactionNature" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NatureOfTransDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TransportMode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProcessFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastOperator" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastOperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerComment" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AlternateKey" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryNote" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxExemptNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GstExemptNum" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExchangeRate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MulDiv" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Contact" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TelephoneExtn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Telex" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Email" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DocFax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DocFaxContact" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DocumentEmail" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UserField1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UserField2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SourceWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SourceWhDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetWhDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="State" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CoZip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExtendedTaxCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderStatus" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EdiSendReceive" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EdiSenderCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Quotation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RmaNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesPerson2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalespersonName2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesPerson3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalespersonName3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesPerson4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalespersonName4" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Notes" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CustomData" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element ref="Field" minOccurs="0" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CustomerCustomData" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element ref="Field" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Merchandise" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element ref="LineNumber" minOccurs="0"/>
                    <xsd:element ref="SalesOrderLine" minOccurs="0"/>
                    <xsd:element name="MOrderQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MQtyToDispatch" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MShipQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MBackOrderQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyReserved" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockQtyToShp" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PricingQtyShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MOrderUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockingUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispatchNote" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DispatchNoteLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockDes" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MBin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MHierarchyJob" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JobNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MLineShipDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MCustRequestDat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MLineReceiptDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MContract" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MBuyingGroup" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MCusSupStkCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MCusRetailPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CusGrossProfitPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetCustTotalRetail" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ManPartNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OtherUm" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UserField1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UserField2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UserField3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UserField4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UserField5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AlternateKey1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AlternateKey2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DrawOfficeNum" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MUserDef" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockUnitVol" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineVolume" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MBomFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MParentKitType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CreditReason" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReasonDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MerchLineCount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockUnitMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineMassRounded" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineVolRounded" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MPriceCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NetUnitPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitPriceInclTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitDiscount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitPriceInOrderUm" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MTariffcode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MSupplementaryUn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MPriceUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscValFlg" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscPct1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscPct2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscPct3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineDiscValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineSalesTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineGrossAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineNetAfterDisc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MTaxCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineTaxPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineExtTaxCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineExtTaxRate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MFstTaxCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineGstPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineGstAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineNetInclTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MConvFactOrdUm" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MMulDivPrcFct" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="SalesOrder" minOccurs="0"/>
                    <xsd:element name="MProductClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PalletQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseToUse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MVersion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MRelease" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CountryOfOrigin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CountryOfOriginName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MCommissionCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="TpmUsageFlag" minOccurs="0"/>
                    <xsd:element ref="TpmParentLine" minOccurs="0"/>
                    <xsd:element ref="PromotionCode" minOccurs="0"/>
                    <xsd:element ref="TpmSequence" minOccurs="0"/>
                    <xsd:element name="SalesOrderInitLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockCustomData" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element ref="DocumentNumber" minOccurs="0"/>
                          <xsd:element ref="LineNumber" minOccurs="0" />
                          <xsd:element ref="Field" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="DetailCustomData" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element ref="DocumentNumber" minOccurs="0"/>
                          <xsd:element ref="LineNumber" minOccurs="0"/> 
                          <xsd:element ref="Field" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Lots" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element ref="DocumentNumber" minOccurs="0"/>
                          <xsd:element ref="LineNumber" minOccurs="0"/>
                          <xsd:element ref="Lot" minOccurs="0"/>
                          <xsd:element ref="Version" minOccurs="0"/>
                          <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Certificate" type="xsd:string" minOccurs="0"/>
                          <xsd:element ref="StockQtyToShip" minOccurs="0"/>
                          <xsd:element name="LotExpiryDate" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Bins" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element ref="DocumentNumber" minOccurs="0"/>
                          <xsd:element ref="LineNumber" minOccurs="0"/>
                          <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                          <xsd:element ref="Lot" minOccurs="0"/>
                          <xsd:element ref="StockQtyToShip" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Serials" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element ref="DocumentNumber" minOccurs="0"/>
                          <xsd:element ref="LineNumber" minOccurs="0"/>
                          <xsd:element name="Serial" type="xsd:string" minOccurs="0"/>
                          <xsd:element ref="Lot" minOccurs="0"/>
                          <xsd:element ref="StockQtyToShip" minOccurs="0"/>
                          <xsd:element name="SerialDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NewExpiryDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Location" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="TaxInclusive" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SerialMethod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TraceableType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Freight" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element ref="LineNumber" minOccurs="0"/>
                    <xsd:element ref="SalesOrderLine" minOccurs="0"/>
                    <xsd:element ref="NComment" minOccurs="0"/>
                    <xsd:element ref="NMscChargeValue" minOccurs="0"/>
                    <xsd:element ref="LineMscNetAmount" minOccurs="0"/>
                    <xsd:element ref="NMscTaxCode" minOccurs="0"/>
                    <xsd:element ref="LineMscChargeTaxAmt" minOccurs="0"/>
                    <xsd:element name="NMscProductCls" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NMscFstCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineGstPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineGstAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesOrderInitLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineTaxPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxInclusive" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="MiscCharge" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element ref="LineNumber" minOccurs="0"/>
                    <xsd:element ref="SalesOrderLine" minOccurs="0"/>
                    <xsd:element ref="NComment" minOccurs="0"/>
                    <xsd:element ref="NMscChargeValue" minOccurs="0"/>
                    <xsd:element ref="LineMscNetAmount" minOccurs="0"/>
                    <xsd:element ref="NMscTaxCode" minOccurs="0"/>
                    <xsd:element name="LineTaxPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="LineMscChargeTaxAmt" minOccurs="0"/>
                    <xsd:element name="NMscProductCls" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NSrvChargeType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NChargeCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NSrvParentLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NMscChargeQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NSrvUnitPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NMscFstCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineGstPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineGstAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="TpmUsageFlag" minOccurs="0"/>
                    <xsd:element ref="TpmParentLine" minOccurs="0"/>
                    <xsd:element ref="PromotionCode" minOccurs="0"/>
                    <xsd:element ref="TpmSequence" minOccurs="0"/>
                    <xsd:element name="SalesOrderInitLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxInclusive" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Comment" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element ref="LineNumber" minOccurs="0"/>
                    <xsd:element ref="SalesOrderLine" minOccurs="0"/>
                    <xsd:element name="NCommentFromLin" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="NComment" minOccurs="0"/>
                    <xsd:element name="NCommentType" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Totals" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element name="SalesTax" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SalesTaxDetails" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element ref="DocumentNumber" minOccurs="0"/>
                                <xsd:element name="SalesTaxCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AmountTaxable" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesTaxPercentage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesTaxAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SalesTaxInHomeCurrency" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="HashQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantityOrd" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantityShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantityUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantityPieces" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalVolume" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMassRounded" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalVolumeRounded" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGrossAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalLineDiscount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvDiscountAmt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DiscPct1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DiscPct2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DiscPct3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmtInclTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalSalesTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGstOutAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGstAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalSalesTaxInHomeCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMerchTaxInHomeCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvoiceAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvAmtExclTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalFreightAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMiscChargesAmt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalFreightTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMiscChgTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalFrghtAmtIncTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMiscChgIncTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTaxBeforeRounding" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvBeforeRounding" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxRoundingValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceRoundingValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalRoundingValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CommentText1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CommentText2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CommentText3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CommentText4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCashDiscount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvLessDisc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCustRetail" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CashDiscExpDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceDueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTaxAmountLocal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExchangeRate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvAmtLocal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvAmtExTaxLoc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvoiceCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvoiceCostFor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMerchCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMerchCostFor" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockQtyToShip" type="xsd:string"/>
  <xsd:element name="TpmParentLine" type="xsd:string"/>
  <xsd:element name="TpmSequence" type="xsd:string"/>
  <xsd:element name="TpmUsageFlag" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
</xsd:schema>
