Schemas7/SORQ34OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for the SO Dispatches by Sales Order Query
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="SODispatchesBySalesOrderList" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SODispatchesBySalesOrderList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PrintOrderLinesNoDispatches" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintOrderLinesNoDispatches" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCompletedOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeCompletedOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNonAllocSchedOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNonAllocSchedOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintCustomerPO" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintCustomerPO" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintCancelledDispatches" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintCancelledDispatches" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSCTs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeSCTs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SalesOrderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OrderDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderTypeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OrderTypeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderTypeFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SODispatches">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SalesOrders" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetWarehouseDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerPO" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SOLines" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SOLine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockLongDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderQuantityUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedOrderQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispatchedQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispatchedQuantityUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedDispatchedQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OutstandingQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OutstandingQuantityUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedOutstandingQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Documents" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DocumentDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DocumentDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DocumentQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DocumentQuantityUnits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedDocumentQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DocumentStatus" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DocumentStatusReason" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SOReportTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NumberOfOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NumberOfStockLines" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
