Schemas7/SORQCROUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Counter Sales Query Business Object
-->
<xsd:schema id="CounterSalesReport" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CounterSalesReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CashDrawerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CashDrawerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CashDrawerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintTotalCashReceipts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Transalted_PrintTotalCashReceipts" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Total" minOccurs="0"/>
              <xsd:element name="StartDate" minOccurs="0"/>
              <xsd:element name="ExpiryDate" minOccurs="0"/>
              <xsd:element name="Authorization" minOccurs="0"/>
              <xsd:element name="CreditCard" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CashDrawers">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CashDrawer" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CashDrawerHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Drawer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Transactions" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Transaction" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TransactionHeader" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="InvoiceCurrency" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="InvoiceAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedInvoiceAmount" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="TransactionDetails" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="DetailLine" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="PaymentCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PaymentAmount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedPaymentAmount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Notation" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="CreditCardNumber" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="StartDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Authorization" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Rate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedRate" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DepositType" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="CashDrawerSummary" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Summary" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="TotalSales" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTotalSales" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Invoices" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Deposits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedDeposits" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CashInOut" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedCashInOut" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="AccountPayments" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedAccountPayments" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CashFloat" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedCashFloat" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Status" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Users" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="SummaryByCurrency" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CurrencySummary" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SummaryByPaymentCode" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="PaymentCodeSummary" minOccurs="0" maxOccurs="unbounded">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="GrossAmount" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="EditedGrossAmount" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Payments" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="EditedPayments" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Commission" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="EditedCommission" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="NetAmount" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="EditedNetAmount" type="xsd:string" minOccurs="0"/>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="CurrencyTotals" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="TotalGrossAmount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedTotalGrossAmount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TotalPayments" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedTotalPayments" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TotalCommission" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedTotalCommission" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TotalNetAmount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedTotalNetAmount" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="CurrencyTotalsExclOnAccount" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="TotalGrossAmountExclOnAccount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedTotalGrossAmountExclOnAccount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TotalPaymentsExclOnAccount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedTotalPaymentsExclOnAccount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TotalCommissionExclOnAccount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedTotalCommissionExclOnAccount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TotalNetAmountExclOnAccount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedTotalNetAmountExclOnAccount" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="PaymentsAppliedFromDeposits" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedAmount" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Payments" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="EditedPayments" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
