Schemas7/SORQC8OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Outstanding Deposits Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PosQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:boolean"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:byte"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:boolean"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="OperatorLocation">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:byte"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="OperatorPrimaryRole">
                <xsd:complexType/>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SalesOrderFilterType" type="xsd:string"/>
              <xsd:element name="Translated_SalesOrderFilterType" type="xsd:string"/>
              <xsd:element name="SalesOrderFilterValue" type="xsd:string"/>
              <xsd:element name="CustomerFilterType" type="xsd:string"/>
              <xsd:element name="Translated_CustomerFilterType" type="xsd:string"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string"/>
              <xsd:element name="IncludeDetailLines" type="xsd:string"/>
              <xsd:element name="Translated_IncludeDetailLines" type="xsd:string"/>
              <xsd:element name="IncludeFullyUtilizedDeposits" type="xsd:string"/>
              <xsd:element name="Translated_IncludeFullyUtilizedDeposits" type="xsd:string"/>
              <xsd:element name="ReturnNotesInBlock" type="xsd:string"/>
              <xsd:element name="Translated_ReturnNotesInBlock" type="xsd:string"/>
              <xsd:element name="OperatorAccessSecurity" type="xsd:string"/>
              <xsd:element name="Translated_OperatorAccessSecurity" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SalesOrderDeposits">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SalesOrder" type="xsd:string"/>
              <xsd:element name="DepositValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedDepositValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepositDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DepositDetails" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DetailDepositDate" type="xsd:string"/>
                    <xsd:element name="Invoice" type="xsd:string"/>
                    <xsd:element name="DetailDepositValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedDetailDepositValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PaymentType" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="AllocatedValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedAllocatedValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastMoveDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetailComment" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepositComments" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Totals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TotalDeposits" type="xsd:string"/>
              <xsd:element name="EditedTotalDeposits" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
