Schemas7/SORQ12OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Backlog by Stock Code Query Business Object
-->
<xsd:schema id="SOBacklogByStockCodeQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SOBacklogByStockCodeQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Selection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Selection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintOnlyIfStockOnHand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintOnlyIfStockOnHand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintOnlyIfBackOrderQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintOnlyIfBackOrderQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintCustomerPO" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintCustomerPO" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintParentsOfKitsKorS" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintParentsOfKitsKorS" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNonAllocSchedOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNonAllocSchedOrders" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNegBackOrderQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNegBackOrderQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShowValuesIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ShowValuesIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RevRel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderTypeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OrderTypeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderTypeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrencyFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CurrencyFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrencyFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BacklogItem" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LongDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Revision" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
              <xsd:element name="VersionRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SequenceKey" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QuantityOnHand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QuantityOnHandUnits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedQuantityOnHand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QuantityAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QuantityAvailableUnits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedQuantityAvailable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FreeStock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FreeStockUnits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedFreeStock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderItems" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="OrderItem" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ScheduledOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BranchDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipQuantityUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedShipQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReservedQuantity" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ReservedQuantityUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedReservedQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BackOrderQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BackOrderQuantityUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedBackOrderQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AgeInDays" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderStatusDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerPO" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Scheduled" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ParentPart" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_ParentPart" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ComponentPart" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ShipValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedShipValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ReservedValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedReservedValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BackOrderValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedBackOrderValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_IncludeInMrp" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="BacklogItemTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ItemTotalShipQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ItemTotalShipQuantityUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedItemTotalShipQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ItemTotalReservedQuantity" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ItemTotalReservedQuantityUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedItemTotalReservedQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ItemTotalBackOrderQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ItemTotalBackOrderQuantityUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedItemTotalBackOrderQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ItemTotalShipValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedItemTotalShipValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ItemTotalReservedValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedItemTotalReservedValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ItemTotalBackOrderValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedItemTotalBackOrderValue" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BacklogTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NumberOfStockCodes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalOrderValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalOrderValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalShipQuantity" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalShipQuantity" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalShipValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalShipValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalReservedQuantity" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalReservedQuantity" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalReservedValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalReservedValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalBackOrderQuantity" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalBackOrderQuantity" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalBackOrderValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedTotalBackOrderValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
