Schemas7/SORQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the List of Sales Orders Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SorQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress"/>
              <xsd:element name="OperatorLocation"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SalesOrderItem" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SalesOrder" type="xsd:string"/>
              <xsd:element name="Customer" type="xsd:string"/>
              <xsd:element name="CustomerName" type="xsd:string"/>
              <xsd:element name="OrderStatus" type="xsd:string"/>
              <xsd:element name="Branch" type="xsd:string"/>
              <xsd:element name="OrderType" type="xsd:string"/>
              <xsd:element name="Area" type="xsd:string"/>
              <xsd:element name="AlternateKey" type="xsd:string"/>
              <xsd:element name="NextDetailLine" type="xsd:string"/>
              <xsd:element name="DocumentType" type="xsd:string"/>
              <xsd:element name="Salesperson" type="xsd:string"/>
              <xsd:element name="Currency" type="xsd:string"/>
              <xsd:element name="CustomerPoNumber" type="xsd:string"/>
              <xsd:element name="ShipViaCode" type="xsd:string"/> 
              <xsd:element name="ShippingInstrs" type="xsd:string"/>
              <xsd:element name="SpecialInstrs" type="xsd:string"/>
              <xsd:element name="OrderDate" type="xsd:string"/>
              <xsd:element name="ReqShipDate" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
