Schemas7/SORQL1OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the S/O Load Planning Order List Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:boolean"/>
              <xsd:element name="DateFormat" type="xsd:byte"/>
              <xsd:element name="Role" type="xsd:byte"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:byte"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="FromRouteCode" type="xsd:string"/>
              <xsd:element name="Translated_FromRouteCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ToRouteCode" type="xsd:string"/>
              <xsd:element name="Translated_ToRouteCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FromDeliveryDate" type="xsd:string"/>
              <xsd:element name="Translated_FromDeliveryDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ToDeliveryDate" type="xsd:string"/>
              <xsd:element name="Translated_ToDeliveryDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Date" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="LoadItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SOrderLineItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RouteCode" type="xsd:string"/>
                    <xsd:element name="RouteDescription" type="xsd:string"/>
                    <xsd:element name="DeliveryDate" type="xsd:string"/>
                    <xsd:element name="DeliverySeq" type="xsd:string"/>
                    <xsd:element name="StockCode">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:hexBinary">
                          <xsd:enumeration value="A100"/>
                          <xsd:enumeration value="A101"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="StockCodeDesc" type="xsd:string"/>
                    <xsd:element name="SalesOrder" type="xsd:short"/>
                    <xsd:element name="SalesOrderLine" type="xsd:string"/>
                    <xsd:element name="DispatchNote" type="xsd:string"/>
                    <xsd:element name="DispatchNoteLine" type="xsd:string"/>
                    <xsd:element name="Quantity" type="xsd:string"/>
                    <xsd:element name="EditedQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineQuantity" type="xsd:string"/>
                    <xsd:element name="EditedLineQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MUnitQuantity" type="xsd:string"/>
                    <xsd:element name="MConvFactUnitQ" type="xsd:byte"/>
                    <xsd:element name="MAltUomUnitQ" type="xsd:string"/>
                    <xsd:element name="MDecimalsUnitQ" type="xsd:boolean"/>
                    <xsd:element name="OrderUom" type="xsd:string"/>
                    <xsd:element name="Volume" type="xsd:string"/>
                    <xsd:element name="EditedVolume" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Mass" type="xsd:string"/>
                    <xsd:element name="EditedMass" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="LoadTotal">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RouteCode" type="xsd:string"/>
                    <xsd:element name="DeliveryDate" type="xsd:string"/>
                    <xsd:element name="TotVolume" type="xsd:string"/>
                    <xsd:element name="EditedTotVolume" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotMass" type="xsd:string"/>
                    <xsd:element name="EditedTotMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTotQuantity" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
