Schemas7/SORQ45OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Discount Breaks Query Business Object
-->
<xsd:schema id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ListofOrderDiscountBreaks">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DiscountBreaks" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DiscountBreak" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DiscountInfo" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="DiscountBreakLevel" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DiscBasis" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="DiscDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MinValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Disc1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Disc2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Disc3" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_Global" minOccurs="0"/>
              <xsd:element name="Text_Product_class" minOccurs="0"/>
              <xsd:element name="Text_Value" minOccurs="0"/>
              <xsd:element name="Text_Quantity" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NewDataSet">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ListofOrderDiscountBreaks"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
