Schemas7/SORQLDOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the SO Load Planning Delivery Loads Query
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BOMQtyPerDecimals" type="xsd:string"/>
  <xsd:element name="CompanyId" type="xsd:boolean"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="CssStyle">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DateFormat" type="xsd:byte"/>
  <xsd:element name="DecCharToUse" type="xsd:string"/>
  <xsd:element name="DecFormat" type="xsd:boolean"/>
  <xsd:element name="DeliveryDate">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="04/09/2014"/>
        <xsd:enumeration value="04/10/2014"/>
        <xsd:enumeration value="04/11/2014"/>
        <xsd:enumeration value="04/12/2014"/>
        <xsd:enumeration value="04/13/2014"/>
        <xsd:enumeration value="04/14/2014"/>
        <xsd:enumeration value="04/15/2014"/>
        <xsd:enumeration value="04/16/2014"/>
        <xsd:enumeration value="04/17/2014"/>
        <xsd:enumeration value="04/18/2014"/>
        <xsd:enumeration value="04/23/2014"/>
        <xsd:enumeration value="04/30/2014"/>
        <xsd:enumeration value="05/07/2014"/>
        <xsd:enumeration value="05/14/2014"/>
        <xsd:enumeration value="05/21/2014"/>
        <xsd:enumeration value="05/28/2014"/>
        <xsd:enumeration value="06/04/2014"/>
        <xsd:enumeration value="06/11/2014"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DeliveryDateFilterType" type="xsd:string"/>
  <xsd:element name="DeliveryDateFilterValueF">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliveryDateFilterValueT">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliveryRouteFilterType" type="xsd:string"/>
  <xsd:element name="DeliveryRouteFilterValueF">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliveryRouteFilterValueT">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliverySeq" type="xsd:boolean"/>
  <xsd:element name="Employee">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="10"/>
        <xsd:enumeration value="11"/>
        <xsd:enumeration value="2"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="EmployeeName" type="xsd:string"/>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DeliveryRouteFilterType"/>
        <xsd:element ref="DeliveryRouteFilterValueF"/>
        <xsd:element ref="DeliveryRouteFilterValueT"/>
        <xsd:element ref="DeliveryDateFilterType"/>
        <xsd:element ref="DeliveryDateFilterValueF"/>
        <xsd:element ref="DeliveryDateFilterValueT"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GlPrdPerYear" type="xsd:byte"/>
  <xsd:element name="IncludeCompleteLoads" type="xsd:string"/>
  <xsd:element name="IncludeConfirmed" type="xsd:string"/>
  <xsd:element name="IncludeInProcessPrinted" type="xsd:string"/>
  <xsd:element name="IncludeLoadsInProgress" type="xsd:string"/>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="LoadCompleteFlag" type="xsd:string"/>
  <xsd:element name="LoadItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="RouteCode"/>
        <xsd:element ref="RouteDescription"/>
        <xsd:element ref="DeliveryDate"/>
        <xsd:element ref="DeliverySeq"/>
        <xsd:element ref="LoadStatus"/>
        <xsd:element ref="LoadNumber"/>
        <xsd:element ref="Volume"/>
        <xsd:element ref="VolumeUsed"/>
        <xsd:element ref="VolumeTotal"/>
        <xsd:element ref="Mass"/>
        <xsd:element ref="MassUsed"/>
        <xsd:element ref="TotalMass"/>
        <xsd:element ref="Transport"/>
        <xsd:element ref="TransportDesc"/>
        <xsd:element ref="Employee"/>
        <xsd:element ref="EmployeeName"/>
        <xsd:element ref="LoadCompleteFlag"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LoadNumber" type="xsd:byte"/>
  <xsd:element name="LoadPlanningDeliveryLoadQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="Options"/>
        <xsd:element ref="LoadItem" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LoadStatus" type="xsd:string"/>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="Mass">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="1,000"/>
        <xsd:enumeration value="2,000"/>
        <xsd:enumeration value="50"/>
        <xsd:enumeration value="880"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MassUsed">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="0"/>
        <xsd:enumeration value="5"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NoOfDigits" type="xsd:byte"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorLocation">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="IncludeLoadsInProgress"/>
        <xsd:element ref="IncludeConfirmed"/>
        <xsd:element ref="IncludeInProcessPrinted"/>
        <xsd:element ref="IncludeCompleteLoads"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Options">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="Role" type="xsd:byte"/>
  <xsd:element name="RouteCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="East"/>
        <xsd:enumeration value="North"/>
        <xsd:enumeration value="South"/>
        <xsd:enumeration value="West"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="RouteDescription" type="xsd:string"/>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
        <xsd:element ref="NoOfDigits"/>
        <xsd:element ref="DecCharToUse"/>
        <xsd:element ref="BOMQtyPerDecimals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TotalMass">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="1,000"/>
        <xsd:enumeration value="2,000"/>
        <xsd:enumeration value="50"/>
        <xsd:enumeration value="880"/>
        <xsd:enumeration value="995"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Transport">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Truck1"/>
        <xsd:enumeration value="Truck2"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TransportDesc" type="xsd:string"/>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
  <xsd:element name="Volume">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="2,000"/>
        <xsd:enumeration value="50,000"/>
        <xsd:enumeration value="80"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="VolumeTotal">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="1,995"/>
        <xsd:enumeration value="2,000"/>
        <xsd:enumeration value="50,000"/>
        <xsd:enumeration value="80"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="VolumeUsed">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="0"/>
        <xsd:enumeration value="5"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
