Schemas7/SORQL3OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!--  
     Schema for the Sales Order Load Planning Sales Order Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AvailableToShip">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="1,000"/>
        <xsd:enumeration value="1,250"/>
        <xsd:enumeration value="10,000"/>
        <xsd:enumeration value="12,000"/>
        <xsd:enumeration value="15,000"/>
        <xsd:enumeration value="2,000"/>
        <xsd:enumeration value="3,000"/>
        <xsd:enumeration value="5,000"/>
        <xsd:enumeration value="6,000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BackOrderQuantity">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="0,000"/>
        <xsd:enumeration value="1,000"/>
        <xsd:enumeration value="14,000"/>
        <xsd:enumeration value="15,000"/>
        <xsd:enumeration value="2,000"/>
        <xsd:enumeration value="4,000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Customer">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="0000000001"/>
        <xsd:enumeration value="0000000002"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DeliveryRouteFilterType" type="xsd:string"/>
  <xsd:element name="DeliveryRouteFilterValueF">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliveryRouteFilterValueT">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DeliveryRouteFilterType"/>
        <xsd:element ref="DeliveryRouteFilterValueF"/>
        <xsd:element ref="DeliveryRouteFilterValueT"/>
        <xsd:element ref="SalesOrderFilterType"/>
        <xsd:element ref="SalesOrderFilterValueF"/>
        <xsd:element ref="SalesOrderFilterValueT"/>
        <xsd:element ref="NumberOfDaysBeforeTodayFilterType"/>
        <xsd:element ref="NumberOfDaysBeforeTodayFilterValue"/>
        <xsd:element ref="NumberOfDaysAfterTodayFilterType"/>
        <xsd:element ref="NumberOfDaysAfterTodayFilterValue"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InclZeroAvailabeToShip" type="xsd:string"/>
  <xsd:element name="IncludeCompleteSalesOrders" type="xsd:string"/>
  <xsd:element name="IncludeCompletedSaleOrderLines" type="xsd:string"/>
  <xsd:element name="IncludeSalesOrdersInSuspense" type="xsd:string"/>
  <xsd:element name="Item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Route"/>
        <xsd:element ref="SalesOrder"/>
        <xsd:element ref="SalesOrderLine"/>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="StockCodeDescription"/>
        <xsd:element ref="Warehouse"/>
        <xsd:element ref="Volume"/>
        <xsd:element ref="Mass"/>
        <xsd:element ref="TotalShippedQuantity"/>
        <xsd:element ref="AvailableToShip"/>
        <xsd:element ref="BackOrderQuantity"/>
        <xsd:element ref="QuantityToShip"/>
        <xsd:element ref="Status"/>
        <xsd:element ref="ShipDate"/>
        <xsd:element ref="RequestDate"/>
        <xsd:element ref="Customer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Mass">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="0,000000"/>
        <xsd:enumeration value="0,050000"/>
        <xsd:enumeration value="0,250000"/>
        <xsd:enumeration value="0,500000"/>
        <xsd:enumeration value="1,000000"/>
        <xsd:enumeration value="10,000000"/>
        <xsd:enumeration value="11,000000"/>
        <xsd:enumeration value="12,000000"/>
        <xsd:enumeration value="3,000000"/>
        <xsd:enumeration value="5,120000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NumberOfDaysAfterTodayFilterType" type="xsd:string"/>
  <xsd:element name="NumberOfDaysAfterTodayFilterValue" type="xsd:byte"/>
  <xsd:element name="NumberOfDaysBeforeTodayFilterType" type="xsd:string"/>
  <xsd:element name="NumberOfDaysBeforeTodayFilterValue" type="xsd:byte"/>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="IncludeCompletedSaleOrderLines"/>
        <xsd:element ref="IncludeSalesOrdersInSuspense"/>
        <xsd:element ref="IncludeCompleteSalesOrders"/>
        <xsd:element ref="InclZeroAvailabeToShip"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Options">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="QuantityToShip">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="0,000"/>
        <xsd:enumeration value="1,000"/>
        <xsd:enumeration value="1,250"/>
        <xsd:enumeration value="10,000"/>
        <xsd:enumeration value="12,000"/>
        <xsd:enumeration value="15,000"/>
        <xsd:enumeration value="2,000"/>
        <xsd:enumeration value="3,000"/>
        <xsd:enumeration value="5,000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="RequestDate">
    <xsd:simpleType>
      <xsd:restriction base="xsd:date">
        <xsd:enumeration value="2014-04-09"/>
        <xsd:enumeration value="2014-04-12"/>
        <xsd:enumeration value="2014-09-04"/>
        <xsd:enumeration value="2015-02-04"/>
        <xsd:enumeration value="2015-02-13"/>
        <xsd:enumeration value="2015-02-20"/>
        <xsd:enumeration value="2015-04-09"/>
        <xsd:enumeration value="2015-05-05"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Route" type="xsd:string"/>
  <xsd:element name="SOLoadPlanningLinesQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Options"/>
        <xsd:element ref="Item" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SalesOrder">
    <xsd:simpleType>
      <xsd:restriction base="xsd:short">
        <xsd:enumeration value="000868"/>
        <xsd:enumeration value="000871"/>
        <xsd:enumeration value="000873"/>
        <xsd:enumeration value="000891"/>
        <xsd:enumeration value="000894"/>
        <xsd:enumeration value="000896"/>
        <xsd:enumeration value="000897"/>
        <xsd:enumeration value="000908"/>
        <xsd:enumeration value="000909"/>
        <xsd:enumeration value="000910"/>
        <xsd:enumeration value="000935"/>
        <xsd:enumeration value="000936"/>
        <xsd:enumeration value="000937"/>
        <xsd:enumeration value="000938"/>
        <xsd:enumeration value="000939"/>
        <xsd:enumeration value="000943"/>
        <xsd:enumeration value="000944"/>
        <xsd:enumeration value="000945"/>
        <xsd:enumeration value="000946"/>
        <xsd:enumeration value="000947"/>
        <xsd:enumeration value="000948"/>
        <xsd:enumeration value="000949"/>
        <xsd:enumeration value="000950"/>
        <xsd:enumeration value="000951"/>
        <xsd:enumeration value="000952"/>
        <xsd:enumeration value="000955"/>
        <xsd:enumeration value="000956"/>
        <xsd:enumeration value="000957"/>
        <xsd:enumeration value="000958"/>
        <xsd:enumeration value="000959"/>
        <xsd:enumeration value="000960"/>
        <xsd:enumeration value="000961"/>
        <xsd:enumeration value="000967"/>
        <xsd:enumeration value="000969"/>
        <xsd:enumeration value="000970"/>
        <xsd:enumeration value="000971"/>
        <xsd:enumeration value="000972"/>
        <xsd:enumeration value="000973"/>
        <xsd:enumeration value="000974"/>
        <xsd:enumeration value="000975"/>
        <xsd:enumeration value="000980"/>
        <xsd:enumeration value="000984"/>
        <xsd:enumeration value="000985"/>
        <xsd:enumeration value="000986"/>
        <xsd:enumeration value="000987"/>
        <xsd:enumeration value="000988"/>
        <xsd:enumeration value="000994"/>
        <xsd:enumeration value="000995"/>
        <xsd:enumeration value="000996"/>
        <xsd:enumeration value="000997"/>
        <xsd:enumeration value="000998"/>
        <xsd:enumeration value="000999"/>
        <xsd:enumeration value="001000"/>
        <xsd:enumeration value="001001"/>
        <xsd:enumeration value="001002"/>
        <xsd:enumeration value="001004"/>
        <xsd:enumeration value="001005"/>
        <xsd:enumeration value="001007"/>
        <xsd:enumeration value="001008"/>
        <xsd:enumeration value="001015"/>
        <xsd:enumeration value="001016"/>
        <xsd:enumeration value="001017"/>
        <xsd:enumeration value="001018"/>
        <xsd:enumeration value="001069"/>
        <xsd:enumeration value="001070"/>
        <xsd:enumeration value="001074"/>
        <xsd:enumeration value="001077"/>
        <xsd:enumeration value="001079"/>
        <xsd:enumeration value="001080"/>
        <xsd:enumeration value="001091"/>
        <xsd:enumeration value="001094"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesOrderFilterType" type="xsd:string"/>
  <xsd:element name="SalesOrderFilterValueF">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SalesOrderFilterValueT">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SalesOrderLine" type="xsd:string"/>
  <xsd:element name="ShipDate">
    <xsd:simpleType>
      <xsd:restriction base="xsd:date">
        <xsd:enumeration value="2014-04-09"/>
        <xsd:enumeration value="2014-04-12"/>
        <xsd:enumeration value="2014-09-04"/>
        <xsd:enumeration value="2015-02-04"/>
        <xsd:enumeration value="2015-02-13"/>
        <xsd:enumeration value="2015-02-20"/>
        <xsd:enumeration value="2015-04-09"/>
        <xsd:enumeration value="2015-05-05"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Status" type="xsd:string"/>
  <xsd:element name="StockCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="000000000000001"/>
        <xsd:enumeration value="A100"/>
        <xsd:enumeration value="A101"/>
        <xsd:enumeration value="A102"/>
        <xsd:enumeration value="A110"/>
        <xsd:enumeration value="A200"/>
        <xsd:enumeration value="A201"/>
        <xsd:enumeration value="A202"/>
        <xsd:enumeration value="A203"/>
        <xsd:enumeration value="KIT100"/>
        <xsd:enumeration value="KIT101"/>
        <xsd:enumeration value="KIT200"/>
        <xsd:enumeration value="KIT500"/>
        <xsd:enumeration value="KIT600"/>
        <xsd:enumeration value="KIT999"/>
        <xsd:enumeration value="Q100"/>
        <xsd:enumeration value="test2dec"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockCodeDescription" type="xsd:string"/>
  <xsd:element name="TotalShippedQuantity" type="xsd:string"/>
  <xsd:element name="Volume">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="0,000000"/>
        <xsd:enumeration value="0,300000"/>
        <xsd:enumeration value="0,340000"/>
        <xsd:enumeration value="1,000000"/>
        <xsd:enumeration value="5,120000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="**"/>
        <xsd:enumeration value="E"/>
        <xsd:enumeration value="FG"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
