Schemas7/SORQCS.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the SO Counter Sales Payment Print Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CashDrawer">
		<xsd:annotation>
			<xsd:documentation>The Cash Drawer into which the payment was made.</xsd:documentation>
			<xsd:appinfo source="key=true"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Customer">
		<xsd:annotation>
			<xsd:documentation>The customer that made the payment.</xsd:documentation>
			<xsd:appinfo source="key=true"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Invoice">
		<xsd:annotation>
			<xsd:documentation>The invoice for the payment made.</xsd:documentation>
			<xsd:appinfo source="key=true"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CashDrawer"/>
				<xsd:element ref="Customer" minOccurs="0"/>
				<xsd:element ref="Invoice"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Key"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
