Schemas7/SORQGLOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order GL Integration Query Business Object
-->
<xsd:schema id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SalesOrderIntegration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
        <xsd:element name="GeographicArea" type="xsd:string" minOccurs="0"/>
        <xsd:element name="GlIntegrationStatus" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string" />
      <xsd:attribute name="Language2" type="xsd:string" />
      <xsd:attribute name="CssStyle" type="xsd:string" />
      <xsd:attribute name="DecFormat" type="xsd:string" />
      <xsd:attribute name="DateFormat" type="xsd:string" />
      <xsd:attribute name="Role" type="xsd:string" />
      <xsd:attribute name="Version" type="xsd:string" />
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NewDataSet">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrderIntegration" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>