Schemas7/SORQLQ.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the SO Load Planning Delivery Load Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DeliveryLoad" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element allows to be searched by Delivery Load eg: Route name up to (10 characters), then the date (8 characters) and the delivery sequence (2 characters)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeliveryRoute" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element allows to be searched by Delivery Route</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This is the key element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DeliveryRoute"/>
        <xsd:element ref="DeliveryLoad"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>This is the main root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
