Schemas7/SORQLPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the SO Load Planning Dispatch Notes Business Query Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BOMQtyPerDecimals" type="xsd:byte"/>
  <xsd:element name="CompanyId" type="xsd:boolean"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="CompleteSalesOrderLine" type="xsd:string"/>
  <xsd:element name="CssStyle">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Customer">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="0000001"/>
        <xsd:enumeration value="0000002"/>
        <xsd:enumeration value="0000003"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DateFormat" type="xsd:byte"/>
  <xsd:element name="DecCharToUse" type="xsd:string"/>
  <xsd:element name="DecFormat" type="xsd:boolean"/>
  <xsd:element name="DispatchNote">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="000000000000023"/>
        <xsd:enumeration value="000000000000024"/>
        <xsd:enumeration value="000000000000025"/>
        <xsd:enumeration value="000000000000026"/>
        <xsd:enumeration value="A"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DispatchNoteF">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DispatchNoteLine" type="xsd:byte"/>
  <xsd:element name="DispatchNoteT">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DispatchStatus" type="xsd:string"/>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="RouteCode"/>
        <xsd:element ref="FromRouteCode"/>
        <xsd:element ref="ToRouteCode"/>
        <xsd:element ref="DispatchNote"/>
        <xsd:element ref="DispatchNoteF"/>
        <xsd:element ref="DispatchNoteT"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FromRouteCode">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="GlPrdPerYear" type="xsd:byte"/>
  <xsd:element name="InterWhSale">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="LoadItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DispatchNote"/>
        <xsd:element ref="SalesOrder"/>
        <xsd:element ref="SalesOrderLine"/>
        <xsd:element ref="MStockCode"/>
        <xsd:element ref="MStockDes"/>
        <xsd:element ref="MWarehouse"/>
        <xsd:element ref="MStockUnitVol"/>
        <xsd:element ref="MStockUnitMass"/>
        <xsd:element ref="DispatchNoteLine"/>
        <xsd:element ref="DispatchStatus"/>
        <xsd:element ref="ScheduledOrdFlag"/>
        <xsd:element ref="MCustRequestDat"/>
        <xsd:element ref="InterWhSale"/>
        <xsd:element ref="Customer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LoadPlanningDispatchNoteLinesQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="Options"/>
        <xsd:element ref="LoadItem" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="MCustRequestDat">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="04/09/2014"/>
        <xsd:enumeration value="04/16/2014"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MStockCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:hexBinary">
        <xsd:enumeration value="A100"/>
        <xsd:enumeration value="A130"/>
        <xsd:enumeration value="A133"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MStockDes" type="xsd:string"/>
  <xsd:element name="MStockUnitMass">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="10"/>
        <xsd:enumeration value="11"/>
        <xsd:enumeration value="9"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MStockUnitVol" type="xsd:boolean"/>
  <xsd:element name="MWarehouse" type="xsd:string"/>
  <xsd:element name="NoOfDigits" type="xsd:byte"/>
  <xsd:element name="NumberOfDaysAfterToday" type="xsd:boolean"/>
  <xsd:element name="NumberOfDaysBeforeToday" type="xsd:boolean"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorLocation">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="NumberOfDaysBeforeToday"/>
        <xsd:element ref="NumberOfDaysAfterToday"/>
        <xsd:element ref="CompleteSalesOrderLine"/>
        <xsd:element ref="SalesOrderInSuspense"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Options">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="Role" type="xsd:byte"/>
  <xsd:element name="RouteCode" type="xsd:string"/>
  <xsd:element name="SalesOrder">
    <xsd:simpleType>
      <xsd:restriction base="xsd:short">
        <xsd:enumeration value="000898"/>
        <xsd:enumeration value="000899"/>
        <xsd:enumeration value="000902"/>
        <xsd:enumeration value="000903"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesOrderInSuspense" type="xsd:string"/>
  <xsd:element name="SalesOrderLine">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:enumeration value="0001"/>
        <xsd:enumeration value="0003"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ScheduledOrdFlag">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="04/09/2014"/>
        <xsd:enumeration value="04/16/2014"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
        <xsd:element ref="NoOfDigits"/>
        <xsd:element ref="DecCharToUse"/>
        <xsd:element ref="BOMQtyPerDecimals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ToRouteCode">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
</xsd:schema>
