Schemas7/SORRSLOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XMLOut schema to demonstrate
     use of the Retrieve Sales Order Line Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SoLine">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Customer" type="xsd:string"/>
				<xsd:element name="Name" type="xsd:string"/>
				<xsd:element name="StockCode" type="xsd:string"/>
				<xsd:element name="Description" type="xsd:string"/>
				<xsd:element name="LongDesc" type="xsd:string"/>
				<xsd:element name="StockOnHold" type="xsd:string"/>
				<xsd:element name="PartCategory" type="xsd:string"/>
				<xsd:element name="TraceableType" type="xsd:string"/>
				<xsd:element name="SerialMethod" type="xsd:string"/>
				<xsd:element name="BackOrdReqd" type="xsd:string"/>
				<xsd:element name="KitType" type="xsd:string"/>
				<xsd:element name="EccFlag" type="xsd:string"/>
				<xsd:element name="CostUom" type="xsd:string"/>
				<xsd:element name="OutputMassFlag" type="xsd:string"/>
				<xsd:element name="StockUom" type="xsd:string"/>
				<xsd:element name="AlternateUom" type="xsd:string"/>
				<xsd:element name="OtherUom" type="xsd:string"/>
				<xsd:element name="ConvFactAltUom" type="xsd:string"/>
				<xsd:element name="ConvMulDiv" type="xsd:string"/>
				<xsd:element name="ConvFactOthUom" type="xsd:string"/>
				<xsd:element name="MulDiv" type="xsd:string"/>
				<xsd:element name="Taxable" type="xsd:string"/>
				<xsd:element name="TaxCode" type="xsd:string"/>
				<xsd:element name="TaxPercentage" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TaxInclusive" type="xsd:string" minOccurs="0"/>
				<xsd:element name="LineShipDate" type="xsd:string"/>
				<xsd:element name="IsItemSuperceded" type="xsd:string"/>
				<xsd:element name="SupercessionDate" type="xsd:string"/>
				<xsd:element name="PriceBasedOnQty" type="xsd:string"/>
				<xsd:element name="PriceBasedOnQtyUM" type="xsd:string"/>
				<xsd:element name="CurrentPrice" type="xsd:string"/>
				<xsd:element name="CurrentPriceUM" type="xsd:string"/>
				<xsd:element name="CurrentLineValue" type="xsd:string"/>
				<xsd:element name="CurrentTaxValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TaxBaseValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CurrentGstTaxValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="GstTaxBaseValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="OrderPrice" type="xsd:string" minOccurs="0"/>
				<xsd:element name="OrderPriceLineValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CustomerTaxCode" minOccurs="0">
					<xsd:complexType/>
				</xsd:element>
				<xsd:element name="DiscountValueFlag" type="xsd:string"/>
				<xsd:element name="DiscountPct1" type="xsd:string"/>
				<xsd:element name="DiscountPct2" type="xsd:string"/>
				<xsd:element name="DiscountPct3" type="xsd:string"/>
				<xsd:element name="OrderDiscPercent1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="OrderDiscPercent2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="OrderDiscPercent3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="OrderDiscValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PriceInAlternateUM">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Price" type="xsd:string"/>
							<xsd:element name="PriceUM" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PriceInOtherUM">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Price" type="xsd:string"/>
							<xsd:element name="PriceUM" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GstTaxCode" type="xsd:string"/>
				<xsd:element name="PriceCodeInfo" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PriceCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Price" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PriceUom" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NetLineValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrossLineValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TotalDiscount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DiscountValueFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LineDiscPercent1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LineDiscPercent2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LineDiscPercent3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrentTaxValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxPercentage" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxBaseValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CostInCurrentPriceUM" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TariffCode" type="xsd:string"/>
				<xsd:element name="SupplementaryUnit" type="xsd:string"/>
				<xsd:element name="Volume" type="xsd:string"/>
				<xsd:element name="Mass" type="xsd:string"/>
				<xsd:element name="ProductClass" type="xsd:string"/>
				<xsd:element name="StockAndAltUm" type="xsd:string"/>
				<xsd:element name="LevelOfStockControl" type="xsd:string"/>
				<xsd:element name="Version" type="xsd:string"/>
				<xsd:element name="Release" type="xsd:string"/>
				<xsd:element name="CustRetailPrice" type="xsd:string"/>
				<xsd:element name="LastPricePaid1" type="xsd:string"/>
				<xsd:element name="PriceUom1" type="xsd:string"/>
				<xsd:element name="QtyPurch1" type="xsd:string"/>
				<xsd:element name="CommissionCode1" minOccurs="0">
					<xsd:complexType/>
				</xsd:element>
				<xsd:element name="Invoice1" type="xsd:string"/>
				<xsd:element name="InvoiceDate1" type="xsd:string"/>
				<xsd:element name="LastPricePaid2" type="xsd:string"/>
				<xsd:element name="PriceUom2" type="xsd:string"/>
				<xsd:element name="QtyPurch2" type="xsd:string"/>
				<xsd:element name="CommissionCode2" minOccurs="0">
					<xsd:complexType/>
				</xsd:element>
				<xsd:element name="Invoice2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="InvoiceDate2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
				<xsd:element name="QuantityAvailable" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ReturnableItem" type="xsd:string" minOccurs="0"/>
				<xsd:element name="LineCostValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="StockSalesOrderText" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Comment" type="xsd:string" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DangerousGoodsText" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Comment" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PriceInformation" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PriceCodeItem" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PriceCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SellingPrice" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PriceBasis" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CommissionCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="KitComponents" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Component" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ComponentStockCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentSequence" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentOptional" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentLongDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentStockOnHold" minOccurs="0">
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="ComponentPartCategory" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentTraceableType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentSerialMethod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentEccFlag" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentCostUom" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentStockUom" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentTaxable" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentTaxCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentGstTaxCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentQuantity" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentIsItemSuperceded" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentSupercessionDate" minOccurs="0">
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="ComponentPriceBasedOnQty" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentPriceBasedOnQtyUM" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentPrice" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentPriceUom" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentCurrentLineValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentGrossLineValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentTotalDiscount" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentDiscountValueFlag" minOccurs="0">
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="ComponentDiscountPct1" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentDiscountPct2" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentDiscountPct3" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentCurrentTaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentTaxPercentage" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentTaxBaseValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentTaxInclusive" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentCurrentGstTaxValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentGstTaxPercentage" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentGstTaxBaseValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentTariffCode" minOccurs="0">
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="ComponentSupplementaryUnit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentVolume" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentMass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentProductClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentLevelOfStockControl" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentVersion" minOccurs="0">
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="ComponentRelease" minOccurs="0">
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="ComponentWarehouse" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentUnitCost" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ComponentQuantityAvailable" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:string" use="required"/>
			<xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
			<xsd:attribute name="DecFormat" type="xsd:string" use="required"/>
			<xsd:attribute name="DateFormat" type="xsd:string" use="required"/>
			<xsd:attribute name="Version" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
