Schemas7/SORRSHOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     This is an example XMLOut schema to demonstrate
     use of the Retrieve Sales Order Header Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SoHeader">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Customer" type="xsd:string"/>
				<xsd:element name="DocFax" type="xsd:string"/>
				<xsd:element name="Currency" type="xsd:string"/>
				<xsd:element name="ShippingInstrs" type="xsd:string"/>
				<xsd:element name="Area" type="xsd:string"/>
				<xsd:element name="SALARE_Description" type="xsd:string"/>
				<xsd:element name="TermsCode" type="xsd:string"/>
				<xsd:element name="TBLART_Description" type="xsd:string"/>
				<xsd:element name="TaxStatus" type="xsd:string"/>
				<xsd:element name="GstExemptFlag" type="xsd:string"/>
				<xsd:element name="Salesperson" type="xsd:string"/>
				<xsd:element name="SALSLS_Name" type="xsd:string"/>
				<xsd:element name="CustomerPoNumber" type="xsd:string"/>
				<xsd:element name="OrderDate" type="xsd:string"/>
				<xsd:element name="SuggestedShipDate" type="xsd:string"/>
				<xsd:element name="Branch" type="xsd:string"/>
				<xsd:element name="SALBRN_Description" type="xsd:string"/>
				<xsd:element name="SpecialInstrs" type="xsd:string"/>
				<xsd:element name="TaxExemptNumber" type="xsd:string"/>
				<xsd:element name="GstExemptNum" type="xsd:string"/>
				<xsd:element name="CompanyTaxNumber" type="xsd:string"/>
				<xsd:element name="DefaultOrdType" type="xsd:string"/>
				<xsd:element name="TypeOfOrder" type="xsd:string"/>
				<xsd:element name="Warehouse" type="xsd:string"/>
				<xsd:element name="ARSMST_Name" type="xsd:string"/>
				<xsd:element name="SoldToAddr1" type="xsd:string"/>
				<xsd:element name="SoldToAddr2" type="xsd:string"/>
				<xsd:element name="SoldToAddr3" type="xsd:string"/>
				<xsd:element name="SoldToAddr4" type="xsd:string"/>
				<xsd:element name="SoldToAddr5" type="xsd:string"/>
				<xsd:element name="SoldPostalCode" type="xsd:string"/>
				<xsd:element name="ShipToAddr1" type="xsd:string"/>
				<xsd:element name="ShipToAddr2" type="xsd:string"/>
				<xsd:element name="ShipToAddr3" type="xsd:string"/>
				<xsd:element name="ShipToAddr4">
					<xsd:complexType/>
				</xsd:element>
				<xsd:element name="ShipToAddr5" type="xsd:string"/>
				<xsd:element name="ShipPostalCode" type="xsd:string"/>
				<xsd:element name="LanguageCode" type="xsd:string"/>
				<xsd:element name="AlternateKey" type="xsd:string"/>
				<xsd:element name="Email" type="xsd:string"/>
				<xsd:element name="Contact" type="xsd:string"/>
				<xsd:element name="MasterAccount" type="xsd:string"/>
				<xsd:element name="StoreNumber" type="xsd:string"/>
				<xsd:element name="CustomerClass" type="xsd:string"/>
				<xsd:element name="InvDiscCode" type="xsd:string"/>
				<xsd:element name="LineDiscCode" type="xsd:string"/>
				<xsd:element name="DateLastSale" type="xsd:string"/>
				<xsd:element name="DateLastPay" type="xsd:string"/>
				<xsd:element name="Telephone" type="xsd:string"/>
				<xsd:element name="AddTelephone" type="xsd:string"/>
				<xsd:element name="Fax" type="xsd:string"/>
				<xsd:element name="Telex" type="xsd:string"/>
				<xsd:element name="TelephoneExtn" type="xsd:string"/>
				<xsd:element name="UserField1" type="xsd:string"/>
				<xsd:element name="UserField2" type="xsd:string"/>
				<xsd:element name="StateCode" type="xsd:string"/>
				<xsd:element name="State" type="xsd:string"/>
				<xsd:element name="CountyZip" type="xsd:string"/>
				<xsd:element name="City" type="xsd:string"/>
				<xsd:element name="DateCustAdded" type="xsd:string"/>
				<xsd:element name="Nationality" type="xsd:string"/>
				<xsd:element name="DeliveryTerms" type="xsd:string"/>
				<xsd:element name="TransactionNature" type="xsd:string"/>
				<xsd:element name="CustomerOnHold" type="xsd:string"/>
				<xsd:element name="DocFaxContact" type="xsd:string"/>
				<xsd:element name="PoNumberMandatory" type="xsd:string"/>
				<xsd:element name="DiscountPct1" type="xsd:string"/>
				<xsd:element name="DiscountPct2" type="xsd:string"/>
				<xsd:element name="DiscountPct3" type="xsd:string"/>
				<xsd:element name="ExchangeRate" type="xsd:string"/>
				<xsd:element name="MulDiv" type="xsd:string"/>
				<xsd:element name="TpmCustomerFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TpmPricingFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CreditStatus" type="xsd:string"/>
				<xsd:element name="CreditResult" type="xsd:string"/>
				<xsd:element name="CreditMessage" type="xsd:string"/>
				<xsd:element name="CreditAvailable" type="xsd:string"/>
				<xsd:element name="CreditAvailableInclCreditBalance" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CreditLimit" type="xsd:string"/>
				<xsd:element name="CurrentBalance" type="xsd:string" minOccurs="0"/>
				<xsd:element name="OutstandingValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="OutstandingValueReleased" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
