Schemas7/SORSL1DOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the SO Delivery Route Maintenance Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DailyFrequency" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the DailyFrequency.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Frequency" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the Frequency.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This is the sub root node.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="RouteDescription"/>
        <xsd:element ref="LimitingFactor"/>
        <xsd:element ref="Volume"/>
        <xsd:element ref="Mass"/>
        <xsd:element ref="Frequency"/>
        <xsd:element ref="NextDeliveryDate"/>
        <xsd:element ref="DailyFrequency"/>
        <xsd:element ref="NextDeliverySeq"/>
        <xsd:element ref="Transport"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This is the key node.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="RouteCode"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LimitingFactor" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the LimitingFactor. F = First Reached, V = Volume, M= Mass.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Mass" type="xsd:short">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the Mass.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NextDeliveryDate" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the NextDeliveryDate.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NextDeliverySeq" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the NextDeliverySequence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RouteCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the RouteCode.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RouteDescription" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the RouteDescription.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupSorRouteDetail">
    <xsd:annotation>
      <xsd:documentation>This is the main root node.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Transport" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Volume" type="xsd:short">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the Volume.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
