Schemas7/SORSL3DOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the SO Delivery Load Maintenance Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DeliveryDate" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the delivery date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeliverySeq" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the delivery sequence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This is the sub root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Mass" minOccurs="0"/>
        <xsd:element ref="Volume" minOccurs="0"/>
        <xsd:element ref="Transport" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This is the key node.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="RouteCode"/>
        <xsd:element ref="DeliveryDate"/>
        <xsd:element ref="DeliverySeq"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Mass" type="xsd:short">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the Mass.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RouteCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the Route Code.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupSorLoadDetail">
    <xsd:annotation>
      <xsd:documentation>This is the main root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Transport" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the Transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Volume" type="xsd:short">
    <xsd:annotation>
      <xsd:documentation>This element is used to add, update or delete the Vloume.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
