Schemas7/SORSOUDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the SO Selling Price Uom Maintenance Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ConvFactor" type="xsd:byte">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the conversion factor. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This is the sub root node,  it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="ConvFactor"/>
        <xsd:element ref="MulDiv"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="OrderUom"/>
        <xsd:element ref="PriceUom"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MulDiv" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the conversion method. It is mandatory. M - Multiply, D - Divide</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrderUom" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the OrderUom. It is the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PriceUom" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element contains information about the PriceUom. It is the key. It is mandatory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetupSOSellingPriceUomMaint">
    <xsd:annotation>
      <xsd:documentation>This is the root node, it is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
