Schemas7/SORSL2DOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--  
     Schema for the SO Load Planning Transport Maintenance Business Object Setup
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Employee" type="xsd:byte">
		<xsd:annotation>
			<xsd:documentation>This element is used to add, update or delete the Driver.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>This is the sub root node.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Key"/>
				<xsd:element ref="TransportDesc"/>
				<xsd:element ref="Reference"/>
				<xsd:element ref="Mass"/>
				<xsd:element ref="Volume"/>
				<xsd:element ref="Employee"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:annotation>
			<xsd:documentation>This is the key node.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Transport"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Mass" type="xsd:short">
		<xsd:annotation>
			<xsd:documentation>This element is used to add, update or delete the Mass.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Reference" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element is used to add, update or delete the Reference.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SetupSorLoadTransport">
		<xsd:annotation>
			<xsd:documentation>This is the main root node.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Item"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Transport" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element is used to add, update or delete the Transport.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransportDesc" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element is used to add, update or delete the Description.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Volume" type="xsd:short">
		<xsd:annotation>
			<xsd:documentation>This element is used to add, update or delete the Volume.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
