Schemas7/SORTLMOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the SO Load planning Move Sales order Lines to a Load Business Object
--><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="Item">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="ToRoute"/>				<xsd:element ref="SalesOrders" maxOccurs="unbounded"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="ItemsInvalid" type="xsd:boolean"/>	<xsd:element name="ItemsProcessed" type="xsd:string"/>	<xsd:element name="SalesOrder" type="xsd:string"/>	<xsd:element name="SalesOrders">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="SalesOrder"/>				<xsd:element name="SalesOrderLine" type="xsd:string"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="SalesOrdersInvalid" type="xsd:boolean"/>	<xsd:element name="SalesOrdersProcessed" type="xsd:string"/>	<xsd:element name="StatusOfItems">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="ItemsProcessed"/>				<xsd:element ref="SalesOrdersProcessed"/>				<xsd:element ref="SalesOrdersInvalid"/>				<xsd:element ref="ItemsInvalid"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="ToRoute" type="xsd:string"/>	<xsd:element name="postmoveloadsorderline">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Item" maxOccurs="unbounded"/>				<xsd:element ref="StatusOfItems"/>			</xsd:sequence>			<xsd:attribute name="Language" type="xsd:byte" use="required"/>			<xsd:attribute name="Language2" type="xsd:string" use="required"/>			<xsd:attribute name="CssStyle" type="xsd:string" use="required"/>			<xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>			<xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>			<xsd:attribute name="Role" type="xsd:byte" use="required"/>			<xsd:attribute name="Version" type="xsd:string" use="required"/>			<xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>		</xsd:complexType>	</xsd:element></xsd:schema>