Schemas7/SORTSODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     This is an example schema to demonstrate use of
     the SO Scheduled Order Release Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostScheduledOrderRelease">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Filter">
          <xsd:annotation>
            <xsd:documentation>List of filters available.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Customer" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Range of customers</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
                  <xsd:attribute name="FilterValue" use="optional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                        <xsd:enumeration value="A"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value="S"/>
                        <xsd:enumeration value=""/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SalesOrder" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Range of order numbers</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                        <xsd:enumeration value="A"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value="S"/>
                        <xsd:enumeration value=""/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="OrderDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Range of order entry dates</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                        <xsd:enumeration value="A"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value="S"/>
                        <xsd:enumeration value=""/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
