Schemas7/SORTASOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     output of the SO Alternate Stock Code Subsitution business object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="postalternatestocksubsitution">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TransactionApplied" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReduceOrigQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderQuantity" type="xsd:decimal" minOccurs="0"/>
                    <xsd:element name="ShipQuantity" type="xsd:decimal" minOccurs="0"/>
                    <xsd:element name="BackOrderQuantity" type="xsd:decimal" minOccurs="0"/>
                    <xsd:element name="MStockQtyToShp" type="xsd:decimal" minOccurs="0"/>
                    <xsd:element name="OrderUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockingUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StatusOfItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="EntriesProcessed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EntriesInvalid" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LinesCancelled" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LinesChanged" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LinesAdded" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
