Schemas7/SORTICOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XMLOut schema to demonstrate use of
     the SO Invoice Calculation from Sales Order Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GlJournal">
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:element name="GlYear" type="xsd:string"/>
        <xsd:element name="GlPeriod" type="xsd:string"/>
        <xsd:element ref="GlJournal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="postsalesorderinvoice">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Key">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SalesOrder" type="xsd:string"/>
                    <xsd:element name="InvoiceNumber" type="xsd:string"/>
                    <xsd:element name="TrnYear" type="xsd:string"/>
                    <xsd:element name="TrnMonth" type="xsd:string"/>
                    <xsd:element name="Register" type="xsd:string"/>
                    <xsd:element name="WarningNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarningDescription" minOccurs="0"/>
                    <xsd:element name="Processed" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="GlJournal"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StatusOfItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ItemsProcessed" type="xsd:string"/>
              <xsd:element name="ItemsInvalid" type="xsd:string"/>
              <xsd:element name="ItemsRejectedWithWarnings" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ItemsProcessedWithWarnings" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="Role" type="xsd:string" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
