Schemas7/SORTCW.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the parameters for SO Credit Note Change Warehouse Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostChangeSoWarehouse">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element name="Parameters" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This contains parameters</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:sequence>
              <xsd:element name="IgnoreWarnings" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates whether or not an item must be rejected if there are any warnings, such as AR posting period one month behind the Inventory posting period. If it is not supplied, it defaults to 'N'. Specifies if warnings are to be ignored (Y - if the warnings are to be ignored, N - warnings will be returned as errors in the XML returned, W - warnings will be returned as warnings in the XML returned).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="W"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ApplyIfEntireDocumentValid" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates whether to process entire document only if all items are valid. If set to 'N', each item is validated and rejected if in error or processed if correct. This is the fastest option. If set to 'Y', all items are validated and only processed if entire document is valid. Default is 'N'. Valid values are 'Y' and 'N'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ValidateOnly" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates which processing phases are to be performed. If set to 'Y' all items are validated and an XML string is returned with the result of the validation. No updating will take place. If set to 'N', each item is validated and updating is performed based on setting of the element 'ApplyIfEntireDocumentValid'. Default is 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AddWarehouseDetails" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is checked when the new warehouse records do not exist for a merchandise line. It is used in conjunction with the IgnoreWarnings parameter. If AddWarehouseDetails is set to to 'N', then new warehouse details must exist for the line. If set to 'Y', then the IgnoreWarnings parameter is checked. If IgnoreWarnings is 'Y', then no error is given,  and a new warehouse record will be created when the posting is made. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AddLotDetails" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is checked when the new lot records do not exist for a merchandise line. It is used in conjunction with the IgnoreWarnings parameter. If AddLotDetails is set to to 'N', then new lot details must exist for the line. If set to 'Y', then the IgnoreWarnings parameter is checked. If IgnoreWarnings is 'Y', then no error is given,  and a new lot record will be created when the posting is made. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AddSerialDetails" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is checked when the new serial records do not exist for a merchandise line where the item is batch serialized. It is used in conjunction with the IgnoreWarnings parameter. If AddSerialDetails is set to to 'N', then new batch serial details must exist for the line. If set to 'Y', then the IgnoreWarnings parameter is checked. If IgnoreWarnings is 'Y', then no error is given,  and a new batch serial record will be created when the posting is made.  This does not apply to manual serial items, where the serial number will automatically be transferred to the new warehouse during posting.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
