Schemas7/SORTICDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the SO Invoice Calculation from Sales Order Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PostSalesOrderInvoice">
		<xsd:annotation>
			<xsd:documentation>This is the root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Item" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>This element contains information to invoice a sales order.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SalesOrder">
								<xsd:annotation>
									<xsd:documentation>The sales order number to be invoiced. It must be supplied. The format is either numeric or alphanumeric depending on the configuration option within SYSPRO.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SalesOrderLineList" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The list of sales order lines to be included in the invoice. If supplied, then the lines must be valid for the sales order, and must be ready to invoice. Each entry is separated by a comma. If not supplied, then the entire order will be invoiced. This element is only valid for a normal order (parameter OrderType = 'I').</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RoundInvoiceAsCash" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>If 'RoundInvoiceAsCash' is set to 'Y', then the invoice will treated as a cash payment  type for the purpose of checking the invoice rounding options specified in the SYPSRO tax setup options.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value=""/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeInvoiceComments" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This element indicates whether all invoice comments (CommentType = "I") should be output to the invoice. Y = Invoice comments will be output.  N = Invoice comments will not be output unless specific line number has been added to SalesOrderLineList.  If SalesOrderLineList is blank then this element will be ignored. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
