Schemas7/SORTOIDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Transaction Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AllocationAction">
		<xsd:annotation>
			<xsd:documentation>Specifies whether merchandise lines are to be allocated or placed on back order. If used, this element will override the parameter entry, AllocationAction. Valid entries are 'F'  - allocate only if full order quantity is available, 'B' -  place whole line on back order, 'A' - allocate available quantity if less than order quantity, and place the remainder on back order. If blank or not entered, 'F' is assumed. If set to 'B' (Back order), then the parameter 'ShipFromDefaultBin' is ignored. Note that any items which are kit items,  lot traceable or serialised will still be placed on back order.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="B"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AlternateReference">
		<xsd:annotation>
			<xsd:documentation>This is the alternate key to be used when creating the sales order. It must comply with the type of default alternate key defined in Sales Orders Setup (i.e. Branch, Geographic Area or Warehouse). If Alternate Key is mandatory and this element is not supplied, the alternate key will be set to the default alternate key. If there is no default, it will be rejected.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AlwaysUseDiscountEntered">
		<xsd:annotation>
			<xsd:documentation>If this element is set to 'Y' and a discount is entered, the discount is applied to the price for the line. Defaults to 'N'. This option is only applicable when adding a new line.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=" "/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AlwaysUsePriceEntered">
		<xsd:annotation>
			<xsd:documentation>Specifies that the price supplied in the element 'Price" on this detail line is to be used instead of any price calculated using the SYSPRO configuration parameters(Y - Yes, N - No). If not supplied, then the contents of the parameter 'AlwaysUsePriceEntered' will be used. This is only relevant for a new line.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Area">
		<xsd:annotation>
			<xsd:documentation>This is the geographic area for this sales order. If supplied it must be valid. If not supplied the geographic area is picked up from the customer account.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AttachedLineNumber">
		<xsd:annotation>
			<xsd:documentation>This is the detail line number to which the comment line is attached.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Branch">
		<xsd:annotation>
			<xsd:documentation>This is the branch for this sales order. If supplied it must be valid. If not supplied the branch is picked up from the customer account.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CancelReasonCode">
		<xsd:annotation>
			<xsd:documentation>This element is only required if the sales order has an OrderActionType of 'D' - delete. If the SYSPRO setup option to retain analysis details for cancelled order lines is selected, then the contents of this element must be a valid Cancel Reason code within SYSPRO. It can contain 1 to 6 alphanumeric characters.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="City">
		<xsd:annotation>
			<xsd:documentation>This is the city code that is part of the extended tax code  that will be used for the order. It must make up a valid extended tax code if entered. If not supplied, then the SYSPRO rules for obtaining the extended tax code will be used. 
Note: The Extended tax code field is only displayed if your nationality code is defined as USA and either the AVP sales tax system is required or you require tax by advanced geocodes (Tax Options Setup).
Format is 3 character alphanumeric (Advanced geocodes) or 2 characters alphanumeric (AVP sales tax).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Comment">
		<xsd:annotation>
			<xsd:documentation>This is the comment. The format is 100 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CommentLine">
		<xsd:annotation>
			<xsd:documentation>This element specifies that the sub-elements make up a detail sales order line for a comment line.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="CustomerPoLine"/>
				<xsd:element ref="LineActionType"/>
				<xsd:element ref="Comment"/>
				<xsd:element ref="AttachedLineNumber" minOccurs="0"/>
				<xsd:element ref="CommentType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CommentType" default="I">
		<xsd:annotation>
			<xsd:documentation>The comment type specifies whether the comment is for the order only, or for both order and invoice. The valid entries are 'O' (Order only), and 'I' (Invoice and Order) and blank. The default is 'I' .  This is only used when adding a new comment line.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="I"/>
				<xsd:enumeration value="O"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CommissionCode">
		<xsd:annotation>
			<xsd:documentation>If entered, this is used to override the commission code against the price code, or in the setup. If entered, it is cehcked to be a valid commission code in SYSPRO, and is treasted as a warning if not valid.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CompanyTaxNumber">
		<xsd:annotation>
			<xsd:documentation>This is the customer's company tax registration number. If it is not supplied, the company tax registration number from the Customer Master table is used. The element can contain up to 15 alphanumeric characters. Although the element is only meaningful for a taxable order, if suppllied it will be used, regardless of the type of order.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ConfigPrintInv">
		<xsd:annotation>
			<xsd:documentation>This element is only relevant when the business object is called by the Product Configurator, and will be ignored at any other time. It determines whether the product configurator line will be printed on an invoice. Valid entries are 'Y' (print), 'N' (do not print). If not supplied or left blank, then 'Y' is assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ConfigPrintDel">
		<xsd:annotation>
			<xsd:documentation>This element is only relevant when the business object is called by the Product Configurator, and will be ignored at any other time. It determines whether the product configurator line will be printed on a delivery note. Valid entries are 'Y' (print), 'N' (do not print). If not supplied or left blank, then 'Y' is assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ConfigPrintAck">
		<xsd:annotation>
			<xsd:documentation>This element is only relevant when the business object is called by the Product Configurator, and will be ignored at any other time. It determines whether the product configurator line will be printed on an order acknowledgement. Valid entries are 'Y' (print), 'N' (do not print). If not supplied or left blank, then 'Y' is assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CountyZip">
		<xsd:annotation>
			<xsd:documentation>This is the county or zip code that is part of the extended tax code  that will be used for the order. It must make up a valid extended tax code if entered. If not supplied, then the SYSPRO rules for obtaining the extended tax code will be used. 
Note: The Extended tax code field is only displayed if your nationality code is defined as USA and either the AVP sales tax system is required or you require tax by advanced geocodes (Tax Options Setup).
Format is 5 character alphanumeric (AVP sales tax) or 4 characters alphanumeric  (Advanced geocodes). </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Currency">
		<xsd:annotation>
			<xsd:documentation>The currency code used for the values within this order. If this is not present the currency code held against the relevant customer within SYSPRO is used. If present, then it must match the currency against the relevant customer, and must be a valid curreny code within SYSPRO. The format is 3 characters, alphanumeric. This element is ignored for a changed order.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustRequestDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>This is the date that the customer has requested shipment of this detail line. The format is CCYY-MM-DD. If no date is supplied for a new detail line, then it is calculated as today's date plus MinimumDaysToShip from the supplied parameter file. If there is no MinimumDaysToShip entry then the SYSPRO field Minimum Number of Days To Ship against the operator code is added to today's date. If RequestedShipDate is supplied, a check is made that it is at least MinimumDaysToShip (or Minimum Number of Days To Ship if MinimumDaysToShip is not in the parameter file) days in to the future. If this date is supplied for a changed line, it is used to update only the customer request date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Customer">
		<xsd:annotation>
			<xsd:documentation>The customer code will be used if the SenderCode element is empty. If Customer is supplied this customer account must not be on hold. If multiple customers are allowed for sub-accounts, this customer must be attached as a sub-account of SenderCode. The format is 7 characters, alphanumeric or numeric depending on the configuration option within SYSPRO.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustomerName">
		<xsd:annotation>
			<xsd:documentation>This is the customer name to appear against the sales order. If this is left blank it will default to the customer name held against the customer account within SYSPRO. The format is 50 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustomerPoLine">
		<xsd:annotation>
			<xsd:documentation>For a new order, this will be the line number from the customer's original order, and may not relate to the sales order line number within SYSPRO as comment or components may be added automatically, in which case multiple lines may be present for each line. If the LineActionType is C or D (change or cancel) this entry is mandatory, and refers to the actual line number on the order. This can be from 1 to 9999.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustomerPoNumber">
		<xsd:annotation>
			<xsd:documentation>The use of this element is based on the setting of the parameter 'CheckForCustomerPoNumbers'.  If the parameter is set to 'Y' (the default), then the element 'CustomerPoNumber' must be supplied when adding a sales order. If set to 'N', then the element may be missing, or may be blank. If set to 'C' (customer) then the check is based on the setting of the SYSPRO Customer Maintenance option 'Customer purchase order number mandatory'.. If the order is for a sub-account that has a store number,and  the element is blank, then the store number will be used as the customer purchase order number. If the SYSPRO configuration is set so that duplicate purchase order numbers are not allowed, the order will be rejected if this purchase order number already exists. If duplicate purchase order numbers are allowed, but this purchase order number already exists for this customer it will be rejected. There is a parameter 'AllowDuplicateOrderNumbers' which will override the check for duplicate purchase order numbers against the same customer, as long as the SYSPRO configuration is set so that duplicate purchase order numbers are allowed. The format is up to 30 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustomersPartNumber">
		<xsd:annotation>
			<xsd:documentation>If the value of the element StockCode is blank, and this element contains a value, a check is made against the customer/stock code cross-reference file to see if this part number is valid for this customer. If it is, the matching SYSPRO stock code is used for the stock code in sales orders.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DatePrepared" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>This is the date that this document was produced and is for reference purposes  only. If not supplied it will default to the run date. The format is CCYY-MM-DD.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeliveryDate">
		<xsd:annotation>
			<xsd:documentation>This is the delivery date for the delivery load.  Valid only when Load Planning is in use.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeliveryLoad">
		<xsd:annotation>
			<xsd:documentation>This element specifies the sub elements that make up the delivery load for the detail line.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="DeliveryRouteCode" minOccurs="0"/>
				<xsd:element ref="DeliveryDate" minOccurs="0"/>
				<xsd:element ref="DeliverySequence" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DeliveryRouteAction" default="N">
		<xsd:annotation>
			<xsd:documentation>This is only relevant if load planning is in use. 'N', the default - No delivery route required, 'E', use delivery route entered in element 'DeliveryRoute', 'C', use delivery route from customer, 'X', remove exisitng delivery route from order.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="X"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeliveryRoute">
		<xsd:annotation>
			<xsd:documentation>Only relevant if load planning is in use. It is used in conjunction with the element 'DeliveryRouteAction'.  If entered, and DeliveryRouteAction is 'E', then it must be a valid delivery route code. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeliveryRouteCode">
		<xsd:annotation>
			<xsd:documentation>Only relevant if load planning is in use. It is the Delivery Route Code for the delivery load of the detail line. If used it must be a valid delivery route code. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeliverySequence">
		<xsd:annotation>
			<xsd:documentation>Only relevant if load planning is in use. It is the Delivery Sequence for the delivery load of the detail line.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeliveryTerms">
		<xsd:annotation>
			<xsd:documentation>This is only relevant for orders placed where the SYSPRO option 'EC Vat system required' is selected. The delivery terms code is optional, but if entered is up to 3 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DocumentFormat">
		<xsd:annotation>
			<xsd:documentation>This is the document format number to be used when printing the document on SYSPRO. If entered, it must be in the range 0 to 9, A - Z, a-z. If not entered, then the code from the customer will be used. If there is no code on the customer, zero is assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Email">
		<xsd:annotation>
			<xsd:documentation>This is the e-mail address to be stored against the sales order. The format is 255 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="eSignature">
		<xsd:annotation>
			<xsd:documentation>If required, this element must contain a GUID, for the eSignature system to accept the transaction as having been authenticated. The GUID format is in the format {36303032-3330-3031-3038-323434363433}, where the numbers can be replaced with any character. It is up to the developer to have requested a password to protect the transaction. An example is that a GUID associated with the act of entering a valid password could be obtained and presented.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FreightCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of the freight entry. The format is 12.2 either positive or negative. The negative sign can either precede or follow the value.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FreightFstCode">
		<xsd:annotation>
			<xsd:documentation>This is the Canadian Federal Sales Tax code to be assigned to this freight charge. If the Canadian FST system is in use and a tax code is present, it must be valid within SYSPRO. The format is 3 character, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FreightLine">
		<xsd:annotation>
			<xsd:documentation>This element specifies that the sub-elements make up a detail sales order line for a Freight line.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="CustomerPoLine"/>
				<xsd:element ref="LineActionType"/>
				<xsd:element ref="LineCancelCode" minOccurs="0"/>
				<xsd:element ref="FreightValue" minOccurs="0"/>
				<xsd:element ref="FreightCost" minOccurs="0"/>
				<xsd:element ref="FreightTaxCode" minOccurs="0"/>
				<xsd:element ref="FreightNotTaxable" minOccurs="0"/>
				<xsd:element ref="FreightFstCode" minOccurs="0"/>
				<xsd:element ref="FreightNotFstTaxable" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FreightNotFstTaxable">
		<xsd:annotation>
			<xsd:documentation>This element is used to override the default FST (Canadian tax system) status of the freight detail line. If the order is subject to FST, then setting this element to 'Y' will cause the line to have no FST applied. The element may contain 'Y' (not taxable) or blank (default).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FreightNotTaxable">
		<xsd:annotation>
			<xsd:documentation>This element is used to override the default tax status of the freight detail line. If the order is subject to sales tax, then setting this element to 'Y' will cause the line to have no sales tax applied. The element may contain 'Y' (not taxable) or blank (default).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FreightTaxCode">
		<xsd:annotation>
			<xsd:documentation>This is the tax code to be assigned to the freight charge. If this is present it must be a valid SYSPRO tax code. The format is 3 character, alphanumeric.When using Descriptive Tax Codes, a descriptive tax code must be provided.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FreightValue">
		<xsd:annotation>
			<xsd:documentation>This is the value of the freight charge. The format is 12.2 either positive or negative. The negative sign can either precede or follow the value.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GstExemptNumber">
		<xsd:annotation>
			<xsd:documentation>This is the customer's Gst exemption number. If it is not supplied, the Gst exemption number from the Customer Master table is used. The element can contain up to 15 alphanumeric characters. Although the element is only meaningful for a Gst exempt order where Canadian tax is in force, if supllied it will be used, regardless of the type of order.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GstExemptionStatus">
		<xsd:annotation>
			<xsd:documentation>This is used to override the GSTstatus of the customer if Canadian tax is required. If not given or blank the GSTstatus of the customer is used for a new order. It can be used to change the GSTstatus of an existing order.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InvoiceDateEntered">
		<xsd:annotation>
			<xsd:documentation>The invoice date may only be supplied if the sales order is to be created in a status of 8. It may only be supplied if the SYSPRO configuration rules allow it to be supplied, or if the parameter AllowInvoiceInformationEntry is set. The format is CCYY-MM-DD.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InvoiceNumberEntered">
		<xsd:annotation>
			<xsd:documentation>The invoice number may only be supplied if the sales order is to be created in a status of 8. It may only be supplied if the SYSPRO configuration rules allow it to be supplied, or if the parameter AllowInvoiceInformationEntry is set. The entry must follow the SYSPRO configuration rules for the type of invoice number.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InvoiceTerms">
		<xsd:annotation>
			<xsd:documentation>This element contains the invoice terms code for the transaction. If it is not present the invoice terms code for the relevant customer is obtained from SYSPRO. The format is 2 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InvoiceWholeOrderOnly">
		<xsd:annotation>
			<xsd:documentation>This element is used in conjunction with the SYSPRO customer rule 'Invoice whole orders only' . This element may be used to over-ride the rule for an individual order only. it may only be used if the operator has authority to do this.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LineActionType" default="A">
		<xsd:annotation>
			<xsd:documentation>The action to be performed for this order line. The action can be:  A - Add a sales order line, C - Change an existing sales order line, D - Cancel the sales order line. If the OrderActionType is A for a new order, all the detail lines must contain a LineActionType of A.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="D"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LineCancelCode">
		<xsd:annotation>
			<xsd:documentation>This element is only required if the detail line has a LineActionType of 'D' - delete. If the SYSPRO setup option to retain analysis details for cancelled order lines is selected, then the contents of this element must be a valid Cancel Reason code within SYSPRO, or the element 'CancelReasoncode' within the order header must contain a valid Cancel Reason code. It can contain 1 to 6 alphanumeric characters.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LineDiscPercent1">
		<xsd:annotation>
			<xsd:documentation>The first line discount percentage to be applied to this sales order line. This can be up to 100.00, positive or negative. The negative sign can precede or follow the value. This will only be used if the customer is not subject to contract pricing.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LineDiscPercent2">
		<xsd:annotation>
			<xsd:documentation>The second line discount percentage to be applied to this sales order line. This can be up to 100.00, positive or negative. The negative sign can precede or follow the value. This will be applied after LineDiscPercent1. This will only be used if the customer is not subject to contract pricing.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LineDiscPercent3">
		<xsd:annotation>
			<xsd:documentation>The third line discount percentage to be applied to this sales order line. This can be up to 100.00, positive or negative. The negative sign can precede or follow the value. This will be applied after LineDiscPercent1 and LineDiscPercent2. This will only be used if the customer is not subject to contract pricing.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LineDiscValFlag">
		<xsd:annotation>
			<xsd:documentation>This flag is used to determine the usage of the contents of the element 'LineDiscValue'. When 'LineDiscValue' is non zero, then an entry of 'U' means the value is to be applied as a unit discount. When 'V' or space (the default), then the value is applied as a value discount.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="V"/>
				<xsd:enumeration value="U"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LineDiscValue">
		<xsd:annotation>
			<xsd:documentation>This is the discount value to be applied to this detail line. The format is 12.2 positive or negative, and the negative sign can precede or follow the value. If this value is not entered, the type of discount  for the line is assumed to be a chain discount. This will only be used if the customer is not subject to contract pricing. The elememt 'LineDiscValflag' is used to decide if the discount is a unit or a value discount.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LineMultiShipCode">
		<xsd:annotation>
			<xsd:documentation>This is only applicable when the order header element 'ShipAddressPerLine' is set to 'Y'. If entered it must be a valid address code for the customer. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LineShipDate">
		<xsd:annotation>
			<xsd:documentation>This is the expected ship date of this detail line. The format is CCYY-MM-DD. If no date is supplied for a new detail line, then it is taken from the contents of the element CustRequestDate which itself may have been calculated. If it is supplied for a changed line, then it is used to update only the line ship date. If it is supplied, and the parameter 'AcceptEarlierShipDate' is set to 'Y', then this date may be before the ship date on the header.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MiscChargeCost">
		<xsd:annotation>
			<xsd:documentation>This is the cost of the miscellaneous charge. The format is 12.2 either positive or negative. The negative sign can either precede or follow the value.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MiscChargeLine">
		<xsd:annotation>
			<xsd:documentation>This element specifies that the sub-elements make up a detail sales order line for a Miscellaneous Charge line.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="CustomerPoLine"/>
				<xsd:element ref="LineActionType"/>
				<xsd:element ref="LineCancelCode" minOccurs="0"/>
				<xsd:element ref="MiscChargeValue" minOccurs="0"/>
				<xsd:element ref="MiscChargeCost" minOccurs="0"/>
				<xsd:element ref="MiscQuantity" minOccurs="0"/>
				<xsd:element ref="MiscProductClass" minOccurs="0"/>
				<xsd:element ref="MiscTaxCode" minOccurs="0"/>
				<xsd:element ref="MiscNotTaxable" minOccurs="0"/>
				<xsd:element ref="MiscFstCode" minOccurs="0"/>
				<xsd:element ref="MiscNotFstTaxable" minOccurs="0"/>
				<xsd:element ref="MiscDescription" minOccurs="0"/>
				<xsd:element ref="MiscChargeCode" minOccurs="0"/>
				<xsd:element ref="MiscTariffCode" minOccurs="0"/>
				<xsd:element ref="MiscSvcChargePrice" minOccurs="0"/>
				<xsd:element ref="ConfigPrintInv" minOccurs="0"/>
				<xsd:element ref="ConfigPrintDel" minOccurs="0"/>
				<xsd:element ref="ConfigPrintAck" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MiscChargeValue">
		<xsd:annotation>
			<xsd:documentation>This is the value of the miscellaneous charge. The format is 12.2 either positive or negative. The negative sign can either precede or follow the value.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MiscDescription">
		<xsd:annotation>
			<xsd:documentation>This is the description to appear with the miscellaneous charge. The format is 100 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MiscFstCode">
		<xsd:annotation>
			<xsd:documentation>This is the Canadian Federal Sales Tax code to be assigned to the miscellaneous charge. If the Canadian FST system is in use and a tax code is present, it must be valid within SYSPRO. The format is 1 character, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MiscNotFstTaxable">
		<xsd:annotation>
			<xsd:documentation>This element is used to override the default FST (Canadian tax system) status of the miscellaneous charge detail line. If the order is subject to FST, then setting this element to 'Y' will cause the line to have no FST applied. The element may contain 'Y' (not taxable) or blank (default).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MiscNotTaxable">
		<xsd:annotation>
			<xsd:documentation>This element is used to override the default tax status of the miscellaneous charge detail line. If the order is subject to sales tax, then setting this element to 'Y' will cause the line to have no sales tax applied. The element may contain 'Y' (not taxable) or blank (default).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MiscProductClass">
		<xsd:annotation>
			<xsd:documentation>This is the product class to be updated with the sales quantity and cost values for the miscellaneous charge. This is a mandatory element, unless a standard code is provided. The product class must be valid within SYSPRO. The format is 20 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MiscQuantity">
		<xsd:annotation>
			<xsd:documentation>If using service charges, this is the quantity of the services charges. The format is 12.6positive or negative, where the negative sign can precede or follow the value.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MiscTaxCode">
		<xsd:annotation>
			<xsd:documentation>This is the tax code to be assigned to the miscellaneous charge. If this is present it must be a valid SYSPRO tax code. The format is 3character, alphanumeric.When using Descriptive Tax Codes, a descriptive tax code must be provided.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MiscChargeCode">
		<xsd:annotation>
			<xsd:documentation>This element is used to select a standard service charge on which to base the miscellaneous line. It is only relevant when a line is added. If entered, it must represent a standard SYSPRO service charge code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MiscTariffCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This only applies if a charge code is used to instantiate the information in the miscellaneous charge line. If entered, the contents will be used as the tariff code for the line. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MiscSvcChargePrice">
		<xsd:annotation>
			<xsd:documentation>The price of the Service Charge. Will only be used if MiscChargeCode is not blank.  The format is 10.5.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MultiShipCode">
		<xsd:annotation>
			<xsd:documentation>The contents of this element can be used to select one of the predefined multiple ship to addresses against this customer. The format is 5 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Nationality">
		<xsd:annotation>
			<xsd:documentation>This is only relevant for orders placed where the SYSPRO option 'EC Vat system required' is selected. The nationality code if entered must be valid against the table of nationality codes in SYSPRO. If not entered, it will default to the nationality against the customer. The format is up to 3 characters alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NewCustomerPoNumber">
		<xsd:annotation>
			<xsd:documentation>This is only relevant if changing an order. This element is used to allow the existing customer purchase order number on a sales order to be changed. If the SYSPRO configuration is set so that duplicate purchase order numbers are not allowed, the change will be rejected if this purchase order number already exists. If duplicate purchase order numbers are allowed, but this purchase order number already exists for the customer it will be rejected. There is a parameter 'AllowDuplicateOrderNumbers' which will override the check for duplicate purchase order numbers against the same customer, as long as the SYSPRO configuration is set so that duplicate purchase order numbers are allowed. The format is up to 30 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NonStockedLine">
		<xsd:annotation>
			<xsd:documentation>This element is used in conjuction with the parameter 'AllowNonStockedItems'. When the parameter is set to 'S' (specify), then this element is used to determine if a line is for a non-stocked item. Valid entries are 'Y' (yes, a non-stocked line), or blank, the default. This element is normally only relevant for line action type 'A' - add, and will be ignored for other actions. the exception is cancelling a non-stocked line where the non-stocked code is also a valid stocked code. Then the flag must be set to 'Y', and the parameter to 'S'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value=""/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NsProductClass">
		<xsd:annotation>
			<xsd:documentation>This is the product class to be used for the item if it is non-stocked. If it is a non-stocked item this element is mandatory and must be a valid entry within SYSPRO. The format is 20 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NsUnitCost">
		<xsd:annotation>
			<xsd:documentation>This is the unit cost of the non-stocked item. The format is 10.5 positive.The element is only relevant for a non-stocked line.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UnitMass">
		<xsd:annotation>
			<xsd:documentation>This is the unit mass of the merchandise item. The format is 12.6 positive. If this is not given for a stocked line, the unit mass of the inventory item is used.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UnitVolume">
		<xsd:annotation>
			<xsd:documentation>This is the unit volume of the merchandise item. The format is 12.6 positive. If this is not given for a stocked line, the unit volume of the inventory item is used.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderActionType" default="A">
		<xsd:annotation>
			<xsd:documentation>The action to be performed for this order header. The action can be A - Add a sales order, C - Change an existing sales order, D - Cancel the sales order. If adding a sales order header, all detail lines must have an A for LineActionType. If changing an order, the individual order lines may be added, changed or cancelled. If Cancelling an order, all detail lines will be cancelled. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="D"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderComments">
		<xsd:annotation>
			<xsd:documentation>Order comments can be added as one or more strings. The maximum length of a single string is 400 characters. If a single string is more than 100 characters, it will be broken into more than one line at an appropriate place. The maximum total size of the order comments is 4 lines each of 100 characters.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>This is the date the order was placed. The format is CCYY-MM-DD.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderDetails">
		<xsd:annotation>
			<xsd:documentation>This element contains the elements that make up the order detail line information. It can contain StockLine (for stocked lines), CommentLine (for comment lines), MiscChargeLine (for lines containing miscellaneous charges) and FreightLine (for lines relating to freight charges).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="StockLine" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CommentLine" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="MiscChargeLine" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="FreightLine" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderDiscPercent1">
		<xsd:annotation>
			<xsd:documentation>The first order discount percentage to be applied to the sales order. This can be up to 100.00, positive or negative. The negative sign can precede or follow the value. This will only be used if a configuration option is set.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderDiscPercent2">
		<xsd:annotation>
			<xsd:documentation>The second order discount percentage to be applied to the sales order. This can be up to 100.00, positive or negative. The negative sign can precede or follow the value. This will be applied after OrderDiscPercent1. This will only be used if a configuration option is set.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderDiscPercent3">
		<xsd:annotation>
			<xsd:documentation>The third order discount percentage to be applied to the sales order. This can be up to 100.00, positive or negative. The negative sign can precede or follow the value. This will be applied after OrderDiscPercent1 and OrderDiscPercent2. This will only be used if a configuration option is set.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderHeader">
		<xsd:annotation>
			<xsd:documentation>This element contains the elements that make up the order header information for a sales order.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="CustomerPoNumber" minOccurs="0"/>
				<xsd:element ref="OrderActionType" minOccurs="0"/>
				<xsd:element ref="NewCustomerPoNumber" minOccurs="0"/>
				<xsd:element ref="Supplier" minOccurs="0"/>
				<xsd:element ref="Customer" minOccurs="0"/>
				<xsd:element ref="OrderDate" minOccurs="0"/>
				<xsd:element ref="InvoiceTerms" minOccurs="0"/>
				<xsd:element ref="Currency" minOccurs="0"/>
				<xsd:element ref="ShippingInstrs" minOccurs="0"/>
				<xsd:element ref="ShippingInstrsCode" minOccurs="0"/>
				<xsd:element ref="CustomerName" minOccurs="0"/>
				<xsd:element ref="ShipAddress1" minOccurs="0"/>
				<xsd:element ref="ShipAddress2" minOccurs="0"/>
				<xsd:element ref="ShipAddress3" minOccurs="0"/>
				<xsd:element ref="ShipAddress3Locality" minOccurs="0"/>
				<xsd:element ref="ShipAddress4" minOccurs="0"/>
				<xsd:element ref="ShipAddress5" minOccurs="0"/>
				<xsd:element ref="ShipPostalCode" minOccurs="0"/>
				<xsd:element ref="ShipGpsLat" minOccurs="0"/>
				<xsd:element ref="ShipGpsLong" minOccurs="0"/>
				<xsd:element name="LanguageCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This is the language code for the address/document, if you have the Multi language documnet printing option switched on</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Email" minOccurs="0"/>
				<xsd:element ref="OrderDiscPercent1" minOccurs="0"/>
				<xsd:element ref="OrderDiscPercent2" minOccurs="0"/>
				<xsd:element ref="OrderDiscPercent3" minOccurs="0"/>
				<xsd:element ref="Warehouse" minOccurs="0"/>
				<xsd:element ref="SpecialInstrs" minOccurs="0"/>
				<xsd:element ref="SalesOrder" minOccurs="0"/>
				<xsd:element ref="OrderType" minOccurs="0"/>
				<xsd:element ref="MultiShipCode" minOccurs="0"/>
				<xsd:element ref="ShipAddressPerLine" minOccurs="0"/>
				<xsd:element ref="AlternateReference" minOccurs="0"/>
				<xsd:element ref="Salesperson" minOccurs="0"/>
				<xsd:element ref="Branch" minOccurs="0"/>
				<xsd:element ref="Area" minOccurs="0"/>
				<xsd:element ref="RequestedShipDate" minOccurs="0"/>
				<xsd:element ref="InvoiceNumberEntered" minOccurs="0"/>
				<xsd:element ref="InvoiceDateEntered" minOccurs="0"/>
				<xsd:element ref="OrderComments" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Nationality" minOccurs="0"/>
				<xsd:element ref="DeliveryTerms" minOccurs="0"/>
				<xsd:element name="ShippingLocation" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This is only relevant for orders placed where the SYSPRO option 'EC Vat system required' is selected. The shipping location is optional, but if entered is up to 10 alphanumeric characters.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="TransactionNature" minOccurs="0"/>
				<xsd:element ref="TransportMode" minOccurs="0"/>
				<xsd:element ref="ProcessFlag" minOccurs="0"/>
				<xsd:element ref="TaxExemptNumber" minOccurs="0"/>
				<xsd:element ref="TaxExemptionStatus" minOccurs="0"/>
				<xsd:element ref="GstExemptNumber" minOccurs="0"/>
				<xsd:element ref="GstExemptionStatus" minOccurs="0"/>
				<xsd:element ref="CompanyTaxNumber" minOccurs="0"/>
				<xsd:element ref="ShipAddressPerLineTax" minOccurs="0"/>
				<xsd:element ref="CancelReasonCode" minOccurs="0"/>
				<xsd:element ref="DocumentFormat" minOccurs="0"/>
				<xsd:element ref="State" minOccurs="0"/>
				<xsd:element ref="CountyZip" minOccurs="0"/>
				<xsd:element ref="City" minOccurs="0"/>
				<xsd:element ref="DeliveryRouteAction" minOccurs="0"/>
				<xsd:element ref="DeliveryRoute" minOccurs="0"/>
				<xsd:element ref="InvoiceWholeOrderOnly" minOccurs="0"/>
				<xsd:element ref="SalesOrderPromoQualifyAction" minOccurs="0"/>
				<xsd:element ref="SalesOrderPromoSelectAction" minOccurs="0"/>
				<xsd:element ref="GlobalTradePromotionCodes" minOccurs="0"/>
				<xsd:element name="GlobalFreeGoodsSelection" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>This must be supplied for each qualifying Global Free goods promotion that uses a list of stock codes for the free goods stock code.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GlobalFreeGoodsPromotion">
								<xsd:annotation>
									<xsd:documentation>This must be a qualified promotion for the line selected.  The code is a maximum of 10 characters.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="GlobalFreeGoodsStock">
								<xsd:annotation>
									<xsd:documentation>Provide the stock code to be applied to the free goods promotion. This stock code should be part of the list defined for the promotion specified in GlobalFreeGoodsPromotion.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="POSSalesOrder" minOccurs="0"/>
				<xsd:element name="IncludeInMrp" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This is the flag to which you can choose to Include/Exclude the sales order header from the MRP Calculation. Y/N (Yes/No). Default = Y.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="Y"/>
							<xsd:enumeration value="N"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="eSignature" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SupplementaryUnitsFactor">
		<xsd:annotation>
			<xsd:documentation>This entry only applies if the line is a stocked line, the stock code required the use of supplementary units for EC Vat reporting, and the stock code is linked to a supplementary units code. If supplied, it must be a positive number with up to 6 decimal places.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderQty">
		<xsd:annotation>
			<xsd:documentation>The quantity of the item that the customer is ordering, in the unit of measure entered in OrderUom. If LineType is A, the OrderQty element is mandatory. If the LineType is C, this is the new quantity to use (ie. the existing order quantity is replaced with this value). The format is 12.6 positive or negative, with either a preceding or following negative. If Multiple Bins are installed, if the stock item is serialized, lot traceable or kit type or if there is not enough stock, the quantity ordered will automatically be placed in back order.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderType">
		<xsd:annotation>
			<xsd:documentation>The contents of this element will update the order type field on the sales order. The order type field is a user-defined means of categorizing sales orders. If the SYSPRO configuration option specifies that OrderType must be valid, the order type will be validated. If not supplied the default order type is used. If no default is present then an error is returned. The format is 2 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderUom">
		<xsd:annotation>
			<xsd:documentation>The unit of measure for OrderQty for the item. This is mandatory for each new StockLine entry. It will be ignored on a change stock line, as the unit of measure cannot be changed on an existing line. This must be a valid unit of measure within SYSPRO. The format is 10 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Orders">
		<xsd:annotation>
			<xsd:documentation>This node contains all the information required to add, change or delete a slaes order. It can appear multiple times</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="OrderHeader"/>
				<xsd:element ref="OrderDetails" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OverrideCalculatedDiscount">
		<xsd:annotation>
			<xsd:documentation>If this element is set, then the discount entered agains tthe line (even if zero) will be used in preference to any calcualted order level discounts for the product class and customer if the customer is set up to use order discounts by product class. The default is 'N'.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Pieces">
		<xsd:annotation>
			<xsd:documentation>If the detail line is a merchandise line, and the stock code is a unit-qty type stock code and the OrderQty element is not supplied, the quantity of the detail line must be supplied as units and pieces. At least one of these elements must be supplied. Both elements must be of the same sign. If processing a change or a deletion, then a quantity is not required.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Price">
		<xsd:annotation>
			<xsd:documentation>The price of the item in the unit of measure PriceUom. Depending on the SYSPRO configuration options this price will normally be calculated during the import and updated if necessary the format is 10.5.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PriceCode">
		<xsd:annotation>
			<xsd:documentation>The price code can be supplied for a stocked item only. If entered, it must be a valid price code for the stocked item. It will be considered after the price element, but before using the standard SYSPRO pricing mechanism.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PriceUom">
		<xsd:annotation>
			<xsd:documentation>The unit of measure that the Price refers to. This is a mandatory field if Price contains an entry. This entry must be a valid price unit of measure within SYSPRO. The format is 10 characters, alphanumeric. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProcessFlag">
		<xsd:annotation>
			<xsd:documentation>This is only relevant for orders placed where the SYSPRO option 'EC Vat system required' is selected. The process flag is optional, but if entered is 1 numeric containing  0-9.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProductClass">
		<xsd:annotation>
			<xsd:documentation>This is the product class for this sales order line. It is only relevant for a merchandise line. If supplied it must be valid. If not supplied the product class is picked up from the stock item. If the item is non-stocked, then the product class will be taken form the element NsProductClass first.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ReceiverCode">
		<xsd:annotation>
			<xsd:documentation>This is the EDI code for the organization (up to 40 characters, alphanumeric), and is for reference purposes only.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RequestedShipDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>This is the date that the customer has requested shipment of the whole order. The format is CCYY-MM-DD. 

If no date is supplied then it is calculated as today's date plus MinimumDaysToShip from the supplied parameter file. If there is no MinimumDaysToShip entry then the SYSPRO field Minimum Number of Days To Ship is added to today's date.

If RequestedShipDate is supplied and AcceptEarlierShipDate in the parameter file is set to 'N', a check is made that it is equal to or greater than the date calculated above.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReserveStock">
		<xsd:annotation>
			<xsd:documentation>This element is only relevant if the SO Option to allow reserving of stock is selected. If set to 'Y', then any attempt to allocate stock for a line will result in it being reserved, and not shipped. If set to 'N', then any attempt to allocate stock will result in it being shipped. If the element is not supplied, then the parameter ReserveStock will be used, or the SYSPRO company setting will be used.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ReserveStockRequestAllocs">
		<xsd:annotation>
			<xsd:documentation>This element is only relevant if the SO Option to allow reserving of stock is selected, and stock is being reserved not shipped. If set to 'Y', then any lot bin or serial item can only be reserved using the ship rules.  If set to 'N', then a lot , serial or bin item can be reserved as detail allocations are not required.  If the element is not supplied, then the parameter ReserveStock will be used, or the SYSPRO company setting will be used.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SalesOrder">
		<xsd:annotation>
			<xsd:documentation>The sales order number to use. If the OrderActionType is A (Add) and SYSPRO is NOT set up to use automatic sales order numbering, this number will become the sales order number. If the OrderActionType is either C or D (for change or cancel) the sales order number must be supplied. The format is maximum 20 characters, either numeric or alphanumeric, depending on the configuration option within SYSPRO.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SalesOrders">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="TransmissionHeader" minOccurs="0"/>
				<xsd:element ref="Orders" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Salesperson">
		<xsd:annotation>
			<xsd:documentation>This is the salesperson responsible for this sales order. If supplied it must be valid. If not supplied the salesperson is picked up from the customer account.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SenderCode">
		<xsd:annotation>
			<xsd:documentation>This is the code referring to the sending trading partner. Within SYSPRO you can set up trading partners and give them a code. This code is used to identify them so most of the normal information does not need to be passed. If there is an entry for SenderCode it must be valid. If this code is not supplied then the Customer element customer code will be used. If this is not present then the "Customer to Access" against the operator code is used. If this is also not present the "Customer to Use" code in the supplied parameter file is used. This field is up to 40 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ShipAddress1">
		<xsd:annotation>
			<xsd:documentation>This is the first line of the delivery address to appear against the sales order. If this and all other address lines are left blank the full address will be taken from the customer account. To remove this line from an existing address when changing an order, use the text {blank} or {BLANK}.The format is 40 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ShipAddress2">
		<xsd:annotation>
			<xsd:documentation>This is the second line of the delivery address to appear against the sales order. To remove this line from an existing address when changing an order, use the text {blank} or {BLANK}.The format is 40 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ShipAddress3">
		<xsd:annotation>
			<xsd:documentation>This is the third line of the delivery address to appear against the sales order. To remove this line from an existing address when changing an order, use the text {blank} or {BLANK}.The format is 40 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ShipAddress3Locality" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This is the locality of the delivery address to appear against the sales order. To remove this line from an existing address when changing an order, use the text {blank} or {BLANK}.The format is 40 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipAddress4">
		<xsd:annotation>
			<xsd:documentation>This is the fourth line of the delivery address to appear against the sales order.  To remove this line from an existing address when changing an order, use the text {blank} or {BLANK}.The format is 40 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ShipAddress5">
		<xsd:annotation>
			<xsd:documentation>This is the fifth line of the delivery address to appear against the sales order. To remove this line from an existing address when changing an order, use the text {blank} or {BLANK}.The format is 40 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ShipAddressPerLine">
		<xsd:annotation>
			<xsd:documentation>This may be set to 'Y' to indicate that merchandise lines may contain a ship address code that differs from the order ship address code. All lines and associated lines with the same code will be used to produce a separate delivery note.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ShipGpsLat" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This is the geo location latitude of the delivery address to appear against the sales order. The format is 2.6, positive or negative.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipGpsLong" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This is the geo location longitude of the delivery address to appear against the sales order. The format is 3.6, positive or negative.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipPostalCode">
		<xsd:annotation>
			<xsd:documentation>This is the postal code line of the delivery address to appear against the sales order. To remove this line from an existing address when changing an order, use the text {blank} or {BLANK}.The format is 10 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ShippingInstrs">
		<xsd:annotation>
			<xsd:documentation>This contains any shipping instructions that are to be placed against the order. The format is 50 characters, alphanumeric. If the SYSPRO option to use coded shipping instructions is in use then any entry here will be used to over-ride the description against the code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ShippingInstrsCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation> If the SYSPRO option to use coded shipping instructions is in use and this element is populated, then the table of Shipping Instructions in SYSPRO is read, and the description used on the header, unless the element ShippingInstrs is populated, which will cause the description to be over-ridden. If the parameter 'ValidateShippingInstrs' is set to 'Y' then this element can contain only a valid shipping code - it may be blank for a changed order.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpecialInstrs">
		<xsd:annotation>
			<xsd:documentation>This contains any special instructions that are to be placed against the order. The format is 50 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="State">
		<xsd:annotation>
			<xsd:documentation>This is the state code that is part of the extended tax code  that will be used for the order. It must make up a valid extended tax code if entered. If not supplied, then the SYSPRO rules for obtaining the extended tax code will be used. 
Note: The Extended tax code field is only displayed if your nationality code is defined as USA and either the AVP sales tax system is required or you require tax by advanced geocodes (Tax Options Setup).
Format is 2 character alphanumeric. If the three extended tax entries are left blank, the whole extended tax code will default to that on the customer master.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockCode">
		<xsd:annotation>
			<xsd:documentation>SYSPRO sales orders can be entered using either the company's stock code (StockCode) or the customer's part number (CustomersPartNumber). If the company's StockCode element is non-blank, a check is made to see if this is a valid stock code, and if it is, it is used. If the company's stock code is either blank or invalid, the CustomersPartNumber element is read and a check is done for the customer/stock code combination using the cross-reference file. If this is a valid part number for the customer, it is used. If the customer's part number is either invalid, or does not exist, a check is made to see if non-stocked lines are allowed. If they are then the line is accepted. The stock item must not be on hold. 

If the stock code is under the control of ECC and it is not of type S (for Stock) it will be rejected. If it is type S the line is accepted. 
If the action is change, and the stock code is provided, it is used to validate that the line selected for change is the correct line.
The format is 30 characters, numeric or alphanumeric depending on the configuration option within SYSPRO.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockDescription">
		<xsd:annotation>
			<xsd:documentation>If the customer's part number is missing and the content of StockCode is not valid a check is made to see if non-stocked lines are allowed. If they are, the contents of this element are used as the description of the non-stocked item. The format is 50 characters, alphanumeric.
If the line is a new valid stocked line, and the parameter 'UseStockDescSupplied' is set to 'Y', and the contents of this element are not blank, then the contents of this element are used instead of the description from the Item Master.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockFstCode">
		<xsd:annotation>
			<xsd:documentation>This is the Canadian Federal Sales Tax code to be assigned to the stock line. If this is present, and the Canadian tax system is in use, it must be a valid SYSPRO tax code. The format is 3 character, alphanumeric. If the setup option 'Sales Order setup - Tax/um - allow changes to tax code for stocked items' is not selected, then any entry in this element will be rejected.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockLine">
		<xsd:annotation>
			<xsd:documentation>This element specifies that the sub-elements make up a detail sales order line for a stocked or non-stocked item.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="CustomerPoLine" minOccurs="0"/>
				<xsd:element ref="LineActionType"/>
				<xsd:element ref="LineCancelCode" minOccurs="0"/>
				<xsd:element ref="StockCode" minOccurs="0"/>
				<xsd:element ref="StockDescription" minOccurs="0"/>
				<xsd:element ref="Warehouse" minOccurs="0"/>
				<xsd:element ref="CustomersPartNumber" minOccurs="0"/>
				<xsd:element ref="OrderQty" minOccurs="0"/>
				<xsd:element ref="OrderUom" minOccurs="0"/>
				<xsd:element ref="Price" minOccurs="0"/>
				<xsd:element ref="PriceUom" minOccurs="0"/>
				<xsd:element ref="PriceCode" minOccurs="0"/>
				<xsd:element ref="AlwaysUsePriceEntered" minOccurs="0"/>
				<xsd:element ref="Units" minOccurs="0"/>
				<xsd:element ref="Pieces" minOccurs="0"/>
				<xsd:element ref="ProductClass" minOccurs="0"/>
				<xsd:element ref="LineDiscPercent1" minOccurs="0"/>
				<xsd:element ref="LineDiscPercent2" minOccurs="0"/>
				<xsd:element ref="LineDiscPercent3" minOccurs="0"/>
				<xsd:element ref="AlwaysUseDiscountEntered" minOccurs="0"/>
				<xsd:element ref="CustRequestDate" minOccurs="0"/>
				<xsd:element ref="CommissionCode" minOccurs="0"/>
				<xsd:element ref="LineShipDate" minOccurs="0"/>
				<xsd:element ref="LineDiscValue" minOccurs="0"/>
				<xsd:element ref="LineDiscValFlag" minOccurs="0"/>
				<xsd:element ref="OverrideCalculatedDiscount" minOccurs="0"/>
				<xsd:element ref="UserDefined" minOccurs="0"/>
				<xsd:element ref="NonStockedLine" minOccurs="0"/>
				<xsd:element ref="NsProductClass" minOccurs="0"/>
				<xsd:element ref="NsUnitCost" minOccurs="0"/>
				<xsd:element ref="UnitMass" minOccurs="0"/>
				<xsd:element ref="UnitVolume" minOccurs="0"/>
				<xsd:element ref="StockTaxCode" minOccurs="0"/>
				<xsd:element ref="StockNotTaxable" minOccurs="0"/>
				<xsd:element ref="StockFstCode" minOccurs="0"/>
				<xsd:element ref="StockNotFstTaxable" minOccurs="0"/>
				<xsd:element ref="AllocationAction" minOccurs="0"/>
				<xsd:element ref="ConfigPrintInv" minOccurs="0"/>
				<xsd:element ref="ConfigPrintDel" minOccurs="0"/>
				<xsd:element ref="ConfigPrintAck" minOccurs="0"/>
				<xsd:element ref="TariffCode" minOccurs="0"/>
				<xsd:element ref="LineMultiShipCode" minOccurs="0"/>
				<xsd:element ref="SupplementaryUnitsFactor" minOccurs="0"/>
				<xsd:element ref="ReserveStock" minOccurs="0"/>
				<xsd:element ref="ReserveStockRequestAllocs" minOccurs="0"/>
				<xsd:element ref="TradePromotionCodes" minOccurs="0"/>
				<xsd:element name="FreeGoodsSelection" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>This must be supplied for each qualifying Free goods promotion that uses a list of stock codes for the free goods stock code.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FreeGoodsPromotion">
								<xsd:annotation>
									<xsd:documentation>This must be a qualified promotion for the line selected.  The code is a maximum of 10 characters.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FreeGoodsStock">
								<xsd:annotation>
									<xsd:documentation>Provide the stock code to be applied to the free goods promotion. This stock code should be part of the list defined for the promotion specified in FreeGoodsPromotion.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IncludeInMrp" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This is the flag to which you can choose to Include/Exclude the sales order line from the MRP Calculation. Y/N (Yes/No). Default = Y.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="Y"/>
							<xsd:enumeration value="N"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="DeliveryLoad" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StockNotFstTaxable">
		<xsd:annotation>
			<xsd:documentation>This element is used to override the default FST (Canadian tax system) status of the stock detail line. If the order is subject to FST, then setting this element to 'Y' will cause the line to have no FST applied. The element may contain 'Y' (not taxable) or blank (default). If the setup option 'Sales Order setup - Tax/um - allow changes to tax code for stocked items' is not selected, and the merchandise line is a stocked line, then an entry of 'Y' in this element will be rejected.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockNotTaxable">
		<xsd:annotation>
			<xsd:documentation>This element is used to override the default tax status of the stock detail line. If the order is subject to sales tax, then setting this element to 'Y' will cause the line to have no sales tax applied. The element may contain 'Y' (not taxable) or blank (default).  If the setup option 'Sales Order setup - Tax/um - allow changes to tax code for stocked items' is not selected, and the merchandise line is a stocked line, then an entry of 'Y' in this element will be rejected.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockTaxCode">
		<xsd:annotation>
			<xsd:documentation>This is the tax code to be assigned to the stock line. If this is present it must be a valid SYSPRO tax code. The format is 3 character, alphanumeric. If the setup option 'Sales Order setup - Tax/um - allow changes to tax code for stocked items' is not selected, then any entry in this element will be rejected.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Supplier">
		<xsd:annotation>
			<xsd:documentation>This element is currently for reference purposes only. The format is 15 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TariffCode">
		<xsd:annotation>
			<xsd:documentation>If entered, the contents will be used as the tariff code for the sales order line for both stocked and non-stocked. If not entered, then the tariff code from the inventory master will be used when adding a stocked line. If EC Vat is in operation, and a tariff code is required, then a blank tariff code will be treated as a warning.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxExemptNumber">
		<xsd:annotation>
			<xsd:documentation>This is the customer's tax exemption number. If it is not supplied, the tax exemption number from the Customer Master table is used. The element can contain up to 30 alphanumeric characters. Although the element is only meaningful for an exempt order, if suppllied it will be used, regardless of the type of order.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxExemptionStatus">
		<xsd:annotation>
			<xsd:documentation>This is used to override the tax status of the customer. If not given or blank the tax status of the customer is used for a new order. It can be used to change the tax status of an existing order.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="O"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TimePrepared">
		<xsd:annotation>
			<xsd:documentation>This is the time that the orginal document was prepared and is for reference purposes only. If not supplied it defaults to the run time. The format is HH:MM in the 24 hour clock.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TransactionNature">
		<xsd:annotation>
			<xsd:documentation>This is only relevant for orders placed where the SYSPRO option 'EC Vat system required' is selected. The transaction nature code is optional, but if entered is up to 3 numeric digits.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TransmissionHeader">
		<xsd:annotation>
			<xsd:documentation>The transmission header holds information used to track documents.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="TransmissionReference" minOccurs="0"/>
				<xsd:element ref="SenderCode" minOccurs="0"/>
				<xsd:element ref="ReceiverCode" minOccurs="0"/>
				<xsd:element ref="DatePrepared" minOccurs="0"/>
				<xsd:element ref="TimePrepared" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransmissionReference">
		<xsd:annotation>
			<xsd:documentation>This reference is for reference purposes only (up to 14 characters, alphanumeric).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TransportMode">
		<xsd:annotation>
			<xsd:documentation>This is only relevant for orders placed where the SYSPRO option 'EC Vat system required' is selected. The mode of transport code is optional, but if entered is up to 2 numeric digits.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Units">
		<xsd:annotation>
			<xsd:documentation>If the detail line is a merchandise line, and the stock code is a unit-qty type stock code and the OrderQty element is not supplied, the quantity of the detail line must be supplied as units and pieces. At least one of these elements must be supplied. Both elements must be of the same sign. If processing a change or a deletion, then a quantity is not required.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UserDefined">
		<xsd:annotation>
			<xsd:documentation>This is for use by the user, and is not validated. The format is 4 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Warehouse">
		<xsd:annotation>
			<xsd:documentation>If the warehouse is supplied on the detail line, that is used. If it is not valid then an error is returned. If there is no warehouse against the detail line then the warehouse against the header is used. If this is invalid an error is returned. If there is no warehouse entry against the header the warehouse in the supplied parameter file is used.

If the warehouse record in the parameter file is invalid an error is returned. If there is no warehouse record in the parameter file then the Distribution Warehouse held against the stock code is used. If this is not present then the Warehouse To Use against the stock code is used.

The format is 10 characters, alphanumeric.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SalesOrderPromoQualifyAction">
		<xsd:annotation>
			<xsd:documentation>This is the action to be applied when qualifying trade promotions. This element is used in conjunction with the element 'SalesOrderPromoSelectAction'.



If  'SalesOrderPromoQualifyAction' is 'W', then the whole order is taken, and all lines are submitted for checking, and all qualifying promotions will be applied, or reapplied to the order.



If  'SalesOrderPromoQualifyAction' is 'S', then only merchandise  lines  with the 'TradePromotionsCodes' node are submitted for checking, and all qualifying promotions for them will be applied, or reapplied to the order.  

'Sales OrderPromoSelectionAction' is only applicable when 'SalesOrderPromoQualityAction' is 'W'. If  'SalesOrderPromoSelectAction' is 'A' (all lines),  it has the same effect as selecting 'Requalify' in Sales Order Entry, with the TP setup options 'Automatically select line promotions' and 'Automatically select global promotions' set on. Any line or global promotion codes supplied will be ignored. 

If 'SalesOrderPromoSelectAction' is 'S' (selected lines),  then only lines containing the 'TradePromotionCodes' element are considered for selection. 
The specific promotions required may be provided for the relevant sales order lines. If no promotion codes are given for a selected line, then all promotions for that line are marked as selected. If the GlobalTradePromotionsCodes is supplied, then only those entered will be selected. If the element is supplied, but no codes, then all global promotions for the order are marked as selected.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="W"/>
				<xsd:enumeration value="S "/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SalesOrderPromoSelectAction">
		<xsd:annotation>
			<xsd:documentation>This is the action to be applied when selecting trade promotions. This element is used in conjunction with the element 'SalesOrderPromoQualifyAction', and is only applicable when 'SalesOrderPromoQualifyAction' is 'W'.

If  'SalesOrderPromoSelectAction' is 'A' (all lines),  it has the same effect as selecting 'Requalify' in Sales Order Entry, with the TP setup options 'Automatically select line promotions' and 'Automatically select global promotions' set on.  Any line or global promotion codes supplied will be ignored. .



If  'SalesOrderPromoQualifyAction' is 'S', then only merchandise lines with the 'TradePromotionsCodes' node are submitted for checking, and all qualifying promotions for them will be applied, or reapplied to the order.  

'Sales OrderPromoSelectionAction' is only applicable when 'SalesOrderPromoQualityAction' is 'W'. If  'SalesOrderPromoSelectAction' is 'A' (all lines),  it has the same effect as selecting 'Requalify' in Sales Order Entry, with the TP setup options 'Automatically select line promotions' and 'Automatically select global promotions' set on. Any line or global promotion codes supplied will be ignored. 

If 'SalesOrderPromoSelectAction' is 'S' (selected lines),  then only lines containing the 'TradePromotionCodes' element are considered for selection. 
The specific promotions required may be provided for the relevant sales order lines. If no promotion codes are given for a selected line, then all promotions for that line are marked as selected. If the GlobalTradePromotionsCodes is supplied, then only those entered will be selected. If the element is supplied, but no codes, then all global promotions for the order are marked as selected.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalTradePromotionCodes">
		<xsd:annotation>
			<xsd:documentation>This must be a list of qualified global promotions for the order selected. Each code is a maximum of 10 characters, separated by a comma.



If the element SalesOrderPromoSelectAction is 'A', then this is ignored.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalFreeGoodsSelection" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This must be supplied for each qualifying Global Free goods promotion that uses a list of stock codes for the free goods stock code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TradePromotionCodes">
		<xsd:annotation>
			<xsd:documentation>This must be a list of qualified promotions for the line selected.  Each code is a maximum of 10 characters, separated by a comma.



If the element SalesOrderPromoSelectAction is 'A', then this is ignored.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalFreeGoodsPromotion">
		<xsd:annotation>
			<xsd:documentation>This must be a qualified promotion for the line selected.  The code is a maximum of 10 characters.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalFreeGoodsStock">
		<xsd:annotation>
			<xsd:documentation>Provide the stock code to be applied to the free goods promotion. This stock code should be part of the list defined for the promotion specified in GlobalFreeGoodsPromotion.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ShipAddressPerLineTax">
		<xsd:annotation>
			<xsd:documentation>This element indicates which tax code must be used if ship address is per line. Valid values are 'H' - Tax code from header ship address area or 'L' - Tax code from line ship address area. If not supplied, defaults to 'H'. It only applies if tax by geographic area.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="H"/>
				<xsd:enumeration value="L"/>
				<xsd:enumeration value=" "/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="POSSalesOrder" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The Sales Order number allocated by SYSPRO Point of Sale. This is only available if the SYSPRO Point of Sale system is currently in use, and a new sales order is being added.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
