Schemas7/SORTLD.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2013 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the SO Load planning Add Sales order Lines to a Load Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="IgnoreWarnings">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Parameters">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IgnoreWarnings"/>
				<xsd:element ref="ValidateOnly"/>
				<xsd:element name="ApplyIfEntireDocumentValid">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="collapse"/>
							<xsd:enumeration value="N"/>
							<xsd:enumeration value="Y"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PostLPAddSalesOrderLines">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Parameters"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ValidateOnly">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
