Schemas7/SORTRKOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example Out schema to demonstrate
     use of the Sales Order Release Kit Quantities Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostSorKitRelease">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Key">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SalesOrder" type="xsd:string"/>
                    <xsd:element name="SalesOrderLine" type="xsd:string"/>
                    <xsd:element name="StockCode" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="WarningNumber" type="xsd:string"/>
              <xsd:element name="WarningDescription" type="xsd:string"/>
              <xsd:element name="Processed" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StatusOfItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ItemsProcessed" type="xsd:string"/>
              <xsd:element name="ItemsInvalid" type="xsd:string"/>
              <xsd:element name="ItemsRejectedWithWarnings" type="xsd:string"/>
              <xsd:element name="ItemsProcessedWithWarnings" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
