Schemas7/SORTCLDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the SO Add Credit Note Line Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AllowZeroPrice" default="N">
		<xsd:annotation>
			<xsd:documentation>Zero price allowed on credit note line.
Valid values are 'N' - No (default) or 'Y' - Yes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AllowZeroQty" default="N">
		<xsd:annotation>
			<xsd:documentation>Zero quantity allowed on credit note line.
Valid values are 'N' - No (default) or 'Y' - Yes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BinLocation">
		<xsd:annotation>
			<xsd:documentation>Bin location if multiple bins are in use for the warehouse entered.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BinPieces">
		<xsd:annotation>
			<xsd:documentation>Number of pieces allocated to bin location entered, if stock item is a unit-quantity type item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BinQuantity">
		<xsd:annotation>
			<xsd:documentation>Quantity allocated to bin location entered.
Not required if stock item is a unit-quantity type item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BinUnits">
		<xsd:annotation>
			<xsd:documentation>Number of whole units allocated to bin location entered, if stock item is a unit-quantity type item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Bins">
		<xsd:annotation>
			<xsd:documentation>This element initiates the data set for the aloocation of bins.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BinLocation"/>
				<xsd:element ref="BinQuantity"/>
				<xsd:element ref="BinUnits"/>
				<xsd:element ref="BinPieces"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CommissionCode">
		<xsd:annotation>
			<xsd:documentation>Valid commission code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CreditNoteNumber">
		<xsd:annotation>
			<xsd:documentation>Valid number of an existing credit note, to which lines are to be added.
Mandatory.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CreditReason">
		<xsd:annotation>
			<xsd:documentation>Valid credit note reason code. Optional, unless credit note reason required (Sales Order Setup).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustRequestDate">
		<xsd:annotation>
			<xsd:documentation>Customer request date. If supplied, must be in the format CCYY-MM-DD.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustomerPartNumber">
		<xsd:annotation>
			<xsd:documentation>Customer part number.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Description">
		<xsd:annotation>
			<xsd:documentation>Stock description if not using the standard stock code desription.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DiscPercent1">
		<xsd:annotation>
			<xsd:documentation>Percentage of first level of discount.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DiscPercent2">
		<xsd:annotation>
			<xsd:documentation>Percentage of second level of discount.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DiscPercent3">
		<xsd:annotation>
			<xsd:documentation>Percentage of third level of discount.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DiscValFlag">
		<xsd:annotation>
			<xsd:documentation>Flag to indicate if discount is by value or unit. Valid values are ' ' - Spaces (default), 'V' - Value or 'U' - Unit.
If 'V' or 'U', a DiscValue must be supplied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value=""/>
				<xsd:enumeration value="U"/>
				<xsd:enumeration value="V"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DiscValue">
		<xsd:annotation>
			<xsd:documentation>Discount value to be applied if DiscValFlag is 'V' or 'U'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="eSignature">
		<xsd:annotation>
			<xsd:documentation>If required, this element must contain a GUID, for the eSignature system to accept the transaction as having been authenticated. The GUID format is in the format {36303032-3330-3031-3038-323434363433}, where the numbers can be replaced with any character. It is up to the developer to have requested a password to protect the transaction. An example is that a GUID associated with the act of entering a valid password could be obtained and presented.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>This element initiates the data set for a credit note line.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CreditNoteNumber"/>
				<xsd:element ref="CreditReason"/>
				<xsd:element ref="NonStockedLine"/>
				<xsd:element ref="StockCode"/>
				<xsd:element ref="Description"/>
				<xsd:element ref="Revision"/>
				<xsd:element ref="Release"/>
				<xsd:element ref="Warehouse"/>
				<xsd:element ref="CustomerPartNumber"/>
				<xsd:element ref="OrderQty"/>
				<xsd:element ref="OrderUom"/>
				<xsd:element ref="AllowZeroQty"/>
				<xsd:element ref="AllowZeroPrice"/>
				<xsd:element ref="Price"/>
				<xsd:element ref="PriceUom"/>
				<xsd:element ref="PriceCode"/>
				<xsd:element ref="OrderUnits"/>
				<xsd:element ref="OrderPieces"/>
				<xsd:element ref="Serials"/>
				<xsd:element ref="Lot"/>
				<xsd:element ref="Bins"/>
				<xsd:element ref="ProductClass"/>
				<xsd:element ref="DiscPercent1"/>
				<xsd:element ref="DiscPercent2"/>
				<xsd:element ref="DiscPercent3"/>
				<xsd:element ref="DiscValue"/>
				<xsd:element ref="DiscValFlag"/>
				<xsd:element ref="OverrideCalculatedDiscount"/>
				<xsd:element ref="CustRequestDate"/>
				<xsd:element ref="CommissionCode"/>
				<xsd:element ref="ShipDate"/>
				<xsd:element ref="UserDefined"/>
				<xsd:element ref="UnitMass"/>
				<xsd:element ref="UnitVolume"/>
				<xsd:element ref="StockTaxCode"/>
				<xsd:element ref="StockNotTaxable"/>
				<xsd:element ref="StockFstCode"/>
				<xsd:element ref="StockNotFstTaxable"/>
				<xsd:element ref="NsProductClass"/>
				<xsd:element ref="NsUnitCost"/>
				<xsd:element ref="eSignature"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Lot">
		<xsd:annotation>
			<xsd:documentation>Valid lot number if stock item is lot-traceable.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NonStockedLine" default="N">
		<xsd:annotation>
			<xsd:documentation>Indicates whether new line is a non-stocked line or not.
Optional. Valid values are "N" - Stocked line (default) or 'Y' - Non-stocked line.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NsProductClass">
		<xsd:annotation>
			<xsd:documentation>Valid product class for non-stocked lines.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NsUnitCost">
		<xsd:annotation>
			<xsd:documentation>Non-stocked item unit cost.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderPieces">
		<xsd:annotation>
			<xsd:documentation>Number of pieces on the credit note line, if stock item is a unit-quantity type item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderQty">
		<xsd:annotation>
			<xsd:documentation>Quantity required on credit note line.
If stock item is a unit-quantity type, enter quantity in OrderUnits and OrderPieces elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderUnits">
		<xsd:annotation>
			<xsd:documentation>Number of whole units on the credit note line, if stock item is a unit-quantity type item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OrderUom">
		<xsd:annotation>
			<xsd:documentation>Order quantity unit of measure.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OverrideCalculatedDiscount">
		<xsd:annotation>
			<xsd:documentation>Flag to indicate override of discount.
Valid values are ' ' - Spaces, 'Y' - Yes or 'N' - No.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value=""/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Price">
		<xsd:annotation>
			<xsd:documentation>Price of stock item. Mandatory if manual pricing is used or there is no default price for the stock code entered and no PriceCode is entered.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PriceCode">
		<xsd:annotation>
			<xsd:documentation>Price code of price to use. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PriceUom">
		<xsd:annotation>
			<xsd:documentation>Unit of measure for price entered.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProductClass">
		<xsd:annotation>
			<xsd:documentation>Valid product class.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Release">
		<xsd:annotation>
			<xsd:documentation>Release number if ECC stock item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Revision">
		<xsd:annotation>
			<xsd:documentation>Revision number if ECC stock item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SOCreditNoteLine">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Item" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SerialCreationDate">
		<xsd:annotation>
			<xsd:documentation>Serial creation date. If supplied, must be in the format CCYY-MM-DD.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialExpiryDate">
		<xsd:annotation>
			<xsd:documentation>Serial expiry date. If supplied, must be in the format CCYY-MM-DD.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialLocation">
		<xsd:annotation>
			<xsd:documentation>Serial location.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialNumber">
		<xsd:annotation>
			<xsd:documentation>Serial number to allocate quantity entered.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialPieces">
		<xsd:annotation>
			<xsd:documentation>Number of pieces to be allocated to serial number entered, if stock item is a unit-quantity type item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialQuantity">
		<xsd:annotation>
			<xsd:documentation>Serial quantity to allocate to serial number entered.
Not required if stock item is a unit-quantity type item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialScrapDate">
		<xsd:annotation>
			<xsd:documentation>Serial scrap date. If supplied, must be in the format CCYY-MM-DD.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialUnits">
		<xsd:annotation>
			<xsd:documentation>Number of whole units to be allocated to serial number entered, if stock item is a unit-quantity type item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Serials">
		<xsd:annotation>
			<xsd:documentation>This element initiates the data set for the aloocation of serials.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SerialNumber"/>
				<xsd:element ref="SerialQuantity"/>
				<xsd:element ref="SerialUnits"/>
				<xsd:element ref="SerialPieces"/>
				<xsd:element ref="SerialCreationDate"/>
				<xsd:element ref="SerialExpiryDate"/>
				<xsd:element ref="SerialScrapDate"/>
				<xsd:element ref="SerialLocation"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipDate">
		<xsd:annotation>
			<xsd:documentation>Ship date. If supplied, must be in the format CCYY-MM-DD.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockCode">
		<xsd:annotation>
			<xsd:documentation>Valid stocked item code or non-stocked code if non-stocked line.
Mandatory.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockFstCode">
		<xsd:annotation>
			<xsd:documentation>Federal sales tax code, if applicable.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockNotFstTaxable">
		<xsd:annotation>
			<xsd:documentation>Flag to indicate if credit note line is or not FST taxable.
Valid values are 'N' - No or 'Y' - Yes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockNotTaxable">
		<xsd:annotation>
			<xsd:documentation>Flag to indicate if credit note line is or not taxable.
Valid values are 'N' - No or 'Y' - Yes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockTaxCode">
		<xsd:annotation>
			<xsd:documentation>Tax code, if applicable.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UnitMass">
		<xsd:annotation>
			<xsd:documentation>Unit mass.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UnitVolume">
		<xsd:annotation>
			<xsd:documentation>Unit volume.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UserDefined">
		<xsd:annotation>
			<xsd:documentation>User-defined field.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Warehouse">
		<xsd:annotation>
			<xsd:documentation>Valid warehouse code where given stock item is stocked or "**" if non-stocked line.
Mandatory.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
