Schemas7/SWSTAD.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2010 SYSPRO Ltd.--><!--     Parameter Schema for the Workflow Actions Post Business Object--><xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="ActionType" default="A">		<xsd:annotation>			<xsd:documentation>Indicates the action to be performed by the business object. A - Add new Action or ActionLine, U - Update an existing action line, D - Delete and entire action or an individual action line.</xsd:documentation>		</xsd:annotation>		<xsd:simpleType>			<xsd:restriction base="xsd:string">				<xsd:enumeration value="A"/>				<xsd:enumeration value="U"/>				<xsd:enumeration value="D"/>			</xsd:restriction>		</xsd:simpleType>	</xsd:element>	<xsd:element name="Parameters">		<xsd:annotation>			<xsd:documentation>Parameters node</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="ActionType"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="PostActions">		<xsd:annotation>			<xsd:documentation>Root node</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Parameters"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element></xsd:schema>