Schemas7/SWSTADOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--     Schema for thePost Workflow Actions Business Object-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ActionType">
    <xsd:sequence>
      <xsd:element ref="ActionId"/>
      <xsd:element ref="ActionNumber"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ActionId" type="xsd:byte"/>
  <xsd:element name="ActionNumber" type="xsd:byte"/>
  <xsd:element name="postactions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Action" type="ActionType"/>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
      <xsd:attribute name="Role" type="xsd:byte" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
