Schemas7/tpm_list_of_promotion_codes_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by NINO (Syspro (Pty) Ltd) -->
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the TPM List of Promotion Codes Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="TPMPromotionCodeQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IncludeExpiredPromotions" type="xsd:string"/>
							<xsd:element name="Translated_IncludeExpiredPromotions" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlobalPromotions" type="xsd:string"/>
							<xsd:element name="Translated_IncludeGlobalPromotions" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReturnListinBlock" type="xsd:string"/>
							<xsd:element name="Translated_ReturnListinBlock" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PromotionCodeFilterType" type="xsd:string"/>
							<xsd:element name="Translated_PromotionCodeFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PromotionCodeFilterValue" type="xsd:string"/>
							<xsd:element name="PromotionTypeFilterType" type="xsd:string"/>
							<xsd:element name="Translated_PromotionTypeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PromotionTypeFilterValue" type="xsd:string"/>
							<xsd:element name="ExpiryDateFilterType" type="xsd:string"/>
							<xsd:element name="Translated_ExpiryDateFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExpiryDateFilterValue" type="xsd:string"/>
							<xsd:element name="StartDateFilterType" type="xsd:string"/>
							<xsd:element name="Translated_StartDateFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StartDateFilterValue" type="xsd:string"/>
							<xsd:element name="Translated_par" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Detail" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PromotionCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StartDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCatagory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_StockCatagory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCatCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCatCodeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockList" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockListDetail" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="ListCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ListCodeDesc" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CustomerCatagory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CustomerCatagory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustCatCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustCatCodeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerList" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerListDetail" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="ListCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ListCodeDesc" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AmountType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AmountType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Threshold" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedThreshold" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PromotionValue" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedPromotionValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GrossNet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GrossNet" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PromotionType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PromotionType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Detail1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Detail1a" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Detail2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Detail2a" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Detail3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Detail3a" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Detail4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Detail4a" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OffInvoiceType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_OffInvoiceType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_ProductClass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AccrualLdg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ExpenseLdg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DeductionCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_DateType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AccrualType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ApplySub" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FreeGoodType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_FreeGoodType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FreeGoodsStockList" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MaxThreshold" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlobalFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_GlobalFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FreeGoodsApplyFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_DiscountMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvoicePrice" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedInvoicePrice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerPrice" type="xsd:double" minOccurs="0"/>
							<xsd:element name="EditedCustomerPrice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TieredPromFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MultipleOfFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_MultipleOfFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FreeGoodRounding" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_FreeGoodRounding" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TpmSequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Thresholds" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ThresholdDetail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Threshold" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedThreshold" type="xsd:string" minOccurs="0"/>
													<xsd:element name="QtyToship" type="xsd:double" minOccurs="0"/>
													<xsd:element name="EditedQtyToship" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="StockCatType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_StockCatType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCategory2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_StockCategory2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCatCode2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCatCodeDesc2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockList2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockListDetail2" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="ListCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ListCodeDesc" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CustomerCatType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CustomerCatType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerCategory2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_CustomerCategory2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustCatCode2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustCatCodeDesc2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerList2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerListDetail2" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="ListCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ListCodeDesc" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AssocStockCategory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_AssocStockCategory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssocStockCatCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssocStockCatCodeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssocStockList" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AssocStockListDetail" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="ListCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ListCodeDesc" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MemberOfGroup" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Translated_MemberOfGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GroupMax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SelectionMethod" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="C"/>
										<xsd:enumeration value="A"/>
										<xsd:enumeration value="M"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Translated_SelectionMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AccrualTax" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Taxable" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="Y"/>
													<xsd:enumeration value="N"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GSTable" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="Y"/>
													<xsd:enumeration value="N"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="GSTCode" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BudgetLimits" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="PromotionStatus" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_PromotionStatus" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LimitFlag" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_LimitFlag" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BudgetType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Translated_BudgetType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PromotionLimit" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedPromotionLimit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PromotionValue" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedPromotionValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PromotionAmount" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedPromotionAmount" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PromotionQuantity" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedPromotionQuantity" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PromotionMass" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedPromotionMass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PromotionVolume" type="xsd:double" minOccurs="0"/>
										<xsd:element name="EditedPromotionVolume" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TranslatedText" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Text_Include" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Exclude" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_All" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Yes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_No" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Percentage" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Price" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Value" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Mass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Volume" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Quantity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Basis" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_all_customers" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_customer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_geographic_area" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_customer_class" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_branch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_customer_list" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_geographic_area_list" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Customer_class_list" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Branch_list" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Buying_group_list" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_buying_group" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text___par" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Delivery_date" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Order_date" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Accrual_type" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Off_invoice_allowance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Accrual_GL_account" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Discount_method" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Expense_GL_account" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Invoice_price" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Deduction_code" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Customer_price" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Actual_price_change" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Detail_discount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Summary_discount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Order_stock_code" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Specific_stock_code" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_____Global____" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Gross" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Net" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Net_price" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Only" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Line_promotion" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Line_discount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Price_change" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Price_type" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Product_class" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Off_invoice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Accrual" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Free_goods" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Off_invoice___associated_products" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_all_stock_codes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text__For_stock_code" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_stock_list" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_product_group_list" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_product_class_list" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_department_list" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_department" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_product_class" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_For_product_group" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_In_multiples_of" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_In_mutliples_of" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text__Round_up_" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text__Round_down_" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Threshold_Weight" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Threshold_Volume" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Threshold_Quantity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Not_applied" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Both_required" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Either_required" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Active" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Expired_through_limit" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Manually_expired" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Manually_re_activated" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Automatically_re_activated" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Promotion_value" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Qualifying_value__amount_" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Qualifying_quantity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Qualifying_mass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Text_Qualifying_volume" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
