Schemas7/TPMQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the Trade Promotion Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TradePromotionOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Company">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="General">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NextTpmRefNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefTextDedAmount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TextForFreeGoods" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextTpmJnl" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DedDebitDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApplyTpmCrCheck" type="xsd:string" minOccurs="0"/>
              <xsd:element name="KitCompGblProm" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Options">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AutoSelLineProm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AutoSelGblProm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AutoShipLineFreeGds" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AutoShipGblFreeGds" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChkSOProm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowSelGblProm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApplySODiscTpmCust" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CreditAccrualsInvoices" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CreditOffInvLinesFromInvoices" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExcludeFGLinesFromInvDisc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExcludeSingleQualLinesFromInvDisc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SetMiscCostToZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowMaintOfMiscCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReactivatePromotionUtilizationReduced" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApplyPromotionIfLimitExceeded" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Defaults">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DefDedCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefOffInvLineProdCls" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefOffInvGlobalProdCls" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FreeGdsUseMerchProdCls" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OffInvUseMerchProdCls" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefDedResCodeNormal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefDedResCodeWoff" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefDedResCodeMatch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PromTaxDefTaxCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PromUseMerchLinTaxCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PromTaxDefGstCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PromUseMerchLinGSTCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DedTaxInclDedAccr" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DedTaxDefTaxCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DedTaxCodeDefGstCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AccrualTax" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="TaxPromoLevel" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="History">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DaysRetExpProm" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Qualifications">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockQualification1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockQualification2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerQualification1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerQualification2" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string"/>
      <xsd:attribute name="Language2" type="xsd:string"/>
      <xsd:attribute name="CssStyle" type="xsd:string"/>
      <xsd:attribute name="DecFormat" type="xsd:string"/>
      <xsd:attribute name="DateFormat" type="xsd:string"/>
      <xsd:attribute name="Role" type="xsd:string"/>
      <xsd:attribute name="Version" type="xsd:string"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
