Schemas7/TPMQTNOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the TPM Promotion Detail Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="TPMDetailQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Sequence" type="xsd:string"/>
							<xsd:element name="IncludeOffInvoicePromotions" type="xsd:string"/>
							<xsd:element name="IncludeAccrualPromotions" type="xsd:string"/>
							<xsd:element name="IncludeFreeGoodsPromotions" type="xsd:string"/>
							<xsd:element name="CustomerFilterType" type="xsd:string"/>
							<xsd:element name="CustomerFilterValue">
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="PromotionFilterType" type="xsd:string"/>
							<xsd:element name="PromotionFilterValue">
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="InvoiceFilterType" type="xsd:string"/>
							<xsd:element name="InvoiceFilterValue">
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="SalesOrderFilterType" type="xsd:string"/>
							<xsd:element name="SalesOrderFilterValue">
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="StockCodeFilterType" type="xsd:string"/>
							<xsd:element name="StockCodeFilterValue">
								<xsd:complexType/>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TPMDetailItems">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PromotionDetail" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Invoice" type="xsd:int"/>
										<xsd:element name="InvoiceLine" type="xsd:string"/>
										<xsd:element name="PromotionCode" type="xsd:string"/>
										<xsd:element name="PromotionCodeDesc" type="xsd:string"/>
										<xsd:element name="TpmSequence" type="xsd:byte"/>
										<xsd:element name="SalesOrder" type="xsd:short"/>
										<xsd:element name="SalesOrderLine" type="xsd:string"/>
										<xsd:element name="TrnDate" type="xsd:date"/>
										<xsd:element name="TrnTime" type="xsd:time"/>
										<xsd:element name="Customer" type="xsd:byte"/>
										<xsd:element name="CustomerName" type="xsd:string"/>
										<xsd:element name="TransactionValue" type="xsd:string"/>
										<xsd:element name="PromotionType">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="A"/>
													<xsd:enumeration value="O"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="Globalflag">
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="OriginalPrice" type="xsd:string"/>
										<xsd:element name="SoChargeLine" type="xsd:string"/>
										<xsd:element name="StockCode" type="xsd:hexBinary"/>
										<xsd:element name="StockCodeDesc" type="xsd:string"/>
										<xsd:element name="LongDescription" type="xsd:string"/>
										<xsd:element name="FreeGoodsStockCode">
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="FreeGoodsStockCodeDesc" type="xsd:string"/>
										<xsd:element name="FreeGoodsLongDesc" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:byte" use="required"/>
			<xsd:attribute name="Language2" type="xsd:string" use="required"/>
			<xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
			<xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
			<xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
			<xsd:attribute name="Role" type="xsd:byte" use="required"/>
			<xsd:attribute name="Version" type="xsd:string" use="required"/>
			<xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
