Schemas7/TPMQPPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2009 SYSPRO Ltd.-->
<!--  
     Schema for Trade Promotions Pricing query
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CompanyId" type="xsd:boolean"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="CssStyle">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Customer" type="xsd:byte"/>
  <xsd:element name="CustomerDescription" type="xsd:string"/>
  <xsd:element name="CustomerDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Customer"/>
        <xsd:element ref="CustomerDescription"/>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="StockCodeDescription"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DateFormat" type="xsd:byte"/>
  <xsd:element name="DecCharToUse" type="xsd:decimal"/>
  <xsd:element name="DecFormat" type="xsd:boolean"/>
  <xsd:element name="GlPrdPerYear" type="xsd:byte"/>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="LineDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Quantity"/>
        <xsd:element ref="Mass"/>
        <xsd:element ref="Volume"/>
        <xsd:element ref="Price"/>
        <xsd:element ref="Percentage"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="Mass" type="xsd:string"/>
  <xsd:element name="NoOfDigits" type="xsd:byte"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorLocation">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Percentage" type="xsd:string"/>
  <xsd:element name="Price" type="xsd:string"/>
  <xsd:element name="PricingDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LineDetails"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Quantity" type="xsd:string"/>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="Role" type="xsd:byte"/>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="StockCode" type="xsd:string"/>
  <xsd:element name="StockCodeDescription" type="xsd:string"/>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
        <xsd:element ref="NoOfDigits"/>
        <xsd:element ref="DecCharToUse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TradePromotionsPricingingQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="CustomerDetails"/>
        <xsd:element ref="PricingDetails"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
  <xsd:element name="Volume" type="xsd:string"/>
</xsd:schema>
