Schemas7/TPMQQPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2013 SYSPRO Ltd.-->
<!-- 
     This is an example schema to demonstrate
     use of the TPM Qualify Promotions Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TradePromotionsQualifyingQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncludeGlobalPromotions" type="xsd:string"/>
              <xsd:element name="IncludeUnqualifiedPromotions" type="xsd:string"/>
              <xsd:element name="StartDate" type="xsd:string"/>
              <xsd:element name="ExpiryDate" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TradePromotions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CustomerDetails" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BranchName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Area" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AreaName" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Promotions" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="StockHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string"/>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="LongDescription" type="xsd:string"/>
                          <xsd:element name="ProductClass" type="xsd:string"/>
                          <xsd:element name="ProductClassDescription" type="xsd:string"/>
                          <xsd:element name="ProductGroup" type="xsd:string"/>
                          <xsd:element name="Department" type="xsd:string"/>
                          <xsd:element name="Quantity" type="xsd:string"/>
                          <xsd:element name="QuantityUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQuantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitMass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitVolume" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LineValue" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PromotionDetails" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="PromotionCode" type="xsd:string"/>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="StartDate" type="xsd:string"/>
                          <xsd:element name="ExpiryDate" type="xsd:string"/>
                          <xsd:element name="PromotionType" type="xsd:string"/>
                          <xsd:element name="PromotionTypeDescription" type="xsd:string"/>
                          <xsd:element name="TieredPromotion" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OffInvoiceAllowanceType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OffInvoiceAllowanceTypeDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AccrualType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AccrualTypeDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AmountType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AmountTypeDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="AmountTypeValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PromotionPriceCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PromotionPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PromotionPriceUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PromotionDiscount1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PromotionDiscount2" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PromotionDiscount3" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PromotionDiscountType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PromotionDiscountValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PromotionPriceAfterDiscount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreeGoodType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreeGoodTypeDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreeGoodsStockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreeGoodsStockCodeDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreeGoodsMethod" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreeGoodsMethodDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreeGoodsPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreeGoodsPriceCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreeGoodsPriceAfterDiscount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FreeGoodsInMultiplesOf" minOccurs="0">
                            <xsd:complexType/>
                          </xsd:element>
                          <xsd:element name="FreeGoodsThresholdQty" minOccurs="0">
                            <xsd:complexType/>
                          </xsd:element>
                          <xsd:element name="Basis" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BasisDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Threshold" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PromotionResults" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Qualifies" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PromotionValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FreeGoodsQuantity" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="GlobalPromotions" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="GlobalPromotionDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="GlobalPromotionCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalStartDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalExpiryDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalPromotionType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalPromotionTypeDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalTieredPromotion" minOccurs="0">
                                  <xsd:complexType/>
                                </xsd:element>
                                <xsd:element name="GlobalOffInvoiceAllowanceType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalOffInvoiceAllowanceTypeDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalAccrualType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalAccrualTypeDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalAmountType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalAmountTypeDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalFreeGoodType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalFreeGoodTypeDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalFreeGoodsStockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalFreeGoodsStockCodeDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalFreeGoodsMethod" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalFreeGoodsMethodDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalFreeGoodsPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalFreeGoodsPriceCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalFreeGoodsPriceAfterDiscount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalFreeGoodsInMultiplesOf" minOccurs="0">
                                  <xsd:complexType/>
                                </xsd:element>
                                <xsd:element name="GlobalFreeGoodsThresholdQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalBasis" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalBasisDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalThreshold" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="GlobalPromotionResults" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="GlobalQualifiedAmount" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="GlobalQualifies" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="GlobalPromotionValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="GlobalFreeGoodsQuantity" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
