Schemas7/TPMRQP.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Trade Promotions Build Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Area">
    <xsd:annotation>
      <xsd:documentation>The geographic area. If SYSPRO is configured for tax by area this is a compulsory element. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CalloutUsaTax" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This element determines if tax is to be calculated by calling the 3rd party USA tax calculation routine. This element is only conisdered if the SYSPRO tax option to use a 3rd party calculation is selected, and the parameter ReturnTaxInformation is 'Y'.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CountyZip">
    <xsd:annotation>
      <xsd:documentation>The county (USA Advanced Geo codes) or zip code (USA AVP Sales tax) portion of the tax code. The other portions are State and ExtendedTaxCode. If all three portions are blank, the tax code from the customer is used.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Customer">
    <xsd:annotation>
      <xsd:documentation>This contains a valid SYSPRO Accounts Receivable customer account code. The customer must be a Trade Promotions customer. This is a compulsory element when function is 'I' or 'W'.  For other functions it is optional, but if given, must equal the customer passed for function 'I'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DiscPct1">
    <xsd:annotation>
      <xsd:documentation>The first order discount percentage to be applied to the sales order. This can be up to 100.00, positive or negative. The negative sign can precede or follow the value. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DiscPct2">
    <xsd:annotation>
      <xsd:documentation>The second order discount percentage to be applied to the sales order. This can be up to 99.99, positive or negative. The negative sign can precede or follow the value. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DiscPct3">
    <xsd:annotation>
      <xsd:documentation>The third order discount percentage to be applied to the sales order. This can be up to 99.99, positive or negative. The negative sign can precede or follow the value. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ShipAddress1" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The ship address, postal code and multiple ship address elements are only relevant if USA 3rd party tax is in use. If it is, then they are used to determine the address passed. If ShipAddress1 is populated, then the address and postal code elements are used. If blank, then multiple ship address is checked, and if populated, then address from that code is used. If all blank, then the ship address of the customer is used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ShipAddress2" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The ship address, postal code and multiple ship address elements are only relevant if USA 3rd party tax is in use. If it is, then they are used to determine the address passed. If ShipAddress1 is populated, then the address and postal code elements are used. If blank, then multiple ship address is checked, and if populated, then address from that code is used. If all blank, then the ship address of the customer is used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ShipAddress3" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The ship address, postal code and multiple ship address elements are only relevant if USA 3rd party tax is in use. If it is, then they are used to determine the address passed. If ShipAddress1 is populated, then the address and postal code elements are used. If blank, then multiple ship address is checked, and if populated, then address from that code is used. If all blank, then the ship address of the customer is used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ShipAddress3Locality" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The ship address, postal code and multiple ship address elements are only relevant if USA 3rd party tax is in use. If it is, then they are used to determine the address passed. If ShipAddress1 is populated, then the address and postal code elements are used. If blank, then multiple ship address is checked, and if populated, then address from that code is used. If all blank, then the ship address of the customer is used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ShipAddress4" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The ship address, postal code and multiple ship address elements are only relevant if USA 3rd party tax is in use. If it is, then they are used to determine the address passed. If ShipAddress1 is populated, then the address and postal code elements are used. If blank, then multiple ship address is checked, and if populated, then address from that code is used. If all blank, then the ship address of the customer is used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ShipAddress5" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The ship address, postal code and multiple ship address elements are only relevant if USA 3rd party tax is in use. If it is, then they are used to determine the address passed. If ShipAddress1 is populated, then the address and postal code elements are used. If blank, then multiple ship address is checked, and if populated, then address from that code is used. If all blank, then the ship address of the customer is used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ShipPostalCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The ship address, postal code and multiple ship address elements are only relevant if USA 3rd party tax is in use. If it is, then they are used to determine the address passed. If ShipAddress1 is populated, then the address and postal code elements are used. If blank, then multiple ship address is checked, and if populated, then address from that code is used. If all blank, then the ship address of the customer is used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ShipGpsLat" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The ship address, postal code and multiple ship address elements are only relevant if USA 3rd party tax is in use. If it is, then they are used to determine the address passed. If ShipAddress1 is populated, then the address and postal code elements are used. If blank, then multiple ship address is checked, and if populated, then address from that code is used. If all blank, then the ship address of the customer is used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ShipGpsLong" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The ship address, postal code and multiple ship address elements are only relevant if USA 3rd party tax is in use. If it is, then they are used to determine the address passed. If ShipAddress1 is populated, then the address and postal code elements are used. If blank, then multiple ship address is checked, and if populated, then address from that code is used. If all blank, then the ship address of the customer is used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MultiShipCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The ship address, postal code and multiple ship address elements are only relevant if USA 3rd party tax is in use. If it is, then they are used to determine the address passed. If ShipAddress1 is populated, then the address and postal code elements are used. If blank, then multiple ship address is checked, and if populated, then address from that code is used. If all blank, then the ship address of the customer is used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ExtendedTaxCode">
    <xsd:annotation>
      <xsd:documentation>The city portion of the tax code (USA Advanced Geo tax). The other portions are State and CountyZip.  If all three portions are blank, the tax code from the customer is used.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="GstExemptORide">
    <xsd:annotation>
      <xsd:documentation>This specifies whether the customer is to be charged GSTor if they are exempt from GST (E - Exempt from GST, N - Non exempt).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="E"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="InvTermsOverride">
    <xsd:annotation>
      <xsd:documentation>If this contains a value then this invoice terms code is used instead of the one against the customer within SYSPRO. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MConvFactOrdUm">
    <xsd:annotation>
      <xsd:documentation>This element contains the conversion factor to be used to convert the order quantity unit of measure to the price unit of measure. If the order quantity unit of measure and the price unit of measure are different and this element is not present, the conversion factor will picked up from the stock code in SYSPRO. If there is no entry for this conversion against the stock code the default will be 1.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MDiscPct1">
    <xsd:annotation>
      <xsd:documentation>The first line discount percentage to be applied to the sales order. This can be up to 100.00, positive or negative. The negative sign can precede or follow the value. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MDiscPct2">
    <xsd:annotation>
      <xsd:documentation>The second line discount percentage to be applied to the sales order. This can be up to 99.99, positive or negative. The negative sign can precede or follow the value. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MDiscPct3">
    <xsd:annotation>
      <xsd:documentation>The third line discount percentage to be applied to the sales order. This can be up to 99.99, positive or negative. The negative sign can precede or follow the value. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MDiscValFlag">
    <xsd:annotation>
      <xsd:documentation>This element specifies how to apply discounts to this detail line. (blank - Use the percentages in MDiscPct1 to 3, V - the value MDiscValue is applied to the value of the line, P - the discount percentages are applied to the unit price before extending it, U - the discount value is applied to the unit price before extending it).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value=""/>
        <xsd:enumeration value="V"/>
        <xsd:enumeration value="P"/>
        <xsd:enumeration value="U"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MDiscValue">
    <xsd:annotation>
      <xsd:documentation>This is a discount value. If MDiscValFlag is either V or U, this must contain a value greater than zero.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MFstTaxCode">
    <xsd:annotation>
      <xsd:documentation>This is the tax code to use for Canadian FST. If this is in use MFstTaxCode must be a valid tax code. Spaces will imply that the line does not have FST applied</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MMulDivPrcFct" default="M">
    <xsd:annotation>
      <xsd:documentation>This specifies whether the contents of MOrderQty should be multipled or divided by the value in MConvFactOrdUm before multiplying it by the price, to find the total price (M - Multiply, D - Divide). If MConvFactOrdUm contains a value and this element does not, the default is M.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value=""/>
        <xsd:enumeration value="M"/>
        <xsd:enumeration value="D"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MOrderQty">
    <xsd:annotation>
      <xsd:documentation>This is the original order quantity for this stock code. This is a compulsory field and must contain a value greater than zero. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MOrderUom">
    <xsd:annotation>
      <xsd:documentation>This contains the unit of measure to be used for MOrderQty. If it is supplied it must be valid within SYSPRO. If this element is not present for a stocked item the stocking unit of measure against the stock code will be used.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MPrice">
    <xsd:annotation>
      <xsd:documentation>This is the price to be used for this stock item. This is a compulsory element. Please see MOrderQty, MOrderUom, MPriceUom, MConvFactOrdUm and MMulDivPrcFct.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MPriceUom">
    <xsd:annotation>
      <xsd:documentation>This contains the unit of measure to be used for MPrice. If it is supplied it must be valid within SYSPRO. If this element is not present the stocking unit of measure against the stock code will be used. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MProductClass">
    <xsd:annotation>
      <xsd:documentation>If supplied it will be used to replace the product class for the stock code supplied for the merchandise line.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MShipQty">
    <xsd:annotation>
      <xsd:documentation>This contains the quantity that would be shipped in the current shipment from this order. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MStockCode">
    <xsd:annotation>
      <xsd:documentation>This element will contain a stock code and must exist within SYSPRO. This is a compulsory element.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MStockUnitMass">
    <xsd:annotation>
      <xsd:documentation>This is the unit mass for this item. If this is not supplied it defaults to the contents of the unit mass field against the stock code in SYSPRO for a stocked item. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MStockUnitVol">
    <xsd:annotation>
      <xsd:documentation>This is the unit volume for this item. If this is not supplied it defaults to the contents of the unit volume field against the stock code in SYSPRO for a stocked item. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MTaxCode">
    <xsd:annotation>
      <xsd:documentation>The tax code to use for the valuation. If this is not supplied the tax code against the stock item within SYSPRO will be used.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MWarehouse">
    <xsd:annotation>
      <xsd:documentation>If supplied, this value will be used as the warehouse to look up costs for the stock code. If this element does not exist the Warehouse to Use against the stock code will be used. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MerchandiseLine">
    <xsd:annotation>
      <xsd:documentation>This element contains elements relating to the parent merchandise line for which promotions are to be derived.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LineReference"/>
        <xsd:element ref="MStockCode"/>
        <xsd:element ref="MWarehouse" minOccurs="0"/>
        <xsd:element ref="MOrderQty" minOccurs="0"/>
        <xsd:element ref="MShipQty" minOccurs="0"/>
        <xsd:element ref="MOrderUom" minOccurs="0"/>
        <xsd:element ref="MCustRequestDat" minOccurs="0"/>
        <xsd:element ref="ExtendedTaxCode" minOccurs="0"/>
        <xsd:element ref="MPrice" minOccurs="0"/>
        <xsd:element ref="MPriceUom" minOccurs="0"/>
        <xsd:element ref="MConvFactOrdUm" minOccurs="0"/>
        <xsd:element ref="MMulDivPrcFct" minOccurs="0"/>
        <xsd:element ref="MDiscPct1" minOccurs="0"/>
        <xsd:element ref="MDiscPct2" minOccurs="0"/>
        <xsd:element ref="MDiscPct3" minOccurs="0"/>
        <xsd:element ref="MDiscValFlag" minOccurs="0"/>
        <xsd:element ref="MDiscValue" minOccurs="0"/>
        <xsd:element ref="MStockUnitMass" minOccurs="0"/>
        <xsd:element ref="MStockUnitVol" minOccurs="0"/>
        <xsd:element ref="MTaxCode" minOccurs="0"/>
        <xsd:element ref="MFstTaxCode" minOccurs="0"/>
        <xsd:element ref="MProductClass" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Parameters">
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="OrderHeader" minOccurs="0"/>
        <xsd:element ref="MerchandiseLine" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OrderHeader">
    <xsd:annotation>
      <xsd:documentation>This contains the information required for a sales order header which must be passed with each mmerchandise line when the function is 'L', or once for whole order when the function is 'W'.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Function"/>
        <xsd:element ref="OrderReference"/>
        <xsd:element ref="Customer" minOccurs="0"/>
        <xsd:element ref="ScheduledOrder" minOccurs="0"/>
        <xsd:element ref="ReqShipDate" minOccurs="0"/>
        <xsd:element ref="OrderDate" minOccurs="0"/>
        <xsd:element ref="DiscPct1" minOccurs="0"/>
        <xsd:element ref="DiscPct2" minOccurs="0"/>
        <xsd:element ref="DiscPct3" minOccurs="0"/>
        <xsd:element ref="State" minOccurs="0"/>
        <xsd:element ref="CountyZip" minOccurs="0"/>
        <xsd:element ref="ExtendedTaxCode" minOccurs="0"/>
        <xsd:element ref="Area" minOccurs="0"/>
        <xsd:element ref="GstExemptORide" minOccurs="0"/>
        <xsd:element ref="TaxExemptOverride" minOccurs="0"/>
        <xsd:element ref="InvTermsOverride" minOccurs="0"/>
        <xsd:element ref="ReturnTaxInformation" minOccurs="0"/>
        <xsd:element ref="CalloutUsaTax" minOccurs="0"/>
        <xsd:element ref="ShipAddress1" minOccurs="0"/>
        <xsd:element ref="ShipAddress2" minOccurs="0"/>
        <xsd:element ref="ShipAddress3" minOccurs="0"/>
        <xsd:element ref="ShipAddress3Locality" minOccurs="0"/>
        <xsd:element ref="ShipAddress4" minOccurs="0"/>
        <xsd:element ref="ShipAddress5" minOccurs="0"/>
        <xsd:element ref="ShipPostalCode" minOccurs="0"/>
        <xsd:element ref="ShipGpsLat" minOccurs="0"/>
        <xsd:element ref="ShipGpsLong" minOccurs="0"/>
        <xsd:element ref="MultiShipCode" minOccurs="0"/>
        <xsd:element ref="TemporaryFileReference" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="State">
    <xsd:annotation>
      <xsd:documentation>The state code portion of the tax code (USA Advanced Geo codes, or USA AVP Sales tax). The other portions are CountyZip and ExtendedTaxCode.  If all three portions are blank, the tax code from the customer is used.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TaxExemptOverride">
    <xsd:annotation>
      <xsd:documentation>This specifies whether the customer is to be charged tax, they are exempt from tax or the other tax code should be used (E - Exempt from tax, N - Non exempt, O - Use other tax code).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="E"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="O"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Build">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Parameters"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Function">
    <xsd:annotation>
      <xsd:documentation>Mandatory field determining the process to be carried out

'I' - Initialize. Always first process for an order, unless the function is 'W' where it is not required. A dummy order reference is returned and must be used for all subsequent calls made when building up the order

'L' - Line promotions. Order header and Merchandise detials must be supplied, and an updated parent, plus qualified line promotions returned. Global promotions will be updated and saved

'G' - Global. Only the reference and customer are required. All qualified global promotions will be returned.

'W' - Whole order. Multiple parent merchandise lines are provided, and the complete order is qualified for trade promotions. Each parent is returned updated if required, with its associated promotions, and global promotions are also returned.  When the function is 'W', no other functions are required to be processed.

'X' - Exit. All saved information will be cleared. This will also be done in a SYPSRO purge process if the process fails at any point, and exit is not carried out.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="I"/>
        <xsd:enumeration value="L"/>
        <xsd:enumeration value="G"/>
        <xsd:enumeration value="W"/>
        <xsd:enumeration value="X"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OrderReference" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Blank for function 'I' and 'W', Mandatory for all other functions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LineReference" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is a unique line reference (1 to 9999) passed for the parent merchandise line. If the line is resubmitted, the same number must be used. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ScheduledOrder" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>'Y' - the order is scheduled.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrderDate" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The order date if not todays date. Any valid date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ReqShipDate" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Requested ship date of the order if not the same as the order date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MCustRequestDat" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The requested ship date of the line. Only applies to a scheduled order, and if not passed, the order ship date is assumed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ReturnTaxInformation">
    <xsd:annotation>
      <xsd:documentation>If this parameter is supplied as 'Y', then tax is calculated on the Trade Promotion  lines where applicable, and the tax rate, and tax amount are returned. Tax is calculated on the value of the lines generated, based on the order quantity for free goods.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TemporaryFileReference" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This information is passed back when function 'I' is carried out. It must be returned in the input XML when processing an 'L' function.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
