Schemas7/TPMRQPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XMLoutschema to demonstrate
     use of the Sales Order Trade Promotions Build Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:element name="TradePromotions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Order">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OrderHeader">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="OrderReference" type="xsd:string"/>
										<xsd:element name="Customer" type="xsd:string"/>
										<xsd:element name="TemporaryFileReference" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MerchandiseLine" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LineDetails">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="StockCode" type="xsd:string"/>
													<xsd:element ref="Description"/>
													<xsd:element name="ProductClass" type="xsd:string"/>
													<xsd:element name="ProductClassDescription" type="xsd:string"/>
													<xsd:element name="Quantity" type="xsd:string"/>
													<xsd:element name="QuantityUnits">
														<xsd:complexType/>
													</xsd:element>
													<xsd:element name="EditedQuantity" type="xsd:string"/>
													<xsd:element name="UnitMass" type="xsd:string"/>
													<xsd:element name="UnitVolume" type="xsd:string"/>
													<xsd:element name="LineValue" type="xsd:string"/>
													<xsd:element name="PromotionsAvailable" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Promotion" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="PromotionDetails">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="PromotionCode" type="xsd:string"/>
																<xsd:element ref="Description"/>
																<xsd:element name="StartDate" type="xsd:string"/>
																<xsd:element name="ExpiryDate" type="xsd:string"/>
																<xsd:element name="PromotionType" type="xsd:string"/>
																<xsd:element name="PromotionTypeDescription" type="xsd:string"/>
																<xsd:element name="TieredPromotion">
																	<xsd:complexType/>
																</xsd:element>
																<xsd:element name="AccrualType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="AccrualTypeDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="OffInvoiceAllowanceType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="OffInvoiceAllowanceTypeDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="AmountType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="AmountTypeDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="AmountTypeValue" type="xsd:string" minOccurs="0"/>
																<xsd:element name="AccrualValue" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FreeGoodType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FreeGoodTypeDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FreeGoodsStockList" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="FreeGoodsStockListCode"/>
																			<xsd:element name="FreeGoodsStockListCodeDesc"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="FreeGoodsStockCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FreeGoodsStockCodeDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FreeGoodsMethod" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FreeGoodsMethodDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="FreeGoodsInMultiplesOf" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Basis" type="xsd:string"/>
																<xsd:element name="BasisDescription" type="xsd:string"/>
																<xsd:element name="GroupFlag" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GroupMax" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="PromoChangedMerchLine" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="LinePriceCode" type="xsd:string"/>
																<xsd:element name="LinePrice" type="xsd:string"/>
																<xsd:element name="LinePriceUom" type="xsd:string"/>
																<xsd:element name="LinePriceFactor" type="xsd:string"/>
																<xsd:element name="LinePriceMulDiv" type="xsd:string"/>
																<xsd:element name="LineDiscount1" type="xsd:string"/>
																<xsd:element name="LineDiscount2" type="xsd:string"/>
																<xsd:element name="LineDiscount3" type="xsd:string"/>
																<xsd:element name="LineDiscountType" type="xsd:string"/>
																<xsd:element name="LineDiscountValue" type="xsd:string"/>
																<xsd:element name="PromotionPriceCode" type="xsd:string"/>
																<xsd:element name="PromotionPriceAfterDiscount" type="xsd:string"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="PromoMerchLine" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="MerchStockCode" type="xsd:string"/>
																<xsd:element name="MerchStockDescription" type="xsd:string"/>
																<xsd:element name="MerchWarehouse" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MerchTraceableType" type="xsd:string"/>
																<xsd:element name="MerchSerialMethod" type="xsd:string"/>
																<xsd:element name="MerchEccFlag">
																	<xsd:complexType/>
																</xsd:element>
																<xsd:element name="MerchOrderUom" type="xsd:string"/>
																<xsd:element name="MerchOrderQuantity" type="xsd:string"/>
																<xsd:element name="MerchOrderQtyUnits">
																	<xsd:complexType/>
																</xsd:element>
																<xsd:element name="EditedMerchOrderQuantity" type="xsd:string"/>
																<xsd:element name="MerchShipQuantity" type="xsd:string"/>
																<xsd:element name="MerchShipQtyUnits">
																	<xsd:complexType/>
																</xsd:element>
																<xsd:element name="EditedMerchShipQuantity" type="xsd:string"/>
																<xsd:element name="MerchAvailQuantity" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MerchAvailQtyUnits" type="xsd:string" minOccurs="0"/>
																<xsd:element name="EditedMerchAvailQuantity" type="xsd:string" minOccurs="0"/>
																<xsd:element name="MerchProductClass" type="xsd:string"/>
																<xsd:element name="MerchProductClassDescription" type="xsd:string"/>
																<xsd:element name="MerchUnitMass" type="xsd:string"/>
																<xsd:element name="MerchUnitVolume" type="xsd:string"/>
																<xsd:element name="MerchTaxCode" type="xsd:string"/>
																<xsd:element name="MerchPriceCode" type="xsd:string"/>
																<xsd:element name="MerchPrice" type="xsd:string"/>
																<xsd:element name="MerchPriceUom" type="xsd:string"/>
																<xsd:element name="MerchPriceFactor" type="xsd:string"/>
																<xsd:element name="MerchPriceMulDiv" type="xsd:string"/>
																<xsd:element name="MerchDiscount1" type="xsd:string"/>
																<xsd:element name="MerchDiscount2" type="xsd:string"/>
																<xsd:element name="MerchDiscount3" type="xsd:string"/>
																<xsd:element name="MerchDiscountType">
																	<xsd:complexType/>
																</xsd:element>
																<xsd:element name="MerchDiscountValue" type="xsd:string"/>
																<xsd:element name="MerchLineValue" type="xsd:string"/>
																<xsd:element name="MerchLineDiscount" type="xsd:string"/>
																<xsd:element name="MerchTotDiscount" type="xsd:string"/>
																<xsd:element name="MerchCurrentTaxValue" type="xsd:string"/>
																<xsd:element name="MerchTaxPercentage" type="xsd:string"/>
																<xsd:element name="MerchTaxBaseValue" type="xsd:string"/>
																<xsd:element name="MerchTaxInclusive">
																	<xsd:complexType/>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="PromoMiscLine" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="MiscDescription" type="xsd:string"/>
																<xsd:element name="MiscProductClass" type="xsd:string"/>
																<xsd:element name="MiscProductClassDescription" type="xsd:string"/>
																<xsd:element name="MiscAmount" type="xsd:string"/>
																<xsd:element name="MiscCostAmount" type="xsd:string"/>
																<xsd:element name="MiscMaxPromoAmount" type="xsd:string"/>
																<xsd:element name="MiscTaxCode" type="xsd:string"/>
																<xsd:element name="MiscCurrentTaxValue" type="xsd:string"/>
																<xsd:element name="MiscTaxPercentage" type="xsd:string"/>
																<xsd:element name="MiscTaxBaseValue" type="xsd:string"/>
																<xsd:element name="MiscTaxInclusive">
																	<xsd:complexType/>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="PromoMerchListLines" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="PromoMerchListLine" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="MerchStockCode" type="xsd:string"/>
																			<xsd:element name="MerchStockDescription" type="xsd:string"/>
																			<xsd:element name="MerchWarehouse" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="MerchTraceableType" type="xsd:string"/>
																			<xsd:element name="MerchSerialMethod" type="xsd:string"/>
																			<xsd:element name="MerchEccFlag">
																				<xsd:complexType/>
																			</xsd:element>
																			<xsd:element name="MerchOrderUom" type="xsd:string"/>
																			<xsd:element name="MerchOrderQuantity" type="xsd:string"/>
																			<xsd:element name="MerchOrderQtyUnits">
																				<xsd:complexType/>
																			</xsd:element>
																			<xsd:element name="EditedMerchOrderQuantity" type="xsd:string"/>
																			<xsd:element name="MerchShipQuantity" type="xsd:string"/>
																			<xsd:element name="MerchShipQtyUnits">
																				<xsd:complexType/>
																			</xsd:element>
																			<xsd:element name="EditedMerchShipQuantity" type="xsd:string"/>
																			<xsd:element name="MerchAvailQuantity" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="MerchAvailQtyUnits" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="EditedMerchAvailQuantity" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="MerchProductClass" type="xsd:string"/>
																			<xsd:element name="MerchProductClassDescription" type="xsd:string"/>
																			<xsd:element name="MerchUnitMass" type="xsd:string"/>
																			<xsd:element name="MerchUnitVolume" type="xsd:string"/>
																			<xsd:element name="MerchTaxCode" type="xsd:string"/>
																			<xsd:element name="MerchPriceCode" type="xsd:string"/>
																			<xsd:element name="MerchPrice" type="xsd:string"/>
																			<xsd:element name="MerchPriceUom" type="xsd:string"/>
																			<xsd:element name="MerchPriceFactor" type="xsd:string"/>
																			<xsd:element name="MerchPriceMulDiv" type="xsd:string"/>
																			<xsd:element name="MerchDiscount1" type="xsd:string"/>
																			<xsd:element name="MerchDiscount2" type="xsd:string"/>
																			<xsd:element name="MerchDiscount3" type="xsd:string"/>
																			<xsd:element name="MerchDiscountType">
																				<xsd:complexType/>
																			</xsd:element>
																			<xsd:element name="MerchDiscountValue" type="xsd:string"/>
																			<xsd:element name="MerchLineValue" type="xsd:string"/>
																			<xsd:element name="MerchLineDiscount" type="xsd:string"/>
																			<xsd:element name="MerchTotDiscount" type="xsd:string"/>
																			<xsd:element name="MerchCurrentTaxValue" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="MerchTaxPercentage" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="MerchTaxBaseValue" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="MerchTaxInclusive" minOccurs="0">
																				<xsd:complexType/>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="GlobalPromotions">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GlobalPromotion" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="GlobalPromotionDetails">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="GlobalPromotionCode" type="xsd:string"/>
																<xsd:element name="GlobalDescription" type="xsd:string"/>
																<xsd:element name="GlobalStartDate" type="xsd:string"/>
																<xsd:element name="GlobalExpiryDate" type="xsd:string"/>
																<xsd:element name="GlobalPromotionType" type="xsd:string"/>
																<xsd:element name="GlobalPromotionTypeDescription" type="xsd:string"/>
																<xsd:element name="GlobalTieredPromotion" type="xsd:string"/>
																<xsd:element name="GlobalFreeGoodType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalFreeGoodTypeDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalFreeGoodsStockList" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="GlobalFreeGoodsStockListCode"/>
																			<xsd:element name="GlobalFreeGoodsStockListCodeDesc"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="GlobalFreeGoodsStockCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalFreeGoodsStockCodeDesc" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalFreeGoodsMethod" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalFreeGoodsMethodDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalFreeGoodsInMultiplesOf" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalOffInvoiceAllowanceType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalOffInvoiceAllowanceTypeDesc" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalAmountType" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalAmountTypeDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalAmountTypeValue" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalBasis" type="xsd:string"/>
																<xsd:element name="GlobalBasisDescription" type="xsd:string"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="GlobalPromoMerchLine" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="GlobalMerchStockCode" type="xsd:string"/>
																<xsd:element name="GlobalMerchStockDescription" type="xsd:string"/>
																<xsd:element name="GlobalMerchWarehouse" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalMerchTraceableType" type="xsd:string"/>
																<xsd:element name="GlobalMerchSerialMethod" type="xsd:string"/>
																<xsd:element name="GlobalMerchEccFlag">
																	<xsd:complexType/>
																</xsd:element>
																<xsd:element name="GlobalMerchOrderUom" type="xsd:string"/>
																<xsd:element name="GlobalMerchOrderQuantity" type="xsd:string"/>
																<xsd:element name="GlobalMerchOrderQtyUnits">
																	<xsd:complexType/>
																</xsd:element>
																<xsd:element name="EditedGlobalMerchOrderQuantity" type="xsd:string"/>
																<xsd:element name="GlobalMerchShipQuantity" type="xsd:string"/>
																<xsd:element name="GlobalMerchShipQtyUnits">
																	<xsd:complexType/>
																</xsd:element>
																<xsd:element name="EditedGlobalMerchShipQuantity" type="xsd:string"/>
																<xsd:element name="GlobalMerchAvailQuantity" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalMerchAvailQtyUnits" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalEditedMerchAvailQuantity" type="xsd:string" minOccurs="0"/>
																<xsd:element name="GlobalMerchProductClass" type="xsd:string"/>
																<xsd:element name="GlobalMerchProductClassDescription" type="xsd:string"/>
																<xsd:element name="GlobalMerchUnitMass" type="xsd:string"/>
																<xsd:element name="GlobalMerchUnitVolume" type="xsd:string"/>
																<xsd:element name="GlobalMerchTaxCode" type="xsd:string"/>
																<xsd:element name="GlobalMerchPriceCode" type="xsd:string"/>
																<xsd:element name="GlobalMerchPrice" type="xsd:string"/>
																<xsd:element name="GlobalMerchPriceUom" type="xsd:string"/>
																<xsd:element name="GlobalMerchPriceFactor" type="xsd:string"/>
																<xsd:element name="GlobalMerchPriceMulDiv" type="xsd:string"/>
																<xsd:element name="GlobalMerchDiscount1" type="xsd:string"/>
																<xsd:element name="GlobalMerchDiscount2" type="xsd:string"/>
																<xsd:element name="GlobalMerchDiscount3" type="xsd:string"/>
																<xsd:element name="GlobalMerchDiscountType">
																	<xsd:complexType/>
																</xsd:element>
																<xsd:element name="GlobalMerchDiscountValue" type="xsd:string"/>
																<xsd:element name="GlobalMerchLineValue" type="xsd:string"/>
																<xsd:element name="GlobalMerchLineDiscount" type="xsd:string"/>
																<xsd:element name="GlobalMerchTotDiscount" type="xsd:string"/>
																<xsd:element name="GlobalMerchCurrentTaxValue" type="xsd:string"/>
																<xsd:element name="GlobalMerchTaxPercentage" type="xsd:string"/>
																<xsd:element name="GlobalMerchTaxBaseValue" type="xsd:string"/>
																<xsd:element name="GlobalMerchTaxInclusive">
																	<xsd:complexType/>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="GlobalPromoMiscLine" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="GlobalMiscDescription" type="xsd:string"/>
																<xsd:element name="GlobalMiscProductClass" type="xsd:string"/>
																<xsd:element name="GlobalMiscProductClassDescription" type="xsd:string"/>
																<xsd:element name="GlobalMiscAmount" type="xsd:string"/>
																<xsd:element name="GlobalMiscCostAmount" type="xsd:string"/>
																<xsd:element name="GlobalMiscMaxPromoAmount" type="xsd:string"/>
																<xsd:element name="GlobalMiscTaxCode" type="xsd:string"/>
																<xsd:element name="GlobalMiscCurrentTaxValue" type="xsd:string"/>
																<xsd:element name="GlobalMiscTaxPercentage" type="xsd:string"/>
																<xsd:element name="GlobalMiscTaxBaseValue" type="xsd:string"/>
																<xsd:element name="GlobalMiscTaxInclusive">
																	<xsd:complexType/>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="GlobalPromoMerchListLines" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="GlobalPromoMerchListLine" minOccurs="0">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="GlobalMerchStockCode" type="xsd:string"/>
																			<xsd:element name="GlobalMerchStockDescription" type="xsd:string"/>
																			<xsd:element name="GlobalMerchWarehouse" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="GlobalMerchTraceableType" type="xsd:string"/>
																			<xsd:element name="GlobalMerchSerialMethod" type="xsd:string"/>
																			<xsd:element name="GlobalMerchEccFlag">
																				<xsd:complexType/>
																			</xsd:element>
																			<xsd:element name="GlobalMerchOrderUom" type="xsd:string"/>
																			<xsd:element name="GlobalMerchOrderQuantity" type="xsd:string"/>
																			<xsd:element name="GlobalMerchOrderQtyUnits">
																				<xsd:complexType/>
																			</xsd:element>
																			<xsd:element name="EditedGlobalMerchOrderQuantity" type="xsd:string"/>
																			<xsd:element name="GlobalMerchShipQuantity" type="xsd:string"/>
																			<xsd:element name="GlobalMerchShipQtyUnits">
																				<xsd:complexType/>
																			</xsd:element>
																			<xsd:element name="EditedGlobalMerchShipQuantity" type="xsd:string"/>
																			<xsd:element name="GlobalMerchAvailQuantity" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="GlobalMerchAvailQtyUnits" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="GlobalEditedMerchAvailQuantity" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="GlobalMerchProductClass" type="xsd:string"/>
																			<xsd:element name="GlobalMerchProductClassDescription" type="xsd:string"/>
																			<xsd:element name="GlobalMerchUnitMass" type="xsd:string"/>
																			<xsd:element name="GlobalMerchUnitVolume" type="xsd:string"/>
																			<xsd:element name="GlobalMerchTaxCode" type="xsd:string"/>
																			<xsd:element name="GlobalMerchPriceCode" type="xsd:string"/>
																			<xsd:element name="GlobalMerchPrice" type="xsd:string"/>
																			<xsd:element name="GlobalMerchPriceUom" type="xsd:string"/>
																			<xsd:element name="GlobalMerchPriceFactor" type="xsd:string"/>
																			<xsd:element name="GlobalMerchPriceMulDiv" type="xsd:string"/>
																			<xsd:element name="GlobalMerchDiscount1" type="xsd:string"/>
																			<xsd:element name="GlobalMerchDiscount2" type="xsd:string"/>
																			<xsd:element name="GlobalMerchDiscount3" type="xsd:string"/>
																			<xsd:element name="GlobalMerchDiscountType">
																				<xsd:complexType/>
																			</xsd:element>
																			<xsd:element name="GlobalMerchDiscountValue" type="xsd:string"/>
																			<xsd:element name="GlobalMerchLineValue" type="xsd:string"/>
																			<xsd:element name="GlobalMerchLineDiscount" type="xsd:string"/>
																			<xsd:element name="GlobalMerchTotDiscount" type="xsd:string"/>
																			<xsd:element name="GlobalMerchCurrentTaxValue" type="xsd:string"/>
																			<xsd:element name="GlobalMerchTaxPercentage" type="xsd:string"/>
																			<xsd:element name="GlobalMerchTaxBaseValue" type="xsd:string"/>
																			<xsd:element name="GlobalMerchTaxInclusive">
																				<xsd:complexType/>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="StatusOfFunction">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Function" type="xsd:string"/>
							<xsd:element name="FunctionDescription" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:string" use="required"/>
			<xsd:attribute name="Language2" type="xsd:string" use="required"/>
			<xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
			<xsd:attribute name="DecFormat" type="xsd:string" use="required"/>
			<xsd:attribute name="DateFormat" type="xsd:string" use="required"/>
			<xsd:attribute name="Role" type="xsd:string" use="required"/>
			<xsd:attribute name="Version" type="xsd:string" use="required"/>
			<xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
