Schemas7/TPMTPLDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2014 SYSPRO Ltd.--><!--      This is an example schema to demonstrate     use of the Reset TPM Budget Business Object--><xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="Filter">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="PromotionCode"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="PromotionCode">		<xsd:annotation>			<xsd:documentation>Use this to specify which promotions to be recalculated. A - All; R - Range; S - Single; L - List. Default A - All.</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>		</xsd:complexType>	</xsd:element>	<xsd:element name="ResetTpmBudget">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Filter"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element></xsd:schema>