Schemas7/wip_non_prod_lab_analysis_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Non-productive Labor Analysis Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="WIPNonProdScrapAnalysis" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WIPNonProdScrapAnalysis">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"></xsd:element>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"></xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportFlag" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_ReportFlag" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="SubTotalOnWorkCenter" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_SubTotalOnWC" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="NonProdScrapFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_NonProdScrapFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="NonProdScrapFilterValue" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="WorkCenterFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_WorkCenterFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="WorkCenterFilterValue" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="JobFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_JobFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="JobFilterValue" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="DateEntryFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_DateEntryFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="DateEntryFilterValue" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="JobClassificationFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_JobClassFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="JobClassificationFilterValue" type="xsd:string" minOccurs="0"></xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="NonProdScrap">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NonProdScrapHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RecordFlag" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="Translated_RecordFlag" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="NonProdScrap" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="WIPSCR_Description" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="WorkCenterHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="WorkCenter" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="BOMWRK_Description" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="DateEntry" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Journal" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="JnlEntNum" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="StockCode" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Job" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="JobClassification" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Operation" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="QtyScrapped" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Edited_QtyScrapped" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="ValueEntered" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Edited_ValueEntered" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="HoursEntered" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Edited_HoursEntered" type="xsd:string" minOccurs="0"></xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="WorkCenterTotal" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="WorkCenterQtyScrapped" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Edited_WorkCenterQtyScrapped" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="WorkCenterValueEntered" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Edited_WorkCenterValueEntered" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="WorkCenterHoursEntered" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Edited_WorkCenterHoursEntered" type="xsd:string" minOccurs="0"></xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="NonProdScrapTotal" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="NonProdScrapQtyScrapped" type="xsd:string" minOccurs="0"></xsd:element>
                          <xsd:element name="Edited_NonProdScrapQtyScrapped" type="xsd:string" minOccurs="0"></xsd:element>
                          <xsd:element name="NonProdScrapValueEntered" type="xsd:string" minOccurs="0"></xsd:element>
                          <xsd:element name="Edited_NonProdScrapValueEntered" type="xsd:string" minOccurs="0"></xsd:element>
                          <xsd:element name="NonProdScrapHoursEntered" type="xsd:string" minOccurs="0"></xsd:element>
                          <xsd:element name="Edited_NonProdScrapHoursEntered" type="xsd:string" minOccurs="0"></xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ReportTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TotalQtyScrapped" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="Edited_TotalQtyScrapped" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="TotalValueEntered" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="Edited_TotalValueEntered" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="TotalHoursEntered" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="Edited_TotalHoursEntered" type="xsd:string" minOccurs="0"></xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
