Schemas7/WIPQJVOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Valuation Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WipValuationQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Job" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Master" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobNumber" type="xsd:string"/>
              <xsd:element name="JobDescription" type="xsd:string"/>
              <xsd:element name="JobClassification" type="xsd:string"/>
              <xsd:element name="ClassDescription" type="xsd:string"/>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="StockDescription" type="xsd:string"/>
              <xsd:element name="LongDesc" type="xsd:string"/>
              <xsd:element name="Version"/>
              <xsd:element name="Release"/>
              <xsd:element name="Warehouse" type="xsd:string"/>
              <xsd:element name="INVWHC_Description" type="xsd:string"/>
              <xsd:element name="Customer" type="xsd:string"/>
              <xsd:element name="CustomerName" type="xsd:string"/>
              <xsd:element name="JobDeliveryDate" type="xsd:string"/>
              <xsd:element name="JobStartDate" type="xsd:string"/>
              <xsd:element name="Complete" type="xsd:string"/>
              <xsd:element name="HoldFlag" type="xsd:string"/>
              <xsd:element name="ExpLabour" type="xsd:string"/>
              <xsd:element name="ExpMaterial" type="xsd:string"/>
              <xsd:element name="QtyToMake" type="xsd:string"/>
              <xsd:element name="QtyManufactured" type="xsd:string"/>
              <xsd:element name="Route" type="xsd:string"/>
              <xsd:element name="BOMROU_Description" type="xsd:string"/>
              <xsd:element name="ConfirmedFlag" type="xsd:string"/>
              <xsd:element name="WipCtlGlCode" type="xsd:string"/>
              <xsd:element name="HrsBookToDate" type="xsd:string"/>
              <xsd:element name="LabCostToDate" type="xsd:string"/>
              <xsd:element name="MatCostToDate" type="xsd:string"/>
              <xsd:element name="LabValueIssues" type="xsd:string"/>
              <xsd:element name="MatValueIssues" type="xsd:string"/>
              <xsd:element name="Job" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="MasterSub" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Sub" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JobNumber" type="xsd:string"/>
                    <xsd:element name="JobDescription" type="xsd:string"/>
                    <xsd:element name="JobClassification" type="xsd:string"/>
                    <xsd:element name="ClassDescription" type="xsd:string"/>
                    <xsd:element name="StockCode" type="xsd:string"/>
                    <xsd:element name="StockDescription" type="xsd:string"/>
                    <xsd:element name="LongDesc" type="xsd:string"/>
                    <xsd:element name="Version"/>
                    <xsd:element name="Release"/>
                    <xsd:element name="Warehouse" type="xsd:string"/>
                    <xsd:element name="INVWHC_Description" type="xsd:string"/>
                    <xsd:element name="Customer" type="xsd:string"/>
                    <xsd:element name="CustomerName" type="xsd:string"/>
                    <xsd:element name="JobDeliveryDate" type="xsd:string"/>
                    <xsd:element name="JobStartDate" type="xsd:string"/>
                    <xsd:element name="Complete" type="xsd:string"/>
                    <xsd:element name="HoldFlag" type="xsd:string"/>
                    <xsd:element name="ExpLabour" type="xsd:string"/>
                    <xsd:element name="ExpMaterial" type="xsd:string"/>
                    <xsd:element name="QtyToMake" type="xsd:string"/>
                    <xsd:element name="QtyManufactured" type="xsd:string"/>
                    <xsd:element name="Route" type="xsd:string"/>
                    <xsd:element name="BOMROU_Description" type="xsd:string"/>
                    <xsd:element name="ConfirmedFlag" type="xsd:string"/>
                    <xsd:element name="WipCtlGlCode" type="xsd:string"/>
                    <xsd:element name="HrsBookToDate" type="xsd:string"/>
                    <xsd:element name="LabCostToDate" type="xsd:string"/>
                    <xsd:element name="MatCostToDate" type="xsd:string"/>
                    <xsd:element name="LabValueIssues" type="xsd:string"/>
                    <xsd:element name="MatValueIssues" type="xsd:string"/>
                    <xsd:element name="Job" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Sub" type="xsd:string"/>
                          <xsd:element name="JobNumber" type="xsd:string"/>
                          <xsd:element name="JobDescription" type="xsd:string"/>
                          <xsd:element name="JobClassification"/>
                          <xsd:element name="ClassDescription"/>
                          <xsd:element name="StockCode" type="xsd:string"/>
                          <xsd:element name="StockDescription" type="xsd:string"/>
                          <xsd:element name="LongDesc" type="xsd:string"/>
                          <xsd:element name="Version"/>
                          <xsd:element name="Release"/>
                          <xsd:element name="Warehouse" type="xsd:string"/>
                          <xsd:element name="INVWHC_Description" type="xsd:string"/>
                          <xsd:element name="Customer"/>
                          <xsd:element name="CustomerName"/>
                          <xsd:element name="JobDeliveryDate" type="xsd:string"/>
                          <xsd:element name="JobStartDate" type="xsd:string"/>
                          <xsd:element name="Complete" type="xsd:string"/>
                          <xsd:element name="HoldFlag" type="xsd:string"/>
                          <xsd:element name="ExpLabour" type="xsd:string"/>
                          <xsd:element name="ExpMaterial" type="xsd:string"/>
                          <xsd:element name="QtyToMake" type="xsd:string"/>
                          <xsd:element name="QtyManufactured" type="xsd:string"/>
                          <xsd:element name="Route" type="xsd:string"/>
                          <xsd:element name="BOMROU_Description" type="xsd:string"/>
                          <xsd:element name="ConfirmedFlag" type="xsd:string"/>
                          <xsd:element name="WipCtlGlCode" type="xsd:string"/>
                          <xsd:element name="HrsBookToDate" type="xsd:string"/>
                          <xsd:element name="LabCostToDate" type="xsd:string"/>
                          <xsd:element name="MatCostToDate" type="xsd:string"/>
                          <xsd:element name="LabValueIssues" type="xsd:string"/>
                          <xsd:element name="MatValueIssues" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
