Schemas7/WIPQ20OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Job Valuation Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="WipJobValuationQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WipJobValuationQuery">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element name="AsOfPeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AsOfPeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Sequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSubJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeSubJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeZeroWIPValueJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeZeroWIPValueJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeJobsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeJobsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeJobsCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeJobsComp" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeJobsUnconfirmed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeJobsUnconfirmed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValuesBy" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ValuesBy" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LedgerCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LedgerCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_LedgerCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannedDeliveryDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannedDeliveryDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PlannedDeliveryDateFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="JobValuation">
          <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element name="ValuationGroup" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="Job" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Level" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MasterJobNum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MasterJob" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_JobType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobClassification" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ClassDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobDeliveryDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobStartDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Complete" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="HoldFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ExpLabour" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ExpMaterial" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ExpLabCurrent" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="ExpMatCurrent" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyToMake" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyManufactured" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BOMROU_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ConfirmedFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WipCtlGlCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_GroupHeader" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="HrsBookToDate" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="LabCostToDate" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MatCostToDate" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="LabValueIssues" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MatValueIssues" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="CurrentWIPValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="SchStartDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SchStartTime" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SchEndDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SchEndTime" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ScheduleFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProduct" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CoProductStockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="HrsBookToDate" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="LabCostToDate" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="MatCostToDate" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="LabValueIssues" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="MatValueIssues" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="CurrentWIPValue" type="xsd:double" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="MasterJobTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="MasterJobTotal" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="MasterJobNum" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="HrsBookToDateTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="LabCostToDateTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="MatCostToDateTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="LabValueIssuesTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="MatValueIssuesTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="CurrentWIPValueTotal" type="xsd:double" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="GroupTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="HrsBookToDateTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="LabCostToDateTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MatCostToDateTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="LabValueIssuesTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MatValueIssuesTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="CurrentWIPValueTotal" type="xsd:double" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ReportTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Translated_Total" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HrsBookToDateTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="LabCostToDateTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="MatCostToDateTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="LabValueIssuesTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="MatValueIssuesTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="CurrentWIPValueTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="LastPartBillingsJnlNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastInventoryJnlNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastLaborJnlNo" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
