Schemas7/WIPQJSOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Status Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WipStatusQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Job">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Master" type="xsd:string"/>
              <xsd:element name="JobNumber" type="xsd:string"/>
              <xsd:element name="JobDescription" type="xsd:string"/>
              <xsd:element name="JobClassification"/>
              <xsd:element name="ClassDescription"/>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="StockDescription" type="xsd:string"/>
              <xsd:element name="LongDesc" type="xsd:string"/>
              <xsd:element name="StockUom" type="xsd:string"/>
              <xsd:element name="Version"/>
              <xsd:element name="Release"/>
              <xsd:element name="Warehouse" type="xsd:string"/>
              <xsd:element name="INVWHC_Description" type="xsd:string"/>
              <xsd:element name="Customer"/>
              <xsd:element name="CustomerName"/>
              <xsd:element name="JobDeliveryDate" type="xsd:string"/>
              <xsd:element name="JobStartDate" type="xsd:string"/>
              <xsd:element name="Complete" type="xsd:string"/>
              <xsd:element name="ExpLabour" type="xsd:string"/>
              <xsd:element name="ExpMaterial" type="xsd:string"/>
              <xsd:element name="QtyToMake" type="xsd:string"/>
              <xsd:element name="QtyOutstanding" type="xsd:string"/>
              <xsd:element name="QtyManufactured" type="xsd:string"/>
              <xsd:element name="Route" type="xsd:string"/>
              <xsd:element name="BOMROU_Description" type="xsd:string"/>
              <xsd:element name="ConfirmedFlag" type="xsd:string"/>
              <xsd:element name="WipCtlGlCode" type="xsd:string"/>
              <xsd:element name="LabCostToDate" type="xsd:string"/>
              <xsd:element name="MatCostToDate" type="xsd:string"/>
              <xsd:element name="LabValueIssues" type="xsd:string"/>
              <xsd:element name="MatValueIssues" type="xsd:string"/>
              <xsd:element name="JobPriority" type="xsd:string"/>
              <xsd:element name="MaterialAllocation" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string"/>
                    <xsd:element name="StockDescription" type="xsd:string"/>
                    <xsd:element name="Uom" type="xsd:string"/>
                    <xsd:element name="Warehouse" type="xsd:string"/>
                    <xsd:element name="QtyReqd" type="xsd:string"/>
                    <xsd:element name="QtyIssued" type="xsd:string"/>
                    <xsd:element name="MatValReqd" type="xsd:string"/>
                    <xsd:element name="ValueIssued" type="xsd:string"/>
                    <xsd:element name="QtyConsumed" type="xsd:string"/>
                    <xsd:element name="QtyBalance" type="xsd:string"/>
                    <xsd:element name="AllocCompleted" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="OperationItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Operation" type="xsd:string"/>
                    <xsd:element name="WorkCentre" type="xsd:string"/>
                    <xsd:element name="WorkCentreDesc" type="xsd:string"/>
                    <xsd:element name="TotRunTimeReqd" type="xsd:string"/>
                    <xsd:element name="TotSetStrTrdReqd" type="xsd:string"/>
                    <xsd:element name="RunTimeIssued" type="xsd:string"/>
                    <xsd:element name="TotSetStrTrdIss" type="xsd:string"/>
                    <xsd:element name="LabValReqd" type="xsd:string"/>
                    <xsd:element name="ValueIssued" type="xsd:string"/>
                    <xsd:element name="OperCompleted" type="xsd:string"/>
                    <xsd:element name="CostCentre" type="xsd:string"/>
                    <xsd:element name="CostCentreDesc" type="xsd:string"/>
                    <xsd:element name="CostCentreType" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Job">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Sub" type="xsd:string"/>
                    <xsd:element name="JobNumber" type="xsd:string"/>
                    <xsd:element name="JobDescription" type="xsd:string"/>
                    <xsd:element name="JobClassification"/>
                    <xsd:element name="ClassDescription"/>
                    <xsd:element name="StockCode" type="xsd:string"/>
                    <xsd:element name="StockDescription" type="xsd:string"/>
                    <xsd:element name="LongDesc" type="xsd:string"/>
                    <xsd:element name="StockUom" type="xsd:string"/>
                    <xsd:element name="Version"/>
                    <xsd:element name="Release"/>
                    <xsd:element name="Warehouse" type="xsd:string"/>
                    <xsd:element name="INVWHC_Description" type="xsd:string"/>
                    <xsd:element name="Customer"/>
                    <xsd:element name="CustomerName"/>
                    <xsd:element name="JobDeliveryDate" type="xsd:string"/>
                    <xsd:element name="JobStartDate" type="xsd:string"/>
                    <xsd:element name="Complete" type="xsd:string"/>
                    <xsd:element name="ExpLabour" type="xsd:string"/>
                    <xsd:element name="ExpMaterial" type="xsd:string"/>
                    <xsd:element name="QtyToMake" type="xsd:string"/>
                    <xsd:element name="QtyOutstanding" type="xsd:string"/>
                    <xsd:element name="QtyManufactured" type="xsd:string"/>
                    <xsd:element name="Route" type="xsd:string"/>
                    <xsd:element name="BOMROU_Description" type="xsd:string"/>
                    <xsd:element name="ConfirmedFlag" type="xsd:string"/>
                    <xsd:element name="WipCtlGlCode" type="xsd:string"/>
                    <xsd:element name="LabCostToDate" type="xsd:string"/>
                    <xsd:element name="MatCostToDate" type="xsd:string"/>
                    <xsd:element name="LabValueIssues" type="xsd:string"/>
                    <xsd:element name="MatValueIssues" type="xsd:string"/>
                    <xsd:element name="JobPriority" type="xsd:string"/>
                    <xsd:element name="MaterialAllocation" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string"/>
                          <xsd:element name="StockDescription" type="xsd:string"/>
                          <xsd:element name="Uom" type="xsd:string"/>
                          <xsd:element name="Warehouse" type="xsd:string"/>
                          <xsd:element name="QtyReqd" type="xsd:string"/>
                          <xsd:element name="QtyIssued" type="xsd:string"/>
                          <xsd:element name="MatValReqd" type="xsd:string"/>
                          <xsd:element name="ValueIssued" type="xsd:string"/>
                          <xsd:element name="AllocCompleted" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="OperationItem" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Operation" type="xsd:string"/>
                          <xsd:element name="WorkCentre" type="xsd:string"/>
                          <xsd:element name="WorkCentreDesc" type="xsd:string"/>
                          <xsd:element name="TotRunTimeReqd" type="xsd:string"/>
                          <xsd:element name="TotSetStrTrdReqd" type="xsd:string"/>
                          <xsd:element name="RunTimeIssued" type="xsd:string"/>
                          <xsd:element name="TotSetStrTrdIss" type="xsd:string"/>
                          <xsd:element name="LabValReqd" type="xsd:string"/>
                          <xsd:element name="ValueIssued" type="xsd:string"/>
                          <xsd:element name="OperCompleted" type="xsd:string"/>
                          <xsd:element name="CostCentre" type="xsd:string"/>
                          <xsd:element name="CostCentreDesc" type="xsd:string"/>
                          <xsd:element name="CostCentreType" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Job">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="MasterSub" type="xsd:string"/>
                          <xsd:element name="JobNumber" type="xsd:string"/>
                          <xsd:element name="JobDescription" type="xsd:string"/>
                          <xsd:element name="JobClassification"/>
                          <xsd:element name="ClassDescription"/>
                          <xsd:element name="StockCode" type="xsd:string"/>
                          <xsd:element name="StockDescription" type="xsd:string"/>
                          <xsd:element name="LongDesc" type="xsd:string"/>
                          <xsd:element name="StockUom" type="xsd:string"/>
                          <xsd:element name="Version"/>
                          <xsd:element name="Release"/>
                          <xsd:element name="Warehouse" type="xsd:string"/>
                          <xsd:element name="INVWHC_Description" type="xsd:string"/>
                          <xsd:element name="Customer"/>
                          <xsd:element name="CustomerName"/>
                          <xsd:element name="JobDeliveryDate" type="xsd:string"/>
                          <xsd:element name="JobStartDate" type="xsd:string"/>
                          <xsd:element name="Complete" type="xsd:string"/>
                          <xsd:element name="ExpLabour" type="xsd:string"/>
                          <xsd:element name="ExpMaterial" type="xsd:string"/>
                          <xsd:element name="QtyToMake" type="xsd:string"/>
                          <xsd:element name="QtyOutstanding" type="xsd:string"/>
                          <xsd:element name="QtyManufactured" type="xsd:string"/>
                          <xsd:element name="Route" type="xsd:string"/>
                          <xsd:element name="BOMROU_Description" type="xsd:string"/>
                          <xsd:element name="ConfirmedFlag" type="xsd:string"/>
                          <xsd:element name="WipCtlGlCode" type="xsd:string"/>
                          <xsd:element name="LabCostToDate" type="xsd:string"/>
                          <xsd:element name="MatCostToDate" type="xsd:string"/>
                          <xsd:element name="LabValueIssues" type="xsd:string"/>
                          <xsd:element name="MatValueIssues" type="xsd:string"/>
                          <xsd:element name="JobPriority" type="xsd:string"/>
                          <xsd:element name="MaterialAllocation" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="StockCode" type="xsd:string"/>
                                <xsd:element name="StockDescription" type="xsd:string"/>
                                <xsd:element name="Uom" type="xsd:string"/>
                                <xsd:element name="Warehouse" type="xsd:string"/>
                                <xsd:element name="QtyReqd" type="xsd:string"/>
                                <xsd:element name="QtyIssued" type="xsd:string"/>
                                <xsd:element name="MatValReqd" type="xsd:string"/>
                                <xsd:element name="ValueIssued" type="xsd:string"/>
                                <xsd:element name="AllocCompleted" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="OperationItem" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Operation" type="xsd:string"/>
                                <xsd:element name="WorkCentre" type="xsd:string"/>
                                <xsd:element name="WorkCentreDesc" type="xsd:string"/>
                                <xsd:element name="TotRunTimeReqd" type="xsd:string"/>
                                <xsd:element name="TotSetStrTrdReqd" type="xsd:string"/>
                                <xsd:element name="RunTimeIssued" type="xsd:string"/>
                                <xsd:element name="TotSetStrTrdIss" type="xsd:string"/>
                                <xsd:element name="LabValReqd" type="xsd:string"/>
                                <xsd:element name="ValueIssued" type="xsd:string"/>
                                <xsd:element name="OperCompleted" type="xsd:string"/>
                                <xsd:element name="CostCentre" type="xsd:string"/>
                                <xsd:element name="CostCentreDesc" type="xsd:string"/>
                                <xsd:element name="CostCentreType" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Job" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Sub" type="xsd:string"/>
                                <xsd:element name="JobNumber" type="xsd:string"/>
                                <xsd:element name="JobDescription" type="xsd:string"/>
                                <xsd:element name="JobClassification"/>
                                <xsd:element name="ClassDescription"/>
                                <xsd:element name="StockCode" type="xsd:string"/>
                                <xsd:element name="StockDescription" type="xsd:string"/>
                                <xsd:element name="LongDesc" type="xsd:string"/>
                                <xsd:element name="StockUom" type="xsd:string"/>
                                <xsd:element name="Version"/>
                                <xsd:element name="Release"/>
                                <xsd:element name="Warehouse" type="xsd:string"/>
                                <xsd:element name="INVWHC_Description" type="xsd:string"/>
                                <xsd:element name="Customer"/>
                                <xsd:element name="CustomerName"/>
                                <xsd:element name="JobDeliveryDate" type="xsd:string"/>
                                <xsd:element name="JobStartDate" type="xsd:string"/>
                                <xsd:element name="Complete" type="xsd:string"/>
                                <xsd:element name="ExpLabour" type="xsd:string"/>
                                <xsd:element name="ExpMaterial" type="xsd:string"/>
                                <xsd:element name="QtyToMake" type="xsd:string"/>
                                <xsd:element name="QtyOutstanding" type="xsd:string"/>
                                <xsd:element name="QtyManufactured" type="xsd:string"/>
                                <xsd:element name="Route" type="xsd:string"/>
                                <xsd:element name="BOMROU_Description" type="xsd:string"/>
                                <xsd:element name="ConfirmedFlag" type="xsd:string"/>
                                <xsd:element name="WipCtlGlCode" type="xsd:string"/>
                                <xsd:element name="LabCostToDate" type="xsd:string"/>
                                <xsd:element name="MatCostToDate" type="xsd:string"/>
                                <xsd:element name="LabValueIssues" type="xsd:string"/>
                                <xsd:element name="MatValueIssues" type="xsd:string"/>
                                <xsd:element name="JobPriority" type="xsd:string"/>
                                <xsd:element name="MaterialAllocation" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="StockCode" type="xsd:string"/>
                                      <xsd:element name="StockDescription" type="xsd:string"/>
                                      <xsd:element name="Uom" type="xsd:string"/>
                                      <xsd:element name="Warehouse" type="xsd:string"/>
                                      <xsd:element name="QtyReqd" type="xsd:string"/>
                                      <xsd:element name="QtyIssued" type="xsd:string"/>
                                      <xsd:element name="MatValReqd" type="xsd:string"/>
                                      <xsd:element name="ValueIssued" type="xsd:string"/>
                                      <xsd:element name="AllocCompleted" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="OperationItem" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Operation" type="xsd:string"/>
                                      <xsd:element name="WorkCentre" type="xsd:string"/>
                                      <xsd:element name="WorkCentreDesc" type="xsd:string"/>
                                      <xsd:element name="TotRunTimeReqd" type="xsd:string"/>
                                      <xsd:element name="TotSetStrTrdReqd" type="xsd:string"/>
                                      <xsd:element name="RunTimeIssued" type="xsd:string"/>
                                      <xsd:element name="TotSetStrTrdIss" type="xsd:string"/>
                                      <xsd:element name="LabValReqd" type="xsd:string"/>
                                      <xsd:element name="ValueIssued" type="xsd:string"/>
                                      <xsd:element name="OperCompleted" type="xsd:string"/>
                                      <xsd:element name="CostCentre" type="xsd:string"/>
                                      <xsd:element name="CostCentreDesc" type="xsd:string"/>
                                      <xsd:element name="CostCentreType" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="Job" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Sub" type="xsd:string"/>
                                      <xsd:element name="JobNumber" type="xsd:string"/>
                                      <xsd:element name="JobDescription" type="xsd:string"/>
                                      <xsd:element name="JobClassification"/>
                                      <xsd:element name="ClassDescription"/>
                                      <xsd:element name="StockCode" type="xsd:string"/>
                                      <xsd:element name="StockDescription" type="xsd:string"/>
                                      <xsd:element name="LongDesc" type="xsd:string"/>
                                      <xsd:element name="StockUom" type="xsd:string"/>
                                      <xsd:element name="Version"/>
                                      <xsd:element name="Release"/>
                                      <xsd:element name="Warehouse" type="xsd:string"/>
                                      <xsd:element name="INVWHC_Description" type="xsd:string"/>
                                      <xsd:element name="Customer"/>
                                      <xsd:element name="CustomerName"/>
                                      <xsd:element name="JobDeliveryDate" type="xsd:string"/>
                                      <xsd:element name="JobStartDate" type="xsd:string"/>
                                      <xsd:element name="Complete" type="xsd:string"/>
                                      <xsd:element name="ExpLabour" type="xsd:string"/>
                                      <xsd:element name="ExpMaterial" type="xsd:string"/>
                                      <xsd:element name="QtyToMake" type="xsd:string"/>
                                      <xsd:element name="QtyOutstanding" type="xsd:string"/>
                                      <xsd:element name="QtyManufactured" type="xsd:string"/>
                                      <xsd:element name="Route" type="xsd:string"/>
                                      <xsd:element name="BOMROU_Description" type="xsd:string"/>
                                      <xsd:element name="ConfirmedFlag" type="xsd:string"/>
                                      <xsd:element name="WipCtlGlCode" type="xsd:string"/>
                                      <xsd:element name="LabCostToDate" type="xsd:string"/>
                                      <xsd:element name="MatCostToDate" type="xsd:string"/>
                                      <xsd:element name="LabValueIssues" type="xsd:string"/>
                                      <xsd:element name="MatValueIssues" type="xsd:string"/>
                                      <xsd:element name="JobPriority" type="xsd:string"/>
                                      <xsd:element name="MaterialAllocation" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="StockCode" type="xsd:string"/>
                                            <xsd:element name="StockDescription" type="xsd:string"/>
                                            <xsd:element name="Uom" type="xsd:string"/>
                                            <xsd:element name="Warehouse" type="xsd:string"/>
                                            <xsd:element name="QtyReqd" type="xsd:string"/>
                                            <xsd:element name="QtyIssued" type="xsd:string"/>
                                            <xsd:element name="MatValReqd" type="xsd:string"/>
                                            <xsd:element name="ValueIssued" type="xsd:string"/>
                                            <xsd:element name="AllocCompleted" type="xsd:string"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="OperationItem" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="Operation" type="xsd:string"/>
                                            <xsd:element name="WorkCentre" type="xsd:string"/>
                                            <xsd:element name="WorkCentreDesc" type="xsd:string"/>
                                            <xsd:element name="TotRunTimeReqd" type="xsd:string"/>
                                            <xsd:element name="TotSetStrTrdReqd" type="xsd:string"/>
                                            <xsd:element name="RunTimeIssued" type="xsd:string"/>
                                            <xsd:element name="TotSetStrTrdIss" type="xsd:string"/>
                                            <xsd:element name="LabValReqd" type="xsd:string"/>
                                            <xsd:element name="ValueIssued" type="xsd:string"/>
                                            <xsd:element name="OperCompleted" type="xsd:string"/>
                                            <xsd:element name="CostCentre" type="xsd:string"/>
                                            <xsd:element name="CostCentreDesc" type="xsd:string"/>
                                            <xsd:element name="CostCentreType" type="xsd:string"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
