Schemas7/WIPQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2016 SYSPRO Ltd.-->
<!-- 
     Schema for the Work in Progress Setup Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WorkInProgressOptions">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="Company">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="General1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WipLoadLevelReq" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowChgToOperationTimes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowOpToEndEarlier" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AutoClearVariance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AutoClearWipVarLessThan" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AutoClearWipVarLessThanValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApplyAutoVarAllCostMethods" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FloorStockWh" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AdvancedSchedulingReq" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LinkSoDirectlyToAps" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LinkWipDirectlyToAps" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipInspReq" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CaptureSerialsEndWipInsp" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CaptureLotsEndWipInsp" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="General2">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CalcGrossProfitPartBill" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LowProfitPercForGrossProfit" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HighProfitPercForGrossProfit" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LabServChg" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DefLabServChg" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlaceMultBinsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintKitIssDocOnline" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowKitsWithShortages" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowSubsInKitIssues" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RoundMatIssToPanSize" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipInspDocSel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PromptForOperation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseManufUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RetainSoLink" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DemandRevLink" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="History">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PermRetScrapAnal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PermRetNonProdAnal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MthsRetLaborJnls" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MthsRetPartBillJnls" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPerRetLaborDistr" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPerRetPartBillDistr" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseDaysAsRetMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DaysRetJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArchiveCompletedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ArchiveJobTrans" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaxJobsPerArchive" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="JobCreation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TrfFromBom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeqCheckReqByDef" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobsConfByDef" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobClassReq" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApplyOtimePercFiniteCalc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipMaxGenQueueTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyCaptureForCoProdJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReserveStockForAllocs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobAmendmentJournals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MthsRetJobAmendJnls" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="LabourPosting">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ValidateMachCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValidateEmpCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NonProdTimeToUpdateJob" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipLabLastPeDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipLabLastMeDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipLabLastYeDate" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PeriodCurrentYear">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WipCurrDatePeriod1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod6" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod6" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod7" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod7" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod8" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod8" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod9" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod9" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod10" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod10" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod11" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod11" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod12" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod12" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrDatePeriod13" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrFlagPeriod13" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PeriodPreviousYear">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WipPrevDatePeriod1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod6" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod6" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod7" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod7" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod8" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod8" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod9" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod9" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod10" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod10" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod11" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod11" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod12" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod12" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevDatePeriod13" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipPrevFlagPeriod13" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CurrentMonth">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WipCurrentYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCurrentMonth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AccPeriodsPerYear" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Numbering">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="JobNumMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipInspNumMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextJobNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextKitIssueNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextWipInspNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextWipInspDocNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextScrapDocNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OpNumberIncrement" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FirstOpNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OpRenumber" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="LotsAndSerials">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReserveLotsForParent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReserveSerialsForParent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReserveLotsForAlloc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReserveSerialsForAlloc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowSubsLotsSerialsParent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllowSubsLotsSerialsComp" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReqCompToParentLotTrack" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReqCompToParentSerialTrack" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ProjectsAndContracts">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ChkPostThresholdAgainst" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AutoExpandHierTreeview" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShowTreeviewAsListview" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrtOnlineDelNoteBoRelease" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
