Schemas7/WIPQ31OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2015 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Job Variance Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="WipJobVarianceQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WipJobVarianceQuery">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValuesBy" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ValuesBy" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeSubJobsUnderMasterJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_InclSubJobsUnderMast" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCompletedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeCompletedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpectedCostBasis" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ExpectedCostBasis" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintMUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobClassificationFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobClassificationFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompletionDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CompletionDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompletionDateFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="JobClassification" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Jobs" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JobClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JobClassDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WIPMST_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MasterJobNum" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MasterJob" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JobComplete" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_JobComplete" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="JobType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_JobType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpLabor" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpLabor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpMaterial" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ExpMaterial" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LabCostToDate1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_LabCostToDate1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MatCostToDate1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_MatCostToDate1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalExpCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_TotalExpCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalActualCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_TotalActualCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CostVariance" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_CostVariance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PercentageVariance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_PerVariance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CoProductDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CoProduct" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WIPCOP_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductLine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductExpLabor" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CoProductExpLabor" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductExpMaterial" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CoProductExpMaterial" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductLabCostToDate1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CoProLabCostToDate1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductMatCostToDate1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CoProMatCostToDate1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductTotalExpCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CoProTotalExpCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductTotalActualCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CoProTotalActualCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductCostVariance" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CoProCostVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductPercentageVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_CoProPerVariance" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="MasterJobTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="MasterJobTotal" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="MasterJobNum" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MasterExpLabor" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_MasterExpLabor" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ExpMaterial" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_ExpMaterial" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LabCostToDate1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_LabCostToDate1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MatCostToDate1" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_MatCostToDate1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalExpCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalExpCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalActualCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalActualCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CostVariance" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_CostVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PercentageVariance" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Edited_PerVariance" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="JobClassificationTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ClassificationTotalExpLabor" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ClassTotalExpLabor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ClassificationTotalExpMaterial" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ClassTotalExpMaterial" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ClassificationTotalLabCostToDate1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ClassTotalLabCostToDate1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ClassificationTotalMatCostToDate1" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ClassTotalMatCostToDate1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ClassificationTotalExpCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ClassTotalExpCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ClassificationTotalActualCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ClassTotalActualCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ClassificationCostVariance" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Edited_ClassCostVariance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ClassificationPercentageVariance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Edited_ClassPerVariance" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReportTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TotalExpLabor" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TotalExpLabor" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalExpMaterial" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TotalExpMaterial" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalLabCostToDate1" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TotalLabCostToDate1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalMatCostToDate1" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_TotalMatCostToDate1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportTotalExpCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ReportTotalExpCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportTotalActualCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ReportTotalActualCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportCostVariance" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ReportCostVariance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportTotalPercentageVariance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Edited_ReportTotalPerVariance" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
