Schemas7/WIPQ70OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Inspection Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="WipInspectionReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WipInspectionReport">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"></xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_Total" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="IncludeCompletedInspectionReferences" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_IncludeCompletedInspectionReferences" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="SerializedItemsOnly" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_SerializedItemsOnly" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="IncludeSerialNumbers" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_IncludeSerialNumbers" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="LotTraceableItemsOnly" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_LotTraceableItemsOnly" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="RevisionRelease" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="WIPInspectionReferenceFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="WIPInspectionReferenceFilterValue" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_WIPInspectionReferenceFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="JobFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="JobFilterValue" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_JobFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"></xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Inspections">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="InspectionHeader" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ReferenceDetail" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ReferenceHeader" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="InspectionReference" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Lot" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Job" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="StockCode" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="INVMST_Description" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Decimals" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Revision" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Release" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="INVWHC_Description" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="QtyManufactured" type="xsd:double" minOccurs="0"></xsd:element>
                                <xsd:element name="QtyInspected" type="xsd:double" minOccurs="0"></xsd:element>
                                <xsd:element name="QtyAccepted" type="xsd:double" minOccurs="0"></xsd:element>
                                <xsd:element name="QtyScrapped" type="xsd:double" minOccurs="0"></xsd:element>
                                <xsd:element name="QtyReworked" type="xsd:double" minOccurs="0"></xsd:element>
                                <xsd:element name="InspectComplete" type="xsd:string" minOccurs="0"></xsd:element>
                                <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"></xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="SerialDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="SerialDetail" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="SerialNumber" type="xsd:string" minOccurs="0"></xsd:element>
                                      <xsd:element name="Status" type="xsd:string" minOccurs="0"></xsd:element>
                                      <xsd:element name="StatusFlag" type="xsd:string" minOccurs="0"></xsd:element>
                                      <xsd:element name="Translated_Status" type="xsd:string" minOccurs="0"></xsd:element>
                                      <xsd:element name="QtyReceipted" type="xsd:double" minOccurs="0"></xsd:element>
                                      <xsd:element name="QtyInspected" type="xsd:double" minOccurs="0"></xsd:element>
                                      <xsd:element name="QtyAccepted" type="xsd:double" minOccurs="0"></xsd:element>
                                      <xsd:element name="QtyScrapped" type="xsd:double" minOccurs="0"></xsd:element>
                                      <xsd:element name="QtyReworked" type="xsd:double" minOccurs="0"></xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Total" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TotalManufactured" type="xsd:double" minOccurs="0"></xsd:element>
                          <xsd:element name="TotalInspected" type="xsd:double" minOccurs="0"></xsd:element>
                          <xsd:element name="TotalAccepted" type="xsd:double" minOccurs="0"></xsd:element>
                          <xsd:element name="TotalScrapped" type="xsd:double" minOccurs="0"></xsd:element>
                          <xsd:element name="TotalReworked" type="xsd:double" minOccurs="0"></xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
