Schemas7/WIPQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Query Business Object
-->
<xsd:schema id="WipQuery" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WipQuery">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="JobHeader">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobStatus" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierarchicalJob" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HasSubJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MasterJobDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobClassification" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClassDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MasterJob" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NotionalPart" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NotionalPartFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Priority" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScheduledStartDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScheduledStartTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScheduledEndDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScheduledEndTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScheduleFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobTenderDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobDeliveryDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobStartDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActCompleteDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Complete" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeqCheckReq" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateCalcMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpLabour" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpMaterial" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpTotalUnitOrig" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpMaterialTotalOrig" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpLabourTotalOrig" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpJobTotalOrig" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpLabCurrent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpMatCurrent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpTotalUnitCostCurrent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpMaterialTotalCurrent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpLabourTotalCurrent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpJobTotalCurrent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GrossFlg" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingUnitOfMeasure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtyToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingGrossQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtyManufactured" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingTotalQtyScrapped" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobUnitOfMeasureFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobUnitOfMeasure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GrossQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyManufactured" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalQtyScrapped" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SourceDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EstSourceNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextDetailLine" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PctCompleteFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrtFactDoc1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrtFactDoc2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrtFactDoc3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrtFactDoc4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SellingPrice" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AddLabPct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AddMatPct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProfitPct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaterialBilled" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LabourBilled" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextOpForAll" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HighestOpPosted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConfirmedFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HoldFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobCreatedStruc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LstOrderCreated" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TraceableType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Traceable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InspectionFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InspectFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InspectionAlreadyProcessed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InspectionAlreadyProcessedFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NxtLinePartBook" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Route" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipCtlGlCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MatCostToDate1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LabCostToDate1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HrsBookToDate1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MatValueIssues1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LabValueIssues1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MatCostToDate2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LabCostToDate2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HrsBookToDate2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MatValueIssues2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LabValueIssues2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MatCostToDate3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LabCostToDate3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HrsBookToDate3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MatValueIssues3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LabValueIssues3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateJobLstUpd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TimeJobLstUpd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierarchyFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NextLineHier" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrdEntSource" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IssuesFromWIP" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WIPValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpectedMaterialCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpectedOperationCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalOps" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostBasis" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CostBasis" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReceiptCostMessage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReceiptCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ReceiptCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActualReceiptCostMessage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActualReceiptCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ActualReceiptCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpectedReceiptCostMessage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpectedReceiptCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_ExpectedReceiptCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipValueReceiptCostMessage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipValueReceiptCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_WipValueReceiptCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrentReceiptCostMessage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrentReceiptCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CurrentReceiptCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomForm" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="MaterialAlloc" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FixedQtyPerFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingFixedQtyPer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingUnitQtyReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingNetUnitQtyReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingTotalQtyReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingWipQtyReserved" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtyIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtyBilled" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingScrapQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UomFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FixedQtyPer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnitQtyReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NetUnitQtyReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalQtyReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WipQtyReserved" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyBilled" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScrapQuantity" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperationOffset" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OpOffsetFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValueReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValueIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValueBilled" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AllocCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SequenceNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PhantomParent" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NonConformFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ApplyCostUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BulkIssueItem" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScrapPercentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InclScrapOnDoc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DockToStock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierarchyJob1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierarchyJob2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierarchyJob3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierarchyJob4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierarchyJob5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="KitIssueItem" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompletedJobFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EccConsumption" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OverEccSpecIssue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubJob" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ComponentType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RefDesignator" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AssemblyPlace" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ItemNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IconOpen" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IconClosed" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CoProducts">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockingCopUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtyPer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtyToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtyManufactured" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingTotalQtyScrapped" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopUomFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyPer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyToMake" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyManufactured" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalQtyScrapped" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopReceiptCostMessage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopReceiptCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CopReceiptCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopActualReceiptCostMessage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopActualReceiptCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CopActualReceiptCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopExpectedReceiptCostMessage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopExpectedReceiptCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CopExpectedReceiptCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopWipValueReceiptCostMessage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopWipValueReceiptCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CopWipValueReceiptCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopCurrentReceiptCostMessage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CopCurrentReceiptCost" type="xsd:double" minOccurs="0"/>
              <xsd:element name="Edited_CopCurrentReceiptCost" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="MaterialPosting" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MStockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingMUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingMQtyIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MQtyIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MWarehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MProductClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MUnitCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MReference" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MAddReference" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MLot" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MConcessionNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MVersionNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MReleaseLevel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MApplyCostUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MCostUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MPurchaseOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MBulkIssueItem" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MPurchaseOrdLin" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MAllocationLine" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MDecimals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MSubJob" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Hierarchy1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Hierarchy2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Hierarchy3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Hierarchy4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Hierarchy5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PostYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PostMonth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IconOpen" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IconClosed" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="LabourAlloc" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubcontractOp" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IMachine" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingIExpUnitRunTim" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingIStartupQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IExpUnitRunTim" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IStartupQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IExpSetUpTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IExpStartupTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IExpShutdownTim" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IWaitTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IWcRateInd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ICapacityReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IMaxWorkOpertrs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IMaxProdUnits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubSupplier" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubPoStkCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubQtyPer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubOrderUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubUnitValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubWhatIfValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubPlanner" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubBuyer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubLeadTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubDockToStock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubOffsiteDays" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnitValueReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RunTimeIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SetUpIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StartUpIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShutdownIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TimeReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TimeIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValueReqd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValueIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PiecesCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ValueBilled" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperCompletedDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtyCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtyScrapped" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Edited_StockingQtyScrapped" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyScrapped" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LastScrapReason" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannedQueueDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannedStartDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PlannedEndDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActualQueueDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActualStartDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActualFinishDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AutoNarrCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Narration" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NarrLine1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NonConformFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WorkCentre" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WorkCentreDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TimeUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapacityUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ElapsedTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MovementTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnitNumOfPieces" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InspectionFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Milestone" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MinorSetUp" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MinorSetUpCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ToolSet" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ToolSetQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ToolConsumption" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingParentQtyPlanned" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingParIssQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingOperYieldQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ParentQtyPlanned" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ParIssQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperYieldQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QueueTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MilestoneComp" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CalcElapsedTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierHead1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierHead2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierHead3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierHead4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HierHead5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapacityIssued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QuoteLine" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OpCompViaJob" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubTotalQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyOutstanding" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SchSetupStartDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SchSetupStartTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SchRunStartDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SchRunStartTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SchEndDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SchEndTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScheduledMachine" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperationStatus" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperationStatusDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sub-op" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Queued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperYieldPct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtyOutstanding" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Narrations" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Narration" nillable="true" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string"/>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="IconOpen" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IconClosed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TransferQtyOrPct" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TransferQtyPct" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="LabourIssue" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LWorkCentre" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LWorkCentreDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingLRunTimeHours" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LRunTimeHours" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LSetUpHours" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LStartupHours" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LTeardownHours" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingTotalTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LOperation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LMachine" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LRunTimeRate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LSetUpTimeRate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LFixedTimeRate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LVarTimeRate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LStartTimeRate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LTeardownRate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LSubcontractFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LEmployee" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingLQtyScrapped" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingLQtyComplete" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LQtyScrapped" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LQtyComplete" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LWcRateInd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LEmployeeRatInd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PostYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PostMonth" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IconOpen" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IconClosed" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Notation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ScrapReasonCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NonProductiveCode" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PartBooking" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockingQtySupplied" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtySupplied" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrnDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LabourValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MaterialValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AddReference" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MasterJob" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PurchaseOdrders" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MStockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MStockDes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MSupCatalogue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MLatestDueDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MOrderQty" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MOrderUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MWarehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MVersion" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MRelease" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeInMrp" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReservedLots" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CoProductLine" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyReserved" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyReceipted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyInInspection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyScrapped" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyReworked" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotExists" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LotCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConcessionNo" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReservedSerials" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CoProductLine" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Serial" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SerialMethod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyReserved" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyReceipted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyInInspection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyScrapped" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyReworked" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Location" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Complete" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
