Schemas7/WIPQAJOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the Job Amendment Journals Query Business Object
-->
<xsd:schema id="JobAmendmentJournalsQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WipJobAmendmentJournal">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncludeMatAllocs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeLabAllocs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeReprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintAdditions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintChanges" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintDeletions" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="AmendmentDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AmendmentJournal" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="JournalDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Action" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Printed" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TableName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ColumnName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Before" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="After" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
