Schemas7/WIPQ37OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Tracking Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="WipTracking" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WipTracking">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ValuesBy" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ValuesBy" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobsOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompletedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CompletedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UnconfirmedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_UnconfirmedJobs" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintManufacturingUMQuantities" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobClassificationSelectionFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobClassificationSelectionFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_JobClassificationSelectionFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Jobs">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="JobDetail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="JobHeader" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobClass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WIPMST_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobCompleted" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_JobCompleted" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyManufactured" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyManufactured" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOutstanding" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="DetailItem" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="NodeType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WIPMST_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="JobCompleted" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyManufactured" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyManufactured" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOutstanding" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyOutstanding" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductLine" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CoProductUom" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WorkCenter" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BOMWRK_Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OpComplete" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Translated_OpComplete" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OpCompleteFlag" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTimeBooked" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_TotalTimeBooked" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyCompleted" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyCompleted" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyScrapped" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="Edited_QtyScrapped" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PlannedStartDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PlannedEndDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualStartDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualFinishDate" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
