Schemas7/WIPSJCOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2014 SYSPRO Ltd.--><!--     Schema for the WIP Job Classification Setup Business Object--><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="JobClassification" type="xsd:string"/>	<xsd:element name="RecordsInvalid" type="xsd:boolean"/>	<xsd:element name="RecordsRead" type="xsd:boolean"/>	<xsd:element name="StatusOfItems">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="RecordsRead"/>				<xsd:element ref="RecordsInvalid"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="item">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="key"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="key">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="JobClassification"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="SetupJobClassification">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="item"/>				<xsd:element ref="StatusOfItems"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element></xsd:schema>