Schemas7/WIPSNPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2014 SYSPRO Ltd.--><!--     Schema for the WIP Non-productive Codes Setup Business Object--><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="NonProdScrap">		<xsd:simpleType>			<xsd:restriction base="xsd:string">				<xsd:whiteSpace value="preserve"/>			</xsd:restriction>		</xsd:simpleType>	</xsd:element>	<xsd:element name="RecordFlag">		<xsd:simpleType>			<xsd:restriction base="xsd:string">				<xsd:whiteSpace value="preserve"/>			</xsd:restriction>		</xsd:simpleType>	</xsd:element>	<xsd:element name="RecordsInvalid" type="xsd:boolean"/>	<xsd:element name="RecordsRead" type="xsd:boolean"/>	<xsd:element name="StatusOfItems">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="RecordsRead"/>				<xsd:element ref="RecordsInvalid"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="item">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="key"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="key">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="RecordFlag"/>				<xsd:element ref="NonProdScrap"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="setupNonProductiveCodes">		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="item"/>				<xsd:element ref="StatusOfItems"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element></xsd:schema>