Schemas7/WIPTRAOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the output of the WIP Reserving Stock for Allocations Post Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostWipReserving">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation/>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:sequence>
              <xsd:element name="Key" maxOccurs="unbounded">
                <xsd:complexType mixed="false">
                  <xsd:sequence>
                    <xsd:element name="Job" type="xsd:string"/>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Line" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StatusOfItems" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ItemsProcessed" type="xsd:string"/>
              <xsd:element name="ItemsInvalid" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
