Schemas7/WIPTJMDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Material Allocations Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ComponentWhToUse" type="xsd:string" default="N">
    <xsd:annotation>
      <xsd:documentation>ComponentWhToUse specifies whether or not to use the warehouses of the components of exploded kit or phantom parts. Y - yes, N - no.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PostMaterialAllocations">
    <xsd:annotation>
      <xsd:documentation>This is the Root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Item" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ExplodeIfKitPart" type="xsd:string" default="N">
    <xsd:annotation>
      <xsd:documentation>ExplodeIfKitPart specifies whether to add the components of a kit type part or not. Y - add components of kit, N - add kit part.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ExplodeIfPhantomPart" type="xsd:string" default="N">
    <xsd:annotation>
      <xsd:documentation>ExplodeIfPhantomPart specifies whether to add the components of a phantom part or not. Y -add components of phantom, N - add phantom part.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FixedQtyPer">
    <xsd:annotation>
      <xsd:documentation>This indicates the number of parent parts to which the component quantity per applies.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FixedQtyPerFlag" default="N">
    <xsd:annotation>
      <xsd:documentation>This indicates whether the quantity per is a one to one relationship between the component and the parent or the quantity per is for a grouping of parents (eg for every 10 parents apply the components' qty per). Y - Yes, N - No.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Head">
    <xsd:annotation>
      <xsd:documentation>Head is part of a unique key to identify a hierarchy. Mandatory when the job is a hierarchical job.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="HierarchyJob">
    <xsd:annotation>
      <xsd:documentation>This element contains part of the unique key for the hierarchy. The job number will be used to complete the key.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Head"/>
        <xsd:element ref="Section1"/>
        <xsd:element ref="Section2"/>
        <xsd:element ref="Section3"/>
        <xsd:element ref="Section4"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IncludeinKitIssue" default="Y">
    <xsd:annotation>
      <xsd:documentation>When set as "Y" the component will be included during kit issues. Y - Include Component in Kit Issue, N - Exclude Component in Kit Issue.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This element contains information to maintain an allocation. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Job"/>
        <xsd:element ref="NonStocked"/>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="Warehouse"/>
        <xsd:element ref="NewWarehouse"/>
        <xsd:element ref="Line"/>
        <xsd:element ref="ExplodeIfPhantomPart"/>
        <xsd:element ref="ExplodeIfKitPart"/>
        <xsd:element ref="ComponentWhToUse"/>
        <xsd:element ref="StockDescription"/>
        <xsd:element ref="QtyReqdType"/>
        <xsd:element ref="QtyReqd"/>
        <xsd:element ref="FixedQtyPerFlag" minOccurs="0"/>
        <xsd:element ref="FixedQtyPer" minOccurs="0"/>
        <xsd:element ref="UnitCost"/>
        <xsd:element ref="OperationOffset"/>
        <xsd:element ref="OpOffsetFlag"/>
        <xsd:element ref="Uom"/>
        <xsd:element ref="SequenceNum"/>
        <xsd:element ref="HierarchyJob"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="Release"/>
        <xsd:element ref="eSignature"/>
        <xsd:element ref="IncludeinKitIssue"/>
        <xsd:element name="QuantityToReserve" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates what quantity should be reserved for an allocation. This element is only relevant when the WIP setup option reserving stock for allocations is switched on and the item is stocked and the job is confirmed and the quantity required is greater than zero and the item is not a bulk issue item or floostock item.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ReserveKitPhantComponents" default="Y" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates when exploding a kit or phantom whether to reserve the components. This element is only relevant when the WIP setup option reserving stock for allocations is switched on and the job is confirmed. Y - Yes, N - No. The default is 'Y'.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value="N"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ComponentType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates the component type which describes the component </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="EccConsumption" default="S" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates the ECC consumption method. This element is only applicable for ECC controlled items. The possible values are S - Specified, C - Current, D - Deplete oldest.  D - Deplete oldest  is only valid when the BOM Setup option "Deplete oldest rev/rel first" is selected. When Specified is supplied then the version and release need to be supplied. When current or deplete oldest then the version and release will be ignored and set to spaces. If you are reserving stock for allocations or lots and serials then only specified will be valid.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="S"/>
              <xsd:enumeration value="C"/>
              <xsd:enumeration value="D"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RefDesignator" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>A reference desginator unambiguosly identifies a coponent in an electrical schematic.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="AssemblyPlace" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Additional sequence or reference for placement of the component within the assembly.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ItemNumber" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Item number, description and reference on the assembly drawing.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="OverEccSpecIssue" default="N" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>OverEccSpecIssue indicates if you are allowed to override the revision and release for an ECC controlled component during specific issues, when the component is flagged as using the deplete oldest revision and release first. Note: this field will be ignored if the component is not ECC controlled. The format can only be: 'Y' (Yes) or 'N' (No). Note: the option to Deplete oldest version and release must be selected in the BOM setup to be a valid option. The default will be 'N' (No).</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Job">
    <xsd:annotation>
      <xsd:documentation>Job specifies the job for which the allocations are being maintained. The format is alphanumeric or numeric depending on the configuration option within SYSPRO.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Line">
    <xsd:annotation>
      <xsd:documentation>Line specifies the line number of allocations. When adding this line will be generated automatically i.e., should not be supplied. When updating or deleting or setting the allocation to be complete this number must be supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NewWarehouse">
    <xsd:annotation>
      <xsd:documentation>NewWarehouse specifies the new warehouse to be added to an existing allocation. Only used when updating and nothing has been issued for this allocation, consolidated warehouses are not being used, snapshot allocations are not being maintained and the allocations are not for a hierachical job.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NonStocked" default="N">
    <xsd:annotation>
      <xsd:documentation>NonStocked specifies whether the allocation being maintained is non-stocked or not. Y - Non-stocked, N - Stocked.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OpOffsetFlag" default="O">
    <xsd:annotation>
      <xsd:documentation>OpOffsetFlag indicates whether offset days or operation offset is used. D - Offset Days, O - Operation Offset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OperationOffset">
    <xsd:annotation>
      <xsd:documentation>OperationOffset indicates either the operation number or the offset days for the allocation. If the operation flag has been set, this field may not be zero. If it is not 1, the field will be validated against the job master operation number.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="QtyReqd">
    <xsd:annotation>
      <xsd:documentation>QtyReqd indicates either total quantity or the quantity per of the allocation. The value supplied in the QtyReqdType will allow you to either add the total quantity or the quantity per of the allocation.  For a non-stocked item this value may not be zero. The unit quantity required and total quantity required allow for 12 integers and 6 decimals. Caution must be taken when supplying the unit quantity required so that this does not cause an overflow of the total quantity required.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="QtyReqdType" default="U">
    <xsd:annotation>
      <xsd:documentation>QtyReqdType indicates whether the total quantity or the quantity per will be used for the allocation. U - Quantity per, T - Total quantity.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Release">
    <xsd:annotation>
      <xsd:documentation>Release indicates the ECC release number of the component part. Ignore if not an ECC controlled item, or if ECC controlled at a stocking/revision level. The format is alphanumeric or numeric depending on the configuration option within Bill of Materials setup.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Section1">
    <xsd:annotation>
      <xsd:documentation>Section1 is part of a unique key to identify a hierarchy. Used when the job is a hierarchical job.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Section2">
    <xsd:annotation>
      <xsd:documentation>Section2 is part of a unique key to identify a hierarchy. Used when the job is a hierarchical job.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Section3">
    <xsd:annotation>
      <xsd:documentation>Section3 is part of a unique key to identify a hierarchy. Used when the job is a hierarchical job.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Section4">
    <xsd:annotation>
      <xsd:documentation>Section4 is part of a unique key to identify a hierarchy. Used when the job is a hierarchical job.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SequenceNum">
    <xsd:annotation>
      <xsd:documentation>SequenceNum is the seq number of the allocation. The format is alphanumeric or numeric depending on the configuration option within Bill of Materials setup.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>The StockCode indicates the component for the job to be maintained. The format is alphanumeric or numeric depending on the configuration option within SYSPRO.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockDescription">
    <xsd:annotation>
      <xsd:documentation>StockDescription describes the stock code. The stock code description for a stocked item will be retrieved from the inventory master file but a description can be entered for a non-stocked item.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UnitCost">
    <xsd:annotation>
      <xsd:documentation>UnitCost indicates the unit cost of the allocation. For a non-stocked item the cost must be entered and be greater than zero. For a stocked item the cost will be calculated and this field will be ignored.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Uom">
    <xsd:annotation>
      <xsd:documentation>Uom indicates the quantity unit of measure. For a non-stocked item this field must be supplied. The unit of measure will be retrieved from the inventory master for a stock item.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="eSignature">
    <xsd:annotation>
      <xsd:documentation>If required, this element must contain a GUID, for the eSignature system to accept the transaction as having been authenticated. The GUID format is in the format {36303032-3330-3031-3038-323434363433}, where the numbers can be replaced with any character. It is up to the developer to have requested a password to protect the transaction. An example is that a GUID associated with the act of entering a valid password could be obtained and presented.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Version">
    <xsd:annotation>
      <xsd:documentation>Version indicates the ECC version number of the component part. Ignore if not an ECC controlled item, or if ECC controlled at a stocking level. The format is alphanumeric or numeric depending on the configuration option within Bill of Materials setup.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:annotation>
      <xsd:documentation>Warehouse specifies the warehouse to use of the allocation. If non-stocked this field will be ignored else the warehouse will be required for stocked items. When updating and consolidated warehouses are used, the warehouse supplied must be '--'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
