Schemas7/WIPTSIDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Inspection Scrap Quantity Maintenance Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostWIPInspectionScrap">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence maxOccurs="unbounded">
        <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>This element contains information to maintain the scrapped quantity for a WIP inspection reference.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="InspectionReference">
                <xsd:annotation>
                  <xsd:documentation>This indicates the WIP inspection reference for which you want to update the scrap quantity. This is a mandatory element. The format is either alphanumeric or numeric depending on the key configuration option for inspection reference within SYSPRO.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="StockCode">
                <xsd:annotation>
                  <xsd:documentation>This indicates the stock code for which you want to update the scrap quantity. This is a mandatory element. The format is alphanumeric or numeric depending on the key configuration option for stock code within SYSPRO.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Lot" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the lot for which you want to update the scrap quantity when the stock item is lot traceable. The format is either alphanumeric or numeric depending on the key configuration option for lot within SYSPRO.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="UnitOfMeasure" default="S">
                <xsd:annotation>
                  <xsd:documentation>Select 'S' for stocking uom, 'A' for alternate uom, 'O' for other uom or 'M' for manufacturing uom. Quantities and times entered will be according to the unit of measure selected.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="O"/>
                    <xsd:enumeration value="M"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="QuantityScrapped">
                <xsd:annotation>
                  <xsd:documentation>This indicates the quantity to scrap that will be added to the total quantity scrapped for the WIP inspection reference.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Document" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the document number for the scrap function.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ScrapCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the scrap code for the descriptive reasons that can be assigned to the scrapping of material during postings made in the Labor Posting program.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Narration" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the reason for scrapping. The narration will default to the descriptive reason saved against the scrap code, if a scrap code has been supplied.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="LedgerCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the ledger code that will be debited with the scrap transaction value if Work in Progress is integrated to general ledger. The ledger code will default to the expense issues ledger account. You will not be able to change this ledger account if you do not have operator access for the Activity WIP Inspection Change scrap ledger.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="LedgerPassword" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the ledger code password if required when changing the scrap ledger code from the default expense issues ledger account.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Journal" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the journal number to which the transaction journal entries generated will be added. It must be valid for the current posting period and warehouse and may not have been printed already. If not supplied a new journal will be created.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="SelectAvailableSerials" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. When scrapping a serialized stock item and this element is set to Y, the WIP inspected serial numbers available for the stock item being processed are used until the quantity supplied is satisfied. This is only applicable to Manual serial items and when the WIP setup option Capture serials at end of WIP inspection has not been selected. Possible values: Y (yes) or N (no). Default value: N.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ReservedSerials" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is optional. When scrapping a serialized stock item and this element is set to 'R', It will allow you to select reserved serials and validate accordingly. This is only applicable when the WIP setup option Capture serials at end of WIP inspection has not been selected and when the WIP setup option Reserve lots for parent has been selected. Possible values: R (reserved serials required).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="R"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Serials" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>A set of serial numbers and relevant information must be supplied if stock item specified is serialized. This element does not apply if the WIP setup option Capture serials at end of WIP Inspection has been selected or if you are using reserved serials.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:all>
                    <xsd:element name="SerialNumber">
                      <xsd:annotation>
                        <xsd:documentation>This indicates the serial number that you want to remove from WIP inspection or for which you want to reduce the quantity in WIP inspection if the stock item is serialized and the WIP setup option Capture serials at end of WIP Inspection has not been selected. The format is either alphanumeric or numeric depending on the key configuration for serials within SYSPRO.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SerialQuantity" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This element is only applicable for batch serialized items and indicates the quantity by which the serial number in WIP inspection will be reduced.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ReservedLot" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates the lot for which you want to update the scrap quantity when the stock item is lot traceable and you are using reserved lots. This option is mandatory if you are using reserved lots and the 'Capture lots at end of WIP inspection' has been set to 'Y'. The format is either alphanumeric or numeric depending on the key configuration option for lot within SYSPRO.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="eSignature" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If required, this element must contain a GUID, for the eSignature system to accept the transaction as having been authenticated. The GUID format is in the format {36303032-3330-3031-3038-323434363433}, where the numbers can be replaced with any character. It is up to the developer to have requested a password to protect the transaction. An example is that a GUID associated with the act of entering a valid password could be obtained and presented.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
