Schemas7/wms_pick_slip_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!--
     Schema for Pick Slip Print Business Object Output
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SorPickSlip">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence1Key" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence1KeyDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq1Name" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence1KeyBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq1OptionsBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence1KeySummarize" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq1OptionsSumm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence2Key" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence2KeyDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq2Name" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence2KeyBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq2OptionsBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence2KeySummarize" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq2OptionsSumm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence3Key" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence3KeyDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq3Name" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence3KeyBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq3OptionsBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence3KeySummarize" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq3OptionsSumm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence4Key" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence4KeyDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq4Name" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence4KeyBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq4OptionsBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence4KeySummarize" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq4OptionsSumm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence5Key" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence5KeyDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq5Name" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence5KeyBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq5OptionsBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence5KeySummarize" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq5OptionsSumm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence6Key" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence6KeyDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq6Name" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence6KeyBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq6OptionsBreak" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Sequence6KeySummarize" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Seq6OptionsSumm" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintOrderLineComments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintOrderLineComments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintSerialNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintSerialNumbers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintLotInformation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintLotInformation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintExtendedInformation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintExtendedInformation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintLongDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintLongDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BinGroupLength" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderStatusZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OrderStatusZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderStatusOne" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OrderStatusOne" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderStatusTwo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OrderStatusTwo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderStatusThree" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OrderStatusThree" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderStatusFour" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OrderStatusFour" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderDetStatZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SalesOrderDetStatZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderDetStatOne" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderDetStatTwo" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderDetStatThree" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderDetStatFour" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SalesOrderDetStatFour" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderDetStatFive" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderDetStatSix" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WholeOrdProcessing" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WholeOrdProcessing" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeNonStockedItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeNonStockedItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="XslStyleSheet" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AltStockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AltStockCodeFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AltStockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AltKeySalesOrderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AltKeySalesOrderFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AltKeySalesOrderFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeoAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GeoAreaFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeoAreaFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BinFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BinFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BinFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BinSeqFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BinSeqFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BinSeqFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BranchFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerClassFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SalesOrderFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderTypeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OrderTypeFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderTypeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LineShipDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_LineShipDateFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LineShipDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RouteCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_RouteCodeFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RouteCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilter" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PickList" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence1Key" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SequenceKey" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceKeyDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeqKey1Desc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceKeyValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceKeyValueDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeqKey1Value" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceKeyEmpty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceTickStart" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Sequence2Key" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SequenceKey" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SequenceKeyDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SeqKey2Desc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SequenceKeyValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SequenceKeyValueDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SeqKey2Value" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SequenceKeyEmpty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SequenceTickStart" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Sequence3Key" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="SequenceKey" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SequenceKeyDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SeqKey3Desc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SequenceKeyValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SequenceKeyValueDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SeqKey3Value" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SequenceKeyEmpty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SequenceTickStart" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Sequence4Key" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="SequenceKey" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SequenceKeyDescription" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SeqKey4Desc" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SequenceKeyValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SequenceKeyValueDescription" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SeqKey4Value" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SequenceKeyEmpty" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="SequenceTickStart" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Sequence5Key" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="SequenceKey" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SequenceKeyDescription" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SeqKey5Desc" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SequenceKeyValue" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SequenceKeyValueDescription" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SeqKey5Value" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SequenceKeyEmpty" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="SequenceTickStart" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Sequence6Key" minOccurs="0" maxOccurs="unbounded">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="SequenceKey" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="SequenceKeyDescription" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="SeqKey6Desc" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="SequenceKeyValue" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="SequenceKeyValueDescription" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="SeqKey6Value" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="SequenceKeyEmpty" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="SequenceTickStart" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="PickListLine" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element name="ExtendedInfo" minOccurs="0">
                                                          <xsd:complexType>
                                                            <xsd:sequence>
                                                              <xsd:element name="GeographicArea" minOccurs="0"/>
                                                              <xsd:element name="Branch" minOccurs="0"/>
                                                              <xsd:element name="OrderType" minOccurs="0"/>
                                                            </xsd:sequence>
                                                          </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="SalesOrderAlternateKey" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="StockCodeDescription" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="StockCodeLongDesc" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="StockCodeAlternateKey1" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="RouteCode" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="WhArea" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="BinSeq" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="BinGroup" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="LineShipDate" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="LineShipDateReport" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="StockingUom" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="StockQtyToShip" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="StockQtyToShipUnits" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="EditedStockQtyToShip" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="StockUnitMass" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedStockUnitMass" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="StockUnitVolume" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedStockUnitVolume" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="LineMassTotal" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedLineMassTotal" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="LineVolumeTotal" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedLineVolumeTotal" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="Barcode" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="PickListLineLot" minOccurs="0" maxOccurs="unbounded">
                                                          <xsd:complexType>
                                                            <xsd:sequence>
                                                              <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="StockQtyToShip" type="xsd:double" minOccurs="0"/>
                                                              <xsd:element name="StockQtyToShipUnits" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="EditedStockQtyToShip" type="xsd:string" minOccurs="0"/>
                                                            </xsd:sequence>
                                                          </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="PickListLineSerial" minOccurs="0" maxOccurs="unbounded">
                                                          <xsd:complexType>
                                                            <xsd:sequence>
                                                              <xsd:element name="Serial" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="Lot" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="StockQtyToShip" type="xsd:double" minOccurs="0"/>
                                                              <xsd:element name="StockQtyToShipUnits" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="EditedStockQtyToShip" type="xsd:string" minOccurs="0"/>
                                                            </xsd:sequence>
                                                          </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="PickListLineComment" minOccurs="0" maxOccurs="unbounded">
                                                          <xsd:complexType>
                                                            <xsd:sequence>
                                                              <xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="CommentType" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="CommentTextType" type="xsd:string" minOccurs="0"/>
                                                              <xsd:element name="CommentLineNumber" type="xsd:string" minOccurs="0"/>
                                                            </xsd:sequence>
                                                          </xsd:complexType>
                                                        </xsd:element>
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element name="Sequence6Key_Total" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element name="Mass_SequenceKey" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedMass_SequenceKey" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="Volume_SequenceKey" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedVolume_SequenceKey" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="PickLines_SequenceKeyTotal" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedPickLines_SequenceKeyTotal" type="xsd:string" minOccurs="0"/>
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="Sequence5Key_Total" minOccurs="0" maxOccurs="unbounded">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="Mass_SequenceKey" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="EditedMass_SequenceKey" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="Volume_SequenceKey" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="EditedVolume_SequenceKey" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="PickLines_SequenceKeyTotal" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="EditedPickLines_SequenceKeyTotal" type="xsd:string" minOccurs="0"/>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="Sequence4Key_Total" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="Mass_SequenceKey" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="EditedMass_SequenceKey" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Volume_SequenceKey" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="EditedVolume_SequenceKey" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="PickLines_SequenceKeyTotal" type="xsd:double" minOccurs="0"/>
                                            <xsd:element name="EditedPickLines_SequenceKeyTotal" type="xsd:string" minOccurs="0"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="Sequence3Key_Total" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Mass_SequenceKey" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedMass_SequenceKey" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="Volume_SequenceKey" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedVolume_SequenceKey" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="PickLines_SequenceKeyTotal" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedPickLines_SequenceKeyTotal" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Sequence2Key_Total" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Mass_SequenceKey" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedMass_SequenceKey" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Volume_SequenceKey" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedVolume_SequenceKey" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PickLines_SequenceKeyTotal" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="EditedPickLines_SequenceKeyTotal" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Sequence1Key_Total" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Mass_SequenceKey" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedMass_SequenceKey" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Volume_SequenceKey" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedVolume_SequenceKey" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PickLines_SequenceKeyTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedPickLines_SequenceKeyTotal" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="PickListTotal" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Mass_Total" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedMass_Total" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Volume_Total" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedVolume_Total" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PickLines_Total" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedPickLines_Total" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Totals_for" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
