Schemas7/WMSQRE.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the WMS Sales Order Release Query Business Object
-->
<xsd:schema id="Query" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="Option">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Sequence" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Filter">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Warehouse" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Warehouse to be selected (FilterType of A - All, R - Range or L - List of  warehouses, FilterValue contains a range or list of warehouses separated by commas if FilterType is R or L).
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:whiteSpace value="preserve"/>
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
												<xsd:enumeration value=""/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" type="xsd:string"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Customer" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Customer to be selected (FilterType of A - All, R - Range or L - List of  customers, FilterValue contains a range or list of customers separated by commas if FilterType is R or L).</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:whiteSpace value="preserve"/>
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
												<xsd:enumeration value=""/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" type="xsd:string"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="StockCode" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Customer to be selected (FilterType of A - All, R - Range or L - List of  customers, FilterValue contains a range or list of customers separated by commas if FilterType is R or L).
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:whiteSpace value="preserve"/>
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
												<xsd:enumeration value=""/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" type="xsd:string"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Shipdate" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>This is the date to be output with the document. If provided, it must be of the form CCYY-MM-DD. If not provided, the system date will be used.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:whiteSpace value="preserve"/>
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
												<xsd:enumeration value=""/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" type="xsd:string"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SalesOrder" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Sales order to be selected (FilterType of A - All, R - Range or L - List of  sales orders, FilterValue contains a range or list of sales orders separated by commas if FilterType is R or L).
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:whiteSpace value="preserve"/>
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
												<xsd:enumeration value=""/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" type="xsd:string"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Route" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Route to be selected (FilterType of A - All, R - Range or L - List of  routes, FilterValue contains a range or list of routes separated by commas if FilterType is R or L).
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" use="optional" default="A">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:whiteSpace value="preserve"/>
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="R"/>
												<xsd:enumeration value="S"/>
												<xsd:enumeration value=""/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="FilterValue" type="xsd:string"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
