Schemas7/WMSQREOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     This is an example XMLOut instance to demonstrate
     the use of the Dispatch Notes Documents Query Business Object
-->
<xsd:schema id="WMSSOrderReleaseQuery" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="WMSSOrderReleaseQuery">
		<xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="WarehouseSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerSelection" type="xsd:string" minOccurs="0"/>
							<xsd:element name="FromCustomer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ToCustomer" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SalesOrderLineItem">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StockCodeDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShipQuantity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShipQuantityUnits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EditedShipQuantity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShipDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MUnitQuantity" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RouteCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MConvFactUnitQ" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MDecimalsUnitQ" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
