Schemas7/WMSSZNDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--This is the schema for WMS Zone Setup Business Object-->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="SetupWmsZone">
  <xsd:annotation>
   <xsd:documentation>This is the root element</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Item">
     <xsd:annotation>
      <xsd:documentation>This element contains the values to maintain a zone</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Key">
        <xsd:annotation>
         <xsd:documentation>This element contains the key value to maintain a zone</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="ZoneId">
           <xsd:annotation>
            <xsd:documentation>This element holed the value for the zone id being maintained. Maximum length 20 of type Alphanumeric</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:whiteSpace value="preserve" />
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="ZoneType">
        <xsd:annotation>
         <xsd:documentation>This element contains the zone type for the zone. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="ZoneCode">
        <xsd:annotation>
         <xsd:documentation>This element holds the zone code for the zone. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Description">
        <xsd:annotation>
         <xsd:documentation>This element holds the description held against a zone This element is mandatory.. Maximum length 50 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="WarehouseArea">
        <xsd:annotation>
         <xsd:documentation>This element holds the warehouse are held against the zone. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Warehouse">
        <xsd:annotation>
         <xsd:documentation>This element holds the warehouse against the zone. Maximum length 10 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="StorageSecurity">
        <xsd:annotation>
         <xsd:documentation>This element holds the storage security against the zone. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="StorageHazard">
        <xsd:annotation>
         <xsd:documentation>This element holds the hazard held against a zone. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="StorageCondition">
        <xsd:annotation>
         <xsd:documentation>This element holds the storage condition held against a zone. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="ProductClass">
        <xsd:annotation>
         <xsd:documentation>This element holds the product class held against a zone. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="StorageGroup">
        <xsd:annotation>
         <xsd:documentation>This element describes a storage group for this zone. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element default="1" name="ZonePriority">
        <xsd:annotation>
         <xsd:documentation>This element describes the zone priority. Valid value is between 1 and 10. Maximum length 6 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
          <xsd:enumeration value="1" />
          <xsd:enumeration value="10" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>