Schemas7/WMSSBZDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--This is the schema for WMS Bin Zone Setup Business Object-->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="SetupWmsBinZone">
  <xsd:annotation>
   <xsd:documentation>This is the root element</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Item">
     <xsd:annotation>
      <xsd:documentation>This is the top element fo all data required for the transaction.</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Key">
        <xsd:annotation>
         <xsd:documentation>This element contains the key fields for the bin zone</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="Bin">
           <xsd:annotation>
            <xsd:documentation>This element contains the bin for the bin zone. Must be a valid bin. Maximum length 20 of type Alphanumeric</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:whiteSpace value="preserve" />
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="Warehouse">
           <xsd:annotation>
            <xsd:documentation>This element contains the warehouse for the bin zone. Must be a valid warehouse. Maximum length 10 of type Alphanumeric</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:whiteSpace value="preserve" />
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ZoneId">
           <xsd:annotation>
            <xsd:documentation>This element contains the zone Id for the bin zone. Must be a valid zone Id. Maximum length 20 of type Alphanumeric</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:whiteSpace value="preserve" />
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="BinSeq">
        <xsd:annotation>
         <xsd:documentation>This element contains the bin sequence. Used for bin sequencing when zone sequencing does not exist. Maximum length 6 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="VelocityAbc">
        <xsd:annotation>
         <xsd:documentation>This element contains the Velocity ABC. Pick movement ABC class based on ergonomics. Used for put away or replenishment. Maximum length 10 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>