Schemas7/WMSSVWDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--This is the schema for WMS Warehouse Area Vehicle Setup Business Object-->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="SetupWmsWhAreaVehicle">
  <xsd:annotation>
   <xsd:documentation>This is the root element</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Item">
     <xsd:annotation>
      <xsd:documentation>This element contains the values required to maintain a warehouse area.</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Key">
        <xsd:annotation>
         <xsd:documentation>This element contains the key fields to maintain for a warehouse area.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="Warehouse">
           <xsd:annotation>
            <xsd:documentation>This element holds the warehouse for the warehouse area being maintained. Maximum length 10 of type Alphanumeric</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:whiteSpace value="preserve" />
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="WarehouseArea">
           <xsd:annotation>
            <xsd:documentation>This element holds the warehouse area for the warehouse area being maintained. Maximum length 20 of type Alphanumeric</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:whiteSpace value="preserve" />
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VehicleType">
           <xsd:annotation>
            <xsd:documentation>This element holds the vehicle type for the warehouse area being maintained. Maximum length 20 of type Alphanumeric</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:whiteSpace value="preserve" />
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="TechnologyCode">
        <xsd:annotation>
         <xsd:documentation>This element contains the technology code for this warehouse area.. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Num3">
        <xsd:annotation>
         <xsd:documentation>This element holds the maximum number of vehicles allowed for this warehouse area.. Maximum length 3 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>