Schemas7/WMSSCTDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--This is the schema for WMS Bin Container Type Setup Business Object-->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="SetupWmsBinType">
  <xsd:annotation>
   <xsd:documentation>This is the root element</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Item">
     <xsd:annotation>
      <xsd:documentation>This is the top element fo all data required for the transaction</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Key">
        <xsd:annotation>
         <xsd:documentation>This element contains the key field for a bin container type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="BinContainType">
           <xsd:annotation>
            <xsd:documentation>This element contains the key field for a bin container type. E.g. PALLET-EU, CASE, SHRINK, EA Maximum length 20 of type Alphanumeric</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:whiteSpace value="preserve" />
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="Description">
        <xsd:annotation>
         <xsd:documentation>This element contains the description against a bin container type This element is mandatory. Maximum length 50 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element default="N" name="IsCarrier">
        <xsd:annotation>
         <xsd:documentation>This element contains the value indicating it the bin container is a carrier type. Carrier types set to Y indicates that this container can be picked in to. Maximum length 1 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
          <xsd:enumeration value="Y" />
          <xsd:enumeration value="N" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="DimensionUnit">
        <xsd:annotation>
         <xsd:documentation>This element defines the unit of measurement for the length width and height values of the bin container type. This must be a valid dimension unit This element is mandatory. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="PhysicalLength">
        <xsd:annotation>
         <xsd:documentation>This element contains the container length (depth). The value is based on the DimensionUnit value Maximum length 6,6 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="PhysicalWidth">
        <xsd:annotation>
         <xsd:documentation>This element contains the container width. The value is based on the DimensionUnit value Maximum length 6,6 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="PhysicalHeight">
        <xsd:annotation>
         <xsd:documentation>This element contains the container height. The value is based on the DimensionUnit value Maximum length 6,6 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="MassUnit">
        <xsd:annotation>
         <xsd:documentation>This element defines the unit of measurement for the maximum mass value of the bin container type. This must be a valid dimension unit Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="MassMax">
        <xsd:annotation>
         <xsd:documentation>This element contains the maximum mass allowed for the bin container type. The value is based on the MassUnit value Maximum length 12,6 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="VolumeUnit">
        <xsd:annotation>
         <xsd:documentation>This element defines the unit of measurement for the maximum volumetric unit value of the bin container type. This must be a valid dimension unit Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="VolumeMax">
        <xsd:annotation>
         <xsd:documentation>This element contains the maximum volume allowed for the bin container type. The value is based on the VolumeUnit value Maximum length 12,6 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element default="N" name="SerialTrack">
        <xsd:annotation>
         <xsd:documentation>This element contains the value indicating if the bin container type is serialized. T - Tracked. Is bin serialized? Every interaction confirms the serial no. (E.g. PALLET), Y - Is serialized, N - No serial (E.g. PALLET, TOTE would be yes) Maximum length 1 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
          <xsd:enumeration value="T" />
          <xsd:enumeration value="Y" />
          <xsd:enumeration value="N" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element default="N" name="SerialIssue">
        <xsd:annotation>
         <xsd:documentation>This element contains the serial generation type flag. Mainly used during 'creation' of container instances. If 'no serial' response is received at an appropriate time, the system may choose to issue, and print a serial for the container. (E.g. PALLET number plates during receiving) G - Generated uses prefix etc. to generate and issue. F - Fixed source. Future dev. (E.g. File of serials) N - No issue. Serials are part of the container. Maximum length 1 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
          <xsd:enumeration value="G" />
          <xsd:enumeration value="F" />
          <xsd:enumeration value="N" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="SerialPrefix">
        <xsd:annotation>
         <xsd:documentation>This element contains the serial prefix value. This value prepend during generation Maximum length 35 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="LastSerialNumber">
        <xsd:annotation>
         <xsd:documentation>This element contains the last serial number used Maximum length 15 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="SerialSuffix">
        <xsd:annotation>
         <xsd:documentation>This element contains the serial suffix. To append during generation Maximum length 15 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="VolumeSelf">
        <xsd:annotation>
         <xsd:documentation>This element contains the physical volume of the container itself. The value is based on the VolumeUnit value. Maximum length 12,6 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="MassSelf">
        <xsd:annotation>
         <xsd:documentation>This element contains the physical mass of the container itself. The value is based on the MassUnit value. Maximum length 12,6 of type Numeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element default="N" name="UseOriginalFlag">
        <xsd:annotation>
         <xsd:documentation>This element contains the use original dimensions flag. N to use the original dimensions flag, Y to use the stock code and uom dimensions Maximum length 1 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
          <xsd:enumeration value="Y" />
          <xsd:enumeration value="N" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="UomCode">
        <xsd:annotation>
         <xsd:documentation>This element contains the unit of measurement for the stock code if UseOriginalFlag is set to Y. Must be a valid uom This element is optional. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>