Schemas7/WMSSVHDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--This is the schema for WMS Vehicle Setup Business Object-->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="SetupWmsVehicle">
  <xsd:annotation>
   <xsd:documentation>This is the root element</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Item">
     <xsd:annotation>
      <xsd:documentation>This element contains the values required to maintain a vehicle</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Key">
        <xsd:annotation>
         <xsd:documentation>This element contains the key to maintain a vehicle</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="Vehicle">
           <xsd:annotation>
            <xsd:documentation>This element contains the vehicle to be maintained. Maximum length 20 of type Alphanumeric</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:whiteSpace value="preserve" />
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="Description">
        <xsd:annotation>
         <xsd:documentation>This element contains the description held against a vehicle This element is mandatory.. Maximum length 50 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="VehicleType">
        <xsd:annotation>
         <xsd:documentation>This element contains the vehicle type held against a vehicle. This must be a valid vehicle type This element is mandatory.. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Barcode">
        <xsd:annotation>
         <xsd:documentation>This element contains a barcode for the vehicle. Maximum length 30 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Operator">
        <xsd:annotation>
         <xsd:documentation>This element contains the operator for a vehicle. This must be a valid operator. Maximum length 20 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element default="Y" name="IsActive">
        <xsd:annotation>
         <xsd:documentation>This element indicates if the vehicle is active. Y indicates Yes, N indicates No. This element defaults to Y. Maximum length 1 of type Alphanumeric</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
          <xsd:enumeration value="Y" />
          <xsd:enumeration value="N" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="DateAdded">
        <xsd:annotation>
         <xsd:documentation>This element contains the date that the vehicle was added. Can only be applied during add function. Maximum length 8 of type Date</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:whiteSpace value="preserve" />
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>