Schemas/ap_inv_registration.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the AP Invoice Registration Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AuthorizingPerson">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of authorizing persons to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Branch">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of branches to be returned. FilterType options - A(All), (S)Single,. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=ApBranch;A=All;S=Single"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Buyer">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of buyers to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Department">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of department to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Supplier" minOccurs="0"/>
				<xsd:element ref="Branch" minOccurs="0"/>
				<xsd:element ref="SupplierClass" minOccurs="0"/>
				<xsd:element ref="Buyer" minOccurs="0"/>
				<xsd:element ref="AuthorizingPerson" minOccurs="0"/>
				<xsd:element ref="Department" minOccurs="0"/>
				<xsd:element ref="Invoice" minOccurs="0"/>
				<xsd:element ref="FollowUpDate" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FollowUpDate">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of follow-op dates to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse={date};A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Invoice">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of invoices to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=ApInvoiceReg;browsefilter=Supplier;browsefilterbrowse=ApSupplier;A=All;R=Range;S=Single"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InvoiceStatus">
		<xsd:annotation>
			<xsd:documentation>Defines which invoice status will be returned. A - All invoices, M - Modified invoices, C - Cancelled invoices, P - Approved invoices or R - Returned invoices. If no value is supplied a default of 'A' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All invoices;M=Modified invoices;C=Cancelled invoices;P=Approved invoices;R=Returned invoices"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value="R"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NewPagePerSupplier">
		<xsd:annotation>
			<xsd:documentation>Indicates whether a new page per supplier should be returned. (Y - Yes and N - No). If no value is supplied then a default value of 'Y' will be used. </xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ReportSequence" minOccurs="0"/>
				<xsd:element ref="InvoiceStatus" minOccurs="0"/>
				<xsd:element ref="NewPagePerSupplier" minOccurs="0"/>
				<xsd:element ref="PrintRelatedPurchaseOrders" minOccurs="0"/>
				<xsd:element ref="PrintNotes" minOccurs="0"/>
				<xsd:element ref="ReturnNotesInBlock" minOccurs="0"/>
				<xsd:element ref="XslStylesheet" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PrintNotes">
		<xsd:annotation>
			<xsd:documentation>Defines whether supplier notes will be printed. (Y - Yes and N - No). If no value is supplied then a default value of 'N' will be used. </xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PrintRelatedPurchaseOrders">
		<xsd:annotation>
			<xsd:documentation>Defines whether related purchase orders will be printed. (Y - Yes and N - No). If no value is supplied then a default value of 'N' will be used. </xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
				<xsd:element ref="Filter"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReportSequence">
		<xsd:annotation>
			<xsd:documentation>Defines the sequence in which the report will be printed. ( S - Supplier, B - Buyer, A - Authorizing person. If no value is supplied a default of 'S' will be used. </xsd:documentation>
			<xsd:appinfo source="screenItem=Y;S=Supplier;B=Buyer;A=Authorizing person"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="B"/>
				<xsd:enumeration value="A"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Supplier">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of suppliers to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=ApSupplier;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SupplierClass">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of supplier classes to be returned. FilterType options - A(All), (S)Single. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReturnNotesInBlock">
		<xsd:annotation>
			<xsd:documentation>Indicates whether notes should be returned combined in a block. (N - No and Y - Yes). If no value is supplied then a default value of 'N' will be used. </xsd:documentation>
			<xsd:appinfo source="screenItem=N;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="XslStylesheet">
		<xsd:annotation>
			<xsd:documentation>The stylesheet to be applied.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
</xsd:schema>
