Schemas/APSQRY.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for Supplier Query Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="CashProjectionAtCurrentRate" default="N">
    <xsd:annotation>
      <xsd:documentation>Use current rate for cash projection ? (N - No, Y - Yes)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeCustomForms" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include fields from custom forms ? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeGoodsReceivedNotes" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include goods received notes ? (N - No, Y - Yes, M - Include matched goods received notes)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="M"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeInvoicePayments" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include invoice payments ? (N - No, Y - Yes)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeReceipts" default="Y">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include receipts ? (Y - Yes, N - No)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeRegisteredInvoices" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include registered invoices ? (N - No, Y - Yes)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeRetainedInvoices" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include retained invoices ? (N - No, Y - Yes)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeScrapReject" default="Y">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include scrap and reject ? (Y - Yes, N - No)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeUnapprovedInvInCashProj" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include unapproved invoices in the cash projection ? (N - No, Y - Yes)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>The key to use for this query.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Supplier"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MultiMediaImageType" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Image type to retrieve (for example: GIF, JPG, BMP)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:annotation>
      <xsd:documentation>The list of options</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="IncludeInvoices" minOccurs="0"/>
        <xsd:element ref="IncludeReceipts" minOccurs="0"/>
        <xsd:element ref="IncludeScrapReject" minOccurs="0"/>
        <xsd:element ref="IncludeUnapprovedInvInCashProj" minOccurs="0"/>
        <xsd:element ref="CashProjectionAtCurrentRate" minOccurs="0"/>
        <xsd:element ref="IncludeRetainedInvoices" minOccurs="0"/>
        <xsd:element ref="IncludeInvoicePayments" minOccurs="0"/>
        <xsd:element ref="IncludeRegisteredInvoices" minOccurs="0"/>
        <xsd:element ref="IncludeGoodsReceivedNotes" minOccurs="0"/>
        <xsd:element ref="IncludeCustomForms" minOccurs="0"/>
        <xsd:element ref="MultiMediaImageType" minOccurs="0"/>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>The root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Option" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Supplier">
    <xsd:annotation>
      <xsd:documentation>The supplier to use for the query</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="1"/>
        <xsd:maxLength value="7"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>The Stylesheet to be applied</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeInvoices" default="Y">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include invoices? (Y - Yes, N - No) If this option is set to N, then  element 'IncludeInvoicePayments' will be ignored, and there will be no Cash Projection.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
