Schemas/APSQ73.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the AP Purchase Analysis History Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Branch">
    <xsd:annotation>
      <xsd:documentation>All,  Single selection of branch to be returned. FilterType options - A(All), (S)Single. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=ApBranch;A=All;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Supplier" minOccurs="0"/>
        <xsd:element ref="Branch" minOccurs="0"/>
        <xsd:element ref="SupplierClass" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportSequence" minOccurs="0"/>
        <xsd:element ref="PrintIfHistoryZero" minOccurs="0"/>
        <xsd:element ref="TagFile" minOccurs="0"/>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PrintIfHistoryZero">
    <xsd:annotation>
      <xsd:documentation>Indicates whether you want to include suppliers that have no purchasing history.(Y - Yes and N - No). If no value is supplied then a default value of 'Y'  wil be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportSequence">
    <xsd:annotation>
      <xsd:documentation>Defines the sequence in which the report will be run. (S - Supplier, N -Short Name). If no value is supplied a default of 'S' will be used.  </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;S=Supplier;N=Shortname"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="S"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Supplier">
    <xsd:annotation>
      <xsd:documentation>All,  Single selection of suppliers to be returned. FilterType options - A(All), (R)Range,(S)Single. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=ApSupplier;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SupplierClass">
    <xsd:annotation>
      <xsd:documentation>All,  Single selection of supplier class to be returned. FilterType options - A(All), (S)Single. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=TblSupplierClass;A=All;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TagFile">
    <xsd:annotation>
      <xsd:documentation>This is the path for the file which must be used for the user defined entry. This will only be used if ReportSequnce has a value of 'U'.</xsd:documentation>
      <xsd:appinfo source="screenItem=N;"/>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>The style sheet to be applied</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
