Schemas/APSQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for Supplier Query Business Object Out
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ApQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Supplier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Supplier" type="xsd:string"/>
              <xsd:element name="SupplierName" type="xsd:string"/>
              <xsd:element name="EnquiryDate" type="xsd:string"/>
              <xsd:element name="SupplierType" type="xsd:string"/>
              <xsd:element name="Telephone" type="xsd:string"/>
              <xsd:element name="Fax" type="xsd:string"/>
              <xsd:element name="Contact" type="xsd:string"/>
              <xsd:element name="OnHold" type="xsd:string"/>
              <xsd:element name="DiscPct" type="xsd:string"/>
              <xsd:element name="TBLAPT_Description" type="xsd:string"/>
              <xsd:element name="Bank" type="xsd:string"/>
              <xsd:element name="APSBNK_Description" type="xsd:string"/>
              <xsd:element name="Currency" type="xsd:string"/>
              <xsd:element name="TBLCUR_Description" type="xsd:string"/>
              <xsd:element name="Branch" type="xsd:string"/>
              <xsd:element name="APSBRN_Description" type="xsd:string"/>
              <xsd:element name="SupplierClass" type="xsd:string"/>
              <xsd:element name="Area" type="xsd:string"/>
              <xsd:element name="InvDiscCode" type="xsd:string"/>
              <xsd:element name="LineDiscCode" type="xsd:string"/>
              <xsd:element name="Nationality" type="xsd:string"/>
              <xsd:element name="DefaultChequeDay" type="xsd:string"/>
              <xsd:element name="BankAccount" type="xsd:string"/>
              <xsd:element name="BankBranch" type="xsd:string"/>
              <xsd:element name="TaxRegnNum" type="xsd:string"/>
              <xsd:element name="SupAddr1" type="xsd:string"/>
              <xsd:element name="SupAddr2" type="xsd:string"/>
              <xsd:element name="SupAddr3" type="xsd:string"/>
              <xsd:element name="SupAddr4" type="xsd:string"/>
              <xsd:element name="SupAddr5" type="xsd:string"/>
              <xsd:element name="SupPostalCode" type="xsd:string"/>
              <xsd:element name="RemitName" type="xsd:string"/>
              <xsd:element name="RemitAddr1" type="xsd:string"/>
              <xsd:element name="RemitAddr2" type="xsd:string"/>
              <xsd:element name="RemitAddr3" type="xsd:string"/>
              <xsd:element name="RemitAddr4" type="xsd:string"/>
              <xsd:element name="RemitAddr5" type="xsd:string"/>
              <xsd:element name="RemitPostalCode" type="xsd:string"/>
              <xsd:element name="UserField1" type="xsd:string"/>
              <xsd:element name="UserField2" type="xsd:string"/>
              <xsd:element name="PurchOrdAllowed" type="xsd:string"/>
              <xsd:element name="Contracts" type="xsd:string"/>
              <xsd:element name="FirstPurchDate" type="xsd:string"/>
              <xsd:element name="LastPurchDate" type="xsd:string"/>
              <xsd:element name="MinPoVal" type="xsd:string"/>
              <xsd:element name="MinPoMass" type="xsd:string"/>
              <xsd:element name="MinPoVolume" type="xsd:string"/>
              <xsd:element name="PoDefaultDoc" type="xsd:string"/>
              <xsd:element name="MerchGlCode" type="xsd:string"/>
              <xsd:element name="FreightGlCode" type="xsd:string"/>
              <xsd:element name="Email" type="xsd:string"/>
              <xsd:element name="FaxContact" type="xsd:string"/>
              <xsd:element name="EdiFax" type="xsd:string"/>
              <xsd:element name="EdiTypeFlag" type="xsd:string"/>
              <xsd:element name="EdiReceiverCode" type="xsd:string"/>
              <xsd:element name="FaxRemitFlag" type="xsd:string"/>
              <xsd:element name="FaxRemitNum" type="xsd:string"/>
              <xsd:element name="FaxRemitContact" type="xsd:string"/>
              <xsd:element name="CurrentBalance" type="xsd:string"/>
              <xsd:element name="MtdMerchVal" type="xsd:string"/>
              <xsd:element name="MtdFreightVal" type="xsd:string"/>
              <xsd:element name="MtdOtherVal" type="xsd:string"/>
              <xsd:element name="MtdDsbVal" type="xsd:string"/>
              <xsd:element name="MtdTaxVal" type="xsd:string"/>
              <xsd:element name="MtdTax2Val" type="xsd:string"/>
              <xsd:element name="YtdMerchVal" type="xsd:string"/>
              <xsd:element name="YtdFreightVal" type="xsd:string"/>
              <xsd:element name="YtdOtherVal" type="xsd:string"/>
              <xsd:element name="YtdDsbVal" type="xsd:string"/>
              <xsd:element name="YtdTaxVal" type="xsd:string"/>
              <xsd:element name="YtdTax2Val" type="xsd:string"/>
              <xsd:element name="PyrMerchVal" type="xsd:string"/>
              <xsd:element name="PyrFreightVal" type="xsd:string"/>
              <xsd:element name="PyrOtherVal" type="xsd:string"/>
              <xsd:element name="PyrDsbVal" type="xsd:string"/>
              <xsd:element name="MonthlyPurchases">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PurchValMth1" type="xsd:string"/>
                    <xsd:element name="PurchValMth2" type="xsd:string"/>
                    <xsd:element name="PurchValMth3" type="xsd:string"/>
                    <xsd:element name="PurchValMth4" type="xsd:string"/>
                    <xsd:element name="PurchValMth5" type="xsd:string"/>
                    <xsd:element name="PurchValMth6" type="xsd:string"/>
                    <xsd:element name="PurchValMth7" type="xsd:string"/>
                    <xsd:element name="PurchValMth8" type="xsd:string"/>
                    <xsd:element name="PurchValMth9" type="xsd:string"/>
                    <xsd:element name="PurchValMth10" type="xsd:string"/>
                    <xsd:element name="PurchValMth11" type="xsd:string"/>
                    <xsd:element name="PurchValMth12" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="LastChequeDate" type="xsd:string"/>
              <xsd:element name="LastChequeVal" type="xsd:string"/>
              <xsd:element name="LastCheque" type="xsd:string"/>
              <xsd:element name="LastChequeBank" type="xsd:string"/>
              <xsd:element name="DateSuppAdded" type="xsd:string"/>
              <xsd:element name="ManagementNotes">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DateLastModified" type="xsd:string"/>
                    <xsd:element name="FollowUpDate" type="xsd:string"/>
                    <xsd:element name="IsFollowUpDateDue" type="xsd:string"/>
                    <xsd:element name="Text" type="xsd:string" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Image" type="xsd:string"/>
              <xsd:element name="CustomForm" type="xsd:string"/>
              <xsd:element name="Invoices">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="InvoiceDetail" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Invoice" type="xsd:string"/>
                          <xsd:element name="JournalDate" type="xsd:string"/>
                          <xsd:element name="Journal" type="xsd:string"/>
                          <xsd:element name="Branch" type="xsd:string"/>
                          <xsd:element name="InvoiceDate" type="xsd:string"/>
                          <xsd:element name="DiscountDate" type="xsd:string"/>
                          <xsd:element name="DueDate" type="xsd:string"/>
                          <xsd:element name="Reference" type="xsd:string"/>
                          <xsd:element name="OrigInvValue" type="xsd:string"/>
                          <xsd:element name="OrigDiscValue" type="xsd:string"/>
                          <xsd:element name="MthInvBal" type="xsd:string"/>
                          <xsd:element name="InvoiceStatus" type="xsd:string"/>
                          <xsd:element name="Currency" type="xsd:string"/>
                          <xsd:element name="Bank" type="xsd:string"/>
                          <xsd:element name="PaymGrossValue" type="xsd:string"/>
                          <xsd:element name="PaymDiscValue" type="xsd:string"/>
                          <xsd:element name="InvoiceYear" type="xsd:string"/>
                          <xsd:element name="InvoiceMonth" type="xsd:string"/>
                          <xsd:element name="ConvRate" type="xsd:string"/>
                          <xsd:element name="MulDiv" type="xsd:string"/>
                          <xsd:element name="EntryNumber" type="xsd:string"/>
                          <xsd:element name="BaseCurrencyValue" type="xsd:string"/>
                          <xsd:element name="ForeignToLocalConversion" type="xsd:string"/>
                          <xsd:element name="Payments" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="PaymentDetail">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="EntryNumber" type="xsd:string"/>
                                      <xsd:element name="JournalDate" type="xsd:string"/>
                                      <xsd:element name="Journal" type="xsd:string"/>
                                      <xsd:element name="PaymentReference" type="xsd:string"/>
                                      <xsd:element name="TrnValue" type="xsd:string"/>
                                      <xsd:element name="TrnType" type="xsd:string"/>
                                      <xsd:element name="PostValue" type="xsd:string"/>
                                      <xsd:element name="PostCurrency" type="xsd:string"/>
                                      <xsd:element name="PostConvRate" type="xsd:string"/>
                                      <xsd:element name="PostMulDiv" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="RegisteredInvoices">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RegisteredInvoiceDetail">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Invoice" type="xsd:string"/>
                          <xsd:element name="Branch" type="xsd:string"/>
                          <xsd:element name="EntryDate" type="xsd:string"/>
                          <xsd:element name="InvoiceDate" type="xsd:string"/>
                          <xsd:element name="DiscountDate" type="xsd:string"/>
                          <xsd:element name="DueDate" type="xsd:string"/>
                          <xsd:element name="Reference" type="xsd:string"/>
                          <xsd:element name="InvoiceValue" type="xsd:string"/>
                          <xsd:element name="DiscountValue" type="xsd:string"/>
                          <xsd:element name="DiscActiveFlag" type="xsd:string"/>
                          <xsd:element name="Currency" type="xsd:string"/>
                          <xsd:element name="ExchRateAtEntry" type="xsd:string"/>
                          <xsd:element name="MulDiv" type="xsd:string"/>
                          <xsd:element name="AuthorisingPerson" type="xsd:string"/>
                          <xsd:element name="Buyer" type="xsd:string"/>
                          <xsd:element name="DateInvoiceSent" type="xsd:string"/>
                          <xsd:element name="DateApprOrPurg" type="xsd:string"/>
                          <xsd:element name="FollowUpDate" type="xsd:string"/>
                          <xsd:element name="Department" type="xsd:string"/>
                          <xsd:element name="InvRegnStatus" type="xsd:string"/>
                          <xsd:element name="InvoiceModified" type="xsd:string"/>
                          <xsd:element name="DateLastModified" type="xsd:string"/>
                          <xsd:element name="Operator" type="xsd:string"/>
                          <xsd:element name="ReasonForChange" type="xsd:string"/>
                          <xsd:element name="InvAppliedToLct" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CashProjection">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PastDue">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Amount" type="xsd:string"/>
                          <xsd:element name="Discount" type="xsd:string"/>
                          <xsd:element name="NumberofInvoices" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Current">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Amount" type="xsd:string"/>
                          <xsd:element name="Discount" type="xsd:string"/>
                          <xsd:element name="NumberofInvoices" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Age1">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Amount" type="xsd:string"/>
                          <xsd:element name="Discount" type="xsd:string"/>
                          <xsd:element name="NumberofInvoices" type="xsd:string" maxOccurs="unbounded"/>
                          <xsd:element name="DaysFrom" type="xsd:string"/>
                          <xsd:element name="DaysTo" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Age2">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Amount" type="xsd:string"/>
                          <xsd:element name="Discount" type="xsd:string"/>
                          <xsd:element name="NumberofInvoices" type="xsd:string"/>
                          <xsd:element name="DaysFrom" type="xsd:string"/>
                          <xsd:element name="DaysTo" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="AgeOver">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Amount" type="xsd:string"/>
                          <xsd:element name="Discount" type="xsd:string"/>
                          <xsd:element name="NumberofInvoices" type="xsd:string"/>
                          <xsd:element name="DaysOver" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Totals">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Amount" type="xsd:string"/>
                          <xsd:element name="Discount" type="xsd:string"/>
                          <xsd:element name="NumberofInvoices" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Unapproved">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Amount" type="xsd:string"/>
                          <xsd:element name="Discount" type="xsd:string"/>
                          <xsd:element name="NumberofInvoices" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="GoodsReceivedNotes">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GRNDetail" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Grn" type="xsd:string"/>
                          <xsd:element name="GrnSource" type="xsd:string"/>
                          <xsd:element name="Journal" type="xsd:string"/>
                          <xsd:element name="JournalEntry" type="xsd:string"/>
                          <xsd:element name="OrigReceiptDate" type="xsd:string"/>
                          <xsd:element name="PurchaseOrder" type="xsd:string"/>
                          <xsd:element name="StockCode" type="xsd:string"/>
                          <xsd:element name="QtyReceived" type="xsd:string"/>
                          <xsd:element name="DeliveryNote" type="xsd:string"/>
                          <xsd:element name="CurGrnValue" type="xsd:string"/>
                          <xsd:element name="MatchedValue" type="xsd:string"/>
                          <xsd:element name="GrnMatchedFlag" type="xsd:string"/>
                          <xsd:element name="MVersion" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MRelease" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Receipts">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ReceiptDetail" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string"/>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="Warehouse" type="xsd:string"/>
                          <xsd:element name="PurchaseOrder" type="xsd:string"/>
                          <xsd:element name="PurchaseOrderLin" type="xsd:string"/>
                          <xsd:element name="QtyReceived" type="xsd:string"/>
                          <xsd:element name="PriceReceived" type="xsd:string"/>
                          <xsd:element name="OrigPurchPrcFor" type="xsd:string"/>
                          <xsd:element name="Currency" type="xsd:string"/>
                          <xsd:element name="Reference" type="xsd:string"/>
                          <xsd:element name="AddReference" type="xsd:string"/>
                          <xsd:element name="JnlDate" type="xsd:string"/>
                          <xsd:element name="PoDate" type="xsd:string"/>
                          <xsd:element name="LineDueDate" type="xsd:string"/>
                          <xsd:element name="DateReceived" type="xsd:string"/>
                          <xsd:element name="Journal" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ScrapAndReject">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ScrapAndRejectDetail" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string"/>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="ScrapRejectFlag" type="xsd:string"/>
                          <xsd:element name="Warehouse" type="xsd:string"/>
                          <xsd:element name="PurchaseOrder" type="xsd:string"/>
                          <xsd:element name="ScrapRejectQty" type="xsd:string"/>
                          <xsd:element name="DocumentNum" type="xsd:string"/>
                          <xsd:element name="PoDate" type="xsd:string"/>
                          <xsd:element name="RejectCode" type="xsd:string"/>
                          <xsd:element name="Grn" type="xsd:string"/>
                          <xsd:element name="OrigLineDueDate" type="xsd:string"/>
                          <xsd:element name="ScrapRejectDate" type="xsd:string"/>
                          <xsd:element name="Lot" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
