Schemas/ARSQPDOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the List of Post Dated Checks Business Object Out
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ARListofPostDatedChecks">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="Language" type="xsd:byte" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:boolean" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:byte" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:boolean" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="OperatorLocation" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="SalespersonFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonFilterValue" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterValue" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="PostDatedChequeDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PostDatedChequeDateFilterValue" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PostDatedbyMonth" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="MonthCheckDated" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PostDatedCheck" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Customer" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ARSMST_Name" minOccurs="0"/>
                    <xsd:element name="Cheque" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:short"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="AvailableDate" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Amount" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Branch" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:byte"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SALBRN_Description" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Class" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TBLARC_Description" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Area" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SALARE_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Salesperson" minOccurs="0"/>
                    <xsd:element name="SALSLS_Name" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TotalsbyMonthDue" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="MonthDueTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="MonthDue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MonthTotal" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:decimal"/>
                            </xsd:simpleType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ReportCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportCurrencyDesc" minOccurs="0"/>
              <xsd:element name="TotalPostDatedCh" type="xsd:byte" minOccurs="0"/>
              <xsd:element name="Total" type="xsd:decimal" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
