Schemas/ARSQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Customer Query Business Object Out
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ARStatement">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
							<xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Header" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompAddress1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompAddress2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompAddress3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompTaxNo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompRegNo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SoldToAddr1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SoldToAddr2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SoldToAddr3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SoldToAddr4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SoldToAddr5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SoldPostalCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SALSLS_Name" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StatementDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TermsCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TBLART_Description" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TBLCUR_Description" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Contact" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CreditLimit" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CreditCheckFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShortName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MasterAccount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StoreNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CreditStatus" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvoiceCount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerClass" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvDiscCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LineDiscCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BalanceType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Area" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxStatus" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SpecialInstrs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateLastSale" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateLastPay" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OutstOrdVal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NumOutstOrd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AddTelephone" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Telex" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TelephoneExtn" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UserField1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UserField2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GstExemptFlag" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GstExemptNum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ContractPrcReqd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BackOrdReqd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShippingInstrs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StateCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateCustAdded" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
							<xsd:element name="HighestBalance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerOnHold" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EdiSenderCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Email" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DocFax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DocFaxContact" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShipToAddr1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShipToAddr2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShipToAddr3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShipToAddr4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShipToAddr5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ShipPostalCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TaxExemptNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SALBRN_Description" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchAddr1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchAddr2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchAddr3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerNotes" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DateLastModified" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ManagementNotes" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DateLastModified" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FollowUpDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="IsFollowUpDateDue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AdditionalNotes" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Image" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomForm" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Field" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Sequence" minOccurs="0"/>
													<xsd:element name="Name" minOccurs="0"/>
													<xsd:element name="Prompt" minOccurs="0"/>
													<xsd:element name="Type" minOccurs="0"/>
													<xsd:element name="Length" minOccurs="0"/>
													<xsd:element name="Decimals" minOccurs="0"/>
													<xsd:element name="Default" minOccurs="0"/>
													<xsd:element name="AllowNull" minOccurs="0"/>
													<xsd:element name="Value" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="InvoiceDetail" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerPoNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrencyValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TBLART_Description" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvoiceBal" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
							<xsd:element name="LastDelNote" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProofOfDelivery" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PodReference" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PodEntryDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BaseCurrencyValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConvRate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MulDiv" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForeignToLocalConversion" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TransDetail" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TrnValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="JournalDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DiscValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BaseCurrencyValue" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ConvRate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MulDiv" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ForeignToLocalConversion" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PayDetail" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ChequeReference" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PayDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PayValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PaymYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PaymMonth" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PostDated" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Cheque" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AvailableDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TotalSection" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BalBroughtFwd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrentBalance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValueFutureInv" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Current" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days30" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days60" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days90" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days120" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days150" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days180" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DiscountAvailable" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CreditBalance" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UnallocatedPDChqs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UnavailablePDChqs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrentLessPDChqs" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CurrentMsg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days30Msg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days60Msg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days90Msg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days120Msg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days150Msg" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Days180Msg" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
