Schemas/ARSQIPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the AR Stock Codes Purchased Query Business Object Out
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ItemsPurchasedQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Customer" type="xsd:string"/>
        <xsd:element name="Name" type="xsd:string"/>
        <xsd:element name="Branch" type="xsd:string"/>
        <xsd:element name="Currency" type="xsd:string"/>
        <xsd:element name="PurchasedItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="LongDesc" type="xsd:string"/>
              <xsd:element name="PartCategory" type="xsd:string"/>
              <xsd:element name="StockUom" type="xsd:string"/>
              <xsd:element name="AlternateUom" type="xsd:string"/>
              <xsd:element name="OtherUom" type="xsd:string"/>
              <xsd:element name="Supplier" type="xsd:string"/>
              <xsd:element name="ProductClass" type="xsd:string"/>
              <xsd:element name="QtyPurch1" type="xsd:string"/>
              <xsd:element name="LastPricePaid1" type="xsd:string"/>
              <xsd:element name="PriceUom1" type="xsd:string"/>
              <xsd:element name="Invoice1" type="xsd:string"/>
              <xsd:element name="InvoiceDate1" type="xsd:string"/>
              <xsd:element name="FirstDiscPct1" type="xsd:string"/>
              <xsd:element name="SecondDisc1" type="xsd:string"/>
              <xsd:element name="ThirdDisc1" type="xsd:string"/>
              <xsd:element name="UnitDiscFlag1" type="xsd:string"/>
              <xsd:element name="UnitDiscValue1" type="xsd:string"/>
              <xsd:element name="QtyPurch2" type="xsd:string"/>
              <xsd:element name="LastPricePaid2" type="xsd:string"/>
              <xsd:element name="PriceUom2" type="xsd:string"/>
              <xsd:element name="Invoice2" type="xsd:string"/>
              <xsd:element name="InvoiceDate2" type="xsd:string"/>
              <xsd:element name="FirstDiscPct2" type="xsd:string"/>
              <xsd:element name="SecondDisc2" type="xsd:string"/>
              <xsd:element name="ThirdDisc2" type="xsd:string"/>
              <xsd:element name="UnitDiscFlag2" type="xsd:string"/>
              <xsd:element name="UnitDiscValue2" type="xsd:string"/>
              <xsd:element name="CurrentPrice" type="xsd:string"/>
              <xsd:element name="CurrentPriceUM" type="xsd:string"/>
              <xsd:element name="CurrentLineValue" type="xsd:string"/>
              <xsd:element name="DiscountValueFlag" type="xsd:string"/>
              <xsd:element name="DiscountValue" type="xsd:string"/>
              <xsd:element name="DiscountPct1" type="xsd:string"/>
              <xsd:element name="DiscountPct2" type="xsd:string"/>
              <xsd:element name="DiscountPct3" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
