Schemas/asset_full_enquiry_listing.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema List for the Asset Full Enquiry Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AgreementSelection">
    <xsd:annotation>
      <xsd:documentation>Defines whether to print Cash, Lease, HP, Other or all Agreement types. (A - All, C - Cash, H - HP, L - Lease, O - Other)  If no value is passed, a value of "A" will be assumed.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;C=Cash;L=Lease;H=HP;O=Other"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="C"/>
        <xsd:enumeration value="L"/>
        <xsd:enumeration value="H"/>
        <xsd:enumeration value="O"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AssetCostCenterSelection">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of asset cost centers to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=AssetCostCenter;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AssetGroupSelection">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of asset groups to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=AssetGroup;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AssetSelection">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of assets to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=AssetMaster;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AssetTypeSelection">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of asset types to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=AssetType;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BranchSelection">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of asset branches to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=AssetBranch;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DateSelection">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of transaction dates to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse={date}; A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EntriesPeriodSelection">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of entries asset periods to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;S=Single; R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EntriesYearSelection">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of asset years to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LocationSelection">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of asset locations to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=AssetLocation;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="AssetBook" minOccurs="0"/>
        <xsd:element ref="PurchaseOption" minOccurs="0"/>
        <xsd:element ref="AgreementSelection" minOccurs="0"/>
        <xsd:element ref="PrintTransactions" minOccurs="0"/>
        <xsd:element ref="TransactionType" minOccurs="0"/>
        <xsd:element ref="DeselectAllEntries" minOccurs="0"/>
        <xsd:element ref="PrintEntriesDepreciation" minOccurs="0"/>
        <xsd:element ref="PrintEntriesDepreciationAdj" minOccurs="0"/>
        <xsd:element ref="PrintEntriesDepreciationCatchup" minOccurs="0"/>
        <xsd:element ref="PrintEntriesAssetAdjustment" minOccurs="0"/>
        <xsd:element ref="PrintEntriesRevaluations" minOccurs="0"/>
        <xsd:element ref="PrintEntriesRevaluationDepreciation" minOccurs="0"/>
        <xsd:element ref="PrintEntriesInterCoTransfer" minOccurs="0"/>
        <xsd:element ref="PrintEntriesInitialAddition" minOccurs="0"/>
        <xsd:element ref="PrintEntriesExistingAddition" minOccurs="0"/>
        <xsd:element ref="PrintEntriesFinalDisposal" minOccurs="0"/>
        <xsd:element ref="PrintEntriesPartialDisposal" minOccurs="0"/>
        <xsd:element ref="PrintEntriesAssetCountAdj" minOccurs="0"/>
        <xsd:element ref="PrintEntriesAssetSplit" minOccurs="0"/>
        <xsd:element ref="PrintEntriesChange" minOccurs="0"/>
        <xsd:element ref="PrintEntriesDepreciationDisposal" minOccurs="0"/>
        <xsd:element ref="PrintEntriesDepreciationPartialDisposal" minOccurs="0"/>
        <xsd:element ref="PrintEntriesInterCoIn" minOccurs="0"/>
        <xsd:element ref="PrintEntriesInterCoOut" minOccurs="0"/>
        <xsd:element ref="PrintEntriesTransfers" minOccurs="0"/>
        <xsd:element ref="PrintEntriesDeletion" minOccurs="0"/>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OtherOptions">
    <xsd:annotation>
      <xsd:documentation>This option indicates whether to print other options.The valid value is Y-Yes and the default is N - No.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesAssetAdjustment">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesAssetCountAdj">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesAssetSplit">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesChange">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesDepreciation">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesDepreciationAdj">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesDepreciationCatchup">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesExistingAddition">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesFinalDisposal">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesInitialAddition">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesInterCoTransfer">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesPartialDisposal">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesRevaluationDepreciation">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesRevaluations">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="AssetSelection" minOccurs="0"/>
        <xsd:element ref="AssetGroupSelection" minOccurs="0"/>
        <xsd:element ref="LocationSelection" minOccurs="0"/>
        <xsd:element ref="AssetTypeSelection" minOccurs="0"/>
        <xsd:element ref="BranchSelection" minOccurs="0"/>
        <xsd:element ref="AssetCostCenterSelection" minOccurs="0"/>
        <xsd:element ref="DateSelection" minOccurs="0"/>
        <xsd:element ref="EntriesYearSelection" minOccurs="0"/>
        <xsd:element ref="EntriesPeriodSelection" minOccurs="0"/>
        <xsd:element ref="AlternateCodeSelection" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PrintTransactions">
    <xsd:annotation>
      <xsd:documentation>This Option is used to indicate whether to print all transaction types. The default is Y - Yes and the other valid value is N - No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PurchaseOption">
    <xsd:annotation>
      <xsd:documentation>Defines whether to print new, second-hand or all purchase options. (A - All, N - New, S - Second-hand)  If no value is passed, a value of "A" will be assumed.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;N=New;S=Secondhand"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option" minOccurs="0"/>
        <xsd:element ref="Filter" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TransactionType">
    <xsd:annotation>
      <xsd:documentation>Defines whether to print Labor, Revenue, Purchase or all Agreement types. (A - All, C - Cash, H - HP, L - Lease, O - Other)  If no value is passed, a value of "A" will be assumed.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;L=Labor;R=Revenue;P=Purchases"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="P"/>
        <xsd:enumeration value="L"/>
        <xsd:enumeration value="R"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>This is the style sheet to be applied.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="PrintEntriesDepreciationDisposal">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesDepreciationPartialDisposal">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesInterCoIn">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesInterCoOut">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesTransfers">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DeselectAllEntries">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to deselect all aseet entries. The default N-No and the other valid value is  is Y-Yes.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintEntriesDeletion">
    <xsd:annotation>
      <xsd:documentation>This option is used to indicate whether to print the asset entry selection type. The default is Y -  Yes and the other valid value is N -No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AssetBook">
    <xsd:annotation>
      <xsd:documentation>This sequence is used to indicate the Asset Book selection type. The default is BV (ASSEBV - AssetEntriesBv) and the other valid options are TX (ASSETX - AssetEntriesTax) and AL (ASSEAL - AssetEntriesAlt).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;BV=Book value;TX=Tax;AL=Alternate valuation"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="BV"/>
        <xsd:enumeration value="TX"/>
        <xsd:enumeration value="AL"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AlternateCodeSelection">
    <xsd:annotation>
      <xsd:documentation>This sequence is used to indicate the alternate code selection for asset book AL. The default is  A and the other valid values is R and S.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;S=Single; R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
