Schemas/asset_full_enquiry_list_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Full Enquiry Business Object Out
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AssetFullEnquiryListing">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:double"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PurchaseOption" type="xsd:string"/>
              <xsd:element name="AgreementType" type="xsd:string"/>
              <xsd:element name="PrintTransactions" type="xsd:string"/>
              <xsd:element name="TransactionType" type="xsd:string"/>
              <xsd:element name="PrintEntries" type="xsd:string"/>
              <xsd:element name="PrintEntriesDepreciation" type="xsd:string"/>
              <xsd:element name="PrintEntriesDepnAdjustments" type="xsd:string"/>
              <xsd:element name="PrintEntriesRevaluations" type="xsd:string"/>
              <xsd:element name="PrintEntriesTransfers" type="xsd:string"/>
              <xsd:element name="PrintEntriesAdditions" type="xsd:string"/>
              <xsd:element name="PrintEntriesDisposals" type="xsd:string"/>
              <xsd:element name="PrintEntriesChanges" type="xsd:string"/>
              <xsd:element name="AssetFilterType" type="xsd:string"/>
              <xsd:element name="AssetFilterValue" type="xsd:string"/>
              <xsd:element name="BranchFilterType" type="xsd:string"/>
              <xsd:element name="BranchFilterValue" type="xsd:string"/>
              <xsd:element name="AssetGroupCodeFilterType" type="xsd:string"/>
              <xsd:element name="AssetGroupCodeFilterValue" type="xsd:string"/>
              <xsd:element name="LocationFilterType" type="xsd:string"/>
              <xsd:element name="LocationFilterValue" type="xsd:string"/>
              <xsd:element name="AssetCostCenterFilterType" type="xsd:string"/>
              <xsd:element name="AssetCostCenterFilterValue" type="xsd:string"/>
              <xsd:element name="AssetTypeFilterType" type="xsd:string"/>
              <xsd:element name="AssetTypeFilterValue" type="xsd:string"/>
              <xsd:element name="TransactionDateFilterType" type="xsd:string"/>
              <xsd:element name="TransactionDateFilterValue" type="xsd:string"/>
              <xsd:element name="EntriesYearFilterType" type="xsd:string"/>
              <xsd:element name="EntriesYearFilterValue" type="xsd:string"/>
              <xsd:element name="EntriesPeriodFilterType" type="xsd:string"/>
              <xsd:element name="EntriesPeriodFilterValue" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="AssetItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AssetItem">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="AssetDetail">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Asset" type="xsd:string"/>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="Location" type="xsd:string"/>
                          <xsd:element name="ASSLOC_Description" type="xsd:string"/>
                          <xsd:element name="AssetType" type="xsd:string"/>
                          <xsd:element name="ASSTYP_Description" type="xsd:string"/>
                          <xsd:element name="RegistrationNum" type="xsd:string"/>
                          <xsd:element name="ChassisNum" type="xsd:string"/>
                          <xsd:element name="Engine" type="xsd:string"/>
                          <xsd:element name="AgreementNum" type="xsd:string"/>
                          <xsd:element name="PurchaseDate" type="xsd:string"/>
                          <xsd:element name="FirstInstalDate" type="xsd:string"/>
                          <xsd:element name="Branch" type="xsd:byte"/>
                          <xsd:element name="ASSBRN_Description" type="xsd:string"/>
                          <xsd:element name="GlCode" type="xsd:string"/>
                          <xsd:element name="AssetGroupCode" type="xsd:string"/>
                          <xsd:element name="ASSGRP_Description" type="xsd:string"/>
                          <xsd:element name="AgreementCode" type="xsd:string"/>
                          <xsd:element name="NewOldFlag" type="xsd:string"/>
                          <xsd:element name="LeasePeriod" type="xsd:string"/>
                          <xsd:element name="Price" type="xsd:double"/>
                          <xsd:element name="TotalInterest" type="xsd:double"/>
                          <xsd:element name="MonthlyInstal" type="xsd:double"/>
                          <xsd:element name="StartDepnPeriod" type="xsd:string"/>
                          <xsd:element name="InvestAllowPct" type="xsd:double"/>
                          <xsd:element name="MtdPurchases" type="xsd:double"/>
                          <xsd:element name="MtdLabour" type="xsd:double"/>
                          <xsd:element name="MtdRevenue" type="xsd:double"/>
                          <xsd:element name="YtdPurchases" type="xsd:double"/>
                          <xsd:element name="YtdLabour" type="xsd:double"/>
                          <xsd:element name="YtdRevenue" type="xsd:double"/>
                          <xsd:element name="BookDepnPrevYr" type="xsd:double"/>
                          <xsd:element name="YtdInterestPaid" type="xsd:double"/>
                          <xsd:element name="YtdIntallments" type="xsd:double"/>
                          <xsd:element name="AccumPurchases" type="xsd:double"/>
                          <xsd:element name="AccumLabour" type="xsd:double"/>
                          <xsd:element name="AccumRevenue" type="xsd:double"/>
                          <xsd:element name="AccumBookvalDepn" type="xsd:double"/>
                          <xsd:element name="AccumInterest" type="xsd:double"/>
                          <xsd:element name="AccumIntallments" type="xsd:double"/>
                          <xsd:element name="CapitalOutst" type="xsd:double"/>
                          <xsd:element name="InterestOutst" type="xsd:double"/>
                          <xsd:element name="CurBookValue" type="xsd:double"/>
                          <xsd:element name="DepositValue" type="xsd:double"/>
                          <xsd:element name="TaxPaid" type="xsd:double"/>
                          <xsd:element name="InitialAllowVal" type="xsd:double"/>
                          <xsd:element name="InvestAllowVal" type="xsd:double"/>
                          <xsd:element name="FinalInstallment" type="xsd:double"/>
                          <xsd:element name="TaxDepnPrevYr" type="xsd:double"/>
                          <xsd:element name="AccumDepnTax" type="xsd:double"/>
                          <xsd:element name="CurTaxValue" type="xsd:double"/>
                          <xsd:element name="BookValDep" type="xsd:double"/>
                          <xsd:element name="ASSDEP_Description" type="xsd:string"/>
                          <xsd:element name="WearTearDep" type="xsd:double"/>
                          <xsd:element name="StartDep" type="xsd:string"/>
                          <xsd:element name="MasterSub" type="xsd:string"/>
                          <xsd:element name="MasterAsset" type="xsd:string"/>
                          <xsd:element name="BookValDepDate" type="xsd:string"/>
                          <xsd:element name="WearDepStDate" type="xsd:string"/>
                          <xsd:element name="BookValResidual" type="xsd:double"/>
                          <xsd:element name="WearTearResidual" type="xsd:double"/>
                          <xsd:element name="AssetId" type="xsd:string"/>
                          <xsd:element name="AssetCostCenter" type="xsd:string"/>
                          <xsd:element name="ASSCCE_Description" type="xsd:string"/>
                          <xsd:element name="CapexCode" type="xsd:string"/>
                          <xsd:element name="CapexLine" type="xsd:string"/>
                          <xsd:element name="CycleCount" type="xsd:string"/>
                          <xsd:element name="RespUser" type="xsd:string"/>
                          <xsd:element name="AssetOwner" type="xsd:string"/>
                          <xsd:element name="ASSOWN_Description" type="xsd:string"/>
                          <xsd:element name="DepnPrevYrAlt1" type="xsd:double"/>
                          <xsd:element name="AccumDepnAlt1" type="xsd:double"/>
                          <xsd:element name="AssetValueAlt1" type="xsd:double"/>
                          <xsd:element name="NewValueAlt1" type="xsd:double"/>
                          <xsd:element name="BookValCodeAlt1" type="xsd:string"/>
                          <xsd:element name="DepnPrevYrAlt2" type="xsd:double"/>
                          <xsd:element name="AccumDepnAlt2" type="xsd:double"/>
                          <xsd:element name="AssetValueAlt2" type="xsd:double"/>
                          <xsd:element name="NewValueAlt2" type="xsd:double"/>
                          <xsd:element name="BookValCodeAlt2" type="xsd:string"/>
                          <xsd:element name="DepnPrevYrAlt3" type="xsd:double"/>
                          <xsd:element name="AccumDepnAlt3" type="xsd:double"/>
                          <xsd:element name="AssetValueAlt3" type="xsd:double"/>
                          <xsd:element name="NewValueAlt3" type="xsd:double"/>
                          <xsd:element name="BookValCodeAlt3" type="xsd:string"/>
                          <xsd:element name="Suspend" type="xsd:double"/>
                          <xsd:element name="CapitalGainsTaxVal" type="xsd:double"/>
                          <xsd:element name="OriginalAssetQty" type="xsd:double"/>
                          <xsd:element name="AssetQty" type="xsd:double"/>
                          <xsd:element name="BookDepnYtd" type="xsd:double"/>
                          <xsd:element name="TaxDepnYtd" type="xsd:double"/>
                          <xsd:element name="AssetStatus" type="xsd:string"/>
                          <xsd:element name="RevalReason" type="xsd:string"/>
                          <xsd:element name="OriginalAssetValue" type="xsd:double"/>
                          <xsd:element name="Supplier" type="xsd:string"/>
                          <xsd:element name="OrigStartDepnDate" type="xsd:string"/>
                          <xsd:element name="RevalReserveToDate" type="xsd:double"/>
                          <xsd:element name="StatGlCode" type="xsd:string"/>
                          <xsd:element name="ThruputAnnum" type="xsd:double"/>
                          <xsd:element name="TotalPeriods" type="xsd:double"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="AssetTransactionItems">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="AssetTransactionItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="AssetTransAsset" type="xsd:string"/>
                                <xsd:element name="AssetTransEntryType" type="xsd:string"/>
                                <xsd:element name="AssetTransLine" type="xsd:string"/>
                                <xsd:element name="AssetTransJournal" type="xsd:string"/>
                                <xsd:element name="AssetTransEntryDate" type="xsd:string"/>
                                <xsd:element name="AssetTransInvoice" type="xsd:string"/>
                                <xsd:element name="AssetTransInvoiceAmount" type="xsd:double"/>
                                <xsd:element name="AssetTransSupplier" type="xsd:string"/>
                                <xsd:element name="AssetTransExpense" type="xsd:double"/>
                                <xsd:element name="AssetTransReference" type="xsd:string"/>
                                <xsd:element name="AssetTransBranch" type="xsd:byte"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="AssetEntryItems">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="AssetEntryItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="AssetEntryAsset" type="xsd:string"/>
                                <xsd:element name="AssetEntryYear" type="xsd:string"/>
                                <xsd:element name="AssetEntryMonth" type="xsd:string"/>
                                <xsd:element name="AssetEntryEntryType" type="xsd:string"/>
                                <xsd:element name="AssetEntryValue" type="xsd:double"/>
                                <xsd:element name="AssetEntryEntryDate" type="xsd:string"/>
                                <xsd:element name="AssetEntryAssetValue" type="xsd:double"/>
                                <xsd:element name="AssetEntryDepnYtd" type="xsd:double"/>
                                <xsd:element name="AssetEntryDepnPrevYr" type="xsd:double"/>
                                <xsd:element name="AssetEntryAccumDepnBalFwd" type="xsd:double"/>
                                <xsd:element name="AssetEntryResidualValue" type="xsd:double"/>
                                <xsd:element name="AssetEntryOriginalValue" type="xsd:double"/>
                                <xsd:element name="AssetEntryBookValueDepn" type="xsd:double"/>
                                <xsd:element name="AssetEntryReason" type="xsd:string"/>
                                <xsd:element name="AssetEntryAssetStatus" type="xsd:string"/>
                                <xsd:element name="AssetEntryBranch" type="xsd:string"/>
                                <xsd:element name="AssetEntryLocation" type="xsd:string"/>
                                <xsd:element name="AssetEntryAssetGroupCode" type="xsd:string"/>
                                <xsd:element name="AssetEntryCostCenter" type="xsd:string"/>
                                <xsd:element name="AssetEntryBranchAfter" type="xsd:byte"/>
                                <xsd:element name="AssetEntryGroupAfter" type="xsd:string"/>
                                <xsd:element name="AssetEntryCostCenterAfter" type="xsd:string"/>
                                <xsd:element name="AssetEntryAssetQty" type="xsd:double"/>
                                <xsd:element name="AssetEntryAssetQtyBefore" type="xsd:double"/>
                                <xsd:element name="AssetEntryGlCode" type="xsd:string"/>
                                <xsd:element name="AssetEntryOperator" type="xsd:string"/>
                                <xsd:element name="AssetEntryReference" type="xsd:string"/>
                                <xsd:element name="AssetEntryNarrative" type="xsd:string"/>
                                <xsd:element name="AssetEntryDepnBaseDate" type="xsd:string"/>
                                <xsd:element name="AssetEntryRevalReserve" type="xsd:double"/>
                                <xsd:element name="AssetEntryThruputAnnum" type="xsd:double"/>
                                <xsd:element name="AssetEntryRevalReserveToDate" type="xsd:double"/>
                                <xsd:element name="AssetEntryStatGlCode" type="xsd:string"/>
                                <xsd:element name="AssetEntryDistReg " type="xsd:string"/>
                                <xsd:element name="AssetEntryTotalPeriods" type="xsd:double"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
