Schemas/ASSQCSOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Capex Management Summary Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CapexManagementSummaryReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string"/>
              <xsd:element name="IncludeClosed" type="xsd:string"/>
              <xsd:element name="IncludeDenied" type="xsd:string"/>
              <xsd:element name="CapexItemFilterType" type="xsd:string"/>
              <xsd:element name="CapexItemFilterValue" type="xsd:string"/>
              <xsd:element name="BranchFilterType" type="xsd:string"/>
              <xsd:element name="BranchFilterValue" type="xsd:string"/>
              <xsd:element name="AssetGroupCodeFilterType" type="xsd:string"/>
              <xsd:element name="AssetGroupCodeFilterValue" type="xsd:string"/>
              <xsd:element name="AssetCostCenterFilterType" type="xsd:string"/>
              <xsd:element name="AssetCostCenterFilterValue" type="xsd:string"/>
              <xsd:element name="CapexClassFilterType" type="xsd:string"/>
              <xsd:element name="CapexClassFilterValue" type="xsd:string"/>
              <xsd:element name="YearFilterType" type="xsd:string"/>
              <xsd:element name="YearFilterValue" type="xsd:string"/>
              <xsd:element name="PeriodFilterType" type="xsd:string"/>
              <xsd:element name="PeriodFilterValue" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CapexItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CapexItem" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CapexCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapexRef" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ASSBRN_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetCostCenter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ASSCCE_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AssetGroupCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ASSGRP_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CapexClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ASSCLS_Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ApprovalStatus" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ValueBudgeted" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ValueNotAuth" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ValueAuthUncomm" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ValueCommitted" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ValueSpent" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ValueAvailable" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorApproved" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateApproved" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StartPeriod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EndPeriod" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BranchTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BranchTotalsBranch" type="xsd:string"/>
              <xsd:element name="BranchTotalsBudget" type="xsd:double"/>
              <xsd:element name="BranchTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="BranchTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="BranchTotalsComm" type="xsd:double"/>
              <xsd:element name="BranchTotalsSpent" type="xsd:double"/>
              <xsd:element name="BranchTotalsTotal" type="xsd:double"/>
              <xsd:element name="BranchTotalsAvailable" type="xsd:time"/>
              <xsd:element name="BranchTotalsCount" type="xsd:unsignedInt"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BranchCcTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BranchCcTotalsBranch" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsCc" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsBudget" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsComm" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsSpent" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsTotal" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsAvailable" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsCount" type="xsd:double"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GroupTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GroupTotalsGroup" type="xsd:string"/>
              <xsd:element name="GroupTotalsBudget" type="xsd:double"/>
              <xsd:element name="GroupTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="GroupTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="GroupTotalsComm" type="xsd:double"/>
              <xsd:element name="GroupTotalsSpent" type="xsd:double"/>
              <xsd:element name="GroupTotalsTotal" type="xsd:double"/>
              <xsd:element name="GroupTotalsAvailable" type="xsd:double"/>
              <xsd:element name="GroupTotalsCount" type="xsd:double"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ClassificationTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ClassificationTotalsClass" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsBudget" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsComm" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsSpent" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsTotal" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsAvailable" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsCount" type="xsd:double"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyTotalsBudget" type="xsd:double"/>
              <xsd:element name="CompanyTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="CompanyTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="CompanyTotalsComm" type="xsd:double"/>
              <xsd:element name="CompanyTotalsSpent" type="xsd:double"/>
              <xsd:element name="BranchTotalsTotal" type="xsd:double"/>
              <xsd:element name="CompanyTotalsAvailable" type="xsd:double"/>
              <xsd:element name="CompanyTotalsCount" type="xsd:double"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_Cost_Center" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_All" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Single" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Range" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Branch_" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Group_" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Capex_Class_" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Yes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_No" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Capex_Item" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Capex_Branch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Asset_Group" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Asset_Branch_Cost_Centre" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Asset_Class" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Class_Classification" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Unapproved" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Approved" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Denied" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Closed" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
