Schemas/ASSQSTOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Capex Status Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CapexStatusReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string"/>
              <xsd:element name="UseItemFields" type="xsd:string"/>
              <xsd:element name="IncludeNoLines" type="xsd:string"/>
              <xsd:element name="IncludeClosed" type="xsd:string"/>
              <xsd:element name="IncludeDenied" type="xsd:string"/>
              <xsd:element name="PrintLines" type="xsd:string"/>
              <xsd:element name="IncludePos" type="xsd:string"/>
              <xsd:element name="IncludeReqs" type="xsd:string"/>
              <xsd:element name="IncludeJobs" type="xsd:string"/>
              <xsd:element name="CapexItemFilterType" type="xsd:string"/>
              <xsd:element name="CapexItemFilterValue" type="xsd:string"/>
              <xsd:element name="CapexLineFilterType" type="xsd:string"/>
              <xsd:element name="CapexLineFilterValue" type="xsd:string"/>
              <xsd:element name="BranchFilterType" type="xsd:string"/>
              <xsd:element name="BranchFilterValue" type="xsd:string"/>
              <xsd:element name="AssetGroupCodeFilterType" type="xsd:string"/>
              <xsd:element name="AssetGroupCodeFilterValue"/>
              <xsd:element name="AssetCostCenterFilterType" type="xsd:string"/>
              <xsd:element name="AssetCostCenterFilterValue"/>
              <xsd:element name="CapexClassFilterType" type="xsd:string"/>
              <xsd:element name="CapexClassFilterValue"/>
              <xsd:element name="CapexTypeFilterType" type="xsd:string"/>
              <xsd:element name="CapexTypeFilterValue"/>
              <xsd:element name="AssetCodeFilterType" type="xsd:string"/>
              <xsd:element name="AssetCodeFilterValue"/>
              <xsd:element name="YearFilterType" type="xsd:string"/>
              <xsd:element name="YearFilterValue"/>
              <xsd:element name="PeriodFilterType" type="xsd:string"/>
              <xsd:element name="PeriodFilterValue"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CapexItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CapexItem">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CapexHeader">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CapexCode" type="xsd:string"/>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="CapexRef" type="xsd:string"/>
                          <xsd:element name="Branch" type="xsd:string"/>
                          <xsd:element name="ASSBRN_Description" type="xsd:string"/>
                          <xsd:element name="AssetCostCenter" type="xsd:string"/>
                          <xsd:element name="ASSCCE_Description" type="xsd:string"/>
                          <xsd:element name="AssetGroupCode" type="xsd:string"/>
                          <xsd:element name="ASSGRP_Description" type="xsd:string"/>
                          <xsd:element name="CapexClass" type="xsd:string"/>
                          <xsd:element name="ASSCLS_Description" type="xsd:string"/>
                          <xsd:element name="ApprovalStatus" type="xsd:string"/>
                          <xsd:element name="ValueBudgeted" type="xsd:double"/>
                          <xsd:element name="ValueUncommitted" type="xsd:double"/>
                          <xsd:element name="ValueCommitted" type="xsd:double"/>
                          <xsd:element name="ValueSpent" type="xsd:double"/>
                          <xsd:element name="ValueAvailable" type="xsd:double"/>
                          <xsd:element name="Operator" type="xsd:string"/>
                          <xsd:element name="SystemDate" type="xsd:string"/>
                          <xsd:element name="OperatorApproved" type="xsd:string"/>
                          <xsd:element name="DateApproved" type="xsd:string"/>
                          <xsd:element name="StartPeriod" type="xsd:string"/>
                          <xsd:element name="EndPeriod" type="xsd:string"/>
                          <xsd:element name="CapexNextLine" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="CapexLine">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CapexLineCapexCode" type="xsd:string"/>
                          <xsd:element name="CapexLineNumber" type="xsd:string"/>
                          <xsd:element name="CapexLineAsset" type="xsd:string"/>
                          <xsd:element name="CapexLineDescription"/>
                          <xsd:element name="CapexLineBranch" type="xsd:string"/>
                          <xsd:element name="ASSBRN_CapexLineDescription" type="xsd:string"/>
                          <xsd:element name="CapexLineAssetCostCenter" type="xsd:string"/>
                          <xsd:element name="ASSCCE_CapexLineDescription" type="xsd:string"/>
                          <xsd:element name="CapexLineAssetGroupCode" type="xsd:string"/>
                          <xsd:element name="ASSGRP_CapexLineDescription" type="xsd:string"/>
                          <xsd:element name="CapexType" type="xsd:string"/>
                          <xsd:element name="ASSCTP_Description" type="xsd:string"/>
                          <xsd:element name="CapexLineReference"/>
                          <xsd:element name="CapexLineSystemDate" type="xsd:string"/>
                          <xsd:element name="CapexLineApprovalStatus" type="xsd:string"/>
                          <xsd:element name="CapexLineOperator" type="xsd:string"/>
                          <xsd:element name="CapexLineOperApproved" type="xsd:string"/>
                          <xsd:element name="CapexLineDateApproved" type="xsd:string"/>
                          <xsd:element name="LastRequisition" type="xsd:string"/>
                          <xsd:element name="LastPurchaseOrder" type="xsd:string"/>
                          <xsd:element name="LastJob" type="xsd:string"/>
                          <xsd:element name="LastGrn"/>
                          <xsd:element name="LastPartBilling" type="xsd:string"/>
                          <xsd:element name="Originator"/>
                          <xsd:element name="CapexLineStartPeriod" type="xsd:string"/>
                          <xsd:element name="Supplier" type="xsd:string"/>
                          <xsd:element name="UnitCost" type="xsd:string"/>
                          <xsd:element name="AssetQty" type="xsd:string"/>
                          <xsd:element name="Uom" type="xsd:string"/>
                          <xsd:element name="ExchangeRate" type="xsd:string"/>
                          <xsd:element name="Currency" type="xsd:string"/>
                          <xsd:element name="MulDiv" type="xsd:string"/>
                          <xsd:element name="Supplier2"/>
                          <xsd:element name="UnitCost2" type="xsd:string"/>
                          <xsd:element name="AssetQty2" type="xsd:string"/>
                          <xsd:element name="Uom2"/>
                          <xsd:element name="ExchangeRate2" type="xsd:string"/>
                          <xsd:element name="Currency2"/>
                          <xsd:element name="MulDiv2" type="xsd:string"/>
                          <xsd:element name="Supplier3"/>
                          <xsd:element name="UnitCost3" type="xsd:string"/>
                          <xsd:element name="AssetQty3" type="xsd:string"/>
                          <xsd:element name="Uom3"/>
                          <xsd:element name="ExchangeRate3" type="xsd:string"/>
                          <xsd:element name="Currency3"/>
                          <xsd:element name="MulDiv3" type="xsd:string"/>
                          <xsd:element name="CapexLineValueNotAuth" type="xsd:string"/>
                          <xsd:element name="CapexLineValueAuthUncomm" type="xsd:string"/>
                          <xsd:element name="CapexLineValueCommitted" type="xsd:string"/>
                          <xsd:element name="CapexLineValueSpent" type="xsd:string"/>
                          <xsd:element name="CapexLineValueTotal" type="xsd:string"/>
                          <xsd:element name="PurchaseOrderItems">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="PurchaseOrderItem">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="PurchaseOrder" type="xsd:string"/>
                                      <xsd:element name="PurchaseOrderItemLine" type="xsd:string"/>
                                      <xsd:element name="MStockCode" type="xsd:string"/>
                                      <xsd:element name="MStockDes" type="xsd:string"/>
                                      <xsd:element name="PurchaseOrderSupplier" type="xsd:string"/>
                                      <xsd:element name="APSMST_SupplierName" type="xsd:string"/>
                                      <xsd:element name="MOutstandingQty" type="xsd:string"/>
                                      <xsd:element name="MOrderQty" type="xsd:string"/>
                                      <xsd:element name="MOrderUom" type="xsd:string"/>
                                      <xsd:element name="MWarehouse" type="xsd:string"/>
                                      <xsd:element name="MJob"/>
                                      <xsd:element name="MPrice" type="xsd:string"/>
                                      <xsd:element name="MForeignPrice" type="xsd:string"/>
                                      <xsd:element name="MPriceUom" type="xsd:string"/>
                                      <xsd:element name="MValue" type="xsd:string"/>
                                      <xsd:element name="MLatestDueDate" type="xsd:string"/>
                                      <xsd:element name="MVersion"/>
                                      <xsd:element name="MRelease"/>
                                      <xsd:element name="MSupCatalogue" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="PurchaseOrderItemTotals">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="PurchaseOrderItemCount" type="xsd:string"/>
                                      <xsd:element name="PurchaseOrderItemValue" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="RequisitionItems">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="RequisitionItem">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Originator" type="xsd:string"/>
                                      <xsd:element name="Requisition" type="xsd:string"/>
                                      <xsd:element name="RequisitionItemLine" type="xsd:string"/>
                                      <xsd:element name="RequisitionItemStockCode" type="xsd:string"/>
                                      <xsd:element name="RequisitionItemStockDescription" type="xsd:string"/>
                                      <xsd:element name="RequisitionItemWarehouse" type="xsd:string"/>
                                      <xsd:element name="RequisitionItemSupplier" type="xsd:string"/>
                                      <xsd:element name="APSMST_RequisitionSupplierName" type="xsd:string"/>
                                      <xsd:element name="OrderQty" type="xsd:string"/>
                                      <xsd:element name="Price" type="xsd:string"/>
                                      <xsd:element name="OrderUom" type="xsd:string"/>
                                      <xsd:element name="RequisitionItemDueDate" type="xsd:string"/>
                                      <xsd:element name="RequisitionValue" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="RequisitionItemTotals">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="RequisitionItemCount" type="xsd:string"/>
                                      <xsd:element name="RequisitionItemValue" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="JobItems">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="JobItem">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Job" type="xsd:string"/>
                                      <xsd:element name="JobDescription" type="xsd:string"/>
                                      <xsd:element name="HoldFlag" type="xsd:string"/>
                                      <xsd:element name="QtyToMake" type="xsd:string"/>
                                      <xsd:element name="QtyManufactured" type="xsd:string"/>
                                      <xsd:element name="HierarchyFlag"/>
                                      <xsd:element name="JobItemStockCode" type="xsd:string"/>
                                      <xsd:element name="JobItemStockDescription" type="xsd:string"/>
                                      <xsd:element name="JobItemWarehouse" type="xsd:string"/>
                                      <xsd:element name="JobItemCustomer"/>
                                      <xsd:element name="JobItemCustomerName"/>
                                      <xsd:element name="JobStartDate" type="xsd:string"/>
                                      <xsd:element name="JobDeliveryDate" type="xsd:string"/>
                                      <xsd:element name="JobTenderDate" type="xsd:string"/>
                                      <xsd:element name="ActCompleteDate" type="xsd:string"/>
                                      <xsd:element name="JobClassification"/>
                                      <xsd:element name="Priority" type="xsd:string"/>
                                      <xsd:element name="Complete" type="xsd:string"/>
                                      <xsd:element name="ConfirmedFlag" type="xsd:string"/>
                                      <xsd:element name="ExpLabour" type="xsd:string"/>
                                      <xsd:element name="ExpMaterial" type="xsd:string"/>
                                      <xsd:element name="TotalQtyScrapped" type="xsd:string"/>
                                      <xsd:element name="EstSourceNum"/>
                                      <xsd:element name="AddLabPct" type="xsd:string"/>
                                      <xsd:element name="AddMatPct" type="xsd:string"/>
                                      <xsd:element name="ProfitPct" type="xsd:string"/>
                                      <xsd:element name="SalesOrder"/>
                                      <xsd:element name="MatCostToDate1" type="xsd:string"/>
                                      <xsd:element name="LabCostToDate1" type="xsd:string"/>
                                      <xsd:element name="HrsBookToDate1" type="xsd:string"/>
                                      <xsd:element name="MatValueIssues1" type="xsd:string"/>
                                      <xsd:element name="LabValueIssues1" type="xsd:string"/>
                                      <xsd:element name="MaterialBilled" type="xsd:string"/>
                                      <xsd:element name="LabourBilled" type="xsd:string"/>
                                      <xsd:element name="JobItemValue" type="xsd:string"/>
                                      <xsd:element name="WipCtlGlCode" type="xsd:string"/>
                                      <xsd:element name="JobItemVersion"/>
                                      <xsd:element name="JobItemRelease"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="JobItemTotals">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="JobItemCount" type="xsd:string"/>
                                      <xsd:element name="JobItemValue" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="CapexItemTotals">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CapexItemTotalsCapexCode" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsNotAuth" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsAuthUncomm" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsComm" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsSpent" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsTotal" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsCountLines" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsCountPos" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsValuePos" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsCountReqs" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsValueReqs" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsCountJobs" type="xsd:string"/>
                          <xsd:element name="CapexItemTotalsValueJobs" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BranchTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BranchTotalsBranch" type="xsd:string"/>
              <xsd:element name="BranchTotalsBudget" type="xsd:string"/>
              <xsd:element name="BranchTotalsNotAuth" type="xsd:string"/>
              <xsd:element name="BranchTotalsAuthUncomm" type="xsd:string"/>
              <xsd:element name="BranchTotalsComm" type="xsd:string"/>
              <xsd:element name="BranchTotalsSpent" type="xsd:string"/>
              <xsd:element name="BranchTotalsTotal" type="xsd:string"/>
              <xsd:element name="BranchTotalsAvailable" type="xsd:string"/>
              <xsd:element name="BranchTotalsCountLines" type="xsd:string"/>
              <xsd:element name="BranchTotalsCountItems" type="xsd:string"/>
              <xsd:element name="BranchTotalsCountPos" type="xsd:string"/>
              <xsd:element name="BranchTotalsValuePos" type="xsd:string"/>
              <xsd:element name="BranchTotalsCountReqs" type="xsd:string"/>
              <xsd:element name="BranchTotalsValueReqs" type="xsd:string"/>
              <xsd:element name="BranchTotalsCountJobs" type="xsd:string"/>
              <xsd:element name="BranchTotalsValueJobs" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BranchCcTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BranchCcTotalsBranch" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsCc" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsBudget" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsNotAuth" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsAuthUncomm" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsComm" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsSpent" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsTotal" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsAvailable" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsCountLines" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsCountItems" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsCountPos" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsValuePos" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsCountReqs" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsValueReqs" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsCountJobs" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsValueJobs" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GroupTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GroupTotalsGroup" type="xsd:string"/>
              <xsd:element name="GroupTotalsBudget" type="xsd:string"/>
              <xsd:element name="GroupTotalsNotAuth" type="xsd:string"/>
              <xsd:element name="GroupTotalsAuthUncomm" type="xsd:string"/>
              <xsd:element name="GroupTotalsComm" type="xsd:string"/>
              <xsd:element name="GroupTotalsSpent" type="xsd:string"/>
              <xsd:element name="GroupTotalsTotal" type="xsd:string"/>
              <xsd:element name="GroupTotalsAvailable" type="xsd:string"/>
              <xsd:element name="GroupTotalsCountLines" type="xsd:string"/>
              <xsd:element name="GroupTotalsCountItems" type="xsd:string"/>
              <xsd:element name="GroupTotalsCountPos" type="xsd:string"/>
              <xsd:element name="GroupTotalsValuePos" type="xsd:string"/>
              <xsd:element name="GroupTotalsCountReqs" type="xsd:string"/>
              <xsd:element name="GroupTotalsValueReqs" type="xsd:string"/>
              <xsd:element name="GroupTotalsCountJobs" type="xsd:string"/>
              <xsd:element name="GroupTotalsValueJobs" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ClassificationTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ClassificationTotalsClass" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsBudget" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsNotAuth" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsAuthUncomm" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsComm" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsSpent" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsTotal" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsAvailable" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsCountLines" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsCountItems" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsCountPos" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsValuePos" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsCountReqs" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsValueReqs" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsCountJobs" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsValueJobs" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TypeTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TypeTotalsType" type="xsd:string"/>
              <xsd:element name="TypeTotalsNotAuth" type="xsd:string"/>
              <xsd:element name="TypeTotalsAuthUncomm" type="xsd:string"/>
              <xsd:element name="TypeTotalsComm" type="xsd:string"/>
              <xsd:element name="TypeTotalsSpent" type="xsd:string"/>
              <xsd:element name="TypeTotalsTotal" type="xsd:string"/>
              <xsd:element name="TypeTotalsCountLines" type="xsd:string"/>
              <xsd:element name="TypeTotalsCountPos" type="xsd:string"/>
              <xsd:element name="TypeTotalsValuePos" type="xsd:string"/>
              <xsd:element name="TypeTotalsCountReqs" type="xsd:string"/>
              <xsd:element name="TypeTotalsValueReqs" type="xsd:string"/>
              <xsd:element name="TypeTotalsCountJobs" type="xsd:string"/>
              <xsd:element name="TypeTotalsValueJobs" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyTotalsBudget" type="xsd:string"/>
              <xsd:element name="CompanyTotalsNotAuth" type="xsd:string"/>
              <xsd:element name="CompanyTotalsAuthUncomm" type="xsd:string"/>
              <xsd:element name="CompanyTotalsComm" type="xsd:string"/>
              <xsd:element name="CompanyTotalsSpent" type="xsd:string"/>
              <xsd:element name="CompanyTotalsTotal" type="xsd:string"/>
              <xsd:element name="CompanyTotalsAvailable" type="xsd:string"/>
              <xsd:element name="CompanyTotalsCountLines" type="xsd:string"/>
              <xsd:element name="CompanyTotalsCountItems" type="xsd:string"/>
              <xsd:element name="CompanyTotalsCountPos" type="xsd:string"/>
              <xsd:element name="CompanyTotalsValuePos" type="xsd:string"/>
              <xsd:element name="CompanyTotalsCountReqs" type="xsd:string"/>
              <xsd:element name="CompanyTotalsValueReqs" type="xsd:string"/>
              <xsd:element name="CompanyTotalsCountJobs" type="xsd:string"/>
              <xsd:element name="CompanyTotalsValueJobs" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
