Schemas/ASSQCS.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Capex Management Summary Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AssetCostCenter">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of cost centers to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=AssetCostCenter;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AssetGroupCode">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of asset groups to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=AssetGroup;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Branch">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of asset branches to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=AssetBranch;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CapexClass">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of capex classifications to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=AssetCapexClass;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CapexItem">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of capex items to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=AssetCapexItem;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:annotation>
			<xsd:documentation>The parent filter element</xsd:documentation>
			<xsd:appinfo source="screenItem=N"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CapexItem"/>
				<xsd:element ref="Branch"/>
				<xsd:element ref="AssetGroupCode"/>
				<xsd:element ref="AssetCostCenter"/>
				<xsd:element ref="CapexClass"/>
				<xsd:element ref="Year"/>
				<xsd:element ref="Period"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeClosed">
		<xsd:annotation>
			<xsd:documentation>Indicates whether to include capex items with an approval status of "Closed". (Y - yes and N - No). If no value is supplied then a default value of 'Y' will be used. </xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeDenied">
		<xsd:annotation>
			<xsd:documentation>Indicates whether to include capex items with an approval status of "Denied". (Y - yes and N - No). If no value is supplied then a default value of 'Y' will be used. </xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:annotation>
			<xsd:documentation>The parent option element</xsd:documentation>
			<xsd:appinfo source="screenItem=N"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ReportSequence"/>
				<xsd:element ref="IncludeClosed"/>
				<xsd:element ref="IncludeDenied"/>
				<xsd:element name="XslStylesheet" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Period">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of capex line start periods to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All). It is important to note that this period number will be combined with the year selection to form a period number to select</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>The parent query element</xsd:documentation>
			<xsd:appinfo source="screenItem=N"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
				<xsd:element ref="Filter"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReportSequence">
		<xsd:annotation>
			<xsd:documentation>Defines the sequence in which the report will be printed. (C - Capex item, B - Branch,G - Group, O - Branch/Cost center, L - Classification). If no value is supplied a default of 'C' will be used. If a value of  'B' is passed there will be totalling by branch. If a value of "G" is passed, there will be totalling by group.If a value of "O" is passed, there will be totalling by both branch and cost center. If a value of "L" is passed, there will be totalling by classification.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;C=Capex item;B=Branch;G=Group;O=Branch/cost center;L=Capex classification"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="B"/>
				<xsd:enumeration value="G"/>
				<xsd:enumeration value="O"/>
				<xsd:enumeration value="L"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Year">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of capex line start years to be returned.  FilterType options - A(All), (S)Single, (R)Range. Default to A(All). It is important to note that this year will be combined with the period selection to form a period number to select</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
