Schemas/ASSQPROUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Capex Projection Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CapexProjectionReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string"/>
              <xsd:element name="UseItemFields" type="xsd:string"/>
              <xsd:element name="IncludeNoLines" type="xsd:string"/>
              <xsd:element name="IncludeClosed" type="xsd:string"/>
              <xsd:element name="IncludeDenied" type="xsd:string"/>
              <xsd:element name="PrintLines" type="xsd:string"/>
              <xsd:element name="CapexItemFilterType" type="xsd:string"/>
              <xsd:element name="CapexItemFilterValue" type="xsd:string"/>
              <xsd:element name="CapexLineFilterType" type="xsd:string"/>
              <xsd:element name="CapexLineFilterValue" type="xsd:string"/>
              <xsd:element name="BranchFilterType" type="xsd:string"/>
              <xsd:element name="BranchFilterValue" type="xsd:string"/>
              <xsd:element name="AssetGroupCodeFilterType" type="xsd:string"/>
              <xsd:element name="AssetGroupCodeFilterValue" type="xsd:string"/>
              <xsd:element name="AssetCostCenterFilterType" type="xsd:string"/>
              <xsd:element name="AssetCostCenterFilterValue" type="xsd:string"/>
              <xsd:element name="CapexClassFilterType" type="xsd:string"/>
              <xsd:element name="CapexClassFilterValue" type="xsd:string"/>
              <xsd:element name="CapexTypeFilterType" type="xsd:string"/>
              <xsd:element name="CapexTypeFilterValue" type="xsd:string"/>
              <xsd:element name="AssetCodeFilterType" type="xsd:string"/>
              <xsd:element name="AssetCodeFilterValue" type="xsd:string"/>
              <xsd:element name="YearFilterType" type="xsd:string"/>
              <xsd:element name="YearFilterValue" type="xsd:string"/>
              <xsd:element name="PeriodFilterType" type="xsd:string"/>
              <xsd:element name="PeriodFilterValue" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CapexItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CapexItem">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CapexHeader" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CapexCode" type="xsd:string"/>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="CapexRef" type="xsd:string"/>
                          <xsd:element name="Branch" type="xsd:string"/>
                          <xsd:element name="ASSBRN_Description" type="xsd:string"/>
                          <xsd:element name="AssetCostCenter" type="xsd:string"/>
                          <xsd:element name="ASSCCE_Description" type="xsd:string"/>
                          <xsd:element name="AssetGroupCode" type="xsd:string"/>
                          <xsd:element name="ASSGRP_Description" type="xsd:string"/>
                          <xsd:element name="CapexClass" type="xsd:string"/>
                          <xsd:element name="ASSCLS_Description" type="xsd:string"/>
                          <xsd:element name="ApprovalStatus" type="xsd:string"/>
                          <xsd:element name="ValueBudgeted" type="xsd:double"/>
                          <xsd:element name="ValueNotAuth" type="xsd:double"/>
                          <xsd:element name="ValueUncommitted" type="xsd:double"/>
                          <xsd:element name="ValueCommitted" type="xsd:double"/>
                          <xsd:element name="ValueSpent" type="xsd:double"/>
                          <xsd:element name="ValueAvailable" type="xsd:double"/>
                          <xsd:element name="Operator" type="xsd:string"/>
                          <xsd:element name="SystemDate" type="xsd:string"/>
                          <xsd:element name="OperatorApproved" type="xsd:string"/>
                          <xsd:element name="DateApproved" type="xsd:string"/>
                          <xsd:element name="StartPeriod" type="xsd:string"/>
                          <xsd:element name="EndPeriod" type="xsd:string"/>
                          <xsd:element name="CapexNextLine" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="CapexLines" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CapexLine" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CapexLineCapexCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineAsset" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineBranch" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ASSBRN_CapexLineDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineAssetCostCenter" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ASSCCE_CapexLineDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineAssetGroupCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ASSGRP_CapexLineDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ASSCTP_Description" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineReference" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineSystemDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineApprovalStatus" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineOperator" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineOperApproved" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineDateApproved" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastRequisition" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastPurchaseOrder" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastJob" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastGrn" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="LastPartBilling" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Originator" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineStartPeriod" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="AssetQty" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Uom" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExchangeRate" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MulDiv" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Supplier2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitCost2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="AssetQty2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Uom2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExchangeRate2" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Currency2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MulDiv2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Supplier3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="UnitCost3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="AssetQty3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Uom3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExchangeRate3" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="Currency3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MulDiv3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CapexLineValueNotAuth" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="CapexLineValueAuthUncomm" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="CapexLineValueCommitted" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="CapexLineValueSpent" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="CapexLineValueTotal" type="xsd:double" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="YearTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="YearTotalsYear" type="xsd:string"/>
                          <xsd:element name="YearTotalsNotAuth" type="xsd:double"/>
                          <xsd:element name="YearTotalsAuthUncomm" type="xsd:double"/>
                          <xsd:element name="YearTotalsComm" type="xsd:double"/>
                          <xsd:element name="YearTotalsSpent" type="xsd:double"/>
                          <xsd:element name="YearTotalsTotal" type="xsd:double"/>
                          <xsd:element name="YearTotalsCountLines" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="CapexItemTotals" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CapexItemTotalsCapexCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsNotAuth" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsAuthUncomm" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsComm" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsSpent" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="CapexItemTotalsCountLines" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BranchTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BranchTotalsBranch" type="xsd:string"/>
              <xsd:element name="BranchTotalsBudget" type="xsd:double"/>
              <xsd:element name="BranchTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="BranchTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="BranchTotalsComm" type="xsd:double"/>
              <xsd:element name="BranchTotalsSpent" type="xsd:double"/>
              <xsd:element name="BranchTotalsTotal" type="xsd:double"/>
              <xsd:element name="BranchTotalsAvailable" type="xsd:double"/>
              <xsd:element name="BranchTotalsCountLines" type="xsd:double"/>
              <xsd:element name="BranchTotalsCountItems" type="xsd:double"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BranchCcTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BranchCcTotalsBranch" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsCc" type="xsd:string"/>
              <xsd:element name="BranchCcTotalsBudget" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsComm" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsSpent" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsTotal" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsAvailable" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsCountLines" type="xsd:double"/>
              <xsd:element name="BranchCcTotalsCountItems" type="xsd:double"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GroupTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GroupTotalsGroup" type="xsd:string"/>
              <xsd:element name="GroupTotalsBudget" type="xsd:double"/>
              <xsd:element name="GroupTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="GroupTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="GroupTotalsComm" type="xsd:double"/>
              <xsd:element name="GroupTotalsSpent" type="xsd:double"/>
              <xsd:element name="GroupTotalsTotal" type="xsd:double"/>
              <xsd:element name="GroupTotalsAvailable" type="xsd:double"/>
              <xsd:element name="GroupTotalsCountLines" type="xsd:double"/>
              <xsd:element name="GroupTotalsCountItems" type="xsd:double"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ClassificationTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ClassificationTotalsClass" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsBudget" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsComm" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsSpent" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsTotal" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsAvailable" type="xsd:double"/>
              <xsd:element name="ClassificationTotalsCountLines" type="xsd:string"/>
              <xsd:element name="ClassificationTotalsCountItems" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TypeTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TypeTotalsType" type="xsd:string"/>
              <xsd:element name="TypeTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="TypeTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="TypeTotalsComm" type="xsd:double"/>
              <xsd:element name="TypeTotalsSpent" type="xsd:double"/>
              <xsd:element name="TypeTotalsTotal" type="xsd:double"/>
              <xsd:element name="TypeTotalsCountLines" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="YearFinalTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="YearFinalTotalsYear" type="xsd:string"/>
              <xsd:element name="YearFinalTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="YearFinalTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="YearFinalTotalsComm" type="xsd:double"/>
              <xsd:element name="YearFinalTotalsSpent" type="xsd:double"/>
              <xsd:element name="YearFinalTotalsTotal" type="xsd:double"/>
              <xsd:element name="YearFinalTotalsCountLines" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CompanyTotalsBudget" type="xsd:double"/>
              <xsd:element name="CompanyTotalsNotAuth" type="xsd:double"/>
              <xsd:element name="CompanyTotalsAuthUncomm" type="xsd:double"/>
              <xsd:element name="CompanyTotalsComm" type="xsd:double"/>
              <xsd:element name="CompanyTotalsSpent" type="xsd:double"/>
              <xsd:element name="CompanyTotalsTotal" type="xsd:double"/>
              <xsd:element name="CompanyTotalsAvailable" type="xsd:double"/>
              <xsd:element name="CompanyTotalsCountLines" type="xsd:string"/>
              <xsd:element name="CompanyTotalsCountItems" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
