Schemas/ASSTAQDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Acquisition Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostAssetAcquisition">
    <xsd:annotation>
      <xsd:documentation>This is the top element for all data required for Asset acqusition. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element name="Item" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>Mandatory element.This is the top element for all data required for the transaction. This element can occur multiple times as the business object caters for the posting new acquisitions and additional acquisitions to assets.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:sequence>
              <xsd:element ref="Asset"/>
              <xsd:element ref="AssetQty" minOccurs="0"/>
              <xsd:element ref="TaxPaid" minOccurs="0"/>
              <xsd:element ref="BvAssetCost" minOccurs="0"/>
              <xsd:element ref="BvDepnPrevYr" minOccurs="0"/>
              <xsd:element ref="BvCalcDepn" minOccurs="0"/>
              <xsd:element name="BvDepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="TaxAssetCost" minOccurs="0"/>
              <xsd:element ref="TaxDepnPrevYr" minOccurs="0"/>
              <xsd:element ref="InvestAllowPct" minOccurs="0"/>
              <xsd:element ref="InitialAllowPct" minOccurs="0"/>
              <xsd:element ref="CapitalGainsTaxVal" minOccurs="0"/>
              <xsd:element ref="TaxCalcDepn" minOccurs="0"/>
              <xsd:element name="TaxDepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="Alt1AssetCost" minOccurs="0"/>
              <xsd:element ref="Alt1DepnPrevYr" minOccurs="0"/>
              <xsd:element ref="Alt1CalcDepn" minOccurs="0"/>
              <xsd:element name="Alt1DepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="Alt2AssetCost" minOccurs="0"/>
              <xsd:element ref="Alt2DepnPrevYr" minOccurs="0"/>
              <xsd:element ref="Alt2CalcDepn" minOccurs="0"/>
              <xsd:element name="Alt2DepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="Alt3AssetCost" minOccurs="0"/>
              <xsd:element ref="Alt3DepnPrevYr" minOccurs="0"/>
              <xsd:element ref="Alt3CalcDepn" minOccurs="0"/>
              <xsd:element name="Alt3DepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="Alt4AssetCost" minOccurs="0"/>
              <xsd:element ref="Alt4DepnPrevYr" minOccurs="0"/>
              <xsd:element ref="Alt4CalcDepn" minOccurs="0"/>
              <xsd:element name="Alt4DepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="Alt5AssetCost" minOccurs="0"/>
              <xsd:element ref="Alt5DepnPrevYr" minOccurs="0"/>
              <xsd:element ref="Alt5CalcDepn" minOccurs="0"/>
              <xsd:element name="Alt5DepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="Alt6AssetCost" minOccurs="0"/>
              <xsd:element ref="Alt6DepnPrevYr" minOccurs="0"/>
              <xsd:element ref="Alt6CalcDepn" minOccurs="0"/>
              <xsd:element name="Alt6DepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="Alt7AssetCost" minOccurs="0"/>
              <xsd:element ref="Alt7DepnPrevYr" minOccurs="0"/>
              <xsd:element ref="Alt7CalcDepn" minOccurs="0"/>
              <xsd:element name="Alt7DepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="Alt8AssetCost" minOccurs="0"/>
              <xsd:element ref="Alt8DepnPrevYr" minOccurs="0"/>
              <xsd:element ref="Alt8CalcDepn" minOccurs="0"/>
              <xsd:element name="Alt8DepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="Alt9AssetCost" minOccurs="0"/>
              <xsd:element ref="Alt9DepnPrevYr" minOccurs="0"/>
              <xsd:element ref="Alt9CalcDepn" minOccurs="0"/>
              <xsd:element name="Alt9DepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="Alt10AssetCost" minOccurs="0"/>
              <xsd:element ref="Alt10DepnPrevYr" minOccurs="0"/>
              <xsd:element ref="Alt10CalcDepn" minOccurs="0"/>
              <xsd:element name="Alt10DepreciationHistory" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccumDepn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod5" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod6" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod7" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod8" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod9" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod10" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod11" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod12" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DepnPeriod13" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element ref="eSignature" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Asset">
    <xsd:annotation>
      <xsd:documentation>This is the key to the asset being acquired. This is mandatory.The format is up to 15 characters, alphanumeric or numeric depending on a configuration option within SYSPRO. Iit must be a valid Syspro asset code.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AssetQty">
    <xsd:annotation>
      <xsd:documentation>This is the quantity of acquisition for either new acquisition or additional acquisition. In case of new acquisition, if it is not supplied, a quantity of 1 will be assumed. In case od additional acquisitiion, if not supplied zero will be assumed. Note that this quantity will be added to any existing quantity.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TaxPaid">
    <xsd:annotation>
      <xsd:documentation>This is a notational field and is the tax paid when an asset is purchased. Note that this value will be added to the Tax Paid on the existing asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BvAssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the book value acquisition asset cost and will be added to the value already on the asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BvDepnPrevYr">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BvStartDepDate">
    <xsd:annotation>
      <xsd:documentation>This indicates the date from which depreciation is calculated. If this element is not supplied, the default value will be the asset purchase date and any date convention applied. If using 13 period calendar this date is a memo date, and the user must also supply start depreciation year and period. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BvDepnStartPeriod">
    <xsd:annotation>
      <xsd:documentation>When using 12 periods, this element is ignored and generated from the start date. When 13 periods the user should supply this element and it must be in the range 1-13. It is used to determine the start period for calculation of depreciation. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="2"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BvDepnStartYear">
    <xsd:annotation>
      <xsd:documentation>When using 12 periods, this element is ignored and generated from the start date. When 13 periods the user should supply this element.It is used to determine the start period for calculation of  depreciation. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="4"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TaxAssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the tax value asset cost and will be added to the value already on the asset..</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TaxCalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt1AssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the alternate value 1 asset cost and will be added to the value already on the asset..</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt1CalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt2AssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the alternate value 2 asset cost and will be added to the value already on the asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt2CalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt3AssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the alternate value 3 asset cost and will be added to the value already on the asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt3CalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt4AssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the alternate value 4 asset cost and will be added to the value already on the asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt4CalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt5AssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the alternate value 5 asset cost and will be added to the value already on the asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt5CalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt6AssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the alternate value 6 asset cost and will be added to the value already on the asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt6CalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt7AssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the alternate value 7 asset cost and will be added to the value already on the asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt7CalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt8AssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the alternate value 8 asset cost and will be added to the value already on the asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt8CalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt9AssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the alternate value 9 asset cost and will be added to the value already on the asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt9CalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt10AssetCost">
    <xsd:annotation>
      <xsd:documentation>This is the alternate value 10 asset cost and will be added to the value already on the asset.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Alt10CalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BvCalcDepn">
    <xsd:annotation>
      <xsd:documentation>This flag allows the user to indicate whether he wishes the business object to calculate depreciation for this asset. If "N" the user must calculate and supply depreciation himself.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TaxDepnPrevYr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="InvestAllowPct" type="xsd:string"/>
  <xsd:element name="InitialAllowPct" type="xsd:string"/>
  <xsd:element name="CapitalGainsTaxVal" type="xsd:string"/>
  <xsd:element name="Alt1DepnPrevYr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Alt2DepnPrevYr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Alt3DepnPrevYr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Alt4DepnPrevYr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Alt5DepnPrevYr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Alt6DepnPrevYr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Alt7DepnPrevYr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Alt8DepnPrevYr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Alt9DepnPrevYr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Alt10DepnPrevYr" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the book value previous year depreciation and only used if the user wishes to supply depreciation for a new acquisition. If supplied, it must balance to any depreciation history supplied. It is ignored for additional acquisitions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="eSignature" type="xsd:string"/>
</xsd:schema>
