Schemas/ASSTGIOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2009 SYSPRO Ltd.-->
<!--
     Schema for Asset GL Integration business object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xsd:element name="postassetregister">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Transaction" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Key" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="GlYear" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GlPeriod" type="xsd:string" minOccurs="0"/>
													<xsd:element name="GlJournal" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="StatusOfItems" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RegistersProcessed" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:string"/>
			<xsd:attribute name="Language2" type="xsd:string"/>
			<xsd:attribute name="CssStyle" type="xsd:string"/>
			<xsd:attribute name="DecFormat" type="xsd:string"/>
			<xsd:attribute name="DateFormat" type="xsd:string"/>
			<xsd:attribute name="Role" type="xsd:string"/>
			<xsd:attribute name="Version" type="xsd:string"/>
			<xsd:attribute name="OperatorPrimaryRole" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
