Schemas/ASSTAEDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Depreciation Adjustment EUL Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PostAssetAdjEul">
		<xsd:annotation>
			<xsd:documentation>This is the top element for all data required for Asset adjustment EUL. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element name="Item" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Mandatory element.This is the top element for all data required for the transaction. This element can occur multiple times as the business object caters for the posting depreciation adjustments to assets.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="false">
						<xsd:sequence>
							<xsd:element ref="Asset"/>
							<xsd:element ref="AdjustmentDate" minOccurs="0"/>
							<xsd:element ref="AdjustmentComment" minOccurs="0"/>
							<xsd:element ref="BvAdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="TaxAdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="Alt1AdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="Alt2AdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="Alt3AdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="Alt4AdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="Alt5AdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="Alt6AdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="Alt7AdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="Alt8AdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="Alt9AdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="Alt10AdjustmentThisYear" minOccurs="0"/>
							<xsd:element ref="BvAdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="TaxAdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt1AdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt2AdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt3AdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt4AdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt5AdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt6AdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt7AdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt8AdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt9AdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="Alt10AdjustmentAccumDepn" minOccurs="0"/>
							<xsd:element ref="BvCalcDepn" minOccurs="0"/>
							<xsd:element ref="TaxCalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt1CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt2CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt3CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt4CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt5CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt6CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt7CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt8CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt9CalcDepn" minOccurs="0"/>
							<xsd:element ref="Alt10CalcDepn" minOccurs="0"/>
							<xsd:element ref="BvResidualValue" minOccurs="0"/>
							<xsd:element ref="BvDepnCode" minOccurs="0"/>
							<xsd:element ref="BvSuspend" minOccurs="0"/>
							<xsd:element ref="BvThruputEul" minOccurs="0"/>
							<xsd:element ref="BvStatGlCode" minOccurs="0"/>
							<xsd:element ref="BvNumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="BvNumberOfYears" minOccurs="0"/>
							<xsd:element ref="BvRemainingPeriods" minOccurs="0"/>
							<xsd:element ref="BvVaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="TaxResidualValue" minOccurs="0"/>
							<xsd:element ref="TaxDepnCode" minOccurs="0"/>
							<xsd:element ref="TaxSuspend" minOccurs="0"/>
							<xsd:element ref="TaxThruputEul" minOccurs="0"/>
							<xsd:element ref="TaxStatGlCode" minOccurs="0"/>
							<xsd:element ref="TaxNumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="TaxNumberOfYears" minOccurs="0"/>
							<xsd:element ref="TaxRemainingPeriods" minOccurs="0"/>
							<xsd:element ref="TaxVaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="CapitalGainsTaxVal" minOccurs="0"/>
							<xsd:element ref="Alt1ResidualValue" minOccurs="0"/>
							<xsd:element ref="Alt1DepnCode" minOccurs="0"/>
							<xsd:element ref="Alt1Suspend" minOccurs="0"/>
							<xsd:element ref="Alt1ThruputEul" minOccurs="0"/>
							<xsd:element ref="Alt1StatGlCode" minOccurs="0"/>
							<xsd:element ref="Alt1NumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="Alt1NumberOfYears" minOccurs="0"/>
							<xsd:element ref="Alt1RemainingPeriods" minOccurs="0"/>
							<xsd:element ref="Alt1VaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="Alt2ResidualValue" minOccurs="0"/>
							<xsd:element ref="Alt2DepnCode" minOccurs="0"/>
							<xsd:element ref="Alt2Suspend" minOccurs="0"/>
							<xsd:element ref="Alt2ThruputEul" minOccurs="0"/>
							<xsd:element ref="Alt2StatGlCode" minOccurs="0"/>
							<xsd:element ref="Alt2NumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="Alt2NumberOfYears" minOccurs="0"/>
							<xsd:element ref="Alt2RemainingPeriods" minOccurs="0"/>
							<xsd:element ref="Alt2VaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="Alt3ResidualValue" minOccurs="0"/>
							<xsd:element ref="Alt3DepnCode" minOccurs="0"/>
							<xsd:element ref="Alt3Suspend" minOccurs="0"/>
							<xsd:element ref="Alt3ThruputEul" minOccurs="0"/>
							<xsd:element ref="Alt3StatGlCode" minOccurs="0"/>
							<xsd:element ref="Alt3NumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="Alt3NumberOfYears" minOccurs="0"/>
							<xsd:element ref="Alt3RemainingPeriods" minOccurs="0"/>
							<xsd:element ref="Alt3VaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="Alt4ResidualValue" minOccurs="0"/>
							<xsd:element ref="Alt4DepnCode" minOccurs="0"/>
							<xsd:element ref="Alt4Suspend" minOccurs="0"/>
							<xsd:element ref="Alt4ThruputEul" minOccurs="0"/>
							<xsd:element ref="Alt4StatGlCode" minOccurs="0"/>
							<xsd:element ref="Alt4NumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="Alt4NumberOfYears" minOccurs="0"/>
							<xsd:element ref="Alt4RemainingPeriods" minOccurs="0"/>
							<xsd:element ref="Alt4VaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="Alt5ResidualValue" minOccurs="0"/>
							<xsd:element ref="Alt5DepnCode" minOccurs="0"/>
							<xsd:element ref="Alt5Suspend" minOccurs="0"/>
							<xsd:element ref="Alt5ThruputEul" minOccurs="0"/>
							<xsd:element ref="Alt5StatGlCode" minOccurs="0"/>
							<xsd:element ref="Alt5NumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="Alt5NumberOfYears" minOccurs="0"/>
							<xsd:element ref="Alt5RemainingPeriods" minOccurs="0"/>
							<xsd:element ref="Alt5VaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="Alt6ResidualValue" minOccurs="0"/>
							<xsd:element ref="Alt6DepnCode" minOccurs="0"/>
							<xsd:element ref="Alt6Suspend" minOccurs="0"/>
							<xsd:element ref="Alt6ThruputEul" minOccurs="0"/>
							<xsd:element ref="Alt6StatGlCode" minOccurs="0"/>
							<xsd:element ref="Alt6NumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="Alt6NumberOfYears" minOccurs="0"/>
							<xsd:element ref="Alt6RemainingPeriods" minOccurs="0"/>
							<xsd:element ref="Alt6VaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="Alt7ResidualValue" minOccurs="0"/>
							<xsd:element ref="Alt7DepnCode" minOccurs="0"/>
							<xsd:element ref="Alt7Suspend" minOccurs="0"/>
							<xsd:element ref="Alt7ThruputEul" minOccurs="0"/>
							<xsd:element ref="Alt7StatGlCode" minOccurs="0"/>
							<xsd:element ref="Alt7NumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="Alt7NumberOfYears" minOccurs="0"/>
							<xsd:element ref="Alt7RemainingPeriods" minOccurs="0"/>
							<xsd:element ref="Alt7VaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="Alt8ResidualValue" minOccurs="0"/>
							<xsd:element ref="Alt8DepnCode" minOccurs="0"/>
							<xsd:element ref="Alt8Suspend" minOccurs="0"/>
							<xsd:element ref="Alt8ThruputEul" minOccurs="0"/>
							<xsd:element ref="Alt8StatGlCode" minOccurs="0"/>
							<xsd:element ref="Alt8NumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="Alt8NumberOfYears" minOccurs="0"/>
							<xsd:element ref="Alt8RemainingPeriods" minOccurs="0"/>
							<xsd:element ref="Alt8VaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="Alt9ResidualValue" minOccurs="0"/>
							<xsd:element ref="Alt9DepnCode" minOccurs="0"/>
							<xsd:element ref="Alt9Suspend" minOccurs="0"/>
							<xsd:element ref="Alt9ThruputEul" minOccurs="0"/>
							<xsd:element ref="Alt9StatGlCode" minOccurs="0"/>
							<xsd:element ref="Alt9NumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="Alt9NumberOfYears" minOccurs="0"/>
							<xsd:element ref="Alt9RemainingPeriods" minOccurs="0"/>
							<xsd:element ref="Alt9VaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="Alt10ResidualValue" minOccurs="0"/>
							<xsd:element ref="Alt10DepnCode" minOccurs="0"/>
							<xsd:element ref="Alt10Suspend" minOccurs="0"/>
							<xsd:element ref="Alt10ThruputEul" minOccurs="0"/>
							<xsd:element ref="Alt10StatGlCode" minOccurs="0"/>
							<xsd:element ref="Alt10NumberOfPeriods" minOccurs="0"/>
							<xsd:element ref="Alt10NumberOfYears" minOccurs="0"/>
							<xsd:element ref="Alt10RemainingPeriods" minOccurs="0"/>
							<xsd:element ref="Alt10VaryingAnniversary" minOccurs="0"/>
							<xsd:element ref="eSignature" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Asset">
		<xsd:annotation>
			<xsd:documentation>This is the key to the asset being acquired. This is mandatory.The format is up to 15 characters, alphanumeric or numeric depending on a configuration option within SYSPRO. Iit must be a valid Syspro asset code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AdjustmentDate">
		<xsd:annotation>
			<xsd:documentation>This is the date of the depreciation adjustment, and if supplied must be in the current financial year. If not supplied  it will be the assumed to be the period-end date of the current period.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="10"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AdjustmentComment">
		<xsd:annotation>
			<xsd:documentation>This is a free-form comment to be associated with this adjustment.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="60"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvAdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the book value depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxAdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the tax value depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1AdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 1 depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2AdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 2 depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3AdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 3 depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4AdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 4 depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5AdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 5 depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6AdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 6 depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7AdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 7 depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8AdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 8 depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9AdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 9 depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10AdjustmentThisYear">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 10 depreciation adjustment value for the current year and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvAdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the book value depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxAdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the tax value depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1AdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 1 depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2AdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 2 depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3AdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 3 depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4AdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 4 depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5AdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 5 depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6AdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 6 depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7AdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 7 depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8AdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 8 depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9AdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 9 depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10AdjustmentAccumDepn">
		<xsd:annotation>
			<xsd:documentation>This is the alternate value 10 depreciation adjustment value for accumulated depreciation prior years and can be positive or negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvCalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxCalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10CalcDepn">
		<xsd:annotation>
			<xsd:documentation>This element is used to calculate EUL depreciation adjustment.If not submitted, the default will be "Y". Possible values are "y" and "N". If the value submitted is "N" no calculation of EUL will be performed and the depreciation values submitted will be used to adjust depreciation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvDepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvSuspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvStatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BvNumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvNumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvRemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BvVaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxDepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxSuspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxStatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxNumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxNumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxRemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TaxVaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CapitalGainsTaxVal">
		<xsd:annotation>
			<xsd:documentation>This is the capital gains tax value of an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1ResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1DepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1Suspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1ThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1StatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Alt1NumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1NumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1RemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt1VaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2ResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2DepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2Suspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2ThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2StatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Alt2NumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2NumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2RemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt2VaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3ResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3DepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3Suspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3ThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3StatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Alt3NumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3NumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3RemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt3VaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4ResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4DepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4Suspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4ThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4StatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Alt4NumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4NumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4RemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt4VaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5ResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5DepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5Suspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5ThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5StatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Alt5NumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5NumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5RemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt5VaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6ResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6DepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6Suspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6ThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6StatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Alt6NumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6NumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6RemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt6VaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7ResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7DepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7Suspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7ThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7StatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Alt7NumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7NumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7RemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt7VaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8ResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8DepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8Suspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8ThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8StatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Alt8NumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8NumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8RemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt8VaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9ResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9DepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9Suspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9ThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9StatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Alt9NumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9NumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9RemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt9VaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10ResidualValue">
		<xsd:annotation>
			<xsd:documentation>This is the reisdual value up to which value an asset is depreciated. If the setup option "Exclude Book Value residual from depreciation calculation" is ticked, the residual value is subtracted from the asset Cost/Value before depreciation is calculated. When changing, access to this element is not allowed if the operator security access to "Asset financial fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10DepnCode">
		<xsd:annotation>
			<xsd:documentation>This is the depreciation code of an asset and determines the formula for depreciation is calculated. This element must be a valid Syspro Depreciation code. When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10Suspend">
		<xsd:annotation>
			<xsd:documentation>This element is used to suspend depreciation on an asset. The default value of the flag is "N" and the valid values are "Y" and "N". When changing an asset, access to this element is not allowed if the operator security access to "Asset depreciation fields" is denied. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10ThruputEul">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Throughput for the estimated useful life (EUL) of an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10StatGlCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This element indicates the Statistical G/L account code to be used to derive the throughput per period used to calculate depreciation for an asset. It is madatory when a Statistical EUL depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Alt10NumberOfPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of periods in the estmated useful life (EUL) of an asset. It is madatory when a fixed EUL, or Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10NumberOfYears">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of years in the estmated useful life (EUL) of an asset. It is madatory when a Sum of year digits or Declining balance depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10RemainingPeriods">
		<xsd:annotation>
			<xsd:documentation>This element indicates the total number of remaining periods in the estmated useful life (EUL) of an asset. It is madatory when a Remaining value over remaining life depreciation code has been specified for an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Alt10VaryingAnniversary">
		<xsd:annotation>
			<xsd:documentation>This element is used only for varying depreciation for Varying annually and Varying by period. It has the values "S" to indicated sart depreciation period, or "F" for fiscal year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="eSignature" type="xsd:string"/>
</xsd:schema>
