Schemas/ASSTAEOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     Schema for the Asset Depreciation Adjustment EUL Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="GlJournalType" mixed="true">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element ref="GlYear"/>
      <xsd:element ref="GlPeriod"/>
      <xsd:element name="GlJournal" type="GlJournalType"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:element name="GlPeriod" type="xsd:byte"/>
  <xsd:element name="GlYear" type="xsd:short"/>
  <xsd:complexType name="ItemType">
    <xsd:sequence>
      <xsd:element ref="Key"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ItemsInvalid" type="xsd:boolean"/>
  <xsd:element name="ItemsProcessed" type="xsd:boolean"/>
  <xsd:element name="Key" type="xsd:string"/>
  <xsd:element name="RegisterNumber" type="xsd:byte"/>
  <xsd:complexType name="StatusOfItemsType">
    <xsd:sequence>
      <xsd:element ref="ItemsProcessed"/>
      <xsd:element ref="ItemsInvalid"/>
      <xsd:element ref="RegisterNumber"/>
      <xsd:element name="GlJournal" type="GlJournalType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="postassetadjeul">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item" type="ItemType"/>
        <xsd:element name="StatusOfItems" type="StatusOfItemsType"/>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
      <xsd:attribute name="Role" type="xsd:byte" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
