Schemas/bom_route_cards.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the BOM Route Cards Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Buyer">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of Buyers to print A-All;S-Single</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=InvBuyer;A=All;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:annotation>
      <xsd:documentation>This is the Parent Filter element</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="Warehouse"/>
        <xsd:element ref="Planner"/>
        <xsd:element ref="Buyer"/>
        <xsd:element ref="Supplier"/>
        <xsd:element ref="Routing"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:annotation>
      <xsd:documentation>This is the Parent Option element</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportType" minOccurs="0"/>
        <xsd:element ref="RevisionRelease" minOccurs="0"/>
        <xsd:element ref="StandardRoutingQuantityBasis" minOccurs="0"/>
        <xsd:element ref="StandardRoutingPrintComponents" minOccurs="0"/>
        <xsd:element ref="StandardRoutingPrintBulkIssueComponents" minOccurs="0"/>
        <xsd:element ref="StandardRoutingPrintListFullNarrationLines" minOccurs="0"/>
        <xsd:element ref="SubContractReportSequence" minOccurs="0"/>
        <xsd:element ref="SubContractNarrationNumberOfLinesToPrint" minOccurs="0"/>
        <xsd:element ref="PrintManufacturingUMQuantities" minOccurs="0"/>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Planner">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of Planners to print A-All;S-Single</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=InvPlanner;A=All;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>The root element</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportType">
    <xsd:annotation>
      <xsd:documentation>This indicates the type of report to print. R-Standard routing report, S-Subcontract report. Default -R</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;R=Standard routing report;S=Subcontract report"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="R"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="RevisionRelease">
    <xsd:annotation>
      <xsd:documentation>This is an option to select only a single revision/release combination for a stock code. This value will only be taken into consideration if a SINGLE stock code is selected. Valid entries are three digit revision/three digit release example: 000/000 or 001/000</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=EccRevHistory"/>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Routing">
    <xsd:annotation>
      <xsd:documentation>This indicates the BOM route to use. If the element ReportType is R then the Routing option A may not be selected. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=BomRoute;A=All;S=Single;"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StandardRoutingPrintBulkIssueComponents">
    <xsd:annotation>
      <xsd:documentation>This will display the Bulk Issue Components on the report This element is only applicable when 'ReportType' = 'R' and 'StandardRoutingPrintComponents' = "Y" Y=Yes N=No</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StandardRoutingPrintComponents">
    <xsd:annotation>
      <xsd:documentation>This will display the components on the report This element is only applicable when 'ReportType' = 'R' N - No Y - Yes</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StandardRoutingPrintListFullNarrationLines">
    <xsd:annotation>
      <xsd:documentation>This will display the full narrations on the report This element is only applicable when 'ReportType' = 'R' Y=Yes N=No</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StandardRoutingQuantityBasis">
    <xsd:annotation>
      <xsd:documentation>This is the Quantity Basis to use for the report. M – Manufacturing qty(EBQ or Pan) S – Single Unit This element is only applicable when 'ReportType' = 'R'</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;M=Manufacturing qty(EBQ or Pan);S=Single unit"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="M"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of stock codes to print If 'Single' stock code is selected the user may then specify the 'StockCodeVersion' and 'StockCodeRelease values in the respective elements A-All;S-Single;R-Range</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=InvMaster;A=All;S=Single;R=Range;RevRel=Y"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SubContractNarrationNumberOfLinesToPrint">
    <xsd:annotation>
      <xsd:documentation>This will sequence the report by 'Supplier of subcontract' or 'Parent stock code' This element is only applicable when 'ReportType' = 'S' 1 - Supplier of subcontract 2 - Parent stock code</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubContractReportSequence">
    <xsd:annotation>
      <xsd:documentation>This will sequence the report by 'Supplier of subcontract' or 'Parent stock code' This element is only applicable when 'ReportType' = 'S' 1 - Supplier of subcontract 2 - Parent stock code</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;1=Supplier of subcontract;2=Parent stock code"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="2"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Supplier">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of Suppliers to print This element is only applicable when 'ReportType' = 'S' A-All;S-Single;R-Range</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=ApSupplier;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of Warehouses to print </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=InvWhControl;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="PrintManufacturingUMQuantities">
    <xsd:annotation>
      <xsd:documentation>This is an option to print manufacturing unit of measure quantities instead of stocking unit of measure quantities. Valid entries are Y(Yes) or N(No). Default depends on your setup options.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
