Schemas/BOMQA6.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the BOM All Levels ABC Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>This is the Root element</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:annotation>
      <xsd:documentation>This is the Parent Option element</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportType"/>
        <xsd:element ref="MPSItems"/>
        <xsd:element ref="RevisionRelease"/>
        <xsd:element ref="PrintManufacturingUMQuantities"/>
        <xsd:element ref="XslStylesheet"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportType">
    <xsd:annotation>
      <xsd:documentation>This indicates the type of report to print. D - Detail or S -Summary. The default is D.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;D=Detail;S=Summary"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MPSItems">
    <xsd:annotation>
      <xsd:documentation>Include/exclude/only MPS items. I - Include, E - Exclude or O - Only. The default is I.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;I=Include;E=Exclude;O=Only"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="I"/>
        <xsd:enumeration value="E"/>
        <xsd:enumeration value="O"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="RevisionRelease">
    <xsd:annotation>
      <xsd:documentation>This is an option to select only a single revision/release combination for a stock code. This value will only be taken into consideration if a SINGLE stock code is selected. Valid entries are three digit revision/three digit release example: 000/000 or 001/000</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="PrintManufacturingUMQuantities" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is an option to print manufacturing unit of measure quantities instead of stocking unit of measure quantities. Valid entries are Y(Yes) or N(No). Default depends on your setup options.</xsd:documentation>
       <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>This is the Stylesheet that is used</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:annotation>
      <xsd:documentation>This is the Parent Filter element</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StockCode"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>All,  Single, Range of stock codes to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=InvMaster;A=All;S=Single;R=Range;RevRel=Y"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
