Schemas/BOMQ76.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema the BOM Structure Amendment Journal Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="DeleteJournalFileAfterReport">
		<xsd:annotation>
			<xsd:documentation>Indicates whether  the BOM Structure amendment journal should be deleted after being printed. ( N - No and Y - Yes). If no value is supplied then a default of 'N' will be used. </xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:annotation>
			<xsd:documentation>List of options</xsd:documentation>
			<xsd:appinfo source="screenItem=N"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Reprint" minOccurs="0"/>
				<xsd:element ref="PrintAdditions" minOccurs="0"/>
				<xsd:element ref="PrintChanges" minOccurs="0"/>
				<xsd:element ref="PrintDeletions" minOccurs="0"/>
				<xsd:element ref="DeleteJournalFileAfterReport" minOccurs="0"/>
				<xsd:element ref="PrintManufacturingUMQuantities" minOccurs="0"/>
				<xsd:element ref="XslStylesheet" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PrintAdditions">
		<xsd:annotation>
			<xsd:documentation>Indicates whether  the BOM Sturcture additions should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PrintChanges">
		<xsd:annotation>
			<xsd:documentation>Indicates whether  the BOM Structure changes should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PrintDeletions">
		<xsd:annotation>
			<xsd:documentation>Indicates whether  the BOM Structure changes should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>The root node</xsd:documentation>
			<xsd:appinfo source="screenItem=N"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Reprint">
		<xsd:annotation>
			<xsd:documentation>Indicates whether  the amendment journal should be reprinted. (Y - Yes and N - No). If no value is supplied then a default of 'N' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PrintManufacturingUMQuantities">
		<xsd:annotation>
			<xsd:documentation>This is an option to print manufacturing unit of measure quantities instead of stocking unit of measure quantities. Valid entries are Y(Yes) or N(No). Default depends on your setup options.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="XslStylesheet">
		<xsd:complexType/>
	</xsd:element>
</xsd:schema>

