Schemas/BOMQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     Schema for the Bill of Material Setup Query Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="BillOfMaterialOptions">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="General">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StructOnOffDateReq" type="xsd:string" minOccurs="0" />
              <xsd:element name="StructAmendJnlReq" type="xsd:string" minOccurs="0" />
              <xsd:element name="StructNarrReq" type="xsd:string" minOccurs="0" />
              <xsd:element name="StdNarrForOpsReq" type="xsd:string" minOccurs="0" />
              <xsd:element name="AltRoutingReq" type="xsd:string" minOccurs="0" />
              <xsd:element name="CompInclByJobNo" type="xsd:string" minOccurs="0" />
              <xsd:element name="SplitSubContrCosts" type="xsd:string" minOccurs="0" />
              <xsd:element name="ProgScrapReq" type="xsd:string" minOccurs="0" />
              <xsd:element name="UseFacCalForMoveTimes" type="xsd:string" minOccurs="0" />
              <xsd:element name="WarnAboutCostImplosion" type="xsd:string" minOccurs="0" />
              <xsd:element name="MaxDecInQtyPer" type="xsd:string" minOccurs="0" />
              <xsd:element name="DefOpMoveTime" type="xsd:string" minOccurs="0" />
              <xsd:element name="DefDescTimeUnits" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Sequencing">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StructSeqReq" type="xsd:string" minOccurs="0" />
              <xsd:element name="SeqKey" type="xsd:string" minOccurs="0" />
              <xsd:element name="DefSeqNum" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ABCosting">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AbCostingReq" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAbcUdf1" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAbcUdf2" type="xsd:string" minOccurs="0" />
              <xsd:element name="DescAbcUdf3" type="xsd:string" minOccurs="0" />
              <xsd:element name="UserDefinedNotes" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="EngineeringChangeControl">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StructRoutingArch" type="xsd:string" minOccurs="0" />
              <xsd:element name="SetToCurrRevRel" type="xsd:string" minOccurs="0" />
              <xsd:element name="StockControlLevel" type="xsd:string" minOccurs="0" />
              <xsd:element name="InitEcoStatus" type="xsd:string" minOccurs="0" />
              <xsd:element name="DefEccUser" type="xsd:string" minOccurs="0" />
              <xsd:element name="UdfRevision" type="xsd:string" minOccurs="0" />
              <xsd:element name="UdfRelease" type="xsd:string" minOccurs="0" />
              <xsd:element name="UdfRev" type="xsd:string" minOccurs="0" />
              <xsd:element name="UdfRel" type="xsd:string" minOccurs="0" />
              <xsd:element name="JobPromptRevRel" type="xsd:string" minOccurs="0" />
              <xsd:element name="PoPromptRevRel" type="xsd:string" minOccurs="0" />
              <xsd:element name="InvPromptRevRel" type="xsd:string" minOccurs="0" />
              <xsd:element name="SoPromptRevRel" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Numbering">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="EcoKeyType" type="xsd:string" minOccurs="0" />
              <xsd:element name="ECONumMethod" type="xsd:string" minOccurs="0" />
              <xsd:element name="NextEcoNumber" type="xsd:string" minOccurs="0" />
              <xsd:element name="RevKeyType" type="xsd:string" minOccurs="0" />
              <xsd:element name="RevNumMethod" type="xsd:string" minOccurs="0" />
              <xsd:element name="RelKeyType" type="xsd:string" minOccurs="0" />
              <xsd:element name="RelNumMethod" type="xsd:string" minOccurs="0" />
              <xsd:element name="AllowNonSequentialEntries" type="xsd:string" minOccurs="0" />
              <xsd:element name="IncrementRelWithinRev" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>