Schemas/CFGTOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema used for the Product Configurator Options Phase posting parameters
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostConfiguration">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element name="Parameters">
          <xsd:annotation>
            <xsd:documentation>This contains parameters.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:all>
              <xsd:element name="Function" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates in which direction you intend to proceed in the configuration. Possible values are N - Next or P - Previous. If not supplied this element defaults to N. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="P"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ConfigurationInstance">
                <xsd:annotation>
                  <xsd:documentation>The element indicates the instance of the configuration you are running. It is indicated by a unique number returned after the start phase of processing. This unique number is mandatory.The size of the field is a 8 character alphanumeric field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="8"/>
                    <xsd:maxLength value="8"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IgnoreWarnings" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates whether or not an operation or component must be rejected if there are any warnings. If not supplied it defaults to N. Valid values are N and Y.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ContinueIfLibraryInvalid" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is only required when processing a library. This element indicates how to continue after encountering an error in the library. The possible values are  Y - Continue with manual processing, L - Revert back to the library and N - do not continue processing the configuration. If not supplied this element defaults to Y. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="L"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeMandatoryItems" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates whether any mandatory components/operations which have been selected will be output. Possible values Y and N. If not supplied this element defaults to N. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
