Schemas/CMSQOL.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for Contact Management Query Organisation List
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="QueryList">
    <xsd:annotation>
      <xsd:documentation>This is the root element for the XML in</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Key">
          <xsd:annotation>
            <xsd:documentation>Parent element for FileName</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReturnAll">
                <xsd:annotation>
                  <xsd:documentation>This options allows the calling program to specify whether to return all files in a directory or not. Y/y = Yes, N/n = No..</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="y"/>
                    <xsd:enumeration value="n"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="FileName" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>This is the name of the file desired. If ReturnAll = Y, then this tag is ignored.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="PostList" type="xsd:anyURI" use="optional"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
