Schemas/CMSQRY.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Contact Management Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ContactId" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>If a value is provided in this element the contact matching the supplied contactid will be returned.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Customer">
		<xsd:annotation>
			<xsd:documentation>Allows for the activites to be filtered on Customer. The default is "A".</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Email" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>If a value is provided in this element the contact(s) matching the supplied Email will be returned.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:annotation>
			<xsd:documentation>This is the filer element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Customer" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FullName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>If a value is provided in this element the contact(s) matching the supplied FullName will be returned.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovernmentId" type="xsd:long">
		<xsd:annotation>
			<xsd:documentation>If a value is provided in this element the contact(s) matching the supplied GovernmentId will be returned.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncludeAllAddress">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the address infomation about the contact will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAllClassification">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the classification infomation about the contact will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAllDate">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the date(s) infomation about the contact will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAllEmail">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the email infomation about the contact will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAllHistory">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the history infomation about the contact will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAllMethod">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the contact methods infomation about the contact will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAllOrganization">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the organization infomation about the contact will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAllPersonal">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the personal infomation about the contact will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAllTelephone">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the telephone infomation about the contact will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAllUrl">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the url infomation about the contact will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeCaptions">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y', display friendly captions will be returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeOnlyAddressBook">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the addressbook infomation about the contact will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeOnlyIbfInfo">
		<xsd:annotation>
			<xsd:documentation>By setting the value to 'Y' all  the infomation required by the ibf system will be returned. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:annotation>
			<xsd:documentation>This is the key element. If this node is specified, then at  least one of the child nodes must be specified as well.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ReturnAll" minOccurs="0"/>
				<xsd:element ref="SearchString" minOccurs="0"/>
				<xsd:element ref="ContactId" minOccurs="0"/>
				<xsd:element ref="FullName" minOccurs="0"/>
				<xsd:element ref="GovernmentId" minOccurs="0"/>
				<xsd:element ref="Email" minOccurs="0"/>
				<xsd:element ref="Telephone" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:annotation>
			<xsd:documentation>This is the option element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IncludeOnlyAddressBook" minOccurs="0"/>
				<xsd:element ref="IncludeAllPersonal" minOccurs="0"/>
				<xsd:element ref="IncludeAllOrganization" minOccurs="0"/>
				<xsd:element ref="IncludeAllClassification" minOccurs="0"/>
				<xsd:element ref="IncludeAllMethod" minOccurs="0"/>
				<xsd:element ref="IncludeAllHistory" minOccurs="0"/>
				<xsd:element ref="IncludeAllAddress" minOccurs="0"/>
				<xsd:element ref="IncludeAllTelephone" minOccurs="0"/>
				<xsd:element ref="IncludeAllEmail" minOccurs="0"/>
				<xsd:element ref="IncludeAllDate" minOccurs="0"/>
				<xsd:element ref="IncludeAllUrl" minOccurs="0"/>
				<xsd:element ref="IncludeOnlyIbfInfo" minOccurs="0"/>
				<xsd:element ref="IncludeCaptions" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>This is the root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Key"/>
				<xsd:element ref="Option" minOccurs="0"/>
				<xsd:element ref="Filter" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReturnAll">
		<xsd:annotation>
			<xsd:documentation>This allows you to specify if you want all the activities to be returned regardless of the search options.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SearchString" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This allows you to specify a search string, the value will then be compared to various different fields from the contact record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Telephone" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>If a value is provided in this element the contact(s) matching the supplied Telephone will be returned.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
