Schemas/CMSQRO.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- 
     This is an example XSD instance to demonstrate
     use of the Contact Management Outlook Sync Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ContactId" type="xsd:string"/>
  <xsd:element name="FullName" type="xsd:string"/>
  <xsd:complexType name="KeyType">
    <xsd:sequence>
      <xsd:element ref="ReturnAll"/>
      <xsd:element ref="ContactId"/>
      <xsd:element ref="FullName"/>
      <xsd:element ref="OrgList"/>
      <xsd:element ref="SearchString"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OrgList" type="xsd:string"/>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Key" type="KeyType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReturnAll" type="xsd:string"/>
  <xsd:element name="SearchString" type="xsd:string"/>
</xsd:schema>
