Schemas/CMSQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Contact Management Query Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xsd:element name="ContactQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Contact" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PersonalInfo" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FullName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Title" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FirstName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MiddleName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Suffix" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PreferredName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PartnerName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Gender" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateOfBirth" type="xsd:string" minOccurs="0"/>
										<xsd:element name="GovernmentId" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PreferredLanguage" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="OrganizationInfo" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="JobTitle" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Department" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Office" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ManagerName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AssistantName" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ClassificationInfo" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ContactClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContactClassDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContactType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContactTypeDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContactCategory" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContactCategoryDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Territory" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TerritoryDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContactOwner" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContactOwnerName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContactStatus" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Suppliers" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Supplier" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="SupplierCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Customers" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Customer" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CustomerCode" type="xsd:string" minOccurs="0"/>
																<xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ContactMethodInfo" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ContactMethod" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DoNotPhone" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DoNotEmail" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DoNotSmsText" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DoNotFax" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DoNotPost" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DoNotBulkEmail" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DoNotBulkSmsText" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DoNotBulkFax" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DoNotBulkPost" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ContactHistoryInfo" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CreatedDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CreatedTime" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CreatedBy" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastChangedDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastChangedTime" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastChangedBy" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastContactDate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastContactTime" type="xsd:string" minOccurs="0"/>
										<xsd:element name="LastContactBy" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AddressList" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SingleAddress" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="AddressType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AddressDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Building" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Street" type="xsd:string" minOccurs="0"/>
													<xsd:element name="City" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Locality" type="xsd:string" minOccurs="0"/>
													<xsd:element name="State" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Country" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Zip" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AddressWorkHomeFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AddressPreferred" type="xsd:string" minOccurs="0"/>
													<xsd:element name="AddressPrivate" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PhoneList" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SinglePhone" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="PhoneType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PhoneDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
													<xsd:element name="TelephoneExtn" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PhoneWorkHomeFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PhonePreferred" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PhonePrivate" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="EmailList" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SingleEmail" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="EmailType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EmailDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Email" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EmailDisplayAs" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EmailWorkHomeFlag" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EmailPreferred" type="xsd:string" minOccurs="0"/>
													<xsd:element name="EmailPrivate" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DateList" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SingleDate" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="DateType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DateDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ContactDate" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Reminder" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ReminderDays" type="xsd:string" minOccurs="0"/>
													<xsd:element name="DatePrivate" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="UrlList" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SingleUrl" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="UrlType" type="xsd:string" minOccurs="0"/>
													<xsd:element name="UrlDescription" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Url" type="xsd:string" minOccurs="0"/>
													<xsd:element name="UrlPreferred" type="xsd:string" minOccurs="0"/>
													<xsd:element name="UrlPrivate" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ContactId" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:string"/>
			<xsd:attribute name="Language2" type="xsd:string"/>
			<xsd:attribute name="CssStyle" type="xsd:string"/>
			<xsd:attribute name="DecFormat" type="xsd:string"/>
			<xsd:attribute name="DateFormat" type="xsd:string"/>
			<xsd:attribute name="Role" type="xsd:string"/>
			<xsd:attribute name="Version" type="xsd:string"/>
			<xsd:attribute name="OperatorPrimaryRole" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
