Schemas/CMSTCD.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for Contact Management Delete Contact Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostContact">
    <xsd:annotation>
      <xsd:documentation>Root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Parameters">
          <xsd:annotation>
            <xsd:documentation>This element contains the parameter element.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ActionType" default="A">
                <xsd:annotation>
                  <xsd:documentation>This denotes the maintenance function against the entries i.e. D (Delete).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="C"/>
                    <xsd:enumeration value="D"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AlwaysApplyAll">
                <xsd:annotation>
                  <xsd:documentation>This element will default to "Y" until future use.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
