Schemas/CMSTCODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2013 SYSPRO Ltd.-->
<!-- 
     Schema for the Contact Management Post Contact Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PostContact">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Item">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FullName" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's full name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Title" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's title E.g. "Mr.", "Ms."</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="FirstName" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's fisrt name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="MiddleName" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's middle name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="LastName" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's last name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Suffix" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's suffix E.g. "Prof.", "Jr."</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PreferredName" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's name of preference</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PartnerName" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's partner's name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Gender">
								<xsd:annotation>
									<xsd:documentation>Contact's gender. M - Male, F - Female, U - Unknown/Not applicable</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="M"/>
										<xsd:enumeration value="F"/>
										<xsd:enumeration value="U"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DateOfBirth" type="xsd:date">
								<xsd:annotation>
									<xsd:documentation>Contact's date of birth</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="GovernmentId" type="xsd:long">
								<xsd:annotation>
									<xsd:documentation>Contact's identification number / passport number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Language" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's preferred communication language</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="JobTitle" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's job title or position</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Department" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>The department the contact works in</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Office" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's office name or number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Territory" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact's territory code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Property">
								<xsd:annotation>
									<xsd:documentation>Contact property. 0 - None, 1 - Red, 2 - Blue, 3 - Yellow, 4 - Green, 5 - Cyan, 6 - Magenta, 7 - White. Descriptions defined in CrmControl</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="0"/>
										<xsd:enumeration value="1"/>
										<xsd:enumeration value="2"/>
										<xsd:enumeration value="3"/>
										<xsd:enumeration value="4"/>
										<xsd:enumeration value="5"/>
										<xsd:enumeration value="6"/>
										<xsd:enumeration value="7"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ContactClass" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact class</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ContactType" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact type</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ContactCategory" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Contact category</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Influence">
								<xsd:annotation>
									<xsd:documentation>The level of inflluence the contact has in his organisation. 1 - Low, 3 - Medium-Low, 5 - Medium, 7 - Medium-High, 9 - High</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="1"/>
										<xsd:enumeration value="3"/>
										<xsd:enumeration value="5"/>
										<xsd:enumeration value="7"/>
										<xsd:enumeration value="9"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ContactStatus">
								<xsd:annotation>
									<xsd:documentation>Status of the contact. N - Normal, H - On Hold</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="H"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DefaultContact">
								<xsd:annotation>
									<xsd:documentation>Flag indicating if this is the default contact. Y - Default (dummy) contact.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ManagerName">
								<xsd:annotation>
									<xsd:documentation>Contact's manager's name</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="AssistantName">
								<xsd:annotation>
									<xsd:documentation>Contact's assistant's name</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="ContactMethod">
								<xsd:annotation>
									<xsd:documentation>Preferred contact method.   N - No preference, T - Telephone, E - Email, S - SMS/Text, F - Fax, P - Post</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="T"/>
										<xsd:enumeration value="E"/>
										<xsd:enumeration value="S"/>
										<xsd:enumeration value="F"/>
										<xsd:enumeration value="P"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ContactOwner">
								<xsd:annotation>
									<xsd:documentation>Operator code of person who has   
full authority to maintain Contact</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="Comment" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Comment to describe Contact</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DoNotPhone">
								<xsd:annotation>
									<xsd:documentation>Do not phone        
Y - No phone allowed</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DoNotEmail">
								<xsd:annotation>
									<xsd:documentation>Do not email        
Y - No email allowed</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DoNotSms">
								<xsd:annotation>
									<xsd:documentation>Do not SMS/Text        
Y - No SMS/Text allowed</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DoNotFax">
								<xsd:annotation>
									<xsd:documentation>Do not fax        
Y - No fax allowed</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DoNotPost">
								<xsd:annotation>
									<xsd:documentation>Do not post        
Y - No post allowed</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DoNotBulkEmail">
								<xsd:annotation>
									<xsd:documentation>Do not bulk email        
Y - No bulk email allowed</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DoNotBulkSms">
								<xsd:annotation>
									<xsd:documentation>Do not bulk SMS/Text        
Y - No bulk SMS/Text allowed</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DoNotBulkFax">
								<xsd:annotation>
									<xsd:documentation>Do not bulk fax        
Y - No bulk fax allowed</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DoNotBulkPost">
								<xsd:annotation>
									<xsd:documentation>Do not bulk Post        
Y - No bulk post allowed</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Customers">
								<xsd:annotation>
									<xsd:documentation>List of Customers this contact belongs to. 1) If the parameter "OrganizationList" is "A" then the Customers supplied here will be added to any existing customers. 2) If the parameter "OrganizationList" is "R" then all the Customers for this contact will be deleted and the list provided here will be added. If no customers are supplied, any existing ones will be deleted.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Customer" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Customer code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Suppliers">
								<xsd:annotation>
									<xsd:documentation>List of Suppliers this contact belongs to. 1) If the parameter "OrganizationList" is "A" then the Suppliers listed here will be added to any existing suppliers. 2) If the parameter "OrganizationList" is "R" then all the Suppliers for this contact will be deleted and the list provided here will be added. If no Suppliers are listed, any existing ones will be deleted.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Supplier" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Supplier code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Accounts">
								<xsd:annotation>
									<xsd:documentation>List of Accounts this contact belongs to. 1) If the parameter "OrganizationList" is "A" then the Accounts supplied here will be added to any existing accounts. 2) If the parameter "OrganizationList" is "R" then all the Accounts for this contact will be deleted and the list provided here will be added. If no accounts are supplied, any existing ones will be deleted.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Account" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Account code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AddressList">
								<xsd:annotation>
									<xsd:documentation>List of contact addresses</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SingleAddress" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Single address for contact</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="AddressType">
														<xsd:annotation>
															<xsd:documentation>Address type                
Predetermined items include:
1 - Physical address (work) 
2 - Postal address (work)   
3 - Physical address (Home) 
4 - Postal address (Home)   
50+ user-defined addresses</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:byte">
																<xsd:enumeration value="1"/>
																<xsd:enumeration value="2"/>
																<xsd:enumeration value="3"/>
																<xsd:enumeration value="4"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="AddressDescription" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Address description</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Building" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Building</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Street" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Street</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="City" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>City</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Locality">
														<xsd:annotation>
															<xsd:documentation>Locality, Suburb or Other City</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType/>
													</xsd:element>
													<xsd:element name="State" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>State, Province or Region</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Country" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Country</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Zip">
														<xsd:annotation>
															<xsd:documentation>Zip or Postal code</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:short">
																<xsd:enumeration value="2128"/>
																<xsd:enumeration value="2156"/>
																<xsd:enumeration value="2170"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="AddressWorkHomeFlag">
														<xsd:annotation>
															<xsd:documentation>Address usage flag
W - Work    
H - Home</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="H"/>
																<xsd:enumeration value="W"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="AddressPreferred">
														<xsd:annotation>
															<xsd:documentation>Preferred address            
Y - Yes                      
(Only 1 from the list is 'Y')</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="N"/>
																<xsd:enumeration value="Y"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="AddressPrivate">
														<xsd:annotation>
															<xsd:documentation>Private flag                   
Y - Yes                        
Depends on Contact Private flag</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="N"/>
																<xsd:enumeration value="Y"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PhoneList">
								<xsd:annotation>
									<xsd:documentation>List of contact telephone numbers</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SinglePhone" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Single phone number for contact</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TelephoneType">
														<xsd:annotation>
															<xsd:documentation>Telephone type                
Predefined codes include:     
1 - Work phone number       2 - Home phone number
3 - Mobile/cell number
4 - Work fax number
5 - Home fax number
6 - Pager number
7 - Assistants phone number 8 - Managers phone number 9 - Partners phone number 50+ user-defined phone numbers</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:byte">
																<xsd:enumeration value="1"/>
																<xsd:enumeration value="2"/>
																<xsd:enumeration value="3"/>
																<xsd:enumeration value="4"/>
																<xsd:enumeration value="7"/>
																<xsd:enumeration value="8"/>
																<xsd:enumeration value="9"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="PhoneDescription" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Telephone number description</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Telephone">
														<xsd:annotation>
															<xsd:documentation>Telephone number</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="555-1111"/>
																<xsd:enumeration value="555-2222"/>
																<xsd:enumeration value="555-3333"/>
																<xsd:enumeration value="555-4444"/>
																<xsd:enumeration value="555-7777"/>
																<xsd:enumeration value="555-8888"/>
																<xsd:enumeration value="555-9999"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="TelephoneExtn" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Telephone extension number</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:short">
																<xsd:enumeration value="1004"/>
																<xsd:enumeration value="1041"/>
																<xsd:enumeration value="1234"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="PhoneWorkHomeFlag" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Telephone usage
W - Work
H - Home</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="H"/>
																<xsd:enumeration value="W"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="PhonePreferred">
														<xsd:annotation>
															<xsd:documentation>Preferred Telephone number Y - Yes
(Only 1 from the list is 'Y')</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="N"/>
																<xsd:enumeration value="Y"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="PhonePrivate">
														<xsd:annotation>
															<xsd:documentation>Private flag                   
Y - Yes                        
Depends on Contact Private flag</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="N"/>
																<xsd:enumeration value="Y"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="EmailList">
								<xsd:annotation>
									<xsd:documentation>List of contact email addresses</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SingleEmail" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Single email address for contact </xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="EmailType">
														<xsd:annotation>
															<xsd:documentation>Email type                        
Predefined items include:
1 - Work email      
2 - Home email 
3 - IM address (Instant Messenger)
7 - Assistants email
8 - Managers emai
9 - Partners email
50+ user defined</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:byte">
																<xsd:enumeration value="1"/>
																<xsd:enumeration value="2"/>
																<xsd:enumeration value="7"/>
																<xsd:enumeration value="8"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="EmailDescription" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Email address description</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Email">
														<xsd:annotation>
															<xsd:documentation>Email address</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="eric.black@syspro.com"/>
																<xsd:enumeration value="john.smith.home@hotmail.com"/>
																<xsd:enumeration value="john.smith@syspro.com"/>
																<xsd:enumeration value="kelly.jones@syspro.com"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="EmailDisplayAs" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>'Display as' description     
Blank means use email address</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="EmailWorkHomeFlag">
														<xsd:annotation>
															<xsd:documentation>Email usage
W - Work   
H - Home</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="H"/>
																<xsd:enumeration value="W"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="EmailPreferred">
														<xsd:annotation>
															<xsd:documentation>Preferred Email Address      
Y - Yes                      
(Only 1 from the list is 'Y')</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="N"/>
																<xsd:enumeration value="Y"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="EmailPrivate">
														<xsd:annotation>
															<xsd:documentation>Private flag                    
Y - Yes                         
Depends on Contact Private flag</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="Y"/>
																<xsd:enumeration value="N"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DateList">
								<xsd:annotation>
									<xsd:documentation>List of contact dates</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SingleDate" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Single date for contact</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="DateType">
														<xsd:annotation>
															<xsd:documentation>Date type
Predefined dates include:
1 - Birthday
2 - Anniversary
7 - Assistants Birthday
8 - Managers Birthday
9 - Partners Birthday
50+ user-defined dates</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:byte">
																<xsd:enumeration value="1"/>
																<xsd:enumeration value="2"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="DateDescription">
														<xsd:annotation>
															<xsd:documentation>Date description</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="Anniversary"/>
																<xsd:enumeration value="Birthday"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="ContactDate">
														<xsd:annotation>
															<xsd:documentation>Contact date</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:date">
																<xsd:enumeration value="1976-08-24"/>
																<xsd:enumeration value="2006-03-03"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="Reminder">
														<xsd:annotation>
															<xsd:documentation>Reminder flag               
Y - should be reminded on or
before annual anniversary   </xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="Y"/>
																<xsd:enumeration value="N"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="DatePrivate">
														<xsd:annotation>
															<xsd:documentation>Private flag                   
Y - Yes                        
Depends on Contact Private flag</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="Y"/>
																<xsd:enumeration value="N"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="UrlList">
								<xsd:annotation>
									<xsd:documentation>List of contact URL addresses</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SingleUrl" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Single URL for contact</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="UrlType">
														<xsd:annotation>
															<xsd:documentation>URL type
Predefined include:
1 - Web site
2 - FTP site
3 - Web site (Home)
4 - FTP site (Home)
5 - Weather site URL
6 - Map location URL
50+ user-defined URLs</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:byte">
																<xsd:enumeration value="1"/>
																<xsd:enumeration value="3"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="UrlDescription" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>URL description</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Url">
														<xsd:annotation>
															<xsd:documentation>URL address</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="www.smith.com"/>
																<xsd:enumeration value="www.syspro.com"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="UrlPreferred">
														<xsd:annotation>
															<xsd:documentation>Preferred URL                
Y - Yes                      
(Only 1 from the list is 'Y')</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="N"/>
																<xsd:enumeration value="Y"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="UrlPrivate">
														<xsd:annotation>
															<xsd:documentation>Private flag                   
Y - Yes                        
Depends on Contact Private flag</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:enumeration value="Y"/>
																<xsd:enumeration value="N"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="eSignature" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>If required, this element must contain a GUID, in the format {36303032-3330-3031-3038-32343463433}, for the eSignature system to accept the transaction as having been authenticated. It is up to the developer to have requested a password to protect the transaction. An example is that a GUID associated with the act of entering a valid password could be obtained. The GUID would then be passed to the eSignature system where it is stored.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="38"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
