Schemas/COMFGB.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!-- Schema for the Global Search business object-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	
  <xsd:element name="NoXml">		
    <xsd:annotation>			
      <xsd:documentation>Inicates if the search data must be returned in and xml or ReportControl format. 0 - Xml, 1 - ReportControl</xsd:documentation>		
    </xsd:annotation>		
    <xsd:simpleType>			
      <xsd:restriction base="xsd:string">				
        <xsd:enumeration value="0"/>				
        <xsd:enumeration value="1"/>			
      </xsd:restriction>		
    </xsd:simpleType>	
  </xsd:element>	
  <xsd:element name="Query">		
    <xsd:annotation>			
      <xsd:documentation>This is the root node</xsd:documentation>		
    </xsd:annotation>		<xsd:complexType>			
    <xsd:sequence>				
      <xsd:element ref="NoXml" minOccurs="0"/>				
      <xsd:element ref="Value" minOccurs="0"/>			
    </xsd:sequence>		
  </xsd:complexType>	
  </xsd:element>	
  <xsd:element name="Value" type="xsd:string">		
  <xsd:annotation>			
    <xsd:documentation>The value to be searched for.</xsd:documentation>		
  </xsd:annotation>	
  </xsd:element></xsd:schema>