Schemas/COMFCH.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for Generic Fetch method
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Fetch">
		<xsd:annotation>
			<xsd:documentation>The root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:all>
				<xsd:element ref="TableName"/>
				<xsd:element ref="Key"/>
				<xsd:element ref="OptionalKey1" minOccurs="0"/>
				<xsd:element ref="OptionalKey2" minOccurs="0"/>
				<xsd:element ref="OptionalKey3" minOccurs="0"/>
				<xsd:element ref="OptionalKey4" minOccurs="0"/>
				<xsd:element ref="OptionalKey5" minOccurs="0"/>
				<xsd:element ref="OptionalKey6" minOccurs="0"/>
				<xsd:element ref="OptionalKey7" minOccurs="0"/>
				<xsd:element ref="OptionalKey8" minOccurs="0"/>
				<xsd:element ref="OptionalKey9" minOccurs="0"/>
				<xsd:element ref="OptionalKey10" minOccurs="0"/>
				<xsd:element ref="OptionalKey11" minOccurs="0"/>
				<xsd:element ref="OptionalKey12" minOccurs="0"/>
				<xsd:element name="FullKeyProvided" default="N" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Allows you to provide a full key that includes zero and space filling into the Key element.  Vaild values are Y- Yes, N -No the default is N</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
							<xsd:enumeration value="N"/>
							<xsd:enumeration value="Y"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:annotation>
			<xsd:documentation>Key of the row to be returned. This is mandatory.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey1">
		<xsd:annotation>
			<xsd:documentation>The first optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey10">
		<xsd:annotation>
			<xsd:documentation>The tenth optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey11">
		<xsd:annotation>
			<xsd:documentation>The eleventh optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey12">
		<xsd:annotation>
			<xsd:documentation>The twelfth optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey2">
		<xsd:annotation>
			<xsd:documentation>The second optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey3">
		<xsd:annotation>
			<xsd:documentation>The third optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey4">
		<xsd:annotation>
			<xsd:documentation>The fourth optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey5">
		<xsd:annotation>
			<xsd:documentation>The fifth optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey6">
		<xsd:annotation>
			<xsd:documentation>The sixth optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey7">
		<xsd:annotation>
			<xsd:documentation>The seventh optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey8">
		<xsd:annotation>
			<xsd:documentation>The eighth optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OptionalKey9">
		<xsd:annotation>
			<xsd:documentation>The ninth optional key for the row to be returned</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TableName">
		<xsd:annotation>
			<xsd:documentation>The table name of the table to be accessed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
