Schemas/COMQCOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the List of Companies Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Companies">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompanyId" type="xsd:string"/>
							<xsd:element name="CompanyName" type="xsd:string"/>
							<xsd:element name="DatabaseFormat" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>The type of database the company utilises, "C-ISAM" or "SQL".</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SysproAnalytics" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>"Y" if SYSPRO Analytics is licensed for this company.s</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AnalyticsViewer" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>The number of Analytics Viewer seats licensed.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CompanyVersion" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>The Version of the company, for example "6.0"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CompanyIssue" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>The Issue of the company, for example "009" or "010".</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CompanyServicePack" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>The company's service pack.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SystemInfo">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LicensedUsers" type="xsd:string"/>
							<xsd:element name="CurrentUsers" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
