Schemas/COMQEXOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Executive View Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ExecutiveViewQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress"/>
              <xsd:element name="OperatorLocation"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BankBalance">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BankItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Bank" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="CbStmtBal1" type="xsd:string"/>
                    <xsd:element name="CbStmtBal2" type="xsd:string"/>
                    <xsd:element name="CbStmtBal3" type="xsd:string"/>
                    <xsd:element name="CbStmtBalLoc1" type="xsd:string"/>
                    <xsd:element name="CbStmtBalLoc2" type="xsd:string"/>
                    <xsd:element name="CbStmtBalLoc3" type="xsd:string"/>
                    <xsd:element name="CbCurBal1" type="xsd:string"/>
                    <xsd:element name="CbCurBal2" type="xsd:string"/>
                    <xsd:element name="CbCurBal3" type="xsd:string"/>
                    <xsd:element name="CbCurBalLoc1" type="xsd:string"/>
                    <xsd:element name="CbCurBalLoc2" type="xsd:string"/>
                    <xsd:element name="CbCurBalLoc3" type="xsd:string"/>
                    <xsd:element name="Currency" type="xsd:string"/>
                    <xsd:element name="BuyExchangeRate" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ApBalance">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CurBalance1" type="xsd:string"/>
              <xsd:element name="CurBalance2" type="xsd:string"/>
              <xsd:element name="CurBalance3" type="xsd:string"/>
              <xsd:element name="OpeningBalance1" type="xsd:string"/>
              <xsd:element name="OpeningBalance2" type="xsd:string"/>
              <xsd:element name="OpeningBalance3" type="xsd:string"/>
              <xsd:element name="MtdInvoices1" type="xsd:string"/>
              <xsd:element name="MtdInvoices2" type="xsd:string"/>
              <xsd:element name="MtdInvoices3" type="xsd:string"/>
              <xsd:element name="MtdDebit1" type="xsd:string"/>
              <xsd:element name="MtdDebit2" type="xsd:string"/>
              <xsd:element name="MtdDebit3" type="xsd:string"/>
              <xsd:element name="MtdCredit1" type="xsd:string"/>
              <xsd:element name="MtdCredit2" type="xsd:string"/>
              <xsd:element name="MtdCredit3" type="xsd:string"/>
              <xsd:element name="MtdAdjustment1" type="xsd:string"/>
              <xsd:element name="MtdAdjustment2" type="xsd:string"/>
              <xsd:element name="MtdAdjustment3" type="xsd:string"/>
              <xsd:element name="MtdDisburse1" type="xsd:string"/>
              <xsd:element name="MtdDisburse2" type="xsd:string"/>
              <xsd:element name="MtdDisburse3" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ArBalance">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ArBalance1" type="xsd:string"/>
              <xsd:element name="ArBalance2" type="xsd:string"/>
              <xsd:element name="ArBalance3" type="xsd:string"/>
              <xsd:element name="MtdTax1" type="xsd:string"/>
              <xsd:element name="MtdTax2" type="xsd:string"/>
              <xsd:element name="MtdTax3" type="xsd:string"/>
              <xsd:element name="MtdIbt1" type="xsd:string"/>
              <xsd:element name="MtdIbt2" type="xsd:string"/>
              <xsd:element name="MtdIb3" type="xsd:string"/>
              <xsd:element name="MtdAdjustments1" type="xsd:string"/>
              <xsd:element name="MtdAdjustments2" type="xsd:string"/>
              <xsd:element name="MtdAdjustments3" type="xsd:string"/>
              <xsd:element name="MtdDiscounts1" type="xsd:string"/>
              <xsd:element name="MtdDiscounts2" type="xsd:string"/>
              <xsd:element name="MtdDiscounts3" type="xsd:string"/>
              <xsd:element name="MtdDebits1" type="xsd:string"/>
              <xsd:element name="MtdDebits2" type="xsd:string"/>
              <xsd:element name="MtdDebits3" type="xsd:string"/>
              <xsd:element name="MtdPayments1" type="xsd:string"/>
              <xsd:element name="MtdPayments2" type="xsd:string"/>
              <xsd:element name="MtdPayments3" type="xsd:string"/>
              <xsd:element name="MtdCredits1" type="xsd:string"/>
              <xsd:element name="MtdCredits2" type="xsd:string"/>
              <xsd:element name="MtdCredits3" type="xsd:string"/>
              <xsd:element name="OpeningBalance1" type="xsd:string"/>
              <xsd:element name="OpeningBalance2" type="xsd:string"/>
              <xsd:element name="OpeningBalance3" type="xsd:string"/>
              <xsd:element name="MtdSalesInvoiced1" type="xsd:string"/>
              <xsd:element name="MtdSalesInvoiced2" type="xsd:string"/>
              <xsd:element name="MtdSalesInvoiced3" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="InventoryValuation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WarehouseItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Warehouse" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="WarehouseValueCur" type="xsd:string"/>
                    <xsd:element name="WarehouseValuePrev1" type="xsd:string"/>
                    <xsd:element name="WarehouseValuePrev2" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="WipValuation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WipValueCur" type="xsd:string"/>
              <xsd:element name="WipValuePrev1" type="xsd:string"/>
              <xsd:element name="WipValuePrev2" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="OrdersTaken">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ThisWeek">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Added" type="xsd:string"/>
                    <xsd:element name="Changed" type="xsd:string"/>
                    <xsd:element name="Cancelled" type="xsd:string"/>
                  </xsd:sequence>
                  <xsd:attribute name="Top" type="xsd:string" use="required"/>
                  <xsd:attribute name="Neg" type="xsd:string" use="required"/>
                  <xsd:attribute name="FromDate" type="xsd:date" use="required"/>
                  <xsd:attribute name="ToDate" type="xsd:date" use="required"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Yesterday">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Added" type="xsd:string"/>
                    <xsd:element name="Changed" type="xsd:string"/>
                    <xsd:element name="Cancelled" type="xsd:string"/>
                  </xsd:sequence>
                  <xsd:attribute name="Top" type="xsd:string" use="required"/>
                  <xsd:attribute name="Neg" type="xsd:string" use="required"/>
                  <xsd:attribute name="FromDate" type="xsd:date" use="required"/>
                  <xsd:attribute name="ToDate" type="xsd:date" use="required"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Today">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Added" type="xsd:string"/>
                    <xsd:element name="Changed" type="xsd:string"/>
                    <xsd:element name="Cancelled" type="xsd:string"/>
                  </xsd:sequence>
                  <xsd:attribute name="Top" type="xsd:string" use="required"/>
                  <xsd:attribute name="Neg" type="xsd:string" use="required"/>
                  <xsd:attribute name="FromDate" type="xsd:date" use="required"/>
                  <xsd:attribute name="ToDate" type="xsd:date" use="required"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="Top" type="xsd:string" use="required"/>
            <xsd:attribute name="FromDate" type="xsd:string" use="required"/>
            <xsd:attribute name="ToDate" type="xsd:string" use="required"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="LostSales">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Today">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="FromDate" type="xsd:date" use="required"/>
                      <xsd:attribute name="ToDate" type="xsd:date" use="required"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Yesterday">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="FromDate" type="xsd:date" use="required"/>
                      <xsd:attribute name="ToDate" type="xsd:date" use="required"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ThisWeek">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="FromDate" type="xsd:date" use="required"/>
                      <xsd:attribute name="ToDate" type="xsd:date" use="required"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="Top" type="xsd:string" use="required"/>
            <xsd:attribute name="FromDate" type="xsd:string" use="required"/>
            <xsd:attribute name="ToDate" type="xsd:string" use="required"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PurchaseOrderValues">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="Value">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="xsd:string">
                        <xsd:attribute name="Scale" type="xsd:string" use="optional"/>
                        <xsd:attribute name="NegSales" type="xsd:string" use="optional"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="Period" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SalesOrderValues">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="Value">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="xsd:string">
                        <xsd:attribute name="Scale" type="xsd:string" use="optional"/>
                        <xsd:attribute name="NegSales" type="xsd:string" use="optional"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="Period" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SOAgedValues">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="Value" type="xsd:string"/>
                <xsd:element name="Period" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SalesByProductClass">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CurrentMonth" type="xsd:string"/>
              <xsd:element name="DateLastUpdate" type="xsd:string"/>
              <xsd:element name="SalesByMonth">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Month" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Actual" type="xsd:string"/>
                          <xsd:element name="Budget" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="MonthToDate">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Sales" type="xsd:string"/>
                    <xsd:element name="Cost" type="xsd:string"/>
                    <xsd:element name="Quantity" type="xsd:string"/>
                    <xsd:element name="Mass" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="PreviousMonth">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Sales" type="xsd:string"/>
                    <xsd:element name="Cost" type="xsd:string"/>
                    <xsd:element name="Quantity" type="xsd:string"/>
                    <xsd:element name="Mass" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="YearToDate">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Sales" type="xsd:string"/>
                    <xsd:element name="Cost" type="xsd:string"/>
                    <xsd:element name="Quantity" type="xsd:string"/>
                    <xsd:element name="Mass" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
