Schemas/COMQOSOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for the COM Retrieve operator security details Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Operators">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Row">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Operator" type="xsd:string"/>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="NetworkUserName" type="xsd:string"/>
                    <xsd:element name="Location" type="xsd:string"/>
                    <xsd:element name="Email" type="xsd:string"/>
                    <xsd:element name="OperatorLockedOut" type="xsd:string"/>
                    <xsd:element name="PasswordRetrys" type="xsd:string"/>
                    <xsd:element name="LastLoginDate" type="xsd:string"/>
                    <xsd:element name="LastLoginTime" type="xsd:string"/>
                    <xsd:element name="ConcurrentAccess" type="xsd:string"/>
                    <xsd:element name="LoginOverride" type="xsd:string"/>
                    <xsd:element name="PrimaryGroup">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="GroupCode" type="xsd:string"/>
                          <xsd:element name="GroupName" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Password">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Expires" type="xsd:string"/>
                          <xsd:element name="HasPassword" type="xsd:string"/>
                          <xsd:element name="ChangeNextLogin" type="xsd:string"/>
                          <xsd:element name="PassExpiry" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ContactDetail">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="FullName" type="xsd:string"/>
                          <xsd:element name="FirstName" type="xsd:string"/>
                          <xsd:element name="LastName" type="xsd:string"/>
                          <xsd:element name="Department" type="xsd:string"/>
                          <xsd:element name="JobTitle" type="xsd:string"/>
                          <xsd:element name="Office" type="xsd:string"/>
                          <xsd:element name="Telephone" type="xsd:string"/>
                          <xsd:element name="TelephoneExtn" type="xsd:string"/>
                          <xsd:element name="ManagerName" type="xsd:string"/>
                          <xsd:element name="ManagerTelephone" type="xsd:string"/>
                          <xsd:element name="AssistantName" type="xsd:string"/>
                          <xsd:element name="AssistantTelephone" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
