Schemas/COMQSC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for the COM Get Schedule Files on Server Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="FileName">
    <xsd:annotation>
      <xsd:documentation>This is the name of the file that must be returned and is only required when FileType is RI or SR.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FileType">
    <xsd:annotation>
      <xsd:documentation>Should contain the File type for the file that must be returned. SC - Schedule File, ST - StoreFile, RI - Report Info, SR - SavedReport</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="2"/>
        <xsd:enumeration value="SC"/>
        <xsd:enumeration value="ST"/>
        <xsd:enumeration value="RI"/>
        <xsd:enumeration value="SR"/>
        <xsd:enumeration value="LL"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This is the key child element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="FileType"/>
        <xsd:element ref="FileName" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
