Schemas/COMQIB.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for Message Inbox Query Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="Option">
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="IncludeMessagesRead" minOccurs="0"/>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>The root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Option" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IncludeMessagesRead" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include messages that have already been read ? (N - No, Y - Yes)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="XslStylesheet" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The XSL Stylesheet to be used</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
