Schemas/COMQSR.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for the Operator List Report Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>This is the root node</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Key">
          <xsd:annotation>
            <xsd:documentation>This is the key node</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="FileType">
                <xsd:annotation>
                  <xsd:documentation>This contains an enumeration that indicates the file to return on action to perform. AC - Gets the next available pending archive control record.  AX - gets the next document XML file.  SF - returns the schema file.  RF - returns the RPT file.  CT - checks the archive control table for a specific document type.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="2"/>
                    <xsd:maxLength value="2"/>
                    <xsd:enumeration value="AC"/>
                    <xsd:enumeration value="AX"/>
                    <xsd:enumeration value="SF"/>
                    <xsd:enumeration value="RF"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Option">
          <xsd:annotation>
            <xsd:documentation>This is the option node</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Id" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Used with the "AC" method in order to try and return the pending archive control record details for a specific ID.  This will usually be the ID that was generated by the print process that origionally kicked off the archive process.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Operator">
                <xsd:annotation>
                  <xsd:documentation>Used by the "AC" method in order to try and return the next available pending archive control record for a specific operator.  This will usually be the operator code that ran the print process that origionally kicked off the archive process.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Path">
                <xsd:annotation>
                  <xsd:documentation>Used fro the "AX", "SF" and  "RF" methods in order to indicate which file to return. When "AX" it will return the next XML file for the current pending archive control record.  When "SF" it will reutrn the schema file for the current pending archive and when "RF" it will return the template file for the current pending archive.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="DocumentType">
                <xsd:annotation>
                  <xsd:documentation>Used with the "CT" method in order to pass in the document type</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
