Schemas/COMQFMOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for the Custom Form Query Business Object.
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Key">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FormType" type="xsd:string"/>
							<xsd:element name="KeyField" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Field" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Sequence" type="xsd:unsignedByte"/>
							<xsd:element name="Name" type="xsd:string"/>
							<xsd:element name="Prompt" type="xsd:string"/>
							<xsd:element name="Type" type="xsd:string"/>
							<xsd:element name="Length" type="xsd:unsignedByte"/>
							<xsd:element name="Decimals" type="xsd:unsignedByte"/>
							<xsd:element name="Default" type="xsd:string"/>
							<xsd:element name="AllowNull" type="xsd:string"/>
							<xsd:element name="Value" type="xsd:string"/>
							<xsd:element name="ValueNull" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MandatoryFields">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AnyMandatoryFields" type="xsd:string"/>
							<xsd:element name="AllFieldsValid" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:unsignedByte" use="required"/>
			<xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
			<xsd:attribute name="DecFormat" type="xsd:unsignedByte" use="required"/>
			<xsd:attribute name="DateFormat" type="xsd:unsignedByte" use="required"/>
			<xsd:attribute name="Role" type="xsd:unsignedByte" use="required"/>
			<xsd:attribute name="Version" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
