Schemas/COMTOSDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for the COM Set operator security details Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Operator" type="xsd:string"/>
  <xsd:element name="ResetLockedOut" type="xsd:string"/>
  <xsd:element name="ResetPassword" type="xsd:string"/>
  <xsd:element name="NewPassword" type="xsd:string"/>
  <xsd:element name="ForceChangePassword" type="xsd:string"/>
  <xsd:element name="Row">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Operator"/>
        <xsd:element ref="ResetLockedOut" minOccurs="0"/>
        <xsd:element ref="ResetPassword" minOccurs="0"/>
        <xsd:element ref="NewPassword" minOccurs="0"/>
        <xsd:element ref="ForceChangePassword" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Operators">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Row" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PostOperatorSecurity">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Operators"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
