Schemas/COMT2EOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for Email Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Recipient" type="xsd:string"/>
  <xsd:complexType name="emailsenttoType">
    <xsd:sequence>
      <xsd:element ref="Recipient"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="postemaildocument">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="emailsentto" type="emailsenttoType"/>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
