Schemas/CSHQSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for the Query of the Cash Book setup options business object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AccPeriodsPerYear" type="xsd:byte"/>
  <xsd:element name="AskNotPerDetDistrEntry" type="xsd:string"/>
  <xsd:element name="AutoBankReconOfDeposits" type="xsd:string"/>
  <xsd:element name="CashBookOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="General" type="GeneralType"/>
        <xsd:element name="History" type="HistoryType"/>
        <xsd:element name="Tax" type="TaxType"/>
        <xsd:element name="PeriodCurrentYear" type="PeriodCurrentYearType"/>
        <xsd:element name="PeriodPreviousYear" type="PeriodPreviousYearType"/>
        <xsd:element name="CurrentMonth" type="CurrentMonthType"/>
        <xsd:element name="Information" type="InformationType"/>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
      <xsd:attribute name="Role" type="xsd:byte" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CbCurrDatePeriod1" type="xsd:string"/>
  <xsd:element name="CbCurrDatePeriod10" type="xsd:string"/>
  <xsd:element name="CbCurrDatePeriod11" type="xsd:string"/>
  <xsd:element name="CbCurrDatePeriod12" type="xsd:string"/>
  <xsd:element name="CbCurrDatePeriod13">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CbCurrDatePeriod2" type="xsd:string"/>
  <xsd:element name="CbCurrDatePeriod3" type="xsd:string"/>
  <xsd:element name="CbCurrDatePeriod4" type="xsd:string"/>
  <xsd:element name="CbCurrDatePeriod5" type="xsd:string"/>
  <xsd:element name="CbCurrDatePeriod6" type="xsd:string"/>
  <xsd:element name="CbCurrDatePeriod7" type="xsd:string"/>
  <xsd:element name="CbCurrDatePeriod8" type="xsd:string"/>
  <xsd:element name="CbCurrDatePeriod9" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod1" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod10" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod11" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod12" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod13" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod2" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod3" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod4" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod5" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod6" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod7" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod8" type="xsd:string"/>
  <xsd:element name="CbCurrFlagPeriod9" type="xsd:string"/>
  <xsd:element name="CbCurrentYear" type="xsd:short"/>
  <xsd:element name="CbNextJnlCurrYear" type="xsd:byte"/>
  <xsd:element name="CbNextJnlNextYear" type="xsd:byte"/>
  <xsd:element name="CbNextJnlPrevYear" type="xsd:byte"/>
  <xsd:element name="CbNextPayRegCurrYear" type="xsd:byte"/>
  <xsd:element name="CbNextPayRegNextYear" type="xsd:byte"/>
  <xsd:element name="CbNextPayRegPrevYear" type="xsd:byte"/>
  <xsd:element name="CbPrevDatePeriod1" type="xsd:string"/>
  <xsd:element name="CbPrevDatePeriod10" type="xsd:string"/>
  <xsd:element name="CbPrevDatePeriod11" type="xsd:string"/>
  <xsd:element name="CbPrevDatePeriod12" type="xsd:string"/>
  <xsd:element name="CbPrevDatePeriod13">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CbPrevDatePeriod2" type="xsd:string"/>
  <xsd:element name="CbPrevDatePeriod3" type="xsd:string"/>
  <xsd:element name="CbPrevDatePeriod4" type="xsd:string"/>
  <xsd:element name="CbPrevDatePeriod5" type="xsd:string"/>
  <xsd:element name="CbPrevDatePeriod6" type="xsd:string"/>
  <xsd:element name="CbPrevDatePeriod7" type="xsd:string"/>
  <xsd:element name="CbPrevDatePeriod8" type="xsd:string"/>
  <xsd:element name="CbPrevDatePeriod9" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod1" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod10" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod11" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod12" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod13" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod2" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod3" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod4" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod5" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod6" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod7" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod8" type="xsd:string"/>
  <xsd:element name="CbPrevFlagPeriod9" type="xsd:string"/>
  <xsd:complexType name="CurrentMonthType">
    <xsd:sequence>
      <xsd:element ref="CbCurrentYear"/>
      <xsd:element ref="GlCurrentMonth"/>
      <xsd:element ref="AccPeriodsPerYear"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DefTaxCodeCshDep" type="xsd:string"/>
  <xsd:element name="DefTaxCodeCshWith" type="xsd:string"/>
  <xsd:element name="DispBankBalInRecapScreen" type="xsd:string"/>
  <xsd:element name="ForeignCurrCashBookReq" type="xsd:string"/>
  <xsd:complexType name="GeneralType">
    <xsd:sequence>
      <xsd:element ref="ForeignCurrCashBookReq"/>
      <xsd:element ref="PermEntReqCb"/>
      <xsd:element ref="AskNotPerDetDistrEntry"/>
      <xsd:element ref="DispBankBalInRecapScreen"/>
      <xsd:element ref="AutoBankReconOfDeposits"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GlCurrentMonth" type="xsd:byte"/>
  <xsd:complexType name="HistoryType">
    <xsd:sequence>
      <xsd:element ref="MthsRetCbJnls"/>
      <xsd:element ref="MthsRetReconTrans"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformationType">
    <xsd:sequence>
      <xsd:element ref="CbNextJnlPrevYear"/>
      <xsd:element ref="CbNextJnlCurrYear"/>
      <xsd:element ref="CbNextJnlNextYear"/>
      <xsd:element ref="CbNextPayRegPrevYear"/>
      <xsd:element ref="CbNextPayRegCurrYear"/>
      <xsd:element ref="CbNextPayRegNextYear"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MthsRetCbJnls" type="xsd:byte"/>
  <xsd:element name="MthsRetReconTrans" type="xsd:byte"/>
  <xsd:complexType name="PeriodCurrentYearType">
    <xsd:sequence>
      <xsd:element ref="CbCurrDatePeriod1"/>
      <xsd:element ref="CbCurrFlagPeriod1"/>
      <xsd:element ref="CbCurrDatePeriod2"/>
      <xsd:element ref="CbCurrFlagPeriod2"/>
      <xsd:element ref="CbCurrDatePeriod3"/>
      <xsd:element ref="CbCurrFlagPeriod3"/>
      <xsd:element ref="CbCurrDatePeriod4"/>
      <xsd:element ref="CbCurrFlagPeriod4"/>
      <xsd:element ref="CbCurrDatePeriod5"/>
      <xsd:element ref="CbCurrFlagPeriod5"/>
      <xsd:element ref="CbCurrDatePeriod6"/>
      <xsd:element ref="CbCurrFlagPeriod6"/>
      <xsd:element ref="CbCurrDatePeriod7"/>
      <xsd:element ref="CbCurrFlagPeriod7"/>
      <xsd:element ref="CbCurrDatePeriod8"/>
      <xsd:element ref="CbCurrFlagPeriod8"/>
      <xsd:element ref="CbCurrDatePeriod9"/>
      <xsd:element ref="CbCurrFlagPeriod9"/>
      <xsd:element ref="CbCurrDatePeriod10"/>
      <xsd:element ref="CbCurrFlagPeriod10"/>
      <xsd:element ref="CbCurrDatePeriod11"/>
      <xsd:element ref="CbCurrFlagPeriod11"/>
      <xsd:element ref="CbCurrDatePeriod12"/>
      <xsd:element ref="CbCurrFlagPeriod12"/>
      <xsd:element ref="CbCurrDatePeriod13"/>
      <xsd:element ref="CbCurrFlagPeriod13"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeriodPreviousYearType">
    <xsd:sequence>
      <xsd:element ref="CbPrevDatePeriod1"/>
      <xsd:element ref="CbPrevFlagPeriod1"/>
      <xsd:element ref="CbPrevDatePeriod2"/>
      <xsd:element ref="CbPrevFlagPeriod2"/>
      <xsd:element ref="CbPrevDatePeriod3"/>
      <xsd:element ref="CbPrevFlagPeriod3"/>
      <xsd:element ref="CbPrevDatePeriod4"/>
      <xsd:element ref="CbPrevFlagPeriod4"/>
      <xsd:element ref="CbPrevDatePeriod5"/>
      <xsd:element ref="CbPrevFlagPeriod5"/>
      <xsd:element ref="CbPrevDatePeriod6"/>
      <xsd:element ref="CbPrevFlagPeriod6"/>
      <xsd:element ref="CbPrevDatePeriod7"/>
      <xsd:element ref="CbPrevFlagPeriod7"/>
      <xsd:element ref="CbPrevDatePeriod8"/>
      <xsd:element ref="CbPrevFlagPeriod8"/>
      <xsd:element ref="CbPrevDatePeriod9"/>
      <xsd:element ref="CbPrevFlagPeriod9"/>
      <xsd:element ref="CbPrevDatePeriod10"/>
      <xsd:element ref="CbPrevFlagPeriod10"/>
      <xsd:element ref="CbPrevDatePeriod11"/>
      <xsd:element ref="CbPrevFlagPeriod11"/>
      <xsd:element ref="CbPrevDatePeriod12"/>
      <xsd:element ref="CbPrevFlagPeriod12"/>
      <xsd:element ref="CbPrevDatePeriod13"/>
      <xsd:element ref="CbPrevFlagPeriod13"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PermEntReqCb" type="xsd:string"/>
  <xsd:complexType name="TaxType">
    <xsd:sequence>
      <xsd:element ref="TaxDistrMethod"/>
      <xsd:element ref="TaxDistrReqFor"/>
      <xsd:element ref="DefTaxCodeCshDep"/>
      <xsd:element ref="DefTaxCodeCshWith"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TaxDistrMethod" type="xsd:string"/>
  <xsd:element name="TaxDistrReqFor" type="xsd:string"/>
</xsd:schema>
