Schemas/GENQRXOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for the GL Budget vs Actual per Account Type Query Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="BudgetvsActual" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Ledgers">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Ledger" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LedgerHeader" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Year" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BudgetType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="BudgetDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Value" type="xsd:double" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Periods" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Period" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="PeriodNumber" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Value" type="xsd:double" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BudgetvsActual">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="HistoryType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAsset" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeCapital" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeExpense" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeLiability" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeStatistical" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeRevenue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludePeriodDetail" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeCurrentBudget" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeNextBudget" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="IncludeAlternateBudget8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ThisYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextYear" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltBudDesc1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltBudDesc2" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltBudDesc3" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltBudDesc4" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltBudDesc5" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltBudDesc6" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltBudDesc7" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AltBudDesc8" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportIndex1FilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportIndex1FilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportIndex2FilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportIndex2FilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlYearFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlYearFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPeriodFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPeriodFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlGroupFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlGroupFilterValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCodeFilterType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlCodeFilterValue" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Assets">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Ledgers" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Capital">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Ledgers" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Expense">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Ledgers" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Liability">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Ledgers" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Statistical">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Ledgers" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Revenue">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Ledgers" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
