Schemas/GENQCOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Query Commitment Status Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GlCommitmentQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GlCode" type="xsd:string"/>
        <xsd:element name="Description" type="xsd:string"/>
        <xsd:element name="TypeOfCommitment" type="xsd:string"/>
        <xsd:element name="CommitmentDate" type="xsd:string"/>
        <xsd:element name="CommitmentValue" type="xsd:string"/>
        <xsd:element name="CommitmentYear" type="xsd:string"/>
        <xsd:element name="CommitmentPeriod" type="xsd:string"/>
        <xsd:element name="PeriodValues">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Uncommitted" type="xsd:string"/>
              <xsd:element name="Committed" type="xsd:string"/>
              <xsd:element name="TotalCommitted" type="xsd:string"/>
              <xsd:element name="Actual" type="xsd:string"/>
              <xsd:element name="TotalCommitment" type="xsd:string"/>
              <xsd:element name="Budget" type="xsd:string"/>
              <xsd:element name="Available" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="YearToDateValues">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Uncommitted" type="xsd:string"/>
              <xsd:element name="Committed" type="xsd:string"/>
              <xsd:element name="TotalCommitted" type="xsd:string"/>
              <xsd:element name="Actual" type="xsd:string"/>
              <xsd:element name="TotalCommitment" type="xsd:string"/>
              <xsd:element name="Budget" type="xsd:string"/>
              <xsd:element name="Available" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="AnnualValues">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Uncommitted" type="xsd:string"/>
              <xsd:element name="Committed" type="xsd:string"/>
              <xsd:element name="TotalCommitted" type="xsd:string"/>
              <xsd:element name="Actual" type="xsd:string"/>
              <xsd:element name="TotalCommitment" type="xsd:string"/>
              <xsd:element name="Budget" type="xsd:string"/>
              <xsd:element name="Available" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="UnallocatedUncommitted" type="xsd:string"/>
        <xsd:element name="UnallocatedCommitted" type="xsd:string"/>
        <xsd:element name="UnallocatedFlag" type="xsd:string"/>
        <xsd:element name="UnderPerBudgetflag" type="xsd:string"/>
        <xsd:element name="UnderYtdBudgetflag" type="xsd:string"/>
        <xsd:element name="UnderAnnBudgetflag" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
