Schemas/GENQ20.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the GL Trial Balance Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AnalysisNumber">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of analysis number to returned. FilterType options - (A)All, (S) Single, (R) Range. Default to (A) All.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Code1">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of analysis code 1 to be returned. FilterType options - (A)All, (S) Single, (R) Range. Default to (A) All</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Code2">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of analysis code 2 to be returned. FilterType options - (A)All, (S) Single, (R) Range. Default to (A) All</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Code3">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of analysis code 3 to be returned. FilterType options - (A) All, (S) Single, (R) Range. Default to (A) All</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Code4">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of analysis code 4 to be returned. FilterType options - (A) All, (S) Single, (R) Range. Default to (A) All</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Code5">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of analysis code 5 to be returned. FilterType options - (A) All, (S) Single, (R) Range. Default to (A) All</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GlGroup"/>
				<xsd:element ref="GlCode"/>
				<xsd:element ref="ReportIndex1"/>
				<xsd:element ref="ReportIndex2"/>
				<xsd:element ref="AnalysisNumber"/>
				<xsd:element ref="Code1"/>
				<xsd:element ref="Code2"/>
				<xsd:element ref="Code3"/>
				<xsd:element ref="Code4"/>
				<xsd:element ref="Code5"/>
				<xsd:element ref="Period"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GlCode">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of ledger codes to b returned. FilterType options - (A) All, (S)Single, (R)Range. Default to (A) All.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=GenMaster;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GlGroup">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of GL Group to be returned. FilterType options - (A) All, (S) Single.Default to A (All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=GenGroups;A=All;S=Single"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeAnalysisEntries">
		<xsd:annotation>
			<xsd:documentation>Indicated whether you must include Analysis entries on the trial balance (N - No), Y - Yes). If no value is supplied then a default value of N will be assumed</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=GenGroups;A=All;S=Single"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAssets">
		<xsd:annotation>
			<xsd:documentation>Indicated whether you want to view asset type account on the trial balance (N - No), Y - Yes). If no value is supplied then a default value of 'Y' will be used</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeCapital">
		<xsd:annotation>
			<xsd:documentation>Indicated whether you want to view capital type account on the trial balance (N - No), Y - Yes). If no value is supplied then a default value of 'Y' will be used</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeExpense">
		<xsd:annotation>
			<xsd:documentation>Indicated whether you want to view expense type account on the trial balance (N - No), Y - Yes). If no value is supplied then a default value of 'Y' will be used</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeLiabilities">
		<xsd:annotation>
			<xsd:documentation>Indicated whether you want to view liability type account on the trial balance (N - No), Y - Yes). If no value is supplied then a default value of 'Y' will be used</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeRevenue">
		<xsd:annotation>
			<xsd:documentation>Indicated whether you want to view revenue type account on the trial balance (N - No), Y - Yes). If no value is supplied then a default value of 'Y' will be used</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeStatistical">
		<xsd:annotation>
			<xsd:documentation>Indicated whether you want to view statisticall type account on the trial balance (N - No), Y - Yes). If no value is supplied then a default value of 'N' will be used</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InterimClosingBalances">
		<xsd:annotation>
			<xsd:documentation>Indicates whether you want interim closing balances printed (Y - Yes;N - No). If no value is supplied then a default value of 'Y' will be used. This value is only applicable if you are printing a detailed report for the current year.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ListInactiveAccounts">
		<xsd:annotation>
			<xsd:documentation>Indicates whether inactive account should be included on the Trial Balance (Y - Yes;N - No). If no value is supplied then a default value of 'N' will assumed.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NewPagePerLedger">
		<xsd:annotation>
			<xsd:documentation>Indicates whether you should print each ledger on a new page. (N - No, Y - Yes). If no value is supplied then a default value of 'N' will be assumed. The value of this element will only be taken into account if you are running a detailed report.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ReportSequence"/>
				<xsd:element ref="ReportingCurrency"/>
				<xsd:element ref="ReportType"/>
				<xsd:element ref="YearSelection"/>
				<xsd:element ref="PriorYear"/>
				<xsd:element ref="PeriodSelection"/>
				<xsd:element ref="IncludeAssets"/>
				<xsd:element ref="IncludeCapital"/>
				<xsd:element ref="IncludeLiabilities"/>
				<xsd:element ref="IncludeExpense"/>
				<xsd:element ref="IncludeRevenue"/>
				<xsd:element ref="IncludeStatistical"/>
				<xsd:element ref="InterimClosingBalances"/>
				<xsd:element ref="ListInactiveAccounts"/>
				<xsd:element ref="SummaryPageCurrentPeriod"/>
				<xsd:element ref="NewPagePerLedger"/>
				<xsd:element ref="IncludeAnalysisEntries"/>
				<xsd:element ref="XslStyleSheet"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Period">
		<xsd:annotation>
			<xsd:documentation>Indicates for which period you want to view the trial balance. C - Current (Default), Y - Year to date     , or F - Filter must be used for range/single periods defined.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="R">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PeriodSelection">
		<xsd:annotation>
			<xsd:documentation>Indicates the period selection that you want to include in the Trial Balance (C - Current; Y - Year to date,F - Periodfilter). If no value is supplied then a default value of 'C' will be used. </xsd:documentation>
			<xsd:appinfo source="screenItem=Y;C=Current year;Y=Year to date;F=Filter"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PriorYear">
		<xsd:annotation>
			<xsd:documentation>If you have supplied a year selection of 'P' then you must supply a year for which you want to view the Trial Balance</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;"/>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
				<xsd:element ref="Filter"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReportIndex1">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of Report index 1 codes to b returned. FilterType options - (A) All, (S)Single, (R)Range. Default to (A) All.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;browse=GenReportIndex1;A=All;R=Range;S=Single"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReportIndex2">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of Report index 2  codes to b returned. FilterType options - (A) All, (S)Single, (R)Range. Default to (A) All.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;browse=GenReportIndex2;A=All;R=Range;S=Single;"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReportSequence">
		<xsd:annotation>
			<xsd:documentation>Defines the sequence in which the report will be printed. (L - Ledger Code; D - Description, G - Group; 1 - Report Index 1,2 - Report Index 2). If no value is supplied a default of 'L' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;L=Ledger;D=Description;G=Group;1=Report index 1;2=Report index 2"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="L"/>
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="G"/>
				<xsd:enumeration value="1"/>
				<xsd:enumeration value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ReportType">
		<xsd:annotation>
			<xsd:documentation>Indicates how much detail should be returned (S - Summary D - Detail). If no value is supplied then a default value of 'D' will be used.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;D=Detail;S=Summary"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="S"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ReportingCurrency">
		<xsd:annotation>
			<xsd:documentation>Indicates in what currency the report will be run. The currency selected must be a valid alternate reporting currency. If no value is supplied then the local currency will be used as a default.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=TblCurrency"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SummaryPageCurrentPeriod">
		<xsd:annotation>
			<xsd:documentation>Indicates whether a summary must be supplied for the current period (Y - Yes, N - No). If no value is supplied then a default value of 'Y' will be assumed. The value of this element will only be taken into account if you are printing a detailed report for the current year.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;N=No;Y=Yes"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="XslStyleSheet">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="YearSelection">
		<xsd:annotation>
			<xsd:documentation>Indicates for what year you want to view the trial balance (C - Current Year, P - Previous Year). If no value is supplied then a default value of 'C' will be used. If you have selected to print for a previous year (P) then you must specify the year using the PriorYear element.</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;C=Current year;P=Previous year"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="P"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
