Schemas/GENQGLOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the GL Validate Ledger Code Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GLStructureQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="LedgerDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LedgerCode" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="AccountType" type="xsd:string"/>
              <xsd:element name="GlGroup" type="xsd:string"/>
              <xsd:element name="ExpenseType" type="xsd:string"/>
              <xsd:element name="ControlAccFlag" type="xsd:string"/>
              <xsd:element name="AltCurIndicator" type="xsd:string"/>
              <xsd:element name="BudgetMethod" type="xsd:string"/>
              <xsd:element name="TaxCode" type="xsd:string"/>
              <xsd:element name="IntegrationMethod" type="xsd:string"/>
              <xsd:element name="Tax2Code" type="xsd:string"/>
              <xsd:element name="RevalCategory" type="xsd:string"/>
              <xsd:element name="GlUnitOfMeasure" type="xsd:string"/>
              <xsd:element name="ProcessTypes" type="xsd:string"/>
              <xsd:element name="AccountPassword" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
