Schemas/GENQRX.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for the GL Budget vs Actual per Account Type Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		
	<xsd:complexType name="GlCodeType">
		<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
		<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="GlGroupType">
		<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
		<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="GlPeriodType">
		<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
		<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="GlYearType">
		<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
		<xsd:attribute name="FilterValue" type="xsd:short" use="required"/>
	</xsd:complexType>
	<xsd:element name="HistoryType" type="xsd:string"/>
	<xsd:element name="IncludeAlternateBudget1" type="xsd:string"/>
	<xsd:element name="IncludeAlternateBudget2" type="xsd:string"/>
	<xsd:element name="IncludeAlternateBudget3" type="xsd:string"/>
	<xsd:element name="IncludeAlternateBudget4" type="xsd:string"/>
	<xsd:element name="IncludeAlternateBudget5" type="xsd:string"/>
	<xsd:element name="IncludeAlternateBudget6" type="xsd:string"/>
	<xsd:element name="IncludeAlternateBudget7" type="xsd:string"/>
	<xsd:element name="IncludeAlternateBudget8" type="xsd:string"/>
	<xsd:element name="IncludeAsset" type="xsd:string"/>
	<xsd:element name="IncludeCapital" type="xsd:string"/>
	<xsd:element name="IncludeCurrentBudget" type="xsd:string"/>
	<xsd:element name="IncludeExpense" type="xsd:string"/>
	<xsd:element name="IncludeLiability" type="xsd:string"/>
	<xsd:element name="IncludeNextBudget" type="xsd:string"/>
	<xsd:element name="IncludePeriodDetail" type="xsd:string"/>
	<xsd:element name="IncludeRevenue" type="xsd:string"/>
	<xsd:element name="IncludeStatistical" type="xsd:string"/>
	<xsd:complexType name="OptionType">
		<xsd:sequence>
			<xsd:element ref="HistoryType"/>
			<xsd:element ref="IncludeAsset"/>
			<xsd:element ref="IncludeCapital"/>
			<xsd:element ref="IncludeExpense"/>
			<xsd:element ref="IncludeLiability"/>
			<xsd:element ref="IncludeStatistical"/>
			<xsd:element ref="IncludeRevenue"/>
			<xsd:element ref="IncludePeriodDetail"/>
			<xsd:element ref="IncludeCurrentBudget"/>
			<xsd:element ref="IncludeNextBudget"/>
			<xsd:element ref="IncludeAlternateBudget1"/>
			<xsd:element ref="IncludeAlternateBudget2"/>
			<xsd:element ref="IncludeAlternateBudget3"/>
			<xsd:element ref="IncludeAlternateBudget4"/>
			<xsd:element ref="IncludeAlternateBudget5"/>
			<xsd:element ref="IncludeAlternateBudget6"/>
			<xsd:element ref="IncludeAlternateBudget7"/>
			<xsd:element ref="IncludeAlternateBudget8"/>
			<xsd:element ref="XslStylesheet"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FilterType">
		<xsd:sequence>
			<xsd:element name="ReportIndex1" type="ReportIndex1Type"/>
			<xsd:element name="ReportIndex2" type="ReportIndex2Type"/>
			<xsd:element name="GlYear" type="GlYearType"/>
			<xsd:element name="GlPeriod" type="GlPeriodType"/>
			<xsd:element name="GlGroup" type="GlGroupType"/>
			<xsd:element name="GlCode" type="GlCodeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Option" type="OptionType"/>
				<xsd:element name="Filter" type="FilterType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ReportIndex1Type">
		<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
		<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ReportIndex2Type">
		<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
		<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:element name="XslStylesheet">
		<xsd:complexType/>
	</xsd:element>
</xsd:schema>
