Schemas/gl_ratio_analysis.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for the General Ledger Financial Ratios Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="Option">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="IncludeCurrentRatio"/>
							<xsd:element ref="IncludeQuickRatio"/>
							<xsd:element ref="IncludePayablesTurnover"/>
							<xsd:element ref="IncludeReceivablesTurnover"/>
							<xsd:element ref="IncludeInventoryTurnover"/>
							<xsd:element ref="IncludeNonCurrentAssetTurnover"/>
							<xsd:element ref="IncludeTotalAssetTurnover"/>
							<xsd:element ref="IncludeLeverage"/>
							<xsd:element ref="IncludeGearing"/>
							<xsd:element ref="IncludeNetProfitMargin"/>
							<xsd:element ref="IncludeReturnOnAssets"/>
							<xsd:element ref="IncludeReturnOnEquity"/>
							<xsd:element ref="IncludeDebtRatio"/>
							<xsd:element ref="IncludeDebtEquity"/>
							<xsd:element ref="IncludeFormulaDetail"/>
							<xsd:element ref="IncludeAccountDetail"/>
							<xsd:element ref="IncludePeriodDetail"/>
							<xsd:element ref="IncludeCurrentBudget"/>
							<xsd:element ref="IncludeNextBudget"/>
							<xsd:element ref="IncludeAlternateBudget1"/>
							<xsd:element ref="IncludeAlternateBudget2"/>
							<xsd:element ref="IncludeAlternateBudget3"/>
							<xsd:element ref="IncludeAlternateBudget4"/>
							<xsd:element ref="IncludeAlternateBudget5"/>
							<xsd:element ref="IncludeAlternateBudget6"/>
							<xsd:element ref="IncludeAlternateBudget7"/>
							<xsd:element ref="IncludeAlternateBudget8"/>
							<xsd:element name="XslStylesheet" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Filter">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="GlYear"/>
							<xsd:element ref="GlPeriod"/>
							<xsd:element ref="GlGroup"/>
							<xsd:element ref="GlCode"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeCurrentRatio">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Current Ratio will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeQuickRatio">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Quick Ratio will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludePayablesTurnover">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Payables Turnover will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeReceivablesTurnover">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Receivables Turnover will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeInventoryTurnover">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Inventory Turnover will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeNonCurrentAssetTurnover">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Non-Current Asset Turnover will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeTotalAssetTurnover">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Total Asset Turnover will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeLeverage">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Leverage will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeGearing">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Gearing will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeNetProfitMargin">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Net Profit Margin will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeReturnOnAssets">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Return on Assets will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeReturnOnEquity">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Return on Equity will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeDebtRatio">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Debt Ratio will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeDebtEquity">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Debt Equity will be calculated or not. (Y-Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeFormulaDetail">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the Formula Detail for Ratios will be returned (Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAccountDetail">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the G/L Account Detail for Ratios will be returned (Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludePeriodDetail">
		<xsd:annotation>
			<xsd:documentation>Indicates whether results for Periods will be returned.  If not, only values per year will be returned.(Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeCurrentBudget">
		<xsd:annotation>
			<xsd:documentation>Indicates whether results for Current Budget will be returned.(Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeNextBudget">
		<xsd:annotation>
			<xsd:documentation>Indicates whether results for Next Year's Budget will be returned.(Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAlternateBudget1">
		<xsd:annotation>
			<xsd:documentation>Indicates whether results for Alternate Budget 1 will be returned.(Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAlternateBudget2">
		<xsd:annotation>
			<xsd:documentation>Indicates whether results for Alternate Budget 2 will be returned.(Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAlternateBudget3">
		<xsd:annotation>
			<xsd:documentation>Indicates whether results for Alternate Budget 3 will be returned.(Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAlternateBudget4">
		<xsd:annotation>
			<xsd:documentation>Indicates whether results for Alternate Budget 4 will be returned.(Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAlternateBudget5">
		<xsd:annotation>
			<xsd:documentation>Indicates whether results for Alternate Budget 5 will be returned.(Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAlternateBudget6">
		<xsd:annotation>
			<xsd:documentation>Indicates whether results for Alternate Budget 6 will be returned.(Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAlternateBudget7">
		<xsd:annotation>
			<xsd:documentation>Indicates whether results for Alternate Budget 7 will be returned.(Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeAlternateBudget8">
		<xsd:annotation>
			<xsd:documentation>Indicates whether results for Alternate Budget 8 will be returned.(Y -Yes, N-No)</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlYear">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of Gl Years to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GlPeriod">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of Gl Periods to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GlGroup">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of Gl Groups to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=GlGroup;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GlCode">
		<xsd:annotation>
			<xsd:documentation>All,  Single, Range of Gl Codes to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
			<xsd:appinfo source="screenItem=Y;browse=GlCode;A=All;S=Single;R=Range"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
