Schemas/IMPQDEOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Accounts Receivable Setup Options Query Business Object
-->
<xsd:schema id="NewDataSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xsd:element name="AccountsReceivableSetupOptionsReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Detail" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CustomerAmendmentJournalsReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvoiceAgeingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BankDepositSlipReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ForeignCurrSalesReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PermEntriesInvPrintReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ConsBforwardCustAtMonthEnd" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ValidateCustClassOnCustMaster" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TermsForFinanceCharges" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefaultCustBrowseToOperatorBranch" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CalcOfTermsDiscIncludeTax" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CalcOfTermsDiscIncludeFreight" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CalcOfTermsDiscIncludeOtherCharges" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CalcTermsDiscForCreditOrDebitNotes" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SettlementDiscCreditOrDebitNotesReq" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RequestTaxAmount" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DefaultTaxCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DisburseTaxPortionToGlCodeAgainstTaxCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RetainPaymentDetails" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MethodOfPurgingCustSalesMovements" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NoOfMonthsForAverageDaysToPay" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerSalesMovements" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ZeroBalanceInvoices" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CashJournals" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PaymentHistory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesTransDetailRecord" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesTransSummaryRecords" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPeriodsToRetSalesDistribEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="GlPeriodsToRetPaymentDistribEntries" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodToRetainCreditNoteHistory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PeriodToRetainDebitNoteHistory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="InvoiceNumberingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextInvoice" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextCreditNote" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextDebitNote" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextDiscountCreditNoteNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextDiscountDebitNoteNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="CustomerNumberingMethod" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NextCustomerNumber" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AccountsRecLinkedToCashBook" type="xsd:string" minOccurs="0"/>
							<xsd:element name="AllowOperatorOverrideInArPayments" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescForUserDefinedFieldOne" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DescForUserDefinedFieldTwo" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
