Schemas/inv_goods_in_transit_trial_balance_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Goods In Transit Trial Balance Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GITTrialBalance">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string"/>
              <xsd:element name="Translated_Sequence" type="xsd:string"/>
              <xsd:element name="TrialBalanceAsOf" type="xsd:string"/>
              <xsd:element name="Translated_TrialBalanceAsOf" type="xsd:string"/>
              <xsd:element name="ReportType" type="xsd:string"/>
              <xsd:element name="Translated_ReportType" type="xsd:string"/>
              <xsd:element name="IncludeCompletedGit" type="xsd:string"/>
              <xsd:element name="Translated_IncludeCompletedGit" type="xsd:string"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string"/>
              <xsd:element name="SourceWarehouseFilterType" type="xsd:string"/>
              <xsd:element name="Translated_SourceWarehouseFilterType" type="xsd:string"/>
              <xsd:element name="SourceWarehouseFilterValue" type="xsd:string"/>
              <xsd:element name="TargetWarehouseFilterType" type="xsd:string"/>
              <xsd:element name="Translated_TargetWarehouseFilterType" type="xsd:string"/>
              <xsd:element name="TargetWarehouseFilterValue" type="xsd:string"/>
              <xsd:element name="CurrentYear" type="xsd:string"/>
              <xsd:element name="CurrentPeriod" type="xsd:string"/>
              <xsd:element name="SelectedYear"/>
              <xsd:element name="SelectedPeriod"/>
              <xsd:element name="Translated_Group1Heading" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Warehouses" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WarehouseItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WhSourceTarget" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetailWarehouses" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="DetailWarehouseItem" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="DetailWarehouse" minOccurs="0">
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="EditedDetailWarehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetailWarehouseDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetailWhSourceTarget" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StockCodes" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="StockCodeItem" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="StockCodeDesc" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="ProductClassDesc" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="Transactions" minOccurs="0">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="TransactionItem" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element name="DateCreated" minOccurs="0">
                                                          <xsd:simpleType>
                                                            <xsd:restriction base="xsd:string"/>
                                                          </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="ControlAccount" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="EntryType" minOccurs="0">
                                                          <xsd:simpleType>
                                                            <xsd:restriction base="xsd:string">
                                                              <xsd:enumeration value="SCT"/>
                                                              <xsd:enumeration value="IWT"/>
                                                            </xsd:restriction>
                                                          </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="EditedEntryType" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="GtrReference" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="GtrTransferValue" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedGtrTransferValue" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="GtrReceivedValue" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedGtrReceivedValue" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="GtrAdjustedToSourceValue" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedGtrAdjustedToSourceValue" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="GtrInTransitValue" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedGtrInTransitValue" type="xsd:string" minOccurs="0"/>
                                                        <xsd:element name="GtrCompVarianceValue" type="xsd:double" minOccurs="0"/>
                                                        <xsd:element name="EditedGtrCompVarianceValue" type="xsd:string" minOccurs="0"/>
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="StockCodeTotal" minOccurs="0">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="StkTotalTransferValue" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="EditedStkTotalTransferValue" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="StkTotalReceivedValue" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="EditedStkTotalReceivedValue" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="StkTotalAdjustedToSourceValue" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="EditedStkTotalAdjustedToSourceValue" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="StkTotalInTransitValue" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="EditedStkTotalInTransitValue" type="xsd:string" minOccurs="0"/>
                                                  <xsd:element name="StkTotalCompVarianceValue" type="xsd:double" minOccurs="0"/>
                                                  <xsd:element name="EditedStkTotalCompVarianceValue" type="xsd:string" minOccurs="0"/>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="DetailWhTotals" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="DetailWhTransferValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedDetailWhTransferValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetailWhReceivedValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedDetailWhReceivedValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetailWhAdjustedToSourceValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedDetailWhAdjustedToSourceValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetailWhInTransitValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedDetailWhInTransitValue" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="DetailWhCompVarianceValue" type="xsd:double" minOccurs="0"/>
                                      <xsd:element name="EditedDetailWhCompVarianceValue" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="WarehouseTotals" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="WarehouseTransferValue" type="xsd:double"/>
                          <xsd:element name="EditedWarehouseTransferValue" type="xsd:string"/>
                          <xsd:element name="WarehouseReceivedValue" type="xsd:double"/>
                          <xsd:element name="EditedWarehouseReceivedValue" type="xsd:string"/>
                          <xsd:element name="WarehouseAdjustedToSourceValue" type="xsd:double"/>
                          <xsd:element name="EditedWarehouseAdjustedToSourceValue" type="xsd:string"/>
                          <xsd:element name="WarehouseInTransitValue" type="xsd:double"/>
                          <xsd:element name="EditedWarehouseInTransitValue" type="xsd:string"/>
                          <xsd:element name="WarehouseCompVarianceValue" type="xsd:double"/>
                          <xsd:element name="EditedWarehouseCompVarianceValue" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReportTotals" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TotalTransferValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalTransferValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalReceivedValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalReceivedValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalAdjustedToSourceValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalAdjustedToSourceValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalInTransitValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalInTransitValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalWhCompVarianceValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotalWhCompVarianceValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GITControlAccounts" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GitControlAccountItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GitControlAccount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ControlAccountDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedTotalAmount" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
