Schemas/inventory_stock_take_variance.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Stock Take Variance Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BinLocation">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of bin location ( A - All, S - Single, R - Range).  </xsd:documentation>
     <xsd:appinfo source="screenItem=Y;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ExcludeZeroLots">
    <xsd:annotation>
      <xsd:documentation>Input Y/N , if anything else is entered, an error message will be returned.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ExcludeZeroSerials">
    <xsd:annotation>
      <xsd:documentation>Input Y/N , if anything else is entered, an error message will be returned. If "Y" serial numbers where both the saved quantity and captured quantity are zero will be excluded.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:annotation>
      <xsd:documentation>List of options</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="BinLocation"/>
        <xsd:element ref="UnitOfMeasure"/>
        <xsd:element ref="ProductClass"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IncludeBatchSerials">
    <xsd:annotation>
      <xsd:documentation>Input Y/N , if anything else is entered, an error message will be returned. If "Y" batch serial numbers are returned.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeLots">
    <xsd:annotation>
      <xsd:documentation>Input Y/N , if anything else is entered, an error message will be returned. If "Y" a list of stock codes with their corresponding lots showing captured quantities is displayed.  </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeManualSerials">
    <xsd:annotation>
      <xsd:documentation>Input Y/N , if anything else is entered, an error message will be returned. If "Y" manual serial numbers are returned.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeQtyNotCaptured">
    <xsd:annotation>
      <xsd:documentation>Input Y/N , if anything else is entered, an error message will be returned. If "Y" a list of stock codes with quantities not captured is included.</xsd:documentation>
       <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeZeroSaveQty">
    <xsd:annotation>
      <xsd:documentation>Input Y/N , if anything else is entered, an error message will be returned. If "Y" a list of stock codes with zero quantity on hand is included in the query.</xsd:documentation>
       <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>The key consists of only one element, the warehouse. The warehouse should be on file, in the stock take selection, and the operator should have access to the warehouse. Otherwise an error will be returned.  The key is mandatory.</xsd:documentation>
       <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Warehouse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OnlyShowExceptionLines">
    <xsd:annotation>
      <xsd:documentation> Input Y/N , if anything else is entered, an error message will be returned. If "Y" is selected - Shows a list of stock codes where the captured quantity differs from the original quantity on hand by a specific variance. This variance is specified at the Maximum permitted stock take variance option in Setup Distribution Setup, Inventory, Options.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:annotation>
      <xsd:documentation>List of options</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Sequence"/>
        <xsd:element ref="ValueStockAt"/>
        <xsd:element ref="ValueFIFO"/>
        <xsd:element ref="OnlyShowExceptionLines"/>
        <xsd:element ref="IncludeLots"/>
        <xsd:element ref="ExcludeZeroLots"/>
        <xsd:element ref="IncludeZeroSaveQty"/>
        <xsd:element ref="IncludeQtyNotCaptured"/>
        <xsd:element ref="IncludeBatchSerials"/>
        <xsd:element ref="IncludeManualSerials"/>
        <xsd:element ref="ExcludeZeroSerials"/>
        <xsd:element ref="XslStylesheet"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ProductClass">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of product class ( A - All, S - Single, R - Range).  </xsd:documentation>
        <xsd:appinfo source="screenItem=Y;Browse=SalProductClassDes;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>The root element</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Sequence">
    <xsd:annotation>
      <xsd:documentation>The query can be ordered in stock code or bin location sequence. Input S/B, S - Stock code or  B - Bin location sequence, if multiple bins are installed, else will default to stock code. If anything else is entered, an error message will be returned.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;S=Stock code;B=Bin location"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="S"/>
        <xsd:enumeration value="B"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of stock code ( A - All, S - Single, R - Range).  </xsd:documentation>
            <xsd:appinfo source="screenItem=Y;Browse=InvMaster;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UnitOfMeasure">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of unit of measure ( A - All, S - Single).  </xsd:documentation>
       <xsd:appinfo source="screenItem=Y;A=All;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ValueFIFO">
    <xsd:annotation>
      <xsd:documentation>Aoption to return FIFO costing value. Y=Yes, N=No.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ValueStockAt">
    <xsd:annotation>
      <xsd:documentation>Stock can be values in Cost on warehouse file - value stock at the unit cost currently held against the warehouse. (For FIFO costing the unit cost is the last cost.) OR cost on stock take file - value stock in the stock take file at the unit cost prevailing at the time the stock take selection was run, regardless of any cost changes that may have occurred since the stock take was selected. Enter "W" to select Cost on warehouse file and "S" to select cost on stock take file.  If anything else is entered, an error message will be returned.
</xsd:documentation>
<xsd:appinfo source="screenItem=Y;W=Cost on warehouse file;S=Cost on stock take file"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="W"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Warehouse" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This is the warehouse in which the stock take is taking place. Although stock take selection can be done in more than one warehouse at one time, only one warehouse (selected warehouse) details will be displayed. This is a mandatory element and should be valid. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Browse=InvWhControl;key=true"/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
