Schemas/inventory_price_list_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Price List Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvPriceListQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress"/>
              <xsd:element name="OperatorLocation"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string"/>
              <xsd:element name="PriceMethod" type="xsd:string"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string"/>
              <xsd:element name="SupplierFilterType" type="xsd:string"/>
              <xsd:element name="SupplierFilterValue"/>
              <xsd:element name="StockcodeFilterType" type="xsd:string"/>
              <xsd:element name="StockcodeFilterValue" type="xsd:string"/>
              <xsd:element name="CurrencyFilterType" type="xsd:string"/>
              <xsd:element name="CurrencyFilterValue"/>
              <xsd:element name="PriceCodeFilterType" type="xsd:string"/>
              <xsd:element name="PriceCodeFilterValue" type="xsd:string"/>
              <xsd:element name="PriceCategoryFilterType" type="xsd:string"/>
              <xsd:element name="PriceCategoryFilterValue" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockItem" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AlternateKey1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AlternateKey2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AlternateUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OtherUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CycleCount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Planner" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TraceableType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MpsFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupercessionDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DrawOfficeNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Ebq" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DockToStock" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ManufLeadTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TariffCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserField1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserField2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserField3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserField4" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserField5" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LeadTime" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PriceCategory" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Mass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Volume" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AbcClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="KitType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ClearingFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ListPriceCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BuyingRule" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PanSize" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EccFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EccUser" minOccurs="0"/>
              <xsd:element name="MakeToOrderFlag" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConvFactAltUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConvFactOthUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MulDiv" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ConvMulDiv" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PriceInformation" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PriceCodeItem" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="PriceCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SellingPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CurrencyDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PriceBasis" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CommissionCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ForeignCurrencyItem" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ForeignPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BuyExchangeRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BuyMulDiv" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BuyEcDeclRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="BuyEcDeclFact" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SellExchangeRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SellMulDiv" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SellEcDeclRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SellEcDeclFact" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IntermediateCur" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="FixedRate" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="QtyPriceItem" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="QtyBreak" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PriceCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SellingPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PriceBasis" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CommissionCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_Stock_code" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Product_class" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_All" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Single" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Range" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_List" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Coded_prices" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Quantity_price_breaks" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Supplier" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Foreign_prices" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text__continues_on_next_page" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text__continued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text__per" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
