Schemas/INVQSEOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Serial Number Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvSerialNumberQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SerialDetail">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Serial" type="xsd:string"/>
              <xsd:element name="Warehouse" type="xsd:string"/>
              <xsd:element name="INVWHC_Description" type="xsd:string"/>
              <xsd:element name="SerialMethod" type="xsd:string"/>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="INVMST_Description" type="xsd:string"/>
              <xsd:element name="SerialDescription" type="xsd:string"/>
              <xsd:element name="ExpiryDate" type="xsd:string"/>
              <xsd:element name="ScrapDate" type="xsd:string"/>
              <xsd:element name="QtyReceived" type="xsd:string"/>
              <xsd:element name="QtyAvailable" type="xsd:string"/>
              <xsd:element name="QtyOnHand" type="xsd:string"/>
              <xsd:element name="Location" type="xsd:string"/>
              <xsd:element name="ServiceFlag" type="xsd:string"/>
              <xsd:element name="LoadFlag" type="xsd:string"/>
              <xsd:element name="ServiceDepotFlag" type="xsd:string"/>
              <xsd:element name="DueDate" type="xsd:string"/>
              <xsd:element name="Customer" type="xsd:string"/>
              <xsd:element name="Name" type="xsd:string"/>
              <xsd:element name="Lot" type="xsd:string"/>
              <xsd:element name="ArchiveFilename" type="xsd:string"/>
              <xsd:element name="DateCreated" type="xsd:string"/>
              <xsd:element name="PrvWarehouse" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="Release" type="xsd:string"/>
              <xsd:element name="Transactions">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TransactionDetail" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="EntryDate" type="xsd:string"/>
                          <xsd:element name="DetailType" type="xsd:string"/>
                          <xsd:element name="RevisionLevel" type="xsd:string"/>
                          <xsd:element name="Reference" type="xsd:string"/>
                          <xsd:element name="Job" type="xsd:string"/>
                          <xsd:element name="Notation" type="xsd:string"/>
                          <xsd:element name="CustSupplier" type="xsd:string"/>
                          <xsd:element name="CustSupName" type="xsd:string"/>
                          <xsd:element name="TrnQty" type="xsd:string"/>
                          <xsd:element name="TrnValue" type="xsd:string"/>
                          <xsd:element name="TrnWarehouse" type="xsd:string"/>
                          <xsd:element name="NewLocation" type="xsd:string"/>
                          <xsd:element name="NewExpiryDate" type="xsd:string"/>
                          <xsd:element name="PurchaseOrder" type="xsd:string"/>
                          <xsd:element name="Lot" type="xsd:string"/>
                          <xsd:element name="Version" type="xsd:string"/>
                          <xsd:element name="Release" type="xsd:string"/>
                          <xsd:element name="TrfFromWh" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
