Schemas/INVQTUOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Stock Take Query (Uncaptured qty) Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:boolean"/>
              <xsd:element name="DateFormat" type="xsd:byte"/>
              <xsd:element name="Role" type="xsd:byte"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:byte"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Warehouse" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="IncludeZeroSaveQty" type="xsd:string"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string"/>
              <xsd:element name="BinLocationFilterType" type="xsd:string"/>
              <xsd:element name="BinLocationFilterValue" type="xsd:string"/>
              <xsd:element name="UnitOfMeasureFilterType" type="xsd:string"/>
              <xsd:element name="UnitOfMeasureFilterValue" type="xsd:string"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodeItem" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="LongDesc" type="xsd:string"/>
              <xsd:element name="Bin" type="xsd:string"/>
              <xsd:element name="OrigQtyOnHand" type="xsd:string"/>
              <xsd:element name="ProductClass" type="xsd:string"/>
              <xsd:element name="UnitOfMeasure" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_Yes" minOccurs="0"/>
              <xsd:element name="Text_No" minOccurs="0"/>
              <xsd:element name="Text_Range" minOccurs="0"/>
              <xsd:element name="Text_All" minOccurs="0"/>
              <xsd:element name="Text_Single" minOccurs="0"/>
              <xsd:element name="Text_not_on_file" minOccurs="0"/>
              <xsd:element name="Text_no_access_to_WH" minOccurs="0"/>
              <xsd:element name="Text_not_in_stock_take_file" minOccurs="0"/>
              <xsd:element name="Text_Warehouse" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
