Schemas/INVQWROUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Where-Referenced Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="InvWhereReferencedQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string"/>
							<xsd:element name="Language" type="xsd:string"/>
							<xsd:element name="DecFormat" type="xsd:string"/>
							<xsd:element name="DateFormat" type="xsd:string"/>
							<xsd:element name="Role" type="xsd:string"/>
							<xsd:element name="Version" type="xsd:string"/>
							<xsd:element name="CompanyId" type="xsd:string"/>
							<xsd:element name="CompanyName" type="xsd:string"/>
							<xsd:element name="OperatorCode" type="xsd:string"/>
							<xsd:element name="OperatorName" type="xsd:string"/>
							<xsd:element name="OperatorGroup" type="xsd:string"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string"/>
							<xsd:element name="OperatorLocation" type="xsd:string"/>
							<xsd:element name="ReportDate" type="xsd:string"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
							<xsd:element name="SeparatorToUse" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="StockItem">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="StockCode" type="xsd:string"/>
							<xsd:element name="Description" type="xsd:string"/>
							<xsd:element name="LongDesc" type="xsd:string"/>
							<xsd:element name="AlternateKey1" type="xsd:string"/>
							<xsd:element name="AlternateKey2" type="xsd:string"/>
							<xsd:element name="Version" type="xsd:string"/>
							<xsd:element name="Release" type="xsd:string"/>
							<xsd:element name="StockUom" type="xsd:string"/>
							<xsd:element name="AlternateUom" type="xsd:string"/>
							<xsd:element name="OtherUom" type="xsd:string"/>
							<xsd:element name="PartCategory" type="xsd:string"/>
							<xsd:element name="Supplier" type="xsd:string"/>
							<xsd:element name="SupplierName" type="xsd:string"/>
							<xsd:element name="ProductClass" type="xsd:string"/>
							<xsd:element name="Buyer" type="xsd:string"/>
							<xsd:element name="Planner" type="xsd:string"/>
							<xsd:element name="WarehouseToUse" type="xsd:string"/>
							<xsd:element name="TraceableType" type="xsd:string"/>
							<xsd:element name="MpsFlag" type="xsd:string"/>
							<xsd:element name="SupercessionDate" type="xsd:string"/>
							<xsd:element name="DrawOfficeNum" type="xsd:string"/>
							<xsd:element name="Ebq" type="xsd:string"/>
							<xsd:element name="DockToStock" type="xsd:string"/>
							<xsd:element name="ManufLeadTime" type="xsd:string"/>
							<xsd:element name="TariffCode" type="xsd:string"/>
							<xsd:element name="UserField1" type="xsd:string"/>
							<xsd:element name="UserField2" type="xsd:string"/>
							<xsd:element name="UserField3" type="xsd:string"/>
							<xsd:element name="UserField4" type="xsd:string"/>
							<xsd:element name="UserField5" type="xsd:string"/>
							<xsd:element name="LeadTime" type="xsd:string"/>
							<xsd:element name="PriceCategory" type="xsd:string"/>
							<xsd:element name="TaxCode" type="xsd:string"/>
							<xsd:element name="Mass" type="xsd:string"/>
							<xsd:element name="Volume" type="xsd:string"/>
							<xsd:element name="AbcClass" type="xsd:string"/>
							<xsd:element name="KitType" type="xsd:string"/>
							<xsd:element name="ClearingFlag" type="xsd:string"/>
							<xsd:element name="ListPriceCode" type="xsd:string"/>
							<xsd:element name="BuyingRule" type="xsd:string"/>
							<xsd:element name="PanSize" type="xsd:string"/>
							<xsd:element name="EccFlag" type="xsd:string"/>
							<xsd:element name="EccUser" type="xsd:string"/>
							<xsd:element name="MakeToOrderFlag" type="xsd:string"/>
							<xsd:element name="SpecificGravity" type="xsd:string"/>
							<xsd:element name="ImplosionNum" type="xsd:string"/>
							<xsd:element name="ComponentCount" type="xsd:string"/>
							<xsd:element name="FixTimePeriod" type="xsd:string"/>
							<xsd:element name="StockOnHold" type="xsd:string"/>
							<xsd:element name="StockOnHoldReason" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PurchaseOrderDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PurchaseOrderItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PurchaseOrder" type="xsd:string"/>
										<xsd:element name="Line" type="xsd:string"/>
										<xsd:element name="LineType" type="xsd:string"/>
										<xsd:element name="OrderStatus" type="xsd:string"/>
										<xsd:element name="MWarehouse" type="xsd:string"/>
										<xsd:element name="MOrderUom" type="xsd:string"/>
										<xsd:element name="MStockingUom" type="xsd:string"/>
										<xsd:element name="MOrderQty" type="xsd:string"/>
										<xsd:element name="MReceivedQty" type="xsd:string"/>
										<xsd:element name="MLatestDueDate" type="xsd:string"/>
										<xsd:element name="MLastReceiptDat" type="xsd:string"/>
										<xsd:element name="MSupCatalogue" type="xsd:string"/>
										<xsd:element name="MDiscPct1" type="xsd:string"/>
										<xsd:element name="MDiscPct2" type="xsd:string"/>
										<xsd:element name="MDiscPct3" type="xsd:string"/>
										<xsd:element name="MDiscValFlag" type="xsd:string"/>
										<xsd:element name="MDiscValue" type="xsd:string"/>
										<xsd:element name="MPrice" type="xsd:string"/>
										<xsd:element name="MForeignPrice" type="xsd:string"/>
										<xsd:element name="MPriceUom" type="xsd:string"/>
										<xsd:element name="MTaxCode" type="xsd:string"/>
										<xsd:element name="MProductClass" type="xsd:string"/>
										<xsd:element name="MCompleteFlag" type="xsd:string"/>
										<xsd:element name="MJob" type="xsd:string"/>
										<xsd:element name="MGlCode" type="xsd:string"/>
										<xsd:element name="MUserAuthReqn" type="xsd:string"/>
										<xsd:element name="MRequisition" type="xsd:string"/>
										<xsd:element name="MRequisitionLine" type="xsd:string"/>
										<xsd:element name="MSalesOrder" type="xsd:string"/>
										<xsd:element name="MSalesOrderLine" type="xsd:string"/>
										<xsd:element name="MOrigDueDate" type="xsd:string"/>
										<xsd:element name="MReschedDueDate" type="xsd:string"/>
										<xsd:element name="MLctConfirmed" type="xsd:string"/>
										<xsd:element name="MOriginalLine" type="xsd:string"/>
										<xsd:element name="MVersion" type="xsd:string"/>
										<xsd:element name="MRelease" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SalesOrderDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SalesOrderItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:choice maxOccurs="unbounded">
											<xsd:element name="SalesOrder" type="xsd:string"/>
											<xsd:element name="SalesOrderLine" type="xsd:string"/>
											<xsd:element name="OrderStatus" type="xsd:string"/>
											<xsd:element name="Customer" type="xsd:string"/>
											<xsd:element name="MWarehouse" type="xsd:string"/>
											<xsd:element name="MBin" type="xsd:string"/>
											<xsd:element name="MOrderQty" type="xsd:string"/>
											<xsd:element name="MShipQty" type="xsd:string"/>
											<xsd:element name="QtyReserved" type="xsd:string"/>
											<xsd:element name="MBackOrderQty" type="xsd:string"/>
											<xsd:element name="MUnitCost" type="xsd:string"/>
											<xsd:element name="MBomFlag" type="xsd:string"/>
											<xsd:element name="MParentKitType" type="xsd:string"/>
											<xsd:element name="MOrderUom" type="xsd:string"/>
											<xsd:element name="MStockQtyToShp" type="xsd:string"/>
											<xsd:element name="QtyReservedShip" type="xsd:string"/>
											<xsd:element name="SalesOrderResStat" type="xsd:string"/>
											<xsd:element name="MStockingUom" type="xsd:string"/>
											<xsd:element name="MPrice" type="xsd:string"/>
											<xsd:element name="MPriceUom" type="xsd:string"/>
											<xsd:element name="MCommissionCode" type="xsd:string"/>
											<xsd:element name="MDiscPct1" type="xsd:string"/>
											<xsd:element name="MDiscPct2" type="xsd:string"/>
											<xsd:element name="MDiscPct3" type="xsd:string"/>
											<xsd:element name="MDiscValFlag" type="xsd:string"/>
											<xsd:element name="MDiscValue" type="xsd:string"/>
											<xsd:element name="MProductClass" type="xsd:string"/>
											<xsd:element name="MTaxCode" type="xsd:string"/>
											<xsd:element name="MLineShipDate" type="xsd:string"/>
											<xsd:element name="MLineReceiptDat" type="xsd:string"/>
											<xsd:element name="MHierarchyJob" type="xsd:string"/>
											<xsd:element name="MCustRequestDat" type="xsd:string"/>
											<xsd:element name="MLeadTime" type="xsd:string"/>
											<xsd:element name="MLastDelNote" type="xsd:string"/>
											<xsd:element name="MQtyDispatched" type="xsd:string"/>
											<xsd:element name="MCreditOrderNo" type="xsd:string"/>
											<xsd:element name="MCreditOrderLine" type="xsd:string"/>
											<xsd:element name="MEccFlag" type="xsd:string"/>
											<xsd:element name="MCommitDate" type="xsd:string"/>
											<xsd:element name="MVersion" type="xsd:string"/>
											<xsd:element name="MRelease" type="xsd:string"/>
										</xsd:choice>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SctDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SctItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SalesOrder" type="xsd:string"/>
										<xsd:element name="OrderStatus" type="xsd:string"/>
										<xsd:element name="ReqShipDate" type="xsd:string"/>
										<xsd:element name="OrderDate" type="xsd:string"/>
										<xsd:element name="MOrderQty" type="xsd:string"/>
										<xsd:element name="MWarehouse" type="xsd:string"/>
										<xsd:element name="MBin" type="xsd:string"/>
										<xsd:element name="MShipQty" type="xsd:string"/>
										<xsd:element name="MBackOrderQty" type="xsd:string"/>
										<xsd:element name="MUnitCost" type="xsd:string"/>
										<xsd:element name="MBomFlag" type="xsd:string"/>
										<xsd:element name="MParentKitType" type="xsd:string"/>
										<xsd:element name="MOrderUom" type="xsd:string"/>
										<xsd:element name="MPrice" type="xsd:string"/>
										<xsd:element name="MPriceUom" type="xsd:string"/>
										<xsd:element name="MCommitDate" type="xsd:string"/>
										<xsd:element name="MVersion" type="xsd:string"/>
										<xsd:element name="MRelease" type="xsd:string"/>
										<xsd:element name="AllocatedFlag" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="EccDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="EccItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Version" type="xsd:string"/>
										<xsd:element name="Release" type="xsd:string"/>
										<xsd:element name="QtyOnHand" type="xsd:string"/>
										<xsd:element name="AvailableQty" type="xsd:string"/>
										<xsd:element name="QtyOnOrder" type="xsd:string"/>
										<xsd:element name="QtyInInspection" type="xsd:string"/>
										<xsd:element name="QtyOnBackOrder" type="xsd:string"/>
										<xsd:element name="QtyAllocated" type="xsd:string"/>
										<xsd:element name="QtyAllocatedWip" type="xsd:string"/>
										<xsd:element name="QtyInTransit" type="xsd:string"/>
										<xsd:element name="QtyDispatched" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AlternateStockCodeDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="StockCodeItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StockCode" type="xsd:string"/>
										<xsd:element name="Description" type="xsd:string"/>
										<xsd:element name="LongDesc" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AlternateSupplierDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SupplierItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Supplier" type="xsd:string"/>
										<xsd:element name="SupplierName" type="xsd:string"/>
										<xsd:element name="Currency" type="xsd:string"/>
										<xsd:element name="LastPricePaid" type="xsd:string"/>
										<xsd:element name="LastPrcUom" type="xsd:string"/>
										<xsd:element name="LastReceiptQty" type="xsd:string"/>
										<xsd:element name="LastReceiptDate" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="WorkInProgressDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Job">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Master" type="xsd:string"/>
										<xsd:element name="JobNumber" type="xsd:string"/>
										<xsd:element name="JobDescription" type="xsd:string"/>
										<xsd:element name="JobClassification" type="xsd:string"/>
										<xsd:element name="ClassDescription" type="xsd:string"/>
										<xsd:element name="StockCode" type="xsd:string"/>
										<xsd:element name="StockDescription" type="xsd:string"/>
										<xsd:element name="LongDesc" type="xsd:string"/>
										<xsd:element name="Version" type="xsd:string"/>
										<xsd:element name="Release" type="xsd:string"/>
										<xsd:element name="Warehouse" type="xsd:string"/>
										<xsd:element name="INVWHC_Description" type="xsd:string"/>
										<xsd:element name="Customer" type="xsd:string"/>
										<xsd:element name="CustomerName" type="xsd:string"/>
										<xsd:element name="JobDeliveryDate" type="xsd:string"/>
										<xsd:element name="JobStartDate" type="xsd:string"/>
										<xsd:element name="Complete" type="xsd:string"/>
										<xsd:element name="HoldFlag" type="xsd:string"/>
										<xsd:element name="ExpLabour" type="xsd:string"/>
										<xsd:element name="ExpMaterial" type="xsd:string"/>
										<xsd:element name="QtyToMake" type="xsd:string"/>
										<xsd:element name="QtyManufactured" type="xsd:string"/>
										<xsd:element name="Route" type="xsd:string"/>
										<xsd:element name="BOMROU_Description" type="xsd:string"/>
										<xsd:element name="ConfirmedFlag" type="xsd:string"/>
										<xsd:element name="WipCtlGlCode" type="xsd:string"/>
										<xsd:element name="HrsBookToDate" type="xsd:string"/>
										<xsd:element name="LabCostToDate" type="xsd:string"/>
										<xsd:element name="MatCostToDate" type="xsd:string"/>
										<xsd:element name="LabValueIssues" type="xsd:string"/>
										<xsd:element name="MatValueIssues" type="xsd:string"/>
										<xsd:element name="Job" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="MasterSub" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Sub" type="xsd:string" minOccurs="0"/>
													<xsd:element name="JobNumber" type="xsd:string"/>
													<xsd:element name="JobDescription" type="xsd:string"/>
													<xsd:element name="JobClassification" type="xsd:string"/>
													<xsd:element name="ClassDescription" type="xsd:string"/>
													<xsd:element name="StockCode" type="xsd:string"/>
													<xsd:element name="StockDescription" type="xsd:string"/>
													<xsd:element name="LongDesc" type="xsd:string"/>
													<xsd:element name="Version" type="xsd:string"/>
													<xsd:element name="Release" type="xsd:string"/>
													<xsd:element name="Warehouse" type="xsd:string"/>
													<xsd:element name="INVWHC_Description" type="xsd:string"/>
													<xsd:element name="Customer" type="xsd:string"/>
													<xsd:element name="CustomerName" type="xsd:string"/>
													<xsd:element name="JobDeliveryDate" type="xsd:string"/>
													<xsd:element name="JobStartDate" type="xsd:string"/>
													<xsd:element name="Complete" type="xsd:string"/>
													<xsd:element name="HoldFlag" type="xsd:string"/>
													<xsd:element name="ExpLabour" type="xsd:string"/>
													<xsd:element name="ExpMaterial" type="xsd:string"/>
													<xsd:element name="QtyToMake" type="xsd:string"/>
													<xsd:element name="QtyManufactured" type="xsd:string"/>
													<xsd:element name="Route" type="xsd:string"/>
													<xsd:element name="BOMROU_Description" type="xsd:string"/>
													<xsd:element name="ConfirmedFlag" type="xsd:string"/>
													<xsd:element name="WipCtlGlCode" type="xsd:string"/>
													<xsd:element name="HrsBookToDate" type="xsd:string"/>
													<xsd:element name="LabCostToDate" type="xsd:string"/>
													<xsd:element name="MatCostToDate" type="xsd:string"/>
													<xsd:element name="LabValueIssues" type="xsd:string"/>
													<xsd:element name="MatValueIssues" type="xsd:string"/>
													<xsd:element name="Job" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Sub" type="xsd:string"/>
																<xsd:element name="JobNumber" type="xsd:string"/>
																<xsd:element name="JobDescription" type="xsd:string"/>
																<xsd:element name="JobClassification" type="xsd:string"/>
																<xsd:element name="ClassDescription" type="xsd:string"/>
																<xsd:element name="StockCode" type="xsd:string"/>
																<xsd:element name="StockDescription" type="xsd:string"/>
																<xsd:element name="LongDesc" type="xsd:string"/>
																<xsd:element name="Version" type="xsd:string"/>
																<xsd:element name="Release" type="xsd:string"/>
																<xsd:element name="Warehouse" type="xsd:string"/>
																<xsd:element name="INVWHC_Description" type="xsd:string"/>
																<xsd:element name="Customer" type="xsd:string"/>
																<xsd:element name="CustomerName" type="xsd:string"/>
																<xsd:element name="JobDeliveryDate" type="xsd:string"/>
																<xsd:element name="JobStartDate" type="xsd:string"/>
																<xsd:element name="Complete" type="xsd:string"/>
																<xsd:element name="HoldFlag" type="xsd:string"/>
																<xsd:element name="ExpLabour" type="xsd:string"/>
																<xsd:element name="ExpMaterial" type="xsd:string"/>
																<xsd:element name="QtyToMake" type="xsd:string"/>
																<xsd:element name="QtyManufactured" type="xsd:string"/>
																<xsd:element name="Route" type="xsd:string"/>
																<xsd:element name="BOMROU_Description" type="xsd:string"/>
																<xsd:element name="ConfirmedFlag" type="xsd:string"/>
																<xsd:element name="WipCtlGlCode" type="xsd:string"/>
																<xsd:element name="HrsBookToDate" type="xsd:string"/>
																<xsd:element name="LabCostToDate" type="xsd:string"/>
																<xsd:element name="MatCostToDate" type="xsd:string"/>
																<xsd:element name="LabValueIssues" type="xsd:string"/>
																<xsd:element name="MatValueIssues" type="xsd:string"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="WhereUsedDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ParentPartItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ParentPart" type="xsd:string"/>
										<xsd:element name="PartCategory" type="xsd:string"/>
										<xsd:element name="Description" type="xsd:string"/>
										<xsd:element name="ComVersion" type="xsd:string"/>
										<xsd:element name="ComRelease" type="xsd:string"/>
										<xsd:element name="Route" type="xsd:string"/>
										<xsd:element name="SequenceNum" type="xsd:string"/>
										<xsd:element name="StructureOffDate" type="xsd:string"/>
										<xsd:element name="StructureOnDate" type="xsd:string"/>
										<xsd:element name="OperationOffset" type="xsd:string"/>
										<xsd:element name="QtyPer" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BomStructureDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Operation">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Operation" type="xsd:string"/>
										<xsd:element name="WorkCentre" type="xsd:string"/>
										<xsd:element name="Description" type="xsd:string"/>
										<xsd:element name="TimeUom" type="xsd:string"/>
										<xsd:element name="ProductClass"/>
										<xsd:element name="WcRateInd" type="xsd:string"/>
										<xsd:element name="WhatIfWcInd" type="xsd:string"/>
										<xsd:element name="SubcontractFlag" type="xsd:string"/>
										<xsd:element name="ISetUpTime" type="xsd:string"/>
										<xsd:element name="IRunTime" type="xsd:string"/>
										<xsd:element name="IStartupTime" type="xsd:string"/>
										<xsd:element name="ITeardownTime" type="xsd:string"/>
										<xsd:element name="IWaitTime" type="xsd:string"/>
										<xsd:element name="IStartupQty" type="xsd:string"/>
										<xsd:element name="IMachine"/>
										<xsd:element name="IUnitCapacity" type="xsd:string"/>
										<xsd:element name="IMaxWorkOpertrs" type="xsd:string"/>
										<xsd:element name="IMaxProdUnits" type="xsd:string"/>
										<xsd:element name="ITimeTaken" type="xsd:string"/>
										<xsd:element name="IQuantity" type="xsd:string"/>
										<xsd:element name="Milestone" type="xsd:string"/>
										<xsd:element name="ElapsedTime" type="xsd:string"/>
										<xsd:element name="MovementTime" type="xsd:string"/>
										<xsd:element name="NarrationCode" type="xsd:string"/>
										<xsd:element name="AutoNarrCode" type="xsd:string"/>
										<xsd:element name="NumOfPieces" type="xsd:string"/>
										<xsd:element name="InspectionFlag" type="xsd:string"/>
										<xsd:element name="OperYieldPct" type="xsd:string"/>
										<xsd:element name="OperYieldQty" type="xsd:string"/>
										<xsd:element name="MinorSetup" type="xsd:string"/>
										<xsd:element name="MinorSetupCode"/>
										<xsd:element name="ToolSet" type="xsd:string"/>
										<xsd:element name="ToolSetQty" type="xsd:string"/>
										<xsd:element name="ToolConsumption" type="xsd:string"/>
										<xsd:element name="TimeCalcFlag" type="xsd:string"/>
										<xsd:element name="OprSubContract" type="xsd:string"/>
										<xsd:element name="OprSubContractCost" type="xsd:string"/>
										<xsd:element name="OprLabour" type="xsd:string"/>
										<xsd:element name="OprFixedOverHead" type="xsd:string"/>
										<xsd:element name="OprVariableOverHead" type="xsd:string"/>
										<xsd:element name="OperationCostTotal" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Component">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Component" type="xsd:string"/>
										<xsd:element name="Description" type="xsd:string"/>
										<xsd:element name="LongDesc" type="xsd:string"/>
										<xsd:element name="PartCategory" type="xsd:string"/>
										<xsd:element name="StockUom" type="xsd:string"/>
										<xsd:element name="AlternateUom" type="xsd:string"/>
										<xsd:element name="OtherUom" type="xsd:string"/>
										<xsd:element name="Ebq" type="xsd:string"/>
										<xsd:element name="PanSize" type="xsd:string"/>
										<xsd:element name="ComVersion"/>
										<xsd:element name="ComRelease"/>
										<xsd:element name="SequenceNum" type="xsd:string"/>
										<xsd:element name="StructureOnDate"/>
										<xsd:element name="StructureOffDate"/>
										<xsd:element name="OpOffsetFlag" type="xsd:string"/>
										<xsd:element name="OperationOffset" type="xsd:string"/>
										<xsd:element name="QtyPer" type="xsd:string"/>
										<xsd:element name="ScrapPercentage" type="xsd:string"/>
										<xsd:element name="ScrapQuantity" type="xsd:string"/>
										<xsd:element name="SoOptionFlag" type="xsd:string"/>
										<xsd:element name="SoPrintFlag" type="xsd:string"/>
										<xsd:element name="InclScrapFlag" type="xsd:string"/>
										<xsd:element name="ReasonForChange"/>
										<xsd:element name="AutoNarrCode" type="xsd:string"/>
										<xsd:element name="InclKitIssues" type="xsd:string"/>
										<xsd:element name="CreateSubJob" type="xsd:string"/>
										<xsd:element name="WetWeightPercent" type="xsd:string"/>
										<xsd:element name="IncludeBatch" type="xsd:string"/>
										<xsd:element name="IncludeFromJob"/>
										<xsd:element name="IncludeToJob"/>
										<xsd:element name="ComMaterial" type="xsd:string"/>
										<xsd:element name="ComSubContractCost" type="xsd:string"/>
										<xsd:element name="ComLabour" type="xsd:string"/>
										<xsd:element name="ComFixedOverHead" type="xsd:string"/>
										<xsd:element name="ComVariableOverHead" type="xsd:string"/>
										<xsd:element name="ComponentCostTotal" type="xsd:string"/>
										<xsd:element name="ComponentsAttached" type="xsd:string"/>
										<xsd:element name="OperationsAttached" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SupplierStockCodeDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SupplierItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Supplier" type="xsd:string"/>
										<xsd:element name="SupCatalogueNum" type="xsd:string"/>
										<xsd:element name="DemoLeadTime" type="xsd:string"/>
										<xsd:element name="LastPricePaid" type="xsd:string"/>
										<xsd:element name="DefaultPrcUom" type="xsd:string"/>
										<xsd:element name="LastPrcUom" type="xsd:string"/>
										<xsd:element name="LastReceiptDate" type="xsd:string"/>
										<xsd:element name="OrderQtyUom" type="xsd:string"/>
										<xsd:element name="PoText1" type="xsd:string"/>
										<xsd:element name="PoText2" type="xsd:string"/>
										<xsd:element name="PoText3" type="xsd:string"/>
										<xsd:element name="PoText4" type="xsd:string"/>
										<xsd:element name="StockItemFlag" type="xsd:string"/>
										<xsd:element name="LastReceiptQty" type="xsd:string"/>
										<xsd:element name="LctMerchPrice" type="xsd:string"/>
										<xsd:element name="DefaultPrice" type="xsd:string"/>
										<xsd:element name="AltDocPrice" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="LctRoutesDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LctRouteItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DateRequired" type="xsd:string"/>
										<xsd:element name="Route" type="xsd:string"/>
										<xsd:element name="Description" type="xsd:string"/>
										<xsd:element name="DaysBeforeEta" type="xsd:string"/>
										<xsd:element name="DemurrageDays" type="xsd:string"/>
										<xsd:element name="DaysAfterEta" type="xsd:string"/>
										<xsd:element name="LctMerchPrice" type="xsd:string"/>
										<xsd:element name="IsStandard" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BlanketPOrderDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ContractItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Contract" type="xsd:string"/>
										<xsd:element name="Line" type="xsd:string"/>
										<xsd:element name="LineType" type="xsd:string"/>
										<xsd:element name="Supplier" type="xsd:string"/>
										<xsd:element name="MWarehouse" type="xsd:string"/>
										<xsd:element name="MOrderUom" type="xsd:string"/>
										<xsd:element name="MMinimumQty" type="xsd:string"/>
										<xsd:element name="MTotalQty" type="xsd:string"/>
										<xsd:element name="MOrderQty" type="xsd:string"/>
										<xsd:element name="MReceivedQty" type="xsd:string"/>
										<xsd:element name="MLastReceiptDate" type="xsd:string"/>
										<xsd:element name="MPrice" type="xsd:string"/>
										<xsd:element name="MPriceUom" type="xsd:string"/>
										<xsd:element name="MForeignPrice" type="xsd:string"/>
										<xsd:element name="MProductClass" type="xsd:string"/>
										<xsd:element name="MCompleteFlag" type="xsd:string"/>
										<xsd:element name="MGlCode" type="xsd:string"/>
										<xsd:element name="MLastGrn" type="xsd:string"/>
										<xsd:element name="MTaxCode" type="xsd:string"/>
										<xsd:element name="Version" type="xsd:string"/>
										<xsd:element name="Release" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ForeignPriceDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ForeignPriceItem" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Currency" type="xsd:string"/>
										<xsd:element name="Description" type="xsd:string"/>
										<xsd:element name="ForeignPrice" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PricingDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PricingItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PriceCode" type="xsd:string"/>
										<xsd:element name="SellingPrice" type="xsd:string"/>
										<xsd:element name="PriceBasis" type="xsd:string"/>
										<xsd:element name="AlternateUom" type="xsd:string"/>
										<xsd:element name="OtherUom" type="xsd:string"/>
										<xsd:element name="StockUom" type="xsd:string"/>
										<xsd:element name="Currency" type="xsd:string"/>
										<xsd:element name="CommissionCode" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DispatchNotesDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DispatchNoteItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DispatchNote" type="xsd:string"/>
										<xsd:element name="DispatchNoteLine" type="xsd:string"/>
										<xsd:element name="SalesOrder" type="xsd:string"/>
										<xsd:element name="SalesOrderLine" type="xsd:string"/>
										<xsd:element name="DispatchNoteStatus" type="xsd:string"/>
										<xsd:element name="MWarehouse" type="xsd:string"/>
										<xsd:element name="TotalValue" type="xsd:string"/>
										<xsd:element name="MBin" type="xsd:string"/>
										<xsd:element name="Customer" type="xsd:string"/>
										<xsd:element name="CustomerName" type="xsd:string"/>
										<xsd:element name="ShippingInstrs" type="xsd:string"/>
										<xsd:element name="SpecialInstrs" type="xsd:string"/>
										<xsd:element name="CustomerPoNumber" type="xsd:string"/>
										<xsd:element name="Invoice" type="xsd:string"/>
										<xsd:element name="InvoiceCreatedDate" type="xsd:string"/>
										<xsd:element name="ActualDeliveryDate" type="xsd:string"/>
										<xsd:element name="ConfirmationDate" type="xsd:string"/>
										<xsd:element name="ConfirmationLine" type="xsd:string"/>
										<xsd:element name="OrigShipSoUom" type="xsd:string"/>
										<xsd:element name="OrigShipStkUom" type="xsd:string"/>
										<xsd:element name="OrigBoSoUom" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CustomerStockCodeDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CustomerItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Customer" type="xsd:string"/>
										<xsd:element name="Name" type="xsd:string"/>
										<xsd:element name="CustStockCode" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GoodsInTransitDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReferenceItem" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Reference" type="xsd:string"/>
										<xsd:element name="SourceWarehouse" type="xsd:string"/>
										<xsd:element name="TargetWarehouse" type="xsd:string"/>
										<xsd:element name="Line" type="xsd:string"/>
										<xsd:element name="GtrQuantity" type="xsd:string"/>
										<xsd:element name="QtyReceived" type="xsd:string"/>
										<xsd:element name="InitialValue" type="xsd:string"/>
										<xsd:element name="ValueReceivedSrc" type="xsd:string"/>
										<xsd:element name="UnitCost" type="xsd:string"/>
										<xsd:element name="ValueReceivedTgt" type="xsd:string"/>
										<xsd:element name="CostUom" type="xsd:string"/>
										<xsd:element name="ProductClass" type="xsd:string"/>
										<xsd:element name="Branch" type="xsd:string"/>
										<xsd:element name="Area" type="xsd:string"/>
										<xsd:element name="SalesOrder" type="xsd:string"/>
										<xsd:element name="SalesOrderLine" type="xsd:string"/>
										<xsd:element name="DeliveryNote" type="xsd:string"/>
										<xsd:element name="Invoice" type="xsd:string"/>
										<xsd:element name="TransfDocNum" type="xsd:string"/>
										<xsd:element name="TransactionDate" type="xsd:string"/>
										<xsd:element name="ExpectedDueDate" type="xsd:string"/>
										<xsd:element name="TransferComplete" type="xsd:string"/>
										<xsd:element name="Release" type="xsd:string"/>
										<xsd:element name="Version" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="WarehouseItem">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Warehouse" type="xsd:string"/>
							<xsd:element name="Description" type="xsd:string"/>
							<xsd:element name="QtyOnHand" type="xsd:string"/>
							<xsd:element name="AvailableQty" type="xsd:string"/>
							<xsd:element name="DefaultBin" type="xsd:string"/>
							<xsd:element name="QtyOnOrder" type="xsd:string"/>
							<xsd:element name="QtyInInspection" type="xsd:string"/>
							<xsd:element name="MinimumQty" type="xsd:string"/>
							<xsd:element name="MaximumQty" type="xsd:string"/>
							<xsd:element name="QtyOnBackOrder" type="xsd:string"/>
							<xsd:element name="QtyAllocated" type="xsd:string"/>
							<xsd:element name="MtdQtyReceived" type="xsd:string"/>
							<xsd:element name="MtdQtyAdjusted" type="xsd:string"/>
							<xsd:element name="MtdQtyIssued" type="xsd:string"/>
							<xsd:element name="YtdQtySold" type="xsd:string"/>
							<xsd:element name="PrevYearQtySold" type="xsd:string"/>
							<xsd:element name="QtyInTransit" type="xsd:string"/>
							<xsd:element name="QtyAllocatedWip" type="xsd:string"/>
							<xsd:element name="MtdQtySold" type="xsd:string"/>
							<xsd:element name="MtdQtyTrf" type="xsd:string"/>
							<xsd:element name="UserField1" type="xsd:string"/>
							<xsd:element name="UserField2" type="xsd:string"/>
							<xsd:element name="UserField3" type="xsd:string"/>
							<xsd:element name="DateLastSale" type="xsd:string"/>
							<xsd:element name="DateLastStockMove" type="xsd:string"/>
							<xsd:element name="DateLastCostChange" type="xsd:string"/>
							<xsd:element name="DateLastStockCnt" type="xsd:string"/>
							<xsd:element name="DateLastPurchase" type="xsd:string"/>
							<xsd:element name="DateWhAdded" type="xsd:string"/>
							<xsd:element name="TrfBuyingRule" type="xsd:string"/>
							<xsd:element name="AbcClass" type="xsd:string"/>
							<xsd:element name="TrfReplenishWh" type="xsd:string"/>
							<xsd:element name="TrfDockToStock" type="xsd:string"/>
							<xsd:element name="TrfFixTimePeriod" type="xsd:string"/>
							<xsd:element name="UnitCost" type="xsd:string"/>
							<xsd:element name="LabourCost" type="xsd:string"/>
							<xsd:element name="MaterialCost" type="xsd:string"/>
							<xsd:element name="FixedOverhead" type="xsd:string"/>
							<xsd:element name="VariableOverhead" type="xsd:string"/>
							<xsd:element name="StdLabCostsBill" type="xsd:string"/>
							<xsd:element name="SubContractCost" type="xsd:string"/>
							<xsd:element name="SalesQtyByMonth">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SalesQty1" type="xsd:string"/>
										<xsd:element name="SalesQty2" type="xsd:string"/>
										<xsd:element name="SalesQty3" type="xsd:string"/>
										<xsd:element name="SalesQty4" type="xsd:string"/>
										<xsd:element name="SalesQty5" type="xsd:string"/>
										<xsd:element name="SalesQty6" type="xsd:string"/>
										<xsd:element name="SalesQty7" type="xsd:string"/>
										<xsd:element name="SalesQty8" type="xsd:string"/>
										<xsd:element name="SalesQty9" type="xsd:string"/>
										<xsd:element name="SalesQty10" type="xsd:string"/>
										<xsd:element name="SalesQty11" type="xsd:string"/>
										<xsd:element name="SalesQty12" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BinDetails">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BinItem">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Bin" type="xsd:string"/>
													<xsd:element name="QtyOnHand" type="xsd:string"/>
													<xsd:element name="AvailableQty" type="xsd:string"/>
													<xsd:element name="Note" type="xsd:string"/>
													<xsd:element name="OnHold" type="xsd:string"/>
													<xsd:element name="OnHoldReason" type="xsd:string"/>
													<xsd:element name="SoQtyToShip" type="xsd:string"/>
													<xsd:element name="LastIssueDate" type="xsd:string"/>
													<xsd:element name="LastReceiptDate" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SerialTrackingDetails">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SerialItem" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Serial" type="xsd:string"/>
													<xsd:element name="SerialDescription" type="xsd:string"/>
													<xsd:element name="SerialMethod" type="xsd:string"/>
													<xsd:element name="Location" type="xsd:string"/>
													<xsd:element name="Lot" type="xsd:string"/>
													<xsd:element name="ServiceFlag" type="xsd:string"/>
													<xsd:element name="LoadFlag" type="xsd:string"/>
													<xsd:element name="ServiceDepotFlag" type="xsd:string"/>
													<xsd:element name="QtyOnHand" type="xsd:string"/>
													<xsd:element name="QtyAvailable" type="xsd:string"/>
													<xsd:element name="QtyReceived" type="xsd:string"/>
													<xsd:element name="QtyInTransitOut" type="xsd:string"/>
													<xsd:element name="ExpiryDate" type="xsd:string"/>
													<xsd:element name="ScrapDate" type="xsd:string"/>
													<xsd:element name="DueDate" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LotDetails">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LotItem" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="LotJob" type="xsd:string"/>
													<xsd:element name="Bin" type="xsd:string"/>
													<xsd:element name="Version" type="xsd:string"/>
													<xsd:element name="Release" type="xsd:string"/>
													<xsd:element name="QtyOnHand" type="xsd:string"/>
													<xsd:element name="AvailableQty" type="xsd:string"/>
													<xsd:element name="Note" type="xsd:string"/>
													<xsd:element name="LotHoldFlag" type="xsd:string"/>
													<xsd:element name="ExpiryDate" type="xsd:string"/>
													<xsd:element name="OrigQtyReceived" type="xsd:string"/>
													<xsd:element name="QtyToShip" type="xsd:string"/>
													<xsd:element name="CreationDate" type="xsd:string"/>
													<xsd:element name="LastTrnDate" type="xsd:string"/>
													<xsd:element name="QtyInTransit" type="xsd:string"/>
													<xsd:element name="DrawOfficeNum" type="xsd:string"/>
													<xsd:element name="ArchiveFilename" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FifoDetails">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FifoItem" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Bucket" type="xsd:string"/>
													<xsd:element name="UnitCost" type="xsd:string"/>
													<xsd:element name="QtyOnHand" type="xsd:string"/>
													<xsd:element name="LastReceiptDate" type="xsd:string"/>
													<xsd:element name="LastIssueDate" type="xsd:string"/>
													<xsd:element name="Note" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="GrnDetails">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrnItem">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Grn" type="xsd:string"/>
													<xsd:element name="Lot" type="xsd:string"/>
													<xsd:element name="Supplier" type="xsd:string"/>
													<xsd:element name="Version" type="xsd:string"/>
													<xsd:element name="Release" type="xsd:string"/>
													<xsd:element name="GrnReceiptDate" type="xsd:string"/>
													<xsd:element name="PurchaseOrder" type="xsd:string"/>
													<xsd:element name="PurchaseOrderLin" type="xsd:string"/>
													<xsd:element name="Job" type="xsd:string"/>
													<xsd:element name="SupDelNote" type="xsd:string"/>
													<xsd:element name="DeliveryDate" type="xsd:string"/>
													<xsd:element name="Certificate" type="xsd:string"/>
													<xsd:element name="InspNarration" type="xsd:string"/>
													<xsd:element name="ExpiryDate" type="xsd:string"/>
													<xsd:element name="QtyAdvised" type="xsd:string"/>
													<xsd:element name="QtyOffSite" type="xsd:string"/>
													<xsd:element name="QtyInspected" type="xsd:string"/>
													<xsd:element name="QtyCounted" type="xsd:string"/>
													<xsd:element name="QtyAccepted" type="xsd:string"/>
													<xsd:element name="QtyScrapped" type="xsd:string"/>
													<xsd:element name="QtyRejected" type="xsd:string"/>
													<xsd:element name="CountCompleted" type="xsd:string"/>
													<xsd:element name="InspectCompleted" type="xsd:string"/>
													<xsd:element name="GrnOnHold" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AllocationDetails">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AllocationItem">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Job" type="xsd:string"/>
													<xsd:element name="Line" type="xsd:string"/>
													<xsd:element name="UnitCost" type="xsd:string"/>
													<xsd:element name="ValueIssued" type="xsd:string"/>
													<xsd:element name="ValueBilled" type="xsd:string"/>
													<xsd:element name="UnitQtyReqd" type="xsd:string"/>
													<xsd:element name="QtyIssued" type="xsd:string"/>
													<xsd:element name="QtyBilled" type="xsd:string"/>
													<xsd:element name="QtyRequired" type="xsd:string"/>
													<xsd:element name="Complete" type="xsd:string"/>
													<xsd:element name="Version" type="xsd:string"/>
													<xsd:element name="Release" type="xsd:string"/>
													<xsd:element name="DateRequired" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BuildScheduleDetails">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BuildScheduleItem" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="DateRequired" type="xsd:string"/>
													<xsd:element name="Release" type="xsd:string"/>
													<xsd:element name="Version" type="xsd:string"/>
													<xsd:element name="Line" type="xsd:string"/>
													<xsd:element name="Reference" type="xsd:string"/>
													<xsd:element name="OutstQtyToMake" type="xsd:string"/>
													<xsd:element name="TotalQtyReceived" type="xsd:string"/>
													<xsd:element name="ResouceParent" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="RequisitionDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RequisitionItem">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Requisition" type="xsd:string"/>
										<xsd:element name="Originator" type="xsd:string"/>
										<xsd:element name="Line" type="xsd:string"/>
										<xsd:element name="ReqnStatus" type="xsd:string"/>
										<xsd:element name="OrderQty" type="xsd:string"/>
										<xsd:element name="OrderUom" type="xsd:string"/>
										<xsd:element name="DateReqnRaised" type="xsd:string"/>
										<xsd:element name="DueDate" type="xsd:string"/>
										<xsd:element name="ReasonForChange" type="xsd:string"/>
										<xsd:element name="Supplier" type="xsd:string"/>
										<xsd:element name="Price" type="xsd:string"/>
										<xsd:element name="PriceUom" type="xsd:string"/>
										<xsd:element name="DiscPct1" type="xsd:string"/>
										<xsd:element name="DiscPct2" type="xsd:string"/>
										<xsd:element name="DiscPct3" type="xsd:string"/>
										<xsd:element name="DiscountCode" type="xsd:string"/>
										<xsd:element name="SupCatalogueNum" type="xsd:string"/>
										<xsd:element name="Job" type="xsd:string"/>
										<xsd:element name="GlCode" type="xsd:string"/>
										<xsd:element name="ProductClass" type="xsd:string"/>
										<xsd:element name="TaxCode" type="xsd:string"/>
										<xsd:element name="Customer" type="xsd:string"/>
										<xsd:element name="CustomerPoNumber" type="xsd:string"/>
										<xsd:element name="CapexNum" type="xsd:string"/>
										<xsd:element name="ReqnOnHoldFlag" type="xsd:string"/>
										<xsd:element name="ReasonForHold" type="xsd:string"/>
										<xsd:element name="HoldUser" type="xsd:string"/>
										<xsd:element name="ConfirmedPoNum" type="xsd:string"/>
										<xsd:element name="ConfirmedPoLine" type="xsd:string"/>
										<xsd:element name="DatePoConfirmed" type="xsd:string"/>
										<xsd:element name="Buyer" type="xsd:string"/>
										<xsd:element name="CurrentHolder" type="xsd:string"/>
										<xsd:element name="HoldersRouteNum" type="xsd:string"/>
										<xsd:element name="DateActioned" type="xsd:string"/>
										<xsd:element name="ReceiptFlag" type="xsd:string"/>
										<xsd:element name="DateLastReceipt" type="xsd:string"/>
										<xsd:element name="AckReceiptFlag" type="xsd:string"/>
										<xsd:element name="SalesOrder" type="xsd:string"/>
										<xsd:element name="SalesOrderLine" type="xsd:string"/>
										<xsd:element name="OrderDate" type="xsd:string"/>
										<xsd:element name="HierHead" type="xsd:string"/>
										<xsd:element name="Section1" type="xsd:string"/>
										<xsd:element name="Section2" type="xsd:string"/>
										<xsd:element name="Section3" type="xsd:string"/>
										<xsd:element name="Section4" type="xsd:string"/>
										<xsd:element name="SubOperationNum" type="xsd:string"/>
										<xsd:element name="Quote" type="xsd:string"/>
										<xsd:element name="QuoteLineNum" type="xsd:string"/>
										<xsd:element name="InspectNonStkRec" type="xsd:string"/>
										<xsd:element name="EccHold" type="xsd:string"/>
										<xsd:element name="Revision" type="xsd:string"/>
										<xsd:element name="Release" type="xsd:string"/>
										<xsd:element name="UserCode" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
