Schemas/INVQSLOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for of the Inventory List of Stock Codes Available Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InventoryListQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="LongDesc" type="xsd:string"/>
              <xsd:element name="AlternateKey1" type="xsd:string"/>
              <xsd:element name="AlternateKey2" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="Release" type="xsd:string"/>
              <xsd:element name="StockUom" type="xsd:string"/>
              <xsd:element name="AlternateUom" type="xsd:string"/>
              <xsd:element name="OtherUom" type="xsd:string"/>
              <xsd:element name="PartCategory" type="xsd:string"/>
              <xsd:element name="KitType" type="xsd:string"/>
              <xsd:element name="Supplier" type="xsd:string"/>
              <xsd:element name="ProductClass" type="xsd:string"/>
              <xsd:element name="Buyer" type="xsd:string"/>
              <xsd:element name="Planner" type="xsd:string"/>
              <xsd:element name="WarehouseToUse" type="xsd:string"/>
              <xsd:element name="TraceableType" type="xsd:string"/>
              <xsd:element name="SerialMethod" type="xsd:string"/>
              <xsd:element name="SupercessionDate" type="xsd:string"/>
              <xsd:element name="DrawOfficeNum" type="xsd:string"/>
              <xsd:element name="DockToStock" type="xsd:string"/>
              <xsd:element name="ManufLeadTime" type="xsd:string"/>
              <xsd:element name="TariffCode" type="xsd:string"/>
              <xsd:element name="UserField1" type="xsd:string"/>
              <xsd:element name="UserField2" type="xsd:string"/>
              <xsd:element name="UserField3" type="xsd:string"/>
              <xsd:element name="UserField4" type="xsd:string"/>
              <xsd:element name="UserField5" type="xsd:string"/>
              <xsd:element name="Mass" type="xsd:string"/>
              <xsd:element name="Volume" type="xsd:string"/>
              <xsd:element name="ListPriceCode" type="xsd:string"/>
              <xsd:element name="PriceMethod" type="xsd:string"/>
              <xsd:element name="TaxCode" type="xsd:string"/>
              <xsd:element name="OtherTaxCode" type="xsd:string"/>
              <xsd:element name="GstTaxCode" type="xsd:string"/>
              <xsd:element name="EccFlag" type="xsd:string"/>
              <xsd:element name="EccUser" type="xsd:string"/>
              <xsd:element name="StockOnHold" type="xsd:string"/>
              <xsd:element name="StockOnHoldReason" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
