Schemas/INVQVLOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Valuation Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvValuationQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element name="AsOfPeriod" type="xsd:string"/>
              <xsd:element name="Translated_AsOfPeriod" type="xsd:string"/>
              <xsd:element name="AsOfPeriodMonth" type="xsd:string"/>
              <xsd:element name="AsOfPeriodYear" type="xsd:string"/>
              <xsd:element name="Sequence" type="xsd:string"/>
              <xsd:element name="Translated_Sequence" type="xsd:string"/>
              <xsd:element name="ValuationCostBasedOn" type="xsd:string"/>
              <xsd:element name="Translated_ValuationCostBasedOn" type="xsd:string"/>
              <xsd:element name="CompanyCostingMethod" type="xsd:string"/>
              <xsd:element name="CycleCountFilterType" type="xsd:string"/>
              <xsd:element name="Translated_CycleCountFilterType" type="xsd:string"/>
              <xsd:element name="CycleCountFilterValue" type="xsd:string"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string"/>
              <xsd:element name="SupplierFilterType" type="xsd:string"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string"/>
              <xsd:element name="StockcodeFilterType" type="xsd:string"/>
              <xsd:element name="Translated_StockcodeFilterType" type="xsd:string"/>
              <xsd:element name="StockcodeFilterValue" type="xsd:string"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string"/>
              <xsd:element name="IncludeZeroValueWarehouses" type="xsd:string"/>
              <xsd:element name="Translated_IncludeZeroValueWarehouses" type="xsd:string"/>
              <xsd:element name="Translated_IncludeZeroQtyCostWhs" type="xsd:string"/>
              <xsd:element name="Translated_IncludeZeroQtyWhs" type="xsd:string"/>
              <xsd:element name="IncludeProductClassDesc" type="xsd:string"/>
              <xsd:element name="Translated_IncludeProductClassDesc" type="xsd:string"/>
              <xsd:element name="EccItemsOnly" type="xsd:string"/>
              <xsd:element name="Translated_EccItemsOnly" type="xsd:string"/>
              <xsd:element name="IncludeZeroEccRevRel" type="xsd:string"/>
              <xsd:element name="Translated_IncludeZeroEccRevRel" type="xsd:string"/>
              <xsd:element name="ReportType" type="xsd:string"/>
              <xsd:element name="Translated_ReportType" type="xsd:string"/>
              <xsd:element name="MultipleBinsPrintTotalsOnly" type="xsd:string"/>
              <xsd:element name="Translated_MultipleBinsPrintTotalsOnly" type="xsd:string"/>
              <xsd:element name="IncludeZeroBins" type="xsd:string"/>
              <xsd:element name="Translated_IncludeZeroBins" type="xsd:string"/>
              <xsd:element name="CheckNegativeAtWarehouse" type="xsd:string"/>
              <xsd:element name="Translated_CheckNegativeAtWarehouse" type="xsd:string"/>
              <xsd:element name="ActualCosting" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ActualCosting" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BinBucket" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BinOr" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BinTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TranslatedWarehouseTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Continued" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GroupedBy" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockItem" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AbcClass" minOccurs="0"/>
              <xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CostUom" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CycleCount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PartCategory" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AlternateKey1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AlternateKey2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DrawOfficeNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockOnHoldReason" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockOnHoldReasonDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence minOccurs="0">
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BinLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AbcClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SQtyOnHand" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="SQtyOnHandUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSQtyOnHand" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedUnitCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedWarehouseMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EccDetailsItem" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Release" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="VersionRelease" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarehouseMass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedWarehouseMass" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QuantityOnHand" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SQuantityOnHand" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="SQuantityOnHandUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSQuantityOnHand" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedUnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="WarehouseEccTotal" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSQuantity" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FifoBucketItem" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence minOccurs="0">
                          <xsd:element name="FifoBucket" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnHand" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SQtyOnHand" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="SqtyOnHandUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSQtyOnHand" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedUnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LastReceiptDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LastIssueDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="WarehouseFifoTotal" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence minOccurs="0">
                          <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSQuantity" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="BinItem" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence minOccurs="0">
                          <xsd:element name="BinLocation" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnHand" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SQtyOnHand" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="SQtyOnHandUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSQtyOnHand" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedUnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LastReceiptDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="LastIssueDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="WarehouseBinTotal" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence minOccurs="0">
                          <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSQuantity" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="StockTotal" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence minOccurs="0">
                    <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SQuantity" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="SQuantityUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Mass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedMass" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="WarehouseTotal" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element name="WarehouseItemTotal" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence minOccurs="0">
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CurrentInventoryValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCurrentInventoryValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTotalMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SHashQuantity" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="SHashQuantityUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSHashQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CostingMethod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_CostingMethod" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalWarehouseTotal" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CurrentInventoryValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCurrentInventoryValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SHashQuantity" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="SHashQuantityUnits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSHashQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTotalMass" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ProductClassTotal" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ProductClassItem" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Mass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_TotalText" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SupplierTotal" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SupplierItem" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedSQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Mass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_TotalText" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
