Schemas/INVQ20OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for Inventory Warehouse Exception Business Object Output
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InventoryWarehouseException">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AvailableLessThanZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AvailableLessThanZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AvailableEqualZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AvailableEqualZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AvailableGreaterThanZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AvailableGreaterThanZero" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AvailableLessThanMinimum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AvailableLessThanMinimum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AvailableLessThanSafety" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AvailableLessThanSafety" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AvailableGreaterThanMaximum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AvailableGreaterThanMaximum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OnPurchaseOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OnPurchaseOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OnBackOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OnBackOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GoodsInTransit" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GoodsInTransit" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InTransitConversionCleared" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_InTransitConversionCleared" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShowMultipleMessages" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ShowMultipleMessages" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoABC" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NoABC" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="XslStyleSheet" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedSupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedStockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedWarehouseFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodeException" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AlternateUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CycleCount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="AbcClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="WarehouseInventory" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DefaultBin" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnHand" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnHandUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnHand" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyAvailable" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyAvailableUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyAvailable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MinimumQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MinimumQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMinimumQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SafetyStockQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="SafetyStockQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSafetyStockQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MaximumQty" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MaximumQtyUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMaximumQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnOrder" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnOrderUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnBackOrder" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnBackOrderUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnBackOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyInTransit" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyInTransitUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyInTransit" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ValueInTransit" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedValueInTransit" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarehouseInventoryExceptionMessage" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ExceptionMessageNumber" type="xsd:double" minOccurs="0"/>
                                <xsd:element name="ExceptionMessageCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExceptionMessage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TranslatedExceptionMessage" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="WarehouseInventoryTotal" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="QtyOnHandTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnHandTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnHandTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyAvailableTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyAvailableTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyAvailableTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MinimumQtyTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MinimumQtyTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMinimumQtyTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SafetyStockQtyTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="SafetyStockQtyTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedSafetyStockQtyTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MaximumQtyTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MaximumQtyTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMaximumQtyTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnOrderTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnOrderTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnOrderTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnBackOrderTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnBackOrderTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnBackOrderTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyInTransitTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyInTransitTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyInTransitTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ValueInTransitTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedValueInTransitTotal" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodeSummary">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodesListed" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedStockCodesListed" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GoodsInTransitSummary">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WarehouseGoodsInTransit" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GoodsInTransitValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedGoodsInTransitValue" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="WarehouseGoodsInTransitTotal" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedWarehouseGoodsInTransitTotal" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ConversionClearedTransactions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ClearedTransaction" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EntryDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AddReference" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrnQty" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedTrnQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrnValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedTrnValue" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="WarehouseClearedTransactionTotals" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="WarehouseConversionCleared" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ClearedTransactionValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedClearedTransactionValue" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ConversionClearedTransactionTotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedConversionClearedTransactionTotal" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
      <xsd:attribute name="Language" type="xsd:string"/>
      <xsd:attribute name="Language2" type="xsd:string"/>
      <xsd:attribute name="CssStyle" type="xsd:string"/>
      <xsd:attribute name="DecFormat" type="xsd:string"/>
      <xsd:attribute name="DateFormat" type="xsd:string"/>
      <xsd:attribute name="Role" type="xsd:string"/>
      <xsd:attribute name="Version" type="xsd:string"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
