Schemas/INVQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     This is an example schema to demonstrate
     use of the Inventory Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockItem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LongDesc" type="xsd:string"/>
              <xsd:element name="AlternateKey1" type="xsd:string"/>
              <xsd:element name="AlternateKey2" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="Release" type="xsd:string"/>
              <xsd:element name="StockUom" type="xsd:string"/>
              <xsd:element name="AlternateUom" type="xsd:string"/>
              <xsd:element name="ConvFactAltUom" type="xsd:string"/>
              <xsd:element name="ConvMulDiv" type="xsd:string"/>
              <xsd:element name="OtherUom" type="xsd:string"/>
              <xsd:element name="ConvFactOthUom" type="xsd:string"/>
              <xsd:element name="MulDiv" type="xsd:string"/>
              <xsd:element name="StockAndAltUm" type="xsd:string"/>
              <xsd:element name="PartCategory" type="xsd:string"/>
              <xsd:element name="Supplier" type="xsd:string"/>
              <xsd:element name="SupplierName" type="xsd:string"/>
              <xsd:element name="ProductClass" type="xsd:string"/>
              <xsd:element name="Buyer" type="xsd:string"/>
              <xsd:element name="Planner" type="xsd:string"/>
              <xsd:element name="TraceableType" type="xsd:string"/>
              <xsd:element name="MpsFlag" type="xsd:string"/>
              <xsd:element name="SupercessionDate" type="xsd:string"/>
              <xsd:element name="ResourceCode" type="xsd:string"/>
              <xsd:element name="DrawOfficeNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Ebq" type="xsd:string"/>
              <xsd:element name="DockToStock" type="xsd:string"/>
              <xsd:element name="ManufLeadTime" type="xsd:string"/>
              <xsd:element name="TariffCode" type="xsd:string"/>
              <xsd:element name="UserField1" type="xsd:string"/>
              <xsd:element name="UserField2" type="xsd:string"/>
              <xsd:element name="UserField3" type="xsd:string"/>
              <xsd:element name="UserField4" type="xsd:string"/>
              <xsd:element name="UserField5" type="xsd:string"/>
              <xsd:element name="LeadTime" type="xsd:string"/>
              <xsd:element name="WarehouseToUse" type="xsd:string"/>
              <xsd:element name="GrossReqRule" type="xsd:string"/>
              <xsd:element name="EccUser" type="xsd:string"/>
              <xsd:element name="Mass" type="xsd:string"/>
              <xsd:element name="Volume" type="xsd:string"/>
              <xsd:element name="PriceCategory" type="xsd:string"/>
              <xsd:element name="PriceMethod" type="xsd:string"/>
              <xsd:element name="CycleCount" type="xsd:string"/>
              <xsd:element name="TaxCode" type="xsd:string"/>
              <xsd:element name="OtherTaxCode" type="xsd:string"/>
              <xsd:element name="ListPriceCode" type="xsd:string"/>
              <xsd:element name="SerialMethod" type="xsd:string"/>
              <xsd:element name="KitType" type="xsd:string"/>
              <xsd:element name="BulkIssueFlag" type="xsd:string"/>
              <xsd:element name="AbcClass" type="xsd:string"/>
              <xsd:element name="StockMovementReq" type="xsd:string"/>
              <xsd:element name="ClearingFlag" type="xsd:string"/>
              <xsd:element name="AbcAnalysisReq" type="xsd:string"/>
              <xsd:element name="AbcCostingReq" type="xsd:string"/>
              <xsd:element name="CostUom" type="xsd:string"/>
              <xsd:element name="StockOnHold" type="xsd:string"/>
              <xsd:element name="StockOnHoldReason" type="xsd:string"/>
              <xsd:element name="ApprovedManufactures" type="xsd:string"/>
              <xsd:element name="Narrations" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="InspectionText" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PurchaseOrderAdditionalText" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesOrderAdditionalText" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="TechnicalInformation" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="WarehouseItem" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Warehouse" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QtyOnHand" type="xsd:string"/>
              <xsd:element name="AvailableQty" type="xsd:string"/>
              <xsd:element name="QtyOnOrder" type="xsd:string"/>
              <xsd:element name="QtyInInspection" type="xsd:string"/>
              <xsd:element name="MinimumQty" type="xsd:string"/>
              <xsd:element name="MaximumQty" type="xsd:string"/>
              <xsd:element name="QtyOnBackOrder" type="xsd:string"/>
              <xsd:element name="QtyAllocated" type="xsd:string"/>
              <xsd:element name="MtdQtyReceived" type="xsd:string"/>
              <xsd:element name="MtdQtyAdjusted" type="xsd:string"/>
              <xsd:element name="MtdQtyIssued" type="xsd:string"/>
              <xsd:element name="YtdQtySold" type="xsd:string"/>
              <xsd:element name="PrevYearQtySold" type="xsd:string"/>
              <xsd:element name="QtyInTransit" type="xsd:string"/>
              <xsd:element name="QtyAllocatedWip" type="xsd:string"/>
              <xsd:element name="MtdQtySold">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="Height" type="xsd:string" use="required"/>
                      <xsd:attribute name="Top" type="xsd:string" use="required"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="MtdQtyTrf" type="xsd:string"/>
              <xsd:element name="UserField1" type="xsd:string"/>
              <xsd:element name="UserField2" type="xsd:string"/>
              <xsd:element name="UserField3" type="xsd:string"/>
              <xsd:element name="DefaultBin" type="xsd:string"/>
              <xsd:element name="UnitCost" type="xsd:string"/>
              <xsd:element name="SalesQtyByMonth" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SalesQty1">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string" use="required"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesQty2">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string" use="required"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesQty3">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesQty4">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string" use="required"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesQty5">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string" use="required"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesQty6">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string" use="required"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesQty7">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string" use="required"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesQty8">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string" use="required"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesQty9">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string" use="required"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesQty10">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string" use="required"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesQty11">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string" use="required"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesQty12">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="Height" type="xsd:string" use="required"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Movement" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="EntryDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrnQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TrnType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AddReference" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="JournalEntry" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Supplier" minOccurs="0"/>
                    <xsd:element name="SupplierName" minOccurs="0"/>
                    <xsd:element name="TrnValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesBin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Area" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CostValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerPoNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DocType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NewWarehouse" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                  <xsd:attribute name="Type" type="xsd:string" use="required"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
