Schemas/INVQIDOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!--  Copyright 1994-2010 SYSPRO Ltd.   -->
<!-- 
     Schema for the Inventory Document Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InventoryDocuments">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="InventoryDocument" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Header">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ItemNumber" type="xsd:string"/>
                    <xsd:element name="DocumentNumber" type="xsd:string"/>
                    <xsd:element name="DocumentType" type="xsd:string"/>
                    <xsd:element name="SystemDate" type="xsd:string"/>
                    <xsd:element name="SystemTime" type="xsd:string"/>
                    <xsd:element name="OperatorCode" type="xsd:string"/>
                    <xsd:element name="OperatorName" type="xsd:string"/>
                    <xsd:element name="Supplier" type="xsd:string"/>
                    <xsd:element name="SupplierName" type="xsd:string"/>
                    <xsd:element name="Grn" type="xsd:string"/>
                    <xsd:element name="PurchaseOrder" type="xsd:string"/>
                    <xsd:element name="Warehouse" type="xsd:string"/>
                    <xsd:element name="WarehouseName" type="xsd:string"/>
                    <xsd:element name="WhDeliveryAddr1" type="xsd:string"/>
                    <xsd:element name="WhDeliveryAddr2" type="xsd:string"/>
                    <xsd:element name="WhDeliveryAddr3" type="xsd:string"/>
                    <xsd:element name="WhDeliveryAddr4" type="xsd:string"/>
                    <xsd:element name="WhDeliveryAddr5" type="xsd:string"/>
                    <xsd:element name="PostalCode" type="xsd:string"/>
                    <xsd:element name="WarehouseContact" type="xsd:string"/>
                    <xsd:element name="WarehouseFax" type="xsd:string"/>
                    <xsd:element name="SourceWarehouse" type="xsd:string"/>
                    <xsd:element name="SourceWarehouseName" type="xsd:string"/>
                    <xsd:element name="InterWhLeadTime" type="xsd:string"/>
                    <xsd:element name="ExpectedDate" type="xsd:string"/>
                    <xsd:element name="GitReference" type="xsd:string"/>
                    <xsd:element name="PrintStatus" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DetailLine">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ItemNumber" type="xsd:string"/>
                    <xsd:element name="StockCode" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="LongDesc" type="xsd:string"/>
                    <xsd:element name="EntryNumber" type="xsd:string"/>
                    <xsd:element name="StockUom" type="xsd:string"/>
                    <xsd:element name="TrnQty" type="xsd:string"/>
                    <xsd:element name="TrnValue" type="xsd:string"/>
                    <xsd:element name="UnitCost" type="xsd:string"/>
                    <xsd:element name="TrnMass" type="xsd:string"/>
                    <xsd:element name="TrnVolume" type="xsd:string"/>
                    <xsd:element name="TrnDate" type="xsd:string"/>
                    <xsd:element name="TrnWh" type="xsd:string"/>
                    <xsd:element name="TrnReference" type="xsd:string"/>
                    <xsd:element name="TransferFromWh" type="xsd:string"/>
                    <xsd:element name="Journal" type="xsd:string"/>
                    <xsd:element name="Notation" type="xsd:string"/>
                    <xsd:element name="ConcessionNumber" type="xsd:string"/>
                    <xsd:element name="Glcode" type="xsd:string"/>
                    <xsd:element name="ProductClass" type="xsd:string"/>
                    <xsd:element name="Bin" type="xsd:string"/>
                    <xsd:element name="Lot" type="xsd:string"/>
                    <xsd:element name="TechnicalSpecification" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ItemNumber" type="xsd:string"/>
                          <xsd:element name="EntryNumber" type="xsd:string"/>
                          <xsd:element name="TextItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Text" type="xsd:string" maxOccurs="unbounded"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="InspectionText" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ItemNumber" type="xsd:string"/>
                          <xsd:element name="EntryNumber" type="xsd:string"/>
                          <xsd:element name="TextItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Text" type="xsd:string" maxOccurs="unbounded"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PurchaseOrderText" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ItemNumber" type="xsd:string"/>
                          <xsd:element name="EntryNumber" type="xsd:string"/>
                          <xsd:element name="TextItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Text" type="xsd:string" maxOccurs="unbounded"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PurchaseOrderComment">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ItemNumber" type="xsd:string"/>
                          <xsd:element name="EntryNumber" type="xsd:string"/>
                          <xsd:element name="TextItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Text" type="xsd:string" maxOccurs="unbounded"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="TariffCode" type="xsd:string"/>
                    <xsd:element name="Job" type="xsd:string"/>
                    <xsd:element name="RejectCode" type="xsd:string"/>
                    <xsd:element name="Requisition" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ItemNumber" type="xsd:string"/>
                          <xsd:element name="EntryNumber" type="xsd:string"/>
                          <xsd:element name="Number" type="xsd:string"/>
                          <xsd:element name="Line" type="xsd:string"/>
                          <xsd:element name="Originator" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PurchaseOrder">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ItemNumber" type="xsd:string"/>
                          <xsd:element name="EntryNumber" type="xsd:string"/>
                          <xsd:element name="Line" type="xsd:string"/>
                          <xsd:element name="DueDate" type="xsd:string"/>
                          <xsd:element name="LineDueDate" type="xsd:string"/>
                          <xsd:element name="OriginalQty" type="xsd:string"/>
                          <xsd:element name="OutstandingQty" type="xsd:string"/>
                          <xsd:element name="MerchandiseValue" type="xsd:string"/>
                          <xsd:element name="NonMerchandiseValue" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SuppliersDelNote" type="xsd:string"/>
                    <xsd:element name="Catalogue" type="xsd:string"/>
                    <xsd:element name="DrGlCode" type="xsd:string"/>
                    <xsd:element name="GrnSource" type="xsd:string"/>
                    <xsd:element name="Serials" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SerialItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ItemNumber" type="xsd:string"/>
                                <xsd:element name="EntryNumber" type="xsd:string"/>
                                <xsd:element name="SerialNumber" type="xsd:string"/>
                                <xsd:element name="Quantity" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
