Schemas/INVQ22OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Inventory Stock Take Exception Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string"/>
              <xsd:element name="ReportType" type="xsd:string"/>
              <xsd:element name="StockCheckDate" type="xsd:string"/>
              <xsd:element name="IncludeItemsWithNoABCClass" type="xsd:string"/>
              <xsd:element name="IncludeAClass" type="xsd:string"/>
              <xsd:element name="IncludeBClass" type="xsd:string"/>
              <xsd:element name="IncludeCClass" type="xsd:string"/>
              <xsd:element name="IncludeDClass" type="xsd:string"/>
              <xsd:element name="TagFile" type="xsd:string"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string"/>
              <xsd:element name="SupplierFilterType" type="xsd:string"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string"/>
              <xsd:element name="CycleCountFilterType" type="xsd:string"/>
              <xsd:element name="CycleCountFilterValue" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodeExceptItem" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="LongDescription" type="xsd:string"/>
              <xsd:element name="Supplier" type="xsd:string"/>
              <xsd:element name="SupplierName" type="xsd:string"/>
              <xsd:element name="ProductClass" type="xsd:string"/>
              <xsd:element name="ProductClassDescription" type="xsd:string"/>
              <xsd:element name="StockUnitOfMeasure" type="xsd:string"/>
              <xsd:element name="ABCClass" type="xsd:string"/>
              <xsd:element name="CycleCount" type="xsd:string"/>
              <xsd:element name="Warehouses">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="WarehouseItem" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Warehouse" type="xsd:string"/>
                          <xsd:element name="BinLocation" type="xsd:string"/>
                          <xsd:element name="DateLastCount" type="xsd:string"/>
                          <xsd:element name="AlternateUnitOfMeasure" type="xsd:string"/>
                          <xsd:element name="OtherUnitOfMeasure" type="xsd:string"/>
                          <xsd:element name="Mass" type="xsd:string"/>
                          <xsd:element name="Volume" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TotalNumberOfItemsListed" type="xsd:string"/>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_Yes" minOccurs="0"/>
              <xsd:element name="Text_No" minOccurs="0"/>
              <xsd:element name="Text_Range" minOccurs="0"/>
              <xsd:element name="Text_All" minOccurs="0"/>
              <xsd:element name="Text_Single" minOccurs="0"/>
              <xsd:element name="Text_Stock_code" minOccurs="0"/>
              <xsd:element name="Text_Description" minOccurs="0"/>
              <xsd:element name="Text_Supplier" minOccurs="0"/>
              <xsd:element name="Text_Product_class" minOccurs="0"/>
              <xsd:element name="Text_User_defined_sequence" minOccurs="0"/>
              <xsd:element name="Text_Perpetual_stock" minOccurs="0"/>
              <xsd:element name="Text_Cycle_count_variance" minOccurs="0"/>
              <xsd:element name="Text_Stock_code_description" minOccurs="0"/>
              <xsd:element name="Text_Number_of_items_listed" minOccurs="0"/>
              <xsd:element name="Text_Inventory_Stock_Take_Exception_Report" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
