Schemas/INVQRPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!--  Copyright 1994-2010 SYSPRO Ltd.   -->
<!-- 
     Schema for the Inventory Reporting Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvReportingQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockItem" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="LongDesc" type="xsd:string"/>
              <xsd:element name="AlternateKey1" type="xsd:string"/>
              <xsd:element name="AlternateKey2" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="Release" type="xsd:string"/>
              <xsd:element name="StockUom" type="xsd:string"/>
              <xsd:element name="AlternateUom" type="xsd:string"/>
              <xsd:element name="OtherUom" type="xsd:string"/>
              <xsd:element name="PartCategory" type="xsd:string"/>
              <xsd:element name="Supplier"/>
              <xsd:element name="SupplierName" minOccurs="0"/>
              <xsd:element name="ProductClass" type="xsd:string"/>
              <xsd:element name="Buyer" type="xsd:string"/>
              <xsd:element name="CycleCount" type="xsd:string"/>
              <xsd:element name="Planner" type="xsd:string"/>
              <xsd:element name="WarehouseToUse" type="xsd:string"/>
              <xsd:element name="TraceableType" type="xsd:string"/>
              <xsd:element name="MpsFlag" type="xsd:string"/>
              <xsd:element name="SupercessionDate" type="xsd:string"/>
              <xsd:element name="DrawOfficeNum" type="xsd:string"/>
              <xsd:element name="Ebq" type="xsd:string"/>
              <xsd:element name="DockToStock" type="xsd:string"/>
              <xsd:element name="ManufLeadTime" type="xsd:string"/>
              <xsd:element name="TariffCode" type="xsd:string"/>
              <xsd:element name="UserField1" type="xsd:string"/>
              <xsd:element name="UserField2" type="xsd:string"/>
              <xsd:element name="UserField3" type="xsd:string"/>
              <xsd:element name="UserField4" type="xsd:string"/>
              <xsd:element name="UserField5" type="xsd:string"/>
              <xsd:element name="LeadTime" type="xsd:string"/>
              <xsd:element name="PriceCategory" type="xsd:string"/>
              <xsd:element name="TaxCode" type="xsd:string"/>
              <xsd:element name="Mass" type="xsd:string"/>
              <xsd:element name="Volume" type="xsd:string"/>
              <xsd:element name="AbcClass" type="xsd:string"/>
              <xsd:element name="KitType" type="xsd:string"/>
              <xsd:element name="ClearingFlag" type="xsd:string"/>
              <xsd:element name="ListPriceCode" type="xsd:string"/>
              <xsd:element name="BuyingRule" type="xsd:string"/>
              <xsd:element name="PanSize" type="xsd:string"/>
              <xsd:element name="EccFlag" type="xsd:string"/>
              <xsd:element name="EccUser" type="xsd:string"/>
              <xsd:element name="MakeToOrderFlag" type="xsd:string"/>
              <xsd:element name="ConvFactAltUom" type="xsd:string"/>
              <xsd:element name="ConvFactOthUom" type="xsd:string"/>
              <xsd:element name="MulDiv" type="xsd:string"/>
              <xsd:element name="ConvMulDiv" type="xsd:string"/>
              <xsd:element name="PriceInformation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PriceCodeItem" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SellingPrice" type="xsd:string"/>
                          <xsd:element name="PriceCode" type="xsd:string"/>
                          <xsd:element name="Currency" type="xsd:string"/>
                          <xsd:element name="PriceBasis" type="xsd:string"/>
                          <xsd:element name="CommissionCode" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ForeignCurrencyItem" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Currency" type="xsd:string"/>
                          <xsd:element name="ForeignPrice" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="QuantityPriceMethodItem" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="QtyBreak" type="xsd:string"/>
                          <xsd:element name="PriceCode" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="AlternateStockCode">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCodeItem">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" type="xsd:string"/>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="LongDesc" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="AlternateSupplier">
                <xsd:complexType mixed="true">
                  <xsd:sequence minOccurs="0">
                    <xsd:element name="SupplierItem" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Supplier" type="xsd:string"/>
                          <xsd:element name="SupplierName" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Exceptions">
                <xsd:complexType mixed="true">
                  <xsd:sequence minOccurs="0">
                    <xsd:element name="IsOnHold" type="xsd:string"/>
                    <xsd:element name="IsSuperSeded" type="xsd:string"/>
                    <xsd:element name="IsClearing" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="WarehouseItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Warehouse" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="DefaultBin" type="xsd:string"/>
                    <xsd:element name="AbcClass" type="xsd:string"/>
                    <xsd:element name="QtyOnHand" type="xsd:string"/>
                    <xsd:element name="AvailableQty" type="xsd:string"/>
                    <xsd:element name="QtyOnOrder" type="xsd:string"/>
                    <xsd:element name="QtyInInspection" type="xsd:string"/>
                    <xsd:element name="MinimumQty" type="xsd:string"/>
                    <xsd:element name="MaximumQty" type="xsd:string"/>
                    <xsd:element name="QtyOnBackOrder" type="xsd:string"/>
                    <xsd:element name="QtyAllocated" type="xsd:string"/>
                    <xsd:element name="QtyAllocatedWip" type="xsd:string"/>
                    <xsd:element name="MtdQtyReceived" type="xsd:string"/>
                    <xsd:element name="MtdQtyAdjusted" type="xsd:string"/>
                    <xsd:element name="MtdQtyIssued" type="xsd:string"/>
                    <xsd:element name="MtdQtySold" type="xsd:string"/>
                    <xsd:element name="MtdQtyTrf" type="xsd:string"/>
                    <xsd:element name="OpeningBalance" type="xsd:string"/>
                    <xsd:element name="YtdQtyIssued" type="xsd:string"/>
                    <xsd:element name="YtdQtySold" type="xsd:string"/>
                    <xsd:element name="PrevYearQtySold" type="xsd:string"/>
                    <xsd:element name="QtyInTransit" type="xsd:string"/>
                    <xsd:element name="QtyDispatched" type="xsd:string"/>
                    <xsd:element name="UserField1" type="xsd:string"/>
                    <xsd:element name="UserField2" type="xsd:string"/>
                    <xsd:element name="UserField3" type="xsd:string"/>
                    <xsd:element name="DateLastSale" type="xsd:string"/>
                    <xsd:element name="DateLastStockMove" type="xsd:string"/>
                    <xsd:element name="DateLastCostChange" type="xsd:string"/>
                    <xsd:element name="DateLastStockCnt" type="xsd:string"/>
                    <xsd:element name="DateLastPurchase" type="xsd:string"/>
                    <xsd:element name="UnitCost" type="xsd:string"/>
                    <xsd:element name="WarehouseHistoryDetails">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="WarehouseHistoryItem" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="OpenBalQty" type="xsd:string"/>
                                <xsd:element name="OpenBalCost" type="xsd:string"/>
                                <xsd:element name="Month" type="xsd:string"/>
                                <xsd:element name="Year" type="xsd:string"/>
                                <xsd:element name="EndDate" type="xsd:string"/>
                                <xsd:element name="SalesQty" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="AgeValuationInformation">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="AgeItem" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Year" type="xsd:string"/>
                                <xsd:element name="Quantity" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Exceptions">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="IsZeroQtyOnHand" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IsNegQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IsZeroQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IsPosQty" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IsOnOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IsOnBackOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IsGIT" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IsUnderMin" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IsUnderSafety" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IsOverMax" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="IsInactive" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Movement" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="EntryDate" type="xsd:string"/>
                          <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnQty" type="xsd:string"/>
                          <xsd:element name="TrnType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Document" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GlCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Journal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TrnValue" type="xsd:decimal"/>
                          <xsd:element name="SalesBin" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Area" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DispatchNote" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CostValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitCost" type="xsd:string"/>
                          <xsd:element name="NewWarehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitPrice" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CustomerPoNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DocType" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                        <xsd:attribute name="Type" type="xsd:string" use="required"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
