Schemas/INVQ21OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for Inventory Warehouse Activity Business Object Output
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InventoryWarehouseActivity">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_iGrossCost" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportOnStockItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportOnStockItems" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoActivitySince" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeStockAdjustments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeStockAdjustments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeZeroQtyOnHand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_IncludeZeroQtyOnHand" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShowAllWarehouses" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ShowAllWarehouses" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoABC" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NoABC" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_AClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DClass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="XslStyleSheet" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ProductClassFilterLabel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterLabel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_StockCodeFilterLabel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterLabel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CycleCountFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CycleCountFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CycleCountFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CycleCountFilterLabel" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodes" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodeActivity" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LongDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProductClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AlternateUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CycleCount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="AbcClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Decimals" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="TotalCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedTotalCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseInventory" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DefaultBin" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnHand" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnHandUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnHand" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyAvailable" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyAvailableUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyAvailable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnOrder" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnOrderUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnBackOrder" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnBackOrderUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnBackOrder" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyInTransit" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyInTransitUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyInTransit" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyAllocated" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyAllocatedUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyAllocated" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtyReceived" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtyReceivedUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtyReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtyAdjusted" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtyAdjustedUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtyAdjusted" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtyTrf" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtyTrfUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtyTrf" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransferValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedTransferValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtyIssued" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtyIssuedUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtyIssued" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtySold" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtySoldUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtySold" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtySoldIssued" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtySoldIssuedUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtySoldIssued" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YtdQtySold" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="YtdQtySoldUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedYtdQtySold" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YtdQtyIssued" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="YtdQtyIssuedUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedYtdQtyIssued" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YtdQtySoldIssued" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="YtdQtySoldIssuedUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedYtdQtySoldIssued" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PrevYearQtySold" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="PrevYearQtySoldUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedPrevYearQtySold" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="UnitCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedUnitCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NettCost" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedNettCost" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateLastSale" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="DateLastStockMove" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="WarehouseInventoryTotal" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="QtyOnHandTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnHandTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnHandTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyAvailableTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyAvailableTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyAvailableTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnOrderTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnOrderTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnOrderTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyOnBackOrderTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyOnBackOrderTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyOnBackOrderTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyInTransitTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyInTransitTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyInTransitTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QtyAllocatedTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="QtyAllocatedTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedQtyAllocatedTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtyReceivedTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtyReceivedTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtyReceivedTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtyAdjustedTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtyAdjustedTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtyAdjustedTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtyTrfTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtyTrfUnitsTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtyTrfTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TransferValue" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedTransferValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtyIssuedTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtyIssuedTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtyIssuedTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtySoldTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtySoldTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtySoldTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MtdQtySoldIssuedTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="MtdQtySoldIssuedTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedMtdQtySoldIssuedTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YtdQtySoldTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="YtdQtySoldTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedYtdQtySoldTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YtdQtyIssuedTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="YtdQtyIssuedTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedYtdQtyIssuedTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YtdQtySoldIssuedTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="YtdQtySoldIssuedTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedYtdQtySoldIssuedTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PrevYearQtySoldTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="PrevYearQtySoldTotalUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedPrevYearQtySoldTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="NettCostTotal" type="xsd:double" minOccurs="0"/>
                          <xsd:element name="EditedNettCostTotal" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StockCodeSummary" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCodesListed" type="xsd:double" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
