Schemas/INVSMSDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for Parameters used by Approved Manufacturer Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Setupinvmanfsup">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Item">
					<xsd:annotation>
						<xsd:documentation>Item</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Key">
								<xsd:annotation>
									<xsd:documentation>Key element is mandatory</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StockCode" type="xsd:hexBinary">
											<xsd:annotation>
												<xsd:documentation>Stock code. This element is mandatory must be valid, and is 30 characters long.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="AppManufacturer" type="xsd:string">
											<xsd:annotation>
												<xsd:documentation>Approved manufacturer code. This element is mandatory, and must be valid and is 30 characters long.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ManPartNumber" type="xsd:string">
											<xsd:annotation>
												<xsd:documentation>Approved manufacturer code. This element is mandatory and is 30 characters long.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Supplier" type="xsd:byte">
											<xsd:annotation>
												<xsd:documentation>Supplier code. This element is mandatory, and must be valid and is 7 characters long.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SupplierInfo1" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>45 characters of notes</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SupplierInfo2" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>45 characters of notes</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SupplierInfo3" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>45 characters of notes</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SupplierInfo4" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>45 characters of notes</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SupplierInfo5" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>45 characters of notes</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SupplierInfo6" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>45 characters of notes</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="PreferredFlag" default="Y" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Preffered flag</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
