Schemas/IOPQ50OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema IO Stock Levels Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ActualTurns" type="xsd:string"/>
  <xsd:element name="AnalysisType" type="xsd:string"/>
  <xsd:element name="ApplyBatchingRule" type="xsd:string"/>
  <xsd:element name="ApplyGrossReqRule" type="xsd:string"/>
  <xsd:element name="AverageStock" type="xsd:string"/>
  <xsd:element name="Buyer" type="xsd:string"/>
  <xsd:element name="BuyerFilterType" type="xsd:string"/>
  <xsd:element name="BuyerFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BuyerName" type="xsd:string"/>
  <xsd:element name="CalendarDescription" type="xsd:string"/>
  <xsd:element name="CalendarToUse" type="xsd:string"/>
  <xsd:element name="CalendarUsed" type="xsd:string"/>
  <xsd:element name="DaysCover" type="xsd:string"/>
  <xsd:element name="Decimals" type="xsd:string"/>
  <xsd:element name="DefaultLeadTime" type="xsd:string"/>
  <xsd:element name="Details">
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Type" minOccurs="0"/>
        <xsd:element ref="ReportKey" minOccurs="0"/>
        <xsd:element ref="ReportDescription" minOccurs="0"/>
        <xsd:element ref="StockCode" minOccurs="0"/>
        <xsd:element ref="StockDescription" minOccurs="0"/>
        <xsd:element ref="RevisionRelease" minOccurs="0"/>
        <xsd:element ref="Warehouse" minOccurs="0"/>
        <xsd:element ref="WarehouseDescription" minOccurs="0"/>
        <xsd:element ref="StockingUnitOfMeasure" minOccurs="0"/>
        <xsd:element ref="Decimals" minOccurs="0"/>
        <xsd:element ref="Supplier" minOccurs="0"/>
        <xsd:element ref="SupplierName" minOccurs="0"/>
        <xsd:element ref="ProductClass" minOccurs="0"/>
        <xsd:element ref="ProductClassDescription" minOccurs="0"/>
        <xsd:element ref="Planner" minOccurs="0"/>
        <xsd:element ref="PlannerName" minOccurs="0"/>
        <xsd:element ref="Buyer" minOccurs="0"/>
        <xsd:element ref="BuyerName" minOccurs="0"/>
        <xsd:element ref="ParetoClass" minOccurs="0"/>
        <xsd:element ref="ManualForecast" minOccurs="0"/>
        <xsd:element ref="ReplenishmentItem" minOccurs="0"/>
        <xsd:element ref="MpsItem" minOccurs="0"/>
        <xsd:element ref="MakeToOrder" minOccurs="0"/>
        <xsd:element ref="PartCategory" minOccurs="0"/>
        <xsd:element ref="IdNumber" minOccurs="0"/>
        <xsd:element ref="CalendarUsed" minOccurs="0"/>
        <xsd:element ref="CalendarDescription" minOccurs="0"/>
        <xsd:element ref="ForecastHorizon" minOccurs="0"/>
        <xsd:element ref="DefaultLeadTime" minOccurs="0"/>
        <xsd:element ref="WarehouseMinimum" minOccurs="0"/>
        <xsd:element ref="EditedWarehouseMinimum" minOccurs="0"/>
        <xsd:element ref="WarehouseMaximum" minOccurs="0"/>
        <xsd:element ref="EditedWarehouseMaximum" minOccurs="0"/>
        <xsd:element ref="WarehouseSafety" minOccurs="0"/>
        <xsd:element ref="EditedWarehouseSafety" minOccurs="0"/>
        <xsd:element ref="LevelForPeriod" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DraftMaximum" type="xsd:string"/>
  <xsd:element name="DraftMinimum" type="xsd:string"/>
  <xsd:element name="EditedWarehouseMaximum" type="xsd:string"/>
  <xsd:element name="EditedWarehouseMinimum" type="xsd:string"/>
  <xsd:element name="EditedWarehouseSafety" type="xsd:string"/>
  <xsd:element name="ExcessStock" type="xsd:string"/>
  <xsd:element name="ExistingSales" type="xsd:string"/>
  <xsd:element name="ExistingSupply" type="xsd:string"/>
  <xsd:element name="FaComparisonType" type="xsd:string"/>
  <xsd:element name="FaForecastToUse" type="xsd:string"/>
  <xsd:element name="FaMonthsToCompare" type="xsd:string"/>
  <xsd:element name="FaMovingAverageMonths" type="xsd:string"/>
  <xsd:element name="FaSnapshotMonths" type="xsd:string"/>
  <xsd:element name="Forecast" type="xsd:string"/>
  <xsd:element name="ForecastBase" type="xsd:string"/>
  <xsd:element name="ForecastHorizon" type="xsd:string"/>
  <xsd:element name="HorizonMonths" type="xsd:string"/>
  <xsd:element name="IdNumber" type="xsd:string"/>
  <xsd:element name="IncludeClassItemsA" type="xsd:string"/>
  <xsd:element name="IncludeClassItemsB" type="xsd:string"/>
  <xsd:element name="IncludeClassItemsC" type="xsd:string"/>
  <xsd:element name="IncludeClassItemsD" type="xsd:string"/>
  <xsd:element name="IncludeDependantDemand" type="xsd:string"/>
  <xsd:element name="IncludeMakeToOrderItems" type="xsd:string"/>
  <xsd:element name="IncludeManuallyForecastItems" type="xsd:string"/>
  <xsd:element name="IncludeMasterProductionScheduledItems" type="xsd:string"/>
  <xsd:element name="IncludeNomovementClassItemsE" type="xsd:string"/>
  <xsd:element name="IncludePartTypeBoughtOut" type="xsd:string"/>
  <xsd:element name="IncludePartTypeKitPart" type="xsd:string"/>
  <xsd:element name="IncludePartTypeMadeIn" type="xsd:string"/>
  <xsd:element name="IncludePartTypeSubcontracted" type="xsd:string"/>
  <xsd:element name="IncludeParttypeByProduct" type="xsd:string"/>
  <xsd:element name="IncludeParttypeCoProduct" type="xsd:string"/>
  <xsd:element name="IncludeReplenishmentItems" type="xsd:string"/>
  <xsd:element name="IncludeUnclassifiedItems" type="xsd:string"/>
  <xsd:element name="IoLevels">
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Details" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IoLevelsReport">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="QueryOptions" minOccurs="0"/>
        <xsd:element ref="IoLevels" minOccurs="0"/>
      </xsd:choice>
      <xsd:attribute name="Language" type="xsd:string" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="Role" type="xsd:string" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LevelForPeriod">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="PeriodNumber" minOccurs="0"/>
        <xsd:element ref="PeriodText" minOccurs="0"/>
        <xsd:element ref="PeriodStart" minOccurs="0"/>
        <xsd:element ref="PeriodEnd" minOccurs="0"/>
        <xsd:element ref="OpeningStock" minOccurs="0"/>
        <xsd:element ref="ExistingSupply" minOccurs="0"/>
        <xsd:element ref="ExistingSales" minOccurs="0"/>
        <xsd:element ref="Forecast" minOccurs="0"/>
        <xsd:element ref="TotalDemand" minOccurs="0"/>
        <xsd:element ref="ProjectedAvailable" minOccurs="0"/>
        <xsd:element ref="SuggestedMinimum" minOccurs="0"/>
        <xsd:element ref="SuggestedMaximum" minOccurs="0"/>
        <xsd:element ref="SuggestedOrder" minOccurs="0"/>
        <xsd:element ref="ExcessStock" minOccurs="0"/>
        <xsd:element ref="ShortageStock" minOccurs="0"/>
        <xsd:element ref="AverageStock" minOccurs="0"/>
        <xsd:element ref="LiveMinimum" minOccurs="0"/>
        <xsd:element ref="LiveMaximum" minOccurs="0"/>
        <xsd:element ref="DraftMinimum" minOccurs="0"/>
        <xsd:element ref="DraftMaximum" minOccurs="0"/>
        <xsd:element ref="TargetTurns" minOccurs="0"/>
        <xsd:element ref="ActualTurns" minOccurs="0"/>
        <xsd:element ref="DaysCover" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LiveMaximum" type="xsd:string"/>
  <xsd:element name="LiveMinimum" type="xsd:string"/>
  <xsd:element name="MakeToOrder" type="xsd:string"/>
  <xsd:element name="ManualForecast" type="xsd:string"/>
  <xsd:element name="MpsItem" type="xsd:string"/>
  <xsd:element name="OpeningStock" type="xsd:string"/>
  <xsd:element name="ParetoClass" type="xsd:string"/>
  <xsd:element name="ParetoLevel" type="xsd:string"/>
  <xsd:element name="PartCategory" type="xsd:string"/>
  <xsd:element name="PeriodDaysToUse" type="xsd:string"/>
  <xsd:element name="PeriodEnd" type="xsd:string"/>
  <xsd:element name="PeriodNumber" type="xsd:string"/>
  <xsd:element name="PeriodStart" type="xsd:string"/>
  <xsd:element name="PeriodText" type="xsd:string"/>
  <xsd:element name="Planner" type="xsd:string"/>
  <xsd:element name="PlannerFilterType" type="xsd:string"/>
  <xsd:element name="PlannerFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="PlannerName">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ProductClass" type="xsd:string"/>
  <xsd:element name="ProductClassDescription" type="xsd:string"/>
  <xsd:element name="ProductClassFilterType" type="xsd:string"/>
  <xsd:element name="ProductClassFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ProjectedAvailable" type="xsd:string"/>
  <xsd:element name="QueryOptions">
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="UseSelectionSet"/>
        <xsd:element ref="Translated_UseSelectionSet"/>
        <xsd:element ref="SelectionSet"/>
        <xsd:element ref="IncludePartTypeMadeIn"/>
        <xsd:element ref="IncludePartTypeBoughtOut"/>
        <xsd:element ref="IncludePartTypeSubcontracted"/>
        <xsd:element ref="IncludePartTypeKitPart"/>
        <xsd:element ref="IncludeParttypeCoProduct"/>
        <xsd:element ref="IncludeParttypeByProduct"/>
        <xsd:element ref="Translated_IncludePartTypes"/>
        <xsd:element ref="IncludeManuallyForecastItems"/>
        <xsd:element ref="Translated_IncludeManuallyForecastItems"/>
        <xsd:element ref="IncludeReplenishmentItems"/>
        <xsd:element ref="Translated_IncludeReplenishmentItems"/>
        <xsd:element ref="IncludeMasterProductionScheduledItems"/>
        <xsd:element ref="Translated_IncludeMasterProductionScheduledItems"/>
        <xsd:element ref="IncludeMakeToOrderItems"/>
        <xsd:element ref="Translated_IncludeMakeToOrderItems"/>
        <xsd:element ref="IncludeClassItemsA"/>
        <xsd:element ref="IncludeClassItemsB"/>
        <xsd:element ref="IncludeClassItemsC"/>
        <xsd:element ref="IncludeClassItemsD"/>
        <xsd:element ref="IncludeNomovementClassItemsE"/>
        <xsd:element ref="IncludeUnclassifiedItems"/>
        <xsd:element ref="Translated_ParetoClasses"/>
        <xsd:element ref="AnalysisType"/>
        <xsd:element ref="Translated_AnalysisType"/>
        <xsd:element ref="ParetoLevel"/>
        <xsd:element ref="Translated_ParetoLevel"/>
        <xsd:element ref="RunDate"/>
        <xsd:element ref="ForecastBase"/>
        <xsd:element ref="Translated_ForecastBase"/>
        <xsd:element ref="ApplyGrossReqRule"/>
        <xsd:element ref="Translated_ApplyGrossReqRule"/>
        <xsd:element ref="IncludeDependantDemand"/>
        <xsd:element ref="Translated_IncludeDependantDemand"/>
        <xsd:element ref="ApplyBatchingRule"/>
        <xsd:element ref="Translated_ApplyBatchingRule"/>
        <xsd:element ref="PeriodDaysToUse"/>
        <xsd:element ref="Translated_PeriodDaysToUse"/>
        <xsd:element ref="FaMonthsToCompare"/>
        <xsd:element ref="FaComparisonType"/>
        <xsd:element ref="Translated_FaComparisonType"/>
        <xsd:element ref="FaMovingAverageMonths"/>
        <xsd:element ref="FaForecastToUse"/>
        <xsd:element ref="Translated_FaForecastToUse"/>
        <xsd:element ref="FaSnapshotMonths"/>
        <xsd:element ref="CalendarToUse"/>
        <xsd:element ref="HorizonMonths"/>
        <xsd:element ref="ReturnSkuLevel"/>
        <xsd:element ref="Translated_ReturnSkuLevel"/>
        <xsd:element ref="ReturnConLevel"/>
        <xsd:element ref="Translated_ReturnConLevel"/>
        <xsd:element ref="ReturnPclLevel"/>
        <xsd:element ref="Translated_ReturnPclLevel"/>
        <xsd:element ref="ReturnSupLevel"/>
        <xsd:element ref="Translated_ReturnSupLevel"/>
        <xsd:element ref="ReturnPlnLevel"/>
        <xsd:element ref="Translated_ReturnPlnLevel"/>
        <xsd:element ref="ReturnBuyLevel"/>
        <xsd:element ref="Translated_ReturnBuyLevel"/>
        <xsd:element ref="ReturnWhsLevel"/>
        <xsd:element ref="Translated_ReturnWhsLevel"/>
        <xsd:element ref="ReturnParetoLevel"/>
        <xsd:element ref="Translated_ReturnParetoLevel"/>
        <xsd:element ref="ReturnLiveLevels"/>
        <xsd:element ref="Translated_ReturnLiveLevels"/>
        <xsd:element ref="ReturnDraftLevels"/>
        <xsd:element ref="Translated_ReturnDraftLevels"/>
        <xsd:element ref="ReturnValues"/>
        <xsd:element ref="Translated_ReturnValues"/>
        <xsd:element ref="StockCodeFilterType"/>
        <xsd:element ref="Translated_StockCodeFilterType"/>
        <xsd:element ref="StockCodeFilterValue"/>
        <xsd:element ref="WarehouseFilterType"/>
        <xsd:element ref="Translated_WarehouseFilterType"/>
        <xsd:element ref="WarehouseFilterValue"/>
        <xsd:element ref="PlannerFilterType"/>
        <xsd:element ref="Translated_PlannerFilterType"/>
        <xsd:element ref="PlannerFilterValue"/>
        <xsd:element ref="BuyerFilterType"/>
        <xsd:element ref="Translated_BuyerFilterType"/>
        <xsd:element ref="BuyerFilterValue"/>
        <xsd:element ref="SupplierFilterType"/>
        <xsd:element ref="Translated_SupplierFilterType"/>
        <xsd:element ref="SupplierFilterValue"/>
        <xsd:element ref="ProductClassFilterType"/>
        <xsd:element ref="Translated_ProductClassFilterType"/>
        <xsd:element ref="ProductClassFilterValue"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReplenishmentItem" type="xsd:string"/>
  <xsd:element name="ReportDescription" type="xsd:string"/>
  <xsd:element name="ReportKey" type="xsd:string"/>
  <xsd:element name="ReturnBuyLevel" type="xsd:string"/>
  <xsd:element name="ReturnConLevel" type="xsd:string"/>
  <xsd:element name="ReturnDraftLevels" type="xsd:string"/>
  <xsd:element name="ReturnLiveLevels" type="xsd:string"/>
  <xsd:element name="ReturnParetoLevel" type="xsd:string"/>
  <xsd:element name="ReturnPclLevel" type="xsd:string"/>
  <xsd:element name="ReturnPlnLevel" type="xsd:string"/>
  <xsd:element name="ReturnSkuLevel" type="xsd:string"/>
  <xsd:element name="ReturnSupLevel" type="xsd:string"/>
  <xsd:element name="ReturnValues" type="xsd:string"/>
  <xsd:element name="ReturnWhsLevel" type="xsd:string"/>
  <xsd:element name="RevisionRelease">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="RunDate" type="xsd:string"/>
  <xsd:element name="SelectionSet">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ShortageStock" type="xsd:string"/>
  <xsd:element name="StockCode" type="xsd:string"/>
  <xsd:element name="StockCodeFilterType" type="xsd:string"/>
  <xsd:element name="StockCodeFilterValue" type="xsd:string"/>
  <xsd:element name="StockDescription" type="xsd:string"/>
  <xsd:element name="StockingUnitOfMeasure" type="xsd:string"/>
  <xsd:element name="SuggestedMaximum" type="xsd:string"/>
  <xsd:element name="SuggestedMinimum" type="xsd:string"/>
  <xsd:element name="SuggestedOrder" type="xsd:string"/>
  <xsd:element name="Supplier" type="xsd:string"/>
  <xsd:element name="SupplierFilterType" type="xsd:string"/>
  <xsd:element name="SupplierFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SupplierName" type="xsd:string"/>
  <xsd:element name="TargetTurns" type="xsd:string"/>
  <xsd:element name="TotalDemand" type="xsd:string"/>
  <xsd:element name="Translated_AnalysisType" type="xsd:string"/>
  <xsd:element name="Translated_ApplyBatchingRule" type="xsd:string"/>
  <xsd:element name="Translated_ApplyGrossReqRule" type="xsd:string"/>
  <xsd:element name="Translated_BuyerFilterType" type="xsd:string"/>
  <xsd:element name="Translated_FaComparisonType" type="xsd:string"/>
  <xsd:element name="Translated_FaForecastToUse" type="xsd:string"/>
  <xsd:element name="Translated_ForecastBase" type="xsd:string"/>
  <xsd:element name="Translated_IncludeDependantDemand" type="xsd:string"/>
  <xsd:element name="Translated_IncludeMakeToOrderItems" type="xsd:string"/>
  <xsd:element name="Translated_IncludeManuallyForecastItems" type="xsd:string"/>
  <xsd:element name="Translated_IncludeMasterProductionScheduledItems" type="xsd:string"/>
  <xsd:element name="Translated_IncludePartTypes" type="xsd:string"/>
  <xsd:element name="Translated_IncludeReplenishmentItems" type="xsd:string"/>
  <xsd:element name="Translated_ParetoClasses" type="xsd:string"/>
  <xsd:element name="Translated_ParetoLevel" type="xsd:string"/>
  <xsd:element name="Translated_PeriodDaysToUse" type="xsd:string"/>
  <xsd:element name="Translated_PlannerFilterType" type="xsd:string"/>
  <xsd:element name="Translated_ProductClassFilterType" type="xsd:string"/>
  <xsd:element name="Translated_ReturnBuyLevel" type="xsd:string"/>
  <xsd:element name="Translated_ReturnConLevel" type="xsd:string"/>
  <xsd:element name="Translated_ReturnDraftLevels" type="xsd:string"/>
  <xsd:element name="Translated_ReturnLiveLevels" type="xsd:string"/>
  <xsd:element name="Translated_ReturnParetoLevel" type="xsd:string"/>
  <xsd:element name="Translated_ReturnPclLevel" type="xsd:string"/>
  <xsd:element name="Translated_ReturnPlnLevel" type="xsd:string"/>
  <xsd:element name="Translated_ReturnSkuLevel" type="xsd:string"/>
  <xsd:element name="Translated_ReturnSupLevel" type="xsd:string"/>
  <xsd:element name="Translated_ReturnValues" type="xsd:string"/>
  <xsd:element name="Translated_ReturnWhsLevel" type="xsd:string"/>
  <xsd:element name="Translated_StockCodeFilterType" type="xsd:string"/>
  <xsd:element name="Translated_SupplierFilterType" type="xsd:string"/>
  <xsd:element name="Translated_UseSelectionSet" type="xsd:string"/>
  <xsd:element name="Translated_WarehouseFilterType" type="xsd:string"/>
  <xsd:element name="Type" type="xsd:string"/>
  <xsd:element name="UseSelectionSet" type="xsd:string"/>
  <xsd:element name="Warehouse" type="xsd:string"/>
  <xsd:element name="WarehouseDescription" type="xsd:string"/>
  <xsd:element name="WarehouseFilterType" type="xsd:string"/>
  <xsd:element name="WarehouseFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="WarehouseMaximum" type="xsd:string"/>
  <xsd:element name="WarehouseMinimum" type="xsd:string"/>
  <xsd:element name="WarehouseSafety" type="xsd:string"/>
</xsd:schema>
