Schemas/IOPQ25.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the List of Forecast Calendars Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Calendar">
    <xsd:annotation>
      <xsd:documentation>Indicates the calendars that will be returned. (A) All, (R) Range or (S) Single, if no value is selected a default of (A) will be used.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=IopCalendar;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:annotation>
      <xsd:documentation>This is the parent Filter element</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Calendar"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:annotation>
      <xsd:documentation>This is the parent Option element</xsd:documentation>
       <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="XslStylesheet"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
       <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>This is the Stylesheet that is used</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
