Schemas/IOPQPJ.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the IO Policy Amendment Journal Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DeleteJournalFile" default="N">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the Policy amendment journal should be deleted after being printed. ( N - No and Y - Yes). If no value is supplied then a default of 'N' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Reprint"/>
        <xsd:element ref="PrintPolicyAdditions"/>
        <xsd:element ref="PrintPolicyChanges"/>
        <xsd:element ref="PrintPolicyDeletions"/>
        <xsd:element ref="DeleteJournalFile"/>
        <xsd:element ref="XslStyleSheet"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PrintPolicyAdditions" default="Y">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the Policy additions should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintPolicyChanges" default="Y">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the Policy updates should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintPolicyDeletions" default="Y">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the Policy deletions should be included. (Y - Yes and N - No). If no value is supplied then a default of 'Y' will be used. </xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Option"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Reprint" default="N">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the amendment journal should be reprinted. (Y - Yes and N - No). If set to 'Y' then all entries already printed that match the other options will be printed. If no value is supplied then a default of 'N' will be used.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="XslStyleSheet">
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
