Schemas/lot_traceability_report_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--   
     Schema for Lot Traceability Report Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ArchiveFile" type="xsd:string"/>
  <xsd:element name="ArchivedLots" type="xsd:string"/>
  <xsd:element name="Bin" type="xsd:string"/>
  <xsd:element name="BinFilterType" type="xsd:string"/>
  <xsd:element name="BinFilterValue" type="xsd:string"/>
  <xsd:element name="Certificate" type="xsd:string"/>
  <xsd:element name="CompanyId" type="xsd:string"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="ConcessionNum" type="xsd:string"/>
  <xsd:element name="CssStyle" type="xsd:string"/>
  <xsd:element name="Customer" type="xsd:string"/>
  <xsd:element name="DateCreated" type="xsd:string"/>
  <xsd:element name="DateFormat" type="xsd:string"/>
  <xsd:element name="DecFormat" type="xsd:string"/>
  <xsd:element name="Decimals" type="xsd:string"/>
  <xsd:element name="Description" type="xsd:string"/>
  <xsd:element name="DispatchNote" type="xsd:string"/>
  <xsd:element name="DocumentType" type="xsd:string"/>
  <xsd:element name="DrawingNumber" type="xsd:string"/>
  <xsd:element name="ExpiryDate" type="xsd:string"/>
  <xsd:element name="ExpiryDateFilterType" type="xsd:string"/>
  <xsd:element name="ExpiryDateFilterValue" type="xsd:string"/>
  <xsd:element name="GlPrdPerYear" type="xsd:string"/>
  <xsd:element name="IncludeAdjustments" type="xsd:string"/>
  <xsd:element name="IncludeBinTransfers" type="xsd:string"/>
  <xsd:element name="IncludeDispatches" type="xsd:string"/>
  <xsd:element name="IncludeCostChanges" type="xsd:string"/>
  <xsd:element name="IncludeExpiry" type="xsd:string"/>
  <xsd:element name="IncludeIssues" type="xsd:string"/>
  <xsd:element name="IncludeReceipts" type="xsd:string"/>
  <xsd:element name="IncludeSales" type="xsd:string"/>
  <xsd:element name="IncludeTransfers" type="xsd:string"/>
  <xsd:element name="IncludeZeroOnHand" type="xsd:string"/>
  <xsd:element name="Invoice" type="xsd:string"/>
  <xsd:element name="Job" type="xsd:string"/>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="LongDescription" type="xsd:string"/>
  <xsd:element name="LotDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Warehouse"/>
        <xsd:element ref="LotJob"/>
        <xsd:element ref="Bin"/>
        <xsd:element ref="Revision"/>
        <xsd:element ref="Release"/>
        <xsd:element ref="DateCreated"/>
        <xsd:element ref="ExpiryDate"/>
        <xsd:element ref="DrawingNumber"/>
        <xsd:element ref="ArchiveFile"/>
        <xsd:element ref="OnHold"/>
        <xsd:element name="ReasonForHold" type="xsd:string"/>
        <xsd:element ref="QuantityReceived"/>
        <xsd:element ref="QuantityReceivedUnits"/>
        <xsd:element ref="QuantityOnHand"/>
        <xsd:element ref="QuantityOnHandUnits"/>
        <xsd:element ref="QuantityToShip"/>
        <xsd:element ref="QuantityToShipUnits"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LotFilterType" type="xsd:string"/>
  <xsd:element name="LotFilterValue" type="xsd:string"/>
  <xsd:element name="LotItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LotDetails"/>
        <xsd:element ref="LotTransactions" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LotJob" type="xsd:string"/>
  <xsd:element name="LotTraceabilityQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="QueryOptions"/>
        <xsd:element ref="StockCodes"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LotTransactions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Transaction" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Lots">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LotItem" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LotsOnHold" type="xsd:string"/>
  <xsd:element name="NewExpiryDate" type="xsd:string"/>
  <xsd:element name="NewWarehouse" type="xsd:string"/>
  <xsd:element name="OldExpiryDate" type="xsd:string"/>
  <xsd:element name="OnHold" type="xsd:string"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorLocation" type="xsd:string"/>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
  <xsd:element name="PrintNarrations" type="xsd:string"/>
  <xsd:element name="PurchaseOrder" type="xsd:string"/>
  <xsd:element name="PurchaseOrderLin" type="xsd:string"/>
  <xsd:element name="QuantityOnHand" type="xsd:double"/>
  <xsd:element name="QuantityOnHandUnits" type="xsd:string"/>
  <xsd:element name="QuantityReceived" type="xsd:double"/>
  <xsd:element name="QuantityReceivedUnits" type="xsd:string"/>
  <xsd:element name="QuantityToShip" type="xsd:double"/>
  <xsd:element name="QuantityToShipUnits" type="xsd:string"/>
  <xsd:element name="QueryOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportType"/>
        <xsd:element ref="IncludeZeroOnHand"/>
        <xsd:element ref="PrintNarrations"/>
        <xsd:element ref="ArchivedLots"/>
        <xsd:element ref="IncludeIssues"/>
        <xsd:element ref="IncludeSales"/>
        <xsd:element ref="IncludeAdjustments"/>
        <xsd:element ref="IncludeTransfers"/>
        <xsd:element ref="IncludeReceipts"/>
        <xsd:element ref="IncludeBinTransfers"/>
        <xsd:element ref="IncludeExpiry"/>
        <xsd:element ref="IncludeDispatches"/>
        <xsd:element ref="IncludeCostChanges"/>
        <xsd:element ref="LotsOnHold"/>
        <xsd:element ref="StockCodeFilterType"/>
        <xsd:element ref="StockCodeFilterValue"/>
        <xsd:element ref="WarehouseFilterType"/>
        <xsd:element ref="WarehouseFilterValue"/>
        <xsd:element ref="LotFilterType"/>
        <xsd:element ref="LotFilterValue"/>
        <xsd:element ref="BinFilterType"/>
        <xsd:element ref="BinFilterValue"/>
        <xsd:element ref="ExpiryDateFilterType"/>
        <xsd:element ref="ExpiryDateFilterValue"/>
        <xsd:element ref="TransactionDateFilterType"/>
        <xsd:element ref="TransactionDateFilterValue"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Reference" type="xsd:string"/>
  <xsd:element name="Release" type="xsd:string"/>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="ReportType" type="xsd:string"/>
  <xsd:element name="Revision" type="xsd:string"/>
  <xsd:element name="Role" type="xsd:string"/>
  <xsd:element name="SalesOrder" type="xsd:string"/>
  <xsd:element name="SalesOrderLine" type="xsd:string"/>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="Source" type="xsd:string"/>
  <xsd:element name="StockCode" type="xsd:string"/>
  <xsd:element name="StockCodeDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="Description"/>
        <xsd:element ref="LongDescription"/>
        <xsd:element ref="Decimals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockCodeFilterType" type="xsd:string"/>
  <xsd:element name="StockCodeFilterValue" type="xsd:string"/>
  <xsd:element name="StockCodeItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StockCodeDetails"/>
        <xsd:element ref="Lots"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockCodes">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="StockCodeItem" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Supplier" type="xsd:string"/>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
        <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
        <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>        
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Transaction">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="TransactionDate"/>
        <xsd:element ref="TransactionType"/>
        <xsd:element ref="Reference"/>
        <xsd:element ref="TransactionQuantity" minOccurs="0"/>
        <xsd:element ref="TransactionQuantityUnits" minOccurs="0"/>
        <xsd:element ref="TransactionValue" minOccurs="0"/>
        <xsd:element ref="Source" minOccurs="0"/>
        <xsd:element ref="Job" minOccurs="0"/>
        <xsd:element ref="Supplier" minOccurs="0"/>
        <xsd:element ref="Customer" minOccurs="0"/>
        <xsd:element ref="PurchaseOrder" minOccurs="0"/>
        <xsd:element ref="PurchaseOrderLin" minOccurs="0"/>
        <xsd:element name="RMANumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="RMALine" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SalesOrder" minOccurs="0"/>
        <xsd:element ref="SalesOrderLine" minOccurs="0"/>
        <xsd:element ref="DocumentType" minOccurs="0"/>
        <xsd:element ref="Invoice" minOccurs="0"/>
        <xsd:element ref="DispatchNote" minOccurs="0"/>
        <xsd:element ref="Certificate" minOccurs="0"/>
        <xsd:element ref="ConcessionNum" minOccurs="0"/>
        <xsd:element ref="OldExpiryDate" minOccurs="0"/>
        <xsd:element ref="NewExpiryDate" minOccurs="0"/>
        <xsd:element ref="NewWarehouse" minOccurs="0"/>
        <xsd:element name="Narration" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TransactionDate" type="xsd:string"/>
  <xsd:element name="TransactionDateFilterType" type="xsd:string"/>
  <xsd:element name="TransactionDateFilterValue" type="xsd:string"/>
  <xsd:element name="TransactionQuantity" type="xsd:double"/>
  <xsd:element name="TransactionQuantityUnits" type="xsd:string"/>
  <xsd:element name="TransactionType" type="xsd:string"/>
  <xsd:element name="TransactionValue" type="xsd:double"/>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
  <xsd:element name="Warehouse" type="xsd:string"/>
  <xsd:element name="WarehouseFilterType" type="xsd:string"/>
  <xsd:element name="WarehouseFilterValue" type="xsd:string"/>
</xsd:schema>
