Schemas/LOTQRY.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Lot Traceability Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>The Root Element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element name="Key">
					<xsd:annotation>
						<xsd:documentation>The key to use for this query.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="false">
						<xsd:all>
							<xsd:element name="StockCode">
								<xsd:annotation>
									<xsd:documentation>If a StockCode is not entered, then a LotJob must be entered.  Both may be entered.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="30"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="LotJob">
								<xsd:annotation>
									<xsd:documentation>If a LotJob is not entered, then a StockCode must be entered.  Both may be entered.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:minLength value="1"/>
										<xsd:maxLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Option">
					<xsd:annotation>
						<xsd:documentation>The list of options.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="false">
						<xsd:all>
							<xsd:element name="MultiMediaImageType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Image type to retrieve (for example: GIF, JPG)</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="3"/>
										<xsd:maxLength value="3"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeZeroQtyLots" default="N" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Do you wish to include lots with a quantity of zero? (N - No, Y - Yes)</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeTransactions" default="N" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Do you wish to include transactions? (N - No, Y - Yes)</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeInspectionGoods" default="N" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Do you wish to include goods in inspection? (N - No, Y - Yes)</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeWipInspectionGoods" default="N" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Do you wish to include goods in WIP inspection? (N - No, Y - Yes)</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeCustomForms" default="N" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Do you wish to include custom forms? (N - No, Y - Yes)</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="XslStylesheet" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The stylesheet to be applied.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType/>
							</xsd:element>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
