Schemas/LOTTSOOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for the Query of the Lot Traceability setup options business object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Item" type="xsd:string"/>
  <xsd:element name="OptionsChanged" type="xsd:boolean"/>
  <xsd:complexType name="UpdateSummaryType">
    <xsd:sequence>
      <xsd:element ref="OptionsChanged"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="lottraceabilityoptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
        <xsd:element name="UpdateSummary" type="UpdateSummaryType"/>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
      <xsd:attribute name="Role" type="xsd:byte" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
