Schemas/LOTTSODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for the Query of the Lot Traceability setup options business object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LotTraceabilityOptions">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="General" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AutoLotNum">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Automatic lot numbering]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NextLotNum">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Next lot number to be used]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:double">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NextLotArchiveNum">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Next lot archive number]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:double">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ParentTraceIfCompTrace">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Parent traceable if component traceable]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LotNumEqualToJobNum">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Lot number equal to job number]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SameLotMultStockCodes">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Same lot to be used on multiple stock codes]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="General">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="AutoLotNum"/>
        <xsd:element ref="NextLotNum"/>
        <xsd:element ref="NextLotArchiveNum"/>
        <xsd:element ref="ParentTraceIfCompTrace"/>
        <xsd:element ref="LotNumEqualToJobNum"/>
        <xsd:element ref="SameLotMultStockCodes"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
