Schemas/mrp_job_actions_report.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2012 SYSPRO Ltd.-->
<!--
     Schema for the MRP Job Actions Business Object
-->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="PrintManufacturingUMQuantities">
<xsd:annotation>
<xsd:documentation>This is an option to print manufacturing unit of measure quantities instead of stocking unit of measure quantities. Valid entries are Y(Yes) or N(No). Default depends on your setup options.</xsd:documentation>
<xsd:appinfo source="screenitem=Y;Y=Yes; N=No"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ActionCancel" default="Y">
<xsd:annotation>
<xsd:documentation>Include Cancelled Jobs (Y=Yes, N=No)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ActionDecreaseQty" default="Y">
<xsd:annotation>
<xsd:documentation>Include Decreased Quantity (Y=Yes, N=No)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
</xsd:annotation>    <xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ActionIncreaseQty" default="Y">
<xsd:annotation>
<xsd:documentation>Include Increased Quantity (Y=Yes, N=No)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ActionNew" default="Y">
<xsd:annotation>
<xsd:documentation>Include New Jobs (Y=Yes, N=No)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ActionOverdue" default="Y">
<xsd:annotation>
<xsd:documentation>Include Overdue Jobs (Y=Yes, N=No)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ActionReschedule" default="Y">
<xsd:annotation>
<xsd:documentation>Include Resheduled Jobs (Y=Yes, N=No)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ActionScheduleIn" default="Y">
<xsd:annotation>
<xsd:documentation>Include Jobs that are Scheduled in  (Y=Yes, N=No)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ActionScheduleOut" default="Y">
<xsd:annotation>
<xsd:documentation>Include Scheduled Out Jobs (Y=Yes, N=No)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ConfirmedJob">
<xsd:annotation>
<xsd:documentation>Include Confirmed Jobs (Filter Types contain I=Include, E=Exclude, O=Only.)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;I=Include;E=Exclude;O=Only"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="I"/>
<xsd:enumeration value="E"/>
<xsd:enumeration value="O"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ExcludeActions" type="xsd:string" default="0">
<xsd:annotation>
<xsd:documentation>Enter number of days of actions to be excluded. Default to 0 Days</xsd:documentation>
<xsd:appinfo source="screenItem=Y;"/>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExistingJob">
<xsd:annotation>
<xsd:documentation>Include Existing Jobs. (Filter Type contains A=All, R=Range, S=Single)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;browse=MrpJobMaster;A =All; S=Single;R=Range"/>
</xsd:annotation>
<xsd:complexType>
<xsd:attribute name="FilterType" use="optional" default="A">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="A"/>
<xsd:enumeration value="R"/>
<xsd:enumeration value="S"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="Filter">
<xsd:annotation>
<xsd:documentation>This is the Parent Element Filters</xsd:documentation>
<xsd:appinfo source="screenItem=N;"/>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="FinishedStockCode" minOccurs="0"/>
<xsd:element ref="StartDate" minOccurs="0"/>
<xsd:element ref="Planner" minOccurs="0"/>
<xsd:element ref="ProductClass" minOccurs="0"/>
<xsd:element ref="SuggestedJob" minOccurs="0"/>
<xsd:element ref="ExistingJob" minOccurs="0"/>
<xsd:element ref="Warehouse" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FinishedStockCode">
<xsd:annotation>
<xsd:documentation>Include StockCode. (Filter Type containes A=All, R=Range, S=Single.)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;browse=InvMaster;A =All; S=Single;R=Range"/>
</xsd:annotation>
<xsd:complexType>
<xsd:attribute name="FilterType" use="optional" default="A">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="A"/>
<xsd:enumeration value="R"/>
<xsd:enumeration value="S"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="NotLoadedFFS">
<xsd:annotation>
<xsd:documentation>Include Jobs Not Loaded in FFS (Filter Type consists of I=Include, E=Exclude, O=Only)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;I=Include;E=Exclude;O=Only"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="I"/>
<xsd:enumeration value="E"/>
<xsd:enumeration value="O"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="JobOnHold">
<xsd:annotation>
<xsd:documentation>Include Jobs on Hold (Filter Type consists of I=Include, E=Exclude, O=Only.)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;I=Include;E=Exclude;O=Only"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="I"/>
<xsd:enumeration value="E"/>
<xsd:enumeration value="O"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Option">
<xsd:annotation>
<xsd:documentation>This is the Parent Options Element</xsd:documentation>
<xsd:appinfo source="screenItem=N;"/>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="ActionNew" minOccurs="0"/>
<xsd:element ref="ActionOverdue" minOccurs="0"/>
<xsd:element ref="ActionCancel" minOccurs="0"/>
<xsd:element ref="ActionReschedule" minOccurs="0"/>
<xsd:element ref="ActionScheduleIn" minOccurs="0"/>
<xsd:element ref="ActionScheduleOut" minOccurs="0"/>
<xsd:element ref="ActionIncreaseQty" minOccurs="0"/>
<xsd:element ref="ActionDecreaseQty" minOccurs="0"/>
<xsd:element ref="PrintOperations" minOccurs="0"/>
<xsd:element ref="PrintPegging" minOccurs="0"/>
<xsd:element ref="PrintCoProducts" minOccurs="0"/>
<xsd:element ref="ExcludeActions" minOccurs="0"/>
<xsd:element ref="ConfirmedJob" minOccurs="0"/>
<xsd:element ref="JobOnHold" minOccurs="0"/>
<xsd:element ref="NotLoadedFFS" minOccurs="0"/>
<xsd:element ref="PartType" minOccurs="0"/>
<xsd:element ref="PrintManufacturingUMQuantities" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="PartType">
<xsd:annotation>
<xsd:documentation>Select Part Type. ( consists of A=All or  B=Bought Out, M=Made In, S=Sub Contracted, C=Co-Products,  N=Notional Part. </xsd:documentation>
<xsd:appinfo source="screenItem=Y;A=All; B=Bought out; M=Made in; S=Subcontracted; C=Co-products;  N=Notional part"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="A"/>
<xsd:enumeration value="M"/>
<xsd:enumeration value="B"/>
<xsd:enumeration value="S"/>
<xsd:enumeration value="C"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Planner">
<xsd:annotation>
<xsd:documentation>Include Planners. (Filter Type Contains A=All, R=Range, S=Single)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;browse=InvPlanner;A =All; S=Single;R=Range"/>
</xsd:annotation>
<xsd:complexType>
<xsd:attribute name="FilterType" use="optional" default="A">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="A"/>
<xsd:enumeration value="R"/>
<xsd:enumeration value="S"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="PrintCoProducts" default="Y">
<xsd:annotation>
<xsd:documentation>Print Co-Products on report (Y=Yes, N=No)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PrintOperations" default="Y">
<xsd:annotation>
<xsd:documentation>Print Operations on report (Y=Yes, N=No)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PrintPegging" default="Y">
<xsd:annotation>
<xsd:documentation>Print Pegging on report (Y=Yes, N=No)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ProductClass">
<xsd:annotation>
<xsd:documentation>Include Product Class. (Filter Type contains A=All, R=Range, S=Single)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;browse=SalProductClassDes;A =All; S=Single;R=Range"/>
</xsd:annotation>
<xsd:complexType>
<xsd:attribute name="FilterType" use="optional" default="A">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="A"/>
<xsd:enumeration value="R"/>
<xsd:enumeration value="S"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="Query">
<xsd:annotation>
<xsd:documentation>The Root Element</xsd:documentation>
<xsd:appinfo source="screenItem=N;"/>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="Option"/>
<xsd:element ref="Filter"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="StartDate">
<xsd:annotation>
<xsd:documentation>Include Start Date, (Filter Type contains A=All, R=Range, S=Single)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;browse={date};A =All; R=Range; S=Single"/>
</xsd:annotation>
<xsd:complexType>
<xsd:attribute name="FilterType" use="optional" default="A">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="A"/>
<xsd:enumeration value="R"/>
<xsd:enumeration value="S"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="Warehouse">
<xsd:annotation>
<xsd:documentation>Include Warehouse, (Filter type contains A=All, R=Range, S=Single</xsd:documentation>
<xsd:appinfo source="screenItem=Y;browse=InvWhControl;A =All;R=Range;S=Single"/>
</xsd:annotation>
<xsd:complexType>
<xsd:attribute name="FilterType" use="optional" default="A">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="A"/>
<xsd:enumeration value="R"/>
<xsd:enumeration value="S"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="SuggestedJob">
<xsd:annotation>
<xsd:documentation>Include Suggested Jobs. (Filter Type contains A=All, R=Range, S=Single)</xsd:documentation>
<xsd:appinfo source="screenItem=Y;browse=MrpSugJobMaster;A =All;R=Range; S=Single"/>
</xsd:annotation>
<xsd:complexType>
<xsd:attribute name="FilterType" use="optional" default="A">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="A"/>
<xsd:enumeration value="R"/>
<xsd:enumeration value="S"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:schema>

