Schemas/MRPQE3.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the MRP Stock Codes with Demand Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Option">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncludeNonStock" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Filter">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StockCode">
                <xsd:complexType>
                  <xsd:attribute name="FilterType" type="xsd:string" use="required"/>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Warehouse">
                <xsd:complexType>
                  <xsd:attribute name="FilterType" type="xsd:string" use="required"/>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
