Schemas/MRPTBSDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for MRP Build Schedule Post Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DateRequired">
    <xsd:annotation>
      <xsd:documentation>Date the build schedule is required.  The date required field is mandatory.  If the IgnoreWarnings parameter is set to 'N' and the ActionType is 'A' then a check is made to see if the date entered is a working day and if not an error message is returned. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This element contains information to maintain a build schedule.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="Warehouse"/>
        <xsd:element ref="DateRequired"/>
        <xsd:element ref="Line" minOccurs="0"/>
        <xsd:element ref="OutstQtyToMake"/>
        <xsd:element ref="Reference" minOccurs="0"/>
        <xsd:element ref="ResourceParent" minOccurs="0"/>
        <xsd:element ref="Revision" minOccurs="0"/>
        <xsd:element ref="Release" minOccurs="0"/>
        <xsd:element ref="UseCurrentRevisionRelease" minOccurs="0"/>
        <xsd:element ref="NewDateRequired" minOccurs="0"/>
        <xsd:element name="LineAction" default="A" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element allows you to add, change or delete in a single run of the business object.  Default A, possible values A, C, D. Only available if parameter action type is L.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="1"/>
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="A"/>
              <xsd:enumeration value="C"/>
              <xsd:enumeration value="D"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Line">
    <xsd:annotation>
      <xsd:documentation>The line number is used to distinguish between build schedules for the same stock code and date required.  The line number is mandatory when the ActionType  is 'C' or 'D'</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NewDateRequired">
    <xsd:annotation>
      <xsd:documentation>If you want to change the date the build schedule is required you put the new date in this element.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OutstQtyToMake">
    <xsd:annotation>
      <xsd:documentation>Enter the outstanding quantity to make.  If changing a build schedule and the outstanding quantity to make is not provided or is zero then the quantity that is on file is used.  When deleting a build schedule the outstanding quantity to make is not checked.  When adding a build schedule the outstanding quantity to make must me entered. The format is 7.3 positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="11"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PostBuildSchedule">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Reference">
    <xsd:annotation>
      <xsd:documentation>Enter a reference for the build schedule.  Maximum length is 30 characters.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="30"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Release">
    <xsd:annotation>
      <xsd:documentation>Release indicates the ECC release number of the component part. Ignored if not an ECC controlled item, or if ECC controlled at a stocking/revision level. 
When adding and this is not supplied then defaults to the current release number for the stock code. 
This cannot be changed.
The format is 3 characters alphanumeric or 3 characters numeric depending on the configuration option within Bill of Materials setup.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ResourceParent">
    <xsd:annotation>
      <xsd:documentation>Resource parent code.  If the resource parent code supplied does not exists and the the parameter IgnoreWarnings is set to 'N'  then an error message will be output.  If the parameter IgnoreWarnings is set to 'Y' then the resource  parent code will be saved without a warning.  The maximum length is 15 characters.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Revision">
    <xsd:annotation>
      <xsd:documentation>Revision indicates the ECC version number of the stock code to make. Ignore if not an ECC controlled item, or if ECC controlled at a stocking level. 
When adding and this is not supplied then defaults to the current version number for the stock code. 
This cannot be changed.
The format is 3 characters alphanumeric or 3 chararcters numeric depending on the configuration option within Bill of Materials setup.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>Enter a MPS stock item. This is mandatory The format is 30 characters alphanumeric or 15 chararcters numeric depending on the configuration option within SYSPRO. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="30"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UseCurrentRevisionRelease" default="N">
    <xsd:annotation>
      <xsd:documentation>If this flag is set to 'Y' then the currrent revision and release will be used and the value of revision and release will be, '---'.  The default is 'N'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:annotation>
      <xsd:documentation>Enter a valid warehouse code for the MPS stock item. The warehouse field is a mandatory field.  The format is 2 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="2"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
