Schemas/pc_progress_report.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the P&C Job Transaction Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>This is the Root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
				<xsd:element ref="Filter"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:annotation>
			<xsd:documentation>This is the Parent Option element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ReportSequence"/>
				<xsd:element ref="CompletedContracts"/>
				<xsd:element ref="JobsOnHold"/>
				<xsd:element ref="UnconfirmedJobs"/>
				<xsd:element ref="CompletedJobs"/>
				<xsd:element ref="ReportType"/>
				<xsd:element ref="PrintZeroValueHeads"/>
				<xsd:element ref="XslStylesheet"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReportSequence" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The sequence the report should run in. (J) Job sequence or (C) Contract sequence. The default is (J) Job</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CompletedContracts" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Include Completed Contracts. (I) Include, (E) Exclude, (O) Only show completed contracts. The default is (I) Include.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JobsOnHold" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Include Jobs on hold. (I) Include, (E) Exclude, (O) Only show jobs on hold. The default is (I) Include.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnconfirmedJobs" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Include Unconfirmed Jobs. (I) Include, (E) Exclude, (O) Only show unconfirmed jobs. The default is (I) Include.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CompletedJobs" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Include Completed Jobs. (I) Include, (E) Exclude, (O) Only show completed jobs. The default is (I) Include.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReportType" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Report type. (D) Detail or (S) Summary. The default is (D) Detail.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrintZeroValueHeads" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Print heads with zero value. (Y) Yes or (N) No. The default is (Y) Yes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="XslStylesheet">
		<xsd:annotation>
			<xsd:documentation>This is the Stylesheet that is used</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:annotation>
			<xsd:documentation>This is the Parent Filter element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Job"/>
				<xsd:element ref="Contract"/>
				<xsd:element ref="JobClassification"/>
				<xsd:element ref="ResponsibilityCode"/>
				<xsd:element ref="Customer"/>
				<xsd:element ref="NextReviewDate"/>
				<xsd:element ref="NextBillingDate"/>
				<xsd:element ref="EstimatedContractCompletionDate"/>
				<xsd:element ref="JobDeliveryDate"/>
				<xsd:element ref="JobCompletionDate"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Job">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of jobs to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value=""/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Contract">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of contracts to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JobClassification">
		<xsd:annotation>
			<xsd:documentation>All or Single job classification to be returned. FilterType options - A(All), (S)Single. Default to A(All).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ResponsibilityCode">
		<xsd:annotation>
			<xsd:documentation>All or Single responsibility code to be returned. FilterType options - A(All), (S)Single. Default to A(All).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Customer">
		<xsd:annotation>
			<xsd:documentation>All or Single customer to be returned. FilterType options - A(All), (S)Single. Default to A(All).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NextReviewDate">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of review dates to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NextBillingDate">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of billing dates to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EstimatedContractCompletionDate">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of contract completion dates to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JobDeliveryDate">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of job delivery dates to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JobCompletionDate">
		<xsd:annotation>
			<xsd:documentation>All, Single, Range of job completion dates to be returned. FilterType options - A(All), (S)Single, (R)Range. Default to A(All).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
