Schemas/PORQ35OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for Blanket Purchase Order Contract Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BlanketPorContracts">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="QueryOptions"/>
        <xsd:element ref="ContractInformation"/>
        <xsd:element ref="GlPrdPerYear"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CompanyId" type="xsd:boolean"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="Contract" type="xsd:string"/>
  <xsd:element name="ContractDate" type="xsd:string"/>
  <xsd:element name="ContractDetail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LineNumber"/>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="StockDescription"/>
        <xsd:element ref="StockLongDescription"/>
        <xsd:element ref="Warehouse"/>
        <xsd:element ref="ContractQty"/>
        <xsd:element name="EditedContractQty" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="OrderedQty"/>
        <xsd:element name="EditedOrderedQty" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="ReceivedQty"/>
        <xsd:element name="EditedReceivedQty" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="Price"/>
        <xsd:element name="EditedPrice" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="OutstandingValue"/>
        <xsd:element name="EditedOutstandingValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="OutstandingForeignValue"/>
        <xsd:element name="EditedOutstandingForeignValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="LastGRNNumber"/>
        <xsd:element ref="LastReceiptedQty"/>
        <xsd:element name="EditedLastReceiptedQty" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="LastReceiptDate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ContractDetailInformation">
    <xsd:complexType>
      <xsd:choice maxOccurs="unbounded">
        <xsd:element ref="ContractDetail"/>
        <xsd:element ref="ScheduleDateDetails"/>
        <xsd:element ref="Total"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ContractFilterType" type="xsd:string"/>
  <xsd:element name="ContractFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ContractHeader">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Contract"/>
        <xsd:element ref="Supplier"/>
        <xsd:element ref="SupplierName"/>
        <xsd:element ref="SupplierClass"/>
        <xsd:element ref="ContractDate"/>
        <xsd:element ref="ExpiryDate"/>
        <xsd:element ref="DateLastDocumentPrinter"/>
        <xsd:element ref="OrderDueDate"/>
        <xsd:element ref="DeliveryWarehouse"/>
        <xsd:element ref="DeliveryWarehouseName"/>
        <xsd:element ref="DeliveryAddress1"/>
        <xsd:element ref="DeliveryAddress2"/>
        <xsd:element ref="DeliveryAddress3"/>
        <xsd:element ref="DeliveryAddress4"/>
        <xsd:element ref="DeliveryAddress5"/>
        <xsd:element ref="PostalZipCode"/>
        <xsd:element ref="ContractType"/>
        <xsd:element name="Translated_ContractType" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="CurrentContractStatus"/>
        <xsd:element name="Translated_CurrentContractStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="Customer"/>
        <xsd:element ref="CustomerPOrder"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ContractInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ContractHeader"/>
        <xsd:element ref="ContractDetailInformation"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ContractQty" type="xsd:string"/>
  <xsd:element name="ContractStatus" type="xsd:string"/>
  <xsd:element name="ContractType" type="xsd:string"/>
  <xsd:element name="CssStyle">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CurrentContractStatus" type="xsd:string"/>
  <xsd:element name="Customer">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CustomerPOrder">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DateFormat" type="xsd:byte"/>
  <xsd:element name="DateLastDocumentPrinter" type="xsd:string"/>
  <xsd:element name="DecFormat" type="xsd:boolean"/>
  <xsd:element name="DeliveryAddress1" type="xsd:string"/>
  <xsd:element name="DeliveryAddress2" type="xsd:string"/>
  <xsd:element name="DeliveryAddress3">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliveryAddress4">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliveryAddress5">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DeliveryWarehouse" type="xsd:string"/>
  <xsd:element name="DeliveryWarehouseName" type="xsd:string"/>
  <xsd:element name="ExpiryDate" type="xsd:string"/>
  <xsd:element name="ExpiryDateFilterType">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ExpiryDateFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="GlPrdPerYear" type="xsd:byte"/>
  <xsd:element name="GrandGrossOutstandingForeignValue" type="xsd:string"/>
  <xsd:element name="GrandGrossOutstandingValue" type="xsd:string"/>
  <xsd:element name="GrandNetOutstandingForeignValue" type="xsd:string"/>
  <xsd:element name="GrandNetOutstandingValue" type="xsd:string"/>
  <xsd:element name="GrandTotal">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="GrandTotalContractQty"/>
        <xsd:element ref="GrandTotalOrderedQty"/>
        <xsd:element ref="GrandTotalReceivedQty"/>
        <xsd:element ref="GrandGrossOutstandingValue"/>
        <xsd:element ref="GrandGrossOutstandingForeignValue"/>
        <xsd:element ref="GrandNetOutstandingValue"/>
        <xsd:element ref="GrandNetOutstandingForeignValue"/>
        <xsd:element ref="TotalNumberOfOutsandingOrders"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GrandTotalContractQty" type="xsd:string"/>
  <xsd:element name="GrandTotalOrderedQty" type="xsd:string"/>
  <xsd:element name="GrandTotalReceivedQty" type="xsd:string"/>
  <xsd:element name="IncludeActiveContractsOnly" type="xsd:string"/>
  <xsd:element name="IncludeCompletedTransactions" type="xsd:string"/>
  <xsd:element name="IncludeContractSchedule" type="xsd:string"/>
  <xsd:element name="IncludeContractTypeCall-OffMultiple" type="xsd:string"/>
  <xsd:element name="IncludeContractTypeCall-OffSingle" type="xsd:string"/>
  <xsd:element name="IncludeContractTypeMonitoringOrder" type="xsd:string"/>
  <xsd:element name="IncludeContractTypeStandingOrder" type="xsd:string"/>
  <xsd:element name="IncludeContractsBasedOn" type="xsd:string"/>
  <xsd:element name="IncludeLinesBasedOnPercOfTotContractQtyReceived" type="xsd:string"/>
  <xsd:element name="IncludeOverReceipts" type="xsd:string"/>
  <xsd:element name="IncludeTransactionDetails" type="xsd:string"/>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="LastGRNNumber" type="xsd:short"/>
  <xsd:element name="LastReceiptDate" type="xsd:string"/>
  <xsd:element name="LastReceiptedQty" type="xsd:string"/>
  <xsd:element name="LastScheduledDate">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LineNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="NumberOfDays" type="xsd:byte"/>
  <xsd:element name="NumberOfDeliveries" type="xsd:byte"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorLocation">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="OrderDueDate" type="xsd:string"/>
  <xsd:element name="OrderedQty" type="xsd:string"/>
  <xsd:element name="OutstandingForeignValue" type="xsd:string"/>
  <xsd:element name="OutstandingValue" type="xsd:string"/>
  <xsd:element name="Percentage" type="xsd:byte"/>
  <xsd:element name="PercentageOfTotal" type="xsd:byte"/>
  <xsd:element name="PostalZipCode">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Price" type="xsd:string"/>
  <xsd:element name="QueryOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportSequence"/>
        <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="ReportType"/>
        <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ContractTypes" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeContractTypeCall-OffSingle"/>
        <xsd:element name="Translated_IncludeContractTypeCall-OffSingle" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeContractTypeCall-OffMultiple"/>
        <xsd:element name="Translated_IncludeContractTypeCall-OffMultiple" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeContractTypeStandingOrder"/>
        <xsd:element name="Translated_IncludeContractTypeStandingOrder" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeContractTypeMonitoringOrder"/>
        <xsd:element name="Translated_IncludeContractTypeMonitoringOrder" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="ContractStatus"/>
        <xsd:element name="Translated_ContractStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeContractSchedule"/>
        <xsd:element name="Translated_IncludeContractSchedule" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeTransactionDetails"/>
        <xsd:element name="Translated_IncludeTransactionDetails" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeActiveContractsOnly"/>
        <xsd:element name="Translated_IncludeActiveContractsOnly" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeContractsBasedOn"/>
        <xsd:element name="Translated_IncludeContractsBasedOn" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Variable" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Variable2" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="NumberOfDays"/>
        <xsd:element ref="NumberOfDeliveries"/>
        <xsd:element ref="PercentageOfTotal"/>
        <xsd:element ref="IncludeLinesBasedOnPercOfTotContractQtyReceived"/>
        <xsd:element name="Translated_IncludeLinesBasedOnPercOfTotContractQtyReceived" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="Percentage"/>
        <xsd:element ref="IncludeCompletedTransactions"/>
        <xsd:element name="Translated_IncludeCompletedTransactions" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeOverReceipts"/>
        <xsd:element name="Translated_IncludeOverReceipts" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SupplierFilterType"/>
        <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SupplierFilterValue"/>
        <xsd:element ref="SupplierClassFilterType"/>
        <xsd:element name="Translated_SupplierClassFilterType" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SupplierClassFilterValue"/>
        <xsd:element ref="StockCodeFilterType"/>
        <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="StockCodeFilterValue"/>
        <xsd:element ref="ContractFilterType"/>
        <xsd:element name="Translated_ContractFilterType" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="ContractFilterValue"/>
        <xsd:element ref="ExpiryDateFilterType"/>
        <xsd:element ref="ExpiryDateFilterValue"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReceivedQty" type="xsd:string"/>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="ReportSequence" type="xsd:string"/>
  <xsd:element name="ReportType" type="xsd:string"/>
  <xsd:element name="Role" type="xsd:byte"/>
  <xsd:element name="SchDate">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SchGRN" type="xsd:string"/>
  <xsd:element name="SchOutstandingQty" type="xsd:boolean"/>
  <xsd:element name="SchPOrderLine">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SchPurchaseOrder">
    <xsd:simpleType>
      <xsd:restriction base="xsd:short"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SchQuantityOrdered" type="xsd:string"/>
  <xsd:element name="SchQuantityReceived" type="xsd:string"/>
  <xsd:element name="SchTotalOutstandingQty" type="xsd:string"/>
  <xsd:element name="SchTotalQtyOrdered" type="xsd:string"/>
  <xsd:element name="SchTotalQtyReceived" type="xsd:string"/>
  <xsd:element name="SchTransactionDate">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SchTransactionTime">
    <xsd:simpleType>
      <xsd:restriction base="xsd:time"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SchType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Order"/>
        <xsd:enumeration value="Receipt"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ScheduleDateDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ScheduleLines" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ScheduleDateTotal">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LastScheduledDate"/>
        <xsd:element ref="SchTotalQtyOrdered"/>
        <xsd:element name="EditedSchTotalQtyOrdered" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SchTotalQtyReceived"/>
        <xsd:element name="EditedSchTotalQtyReceived" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SchTotalOutstandingQty"/>
        <xsd:element name="EditedSchTotalOutstandingQty" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ScheduleLine">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SchPurchaseOrder"/>
        <xsd:element ref="SchPOrderLine"/>
        <xsd:element ref="SchDate"/>
        <xsd:element ref="SchTransactionDate"/>
        <xsd:element ref="SchTransactionTime"/>
        <xsd:element ref="SchGRN"/>
        <xsd:element ref="SchQuantityOrdered"/>
        <xsd:element name="EditedSchQuantityOrdered" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SchQuantityReceived"/>
        <xsd:element name="EditedSchQuantityReceived" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SchOutstandingQty"/>
        <xsd:element name="EditedSchOutstandingQty" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SchType"/>
        <xsd:element name="Translated_SchType" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ScheduleLines">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ScheduleLine" maxOccurs="unbounded"/>
        <xsd:element ref="ScheduleDateTotal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="StockCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockCodeFilterType" type="xsd:string"/>
  <xsd:element name="StockCodeFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="StockDescription" type="xsd:string"/>
  <xsd:element name="StockLongDescription" type="xsd:string"/>
  <xsd:element name="Supplier" type="xsd:byte"/>
  <xsd:element name="SupplierClass" type="xsd:string"/>
  <xsd:element name="SupplierClassFilterType" type="xsd:string"/>
  <xsd:element name="SupplierClassFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SupplierFilterType" type="xsd:string"/>
  <xsd:element name="SupplierFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SupplierName" type="xsd:string"/>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Total">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="TotalGrossOutstandingValue"/>
        <xsd:element name="EditedTotalGrossOutstandingValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="TotalGrossOutstandingForeignVal"/>
        <xsd:element name="EditedTotalGrossOutstandingForeignVal" type="xsd:string" minOccurs="0"/>
        <xsd:element name="EditedTotalFreightValue" type="xsd:string" minOccurs="0"/>
        <xsd:element name="EditedTotalFreightForeignValue" type="xsd:string" minOccurs="0"/>
        <xsd:element name="EditedTotalMiscValue" type="xsd:string" minOccurs="0"/>
        <xsd:element name="EditedTotalMiscForeignValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="TotalNetOutstandingValue"/>
        <xsd:element name="EditedTotalNetOutstandingValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="TotalNetOutstForeignValue"/>
        <xsd:element name="EditedTotalNetOutstForeignValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="TotalContractQty"/>
        <xsd:element name="EditedTotalContractQty" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="TotalOrderedQty"/>
        <xsd:element name="EditedTotalOrderedQty" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="TotalReceivedQty"/>
        <xsd:element name="EditedTotalReceivedQty" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TotalContractQty" type="xsd:string"/>
  <xsd:element name="TotalGrossOutstandingForeignVal" type="xsd:string"/>
  <xsd:element name="TotalGrossOutstandingValue" type="xsd:string"/>
  <xsd:element name="TotalNetOutstForeignValue" type="xsd:string"/>
  <xsd:element name="TotalNetOutstandingValue" type="xsd:string"/>
  <xsd:element name="TotalNumberOfOutsandingOrders" type="xsd:string"/>
  <xsd:element name="TotalOrderedQty" type="xsd:string"/>
  <xsd:element name="TotalReceivedQty" type="xsd:string"/>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
  <xsd:element name="Warehouse" type="xsd:string"/>
</xsd:schema>
