Schemas/PORQ85OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     Schema for the GRN Price Variance Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GRNPriceVarianceQuery">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportTypeDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportTypeDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportHeader" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GRNPercGreaterThan" type="xsd:string" minOccurs="0"/>
              <xsd:element name="VariancePerBase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_VariancePerBase" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReprintHeader" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_WarehouseFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WarehouseFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SupplierFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplierFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SupplierItems">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SupplierItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ApJournal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Date" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GrnValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedGrnValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PurchaseOrderLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedPurchaseOrderLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SubcontractOp" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Grn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockCodeDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QtyUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Quantity" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryNote" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrigGrnValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedOrigGrnValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StdGrnValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedStdGrnValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StdVarianceValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedStdVarianceValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PercentageValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedPercentageValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedInvoiceValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PriceVariance" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedPriceVariance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="VarianceValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedVarianceValue" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GrandValueTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GrndStandardValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedGrndStandardValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GrndPurchasedValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedGrndPurchasedValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GrndVarianceValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedGrndVarianceValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GrndPercentage" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedGrndPercentage" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReportTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="InvoiceValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedInvoiceValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GRNValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedGRNValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="VarValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedVarValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotGrnValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotGrnValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotInvValue" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotInvValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotPriceVariance" type="xsd:double" minOccurs="0"/>
              <xsd:element name="EditedTotPriceVariance" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TotalsByPPVAccounts">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TotalsByPPVItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccountNumDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AccountValue" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="EditedAccountValue" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
