Schemas/PORQ71.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--  
     This is an example XML instance to demonstrate
     use of the EC Declaration of Arrivals Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Option">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" default="D" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Report type required.  Valid values are 'D' - Detail (default) or 'S' - Summary</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="D"/>
                    <xsd:enumeration value="S"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Reprint" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Reprint required.  Valid values are 'N' (default) or 'Y'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ReprintSinglePeriod" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If reprinting a single period, enter valid month.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ReprintPeriodMonth" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If reprinting a single period, enter valid month.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="2"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ReprintPeriodYear" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If reprinting a single period, enter valid year (current or previous only).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="4"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DeleteStatisticsFile" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Valid values are 'N' (default) or 'Y'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Filter">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReceiptDate" minOccurs="0">
                <xsd:complexType>
                  <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TariffCode" minOccurs="0">
                <xsd:complexType>
                  <xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
