Schemas/PORQCL.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the List of Supplier/Stock Code Contract Prices Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>This is the root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Option">
					<xsd:annotation>
						<xsd:documentation>List of options</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IncludePriceDetails" default="Y">
								<xsd:annotation>
									<xsd:documentation>This will include the basic contract price information. N - No; Y - Yes. Default  Y - Yes</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeExtraPriceInformation" default="N">
								<xsd:annotation>
									<xsd:documentation>This will include the extended contract price information. N - No; Y - Yes. Default  N - No</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NewPagePerSupplier" default="N">
								<xsd:annotation>
									<xsd:documentation>This element is only relevant when producing a report, and if selected will cause the reoprt to print a new page for each new supplier. The use of this element does not affect the XML returned. N - No; Y - Yes. Default  N - No</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Filter">
					<xsd:annotation>
						<xsd:documentation>This contains one or more filters to restrict the information returned.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Catalogue">
								<xsd:annotation>
									<xsd:documentation>Enter the Catalogue to query.  A - All; R - Range; S - Single.   If not provided default is A.  If range(R) is selected then start and end supplier codes are separated by a comma. If single(S) is selected a catalouge code is given as FilterValue.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
									<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Supplier">
								<xsd:annotation>
									<xsd:documentation>Enter the suppler to query. A - All; R - Range; S - Single.   If not provided default is A.  If range(R) is selected then start and end supplier codes are separated by a comma. If single(S) is selected a supplier code is given as FilterValue.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
									<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Contract">
								<xsd:annotation>
									<xsd:documentation>Enter the contract to query.  A - All; R - Range; S - Single.   If not provided default is A.  If range(R) is selected then start and end supplier codes are separated by a comma. If single(S) is selected a contract code is given as FilterValue.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
									<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="StockCode">
								<xsd:annotation>
									<xsd:documentation>Enter the stock code to query. A - All; R - Range; S - Single.   If not provided default is A.  If range(R) is selected then start and end supplier codes are separated by a comma. If single(S) is selected a stock code is given as FilterValue.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
									<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Reference">
								<xsd:annotation>
									<xsd:documentation>Enter the reference to query.  A - All; R - Range; S - Single.  If not provided default is A.  If range(R) is selected then start and end supplier codes are separated by a comma. If single(S) is selected a reference code is given as FilterValue.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" type="xsd:string" use="optional" default="A"/>
									<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
