Schemas/PORQ71OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--  
     This is an example XSD instance to demonstrate
     use of the EC Declaration of Arrivals Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ECDeclarationofArrivals">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string"/>
              <xsd:element name="DeleteStatisticsFile" type="xsd:string"/>
              <xsd:element name="Reprint" type="xsd:string"/>
              <xsd:element name="ReprintSinglePeriod" type="xsd:string"/>
              <xsd:element name="ReprintPeriodMonth" type="xsd:byte"/>
              <xsd:element name="ReprintPeriodYear" type="xsd:short"/>
              <xsd:element name="ReceiptDateFilterType" type="xsd:string"/>
              <xsd:element name="ReceiptDateFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="TariffCodeFilterType" type="xsd:string"/>
              <xsd:element name="TariffFilterValue">
                <xsd:complexType/>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ECDeclarationofArrivalsList">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Declaration" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DeclarationDetail" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="DeclarationKey" type="xsd:string"/>
                          <xsd:element name="TariffCode">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="7350.10.55"/>
                                <xsd:enumeration value="7523.12.05"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="TransactionValue" type="xsd:string"/>
                          <xsd:element name="DeliveryTerms">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="A"/>
                                <xsd:enumeration value="S"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="NatureOfTransaction">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:byte">
                                <xsd:enumeration value="100"/>
                                <xsd:enumeration value="101"/>
                                <xsd:enumeration value="102"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="NetMass" type="xsd:string"/>
                          <xsd:element name="SupplementaryUnits">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="N"/>
                                <xsd:enumeration value="Y"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SupplementaryUnitCode">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="A"/>
                                <xsd:enumeration value="B"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SupplementarylUnitDesc" type="xsd:string"/>
                          <xsd:element name="SupplFactor" type="xsd:string"/>
                          <xsd:element name="SupplQuantity" type="xsd:string"/>
                          <xsd:element name="TransQuantity" type="xsd:string"/>
                          <xsd:element name="CountryofOrigin" type="xsd:string"/>
                          <xsd:element name="CountryOfOriginName" type="xsd:string"/>
                          <xsd:element name="ModeOfTransport">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:byte">
                                <xsd:enumeration value="01"/>
                                <xsd:enumeration value="02"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Currency" type="xsd:string"/>
                          <xsd:element name="CurrencyDescription" type="xsd:string"/>
                          <xsd:element name="GRN" type="xsd:byte"/>
                          <xsd:element name="TradersReference" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="DeclarationSummary">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SummTariffCode">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="7350.10.55"/>
                                <xsd:enumeration value="7523.12.05"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SummValue" type="xsd:string"/>
                          <xsd:element name="SummDeliveryTerms">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="A"/>
                                <xsd:enumeration value="S"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SummNatureOfTransaction">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:byte">
                                <xsd:enumeration value="100"/>
                                <xsd:enumeration value="101"/>
                                <xsd:enumeration value="102"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SummMass" type="xsd:string"/>
                          <xsd:element name="SummCountryofOrigin" type="xsd:string"/>
                          <xsd:element name="SummCountryOfOriginName" type="xsd:string"/>
                          <xsd:element name="SummModeOfTransport">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:byte">
                                <xsd:enumeration value="01"/>
                                <xsd:enumeration value="02"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="NumberofConsignments" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_Yes" minOccurs="0"/>
              <xsd:element name="Text_No" minOccurs="0"/>
              <xsd:element name="Text_All" minOccurs="0"/>
              <xsd:element name="Text_Summary" minOccurs="0"/>
              <xsd:element name="Text_Detail" minOccurs="0"/>
              <xsd:element name="Text____All_periods" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
      <xsd:attribute name="Role" type="xsd:byte" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
