Schemas/PORQ60.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Purchase Orders by Order Number Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Buyer">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a buyer to be queried. A - All; S - Singe. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Currency">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a currency to be queried. A - All; R - Range; S - Singe. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Customer">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a customer) to be queried. A - All; S - Singe. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Date">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a specific date(s) to be queried. A - All; R - Range; S - Singe. Default A - All. This field may only be used if any of the fields besides N - None are selected in the DateSelection option.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="R"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DateSelection">
		<xsd:annotation>
			<xsd:documentation>Use this field to determine the orders between a date range to be returned based on the dates entered when creating the purchase order. N - None; E - Entry; O - Order due; P - Print; M - Memo; L - Line Due. Default N - None. If N - None is selected then the filter for date selection will be disabled. If you select L - Line due, then the option for PrintLineDueDate may be used.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="N">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="N"/>
								<xsd:enumeration value="E"/>
								<xsd:enumeration value="O"/>
								<xsd:enumeration value="P"/>
								<xsd:enumeration value="M"/>
								<xsd:enumeration value="L"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:annotation>
			<xsd:documentation>This contains one or more filters to restrict the information returned.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="StockCode"/>
				<xsd:element ref="Warehouse"/>
				<xsd:element ref="Buyer"/>
				<xsd:element ref="Supplier"/>
				<xsd:element ref="ProductClass"/>
				<xsd:element ref="PurchaseOrder"/>
				<xsd:element ref="SupplierClass"/>
				<xsd:element ref="Currency"/>
				<xsd:element ref="Job"/>
				<xsd:element ref="Customer"/>
				<xsd:element ref="MemoCode"/>
				<xsd:element ref="Date"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeImportPurchaseOrders">
		<xsd:annotation>
			<xsd:documentation>Use this to include Import purchase orders. Y - Yes; N - No. Default Y - Yes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="Y">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeLocalPurchaseOrders">
		<xsd:annotation>
			<xsd:documentation>Use this to include local purchase orders. Y - Yes; N - No. Default Y - Yes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="Y">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeOtherPurchaseOrders">
		<xsd:annotation>
			<xsd:documentation>Use this to include other purchase orders. Y - Yes; N - No. Default Y - Yes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="Y">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" use="optional">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeZeroQtyOutstandingOrder">
		<xsd:annotation>
			<xsd:documentation>This option is used to include purchase orders with zero qty outstanding. Y - Yes; N - No. Default N - No.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="N">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Job">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a Job to be queried. A - All; S - Singe. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MemoCode">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a memo code to be queried. A - All; S - Singe. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:annotation>
			<xsd:documentation>List of options</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DateSelection"/>
				<xsd:element ref="ReportType"/>
				<xsd:element ref="OrderStatus"/>
				<xsd:element ref="PrintLineDueDate"/>
				<xsd:element ref="PrintCatalogue"/>
				<xsd:element ref="IncludeLocalPurchaseOrders"/>
				<xsd:element ref="IncludeImportPurchaseOrders"/>
				<xsd:element ref="IncludeOtherPurchaseOrders"/>
				<xsd:element ref="IncludeZeroQtyOutstandingOrder"/>
				<xsd:element ref="RevisionRelease"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderStatus">
		<xsd:annotation>
			<xsd:documentation>Use this to determine the order status to be returned. A - All; O - Open; P - Printed. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="O"/>
								<xsd:enumeration value="P"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PrintCatalogue">
		<xsd:annotation>
			<xsd:documentation>Use this to print the catalouge for the stock code. Y - Yes; N - No. Default Y - Yes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="Y">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PrintLineDueDate">
		<xsd:annotation>
			<xsd:documentation>Use this to determine if you want the Line due date to be printed on the report. This may only be used if youselect L - Line due in the DateSelection option. Y - Yes; N - No. Default N - No</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" type="xsd:string" use="optional" default="N"/>
					<xsd:attribute name="FilterValue" use="optional">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProductClass">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a product class(s) to be queried. A - All;  S - Singe. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PurchaseOrder">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a purchase order to be queried. A - All; R - Range; S - Singe. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="R"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>This is the root node</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
				<xsd:element ref="Filter"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReportType">
		<xsd:annotation>
			<xsd:documentation>Use this field to view a detailed or summary report. D - Detail; S - Summary. Default D - Detail.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="D">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="D"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RevisionRelease">
		<xsd:annotation>
			<xsd:documentation>This option in used in conjunction with the stock code filter. If you select single in the stock code then you may enter a revision number.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" type="xsd:string" use="optional"/>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StockCode">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a specific stock code(s) to be queried. A - All; R - Range; S - Singe. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="R"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Supplier">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a supplier to be queried. A - All; R - Range; S - Singe. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="R"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SupplierClass">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a supplier class(s) to be queried. A - All; S - Singe. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Warehouse">
		<xsd:annotation>
			<xsd:documentation>Use this to specify a warehouse(s) to be queried. A - All; S - Singe. Default A - All.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="FilterType" use="optional" default="A">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="S"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
