Schemas/PORQRQOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Requisition Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ReqQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="UserName" type="xsd:string"/>
        <xsd:element name="UserCode" type="xsd:string"/>
        <xsd:element name="RequisitionItem" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Requisition" type="xsd:string"/>
              <xsd:element name="ReasonForReqn" type="xsd:string"/>
              <xsd:element name="Line" type="xsd:string"/>
              <xsd:element name="ShowCommitmentStatus" type="xsd:string"/>
              <xsd:element name="WarnIfBudgetExceeded" type="xsd:string"/>
              <xsd:element name="Notation" type="xsd:string"/>
              <xsd:element name="FromUserInformation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="FromUser" type="xsd:string"/>
                    <xsd:element name="UserName" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="RouteNarrative" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Supplier" type="xsd:string"/>
              <xsd:element name="SupplierName" type="xsd:string"/>
              <xsd:element name="SupplierCurrency" type="xsd:string"/>
              <xsd:element name="Price" type="xsd:string"/>
              <xsd:element name="PriceUom" type="xsd:string"/>
              <xsd:element name="GlCode" type="xsd:string"/>
              <xsd:element name="DiscountCode" type="xsd:string"/>
              <xsd:element name="LessPlusDisc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DiscPct1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DiscPct2" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DiscPct3" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="Release" type="xsd:string"/>
              <xsd:element name="EccHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderQty" type="xsd:string"/>
              <xsd:element name="OrderUom" type="xsd:string"/>
              <xsd:element name="DateReqnRaised" type="xsd:string"/>
              <xsd:element name="DueDate" type="xsd:string"/>
              <xsd:element name="DateLastReceipt" type="xsd:string"/>
              <xsd:element name="DatePoConfirmed" type="xsd:string"/>
              <xsd:element name="DateActioned" type="xsd:string"/>
              <xsd:element name="ReqnStatus" type="xsd:string"/>
              <xsd:element name="POStatus" type="xsd:string"/>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="StockDescription" type="xsd:string"/>
              <xsd:element name="Warehouse" type="xsd:string"/>
              <xsd:element name="SupCatalogueNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerPoNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClass" type="xsd:string"/>
              <xsd:element name="TaxCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderLine" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Quote" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QuoteLineNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CapexNum" type="xsd:string"/>
              <xsd:element name="BpoApproved" type="xsd:string"/>
              <xsd:element name="Job" type="xsd:string" minOccurs="0"/>
              <xsd:element name="JobDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SubOperationNum" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OriginatorInformation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Originator" type="xsd:string"/>
                    <xsd:element name="UserName" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ConfirmedPoNum" type="xsd:string"/>
              <xsd:element name="ConfirmedPoLine" type="xsd:string"/>
              <xsd:element name="HolderInformation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CurrentHolder" type="xsd:string"/>
                    <xsd:element name="UserName" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ApprovedInformation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="UserCode" type="xsd:string"/>
                    <xsd:element name="UserName" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Notes" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Text" type="xsd:string" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Comments" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Text" type="xsd:string" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
