Schemas/PORQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Purchase Order Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PorDetail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PurchaseOrder" type="xsd:string"/>
        <xsd:element name="Supplier" type="xsd:string"/>
        <xsd:element name="SupplierName" type="xsd:string"/>
        <xsd:element name="SupplierClass" type="xsd:string"/>
        <xsd:element name="Customer" type="xsd:string"/>
        <xsd:element name="CustomerPoNumber" type="xsd:string"/>
        <xsd:element name="SupplierAddr1" type="xsd:string"/>
        <xsd:element name="SupplierAddr2" type="xsd:string"/>
        <xsd:element name="SupplierAddr3" type="xsd:string"/>
        <xsd:element name="SupplierAddr4" type="xsd:string"/>
        <xsd:element name="SupplierAddr5" type="xsd:string"/>
        <xsd:element name="SupPostalCode" type="xsd:string"/>
        <xsd:element name="Currency" type="xsd:string"/>
        <xsd:element name="Description" type="xsd:string"/>
        <xsd:element name="DeliveryName" type="xsd:string"/>
        <xsd:element name="DeliveryAddr1" type="xsd:string"/>
        <xsd:element name="DeliveryAddr2" type="xsd:string"/>
        <xsd:element name="DeliveryAddr3" type="xsd:string"/>
        <xsd:element name="DeliveryAddr4" type="xsd:string"/>
        <xsd:element name="DeliveryAddr5" type="xsd:string"/>
        <xsd:element name="PostalCode" type="xsd:string"/>
        <xsd:element name="OrderStatus" type="xsd:string"/>
        <xsd:element name="OrderEntryDate" type="xsd:string"/>
        <xsd:element name="OrderDueDate" type="xsd:string"/>
        <xsd:element name="MemoDate" type="xsd:string"/>
        <xsd:element name="MemoCode" type="xsd:string"/>
        <xsd:element name="OrderType" type="xsd:string"/>
        <xsd:element name="PaymentTerms" type="xsd:string"/>
        <xsd:element name="TaxStatus" type="xsd:string"/>
        <xsd:element name="ShippingInstrs" type="xsd:string"/>
        <xsd:element name="OrderDiscount" type="xsd:string"/>
        <xsd:element name="AmendedCount" type="xsd:string"/>
        <xsd:element name="Buyer" type="xsd:string"/>
        <xsd:element name="Name" type="xsd:string"/>
        <xsd:element name="DocumentFormat" type="xsd:string"/>
        <xsd:element name="CustomForm">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Field" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Sequence" type="xsd:string"/>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Prompt" type="xsd:string"/>
                    <xsd:element name="Type" type="xsd:string"/>
                    <xsd:element name="Length" type="xsd:string"/>
                    <xsd:element name="Decimals" type="xsd:string"/>
                    <xsd:element name="Default" type="xsd:string"/>
                    <xsd:element name="AllowNull" type="xsd:string"/>
                    <xsd:element name="Value" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PurchaseOrderLine" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="MiscCharge" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PurchaseOrderLine" type="xsd:string"/>
                    <xsd:element name="NComment" type="xsd:string"/>
                    <xsd:element name="NCommentFromLin" type="xsd:string"/>
                    <xsd:element name="NMscChargeValue" type="xsd:string"/>
                    <xsd:element name="NMscChargeFor" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Freight" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PurchaseOrderLine" type="xsd:string"/>
                    <xsd:element name="NComment" type="xsd:string"/>
                    <xsd:element name="NCommentFromLin" type="xsd:string"/>
                    <xsd:element name="NMscChargeValue" type="xsd:string"/>
                    <xsd:element name="NMscChargeFor" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CommentLine" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PurchaseOrderLine" type="xsd:string"/>
                    <xsd:element name="NComment" type="xsd:string"/>
                    <xsd:element name="NCommentFromLin" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Merchandise" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Line" type="xsd:string"/>
                    <xsd:element name="MStockCode" type="xsd:string"/>
                    <xsd:element name="MStockDes" type="xsd:string"/>
                    <xsd:element name="LongDesc" type="xsd:string"/>
                    <xsd:element name="TraceableType" type="xsd:string"/>
                    <xsd:element name="Mass" type="xsd:string"/>
                    <xsd:element name="Volume" type="xsd:string"/>
                    <xsd:element name="ReceiptIntoFlag" type="xsd:string"/>
                    <xsd:element name="MWarehouse" type="xsd:string"/>
                    <xsd:element name="MOutstandingQty" type="xsd:string"/>
                    <xsd:element name="MOrderQty" type="xsd:string"/>
                    <xsd:element name="MReceivedQty" type="xsd:string"/>
                    <xsd:element name="MOrderUom" type="xsd:string"/>
                    <xsd:element name="MCompleteFlag" type="xsd:string"/>
                    <xsd:element name="MJob" type="xsd:string"/>
                    <xsd:element name="MPrice" type="xsd:string"/>
                    <xsd:element name="OrderValue" type="xsd:string"/>
                    <xsd:element name="MDiscPct1" type="xsd:string"/>
                    <xsd:element name="MDiscPct2" type="xsd:string"/>
                    <xsd:element name="MDiscPct3" type="xsd:string"/>
                    <xsd:element name="MDiscValue" type="xsd:string"/>
                    <xsd:element name="MDiscValFlag"/>
                    <xsd:element name="MForeignPrice" type="xsd:string"/>
                    <xsd:element name="ForeignOrderValue" type="xsd:string"/>
                    <xsd:element name="MPriceUom" type="xsd:string"/>
                    <xsd:element name="MLatestDueDate" type="xsd:string"/>
                    <xsd:element name="MSupCatalogue" type="xsd:string"/>
                    <xsd:element name="MProductClass" type="xsd:string"/>
                    <xsd:element name="MStockingUom" type="xsd:string"/>
                    <xsd:element name="MDecimalsToPrt" type="xsd:string"/>
                    <xsd:element name="MConvFactPrcUm" type="xsd:string"/>
                    <xsd:element name="MMulDivPrc" type="xsd:string"/>
                    <xsd:element name="MTaxCode" type="xsd:string"/>
                    <xsd:element name="MConvFactOrdUm" type="xsd:string"/>
                    <xsd:element name="MMulDivAlloc" type="xsd:string"/>
                    <xsd:element name="MGlCode" type="xsd:string"/>
                    <xsd:element name="MOrigDueDate" type="xsd:string"/>
                    <xsd:element name="MLctConfirmed" type="xsd:string"/>
                    <xsd:element name="MSubcontractOp" type="xsd:string"/>
                    <xsd:element name="MVersion" type="xsd:string"/>
                    <xsd:element name="MRelease" type="xsd:string"/>
                    <xsd:element name="AssetFlag" type="xsd:string"/>
                    <xsd:element name="CapexCode" type="xsd:string"/>
                    <xsd:element name="SelectionCode" type="xsd:string"/>
                    <xsd:element name="SelectionType" type="xsd:string"/>
                    <xsd:element name="SalesOrder" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SalesOrder" type="xsd:unsignedShort"/>
                          <xsd:element name="SalesOrderLine" type="xsd:string"/>
                          <xsd:element name="MOrderQty" type="xsd:string"/>
                          <xsd:element name="MOrderUom" type="xsd:string"/>
                          <xsd:element name="MShipQty" type="xsd:string"/>
                          <xsd:element name="MBackOrderQty" type="xsd:string"/>
                          <xsd:element name="MStockQtyToShp" type="xsd:string"/>
                          <xsd:element name="MStockingUom" type="xsd:string"/>
                          <xsd:element name="MQtyDispatched" type="xsd:string"/>
                          <xsd:element name="MStockUnitMass" type="xsd:string"/>
                          <xsd:element name="MStockUnitVol" type="xsd:string"/>
                          <xsd:element name="MPrice" type="xsd:string"/>
                          <xsd:element name="MPriceCode" type="xsd:string"/>
                          <xsd:element name="MProductClass" type="xsd:string"/>
                          <xsd:element name="MPriceUom" type="xsd:string"/>
                          <xsd:element name="MTaxCode" type="xsd:string"/>
                          <xsd:element name="MLineShipDate" type="xsd:string"/>
                          <xsd:element name="MCustRequestDat"/>
                          <xsd:element name="Currency" type="xsd:string"/>
                          <xsd:element name="ForeignOrderValue"/>
                          <xsd:element name="ForeignCurrency"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="LctDetail" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Vessel" type="xsd:unsignedInt"/>
                          <xsd:element name="VesselName" type="xsd:string"/>
                          <xsd:element name="DepartureDate" type="xsd:string"/>
                          <xsd:element name="EstArrivalDate" type="xsd:string"/>
                          <xsd:element name="Route" type="xsd:string"/>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="ShipmentReference" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="History" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Journal" type="xsd:string"/>
                          <xsd:element name="JnlDate" type="xsd:string"/>
                          <xsd:element name="DateReceived" type="xsd:string"/>
                          <xsd:element name="Reference" type="xsd:unsignedShort"/>
                          <xsd:element name="RejectCode"/>
                          <xsd:element name="QtyReceived" type="xsd:string"/>
                          <xsd:element name="PriceReceived" type="xsd:string"/>
                          <xsd:element name="LineDueDate" type="xsd:string"/>
                          <xsd:element name="OrigPurchPrcFor" type="xsd:string"/>
                          <xsd:element name="AddReference" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Grn" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Grn" type="xsd:unsignedShort"/>
                          <xsd:element name="OrigReceiptDate" type="xsd:string"/>
                          <xsd:element name="DeliveryNote" type="xsd:string"/>
                          <xsd:element name="GrnSource" type="xsd:string"/>
                          <xsd:element name="Journal" type="xsd:string"/>
                          <xsd:element name="JournalEntry" type="xsd:string"/>
                          <xsd:element name="QtyReceived" type="xsd:string"/>
                          <xsd:element name="OutstandingValue" type="xsd:string"/>
                          <xsd:element name="GrnMatchedFlag" type="xsd:string"/>
                          <xsd:element name="Job"/>
                          <xsd:element name="SubcontractOp" type="xsd:string"/>
                          <xsd:element name="ProductClass" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Requisition" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Originator" type="xsd:string"/>
                          <xsd:element name="Requisition" type="xsd:string"/>
                          <xsd:element name="Line" type="xsd:string"/>
                          <xsd:element name="DueDate" type="xsd:string"/>
                          <xsd:element name="OrderQty" type="xsd:string"/>
                          <xsd:element name="OrderUom" type="xsd:string"/>
                          <xsd:element name="ReasonForReqn"/>
                          <xsd:element name="Price" type="xsd:string"/>
                          <xsd:element name="PriceUom" type="xsd:string"/>
                          <xsd:element name="Discount" type="xsd:string"/>
                          <xsd:element name="ReqnStatus" type="xsd:string"/>
                          <xsd:element name="Job"/>
                          <xsd:element name="SubOperationNum"/>
                          <xsd:element name="ProductClass" type="xsd:string"/>
                          <xsd:element name="GlCode"/>
                          <xsd:element name="Description"/>
                          <xsd:element name="CapexNum"/>
                          <xsd:element name="ExtendedValue" type="xsd:string"/>
                          <xsd:element name="Routing">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="MRequisition" type="xsd:string"/>
                                <xsd:element name="RequisitionLine" type="xsd:string"/>
                                <xsd:element name="RoutedUser" type="xsd:string"/>
                                <xsd:element name="RouteNarrative" type="xsd:string"/>
                                <xsd:element name="ReceiptDate"/>
                                <xsd:element name="ReceiptQuantity" type="xsd:string"/>
                                <xsd:element name="OutstandingQty" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
