Schemas/PORSSXOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for Supplier/Stock Code Cross-reference Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="setupsupplierstockxref">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="item">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="key">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="supplier" type="xsd:byte">
											<xsd:annotation>
												<xsd:documentation>Supplier for which cross-reference was updated.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="stockcode" type="xsd:byte">
											<xsd:annotation>
												<xsd:documentation>Stock code for which cross-reference was updated.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="StatusOfItems">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RecordsRead" type="xsd:boolean"/>
							<xsd:element name="RecordsInvalid" type="xsd:boolean"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
