Schemas/PORTOI.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Purchase Order Transaction Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AllowBlankLedgerCode" default="Y">
    <xsd:annotation>
      <xsd:documentation>Indicates if the ledger code will be mandatory when adding a non-stocked order line. If this parameter is set to N (No) - a ledger code for non-stocked lines must be supplied. Will default to Y(Yes).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowNonStockItems" default="N">
    <xsd:annotation>
      <xsd:documentation>If the stock code supplied does not exist on the inventory master the P/order line will be added as a non-stocked detail line only if the parameter Allow non-stocked items is set to Y (Yes) or S(Specify). The default is N (No).  If the element 'AllowNonStockItems' is set to 'S', then a new non-stocked detail line must include the element 'NonStockedLine' with a value of 'Y' to enable it to be added as a non-stocked line.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowPoWhenBlanketPo" default="N">
    <xsd:annotation>
      <xsd:documentation>If the supplier is flagged as Blanket purchase orders in use (supplier set-up - Purchasing tab) - then the program will check if there are any blanket P/order contracts for the stock code and allow the P/order to be added depending on this parameter and the Purchase order set-up  (Option tab) to allow manual entry of P/order when Blanket P/orders exist. Default N (No).
 Based on contract: if the Blanket P/order contract is not fixed and the parameter Allow P/order When Blanket P/order contains 'Y' - lines may be added. However you will not be able to add a P/order line for the stock code if the blanket P/order contract is fixed or the parameter contains 'N'.
Not allowed : You will not be able to add a P/order line if a blanket P/order already exists.
Allowed: You will only be allowed to add a P/order line if the parameter Allow P/order When Blanket P/order contains Y.
</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowZeroPrice" default="N">
    <xsd:annotation>
      <xsd:documentation>This parameter will indicate if a zero price will be accepted when saving a new  P/order. (Y - will save line with a zero price, N - will raise an error when no price or default price has been supplied for a P/order line). Default N (No).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CalcDueDate" default="N">
    <xsd:annotation>
      <xsd:documentation>This parameter indicates if you want to calculate the line due date of a stocked line by extending the company date forward by the lead time defined against the stock code. If the calculated date is a non-working date - the next or previous working date can be used depending on the parameter ValidateWorking date. Default N- (No).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefaultDeliveryAddress">
    <xsd:annotation>
      <xsd:documentation>This parameter indicates the default delivery address to be used for all purchase orders.  Will be validated if supplied - if not on file a warning will be issued if the parameter Ignore Warnings contains N (No). This address is only used if the delivery address is not supplied with the purchase order, and the system setting to use the warehouse address is not selected
</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="5"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefaultMemoCode">
    <xsd:annotation>
      <xsd:documentation>Indicates a single character default memo code. This memo code can be used as a means of identifying who raised the purchase order.  The default Memo code will be used for all new orders where a memo code has not been supplied in the Order Header.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefaultMemoDays">
    <xsd:annotation>
      <xsd:documentation>The memo date for the order header defaults from the order date plus the default memo days supplied if the Memo date is not supplied when adding an order.  This is a 3 digit integer field.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FixedExchangeRate" default="N">
    <xsd:annotation>
      <xsd:documentation>This parameter will only be relevant if processing an order for a foreign currency supplier and you selected the Allow entry/maintenance of exchange rate option (Purchase Orders Set-up) and the currency has not been flagged as Fixed on the currency conversion table (Accounts payable - Currency Set-up). This parameter will indicate if the order will default to a fixed exchange rate. The current exchange rate is used. Default N - (No).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IgnoreWarnings" default="N">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether or not a transaction must be rejected if there are any warnings, such as a delivery address code invalid, customer not on file,  P/O line with material allocations, stock superceded due date, invalid price method, invalid ledger code, ledger code on hold, ledger code is a control account, job not found, product class not found or cancelling a line where line is for EDI order, line originates from a S/O, line associated with a job, line has material allocations, adding a miscellaneous line where charge value is zero,  adding a freight line where charge value is zero. If 'W' supplied, these errors will be reported as warnings. If it is not supplied, it defaults to 'N'. Valid values are 'N', 'W' and 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="W"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="InsertAdditionalPOText" default="N">
    <xsd:annotation>
      <xsd:documentation>Any additional Purchase order text held against a stocked item being purchase will be inserted automatically if the Purchase order set-up option (Option tab) to Insert purchase order additional text automatically is selected. However if this set-up option is not selected this parameter will indicate if any additional purchase order text should still be inserted for the purchase order. Possible value Y (Yes) or N (No). Default N - (No).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="InsertDangerousGoodsText" default="N">
    <xsd:annotation>
      <xsd:documentation>Any dangerous goods text held against a stocked item being purchase will be inserted automatically if the Purchase order set-up option (Option tab) to Insert dangerous goods text automatically is selected. However if this set-up option is not selected this parameter will indicate if any dangerous goods text should still be inserted for the purchase order. Possible value Y (Yes) or N (No). Default N - (No).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Parameters">
    <xsd:annotation>
      <xsd:documentation>This element contains the optional parameter elements.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="ValidateOnly" minOccurs="0"/>
        <xsd:element ref="IgnoreWarnings" minOccurs="0"/>
        <xsd:element ref="AllowNonStockItems" minOccurs="0"/>
        <xsd:element ref="AllowZeroPrice" minOccurs="0"/>
        <xsd:element ref="ValidateWorkingDays" minOccurs="0"/>
        <xsd:element ref="AllowPoWhenBlanketPo" minOccurs="0"/>
        <xsd:element ref="DefaultMemoCode" minOccurs="0"/>
        <xsd:element ref="FixedExchangeRate" minOccurs="0"/>
        <xsd:element ref="DefaultMemoDays" minOccurs="0"/>
        <xsd:element ref="AllowBlankLedgerCode" minOccurs="0"/>
        <xsd:element ref="DefaultDeliveryAddress" minOccurs="0"/>
        <xsd:element ref="CalcDueDate" minOccurs="0"/>
        <xsd:element ref="InsertDangerousGoodsText" minOccurs="0"/>
        <xsd:element ref="InsertAdditionalPOText" minOccurs="0"/>
        <xsd:element ref="Status" minOccurs="0"/>
        <xsd:element ref="StatusInProcess" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PostPurchaseOrders">
    <xsd:annotation>
      <xsd:documentation>This is the Root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Parameters"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ValidateOnly" default="Y">
    <xsd:annotation>
      <xsd:documentation>Specifies whether to only validate the contents of the document. (N - validate and apply function if no errors, Y - only validate the document). Default Y - (validate only).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ValidateWorkingDays" default="N">
    <xsd:annotation>
      <xsd:documentation>This parameter indicates that the order and due dates will be validated to ensure that these dates are working dates. ( A - no validation will be performed and all dates will be accepted as supplied, P - dates will be validated and if the date falls on a non-working date, the previous working date will be selected, N - dates will be validated and if the date falls on a non-working date, the next working date will be selected). Default N - (No).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="P"/>
        <xsd:enumeration value="A"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Status" default="1">
    <xsd:annotation>
      <xsd:documentation>The required status of the purchase order. This only applies when adding a new order. (Status 1 is ready to print, status 4 is already printed). Default is 1.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="4"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StatusInProcess">
    <xsd:annotation>
      <xsd:documentation>This parameter is only intended for use when the business object is called from scripting while processing a purchase order with the SYSPRO Purchase Order Entry program. It should be set to 'Y' in those circumstances, and will allow the business object to access the purchase order that is currently held by SYSPRO. If this parameter is 'Y' then the order must be in process The only activity allowed is to add a line to the order. If this parameter is set to 'Y'  under any other circumstances, then the results will be unpredictable.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
