Schemas/PORTSCDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the PO Supplier Contract Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostSupplierContract">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Supplier">
                <xsd:annotation>
                  <xsd:documentation>This element must contain a valid supplier and is mandatory.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="7"/>
                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="StockCode">
                <xsd:annotation>
                  <xsd:documentation>This element must contain a valid stock code and is mandatory.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Contract">
                <xsd:annotation>
                  <xsd:documentation>This element must contain a valid contract and is mandatory.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PriceReference" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element must contain the price reference and is not mandatory.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PurchasePrice" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the price. This may be zero.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PriceUom" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the Price unit of measure,  
If left blank, it defaults to the stocking unit of measure. 
If non-blank, this must be the stocking unit of measure or the alternate unit of measure or a valid unit of measure from the Purchasing price unit of measure table.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="3"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DiscountCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains a valid discount code or leave this field blank. If the discount code is given it must be valid, and manually entered discounts will be ignored. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="2"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PackSize" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The default value is zero.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MinimumQty" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Enter the minimum order quantity. 
(7.3 field).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PriceStartDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Enter the date from which prices are valid. The default is zeroes.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PriceExpiryDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Enter the date when the prices expire. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PriceQuoteDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Enter the quoted price date. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="QuoteLeadTime" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Enter the quoted lead time. This may be blank</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="FreightCharges" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Enter the anticipated supplier freight charges (8.2 field).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DiscPct1" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the discount percent1. The discount percent1 will only be used if discount code is not given. This may be zeroes. (2.2 field).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DiscPct2" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the discount percent2. The discount percent2 will only be used if discount code is not given. This may be zeroes. (2.2 field).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DiscPct3" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element contains the discount percent3. The discount percent3 will only be used if discount code is not given. This may be zeroes. (2.2 field).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MinimumQtyUom" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Enter the unit of measure applicable to the minimum order quantity. This defaults to the stocking unit of measure. This may be blank.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="3"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PriceComment" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Enter the price comment. This may be blank.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ShippingInstrs" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Enter the shipping instruction. This may be blank.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:maxLength value="30"/>
                    <xsd:minLength value="0"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="FreightComment" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Enter the freight comment. This may be blank.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
