Schemas/PORTOR.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Purchase Order Receipts Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ApplyIfEntireDocumentValid" default="Y">
		<xsd:annotation>
			<xsd:documentation>This element indicates whether to process entire document only if all items are valid. If set to 'N', each item is validated and rejected if in error or processed if correct. This is the fastest option. If set to 'Y', all items are validated and only processed if entire document is valid. Default is 'Y'. Valid values are 'Y' and 'N'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GRNMatchingAction" default="A">
		<xsd:annotation>
			<xsd:documentation>This element instructs the program what to do with regards to GRN matching.
If GRN matching is required and the supplier is not switched on for GRN matching, the transaction is rejected if this element is set to 'R'. Alternatively, if this element is set to 'A', the transaction is accepted as is. Valid values are 'A' and 'R'. Default is 'A'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="R"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IgnoreWarnings" default="N">
		<xsd:annotation>
			<xsd:documentation>This element indicates whether or not a transaction must be rejected if there are any warnings, such as a P/O not yet printed, ledger code, debit ledger code or non-merchandise ledger code is a control account, quantity greater than inspected to date or greater than available to accept, transaction not allowed for kits, cost variance exceeded, stock on partial hold, quantity received greater than ordered, early or late supply, over or under supply, order already released for invoicing, S/O line complete or access to job classification denied. If 'W' supplied, these errors will be reported as warnings. If it is not supplied, it defaults to 'N'. Valid values are 'N', 'W' and 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="W"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ManualSerialTransfersAllowed" default="N">
		<xsd:annotation>
			<xsd:documentation>If manual serial numbers exist in a different warehouse with no stock on hand they may be transferred to the warehouse where they are required. To do this, this element may be set to 'Y'. This is only applicable to normal receipts. Valid values are 'N' and 'Y'. Default is 'N'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NonStockedWhToUse">
		<xsd:annotation>
			<xsd:documentation>This element contains the default warehouse to be used when processing non-stocked items. If supplied, it overrides the non-stocked warehouse defined in operator defaults or company defaults in SYSPRO. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="2"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Parameters">
		<xsd:annotation>
			<xsd:documentation>This contains parameters.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="TransactionDate" minOccurs="0"/>
				<xsd:element ref="IgnoreWarnings" minOccurs="0"/>
				<xsd:element ref="NonStockedWhToUse" minOccurs="0"/>
				<xsd:element ref="GRNMatchingAction" minOccurs="0"/>
				<xsd:element ref="ApplyIfEntireDocumentValid" minOccurs="0"/>
				<xsd:element ref="ValidateOnly" minOccurs="0"/>
				<xsd:element ref="ManualSerialTransfersAllowed" minOccurs="0"/>
				<xsd:element name="IgnoreAnalysis" default="Y" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>When adding or maintaining a journal you can specify whether the G/L analysis must be validated for the ledger code. Valid entries are 'Y' (Ingore G/L analysis) or 'N' (Validate G/L analysis). If no value is supplied then a default value of 'Y' will be used. If you are supplying your own AnalysisEntry number ensure that you have set this flag to "Y" else the program will still validate the analysis.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="0"/>
							<xsd:maxLength value="1"/>
							<xsd:whiteSpace value="preserve"/>
							<xsd:enumeration value="Y"/>
							<xsd:enumeration value="N"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PostPurchaseOrderReceipts">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Parameters"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransactionDate">
		<xsd:annotation>
			<xsd:documentation>Date transaction raised. If not supplied, rundate is assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="10"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ValidateOnly" default="N">
		<xsd:annotation>
			<xsd:documentation>This element indicates which processing phases are to be performed. If set to 'Y' all items are validated and an XML string is returned with the result of the validation. No updating will take place. If set to 'N', each item is validated and updating is performed based on setting of the element 'ApplyIfEntireDocumentValid'. Default is 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
