Schemas/PRETSH.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the parameters used by the Post Schedule Information Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PostScheduleInformation">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Parameters">
					<xsd:annotation>
						<xsd:documentation>This element contains the optional parameter elements.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IgnoreWarnings" default="Y" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Specifies if warnings are to be ignored (Y - if the warnings are to be ignored, N - warnings will be returned as errors in the XML returned).</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ApplyIfEntireDocumentValid" default="N" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Specifies whether the entire document must be validated first before applying the function (N - apply function for each valid item, Y - all items must be valid before function is applied).</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ValidateOnly" default="N" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Specifies whether to only validate the contents of the document. (N - validate and apply function, Y - only validate the document).</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ActionType" default="C" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This denotes the maintenance function against the entries i.e. C (Change). Note that this object can only pass through a 'C' to change. You will not be able to add or delete anything using this object.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="C"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="LinkSnap" default="C" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This denotes if you are working in snapshot or not. If you are in snapshot it will use MRPJOB etc instead of WIPMST etc. (SPACES - Not in snapshot, S - In snapshot). Default is spaces</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="C"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
