Schemas/PRJQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Projects and Contracts Contract Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PrjQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ContractDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Contract" type="xsd:string"/>
              <xsd:element name="ContractDesc1" type="xsd:string"/>
              <xsd:element name="ContractDesc2" type="xsd:string"/>
              <xsd:element name="ContractDesc3"/>
              <xsd:element name="ContractDesc4"/>
              <xsd:element name="ContractDesc5"/>
              <xsd:element name="ResponsibilityCode" type="xsd:string"/>
              <xsd:element name="ResponsiblePerson" type="xsd:string"/>
              <xsd:element name="EstCompletionDate" type="xsd:string"/>
              <xsd:element name="NextReviewDate" type="xsd:string"/>
              <xsd:element name="NextBillingDate" type="xsd:string"/>
              <xsd:element name="LastReviewDate" type="xsd:string"/>
              <xsd:element name="ActCompletionDate" type="xsd:string"/>
              <xsd:element name="Image" type="xsd:string"/>
              <xsd:element name="HierarchyCode">
                <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="8"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Customer">
                <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="7"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PrgBillingMethod" default="M">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="M"/>
                    <xsd:enumeration value="F"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="C"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepositInformation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DepositRequired">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="1"/>
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="N"/>
                          <xsd:enumeration value="Y"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DepositMethod">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="1"/>
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="P"/>
                          <xsd:enumeration value="C"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DepositType">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="1"/>
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="P"/>
                          <xsd:enumeration value="V"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DepositPercent">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="6"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DepositProductClass">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="4"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DepositComment">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="20"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DepositTaxCode">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="1"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DepositGstTaxCod">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="1"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="RetentionInformation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RetentionRequired">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="1"/>
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="N"/>
                          <xsd:enumeration value="Y"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RetentionMethod">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="1"/>
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="P"/>
                          <xsd:enumeration value="C"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RetentionType">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="1"/>
                          <xsd:whiteSpace value="preserve"/>
                          <xsd:enumeration value="P"/>
                          <xsd:enumeration value="V"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RetentionPercent">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="6"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RetentionComment">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="20"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RetentionCustomer">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="7"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RetentionProductClass">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="4"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TermsCode">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="2"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RetentionTaxCode">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="1"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RetentionGstTaxCod">
                      <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="1"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="JobDetails" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="Job" type="xsd:string"/>
                <xsd:element name="JobDescription" type="xsd:string"/>
                <xsd:element name="JobClassification" type="xsd:string"/>
                <xsd:element name="MasterJob" type="xsd:string"/>
                <xsd:element name="StockCode" type="xsd:string"/>
                <xsd:element name="StockDescription" type="xsd:string"/>
                <xsd:element name="Customer" type="xsd:string"/>
                <xsd:element name="CustomerName" type="xsd:string"/>
                <xsd:element name="QtyToMake" type="xsd:string"/>
                <xsd:element name="QtyManufactured" type="xsd:string"/>
                <xsd:element name="ConfirmedFlag" type="xsd:string"/>
                <xsd:element name="HoldFlag" type="xsd:string"/>
                <xsd:element name="CompleteFlag" type="xsd:string"/>
                <xsd:element name="JobStartDate" type="xsd:string"/>
                <xsd:element name="JobDeliveryDate" type="xsd:string"/>
                <xsd:element name="ActCompletionDate" type="xsd:string"/>
                <xsd:element name="SalesOrder" type="xsd:string"/>
                <xsd:element name="SalesOrderLine" type="xsd:string"/>
                <xsd:element name="Image" type="xsd:string"/>
                <xsd:element name="HierarchyDetails" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Hierarchy" type="xsd:string"/>
                      <xsd:element name="HierarchyDescription" type="xsd:string"/>
                      <xsd:element name="Image" type="xsd:string" minOccurs="0"/>
                      <xsd:element name="CurrentLevelValues">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="SalesRevenueOriginal" type="xsd:string"/>
                            <xsd:element name="SalesAdjustmentsThisPeriod" type="xsd:string"/>
                            <xsd:element name="SalesAdjustmentsThisYear" type="xsd:string"/>
                            <xsd:element name="SalesAdjustmentsPriorYears" type="xsd:string"/>
                            <xsd:element name="BillingsThisPeriod" type="xsd:string"/>
                            <xsd:element name="BillingsThisYear" type="xsd:string"/>
                            <xsd:element name="BillingsPriorYears" type="xsd:string"/>
                            <xsd:element name="CostOfSalesThisPeriod" type="xsd:string"/>
                            <xsd:element name="CostOfSalesThisYear" type="xsd:string"/>
                            <xsd:element name="CostOfSalesPriorYears" type="xsd:string"/>
                            <xsd:element name="OriginalExpectedMaterial" type="xsd:string"/>
                            <xsd:element name="OriginalExpectedLabor" type="xsd:string"/>
                            <xsd:element name="OriginalExpectedSubcontract" type="xsd:string"/>
                            <xsd:element name="CommittedMaterialPurchaseOrders" type="xsd:string"/>
                            <xsd:element name="CommittedSubContractPurchaseOrders" type="xsd:string"/>
                            <xsd:element name="CommittedMaterial" type="xsd:string"/>
                            <xsd:element name="CommittedLabor" type="xsd:string"/>
                            <xsd:element name="CommittedSubContract" type="xsd:string"/>
                            <xsd:element name="UncommittedMaterial" type="xsd:string"/>
                            <xsd:element name="UncommittedLabor" type="xsd:string"/>
                            <xsd:element name="UncommittedSubContract" type="xsd:string"/>
                            <xsd:element name="AnticipatedValue1" type="xsd:string"/>
                            <xsd:element name="AnticipatedValue2" type="xsd:string"/>
                            <xsd:element name="AnticipatedValue3" type="xsd:string"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="RolledUpValues">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="LowerLevels" type="xsd:string"/>
                            <xsd:element name="SalesRevenueOriginal" type="xsd:string"/>
                            <xsd:element name="SalesAdjustmentsThisPeriod" type="xsd:string"/>
                            <xsd:element name="SalesAdjustmentsThisYear" type="xsd:string"/>
                            <xsd:element name="SalesAdjustmentsPriorYears" type="xsd:string"/>
                            <xsd:element name="BillingsThisPeriod" type="xsd:string"/>
                            <xsd:element name="BillingsThisYear" type="xsd:string"/>
                            <xsd:element name="BillingsPriorYears" type="xsd:string"/>
                            <xsd:element name="CostOfSalesThisPeriod" type="xsd:string"/>
                            <xsd:element name="CostOfSalesThisYear" type="xsd:string"/>
                            <xsd:element name="CostOfSalesPriorYears" type="xsd:string"/>
                            <xsd:element name="OriginalExpectedMaterial" type="xsd:string"/>
                            <xsd:element name="OriginalExpectedLabor" type="xsd:string"/>
                            <xsd:element name="OriginalExpectedSubcontract" type="xsd:string"/>
                            <xsd:element name="CommittedMaterialPurchaseOrders" type="xsd:string"/>
                            <xsd:element name="CommittedSubContractPurchaseOrders" type="xsd:string"/>
                            <xsd:element name="CommittedMaterial" type="xsd:string"/>
                            <xsd:element name="CommittedLabor" type="xsd:string"/>
                            <xsd:element name="CommittedSubContract" type="xsd:string"/>
                            <xsd:element name="UncommittedMaterial" type="xsd:string"/>
                            <xsd:element name="UncommittedLabor" type="xsd:string"/>
                            <xsd:element name="UncommittedSubContract" type="xsd:string"/>
                            <xsd:element name="AnticipatedValue1" type="xsd:string"/>
                            <xsd:element name="AnticipatedValue2" type="xsd:string"/>
                            <xsd:element name="AnticipatedValue3" type="xsd:string"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="SalesAndAdjustmentsDetails" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Hierarchy" type="xsd:string"/>
                      <xsd:element name="EntrySource" type="xsd:string"/>
                      <xsd:element name="SalesOrder" type="xsd:string"/>
                      <xsd:element name="SalesOrderLine" type="xsd:string"/>
                      <xsd:element name="Entry" type="xsd:string"/>
                      <xsd:element name="SalesOrderLineType" type="xsd:string"/>
                      <xsd:element name="DatePosted" type="xsd:string"/>
                      <xsd:element name="StockCode" type="xsd:string"/>
                      <xsd:element name="StockDescription" type="xsd:string"/>
                      <xsd:element name="NonMerDescription"/>
                      <xsd:element name="OriginalSalesValue" type="xsd:string"/>
                      <xsd:element name="PeriodToDateAdjust" type="xsd:string"/>
                      <xsd:element name="YearToDateAdjust" type="xsd:string"/>
                      <xsd:element name="PreviousYearAdjust" type="xsd:string"/>
                      <xsd:element name="Customer" type="xsd:string"/>
                      <xsd:element name="LineShipDate" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="BillingAndCostOfSalesDetails" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Hierarchy" type="xsd:string"/>
                      <xsd:element name="Line" type="xsd:string"/>
                      <xsd:element name="EntryNumber" type="xsd:string"/>
                      <xsd:element name="TransactionDate" type="xsd:string"/>
                      <xsd:element name="TransactionType" type="xsd:string"/>
                      <xsd:element name="CostOfSalesValue" type="xsd:string"/>
                      <xsd:element name="BillingValue" type="xsd:string"/>
                      <xsd:element name="SalesOrder" type="xsd:unsignedShort"/>
                      <xsd:element name="SalesOrderLine" type="xsd:string"/>
                      <xsd:element name="Quantity" type="xsd:string"/>
                      <xsd:element name="Price" type="xsd:string"/>
                      <xsd:element name="SalesOrderLineType" type="xsd:string"/>
                      <xsd:element name="Decimals" type="xsd:string"/>
                      <xsd:element name="OrderUnitOfMeasure" type="xsd:string"/>
                      <xsd:element name="QuantityReleased" type="xsd:string"/>
                      <xsd:element name="PartBillingJournal" type="xsd:string"/>
                      <xsd:element name="PartBillingJournalEntry" type="xsd:string"/>
                      <xsd:element name="PostedToJob"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="UnCommittedMaterialDetails" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Hierarchy" type="xsd:string"/>
                      <xsd:element name="StockCode" type="xsd:string"/>
                      <xsd:element name="Revision"/>
                      <xsd:element name="Release"/>
                      <xsd:element name="Description" type="xsd:string"/>
                      <xsd:element name="Warehouse" type="xsd:string"/>
                      <xsd:element name="SubJob"/>
                      <xsd:element name="QuantityRequired" type="xsd:string"/>
                      <xsd:element name="QuantityIssued" type="xsd:string"/>
                      <xsd:element name="UnitOfMeasure" type="xsd:string"/>
                      <xsd:element name="Decimals" type="xsd:string"/>
                      <xsd:element name="UnitCost" type="xsd:string"/>
                      <xsd:element name="CostUnitOfMeasure" type="xsd:string"/>
                      <xsd:element name="ValueRequired" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="CommittedMaterialDetails" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Hierarchy" type="xsd:string"/>
                      <xsd:element name="StockCode" type="xsd:string"/>
                      <xsd:element name="Revision"/>
                      <xsd:element name="Release"/>
                      <xsd:element name="Description" type="xsd:string"/>
                      <xsd:element name="Warehouse" type="xsd:string"/>
                      <xsd:element name="QuantityIssued" type="xsd:string"/>
                      <xsd:element name="UnitOfMeasure" type="xsd:string"/>
                      <xsd:element name="Decimals" type="xsd:string"/>
                      <xsd:element name="SubJob"/>
                      <xsd:element name="Journal" type="xsd:string"/>
                      <xsd:element name="UnitCost" type="xsd:string"/>
                      <xsd:element name="CostUnitOfMeasure"/>
                      <xsd:element name="ValueIssued" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="CommittedLaborDetails">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Hierarchy" type="xsd:string"/>
                      <xsd:element name="Operation" type="xsd:string"/>
                      <xsd:element name="WorkCenter" type="xsd:string"/>
                      <xsd:element name="Description" type="xsd:string"/>
                      <xsd:element name="SubJob"/>
                      <xsd:element name="Machine" type="xsd:string"/>
                      <xsd:element name="Employee" type="xsd:string"/>
                      <xsd:element name="SetupTimeIssued" type="xsd:string"/>
                      <xsd:element name="StartupTimeIssued" type="xsd:string"/>
                      <xsd:element name="RunTimeIssued" type="xsd:string"/>
                      <xsd:element name="TeardownTimeIssued" type="xsd:string"/>
                      <xsd:element name="UnitOfMeasure" type="xsd:string"/>
                      <xsd:element name="Journal" type="xsd:string"/>
                      <xsd:element name="ValueIssued" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="UnCommittedLaborDetails">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Hierarchy" type="xsd:string"/>
                      <xsd:element name="Operation" type="xsd:string"/>
                      <xsd:element name="WorkCenter" type="xsd:string"/>
                      <xsd:element name="Description" type="xsd:string"/>
                      <xsd:element name="SubJob"/>
                      <xsd:element name="Machine"/>
                      <xsd:element name="SetupTimeRequired" type="xsd:string"/>
                      <xsd:element name="StartupTimeRequired" type="xsd:string"/>
                      <xsd:element name="RunTimeRequired" type="xsd:string"/>
                      <xsd:element name="TeardownTimeRequired" type="xsd:string"/>
                      <xsd:element name="UnitOfMeasure" type="xsd:string"/>
                      <xsd:element name="ValueRequired" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="UnCommittedSubContractDetails">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Hierarchy" type="xsd:string"/>
                      <xsd:element name="Operation" type="xsd:string"/>
                      <xsd:element name="WorkCenter" type="xsd:string"/>
                      <xsd:element name="Description" type="xsd:string"/>
                      <xsd:element name="SubJob"/>
                      <xsd:element name="Supplier" type="xsd:string"/>
                      <xsd:element name="ValueRequired" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="CommittedSubContractDetails">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Hierarchy" type="xsd:string"/>
                      <xsd:element name="Operation" type="xsd:string"/>
                      <xsd:element name="WorkCenter" type="xsd:string"/>
                      <xsd:element name="Description" type="xsd:string"/>
                      <xsd:element name="SubJob"/>
                      <xsd:element name="Supplier" type="xsd:string"/>
                      <xsd:element name="Journal" type="xsd:string"/>
                      <xsd:element name="ValueIssued" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="CommittedPurchaseOrderDetails">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Hierarchy" type="xsd:string"/>
                      <xsd:element name="PurchaseOrder" type="xsd:unsignedShort"/>
                      <xsd:element name="PurchaseOrderLine" type="xsd:string"/>
                      <xsd:element name="Supplier" type="xsd:string"/>
                      <xsd:element name="StockCode" type="xsd:string"/>
                      <xsd:element name="StockDescription" type="xsd:string"/>
                      <xsd:element name="Warehouse" type="xsd:string"/>
                      <xsd:element name="SubJob"/>
                      <xsd:element name="QuantityOutstanding" type="xsd:string"/>
                      <xsd:element name="UnitOfMeasure" type="xsd:string"/>
                      <xsd:element name="Price" type="xsd:string"/>
                      <xsd:element name="PriceUnitOfMeasure" type="xsd:string"/>
                      <xsd:element name="ValueOutstanding" type="xsd:string"/>
                      <xsd:element name="SubContractOperation"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="JobValues">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="LowerLevels" type="xsd:string"/>
                      <xsd:element name="SalesRevenueOriginal" type="xsd:string"/>
                      <xsd:element name="SalesAdjustmentsThisPeriod" type="xsd:string"/>
                      <xsd:element name="SalesAdjustmentsThisYear" type="xsd:string"/>
                      <xsd:element name="SalesAdjustmentsPriorYears" type="xsd:string"/>
                      <xsd:element name="BillingsThisPeriod" type="xsd:string"/>
                      <xsd:element name="BillingsThisYear" type="xsd:string"/>
                      <xsd:element name="BillingsPriorYears" type="xsd:string"/>
                      <xsd:element name="CostOfSalesThisPeriod" type="xsd:string"/>
                      <xsd:element name="CostOfSalesThisYear" type="xsd:string"/>
                      <xsd:element name="CostOfSalesPriorYears" type="xsd:string"/>
                      <xsd:element name="OriginalExpectedMaterial" type="xsd:string"/>
                      <xsd:element name="OriginalExpectedLabor" type="xsd:string"/>
                      <xsd:element name="OriginalExpectedSubcontract" type="xsd:string"/>
                      <xsd:element name="CommittedMaterialPurchaseOrders" type="xsd:string"/>
                      <xsd:element name="CommittedSubContractPurchaseOrders" type="xsd:string"/>
                      <xsd:element name="CommittedMaterial" type="xsd:string"/>
                      <xsd:element name="CommittedLabor" type="xsd:string"/>
                      <xsd:element name="CommittedSubContract" type="xsd:string"/>
                      <xsd:element name="UncommittedMaterial" type="xsd:string"/>
                      <xsd:element name="UncommittedLabor" type="xsd:string"/>
                      <xsd:element name="UncommittedSubContract" type="xsd:string"/>
                      <xsd:element name="AnticipatedValue1" type="xsd:string"/>
                      <xsd:element name="AnticipatedValue2" type="xsd:string"/>
                      <xsd:element name="AnticipatedValue3" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ContractValues">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LowerLevels" type="xsd:string"/>
              <xsd:element name="SalesRevenueOriginal" type="xsd:string"/>
              <xsd:element name="SalesAdjustmentsThisPeriod" type="xsd:string"/>
              <xsd:element name="SalesAdjustmentsThisYear" type="xsd:string"/>
              <xsd:element name="SalesAdjustmentsPriorYears" type="xsd:string"/>
              <xsd:element name="BillingsThisPeriod" type="xsd:string"/>
              <xsd:element name="BillingsThisYear" type="xsd:string"/>
              <xsd:element name="BillingsPriorYears" type="xsd:string"/>
              <xsd:element name="CostOfSalesThisPeriod" type="xsd:string"/>
              <xsd:element name="CostOfSalesThisYear" type="xsd:string"/>
              <xsd:element name="CostOfSalesPriorYears" type="xsd:string"/>
              <xsd:element name="OriginalExpectedMaterial" type="xsd:string"/>
              <xsd:element name="OriginalExpectedLabor" type="xsd:string"/>
              <xsd:element name="OriginalExpectedSubcontract" type="xsd:string"/>
              <xsd:element name="CommittedMaterialPurchaseOrders" type="xsd:string"/>
              <xsd:element name="CommittedSubContractPurchaseOrders" type="xsd:string"/>
              <xsd:element name="CommittedMaterial" type="xsd:string"/>
              <xsd:element name="CommittedLabor" type="xsd:string"/>
              <xsd:element name="CommittedSubContract" type="xsd:string"/>
              <xsd:element name="UncommittedMaterial" type="xsd:string"/>
              <xsd:element name="UncommittedLabor" type="xsd:string"/>
              <xsd:element name="UncommittedSubContract" type="xsd:string"/>
              <xsd:element name="AnticipatedValue1" type="xsd:string"/>
              <xsd:element name="AnticipatedValue2" type="xsd:string"/>
              <xsd:element name="AnticipatedValue3" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
