Schemas/PRJSHCDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the P&C Contract Maintenance Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:element name="SetupPrjContMaster">
    <xsd:annotation>
      <xsd:documentation>The root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element name="Item">
          <xsd:annotation>
            <xsd:documentation>This element contains information to maintain a contract. NOTE: The information held within the key element is mandatory for all functions. Information held outside the key element is optional for Add/Update and is not required for Delete.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="Key">
                <xsd:annotation>
                  <xsd:documentation>This element contains the key information required to maintain a contract.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                  <xsd:all>
                    <xsd:element name="Contract">
                      <xsd:annotation>
                        <xsd:documentation>Contract specifies the contract being maintained. The format is 20 characters alphanumeric.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="20"/>
                          <xsd:whiteSpace value="preserve"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ContractDesc1">
                <xsd:annotation>
                  <xsd:documentation>The ContractDesc1 is the first description line of the contract being maintained. This is a mandatory field and must be entered in order for a contrract to be saved. The format is 30 charactors alphanumeric.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="30"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ContractDesc2" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The ContractDesc2 is the second description line of the contract being maintained. This is not a mandatory field. The format is 30 charactors alphanumeric.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ContractDesc3" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The ContractDesc3 is the third description line of the contract being maintained. This is not a mandatory field. The format is 30 charactors alphanumeric.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ContractDesc4" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The ContractDesc4 is the fourth description line of the contract being maintained. This is not a mandatory field. The format is 30 charactors alphanumeric.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ContractDesc5" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The ContractDesc5 is the fith description line of the contract being maintained. This is not a mandatory field. The format is 30 charactors alphanumeric.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Responsibility" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Responsibility is the responsibility code stored against the contract. The format is 3 charactors alphanumeric.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="3"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RespPerson" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>RespPerson is the name of the person responsible which is stored against the contract. The format is 30 charactors alphanumeric.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="EstComplDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>EstComplDate is the date on which the contract is estimated to be completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="10"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NextReviewDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>NextReviewDate is the date on which the next review is due. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="10"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NextBillingDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>NextBillingDate is the date on which the next billing is due. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="10"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="LastReviewDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>LastReviewDate is the last date on that the contract was reviewed. It may not be later than next review date. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="10"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ActualComplDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="10"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="HierarchyCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>HierarchyCode is used to specify a defualt hierarchy when using a contract. It is not a mandatory field but it must be a valid hierarchy code if it is entered. The format is 8 charactors alphanumeric.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="8"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Customer" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Customer is used to specify a defualt cusotmer when using a contract. It is not a mandatory field but it must be a valid customer if it is entered. The format is 7 charactors alphanumeric.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="7"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RetentionCustomer" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>RetentionCustomer is used to specify a retention cusotmer for the contract. It is not a mandatory field but it must be a valid customer if it is entered. The format is 7 charactors alphanumeric.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="7"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RetentionPct" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>RetentionPct is the percentage of retention to be applied.  The format is a 3.2 numeric field.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="6"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PrgBillingMethod" default="M">
                <xsd:annotation>
                  <xsd:documentation>PrgBillingMethod specifies what billing method will be used for schedules created for the contract. (M - manual entry(no schedules used), F - Fixed day of the month, S - Series of fixed dates, P - Percentage of head/section complete, A - Percentage of anticipated costs, N - Percentage of ~notional value, C - Percentage of costs accumulated ) The format is 1 charactor alphanumeric.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="M"/>
                    <xsd:enumeration value="F"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="C"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NotionalBillVal" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>NotionalBillVal is the notional value used when the notional value billing method is used. It is not mandatory unless the notional value billing method is being used. The format is a 12.2 numeric field.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="16"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepositRequired" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>DepositMethod is used to determine if you would like to be prompted for a deposit with each billing schedule or if you would like to have a default deposit value applied to each schedule. P - Prompt per schedule, C - Calculate per schedule. The format is 1 charactor alphanumeric.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepositProductClass" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>DepositProductClass is used as a default product class used for deposits against a contract/job. A default customer must first be entered before you enter the product class. The format is 4 charactors alphanumeric.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="4"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepositMethod" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>DepositMethod is used to determine if you would like to be prompted for a deposit with each billing schedule or if you would like to have a default deposit value applied to each schedule. P - Prompt per schedule, C - Calculate per schedule. The format is 1 charactor alphanumeric.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="C"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepositType" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>DepositType is used to determine whether or not the deposit will be a percentage or a value of the contract. P - Percentage, V - Value. The format is 1 charactors alphanumeric.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="V"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DepositPercent" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>DepositPercent is the percentage of deposti to be applied.  The format is a 3.2 numeric field.</xsd:documentation>
                  <xsd:documentation>ActualComplDate is the date on which the contract was actually completed on. The format is 8 numeric date field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="6"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
