Schemas/PRJTDDDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the P&C Deposit Detail Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PostDepositDetail">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Item">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Contract">
								<xsd:annotation>
									<xsd:documentation>The contract element is mandatory. This will be the contract that you are adding the depositdetail record for. The format is 20 charactors alphanumeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="20"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Job">
								<xsd:annotation>
									<xsd:documentation>The job element is mandatory. This will be the job that you are adding the deposit detail record for. The format is 8 charactors alphanumeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="8"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Line" type="xsd:byte">
								<xsd:annotation>
									<xsd:documentation>The line element is mandatory. The line number is incremented for every deposit detail record added. The format is 5 charactors numeric.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DepositValue">
								<xsd:annotation>
									<xsd:documentation>The DepositValue element is mandatory. This is the amount of the deposit that you will be applying as payment. The format is 12.2 charactors numeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="15"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SalesOrder">
								<xsd:annotation>
									<xsd:documentation>The SalesOrder element is the sales order that the miscellaneous line was added to. This is a mandatory field and may not be changed once added. The format is 6 charactors alpha numeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="6"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Invoice" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The Invoice element is the invoice number that was generated by the sales order when invoicing the miscellaneous deposit line. It is not yet in use but has been provided for for future use. The format is 6 charactors alpha numeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="6"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
