Schemas/PRJTRDDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the P&C Retention Detail Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PostRetentionDetail">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Item">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Contract">
								<xsd:annotation>
									<xsd:documentation>The contract element is mandatory. This will be the contract that you are adding the depositdetail record for. The format is 20 charactors alphanumeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="20"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Job">
								<xsd:annotation>
									<xsd:documentation>The job element is mandatory. This will be the job that you are adding the deposit detail record for. The format is 8 charactors alphanumeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="8"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SalesOrder">
								<xsd:annotation>
									<xsd:documentation>The sales order element is mandatory. This will be the sales order that the retention detail line was applied on.  The format is 6 charactors alpha numeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="6"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Line">
								<xsd:annotation>
									<xsd:documentation>The line element is mandatory. This is the sales order line number that the retention detail line was added as. It must be a retention line and it has to exist on the sales order detail fileThe format is 5 charactors numeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="5"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RetentionValue">
								<xsd:annotation>
									<xsd:documentation>The DepositValue element is mandatory. This is the amount of the deposit that you will be applying as payment. The format is 12.2 charactors numeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="15"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Comment" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The comment element is the comment for the retention miscellaneous detail line.  The format is 45 charactors alpha numeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="45"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Invoice" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The Invoice element is the invoice number that was generated by the sales order when invoicing the miscellaneous deposit line. It is not yet in use but has been provided for for future use. The format is 6 charactors alpha numeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="6"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TermsCode">
								<xsd:annotation>
									<xsd:documentation>The terms code is the terms code which will be used to specify the retention terms on the A/R invoice. This field is mandatory The format is 2 charactors alpha numeric.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="2"/>
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
