Schemas/qot_list_of_quotations.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Quotation List of Quotations Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>This is the Root element</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:annotation>
      <xsd:documentation>This is the Parent Option element</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="NewPagePerQuotation"/>
        <xsd:element ref="IncludeNonStocked"/>
        <xsd:element ref="IncludeStocked"/>
        <xsd:element ref="IncludeFreightCharges"/>
        <xsd:element ref="IncludeMiscCharges"/>
        <xsd:element ref="IncludeComments"/>
        <xsd:element ref="IncludeDefaultOffer"/>
        <xsd:element ref="IncludeOffer1"/>
        <xsd:element ref="IncludeOffer2"/>
        <xsd:element ref="IncludeOffer3"/>
        <xsd:element ref="IncludeOffer4"/>
        <xsd:element ref="IncludeOffer5"/>
        <xsd:element ref="DateSelection"/>
        <xsd:element ref="ListEstimateDetails"/>
        <xsd:element ref="EstimateRoute"/>
        <xsd:element ref="MaterialsAndOperations"/>
        <xsd:element ref="SequenceMaterialsByOperation"/>
        <xsd:element ref="CostSelection"/>
        <xsd:element ref="XslStylesheet"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NewPagePerQuotation">
    <xsd:annotation>
      <xsd:documentation>This indicates whether each individual quotation is printed on a seperate page. Y - Yes or N - No.The default is N.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeNonStocked">
    <xsd:annotation>
      <xsd:documentation>This indicates whether non-stocked lines on the quotation should be printed on the report. Y - Yes or N - No. The default is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeStocked">
    <xsd:annotation>
      <xsd:documentation>This indicates whether stocked lines on the quotation should be printed on the report. Y - Yes or N - No. The default is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeFreightCharges">
    <xsd:annotation>
      <xsd:documentation>This indicates whether freight charges on the quotation should be printed on the report. Y - Yes or N - No. The default is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeMiscCharges">
    <xsd:annotation>
      <xsd:documentation>This indicates whether miscellaneous charges on the quotation should be printed on the report Y - Yes or N - No. The default is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeComments">
    <xsd:annotation>
      <xsd:documentation>This indicates whether comments on the quotation should be printed on the report. Y - Yes or N - No. The default is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeDefaultOffer">
    <xsd:annotation>
      <xsd:documentation>This indicates whether to include the default offer. Y - Yes or N - No. The default is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeOffer1">
    <xsd:annotation>
      <xsd:documentation>This indicates whether to include Offer 1. Y - Yes or N - No. The default is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeOffer2">
    <xsd:annotation>
      <xsd:documentation>This indicates whether to include Offer 2. Y - Yes or N - No. The default is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeOffer3">
    <xsd:annotation>
      <xsd:documentation>This indicates whether to include Offer 3. Y - Yes or N - No. The default is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeOffer4">
    <xsd:annotation>
      <xsd:documentation>This indicates whether to include Offer 4. Y - Yes or N - No. The default is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeOffer5">
    <xsd:annotation>
      <xsd:documentation>This indicates whether to include Offer 5. Y - Yes or N - No. The default is Y.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DateSelection">
    <xsd:annotation>
      <xsd:documentation>This indicates whether there is no date selection, or a selection by tender or expiry date. N - None, T - Tender or E - Expriry. The default is N.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;N=None;T=Tender;E=Expiry"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="T"/>
        <xsd:enumeration value="E"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ListEstimateDetails">
    <xsd:annotation>
      <xsd:documentation>This indicates whether to list estimate details against the quotation on the report. Y - Yes or N - No. The default is Y</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="EstimateRoute">
    <xsd:annotation>
      <xsd:documentation>This indicates which route to include estimate details for on the report, and can only be specified if 'ListEstimateDetails' is 'Y'. 0</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;0=Route 0;1=Route 1;2=Route 2;3=Route 3;4=Route 4;5=Route 5"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="0"/>
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="2"/>
        <xsd:enumeration value="3"/>
        <xsd:enumeration value="4"/>
        <xsd:enumeration value="5"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MaterialsAndOperations">
    <xsd:annotation>
      <xsd:documentation>This indicates whether to include both materials and operations, only materials or only operations. B - Both, M - Materials only or O - Operations only. The default is B.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;B=Materials and Operations;M=Materials only;O=Operations only"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="B"/>
        <xsd:enumeration value="M"/>
        <xsd:enumeration value="O"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SequenceMaterialsByOperation">
    <xsd:annotation>
      <xsd:documentation>This indicates whether to print the materials by operation. Y - Yes or N - No. The default is N.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CostSelection">
    <xsd:annotation>
      <xsd:documentation>This indicates the costs of the estimates to print on the report. C - List costs or E - List escalated costs. The default is C.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;C=List costs;E=List escalated costs"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="C"/>
        <xsd:enumeration value="E"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>This is the Stylesheet that is used</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:annotation>
      <xsd:documentation>This is the Parent Filter element</xsd:documentation>
      <xsd:appinfo source="screenItem=N"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Quotation"/>
        <xsd:element ref="Customer"/>
        <xsd:element ref="Status"/>
        <xsd:element ref="JobClassification"/>
        <xsd:element ref="Date"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Quotation">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of quotations to print. A - All, R - Range or S - Single. The default is A.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=QotMaster;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Customer">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of customers to print. A - All, R - Range or S - Single. The default is A.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=ArCustomer;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Status">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of quotation statuses to print. A - All or S - Single. The default is A.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;A=All;S=Single;0=0 - Preparation;1=1 - Ready for printing;2=2 - Printed;4=4 - Confirmed;H=H - On hold;R=R - Rejected;C=C - Cancelled"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="H"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="C"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="JobClassification">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of job classifications to print. A - All or S - Single. The default is A.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=WipJobClass;A=All;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Date">
    <xsd:annotation>
      <xsd:documentation>This specifies the selection of tender or expiry ('DateSelection' = 'T' or 'E') dates to print, and can only be specified when 'DateSelection' is not 'N' (none). A - All, R - Range or S - Single. The default is A.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse={date};A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
