Schemas/QOTQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Quotation Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="QuotationQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle" type="xsd:string"/>
							<xsd:element name="Language" type="xsd:string"/>
							<xsd:element name="DecFormat" type="xsd:string"/>
							<xsd:element name="DateFormat" type="xsd:string"/>
							<xsd:element name="Role" type="xsd:string"/>
							<xsd:element name="Version" type="xsd:string"/>
							<xsd:element name="CompanyId" type="xsd:string"/>
							<xsd:element name="CompanyName" type="xsd:string"/>
							<xsd:element name="OperatorCode" type="xsd:string"/>
							<xsd:element name="OperatorName" type="xsd:string"/>
							<xsd:element name="OperatorGroup" type="xsd:string"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string"/>
							<xsd:element name="OperatorLocation" type="xsd:string"/>
							<xsd:element name="ReportDate" type="xsd:string"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
							<xsd:element name="SeparatorToUse" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Quote" type="xsd:string"/>
				<xsd:element name="QuoteDescription" type="xsd:string"/>
				<xsd:element name="QuoteStatus" type="xsd:string"/>
				<xsd:element name="Classification" type="xsd:string"/>
				<xsd:element name="Customer" type="xsd:string"/>
				<xsd:element name="CustomerName" type="xsd:string"/>
				<xsd:element name="Contract" type="xsd:string"/>
				<xsd:element name="ProbabilityFlag" type="xsd:string"/>
				<xsd:element name="SalesOrder" type="xsd:string"/>
				<xsd:element name="SalesPerson" type="xsd:string"/>
				<xsd:element name="Name" type="xsd:string"/>
				<xsd:element name="Branch" type="xsd:string"/>
				<xsd:element name="SALBRN_Description" type="xsd:string"/>
				<xsd:element name="InvTermsOverride" type="xsd:string"/>
				<xsd:element name="TBLART_Description" type="xsd:string"/>
				<xsd:element name="OrderType"/>
				<xsd:element name="Area" type="xsd:string"/>
				<xsd:element name="SALARE_Description" type="xsd:string"/>
				<xsd:element name="TaxExemptFlag" type="xsd:string"/>
				<xsd:element name="TaxExemptNumber" type="xsd:string"/>
				<xsd:element name="SpecialInstrs" type="xsd:string"/>
				<xsd:element name="ShippingInstrs" type="xsd:string"/>
				<xsd:element name="Currency" type="xsd:string"/>
				<xsd:element name="ShipAddress1" type="xsd:string"/>
				<xsd:element name="ShipAddress2" type="xsd:string"/>
				<xsd:element name="ShipAddress3" type="xsd:string"/>
				<xsd:element name="ShipAddress4" type="xsd:string"/>
				<xsd:element name="ShipAddress5" type="xsd:string"/>
				<xsd:element name="ShipAddress6" type="xsd:string"/>
				<xsd:element name="ReasonCode" type="xsd:string"/>
				<xsd:element name="DateEnquiry" type="xsd:string"/>
				<xsd:element name="ExpiryDate" type="xsd:string"/>
				<xsd:element name="DateTenderReq" type="xsd:string"/>
				<xsd:element name="DateDeliveryReq" type="xsd:string"/>
				<xsd:element name="DatePrinted" type="xsd:string"/>
				<xsd:element name="Contact" type="xsd:string"/>
				<xsd:element name="Telephone" type="xsd:string"/>
				<xsd:element name="Fax" type="xsd:string"/>
				<xsd:element name="Email" type="xsd:string"/>
				<xsd:element name="QuotationDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="StockLine" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="QuotationLine" type="xsd:string"/>
										<xsd:element name="DefaultEntry"/>
										<xsd:element name="ProductClass" type="xsd:string"/>
										<xsd:element name="TaxCode" type="xsd:string"/>
										<xsd:element name="FedSalesTax" type="xsd:string"/>
										<xsd:element name="MstockCode" type="xsd:string"/>
										<xsd:element name="MDescription" type="xsd:string"/>
										<xsd:element name="Mwarehouse" type="xsd:string"/>
										<xsd:element name="MUom" type="xsd:string"/>
										<xsd:element name="MDecimals" type="xsd:string"/>
										<xsd:element name="MLineShipDate" type="xsd:string"/>
										<xsd:element name="MCusStockCode" type="xsd:string"/>
										<xsd:element name="MCusRetailPrice" type="xsd:string"/>
										<xsd:element name="MMass" type="xsd:string"/>
										<xsd:element name="MVolume" type="xsd:string"/>
										<xsd:element name="MVersion" type="xsd:string"/>
										<xsd:element name="MRelease" type="xsd:string"/>
										<xsd:element name="MSalesOrderLine" type="xsd:string"/>
										<xsd:element name="MBomFlag" type="xsd:string"/>
										<xsd:element name="MParentKitType" type="xsd:string"/>
										<xsd:element name="MQtyPer" type="xsd:string"/>
										<xsd:element name="ScrapPercentage" type="xsd:string"/>
										<xsd:element name="MPrintComponent" type="xsd:string"/>
										<xsd:element name="MComponentSeq"/>
										<xsd:element name="MOptionalFlag"/>
										<xsd:element name="OfferLines">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Offer" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Mquantity" type="xsd:string"/>
																<xsd:element name="MShipUom" type="xsd:string"/>
																<xsd:element name="MConvFact" type="xsd:string"/>
																<xsd:element name="MMulDiv" type="xsd:string"/>
																<xsd:element name="MrouteToUse"/>
																<xsd:element name="MMarkupMargin" type="xsd:string"/>
																<xsd:element name="MPriceOverride" type="xsd:string"/>
																<xsd:element name="MPriceCode" type="xsd:string"/>
																<xsd:element name="MPrice" type="xsd:string"/>
																<xsd:element name="MPriceUom" type="xsd:string"/>
																<xsd:element name="MPriceConvFact" type="xsd:string"/>
																<xsd:element name="MPriceFactCode" type="xsd:string"/>
																<xsd:element name="MLineDisc1" type="xsd:string"/>
																<xsd:element name="MLineDisc2" type="xsd:string"/>
																<xsd:element name="MLineDisc3" type="xsd:string"/>
																<xsd:element name="MDiscountFlag" type="xsd:string"/>
																<xsd:element name="MDiscountValue" type="xsd:string"/>
																<xsd:element name="MNetValue" type="xsd:string"/>
																<xsd:element name="MCommissionCode" type="xsd:string"/>
																<xsd:element name="MContract" type="xsd:string"/>
																<xsd:element name="MBuyingGroup" type="xsd:string"/>
																<xsd:element name="MContractExpiry" type="xsd:string"/>
																<xsd:element name="MFixedMarkup" type="xsd:string"/>
																<xsd:element name="MRollupFlag" type="xsd:string"/>
																<xsd:element name="MCost" type="xsd:string"/>
																<xsd:element name="MLeadTime" type="xsd:string"/>
																<xsd:element name="MRouteUsed" type="xsd:string"/>
																<xsd:element name="MQtyChangesFlag" type="xsd:string"/>
															</xsd:sequence>
															<xsd:attribute name="OfferNumber" type="xsd:string" use="required"/>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CommentLine" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="QuotationLine" type="xsd:string"/>
										<xsd:element name="NComment" type="xsd:string"/>
										<xsd:element name="NCommentFromLin" type="xsd:string"/>
										<xsd:element name="NCommentType" type="xsd:string"/>
										<xsd:element name="NCommentTextTyp" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FreightLine">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="QuotationLine" type="xsd:string"/>
										<xsd:element name="DefaultEntry" type="xsd:string"/>
										<xsd:element name="ProductClass" type="xsd:string"/>
										<xsd:element name="TaxCode" type="xsd:string"/>
										<xsd:element name="FedSalesTax" type="xsd:string"/>
										<xsd:element name="NComment" type="xsd:string"/>
										<xsd:element name="NCommentFromLin" type="xsd:string"/>
										<xsd:element name="OfferLines">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Offer">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="MiscChargeVal" type="xsd:string"/>
																<xsd:element name="MiscChargeCost" type="xsd:string"/>
																<xsd:element name="MiscChargeQty" type="xsd:string"/>
																<xsd:element name="MiscUnitPrice" type="xsd:string"/>
																<xsd:element name="MiscUnitCost" type="xsd:string"/>
															</xsd:sequence>
															<xsd:attribute name="OfferNumber" type="xsd:string" use="required"/>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Non-StockLine">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="QuotationLine" type="xsd:string"/>
										<xsd:element name="DefaultEntry" type="xsd:string"/>
										<xsd:element name="ProductClass" type="xsd:string"/>
										<xsd:element name="TaxCode" type="xsd:string"/>
										<xsd:element name="FedSalesTax" type="xsd:string"/>
										<xsd:element name="MstockCode" type="xsd:string"/>
										<xsd:element name="MDescription" type="xsd:string"/>
										<xsd:element name="Mwarehouse" type="xsd:string"/>
										<xsd:element name="MUom" type="xsd:string"/>
										<xsd:element name="MDecimals" type="xsd:string"/>
										<xsd:element name="MLineShipDate" type="xsd:string"/>
										<xsd:element name="MCusStockCode" type="xsd:string"/>
										<xsd:element name="MCusRetailPrice" type="xsd:string"/>
										<xsd:element name="MMass" type="xsd:string"/>
										<xsd:element name="MVolume" type="xsd:string"/>
										<xsd:element name="MVersion" type="xsd:string"/>
										<xsd:element name="MRelease" type="xsd:string"/>
										<xsd:element name="MSalesOrderLine" type="xsd:string"/>
										<xsd:element name="MBomFlag" type="xsd:string"/>
										<xsd:element name="MParentKitType" type="xsd:string"/>
										<xsd:element name="MQtyPer" type="xsd:string"/>
										<xsd:element name="ScrapPercentage" type="xsd:string"/>
										<xsd:element name="MPrintComponent" type="xsd:string"/>
										<xsd:element name="MComponentSeq" type="xsd:string"/>
										<xsd:element name="MOptionalFlag" type="xsd:string"/>
										<xsd:element name="OfferLines">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Offer">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Mquantity" type="xsd:string"/>
																<xsd:element name="MShipUom" type="xsd:string"/>
																<xsd:element name="MConvFact" type="xsd:string"/>
																<xsd:element name="MMulDiv" type="xsd:string"/>
																<xsd:element name="MrouteToUse"/>
																<xsd:element name="MMarkupMargin" type="xsd:string"/>
																<xsd:element name="MPriceOverride" type="xsd:string"/>
																<xsd:element name="MPriceCode"/>
																<xsd:element name="MPrice" type="xsd:string"/>
																<xsd:element name="MPriceUom" type="xsd:string"/>
																<xsd:element name="MPriceConvFact" type="xsd:string"/>
																<xsd:element name="MPriceFactCode" type="xsd:string"/>
																<xsd:element name="MLineDisc1" type="xsd:string"/>
																<xsd:element name="MLineDisc2" type="xsd:string"/>
																<xsd:element name="MLineDisc3" type="xsd:string"/>
																<xsd:element name="MDiscountFlag"/>
																<xsd:element name="MDiscountValue" type="xsd:string"/>
																<xsd:element name="MNetValue" type="xsd:string"/>
																<xsd:element name="MCommissionCode"/>
																<xsd:element name="MContract"/>
																<xsd:element name="MBuyingGroup"/>
																<xsd:element name="MContractExpiry"/>
																<xsd:element name="MFixedMarkup" type="xsd:string"/>
																<xsd:element name="MRollupFlag" type="xsd:string"/>
																<xsd:element name="MCost" type="xsd:string"/>
																<xsd:element name="MLeadTime" type="xsd:string"/>
																<xsd:element name="MRouteUsed"/>
																<xsd:element name="MQtyChangesFlag"/>
															</xsd:sequence>
															<xsd:attribute name="OfferNumber" type="xsd:string" use="required"/>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
