Schemas/QOTSSTDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema used by Estimate Structure Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Component">
    <xsd:annotation>
      <xsd:documentation>Component is a stocked or non-stocked item used in the process of creating an estimate for a parent part. The format is up to 30 characters alphanumeric or 15 characters numeric depending on the configuration option within SYSPRO.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="30"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This element contains the information to maintain a component for an estimate. The information held within the key element is mandatory for all functions. Information held outside the key element is optional for Add/Update and is not required for Delete.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Operation" minOccurs="0"/>
        <xsd:element ref="OperationFlag" minOccurs="0"/>
        <xsd:element ref="QtyPer" minOccurs="0"/>
        <xsd:element name="QtyPerEnt" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>The Entered Quantity Per is used to indicate the quantity of the component stock code in the unit of measure defined by the UomFlag that is required to make one of the parent non-stocked code. The number of decimals that can be entered (0 to 6) is determined by your entry at the Maximum number of decimals in quantity per option (Bill of Materials Setup). The format is up to 14 characters signed numeric with 6 integers and 6 decimals.  Ignored when parameter UseStockingQuantities is Y.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="14"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="ScrapPercentage" minOccurs="0"/>
        <xsd:element ref="ScrapQuantity" minOccurs="0"/>
        <xsd:element name="ScrapQuantityEnt" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Indicates the quantity in the component's unit of measure defined by the UomFlag which must be added to the component's quantity issued, to take account of scrap. The format is up to 8 characters positive numeric with 4 integers and 3 decimal.  Ignored when parameter UseStockingQuantities is Y. </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="8"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="ScrapPrint" minOccurs="0"/>
        <xsd:element ref="ReasonChange" minOccurs="0"/>
        <xsd:element ref="KitIssueFlag" minOccurs="0"/>
        <xsd:element ref="NonStockCom" minOccurs="0"/>
        <xsd:element ref="MarginMarkupPct" minOccurs="0"/>
        <xsd:element ref="ManualCost" minOccurs="0"/>
        <xsd:element ref="ManualCostFlag" minOccurs="0"/>
        <xsd:element ref="Warehouse" minOccurs="0"/>
        <xsd:element name="FixedQtyPerFlag" default="N" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This is a Y(es) / N(o) entry field and if Y is selected, the Fixed Parent Quantity field will allow you to define for how many parent parts this fixed quantity is per.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="1"/>
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value="N"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FixedQtyPer" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This field allows you to define for how many parent parts this fixed quantity is per. If this field is left as zeroes, it will be assumed that you need that fixed quantity per regardless of how many parent parts you will be making. The format is up to 11 characters positive numeric with 7 integers and 3 decimals.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="11"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="UomFlag" default="S" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>The Manufacturing unit of measure flag is used to indicate which unit of measure the stock item is to use.  If a unit of measure other than stocking is used then the manual cost option is not allowed . Valid entries are S (stocking), O (other), A (alternate) or M (manufacturing). Only applicable when the manufacturing unit of measure option is switched on and the item is stocked. </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="1"/>
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="S"/>
              <xsd:enumeration value="O"/>
              <xsd:enumeration value="A"/>
              <xsd:enumeration value="M"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>This element contains the key information required to maintain an estimate structure record.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="ParentPart"/>
        <xsd:element ref="Route" minOccurs="0"/>
        <xsd:element ref="SequenceNum" minOccurs="0"/>
        <xsd:element ref="Component"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KitIssueFlag" default="Y">
    <xsd:annotation>
      <xsd:documentation>Indicates if the component should be included in kit issues. Possible Values: Y (yes, include component in kit issues) or N (no, do not included component in kit issues). Default to Y.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ManualCost">
    <xsd:annotation>
      <xsd:documentation>Indicates the cost of the component for this estimate. The element is only applicable if the element ‘Manual Cost Flag’ contains Y. The format is up to 17 characters, signed numeric with 10 integers and 5 decimals.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="17"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ManualCostFlag" default="N">
    <xsd:annotation>
      <xsd:documentation>Indicates if the manually entered cost should be used for this component instead of the warehouse cost for stocked components or unit cost for non-stocked components. A manual cost cannot be used when the quantity unit of measure of the component is anything other than stocking.
Possible Values: Y (yes) or N (no). Default to N.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MarginMarkupPct">
    <xsd:annotation>
      <xsd:documentation>Indicates the markup or margin percentage which will be added to the total cost of the operation. The percentage will default to the value defined for estimates in the quotation setup within SYSPRO. The format is up to 7 characters signed numeric with 3 integers and 2 decimals.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="7"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NonStockCom" default="N">
    <xsd:annotation>
      <xsd:documentation>Indicates if the component is a non-stocked item. Possible Values: Y (yes, non-stocked item) or N (no, stocked item). Default to N. This element is only valid when using the add method and is not recognised when using the update method. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Operation">
    <xsd:annotation>
      <xsd:documentation>This indicates either the number of the operation for which you need the component or the number of offset days when the component will be needed. If the element ‘Operation Flag’ contains 'O' this field will indicate an operation number, else if the element ‘Operation Flag’ contains 'D' this field will indicate the number of offset days. The format is up to 5 characters numeric field. Default to 1.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="5"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OperationFlag" default="O">
    <xsd:annotation>
      <xsd:documentation>Indicates the usage of the Operation element. Possible values 'O' (an operation number) or 'D' (offset days). Default to O.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="O"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ParentPart">
    <xsd:annotation>
      <xsd:documentation>The non-stocked parent code for which you want to create or maintain the estimate. You may not create estimates for stock codes or for non-stocked codes that are defined as bought out items. The format is up to 30 characters alphanumeric or 15 characters numeric depending on the configuration option within SYSPRO.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="30"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="QtyPer">
    <xsd:annotation>
      <xsd:documentation>Quantity Per is used to indicate the quantity of the component stock code that is required to make one of the parent stock code. This relationship is based on the units of measure of the parent part and the component. This quanitty is always in the components stocking unit of measure. The number of decimals that can be entered (0 to 6) is determined by your entry at the Maximum number of decimals in quantity per option (Bill of Materials Setup). The format is up to 14 characters signed numeric with 6 integers and 6 decimals.  Ignored when parameter UseStockingQuantities is N.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="14"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReasonChange">
    <xsd:annotation>
      <xsd:documentation>Indicates why the estimate has changed. The format is up to 10 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Route" default="0">
    <xsd:annotation>
      <xsd:documentation>This field enables you to select a specific routing for which you want to maintain an estimate. You may only select routes that are required for the non-stocked parent code. The format is a 2 character numeric field. Default to 0.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="2"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ScrapPercentage">
    <xsd:annotation>
      <xsd:documentation>Indicates the percentage factor by which the quantity per must be increased, to take account of scrap. The format is up to 5 characters positive numeric with 2 integers and 2 decimals.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="5"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ScrapPrint" default="Y">
    <xsd:annotation>
      <xsd:documentation>Valid entries are:                Y - Issue material and progressive scrap automatically
N - Material and progressive scrap are not automatically issued
M - Issue only material scrap automatically
P - Issue only progressive scrap automatically</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="M"/>
        <xsd:enumeration value="P"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ScrapQuantity">
    <xsd:annotation>
      <xsd:documentation>Indicates the quantity which must be added to the components issued, to take account of scrap. The format is up to 8 characters positive numeric with 4 integers and 3 decimals. Ignored when parameter UseStockingQuantities is N.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="8"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SequenceNum">
    <xsd:annotation>
      <xsd:documentation>The Sequence number field is used to indicate the sequence number for the component in relation to the parent stock code. This number is used to show more than one occurrence of the parent/component relationship. This field will only be used if you have indicated that structure sequencing is required (Bill of Materials Setup). The format is up to 6 characters alphanumeric or numeric field, depending on the sequence number setup defined in the Bill of Material setup within SYSPRO.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="6"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SetupQotStructure">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Item" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:annotation>
      <xsd:documentation>Indicates the warehouse from which the cost of the component will be retrieved. Only applicable for stocked components. The format is up to 10 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
