Schemas/QOTTSODOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for the Query of the Quotation setup options business object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="QuotationsOptions">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="General" minOccurs="0"/>
        <xsd:element ref="Pricing" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="QuotationNumbering">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Quotation Numbering will be manual or automatic]]></xsd:documentation>
      <xsd:appinfo source="M=Manual;A=Automatic;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="M"/>
        <xsd:enumeration value="A"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NxtQuotationNum">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Next quotation number to be used]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:double"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefDescOffer1">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default offer desc one]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefDescOffer2">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default offer desc two]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefDescOffer3">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default offer desc three]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefDescOffer4">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default offer desc four]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefDescOffer5">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default offer desc five]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefDescDefOffer">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default offer desc]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CostImplosionJobCreationUseRouteZero">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Cost implosion job creation use route zero when no     components or operations exist on selected route.]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowChgQueryDate">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Allow changes to date of query]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowChgExpiryDate">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Allow changes to expiry date]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefExpiryDate">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Base expiry date on Q - Date of query;T - Tender dateP - Print date;/ F - Force entry of expiry date]]></xsd:documentation>
      <xsd:appinfo source="Q=Query;T=Tender;P=Print;F=Force"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Q"/>
        <xsd:enumeration value="T"/>
        <xsd:enumeration value="P"/>
        <xsd:enumeration value="F"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DaysFromBaseDateToExpiryDate">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Days from base date to expiry date]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:double"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="General">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="QuotationNumbering"/>
        <xsd:element ref="NxtQuotationNum"/>
        <xsd:element ref="DefDescOffer1"/>
        <xsd:element ref="DefDescOffer2"/>
        <xsd:element ref="DefDescOffer3"/>
        <xsd:element ref="DefDescOffer4"/>
        <xsd:element ref="DefDescOffer5"/>
        <xsd:element ref="DefDescDefOffer"/>
        <xsd:element ref="CostImplosionJobCreationUseRouteZero"/>
        <xsd:element ref="AllowChgQueryDate"/>
        <xsd:element ref="AllowChgExpiryDate"/>
        <xsd:element ref="DefExpiryDate"/>
        <xsd:element ref="DaysFromBaseDateToExpiryDate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DefNonStProfitBasis">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default non stocked profit Markup or Margin]]></xsd:documentation>
      <xsd:appinfo source="M=Markup;G=Margin"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="M"/>
        <xsd:enumeration value="G"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefNonStProfitPerc">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default non stocked profit markup percentage]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:double"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefNonStProfitAllowChg">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Allow changes at quotation level]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefAddLabProfitBasis">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default estimate additional labour charge]]></xsd:documentation>
      <xsd:appinfo source="M=Markup;G=Margin"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="M"/>
        <xsd:enumeration value="G"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefAddLabProfitPerc">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default additional labour charge markup percentage]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:double"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefAddLabProfitAllowChg">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Allow labor charge percent changes at estimate level]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ApplySOLineDiscBreaks">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Allow sales order line discount break]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="RecalcLineDiscBreaks">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Recalculate line discount breaks on quote confirmation]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefAddMatProfitBasis">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default estimate additional material charge]]></xsd:documentation>
      <xsd:appinfo source="M=Markup;G=Margin"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="M"/>
        <xsd:enumeration value="G"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefAddMatProfitBasisPerc">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Default estimate additional material charge percent]]></xsd:documentation>
      <xsd:appinfo/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:double"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DefAddMatProfitAllowChg">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Allow changes at material estimate level]]></xsd:documentation>
      <xsd:appinfo source="Y=Yes;N=No;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CostToUseForQotImplosion">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Cost to use for implosion]]></xsd:documentation>
      <xsd:appinfo source="I=Inventory;L=Last;S=BOM;"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="I"/>
        <xsd:enumeration value="L"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Pricing">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DefNonStProfitBasis"/>
        <xsd:element ref="DefNonStProfitPerc"/>
        <xsd:element ref="DefNonStProfitAllowChg"/>
        <xsd:element ref="DefAddLabProfitBasis"/>
        <xsd:element ref="DefAddLabProfitPerc"/>
        <xsd:element ref="DefAddLabProfitAllowChg"/>
        <xsd:element ref="ApplySOLineDiscBreaks"/>
        <xsd:element ref="RecalcLineDiscBreaks"/>
        <xsd:element ref="DefAddMatProfitBasis"/>
        <xsd:element ref="DefAddMatProfitBasisPerc"/>
        <xsd:element ref="DefAddMatProfitAllowChg"/>
        <xsd:element ref="CostToUseForQotImplosion"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
