Schemas/sa_sales_history_print_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales History Query Business object 
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SalesHistoryAnalysis">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence" type="xsd:string"/>
              <xsd:element name="SequenceDescription" type="xsd:string"/>
              <xsd:element name="AsOfPeriod" type="xsd:string"/>
              <xsd:element name="Translated_AsOfPeriod" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeOption" type="xsd:string"/>
              <xsd:element name="Translated_IncludeOption" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Heading" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintDescriptions" type="xsd:string"/>
              <xsd:element name="Translated_PrintDescriptions" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonBranch" type="xsd:string"/>
              <xsd:element name="PrintNewPageAfterTotals" type="xsd:string"/>
              <xsd:element name="Translated_PrintNewPageAfterTotals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintZeroTotals" type="xsd:string"/>
              <xsd:element name="Translated_PrintZeroTotals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Key1FilterDesc" type="xsd:string"/>
              <xsd:element name="Translated_Key1FilterDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Key1FilterType" type="xsd:string"/>
              <xsd:element name="Key1FilterValue" type="xsd:string"/>
              <xsd:element name="Translated_Key1FilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Key2FilterDesc" type="xsd:string"/>
              <xsd:element name="Translated_Key2FilterDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Key2FilterType" type="xsd:string"/>
              <xsd:element name="Key2FilterValue" type="xsd:string"/>
              <xsd:element name="Translated_Key2FilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Key3FilterDesc" type="xsd:string"/>
              <xsd:element name="Translated_Key3FilterDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Key3FilterType" type="xsd:string"/>
              <xsd:element name="Key3FilterValue" type="xsd:string"/>
              <xsd:element name="Translated_Key3FilterType" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SalesHistory">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Sequence">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SequenceType" type="xsd:string"/>
                    <xsd:element name="SequenceTypeDesc" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="KeyArea1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Key1Type" type="xsd:string"/>
                    <xsd:element name="Key1TypeDesc" type="xsd:string"/>
                    <xsd:element name="Translated_Key1TypeDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Key1Code" type="xsd:string"/>
                    <xsd:element name="Key1CodeDesc" type="xsd:string"/>
                    <xsd:element name="KeyArea2">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Key2Type" type="xsd:string"/>
                          <xsd:element name="Key2TypeDesc" type="xsd:string"/>
                          <xsd:element name="Translated_Key2TypeDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Key2Code" type="xsd:string"/>
                          <xsd:element name="Key2CodeDesc" type="xsd:string"/>
                          <xsd:element name="KeyArea3">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Key3Type" type="xsd:string"/>
                                <xsd:element name="Key3TypeDesc" type="xsd:string"/>
                                <xsd:element name="Translated_Key3TypeDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Key3Code" type="xsd:string"/>
                                <xsd:element name="Key3CodeDesc" type="xsd:string"/>
                                <xsd:element name="MTDSales3" type="xsd:double"/>
                                <xsd:element name="EditedMTDSales3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MTDProfit3" type="xsd:double"/>
                                <xsd:element name="EditedMTDProfit3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MTDProfitPercentage3" type="xsd:double"/>
                                <xsd:element name="EditedMTDProfitPercentage3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MTDQuantity3" type="xsd:double"/>
                                <xsd:element name="MTDQuantityUnits" type="xsd:string"/>
                                <xsd:element name="EditedMTDQuantity3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MTDMass3" type="xsd:double"/>
                                <xsd:element name="EditedMTDMass3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MTDVolume3" type="xsd:double"/>
                                <xsd:element name="EditedMTDVolume3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDSales3" type="xsd:double"/>
                                <xsd:element name="EditedYTDSales3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDProfit3" type="xsd:double"/>
                                <xsd:element name="EditedYTDProfit3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDProfitPercentage3" type="xsd:double"/>
                                <xsd:element name="EditedYTDProfitPercentage3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDQuantity3" type="xsd:double"/>
                                <xsd:element name="EditedYTDQuantity3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDMass3" type="xsd:double"/>
                                <xsd:element name="EditedYTDMass3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDVolume3" type="xsd:double"/>
                                <xsd:element name="EditedYTDVolume3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDSales3" type="xsd:double"/>
                                <xsd:element name="EditedPTDSales3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDProfit3" type="xsd:double"/>
                                <xsd:element name="EditedPTDProfit3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDProfitPercentage3" type="xsd:double"/>
                                <xsd:element name="EditedPTDProfitPercentage3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDQuantity3" type="xsd:double"/>
                                <xsd:element name="EditedPTDQuantity3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDMass3" type="xsd:double"/>
                                <xsd:element name="EditedPTDMass3" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDVolume3" type="xsd:double"/>
                                <xsd:element name="EditedPTDVolume3" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="KeyArea2Totals">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="MTDSales2" type="xsd:double"/>
                                <xsd:element name="EditedMTDSales2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MTDProfit2" type="xsd:double"/>
                                <xsd:element name="EditedMTDProfit2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MTDProfitPercentage2" type="xsd:double"/>
                                <xsd:element name="EditedMTDProfitPercentage2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MTDQuantity2" type="xsd:double"/>
                                <xsd:element name="EditedMTDQuantity2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MTDMass2" type="xsd:double"/>
                                <xsd:element name="EditedMTDMass2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MTDVolume2" type="xsd:double"/>
                                <xsd:element name="EditedMTDVolume2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDSales2" type="xsd:double"/>
                                <xsd:element name="EditedYTDSales2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDProfit2" type="xsd:double"/>
                                <xsd:element name="EditedYTDProfit2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDProfitPercentage2" type="xsd:double"/>
                                <xsd:element name="EditedYTDProfitPercentage2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDQuantity2" type="xsd:double"/>
                                <xsd:element name="EditedYTDQuantity2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDMass2" type="xsd:double"/>
                                <xsd:element name="EditedYTDMass2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="YTDVolume2" type="xsd:double"/>
                                <xsd:element name="EditedYTDVolume2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDSales2" type="xsd:double"/>
                                <xsd:element name="EditedPTDSales2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDProfit2" type="xsd:double"/>
                                <xsd:element name="EditedPTDProfit2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDProfitPercentage2" type="xsd:double"/>
                                <xsd:element name="EditedPTDProfitPercentage2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDQuantity2" type="xsd:double"/>
                                <xsd:element name="EditedPTDQuantity2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDMass2" type="xsd:double"/>
                                <xsd:element name="EditedPTDMass2" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PTDVolume2" type="xsd:double"/>
                                <xsd:element name="EditedPTDVolume2" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="KeyArea1Totals">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="MTDSales1" type="xsd:double"/>
                          <xsd:element name="EditedMTDSales1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MTDProfit1" type="xsd:double"/>
                          <xsd:element name="EditedMTDProfit1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MTDProfitPercentage1" type="xsd:double"/>
                          <xsd:element name="EditedMTDProfitPercentage1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MTDQuantity1" type="xsd:double"/>
                          <xsd:element name="EditedMTDQuantity1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MTDMass1" type="xsd:double"/>
                          <xsd:element name="EditedMTDMass1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MTDVolume1" type="xsd:double"/>
                          <xsd:element name="EditedMTDVolume1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YTDSales1" type="xsd:double"/>
                          <xsd:element name="EditedYTDSales1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YTDProfit1" type="xsd:double"/>
                          <xsd:element name="EditedYTDProfit1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YTDProfitPercentage1" type="xsd:double"/>
                          <xsd:element name="EditedYTDProfitPercentage1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YTDQuantity1" type="xsd:double"/>
                          <xsd:element name="EditedYTDQuantity1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YTDMass1" type="xsd:double"/>
                          <xsd:element name="EditedYTDMass1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="YTDVolume1" type="xsd:double"/>
                          <xsd:element name="EditedYTDVolume1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PTDSales1" type="xsd:double"/>
                          <xsd:element name="EditedPTDSales1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PTDProfit1" type="xsd:double"/>
                          <xsd:element name="EditedPTDProfit1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PTDProfitPercentage1" type="xsd:double"/>
                          <xsd:element name="EditedPTDProfitPercentage1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PTDQuantity1" type="xsd:double"/>
                          <xsd:element name="EditedPTDQuantity1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PTDMass1" type="xsd:double"/>
                          <xsd:element name="EditedPTDMass1" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="PTDVolume1" type="xsd:double"/>
                          <xsd:element name="EditedPTDVolume1" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CompanyTotals">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CompMTDSales" type="xsd:double"/>
                    <xsd:element name="EditedCompMTDSales" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompMTDProfit" type="xsd:double"/>
                    <xsd:element name="EditedCompMTDProfit" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompMTDProfitPercentage" type="xsd:double"/>
                    <xsd:element name="EditedCompMTDProfitPercentage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompMTDQuantity" type="xsd:double"/>
                    <xsd:element name="EditedCompMTDQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompMTDMass" type="xsd:double"/>
                    <xsd:element name="EditedCompMTDMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompMTDVolume" type="xsd:double"/>
                    <xsd:element name="EditedCompMTDVolume" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompYTDSales" type="xsd:double"/>
                    <xsd:element name="EditedCompYTDSales" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompYTDProfit" type="xsd:double"/>
                    <xsd:element name="EditedCompYTDProfit" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompYTDProfitPercentage" type="xsd:double"/>
                    <xsd:element name="EditedCompYTDProfitPercentage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompYTDQuantity" type="xsd:double"/>
                    <xsd:element name="EditedCompYTDQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompYTDMass" type="xsd:double"/>
                    <xsd:element name="EditedCompYTDMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompYTDVolume" type="xsd:double"/>
                    <xsd:element name="EditedCompYTDVolume" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompPTDSales" type="xsd:double"/>
                    <xsd:element name="EditedCompPTDSales" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompPTDProfit" type="xsd:double"/>
                    <xsd:element name="EditedCompPTDProfit" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompPTDProfitPercentage" type="xsd:double"/>
                    <xsd:element name="EditedCompPTDProfitPercentage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompPTDQuantity" type="xsd:double"/>
                    <xsd:element name="EditedCompPTDQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompPTDMass" type="xsd:double"/>
                    <xsd:element name="EditedCompPTDMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompPTDVolume" type="xsd:double"/>
                    <xsd:element name="EditedCompPTDVolume" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
