Schemas/sa_sales_analysis_target_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SalesAnalysisTargetReports">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemInformation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CssStyle"/>
							<xsd:element name="Language" type="xsd:string"/>
							<xsd:element name="DecFormat" type="xsd:string"/>
							<xsd:element name="DateFormat" type="xsd:string"/>
							<xsd:element name="Role" type="xsd:string"/>
							<xsd:element name="Version" type="xsd:string"/>
							<xsd:element name="CompanyId" type="xsd:string"/>
							<xsd:element name="CompanyName" type="xsd:string"/>
							<xsd:element name="OperatorCode" type="xsd:string"/>
							<xsd:element name="OperatorName" type="xsd:string"/>
							<xsd:element name="OperatorGroup" type="xsd:string"/>
							<xsd:element name="OperatorEmailAddress" type="xsd:string"/>
							<xsd:element name="OperatorLocation" type="xsd:string"/>
							<xsd:element name="LocalCurrency" type="xsd:string"/>
							<xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
							<xsd:element name="GlPrdPerYear" type="xsd:string"/>
							<xsd:element name="ReportDate" type="xsd:string"/>
							<xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
							<xsd:element name="SeparatorToUse"/>
							<xsd:element name="OperatorPrimaryRole"/>
							<xsd:element name="NoOfDigits" type="xsd:string"/>
							<xsd:element name="DecCharToUse" type="xsd:string"/>
							<xsd:element name="BOMQtyPerDecimals" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Targets" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TargetsDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TranslateTargetsDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Report" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TranslateReportDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrimarySequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrimarySequenceDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TranslatePrimarySequenceDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SecondarySequence" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SecondarySequenceDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TranslateSecondarySequenceDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ReportTypeDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TranslateReportTypeDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NewPageOnChange" minOccurs="0"/>
							<xsd:element name="Translated_NewPageOnChange" minOccurs="0"/>
							<xsd:element name="ZeroValues" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ZeroValuesDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TranslateZeroValuesDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PrintProfits" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_PrintProfits" minOccurs="0"/>
							<xsd:element name="DescendingSalesValues" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Translated_Descending" minOccurs="0"/>
							<xsd:element name="SalesValueToUse" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SalesValueToUseDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="TranslateSalesValueToUseDescription" type="xsd:string" minOccurs="0"/>
							<xsd:element name="SubTotalsRequired" minOccurs="0"/>
							<xsd:element name="Translated_SubTotalsRequired" minOccurs="0"/>
							<xsd:element name="BranchToUseForNames" minOccurs="0"/>
							<xsd:element name="BranchType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="BranchValue" minOccurs="0"/>
							<xsd:element name="Translated_BranchFilterType" minOccurs="0"/>
							<xsd:element name="GeographicAreaType" minOccurs="0"/>
							<xsd:element name="GeographicAreaValue" minOccurs="0"/>
							<xsd:element name="Translated_GeographicFilterType" minOccurs="0"/>
							<xsd:element name="ProductClassType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductClassValue" minOccurs="0"/>
							<xsd:element name="Translated_ProductClassFilterType" minOccurs="0"/>
							<xsd:element name="SalesPersonType" minOccurs="0"/>
							<xsd:element name="SalesPersonValue" minOccurs="0"/>
							<xsd:element name="Translated_SalespersonFilterType" minOccurs="0"/>
							<xsd:element name="CustomerClassType" minOccurs="0"/>
							<xsd:element name="CustomerClassValue" minOccurs="0"/>
							<xsd:element name="Translated_CustomerClassFilterType" minOccurs="0"/>
							<xsd:element name="DepartmentType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DepartmentValue" minOccurs="0"/>
							<xsd:element name="Translated_DepartmentFilterType" minOccurs="0"/>
							<xsd:element name="CustomerType" minOccurs="0"/>
							<xsd:element name="CustomerValue" minOccurs="0"/>
							<xsd:element name="Translated_CustomerFilterType" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Sequence1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Seq1Type" type="xsd:string"/>
							<xsd:element name="Seq1TypeDesc" type="xsd:string"/>
							<xsd:element name="Seq1Key"/>
							<xsd:element name="Seq1KeyDescription"/>
							<xsd:element name="Sequence1Header">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Seq1Department" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1DepartmentDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1Customer" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1CustomerDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1CustomerClass" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1CustomerClassDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1SalesPerson" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1SalesPersonDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1Branch" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1BranchDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1GeographicLocation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1GeographicLocationDescription" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Sequence2" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Seq2Type" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq2TypeDesc" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq2Key" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq2KeyDescription" minOccurs="0"/>
										<xsd:element name="Sequence2Header">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:choice maxOccurs="unbounded">
														<xsd:element name="Seq2Branch" type="xsd:string" minOccurs="0"/>
														<xsd:element name="Seq2BranchDescription" type="xsd:string" minOccurs="0"/>
														<xsd:element name="Seq2ProductClass" type="xsd:string" minOccurs="0"/>
														<xsd:element name="Seq2ProductClassDescription" type="xsd:string" minOccurs="0"/>
														<xsd:element name="Seq2Customer" type="xsd:string" minOccurs="0"/>
														<xsd:element name="Seq2CustomerDescription" type="xsd:string" minOccurs="0"/>
														<xsd:element name="Seq2CustomerClass" type="xsd:string" minOccurs="0"/>
														<xsd:element name="Seq2CustomerClassDescription" type="xsd:string" minOccurs="0"/>
														<xsd:element name="Seq2SalesPerson" type="xsd:string" minOccurs="0"/>
														<xsd:element name="Seq2SalesPersonDescription" type="xsd:string" minOccurs="0"/>
														<xsd:element name="Seq2GeographicLocation" type="xsd:string" minOccurs="0"/>
														<xsd:element name="Seq2Department" minOccurs="0"/>
														<xsd:element name="Seq2GeographicLocationDescription" type="xsd:string" minOccurs="0"/>
													</xsd:choice>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Sequence3" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Seq3Type" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq3TypeDesc" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq3Key" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq3KeyDescription" minOccurs="0"/>
													<xsd:element name="Sequence3Header" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Seq3Branch" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3BranchDescription" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3ProductClass" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3ProductClassDescription" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Sequence3Totals" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Seq3SalesMTDTarget" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3SalesMTDActual" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3SalesMTDPercentage" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3SalesYTDTarget" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3SalesYTDActual" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3SalesYTDPercentage" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3GrossProfitMTDTarget" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3GrossProfitMTDActual" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3GrossProfitMTDPercentage" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3GrossProfitYTDTarget" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3GrossProfitYTDActual" type="xsd:string" minOccurs="0"/>
																<xsd:element name="Seq3GrossProfitYTDPercentage"/>
																<xsd:element name="Seq3GPPercentageMTDTarget" minOccurs="0"/>
																<xsd:element name="Seq3GPPercentageMTDActual" minOccurs="0"/>
																<xsd:element name="Seq3GPMTDPercentage" minOccurs="0"/>
																<xsd:element name="Seq3GPPercentageYTDTarget" minOccurs="0"/>
																<xsd:element name="Seq3GPPercentageYTDActual" minOccurs="0"/>
																<xsd:element name="Seq3GPPercentageYTDPercentage" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Sequence2Totals" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Seq2SalesMTDTarget" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq2SalesMTDActual" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq2SalesMTDPercentage" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq2SalesYTDTarget" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq2SalesYTDActual" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq2SalesYTDPercentage" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq2GrossProfitMTDTarget" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq2GrossProfitMTDActual" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq2GrossProfitMTDPercentage" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq2GrossProfitYTDTarget" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq2GrossProfitYTDActual" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Seq2GrossProfitYTDPercentage" minOccurs="0"/>
													<xsd:element name="Seq2GPPercentageMTDTarget" minOccurs="0"/>
													<xsd:element name="Seq2GPPercentageMTDActual" minOccurs="0"/>
													<xsd:element name="Seq2GPMTDPercentage" minOccurs="0"/>
													<xsd:element name="Seq2GPPercentageYTDTarget" minOccurs="0"/>
													<xsd:element name="Seq2GPPercentageYTDActual" minOccurs="0"/>
													<xsd:element name="Seq2GPPercentageYTDPercentage" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Sequence1Totals">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Seq1SalesMTDTarget" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1SalesMTDActual" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1SalesMTDPercentage" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1SalesYTDTarget" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1SalesYTDActual" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1SalesYTDPercentage" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1GrossProfitMTDTarget" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1GrossProfitMTDActual" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1GrossProfitMTDPercentage" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1GrossProfitYTDTarget" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1GrossProfitYTDActual" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Seq1GrossProfitYTDPercentage" minOccurs="0"/>
										<xsd:element name="Seq1GPPercentageMTDTarget" minOccurs="0"/>
										<xsd:element name="Seq1GPPercentageMTDActual" minOccurs="0"/>
										<xsd:element name="Seq1GPMTDPercentage" minOccurs="0"/>
										<xsd:element name="Seq1GPPercentageYTDTarget" minOccurs="0"/>
										<xsd:element name="Seq1GPPercentageYTDActual" minOccurs="0"/>
										<xsd:element name="Seq1GPPercentageYTDPercentage" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CompanyTotals">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CompSalesMTDTarget" type="xsd:string"/>
							<xsd:element name="CompSalesMTDActual" type="xsd:string"/>
							<xsd:element name="CompSalesMTDPercentage" type="xsd:string"/>
							<xsd:element name="CompSalesYTDTarget" type="xsd:string"/>
							<xsd:element name="CompSalesYTDActual" type="xsd:string"/>
							<xsd:element name="CompSalesYTDPercentage" type="xsd:string"/>
							<xsd:element name="CompGrossProfitMTDTarget" type="xsd:string"/>
							<xsd:element name="CompGrossProfitMTDActual" type="xsd:string"/>
							<xsd:element name="CompGrossProfitMTDPercentage" type="xsd:string"/>
							<xsd:element name="CompGrossProfitYTDTarget" type="xsd:string"/>
							<xsd:element name="CompGrossProfitYTDActual" type="xsd:string"/>
							<xsd:element name="CompGrossProfitYTDPercentage"/>
							<xsd:element name="CompGPPercentageMTDTarget" minOccurs="0"/>
							<xsd:element name="CompGPPercentageMTDActual" minOccurs="0"/>
							<xsd:element name="CompGPMTDPercentage" minOccurs="0"/>
							<xsd:element name="CompGPPercentageYTDTarget" minOccurs="0"/>
							<xsd:element name="CompGPPercentageYTDActual" minOccurs="0"/>
							<xsd:element name="CompGPPercentageYTDPercentage" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
