Schemas/sa_sales_tax_eu_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     This is an example schema instance to demonstrate
     use of the Sales Analysis Tax Reports Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SalesAnalysisTaxReports">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportSequenceDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportTypeDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PeriodSelection" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MonthToPrintStart" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearToPrintStart" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MonthToPrintEnd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearToPrintEnd" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PeriodSel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_DateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TaxFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_TaxFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReportForEU" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportForEU" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Sequence" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SequenceDetails" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SequenceNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceName" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="EUSales" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="EUSalesDetails" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="EUSalesType" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EUSalesTypeDescription" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SalesTaxList" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SalesTaxListLine" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="RegistrationNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DocumentDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DocumentTypeDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Customer" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CustomerDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="BranchDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxExemptionNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CashCredit" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxExemptORide" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="InvoiceAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ExemptAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="NonExemptAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxableAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TaxValues" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="TaxValuesCode" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TaxValuesAmount" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="EUSalesTotals" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="EUSalesInvoiceAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EUSalesExemptAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EUSalesNonExemptAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EUSalesTaxableAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EUSalesTaxAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EUSalesTotalsDescription" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SequenceTotals" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SequenceTotalsLine" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SequenceInvoiceAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SequenceExemptAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SequenceNonExemptAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SequenceTaxableAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SequenceTaxAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SequenceTotalsDescription" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SummaryTaxListTotals" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SummaryTaxListTotalsLine" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SequenceNumber" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SummaryTotalsTaxCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SummaryTotalsTaxCodeDescription" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SummaryTotalsTaxRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SummaryTotalsMerchantAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SummaryTotalsTaxAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="SummaryTotalsEUTaxAmount" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="TaxCodeTotals" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TaxCodeTotalsMerchantAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxCodeTotalsTaxAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxCodeTotalsEUTaxAmount" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SalesTaxListSummary" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TotalExemptCash" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNonExemptCash" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalExemptCredit" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNonExemptCredit" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalInvoiced" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SalesTaxCodesSummary" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SalesTaxCodesSummaryDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SummaryTaxCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SummaryTaxCodeDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SummaryTaxRatePercentage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SummaryTotalThisPeriod" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TaxExemptAmountThisPeriod" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxableAmountThisPeriod" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxAmountThisPeriod" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SummaryTotalThisMonth" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TaxExemptAmountThisMonth" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxableAmountThisMonth" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxAmountThisMonth" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="SummaryTotalYearToDate" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="TaxExemptAmountYearToDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxableAmountYearToDate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TotalTaxAmountYearToDate" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SalesTaxCodesSummaryTotal" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SummaryTotalThisPeriodTotal" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TaxExemptAmountThisPeriodTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTaxableAmountThisPeriodTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTaxAmountThisPeriodTotal" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SummaryTotalThisMonthTotal" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TaxExemptAmountThisMonthTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTaxableAmountThisMonthTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTaxAmountThisMonthTotal" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SummaryTotalYearToDateTotal" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TaxExemptAmountYearToDateTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTaxableAmountYearToDateTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTaxAmountYearToDateTotal" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
