Schemas/sa_turnover_print.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--  
     Schema for the Sales Analysis Turnover Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Branch">
    <xsd:annotation>
      <xsd:documentation>All - (default)
Select this to include sales for customers belonging to all branches.

Single 
Select this if you want to generate the report for sales for customers belonging to a single branch only.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=SalBranch;A=All;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Customer">
    <xsd:annotation>
      <xsd:documentation>All - (default)
Select this to include sales for all customers in the report.

Range 
Select this to include sales for a range of customers.

You indicate this range in the FilterValue element.

Single 
Select this if you want to generate the report for sales for a single customer.

You indicate this customer code in the FileterValue element
</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=ArCustomer;A=All;S=Single;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CustomerClass">
    <xsd:annotation>
      <xsd:documentation>All - (default)
Select this to include sales for customers in all customer classes.

Single 
Select this if you want to include sales for customers in a single customer class.

Customer class 
This indicates the single customer class for which you want to include customer sales.
</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=TblCustomerClass;A=All;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="InvoiceDate"/>
        <xsd:element ref="Branch"/>
        <xsd:element ref="GeographicArea"/>
        <xsd:element ref="OrderType"/>
        <xsd:element ref="CustomerClass"/>
        <xsd:element ref="Salesperson"/>
        <xsd:element ref="Customer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GeographicArea">
    <xsd:annotation>
      <xsd:documentation>All - (default)
Select this to include sales to customers in all geographic areas.

Single 
Select this if you want to generate the report for customer sales for a single geographic area.
</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=SalArea;A=All;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="HighlightMissingInvoice" default="Y">
    <xsd:annotation>
      <xsd:documentation>This option is selected by default if the Report sequence is: Invoice number, regardless of whether you select to generate a Daily or Monthly report. Valid values are : 'Y' - Yes (default); 'N' - No</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="InvoiceDate">
    <xsd:annotation>
      <xsd:documentation>All - (default)
Select this to print all unprinted invoices. 

Single 
Select this to include invoices for a specific date only.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse={date};A=All;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MonthToPrint">
    <xsd:annotation>
      <xsd:documentation>This indicates the financial period (within the financial year entered), for which the report must be printed.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;01=01;02=02;03=03;04=04;05=05;06=06;07=07;08=08;09=09;10=10;11=11;12=12"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="2"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="01"/>
        <xsd:enumeration value="02"/>
        <xsd:enumeration value="03"/>
        <xsd:enumeration value="04"/>
        <xsd:enumeration value="05"/>
        <xsd:enumeration value="06"/>
        <xsd:enumeration value="07"/>
        <xsd:enumeration value="08"/>
        <xsd:enumeration value="09"/>
        <xsd:enumeration value="10"/>
        <xsd:enumeration value="11"/>
        <xsd:enumeration value="12"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NewPageAfterTotals" default="N">
    <xsd:annotation>
      <xsd:documentation>You will be unable to select this option if you are printing the report in Invoice number or Invoice within customer sequence.

This option enables you to print the totals of each register, branch, salesperson or area on a separate page.

If you do not select this option, then the totals of the register, branch, salesperson or area are printed on the same page. Valid values are : 'N' - No (default); 'Y' - Yes
</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportSequence"/>
        <xsd:element ref="MonthToPrint"/>
        <xsd:element ref="YearToPrint"/>
        <xsd:element ref="TurnoverOption"/>
        <xsd:element ref="HighlightMissingInvoice"/>
        <xsd:element ref="NewPageAfterTotals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OrderType">
    <xsd:annotation>
      <xsd:documentation>This option is only displayed if you selected the Order type required option (S/O Setup).

All - (default) 
Select this to include sales for all order types in the report.

Single 
Select this to include sales for a single order type in the report.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=TblSoTypes;A=All;S=Single"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportSequence" default="1">
    <xsd:annotation>
      <xsd:documentation>The report can be printed in one of the following sequences:

1 - Invoice number (default)

If you do not select this as your report sequence, then you will be unable to select the option: Highlight missing invoice numbers.

2 -Invoice within register no. 
3 - Invoice within branch 
4 - Invoice within salesperson 
5 - Invoice within customer 
6 - Invoice within geographic area</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;1=Invoice number;2=Invoice within register no.;3=Invoice within branch;4=Invoice within salesperson;5=Invoice within customer;6=Invoice within geographic area"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="2"/>
        <xsd:enumeration value="3"/>
        <xsd:enumeration value="4"/>
        <xsd:enumeration value="5"/>
        <xsd:enumeration value="6"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Salesperson">
    <xsd:annotation>
      <xsd:documentation>All - (default)
Select this to include sales for customers belonging to all salespersons.

Range 
Select this to include sales for customers belonging to a range of salespersons.

You indicate this range in the FilterValue element.

Single 
Select this if you want to generate the report for customer sales for a single salesperson.
</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse=SalSalesperson;browsefilter=Branch;browsefilterbrowse=SalBranch;A=all;S=single;R=range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TurnoverOption" default="D">
    <xsd:annotation>
      <xsd:documentation>'D' - Daily (default) 
Select this if you want to list all invoices not printed since this report was last run, using the invoice date as a selection criterion.

'M' - Monthly 
Select this if you want to list all invoices posted since the last time the Month End function of the A/R Period End program was run.
</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;D=Daily;M=Monthly"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="M"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="YearToPrint" default="C">
    <xsd:annotation>
      <xsd:documentation>This indicates the year for which the report must be printed.
Valida values are 'C' - Current (default), 'P' - Previous or a 4-digit field indicating the current or previous AR financial year.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;C=Current;P=Previous"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
