Schemas/SALQ95OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2013 SYSPRO Ltd.-->
<!-- 
     This is an example XML out instance to demonstrate
     use of the Sales History Target Analysis Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SorSalesTargetAnalysis">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress"/>
              <xsd:element name="OperatorLocation"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="OperatorPrimaryRole"/>
              <xsd:element name="NoOfDigits" type="xsd:string"/>
              <xsd:element name="DecCharToUse" type="xsd:string"/>
              <xsd:element name="BOMQtyPerDecimals" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TargetType" type="xsd:string"/>
              <xsd:element name="Report_Header" type="xsd:string"/>
              <xsd:element name="TargetDescription" type="xsd:string"/>
              <xsd:element name="TargetTypeDescription" type="xsd:string"/>
              <xsd:element name="TargetMetric" type="xsd:string"/>
              <xsd:element name="Translated_TargetMetric" type="xsd:string"/>
              <xsd:element name="XslStyleSheet"/>
              <xsd:element name="SortBy" type="xsd:string"/>
              <xsd:element name="Translated_SortBy" type="xsd:string"/>
              <xsd:element name="SortKeyArea" type="xsd:string"/>
              <xsd:element name="Translated_SortKeyArea" type="xsd:string"/>
              <xsd:element name="TrnYear" type="xsd:string"/>
              <xsd:element name="ReportType" type="xsd:string"/>
              <xsd:element name="Translated_ReportType" type="xsd:string"/>
              <xsd:element name="AchievedPerformance" type="xsd:string"/>
              <xsd:element name="SubTotals" type="xsd:string"/>
              <xsd:element name="Translated_SubTotals" type="xsd:string"/>
              <xsd:element name="SalesBranch" type="xsd:string"/>
              <xsd:element name="PageBreakChange" type="xsd:string"/>
              <xsd:element name="Translated_PageBreakChange" type="xsd:string"/>
              <xsd:element name="ZeroValues" type="xsd:string"/>
              <xsd:element name="Translated_ZeroValues" type="xsd:string"/>
              <xsd:element name="Key1FilterTag" type="xsd:string"/>
              <xsd:element name="Key1FilterDescription" type="xsd:string"/>
              <xsd:element name="Key1FilterLabel" type="xsd:string"/>
              <xsd:element name="Key1FilterType" type="xsd:string"/>
              <xsd:element name="Translated_Key1FilterType" type="xsd:string"/>
              <xsd:element name="Key1FilterValue"/>
              <xsd:element name="Key2FilterTag" type="xsd:string"/>
              <xsd:element name="Key2FilterDescription" type="xsd:string"/>
              <xsd:element name="Key2FilterLabel" type="xsd:string"/>
              <xsd:element name="Key2FilterType" type="xsd:string"/>
              <xsd:element name="Translated_Key2FilterType" type="xsd:string"/>
              <xsd:element name="Key2FilterValue"/>
              <xsd:element name="Key3FilterTag" type="xsd:string"/>
              <xsd:element name="Key3FilterDescription" type="xsd:string"/>
              <xsd:element name="Key3FilterLabel" type="xsd:string"/>
              <xsd:element name="Key3FilterType" type="xsd:string"/>
              <xsd:element name="Translated_Key3FilterType" type="xsd:string"/>
              <xsd:element name="Key3FilterValue"/>
              <xsd:element name="totals" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SalesTargetAnalysis">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="KeyArea_1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="KeyAreaType" type="xsd:string"/>
                    <xsd:element name="KeyAreaDesc" type="xsd:string"/>
                    <xsd:element name="Translated_KeyAreaDesc" type="xsd:string"/>
                    <xsd:element name="KeyAreaValue" type="xsd:string"/>
                    <xsd:element name="KeyAreaValueDesc" type="xsd:string"/>
                    <xsd:element name="KeyArea_2" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="KeyAreaType" type="xsd:string"/>
                          <xsd:element name="KeyAreaDesc" type="xsd:string"/>
                          <xsd:element name="Translated_KeyAreaDesc" type="xsd:string"/>
                          <xsd:element name="KeyAreaValue" type="xsd:string"/>
                          <xsd:element name="KeyAreaValueDesc" type="xsd:string"/>
                          <xsd:element name="KeyArea_3" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="KeyAreaType" type="xsd:string"/>
                                <xsd:element name="KeyAreaDesc" type="xsd:string"/>
                                <xsd:element name="Translated_KeyAreaDesc" type="xsd:string"/>
                                <xsd:element name="KeyAreaValue" type="xsd:string"/>
                                <xsd:element name="KeyAreaValueDesc" type="xsd:string"/>
                                <xsd:element name="SalesTarget">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="KeyAreaValue_1" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="KeyAreaValue_2" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="KeyAreaValue_3" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualCostMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualCostMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesQuantityMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesQuantityMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesMassMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesMassMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesVolumeMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesVolumeMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualCostYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualCostYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesQuantityYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesQuantityYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesMassYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesMassYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesVolumeYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesVolumeYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetSalesMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetSalesMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetCostMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetCostMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetQuantityMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetQuantityMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetMassMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetMassMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetVolumeMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetVolumeMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetSalesYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetSalesYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetCostYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetCostYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetQuantityYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetQuantityYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetQuantityRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetQuantityRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetQuantityRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetQuantityRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetMassYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetMassYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetMassRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetMassRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetMassRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetMassRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetVolumeYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetVolumeYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetVolumeRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetVolumeRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetVolumeRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetVolumeRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetQuantityVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetQuantityVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetQuantityVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetQuantityVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetMassVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetMassVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetMassVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetMassVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetVolumeVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetVolumeVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetVolumeVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetVolumeVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="TargetSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedTargetSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesGrossToTargetGrossRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesGrossToTargetGrossRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesGrossPercToTargetGrossPercRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesGrossPercToTargetGrossPercRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesGrossToTargetGrossRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesGrossToTargetGrossRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesGrossPercToTargetGrossPercRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesGrossPercToTargetGrossPercRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesGrossToTargetGrossVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesGrossToTargetGrossVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesGrossVarPercToTargetGrossVarPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesGrossVarPercToTargetGrossVarPercMTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesToTargetVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesToTargetVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesGrossToTargetGrossVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesGrossToTargetGrossVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="ActualSalesGrossVarPercToTargetGrossVarPercYTD" type="xsd:string" minOccurs="0"/>
                                      <xsd:element name="EditedActualSalesGrossVarPercToTargetGrossVarPercYTD" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="KeyArea_2_Total">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ActualSalesMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualCostMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualCostMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesQuantityMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesQuantityMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesMassMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesMassMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesVolumeMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesVolumeMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualCostYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualCostYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesQuantityYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesQuantityYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesMassYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesMassYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesVolumeYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesVolumeYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetSalesMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetSalesMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetCostMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetCostMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetQuantityMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetQuantityMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetMassMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetMassMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetVolumeMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetVolumeMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetSalesYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetSalesYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetCostYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetCostYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetQuantityYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetQuantityYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetQuantityRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetQuantityRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetQuantityRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetQuantityRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetMassYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetMassYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetMassRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetMassRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetMassRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetMassRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetVolumeYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetVolumeYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetVolumeRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetVolumeRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetVolumeRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetVolumeRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetQuantityVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetQuantityVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetMassVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetMassVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetMassVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetMassVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetVolumeVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetVolumeVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetVolumeVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetVolumeVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetQuantityVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetQuantityVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TargetSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedTargetSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesGrossToTargetGrossRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesGrossToTargetGrossRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesGrossPercToTargetGrossPercRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesGrossPercToTargetGrossPercRatioPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesGrossToTargetGrossRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesGrossToTargetGrossRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesGrossPercToTargetGrossPercRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesGrossPercToTargetGrossPercRatioPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesGrossToTargetGrossVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesGrossToTargetGrossVariancePercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesGrossVarPercToTargetGrossVarPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesGrossVarPercToTargetGrossVarPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesToTargetVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesToTargetVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesGrossToTargetGrossVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesGrossToTargetGrossVariancePercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ActualSalesGrossVarPercToTargetGrossVarPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="EditedActualSalesGrossVarPercToTargetGrossVarPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Key2ActualSalesGrossPercToTargetGrossPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Key2ActualSalesGrossPercToTargetGrossPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Key2ActualSalesGrossToTargetGrossPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Key2ActualSalesGrossToTargetGrossPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Key2ActualSalesMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Key2ActualSalestoTargetPercMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Key2ActualSalestoTargetPercYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Key2ActualSalesYTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Key2TargetSalesMTD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="Key2TargetSalesYTD" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="KeyArea_1_Total">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ActualSalesMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualCostMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualCostMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesQuantityMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesQuantityMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesMassMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesMassMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesVolumeMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesVolumeMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualCostYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualCostYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesQuantityYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesQuantityYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesMassYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesMassYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesVolumeYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesVolumeYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetSalesMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetSalesMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetCostMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetCostMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetQuantityMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetQuantityMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetMassMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetMassMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetVolumeMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetVolumeMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetSalesYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetSalesYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetCostYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetCostYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetQuantityYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetQuantityYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetQuantityRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetQuantityRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetQuantityRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetQuantityRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetMassYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetMassYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetMassRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetMassRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetMassRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetMassRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetVolumeYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetVolumeYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetVolumeRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetVolumeRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetVolumeRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetVolumeRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetQuantityVariancePercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetQuantityVariancePercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetQuantityVariancePercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetQuantityVariancePercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetMassVariancePercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetMassVariancePercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetMassVariancePercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetMassVariancePercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetVolumeVariancePercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetVolumeVariancePercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetVolumeVariancePercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetVolumeVariancePercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TargetSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTargetSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesGrossToTargetGrossRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesGrossToTargetGrossRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesGrossPercToTargetGrossPercRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesGrossPercToTargetGrossPercRatioPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesGrossToTargetGrossRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesGrossToTargetGrossRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesGrossPercToTargetGrossPercRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesGrossPercToTargetGrossPercRatioPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetVariancePercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetVariancePercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesGrossToTargetGrossVariancePercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesGrossToTargetGrossVariancePercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesGrossVarPercToTargetGrossVarPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesGrossVarPercToTargetGrossVarPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesToTargetVariancePercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesToTargetVariancePercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesGrossToTargetGrossVariancePercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesGrossToTargetGrossVariancePercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ActualSalesGrossVarPercToTargetGrossVarPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedActualSalesGrossVarPercToTargetGrossVarPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Key1ActualSalesGrossPercToTargetGrossPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Key1ActualSalesGrossPercToTargetGrossPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Key1ActualSalesGrossToTargetGrossPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Key1ActualSalesGrossToTargetGrossPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Key1ActualSalesMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Key1ActualSalestoTargetPercMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Key1ActualSalestoTargetPercYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Key1ActualSalesYTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Key1TargetSalesMTD" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Key1TargetSalesYTD" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Company_Total">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ActualSalesMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualCostMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualCostMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesQuantityMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesQuantityMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesMassMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesMassMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesVolumeMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesVolumeMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualCostYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualCostYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesQuantityYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesQuantityYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesMassYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesMassYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesVolumeYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesVolumeYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetSalesMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetSalesMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetCostMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetCostMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetQuantityMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetQuantityMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetMassMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetMassMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetVolumeMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetVolumeMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetSalesYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetSalesYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetCostYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetCostYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetQuantityYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetQuantityYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetQuantityRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetQuantityRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetQuantityRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetQuantityRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetMassYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetMassYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetMassRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetMassRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetMassRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetMassRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetVolumeYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetVolumeYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetVolumeRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetVolumeRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetVolumeRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetVolumeRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetSalesProfitGrossMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetQuantityVariancePercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetQuantityVariancePercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetQuantityVariancePercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetQuantityVariancePercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetMassVariancePercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetMassVariancePercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetMassVariancePercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetMassVariancePercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetVolumeVariancePercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetVolumeVariancePercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetVolumeVariancePercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetVolumeVariancePercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetSalesProfitGrossYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetSalesProfitNettPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TargetSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedTargetSalesProfitNettPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesGrossToTargetGrossRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesGrossToTargetGrossRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesGrossPercToTargetGrossPercRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesGrossPercToTargetGrossPercRatioPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesGrossToTargetGrossRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesGrossToTargetGrossRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesGrossPercToTargetGrossPercRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesGrossPercToTargetGrossPercRatioPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetVariancePercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetVariancePercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesGrossToTargetGrossVariancePercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesGrossToTargetGrossVariancePercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesGrossVarPercToTargetGrossVarPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesGrossVarPercToTargetGrossVarPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesToTargetVariancePercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesToTargetVariancePercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesGrossToTargetGrossVariancePercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesGrossToTargetGrossVariancePercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ActualSalesGrossVarPercToTargetGrossVarPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedActualSalesGrossVarPercToTargetGrossVarPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompActualSalesGrossPercToTargetGrossPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompActualSalesGrossPercToTargetGrossPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompActualSalesGrossToTargetGrossPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompActualSalesGrossToTargetGrossPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompActualSalesMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompActualSalestoTargetPercMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompActualSalestoTargetPercYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompActualSalesYTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompTargetSalesMTD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompTargetSalesYTD" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
