Schemas/SALQ93OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Analysis List of Sales Target Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Target" type="xsd:string"/>
              <xsd:element name="TargetType" type="xsd:string"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ProductClassFilterValue" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TargetItem" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Branch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Key" type="xsd:string" minOccurs="0"/>
              <xsd:element name="KeyName" minOccurs="0"/>
              <xsd:element name="SalesMonth1" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth2" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth3" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth4" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth5" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth6" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth7" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth8" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth9" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth10" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth11" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth12" type="xsd:double" minOccurs="0"/>
              <xsd:element name="SalesMonth13" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth1" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth2" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth3" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth4" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth5" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth6" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth7" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth8" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth9" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth10" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth11" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth12" type="xsd:double" minOccurs="0"/>
              <xsd:element name="ProfitMonth13" type="xsd:double" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_All" minOccurs="0"/>
              <xsd:element name="Text_Range" minOccurs="0"/>
              <xsd:element name="Text_Single" minOccurs="0"/>
              <xsd:element name="Text_Sales_targets" minOccurs="0"/>
              <xsd:element name="Text_Profit_targets" minOccurs="0"/>
              <xsd:element name="Text_Customer" minOccurs="0"/>
              <xsd:element name="Text_Branch" minOccurs="0"/>
              <xsd:element name="Text_Product_class" minOccurs="0"/>
              <xsd:element name="Text_Customer_description" minOccurs="0"/>
              <xsd:element name="Text_Product_class_description" minOccurs="0"/>
              <xsd:element name="Text_Both_sales_and_profit_targets" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
