Schemas/SALQ15OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--  
     Schema for the Sales Analysis Turnover Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SalesAnalysisTurnover">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MonthToPrint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="YearToPrint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TurnoverOption" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_TurnoverOption" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_ReportHead" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HighlightMissingInvoice" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_HighlightMissingInvoice" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPageAfterTotals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_NewPageAfterTotals" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoiceDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="InvoiceDateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_InvoiceDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderTypeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderTypeFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_OrderTypeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerClassFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalespersonFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_SalespersonFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_CustomerFilterType" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Invoices">
          <xsd:complexType>
            <xsd:choice maxOccurs="unbounded">
              <xsd:element name="SequenceHeader">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SequenceCode" type="xsd:string"/>
                    <xsd:element name="SequenceFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_SequenceDesc" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Invoice">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Register" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceNumber" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:short">
                          <xsd:enumeration value="000189"/>
                          <xsd:enumeration value="001966"/>
                          <xsd:enumeration value="001967"/>
                          <xsd:enumeration value="001968"/>
                          <xsd:enumeration value="001969"/>
                          <xsd:enumeration value="001970"/>
                          <xsd:enumeration value="001971"/>
                          <xsd:enumeration value="001972"/>
                          <xsd:enumeration value="001973"/>
                          <xsd:enumeration value="001976"/>
                          <xsd:enumeration value="001977"/>
                          <xsd:enumeration value="001979"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="InvoiceDate" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="2008/08/15"/>
                          <xsd:enumeration value="2008/08/18"/>
                          <xsd:enumeration value="2008/08/19"/>
                          <xsd:enumeration value="2008/08/27"/>
                          <xsd:enumeration value="2008/09/22"/>
                          <xsd:enumeration value="2008/09/29"/>
                          <xsd:enumeration value="2008/10/20"/>
                          <xsd:enumeration value="2008/10/28"/>
                          <xsd:enumeration value="2008/10/31"/>
                          <xsd:enumeration value="2008/11/04"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Customer" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:byte">
                          <xsd:enumeration value="0000001"/>
                          <xsd:enumeration value="0000003"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Branch" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:byte">
                          <xsd:enumeration value="01"/>
                          <xsd:enumeration value="03"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BranchDescription" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="Durban"/>
                          <xsd:enumeration value="Johannesburg"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Salesperson" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalespersonName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GeographicArea" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="AA"/>
                          <xsd:enumeration value="ZZ"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="GeographicAreaDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderNumber" minOccurs="0">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="004276"/>
                          <xsd:enumeration value="004279"/>
                          <xsd:enumeration value="004280"/>
                          <xsd:enumeration value="004301"/>
                          <xsd:enumeration value="004372"/>
                          <xsd:enumeration value="004381"/>
                          <xsd:enumeration value="004394"/>
                          <xsd:enumeration value="004395"/>
                          <xsd:enumeration value="004467"/>
                          <xsd:enumeration value="004483"/>
                          <xsd:enumeration value="004492"/>
                          <xsd:enumeration value="800426"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="InvoiceValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedInvoiceValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedDiscount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MerchandiseValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedMerchandiseValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CostValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedCostValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Profit" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EditedProfit" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProfitPercentage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MissingInvoices" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MissingInvoic1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MissingInvoic2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Translated_MissingInvoices" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SequenceTotals">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SeqInvoiceTotal" type="xsd:string"/>
                    <xsd:element name="EditedSeqInvoiceTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeqDiscountTotal" type="xsd:string"/>
                    <xsd:element name="EditedSeqDiscountTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeqMerchTotal" type="xsd:string"/>
                    <xsd:element name="EditedSeqMerchTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeqCostTotal" type="xsd:string"/>
                    <xsd:element name="EditedSeqCostTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeqProfitTotal" type="xsd:string"/>
                    <xsd:element name="EditedSeqProfitTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeqProfitPercTotal" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReportTotals">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RepInvoiceTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRepInvoiceTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RepDiscountTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRepDiscountTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RepMerchTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRepMerchTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RepCostTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRepCostTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RepProfitTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EditedRepProfitTotal" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RepProfitPercTotal" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
