Schemas/SALQ78OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2009 SYSPRO Ltd.-->
<!--  
     Schema for the Sales Analysis GST Report Business Object 
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SalesAnalysisGSTReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string"/>
              <xsd:element name="ReportType" type="xsd:string"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MonthToPrint" type="xsd:byte" minOccurs="0"/>
              <xsd:element name="YearToPrint" type="xsd:short" minOccurs="0"/>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintRegisterSummary" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_PrintRegisterSummary" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterValue" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="Translated_DateFilterValue" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterValue" minOccurs="0">
                <xsd:complexType/>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CompanyTaxCodes">
          <xsd:complexType>
            <xsd:choice maxOccurs="unbounded">
              <xsd:element name="CompTaxCode">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="B"/>
                    <xsd:enumeration value="C"/>
                    <xsd:enumeration value="D"/>
                    <xsd:enumeration value="E"/>
                    <xsd:enumeration value="F"/>
                    <xsd:enumeration value="G"/>
                    <xsd:enumeration value="H"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="CompTaxRate" type="xsd:string"/>
              <xsd:element name="EdietdCompTaxRate" minOccurs="0"/>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="EntrySequenceList">
          <xsd:complexType>
            <xsd:choice maxOccurs="unbounded">
              <xsd:element name="EntrySummary">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DocumentNumber">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:short">
                          <xsd:enumeration value="000170"/>
                          <xsd:enumeration value="000189"/>
                          <xsd:enumeration value="001966"/>
                          <xsd:enumeration value="001967"/>
                          <xsd:enumeration value="001968"/>
                          <xsd:enumeration value="001969"/>
                          <xsd:enumeration value="001970"/>
                          <xsd:enumeration value="001971"/>
                          <xsd:enumeration value="001972"/>
                          <xsd:enumeration value="001973"/>
                          <xsd:enumeration value="001976"/>
                          <xsd:enumeration value="001977"/>
                          <xsd:enumeration value="001981"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DocumentDate">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:date">
                          <xsd:enumeration value="2008-08-15"/>
                          <xsd:enumeration value="2008-08-18"/>
                          <xsd:enumeration value="2008-08-19"/>
                          <xsd:enumeration value="2008-08-27"/>
                          <xsd:enumeration value="2008-09-22"/>
                          <xsd:enumeration value="2008-09-29"/>
                          <xsd:enumeration value="2008-10-20"/>
                          <xsd:enumeration value="2008-10-28"/>
                          <xsd:enumeration value="2008-10-31"/>
                          <xsd:enumeration value="2009-01-14"/>
                          <xsd:enumeration value="2009-01-19"/>
                          <xsd:enumeration value="2009-01-20"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DocumentType">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="C"/>
                          <xsd:enumeration value="I"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DocumentTerms" type="xsd:string"/>
                    <xsd:element name="Customer" type="xsd:byte"/>
                    <xsd:element name="CustomerName" type="xsd:string"/>
                    <xsd:element name="GSTRegistration" type="xsd:string"/>
                    <xsd:element name="GeographicArea">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="AA"/>
                          <xsd:enumeration value="BC"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="GeographicAreaDesc" type="xsd:string"/>
                    <xsd:element name="Branch" type="xsd:byte"/>
                    <xsd:element name="BranchDesc" type="xsd:string"/>
                    <xsd:element name="EntryDetailLines" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StockCode" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="000000000000001"/>
                                <xsd:enumeration value="000000000000005"/>
                                <xsd:enumeration value="000000000000123"/>
                                <xsd:enumeration value="000000000097920"/>
                                <xsd:enumeration value="000000000579702"/>
                                <xsd:enumeration value="000000000979201"/>
                                <xsd:enumeration value="000000000979202"/>
                                <xsd:enumeration value="000000123456789"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Description" type="xsd:string"/>
                          <xsd:element name="Decimals" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:byte">
                                <xsd:enumeration value="2"/>
                                <xsd:enumeration value="3"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QuantityUnits" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Value" type="xsd:string"/>
                          <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxStatus">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="E"/>
                                <xsd:enumeration value="N"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Translated_TaxStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="ForcedExempt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxCode" minOccurs="0">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="TaxRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTaxRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="TaxAmount" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedTaxAmount" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="EntrySummaryTotals">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="InvoiceAmount" type="xsd:string"/>
                    <xsd:element name="ExemptAmount" type="xsd:string"/>
                    <xsd:element name="TaxableAmount" type="xsd:string"/>
                    <xsd:element name="TotalTaxAmount" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GSTSummary">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GSTCodesTable">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GSTCodeDetail" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="GSTCode">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="A"/>
                                <xsd:enumeration value="B"/>
                                <xsd:enumeration value="Blank"/>
                                <xsd:enumeration value="C"/>
                                <xsd:enumeration value="D"/>
                                <xsd:enumeration value="E"/>
                                <xsd:enumeration value="F"/>
                                <xsd:enumeration value="G"/>
                                <xsd:enumeration value="H"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="EditedGSTCode" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GSTRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedGSTRate" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GSTExempt" type="xsd:string"/>
                          <xsd:element name="EditedGSTExempt" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GSTTaxable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedGSTTaxable" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="GSTTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="EditedGSTTotal" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalExempt" type="xsd:string"/>
              <xsd:element name="EditedTotalExempt" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalTaxable" type="xsd:string"/>
              <xsd:element name="EditedTotalTaxable" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalInvoiced" type="xsd:string"/>
              <xsd:element name="EditedTotalInvoiced" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TotalGST" type="xsd:string"/>
              <xsd:element name="EditedTotalGST" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="optional"/>
      <xsd:attribute name="Role" type="xsd:byte" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
