Schemas/sample_ar_permanent_entries_document.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for the AR Permanent Entries Document Printing Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Documents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Document" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SystemInformation" minOccurs="0">
                <xsd:complexType>
                  <xsd:all minOccurs="0">
                    <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="HeaderData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PrintTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressThree" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxExemptionNumber" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Tax Exemption Number' Table='ArCustomer' Column='TaxExemptNumber'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="GSTRegNumber" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='GST Registration Number' Table='ArCustomer' Column='GstExemptNum'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CompanyRegNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer Number' Table='ArCustomer' Column='Customer' Default='yes' Mandatory='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerName" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer Name' Table='ArCustomer' Column='Name' Default='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerAddressOne" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer Address 1' Table='ArCustomer' Column='SoldToAddr1'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerAddressTwo" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer Address 2' Table='ArCustomer' Column='SoldToAddr2'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerAddressThre" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer Address 3' Table='ArCustomer' Column='SoldToAddr3'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerAddressFour" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer Address 4' Table='ArCustomer' Column='SoldToAddr4'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerAddressFive" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer Address 5' Table='ArCustomer' Column='SoldToAddr5'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerPostCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Postal Code' Table='ArCustomer' Column='SoldPostalCode'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomerTax" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer Tax' Table='ArCustomer' Column='CompanyTaxNumber'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipAddressOne" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship Address 1' Table='ArCustomer' Column='ShipToAddr1'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipAddressTwo" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship Address 2' Table='ArCustomer' Column='ShipToAddr2'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipAddressThree" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship Address 3' Table='ArCustomer' Column='ShipToAddr3'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipAddressFour" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship Address 4' Table='ArCustomer' Column='ShipToAddr4'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipAddressFive" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship Address 5' Table='ArCustomer' Column='ShipToAddr5'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShipCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Ship Postal Code' Table='ArCustomer' Column='ShipPostalCode'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Contact" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Contact' Table='ArCustomer' Column='Contact'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Currency' Table='ArCustomer' Column='Currency' Default='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CurrencyDesc" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Currency Description' Table='TblCurrency' Column='Description'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SalesPerson" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Sales Person' Table='ArCustomer' Column='Salesperson'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="SystemDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Invoice Date' Table='ArInvoice' Column='InvoiceDate' Default='yes' Mandatory='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="InvoiceNumber" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Invoice Number' Table='ArInvoice' Column='Invoice' Default='yes' Mandatory='yes' AlignmentValue='Inv'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="InvoiceMessage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Branch" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Branch' Table='ArInvoice' Column='Branch' Default='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="InvoiceTerms" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Invoice Terms Code' Table='ArInvoice' Column='TermsCode'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EntryDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProductClass" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Product Class' Table='SalProductClass' Column='ProductClass'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SalesTaxCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Tax Code' Table='ArInvoice' Column='TaxCode'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="AmtTaxable" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTaxPercent" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTaxAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvAmtInclTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalCashDiscount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GSTCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='GST Code' Table='ArCustomer' Column='GstExemptFlag'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="GSTAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GSTPercent" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DetailData" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DetailLine" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="DetailLine">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="NotesLine" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
