Schemas/sample_po_receipt_document.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for the Purchase Order Receipt Document Printing Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Documents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Document" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SystemInformation" minOccurs="0">
                <xsd:complexType>
                  <xsd:all minOccurs="0">
                    <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="HeaderData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SystemTime" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier' Table='InvDocument' Column='Supplier'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GRN" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='GRN  Number' Table='InvDocument' Column='Grn'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PurchaseOrder" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Purchase Order' Table='InvDocument' Column='KeyPurchaseOrder' Default='yes' Mandatory='yes' AlignmentValue='P/ord.'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TranWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TransactionWhName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelAddOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelAddTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelAddThre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelAddFour" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelAddFive" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDelPostal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseContact" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseFax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReprintMessage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PagePerTransaction" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DetailData" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DetailLine" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="General" minOccurs="0">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetStockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockCodeDes" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockDescLong" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockUOM" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetProductClass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPosTranQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetNegTranQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranValFor" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranUnitCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranUnitCostFor" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderPriceFor" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranMass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranVolume" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTransactionWh" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTranReference" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetJournalNum" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetJournalNot" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetConcessionNum" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetLedgerCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetBinLocation" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetLot" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTechSpec" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInspecText" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderText" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderComment" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTariffCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetJob" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetRejectCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPODueDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOLineDueDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOOrgQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOQtyOut" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetMerchValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetMerchValFor" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetNonMerchValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetNonMerchValFor" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetRequisition" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReqLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetOrgReq" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetDrLedgerCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetGRNSourceCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSupDelNote" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCatalogue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetRejectMessage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SerialItems" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="SerialTracking" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:all>
                                            <xsd:element name="DetSerialNum" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DetSerialBQty" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DetSerialMessage" type="xsd:string" minOccurs="0"/>
                                          </xsd:all>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="TotalTranQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTranValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTranValFor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTranMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalTranVolume" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotMerchValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotMerchValFor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotNonMerchVal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotNonMerchValFor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ContinuationMsg" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
