Schemas/sample_blanket_contract_document.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for the Blanket Contract Document Printing Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Documents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Document" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SystemInformation" minOccurs="0">
                <xsd:complexType>
                  <xsd:all minOccurs="0">
                    <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="HeaderData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressThree" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressThre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressFour" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierAddressFive" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier' Table='BpoMaster' Column='Supplier'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DeliveryAddressName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressThre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressFour" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressFive" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DeliveryAddressCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyRegNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Customer" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Customer' Table='BpoMaster' Column='Customer'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Supplier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerPOrder" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EnteredDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EnteredDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Order Entry Date' Table='BpoMaster'Column='OrderEntryDate'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="StartDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StartDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Start Date' Table='BpoMaster'Column='OrderDueDate'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ExpiryDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpiryDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Expiry Date' Table='BpoMaster'Column='OrderExpiryDate'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ShippingInstruct" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Contract" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Contract' Table='BpoMaster' Column='Contract' Default='yes' Mandatory='yes' AlignmentValue='Contract'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ContractMedia" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DocumentPrintCount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ContractType" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Contract Type' Table='BpoMaster' Column='Contract'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupplierClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PaymentTerms" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ForeignCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ForeignXchgRate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ForeignCurrencyDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IssueNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Contact" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UserDefField" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='User defined field' Table='ApSupplier' Column='UserField1'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SupplierTaxNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="InvoiceTermsDescr" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Buyer" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Buyer' Table='BpoMaster' Column='Buyer'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="BuyerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BuyerEMail" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Warehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BlanketPO" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Blanket Purchase Order' Table='BpoMaster' Column='PurchaseOrder'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DelSchBasis" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DelSchInt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DelTypeInterval" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DelFrequency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DelIntPeriod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DelDay" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NoDeliveries" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReprintMessage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CustomFieldOne" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field One' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomFieldTwo" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field Two' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomFieldThr" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field Three' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomFieldFou" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field Four' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomFieldFiv" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field Five' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomFieldSix" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field Six' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomFieldSev" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field Seven' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomFieldEig" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field Eight' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomFieldNin" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field Nine' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomFieldTen" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Custom Field Ten' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupCustomFieldOne" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Custom Field One' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupCustomFieldTwo" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Custom Field Two' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupCustomFieldThr" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Custom Field Three' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupCustomFieldFou" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Custom Field Four' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupCustomFieldFiv" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Custom Field Five' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupCustomFieldSix" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Custom Field Six' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupCustomFieldSev" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Custom Field Seven' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupCustomFieldEig" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Custom Field Eight' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupCustomFieldNin" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Custom Field Nine' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupCustomFieldTen" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Custom Field Ten' Table='AdmFormData' Column='AlphaValue'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DetailData" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DetailLine" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:choice>
                          <xsd:element name="General" minOccurs="0">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetDetailLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetOrderQty" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetReceivedQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetMinimumQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTotConQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetOrderUnitMeasure" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockUnitMeasure" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockDescription" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetWarehouse" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUnitPriceForeign" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUnitPriceLocal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPriceUnitMeasure" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetLineDiscountPerc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetGrossAmountLocal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetStockCdeLongDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTaxCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetContractValue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUnitFactor" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCatalogue" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetGrossAmountForgn" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetDrawingNumber" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTotalMass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUnitMass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetUnitVolume" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTotalVolume" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCatalogueXref" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetNetAmountForgn" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCurrentInvCost" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSuppStckDescXref" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSuppLongDescXref" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderLineOneX" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderLineTwoX" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderLineThreeX" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetPOrderLineFourX" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSalesTaxLineLoc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetNetAmtInclTax" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetTariffCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetProductClass" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetProdClsDsc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetAltInv" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Comment" minOccurs="0">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetCommentLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetCommentDescript" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Miscellaneous_Freight_charges" minOccurs="0">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetMiscChargeLine" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetMiscChargeDesc" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetMiscChrgeAmtLcl" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetMiscChrgeAmtFrgn" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetMiscTaxCode" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetMiscTaxAmount" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Notepad" minOccurs="0">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetNotepad" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="ScheduleDate" minOccurs="0">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetDelSchMsg" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetScheduleDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetFirstPO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSecondPO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetThirdPO" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:choice>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="AmtTaxable" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTaxAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HashQuantity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGrossAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalLineDiscount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmtInclTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalDocumentAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalDocumentAmtFor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalFreightAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMiscChargesAmt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalGrossAmtForgn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalDiscAmtForgn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetAmtForgn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalVol" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalFreightForeign" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalMiscChargForgn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesTaxAmtForeign" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalNetInclTaxFrgn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ForeignXchgRate" minOccurs="0"/>
                    <xsd:element name="ContinuationMsg" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
