Schemas/sample_ap_eft_remittance_document.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for the AP EFT Remittance Document Printing Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Documents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Document" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SystemInformation" minOccurs="0">
                <xsd:complexType>
                  <xsd:all minOccurs="0">
                    <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="HeaderData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="SupplierName" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Name' Table='ApSupplier' Column='SupplierName' Default='yes' Mandatory='yes' AlignmentValue='Supplier name'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupplierAddressOne" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Address 1' Table='ApSupplierAddr' Column='SupAddr1'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupplierAddressTwo" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Address 2' Table='ApSupplierAddr' Column='SupAddr2'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupplierAddressThre" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Address 3' Table='ApSupplierAddr' Column='SupAddr3'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupplierAddressFour" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Address 4' Table='ApSupplierAddr' Column='SupAddr4'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupplierAddressFive" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier Address 5' Table='ApSupplierAddr' Column='SupAddr5'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupplierCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Postal Code' Table='ApSupplierAddr' Column='SupPostalCode'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Supplier" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier' Table='ApSupplier' Column='Supplier' Default='yes' Mandatory='yes' AlignmentValue='Supp'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SupplierTax" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Tax Registration Number' Table='EftCshSupplier' Column='TaxRegnNum'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PaymentDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Payment Date' Table='EftCshSupplier' Column='DateSuppAdded' Default='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Bank" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Bank' Table='ApBank' Column='Bank' Default='yes' Mandatory='yes' AlignmentValue='Bk'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="BankName" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Bank Name' Table='ApBank' Column='Description'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressOne" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressTwo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyAddressThree" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ForeignCurrencyDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyRegNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyTaxNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RemittanceName" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Remittance Name' Table='ApSupplierAddr' Column='RemitName' Default='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RemittanceAddrOne" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Remittance Address 1' Table='ApSupplierAddr' Column='RemitAddr1'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RemittanceAddrTwo" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Remittance Address 2' Table='ApSupplierAddr' Column='RemitAddr2'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RemittanceAddrThree" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Remittance Address 3' Table='ApSupplierAddr' Column='RemitAddr3'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RemittanceAddrFour" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Remittance Address 4' Table='ApSupplierAddr' Column='RemitAddr4'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RemittanceAddrFive" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Remittance Address 5' Table='ApSupplierAddr' Column='RemitAddr5'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RemittancePostCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Remittance Address 1' Table='ApSupplierAddr' Column='RemitPostalCode'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TelephoneNumber" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Telephone Number' Table='ApSupplier' Column='Telephone'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="FaxNumber" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Fax Number' Table='ApSupplier' Column='Fax'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ContactName" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Contact' Table='ApCshSupplier' Column='Contact'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="EmailAddress" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Email Address' Table='ApSupplier' Column='Email'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RemittanceFaxNumber" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Remittance Fax Number' Table='ApSupplier' Column='Fax'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RemittanceContactNa" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Remittance Contact Name' Table='ApCshSupplier' Column='Contact'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RemittanceEmail" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UserDefinedFieldA" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='User defined field 1' Table='ApSupplier' Column='UserField1'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="UserDefinedFieldB" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='User defined field 2' Table='ApSupplier' Column='UserField2'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="WithholdingTax" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Withholding Tax Number' Table='ApSupplier' Column='WithTaxId'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DetailData" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DetailLine" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="General">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetInvoice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInvReference" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInvDate" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInvGrossAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInvDiscAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInvNetAmount" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInvWithTaxAmt" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInvBranch" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetInvWithTaxCode" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="TotalData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="SupplierName" minOccurs="0"/>
                    <xsd:element name="Supplier" minOccurs="0"/>
                    <xsd:element name="EftNumber" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='EFT Number' Table='EftControl' Column='LastEftBatchNumber' Default='yes' Mandatory='yes'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Bank" minOccurs="0"/>
                    <xsd:element name="RemittanceGrossAmt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RemittanceDiscAmt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RemittanceNetAmt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RemittWithTaxAmt" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RemittanceName" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
