Schemas/sample_scrap_document.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for the Scrap Document Printing Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Documents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Document" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SystemInformation" minOccurs="0">
                <xsd:complexType>
                  <xsd:all minOccurs="0">
                    <xsd:element name="CssStyle" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DateFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorGroup" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorLocation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LocalCurrencyDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GlPrdPerYear" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ReportDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UseSeparatorOnReports" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SeparatorToUse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OperatorPrimaryRole" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NoOfDigits" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="HeaderData">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="DetGRN" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='GRN Number' Table='InvInspect' Column='Grn'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetLot" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Lot Number' Table='InvInspect' Column='Lot'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetStockCodeVer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetStockCodeRel" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetPOrder" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Purchase Order Number' Table='InvInspect' Column='PurchaseOrder'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetSupplier" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Supplier' Table='InvInspect' Column='Supplier'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetSupName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetRejectCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Reject Code' Table='InvInspectDoc' Column='RejectCode'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetSystemDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetTranDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetTranDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Transaction Date' Table='InvInspect' Column='TransactionDate'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetDelNoteDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetPODueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetPODueDateCymd" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Purchase Order Due Date' Table='InvInspectDoc' Column='OrigDueDate'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetPOLineDue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetDateExpire" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetStockCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Stock Code' Table='InvInspectDoc' Column='StockCode'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetStockDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetLongDesc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetUOM" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Uom' Table='InvInspect' Column='OrderUom'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetTranQty" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Quantity Rejected' Table='InvInspect' Column='QtyRejected'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetJob" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Job Number' Table='InvInspectDoc' Column='Job'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetCertificate" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Certificate number' Table='InvInspectDoc' Column='Certificate'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetSupDelNote" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetDocument" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:appinfo>Description='Transaction document' Table='InvInspectDoc' Column='TrnDocument' Default='yes' Mandatory='yes' AlignmentValue='9999999999'</xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DetPOrderLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetRepDocument" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetReprintMsg" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetNarration" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetTechSpec" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetInspecText" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetPOrderText" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetBin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetPOComment" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DetailData" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DetailLine" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Serial_Tracking">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="DetSerMessage" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DetSerNumber" type="xsd:string" minOccurs="0"/>
                              </xsd:all>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
