Schemas/so_order_profitability_report.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Profitability Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Branch">
		<xsd:annotation>
			<xsd:documentation>All or single branches to be returned.  A-All, S-Single.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;browse=SalBranch;A=All;S=Single;"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FilterType" use="optional" default="A">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Filter">
		<xsd:annotation>
			<xsd:appinfo source="screenitem=N;"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Branch"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IncludeCommentLines">
		<xsd:annotation>
			<xsd:documentation>Include comment lines. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeCompletedLines">
		<xsd:annotation>
			<xsd:documentation>Include completed lines. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeDispatchedNotInvoiced">
		<xsd:annotation>
			<xsd:documentation>Include dispatched but not invoiced. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeForward">
		<xsd:annotation>
			<xsd:documentation>Include forward orders. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeInWarehouse">
		<xsd:annotation>
			<xsd:documentation>Include in warehouse. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeOpenBackorders">
		<xsd:annotation>
			<xsd:documentation>Include open backorders. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeOpenOrders">
		<xsd:annotation>
			<xsd:documentation>Include open orders. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeReadyToInvoice">
		<xsd:annotation>
			<xsd:documentation>Include ready to invoice. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeReleasedBackorders">
		<xsd:annotation>
			<xsd:documentation>Include released backorders. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeSuspense">
		<xsd:annotation>
			<xsd:documentation>Include suspense orders. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeZeroProfitPercent">
		<xsd:annotation>
			<xsd:documentation>Include zero profit percentage. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:annotation>
			<xsd:appinfo source="screenitem=N;"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IncludeOpenOrders" minOccurs="0"/>
				<xsd:element ref="IncludeOpenBackorders" minOccurs="0"/>
				<xsd:element ref="IncludeReleasedBackorders" minOccurs="0"/>
				<xsd:element ref="IncludeInWarehouse" minOccurs="0"/>
				<xsd:element ref="IncludeReadyToInvoice" minOccurs="0"/>
				<xsd:element ref="IncludeSuspense" minOccurs="0"/>
				<xsd:element ref="IncludeForward" minOccurs="0"/>
				<xsd:element ref="SummaryLineForOrders" minOccurs="0"/>
				<xsd:element ref="PrintStockDescription" minOccurs="0"/>
				<xsd:element ref="IncludeCompletedLines" minOccurs="0"/>
				<xsd:element ref="IncludeZeroProfitPercent" minOccurs="0"/>
				<xsd:element ref="IncludeDispatchedNotInvoiced" minOccurs="0"/>
				<xsd:element ref="IncludeCommentLines" minOccurs="0"/>
				<xsd:element ref="ProfitMarginBasis" minOccurs="0"/>
				<xsd:element ref="DateSelection" minOccurs="0"/>
				<xsd:element ref="FromDate" minOccurs="0"/>
				<xsd:element ref="ToDate" minOccurs="0"/>
				<xsd:element ref="ProfitMarginSource" minOccurs="0"/>
				<xsd:element ref="ProfitLessThan" minOccurs="0"/>
				<xsd:element ref="ProfitGreaterThan" minOccurs="0"/>
				<xsd:element name="XslStylesheet" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The stylesheet to be applied.</xsd:documentation>
						<xsd:appinfo source="screenitem=N"/>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PrintStockDescription">
		<xsd:annotation>
			<xsd:documentation>Print stock description. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:appinfo source="screenitem=N;"/>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Option"/>
				<xsd:element ref="Filter"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SummaryLineForOrders">
		<xsd:annotation>
			<xsd:documentation>Include summary line for all orders. Y-Yes, N-No.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;Y=Yes;N=No"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DateSelection">
		<xsd:annotation>
			<xsd:documentation>Date selection required. A=All, E=Entry date, S=Ship date.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;A=All;E=Entry date;S=Ship date;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="S"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FromDate">
		<xsd:annotation>
			<xsd:documentation>Enter a date where selection must start, if DateSelection is not set to 'A' (All).</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;browse={date}"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="10"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ToDate">
		<xsd:annotation>
			<xsd:documentation>Enter a date where selection must end, if DateSelection is not set to 'A' (All).</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;browse={date};"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="10"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProfitMarginSource">
		<xsd:annotation>
			<xsd:documentation>Source of profit percentage range used to select orders. P=Product class profit percentage, M=Manually entered profit percentage.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;P=Product class;M=Manually entered;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value="M"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProfitLessThan">
		<xsd:annotation>
			<xsd:documentation>Enter a percentage where selection must start, if ProfitMarginSource is not set to 'P'.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="7"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProfitGreaterThan">
		<xsd:annotation>
			<xsd:documentation>Enter a percentage where selection must end, if ProfitMarginSource is not set to 'P'.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="7"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProfitMarginBasis">
		<xsd:annotation>
			<xsd:documentation>Basis on which to calculate order profit margin. M=Merchandise amount, O=Total order amount.</xsd:documentation>
			<xsd:appinfo source="screenitem=Y;M=Merchandise amount;O=Total order amount;"/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="O"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
