Schemas/SORQDD.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Dispatch Notes Documents Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Option">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Reprint" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This indicates if an original document is to be returned, or one which has already been printed or presented as XML. Valid entries are 'N' and 'Y'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DocumentDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is the date to be output with the document. If provided, it must be of the form CCYY-MM-DD. If not provided, the system date will be used.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="10"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DateToCheck" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The type of date selection required - N - None, L - date of last document, D - dispatch date. Default is 'N'. This is used in conjunction with the filter 'RequestedDate', and determines which date is used for the filter.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="L"/>
                    <xsd:enumeration value="D"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeSCT" default="I" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element controls the inclusion of dispatches that are marked as Supply Chain Transfers - valid options are I (Include), E (Exclude) and O (Only process if an SCT). The default is 'I' - include.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="I"/>
                    <xsd:enumeration value="E"/>
                    <xsd:enumeration value="O"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeForms" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element determines whether custom form information attached to the dispatch note should be returned. Valid entries are 'N' - no, and 'Y' - yes. The default is 'N'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeCustomerForms" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element determines whether custom form information for the dispatch note customer should be returned. Valid entries are 'N' - no, and 'Y' - yes. The default is 'N'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeStockForms" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element determines whether custom form information for the stock code on a detail stocked merchandise line should be returned. Valid entries are 'N' - no, and 'Y' - yes. The default is 'N'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeDetailForms" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element determines whether custom form information for the detail merchandise line should be returned. Valid entries are 'N' - no, and 'Y' - yes. The default is 'N'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeNotes" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element determines whether notepad information attached to the sales order for the dispatch note should be returned. Valid entries are 'N' - no, and 'Y' - yes. The default is 'N'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IgnorePrintStatus" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If this element is set to 'Y', it will over-ride the contents of the 'Reprint' option. Any dispatch notes selected through other criteria will be returned, regardless of the print status for the document. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ReprintStatus" default="D" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element specifies whether the status of the dispatches to reprint is to be the default status (status 5 when the SYSPRO option to manually release to invoice is set, or status 5 and 7 when release to invoice is not manual) or can be selected. It can be set to D - default, or S - select status. If not entered, then the default status is used for reprinting. If set to 'S', the contents of the filters 'DispatchStatus' and 'DispatchInvoice' are used to select dispatches. This option is only considered if the option to ignore print status has not been selected, and the reprint option is set to 'Y'</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="D"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RoundMass" default="O" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element controls the rounding of the mass on individual merchandise  lines. The rounded figure is added to the total mass for the document. The number of decimals is controlled by the 'RoundMassDecs' option. The rounding is O - 'off', 'U'  - up, or 'D' down. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="O"/>
                    <xsd:enumeration value="U"/>
                    <xsd:enumeration value="D"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RoundMassDecs" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This controls the number of decimals used in the rounding of mass as described in 'RoundMass'. A single digit in the range 0 to 6 must be provided. If this element is not used, then the number of decimal places in the mass (currently 6) is used.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RoundVolume" default="O" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element controls the rounding of the volume on individual merchandise lines. The rounded figure is added to the total volume for the document. The number of decimals is controlled by the 'RoundVolumeDecs' option. The rounding is O - 'off', 'U'  - up, or 'D' down. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="O"/>
                    <xsd:enumeration value="U"/>
                    <xsd:enumeration value="D"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="RoundVolumeDecs" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This controls the number of decimals used in the rounding of volume as described in 'RoundVolume'. A single digit in the range 0 to 6 must be provided. If this element is not used, then the number of decimal places in the volume (currently 6) is used.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Call3rdPartyForUsaTax" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If USA tax is in use, and the option to calcualte tax using a 3rd party process is selected, then this will be used to determine if the process is to be called to calcualte the tax for the documents. The default is 'N', do not call the process, but calcualte tax using the standard routines.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="XslStylesheet" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The XSL Stylesheet to be used</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Filter" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Branch" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Branch to be selected (FilterType of A - All, R - Range or S - Single  branch, FilterValue contains a range of branches separated by commas if FilterType is R or  a single branch if S).</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="A"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value="S"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Customer" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Customer to be selected (FilterType of A - All, R - Range or L - List of  customers, FilterValue contains a range or list of customers separated by commas if FilterType is R or L).</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="A"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value="L"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CustomerPo" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Customer purchase order number to be selected (FilterType of A - All, S - Single p/o number, FilterValue contains the selected p/o number if FilterType is S).</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="A"/>
                        <xsd:enumeration value="S"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DispatchNote" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Dispatch note to be selected (FilterType of A - All, R - Range or L - List of  dispatch note numbers, FilterValue contains a range or list of dispatch note numbers separated by commas if FilterType is R or L).</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="A"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value="L"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Operator" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Operator to be selected (FilterType of A - All, S - Single operator, FilterValue contains the selected operator if FilterType is S).</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="A"/>
                        <xsd:enumeration value="S"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="RequestedDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Date to be selected (FilterType of A - All, R - Range or S - Single date, FilterValue contains a range of  dates separated by commas if FilterType is R or  a single date if S). The date provided will depend on the contents of the option 'DateToCheck', and may either be the dispatch date or the date last printed. If the option is set to 'N' for no date, then this filter is ignored.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="A"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value="S"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DispatchStatus" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This is a list of dispatch note statuses to be used when reprinting dispatch notes. It is only considered if the option 'ReprintStatus' is set to 'S'. FilterType is always L - list, FilterValue contains a list of required statuses separated by commas. Valid entries in the list are 5, 7 and 9.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="FilterType" use="optional" default="L">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="L"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DispatchInvoice" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element is only valid if reprinting dispatches, and dispatches of status 9 have been selected. FilterType is A, all or S - single, FilterValue contains  a single invoice number if required. If a single invoice number is selected,  then the status 9 dispatches will only be returned if they are for this invoice number.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="FilterType" use="optional" default="A">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="A"/>
                            <xsd:enumeration value="S"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                      <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
