Schemas/SORQCDOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     This is an example XMLOut instance to demonstrate
     use of the Consolidated Dispatch Invoice Documents Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="CustomerPoNumber" type="xsd:string"/>
  <xsd:element name="DispatchNote" type="xsd:string"/>
  <xsd:element name="DocumentNumber" type="xsd:string"/>
  <xsd:element name="Field">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="DocumentNumber"/>
        <xsd:element name="FormName" type="xsd:string"/>
        <xsd:element name="FormPrompt" type="xsd:string"/>
        <xsd:element name="FormType" type="xsd:string"/>
        <xsd:element name="FormLength" type="xsd:string"/>
        <xsd:element name="FormDecimals" type="xsd:string"/>
        <xsd:element name="FormValue" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LineMscChargeTaxAmt" type="xsd:string"/>
  <xsd:element name="LineMscNetAmount" type="xsd:string"/>
  <xsd:element name="LineNumber" type="xsd:string"/>
  <xsd:element name="Lot" type="xsd:string"/>
  <xsd:element name="MLineShipDate" type="xsd:string"/>
  <xsd:element name="NComment" type="xsd:string"/>
  <xsd:element name="NMscChargeValue" type="xsd:string"/>
  <xsd:element name="NMscTaxCode" type="xsd:string"/>
  <xsd:element name="PromotionCode">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SalesOrder" type="xsd:string"/>
  <xsd:element name="SalesOrderLine" type="xsd:string"/>
  <xsd:element name="SorConsDispatchInvoiceDocuments">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element ref="Version"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element ref="CompanyName"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="OperatorLocation">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ConsDispatchInvoiceDocument" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="DocumentNumber" minOccurs="0"/>
              <xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reprint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Header">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="DocumentNumber"/>
                    <xsd:element ref="CompanyName"/>
                    <xsd:element name="CompanyAddress1" type="xsd:string"/>
                    <xsd:element name="CompanyAddress2" type="xsd:string"/>
                    <xsd:element name="CompanyAddress3">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="CompanyTaxNumber">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="CompanyRegNumber">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="Customer" type="xsd:string"/>
                    <xsd:element name="CustomerName" type="xsd:string"/>
                    <xsd:element name="SoldToAddr1" type="xsd:string"/>
                    <xsd:element name="SoldToAddr2" type="xsd:string"/>
                    <xsd:element name="SoldToAddr3" type="xsd:string"/>
                    <xsd:element name="SoldToAddr4">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="SoldToAddr5">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="SoldPostalcode">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="StateCode">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="ShipCustomerName" type="xsd:string"/>
                    <xsd:element name="ShipAddress1" type="xsd:string"/>
                    <xsd:element name="ShipAddress2" type="xsd:string"/>
                    <xsd:element name="ShipAddress3" type="xsd:string"/>
                    <xsd:element name="ShipAddress4">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="ShipAddress5">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="ShipPostalcode">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MultiShipCode">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MasterAccount">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="StoreNumber">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="Salesperson" type="xsd:string"/>
                    <xsd:element name="SalespersonName" type="xsd:string"/>
                    <xsd:element ref="CustomerPoNumber"/>
                    <xsd:element name="CompanyTaxNo">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="OrderDate" type="xsd:string"/>
                    <xsd:element name="EntInvoiceDate" type="xsd:string"/>
                    <xsd:element name="SystemDate" type="xsd:string"/>
                    <xsd:element name="SystemTime" type="xsd:string"/>
                    <xsd:element name="ShippingInstrs">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="SpecialInstrs">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="DelNoteSuffix" type="xsd:string"/>
                    <xsd:element name="OrderType" type="xsd:string"/>
                    <xsd:element name="TypeDescription" type="xsd:string"/>
                    <xsd:element name="CreditAuthority">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="Area" type="xsd:string"/>
                    <xsd:element name="AreaDescription" type="xsd:string"/>
                    <xsd:element name="Branch" type="xsd:string"/>
                    <xsd:element name="BranchDescription" type="xsd:string"/>
                    <xsd:element name="BranchAddr1" type="xsd:string"/>
                    <xsd:element name="BranchAddr2" type="xsd:string"/>
                    <xsd:element name="BranchAddr3">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="InvTermsOverride" type="xsd:string"/>
                    <xsd:element name="InvoiceTermsDescription" type="xsd:string"/>
                    <xsd:element name="Nationality">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="DeliveryTerms">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="DeliveryTermsDescription">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="TransactionNature">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="NatureOfTransDescription">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="TransportMode">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="ProcessFlag">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="LastOperator" type="xsd:string"/>
                    <xsd:element name="CustomerComment">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="AlternateKey" type="xsd:string"/>
                    <xsd:element name="DeliveryNote" type="xsd:string"/>
                    <xsd:element name="TaxExemptNumber">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="GstExemptNum">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="Currency" type="xsd:string"/>
                    <xsd:element name="CurrencyDescription" type="xsd:string"/>
                    <xsd:element name="ExchangeRate" type="xsd:string"/>
                    <xsd:element name="MulDiv" type="xsd:string"/>
                    <xsd:element name="Contact" type="xsd:string"/>
                    <xsd:element name="Telephone" type="xsd:string"/>
                    <xsd:element name="TelephoneExtn">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="Fax">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="Telex">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="Email">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="DocFax">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="DocFaxContact">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="DocumentEmail">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="SourceWarehouse">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="SourceWhDesc">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="TargetWarehouse">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="TargetWhDesc">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="State">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="CoZip">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="ExtendedTaxCode">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element ref="UserField1"/>
                    <xsd:element ref="UserField2"/>
                    <xsd:element name="OrderStatus" type="xsd:string"/>
                    <xsd:element name="EdiSendReceive">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="EdiSenderCode">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="Quote">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="RmaNumber">
                      <xsd:complexType/>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Notes" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="DocumentNumber"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CustomerCustomData" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="DocumentNumber"/>
                    <xsd:element ref="Field"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Merchandise" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element ref="LineNumber" minOccurs="0"/>
                    <xsd:element ref="SalesOrderLine" minOccurs="0"/>
                    <xsd:element name="MOrderQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MShipQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MBackOrderQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockQtyToShp" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PricingQtyShip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MOrderUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockingUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="DispatchNote" minOccurs="0"/>
                    <xsd:element name="DispatchNoteLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockDes" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MWarehouse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MBin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MHierarchyJob" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="JobNumber" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element ref="MLineShipDate" minOccurs="0"/>
                    <xsd:element name="MCustRequestDat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MContract" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MBuyingGroup" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MCusSupStkCode" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MCusRetailPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CusGrossProfitPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DetCustTotalRetail" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ManPartNumber" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="LongDesc" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="OtherUm" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="UserField1" minOccurs="0"/>
                    <xsd:element ref="UserField2" minOccurs="0"/>
                    <xsd:element name="UserField3" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="UserField4" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="UserField5" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="AlternateKey1" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="AlternateKey2" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="DrawOfficeNum" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MUserDef" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MStockUnitVol" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineVolume" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MBomFlag" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MParentKitType" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="CreditReason" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="ReasonDescription" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MerchLineCount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MStockUnitMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineMass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineMassRounded" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineVolRounded" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MPriceCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NetUnitPrice" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitPriceInclTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitDiscount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UnitPriceInOrderUm" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MTariffcode" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MSupplementaryUn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MPriceUom" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscPct1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscPct2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MDiscPct3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineDiscValue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineSalesTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineGrossamount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineNetAfterDisc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MTaxCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineTaxPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxInclusive" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LineNetInclTax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MConvFactOrdUm" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MMulDivPrcFct" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="SalesOrder" minOccurs="0"/>
                    <xsd:element name="MProductClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PalletQty" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WarehouseToUse" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MVersion" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MRelease" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="MCommissionCode" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element ref="TpmUsageFlag" minOccurs="0"/>
                    <xsd:element ref="TpmParentLine" minOccurs="0"/>
                    <xsd:element ref="PromotionCode" minOccurs="0"/>
                    <xsd:element ref="TpmSequence" minOccurs="0"/>
                    <xsd:element name="UnitCost" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SerialMethod" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TraceableType" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Decimals" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SalesOrderInitLine" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StockCustomData" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element ref="DocumentNumber"/>
                          <xsd:element ref="Field"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Dispatches">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element ref="DocumentNumber"/>
                          <xsd:element ref="LineNumber"/>
                          <xsd:element ref="DispatchNote"/>
                          <xsd:element name="MQtyToDispatch" type="xsd:string"/>
                          <xsd:element ref="SalesOrder"/>
                          <xsd:element ref="MLineShipDate"/>
                          <xsd:element ref="CustomerPoNumber"/>
                          <xsd:element name="Lots" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element ref="DocumentNumber"/>
                                <xsd:element ref="LineNumber"/>
                                <xsd:element ref="Lot"/>
                                <xsd:element ref="Version"/>
                                <xsd:element name="Release" type="xsd:string"/>
                                <xsd:element name="Certificate" type="xsd:string"/>
                                <xsd:element ref="StockQtyToShip"/>
                                <xsd:element name="LotExpiryDate" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Bins">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element ref="DocumentNumber"/>
                                <xsd:element ref="LineNumber"/>
                                <xsd:element name="Bin" type="xsd:string"/>
                                <xsd:element ref="Lot"/>
                                <xsd:element ref="StockQtyToShip"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Serials" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element ref="DocumentNumber"/>
                                <xsd:element ref="LineNumber"/>
                                <xsd:element name="Serial" type="xsd:string"/>
                                <xsd:element ref="Lot"/>
                                <xsd:element ref="StockQtyToShip"/>
                                <xsd:element name="SerialDescription" type="xsd:string"/>
                                <xsd:element name="ExpiryDate" type="xsd:string"/>
                                <xsd:element name="Location" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Freight" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element ref="LineNumber" minOccurs="0"/>
                    <xsd:element ref="SalesOrderLine" minOccurs="0"/>
                    <xsd:element ref="NComment" minOccurs="0"/>
                    <xsd:element ref="NMscChargeValue" minOccurs="0"/>
                    <xsd:element ref="LineMscNetAmount" minOccurs="0"/>
                    <xsd:element ref="NMscTaxCode" minOccurs="0"/>
                    <xsd:element ref="LineMscChargeTaxAmt" minOccurs="0"/>
                    <xsd:element name="LineTaxPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxInclusive" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="MiscCharge" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element ref="LineNumber" minOccurs="0"/>
                    <xsd:element ref="SalesOrderLine" minOccurs="0"/>
                    <xsd:element ref="NComment" minOccurs="0"/>
                    <xsd:element ref="NMscChargeValue" minOccurs="0"/>
                    <xsd:element ref="LineMscNetAmount" minOccurs="0"/>
                    <xsd:element ref="NMscTaxCode" minOccurs="0"/>
                    <xsd:element name="NMscProductCls" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="LineMscChargeTaxAmt" minOccurs="0"/>
                    <xsd:element name="NSrvChargeType" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="NChargeCode" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="NSrvParentLine" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="NMscChargeQty" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="NSrvUnitPrice" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="NMscFstCode" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="LineGstPerc" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="LineGstAmount" minOccurs="0">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element ref="TpmUsageFlag" minOccurs="0"/>
                    <xsd:element ref="TpmParentLine" minOccurs="0"/>
                    <xsd:element ref="PromotionCode" minOccurs="0"/>
                    <xsd:element ref="TpmSequence" minOccurs="0"/>
                    <xsd:element name="LineTaxPerc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TaxInclusive" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Comment" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element ref="DocumentNumber" minOccurs="0"/>
                    <xsd:element ref="LineNumber" minOccurs="0"/>
                    <xsd:element ref="SalesOrderLine" minOccurs="0"/>
                    <xsd:element name="NCommentFromLin" type="xsd:string" minOccurs="0"/>
                    <xsd:element ref="NComment" minOccurs="0"/>
                    <xsd:element name="NCommentType" type="xsd:string" minOccurs="0"/>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Totals">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="DocumentNumber"/>
                    <xsd:element name="SalesTax">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SalesTaxDetails">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element ref="DocumentNumber"/>
                                <xsd:element name="SalesTaxCode" type="xsd:string"/>
                                <xsd:element name="AmountTaxable" type="xsd:string"/>
                                <xsd:element name="SalesTaxPercentage" type="xsd:string"/>
                                <xsd:element name="SalesTaxAmount" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="HashQuantity" type="xsd:string"/>
                    <xsd:element name="HashQuantityOrd" type="xsd:string"/>
                    <xsd:element name="HashQuantityShip" type="xsd:string"/>
                    <xsd:element name="HashQuantityUnits" type="xsd:string"/>
                    <xsd:element name="HashQuantityPieces" type="xsd:string"/>
                    <xsd:element name="TotalMass" type="xsd:string"/>
                    <xsd:element name="TotalVolume" type="xsd:string"/>
                    <xsd:element name="TotalMassRounded" type="xsd:string"/>
                    <xsd:element name="TotalVolumeRounded" type="xsd:string"/>
                    <xsd:element name="TotalGrossAmount" type="xsd:string"/>
                    <xsd:element name="TotalNetAmount" type="xsd:string"/>
                    <xsd:element name="TotalLineDiscount" type="xsd:string"/>
                    <xsd:element name="TotalInvDiscountAmt" type="xsd:string"/>
                    <xsd:element name="DiscPct1" type="xsd:string"/>
                    <xsd:element name="DiscPct2" type="xsd:string"/>
                    <xsd:element name="DiscPct3" type="xsd:string"/>
                    <xsd:element name="TotalNetAmtInclTax" type="xsd:string"/>
                    <xsd:element name="TotalSalesTax" type="xsd:string"/>
                    <xsd:element name="TotalInvoiceAmount" type="xsd:string"/>
                    <xsd:element name="TotalInvAmtExclTax" type="xsd:string"/>
                    <xsd:element name="TotalFreightAmount" type="xsd:string"/>
                    <xsd:element name="TotalMiscChargesAmt" type="xsd:string"/>
                    <xsd:element name="TotalFreightTax" type="xsd:string"/>
                    <xsd:element name="TotalMiscChgTax" type="xsd:string"/>
                    <xsd:element name="TotalFrghtAmtIncTax" type="xsd:string"/>
                    <xsd:element name="TotalMiscChgIncTax" type="xsd:string"/>
                    <xsd:element name="CommentText1">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="CommentText2">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="CommentText3">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="CommentText4">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="TotalCashDiscount" type="xsd:string"/>
                    <xsd:element name="TotalInvLessDisc" type="xsd:string"/>
                    <xsd:element name="TotalCustRetail" type="xsd:string"/>
                    <xsd:element name="CashDiscExpDate" type="xsd:string"/>
                    <xsd:element name="InvoiceDueDate" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:string" use="required"/>
      <xsd:attribute name="Role" type="xsd:string" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StockQtyToShip" type="xsd:string"/>
  <xsd:element name="TpmParentLine">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="TpmSequence">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="TpmUsageFlag">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="UserField1">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="UserField2" type="xsd:string"/>
  <xsd:element name="Version" type="xsd:string"/>
</xsd:schema>
