Schemas/SORQRYOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SorDetail">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice maxOccurs="unbounded">
					<xsd:element name="SystemInformation">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="CssStyle"/>
								<xsd:element name="Language" type="xsd:string"/>
								<xsd:element name="DecFormat" type="xsd:string"/>
								<xsd:element name="DateFormat" type="xsd:string"/>
								<xsd:element name="Role" type="xsd:string"/>
								<xsd:element name="Version" type="xsd:string"/>
								<xsd:element name="CompanyId" type="xsd:string"/>
								<xsd:element name="CompanyName" type="xsd:string"/>
								<xsd:element name="OperatorCode" type="xsd:string"/>
								<xsd:element name="OperatorName" type="xsd:string"/>
								<xsd:element name="OperatorGroup" type="xsd:string"/>
								<xsd:element name="OperatorEmailAddress"/>
								<xsd:element name="OperatorLocation"/>
								<xsd:element name="ReportDate" type="xsd:string"/>
								<xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
								<xsd:element name="SeparatorToUse" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="SalesOrder" type="xsd:string"/>
					<xsd:element name="Customer" type="xsd:string"/>
					<xsd:element name="CustomerName" type="xsd:string"/>
					<xsd:element name="Salesperson" type="xsd:string"/>
					<xsd:element name="ScheduledOrdFlag"/>
					<xsd:element name="Commissions">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Salesperson" type="xsd:string"/>
								<xsd:element name="CommissionSales1" type="xsd:string"/>
								<xsd:element name="Salesperson2"/>
								<xsd:element name="CommissionSales2" type="xsd:string"/>
								<xsd:element name="Salesperson3"/>
								<xsd:element name="CommissionSales3" type="xsd:string"/>
								<xsd:element name="Salesperson4"/>
								<xsd:element name="CommissionSales4" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="SALSLS_Name" type="xsd:string"/>
					<xsd:element name="OrderStatus" type="xsd:string"/>
					<xsd:element name="CustomerPoNumber"/>
					<xsd:element name="OrderDate" type="xsd:string"/>
					<xsd:element name="ReqShipDate" type="xsd:string"/>
					<xsd:element name="ShippingInstrs" type="xsd:string"/>
					<xsd:element name="SpecialInstrs"/>
					<xsd:element name="InvTermsOverride" type="xsd:string"/>
					<xsd:element name="DeliveryNote" type="xsd:string"/>
					<xsd:element name="LastDelNote" type="xsd:string"/>
					<xsd:element name="TimeDelPrtedHh" type="xsd:string"/>
					<xsd:element name="TimeDelPrtedMm" type="xsd:string"/>
					<xsd:element name="LastInvoice"/>
					<xsd:element name="DateLastInvPrt"/>
					<xsd:element name="TimeInvPrtedHh" type="xsd:string"/>
					<xsd:element name="TimeInvPrtedMm" type="xsd:string"/>
					<xsd:element name="TBLART_Description" type="xsd:string"/>
					<xsd:element name="Branch" type="xsd:string"/>
					<xsd:element name="SALBRN_Description" type="xsd:string"/>
					<xsd:element name="EntInvoice"/>
					<xsd:element name="OrderType" type="xsd:string"/>
					<xsd:element name="Area" type="xsd:string"/>
					<xsd:element name="SALARE_Description" type="xsd:string"/>
					<xsd:element name="TaxExemptNumber"/>
					<xsd:element name="GstExemptNum"/>
					<xsd:element name="Currency" type="xsd:string"/>
					<xsd:element name="ShipAddress1" type="xsd:string"/>
					<xsd:element name="ShipAddress2" type="xsd:string"/>
					<xsd:element name="ShipAddress3" type="xsd:string"/>
					<xsd:element name="ShipAddress4"/>
					<xsd:element name="ShipAddress5"/>
					<xsd:element name="ShipPostalCode"/>
					<xsd:element name="FixExchangeRate" type="xsd:string"/>
					<xsd:element name="ExchangeRate" type="xsd:string"/>
					<xsd:element name="MulDiv" type="xsd:string"/>
					<xsd:element name="ConsolidatedOrder"/>
					<xsd:element name="GstDeduction" type="xsd:string"/>
					<xsd:element name="CreditedInvDate"/>
					<xsd:element name="Job"/>
					<xsd:element name="SerialisedFlag" type="xsd:string"/>
					<xsd:element name="CounterSalesFlag"/>
					<xsd:element name="Nationality"/>
					<xsd:element name="DeliveryTerms"/>
					<xsd:element name="TransactionNature" type="xsd:string"/>
					<xsd:element name="TransportMode" type="xsd:string"/>
					<xsd:element name="ProcessFlag" type="xsd:string"/>
					<xsd:element name="JobsExistFlag"/>
					<xsd:element name="AlternateKey"/>
					<xsd:element name="HierarchyFlag"/>
					<xsd:element name="DepositFlag"/>
					<xsd:element name="EdiSource"/>
					<xsd:element name="MultShipCode"/>
					<xsd:element name="CompanyTaxNo"/>
					<xsd:element name="LastOperator" type="xsd:string"/>
					<xsd:element name="Operator"/>
					<xsd:element name="State"/>
					<xsd:element name="CountyZip"/>
					<xsd:element name="ExtendedTaxCode"/>
					<xsd:element name="WebCreated"/>
					<xsd:element name="Quote"/>
					<xsd:element name="CustomForm" type="xsd:string"/>
					<xsd:element name="SalesOrderLine" minOccurs="0" maxOccurs="100">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="MiscCharge" minOccurs="0">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="SalesOrderLine" type="xsd:string"/>
											<xsd:element name="NComment" type="xsd:string"/>
											<xsd:element name="NCommentFromLin" type="xsd:string"/>
											<xsd:element name="NMscChargeValue" type="xsd:string"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Freight" minOccurs="0">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="SalesOrderLine" type="xsd:string"/>
											<xsd:element name="NComment" type="xsd:string"/>
											<xsd:element name="NCommentFromLin" type="xsd:string"/>
											<xsd:element name="NMscChargeValue" type="xsd:string"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="CommentLine" minOccurs="0">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="SalesOrderLine" type="xsd:string"/>
											<xsd:element name="NComment" type="xsd:string"/>
											<xsd:element name="NCommentFromLin" type="xsd:string"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Merchandise" minOccurs="0">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:choice maxOccurs="unbounded">
												<xsd:element name="SalesOrderLine" type="xsd:string"/>
												<xsd:element name="MStockCode" type="xsd:string"/>
												<xsd:element name="MStockDes" type="xsd:string"/>
												<xsd:element name="LongDesc"/>
												<xsd:element name="MProductClass" type="xsd:string"/>
												<xsd:element name="Description" type="xsd:string"/>
												<xsd:element name="MWarehouse" type="xsd:string"/>
												<xsd:element name="MBin" type="xsd:string"/>
												<xsd:element name="MCusSupStkCode" type="xsd:string"/>
												<xsd:element name="MOrderQty" type="xsd:string"/>
												<xsd:element name="MOrderQtyInStockingUm"/>
												<xsd:element name="MShipQty" type="xsd:string"/>
												<xsd:element name="MStockQtyToShp" type="xsd:string"/>
												<xsd:element name="MBackOrderQty" type="xsd:string"/>
												<xsd:element name="MOrderUom" type="xsd:string"/>
												<xsd:element name="MStockingUom" type="xsd:string"/>
												<xsd:element name="MStockUnitMass" type="xsd:string"/>
												<xsd:element name="MStockUnitVol" type="xsd:string"/>
												<xsd:element name="MPrice" type="xsd:string"/>
												<xsd:element name="MPriceUom" type="xsd:string"/>
												<xsd:element name="MDiscPct1" type="xsd:string"/>
												<xsd:element name="MDiscPct2" type="xsd:string"/>
												<xsd:element name="MDiscPct3" type="xsd:string"/>
												<xsd:element name="OrderLineValue" type="xsd:string"/>
												<xsd:element name="MLineShipDate" type="xsd:string"/>
												<xsd:element name="MCustRequestDat" type="xsd:string"/>
												<xsd:element name="MHierarchyJob" type="xsd:string"/>
												<xsd:element name="Serial" minOccurs="0" maxOccurs="100">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="Serial" type="xsd:string"/>
															<xsd:element name="Lot"/>
															<xsd:element name="NewExpiryDate"/>
															<xsd:element name="StockQtyToShip" type="xsd:string"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="Bin">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="Bin" type="xsd:string"/>
															<xsd:element name="Lot" type="xsd:string"/>
															<xsd:element name="StockQtyToShip" type="xsd:string"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="AttachedItems">
													<xsd:complexType mixed="true">
														<xsd:sequence minOccurs="0" maxOccurs="100">
															<xsd:element name="SctItem"  minOccurs="0" maxOccurs="100">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:choice maxOccurs="unbounded">
																			<xsd:element name="SctOrder" type="xsd:string"/>
																			<xsd:element name="SctOrderLine" type="xsd:string"/>
																			<xsd:element name="MStockCode" type="xsd:string"/>
																			<xsd:element name="MStockDes" type="xsd:string"/>
																			<xsd:element name="LongDesc" type="xsd:string"/>
																			<xsd:element name="MWarehouse" type="xsd:string"/>
																			<xsd:element name="MBin" type="xsd:string"/>
																			<xsd:element name="MOrderQty" type="xsd:string"/>
																			<xsd:element name="MOrderQtyInStockingUm" type="xsd:string"/>
																			<xsd:element name="MShipQty" type="xsd:string"/>
																			<xsd:element name="MBackOrderQty" type="xsd:string"/>
																			<xsd:element name="MUnitCost" type="xsd:string"/>
																			<xsd:element name="MOrderUom" type="xsd:string"/>
																			<xsd:element name="MStockQtyToShp" type="xsd:string"/>
																			<xsd:element name="MStockingUom" type="xsd:string"/>
																			<xsd:element name="MPrice" type="xsd:string"/>
																			<xsd:element name="MPriceUom" type="xsd:string"/>
																			<xsd:element name="MProductClass" type="xsd:string"/>
																			<xsd:element name="MLineShipDate" type="xsd:string"/>
																			<xsd:element name="MStockUnitMass" type="xsd:string"/>
																			<xsd:element name="MStockUnitVol" type="xsd:string"/>
																			<xsd:element name="MCustRequestDat"/>
																		</xsd:choice>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="RequisitionItem" minOccurs="0" maxOccurs="100">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="Requisition" type="xsd:string"/>
																		<xsd:element name="ReasonForReqn"/>
																		<xsd:element name="Line" type="xsd:string"/>
																		<xsd:element name="Supplier" type="xsd:string"/>
																		<xsd:element name="SupplierName" type="xsd:string"/>
																		<xsd:element name="SupplierCurrency" type="xsd:string"/>
																		<xsd:element name="Price" type="xsd:string"/>
																		<xsd:element name="PriceUom" type="xsd:string"/>
																		<xsd:element name="GlCode"/>
																		<xsd:element name="DiscountCode"/>
																		<xsd:element name="LessPlusDisc" type="xsd:string"/>
																		<xsd:element name="DiscPct1" type="xsd:string"/>
																		<xsd:element name="DiscPct2" type="xsd:string"/>
																		<xsd:element name="DiscPct3" type="xsd:string"/>
																		<xsd:element name="Version"/>
																		<xsd:element name="Release"/>
																		<xsd:element name="EccHold"/>
																		<xsd:element name="OrderQty" type="xsd:string"/>
																		<xsd:element name="OrderUom" type="xsd:string"/>
																		<xsd:element name="DateReqnRaised" type="xsd:string"/>
																		<xsd:element name="DueDate" type="xsd:string"/>
																		<xsd:element name="DateLastReceipt"/>
																		<xsd:element name="DatePoConfirmed"/>
																		<xsd:element name="DateActioned"/>
																		<xsd:element name="ReqnStatus"/>
																		<xsd:element name="StockCode" type="xsd:string"/>
																		<xsd:element name="StockDescription" type="xsd:string"/>
																		<xsd:element name="Warehouse" type="xsd:string"/>
																		<xsd:element name="SupCatalogueNum"/>
																		<xsd:element name="Buyer" type="xsd:string"/>
																		<xsd:element name="Customer" type="xsd:string"/>
																		<xsd:element name="CustomerPoNumber"/>
																		<xsd:element name="ProductClass" type="xsd:string"/>
																		<xsd:element name="TaxCode" type="xsd:string"/>
																		<xsd:element name="CapexNum"/>
																		<xsd:element name="BpoApproved"/>
																		<xsd:element name="Originator" type="xsd:string"/>
																		<xsd:element name="Job" type="xsd:string"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="PurchaseOrder" minOccurs="0" maxOccurs="100">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="PurchaseOrder" type="xsd:string"/>
																		<xsd:element name="Supplier" type="xsd:string"/>
																		<xsd:element name="SupplierName" type="xsd:string"/>
																		<xsd:element name="SupplierClass" type="xsd:string"/>
																		<xsd:element name="Customer" type="xsd:string"/>
																		<xsd:element name="CustomerPoNumber"/>
																		<xsd:element name="SupplierAddr1" type="xsd:string"/>
																		<xsd:element name="SupplierAddr2" type="xsd:string"/>
																		<xsd:element name="SupplierAddr3" type="xsd:string"/>
																		<xsd:element name="SupplierAddr4"/>
																		<xsd:element name="SupplierAddr5"/>
																		<xsd:element name="SupPostalCode"/>
																		<xsd:element name="Currency" type="xsd:string"/>
																		<xsd:element name="Description" type="xsd:string"/>
																		<xsd:element name="DeliveryName" type="xsd:string"/>
																		<xsd:element name="DeliveryAddr1" type="xsd:string"/>
																		<xsd:element name="DeliveryAddr2" type="xsd:string"/>
																		<xsd:element name="DeliveryAddr3"/>
																		<xsd:element name="DeliveryAddr4"/>
																		<xsd:element name="DeliveryAddr5"/>
																		<xsd:element name="PostalCode"/>
																		<xsd:element name="OrderStatus" type="xsd:string"/>
																		<xsd:element name="OrderEntryDate" type="xsd:string"/>
																		<xsd:element name="OrderDueDate" type="xsd:string"/>
																		<xsd:element name="MemoDate" type="xsd:string"/>
																		<xsd:element name="MemoCode"/>
																		<xsd:element name="OrderType" type="xsd:string"/>
																		<xsd:element name="PaymentTerms"/>
																		<xsd:element name="TaxStatus" type="xsd:string"/>
																		<xsd:element name="ShippingInstrs" type="xsd:string"/>
																		<xsd:element name="OrderDiscount"/>
																		<xsd:element name="AmendedCount" type="xsd:string"/>
																		<xsd:element name="Buyer" type="xsd:string"/>
																		<xsd:element name="Name" type="xsd:string"/>
																		<xsd:element name="DocumentFormat" type="xsd:string"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="MDiscValue" type="xsd:string"/>
												<xsd:element name="Lot">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="Lot" type="xsd:string"/>
															<xsd:element name="Certificate"/>
															<xsd:element name="Version" type="xsd:string"/>
															<xsd:element name="Release" type="xsd:string"/>
															<xsd:element name="StockQtyToShip" type="xsd:string"/>
															<xsd:element name="LotExpiryDate"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:choice>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="SalesOrderInitLine" type="xsd:string"/>
					<xsd:element name="CustomForms" type="xsd:string"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
