Schemas/SORQ13OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Picking Slip Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SoPickingListQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType mixed="true">
            <xsd:choice>
              <xsd:element name="Sequence" type="xsd:boolean"/>
              <xsd:element name="Reprint" type="xsd:string"/>
              <xsd:element name="NumberofCharactersinaBinGroup" type="xsd:byte"/>
              <xsd:element name="NewPagePerWarehouse" type="xsd:string"/>
              <xsd:element name="NewPagePerOrderNumber" type="xsd:string"/>
              <xsd:element name="NewPagePerBin" type="xsd:string"/>
              <xsd:element name="PrintOrderLineComments" type="xsd:string"/>
              <xsd:element name="PrintSerialNumber" type="xsd:string"/>
              <xsd:element name="PrintLotNumbers" type="xsd:string"/>
              <xsd:element name="PrintExtendedInformation" type="xsd:string"/>
              <xsd:element name="PrintLongDescription" type="xsd:string"/>
              <xsd:element name="OrderFilterType" type="xsd:string"/>
              <xsd:element name="OrderFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="ShipDateFilterType" type="xsd:string"/>
              <xsd:element name="ShipDateFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="BranchFilterType" type="xsd:string"/>
              <xsd:element name="BranchFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="CustomerFilterType" type="xsd:string"/>
              <xsd:element name="CustomerFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="GeographicAreaFilterType" type="xsd:string"/>
              <xsd:element name="GeographicFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="BinFilterType" type="xsd:string"/>
              <xsd:element name="AlternateKeyFilterType" type="xsd:string"/>
              <xsd:element name="AlternateKeyFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="AlternateKeyStockFilterType" type="xsd:string"/>
              <xsd:element name="AlternateKeyStockFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="BinFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="StockCodeFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="WarehouseFilterType" type="xsd:string"/>
              <xsd:element name="WarehouseFilterValue">
                <xsd:complexType/>
              </xsd:element>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SequenceItem" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:choice maxOccurs="unbounded">
              <xsd:element name="SequenceEntry">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AA"/>
                    <xsd:enumeration value="BB"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="SequenceDesc">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="OrderItem">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="OrderNumber">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:byte">
                          <xsd:enumeration value="000001"/>
                          <xsd:enumeration value="000002"/>
                          <xsd:enumeration value="000011"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LineNumber">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:byte">
                          <xsd:enumeration value="0001"/>
                          <xsd:enumeration value="0002"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Warehouse" type="xsd:string"/>
                    <xsd:element name="BinLocation">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="ShipDate">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="08/07/08"/>
                          <xsd:enumeration value="08/08/08"/>
                          <xsd:enumeration value="18/08/08"/>
                          <xsd:enumeration value="28/08/08"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="StockCode">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:hexBinary">
                          <xsd:enumeration value="A100"/>
                          <xsd:enumeration value="A102"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="Quantity">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:enumeration value="10.000"/>
                          <xsd:enumeration value="15.000"/>
                          <xsd:enumeration value="150.000"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="UnitofMeasure" type="xsd:string"/>
                    <xsd:element name="Customer" type="xsd:byte"/>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Rev">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="Rel">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="LongDescription">
                      <xsd:complexType/>
                    </xsd:element>
                    <xsd:element name="LotsSerials">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="LotNumber">
                            <xsd:complexType/>
                          </xsd:element>
                          <xsd:element name="SerialNumber">
                            <xsd:complexType/>
                          </xsd:element>
                          <xsd:element name="LSQty">
                            <xsd:complexType/>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Comments">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CommentLine">
                            <xsd:complexType/>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Totals">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TotalQty">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:enumeration value="10.000"/>
                          <xsd:enumeration value="150.000"/>
                          <xsd:enumeration value="30"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TotalOrderMass">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:short">
                          <xsd:enumeration value="10"/>
                          <xsd:enumeration value="15"/>
                          <xsd:enumeration value="150"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
