Schemas/SORQPSOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for S/O Release Reserved Stock Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Customer">
		<xsd:simpleType>
			<xsd:restriction base="xsd:byte">
				<xsd:enumeration value="0000001"/>
				<xsd:enumeration value="0000005"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustomerName" type="xsd:string"/>
	<xsd:element name="LineType" type="xsd:boolean"/>
	<xsd:element name="LongDescription" type="xsd:string"/>
	<xsd:element name="MBomFlag">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MConvFactUnitQ" type="xsd:string"/>
	<xsd:element name="MDecimalsUnitQ" type="xsd:boolean"/>
	<xsd:element name="MEccFlag">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="MParentKitType">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="S"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MQtyChangesFlag" type="xsd:string"/>
	<xsd:element name="MSerialMethod" type="xsd:string"/>
	<xsd:element name="MTraceableType" type="xsd:string"/>
	<xsd:element name="MUnitQuantity" type="xsd:string"/>
	<xsd:element name="MultiShipCode">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Release">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ReleaseReservedStockQuery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="QueryOptions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PickingStatusLinesOnly" type="xsd:string"/>
							<xsd:element name="CustomerFilterType" type="xsd:string"/>
							<xsd:element name="CustomerFilterValue">
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="ShipDateFilterType" type="xsd:string"/>
							<xsd:element name="ShipDateFilterValue">
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="SalesOrderFilterType" type="xsd:string"/>
							<xsd:element name="SalesOrderFilterValue">
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="StockCodeFilterType" type="xsd:string"/>
							<xsd:element name="StockCodeFilterValue">
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="WarehouseFilterType" type="xsd:string"/>
							<xsd:element name="WarehouseFilterValue">
								<xsd:complexType/>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ReleaseOrderItems">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OrderItem" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="SalesOrder"/>
										<xsd:element ref="SalesOrderLine"/>
										<xsd:element ref="Customer" minOccurs="0"/>
										<xsd:element ref="CustomerName" minOccurs="0"/>
										<xsd:element name="TargetWarehouse" type="xsd:string" minOccurs="0"/>
										<xsd:element name="TargetWarehouseDescription" type="xsd:string" minOccurs="0"/>
										<xsd:element ref="StockCode"/>
										<xsd:element ref="StockCodeDescription"/>
										<xsd:element ref="LongDescription"/>
										<xsd:element ref="MEccFlag"/>
										<xsd:element ref="Revision"/>
										<xsd:element ref="Release"/>
										<xsd:element ref="LineType"/>
										<xsd:element ref="Warehouse"/>
										<xsd:element ref="WarehouseDescription"/>
										<xsd:element ref="ReservedQuantity"/>
										<xsd:element ref="ReservedQuantityUnits"/>
										<xsd:element ref="ResQuantityStk"/>
										<xsd:element ref="ResQuantityStkUnits"/>
										<xsd:element ref="ShipQuantity"/>
										<xsd:element ref="ShipQuantityUnits"/>
										<xsd:element ref="ShipQuantityStk"/>
										<xsd:element ref="ShipQuantityStkUnits"/>
										<xsd:element ref="MBomFlag"/>
										<xsd:element ref="MParentKitType"/>
										<xsd:element ref="MQtyChangesFlag"/>
										<xsd:element ref="MTraceableType"/>
										<xsd:element ref="MSerialMethod"/>
										<xsd:element ref="SalesOrderResStat"/>
										<xsd:element ref="MUnitQuantity"/>
										<xsd:element ref="MConvFactUnitQ"/>
										<xsd:element ref="MDecimalsUnitQ"/>
										<xsd:element ref="MultiShipCode"/>
										<xsd:element name="KitItem" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="SalesOrder"/>
													<xsd:element ref="SalesOrderLine"/>
													<xsd:element ref="Customer"/>
													<xsd:element ref="CustomerName"/>
													<xsd:element ref="StockCode"/>
													<xsd:element ref="StockCodeDescription"/>
													<xsd:element ref="LongDescription"/>
													<xsd:element ref="MEccFlag"/>
													<xsd:element ref="Revision"/>
													<xsd:element ref="Release"/>
													<xsd:element ref="LineType"/>
													<xsd:element ref="Warehouse"/>
													<xsd:element ref="WarehouseDescription"/>
													<xsd:element ref="ReservedQuantity"/>
													<xsd:element ref="ReservedQuantityUnits"/>
													<xsd:element ref="ResQuantityStk"/>
													<xsd:element ref="ResQuantityStkUnits"/>
													<xsd:element ref="ShipQuantity"/>
													<xsd:element ref="ShipQuantityUnits"/>
													<xsd:element ref="ShipQuantityStk"/>
													<xsd:element ref="ShipQuantityStkUnits"/>
													<xsd:element ref="MBomFlag"/>
													<xsd:element ref="MParentKitType"/>
													<xsd:element ref="MQtyChangesFlag"/>
													<xsd:element ref="MTraceableType"/>
													<xsd:element ref="MSerialMethod"/>
													<xsd:element ref="SalesOrderResStat"/>
													<xsd:element ref="MUnitQuantity"/>
													<xsd:element ref="MConvFactUnitQ"/>
													<xsd:element ref="MDecimalsUnitQ"/>
													<xsd:element ref="MultiShipCode"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:byte" use="required"/>
			<xsd:attribute name="Language2" type="xsd:string" use="required"/>
			<xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
			<xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
			<xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
			<xsd:attribute name="Role" type="xsd:byte" use="required"/>
			<xsd:attribute name="Version" type="xsd:string" use="required"/>
			<xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ResQuantityStk" type="xsd:string"/>
	<xsd:element name="ResQuantityStkUnits">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ReservedQuantity" type="xsd:string"/>
	<xsd:element name="ReservedQuantityUnits">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Revision">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="SalesOrder">
		<xsd:simpleType>
			<xsd:restriction base="xsd:short">
				<xsd:enumeration value="000983"/>
				<xsd:enumeration value="001095"/>
				<xsd:enumeration value="001100"/>
				<xsd:enumeration value="001103"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SalesOrderLine" type="xsd:string"/>
	<xsd:element name="SalesOrderResStat" type="xsd:string"/>
	<xsd:element name="ShipQuantity" type="xsd:string"/>
	<xsd:element name="ShipQuantityStk" type="xsd:string"/>
	<xsd:element name="ShipQuantityStkUnits">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ShipQuantityUnits">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="StockCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="A100"/>
				<xsd:enumeration value="A110"/>
				<xsd:enumeration value="A121"/>
				<xsd:enumeration value="A200"/>
				<xsd:enumeration value="A201"/>
				<xsd:enumeration value="A202"/>
				<xsd:enumeration value="KIT101"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockCodeDescription" type="xsd:string"/>
	<xsd:element name="Warehouse">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="FG"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WarehouseDescription" type="xsd:string"/>
</xsd:schema>
