Schemas/SORQDVOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Dispatch Note Valuation Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="OrderValues">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Order">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DispatchNote" type="xsd:string"/>
              <xsd:element name="Currency" type="xsd:string"/>
              <xsd:element name="TaxInclusive" type="xsd:string"/>
              <xsd:element name="LocalCurrency">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="InvoiceValues">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="NetMerchValue" type="xsd:string"/>
                          <xsd:element name="NetMerchTotal" type="xsd:string"/>
                          <xsd:element name="NetFreightValue" type="xsd:string"/>
                          <xsd:element name="NetMiscValue" type="xsd:string"/>
                          <xsd:element name="GrossMerchValue" type="xsd:string"/>
                          <xsd:element name="DiscMerchValue" type="xsd:string"/>
                          <xsd:element name="InvoiceDisc" type="xsd:string"/>
                          <xsd:element name="GstValue" type="xsd:string"/>
                          <xsd:element name="TaxValue" type="xsd:string"/>
                          <xsd:element name="InvoiceTotal" type="xsd:string"/>
                          <xsd:element name="NetMerchValueExcl" type="xsd:string"/>
                          <xsd:element name="NetMerchTotalExcl" type="xsd:string"/>
                          <xsd:element name="NetFreightValueExcl" type="xsd:string"/>
                          <xsd:element name="NetMiscValueExcl" type="xsd:string"/>
                          <xsd:element name="GrossMerchValueExcl" type="xsd:string"/>
                          <xsd:element name="DiscMerchValueExcl" type="xsd:string"/>
                          <xsd:element name="InvoiceDiscExcl" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="OrderCurrency">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="InvoiceValues">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="NetMerchValue" type="xsd:string"/>
                          <xsd:element name="NetMerchTotal" type="xsd:string"/>
                          <xsd:element name="NetFreightValue" type="xsd:string"/>
                          <xsd:element name="NetMiscValue" type="xsd:string"/>
                          <xsd:element name="GrossMerchValue" type="xsd:string"/>
                          <xsd:element name="DiscMerchValue" type="xsd:string"/>
                          <xsd:element name="InvoiceDisc" type="xsd:string"/>
                          <xsd:element name="GstValue" type="xsd:string"/>
                          <xsd:element name="TaxValue" type="xsd:string"/>
                          <xsd:element name="InvoiceTotal" type="xsd:string"/>
                          <xsd:element name="NetMerchValueExcl" type="xsd:string"/>
                          <xsd:element name="NetMerchTotalExcl" type="xsd:string"/>
                          <xsd:element name="NetFreightValueExcl" type="xsd:string"/>
                          <xsd:element name="NetMiscValueExcl" type="xsd:string"/>
                          <xsd:element name="GrossMerchValueExcl" type="xsd:string"/>
                          <xsd:element name="DiscMerchValueExcl" type="xsd:string"/>
                          <xsd:element name="InvoiceDiscExcl" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="OutstMassShip" type="xsd:string"/>
              <xsd:element name="OutstVolumeShip" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
