Schemas/SORQDLOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Dispatch Note List Query Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="DispatchNoteList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DispatchNoteItem" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:choice maxOccurs="unbounded">
              <xsd:element name="DispatchNote">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="000000000000001"/>
                    <xsd:enumeration value="000000000000002"/>
                    <xsd:enumeration value="000000000000003"/>
                    <xsd:enumeration value="000000000000004"/>
                    <xsd:enumeration value="000000000000005"/>
                    <xsd:enumeration value="000000000000006"/>
                    <xsd:enumeration value="000000000000007"/>
                    <xsd:enumeration value="000000000000008"/>
                    <xsd:enumeration value="000000000000009"/>
                    <xsd:enumeration value="000000000000010"/>
                    <xsd:enumeration value="000000000000011"/>
                    <xsd:enumeration value="000000000000012"/>
                    <xsd:enumeration value="000018/0001"/>
                    <xsd:enumeration value="000019/0001"/>
                    <xsd:enumeration value="000020/0001"/>
                    <xsd:enumeration value="000035/0001"/>
                    <xsd:enumeration value="000035/0002"/>
                    <xsd:enumeration value="000035/0003"/>
                    <xsd:enumeration value="000038/0001"/>
                    <xsd:enumeration value="000060/00000001"/>
                    <xsd:enumeration value="000061/00000001"/>
                    <xsd:enumeration value="000062/00000001"/>
                    <xsd:enumeration value="000065/00000001"/>
                    <xsd:enumeration value="000065/00000002"/>
                    <xsd:enumeration value="000066/00000001"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NextDetailLine" type="xsd:string"/>
              <xsd:element name="SalesOrder" type="xsd:string"/>
              <xsd:element name="Customer" type="xsd:string"/>
              <xsd:element name="CustomerName" type="xsd:string"/>
              <xsd:element name="ShippingInstrs" type="xsd:string"/>
              <xsd:element name="SpecialInstrs" type="xsd:string"/>
              <xsd:element name="DispatchComments1" type="xsd:string"/>
              <xsd:element name="DispatchComments2" type="xsd:string"/>
              <xsd:element name="DispatchComments3" type="xsd:string"/>
              <xsd:element name="DispatchComments4" type="xsd:string"/>
              <xsd:element name="UserField1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="UserField2" type="xsd:string"/>
              <xsd:element name="Salesperson" type="xsd:string"/>
              <xsd:element name="Branch" type="xsd:string"/>
              <xsd:element name="Area">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="FixExchangeRate" type="xsd:string"/>
              <xsd:element name="ExchangeRate" type="xsd:string"/>
              <xsd:element name="MulDiv" type="xsd:string"/>
              <xsd:element name="Currency" type="xsd:string"/>
              <xsd:element name="DiscPct1" type="xsd:string"/>
              <xsd:element name="DiscPct2" type="xsd:string"/>
              <xsd:element name="DiscPct3" type="xsd:string"/>
              <xsd:element name="OrderType">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="InvTermsOverride" type="xsd:string"/>
              <xsd:element name="ReprintFormat" type="xsd:string"/>
              <xsd:element name="TaxExemptFlag" type="xsd:string"/>
              <xsd:element name="TaxExemptOverride" type="xsd:string"/>
              <xsd:element name="DispatchName" type="xsd:string"/>
              <xsd:element name="PlannedDeliverDate" type="xsd:string"/>
              <xsd:element name="ActualDeliveryDate" type="xsd:string"/>
              <xsd:element name="ShipAddressFlag" type="xsd:string"/>
              <xsd:element name="CustomerPoNumber" type="xsd:string"/>
              <xsd:element name="CompanyTaxNo" type="xsd:string"/>
              <xsd:element name="Invoice" type="xsd:string"/>
              <xsd:element name="InvoiceCreatedDate" type="xsd:string"/>
              <xsd:element name="ConsolidateInvFlag">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="TaxExemptNumber" type="xsd:string"/>
              <xsd:element name="DispatchNoteStatus">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:byte">
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="8"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="PrevStatus" type="xsd:byte"/>
              <xsd:element name="Reason">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="StatusWhenHeld">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:byte">
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="7"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Nationality">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CAN"/>
                    <xsd:enumeration value="GB"/>
                    <xsd:enumeration value="RSA"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DeliveryTerms">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="TransactionNature" type="xsd:string"/>
              <xsd:element name="TransportMode" type="xsd:string"/>
              <xsd:element name="ProcessFlag" type="xsd:string"/>
              <xsd:element name="DispatchCustName" type="xsd:string"/>
              <xsd:element name="DispatchAddress1" type="xsd:string"/>
              <xsd:element name="DispatchAddress2" type="xsd:string"/>
              <xsd:element name="DispatchAddress3" type="xsd:string"/>
              <xsd:element name="DispatchAddress4" type="xsd:string"/>
              <xsd:element name="DispatchAddress5">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DispatchPostalCode" type="xsd:string"/>
              <xsd:element name="State">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="CountyZip">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="ExtendedTaxCode">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="MultiShipCode">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="Quote">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="GtrReference">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="LastOperator" type="xsd:string"/>
              <xsd:element name="CreditAuthority">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="SourceWarehouse" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="TargetWarehouse" type="xsd:string"/>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
      <xsd:attribute name="Role" type="xsd:byte" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
