Schemas/SORQDN.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Dispatch Note Query Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>The root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element name="Key">
          <xsd:annotation>
            <xsd:documentation>The key to use for this query.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:all>
              <xsd:element name="DispatchNote">
                <xsd:annotation>
                  <xsd:documentation>The query key is mandatory, and should contain a valid dispatch note. If the key is missing an error message is returned. Again if the dispatch note is not on file, an error message is returned.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:length value="15"/>
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="15"/>
                    <xsd:whiteSpace value="replace"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Option" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>List of options</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:all>
              <xsd:element name="IncludeStockedLines" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>(Y - Yes, N - No, Default to Y)  - you use this option to include line type 1 merchandise lines attached in a dispatch note.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:length value="1"/>
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeNonStockedLines" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>(Y - Yes, N - No, Default to Y)  - you use this option to include line type 7 merchandise lines in a dispatch note.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:length value="1"/>
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeFreightLines" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation> (Y - Yes, N - No, Default to Y)  - you use this option to include freight lines in a dispatch note.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:length value="1"/>
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeMiscellaneousLines" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>(Y - Yes, N - No, Default to Y) - you use this option to include miscellaneous lines in a dispatch note.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:length value="1"/>
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="0"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeCommentLines" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>(Y - Yes, N - No, Default to Y) - you use this option to include comment lines in a dispatch note.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:length value="1"/>
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="0"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeLots" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>(Y - Yes, N - No, Default to N) - you use this option to include dispatch note lots information. </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:length value="1"/>
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="0"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeBins" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>(Y - Yes, N - No, Default to Y) - you use this option to include dispatch note bins information.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:length value="1"/>
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="0"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeSerials" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>(Y - Yes, N - No, Default to Y) - you use this option to include dispatch note serial numbers.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:length value="1"/>
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="0"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeCustomForms" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>(Y - Yes, N - No, Default to N) - you use this option to include custom forms defined against the dispatch note number.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="XslStylesheet" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>XSL Stylesheet to use</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType/>
              </xsd:element>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
