Schemas/SORQB1OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     This is an example XSD instance to demonstrate
     use of the Sales Order Lines Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BinFlag" type="xsd:string"/>
  <xsd:element name="CommentLine">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrderLine"/>
        <xsd:element ref="NComment"/>
        <xsd:element ref="NCommentFromLin"/>
        <xsd:element ref="NCommentType"/>
        <xsd:element ref="NCommentTextTyp"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DispatchesMade">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="EditedMBackOrderQty" type="xsd:string"/>
  <xsd:element name="EditedMBackOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="EditedMOrderQty" type="xsd:string"/>
  <xsd:element name="EditedMOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="EditedMQtyDispatched" type="xsd:string"/>
  <xsd:element name="EditedMShipQty" type="xsd:string"/>
  <xsd:element name="EditedMStockQtyToShp" type="xsd:string"/>
  <xsd:element name="EditedQtyReserved" type="xsd:string"/>
  <xsd:element name="EditedQtyReservedShip" type="xsd:string"/>
  <xsd:element name="Freight">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrderLine"/>
        <xsd:element ref="NComment"/>
        <xsd:element ref="NCommentFromLin"/>
        <xsd:element ref="NMscChargeValue"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LineJob">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LinePurchaseOrder">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LinePurchaseOrderKey" type="xsd:string"/>
  <xsd:element name="LineRequisition">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LineRequisitionKey" type="xsd:string"/>
  <xsd:element name="LotTraceableFlag" type="xsd:string"/>
  <xsd:element name="MBackOrderQty" type="xsd:string"/>
  <xsd:element name="MBackOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="MBackOrderQtyInStockingUmUnits">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MBackOrderQtyUnits">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MBin">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MCustRequestDat" type="xsd:string"/>
  <xsd:element name="MHierarchyJob">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MLineShipDate" type="xsd:string"/>
  <xsd:element name="MOrderQty" type="xsd:string"/>
  <xsd:element name="MOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="MOrderQtyInStockingUmUnits">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MOrderQtyUnits">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MOrderUom" type="xsd:string"/>
  <xsd:element name="MPrice" type="xsd:string"/>
  <xsd:element name="MPriceUom" type="xsd:string"/>
  <xsd:element name="MProductClass">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MQtyDispatched" type="xsd:string"/>
  <xsd:element name="MQtyDispatchedUnits">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MRelease" type="xsd:string"/>
  <xsd:element name="MShipQty" type="xsd:string"/>
  <xsd:element name="MShipQtyUnits">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MStockCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MStockDes" type="xsd:string"/>
  <xsd:element name="MStockQtyToShp" type="xsd:string"/>
  <xsd:element name="MStockQtyToShpUnits">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MStockingUom" type="xsd:string"/>
  <xsd:element name="MUnitCost" type="xsd:string"/>
  <xsd:element name="MVersion" type="xsd:string"/>
  <xsd:element name="MWarehouse">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Merchandise">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrderLine"/>
        <xsd:element ref="MStockCode"/>
        <xsd:element ref="MStockDes"/>
        <xsd:element ref="MProductClass"/>
        <xsd:element ref="MWarehouse"/>
        <xsd:element ref="MBin"/>
        <xsd:element ref="MOrderQty"/>
        <xsd:element ref="MOrderQtyUnits"/>
        <xsd:element ref="EditedMOrderQty"/>
        <xsd:element ref="MOrderQtyInStockingUm"/>
        <xsd:element ref="MOrderQtyInStockingUmUnits"/>
        <xsd:element ref="EditedMOrderQtyInStockingUm"/>
        <xsd:element ref="MShipQty"/>
        <xsd:element ref="MShipQtyUnits"/>
        <xsd:element ref="EditedMShipQty"/>
        <xsd:element ref="QtyReserved"/>
        <xsd:element ref="QtyReservedUnits"/>
        <xsd:element ref="EditedQtyReserved"/>
        <xsd:element ref="MStockQtyToShp"/>
        <xsd:element ref="MStockQtyToShpUnits"/>
        <xsd:element ref="EditedMStockQtyToShp"/>
        <xsd:element ref="QtyReservedShip"/>
        <xsd:element ref="QtyReservedShipUnits"/>
        <xsd:element ref="EditedQtyReservedShip"/>
        <xsd:element ref="MBackOrderQty"/>
        <xsd:element ref="MBackOrderQtyUnits"/>
        <xsd:element ref="EditedMBackOrderQty"/>
        <xsd:element ref="MBackOrderQtyInStockingUm"/>
        <xsd:element ref="MBackOrderQtyInStockingUmUnits"/>
        <xsd:element ref="EditedMBackOrderQtyInStockingUm"/>
        <xsd:element ref="MQtyDispatched"/>
        <xsd:element ref="MQtyDispatchedUnits"/>
        <xsd:element ref="EditedMQtyDispatched"/>
        <xsd:element ref="MOrderUom"/>
        <xsd:element ref="MStockingUom"/>
        <xsd:element ref="MPrice"/>
        <xsd:element ref="MUnitCost"/>
        <xsd:element ref="MPriceUom"/>
        <xsd:element ref="OrderLineValue"/>
        <xsd:element ref="MLineShipDate"/>
        <xsd:element ref="MCustRequestDat"/>
        <xsd:element ref="MHierarchyJob"/>
        <xsd:element ref="MVersion"/>
        <xsd:element ref="MRelease"/>
        <xsd:element ref="LineJob"/>
        <xsd:element ref="LineRequisition"/>
        <xsd:element ref="LineRequisitionKey"/>
        <xsd:element ref="LinePurchaseOrder"/>
        <xsd:element ref="LinePurchaseOrderKey"/>
        <xsd:element ref="ReservedAllocation"/>
        <xsd:element ref="LotTraceableFlag"/>
        <xsd:element ref="SerialFlag"/>
        <xsd:element ref="BinFlag"/>
        <xsd:element ref="SctFlag"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MiscCharge">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrderLine"/>
        <xsd:element ref="NComment"/>
        <xsd:element ref="NCommentFromLin"/>
        <xsd:element ref="NMscChargeValue"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NComment" type="xsd:string"/>
  <xsd:element name="NCommentFromLin" type="xsd:string"/>
  <xsd:element name="NCommentTextTyp">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="NCommentType" type="xsd:string"/>
  <xsd:element name="NMscChargeValue" type="xsd:string"/>
  <xsd:element name="OrderLineValue" type="xsd:string"/>
  <xsd:element name="QtyReserved" type="xsd:string"/>
  <xsd:element name="QtyReservedShip" type="xsd:string"/>
  <xsd:element name="QtyReservedShipUnits">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="QtyReservedUnits">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ReservedAllocation">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SalesOrder" type="xsd:string"/>
  <xsd:element name="SalesOrderLine">
    <xsd:complexType mixed="true">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="Merchandise"/>
        <xsd:element ref="CommentLine"/>
        <xsd:element ref="Freight"/>
        <xsd:element ref="MiscCharge"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SalesOrderLines">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrder"/>
        <xsd:element ref="DispatchesMade"/>
        <xsd:element ref="SalesOrderLine" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SctFlag">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SerialFlag" type="xsd:string"/>
</xsd:schema>
