Schemas/SORQLM.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Load Planning Drivers Manifest Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Key">
          <xsd:annotation>
            <xsd:documentation>Key root element</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RouteCode" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>This is the route code. This element is mandatory.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Option">
          <xsd:annotation>
            <xsd:documentation>Option root element</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReturnSequence">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="C"/>
                    <xsd:enumeration value="S"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="xslstylesheet" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The style sheet</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Filter">
          <xsd:annotation>
            <xsd:documentation>Filter root element</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DeliveryDate">
                <xsd:annotation>
                  <xsd:documentation>All, Range and SInge date can be selected.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="A"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value="S"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DeliverySeq">
                <xsd:annotation>
                  <xsd:documentation>All or Single Delivery sequence can be selected.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="A"/>
                        <xsd:enumeration value="S"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
