Schemas/SORQE1OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for the Sales Order Performance Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AreaFilterType" type="xsd:string"/>
  <xsd:element name="AreaFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BranchFilterType" type="xsd:string"/>
  <xsd:element name="BranchFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:complexType name="CompanyTotalsType">
    <xsd:sequence>
      <xsd:element ref="TotalQtyInvoiced"/>
      <xsd:element ref="TotalQtyOutstanding"/>
      <xsd:element ref="TotalNetSlsValExTax"/>
      <xsd:element ref="TotalInvCount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CustomerClassFilterType" type="xsd:string"/>
  <xsd:element name="CustomerClassFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CustomerFilterType" type="xsd:string"/>
  <xsd:element name="CustomerFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DateSelection" type="xsd:string"/>
  <xsd:element name="InclSubTotalsMain" type="xsd:string"/>
  <xsd:element name="InclSubTotalsSub1" type="xsd:string"/>
  <xsd:element name="InclSubTotalsSub2" type="xsd:string"/>
  <xsd:element name="InclSubTotalsSub3" type="xsd:string"/>
  <xsd:element name="MainBasedOnMeasure" type="xsd:string"/>
  <xsd:element name="MainMeasure" type="xsd:string"/>
  <xsd:element name="OrderTypeFilterType" type="xsd:string"/>
  <xsd:element name="OrderTypeFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ProductClassFilterType" type="xsd:string"/>
  <xsd:element name="ProductClassFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:complexType name="QueryOptionsType">
    <xsd:sequence>
      <xsd:element ref="DateSelection"/>
      <xsd:element ref="MainMeasure"/>
      <xsd:element ref="InclSubTotalsMain"/>
      <xsd:element ref="TopBottomMain"/>
      <xsd:element ref="MainBasedOnMeasure"/>
      <xsd:element ref="SubMeasure1"/>
      <xsd:element ref="InclSubTotalsSub1"/>
      <xsd:element ref="TopBottomSub1"/>
      <xsd:element ref="Sub1BasedOnMeasure"/>
      <xsd:element ref="SubMeasure2"/>
      <xsd:element ref="InclSubTotalsSub2"/>
      <xsd:element ref="TopBottomSub2"/>
      <xsd:element ref="Sub2BasedOnMeasure"/>
      <xsd:element ref="SubMeasure3"/>
      <xsd:element ref="InclSubTotalsSub3"/>
      <xsd:element ref="TopBottomSub3"/>
      <xsd:element ref="Sub3BasedOnMeasure"/>
      <xsd:element ref="Sub3PeriodDetail"/>
      <xsd:element ref="SelectedDateFilterType"/>
      <xsd:element ref="SelectedDateFilterValue"/>
      <xsd:element ref="TrnYearFilterType"/>
      <xsd:element ref="TrnYearFilterValue"/>
      <xsd:element ref="TrnMonthFilterType"/>
      <xsd:element ref="TrnMonthFilterValue"/>
      <xsd:element ref="BranchFilterType"/>
      <xsd:element ref="BranchFilterValue"/>
      <xsd:element ref="AreaFilterType"/>
      <xsd:element ref="AreaFilterValue"/>
      <xsd:element ref="OrderTypeFilterType"/>
      <xsd:element ref="OrderTypeFilterValue"/>
      <xsd:element ref="CustomerClassFilterType"/>
      <xsd:element ref="CustomerClassFilterValue"/>
      <xsd:element ref="SalesPersonFilterType"/>
      <xsd:element ref="SalesPersonFilterValue"/>
      <xsd:element ref="CustomerFilterType"/>
      <xsd:element ref="CustomerFilterValue"/>
      <xsd:element ref="StockCodeFilterType"/>
      <xsd:element ref="StockCodeFilterValue"/>
      <xsd:element ref="ProductClassFilterType"/>
      <xsd:element ref="ProductClassFilterValue"/>
      <xsd:element ref="WarehouseFilterType"/>
      <xsd:element ref="WarehouseFilterValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SalesOrderPerformance">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions" type="QueryOptionsType"/>
        <xsd:element name="CompanyTotals" type="CompanyTotalsType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SalesPersonFilterType" type="xsd:string"/>
  <xsd:element name="SalesPersonFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SelectedDateFilterType" type="xsd:string"/>
  <xsd:element name="SelectedDateFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="StockCodeFilterType" type="xsd:string"/>
  <xsd:element name="StockCodeFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Sub1BasedOnMeasure" type="xsd:string"/>
  <xsd:element name="Sub2BasedOnMeasure" type="xsd:string"/>
  <xsd:element name="Sub3BasedOnMeasure" type="xsd:string"/>
  <xsd:element name="Sub3PeriodDetail" type="xsd:string"/>
  <xsd:element name="SubMeasure1" type="xsd:string"/>
  <xsd:element name="SubMeasure2" type="xsd:string"/>
  <xsd:element name="SubMeasure3" type="xsd:string"/>
  <xsd:element name="TopBottomMain" type="xsd:string"/>
  <xsd:element name="TopBottomSub1" type="xsd:string"/>
  <xsd:element name="TopBottomSub2" type="xsd:string"/>
  <xsd:element name="TopBottomSub3" type="xsd:string"/>
  <xsd:element name="TotalInvCount" type="xsd:string"/>
  <xsd:element name="TotalNetSlsValExTax" type="xsd:string"/>
  <xsd:element name="TotalQtyInvoiced" type="xsd:string"/>
  <xsd:element name="TotalQtyOutstanding" type="xsd:string"/>
  <xsd:element name="TrnMonthFilterType" type="xsd:string"/>
  <xsd:element name="TrnMonthFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="TrnYearFilterType" type="xsd:string"/>
  <xsd:element name="TrnYearFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="WarehouseFilterType" type="xsd:string"/>
  <xsd:element name="WarehouseFilterValue">
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
