Schemas/SORQDL.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Dispatch Note List Query Business Object
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>The root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element name="Option" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>List of options</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:all>
              <xsd:element name="IncludeDispatchInProgress" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You use this option to include dispatch note items in progress, (status 0). Default is Y (Y - Yes, No - N). </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeDispatchReadyToPrint" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You use this option to include dispatch note items ready to be printed, (status 3). Default is Y (Y - Yes, N - No)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeDispatchPrinted" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You use this option to include dispatch note items already printed, (status 5). Default is Y (Y - Yes, N - No) </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeDispatchInSuspense" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You use this option to include dispatch note items in suspense, (status S). Default is Y (Y - Yes, N - No) </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeDispatchReadyToInvoice" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>you use this option to include dispatch note items ready to invoice, (status 7). Default is Y (Y - Yes, N - No) </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeDispatchCompleted" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You use this option to include dispatch note items completed, (status 9). Default is Y (Y - Yes, N - No) </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeDispatchCancelled" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You use this option to include dispatch note items cancelled, (status *). Default is Y (Y - Yes, N - No) </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeDispatchOnHold" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You use this option to include dispatch note items on hold, (status H). Default is Y (Y - Yes, N - No) </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeDispatchConsolidated" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You use this option to include dispatch note items consolidated for invoicing, (status 8). Consolidated for invoicing. Default is Y (Y - Yes, N - No) </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="SupplyChainTransfer" default="I" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>You use this option to include dispatch notes created from Supply chain transfers (SCT’s). Default I (I - Include, X - exclude, O - Only)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="I"/>
                    <xsd:enumeration value="X"/>
                    <xsd:enumeration value="O"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="XslStylesheet" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Styleshhet to be applied.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType/>
              </xsd:element>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Filter" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>List of filters.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:all>
              <xsd:element name="Dispatch" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>All, a range or a single dispatch notes can be returned. A - all, R - range, S - single, Default is A. </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" use="optional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SalesOrder" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>All, a range or a single sales order can be returned. A - all, R - range, S - single, Default is A. </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" use="optional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Customer" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>All, a range or a single customer can be returned. A - all, R - range, S - single, Default is A. </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" use="optional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Area" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>All, a range or a single geographic area can be returned. A - all, R - range, S - single, Default is A. </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" use="optional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Branch" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>All, a range or a single branch can be returned. A - all, R - range, S - single, Default is A. </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" use="optional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CustomerClass" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>All, a range or a single customer class can be returned. A - all, R - range, S - single, Default is A. </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" use="optional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DispatchDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>All, a range or a single dispatch date can be returned. A - all, R - range, S - single, Default is A. Dispatch date. The dispatch date must be in format CCYY-MM-DD. </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" use="optional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="OrderType" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>All,  or a single order type can be returned. A - All, S - Single</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" use="optional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="UserDefined1" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>All, or a single user defined field1 can be returned. A - All, S - Single, Default is A.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" use="optional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="UserDefined2" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>All, or a single user defined field2 can be returned. A - All, S - Single, Default is A.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="FilterType" use="optional" default="A">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="1"/>
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="FilterValue" use="optional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:whiteSpace value="preserve"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
