Schemas/SORQLD.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Delivery Route Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Key">
					<xsd:annotation>
						<xsd:documentation>The key root element.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RouteCode">
								<xsd:annotation>
									<xsd:documentation>The key root element, delivery route code is mandatory. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DeliveryDate" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The key root element, delivery date is not mandatory. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DeliverySeq" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The key root element, delivery sequence is not mandatory. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Option" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IncludeSalesorderLines" default="Y" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>N - No, Y - Yes). Default is Y. When this option is 'Y', the program will include sales orders attached to this delivery load.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
