Schemas/SORQOR.XSD

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Eric Diale (Syspro (Pty) Ltd) --><!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)--><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">	<xs:element name="Key">		<xs:complexType>			<xs:sequence>				<xs:element ref="SalesOrder"/>			</xs:sequence>		</xs:complexType>	</xs:element>	<xs:element name="Query">		<xs:complexType>			<xs:sequence>				<xs:element ref="Key"/>			</xs:sequence>		</xs:complexType>	</xs:element>	<xs:element name="SalesOrder" type="xs:short"/></xs:schema>