Schemas/SORQBZOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     This is an example XMLOUT instance to demonstrate
     use of the Sales Order Lines Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Customer" type="xsd:string"/>
  <xsd:element name="CustomerName" type="xsd:string"/>
  <xsd:element name="EditedMBackOrderQty" type="xsd:string"/>
  <xsd:element name="EditedMBackOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="EditedMOrderQty" type="xsd:string"/>
  <xsd:element name="EditedMOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="EditedMQtyDispatched" type="xsd:string"/>
  <xsd:element name="EditedMShipQty" type="xsd:string"/>
  <xsd:element name="EditedMStockQtyToShp" type="xsd:string"/>
  <xsd:element name="EditedNMscChargeQty" type="xsd:string"/>
  <xsd:element name="EditedQtyReserved" type="xsd:string"/>
  <xsd:element name="EditedQtyReservedShip" type="xsd:string"/>
  <xsd:element name="HOrderType" type="xsd:string"/>
  <xsd:element name="IsSCT" type="xsd:string"/>
  <xsd:element name="LineDiscount" type="xsd:string"/>
  <xsd:element name="LineType" type="xsd:string"/>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDescription" type="xsd:string"/>
  <xsd:element name="MBackOrderQty" type="xsd:string"/>
  <xsd:element name="MBackOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="MBackOrderQtyInStockingUmUnits" type="xsd:string"/>
  <xsd:element name="MBackOrderQtyUnits" type="xsd:string"/>
  <xsd:element name="MBin" type="xsd:string"/>
  <xsd:element name="MContract" type="xsd:string"/>
  <xsd:element name="MCustRequestDat" type="xsd:string"/>
  <xsd:element name="MHierarchyJob" type="xsd:string"/>
  <xsd:element name="MLineShipDate" type="xsd:string"/>
  <xsd:element name="MOrderQty" type="xsd:string"/>
  <xsd:element name="MOrderQtyInStockingUm" type="xsd:string"/>
  <xsd:element name="MOrderQtyInStockingUmUnits" type="xsd:string"/>
  <xsd:element name="MOrderQtyUnits" type="xsd:string"/>
  <xsd:element name="MOrderUom" type="xsd:string"/>
  <xsd:element name="MPrice" type="xsd:string"/>
  <xsd:element name="MPriceCode" type="xsd:string"/>
  <xsd:element name="MPriceUom" type="xsd:string"/>
  <xsd:element name="MProductClass" type="xsd:string"/>
  <xsd:element name="MProductClassDesc" type="xsd:string"/>
  <xsd:element name="MQtyDispatched" type="xsd:string"/>
  <xsd:element name="MQtyDispatchedUnits" type="xsd:string"/>
  <xsd:element name="MRelease" type="xsd:string"/>
  <xsd:element name="MShipQty" type="xsd:string"/>
  <xsd:element name="MShipQtyUnits" type="xsd:string"/>
  <xsd:element name="MStockCode" type="xsd:string"/>
  <xsd:element name="MStockDes" type="xsd:string"/>
  <xsd:element name="MStockQtyToShp" type="xsd:string"/>
  <xsd:element name="MStockQtyToShpUnits" type="xsd:string"/>
  <xsd:element name="MStockUnitMass" type="xsd:string"/>
  <xsd:element name="MStockUnitVol" type="xsd:string"/>
  <xsd:element name="MStockingUom" type="xsd:string"/>
  <xsd:element name="MTaxCode" type="xsd:string"/>
  <xsd:element name="MUnitCost" type="xsd:string"/>
  <xsd:element name="MUserDef" type="xsd:string"/>
  <xsd:element name="MVersion" type="xsd:string"/>
  <xsd:element name="MWarehouse" type="xsd:string"/>
  <xsd:element name="MWarehouseDesc" type="xsd:string"/>
  <xsd:element name="NComment" type="xsd:string"/>
  <xsd:element name="NMscChargeQty" type="xsd:string"/>
  <xsd:element name="NMscChargeQtyUnits" type="xsd:string"/>
  <xsd:element name="NMscChargeValue" type="xsd:string"/>
  <xsd:element name="NMscInvCharge" type="xsd:string"/>
  <xsd:element name="NMscProductCls" type="xsd:string"/>
  <xsd:element name="NMscTaxCode" type="xsd:string"/>
  <xsd:element name="NSrvChargeType" type="xsd:string"/>
  <xsd:element name="OrderCurrency" type="xsd:string"/>
  <xsd:element name="OrderLineValue" type="xsd:string"/>
  <xsd:element name="OutStandingValue" type="xsd:string"/>
  <xsd:element name="QtyReserved" type="xsd:string"/>
  <xsd:element name="QtyReservedShip" type="xsd:string"/>
  <xsd:element name="QtyReservedShipUnits" type="xsd:string"/>
  <xsd:element name="QtyReservedUnits" type="xsd:string"/>
  <xsd:element name="SalesOrder" type="xsd:string"/>
  <xsd:element name="SalesOrderLine">
    <xsd:complexType mixed="true">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="SalesOrder"/>
        <xsd:element ref="Customer"/>
        <xsd:element ref="CustomerName"/>
        <xsd:element ref="LineType"/>
        <xsd:element ref="SalesOrderLine"/>
        <xsd:element ref="IsSCT"/>
        <xsd:element ref="SourceWarehouse"/>
        <xsd:element ref="SourceWarehouseDesc"/>
        <xsd:element ref="TargetWarehouse"/>
        <xsd:element ref="TargetWarehouseDesc"/>
        <xsd:element ref="MStockCode"/>
        <xsd:element ref="MStockDes"/>
        <xsd:element ref="MProductClass"/>
        <xsd:element ref="MProductClassDesc"/>
        <xsd:element ref="MWarehouse"/>
        <xsd:element ref="MWarehouseDesc"/>
        <xsd:element ref="MBin"/>
        <xsd:element ref="MOrderQty"/>
        <xsd:element ref="MOrderQtyUnits"/>
        <xsd:element ref="EditedMOrderQty"/>
        <xsd:element ref="MOrderQtyInStockingUm"/>
        <xsd:element ref="MOrderQtyInStockingUmUnits"/>
        <xsd:element ref="EditedMOrderQtyInStockingUm"/>
        <xsd:element ref="MShipQty"/>
        <xsd:element ref="MShipQtyUnits"/>
        <xsd:element ref="EditedMShipQty"/>
        <xsd:element ref="QtyReserved"/>
        <xsd:element ref="QtyReservedUnits"/>
        <xsd:element ref="EditedQtyReserved"/>
        <xsd:element ref="MStockQtyToShp"/>
        <xsd:element ref="MStockQtyToShpUnits"/>
        <xsd:element ref="EditedMStockQtyToShp"/>
        <xsd:element ref="QtyReservedShip"/>
        <xsd:element ref="QtyReservedShipUnits"/>
        <xsd:element ref="EditedQtyReservedShip"/>
        <xsd:element ref="MBackOrderQty"/>
        <xsd:element ref="MBackOrderQtyUnits"/>
        <xsd:element ref="EditedMBackOrderQty"/>
        <xsd:element ref="MBackOrderQtyInStockingUm"/>
        <xsd:element ref="MBackOrderQtyInStockingUmUnits"/>
        <xsd:element ref="EditedMBackOrderQtyInStockingUm"/>
        <xsd:element ref="MQtyDispatched"/>
        <xsd:element ref="MQtyDispatchedUnits"/>
        <xsd:element ref="EditedMQtyDispatched"/>
        <xsd:element ref="MOrderUom"/>
        <xsd:element ref="MStockingUom"/>
        <xsd:element ref="MPrice"/>
        <xsd:element ref="MUnitCost"/>
        <xsd:element ref="MPriceUom"/>
        <xsd:element ref="OrderLineValue"/>
        <xsd:element ref="MLineShipDate"/>
        <xsd:element ref="MCustRequestDat"/>
        <xsd:element ref="MHierarchyJob"/>
        <xsd:element ref="MVersion"/>
        <xsd:element ref="MRelease"/>
        <xsd:element ref="MStockUnitMass"/>
        <xsd:element ref="MStockUnitVol"/>
        <xsd:element ref="MContract"/>
        <xsd:element ref="MTaxCode"/>
        <xsd:element ref="MPriceCode"/>
        <xsd:element ref="LineDiscount"/>
        <xsd:element ref="NMscProductCls"/>
        <xsd:element ref="NMscChargeValue"/>
        <xsd:element ref="NComment"/>
        <xsd:element ref="NMscTaxCode"/>
        <xsd:element ref="NMscChargeQty"/>
        <xsd:element ref="NMscChargeQtyUnits"/>
        <xsd:element ref="EditedNMscChargeQty"/>
        <xsd:element ref="NSrvChargeType"/>
        <xsd:element ref="NMscInvCharge"/>
        <xsd:element ref="MUserDef"/>
        <xsd:element ref="OrderCurrency"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDescription"/>
        <xsd:element ref="HOrderType"/>
        <xsd:element ref="OutStandingValue"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SourceWarehouse" type="xsd:string"/>
  <xsd:element name="SourceWarehouseDesc" type="xsd:string"/>
  <xsd:element name="TargetWarehouse" type="xsd:string"/>
  <xsd:element name="TargetWarehouseDesc" type="xsd:string"/>
</xsd:schema>
