Schemas/SORQR6OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--  
     Schema for the Blanket Sales Order Releases History Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BlanketSalesOrderReleaseHistory">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportSequence" type="xsd:string"/>
              <xsd:element name="Translated_ReportSequence" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Translated_Group1Desc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPagePerSequenceItem" type="xsd:string"/>
              <xsd:element name="Translated_NewPagePerSequenceItem" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterType" type="xsd:string"/>
              <xsd:element name="CustomerFilterValue" type="xsd:string"/>
              <xsd:element name="Translated_CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="StockCodeFilterType" type="xsd:string"/>
              <xsd:element name="StockCodeFilterValue" type="xsd:string"/>
              <xsd:element name="Translated_StockCodeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderFilterType" type="xsd:string"/>
              <xsd:element name="SalesOrderFilterValue" type="xsd:string"/>
              <xsd:element name="Translated_SalesOrderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerPurchaseOrderFilterType" type="xsd:string"/>
              <xsd:element name="CustomerPurchaseOrderFilterValue" type="xsd:string"/>
              <xsd:element name="Translated_CustomerPurchaseOrderFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerStockCodeFilterType" type="xsd:string"/>
              <xsd:element name="CustomerStockCodeFilterValue" type="xsd:string"/>
              <xsd:element name="Translated_CustomerStockCodeFilterType" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ConfirmedDeliveries" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Customer" type="xsd:string"/>
              <xsd:element name="CustomerName" type="xsd:string"/>
              <xsd:element name="CustomerPurchaseOrder" type="xsd:string"/>
              <xsd:element name="CustomerStockCode" type="xsd:string"/>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="LongDescription" type="xsd:string"/>
              <xsd:element name="Decimals" type="xsd:string"/>
              <xsd:element name="SalesOrder" type="xsd:string"/>
              <xsd:element name="Translated_Group1" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Deliveries">
                <xsd:complexType>
                  <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="DeliveryDetail">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="LineNumber" type="xsd:string"/>
                          <xsd:element name="DeliveryDate" type="xsd:string"/>
                          <xsd:element name="DeliveryType" type="xsd:string"/>
                          <xsd:element name="DeliveryTypeDesc" type="xsd:string"/>
                          <xsd:element name="Translated_DeliveryTypeDesc" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Invoice" type="xsd:string"/>
                          <xsd:element name="DispatchNote" type="xsd:string"/>
                          <xsd:element name="ConfirmedFlag" type="xsd:string"/>
                          <xsd:element name="Narration" type="xsd:string"/>
                          <xsd:element name="QuantityDelivered" type="xsd:string"/>
                          <xsd:element name="QuantityDeliveredUnits" type="xsd:string"/>
                          <xsd:element name="EditedQuantityDelivered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="QuantityReceived" type="xsd:string"/>
                          <xsd:element name="QuantityReceivedUnits" type="xsd:string"/>
                          <xsd:element name="EditedQuantityReceived" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CumeDelivered" type="xsd:string"/>
                          <xsd:element name="CumeDeliveredUnits" type="xsd:string"/>
                          <xsd:element name="EditedCumeDelivered" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="CumeReceived" type="xsd:string"/>
                          <xsd:element name="CumeReceivedUnits" type="xsd:string"/>
                          <xsd:element name="EditedCumeReceived" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DeliveryTotals">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TotQuantityDelivered" type="xsd:string"/>
                    <xsd:element name="TotQuantityDeliveredUnits" type="xsd:string"/>
                    <xsd:element name="TotQuantityReceived" type="xsd:string"/>
                    <xsd:element name="TotQuantityReceivedUnits" type="xsd:string"/>
                    <xsd:element name="TotCumeDelivered" type="xsd:string"/>
                    <xsd:element name="TotCumeDeliveredUnits" type="xsd:string"/>
                    <xsd:element name="TotCumeReceived" type="xsd:string"/>
                    <xsd:element name="TotCumeReceivedUnits" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_All" minOccurs="0"/>
              <xsd:element name="Text_Customer" minOccurs="0"/>
              <xsd:element name="Text_Customer_purchase_order" minOccurs="0"/>
              <xsd:element name="Text_Customer_stock_code" minOccurs="0"/>
              <xsd:element name="Text_Sales_order" minOccurs="0"/>
              <xsd:element name="Text_Stock_code" minOccurs="0"/>
              <xsd:element name="Text_Yes" minOccurs="0"/>
              <xsd:element name="Text_No" minOccurs="0"/>
              <xsd:element name="Text_Del" minOccurs="0"/>
              <xsd:element name="Text_Obal" minOccurs="0"/>
              <xsd:element name="Text_R_op" minOccurs="0"/>
              <xsd:element name="Text_Adj" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
