Schemas/SORQ31OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     This is an example XSD instance to demonstrate
     use of the Dispatch Note Report Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DispatchNoteQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReportType" type="xsd:string"/>
              <xsd:element name="Translated_ReportType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintDeliveryAddressName" type="xsd:string"/>
              <xsd:element name="Translated_PrintDeliveryAddressName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintDispatchAddress" type="xsd:string"/>
              <xsd:element name="Translated_PrintDispatchAddress" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintOnlyDispatchedNotInvoiced" type="xsd:string"/>
              <xsd:element name="Translated_PrintOnlyDispatchedNotInvoiced" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NewPagePerDispatch" type="xsd:string"/>
              <xsd:element name="Translated_NewPagePerDispatch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintAttachedComments" type="xsd:string"/>
              <xsd:element name="Translated_PrintAttachedComments" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PrintFreightMiscLines" type="xsd:string"/>
              <xsd:element name="Translated_PrintFreightMiscLines" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeInProcess" type="xsd:string"/>
              <xsd:element name="Translated_IncludeInProcess" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeReadyToPrint" type="xsd:string"/>
              <xsd:element name="Translated_IncludeReadyToPrint" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeDispatchPrinted" type="xsd:string"/>
              <xsd:element name="Translated_IncludeDispatchPrinted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeReadyToInvoice" type="xsd:string"/>
              <xsd:element name="Translated_IncludeReadyToInvoice" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeInSuspense" type="xsd:string"/>
              <xsd:element name="Translated_IncludeInSuspense" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeConsolidated" type="xsd:string"/>
              <xsd:element name="Translated_IncludeConsolidated" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCompleted" type="xsd:string"/>
              <xsd:element name="Translated_IncludeCompleted" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeCancelled" type="xsd:string"/>
              <xsd:element name="Translated_IncludeCancelled" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IncludeOnHold" type="xsd:string"/>
              <xsd:element name="Translated_IncludeOnHold" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SupplyChainTransfers" type="xsd:string"/>
              <xsd:element name="Translated_SupplyChainTransfers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShowValuesIn" type="xsd:string"/>
              <xsd:element name="Translated_ShowValuesIn" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispatchNoteFilterType" type="xsd:string"/>
              <xsd:element name="Translated_DispatchNoteFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DispatchNoteFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="CustomerFilterType" type="xsd:string"/>
              <xsd:element name="Translated_CustomerFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="BranchFilterType" type="xsd:string"/>
              <xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BranchFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="GeographicAreaFilterType" type="xsd:string"/>
              <xsd:element name="Translated_GeographicAreaFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GeographicAreaFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="CustomerClassFilterType" type="xsd:string"/>
              <xsd:element name="Translated_CustomerClassFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerClassFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="DispatchDateFilterType" type="xsd:string"/>
              <xsd:element name="Translated_DispatchDateFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DateFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="OrderTypeFilterType" type="xsd:string"/>
              <xsd:element name="Translated_OrderTypeFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderTypeFilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="UserDefined1FilterType" type="xsd:string"/>
              <xsd:element name="Translated_UserDefined1FilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserDefined1FilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="UserDefined2FilterType" type="xsd:string"/>
              <xsd:element name="Translated_UserDefined2FilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UserDefined2FilterValue">
                <xsd:complexType/>
              </xsd:element>
              <xsd:element name="CurrencyFilterType" type="xsd:string"/>
              <xsd:element name="Translated_CurrencyFilterType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CurrencyFilterValue">
                <xsd:complexType/>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DispatchNotes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DispatchNotesDetails">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DispatchNoteHeader" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="DispatchNote">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="004345/0001"/>
                                <xsd:enumeration value="004347/0001"/>
                                <xsd:enumeration value="004494/0001"/>
                                <xsd:enumeration value="004626/0001"/>
                                <xsd:enumeration value="004627/0001"/>
                                <xsd:enumeration value="004655/0001"/>
                                <xsd:enumeration value="004656/0001"/>
                                <xsd:enumeration value="004658/0001"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Customer">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="0000001"/>
                                <xsd:enumeration value="0060796"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="CustomerName" type="xsd:string"/>
                          <xsd:element name="DispatchNoteStatus" type="xsd:string"/>
                          <xsd:element name="Translated_DispatchNoteStatus" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Branch" type="xsd:byte"/>
                          <xsd:element name="BranchDesc" type="xsd:string"/>
                          <xsd:element name="OriginalDate">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="2008/09/08"/>
                                <xsd:enumeration value="2008/11/18"/>
                                <xsd:enumeration value="2009/02/11"/>
                                <xsd:enumeration value="2009/03/03"/>
                                <xsd:enumeration value="2009/03/04"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="ActualDate">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="2008/10/20"/>
                                <xsd:enumeration value="2009/02/11"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SalesOrder">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:short">
                                <xsd:enumeration value="004345"/>
                                <xsd:enumeration value="004347"/>
                                <xsd:enumeration value="004494"/>
                                <xsd:enumeration value="004626"/>
                                <xsd:enumeration value="004627"/>
                                <xsd:enumeration value="004655"/>
                                <xsd:enumeration value="004656"/>
                                <xsd:enumeration value="004658"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="DispatchNoteValue" type="xsd:string"/>
                          <xsd:element name="EditedDispatchNoteValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="MiscellaneousValue" type="xsd:string"/>
                          <xsd:element name="EditedMiscellaneousValue" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="OrderLevelDiscount" type="xsd:string"/>
                          <xsd:element name="EditedOrderLevelDiscount" type="xsd:string" minOccurs="0"/>
                          <xsd:element ref="TotalDispatchValue"/>
                          <xsd:element name="EditedTotalDispatchValue" minOccurs="0"/>
                          <xsd:element name="DispatchNoteLine" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="LineNumber" type="xsd:string"/>
                                <xsd:element name="LineType" type="xsd:string"/>
                                <xsd:element name="Translated_LineType" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StockCode">
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:byte">
                                      <xsd:enumeration value="000000000000001"/>
                                      <xsd:enumeration value="000000000000005"/>
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="Description" type="xsd:string"/>
                                <xsd:element name="Warehouse" type="xsd:string"/>
                                <xsd:element name="Decimals">
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:byte">
                                      <xsd:enumeration value="2"/>
                                      <xsd:enumeration value="3"/>
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="WarehouseDesc" type="xsd:string"/>
                                <xsd:element name="LineStatus">
                                  <xsd:complexType/>
                                </xsd:element>
                                <xsd:element name="Translated_LineStatus" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DispatchQuantity" type="xsd:string"/>
                                <xsd:element name="DispatchQuantityUnits">
                                  <xsd:complexType/>
                                </xsd:element>
                                <xsd:element name="EditedDispatchQuantity" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DispatchLineValue" type="xsd:string"/>
                                <xsd:element name="EditedDispatchLineValue" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="DispatchNotesTotals">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="TotalDispatchValue"/>
                    <xsd:element name="EditedTotalDispatchValue" minOccurs="0"/>
                    <xsd:element name="TotalDiscount" type="xsd:string"/>
                    <xsd:element name="EditedTotalDiscount" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="TotalMiscValue" type="xsd:string"/>
                    <xsd:element name="EditedTotalMiscValue" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="TotalReportValue" type="xsd:string"/>
                    <xsd:element name="EditedTotalReportValue" type="xsd:short" minOccurs="0"/>
                    <xsd:element name="TotalDispatchesRead" type="xsd:string"/>
                    <xsd:element name="EditedTotalDispatchesRead" type="xsd:byte" minOccurs="0"/>
                    <xsd:element name="TotalDispatchesSelected" type="xsd:string"/>
                    <xsd:element name="EditedTotalDispatchesSelected" type="xsd:byte" minOccurs="0"/>
                    <xsd:element name="TotalInProgress" type="xsd:string"/>
                    <xsd:element name="EditedTotalInProgress" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="TotalDispatched" type="xsd:string"/>
                    <xsd:element name="EditedTotalDispatched" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="TotalReadyToPrint" type="xsd:string"/>
                    <xsd:element name="EditedTotalReadyToPrint" type="xsd:byte" minOccurs="0"/>
                    <xsd:element name="TotalPrinted" type="xsd:string"/>
                    <xsd:element name="EditedTotalPrinted" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="TotalreadyToInvoice" type="xsd:string"/>
                    <xsd:element name="EditedTotalreadyToInvoice" type="xsd:byte" minOccurs="0"/>
                    <xsd:element name="TotalConsolidated" type="xsd:string"/>
                    <xsd:element name="EditedTotalConsolidated" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="TotalInvoiced" type="xsd:string"/>
                    <xsd:element name="EditedTotalInvoiced" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="TotalCancelled" type="xsd:string"/>
                    <xsd:element name="EditedTotalCancelled" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="TotalInSuspense" type="xsd:string"/>
                    <xsd:element name="EditedTotalInSuspense" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="TotalOnHold" type="xsd:string"/>
                    <xsd:element name="EditedTotalOnHold" type="xsd:boolean" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
      <xsd:attribute name="Role" type="xsd:byte" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TotalDispatchValue" type="xsd:string"/>
</xsd:schema>
