Schemas/SORQ60OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Profitability Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BranchFilterType" type="xsd:string"/>
  <xsd:element name="BranchFilterValue" type="xsd:string"/>
  <xsd:element name="CompanyId" type="xsd:string"/>
  <xsd:element name="Comment" type="xsd:string"/>
  <xsd:element name="CompanyName" type="xsd:string"/>
  <xsd:element name="Component" type="xsd:string"/>
  <xsd:element name="Cost" type="xsd:double"/>
  <xsd:element name="CostUom" type="xsd:string"/>
  <xsd:element name="CssStyle" type="xsd:string"/>
  <xsd:element name="Currency" type="xsd:string"/>
  <xsd:element name="Customer" type="xsd:string"/>
  <xsd:element name="CustomerName" type="xsd:string"/>
  <xsd:element name="DateFormat" type="xsd:string"/>
  <xsd:element name="DecFormat" type="xsd:string"/>
  <xsd:element name="Decimals" type="xsd:string"/>
  <xsd:element name="Description" type="xsd:string"/>
  <xsd:element name="DetailLine">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrderLine"/>
        <xsd:element name="LineType" type="xsd:string"/>
        <xsd:element ref="StockCode" minOccurs="0"/>
        <xsd:element ref="Description" minOccurs="0"/>
        <xsd:element ref="LongDescription" minOccurs="0"/>
        <xsd:element ref="ProductClass" minOccurs="0"/>
        <xsd:element ref="Decimals" minOccurs="0"/>
        <xsd:element ref="OutstandingQuantity" minOccurs="0"/>
        <xsd:element ref="OutstandingQuantityUnits" minOccurs="0"/>
        <xsd:element name="EditedOutstandingQuantity" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="OrderUom" minOccurs="0"/>
        <xsd:element ref="Price" minOccurs="0"/>
        <xsd:element name="EditedPrice" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="PriceUom" minOccurs="0"/>
        <xsd:element ref="LineDiscount" minOccurs="0"/>
        <xsd:element ref="LineDescription" minOccurs="0"/>
        <xsd:element ref="Value" minOccurs="0"/>
        <xsd:element name="EditedValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="Cost" minOccurs="0"/>
        <xsd:element name="EditedCost" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="CostUom" minOccurs="0"/>
        <xsd:element ref="MerchandiseAmount" minOccurs="0"/>
        <xsd:element name="EditedMerchandiseAmount" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="ProfitAmount" minOccurs="0"/>
        <xsd:element name="EditedProfitAmount" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="ProfitMargin" minOccurs="0"/>
        <xsd:element name="EditedProfitMargin" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="Comment" minOccurs="0"/>
        <xsd:element ref="Parent" minOccurs="0"/>
        <xsd:element ref="Component" minOccurs="0"/>
        <xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EntryDate" type="xsd:string"/>
  <xsd:element name="FreightMiscellaneousCostValue" type="xsd:double"/>
  <xsd:element name="FreightMiscellaneousValue" type="xsd:double"/>
  <xsd:element name="GlPrdPerYear" type="xsd:string"/>
  <xsd:element name="IncludeCommentLines" type="xsd:string"/>
  <xsd:element name="IncludeCompletedLines" type="xsd:string"/>
  <xsd:element name="IncludeDispatchedNotInvoiced" type="xsd:string"/>
  <xsd:element name="IncludeForward" type="xsd:string"/>
  <xsd:element name="IncludeInWarehouse" type="xsd:string"/>
  <xsd:element name="IncludeOpenBackorders" type="xsd:string"/>
  <xsd:element name="IncludeOpenOrders" type="xsd:string"/>
  <xsd:element name="IncludeReadyToInvoice" type="xsd:string"/>
  <xsd:element name="IncludeReleasedBackorders" type="xsd:string"/>
  <xsd:element name="IncludeSuspense" type="xsd:string"/>
  <xsd:element name="IncludeZeroProfitPercent" type="xsd:string"/>
  <xsd:element name="Language" type="xsd:string"/>
  <xsd:element name="LineDescription" type="xsd:string"/>
  <xsd:element name="LineDiscount" type="xsd:string"/>
  <xsd:element name="LocalCurrency" type="xsd:string"/>
  <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
  <xsd:element name="MerchandiseAmount" type="xsd:double"/>
  <xsd:element name="MerchandiseCostOfSalesValue" type="xsd:double"/>
  <xsd:element name="MerchandiseSalesAfterDiscount" type="xsd:double"/>
  <xsd:element name="OperatorCode" type="xsd:string"/>
  <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
  <xsd:element name="OperatorGroup" type="xsd:string"/>
  <xsd:element name="OperatorLocation" type="xsd:string"/>
  <xsd:element name="OperatorName" type="xsd:string"/>
  <xsd:element name="OperatorPrimaryRole" type="xsd:string"/>
  <xsd:element name="OrderDiscount" type="xsd:string"/>
  <xsd:element name="OrderDiscountValue" type="xsd:double"/>
  <xsd:element name="OrderMerchandiseAmount" type="xsd:double"/>
  <xsd:element name="OrderProfitAmount" type="xsd:double"/>
  <xsd:element name="OrderProfitMargin" type="xsd:double"/>
  <xsd:element name="OrderStatus" type="xsd:string"/>
  <xsd:element name="OrderTotals">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="OrderDiscount"/>
        <xsd:element ref="OrderDiscountValue"/>
        <xsd:element name="EditedOrderDiscountValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="TotalAmountOfOrder"/>
        <xsd:element name="EditedTotalAmountOfOrder" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="OrderMerchandiseAmount"/>
        <xsd:element name="EditedOrderMerchandiseAmount" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="OrderProfitAmount"/>
        <xsd:element name="EditedOrderProfitAmount" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="OrderProfitMargin"/>
        <xsd:element name="EditedOrderProfitMargin" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="MerchProfitMargin"/>
        <xsd:element name="EditedMerchProfitMargin" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OrderType" type="xsd:string"/>
  <xsd:element name="OrderUom" type="xsd:string"/>
  <xsd:element name="OrdersOutOfProfitPercentRange" type="xsd:double"/>
  <xsd:element name="OutstandingQuantity" type="xsd:double"/>
  <xsd:element name="OutstandingQuantityUnits" type="xsd:string"/>
  <xsd:element name="Parent" type="xsd:string"/>
  <xsd:element name="Price" type="xsd:double"/>
  <xsd:element name="PriceUom" type="xsd:string"/>
  <xsd:element name="PrintStockDescription" type="xsd:string"/>
  <xsd:element name="ProfitAmount" type="xsd:double"/>
  <xsd:element name="ProfitMargin" type="xsd:double"/>
  <xsd:element name="PurchaseOrder" type="xsd:string"/>
  <xsd:element name="QueryOptions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="IncludeOpenOrders"/>
        <xsd:element name="Translated_IncludeOpenOrders" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeOpenBackorders"/>
        <xsd:element name="Translated_IncludeOpenBackorders" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeReleasedBackorders"/>
        <xsd:element name="Translated_IncludeReleasedBackorders" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeInWarehouse"/>
        <xsd:element name="Translated_IncludeInWarehouse" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeReadyToInvoice"/>
        <xsd:element name="Translated_IncludeReadyToInvoice" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeSuspense"/>
        <xsd:element name="Translated_IncludeSuspense" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeForward"/>
        <xsd:element name="Translated_IncludeForward" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SummaryLineForOrders"/>
        <xsd:element name="Translated_SummaryLineForOrders" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="PrintStockDescription"/>
        <xsd:element name="Translated_PrintStockDescription" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeCompletedLines"/>
        <xsd:element name="Translated_IncludeCompletedLines" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeZeroProfitPercent"/>
        <xsd:element name="Translated_IncludeZeroProfitPercent" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeDispatchedNotInvoiced"/>
        <xsd:element name="Translated_IncludeDispatchedNotInvoiced" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="IncludeCommentLines"/>
        <xsd:element name="Translated_IncludeCommentLines" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="ProfitMarginBasis"/>
        <xsd:element name="Translated_ProfitMarginBasis" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="DateSelection"/>
        <xsd:element name="Translated_DateSelection" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="FromDate"/>
        <xsd:element ref="ToDate"/>
        <xsd:element name="DateRange" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="ProfitMarginSource"/>
        <xsd:element name="Translated_ProfitMarginSource" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="ProfitLessThan"/>
        <xsd:element ref="ProfitGreaterThan"/>
        <xsd:element ref="BranchFilterType"/>
        <xsd:element name="Translated_BranchFilterType" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="BranchFilterValue"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportDate" type="xsd:string"/>
  <xsd:element name="ReportSummaryTotals">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="TotalNumberOfOrdersOnFile"/>
        <xsd:element name="EditedTotalNumberOfOrdersOnFile" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="TotalNumberOfOrdersSelected"/>
        <xsd:element name="EditedTotalNumberOfOrdersSelected" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="TotalValueOfSelectedOrders"/>
        <xsd:element name="EditedTotalValueOfSelectedOrders" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="MerchandiseSalesAfterDiscount"/>
        <xsd:element name="EditedMerchandiseSalesAfterDiscount" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="TotalOutstandingQuantity"/>
        <xsd:element name="EditedTotalOutstandingQuantity" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="MerchandiseCostOfSalesValue"/>
        <xsd:element name="EditedMerchandiseCostOfSalesValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="FreightMiscellaneousValue"/>
        <xsd:element name="EditedFreightMiscellaneousValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="FreightMiscellaneousCostValue"/>
        <xsd:element name="EditedFreightMiscellaneousCostValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SelectedProfitValue"/>
        <xsd:element name="EditedSelectedProfitValue" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="SelectedProfitPercent"/>
        <xsd:element name="EditedSelectedProfitPercent" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="OrdersOutOfProfitPercentRange"/>
        <xsd:element name="EditedOrdersOutOfProfitPercentRange" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportTotals">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ReportSummaryTotals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Role" type="xsd:string"/>
  <xsd:element name="SOProfitabilityQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SystemInformation"/>
        <xsd:element ref="QueryOptions"/>
        <xsd:element ref="SalesOrders"/>
        <xsd:element ref="ReportTotals"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SalesOrder">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrderHeader"/>
        <xsd:element ref="DetailLine" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="OrderTotals" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SalesOrderHeader">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SummaryOnly"/>
        <xsd:element ref="SalesOrderNumber"/>
        <xsd:element ref="Customer"/>
        <xsd:element ref="CustomerName"/>
        <xsd:element name="Translated_CustomerName" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="OrderType"/>
        <xsd:element name="Translated_OrderType" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="OrderStatus"/>
        <xsd:element name="Translated_OrderStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="Salesperson" minOccurs="0"/>
        <xsd:element ref="SalespersonName" minOccurs="0"/>
        <xsd:element name="Translated_SalespersonName" type="xsd:string" minOccurs="0"/>
        <xsd:element ref="EntryDate" minOccurs="0"/>
        <xsd:element ref="ShipDate" minOccurs="0"/>
        <xsd:element ref="PurchaseOrder" minOccurs="0"/>
        <xsd:element ref="Currency" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SalesOrderLine" type="xsd:string"/>
  <xsd:element name="SalesOrderNumber" type="xsd:string"/>
  <xsd:element name="SalesOrders">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SalesOrder" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Salesperson" type="xsd:string"/>
  <xsd:element name="SalespersonName" type="xsd:string"/>
  <xsd:element name="SelectedProfitPercent" type="xsd:double"/>
  <xsd:element name="SelectedProfitValue" type="xsd:double"/>
  <xsd:element name="SeparatorToUse" type="xsd:string"/>
  <xsd:element name="ShipDate" type="xsd:string"/>
  <xsd:element name="StockCode" type="xsd:string"/>
  <xsd:element name="SummaryLineForOrders" type="xsd:string"/>
  <xsd:element name="SystemInformation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CssStyle"/>
        <xsd:element ref="Language"/>
        <xsd:element ref="DecFormat"/>
        <xsd:element ref="DateFormat"/>
        <xsd:element ref="Role"/>
        <xsd:element ref="Version"/>
        <xsd:element ref="CompanyId"/>
        <xsd:element ref="CompanyName"/>
        <xsd:element ref="OperatorCode"/>
        <xsd:element ref="OperatorName"/>
        <xsd:element ref="OperatorGroup"/>
        <xsd:element ref="OperatorEmailAddress"/>
        <xsd:element ref="OperatorLocation"/>
        <xsd:element ref="LocalCurrency"/>
        <xsd:element ref="LocalCurrencyDesc"/>
        <xsd:element ref="GlPrdPerYear"/>
        <xsd:element ref="ReportDate"/>
        <xsd:element ref="UseSeparatorOnReports"/>
        <xsd:element ref="SeparatorToUse"/>
        <xsd:element ref="OperatorPrimaryRole"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TotalAmountOfOrder" type="xsd:double"/>
  <xsd:element name="TotalNumberOfOrdersOnFile" type="xsd:double"/>
  <xsd:element name="TotalNumberOfOrdersSelected" type="xsd:double"/>
  <xsd:element name="TotalOutstandingQuantity" type="xsd:double"/>
  <xsd:element name="TotalValueOfSelectedOrders" type="xsd:double"/>
  <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
  <xsd:element name="Value" type="xsd:double"/>
  <xsd:element name="Version" type="xsd:string"/>
  <xsd:element name="FromDate" type="xsd:string"/>
  <xsd:element name="DateSelection" type="xsd:string"/>
  <xsd:element name="ToDate" type="xsd:string"/>
  <xsd:element name="ProfitMarginSource" type="xsd:string"/>
  <xsd:element name="ProfitLessThan" type="xsd:string"/>
  <xsd:element name="ProfitGreaterThan" type="xsd:string"/>
  <xsd:element name="SummaryOnly" type="xsd:string"/>
  <xsd:element name="ProfitMarginBasis" type="xsd:string"/>
  <xsd:element name="MerchProfitMargin" type="xsd:double"/>
  <xsd:element name="ProductClass" type="xsd:string"/>
  <xsd:element name="LongDescription" type="xsd:string"/>
</xsd:schema>
