Schemas/SORSCPOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!--
     Schema for the Sales Order Contract Pricing Setup Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RecordsInvalid" type="xsd:boolean"/>
  <xsd:element name="RecordsRead" type="xsd:boolean"/>
  <xsd:complexType name="StatusOfItemsType">
    <xsd:sequence>
      <xsd:element ref="RecordsRead" minOccurs="0"/>
      <xsd:element ref="RecordsInvalid" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="contract" type="xsd:byte"/>
  <xsd:element name="contracttype" type="xsd:string"/>
  <xsd:element name="customerbuygrp" type="xsd:string"/>
  <xsd:complexType name="itemType">
    <xsd:sequence>
      <xsd:element name="key" type="keyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="keyType">
    <xsd:sequence>
      <xsd:element ref="contracttype"/>
      <xsd:element ref="customerbuygrp"/>
      <xsd:element ref="stockcode"/>
      <xsd:element ref="contract"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="setupsocontractpricing">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="item" type="itemType" maxOccurs="unbounded"/>
        <xsd:element name="StatusOfItems" type="StatusOfItemsType"/>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:string" use="optional" default=" "/>
      <xsd:attribute name="Language2" type="xsd:string" use="optional" default=" "/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="optional" default=" "/>
      <xsd:attribute name="DecFormat" type="xsd:string" use="optional" default=" "/>
      <xsd:attribute name="DateFormat" type="xsd:string" use="optional" default=" "/>
      <xsd:attribute name="Role" type="xsd:string" use="optional"/>
      <xsd:attribute name="Version" type="xsd:string" use="optional"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="stockcode" type="xsd:hexBinary"/>
</xsd:schema>
