Schemas/SORTRSOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     This is an example XSD instance to demonstrate use of
     the SO Reserved to Ship Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PostSoReservedToShip">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Item">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ValidationStatus">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SalesOrderDetails">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SalesOrder" type="xsd:short"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Status" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ItemNumber" type="xsd:byte"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="StatusOfItems">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ItemsProcessed" type="xsd:byte"/>
							<xsd:element name="ItemsInvalid" type="xsd:byte"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Language" type="xsd:byte" use="required"/>
			<xsd:attribute name="Language2" type="xsd:string" use="required"/>
			<xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
			<xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
			<xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
			<xsd:attribute name="Role" type="xsd:byte" use="required"/>
			<xsd:attribute name="Version" type="xsd:string" use="required"/>
			<xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
