Schemas/SORTOI.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Transaction Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AcceptKitOptional">
    <xsd:annotation>
      <xsd:documentation>This option is only relevant if Single Level bills are in use. If set to 'Y' then any stock item that is a kit item, and has optional components will be accepted. If set to 'N' (the default), then it will be rejected. If set to 'E' then any optional component in a kit item will be iexcluded from the kit.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="E"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AcceptOrdersIfNoCredit">
    <xsd:annotation>
      <xsd:documentation>Specifies if sales orders are allowed to be accepted if the customer has failed the credit check (Y - Yes, N - No). If not specified this defaults to the e.net solutions settings against the operator.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AcceptEarlierShipDate" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies if sales orders are allowed to be accepted if the requested ship date supplied is earlier than the default ship date. Defaults to 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AddStockSalesOrderText" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies if standard sales order text associated with any stock item is to be added to the sales order with the appropriate merchandise line. The default is N (no text to be added).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=" "/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AddDangerousGoodsText" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies if dangerous goods text associated with any stock item is to be added to the sales order with the appropriate merchandise line. The default is N (no text to be added).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AddAttachedServiceCharges">
    <xsd:annotation>
      <xsd:documentation>Use of this element affects the processing of service charges attached to a stock code. It is only considered for the addition of a stocked detail line. Valid entries are 'Y' (Yes), add all service charges found, 'N' (No), do not add service charges, 'M' (Mandatory), add only charges which are not marked for review in order entry. Default is 'N'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="M"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllocationAction">
    <xsd:annotation>
      <xsd:documentation>Specifies whether merchandise lines are to be allocated or placed on back order. Valid entries are 'F'  - allocate only if full order quantity is available, 'B' -  place whole line on back order, 'A' - allocate available quantity if less than order quantity, and place the remainder on back order. If blank or not entered, 'F' is assumed. If set to 'B' (Back order), then the parameter 'ShipFromDefaultBin' is ignored. Note that any items which are kit items,  lot traceable or serialised will still be placed on back order.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="F"/>
        <xsd:enumeration value="B"/>
        <xsd:enumeration value="A"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowBackOrderForNegativeMerchLine">
    <xsd:annotation>
      <xsd:documentation>Allow negative merchandise line to be added with quantity in back order</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowBackOrderForPartialHold">
    <xsd:annotation>
      <xsd:documentation>Specifies if a merchandise line is to be accepted in back order for a stock item that has been placed on partial hold. Valid entries are N - No (the default), and 'Y' - Yes</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowBackOrderForSuperseded">
    <xsd:annotation>
      <xsd:documentation>Specifies if a merchandise line is to be accepted in back order for a stock item that has been superseded. Valid entries are N - No (the default), and 'Y' - Yes</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowChangeToZeroPrice">
    <xsd:annotation>
      <xsd:documentation>This parameter controls the use of price on a changed merchandise line only. If set to 'Y', and the element 'Price' contains zero, then the price on that line will be changed to zero. Valid entries are 'N' - No, and 'Y' Yes. The default is no.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowDuplicateOrderNumbers" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies whether duplicate order numbers are allowed to be entered  (Y - Yes, N - No,  A - Always). There is a SYSPRO option which forces a check for duplicate customer purchase order numbers. An entry of A - Always for this parameter will over-ride the SYSPRO option, and no checks will be made for duplicates at all. If the SYSPRO option is not selected, then this parameter is used to specify if duplicate order numbers are acceptable for the same customer - an entry of Y - Yes will mean that the same order number can be used more than once for a specific customer. If the SYSPRO check is in force, then the only relevant entry is A - Always.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="A"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowInvoiceInformationEntry" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies whether invoice information (invoice number and invoice date) may be entered for an order that is defined as ready to invoice, status 8 (Y - Yes, N - No). If set, this overrides any other SYSPRO configuation rules for supplying invoice numbers. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowManualOrderNumberToBeUsed">
    <xsd:annotation>
      <xsd:documentation>This parameter allows the company option for adding Sales Order Numbers to be over-ridden. If set to 'Y', then an order number can be given in the SalesOrder element when adding an order. If an order number is supplied, then it must not exist in SYSPRO.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowNonStockItems">
    <xsd:annotation>
      <xsd:documentation>Specifies whether non-stocked lines are allowed to be entered as detail lines on the sales order (Y - Yes, N - No, S Specify) . If not set this defaults to the e.net solutions setting against the operator. Note that the e.net soltions setting can only be allowed or not allowed. If the element 'AllowNonStockItems' is set to 'S', then a new non-stocked detail line must include the element 'NonStockedLine' with a value of 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AllowZeroPrice" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies that the price supplied on the detail line on the sales order may be zero (Y - Yes, N - No). This only applies if the parameter AlwaysUsePriceEntered is set to 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AlwaysUsePriceEntered" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies that the price supplied on the detail line on the sales order is to be used instead of any price calculated using the SYSPRO configuration parameters(Y - Yes, N - No). </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ApplyLeadTimeCalculation">
    <xsd:annotation>
      <xsd:documentation>Set this element to 'Y'  to apply the lead time calculation to the ship date of a line in a scheduled order where there is insufficient quantity to ship the entire line. This parameter is ignored if the AllocationAction is B - place line in back order. This calculation is not applied if a specfic date is given in the detail line element 'LineShipDate'</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ApplyParentDiscountToComponents">
    <xsd:annotation>
      <xsd:documentation>Only applicable to a stocked line that is for a parent of kit type 'K'. If set to 'Y', then any percentage discount specified on that line will be used in each one of the components, and will over-ride any discount calculated on the component price. This only applies when adding a line.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CheckForCustomerPoNumbers">
    <xsd:annotation>
      <xsd:documentation>This element controls the checking of customer purchase orders against new orders. If set to 'Y' (the default), then the element 'CustomerPoNumber' must be supplied when adding a sales order. If set to 'N', then the element may be missing, or may be blank. If set to 'C' (customer) then the check is based on the setting of the SYSPRO Customer Maintenance option 'Customer purchase order number mandatory'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="C"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CreditFailMessage" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The message to be returned if the customer fails the credit check.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CustomerToUse">
    <xsd:annotation>
      <xsd:documentation>If no customer code exists in the sales order header and no sender code in the transmission header this becomes a mandatory entry. This must be a valid SYSPRO customer and they must be set as an EDI customer.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="7"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IgnoreWarnings" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies if warnings are to be ignored (Y - if the warnings are to be ignored, N - warnings will be returned as errors in the XML returned, W - warnings will be returned as warnings in the XML returned). An example of a warning is if margin checking is required, and the new or changed merchandise line fails the margin check, you may want the warning supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="W"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="InBoxMsgReqd" default="N">
    <xsd:annotation>
      <xsd:documentation>Write an entry to the ADMMSG file for the logged in operator (N or blank - No, Y - Yes). This message is made available in the Orders Created Externally option of SYSPRO. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value=""/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MinimumDaysToShip">
    <xsd:annotation>
      <xsd:documentation>This is the minimum number of days before an order can be shipped. If this is not supplied the e.net solutions configuration against the operator is used. If this is not present the default is 0.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="2"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OperatorToInform">
    <xsd:annotation>
      <xsd:documentation>This is the operator to inform when a new order is created. This must be a valid SYSPRO operator code. If not supplied then the "operator to inform about new orders placed" option in the e.net solutions configuration against this operator will be used. If this is not set then the operator who is attempting to create the sales order will be informed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="6"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OrderStatus">
    <xsd:annotation>
      <xsd:documentation>This indicates the status that will be applied to the new order (1, 4,8 or S). If no status is provided the status against this operator in the e.net solutions configuration is used. If this is not present the default of 1 is used. A status of 'S' indicates that the order is to be placed straight into suspense, so that operator activity is required in the SYSPRO system before the order can be released. If the type of order requested is 'BIL' (billing), then this parameter is ignored, and the order status is set to 8 - to invoice.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="1"/>
        <xsd:enumeration value="4"/>
        <xsd:enumeration value="8"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OverrideCustomerBackOrder">
    <xsd:annotation>
      <xsd:documentation>Specifies if a merchandise line is to be accepted in back order even if the customer is not allowed back orders. Valid entries are N - No (the default), and 'Y' - Yes</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Parameters">
    <xsd:annotation>
      <xsd:documentation>This contains the parameters</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="InBoxMsgReqd" minOccurs="0"/>
        <xsd:element ref="Process" minOccurs="0"/>
        <xsd:element ref="CustomerToUse" minOccurs="0"/>
        <xsd:element ref="WarehouseListToUse" minOccurs="0"/>
        <xsd:element ref="TypeOfOrder" minOccurs="0"/>
        <xsd:element ref="OrderStatus" minOccurs="0"/>
        <xsd:element ref="MinimumDaysToShip" minOccurs="0"/>
        <xsd:element ref="AllowNonStockItems" minOccurs="0"/>
        <xsd:element ref="AcceptOrdersIfNoCredit" minOccurs="0"/>
        <xsd:element ref="AcceptEarlierShipDate" minOccurs="0"/>
        <xsd:element ref="OperatorToInform" minOccurs="0"/>
        <xsd:element ref="CreditFailMessage" minOccurs="0"/>
        <xsd:element ref="ValidProductClassList" minOccurs="0"/>
        <xsd:element ref="ShipFromDefaultBin" minOccurs="0"/>
        <xsd:element ref="AllowDuplicateOrderNumbers" minOccurs="0"/>
        <xsd:element ref="CheckForCustomerPoNumbers" minOccurs="0"/>
        <xsd:element ref="AllowInvoiceInformationEntry" minOccurs="0"/>
        <xsd:element ref="AlwaysUsePriceEntered" minOccurs="0"/>
        <xsd:element ref="AllowZeroPrice" minOccurs="0"/>
        <xsd:element ref="AllowChangeToZeroPrice" minOccurs="0"/>
        <xsd:element ref="AddStockSalesOrderText" minOccurs="0"/>
        <xsd:element ref="AddDangerousGoodsText" minOccurs="0"/>
        <xsd:element ref="UseStockDescSupplied" minOccurs="0"/>
        <xsd:element ref="ValidateShippingInstrs" minOccurs="0"/>
        <xsd:element ref="AllocationAction" minOccurs="0"/>
        <xsd:element ref="IgnoreWarnings" minOccurs="0"/>
        <xsd:element ref="AddAttachedServiceCharges" minOccurs="0"/>
        <xsd:element ref="StatusInProcess" minOccurs="0"/>
        <xsd:element ref="StatusInProcessResponse" minOccurs="0"/>
        <xsd:element ref="WarnIfCustomerOnHold" minOccurs="0"/>
        <xsd:element ref="AcceptKitOptional" minOccurs="0"/>
        <xsd:element ref="AllowBackOrderForPartialHold" minOccurs="0"/>
        <xsd:element ref="AllowBackOrderForSuperseded" minOccurs="0"/>
        <xsd:element ref="OverrideCustomerBackOrder" minOccurs="0"/>
        <xsd:element ref="UseMasterAccountForCustomerPartNo" minOccurs="0"/>
        <xsd:element ref="ApplyLeadTimeCalculation" minOccurs="0"/>
        <xsd:element ref="ApplyParentDiscountToComponents" minOccurs="0"/>
        <xsd:element ref="AllowManualOrderNumberToBeUsed" minOccurs="0"/>
        <xsd:element ref="ReserveStock" minOccurs="0"/>
        <xsd:element ref="ReserveStockRequestAllocs" minOccurs="0"/>
        <xsd:element ref="AllowBackOrderForNegativeMerchLine" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Process" default="Validate">
    <xsd:annotation>
      <xsd:documentation>This is the process to follow (Validate - validate contents only, Import - validate the contents and import only if there are no errors).

If there are any errors the whole document is returned with all  errors found. The errors will appear at the end of the section in which the error occurred, such as the StockLine section. 

The last entry in the XML returned from a validation process will be the ValidationStatus element which will have a sub-element of Status. This will contain either Successful or Failed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Validate"/>
        <xsd:enumeration value="validate"/>
        <xsd:enumeration value="VALIDATE"/>
        <xsd:enumeration value="Import"/>
        <xsd:enumeration value="import"/>
        <xsd:enumeration value="IMPORT"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReserveStock">
    <xsd:annotation>
      <xsd:documentation>This element is only relevant if the SO Option to allow reserving of stock is selected. If set to 'Y', then any attempt to allocate stock for a line will result in it being reserved, and not shipped. If set to 'N', then any attempt to allocate stock will result in it being shipped. If the element is not supplied, then the SYSPRO company setting will be used.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReserveStockRequestAllocs">
    <xsd:annotation>
      <xsd:documentation>This element is only relevant if the SO Option to allow reserving of stock is selected, and stock is being reserved not shipped. If set to 'Y', then any lot bin or serial item can only be reserved using the ship rules.  If set to 'N', then a lot , serial or bin item can be reserved as detail allocations are not required. If the element is not supplied, then the SYSPRO company setting will be used.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SalesOrders">
    <xsd:annotation>
      <xsd:documentation>This is the root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Parameters"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ShipFromDefaultBin" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies whether stocked lines are to be shipped from the default bin (Y - Yes, N - No). This parameter is only relevant if multiple bins are in use, and the warehouse on the sales order line required multiple bins. If not set and multiple bins are in use, and the warehouse on the sales order line requires multiple bins , then stocked lines will be placed on back order.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StatusInProcess">
    <xsd:annotation>
      <xsd:documentation>This parameter is only intended for use when the business object is called from scripting while processing a sales order with the SYSPRO Sales Order Entry program. It should be set to 'Y' in those circumstances, and will allow the business object to access the sales order that is currently held by SYSPRO. The only activity allowed is to add a line to the order. If this parameter is set to 'Y'  under any other circumstances, then the results will be unpredictable.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StatusInProcessResponse">
    <xsd:annotation>
      <xsd:documentation>This element is only relevant if the StatusInProcess element is set to 'Y'. If used, it indicates that a full repsonse on the successful processing of the order is required in the output XML.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value=""/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TypeOfOrder" default="ORD">
    <xsd:annotation>
      <xsd:documentation>This indicates which type of order to create. The possible values are ORD - normal order, FWD - forward order, SCH - scheduled order, IBT - inter branch transfer, BIL - billing. If not provided the e.net solutions settings against the operator are used. If this is also not defined, the default is ORD.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ORD"/>
        <xsd:enumeration value="FWD"/>
        <xsd:enumeration value="SCH"/>
        <xsd:enumeration value="IBT"/>
        <xsd:enumeration value="BIL"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UseMasterAccountForCustomerPartNo">
    <xsd:annotation>
      <xsd:documentation>This paramter is used to decide how the element 'CustomersPartNumber' in a merchandise line is checked for a sub-account. If used, it will over-ride the equivalent SYSPRO company option. Valid entries are  N - No the default  - 'CustomersPartNumber' is checked against the stock codes for the customer,  A - Always - always check the stock codes against those for the master account, C - Check - first check the customer stock codes, and if not found, check the stock codes for the master account</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="A"/>
        <xsd:enumeration value="C"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UseStockDescSupplied" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies that the contents of the element StockDescription supplied for an added detail line must be used instead of the description from the Item Master. Valid entries are N - No, and  Y - Yes (default is N)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ValidateShippingInstrs" default="N">
    <xsd:annotation>
      <xsd:documentation>Specifies the validation that must be applied to the shipping instructions (Element 'ShippingInstrs' within 'OrderHeader'). Valid entries are N - No, and Y - Yes. This parameter is only used if the SYSPRO option to use coded shipping instructions is in use. If it is in use, then setting this parameter to Y (Yes) will force the entry in 'ShippingInstrs' to be validated against the table of Shipping Instructions in SYSPRO.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ValidProductClassList" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The list of valid product classes for this customer. If this list is supplied, the e.net Product Class Security is ignored.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="WarehouseListToUse" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The list of warehouses to use. If there is no warehouse supplied on the individual stock lines or on the order header, a warehouse will be selected from this list, provided that the stock code is stocked in that warehouse. These are processed from left to right.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="WarnIfCustomerOnHold" default="N">
    <xsd:annotation>
      <xsd:documentation>Use this element to affect the action taken when a customer is on hold. The default is 'N', which means that an order placed for a customer on hold will be rejected. If set to 'N', then the fact that a customer is on hold will be treated as a warning, and the setting of the paramter 'IgnoreWarnings' will be used to determine if the order is reported as an error, a warning or accepted.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value=""/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
