Schemas/SORTOVDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Transaction Posting Business Object
     Actual XML can be found in SORTOIDOC.XML
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SalesOrders">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Orders">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="OrderHeader">
                <xsd:complexType/>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
