Schemas/SORTCKDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the SO Credit Note Change or Add Kit Line Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostChangeCreditNoteKitLine">
    <xsd:annotation>
      <xsd:documentation>This is the root element for Sales Order Credit Note Change or Add Kit Line </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Item" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CreditNoteNumber" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Must be supplied.The maximum length is controlled by the current version of SYSPRO. Must be a valid numeric value if sales order key for the company is numeric. Sales order must be on file. Sales order status may not be cancelled, complete, In process, a Forward order or in suspense. If the order is scheduled, then the parent line selected must be within the period for shipping.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="CreditNoteLine" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Must be supplied when changing a kit. Must be a valid numeric value. Sales order line must exists on the sales order detail file and must be a stocked line containing a kit parent stock code of kit type K or S. Ignored when adding a new kit which is always added to the end of the order.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Customer" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Entry in the Customer element is optional, but if supplied will be validated against the Sales order header file.The maximum length is controlled by the current version of SYSPRO. If customer numeric key - must be a valid numeric value.  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="StockCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Stock code is optional when changing a kit. May not be more than 30 characters for alphanumeric key type and 15 characters for numeric key type (must be valid numeric value if numeric key type). Stock code will be validated against the Inventory master file if supplied, and must be valid for the sales order line selected. 

When adding a new kit, the stock code is mandatory. It must be a valid kit parent of type K, S or F.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Warehouse" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Warehouse is optional. The maximum length is controlled by the current version of SYSPRO. Warehouse will be validated against the Warehouse master file if supplied, and must be valid for the sales order line selected when changing a kit.  when adding a new kit, the warehouse will be used if supplied, otherwise the warehouse to use against the kit parent will be defaulted.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="OrderQty" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Must be supplied for a stock code that does not make use of unit quantity processing. The quantity can still be supplied for a stock code that makes use of unit quantity processing , but then the units and pieces must NOT be supplied for that item.The maximum length and number of decimals is controlled by the current version of SYSPRO.. The number of decimals will be validated against the number of decimals required for the stock code. The quantity supplied  when changing a line must be in the order unit of measure unless a specific unit of measure is entered. When adding a line, the quantity is assumed to be in stocking unit of measure unless a specfic unit of measure is entered.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="OrderUnits" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Must contain the number of units to ship for a stock code that makes use of unit quantity processing, if the quantity is not supplied as a decimal value. Either the quantity or Units and Pieces must be supplied for the item.  The maximum length is controlled by the current version of SYSPRO.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="OrderPieces" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Must contain the number of pieces to ship for a stock code that makes use of unit quantity processing, if the quantity is not supplied as a decimal value.  The maximum length is controlled by the current version of SYSPRO.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="AddNewKit" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If set to 'Y', then a new kit details will be added to the order. The kit details will be based on the parent stock given, and expanded using the entries on the bill of materials master. optional components can be excluded by supplying detials in the ComponentExclusions node.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value=""/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Revision" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Revision if stock code is ECC controlled - only applies when adding a new kit</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Release" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Release if stock code is ECC controlled - only applies when adding a new kit</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="CreditReason" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Valid credit note reason code which only applies when adding a new kit. Optional, unless credit note reason required (Sales Order Setup).</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="eSignature" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>If required, this element must contain a GUID, for the eSignature system to accept the transaction as having been authenticated. The GUID format is in the format {36303032-3330-3031-3038-323434363433}, where the numbers can be replaced with any character. It is up to the developer to have requested a password to protect the transaction. An example is that a GUID associated with the act of entering a valid password could be obtained and presented.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ComponentExclusions" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>Components to be excluded from the bill when adding parent and component details to the sales order.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ComponentSequenceNum" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This is the sequence number of the component entry in the Bill of Materials master. If not given, it will be assumed as spaces.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ComponentStockCode" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>This is the component stock code of the component entry in the Bill of Materials master. It is mandatory if an exclusions node is provided. It is used with the parent and the component sequence number to obtain the component details. The component must be optional in the bill. The maximum length is controlled by the current version of SYSPRO. The entry must be valid numeric value if numeric key type. Stock code will also be validated against the Inventory master file. </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ComponentAllocations" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>The ComponentAllocations node only needs to be supplied if the component part is lot traceable, serialized, or requires bins. The node will be ignored for lines that do not require detailed allocations, and the component quantity calculated will be shipped automatically.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ComponentLine" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>The component line is the line number of the component on the sales order. It is mandatory when changing a kit, and allocations are required. It is ignored when adding a new kit.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ComponentSequenceNum" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>This is the sequence number of the component entry in the Bill of Materials master. It is only applicable when adding a new kit.  If not given, it will be assumed as spaces.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ComponentStockCode" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Stock code is optional when changing an existing kit, but if supplied must correspond to the stock code on the component line provided. When adding a new kit, the stock code is mandatory. The maximum length is controlled by the current version of SYSPRO. The entry must be valid numeric value if numeric key type. Stock code will also be validated against the Inventory master file. </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Lot" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>A lot must be supplied if the stock code is lot traceable. The maximum length is controlled by the current version of SYSPRO. If the key lot type for the company is numeric the lot supplied must be a valid numeric value. The lot supplied will be validated against the Lot traceable file for the stock code. Lots do not have to be supplied if Automatic depletion is in use - unless the stock item is both lot traceable and serialized.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ComponentRevision" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Revision if component stock code is ECC controlled - only applies when adding a new kit</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ComponentRelease" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Release if component stock code is ECC controlled - only applies when adding a new kit</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Serials" minOccurs="0" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:documentation>The quantities supplied for all serial numbers must add up to the ship quantity calculated for the component line based on the parent quantity to ship. </xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SerialNumber" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>At least one serial number must be supplied if Serial tracking is required and the stock item is a serialized item. The maximum length is controlled by the current version of SYSPRO. Must be valid numeric value if numeric key type.  Serial number must exist on file and have stock for manual and batch serial numbers if stock code is flagged as' capture serial numbers at receipt' or ' capture serial numbers during order entry'.</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="SerialQuantity" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>A serial quantity must be supplied for each serial number if the stock code does not make use of unit quantity processing. If the stock item makes use of unit processing - the quantity can either be supplied as a decimal value or else as Units and Pieces. Unit quantity processing will only apply to a batch serial item. The maximum length and number of decimals is controlled by the current version of SYSPRO and the characteristics of the stock code.</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="SerialUnits" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>Must contain the number of units to release for a batch Serial for a stock code that makes use of unit quantity processing, if the quantity is not supplied as a decimal value. The maximum number of units is controlled by the current version of SYSPRO and the characteristics of the stock code.</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="SerialPieces" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>Must contain the number of pieces to relase for a batch Serial for a stock code that makes use of unit quantity processing, if the quantity is not supplied as a decimal value. The maximum number of pieces is controlled by the current version of SYSPRO and the characteristics of the stock code.</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Bins" minOccurs="0" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:documentation>This is the top element for the set of bins affected by this transaction, if multiple bins is installed. If the warehouse for the associated detail line does not make use of multiple bins, then any entries in the 'Bins' node will be ignored.

The quantities supplied for all bins must add up to the ship quantity calculated for the component line based on the parent quantity to ship. 

Bins do not have to be supplied if Automatic depletion is in use - unless the stock item is both lot traceable and serialized .</xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="BinLocation" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>At least one bin must be supplied if the company and makes use of multiple bins, and the warehouse on the detail line also uses multiple bins.The maximum length is controlled by the current version of SYSPRO.  Will be validated against the inventory Bin file for the stock code. The quantities supplied for all bins must add up to the required component quantity </xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="BinQuantity" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>A bin quantity must be supplied for every bin location supplied if the stock code does not make use of unit quantity processing. If the stock item makes use of unit processing - the quantity can either be supplied as a decimal value or else as Units and Pieces. The maximum length and number of decimals is controlled by the current version of SYSPRO and the characteristics of the stock code.</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="BinUnits" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>Must contain the number of units to release for a Bin location for a stock code that makes use of unit quantity processing, if the quantity is not supplied as a decimal value.  The maximum length is controlled by the current version of SYSPRO.</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="BinPieces" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>Must contain the number of pieces to release for a Bin location for a stock code that makes use of unit quantity processing, if the quantity is not supplied as a decimal value.  The maximum length is controlled by the current version of SYSPRO.</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
