Schemas/SORTOVOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     Schema for the Sales Order Transaction Posting Business Object
     Actual XML can be found in SORTOIOUT.XML
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="OrderHeader">
    <xsd:complexType/>
  </xsd:element>
  <xsd:complexType name="OrdersType">
    <xsd:sequence>
      <xsd:element ref="OrderHeader"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SalesOrders">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Orders" type="OrdersType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
