Schemas/SWSTADDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?><!-- Copyright 1994-2010 SYSPRO Ltd.--><!--     Schema for thePost Workflow Actions Business Object--><xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:element name="Action">		<xsd:annotation>			<xsd:documentation>Action child node</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="ActionId"/>				<xsd:element ref="ActionNumber"/>				<xsd:element ref="Description"/>				<xsd:element ref="ToolTip"/>				<xsd:element ref="ActionType"/>				<xsd:element ref="ActionTypeDescription"/>				<xsd:element ref="UserActionType"/>				<xsd:element ref="ProgramToCall"/>				<xsd:element ref="ProgramParameters"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="ActionId" type="xsd:string">		<xsd:annotation>			<xsd:documentation>The ActionId of the Action.  Only required: 1)When adding a new action number. 2)When updating a existing Action number. 3)When deleting an Action number or Action.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="ActionNumber" type="xsd:string">		<xsd:annotation>			<xsd:documentation>The ActionNumber of the Action. Only required: 1)When updating an existing Action Number. 2) When deleting an Action number.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="ActionType">		<xsd:annotation>			<xsd:documentation>The action type for the action. 0 - User Action
1 - Accept     
2 - Reject     
3 - Yes        
4 - No  When 0 an ActionTypeDescription must be provided.       
</xsd:documentation>		</xsd:annotation>		<xsd:simpleType>			<xsd:restriction base="xsd:string">				<xsd:enumeration value="0"/>				<xsd:enumeration value="1"/>				<xsd:enumeration value="2"/>				<xsd:enumeration value="3"/>				<xsd:enumeration value="4"/>			</xsd:restriction>		</xsd:simpleType>	</xsd:element>	<xsd:element name="ActionTypeDescription" type="xsd:string">		<xsd:annotation>			<xsd:documentation>A description of the ActionType</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="Description" type="xsd:string">		<xsd:annotation>			<xsd:documentation>The description of the particluar ActionId</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="PostActions">		<xsd:annotation>			<xsd:documentation>Root node</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="Action" maxOccurs="unbounded"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="ProgramParameters" type="xsd:string">		<xsd:annotation>			<xsd:documentation>The parameters that must be passed to the program.</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="ProgramToCall" type="xsd:string">		<xsd:annotation>			<xsd:documentation>The program to be called</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="ToolTip" type="xsd:string">		<xsd:annotation>			<xsd:documentation>The tooltip to be associated with the the action description</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="UserActionType">		<xsd:annotation>			<xsd:documentation>The action to be perform if there is a user action. 0 - No Action               
1 - Call SYSPRO Program     
2 - Call VBScript           
3 - Call .NET Assembly      
4 - Call Executable         
5 - Send Message to Workflow
</xsd:documentation>		</xsd:annotation>		<xsd:simpleType>			<xsd:restriction base="xsd:string">				<xsd:enumeration value="0"/>				<xsd:enumeration value="1"/>				<xsd:enumeration value="2"/>				<xsd:enumeration value="3"/>				<xsd:enumeration value="4"/>				<xsd:enumeration value="5"/>			</xsd:restriction>		</xsd:simpleType>	</xsd:element></xsd:schema>