Schemas/tpm_list_of_promotion_codes_out.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the TPM List of Promotion Codes Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TPMPromotionCodeQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SystemInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CssStyle" type="xsd:string"/>
              <xsd:element name="Language" type="xsd:string"/>
              <xsd:element name="DecFormat" type="xsd:string"/>
              <xsd:element name="DateFormat" type="xsd:string"/>
              <xsd:element name="Role" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="CompanyId" type="xsd:string"/>
              <xsd:element name="CompanyName" type="xsd:string"/>
              <xsd:element name="OperatorCode" type="xsd:string"/>
              <xsd:element name="OperatorName" type="xsd:string"/>
              <xsd:element name="OperatorGroup" type="xsd:string"/>
              <xsd:element name="OperatorEmailAddress" type="xsd:string"/>
              <xsd:element name="OperatorLocation" type="xsd:string"/>
              <xsd:element name="LocalCurrency" type="xsd:string"/>
              <xsd:element name="LocalCurrencyDesc" type="xsd:string"/>
              <xsd:element name="GlPrdPerYear" type="xsd:string"/>
              <xsd:element name="ReportDate" type="xsd:string"/>
              <xsd:element name="UseSeparatorOnReports" type="xsd:string"/>
              <xsd:element name="SeparatorToUse" type="xsd:string"/>
              <xsd:element name="NoOfDigits" type="xsd:double" minOccurs="0"/>
              <xsd:element name="DecCharToUse" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QueryOptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IncludeExpiredPromotions" type="xsd:string"/>
              <xsd:element name="GlobalPromotions" type="xsd:string"/>
              <xsd:element name="ReturnListinBlock" type="xsd:string"/>
              <xsd:element name="PromotionCodeFilterType" type="xsd:string"/>
              <xsd:element name="PromotionCodeFilterValue" type="xsd:string"/>
              <xsd:element name="PromotionTypeFilterType" type="xsd:string"/>
              <xsd:element name="PromotionTypeFilterValue" type="xsd:string"/>
              <xsd:element name="ExpiryDateFilterType" type="xsd:string"/>
              <xsd:element name="ExpiryDateFilterValue" type="xsd:string"/>
              <xsd:element name="StartDateFilterType" type="xsd:string"/>
              <xsd:element name="StartDateFilterValue" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Detail" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PromotionCode" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="ExpiryDate" type="xsd:string"/>
              <xsd:element name="StartDate" type="xsd:string"/>
              <xsd:element name="StockCatagory" type="xsd:string"/>
              <xsd:element name="StockCatCode" type="xsd:string"/>
              <xsd:element name="StockList" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerCatagory" type="xsd:string"/>
              <xsd:element name="CustCatCode" type="xsd:string"/>
              <xsd:element name="CustomerList" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AmountType" type="xsd:string"/>
              <xsd:element name="Basis" type="xsd:string"/>
              <xsd:element name="Threshold" type="xsd:double"/>
              <xsd:element name="PromotionValue" type="xsd:double"/>
              <xsd:element name="GrossNet" type="xsd:string"/>
              <xsd:element name="PromotionType" type="xsd:string"/>
              <xsd:element name="OffInvoiceType" type="xsd:string"/>
              <xsd:element name="AccrualLdg" type="xsd:string"/>
              <xsd:element name="ExpenseLdg" type="xsd:string"/>
              <xsd:element name="DeductionCode" type="xsd:string"/>
              <xsd:element name="ProductClass" type="xsd:string"/>
              <xsd:element name="DateType" type="xsd:string"/>
              <xsd:element name="AccrualType" type="xsd:string"/>
              <xsd:element name="ApplySub" type="xsd:string"/>
              <xsd:element name="FreeGoodType" type="xsd:string"/>
              <xsd:element name="StockCode" type="xsd:string"/>
              <xsd:element name="MaxThreshold" type="xsd:string"/>
              <xsd:element name="GlobalFlag" type="xsd:string"/>
              <xsd:element name="FreeGoodsApplyFlag" type="xsd:string"/>
              <xsd:element name="InvoicePrice" type="xsd:double"/>
              <xsd:element name="CustomerPrice" type="xsd:double"/>
              <xsd:element name="Currency" type="xsd:string"/>
              <xsd:element name="TieredPromFlag" type="xsd:string"/>
              <xsd:element name="MultipleOfFlag" type="xsd:string"/>
              <xsd:element name="FreeGoodRounding" type="xsd:string"/>
              <xsd:element name="TpmSequence" type="xsd:string"/>
              <xsd:element name="Thresholds" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ThresholdDetail" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Threshold" type="xsd:double"/>
                          <xsd:element name="QtyToship" type="xsd:double"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TranslatedText" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Text_Include" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Exclude" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_All" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Yes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_No" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Percentage" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Price" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Value" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Mass" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Volume" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Quantity" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Basis" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_all_customers" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_customer" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_geographic_area" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_customer_class" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_branch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_customer_list" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_buying_group" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text___par" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Delivery_date" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Order_date" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Accrual_type" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Off_invoice_allowance" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Accrual_GL_account" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Discount_method" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Expense_GL_account" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Invoice_price" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Deduction_code" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Customer_price" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Actual_price_change" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Detail_discount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Summary_discount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Order_stock_code" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Specific_stock_code" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_____Global____" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Gross" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Net" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Net_price" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Only" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Line_promotion" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Line_discount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Price_change" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Price_type" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Product_class" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Off_invoice" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Accrual" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Free_goods" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_all_stock_codes" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text__For_stock_code" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_stock_list" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_department" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_product_class" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_For_product_group" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_In_mutliples_of" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text__Round_up_" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text__Round_down_" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Threshold_Weight" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Threshold_Volume" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Text_Threshold_Quantity" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
