Schemas/TPMQPD.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the TPM Pricing Detail Query Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Query">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element name="Option" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>List of options.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="false">
						<xsd:sequence>
							<xsd:element name="IncludeStockCodeType" default="Y" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Include stock code price types ? (Y - Yes , N - No) Defaults to Y.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeProductClassType" default="Y" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Include product class price types ? (Y - Yes , N - No) Defaults to Y.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeProductGroupType" default="Y" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Include product group price types ? (Y - Yes , N - No) Defaults to Y.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeDepartmentType" default="Y" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Include department price types ? (Y - Yes , N - No) Defaults to Y.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeWeightBasis" default="Y" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Include weight basis prices ? (Y - Yes , N - No) Defaults to Y.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeVolumeBasis" default="Y" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Include volume basis prices ? (Y - Yes , N - No) Defaults to Y.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IncludeQuantityBasis" default="Y" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Include quantity basis prices ? (Y - Yes , N - No) Defaults to Y.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="0"/>
										<xsd:maxLength value="1"/>
										<xsd:whiteSpace value="preserve"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="XslStylesheet" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Filter" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This contains one or more filters to restrict the number of documents returned.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="false">
						<xsd:sequence>
							<xsd:element name="StockCode" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Stock code to be selected (FilterType of A - All, R - Range or S - Single stock code, FilterValue contains a range of stock codes separated by commas if FilterType is R or a single stock code if S).</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
									<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ProductClass" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Product class to be selected (FilterType of A - All, R - Range or S - Single product class, FilterValue contains a range of product classes separated by commas if FilterType is R or a single product class if S).</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
									<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ProductGroup" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Product group to be selected (FilterType of A - All, R - Range or S - Single product group, FilterValue contains a range of product groups separated by commas if FilterType is R or a single product group if S).</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
									<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Department" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Department to be selected (FilterType of A - All, R - Range or S - Single department, FilterValue contains a range of departments separated by commas if FilterType is R or a single department if S).</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="FilterType" type="xsd:string" use="required"/>
									<xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
