Schemas/WIPQ60OUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Labor Analysis Xcelsius Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="EntryDateFilterType" type="xsd:string"/>
  <xsd:element name="EntryDateFilterValue">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="FirstMeasure" type="xsd:string"/>
  <xsd:element name="FirstNrTB" type="xsd:string"/>
  <xsd:element name="FirstReport" type="xsd:string"/>
  <xsd:element name="FirstSubMeasure" type="xsd:string"/>
  <xsd:element name="FirstSubNrTB" type="xsd:string"/>
  <xsd:element name="FirstSubTB" type="xsd:string"/>
  <xsd:element name="FirstTopBottom" type="xsd:string"/>
  <xsd:element name="FourthMeasure" type="xsd:string"/>
  <xsd:element name="FourthNrTB" type="xsd:string"/>
  <xsd:element name="FourthReport" type="xsd:string"/>
  <xsd:element name="FourthSubMeasure" type="xsd:string"/>
  <xsd:element name="FourthSubNrTB" type="xsd:string"/>
  <xsd:element name="FourthSubTB" type="xsd:string"/>
  <xsd:element name="FourthTopBottom" type="xsd:string"/>
  <xsd:element name="Group">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="DRILL"/>
        <xsd:enumeration value="MBFA"/>
        <xsd:enumeration value="MBWA"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="GroupDescription" type="xsd:string"/>
  <xsd:element name="GroupHeading" type="xsd:string"/>
  <xsd:element name="GroupTotalNonProductiveTime" type="xsd:decimal"/>
  <xsd:element name="GroupTotalNonProductiveValue" type="xsd:decimal"/>
  <xsd:element name="GroupTotalProductiveTime" type="xsd:string"/>
  <xsd:element name="GroupTotalProductiveValue" type="xsd:string"/>
  <xsd:element name="GroupTotalTotalTime" type="xsd:string"/>
  <xsd:element name="GroupTotalTotalValue" type="xsd:string"/>
  <xsd:element name="PrintCostDetails" type="xsd:string"/>
  <xsd:complexType name="QueryOptionsType">
    <xsd:sequence>
      <xsd:element ref="FirstReport"/>
      <xsd:element ref="FirstTopBottom"/>
      <xsd:element ref="FirstNrTB"/>
      <xsd:element ref="FirstMeasure"/>
      <xsd:element ref="FirstSubTB"/>
      <xsd:element ref="FirstSubNrTB"/>
      <xsd:element ref="FirstSubMeasure"/>
      <xsd:element ref="SecondReport"/>
      <xsd:element ref="SecondTopBottom"/>
      <xsd:element ref="SecondNrTB"/>
      <xsd:element ref="SecondMeasure"/>
      <xsd:element ref="SecondSubTB"/>
      <xsd:element ref="SecondSubNrTB"/>
      <xsd:element ref="SecondSubMeasure"/>
      <xsd:element ref="ThirdReport"/>
      <xsd:element ref="ThirdTopBottom"/>
      <xsd:element ref="ThirdNrTB"/>
      <xsd:element ref="ThirdMeasure"/>
      <xsd:element ref="ThirdSubTB"/>
      <xsd:element ref="ThirdSubNrTB"/>
      <xsd:element ref="ThirdSubMeasure"/>
      <xsd:element ref="FourthReport"/>
      <xsd:element ref="FourthTopBottom"/>
      <xsd:element ref="FourthNrTB"/>
      <xsd:element ref="FourthMeasure"/>
      <xsd:element ref="FourthSubTB"/>
      <xsd:element ref="FourthSubNrTB"/>
      <xsd:element ref="FourthSubMeasure"/>
      <xsd:element ref="ReportType"/>
      <xsd:element ref="PrintCostDetails"/>
      <xsd:element ref="EntryDateFilterType"/>
      <xsd:element ref="EntryDateFilterValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Report" type="xsd:string"/>
  <xsd:complexType name="ReportHeaderType">
    <xsd:sequence>
      <xsd:element ref="Report"/>
      <xsd:element ref="Sequence"/>
      <xsd:element ref="GroupHeading"/>
      <xsd:element ref="SubGroupHeading"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReportItemType">
    <xsd:sequence>
      <xsd:element name="ReportHeader" type="ReportHeaderType"/>
      <xsd:element name="SubGroupItems" type="SubGroupItemsType" maxOccurs="unbounded"/>
      <xsd:element name="ReportTotal" type="ReportTotalType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReportItemsType">
    <xsd:sequence>
      <xsd:element name="ReportItem" type="ReportItemType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReportTotaNonProductiveTime" type="xsd:decimal"/>
  <xsd:element name="ReportTotaNonProductiveValue" type="xsd:decimal"/>
  <xsd:element name="ReportTotaProductiveTime" type="xsd:string"/>
  <xsd:element name="ReportTotaProductiveValue" type="xsd:string"/>
  <xsd:element name="ReportTotaTotalTime" type="xsd:string"/>
  <xsd:element name="ReportTotaTotalValue" type="xsd:string"/>
  <xsd:complexType name="ReportTotalType">
    <xsd:sequence>
      <xsd:element ref="ReportTotaProductiveTime"/>
      <xsd:element ref="ReportTotaProductiveValue"/>
      <xsd:element ref="ReportTotaNonProductiveTime"/>
      <xsd:element ref="ReportTotaNonProductiveValue"/>
      <xsd:element ref="ReportTotaTotalTime"/>
      <xsd:element ref="ReportTotaTotalValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReportType" type="xsd:string"/>
  <xsd:element name="SecondMeasure" type="xsd:string"/>
  <xsd:element name="SecondNrTB" type="xsd:string"/>
  <xsd:element name="SecondReport" type="xsd:string"/>
  <xsd:element name="SecondSubMeasure" type="xsd:string"/>
  <xsd:element name="SecondSubNrTB" type="xsd:string"/>
  <xsd:element name="SecondSubTB" type="xsd:string"/>
  <xsd:element name="SecondTopBottom" type="xsd:string"/>
  <xsd:element name="Sequence" type="xsd:string"/>
  <xsd:element name="SubGroup1" type="xsd:byte"/>
  <xsd:element name="SubGroup1NonProductiveTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup1NonProductiveValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup1ProductiveTime" type="xsd:string"/>
  <xsd:element name="SubGroup1ProductiveValue" type="xsd:string"/>
  <xsd:element name="SubGroup1SubGroupDescription" type="xsd:string"/>
  <xsd:element name="SubGroup1TotalTime" type="xsd:string"/>
  <xsd:element name="SubGroup1TotalValue" type="xsd:string"/>
  <xsd:element name="SubGroup2">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SubGroup2NonProductiveTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup2NonProductiveValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup2ProductiveTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup2ProductiveValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup2SubGroupDescription">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SubGroup2TotalTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup2TotalValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup3">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SubGroup3NonProductiveTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup3NonProductiveValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup3ProductiveTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup3ProductiveValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup3SubGroupDescription">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SubGroup3TotalTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup3TotalValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup4">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SubGroup4NonProductiveTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup4NonProductiveValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup4ProductiveTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup4ProductiveValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup4SubGroupDescription">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SubGroup4TotalTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup4TotalValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup5">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SubGroup5NonProductiveTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup5NonProductiveValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup5ProductiveTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup5ProductiveValue" type="xsd:decimal"/>
  <xsd:element name="SubGroup5SubGroupDescription">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SubGroup5TotalTime" type="xsd:decimal"/>
  <xsd:element name="SubGroup5TotalValue" type="xsd:decimal"/>
  <xsd:element name="SubGroupHeading" type="xsd:string"/>
  <xsd:complexType name="SubGroupItemsType">
    <xsd:sequence>
      <xsd:element ref="Group"/>
      <xsd:element ref="GroupDescription"/>
      <xsd:element ref="SubGroup1"/>
      <xsd:element ref="SubGroup1SubGroupDescription"/>
      <xsd:element ref="SubGroup1ProductiveTime"/>
      <xsd:element ref="SubGroup1ProductiveValue"/>
      <xsd:element ref="SubGroup1NonProductiveTime"/>
      <xsd:element ref="SubGroup1NonProductiveValue"/>
      <xsd:element ref="SubGroup1TotalTime"/>
      <xsd:element ref="SubGroup1TotalValue"/>
      <xsd:element ref="SubGroup2"/>
      <xsd:element ref="SubGroup2SubGroupDescription"/>
      <xsd:element ref="SubGroup2ProductiveTime"/>
      <xsd:element ref="SubGroup2ProductiveValue"/>
      <xsd:element ref="SubGroup2NonProductiveTime"/>
      <xsd:element ref="SubGroup2NonProductiveValue"/>
      <xsd:element ref="SubGroup2TotalTime"/>
      <xsd:element ref="SubGroup2TotalValue"/>
      <xsd:element ref="SubGroup3"/>
      <xsd:element ref="SubGroup3SubGroupDescription"/>
      <xsd:element ref="SubGroup3ProductiveTime"/>
      <xsd:element ref="SubGroup3ProductiveValue"/>
      <xsd:element ref="SubGroup3NonProductiveTime"/>
      <xsd:element ref="SubGroup3NonProductiveValue"/>
      <xsd:element ref="SubGroup3TotalTime"/>
      <xsd:element ref="SubGroup3TotalValue"/>
      <xsd:element ref="SubGroup4"/>
      <xsd:element ref="SubGroup4SubGroupDescription"/>
      <xsd:element ref="SubGroup4ProductiveTime"/>
      <xsd:element ref="SubGroup4ProductiveValue"/>
      <xsd:element ref="SubGroup4NonProductiveTime"/>
      <xsd:element ref="SubGroup4NonProductiveValue"/>
      <xsd:element ref="SubGroup4TotalTime"/>
      <xsd:element ref="SubGroup4TotalValue"/>
      <xsd:element ref="SubGroup5"/>
      <xsd:element ref="SubGroup5SubGroupDescription"/>
      <xsd:element ref="SubGroup5ProductiveTime"/>
      <xsd:element ref="SubGroup5ProductiveValue"/>
      <xsd:element ref="SubGroup5NonProductiveTime"/>
      <xsd:element ref="SubGroup5NonProductiveValue"/>
      <xsd:element ref="SubGroup5TotalTime"/>
      <xsd:element ref="SubGroup5TotalValue"/>
      <xsd:element ref="GroupTotalProductiveTime"/>
      <xsd:element ref="GroupTotalProductiveValue"/>
      <xsd:element ref="GroupTotalNonProductiveTime"/>
      <xsd:element ref="GroupTotalNonProductiveValue"/>
      <xsd:element ref="GroupTotalTotalTime"/>
      <xsd:element ref="GroupTotalTotalValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ThirdMeasure" type="xsd:string"/>
  <xsd:element name="ThirdNrTB" type="xsd:string"/>
  <xsd:element name="ThirdReport" type="xsd:string"/>
  <xsd:element name="ThirdSubMeasure" type="xsd:string"/>
  <xsd:element name="ThirdSubNrTB" type="xsd:string"/>
  <xsd:element name="ThirdSubTB" type="xsd:string"/>
  <xsd:element name="ThirdTopBottom" type="xsd:string"/>
  <xsd:element name="WIPLaborAnalysisReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QueryOptions" type="QueryOptionsType"/>
        <xsd:element name="ReportItems" type="ReportItemsType"/>
      </xsd:sequence>
      <xsd:attribute name="Language" type="xsd:byte" use="required"/>
      <xsd:attribute name="Language2" type="xsd:string" use="required"/>
      <xsd:attribute name="CssStyle" type="xsd:string" use="required"/>
      <xsd:attribute name="DecFormat" type="xsd:boolean" use="required"/>
      <xsd:attribute name="DateFormat" type="xsd:byte" use="required"/>
      <xsd:attribute name="Role" type="xsd:byte" use="required"/>
      <xsd:attribute name="Version" type="xsd:string" use="required"/>
      <xsd:attribute name="OperatorPrimaryRole" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
