Schemas/WIPQ60.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2011 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Labor Analysis Xcelsius Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EntryDateType">
    <xsd:attribute name="FilterType" type="xsd:string" use="required"/>
    <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="FilterType">
    <xsd:sequence>
      <xsd:element name="EntryDate" type="EntryDateType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FirstMeasure" type="xsd:string"/>
  <xsd:element name="FirstNrTB" type="xsd:byte"/>
  <xsd:element name="FirstReport" type="xsd:string"/>
  <xsd:element name="FirstSubMeasure" type="xsd:string"/>
  <xsd:element name="FirstSubNrTB" type="xsd:byte"/>
  <xsd:element name="FirstSubTB" type="xsd:string"/>
  <xsd:element name="FirstTopBottom" type="xsd:string"/>
  <xsd:element name="FourthMeasure" type="xsd:string"/>
  <xsd:element name="FourthNrTB" type="xsd:byte"/>
  <xsd:element name="FourthReport" type="xsd:string"/>
  <xsd:element name="FourthSubMeasure" type="xsd:string"/>
  <xsd:element name="FourthSubNrTB" type="xsd:byte"/>
  <xsd:element name="FourthSubTB" type="xsd:string"/>
  <xsd:element name="FourthTopBottom" type="xsd:string"/>
  <xsd:complexType name="OptionType">
    <xsd:sequence>
      <xsd:element ref="FirstReport"/>
      <xsd:element ref="FirstTopBottom"/>
      <xsd:element ref="FirstNrTB"/>
      <xsd:element ref="FirstMeasure"/>
      <xsd:element ref="FirstSubTB"/>
      <xsd:element ref="FirstSubNrTB"/>
      <xsd:element ref="FirstSubMeasure"/>
      <xsd:element ref="SecondReport"/>
      <xsd:element ref="SecondTopBottom"/>
      <xsd:element ref="SecondNrTB"/>
      <xsd:element ref="SecondMeasure"/>
      <xsd:element ref="SecondSubTB"/>
      <xsd:element ref="SecondSubNrTB"/>
      <xsd:element ref="SecondSubMeasure"/>
      <xsd:element ref="ThirdReport"/>
      <xsd:element ref="ThirdTopBottom"/>
      <xsd:element ref="ThirdNrTB"/>
      <xsd:element ref="ThirdMeasure"/>
      <xsd:element ref="ThirdSubTB"/>
      <xsd:element ref="ThirdSubNrTB"/>
      <xsd:element ref="ThirdSubMeasure"/>
      <xsd:element ref="FourthReport"/>
      <xsd:element ref="FourthTopBottom"/>
      <xsd:element ref="FourthNrTB"/>
      <xsd:element ref="FourthMeasure"/>
      <xsd:element ref="FourthSubTB"/>
      <xsd:element ref="FourthSubNrTB"/>
      <xsd:element ref="FourthSubMeasure"/>
      <xsd:element ref="ReportType"/>
      <xsd:element ref="PrintCostDetails"/>
      <xsd:element ref="XslStylesheet"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PrintCostDetails" type="xsd:string"/>
  <xsd:element name="Query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Option" type="OptionType"/>
        <xsd:element name="Filter" type="FilterType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReportType" type="xsd:string"/>
  <xsd:element name="SecondMeasure" type="xsd:string"/>
  <xsd:element name="SecondNrTB" type="xsd:byte"/>
  <xsd:element name="SecondReport" type="xsd:string"/>
  <xsd:element name="SecondSubMeasure" type="xsd:string"/>
  <xsd:element name="SecondSubNrTB" type="xsd:byte"/>
  <xsd:element name="SecondSubTB" type="xsd:string"/>
  <xsd:element name="SecondTopBottom" type="xsd:string"/>
  <xsd:element name="ThirdMeasure" type="xsd:string"/>
  <xsd:element name="ThirdNrTB" type="xsd:byte"/>
  <xsd:element name="ThirdReport" type="xsd:string"/>
  <xsd:element name="ThirdSubMeasure" type="xsd:string"/>
  <xsd:element name="ThirdSubNrTB" type="xsd:byte"/>
  <xsd:element name="ThirdSubTB" type="xsd:string"/>
  <xsd:element name="ThirdTopBottom" type="xsd:string"/>
  <xsd:element name="XslStylesheet">
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
