Schemas/WIPQEE.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     This is an example XML instance to demonstrate
     use of the WIP Employee Labor Analysis Xcelsius REPORT Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wmh="http://www.wmhelp.com/2003/eGenerator">
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>The root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Option"/>
        <xsd:element ref="Filter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:annotation>
      <xsd:documentation>The list of options</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="TopBottom"/>
        <xsd:element ref="NumberTB"/>
        <xsd:element ref="Measure"/>
        <xsd:element ref="SubTB"/>
        <xsd:element ref="SubNumberTB"/>
        <xsd:element ref="SubMeasure"/>
        <xsd:element ref="ReportType"/>
        <xsd:element ref="PrintCostDetails"/>
        <xsd:element ref="IncludeWorkCentre"/>
        <xsd:element ref="IncludeJob"/>
        <xsd:element ref="IncludeMachine"/>
        <xsd:element ref="IncludeOperation"/>
        <xsd:element ref="XslStylesheet"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TopBottom">
    <xsd:annotation>
      <xsd:documentation>This indicates whether the Top or Bottom Items are required on the report. T-Top, B-Bottom. Default -T.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="T"/>
        <xsd:enumeration value="B"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NumberTB">
    <xsd:annotation>
      <xsd:documentation>This indicates the number of items to include on the report. Default -3.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="2"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Measure">
    <xsd:annotation>
      <xsd:documentation>This indicates which measure the report will be sequenced in. PT-ProductiveTime, PV-ProductiveValue, NT-NonProductiveTime, NV-NonProductiveValue, TT-TotalTime, TV-TotalValue. Default -PT.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="PT"/>
        <xsd:enumeration value="PV"/>
        <xsd:enumeration value="NT"/>
        <xsd:enumeration value="NV"/>
        <xsd:enumeration value="TT"/>
        <xsd:enumeration value="TV"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubTB">
    <xsd:annotation>
      <xsd:documentation>This indicates whether the Top or Bottom Sub-Items are required on the sub report. T-Top, B-Bottom. Default -T.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="T"/>
        <xsd:enumeration value="B"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubNumberTB">
    <xsd:annotation>
      <xsd:documentation>This indicates the number of sub-items to include on the sub report. Default -3.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="2"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubMeasure">
    <xsd:annotation>
      <xsd:documentation>This indicates which measure the sub report will be sequenced in. PT-ProductiveTime, PV-ProductiveValue, NT-NonProductiveTime, NV-NonProductiveValue, TT-TotalTime, TV-TotalValue. Default -PT.</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="PT"/>
        <xsd:enumeration value="PV"/>
        <xsd:enumeration value="NT"/>
        <xsd:enumeration value="NV"/>
        <xsd:enumeration value="TT"/>
        <xsd:enumeration value="TV"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ReportType">
    <xsd:annotation>
      <xsd:documentation>Repor type. D=Detail S=Summary</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;D=Detail;S=Summary"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="D"/>
        <xsd:enumeration value="S"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PrintCostDetails">
    <xsd:annotation>
      <xsd:documentation>Option to print cost details. Y=Yes,N=No</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeWorkCentre">
    <xsd:annotation>
      <xsd:documentation>Option to include work centre details. Y=Yes,N=No</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeJob">
    <xsd:annotation>
      <xsd:documentation>Option to include job details. Y=Yes,N=No</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeMachine">
    <xsd:annotation>
      <xsd:documentation>Option to include machine details. Y=Yes,N=No</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeOperation">
    <xsd:annotation>
      <xsd:documentation>Option to include operation details. Y=Yes,N=No</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;Y=Yes;N=No"/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="Filter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="EntryDate"/>
        <xsd:element ref="TransactionYear"/>
        <xsd:element ref="TransactionMonth"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EntryDate">
    <xsd:annotation>
      <xsd:documentation>Date selection. A=All;S=Single;R=Range</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse={date};A=All;S=Sngle;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TransactionYear">
    <xsd:annotation>
      <xsd:documentation>Transaction Year selection. A=All;S=Single;R=Range</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse={date};A=All;S=Sngle;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TransactionMonth">
    <xsd:annotation>
      <xsd:documentation>Transaction Month selection. A=All;S=Single;R=Range</xsd:documentation>
      <xsd:appinfo source="screenItem=Y;browse={date};A=All;S=Sngle;R=Range"/>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="FilterType" use="optional" default="A">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="R"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FilterValue" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
