Schemas/WIPTJLDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Labor Allocations Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CalculateDates">
    <xsd:annotation>
      <xsd:documentation>This flag is to indicate whether to calculate the start and end date. It is only used on a change and if the job calculation date is manual. (Y- Yes, N - No) The default is N.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ElapsedTime">
    <xsd:annotation>
      <xsd:documentation>This field indicates the elapsed time for the operation if the elapsed time is fixed. The format is 3 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FixedElapsedTime" default="N">
    <xsd:annotation>
      <xsd:documentation>This field indicates whether the elapsed time of the operation must be dynamically calculated, or manually entered as a fixed number of days. (Y - Fixed, N - Calculated).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Head">
    <xsd:annotation>
      <xsd:documentation>Head is part of a unique key to identify a hierarchy. Mandatory when the job is a hierarchical job. The format is 3 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="HierarchyJob">
    <xsd:annotation>
      <xsd:documentation>This element contains part of the unique key for the hierarchy. The job number will be used to complete the key.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Head" minOccurs="0"/>
        <xsd:element ref="Section1" minOccurs="0"/>
        <xsd:element ref="Section2" minOccurs="0"/>
        <xsd:element ref="Section3" minOccurs="0"/>
        <xsd:element ref="Section4" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ICapacityReqd">
    <xsd:annotation>
      <xsd:documentation>This field indicates the capacity required for the operation (if the flag to override the calculated capacity is set to "Y"). The format is 7.3 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="11"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IQuantity">
    <xsd:annotation>
      <xsd:documentation>This field indicates the quantity that can be produced in the ITimeTaken time. This field is only valid when adding an operation where the work center's run time method is set as Block or Rate. The format is 7.3 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="11"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ITimeTaken">
    <xsd:annotation>
      <xsd:documentation>This field indicates the time taken to produce the quantity specified in IQuantity. This field is only valid when adding an operation where the work center's run time method is set as Block or Rate. The format is 5.4 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IExpSetUpTime">
    <xsd:annotation>
      <xsd:documentation>This field indicates the time taken to ready a specific machine, process or work center for use. No usable items are produced during the setup period. It forms part of the operation elapsed time. The format is 5.4 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IExpShutdownTim">
    <xsd:annotation>
      <xsd:documentation>This field indicates the time taken to close down the specific machine, line or work center used in the operation after production is complete. It forms part of the elapsed time. Typically, no usable items are produced during the teardown period. The format is 5.4 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IExpStartupTime">
    <xsd:annotation>
      <xsd:documentation>This field indicates the time taken to gradually bring the specific machine, line or work center up to full production speed while producing usable product. It forms part of the operation elapsed time. The format is 5.4 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IExpUnitRunTim">
    <xsd:annotation>
      <xsd:documentation>This field indicates the time taken to produce one unit during full speed production. It forms part of elapsed time. The format is 5.4 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IMachine">
    <xsd:annotation>
      <xsd:documentation>This field is used for documentary purposes and to indicate the default machine for the operation during labor postings. The format is 6 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="6"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IMaxProdUnits">
    <xsd:annotation>
      <xsd:documentation>This field indicates the maximum number of productive units available in the work center that can be used on the operation. This value is used in the calculation of capacity required and elapsed time. The format is 3.2 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="6"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IMaxWorkOpertrs">
    <xsd:annotation>
      <xsd:documentation>This field indicates the maximum number of operators permitted to process the operation. This may not exceed the number of operators assigned to the work center. The format is 3.2 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:maxLength value="6"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IStartupQty">
    <xsd:annotation>
      <xsd:documentation>This field indicates the quantity of product manufactured during the start up period and is deducted from the actual quantity to be manufactured when the run time is calculated. The format is 7.3 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="11"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IWaitTime">
    <xsd:annotation>
      <xsd:documentation>This field indicates the amount of time between the end of the current operation and the availability of the product to be moved to the next work center. This forms part of elapsed time. Wait time is not included in the calculation of capacity required or in the costing calculations.
The format is 5.4 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IWcRateInd">
    <xsd:annotation>
      <xsd:documentation>This field indicates the work center rate applicable to this operation.
The format is 1 character positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
        <xsd:minLength value="0"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="InspectionFlag" default="N">
    <xsd:annotation>
      <xsd:documentation>This flag indicates the level of inspection for the operation. (N - No inspection, S - Sample inspection required, F - Full inspection required.) On an add, the default is N.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This element contains information to maintain an allocation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Job"/>
        <xsd:element ref="Operation"/>
        <xsd:element ref="WorkCentre" minOccurs="0"/>
        <xsd:element name="UnitOfMeasure" default="S">
          <xsd:annotation>
            <xsd:documentation>Select 'S' for stocking u/m, 'A' for alternate u/m, 'O' for other u/m or 'M' for manufacturing u/m. Quantities and times entered will be according to the unit of measure selected.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="1"/>
              <xsd:maxLength value="1"/>
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="S"/>
              <xsd:enumeration value="A"/>
              <xsd:enumeration value="O"/>
              <xsd:enumeration value="M"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="PlannedQueueDate" minOccurs="0"/>
        <xsd:element ref="PlannedStartDate" minOccurs="0"/>
        <xsd:element ref="PlannedEndDate" minOccurs="0"/>
        <xsd:element ref="Narration" minOccurs="0"/>
        <xsd:element ref="WorkCentreDesc" minOccurs="0"/>
        <xsd:element ref="FixedElapsedTime" minOccurs="0"/>
        <xsd:element ref="ElapsedTime" minOccurs="0"/>
        <xsd:element ref="MovementTime" minOccurs="0"/>
        <xsd:element ref="UnitNumOfPieces" minOccurs="0"/>
        <xsd:element ref="InspectionFlag" minOccurs="0"/>
        <xsd:element ref="Milestone" minOccurs="0"/>
        <xsd:element ref="MinorSetupCode" minOccurs="0"/>
        <xsd:element ref="MinorSetup" minOccurs="0"/>
        <xsd:element ref="ToolSet" minOccurs="0"/>
        <xsd:element ref="ToolSetQty" minOccurs="0"/>
        <xsd:element ref="ToolConsumption" minOccurs="0"/>
        <xsd:element ref="QueueTime" minOccurs="0"/>
        <xsd:element ref="HierarchyJob" minOccurs="0"/>
        <xsd:element ref="PreviousOpMovement" minOccurs="0"/>
        <xsd:element ref="NextOpQueue" minOccurs="0"/>
        <xsd:element ref="CalculateDates" minOccurs="0"/>
        <xsd:element ref="IMachine" minOccurs="0"/>
        <xsd:element ref="IQuantity" minOccurs="0"/>
        <xsd:element ref="ITimeTaken" minOccurs="0"/>
        <xsd:element ref="IExpUnitRunTim" minOccurs="0"/>
        <xsd:element ref="IExpSetUpTime" minOccurs="0"/>
        <xsd:element ref="IExpStartupTime" minOccurs="0"/>
        <xsd:element ref="IExpShutdownTim" minOccurs="0"/>
        <xsd:element ref="IWaitTime" minOccurs="0"/>
        <xsd:element ref="IWcRateInd" minOccurs="0"/>
        <xsd:element ref="IStartupQty" minOccurs="0"/>
        <xsd:element ref="OverrideCalcCap" minOccurs="0"/>
        <xsd:element ref="ICapacityReqd" minOccurs="0"/>
        <xsd:element ref="IMaxWorkOpertrs" minOccurs="0"/>
        <xsd:element ref="IMaxProdUnits" minOccurs="0"/>
        <xsd:element ref="SubSupplier" minOccurs="0"/>
        <xsd:element ref="SupPoStkCode" minOccurs="0"/>
        <xsd:element ref="SubQtyPer" minOccurs="0"/>
        <xsd:element ref="SubOrderUom" minOccurs="0"/>
        <xsd:element ref="SubUnitValue" minOccurs="0"/>
        <xsd:element ref="SubPlanner" minOccurs="0"/>
        <xsd:element ref="SubBuyer" minOccurs="0"/>
        <xsd:element ref="SubLeadTime" minOccurs="0"/>
        <xsd:element ref="SubDockToStock" minOccurs="0"/>
        <xsd:element ref="SubOffsiteDays" minOccurs="0"/>
        <xsd:element name="OperYieldPct" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This field indicates the percentage progressive scrap. The format is 2.2 characters positive numeric. </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="5"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="OperYieldQty" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This field indicates the quantity progressive scrap. The format is 4.3 characters positive numeric. </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="8"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="eSignature" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Job">
    <xsd:annotation>
      <xsd:documentation>This field specifies the job for which the allocations are being maintained. The format
is 8 characters alphanumeric or 8 characters numeric depending on the configuration option within Syspro.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="8"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Milestone" default="Y">
    <xsd:annotation>
      <xsd:documentation>This flag indicates whether the operation is a milestone operation or not. This enables you to post labor to key operations and update all prior operations with labor postings. (Y - Yes, N - No). On an add, the default is Y.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MinorSetup">
    <xsd:annotation>
      <xsd:documentation>This field is for documentary purposes and is printed on the dispatch List in the Work in Progress and Requirements Planning modules. The entry made here cannot exceed the set-up time for the operation. The format is 5.4 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:whiteSpace value="preserve"/>
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MinorSetupCode">
    <xsd:annotation>
      <xsd:documentation>This field is for documentary purposes and is printed on the dispatch List in the Work in Progress and Requirements Planning modules. The format is 4 alphanumeric characters.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="4"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MovementTime">
    <xsd:annotation>
      <xsd:documentation>This field indicates the time required for the operation to move between work centers. The entry made here is only used if you have not defined a movement matrix for the work center. The format is 3 characters numeric positive or negative.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="4"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Narration">
    <xsd:annotation>
      <xsd:documentation>This field specifies the standard narration code for the operation. The format is a 4 character alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="4"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NextOpQueue">
    <xsd:annotation>
      <xsd:documentation>This field specifies the next operation queue time. It is only on an update that this field is used and if there is a next operation. The format is a 3 character positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Operation">
    <xsd:annotation>
      <xsd:documentation>This field is used to assign an operation to a job. If you enter an operation that already exists, you can select the Add function to insert this as a new operation. If you are doing a multiple item delete, you must delete from the highest operation down, as when you delete an operation, all operations after the deleted operation shift down e.g if you delete operation number 2, operation number 3 becomes operation number 2. The format is 4 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="4"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OverrideCalcCap">
    <xsd:annotation>
      <xsd:documentation>This field is to specify whether to override the calculated capacity or not. (Y-Yes, N- No).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PlannedEndDate">
    <xsd:annotation>
      <xsd:documentation>This field specifies the end date for the operation. It is only required if the job date calculation method is manual. If the date is left blank, it will default to the system date. The format is CCYY-MM-DD.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PlannedQueueDate">
    <xsd:annotation>
      <xsd:documentation>This field specifies the queue date for the operation. It is only required if the job date calculation method is manual. If the date is left blank, it will default to the system date. The format is CCYY-MM-DD.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PlannedStartDate">
    <xsd:annotation>
      <xsd:documentation>This field specifies the start date for the operation. It is only required if the job date calculation method is manual. If the date is left blank, it will default to the system date. The format is CCYY-MM-DD.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PostLabourAllocations">
    <xsd:annotation>
      <xsd:documentation>This is the Root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Item"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PreviousOpMovement">
    <xsd:annotation>
      <xsd:documentation>This field specifies the previous operation movement time. It is only on an update that this field is used and if there is a previous operation. The format is a 3 character signed numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="QueueTime">
    <xsd:annotation>
      <xsd:documentation>This field specifies the queue time for the operation. When adding the queue time is taken from the work center file. The format is 3 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Section1">
    <xsd:annotation>
      <xsd:documentation>Section1 is part of a unique key to identify a hierarchy. Used when the job is a hierarchical job. The format is 3 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Section2">
    <xsd:annotation>
      <xsd:documentation>Section2 is part of a unique key to identify a hierarchy. Used when the job is a hierarchical job. The format is 3 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Section3">
    <xsd:annotation>
      <xsd:documentation>Section3 is part of a unique key to identify a hierarchy. Used when the job is a hierarchical job. The format is 3 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Section4">
    <xsd:annotation>
      <xsd:documentation>Section4 is part of a unique key to identify a hierarchy. Used when the job is a hierarchical job. The format is 3 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubBuyer">
    <xsd:annotation>
      <xsd:documentation>This field is used to indicate the buyer for this operation. On an add, if no parameter is provided, the default against the work center file will be used. The format is 3 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubDockToStock">
    <xsd:annotation>
      <xsd:documentation>This field indicates the number of days required for the inspection of the item. This is added to the offsite time to establish the elapsed time of the operation. The due date of the purchase order is set as the due date of the operation less the dock to stock time. The format is 3 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubLeadTime">
    <xsd:annotation>
      <xsd:documentation>This field is used to establish the date on which a purchase order should be raised to reserve capacity at the subcontractor. The format is 3 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubOffsiteDays">
    <xsd:annotation>
      <xsd:documentation>This field indicates the number of days that the component is off site. This is added to any dock to stock days to determine the elapsed time. The format is 3 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
        <xsd:minLength value="0"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubOrderUom">
    <xsd:annotation>
      <xsd:documentation>This field is used for documentary purposes only. The format is 3 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubPlanner">
    <xsd:annotation>
      <xsd:documentation>This field indicates the planner for this operation. On an add, if the parameter is not provided, the default against the work center file will be used. The format is 3 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubQtyPer">
    <xsd:annotation>
      <xsd:documentation>This field is used for documentary purposes only and enables you to indicate the quantity of the purchased service required to make a single parent stock code. The format is 6.6 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="13"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubSupplier">
    <xsd:annotation>
      <xsd:documentation>This field indicates the preferred supplier of the service.  The format is up to 7 characters alphanumeric, or 7 characters numeric depending on a configuration option within Syspro.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="7"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubUnitValue">
    <xsd:annotation>
      <xsd:documentation>This field indicates the subcontract value of the operation. The format is 10.5 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SupPoStkCode">
    <xsd:annotation>
      <xsd:documentation>This field indicates the notation that will be entered under the stock code when a purchase order is generated. The format is up to 30 characters alphanumeric, or 15 characters numeric depending on a configuration option within Syspro.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="30"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ToolConsumption">
    <xsd:annotation>
      <xsd:documentation>This field indicates the tool set consumption for the operation. This can be printed on your factory documentation. The format is 8 characters  positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="8"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ToolSet">
    <xsd:annotation>
      <xsd:documentation>This field indicates the tool set number for the operation. This can be printed on your factory documentation. The format is 15 characters alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ToolSetQty">
    <xsd:annotation>
      <xsd:documentation>This field indicates the tool set quantity for the operation. The entry made here cannot exceed the quantity assigned to the tool set. This can be printed on your factory documentation. The format is 7.3 characters positive numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="11"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UnitNumOfPieces">
    <xsd:annotation>
      <xsd:documentation>This field indicates the number of pieces involved in the operation. This enables you to mark quantities in a measure that is meaningful to you.
The format is 5 characters numeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="5"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="WorkCentre">
    <xsd:annotation>
      <xsd:documentation>This field indicates the work center  in which the operation must be performed. The format is a 6 character alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="6"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="WorkCentreDesc">
    <xsd:annotation>
      <xsd:documentation>This field describes the work center. When adding an operation, if the parameter is not provided, the description will be taken from the work center file. The format is a 30 character alphanumeric.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="30"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ScrapPercentage">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="5"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ScrapQuantity">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="8"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="eSignature">
    <xsd:annotation>
      <xsd:documentation>If required, this element must contain a GUID, for the eSignature system to accept the transaction as having been authenticated. The GUID format is in the format {36303032-3330-3031-3038-323434363433}, where the numbers can be replaced with any character. It is up to the developer to have requested a password to protect the transaction. An example is that a GUID associated with the act of entering a valid password could be obtained and presented.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="38"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
