Schemas/WIPTGMOUT.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2009 SYSPRO Ltd.-->
<!--
     Schema for WIP Part Billing GL Integration business object
-->
<XSD:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" id="NewDataSet" xmlns:XSD="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <XSD:element name="postwippartbilling">
    <XSD:complexType>
      <XSD:sequence>
        <XSD:element name="Item" minOccurs="0" maxOccurs="unbounded">
          <XSD:complexType>
            <XSD:sequence>
              <XSD:element name="Transaction" minOccurs="0" maxOccurs="unbounded">
                <XSD:complexType>
                  <XSD:sequence>
                    <XSD:element name="Key" minOccurs="0" maxOccurs="unbounded">
                      <XSD:complexType>
                        <XSD:sequence>
                          <XSD:element name="GlYear" type="XSD:string" minOccurs="0"/>
                          <XSD:element name="GlPeriod" type="XSD:string" minOccurs="0"/>
                          <XSD:element name="GlJournal" type="XSD:string" minOccurs="0"/>
                        </XSD:sequence>
                      </XSD:complexType>
                    </XSD:element>
                  </XSD:sequence>
                </XSD:complexType>
              </XSD:element>
            </XSD:sequence>
          </XSD:complexType>
        </XSD:element>
        <XSD:element name="StatusOfItems" minOccurs="0" maxOccurs="unbounded">
          <XSD:complexType>
            <XSD:sequence>
              <XSD:element name="RegistersProcessed" type="XSD:string" minOccurs="0"/>
            </XSD:sequence>
          </XSD:complexType>
        </XSD:element>
      </XSD:sequence>
      <XSD:attribute name="Language" type="XSD:string"/>
      <XSD:attribute name="Language2" type="XSD:string"/>
      <XSD:attribute name="CssStyle" type="XSD:string"/>
      <XSD:attribute name="DecFormat" type="XSD:string"/>
      <XSD:attribute name="DateFormat" type="XSD:string"/>
      <XSD:attribute name="Role" type="XSD:string"/>
      <XSD:attribute name="Version" type="XSD:string"/>
      <XSD:attribute name="OperatorPrimaryRole" type="XSD:string"/>
    </XSD:complexType>
  </XSD:element>
</XSD:schema>
